/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.JEEMAINS_10APRIL_2023_S1_S_1 {max-width:260px; max-height:337px; }
.JEEMAINS_10APRIL_2023_S1_S_1::after {content: '\00a0';display: inline-block; width:260px; height:337px; background-position: 0.4166666666666667% 50%;background-size: 192.30769230769232% 100.59347181008901%;background-image: url(mh_xii_vectoralgebra3.png);padding: 0; }
div.JEEMAINS_10APRIL_2023_S1_S_1::after {max-width:260px; width:100%;height:0;padding: 0 0 129.6153846153846% 0;}
.JEEMAINS_15APRIL_2023_S1_S_8 {max-width:237px; max-height:220px; }
.JEEMAINS_15APRIL_2023_S1_S_8::after {content: '\00a0';display: inline-block; width:237px; height:220px; background-position: 99.61977186311788% 0.8403361344537815%;background-size: 210.9704641350211% 154.0909090909091%;background-image: url(mh_xii_vectoralgebra3.png);padding: 0; }
div.JEEMAINS_15APRIL_2023_S1_S_8::after {max-width:237px; width:100%;height:0;padding: 0 0 92.82700421940929% 0;}

/* $TexturePacker:SmartUpdate:68f0d8b855eaa18a508c4a974296dfda:2fb5ae8da08ba9632d69a4e0ac7c8dac:abcff215c77cdaea2299761f515c406d$ */
