/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.JEEMAINS_1FEB_2023_S1_S_76 {max-width:212px; max-height:245px; }
.JEEMAINS_1FEB_2023_S1_S_76::after {content: '\00a0';display: inline-block; width:212px; height:245px; background-position: 99.49367088607595% 26.256499133448873%; background-size: 472.64150943396226% 571.0204081632653%; background-image: url(mh_xii_vectoralgebra2_0.png);padding: 0; }
div.JEEMAINS_1FEB_2023_S1_S_76::after {max-width:212px; width:100%;height:0;padding: 0 0 115.56603773584905% 0;}
.JEEMAINS_1FEB_2023_S2_S_90 {max-width:348px; max-height:121px; }
.JEEMAINS_1FEB_2023_S2_S_90::after {content: '\00a0';display: inline-block; width:348px; height:121px; background-position: 0.1529051987767584% 44.36619718309859%; background-size: 287.9310344827586% 1156.198347107438%; background-image: url(mh_xii_vectoralgebra2_0.png);padding: 0; }
div.JEEMAINS_1FEB_2023_S2_S_90::after {max-width:348px; width:100%;height:0;padding: 0 0 34.770114942528735% 0;}
.JEEMAINS_24JAN_2023_S2_S_75 {max-width:377px; max-height:192px; }
.JEEMAINS_24JAN_2023_S2_S_75::after {content: '\00a0';display: inline-block; width:377px; height:192px; background-position: 66.08% 0.08285004142502071%; background-size: 265.7824933687003% 728.6458333333334%; background-image: url(mh_xii_vectoralgebra2_0.png);padding: 0; }
div.JEEMAINS_24JAN_2023_S2_S_75::after {max-width:377px; width:100%;height:0;padding: 0 0 50.92838196286472% 0;}
.JEEMAINS_25JAN_S1_S_78 {max-width:222px; max-height:152px; }
.JEEMAINS_25JAN_S1_S_78::after {content: '\00a0';display: inline-block; width:222px; height:152px; background-position: 95.76923076923077% 97.43384121892542%; background-size: 451.35135135135135% 920.3947368421053%; background-image: url(mh_xii_vectoralgebra2_0.png);padding: 0; }
div.JEEMAINS_25JAN_S1_S_78::after {max-width:222px; width:100%;height:0;padding: 0 0 68.46846846846847% 0;}
.JEEMAINS_25JAN_S2_S_80 {max-width:335px; max-height:178px; }
.JEEMAINS_25JAN_S2_S_80::after {content: '\00a0';display: inline-block; width:335px; height:178px; background-position: 0.14992503748125938% 56.42915642915643%; background-size: 299.1044776119403% 785.9550561797753%; background-image: url(mh_xii_vectoralgebra2_0.png);padding: 0; }
div.JEEMAINS_25JAN_S2_S_80::after {max-width:335px; width:100%;height:0;padding: 0 0 53.134328358208954% 0;}
.JEEMAINS_29JAN_S1_S_81 {max-width:352px; max-height:52px; }
.JEEMAINS_29JAN_S1_S_81::after {content: '\00a0';display: inline-block; width:352px; height:52px; background-position: 0.15384615384615385% 22.197475872308836%; background-size: 284.65909090909093% 2690.3846153846152%; background-image: url(mh_xii_vectoralgebra2_0.png);padding: 0; }
div.JEEMAINS_29JAN_S1_S_81::after {max-width:352px; width:100%;height:0;padding: 0 0 14.772727272727273% 0;}
.JEEMAINS_30JAN_S1_S_62 {max-width:255px; max-height:180px; }
.JEEMAINS_30JAN_S1_S_62::after {content: '\00a0';display: inline-block; width:255px; height:180px; background-position: 89.1566265060241% 68.9909762100082%; background-size: 392.94117647058823% 777.2222222222222%; background-image: url(mh_xii_vectoralgebra2_0.png);padding: 0; }
div.JEEMAINS_30JAN_S1_S_62::after {max-width:255px; width:100%;height:0;padding: 0 0 70.58823529411765% 0;}
.JEEMAINS_30JAN_S1_S_83 {max-width:265px; max-height:197px; }
.JEEMAINS_30JAN_S1_S_83::after {content: '\00a0';display: inline-block; width:265px; height:197px; background-position: 34.19267299864315% 96.83860232945092%; background-size: 378.1132075471698% 710.1522842639594%; background-image: url(mh_xii_vectoralgebra2_0.png);padding: 0; }
div.JEEMAINS_30JAN_S1_S_83::after {max-width:265px; width:100%;height:0;padding: 0 0 74.33962264150944% 0;}
.JEEMAINS_31JAN_S1_S_83 {max-width:411px; max-height:297px; }
.JEEMAINS_31JAN_S1_S_83::after {content: '\00a0';display: inline-block; width:411px; height:297px; background-position: 0.1692047377326565% 0.09074410163339383%; background-size: 243.79562043795622% 471.043771043771%; background-image: url(mh_xii_vectoralgebra2_0.png);padding: 0; }
div.JEEMAINS_31JAN_S1_S_83::after {max-width:411px; width:100%;height:0;padding: 0 0 72.26277372262774% 0;}
.JEEMAINS_31JAN_S1_S_86 {max-width:372px; max-height:425px; }
.JEEMAINS_31JAN_S1_S_86::after {content: '\00a0';display: inline-block; width:372px; height:425px; background-position: 65.55555555555556% 19.917864476386036%; background-size: 269.35483870967744% 329.1764705882353%; background-image: url(mh_xii_vectoralgebra2_0.png);padding: 0; }
div.JEEMAINS_31JAN_S1_S_86::after {max-width:372px; width:100%;height:0;padding: 0 0 114.24731182795699% 0;}
.JEEM_16_Mar_S1_62sol {max-width:228px; max-height:197px; }
.JEEM_16_Mar_S1_62sol::after {content: '\00a0';display: inline-block; width:228px; height:197px; background-position: 66.9250645994832% 92.92845257903494%; background-size: 439.4736842105263% 710.1522842639594%; background-image: url(mh_xii_vectoralgebra2_0.png);padding: 0; }
div.JEEM_16_Mar_S1_62sol::after {max-width:228px; width:100%;height:0;padding: 0 0 86.40350877192982% 0;}
.JEEM_16_Mar_S1_62sola {max-width:227px; max-height:192px; }
.JEEM_16_Mar_S1_62sola::after {content: '\00a0';display: inline-block; width:227px; height:192px; background-position: 96.38709677419355% 84.67274233637117%; background-size: 441.40969162995594% 728.6458333333334%; background-image: url(mh_xii_vectoralgebra2_0.png);padding: 0; }
div.JEEM_16_Mar_S1_62sola::after {max-width:227px; width:100%;height:0;padding: 0 0 84.58149779735683% 0;}
.JEEM_18_Mar_S1_70sol {max-width:201px; max-height:163px; }
.JEEM_18_Mar_S1_70sol::after {content: '\00a0';display: inline-block; width:201px; height:163px; background-position: 98.75156054931335% 0.08090614886731391%; background-size: 498.5074626865672% 858.282208588957%; background-image: url(mh_xii_vectoralgebra2_0.png);padding: 0; }
div.JEEM_18_Mar_S1_70sol::after {max-width:201px; width:100%;height:0;padding: 0 0 81.09452736318408% 0;}
.JEE_Main_20_July_2021_Eve_80_s {max-width:163px; max-height:133px; }
.JEE_Main_20_July_2021_Eve_80_s::after {content: '\00a0';display: inline-block; width:163px; height:133px; background-position: 93.68295589988081% 43.36492890995261%; background-size: 614.7239263803681% 1051.8796992481202%; background-image: url(mh_xii_vectoralgebra2_0.png);padding: 0; }
div.JEE_Main_20_July_2021_Eve_80_s::after {max-width:163px; width:100%;height:0;padding: 0 0 81.59509202453988% 0;}
.JEE_Main_20_July_2021_Eve_84_s {max-width:309px; max-height:157px; }
.JEE_Main_20_July_2021_Eve_84_s::after {content: '\00a0';display: inline-block; width:309px; height:157px; background-position: 99.85569985569985% 54.99194847020934%; background-size: 324.2718446601942% 891.0828025477707%; background-image: url(mh_xii_vectoralgebra2_0.png);padding: 0; }
div.JEE_Main_20_July_2021_Eve_84_s::after {max-width:309px; width:100%;height:0;padding: 0 0 50.80906148867314% 0;}
.JEE_Main_26_Aug_2021_Shift_2_75_Q {max-width:306px; max-height:295px; }
.JEE_Main_26_Aug_2021_Shift_2_75_Q::after {content: '\00a0';display: inline-block; width:306px; height:295px; background-position: 0.14367816091954022% 78.6231884057971%; background-size: 327.45098039215685% 474.23728813559325%; background-image: url(mh_xii_vectoralgebra2_0.png);padding: 0; }
div.JEE_Main_26_Aug_2021_Shift_2_75_Q::after {max-width:306px; width:100%;height:0;padding: 0 0 96.40522875816994% 0;}
.JEE_Main_26_Aug_2021_Shift_2_75_Q_1_S {max-width:164px; max-height:137px; }
.JEE_Main_26_Aug_2021_Shift_2_75_Q_1_S::after {content: '\00a0';display: inline-block; width:164px; height:137px; background-position: 94.39140811455847% 13.074484944532488%; background-size: 610.9756097560976% 1021.1678832116788%; background-image: url(mh_xii_vectoralgebra2_0.png);padding: 0; }
div.JEE_Main_26_Aug_2021_Shift_2_75_Q_1_S::after {max-width:164px; width:100%;height:0;padding: 0 0 83.53658536585365% 0;}
.Vector_Algebra_10 {max-width:349px; max-height:214px; }
.Vector_Algebra_10::after {content: '\00a0';display: inline-block; width:349px; height:214px; background-position: 0.15313935681470137% 29.70464135021097%; background-size: 287.10601719197706% 653.7383177570093%; background-image: url(mh_xii_vectoralgebra2_0.png);padding: 0; }
div.Vector_Algebra_10::after {max-width:349px; width:100%;height:0;padding: 0 0 61.31805157593123% 0;}
.Vector_Algebra_2 {max-width:341px; max-height:72px; }
.Vector_Algebra_2::after {content: '\00a0';display: inline-block; width:341px; height:72px; background-position: 52.9500756429652% 46.72192916352675%; background-size: 293.841642228739% 1943.0555555555557%; background-image: url(mh_xii_vectoralgebra2_0.png);padding: 0; }
div.Vector_Algebra_2::after {max-width:341px; width:100%;height:0;padding: 0 0 21.114369501466275% 0;}
.Vector_Algebra_5 {max-width:328px; max-height:423px; }
.Vector_Algebra_5::after {content: '\00a0';display: inline-block; width:328px; height:423px; background-position: 50% 71.00409836065573%; background-size: 305.4878048780488% 330.73286052009456%; background-image: url(mh_xii_vectoralgebra2_0.png);padding: 0; }
div.Vector_Algebra_5::after {max-width:328px; width:100%;height:0;padding: 0 0 128.96341463414635% 0;}
.Vector_Algebra_56 {max-width:113px; max-height:61px; }
.Vector_Algebra_56::after {content: '\00a0';display: inline-block; width:113px; height:61px; background-position: 58.267716535433074% 98.28101644245142%; background-size: 886.7256637168142% 2293.44262295082%; background-image: url(mh_xii_vectoralgebra2_0.png);padding: 0; }
div.Vector_Algebra_56::after {max-width:113px; width:100%;height:0;padding: 0 0 53.982300884955755% 0;}
.jee_mn_25_jul_2022_s1_15_sol {max-width:250px; max-height:234px; }
.jee_mn_25_jul_2022_s1_15_sol::after {content: '\00a0';display: inline-block; width:250px; height:234px; background-position: 0.13297872340425532% 99.91416309012875%; background-size: 400.8% 597.8632478632478%; background-image: url(mh_xii_vectoralgebra2_0.png);padding: 0; }
div.jee_mn_25_jul_2022_s1_15_sol::after {max-width:250px; width:100%;height:0;padding: 0 0 93.6% 0;}

@keyframes JEEMAINS_30JAN_S1_S-frames {
    0% { background-position: 89.1566265060241% 68.9909762100082%;  }
    50% { background-position: 34.19267299864315% 96.83860232945092%;  }
}

.JEEMAINS_30JAN_S1_S-animation {
    max-width: 255px;
    max-height: 180px;
}
.JEEMAINS_30JAN_S1_S-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 255px;
    height: 180px;
    padding: 0;
    background-image: url(mh_xii_vectoralgebra2_0.png);
    background-size: 392.94117647058823% 777.2222222222222%; 
    animation-name: JEEMAINS_30JAN_S1_S-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEEMAINS_30JAN_S1_S-animation::after {
    max-width: 255px;
    width: 100%;
    height: 0;
    padding: 0 0 70.58823529411765% 0;
}

@keyframes JEEMAINS_31JAN_S1_S-frames {
    0% { background-position: 0.1692047377326565% 0.09074410163339383%;  }
    50% { background-position: 65.55555555555556% 19.917864476386036%;  }
}

.JEEMAINS_31JAN_S1_S-animation {
    max-width: 411px;
    max-height: 297px;
}
.JEEMAINS_31JAN_S1_S-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 411px;
    height: 297px;
    padding: 0;
    background-image: url(mh_xii_vectoralgebra2_0.png);
    background-size: 243.79562043795622% 471.043771043771%; 
    animation-name: JEEMAINS_31JAN_S1_S-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEEMAINS_31JAN_S1_S-animation::after {
    max-width: 411px;
    width: 100%;
    height: 0;
    padding: 0 0 72.26277372262774% 0;
}

@keyframes Vector_Algebra-frames {
    0% { background-position: 52.9500756429652% 46.72192916352675%;  }
    25% { background-position: 50% 71.00409836065573%;  }
    50% { background-position: 0.15313935681470137% 29.70464135021097%;  }
    75% { background-position: 58.267716535433074% 98.28101644245142%;  }
}

.Vector_Algebra-animation {
    max-width: 341px;
    max-height: 72px;
}
.Vector_Algebra-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 341px;
    height: 72px;
    padding: 0;
    background-image: url(mh_xii_vectoralgebra2_0.png);
    background-size: 293.841642228739% 1943.0555555555557%; 
    animation-name: Vector_Algebra-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.Vector_Algebra-animation::after {
    max-width: 341px;
    width: 100%;
    height: 0;
    padding: 0 0 21.114369501466275% 0;
}

/* $TexturePacker:SmartUpdate:d5a91b1f4b80101d187567df87b918e2:41fe7f053891782323544630b2f92bb7:13881e2e22598384e571498c17099f39$ */
