/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.JEEMAINS_10APRIL_2023_S1_S_1 {max-width:260px; max-height:337px; }
.JEEMAINS_10APRIL_2023_S1_S_1::after {content: '\00a0';display: inline-block; width:260px; height:337px; background-position: 99.87966305655836% 99.40119760479043%; background-size: 419.61538461538464% 149.55489614243322%; background-image: url(mh_xii_vectoralgebra3_0.png);padding: 0; }
div.JEEMAINS_10APRIL_2023_S1_S_1::after {max-width:260px; width:100%;height:0;padding: 0 0 129.6153846153846% 0;}
.JEEMAINS_15APRIL_2023_S1_S_8 {max-width:237px; max-height:220px; }
.JEEMAINS_15APRIL_2023_S1_S_8::after {content: '\00a0';display: inline-block; width:237px; height:220px; background-position: 42.50585480093677% 0.352112676056338%; background-size: 460.337552742616% 229.0909090909091%; background-image: url(mh_xii_vectoralgebra3_0.png);padding: 0; }
div.JEEMAINS_15APRIL_2023_S1_S_8::after {max-width:237px; width:100%;height:0;padding: 0 0 92.82700421940929% 0;}
.JEE_1_Feb_2024_Shift_2_9_s {max-width:300px; max-height:186px; }
.JEE_1_Feb_2024_Shift_2_9_s::after {content: '\00a0';display: inline-block; width:300px; height:186px; background-position: 37.420986093552465% 81.76100628930817%; background-size: 363.6666666666667% 270.96774193548384%; background-image: url(mh_xii_vectoralgebra3_0.png);padding: 0; }
div.JEE_1_Feb_2024_Shift_2_9_s::after {max-width:300px; width:100%;height:0;padding: 0 0 62% 0;}
.JEE_29_Jan_2024_Shift_2_8_s {max-width:232px; max-height:185px; }
.JEE_29_Jan_2024_Shift_2_8_s::after {content: '\00a0';display: inline-block; width:232px; height:185px; background-position: 69.49941792782305% 69.59247648902821%; background-size: 470.2586206896552% 272.43243243243245%; background-image: url(mh_xii_vectoralgebra3_0.png);padding: 0; }
div.JEE_29_Jan_2024_Shift_2_8_s::after {max-width:232px; width:100%;height:0;padding: 0 0 79.74137931034483% 0;}
.JEE_MAIN_4APRIL_2024_S1_S_29 {max-width:294px; max-height:215px; }
.JEE_MAIN_4APRIL_2024_S1_S_29::after {content: '\00a0';display: inline-block; width:294px; height:215px; background-position: 0.12547051442910917% 89.96539792387543%; background-size: 371.08843537414964% 234.41860465116278%; background-image: url(mh_xii_vectoralgebra3_0.png);padding: 0; }
div.JEE_MAIN_4APRIL_2024_S1_S_29::after {max-width:294px; width:100%;height:0;padding: 0 0 73.12925170068027% 0;}
.JEE_MAIN_6APRIL_2024_S1_S_2 {max-width:142px; max-height:91px; }
.JEE_MAIN_6APRIL_2024_S1_S_2::after {content: '\00a0';display: inline-block; width:142px; height:91px; background-position: 62.90832455216017% 98.78934624697337%; background-size: 768.3098591549295% 553.8461538461538%; background-image: url(mh_xii_vectoralgebra3_0.png);padding: 0; }
div.JEE_MAIN_6APRIL_2024_S1_S_2::after {max-width:142px; width:100%;height:0;padding: 0 0 64.08450704225352% 0;}
.JEE_MAIN_9APRIL_2024_S1_S_10 {max-width:361px; max-height:258px; }
.JEE_MAIN_9APRIL_2024_S1_S_10::after {content: '\00a0';display: inline-block; width:361px; height:258px; background-position: 0.136986301369863% 0.4065040650406504%; background-size: 302.21606648199446% 195.34883720930233%; background-image: url(mh_xii_vectoralgebra3_0.png);padding: 0; }
div.JEE_MAIN_9APRIL_2024_S1_S_10::after {max-width:361px; width:100%;height:0;padding: 0 0 71.46814404432133% 0;}
.JEE_MAIN_9APRIL_2024_S1_S_18 {max-width:242px; max-height:164px; }
.JEE_MAIN_9APRIL_2024_S1_S_18::after {content: '\00a0';display: inline-block; width:242px; height:164px; background-position: 70.78916372202592% 0.29411764705882354%; background-size: 450.8264462809917% 307.3170731707317%; background-image: url(mh_xii_vectoralgebra3_0.png);padding: 0; }
div.JEE_MAIN_9APRIL_2024_S1_S_18::after {max-width:242px; width:100%;height:0;padding: 0 0 67.76859504132231% 0;}

@keyframes JEE_MAIN_9APRIL_2024_S1_S-frames {
    0% { background-position: 0.136986301369863% 0.4065040650406504%;  }
    50% { background-position: 70.78916372202592% 0.29411764705882354%;  }
}

.JEE_MAIN_9APRIL_2024_S1_S-animation {
    max-width: 361px;
    max-height: 258px;
}
.JEE_MAIN_9APRIL_2024_S1_S-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 361px;
    height: 258px;
    padding: 0;
    background-image: url(mh_xii_vectoralgebra3_0.png);
    background-size: 302.21606648199446% 195.34883720930233%; 
    animation-name: JEE_MAIN_9APRIL_2024_S1_S-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEE_MAIN_9APRIL_2024_S1_S-animation::after {
    max-width: 361px;
    width: 100%;
    height: 0;
    padding: 0 0 71.46814404432133% 0;
}

/* $TexturePacker:SmartUpdate:7d5015814d41bc19b014a36a9f77dd45:a6370d135d996eeeafef0e99821e28d8:2a3ec193905352b1362500b0092cc139$ */
