/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.Inverse_Trigonometric_Functions_16_s {max-width:270px; max-height:186px; }
.Inverse_Trigonometric_Functions_16_s::after {content: '\00a0';display: inline-block; width:270px; height:186px; background-position: 41.732909379968206% 1.694915254237288%;background-size: 565.925925925926% 131.72043010752688%;background-image: url(mh_xii_inversetrigonometric.png);padding: 0; }
div.Inverse_Trigonometric_Functions_16_s::after {max-width:270px; width:100%;height:0;padding: 0 0 68.88888888888889% 0;}
.Inverse_Trigonometric_Functions_2_s {max-width:302px; max-height:132px; }
.Inverse_Trigonometric_Functions_2_s::after {content: '\00a0';display: inline-block; width:302px; height:132px; background-position: 80.50570962479608% 0.8849557522123894%;background-size: 505.96026490066225% 185.6060606060606%;background-image: url(mh_xii_inversetrigonometric.png);padding: 0; }
div.Inverse_Trigonometric_Functions_2_s::after {max-width:302px; width:100%;height:0;padding: 0 0 43.70860927152318% 0;}
.JEE_2021_TRIG_Q_34 {max-width:242px; max-height:107px; }
.JEE_2021_TRIG_Q_34::after {content: '\00a0';display: inline-block; width:242px; height:107px; background-position: 95.72317262830482% 97.10144927536231%;background-size: 631.404958677686% 228.97196261682242%;background-image: url(mh_xii_inversetrigonometric.png);padding: 0; }
div.JEE_2021_TRIG_Q_34::after {max-width:242px; width:100%;height:0;padding: 0 0 44.21487603305785% 0;}
.JEE_2021_TRIG_SOL_34 {max-width:243px; max-height:110px; }
.JEE_2021_TRIG_SOL_34::after {content: '\00a0';display: inline-block; width:243px; height:110px; background-position: 76.80933852140078% 99.25925925925925%;background-size: 628.8065843621399% 222.72727272727272%;background-image: url(mh_xii_inversetrigonometric.png);padding: 0; }
div.JEE_2021_TRIG_SOL_34::after {max-width:243px; width:100%;height:0;padding: 0 0 45.267489711934154% 0;}
.JEE_2021_TRIG_SOL_34_A {max-width:237px; max-height:102px; }
.JEE_2021_TRIG_SOL_34_A::after {content: '\00a0';display: inline-block; width:237px; height:102px; background-position: 99.92254066615027% 0.6993006993006993%;background-size: 644.7257383966245% 240.19607843137254%;background-image: url(mh_xii_inversetrigonometric.png);padding: 0; }
div.JEE_2021_TRIG_SOL_34_A::after {max-width:237px; width:100%;height:0;padding: 0 0 43.037974683544306% 0;}
.JEE_2021_TRIG_SOL_38 {max-width:222px; max-height:212px; }
.JEE_2021_TRIG_SOL_38::after {content: '\00a0';display: inline-block; width:222px; height:212px; background-position: 23.124042879019907% 3.0303030303030303%;background-size: 688.2882882882883% 115.56603773584905%;background-image: url(mh_xii_inversetrigonometric.png);padding: 0; }
div.JEE_2021_TRIG_SOL_38::after {max-width:222px; width:100%;height:0;padding: 0 0 95.49549549549549% 0;}
.JEE_2021_TRIG_SOL_44 {max-width:190px; max-height:162px; }
.JEE_2021_TRIG_SOL_44::after {content: '\00a0';display: inline-block; width:190px; height:162px; background-position: 59.49177877428998% 1.2048192771084338%;background-size: 804.2105263157895% 151.23456790123456%;background-image: url(mh_xii_inversetrigonometric.png);padding: 0; }
div.JEE_2021_TRIG_SOL_44::after {max-width:190px; width:100%;height:0;padding: 0 0 85.26315789473684% 0;}
.jee_mains_24_jun_2022_s1_8_sol {max-width:300px; max-height:237px; }
.jee_mains_24_jun_2022_s1_8_sol::after {content: '\00a0';display: inline-block; width:300px; height:237px; background-position: 0.08143322475570032% 12.5%;background-size: 509.3333333333333% 103.37552742616033%;background-image: url(mh_xii_inversetrigonometric.png);padding: 0; }
div.jee_mains_24_jun_2022_s1_8_sol::after {max-width:300px; width:100%;height:0;padding: 0 0 79% 0;}

/* $TexturePacker:SmartUpdate:9fda43ae457fe98150bdee0b8faa8036:fff07c9276e125990759dbf03cc8f280:429fab0c6a2748996254a5f428d26501$ */
