/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.je_mn_23_jan_2026_s2_q_29 {max-width:360px; max-height:136px; }
.je_mn_23_jan_2026_s2_q_29::after {content: '\00a0';display: inline-block; width:360px; height:136px; background-position: 0.1652892561983471% 75.53956834532374%; background-size: 268.05555555555554% 713.2352941176471%; background-image: url(jee_mn_23_jan_2026_s2_0.png);padding: 0; }
div.je_mn_23_jan_2026_s2_q_29::after {max-width:360px; width:100%;height:0;padding: 0 0 37.77777777777778% 0;}
.je_mn_23_jan_2026_s2_q_31 {max-width:300px; max-height:191px; }
.je_mn_23_jan_2026_s2_q_31::after {content: '\00a0';display: inline-block; width:300px; height:191px; background-position: 54.43609022556391% 55.070603337612326%; background-size: 321.6666666666667% 507.85340314136124%; background-image: url(jee_mn_23_jan_2026_s2_0.png);padding: 0; }
div.je_mn_23_jan_2026_s2_q_31::after {max-width:300px; width:100%;height:0;padding: 0 0 63.666666666666664% 0;}
.je_mn_23_jan_2026_s2_q_42 {max-width:300px; max-height:90px; }
.je_mn_23_jan_2026_s2_q_42::after {content: '\00a0';display: inline-block; width:300px; height:90px; background-position: 54.43609022556391% 70.56818181818181%; background-size: 321.6666666666667% 1077.7777777777778%; background-image: url(jee_mn_23_jan_2026_s2_0.png);padding: 0; }
div.je_mn_23_jan_2026_s2_q_42::after {max-width:300px; width:100%;height:0;padding: 0 0 30% 0;}
.je_mn_23_jan_2026_s2_q_51 {max-width:300px; max-height:89px; }
.je_mn_23_jan_2026_s2_q_51::after {content: '\00a0';display: inline-block; width:300px; height:89px; background-position: 0.15037593984962405% 99.88649262202043%; background-size: 321.6666666666667% 1089.887640449438%; background-image: url(jee_mn_23_jan_2026_s2_0.png);padding: 0; }
div.je_mn_23_jan_2026_s2_q_51::after {max-width:300px; width:100%;height:0;padding: 0 0 29.666666666666668% 0;}
.je_mn_23_jan_2026_s2_q_54 {max-width:360px; max-height:112px; }
.je_mn_23_jan_2026_s2_q_54::after {content: '\00a0';display: inline-block; width:360px; height:112px; background-position: 0.1652892561983471% 89.39393939393939%; background-size: 268.05555555555554% 866.0714285714286%; background-image: url(jee_mn_23_jan_2026_s2_0.png);padding: 0; }
div.je_mn_23_jan_2026_s2_q_54::after {max-width:360px; width:100%;height:0;padding: 0 0 31.11111111111111% 0;}
.je_mn_23_jan_2026_s2_q_54a {max-width:200px; max-height:135px; }
.je_mn_23_jan_2026_s2_q_54a::after {content: '\00a0';display: inline-block; width:200px; height:135px; background-position: 86.66666666666667% 71.61676646706587%; background-size: 482.5% 718.5185185185185%; background-image: url(jee_mn_23_jan_2026_s2_0.png);padding: 0; }
div.je_mn_23_jan_2026_s2_q_54a::after {max-width:200px; width:100%;height:0;padding: 0 0 67.5% 0;}
.je_mn_23_jan_2026_s2_q_54b {max-width:200px; max-height:168px; }
.je_mn_23_jan_2026_s2_q_54b::after {content: '\00a0';display: inline-block; width:200px; height:168px; background-position: 86.66666666666667% 53.49127182044888%; background-size: 482.5% 577.3809523809524%; background-image: url(jee_mn_23_jan_2026_s2_0.png);padding: 0; }
div.je_mn_23_jan_2026_s2_q_54b::after {max-width:200px; width:100%;height:0;padding: 0 0 84% 0;}
.je_mn_23_jan_2026_s2_q_54c {max-width:200px; max-height:163px; }
.je_mn_23_jan_2026_s2_q_54c::after {content: '\00a0';display: inline-block; width:200px; height:163px; background-position: 47.3202614379085% 88.22800495662949%; background-size: 482.5% 595.0920245398773%; background-image: url(jee_mn_23_jan_2026_s2_0.png);padding: 0; }
div.je_mn_23_jan_2026_s2_q_54c::after {max-width:200px; width:100%;height:0;padding: 0 0 81.5% 0;}
.je_mn_23_jan_2026_s2_q_54d {max-width:200px; max-height:116px; }
.je_mn_23_jan_2026_s2_q_54d::after {content: '\00a0';display: inline-block; width:200px; height:116px; background-position: 73.59477124183006% 85.94847775175644%; background-size: 482.5% 836.2068965517242%; background-image: url(jee_mn_23_jan_2026_s2_0.png);padding: 0; }
div.je_mn_23_jan_2026_s2_q_54d::after {max-width:200px; width:100%;height:0;padding: 0 0 58% 0;}
.je_mn_23_jan_2026_s2_q_55 {max-width:360px; max-height:273px; }
.je_mn_23_jan_2026_s2_q_55::after {content: '\00a0';display: inline-block; width:360px; height:273px; background-position: 0.1652892561983471% 51.07604017216643%; background-size: 268.05555555555554% 355.3113553113553%; background-image: url(jee_mn_23_jan_2026_s2_0.png);padding: 0; }
div.je_mn_23_jan_2026_s2_q_55::after {max-width:360px; width:100%;height:0;padding: 0 0 75.83333333333333% 0;}
.je_mn_23_jan_2026_s2_q_57 {max-width:500px; max-height:202px; }
.je_mn_23_jan_2026_s2_q_57::after {content: '\00a0';display: inline-block; width:500px; height:202px; background-position: 77.84946236559139% 0.13020833333333334%; background-size: 193% 480.1980198019802%; background-image: url(jee_mn_23_jan_2026_s2_0.png);padding: 0; }
div.je_mn_23_jan_2026_s2_q_57::after {max-width:500px; width:100%;height:0;padding: 0 0 40.4% 0;}
.je_mn_23_jan_2026_s2_q_57a {max-width:500px; max-height:156px; }
.je_mn_23_jan_2026_s2_q_57a::after {content: '\00a0';display: inline-block; width:500px; height:156px; background-position: 77.84946236559139% 25.061425061425062%; background-size: 193% 621.7948717948718%; background-image: url(jee_mn_23_jan_2026_s2_0.png);padding: 0; }
div.je_mn_23_jan_2026_s2_q_57a::after {max-width:500px; width:100%;height:0;padding: 0 0 31.2% 0;}
.je_mn_23_jan_2026_s2_q_61 {max-width:360px; max-height:354px; }
.je_mn_23_jan_2026_s2_q_61::after {content: '\00a0';display: inline-block; width:360px; height:354px; background-position: 0.1652892561983471% 0.16233766233766234%; background-size: 268.05555555555554% 274.01129943502826%; background-image: url(jee_mn_23_jan_2026_s2_0.png);padding: 0; }
div.je_mn_23_jan_2026_s2_q_61::after {max-width:360px; width:100%;height:0;padding: 0 0 98.33333333333333% 0;}
.je_mn_23_jan_2026_s2_q_62a {max-width:200px; max-height:78px; }
.je_mn_23_jan_2026_s2_q_62a::after {content: '\00a0';display: inline-block; width:200px; height:78px; background-position: 99.86928104575163% 82.28699551569507%; background-size: 482.5% 1243.5897435897436%; background-image: url(jee_mn_23_jan_2026_s2_0.png);padding: 0; }
div.je_mn_23_jan_2026_s2_q_62a::after {max-width:200px; width:100%;height:0;padding: 0 0 39% 0;}
.je_mn_23_jan_2026_s2_q_62b {max-width:200px; max-height:67px; }
.je_mn_23_jan_2026_s2_q_62b::after {content: '\00a0';display: inline-block; width:200px; height:67px; background-position: 73.59477124183006% 94.24141749723145%; background-size: 482.5% 1447.7611940298507%; background-image: url(jee_mn_23_jan_2026_s2_0.png);padding: 0; }
div.je_mn_23_jan_2026_s2_q_62b::after {max-width:200px; width:100%;height:0;padding: 0 0 33.5% 0;}
.je_mn_23_jan_2026_s2_q_62c {max-width:200px; max-height:73px; }
.je_mn_23_jan_2026_s2_q_62c::after {content: '\00a0';display: inline-block; width:200px; height:73px; background-position: 99.86928104575163% 90.63545150501672%; background-size: 482.5% 1328.7671232876712%; background-image: url(jee_mn_23_jan_2026_s2_0.png);padding: 0; }
div.je_mn_23_jan_2026_s2_q_62c::after {max-width:200px; width:100%;height:0;padding: 0 0 36.5% 0;}
.je_mn_23_jan_2026_s2_q_62d {max-width:200px; max-height:65px; }
.je_mn_23_jan_2026_s2_q_62d::after {content: '\00a0';display: inline-block; width:200px; height:65px; background-position: 99.86928104575163% 98.01104972375691%; background-size: 482.5% 1492.3076923076924%; background-image: url(jee_mn_23_jan_2026_s2_0.png);padding: 0; }
div.je_mn_23_jan_2026_s2_q_62d::after {max-width:200px; width:100%;height:0;padding: 0 0 32.5% 0;}
.je_mn_23_jan_2026_s2_q_71 {max-width:500px; max-height:67px; }
.je_mn_23_jan_2026_s2_q_71::after {content: '\00a0';display: inline-block; width:500px; height:67px; background-position: 77.84946236559139% 39.97785160575858%; background-size: 193% 1447.7611940298507%; background-image: url(jee_mn_23_jan_2026_s2_0.png);padding: 0; }
div.je_mn_23_jan_2026_s2_q_71::after {max-width:500px; width:100%;height:0;padding: 0 0 13.4% 0;}

@keyframes je_mn_23_jan_2026_s2_q-frames {
    0% { background-position: 0.1652892561983471% 75.53956834532374%;  }
    11.11111111111111% { background-position: 54.43609022556391% 55.070603337612326%;  }
    22.22222222222222% { background-position: 54.43609022556391% 70.56818181818181%;  }
    33.33333333333333% { background-position: 0.15037593984962405% 99.88649262202043%;  }
    44.44444444444444% { background-position: 0.1652892561983471% 89.39393939393939%;  }
    55.55555555555556% { background-position: 0.1652892561983471% 51.07604017216643%;  }
    66.66666666666666% { background-position: 77.84946236559139% 0.13020833333333334%;  }
    77.77777777777779% { background-position: 0.1652892561983471% 0.16233766233766234%;  }
    88.88888888888889% { background-position: 77.84946236559139% 39.97785160575858%;  }
}

.je_mn_23_jan_2026_s2_q-animation {
    max-width: 360px;
    max-height: 136px;
}
.je_mn_23_jan_2026_s2_q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 360px;
    height: 136px;
    padding: 0;
    background-image: url(jee_mn_23_jan_2026_s2_0.png);
    background-size: 268.05555555555554% 713.2352941176471%; 
    animation-name: je_mn_23_jan_2026_s2_q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.je_mn_23_jan_2026_s2_q-animation::after {
    max-width: 360px;
    width: 100%;
    height: 0;
    padding: 0 0 37.77777777777778% 0;
}

/* $TexturePacker:SmartUpdate:0398939bbe3f788fe04bfc8fdc26e7f0:c4e0e5b1cd63c64beb00af8861d36e8f:25329681e2559f914563cf4c9ec67627$ */
