/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.je_mn_28_jan_2026_s2_q_32 {max-width:300px; max-height:361px; }
.je_mn_28_jan_2026_s2_q_32::after {content: '\00a0';display: inline-block; width:300px; height:361px; background-position: 19.284802043422733% 0.25906735751295334%; background-size: 622% 206.92520775623268%; background-image: url(jee_mn_28_jan_2026_s2_0.png);padding: 0; }
div.je_mn_28_jan_2026_s2_q_32::after {max-width:300px; width:100%;height:0;padding: 0 0 120.33333333333333% 0;}
.je_mn_28_jan_2026_s2_q_34 {max-width:300px; max-height:230px; }
.je_mn_28_jan_2026_s2_q_34::after {content: '\00a0';display: inline-block; width:300px; height:230px; background-position: 96.10472541507025% 96.13152804642166%; background-size: 622% 324.7826086956522%; background-image: url(jee_mn_28_jan_2026_s2_0.png);padding: 0; }
div.je_mn_28_jan_2026_s2_q_34::after {max-width:300px; width:100%;height:0;padding: 0 0 76.66666666666667% 0;}
.je_mn_28_jan_2026_s2_q_38 {max-width:300px; max-height:343px; }
.je_mn_28_jan_2026_s2_q_38::after {content: '\00a0';display: inline-block; width:300px; height:343px; background-position: 38.50574712643678% 0.24752475247524752%; background-size: 622% 217.78425655976676%; background-image: url(jee_mn_28_jan_2026_s2_0.png);padding: 0; }
div.je_mn_28_jan_2026_s2_q_38::after {max-width:300px; width:100%;height:0;padding: 0 0 114.33333333333333% 0;}
.je_mn_28_jan_2026_s2_q_42 {max-width:360px; max-height:106px; }
.je_mn_28_jan_2026_s2_q_42::after {content: '\00a0';display: inline-block; width:360px; height:106px; background-position: 86.65338645418326% 30.421216848673946%; background-size: 518.3333333333334% 704.7169811320755%; background-image: url(jee_mn_28_jan_2026_s2_0.png);padding: 0; }
div.je_mn_28_jan_2026_s2_q_42::after {max-width:360px; width:100%;height:0;padding: 0 0 29.444444444444443% 0;}
.je_mn_28_jan_2026_s2_q_45 {max-width:300px; max-height:186px; }
.je_mn_28_jan_2026_s2_q_45::after {content: '\00a0';display: inline-block; width:300px; height:186px; background-position: 51.27713920817369% 99.10873440285205%; background-size: 622% 401.61290322580646%; background-image: url(jee_mn_28_jan_2026_s2_0.png);padding: 0; }
div.je_mn_28_jan_2026_s2_q_45::after {max-width:300px; width:100%;height:0;padding: 0 0 62% 0;}
.je_mn_28_jan_2026_s2_q_47 {max-width:300px; max-height:214px; }
.je_mn_28_jan_2026_s2_q_47::after {content: '\00a0';display: inline-block; width:300px; height:214px; background-position: 70.49808429118774% 95.87242026266416%; background-size: 622% 349.06542056074767%; background-image: url(jee_mn_28_jan_2026_s2_0.png);padding: 0; }
div.je_mn_28_jan_2026_s2_q_47::after {max-width:300px; width:100%;height:0;padding: 0 0 71.33333333333333% 0;}
.je_mn_28_jan_2026_s2_q_57a {max-width:400px; max-height:193px; }
.je_mn_28_jan_2026_s2_q_57a::after {content: '\00a0';display: inline-block; width:400px; height:193px; background-position: 89.01773533424284% 0.18050541516245489%; background-size: 466.5% 387.04663212435236%; background-image: url(jee_mn_28_jan_2026_s2_0.png);padding: 0; }
div.je_mn_28_jan_2026_s2_q_57a::after {max-width:400px; width:100%;height:0;padding: 0 0 48.25% 0;}
.je_mn_28_jan_2026_s2_q_57b {max-width:400px; max-height:210px; }
.je_mn_28_jan_2026_s2_q_57b::after {content: '\00a0';display: inline-block; width:400px; height:210px; background-position: 47.953615279672576% 64.24581005586592%; background-size: 466.5% 355.7142857142857%; background-image: url(jee_mn_28_jan_2026_s2_0.png);padding: 0; }
div.je_mn_28_jan_2026_s2_q_57b::after {max-width:400px; width:100%;height:0;padding: 0 0 52.5% 0;}
.je_mn_28_jan_2026_s2_q_57c {max-width:400px; max-height:209px; }
.je_mn_28_jan_2026_s2_q_57c::after {content: '\00a0';display: inline-block; width:400px; height:209px; background-position: 20.600272851296044% 67.4721189591078%; background-size: 466.5% 357.4162679425837%; background-image: url(jee_mn_28_jan_2026_s2_0.png);padding: 0; }
div.je_mn_28_jan_2026_s2_q_57c::after {max-width:400px; width:100%;height:0;padding: 0 0 52.25% 0;}
.je_mn_28_jan_2026_s2_q_57d {max-width:400px; max-height:210px; }
.je_mn_28_jan_2026_s2_q_57d::after {content: '\00a0';display: inline-block; width:400px; height:210px; background-position: 61.6643929058663% 0.186219739292365%; background-size: 466.5% 355.7142857142857%; background-image: url(jee_mn_28_jan_2026_s2_0.png);padding: 0; }
div.je_mn_28_jan_2026_s2_q_57d::after {max-width:400px; width:100%;height:0;padding: 0 0 52.5% 0;}
.je_mn_28_jan_2026_s2_q_68 {max-width:400px; max-height:173px; }
.je_mn_28_jan_2026_s2_q_68::after {content: '\00a0';display: inline-block; width:400px; height:173px; background-position: 0.06821282401091405% 99.82578397212544%; background-size: 466.5% 431.7919075144509%; background-image: url(jee_mn_28_jan_2026_s2_0.png);padding: 0; }
div.je_mn_28_jan_2026_s2_q_68::after {max-width:400px; width:100%;height:0;padding: 0 0 43.25% 0;}
.je_mn_28_jan_2026_s2_q_68b {max-width:400px; max-height:196px; }
.je_mn_28_jan_2026_s2_q_68b::after {content: '\00a0';display: inline-block; width:400px; height:196px; background-position: 75.30695770804911% 56.98729582577133%; background-size: 466.5% 381.1224489795918%; background-image: url(jee_mn_28_jan_2026_s2_0.png);padding: 0; }
div.je_mn_28_jan_2026_s2_q_68b::after {max-width:400px; width:100%;height:0;padding: 0 0 49% 0;}
.je_mn_28_jan_2026_s2_q_68c {max-width:400px; max-height:161px; }
.je_mn_28_jan_2026_s2_q_68c::after {content: '\00a0';display: inline-block; width:400px; height:161px; background-position: 27.42155525238745% 97.7815699658703%; background-size: 466.5% 463.9751552795031%; background-image: url(jee_mn_28_jan_2026_s2_0.png);padding: 0; }
div.je_mn_28_jan_2026_s2_q_68c::after {max-width:400px; width:100%;height:0;padding: 0 0 40.25% 0;}
.je_mn_28_jan_2026_s2_q_68d {max-width:400px; max-height:101px; }
.je_mn_28_jan_2026_s2_q_68d::after {content: '\00a0';display: inline-block; width:400px; height:101px; background-position: 61.6643929058663% 32.81733746130031%; background-size: 466.5% 739.6039603960396%; background-image: url(jee_mn_28_jan_2026_s2_0.png);padding: 0; }
div.je_mn_28_jan_2026_s2_q_68d::after {max-width:400px; width:100%;height:0;padding: 0 0 25.25% 0;}
.je_mn_28_jan_2026_s2_q_70 {max-width:300px; max-height:571px; }
.je_mn_28_jan_2026_s2_q_70::after {content: '\00a0';display: inline-block; width:300px; height:571px; background-position: 0.06385696040868455% 0.5681818181818182%; background-size: 622% 130.8231173380035%; background-image: url(jee_mn_28_jan_2026_s2_0.png);padding: 0; }
div.je_mn_28_jan_2026_s2_q_70::after {max-width:300px; width:100%;height:0;padding: 0 0 190.33333333333334% 0;}
.je_mn_28_jan_2026_s2_q_74 {max-width:360px; max-height:194px; }
.je_mn_28_jan_2026_s2_q_74::after {content: '\00a0';display: inline-block; width:360px; height:194px; background-position: 99.933598937583% 54.611211573236886%; background-size: 518.3333333333334% 385.0515463917526%; background-image: url(jee_mn_28_jan_2026_s2_0.png);padding: 0; }
div.je_mn_28_jan_2026_s2_q_74::after {max-width:360px; width:100%;height:0;padding: 0 0 53.888888888888886% 0;}

@keyframes je_mn_28_jan_2026_s2_q-frames {
    0% { background-position: 19.284802043422733% 0.25906735751295334%;  }
    11.11111111111111% { background-position: 96.10472541507025% 96.13152804642166%;  }
    22.22222222222222% { background-position: 38.50574712643678% 0.24752475247524752%;  }
    33.33333333333333% { background-position: 86.65338645418326% 30.421216848673946%;  }
    44.44444444444444% { background-position: 51.27713920817369% 99.10873440285205%;  }
    55.55555555555556% { background-position: 70.49808429118774% 95.87242026266416%;  }
    66.66666666666666% { background-position: 0.06821282401091405% 99.82578397212544%;  }
    77.77777777777779% { background-position: 0.06385696040868455% 0.5681818181818182%;  }
    88.88888888888889% { background-position: 99.933598937583% 54.611211573236886%;  }
}

.je_mn_28_jan_2026_s2_q-animation {
    max-width: 300px;
    max-height: 361px;
}
.je_mn_28_jan_2026_s2_q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 300px;
    height: 361px;
    padding: 0;
    background-image: url(jee_mn_28_jan_2026_s2_0.png);
    background-size: 622% 206.92520775623268%; 
    animation-name: je_mn_28_jan_2026_s2_q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.je_mn_28_jan_2026_s2_q-animation::after {
    max-width: 300px;
    width: 100%;
    height: 0;
    padding: 0 0 120.33333333333333% 0;
}

/* $TexturePacker:SmartUpdate:a83f663d47a523a7d8bed6b506eb4217:83b340e3c6b9487822b27f3d74108753:d5dc12e6abd419ff3ee45d88b28fe759$ */
