/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.je_mn_28_jan_2026_s1_q_26 {max-width:360px; max-height:237px; }
.je_mn_28_jan_2026_s1_q_26::after {content: '\00a0';display: inline-block; width:360px; height:237px; background-position: 93.47826086956522% 17.35769501054111%; background-size: 278.8888888888889% 700.42194092827%; background-image: url(jee_mn_28_jan_2026_s1_0.png);padding: 0; }
div.je_mn_28_jan_2026_s1_q_26::after {max-width:360px; width:100%;height:0;padding: 0 0 65.83333333333333% 0;}
.je_mn_28_jan_2026_s1_q_27a {max-width:300px; max-height:221px; }
.je_mn_28_jan_2026_s1_q_27a::after {content: '\00a0';display: inline-block; width:300px; height:221px; background-position: 42.89772727272727% 86.65740097289785%; background-size: 334.6666666666667% 751.131221719457%; background-image: url(jee_mn_28_jan_2026_s1_0.png);padding: 0; }
div.je_mn_28_jan_2026_s1_q_27a::after {max-width:300px; width:100%;height:0;padding: 0 0 73.66666666666667% 0;}
.je_mn_28_jan_2026_s1_q_27b {max-width:300px; max-height:222px; }
.je_mn_28_jan_2026_s1_q_27b::after {content: '\00a0';display: inline-block; width:300px; height:222px; background-position: 85.6534090909091% 82.68428372739916%; background-size: 334.6666666666667% 747.7477477477478%; background-image: url(jee_mn_28_jan_2026_s1_0.png);padding: 0; }
div.je_mn_28_jan_2026_s1_q_27b::after {max-width:300px; width:100%;height:0;padding: 0 0 74% 0;}
.je_mn_28_jan_2026_s1_q_27c {max-width:300px; max-height:225px; }
.je_mn_28_jan_2026_s1_q_27c::after {content: '\00a0';display: inline-block; width:300px; height:225px; background-position: 42.89772727272727% 71.14982578397212%; background-size: 334.6666666666667% 737.7777777777778%; background-image: url(jee_mn_28_jan_2026_s1_0.png);padding: 0; }
div.je_mn_28_jan_2026_s1_q_27c::after {max-width:300px; width:100%;height:0;padding: 0 0 75% 0;}
.je_mn_28_jan_2026_s1_q_27d {max-width:300px; max-height:221px; }
.je_mn_28_jan_2026_s1_q_27d::after {content: '\00a0';display: inline-block; width:300px; height:221px; background-position: 0.14204545454545456% 86.93537178596247%; background-size: 334.6666666666667% 751.131221719457%; background-image: url(jee_mn_28_jan_2026_s1_0.png);padding: 0; }
div.je_mn_28_jan_2026_s1_q_27d::after {max-width:300px; width:100%;height:0;padding: 0 0 73.66666666666667% 0;}
.je_mn_28_jan_2026_s1_q_28 {max-width:360px; max-height:201px; }
.je_mn_28_jan_2026_s1_q_28::after {content: '\00a0';display: inline-block; width:360px; height:201px; background-position: 93.47826086956522% 33.24194653872515%; background-size: 278.8888888888889% 825.8706467661691%; background-image: url(jee_mn_28_jan_2026_s1_0.png);padding: 0; }
div.je_mn_28_jan_2026_s1_q_28::after {max-width:360px; width:100%;height:0;padding: 0 0 55.833333333333336% 0;}
.je_mn_28_jan_2026_s1_q_31a {max-width:200px; max-height:191px; }
.je_mn_28_jan_2026_s1_q_31a::after {content: '\00a0';display: inline-block; width:200px; height:191px; background-position: 75% 96.11980939414568%; background-size: 502% 869.109947643979%; background-image: url(jee_mn_28_jan_2026_s1_0.png);padding: 0; }
div.je_mn_28_jan_2026_s1_q_31a::after {max-width:200px; width:100%;height:0;padding: 0 0 95.5% 0;}
.je_mn_28_jan_2026_s1_q_31b {max-width:200px; max-height:190px; }
.je_mn_28_jan_2026_s1_q_31b::after {content: '\00a0';display: inline-block; width:200px; height:190px; background-position: 37.56218905472637% 99.93197278911565%; background-size: 502% 873.6842105263158%; background-image: url(jee_mn_28_jan_2026_s1_0.png);padding: 0; }
div.je_mn_28_jan_2026_s1_q_31b::after {max-width:200px; width:100%;height:0;padding: 0 0 95% 0;}
.je_mn_28_jan_2026_s1_q_31c {max-width:200px; max-height:202px; }
.je_mn_28_jan_2026_s1_q_31c::after {content: '\00a0';display: inline-block; width:200px; height:202px; background-position: 99.87562189054727% 54.25240054869685%; background-size: 502% 821.7821782178218%; background-image: url(jee_mn_28_jan_2026_s1_0.png);padding: 0; }
div.je_mn_28_jan_2026_s1_q_31c::after {max-width:200px; width:100%;height:0;padding: 0 0 101% 0;}
.je_mn_28_jan_2026_s1_q_31d {max-width:200px; max-height:194px; }
.je_mn_28_jan_2026_s1_q_31d::after {content: '\00a0';display: inline-block; width:200px; height:194px; background-position: 99.87562189054727% 67.80354706684857%; background-size: 502% 855.6701030927835%; background-image: url(jee_mn_28_jan_2026_s1_0.png);padding: 0; }
div.je_mn_28_jan_2026_s1_q_31d::after {max-width:200px; width:100%;height:0;padding: 0 0 97% 0;}
.je_mn_28_jan_2026_s1_q_35 {max-width:300px; max-height:227px; }
.je_mn_28_jan_2026_s1_q_35::after {content: '\00a0';display: inline-block; width:300px; height:227px; background-position: 0.14204545454545456% 55.61758548499651%; background-size: 334.6666666666667% 731.2775330396476%; background-image: url(jee_mn_28_jan_2026_s1_0.png);padding: 0; }
div.je_mn_28_jan_2026_s1_q_35::after {max-width:300px; width:100%;height:0;padding: 0 0 75.66666666666667% 0;}
.je_mn_28_jan_2026_s1_q_45 {max-width:300px; max-height:169px; }
.je_mn_28_jan_2026_s1_q_45::after {content: '\00a0';display: inline-block; width:300px; height:169px; background-position: 0.14204545454545456% 98.79275653923541%; background-size: 334.6666666666667% 982.2485207100592%; background-image: url(jee_mn_28_jan_2026_s1_0.png);padding: 0; }
div.je_mn_28_jan_2026_s1_q_45::after {max-width:300px; width:100%;height:0;padding: 0 0 56.333333333333336% 0;}
.je_mn_28_jan_2026_s1_q_48 {max-width:300px; max-height:229px; }
.je_mn_28_jan_2026_s1_q_48::after {content: '\00a0';display: inline-block; width:300px; height:229px; background-position: 71.30681818181819% 55.27603074772886%; background-size: 334.6666666666667% 724.8908296943231%; background-image: url(jee_mn_28_jan_2026_s1_0.png);padding: 0; }
div.je_mn_28_jan_2026_s1_q_48::after {max-width:300px; width:100%;height:0;padding: 0 0 76.33333333333333% 0;}
.je_mn_28_jan_2026_s1_q_54 {max-width:500px; max-height:103px; }
.je_mn_28_jan_2026_s1_q_54::after {content: '\00a0';display: inline-block; width:500px; height:103px; background-position: 99.60317460317461% 44.1233140655106%; background-size: 200.8% 1611.6504854368932%; background-image: url(jee_mn_28_jan_2026_s1_0.png);padding: 0; }
div.je_mn_28_jan_2026_s1_q_54::after {max-width:500px; width:100%;height:0;padding: 0 0 20.6% 0;}
.je_mn_28_jan_2026_s1_q_56 {max-width:600px; max-height:126px; }
.je_mn_28_jan_2026_s1_q_56::after {content: '\00a0';display: inline-block; width:600px; height:126px; background-position: 0.24752475247524752% 21.121251629726206%; background-size: 167.33333333333334% 1317.4603174603174%; background-image: url(jee_mn_28_jan_2026_s1_0.png);padding: 0; }
div.je_mn_28_jan_2026_s1_q_56::after {max-width:600px; width:100%;height:0;padding: 0 0 21% 0;}
.je_mn_28_jan_2026_s1_q_59 {max-width:500px; max-height:95px; }
.je_mn_28_jan_2026_s1_q_59::after {content: '\00a0';display: inline-block; width:500px; height:95px; background-position: 0.1984126984126984% 44.79233226837061%; background-size: 200.8% 1747.3684210526317%; background-image: url(jee_mn_28_jan_2026_s1_0.png);padding: 0; }
div.je_mn_28_jan_2026_s1_q_59::after {max-width:500px; width:100%;height:0;padding: 0 0 19% 0;}
.je_mn_28_jan_2026_s1_q_64a {max-width:400px; max-height:245px; }
.je_mn_28_jan_2026_s1_q_64a::after {content: '\00a0';display: inline-block; width:400px; height:245px; background-position: 99.66887417218543% 0.0706713780918728%; background-size: 251% 677.5510204081633%; background-image: url(jee_mn_28_jan_2026_s1_0.png);padding: 0; }
div.je_mn_28_jan_2026_s1_q_64a::after {max-width:400px; width:100%;height:0;padding: 0 0 61.25% 0;}
.je_mn_28_jan_2026_s1_q_64b {max-width:300px; max-height:225px; }
.je_mn_28_jan_2026_s1_q_64b::after {content: '\00a0';display: inline-block; width:300px; height:225px; background-position: 0.14204545454545456% 71.42857142857143%; background-size: 334.6666666666667% 737.7777777777778%; background-image: url(jee_mn_28_jan_2026_s1_0.png);padding: 0; }
div.je_mn_28_jan_2026_s1_q_64b::after {max-width:300px; width:100%;height:0;padding: 0 0 75% 0;}
.je_mn_28_jan_2026_s1_q_65 {max-width:600px; max-height:141px; }
.je_mn_28_jan_2026_s1_q_65::after {content: '\00a0';display: inline-block; width:600px; height:141px; background-position: 0.24752475247524752% 11.981566820276498%; background-size: 167.33333333333334% 1177.3049645390072%; background-image: url(jee_mn_28_jan_2026_s1_0.png);padding: 0; }
div.je_mn_28_jan_2026_s1_q_65::after {max-width:600px; width:100%;height:0;padding: 0 0 23.5% 0;}
.je_mn_28_jan_2026_s1_q_68a {max-width:600px; max-height:180px; }
.je_mn_28_jan_2026_s1_q_68a::after {content: '\00a0';display: inline-block; width:600px; height:180px; background-position: 0.24752475247524752% 0.06756756756756757%; background-size: 167.33333333333334% 922.2222222222222%; background-image: url(jee_mn_28_jan_2026_s1_0.png);padding: 0; }
div.je_mn_28_jan_2026_s1_q_68a::after {max-width:600px; width:100%;height:0;padding: 0 0 30% 0;}
.je_mn_28_jan_2026_s1_q_68b {max-width:600px; max-height:71px; }
.je_mn_28_jan_2026_s1_q_68b::after {content: '\00a0';display: inline-block; width:600px; height:71px; background-position: 0.24752475247524752% 28.382630585273755%; background-size: 167.33333333333334% 2338.0281690140846%; background-image: url(jee_mn_28_jan_2026_s1_0.png);padding: 0; }
div.je_mn_28_jan_2026_s1_q_68b::after {max-width:600px; width:100%;height:0;padding: 0 0 11.833333333333334% 0;}
.je_mn_28_jan_2026_s1_q_68c {max-width:500px; max-height:117px; }
.je_mn_28_jan_2026_s1_q_68c::after {content: '\00a0';display: inline-block; width:500px; height:117px; background-position: 0.1984126984126984% 37.78353856124433%; background-size: 200.8% 1418.8034188034187%; background-image: url(jee_mn_28_jan_2026_s1_0.png);padding: 0; }
div.je_mn_28_jan_2026_s1_q_68c::after {max-width:500px; width:100%;height:0;padding: 0 0 23.4% 0;}
.je_mn_28_jan_2026_s1_q_68d {max-width:600px; max-height:59px; }
.je_mn_28_jan_2026_s1_q_68d::after {content: '\00a0';display: inline-block; width:600px; height:59px; background-position: 0.24752475247524752% 32.667083073079326%; background-size: 167.33333333333334% 2813.5593220338983%; background-image: url(jee_mn_28_jan_2026_s1_0.png);padding: 0; }
div.je_mn_28_jan_2026_s1_q_68d::after {max-width:600px; width:100%;height:0;padding: 0 0 9.833333333333334% 0;}

@keyframes je_mn_28_jan_2026_s1_q-frames {
    0% { background-position: 93.47826086956522% 17.35769501054111%;  }
    11.11111111111111% { background-position: 93.47826086956522% 33.24194653872515%;  }
    22.22222222222222% { background-position: 0.14204545454545456% 55.61758548499651%;  }
    33.33333333333333% { background-position: 0.14204545454545456% 98.79275653923541%;  }
    44.44444444444444% { background-position: 71.30681818181819% 55.27603074772886%;  }
    55.55555555555556% { background-position: 99.60317460317461% 44.1233140655106%;  }
    66.66666666666666% { background-position: 0.24752475247524752% 21.121251629726206%;  }
    77.77777777777779% { background-position: 0.1984126984126984% 44.79233226837061%;  }
    88.88888888888889% { background-position: 0.24752475247524752% 11.981566820276498%;  }
}

.je_mn_28_jan_2026_s1_q-animation {
    max-width: 360px;
    max-height: 237px;
}
.je_mn_28_jan_2026_s1_q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 360px;
    height: 237px;
    padding: 0;
    background-image: url(jee_mn_28_jan_2026_s1_0.png);
    background-size: 278.8888888888889% 700.42194092827%; 
    animation-name: je_mn_28_jan_2026_s1_q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.je_mn_28_jan_2026_s1_q-animation::after {
    max-width: 360px;
    width: 100%;
    height: 0;
    padding: 0 0 65.83333333333333% 0;
}

/* $TexturePacker:SmartUpdate:86664ffd004d3f88f4f5eb4bbce4e153:34aee5c5fd1d7489a870e30a6ffe4d2d:a997591c333feb9de89af570e3ca1207$ */
