/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.je_mn_22_jan_2026_s2_q_27a {max-width:200px; max-height:164px; }
.je_mn_22_jan_2026_s2_q_27a::after {content: '\00a0';display: inline-block; width:200px; height:164px; background-position: 62.484472049689444% 95.27472527472527%; background-size: 502.5% 654.8780487804878%; background-image: url(jee_mn_22_jan_2026_s2_0.png);padding: 0; }
div.je_mn_22_jan_2026_s2_q_27a::after {max-width:200px; width:100%;height:0;padding: 0 0 82% 0;}
.je_mn_22_jan_2026_s2_q_27b {max-width:200px; max-height:165px; }
.je_mn_22_jan_2026_s2_q_27b::after {content: '\00a0';display: inline-block; width:200px; height:165px; background-position: 37.515527950310556% 95.37953795379538%; background-size: 502.5% 650.9090909090909%; background-image: url(jee_mn_22_jan_2026_s2_0.png);padding: 0; }
div.je_mn_22_jan_2026_s2_q_27b::after {max-width:200px; width:100%;height:0;padding: 0 0 82.5% 0;}
.je_mn_22_jan_2026_s2_q_27c {max-width:200px; max-height:167px; }
.je_mn_22_jan_2026_s2_q_27c::after {content: '\00a0';display: inline-block; width:200px; height:167px; background-position: 89.8136645962733% 44.432194046306506%; background-size: 502.5% 643.1137724550898%; background-image: url(jee_mn_22_jan_2026_s2_0.png);padding: 0; }
div.je_mn_22_jan_2026_s2_q_27c::after {max-width:200px; width:100%;height:0;padding: 0 0 83.5% 0;}
.je_mn_22_jan_2026_s2_q_27d {max-width:200px; max-height:159px; }
.je_mn_22_jan_2026_s2_q_27d::after {content: '\00a0';display: inline-block; width:200px; height:159px; background-position: 99.87577639751552% 79.89071038251366%; background-size: 502.5% 675.4716981132076%; background-image: url(jee_mn_22_jan_2026_s2_0.png);padding: 0; }
div.je_mn_22_jan_2026_s2_q_27d::after {max-width:200px; width:100%;height:0;padding: 0 0 79.5% 0;}
.je_mn_22_jan_2026_s2_q_28 {max-width:360px; max-height:190px; }
.je_mn_22_jan_2026_s2_q_28::after {content: '\00a0';display: inline-block; width:360px; height:190px; background-position: 56.12403100775194% 31.108597285067873%; background-size: 279.1666666666667% 565.2631578947369%; background-image: url(jee_mn_22_jan_2026_s2_0.png);padding: 0; }
div.je_mn_22_jan_2026_s2_q_28::after {max-width:360px; width:100%;height:0;padding: 0 0 52.77777777777778% 0;}
.je_mn_22_jan_2026_s2_q_30 {max-width:300px; max-height:254px; }
.je_mn_22_jan_2026_s2_q_30::after {content: '\00a0';display: inline-block; width:300px; height:254px; background-position: 51.347517730496456% 56.829268292682926%; background-size: 335% 422.8346456692913%; background-image: url(jee_mn_22_jan_2026_s2_0.png);padding: 0; }
div.je_mn_22_jan_2026_s2_q_30::after {max-width:300px; width:100%;height:0;padding: 0 0 84.66666666666667% 0;}
.je_mn_22_jan_2026_s2_q_41 {max-width:400px; max-height:117px; }
.je_mn_22_jan_2026_s2_q_41::after {content: '\00a0';display: inline-block; width:400px; height:117px; background-position: 66.44628099173553% 0.1044932079414838%; background-size: 251.25% 917.9487179487179%; background-image: url(jee_mn_22_jan_2026_s2_0.png);padding: 0; }
div.je_mn_22_jan_2026_s2_q_41::after {max-width:400px; width:100%;height:0;padding: 0 0 29.25% 0;}
.je_mn_22_jan_2026_s2_q_44 {max-width:400px; max-height:260px; }
.je_mn_22_jan_2026_s2_q_44::after {content: '\00a0';display: inline-block; width:400px; height:260px; background-position: 0.1652892561983471% 0.12285012285012285%; background-size: 251.25% 413.0769230769231%; background-image: url(jee_mn_22_jan_2026_s2_0.png);padding: 0; }
div.je_mn_22_jan_2026_s2_q_44::after {max-width:400px; width:100%;height:0;padding: 0 0 65% 0;}
.je_mn_22_jan_2026_s2_q_52 {max-width:400px; max-height:72px; }
.je_mn_22_jan_2026_s2_q_52::after {content: '\00a0';display: inline-block; width:400px; height:72px; background-position: 66.44628099173553% 20.159680638722556%; background-size: 251.25% 1491.6666666666667%; background-image: url(jee_mn_22_jan_2026_s2_0.png);padding: 0; }
div.je_mn_22_jan_2026_s2_q_52::after {max-width:400px; width:100%;height:0;padding: 0 0 18% 0;}
.je_mn_22_jan_2026_s2_q_52a {max-width:300px; max-height:100px; }
.je_mn_22_jan_2026_s2_q_52a::after {content: '\00a0';display: inline-block; width:300px; height:100px; background-position: 0.14184397163120568% 99.89733059548254%; background-size: 335% 1074%; background-image: url(jee_mn_22_jan_2026_s2_0.png);padding: 0; }
div.je_mn_22_jan_2026_s2_q_52a::after {max-width:300px; width:100%;height:0;padding: 0 0 33.333333333333336% 0;}
.je_mn_22_jan_2026_s2_q_52b {max-width:300px; max-height:142px; }
.je_mn_22_jan_2026_s2_q_52b::after {content: '\00a0';display: inline-block; width:300px; height:142px; background-position: 0.14184397163120568% 89.05579399141631%; background-size: 335% 756.3380281690141%; background-image: url(jee_mn_22_jan_2026_s2_0.png);padding: 0; }
div.je_mn_22_jan_2026_s2_q_52b::after {max-width:300px; width:100%;height:0;padding: 0 0 47.333333333333336% 0;}
.je_mn_22_jan_2026_s2_q_52c {max-width:300px; max-height:155px; }
.je_mn_22_jan_2026_s2_q_52c::after {content: '\00a0';display: inline-block; width:300px; height:155px; background-position: 0.14184397163120568% 73.34058759521218%; background-size: 335% 692.9032258064516%; background-image: url(jee_mn_22_jan_2026_s2_0.png);padding: 0; }
div.je_mn_22_jan_2026_s2_q_52c::after {max-width:300px; width:100%;height:0;padding: 0 0 51.666666666666664% 0;}
.je_mn_22_jan_2026_s2_q_52d {max-width:300px; max-height:159px; }
.je_mn_22_jan_2026_s2_q_52d::after {content: '\00a0';display: inline-block; width:300px; height:159px; background-position: 94.04255319148936% 62.404371584699454%; background-size: 335% 675.4716981132076%; background-image: url(jee_mn_22_jan_2026_s2_0.png);padding: 0; }
div.je_mn_22_jan_2026_s2_q_52d::after {max-width:300px; width:100%;height:0;padding: 0 0 53% 0;}
.je_mn_22_jan_2026_s2_q_59 {max-width:400px; max-height:82px; }
.je_mn_22_jan_2026_s2_q_59::after {content: '\00a0';display: inline-block; width:400px; height:82px; background-position: 66.44628099173553% 11.995967741935484%; background-size: 251.25% 1309.7560975609756%; background-image: url(jee_mn_22_jan_2026_s2_0.png);padding: 0; }
div.je_mn_22_jan_2026_s2_q_59::after {max-width:400px; width:100%;height:0;padding: 0 0 20.5% 0;}
.je_mn_22_jan_2026_s2_q_61a {max-width:200px; max-height:187px; }
.je_mn_22_jan_2026_s2_q_61a::after {content: '\00a0';display: inline-block; width:200px; height:187px; background-position: 99.75155279503106% 24.23900789177001%; background-size: 502.5% 574.3315508021391%; background-image: url(jee_mn_22_jan_2026_s2_0.png);padding: 0; }
div.je_mn_22_jan_2026_s2_q_61a::after {max-width:200px; width:100%;height:0;padding: 0 0 93.5% 0;}
.je_mn_22_jan_2026_s2_q_61b {max-width:200px; max-height:213px; }
.je_mn_22_jan_2026_s2_q_61b::after {content: '\00a0';display: inline-block; width:200px; height:213px; background-position: 99.75155279503106% 0.11614401858304298%; background-size: 502.5% 504.22535211267603%; background-image: url(jee_mn_22_jan_2026_s2_0.png);padding: 0; }
div.je_mn_22_jan_2026_s2_q_61b::after {max-width:200px; width:100%;height:0;padding: 0 0 106.5% 0;}
.je_mn_22_jan_2026_s2_q_61c {max-width:200px; max-height:144px; }
.je_mn_22_jan_2026_s2_q_61c::after {content: '\00a0';display: inline-block; width:200px; height:144px; background-position: 87.45341614906832% 95.80645161290323%; background-size: 502.5% 745.8333333333334%; background-image: url(jee_mn_22_jan_2026_s2_0.png);padding: 0; }
div.je_mn_22_jan_2026_s2_q_61c::after {max-width:200px; width:100%;height:0;padding: 0 0 72% 0;}
.je_mn_22_jan_2026_s2_q_61d {max-width:200px; max-height:125px; }
.je_mn_22_jan_2026_s2_q_61d::after {content: '\00a0';display: inline-block; width:200px; height:125px; background-position: 74.90683229813665% 77.02845100105374%; background-size: 502.5% 859.2%; background-image: url(jee_mn_22_jan_2026_s2_0.png);padding: 0; }
div.je_mn_22_jan_2026_s2_q_61d::after {max-width:200px; width:100%;height:0;padding: 0 0 62.5% 0;}
.je_mn_22_jan_2026_s2_q_67 {max-width:360px; max-height:411px; }
.je_mn_22_jan_2026_s2_q_67::after {content: '\00a0';display: inline-block; width:360px; height:411px; background-position: 0.15503875968992248% 39.51734539969834%; background-size: 279.1666666666667% 261.3138686131387%; background-image: url(jee_mn_22_jan_2026_s2_0.png);padding: 0; }
div.je_mn_22_jan_2026_s2_q_67::after {max-width:360px; width:100%;height:0;padding: 0 0 114.16666666666667% 0;}
.je_mn_22_jan_2026_s2_q_70 {max-width:300px; max-height:145px; }
.je_mn_22_jan_2026_s2_q_70::after {content: '\00a0';display: inline-block; width:300px; height:145px; background-position: 42.836879432624116% 77.61033369214209%; background-size: 335% 740.6896551724138%; background-image: url(jee_mn_22_jan_2026_s2_0.png);padding: 0; }
div.je_mn_22_jan_2026_s2_q_70::after {max-width:300px; width:100%;height:0;padding: 0 0 48.333333333333336% 0;}

@keyframes je_mn_22_jan_2026_s2_q-frames {
    0% { background-position: 56.12403100775194% 31.108597285067873%;  }
    12.5% { background-position: 51.347517730496456% 56.829268292682926%;  }
    25% { background-position: 66.44628099173553% 0.1044932079414838%;  }
    37.5% { background-position: 0.1652892561983471% 0.12285012285012285%;  }
    50% { background-position: 66.44628099173553% 20.159680638722556%;  }
    62.5% { background-position: 66.44628099173553% 11.995967741935484%;  }
    75% { background-position: 0.15503875968992248% 39.51734539969834%;  }
    87.5% { background-position: 42.836879432624116% 77.61033369214209%;  }
}

.je_mn_22_jan_2026_s2_q-animation {
    max-width: 360px;
    max-height: 190px;
}
.je_mn_22_jan_2026_s2_q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 360px;
    height: 190px;
    padding: 0;
    background-image: url(jee_mn_22_jan_2026_s2_0.png);
    background-size: 279.1666666666667% 565.2631578947369%; 
    animation-name: je_mn_22_jan_2026_s2_q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.je_mn_22_jan_2026_s2_q-animation::after {
    max-width: 360px;
    width: 100%;
    height: 0;
    padding: 0 0 52.77777777777778% 0;
}

/* $TexturePacker:SmartUpdate:68af51c71004cb94a450eb433fca1e14:839537d87a30b9d795573be2c5965187:6c24526a1eb64468a1157394bdd4b197$ */
