/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.je_mn_24_jan_2026_s2_q_27 {max-width:200px; max-height:216px; }
.je_mn_24_jan_2026_s2_q_27::after {content: '\00a0';display: inline-block; width:200px; height:216px; background-position: 37.60896637608966% 82.41626794258373%; background-size: 501.5% 487.037037037037%; background-image: url(jee_mn_24_jan_2026_s2_0.png);padding: 0; }
div.je_mn_24_jan_2026_s2_q_27::after {max-width:200px; width:100%;height:0;padding: 0 0 108% 0;}
.je_mn_24_jan_2026_s2_q_28 {max-width:200px; max-height:174px; }
.je_mn_24_jan_2026_s2_q_28::after {content: '\00a0';display: inline-block; width:200px; height:174px; background-position: 62.640099626400996% 98.0637813211845%; background-size: 501.5% 604.5977011494252%; background-image: url(jee_mn_24_jan_2026_s2_0.png);padding: 0; }
div.je_mn_24_jan_2026_s2_q_28::after {max-width:200px; width:100%;height:0;padding: 0 0 87% 0;}
.je_mn_24_jan_2026_s2_q_28a {max-width:200px; max-height:158px; }
.je_mn_24_jan_2026_s2_q_28a::after {content: '\00a0';display: inline-block; width:200px; height:158px; background-position: 87.67123287671232% 93.84787472035794%; background-size: 501.5% 665.8227848101266%; background-image: url(jee_mn_24_jan_2026_s2_0.png);padding: 0; }
div.je_mn_24_jan_2026_s2_q_28a::after {max-width:200px; width:100%;height:0;padding: 0 0 79% 0;}
.je_mn_24_jan_2026_s2_q_28b {max-width:200px; max-height:161px; }
.je_mn_24_jan_2026_s2_q_28b::after {content: '\00a0';display: inline-block; width:200px; height:161px; background-position: 87.67123287671232% 75.98204264870931%; background-size: 501.5% 653.416149068323%; background-image: url(jee_mn_24_jan_2026_s2_0.png);padding: 0; }
div.je_mn_24_jan_2026_s2_q_28b::after {max-width:200px; width:100%;height:0;padding: 0 0 80.5% 0;}
.je_mn_24_jan_2026_s2_q_28c {max-width:200px; max-height:183px; }
.je_mn_24_jan_2026_s2_q_28c::after {content: '\00a0';display: inline-block; width:200px; height:183px; background-position: 62.640099626400996% 77.90563866513233%; background-size: 501.5% 574.8633879781421%; background-image: url(jee_mn_24_jan_2026_s2_0.png);padding: 0; }
div.je_mn_24_jan_2026_s2_q_28c::after {max-width:200px; width:100%;height:0;padding: 0 0 91.5% 0;}
.je_mn_24_jan_2026_s2_q_28d {max-width:200px; max-height:145px; }
.je_mn_24_jan_2026_s2_q_28d::after {content: '\00a0';display: inline-block; width:200px; height:145px; background-position: 37.60896637608966% 99.88974641675854%; background-size: 501.5% 725.5172413793103%; background-image: url(jee_mn_24_jan_2026_s2_0.png);padding: 0; }
div.je_mn_24_jan_2026_s2_q_28d::after {max-width:200px; width:100%;height:0;padding: 0 0 72.5% 0;}
.je_mn_24_jan_2026_s2_q_30 {max-width:360px; max-height:200px; }
.je_mn_24_jan_2026_s2_q_30::after {content: '\00a0';display: inline-block; width:360px; height:200px; background-position: 93.62363919129082% 26.173708920187792%; background-size: 278.6111111111111% 526%; background-image: url(jee_mn_24_jan_2026_s2_0.png);padding: 0; }
div.je_mn_24_jan_2026_s2_q_30::after {max-width:360px; width:100%;height:0;padding: 0 0 55.55555555555556% 0;}
.je_mn_24_jan_2026_s2_q_31 {max-width:300px; max-height:77px; }
.je_mn_24_jan_2026_s2_q_31::after {content: '\00a0';display: inline-block; width:300px; height:77px; background-position: 0.1422475106685633% 93.33333333333333%; background-size: 334.3333333333333% 1366.2337662337663%; background-image: url(jee_mn_24_jan_2026_s2_0.png);padding: 0; }
div.je_mn_24_jan_2026_s2_q_31::after {max-width:300px; width:100%;height:0;padding: 0 0 25.666666666666668% 0;}
.je_mn_24_jan_2026_s2_q_32 {max-width:500px; max-height:156px; }
.je_mn_24_jan_2026_s2_q_32::after {content: '\00a0';display: inline-block; width:500px; height:156px; background-position: 99.80119284294234% 47.32142857142857%; background-size: 200.6% 674.3589743589744%; background-image: url(jee_mn_24_jan_2026_s2_0.png);padding: 0; }
div.je_mn_24_jan_2026_s2_q_32::after {max-width:500px; width:100%;height:0;padding: 0 0 31.2% 0;}
.je_mn_24_jan_2026_s2_q_36 {max-width:300px; max-height:220px; }
.je_mn_24_jan_2026_s2_q_36::after {content: '\00a0';display: inline-block; width:300px; height:220px; background-position: 0.1422475106685633% 82.8125%; background-size: 334.3333333333333% 478.1818181818182%; background-image: url(jee_mn_24_jan_2026_s2_0.png);padding: 0; }
div.je_mn_24_jan_2026_s2_q_36::after {max-width:300px; width:100%;height:0;padding: 0 0 73.33333333333333% 0;}
.je_mn_24_jan_2026_s2_q_44 {max-width:360px; max-height:221px; }
.je_mn_24_jan_2026_s2_q_44::after {content: '\00a0';display: inline-block; width:360px; height:221px; background-position: 93.62363919129082% 0.12033694344163658%; background-size: 278.6111111111111% 476.0180995475113%; background-image: url(jee_mn_24_jan_2026_s2_0.png);padding: 0; }
div.je_mn_24_jan_2026_s2_q_44::after {max-width:360px; width:100%;height:0;padding: 0 0 61.388888888888886% 0;}
.je_mn_24_jan_2026_s2_q_47 {max-width:500px; max-height:95px; }
.je_mn_24_jan_2026_s2_q_47::after {content: '\00a0';display: inline-block; width:500px; height:95px; background-position: 99.80119284294234% 60.71055381400209%; background-size: 200.6% 1107.3684210526317%; background-image: url(jee_mn_24_jan_2026_s2_0.png);padding: 0; }
div.je_mn_24_jan_2026_s2_q_47::after {max-width:500px; width:100%;height:0;padding: 0 0 19% 0;}
.je_mn_24_jan_2026_s2_q_51 {max-width:500px; max-height:163px; }
.je_mn_24_jan_2026_s2_q_51::after {content: '\00a0';display: inline-block; width:500px; height:163px; background-position: 0.1988071570576541% 35.20809898762655%; background-size: 200.6% 645.398773006135%; background-image: url(jee_mn_24_jan_2026_s2_0.png);padding: 0; }
div.je_mn_24_jan_2026_s2_q_51::after {max-width:500px; width:100%;height:0;padding: 0 0 32.6% 0;}
.je_mn_24_jan_2026_s2_q_57a {max-width:500px; max-height:125px; }
.je_mn_24_jan_2026_s2_q_57a::after {content: '\00a0';display: inline-block; width:500px; height:125px; background-position: 0.1988071570576541% 51.45631067961165%; background-size: 200.6% 841.6%; background-image: url(jee_mn_24_jan_2026_s2_0.png);padding: 0; }
div.je_mn_24_jan_2026_s2_q_57a::after {max-width:500px; width:100%;height:0;padding: 0 0 25% 0;}
.je_mn_24_jan_2026_s2_q_57b {max-width:500px; max-height:85px; }
.je_mn_24_jan_2026_s2_q_57b::after {content: '\00a0';display: inline-block; width:500px; height:85px; background-position: 0.1988071570576541% 62.35780765253361%; background-size: 200.6% 1237.6470588235295%; background-image: url(jee_mn_24_jan_2026_s2_0.png);padding: 0; }
div.je_mn_24_jan_2026_s2_q_57b::after {max-width:500px; width:100%;height:0;padding: 0 0 17% 0;}
.je_mn_24_jan_2026_s2_q_64 {max-width:600px; max-height:311px; }
.je_mn_24_jan_2026_s2_q_64::after {content: '\00a0';display: inline-block; width:600px; height:311px; background-position: 0.24813895781637718% 0.1349527665317139%; background-size: 167.16666666666666% 338.2636655948553%; background-image: url(jee_mn_24_jan_2026_s2_0.png);padding: 0; }
div.je_mn_24_jan_2026_s2_q_64::after {max-width:600px; width:100%;height:0;padding: 0 0 51.833333333333336% 0;}

@keyframes je_mn_24_jan_2026_s2_q-frames {
    0% { background-position: 37.60896637608966% 82.41626794258373%;  }
    10% { background-position: 62.640099626400996% 98.0637813211845%;  }
    20% { background-position: 93.62363919129082% 26.173708920187792%;  }
    30% { background-position: 0.1422475106685633% 93.33333333333333%;  }
    40% { background-position: 99.80119284294234% 47.32142857142857%;  }
    50% { background-position: 0.1422475106685633% 82.8125%;  }
    60% { background-position: 93.62363919129082% 0.12033694344163658%;  }
    70% { background-position: 99.80119284294234% 60.71055381400209%;  }
    80% { background-position: 0.1988071570576541% 35.20809898762655%;  }
    90% { background-position: 0.24813895781637718% 0.1349527665317139%;  }
}

.je_mn_24_jan_2026_s2_q-animation {
    max-width: 200px;
    max-height: 216px;
}
.je_mn_24_jan_2026_s2_q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 200px;
    height: 216px;
    padding: 0;
    background-image: url(jee_mn_24_jan_2026_s2_0.png);
    background-size: 501.5% 487.037037037037%; 
    animation-name: je_mn_24_jan_2026_s2_q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.je_mn_24_jan_2026_s2_q-animation::after {
    max-width: 200px;
    width: 100%;
    height: 0;
    padding: 0 0 108% 0;
}

/* $TexturePacker:SmartUpdate:ff84c42d5af5977eb2fe6a91de4e20c7:99a22ae53bcb6c61836a407c87168178:30372bf4067a3e1f177ba57b8e05d700$ */
