/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.je_mn_22_jan_2026_s1_q_28 {max-width:360px; max-height:167px; }
.je_mn_22_jan_2026_s1_q_28::after {content: '\00a0';display: inline-block; width:360px; height:167px; background-position: 0.15527950310559005% 96.56387665198238%; background-size: 278.8888888888889% 779.6407185628742%; background-image: url(jee_mn_22_jan_2026_s1_0.png);padding: 0; }
div.je_mn_22_jan_2026_s1_q_28::after {max-width:360px; width:100%;height:0;padding: 0 0 46.388888888888886% 0;}
.je_mn_22_jan_2026_s1_q_30 {max-width:360px; max-height:355px; }
.je_mn_22_jan_2026_s1_q_30::after {content: '\00a0';display: inline-block; width:360px; height:355px; background-position: 0.15527950310559005% 0.10559662090813093%; background-size: 278.8888888888889% 366.76056338028167%; background-image: url(jee_mn_22_jan_2026_s1_0.png);padding: 0; }
div.je_mn_22_jan_2026_s1_q_30::after {max-width:360px; width:100%;height:0;padding: 0 0 98.61111111111111% 0;}
.je_mn_22_jan_2026_s1_q_31 {max-width:360px; max-height:215px; }
.je_mn_22_jan_2026_s1_q_31::after {content: '\00a0';display: inline-block; width:360px; height:215px; background-position: 0.15527950310559005% 80.95676172953083%; background-size: 278.8888888888889% 605.5813953488372%; background-image: url(jee_mn_22_jan_2026_s1_0.png);padding: 0; }
div.je_mn_22_jan_2026_s1_q_31::after {max-width:360px; width:100%;height:0;padding: 0 0 59.72222222222222% 0;}
.je_mn_22_jan_2026_s1_q_38 {max-width:360px; max-height:167px; }
.je_mn_22_jan_2026_s1_q_38::after {content: '\00a0';display: inline-block; width:360px; height:167px; background-position: 46.8944099378882% 42.90748898678414%; background-size: 278.8888888888889% 779.6407185628742%; background-image: url(jee_mn_22_jan_2026_s1_0.png);padding: 0; }
div.je_mn_22_jan_2026_s1_q_38::after {max-width:360px; width:100%;height:0;padding: 0 0 46.388888888888886% 0;}
.je_mn_22_jan_2026_s1_q_42 {max-width:300px; max-height:293px; }
.je_mn_22_jan_2026_s1_q_42::after {content: '\00a0';display: inline-block; width:300px; height:293px; background-position: 0.14204545454545456% 35.38156590683845%; background-size: 334.6666666666667% 444.36860068259386%; background-image: url(jee_mn_22_jan_2026_s1_0.png);padding: 0; }
div.je_mn_22_jan_2026_s1_q_42::after {max-width:300px; width:100%;height:0;padding: 0 0 97.66666666666667% 0;}
.je_mn_22_jan_2026_s1_q_44 {max-width:300px; max-height:228px; }
.je_mn_22_jan_2026_s1_q_44::after {content: '\00a0';display: inline-block; width:300px; height:228px; background-position: 0.14204545454545456% 60.614525139664806%; background-size: 334.6666666666667% 571.0526315789474%; background-image: url(jee_mn_22_jan_2026_s1_0.png);padding: 0; }
div.je_mn_22_jan_2026_s1_q_44::after {max-width:300px; width:100%;height:0;padding: 0 0 76% 0;}
.je_mn_22_jan_2026_s1_q_45 {max-width:300px; max-height:168px; }
.je_mn_22_jan_2026_s1_q_45::after {content: '\00a0';display: inline-block; width:300px; height:168px; background-position: 99.85795454545455% 53.880070546737215%; background-size: 334.6666666666667% 775%; background-image: url(jee_mn_22_jan_2026_s1_0.png);padding: 0; }
div.je_mn_22_jan_2026_s1_q_45::after {max-width:300px; width:100%;height:0;padding: 0 0 56% 0;}
.je_mn_22_jan_2026_s1_q_47 {max-width:300px; max-height:211px; }
.je_mn_22_jan_2026_s1_q_47::after {content: '\00a0';display: inline-block; width:300px; height:211px; background-position: 94.17613636363636% 0.09165902841429881%; background-size: 334.6666666666667% 617.0616113744076%; background-image: url(jee_mn_22_jan_2026_s1_0.png);padding: 0; }
div.je_mn_22_jan_2026_s1_q_47::after {max-width:300px; width:100%;height:0;padding: 0 0 70.33333333333333% 0;}
.je_mn_22_jan_2026_s1_q_53 {max-width:200px; max-height:208px; }
.je_mn_22_jan_2026_s1_q_53::after {content: '\00a0';display: inline-block; width:200px; height:208px; background-position: 45.024875621890544% 73.76599634369288%; background-size: 502% 625.9615384615385%; background-image: url(jee_mn_22_jan_2026_s1_0.png);padding: 0; }
div.je_mn_22_jan_2026_s1_q_53::after {max-width:200px; width:100%;height:0;padding: 0 0 104% 0;}
.je_mn_22_jan_2026_s1_q_58 {max-width:400px; max-height:151px; }
.je_mn_22_jan_2026_s1_q_58::after {content: '\00a0';display: inline-block; width:400px; height:151px; background-position: 50% 56.90703735881842%; background-size: 251% 862.2516556291391%; background-image: url(jee_mn_22_jan_2026_s1_0.png);padding: 0; }
div.je_mn_22_jan_2026_s1_q_58::after {max-width:400px; width:100%;height:0;padding: 0 0 37.75% 0;}
.je_mn_22_jan_2026_s1_q_62a {max-width:200px; max-height:179px; }
.je_mn_22_jan_2026_s1_q_62a::after {content: '\00a0';display: inline-block; width:200px; height:179px; background-position: 70.02487562189054% 84.06055209260909%; background-size: 502% 727.3743016759777%; background-image: url(jee_mn_22_jan_2026_s1_0.png);padding: 0; }
div.je_mn_22_jan_2026_s1_q_62a::after {max-width:200px; width:100%;height:0;padding: 0 0 89.5% 0;}
.je_mn_22_jan_2026_s1_q_62b {max-width:200px; max-height:179px; }
.je_mn_22_jan_2026_s1_q_62b::after {content: '\00a0';display: inline-block; width:200px; height:179px; background-position: 95.02487562189054% 84.06055209260909%; background-size: 502% 727.3743016759777%; background-image: url(jee_mn_22_jan_2026_s1_0.png);padding: 0; }
div.je_mn_22_jan_2026_s1_q_62b::after {max-width:200px; width:100%;height:0;padding: 0 0 89.5% 0;}
.je_mn_22_jan_2026_s1_q_62c {max-width:200px; max-height:177px; }
.je_mn_22_jan_2026_s1_q_62c::after {content: '\00a0';display: inline-block; width:200px; height:177px; background-position: 70.02487562189054% 99.91111111111111%; background-size: 502% 735.5932203389831%; background-image: url(jee_mn_22_jan_2026_s1_0.png);padding: 0; }
div.je_mn_22_jan_2026_s1_q_62c::after {max-width:200px; width:100%;height:0;padding: 0 0 88.5% 0;}
.je_mn_22_jan_2026_s1_q_62d {max-width:200px; max-height:184px; }
.je_mn_22_jan_2026_s1_q_62d::after {content: '\00a0';display: inline-block; width:200px; height:184px; background-position: 45.024875621890544% 90.87656529516994%; background-size: 502% 707.6086956521739%; background-image: url(jee_mn_22_jan_2026_s1_0.png);padding: 0; }
div.je_mn_22_jan_2026_s1_q_62d::after {max-width:200px; width:100%;height:0;padding: 0 0 92% 0;}
.je_mn_22_jan_2026_s1_q_69a {max-width:300px; max-height:203px; }
.je_mn_22_jan_2026_s1_q_69a::after {content: '\00a0';display: inline-block; width:300px; height:203px; background-position: 51.42045454545455% 25.75068243858053%; background-size: 334.6666666666667% 641.3793103448276%; background-image: url(jee_mn_22_jan_2026_s1_0.png);padding: 0; }
div.je_mn_22_jan_2026_s1_q_69a::after {max-width:300px; width:100%;height:0;padding: 0 0 67.66666666666667% 0;}
.je_mn_22_jan_2026_s1_q_69b {max-width:300px; max-height:281px; }
.je_mn_22_jan_2026_s1_q_69b::after {content: '\00a0';display: inline-block; width:300px; height:281px; background-position: 51.42045454545455% 0.0979431929480901%; background-size: 334.6666666666667% 463.34519572953735%; background-image: url(jee_mn_22_jan_2026_s1_0.png);padding: 0; }
div.je_mn_22_jan_2026_s1_q_69b::after {max-width:300px; width:100%;height:0;padding: 0 0 93.66666666666667% 0;}
.je_mn_22_jan_2026_s1_q_69c {max-width:300px; max-height:201px; }
.je_mn_22_jan_2026_s1_q_69c::after {content: '\00a0';display: inline-block; width:300px; height:201px; background-position: 94.17613636363636% 19.346049046321525%; background-size: 334.6666666666667% 647.7611940298508%; background-image: url(jee_mn_22_jan_2026_s1_0.png);padding: 0; }
div.je_mn_22_jan_2026_s1_q_69c::after {max-width:300px; width:100%;height:0;padding: 0 0 67% 0;}
.je_mn_22_jan_2026_s1_q_69d {max-width:300px; max-height:163px; }
.je_mn_22_jan_2026_s1_q_69d::after {content: '\00a0';display: inline-block; width:300px; height:163px; background-position: 99.85795454545455% 68.4811237928007%; background-size: 334.6666666666667% 798.7730061349694%; background-image: url(jee_mn_22_jan_2026_s1_0.png);padding: 0; }
div.je_mn_22_jan_2026_s1_q_69d::after {max-width:300px; width:100%;height:0;padding: 0 0 54.333333333333336% 0;}
.je_mn_22_jan_2026_s1_q_70 {max-width:300px; max-height:195px; }
.je_mn_22_jan_2026_s1_q_70::after {content: '\00a0';display: inline-block; width:300px; height:195px; background-position: 94.17613636363636% 37.48870822041554%; background-size: 334.6666666666667% 667.6923076923077%; background-image: url(jee_mn_22_jan_2026_s1_0.png);padding: 0; }
div.je_mn_22_jan_2026_s1_q_70::after {max-width:300px; width:100%;height:0;padding: 0 0 65% 0;}

@keyframes je_mn_22_jan_2026_s1_q-frames {
    0% { background-position: 0.15527950310559005% 96.56387665198238%;  }
    9.090909090909092% { background-position: 0.15527950310559005% 0.10559662090813093%;  }
    18.181818181818183% { background-position: 0.15527950310559005% 80.95676172953083%;  }
    27.27272727272727% { background-position: 46.8944099378882% 42.90748898678414%;  }
    36.36363636363637% { background-position: 0.14204545454545456% 35.38156590683845%;  }
    45.45454545454545% { background-position: 0.14204545454545456% 60.614525139664806%;  }
    54.54545454545454% { background-position: 99.85795454545455% 53.880070546737215%;  }
    63.63636363636363% { background-position: 94.17613636363636% 0.09165902841429881%;  }
    72.72727272727273% { background-position: 45.024875621890544% 73.76599634369288%;  }
    81.81818181818183% { background-position: 50% 56.90703735881842%;  }
    90.9090909090909% { background-position: 94.17613636363636% 37.48870822041554%;  }
}

.je_mn_22_jan_2026_s1_q-animation {
    max-width: 360px;
    max-height: 167px;
}
.je_mn_22_jan_2026_s1_q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 360px;
    height: 167px;
    padding: 0;
    background-image: url(jee_mn_22_jan_2026_s1_0.png);
    background-size: 278.8888888888889% 779.6407185628742%; 
    animation-name: je_mn_22_jan_2026_s1_q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.je_mn_22_jan_2026_s1_q-animation::after {
    max-width: 360px;
    width: 100%;
    height: 0;
    padding: 0 0 46.388888888888886% 0;
}

/* $TexturePacker:SmartUpdate:c2a1a6a62e3e5011a2bf343deee7bf7e:d88ccfe566b43ab5e21e2da516907330:c2f769cb6e0e7784fd0200c734ecd7d3$ */
