/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.je_mn_23_jan_2026_s1_q_28 {max-width:300px; max-height:226px; }
.je_mn_23_jan_2026_s1_q_28::after {content: '\00a0';display: inline-block; width:300px; height:226px; background-position: 0.14184397163120568% 47.35576923076923%; background-size: 335% 652.212389380531%; background-image: url(jee_mn_23_jan_2026_s1_0.png);padding: 0; }
div.je_mn_23_jan_2026_s1_q_28::after {max-width:300px; width:100%;height:0;padding: 0 0 75.33333333333333% 0;}
.je_mn_23_jan_2026_s1_q_29 {max-width:400px; max-height:107px; }
.je_mn_23_jan_2026_s1_q_29::after {content: '\00a0';display: inline-block; width:400px; height:107px; background-position: 33.388429752066116% 81.19970738844184%; background-size: 251.25% 1377.5700934579438%; background-image: url(jee_mn_23_jan_2026_s1_0.png);padding: 0; }
div.je_mn_23_jan_2026_s1_q_29::after {max-width:400px; width:100%;height:0;padding: 0 0 26.75% 0;}
.je_mn_23_jan_2026_s1_q_33 {max-width:300px; max-height:138px; }
.je_mn_23_jan_2026_s1_q_33::after {content: '\00a0';display: inline-block; width:300px; height:138px; background-position: 0.14184397163120568% 72.38023952095809%; background-size: 335% 1068.1159420289855%; background-image: url(jee_mn_23_jan_2026_s1_0.png);padding: 0; }
div.je_mn_23_jan_2026_s1_q_33::after {max-width:300px; width:100%;height:0;padding: 0 0 46% 0;}
.je_mn_23_jan_2026_s1_q_36 {max-width:300px; max-height:289px; }
.je_mn_23_jan_2026_s1_q_36::after {content: '\00a0';display: inline-block; width:300px; height:289px; background-position: 94.04255319148936% 25.738396624472575%; background-size: 335% 510.03460207612454%; background-image: url(jee_mn_23_jan_2026_s1_0.png);padding: 0; }
div.je_mn_23_jan_2026_s1_q_36::after {max-width:300px; width:100%;height:0;padding: 0 0 96.33333333333333% 0;}
.je_mn_23_jan_2026_s1_q_39 {max-width:300px; max-height:162px; }
.je_mn_23_jan_2026_s1_q_39::after {content: '\00a0';display: inline-block; width:300px; height:162px; background-position: 42.836879432624116% 61.051829268292686%; background-size: 335% 909.8765432098766%; background-image: url(jee_mn_23_jan_2026_s1_0.png);padding: 0; }
div.je_mn_23_jan_2026_s1_q_39::after {max-width:300px; width:100%;height:0;padding: 0 0 54% 0;}
.je_mn_23_jan_2026_s1_q_41 {max-width:200px; max-height:198px; }
.je_mn_23_jan_2026_s1_q_41::after {content: '\00a0';display: inline-block; width:200px; height:198px; background-position: 0.12422360248447205% 86.67711598746081%; background-size: 502.5% 744.4444444444445%; background-image: url(jee_mn_23_jan_2026_s1_0.png);padding: 0; }
div.je_mn_23_jan_2026_s1_q_41::after {max-width:200px; width:100%;height:0;padding: 0 0 99% 0;}
.je_mn_23_jan_2026_s1_q_42 {max-width:200px; max-height:182px; }
.je_mn_23_jan_2026_s1_q_42::after {content: '\00a0';display: inline-block; width:200px; height:182px; background-position: 62.36024844720497% 99.84520123839009%; background-size: 502.5% 809.8901098901099%; background-image: url(jee_mn_23_jan_2026_s1_0.png);padding: 0; }
div.je_mn_23_jan_2026_s1_q_42::after {max-width:200px; width:100%;height:0;padding: 0 0 91% 0;}
.je_mn_23_jan_2026_s1_q_47 {max-width:360px; max-height:270px; }
.je_mn_23_jan_2026_s1_q_47::after {content: '\00a0';display: inline-block; width:360px; height:270px; background-position: 0.15503875968992248% 0.08305647840531562%; background-size: 279.1666666666667% 545.925925925926%; background-image: url(jee_mn_23_jan_2026_s1_0.png);padding: 0; }
div.je_mn_23_jan_2026_s1_q_47::after {max-width:360px; width:100%;height:0;padding: 0 0 75% 0;}
.je_mn_23_jan_2026_s1_q_50 {max-width:300px; max-height:148px; }
.je_mn_23_jan_2026_s1_q_50::after {content: '\00a0';display: inline-block; width:300px; height:148px; background-position: 0.14184397163120568% 61.68929110105581%; background-size: 335% 995.9459459459459%; background-image: url(jee_mn_23_jan_2026_s1_0.png);padding: 0; }
div.je_mn_23_jan_2026_s1_q_50::after {max-width:300px; width:100%;height:0;padding: 0 0 49.333333333333336% 0;}
.je_mn_23_jan_2026_s1_q_52a {max-width:300px; max-height:303px; }
.je_mn_23_jan_2026_s1_q_52a::after {content: '\00a0';display: inline-block; width:300px; height:303px; background-position: 94.04255319148936% 0.08539709649871904%; background-size: 335% 486.4686468646865%; background-image: url(jee_mn_23_jan_2026_s1_0.png);padding: 0; }
div.je_mn_23_jan_2026_s1_q_52a::after {max-width:300px; width:100%;height:0;padding: 0 0 101% 0;}
.je_mn_23_jan_2026_s1_q_52b {max-width:300px; max-height:318px; }
.je_mn_23_jan_2026_s1_q_52b::after {content: '\00a0';display: inline-block; width:300px; height:318px; background-position: 0.14184397163120568% 23.529411764705884%; background-size: 335% 463.52201257861634%; background-image: url(jee_mn_23_jan_2026_s1_0.png);padding: 0; }
div.je_mn_23_jan_2026_s1_q_52b::after {max-width:300px; width:100%;height:0;padding: 0 0 106% 0;}
.je_mn_23_jan_2026_s1_q_52c {max-width:300px; max-height:289px; }
.je_mn_23_jan_2026_s1_q_52c::after {content: '\00a0';display: inline-block; width:300px; height:289px; background-position: 42.836879432624116% 27.426160337552744%; background-size: 335% 510.03460207612454%; background-image: url(jee_mn_23_jan_2026_s1_0.png);padding: 0; }
div.je_mn_23_jan_2026_s1_q_52c::after {max-width:300px; width:100%;height:0;padding: 0 0 96.33333333333333% 0;}
.je_mn_23_jan_2026_s1_q_52d {max-width:300px; max-height:323px; }
.je_mn_23_jan_2026_s1_q_52d::after {content: '\00a0';display: inline-block; width:300px; height:323px; background-position: 51.347517730496456% 0.08688097306689835%; background-size: 335% 456.3467492260062%; background-image: url(jee_mn_23_jan_2026_s1_0.png);padding: 0; }
div.je_mn_23_jan_2026_s1_q_52d::after {max-width:300px; width:100%;height:0;padding: 0 0 107.66666666666667% 0;}
.je_mn_23_jan_2026_s1_q_61 {max-width:500px; max-height:140px; }
.je_mn_23_jan_2026_s1_q_61::after {content: '\00a0';display: inline-block; width:500px; height:140px; background-position: 0.19801980198019803% 97.82608695652173%; background-size: 201% 1052.857142857143%; background-image: url(jee_mn_23_jan_2026_s1_0.png);padding: 0; }
div.je_mn_23_jan_2026_s1_q_61::after {max-width:500px; width:100%;height:0;padding: 0 0 28% 0;}
.je_mn_23_jan_2026_s1_q_62 {max-width:400px; max-height:143px; }
.je_mn_23_jan_2026_s1_q_62::after {content: '\00a0';display: inline-block; width:400px; height:143px; background-position: 99.6694214876033% 69.045830202855%; background-size: 251.25% 1030.7692307692307%; background-image: url(jee_mn_23_jan_2026_s1_0.png);padding: 0; }
div.je_mn_23_jan_2026_s1_q_62::after {max-width:400px; width:100%;height:0;padding: 0 0 35.75% 0;}
.je_mn_23_jan_2026_s1_q_63 {max-width:400px; max-height:147px; }
.je_mn_23_jan_2026_s1_q_63::after {content: '\00a0';display: inline-block; width:400px; height:147px; background-position: 99.6694214876033% 58.10097965335343%; background-size: 251.25% 1002.7210884353741%; background-image: url(jee_mn_23_jan_2026_s1_0.png);padding: 0; }
div.je_mn_23_jan_2026_s1_q_63::after {max-width:400px; width:100%;height:0;padding: 0 0 36.75% 0;}
.je_mn_23_jan_2026_s1_q_65 {max-width:400px; max-height:71px; }
.je_mn_23_jan_2026_s1_q_65::after {content: '\00a0';display: inline-block; width:400px; height:71px; background-position: 33.388429752066116% 86.81397006414825%; background-size: 251.25% 2076.056338028169%; background-image: url(jee_mn_23_jan_2026_s1_0.png);padding: 0; }
div.je_mn_23_jan_2026_s1_q_65::after {max-width:400px; width:100%;height:0;padding: 0 0 17.75% 0;}
.je_mn_23_jan_2026_s1_q_65a {max-width:200px; max-height:155px; }
.je_mn_23_jan_2026_s1_q_65a::after {content: '\00a0';display: inline-block; width:200px; height:155px; background-position: 74.90683229813665% 80.59135708870356%; background-size: 502.5% 950.9677419354839%; background-image: url(jee_mn_23_jan_2026_s1_0.png);padding: 0; }
div.je_mn_23_jan_2026_s1_q_65a::after {max-width:200px; width:100%;height:0;padding: 0 0 77.5% 0;}
.je_mn_23_jan_2026_s1_q_65b {max-width:200px; max-height:103px; }
.je_mn_23_jan_2026_s1_q_65b::after {content: '\00a0';display: inline-block; width:200px; height:103px; background-position: 87.32919254658385% 99.927060539752%; background-size: 502.5% 1431.0679611650485%; background-image: url(jee_mn_23_jan_2026_s1_0.png);padding: 0; }
div.je_mn_23_jan_2026_s1_q_65b::after {max-width:200px; width:100%;height:0;padding: 0 0 51.5% 0;}
.je_mn_23_jan_2026_s1_q_65c {max-width:200px; max-height:150px; }
.je_mn_23_jan_2026_s1_q_65c::after {content: '\00a0';display: inline-block; width:200px; height:150px; background-position: 87.32919254658385% 92.06948640483384%; background-size: 502.5% 982.6666666666666%; background-image: url(jee_mn_23_jan_2026_s1_0.png);padding: 0; }
div.je_mn_23_jan_2026_s1_q_65c::after {max-width:200px; width:100%;height:0;padding: 0 0 75% 0;}
.je_mn_23_jan_2026_s1_q_65d {max-width:200px; max-height:146px; }
.je_mn_23_jan_2026_s1_q_65d::after {content: '\00a0';display: inline-block; width:200px; height:146px; background-position: 99.87577639751552% 80.04518072289157%; background-size: 502.5% 1009.5890410958904%; background-image: url(jee_mn_23_jan_2026_s1_0.png);padding: 0; }
div.je_mn_23_jan_2026_s1_q_65d::after {max-width:200px; width:100%;height:0;padding: 0 0 73% 0;}
.je_mn_23_jan_2026_s1_q_66 {max-width:360px; max-height:175px; }
.je_mn_23_jan_2026_s1_q_66::after {content: '\00a0';display: inline-block; width:360px; height:175px; background-position: 93.48837209302326% 45.8044649730562%; background-size: 279.1666666666667% 842.2857142857143%; background-image: url(jee_mn_23_jan_2026_s1_0.png);padding: 0; }
div.je_mn_23_jan_2026_s1_q_66::after {max-width:360px; width:100%;height:0;padding: 0 0 48.611111111111114% 0;}
.je_mn_23_jan_2026_s1_q_68 {max-width:300px; max-height:145px; }
.je_mn_23_jan_2026_s1_q_68::after {content: '\00a0';display: inline-block; width:300px; height:145px; background-position: 42.836879432624116% 72.53574115876599%; background-size: 335% 1016.551724137931%; background-image: url(jee_mn_23_jan_2026_s1_0.png);padding: 0; }
div.je_mn_23_jan_2026_s1_q_68::after {max-width:300px; width:100%;height:0;padding: 0 0 48.333333333333336% 0;}
.je_mn_23_jan_2026_s1_q_73 {max-width:300px; max-height:185px; }
.je_mn_23_jan_2026_s1_q_73::after {content: '\00a0';display: inline-block; width:300px; height:185px; background-position: 42.836879432624116% 47.71140418929403%; background-size: 335% 796.7567567567568%; background-image: url(jee_mn_23_jan_2026_s1_0.png);padding: 0; }
div.je_mn_23_jan_2026_s1_q_73::after {max-width:300px; width:100%;height:0;padding: 0 0 61.666666666666664% 0;}

@keyframes je_mn_23_jan_2026_s1_q-frames {
    0% { background-position: 0.14184397163120568% 47.35576923076923%;  }
    6.25% { background-position: 33.388429752066116% 81.19970738844184%;  }
    12.5% { background-position: 0.14184397163120568% 72.38023952095809%;  }
    18.75% { background-position: 94.04255319148936% 25.738396624472575%;  }
    25% { background-position: 42.836879432624116% 61.051829268292686%;  }
    31.25% { background-position: 0.12422360248447205% 86.67711598746081%;  }
    37.5% { background-position: 62.36024844720497% 99.84520123839009%;  }
    43.75% { background-position: 0.15503875968992248% 0.08305647840531562%;  }
    50% { background-position: 0.14184397163120568% 61.68929110105581%;  }
    56.25% { background-position: 0.19801980198019803% 97.82608695652173%;  }
    62.5% { background-position: 99.6694214876033% 69.045830202855%;  }
    68.75% { background-position: 99.6694214876033% 58.10097965335343%;  }
    75% { background-position: 33.388429752066116% 86.81397006414825%;  }
    81.25% { background-position: 93.48837209302326% 45.8044649730562%;  }
    87.5% { background-position: 42.836879432624116% 72.53574115876599%;  }
    93.75% { background-position: 42.836879432624116% 47.71140418929403%;  }
}

.je_mn_23_jan_2026_s1_q-animation {
    max-width: 300px;
    max-height: 226px;
}
.je_mn_23_jan_2026_s1_q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 300px;
    height: 226px;
    padding: 0;
    background-image: url(jee_mn_23_jan_2026_s1_0.png);
    background-size: 335% 652.212389380531%; 
    animation-name: je_mn_23_jan_2026_s1_q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.je_mn_23_jan_2026_s1_q-animation::after {
    max-width: 300px;
    width: 100%;
    height: 0;
    padding: 0 0 75.33333333333333% 0;
}

/* $TexturePacker:SmartUpdate:e937d9f9d468a053f53e73fc8e6cad10:21a400359154031ae94cc6ebdacb8a30:30be68b3a2331921b949ec250d47136f$ */
