/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.je_mn_21_jan_2026_s2_q_28 {max-width:200px; max-height:447px; }
.je_mn_21_jan_2026_s2_q_28::after {content: '\00a0';display: inline-block; width:200px; height:447px; background-position: 0.14204545454545456% 0.17793594306049823%; background-size: 452% 225.72706935123043%; background-image: url(jee_mn_21_jan_2026_s2_0.png);padding: 0; }
div.je_mn_21_jan_2026_s2_q_28::after {max-width:200px; width:100%;height:0;padding: 0 0 223.5% 0;}
.je_mn_21_jan_2026_s2_q_29 {max-width:300px; max-height:86px; }
.je_mn_21_jan_2026_s2_q_29::after {content: '\00a0';display: inline-block; width:300px; height:86px; background-position: 33.443708609271525% 99.56663055254604%; background-size: 301.3333333333333% 1173.2558139534883%; background-image: url(jee_mn_21_jan_2026_s2_0.png);padding: 0; }
div.je_mn_21_jan_2026_s2_q_29::after {max-width:300px; width:100%;height:0;padding: 0 0 28.666666666666668% 0;}
.je_mn_21_jan_2026_s2_q_31 {max-width:300px; max-height:255px; }
.je_mn_21_jan_2026_s2_q_31::after {content: '\00a0';display: inline-block; width:300px; height:255px; background-position: 33.443708609271525% 27.453580901856764%; background-size: 301.3333333333333% 395.6862745098039%; background-image: url(jee_mn_21_jan_2026_s2_0.png);padding: 0; }
div.je_mn_21_jan_2026_s2_q_31::after {max-width:300px; width:100%;height:0;padding: 0 0 85% 0;}
.je_mn_21_jan_2026_s2_q_43 {max-width:300px; max-height:150px; }
.je_mn_21_jan_2026_s2_q_43::after {content: '\00a0';display: inline-block; width:300px; height:150px; background-position: 83.27814569536424% 70.19790454016298%; background-size: 301.3333333333333% 672.6666666666666%; background-image: url(jee_mn_21_jan_2026_s2_0.png);padding: 0; }
div.je_mn_21_jan_2026_s2_q_43::after {max-width:300px; width:100%;height:0;padding: 0 0 50% 0;}
.je_mn_21_jan_2026_s2_q_49 {max-width:200px; max-height:296px; }
.je_mn_21_jan_2026_s2_q_49::after {content: '\00a0';display: inline-block; width:200px; height:296px; background-position: 0.14204545454545456% 62.97335203366059%; background-size: 452% 340.8783783783784%; background-image: url(jee_mn_21_jan_2026_s2_0.png);padding: 0; }
div.je_mn_21_jan_2026_s2_q_49::after {max-width:200px; width:100%;height:0;padding: 0 0 148% 0;}
.je_mn_21_jan_2026_s2_q_50 {max-width:200px; max-height:262px; }
.je_mn_21_jan_2026_s2_q_50::after {content: '\00a0';display: inline-block; width:200px; height:262px; background-position: 0.14204545454545456% 99.8661311914324%; background-size: 452% 385.1145038167939%; background-image: url(jee_mn_21_jan_2026_s2_0.png);padding: 0; }
div.je_mn_21_jan_2026_s2_q_50::after {max-width:200px; width:100%;height:0;padding: 0 0 131% 0;}
.je_mn_21_jan_2026_s2_q_54a {max-width:300px; max-height:161px; }
.je_mn_21_jan_2026_s2_q_54a::after {content: '\00a0';display: inline-block; width:300px; height:161px; background-position: 83.27814569536424% 52.00471698113208%; background-size: 301.3333333333333% 626.7080745341615%; background-image: url(jee_mn_21_jan_2026_s2_0.png);padding: 0; }
div.je_mn_21_jan_2026_s2_q_54a::after {max-width:300px; width:100%;height:0;padding: 0 0 53.666666666666664% 0;}
.je_mn_21_jan_2026_s2_q_54b {max-width:200px; max-height:80px; }
.je_mn_21_jan_2026_s2_q_54b::after {content: '\00a0';display: inline-block; width:200px; height:80px; background-position: 71.44886363636364% 95.58665231431647%; background-size: 452% 1261.25%; background-image: url(jee_mn_21_jan_2026_s2_0.png);padding: 0; }
div.je_mn_21_jan_2026_s2_q_54b::after {max-width:200px; width:100%;height:0;padding: 0 0 40% 0;}
.je_mn_21_jan_2026_s2_q_56 {max-width:360px; max-height:133px; }
.je_mn_21_jan_2026_s2_q_56::after {content: '\00a0';display: inline-block; width:360px; height:133px; background-position: 92.46323529411765% 86.0730593607306%; background-size: 251.11111111111111% 758.6466165413534%; background-image: url(jee_mn_21_jan_2026_s2_0.png);padding: 0; }
div.je_mn_21_jan_2026_s2_q_56::after {max-width:360px; width:100%;height:0;padding: 0 0 36.94444444444444% 0;}
.je_mn_21_jan_2026_s2_q_60a {max-width:300px; max-height:228px; }
.je_mn_21_jan_2026_s2_q_60a::after {content: '\00a0';display: inline-block; width:300px; height:228px; background-position: 33.443708609271525% 59.28297055057619%; background-size: 301.3333333333333% 442.5438596491228%; background-image: url(jee_mn_21_jan_2026_s2_0.png);padding: 0; }
div.je_mn_21_jan_2026_s2_q_60a::after {max-width:300px; width:100%;height:0;padding: 0 0 76% 0;}
.je_mn_21_jan_2026_s2_q_60b {max-width:300px; max-height:210px; }
.je_mn_21_jan_2026_s2_q_60b::after {content: '\00a0';display: inline-block; width:300px; height:210px; background-position: 83.27814569536424% 28.785982478097623%; background-size: 301.3333333333333% 480.4761904761905%; background-image: url(jee_mn_21_jan_2026_s2_0.png);padding: 0; }
div.je_mn_21_jan_2026_s2_q_60b::after {max-width:300px; width:100%;height:0;padding: 0 0 70% 0;}
.je_mn_21_jan_2026_s2_q_60c {max-width:300px; max-height:226px; }
.je_mn_21_jan_2026_s2_q_60c::after {content: '\00a0';display: inline-block; width:300px; height:226px; background-position: 33.443708609271525% 88.37803320561942%; background-size: 301.3333333333333% 446.46017699115043%; background-image: url(jee_mn_21_jan_2026_s2_0.png);padding: 0; }
div.je_mn_21_jan_2026_s2_q_60c::after {max-width:300px; width:100%;height:0;padding: 0 0 75.33333333333333% 0;}
.je_mn_21_jan_2026_s2_q_60d {max-width:300px; max-height:228px; }
.je_mn_21_jan_2026_s2_q_60d::after {content: '\00a0';display: inline-block; width:300px; height:228px; background-position: 99.83443708609272% 0.12804097311139565%; background-size: 301.3333333333333% 442.5438596491228%; background-image: url(jee_mn_21_jan_2026_s2_0.png);padding: 0; }
div.je_mn_21_jan_2026_s2_q_60d::after {max-width:300px; width:100%;height:0;padding: 0 0 76% 0;}
.je_mn_21_jan_2026_s2_q_68 {max-width:400px; max-height:205px; }
.je_mn_21_jan_2026_s2_q_68::after {content: '\00a0';display: inline-block; width:400px; height:205px; background-position: 40.07936507936508% 0.12437810945273632%; background-size: 226% 492.1951219512195%; background-image: url(jee_mn_21_jan_2026_s2_0.png);padding: 0; }
div.je_mn_21_jan_2026_s2_q_68::after {max-width:400px; width:100%;height:0;padding: 0 0 51.25% 0;}

@keyframes je_mn_21_jan_2026_s2_q-frames {
    0% { background-position: 0.14204545454545456% 0.17793594306049823%;  }
    12.5% { background-position: 33.443708609271525% 99.56663055254604%;  }
    25% { background-position: 33.443708609271525% 27.453580901856764%;  }
    37.5% { background-position: 83.27814569536424% 70.19790454016298%;  }
    50% { background-position: 0.14204545454545456% 62.97335203366059%;  }
    62.5% { background-position: 0.14204545454545456% 99.8661311914324%;  }
    75% { background-position: 92.46323529411765% 86.0730593607306%;  }
    87.5% { background-position: 40.07936507936508% 0.12437810945273632%;  }
}

.je_mn_21_jan_2026_s2_q-animation {
    max-width: 200px;
    max-height: 447px;
}
.je_mn_21_jan_2026_s2_q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 200px;
    height: 447px;
    padding: 0;
    background-image: url(jee_mn_21_jan_2026_s2_0.png);
    background-size: 452% 225.72706935123043%; 
    animation-name: je_mn_21_jan_2026_s2_q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.je_mn_21_jan_2026_s2_q-animation::after {
    max-width: 200px;
    width: 100%;
    height: 0;
    padding: 0 0 223.5% 0;
}

/* $TexturePacker:SmartUpdate:47396fddbcf61c851b7e429e34c89e88:15d8e3ffcfa1aca5915dac15c232b567:599b54ad6ef34210a1a8df1ab2131945$ */
