/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.je_mn_24_jan_2026_s1_q_37 {max-width:360px; max-height:225px; }
.je_mn_24_jan_2026_s1_q_37::after {content: '\00a0';display: inline-block; width:360px; height:225px; background-position: 99.84939759036145% 0.11123470522803114%; background-size: 284.44444444444446% 499.55555555555554%; background-image: url(jee_mn_24_jan_2026_s1_0.png);padding: 0; }
div.je_mn_24_jan_2026_s1_q_37::after {max-width:360px; width:100%;height:0;padding: 0 0 62.5% 0;}
.je_mn_24_jan_2026_s1_q_40 {max-width:300px; max-height:133px; }
.je_mn_24_jan_2026_s1_q_40::after {content: '\00a0';display: inline-block; width:300px; height:133px; background-position: 91.57458563535911% 22.906155398587284%; background-size: 341.3333333333333% 845.1127819548872%; background-image: url(jee_mn_24_jan_2026_s1_0.png);padding: 0; }
div.je_mn_24_jan_2026_s1_q_40::after {max-width:300px; width:100%;height:0;padding: 0 0 44.333333333333336% 0;}
.je_mn_24_jan_2026_s1_q_46 {max-width:300px; max-height:234px; }
.je_mn_24_jan_2026_s1_q_46::after {content: '\00a0';display: inline-block; width:300px; height:234px; background-position: 97.09944751381215% 40.561797752808985%; background-size: 341.3333333333333% 480.34188034188037%; background-image: url(jee_mn_24_jan_2026_s1_0.png);padding: 0; }
div.je_mn_24_jan_2026_s1_q_46::after {max-width:300px; width:100%;height:0;padding: 0 0 78% 0;}
.je_mn_24_jan_2026_s1_q_51 {max-width:200px; max-height:169px; }
.je_mn_24_jan_2026_s1_q_51::after {content: '\00a0';display: inline-block; width:200px; height:169px; background-position: 73.17961165048544% 99.3717277486911%; background-size: 512% 665.0887573964498%; background-image: url(jee_mn_24_jan_2026_s1_0.png);padding: 0; }
div.je_mn_24_jan_2026_s1_q_51::after {max-width:200px; width:100%;height:0;padding: 0 0 84.5% 0;}
.je_mn_24_jan_2026_s1_q_54a {max-width:300px; max-height:642px; }
.je_mn_24_jan_2026_s1_q_54a::after {content: '\00a0';display: inline-block; width:300px; height:642px; background-position: 0.13812154696132597% 0.2074688796680498%; background-size: 341.3333333333333% 175.0778816199377%; background-image: url(jee_mn_24_jan_2026_s1_0.png);padding: 0; }
div.je_mn_24_jan_2026_s1_q_54a::after {max-width:300px; width:100%;height:0;padding: 0 0 214% 0;}
.je_mn_24_jan_2026_s1_q_54b {max-width:300px; max-height:642px; }
.je_mn_24_jan_2026_s1_q_54b::after {content: '\00a0';display: inline-block; width:300px; height:642px; background-position: 0.13812154696132597% 0.2074688796680498%; background-size: 341.3333333333333% 175.0778816199377%; background-image: url(jee_mn_24_jan_2026_s1_0.png);padding: 0; }
div.je_mn_24_jan_2026_s1_q_54b::after {max-width:300px; width:100%;height:0;padding: 0 0 214% 0;}
.je_mn_24_jan_2026_s1_q_60a {max-width:300px; max-height:241px; }
.je_mn_24_jan_2026_s1_q_60a::after {content: '\00a0';display: inline-block; width:300px; height:241px; background-position: 41.71270718232044% 92.41223103057757%; background-size: 341.3333333333333% 466.3900414937759%; background-image: url(jee_mn_24_jan_2026_s1_0.png);padding: 0; }
div.je_mn_24_jan_2026_s1_q_60a::after {max-width:300px; width:100%;height:0;padding: 0 0 80.33333333333333% 0;}
.je_mn_24_jan_2026_s1_q_60b {max-width:300px; max-height:234px; }
.je_mn_24_jan_2026_s1_q_60b::after {content: '\00a0';display: inline-block; width:300px; height:234px; background-position: 97.09944751381215% 66.96629213483146%; background-size: 341.3333333333333% 480.34188034188037%; background-image: url(jee_mn_24_jan_2026_s1_0.png);padding: 0; }
div.je_mn_24_jan_2026_s1_q_60b::after {max-width:300px; width:100%;height:0;padding: 0 0 78% 0;}
.je_mn_24_jan_2026_s1_q_60c {max-width:300px; max-height:230px; }
.je_mn_24_jan_2026_s1_q_60c::after {content: '\00a0';display: inline-block; width:300px; height:230px; background-position: 0.13812154696132597% 99.88814317673378%; background-size: 341.3333333333333% 488.69565217391306%; background-image: url(jee_mn_24_jan_2026_s1_0.png);padding: 0; }
div.je_mn_24_jan_2026_s1_q_60c::after {max-width:300px; width:100%;height:0;padding: 0 0 76.66666666666667% 0;}
.je_mn_24_jan_2026_s1_q_60d {max-width:300px; max-height:248px; }
.je_mn_24_jan_2026_s1_q_60d::after {content: '\00a0';display: inline-block; width:300px; height:248px; background-position: 0.13812154696132597% 73.51598173515981%; background-size: 341.3333333333333% 453.2258064516129%; background-image: url(jee_mn_24_jan_2026_s1_0.png);padding: 0; }
div.je_mn_24_jan_2026_s1_q_60d::after {max-width:300px; width:100%;height:0;padding: 0 0 82.66666666666667% 0;}
.je_mn_24_jan_2026_s1_q_62 {max-width:400px; max-height:169px; }
.je_mn_24_jan_2026_s1_q_62::after {content: '\00a0';display: inline-block; width:400px; height:169px; background-position: 48.3974358974359% 67.64397905759162%; background-size: 256% 665.0887573964498%; background-image: url(jee_mn_24_jan_2026_s1_0.png);padding: 0; }
div.je_mn_24_jan_2026_s1_q_62::after {max-width:400px; width:100%;height:0;padding: 0 0 42.25% 0;}
.je_mn_24_jan_2026_s1_q_63 {max-width:360px; max-height:441px; }
.je_mn_24_jan_2026_s1_q_63::after {content: '\00a0';display: inline-block; width:360px; height:441px; background-position: 45.48192771084337% 0.14641288433382138%; background-size: 284.44444444444446% 254.87528344671202%; background-image: url(jee_mn_24_jan_2026_s1_0.png);padding: 0; }
div.je_mn_24_jan_2026_s1_q_63::after {max-width:360px; width:100%;height:0;padding: 0 0 122.5% 0;}
.je_mn_24_jan_2026_s1_q_65 {max-width:400px; max-height:117px; }
.je_mn_24_jan_2026_s1_q_65::after {content: '\00a0';display: inline-block; width:400px; height:117px; background-position: 96.63461538461539% 82.52234359483614%; background-size: 256% 960.6837606837607%; background-image: url(jee_mn_24_jan_2026_s1_0.png);padding: 0; }
div.je_mn_24_jan_2026_s1_q_65::after {max-width:400px; width:100%;height:0;padding: 0 0 29.25% 0;}
.je_mn_24_jan_2026_s1_q_67 {max-width:200px; max-height:102px; }
.je_mn_24_jan_2026_s1_q_67::after {content: '\00a0';display: inline-block; width:200px; height:102px; background-position: 97.57281553398059% 92.85714285714286%; background-size: 512% 1101.9607843137255%; background-image: url(jee_mn_24_jan_2026_s1_0.png);padding: 0; }
div.je_mn_24_jan_2026_s1_q_67::after {max-width:200px; width:100%;height:0;padding: 0 0 51% 0;}
.je_mn_24_jan_2026_s1_q_68 {max-width:400px; max-height:202px; }
.je_mn_24_jan_2026_s1_q_68::after {content: '\00a0';display: inline-block; width:400px; height:202px; background-position: 48.3974358974359% 48.04772234273319%; background-size: 256% 556.4356435643564%; background-image: url(jee_mn_24_jan_2026_s1_0.png);padding: 0; }
div.je_mn_24_jan_2026_s1_q_68::after {max-width:400px; width:100%;height:0;padding: 0 0 50.5% 0;}

@keyframes je_mn_24_jan_2026_s1_q-frames {
    0% { background-position: 99.84939759036145% 0.11123470522803114%;  }
    11.11111111111111% { background-position: 91.57458563535911% 22.906155398587284%;  }
    22.22222222222222% { background-position: 97.09944751381215% 40.561797752808985%;  }
    33.33333333333333% { background-position: 73.17961165048544% 99.3717277486911%;  }
    44.44444444444444% { background-position: 48.3974358974359% 67.64397905759162%;  }
    55.55555555555556% { background-position: 45.48192771084337% 0.14641288433382138%;  }
    66.66666666666666% { background-position: 96.63461538461539% 82.52234359483614%;  }
    77.77777777777779% { background-position: 97.57281553398059% 92.85714285714286%;  }
    88.88888888888889% { background-position: 48.3974358974359% 48.04772234273319%;  }
}

.je_mn_24_jan_2026_s1_q-animation {
    max-width: 360px;
    max-height: 225px;
}
.je_mn_24_jan_2026_s1_q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 360px;
    height: 225px;
    padding: 0;
    background-image: url(jee_mn_24_jan_2026_s1_0.png);
    background-size: 284.44444444444446% 499.55555555555554%; 
    animation-name: je_mn_24_jan_2026_s1_q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.je_mn_24_jan_2026_s1_q-animation::after {
    max-width: 360px;
    width: 100%;
    height: 0;
    padding: 0 0 62.5% 0;
}

/* $TexturePacker:SmartUpdate:34d8e9bd58fcc36a1177dfb44bc47bfc:e8d7e4d09a5db176fcba966a9512f3a1:f43aeb8e496cf65898aef369e5874134$ */
