/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.je_mn_21_jan_2026_s1_q_34 {max-width:360px; max-height:196px; }
.je_mn_21_jan_2026_s1_q_34::after {content: '\00a0';display: inline-block; width:360px; height:196px; background-position: 54.51807228915663% 57.53086419753087%; background-size: 284.44444444444446% 926.530612244898%; background-image: url(jee_mn_21_jan_2026_s1_0.png);padding: 0; }
div.je_mn_21_jan_2026_s1_q_34::after {max-width:360px; width:100%;height:0;padding: 0 0 54.44444444444444% 0;}
.je_mn_21_jan_2026_s1_q_39 {max-width:400px; max-height:360px; }
.je_mn_21_jan_2026_s1_q_39::after {content: '\00a0';display: inline-block; width:400px; height:360px; background-position: 0.16025641025641027% 0.06868131868131869%; background-size: 256% 504.44444444444446%; background-image: url(jee_mn_21_jan_2026_s1_0.png);padding: 0; }
div.je_mn_21_jan_2026_s1_q_39::after {max-width:400px; width:100%;height:0;padding: 0 0 90% 0;}
.je_mn_21_jan_2026_s1_q_42 {max-width:300px; max-height:158px; }
.je_mn_21_jan_2026_s1_q_42::after {content: '\00a0';display: inline-block; width:300px; height:158px; background-position: 0.13812154696132597% 74.60796139927623%; background-size: 341.3333333333333% 1149.367088607595%; background-image: url(jee_mn_21_jan_2026_s1_0.png);padding: 0; }
div.je_mn_21_jan_2026_s1_q_42::after {max-width:300px; width:100%;height:0;padding: 0 0 52.666666666666664% 0;}
.je_mn_21_jan_2026_s1_q_44 {max-width:300px; max-height:198px; }
.je_mn_21_jan_2026_s1_q_44::after {content: '\00a0';display: inline-block; width:300px; height:198px; background-position: 0.13812154696132597% 64.15327564894932%; background-size: 341.3333333333333% 917.1717171717172%; background-image: url(jee_mn_21_jan_2026_s1_0.png);padding: 0; }
div.je_mn_21_jan_2026_s1_q_44::after {max-width:300px; width:100%;height:0;padding: 0 0 66% 0;}
.je_mn_21_jan_2026_s1_q_45 {max-width:300px; max-height:211px; }
.je_mn_21_jan_2026_s1_q_45::after {content: '\00a0';display: inline-block; width:300px; height:211px; background-position: 99.86187845303867% 58.62928348909657%; background-size: 341.3333333333333% 860.6635071090047%; background-image: url(jee_mn_21_jan_2026_s1_0.png);padding: 0; }
div.je_mn_21_jan_2026_s1_q_45::after {max-width:300px; width:100%;height:0;padding: 0 0 70.33333333333333% 0;}
.je_mn_21_jan_2026_s1_q_48 {max-width:200px; max-height:300px; }
.je_mn_21_jan_2026_s1_q_48::after {content: '\00a0';display: inline-block; width:200px; height:300px; background-position: 92.59708737864078% 0.06596306068601583%; background-size: 512% 605.3333333333334%; background-image: url(jee_mn_21_jan_2026_s1_0.png);padding: 0; }
div.je_mn_21_jan_2026_s1_q_48::after {max-width:200px; width:100%;height:0;padding: 0 0 150% 0;}
.je_mn_21_jan_2026_s1_q_50 {max-width:300px; max-height:220px; }
.je_mn_21_jan_2026_s1_q_50::after {content: '\00a0';display: inline-block; width:300px; height:220px; background-position: 99.86187845303867% 45.11278195488722%; background-size: 341.3333333333333% 825.4545454545455%; background-image: url(jee_mn_21_jan_2026_s1_0.png);padding: 0; }
div.je_mn_21_jan_2026_s1_q_50::after {max-width:300px; width:100%;height:0;padding: 0 0 73.33333333333333% 0;}
.je_mn_21_jan_2026_s1_q_54a {max-width:300px; max-height:122px; }
.je_mn_21_jan_2026_s1_q_54a::after {content: '\00a0';display: inline-block; width:300px; height:122px; background-position: 0.13812154696132597% 82.40850059031877%; background-size: 341.3333333333333% 1488.5245901639344%; background-image: url(jee_mn_21_jan_2026_s1_0.png);padding: 0; }
div.je_mn_21_jan_2026_s1_q_54a::after {max-width:300px; width:100%;height:0;padding: 0 0 40.666666666666664% 0;}
.je_mn_21_jan_2026_s1_q_54b {max-width:300px; max-height:125px; }
.je_mn_21_jan_2026_s1_q_54b::after {content: '\00a0';display: inline-block; width:300px; height:125px; background-position: 41.71270718232044% 76.04967474866943%; background-size: 341.3333333333333% 1452.8%; background-image: url(jee_mn_21_jan_2026_s1_0.png);padding: 0; }
div.je_mn_21_jan_2026_s1_q_54b::after {max-width:300px; width:100%;height:0;padding: 0 0 41.666666666666664% 0;}
.je_mn_21_jan_2026_s1_q_54c {max-width:300px; max-height:113px; }
.je_mn_21_jan_2026_s1_q_54c::after {content: '\00a0';display: inline-block; width:300px; height:113px; background-position: 0.13812154696132597% 89.19553728714034%; background-size: 341.3333333333333% 1607.0796460176991%; background-image: url(jee_mn_21_jan_2026_s1_0.png);padding: 0; }
div.je_mn_21_jan_2026_s1_q_54c::after {max-width:300px; width:100%;height:0;padding: 0 0 37.666666666666664% 0;}
.je_mn_21_jan_2026_s1_q_54d {max-width:300px; max-height:122px; }
.je_mn_21_jan_2026_s1_q_54d::after {content: '\00a0';display: inline-block; width:300px; height:122px; background-position: 41.71270718232044% 83.3530106257379%; background-size: 341.3333333333333% 1488.5245901639344%; background-image: url(jee_mn_21_jan_2026_s1_0.png);padding: 0; }
div.je_mn_21_jan_2026_s1_q_54d::after {max-width:300px; width:100%;height:0;padding: 0 0 40.666666666666664% 0;}
.je_mn_21_jan_2026_s1_q_56a {max-width:500px; max-height:59px; }
.je_mn_21_jan_2026_s1_q_56a::after {content: '\00a0';display: inline-block; width:500px; height:59px; background-position: 0.19083969465648856% 99.94308480364258%; background-size: 204.8% 3077.9661016949153%; background-image: url(jee_mn_21_jan_2026_s1_0.png);padding: 0; }
div.je_mn_21_jan_2026_s1_q_56a::after {max-width:500px; width:100%;height:0;padding: 0 0 11.8% 0;}
.je_mn_21_jan_2026_s1_q_56b {max-width:500px; max-height:35px; }
.je_mn_21_jan_2026_s1_q_56b::after {content: '\00a0';display: inline-block; width:500px; height:35px; background-position: 95.80152671755725% 99.38236945536215%; background-size: 204.8% 5188.571428571428%; background-image: url(jee_mn_21_jan_2026_s1_0.png);padding: 0; }
div.je_mn_21_jan_2026_s1_q_56b::after {max-width:500px; width:100%;height:0;padding: 0 0 7% 0;}
.je_mn_21_jan_2026_s1_q_56c {max-width:500px; max-height:68px; }
.je_mn_21_jan_2026_s1_q_56c::after {content: '\00a0';display: inline-block; width:500px; height:68px; background-position: 95.80152671755725% 93.76430205949657%; background-size: 204.8% 2670.5882352941176%; background-image: url(jee_mn_21_jan_2026_s1_0.png);padding: 0; }
div.je_mn_21_jan_2026_s1_q_56c::after {max-width:500px; width:100%;height:0;padding: 0 0 13.6% 0;}
.je_mn_21_jan_2026_s1_q_56d {max-width:500px; max-height:61px; }
.je_mn_21_jan_2026_s1_q_56d::after {content: '\00a0';display: inline-block; width:500px; height:61px; background-position: 95.80152671755725% 97.32193732193733%; background-size: 204.8% 2977.0491803278687%; background-image: url(jee_mn_21_jan_2026_s1_0.png);padding: 0; }
div.je_mn_21_jan_2026_s1_q_56d::after {max-width:500px; width:100%;height:0;padding: 0 0 12.2% 0;}
.je_mn_21_jan_2026_s1_q_58a {max-width:360px; max-height:131px; }
.je_mn_21_jan_2026_s1_q_58a::after {content: '\00a0';display: inline-block; width:360px; height:131px; background-position: 99.84939759036145% 68.4272997032641%; background-size: 284.44444444444446% 1386.2595419847328%; background-image: url(jee_mn_21_jan_2026_s1_0.png);padding: 0; }
div.je_mn_21_jan_2026_s1_q_58a::after {max-width:360px; width:100%;height:0;padding: 0 0 36.388888888888886% 0;}
.je_mn_21_jan_2026_s1_q_58b {max-width:360px; max-height:118px; }
.je_mn_21_jan_2026_s1_q_58b::after {content: '\00a0';display: inline-block; width:360px; height:118px; background-position: 99.84939759036145% 75.67726737338045%; background-size: 284.44444444444446% 1538.9830508474577%; background-image: url(jee_mn_21_jan_2026_s1_0.png);padding: 0; }
div.je_mn_21_jan_2026_s1_q_58b::after {max-width:360px; width:100%;height:0;padding: 0 0 32.77777777777778% 0;}
.je_mn_21_jan_2026_s1_q_58c {max-width:360px; max-height:102px; }
.je_mn_21_jan_2026_s1_q_58c::after {content: '\00a0';display: inline-block; width:360px; height:102px; background-position: 90.8132530120482% 81.91365227537923%; background-size: 284.44444444444446% 1780.3921568627452%; background-image: url(jee_mn_21_jan_2026_s1_0.png);padding: 0; }
div.je_mn_21_jan_2026_s1_q_58c::after {max-width:360px; width:100%;height:0;padding: 0 0 28.333333333333332% 0;}
.je_mn_21_jan_2026_s1_q_58d {max-width:200px; max-height:120px; }
.je_mn_21_jan_2026_s1_q_58d::after {content: '\00a0';display: inline-block; width:200px; height:120px; background-position: 97.57281553398059% 88.85613207547169%; background-size: 512% 1513.3333333333333%; background-image: url(jee_mn_21_jan_2026_s1_0.png);padding: 0; }
div.je_mn_21_jan_2026_s1_q_58d::after {max-width:200px; width:100%;height:0;padding: 0 0 60% 0;}
.je_mn_21_jan_2026_s1_q_59a {max-width:360px; max-height:330px; }
.je_mn_21_jan_2026_s1_q_59a::after {content: '\00a0';display: inline-block; width:360px; height:330px; background-position: 0.15060240963855423% 47.57738896366084%; background-size: 284.44444444444446% 550.3030303030303%; background-image: url(jee_mn_21_jan_2026_s1_0.png);padding: 0; }
div.je_mn_21_jan_2026_s1_q_59a::after {max-width:360px; width:100%;height:0;padding: 0 0 91.66666666666667% 0;}
.je_mn_21_jan_2026_s1_q_59b {max-width:360px; max-height:356px; }
.je_mn_21_jan_2026_s1_q_59b::after {content: '\00a0';display: inline-block; width:360px; height:356px; background-position: 60.54216867469879% 0.0684931506849315%; background-size: 284.44444444444446% 510.1123595505618%; background-image: url(jee_mn_21_jan_2026_s1_0.png);padding: 0; }
div.je_mn_21_jan_2026_s1_q_59b::after {max-width:360px; width:100%;height:0;padding: 0 0 98.88888888888889% 0;}
.je_mn_21_jan_2026_s1_q_59c {max-width:360px; max-height:344px; }
.je_mn_21_jan_2026_s1_q_59c::after {content: '\00a0';display: inline-block; width:360px; height:344px; background-position: 0.15060240963855423% 24.592391304347824%; background-size: 284.44444444444446% 527.9069767441861%; background-image: url(jee_mn_21_jan_2026_s1_0.png);padding: 0; }
div.je_mn_21_jan_2026_s1_q_59c::after {max-width:360px; width:100%;height:0;padding: 0 0 95.55555555555556% 0;}
.je_mn_21_jan_2026_s1_q_59d {max-width:360px; max-height:350px; }
.je_mn_21_jan_2026_s1_q_59d::after {content: '\00a0';display: inline-block; width:360px; height:350px; background-position: 60.54216867469879% 24.42019099590723%; background-size: 284.44444444444446% 518.8571428571429%; background-image: url(jee_mn_21_jan_2026_s1_0.png);padding: 0; }
div.je_mn_21_jan_2026_s1_q_59d::after {max-width:360px; width:100%;height:0;padding: 0 0 97.22222222222223% 0;}
.je_mn_21_jan_2026_s1_q_60 {max-width:360px; max-height:222px; }
.je_mn_21_jan_2026_s1_q_60::after {content: '\00a0';display: inline-block; width:360px; height:222px; background-position: 54.51807228915663% 44.479297365119194%; background-size: 284.44444444444446% 818.018018018018%; background-image: url(jee_mn_21_jan_2026_s1_0.png);padding: 0; }
div.je_mn_21_jan_2026_s1_q_60::after {max-width:360px; width:100%;height:0;padding: 0 0 61.666666666666664% 0;}
.je_mn_21_jan_2026_s1_q_63 {max-width:360px; max-height:156px; }
.je_mn_21_jan_2026_s1_q_63::after {content: '\00a0';display: inline-block; width:360px; height:156px; background-position: 45.48192771084337% 68.01204819277109%; background-size: 284.44444444444446% 1164.1025641025642%; background-image: url(jee_mn_21_jan_2026_s1_0.png);padding: 0; }
div.je_mn_21_jan_2026_s1_q_63::after {max-width:360px; width:100%;height:0;padding: 0 0 43.333333333333336% 0;}
.je_mn_21_jan_2026_s1_q_63a {max-width:200px; max-height:135px; }
.je_mn_21_jan_2026_s1_q_63a::after {content: '\00a0';display: inline-block; width:200px; height:135px; background-position: 92.59708737864078% 34.7412254610351%; background-size: 512% 1345.1851851851852%; background-image: url(jee_mn_21_jan_2026_s1_0.png);padding: 0; }
div.je_mn_21_jan_2026_s1_q_63a::after {max-width:200px; width:100%;height:0;padding: 0 0 67.5% 0;}
.je_mn_21_jan_2026_s1_q_63b {max-width:200px; max-height:142px; }
.je_mn_21_jan_2026_s1_q_63b::after {content: '\00a0';display: inline-block; width:200px; height:142px; background-position: 92.59708737864078% 18.040621266427717%; background-size: 512% 1278.8732394366198%; background-image: url(jee_mn_21_jan_2026_s1_0.png);padding: 0; }
div.je_mn_21_jan_2026_s1_q_63b::after {max-width:200px; width:100%;height:0;padding: 0 0 71% 0;}
.je_mn_21_jan_2026_s1_q_63c {max-width:200px; max-height:131px; }
.je_mn_21_jan_2026_s1_q_63c::after {content: '\00a0';display: inline-block; width:200px; height:131px; background-position: 73.17961165048544% 89.43620178041543%; background-size: 512% 1386.2595419847328%; background-image: url(jee_mn_21_jan_2026_s1_0.png);padding: 0; }
div.je_mn_21_jan_2026_s1_q_63c::after {max-width:200px; width:100%;height:0;padding: 0 0 65.5% 0;}
.je_mn_21_jan_2026_s1_q_63d {max-width:200px; max-height:138px; }
.je_mn_21_jan_2026_s1_q_63d::after {content: '\00a0';display: inline-block; width:200px; height:138px; background-position: 92.59708737864078% 26.519666269368294%; background-size: 512% 1315.9420289855072%; background-image: url(jee_mn_21_jan_2026_s1_0.png);padding: 0; }
div.je_mn_21_jan_2026_s1_q_63d::after {max-width:200px; width:100%;height:0;padding: 0 0 69% 0;}
.je_mn_21_jan_2026_s1_q_75 {max-width:500px; max-height:122px; }
.je_mn_21_jan_2026_s1_q_75::after {content: '\00a0';display: inline-block; width:500px; height:122px; background-position: 0.19083969465648856% 96.39905548996458%; background-size: 204.8% 1488.5245901639344%; background-image: url(jee_mn_21_jan_2026_s1_0.png);padding: 0; }
div.je_mn_21_jan_2026_s1_q_75::after {max-width:500px; width:100%;height:0;padding: 0 0 24.4% 0;}

@keyframes je_mn_21_jan_2026_s1_q-frames {
    0% { background-position: 54.51807228915663% 57.53086419753087%;  }
    10% { background-position: 0.16025641025641027% 0.06868131868131869%;  }
    20% { background-position: 0.13812154696132597% 74.60796139927623%;  }
    30% { background-position: 0.13812154696132597% 64.15327564894932%;  }
    40% { background-position: 99.86187845303867% 58.62928348909657%;  }
    50% { background-position: 92.59708737864078% 0.06596306068601583%;  }
    60% { background-position: 99.86187845303867% 45.11278195488722%;  }
    70% { background-position: 54.51807228915663% 44.479297365119194%;  }
    80% { background-position: 45.48192771084337% 68.01204819277109%;  }
    90% { background-position: 0.19083969465648856% 96.39905548996458%;  }
}

.je_mn_21_jan_2026_s1_q-animation {
    max-width: 360px;
    max-height: 196px;
}
.je_mn_21_jan_2026_s1_q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 360px;
    height: 196px;
    padding: 0;
    background-image: url(jee_mn_21_jan_2026_s1_0.png);
    background-size: 284.44444444444446% 926.530612244898%; 
    animation-name: je_mn_21_jan_2026_s1_q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.je_mn_21_jan_2026_s1_q-animation::after {
    max-width: 360px;
    width: 100%;
    height: 0;
    padding: 0 0 54.44444444444444% 0;
}

/* $TexturePacker:SmartUpdate:37de38dc7b9ae6ee1e81612812283466:462b9d5791bef159c7f96e3ac5cf0b0c:bc95c6f85e162f18333d6c1110b39713$ */
