/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.je_mn_24_jan_2026_s2_q_44 {max-width:360px; max-height:221px; }
.je_mn_24_jan_2026_s2_q_44::after {content: '\00a0';display: inline-block; width:360px; height:221px; background-position: 55.015197568389056% 0.09699321047526673%; background-size: 282.77777777777777% 566.5158371040724%; background-image: url(p_12_magneticeffectsofcurr3_0.png);padding: 0; }
div.je_mn_24_jan_2026_s2_q_44::after {max-width:360px; width:100%;height:0;padding: 0 0 61.388888888888886% 0;}
.je_mn_28_jan_2026_s1_q_35 {max-width:300px; max-height:227px; }
.je_mn_28_jan_2026_s1_q_35::after {content: '\00a0';display: inline-block; width:300px; height:227px; background-position: 0.1392757660167131% 84.6829268292683%; background-size: 339.3333333333333% 551.5418502202643%; background-image: url(p_12_magneticeffectsofcurr3_0.png);padding: 0; }
div.je_mn_28_jan_2026_s1_q_35::after {max-width:300px; width:100%;height:0;padding: 0 0 75.66666666666667% 0;}
.jee_mn_22_jan_2025_s2_q_50 {max-width:300px; max-height:314px; }
.jee_mn_22_jan_2025_s2_q_50::after {content: '\00a0';display: inline-block; width:300px; height:314px; background-position: 0.1392757660167131% 27.398720682302773%; background-size: 339.3333333333333% 398.7261146496815%; background-image: url(p_12_magneticeffectsofcurr3_0.png);padding: 0; }
div.jee_mn_22_jan_2025_s2_q_50::after {max-width:300px; width:100%;height:0;padding: 0 0 104.66666666666667% 0;}
.jee_mn_24_jan_2025_s1_sol_48 {max-width:250px; max-height:295px; }
.jee_mn_24_jan_2025_s1_sol_48::after {content: '\00a0';display: inline-block; width:250px; height:295px; background-position: 0.13020833333333334% 59.770114942528735%; background-size: 407.2% 424.40677966101697%; background-image: url(p_12_magneticeffectsofcurr3_0.png);padding: 0; }
div.jee_mn_24_jan_2025_s1_sol_48::after {max-width:250px; width:100%;height:0;padding: 0 0 118% 0;}
.jee_mn_24_jan_2025_s2_q_36a {max-width:254px; max-height:156px; }
.jee_mn_24_jan_2025_s2_q_36a::after {content: '\00a0';display: inline-block; width:254px; height:156px; background-position: 99.86910994764398% 16.970802919708028%; background-size: 400.78740157480314% 802.5641025641025%; background-image: url(p_12_magneticeffectsofcurr3_0.png);padding: 0; }
div.jee_mn_24_jan_2025_s2_q_36a::after {max-width:254px; width:100%;height:0;padding: 0 0 61.41732283464567% 0;}
.jee_mn_24_jan_2025_s2_q_36b {max-width:255px; max-height:157px; }
.jee_mn_24_jan_2025_s2_q_36b::after {content: '\00a0';display: inline-block; width:255px; height:157px; background-position: 89.51507208387942% 98.2648401826484%; background-size: 399.2156862745098% 797.452229299363%; background-image: url(p_12_magneticeffectsofcurr3_0.png);padding: 0; }
div.jee_mn_24_jan_2025_s2_q_36b::after {max-width:255px; width:100%;height:0;padding: 0 0 61.568627450980394% 0;}
.jee_mn_24_jan_2025_s2_q_36c {max-width:259px; max-height:158px; }
.jee_mn_24_jan_2025_s2_q_36c::after {content: '\00a0';display: inline-block; width:259px; height:158px; background-position: 55.73122529644269% 96.43510054844607%; background-size: 393.05019305019306% 792.4050632911392%; background-image: url(p_12_magneticeffectsofcurr3_0.png);padding: 0; }
div.jee_mn_24_jan_2025_s2_q_36c::after {max-width:259px; width:100%;height:0;padding: 0 0 61.003861003861005% 0;}
.jee_mn_24_jan_2025_s2_q_36d {max-width:256px; max-height:155px; }
.jee_mn_24_jan_2025_s2_q_36d::after {content: '\00a0';display: inline-block; width:256px; height:155px; background-position: 97.9002624671916% 83.86508659981769%; background-size: 397.65625% 807.741935483871%; background-image: url(p_12_magneticeffectsofcurr3_0.png);padding: 0; }
div.jee_mn_24_jan_2025_s2_q_36d::after {max-width:256px; width:100%;height:0;padding: 0 0 60.546875% 0;}
.jee_mn_24_jan_2025_s2_q_39 {max-width:266px; max-height:184px; }
.jee_mn_24_jan_2025_s2_q_39::after {content: '\00a0';display: inline-block; width:266px; height:184px; background-position: 96.1436170212766% 0.09363295880149813%; background-size: 382.70676691729324% 680.4347826086956%; background-image: url(p_12_magneticeffectsofcurr3_0.png);padding: 0; }
div.jee_mn_24_jan_2025_s2_q_39::after {max-width:266px; width:100%;height:0;padding: 0 0 69.17293233082707% 0;}
.jee_mn_24_jan_2025_s2_sol_36 {max-width:317px; max-height:155px; }
.jee_mn_24_jan_2025_s2_sol_36::after {content: '\00a0';display: inline-block; width:317px; height:155px; background-position: 0.14265335235378032% 99.90884229717412%; background-size: 321.13564668769715% 807.741935483871%; background-image: url(p_12_magneticeffectsofcurr3_0.png);padding: 0; }
div.jee_mn_24_jan_2025_s2_sol_36::after {max-width:317px; width:100%;height:0;padding: 0 0 48.89589905362776% 0;}
.jee_mn_28_jan_2025_s1_sol_28 {max-width:103px; max-height:154px; }
.jee_mn_28_jan_2025_s1_sol_28::after {content: '\00a0';display: inline-block; width:103px; height:154px; background-position: 34.86338797814208% 94.44444444444444%; background-size: 988.3495145631068% 812.987012987013%; background-image: url(p_12_magneticeffectsofcurr3_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s1_sol_28::after {max-width:103px; width:100%;height:0;padding: 0 0 149.51456310679612% 0;}
.jee_mn_28_jan_2025_s2_q_36 {max-width:224px; max-height:145px; }
.jee_mn_28_jan_2025_s2_q_36::after {content: '\00a0';display: inline-block; width:224px; height:145px; background-position: 97.60705289672543% 69.91869918699187%; background-size: 454.4642857142857% 863.448275862069%; background-image: url(p_12_magneticeffectsofcurr3_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s2_q_36::after {max-width:224px; width:100%;height:0;padding: 0 0 64.73214285714286% 0;}
.jm_3_apr_2025_s1_q_46 {max-width:300px; max-height:167px; }
.jm_3_apr_2025_s1_q_46::after {content: '\00a0';display: inline-block; width:300px; height:167px; background-position: 92.33983286908078% 34.56221198156682%; background-size: 339.3333333333333% 749.7005988023952%; background-image: url(p_12_magneticeffectsofcurr3_0.png);padding: 0; }
div.jm_3_apr_2025_s1_q_46::after {max-width:300px; width:100%;height:0;padding: 0 0 55.666666666666664% 0;}
.jm_7_apr_2025_s1_q_30a {max-width:221px; max-height:230px; }
.jm_7_apr_2025_s1_q_30a::after {content: '\00a0';display: inline-block; width:221px; height:230px; background-position: 37.89209535759097% 78.86497064579257%; background-size: 460.6334841628959% 544.3478260869565%; background-image: url(p_12_magneticeffectsofcurr3_0.png);padding: 0; }
div.jm_7_apr_2025_s1_q_30a::after {max-width:221px; width:100%;height:0;padding: 0 0 104.07239819004525% 0;}
.jm_7_apr_2025_s1_q_30b {max-width:221px; max-height:230px; }
.jm_7_apr_2025_s1_q_30b::after {content: '\00a0';display: inline-block; width:221px; height:230px; background-position: 69.38519447929737% 58.02348336594912%; background-size: 460.6334841628959% 544.3478260869565%; background-image: url(p_12_magneticeffectsofcurr3_0.png);padding: 0; }
div.jm_7_apr_2025_s1_q_30b::after {max-width:221px; width:100%;height:0;padding: 0 0 104.07239819004525% 0;}
.jm_7_apr_2025_s1_q_30c {max-width:221px; max-height:230px; }
.jm_7_apr_2025_s1_q_30c::after {content: '\00a0';display: inline-block; width:221px; height:230px; background-position: 65.7465495608532% 80.62622309197651%; background-size: 460.6334841628959% 544.3478260869565%; background-image: url(p_12_magneticeffectsofcurr3_0.png);padding: 0; }
div.jm_7_apr_2025_s1_q_30c::after {max-width:221px; width:100%;height:0;padding: 0 0 104.07239819004525% 0;}
.jm_7_apr_2025_s1_q_30d {max-width:221px; max-height:230px; }
.jm_7_apr_2025_s1_q_30d::after {content: '\00a0';display: inline-block; width:221px; height:230px; background-position: 97.2396486825596% 53.13111545988259%; background-size: 460.6334841628959% 544.3478260869565%; background-image: url(p_12_magneticeffectsofcurr3_0.png);padding: 0; }
div.jm_7_apr_2025_s1_q_30d::after {max-width:221px; width:100%;height:0;padding: 0 0 104.07239819004525% 0;}
.jm_7_apr_2025_s1_q_37 {max-width:400px; max-height:151px; }
.jm_7_apr_2025_s1_q_37::after {content: '\00a0';display: inline-block; width:400px; height:151px; background-position: 58.57605177993528% 20.254314259763852%; background-size: 254.5% 829.1390728476821%; background-image: url(p_12_magneticeffectsofcurr3_0.png);padding: 0; }
div.jm_7_apr_2025_s1_q_37::after {max-width:400px; width:100%;height:0;padding: 0 0 37.75% 0;}
.jm_7_apr_2025_s1_sol_30 {max-width:221px; max-height:230px; }
.jm_7_apr_2025_s1_sol_30::after {content: '\00a0';display: inline-block; width:221px; height:230px; background-position: 97.2396486825596% 53.13111545988259%; background-size: 460.6334841628959% 544.3478260869565%; background-image: url(p_12_magneticeffectsofcurr3_0.png);padding: 0; }
div.jm_7_apr_2025_s1_sol_30::after {max-width:221px; width:100%;height:0;padding: 0 0 104.07239819004525% 0;}
.jm_7_apr_2025_s1_sol_37 {max-width:360px; max-height:217px; }
.jm_7_apr_2025_s1_sol_37::after {content: '\00a0';display: inline-block; width:360px; height:217px; background-position: 45.89665653495441% 36.231884057971016%; background-size: 282.77777777777777% 576.9585253456221%; background-image: url(p_12_magneticeffectsofcurr3_0.png);padding: 0; }
div.jm_7_apr_2025_s1_sol_37::after {max-width:360px; width:100%;height:0;padding: 0 0 60.27777777777778% 0;}
.jm_8_apr_2025_s1_q_30 {max-width:300px; max-height:212px; }
.jm_8_apr_2025_s1_q_30::after {content: '\00a0';display: inline-block; width:300px; height:212px; background-position: 35.0974930362117% 57.01923076923077%; background-size: 339.3333333333333% 590.566037735849%; background-image: url(p_12_magneticeffectsofcurr3_0.png);padding: 0; }
div.jm_8_apr_2025_s1_q_30::after {max-width:300px; width:100%;height:0;padding: 0 0 70.66666666666667% 0;}
.jm_8_apr_2025_s1_sol_30 {max-width:360px; max-height:255px; }
.jm_8_apr_2025_s1_sol_30::after {content: '\00a0';display: inline-block; width:360px; height:255px; background-position: 0.1519756838905775% 0.10030090270812438%; background-size: 282.77777777777777% 490.98039215686276%; background-image: url(p_12_magneticeffectsofcurr3_0.png);padding: 0; }
div.jm_8_apr_2025_s1_sol_30::after {max-width:360px; width:100%;height:0;padding: 0 0 70.83333333333333% 0;}

@keyframes jm_7_apr_2025_s1_sol-frames {
    0% { background-position: 97.2396486825596% 53.13111545988259%;  }
    50% { background-position: 45.89665653495441% 36.231884057971016%;  }
}

.jm_7_apr_2025_s1_sol-animation {
    max-width: 221px;
    max-height: 230px;
}
.jm_7_apr_2025_s1_sol-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 221px;
    height: 230px;
    padding: 0;
    background-image: url(p_12_magneticeffectsofcurr3_0.png);
    background-size: 460.6334841628959% 544.3478260869565%; 
    animation-name: jm_7_apr_2025_s1_sol-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.jm_7_apr_2025_s1_sol-animation::after {
    max-width: 221px;
    width: 100%;
    height: 0;
    padding: 0 0 104.07239819004525% 0;
}

/* $TexturePacker:SmartUpdate:a497adf04179491e380817ba13940416:40663606ac2850c41b3d5be17d79e654:4a6524c38ef3b72ab7507fea26ade4d6$ */
