/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.JEEMAINS_10APRIL_2023_S2_Q_49 {max-width:302px; max-height:247px; }
.JEEMAINS_10APRIL_2023_S2_Q_49::after {content: '\00a0';display: inline-block; width:302px; height:247px; background-position: 35.42234332425068% 0.4048582995951417%; background-size: 464.56953642384104% 200%; background-image: url(p_12_dualnature2_0.png);padding: 0; }
div.JEEMAINS_10APRIL_2023_S2_Q_49::after {max-width:302px; width:100%;height:0;padding: 0 0 81.78807947019868% 0;}
.JEEMAINS_10APRIL_2023_S2_S_49 {max-width:287px; max-height:278px; }
.JEEMAINS_10APRIL_2023_S2_S_49::after {content: '\00a0';display: inline-block; width:287px; height:278px; background-position: 80.64516129032258% 87.5%; background-size: 488.8501742160279% 177.6978417266187%; background-image: url(p_12_dualnature2_0.png);padding: 0; }
div.JEEMAINS_10APRIL_2023_S2_S_49::after {max-width:287px; width:100%;height:0;padding: 0 0 96.86411149825784% 0;}
.JEEMAINS_11APRIL_2023_S1_S_54 {max-width:307px; max-height:136px; }
.JEEMAINS_11APRIL_2023_S1_S_54::after {content: '\00a0';display: inline-block; width:307px; height:136px; background-position: 21.259124087591243% 75.41899441340782%; background-size: 457.00325732899023% 363.2352941176471%; background-image: url(p_12_dualnature2_0.png);padding: 0; }
div.JEEMAINS_11APRIL_2023_S1_S_54::after {max-width:307px; width:100%;height:0;padding: 0 0 44.299674267100976% 0;}
.JEE_MAIN_4APRIL_2024_S1_Q_40_O_1 {max-width:217px; max-height:187px; }
.JEE_MAIN_4APRIL_2024_S1_Q_40_O_1::after {content: '\00a0';display: inline-block; width:217px; height:187px; background-position: 58.43170320404722% 0.3257328990228013%; background-size: 646.5437788018434% 264.1711229946524%; background-image: url(p_12_dualnature2_0.png);padding: 0; }
div.JEE_MAIN_4APRIL_2024_S1_Q_40_O_1::after {max-width:217px; width:100%;height:0;padding: 0 0 86.17511520737327% 0;}
.JEE_MAIN_4APRIL_2024_S1_Q_40_O_2 {max-width:214px; max-height:177px; }
.JEE_MAIN_4APRIL_2024_S1_Q_40_O_2::after {content: '\00a0';display: inline-block; width:214px; height:177px; background-position: 99.91589571068124% 58.359621451104104%; background-size: 655.607476635514% 279.0960451977401%; background-image: url(p_12_dualnature2_0.png);padding: 0; }
div.JEE_MAIN_4APRIL_2024_S1_Q_40_O_2::after {max-width:214px; width:100%;height:0;padding: 0 0 82.71028037383178% 0;}
.JEE_MAIN_4APRIL_2024_S1_Q_40_O_3 {max-width:221px; max-height:181px; }
.JEE_MAIN_4APRIL_2024_S1_Q_40_O_3::after {content: '\00a0';display: inline-block; width:221px; height:181px; background-position: 77.07275803722504% 0.3194888178913738%; background-size: 634.841628959276% 272.9281767955801%; background-image: url(p_12_dualnature2_0.png);padding: 0; }
div.JEE_MAIN_4APRIL_2024_S1_Q_40_O_3::after {max-width:221px; width:100%;height:0;padding: 0 0 81.90045248868778% 0;}
.JEE_MAIN_4APRIL_2024_S1_Q_40_O_4 {max-width:212px; max-height:183px; }
.JEE_MAIN_4APRIL_2024_S1_Q_40_O_4::after {content: '\00a0';display: inline-block; width:212px; height:183px; background-position: 95.13014273719564% 0.3215434083601286%; background-size: 661.7924528301887% 269.94535519125685%; background-image: url(p_12_dualnature2_0.png);padding: 0; }
div.JEE_MAIN_4APRIL_2024_S1_Q_40_O_4::after {max-width:212px; width:100%;height:0;padding: 0 0 86.32075471698113% 0;}
.JEE_MAIN_5APRIL_2024_S1_Q_35 {max-width:231px; max-height:185px; }
.JEE_MAIN_5APRIL_2024_S1_Q_35::after {content: '\00a0';display: inline-block; width:231px; height:185px; background-position: 0.08532423208191127% 87.37864077669903%; background-size: 607.3593073593073% 267.02702702702703%; background-image: url(p_12_dualnature2_0.png);padding: 0; }
div.JEE_MAIN_5APRIL_2024_S1_Q_35::after {max-width:231px; width:100%;height:0;padding: 0 0 80.08658008658008% 0;}
.jee_mn_27_jul_2022_s2_47_sol {max-width:312px; max-height:86px; }
.jee_mn_27_jul_2022_s2_47_sol::after {content: '\00a0';display: inline-block; width:312px; height:86px; background-position: 21.35655362053162% 99.75490196078431%; background-size: 449.6794871794872% 574.4186046511628%; background-image: url(p_12_dualnature2_0.png);padding: 0; }
div.jee_mn_27_jul_2022_s2_47_sol::after {max-width:312px; width:100%;height:0;padding: 0 0 27.564102564102566% 0;}
.jee_mn_29_jan_2025_s1_q_34a {max-width:134px; max-height:129px; }
.jee_mn_29_jan_2025_s1_q_34a::after {content: '\00a0';display: inline-block; width:134px; height:129px; background-position: 60.283687943262414% 51.78082191780822%; background-size: 1047.0149253731342% 382.94573643410854%; background-image: url(p_12_dualnature2_0.png);padding: 0; }
div.jee_mn_29_jan_2025_s1_q_34a::after {max-width:134px; width:100%;height:0;padding: 0 0 96.26865671641791% 0;}
.jee_mn_29_jan_2025_s1_q_34b {max-width:139px; max-height:136px; }
.jee_mn_29_jan_2025_s1_q_34b::after {content: '\00a0';display: inline-block; width:139px; height:136px; background-position: 43.19620253164557% 95.53072625698324%; background-size: 1009.3525179856115% 363.2352941176471%; background-image: url(p_12_dualnature2_0.png);padding: 0; }
div.jee_mn_29_jan_2025_s1_q_34b::after {max-width:139px; width:100%;height:0;padding: 0 0 97.84172661870504% 0;}
.jee_mn_29_jan_2025_s1_q_34c {max-width:130px; max-height:130px; }
.jee_mn_29_jan_2025_s1_q_34c::after {content: '\00a0';display: inline-block; width:130px; height:130px; background-position: 93.32285938727415% 99.72527472527473%; background-size: 1079.2307692307693% 380%; background-image: url(p_12_dualnature2_0.png);padding: 0; }
div.jee_mn_29_jan_2025_s1_q_34c::after {max-width:130px; width:100%;height:0;padding: 0 0 100% 0;}
.jee_mn_29_jan_2025_s1_q_34d {max-width:137px; max-height:137px; }
.jee_mn_29_jan_2025_s1_q_34d::after {content: '\00a0';display: inline-block; width:137px; height:137px; background-position: 54.186413902053715% 95.7983193277311%; background-size: 1024.087591240876% 360.5839416058394%; background-image: url(p_12_dualnature2_0.png);padding: 0; }
div.jee_mn_29_jan_2025_s1_q_34d::after {max-width:137px; width:100%;height:0;padding: 0 0 100% 0;}
.jee_mn_30_jan_2024_s2_33 {max-width:388px; max-height:268px; }
.jee_mn_30_jan_2024_s2_33::after {content: '\00a0';display: inline-block; width:388px; height:268px; background-position: 0.09852216748768473% 0.4424778761061947%; background-size: 361.5979381443299% 184.32835820895522%; background-image: url(p_12_dualnature2_0.png);padding: 0; }
div.jee_mn_30_jan_2024_s2_33::after {max-width:388px; width:100%;height:0;padding: 0 0 69.0721649484536% 0;}
.jm_2_apr_2025_s1_sol_39 {max-width:223px; max-height:92px; }
.jm_2_apr_2025_s1_sol_39::after {content: '\00a0';display: inline-block; width:223px; height:92px; background-position: 45.847457627118644% 61.940298507462686%; background-size: 629.1479820627802% 536.9565217391304%; background-image: url(p_12_dualnature2_0.png);padding: 0; }
div.jm_2_apr_2025_s1_sol_39::after {max-width:223px; width:100%;height:0;padding: 0 0 41.25560538116592% 0;}

@keyframes JEE_MAIN_4APRIL_2024_S1_Q_40_O-frames {
    0% { background-position: 58.43170320404722% 0.3257328990228013%;  }
    25% { background-position: 99.91589571068124% 58.359621451104104%;  }
    50% { background-position: 77.07275803722504% 0.3194888178913738%;  }
    75% { background-position: 95.13014273719564% 0.3215434083601286%;  }
}

.JEE_MAIN_4APRIL_2024_S1_Q_40_O-animation {
    max-width: 217px;
    max-height: 187px;
}
.JEE_MAIN_4APRIL_2024_S1_Q_40_O-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 217px;
    height: 187px;
    padding: 0;
    background-image: url(p_12_dualnature2_0.png);
    background-size: 646.5437788018434% 264.1711229946524%; 
    animation-name: JEE_MAIN_4APRIL_2024_S1_Q_40_O-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEE_MAIN_4APRIL_2024_S1_Q_40_O-animation::after {
    max-width: 217px;
    width: 100%;
    height: 0;
    padding: 0 0 86.17511520737327% 0;
}

/* $TexturePacker:SmartUpdate:0d182f04cde6719752975f501775353c:0c2433c533335bc1d2a0bf7a4b1e2006:1c65593140bed4e85dfd295e31c301a0$ */
