/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.JEEM_17_Mar_S2_12 {max-width:246px; max-height:131px; }
.JEEM_17_Mar_S2_12::after {content: '\00a0';display: inline-block; width:246px; height:131px; background-position: 63.71625863151287% 33.5223245924876%; background-size: 747.560975609756% 1177.0992366412213%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.JEEM_17_Mar_S2_12::after {max-width:246px; width:100%;height:0;padding: 0 0 53.2520325203252% 0;}
.JEEM_18_Mar_S1_19sol {max-width:347px; max-height:131px; }
.JEEM_18_Mar_S1_19sol::after {content: '\00a0';display: inline-block; width:347px; height:131px; background-position: 87.33243967828419% 0.07087172218284904%; background-size: 529.9711815561959% 1177.0992366412213%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.JEEM_18_Mar_S1_19sol::after {max-width:347px; width:100%;height:0;padding: 0 0 37.752161383285305% 0;}
.JEEM_18_Mar_S1_6 {max-width:316px; max-height:152px; }
.JEEM_18_Mar_S1_6::after {content: '\00a0';display: inline-block; width:316px; height:152px; background-position: 29.152987524622457% 31.223021582733814%; background-size: 581.9620253164557% 1014.4736842105264%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.JEEM_18_Mar_S1_6::after {max-width:316px; width:100%;height:0;padding: 0 0 48.10126582278481% 0;}
.JEEM_18_Mar_S1_6sol {max-width:270px; max-height:118px; }
.JEEM_18_Mar_S1_6sol::after {content: '\00a0';display: inline-block; width:270px; height:118px; background-position: 19.43913320586361% 55.47752808988764%; background-size: 681.1111111111111% 1306.7796610169491%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.JEEM_18_Mar_S1_6sol::after {max-width:270px; width:100%;height:0;padding: 0 0 43.7037037037037% 0;}
.JEE_10_04_2019_P1_15_q {max-width:122px; max-height:136px; }
.JEE_10_04_2019_P1_15_q::after {content: '\00a0';display: inline-block; width:122px; height:136px; background-position: 99.00990099009901% 91.25177809388336%; background-size: 1507.377049180328% 1133.8235294117646%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.JEE_10_04_2019_P1_15_q::after {max-width:122px; width:100%;height:0;padding: 0 0 111.47540983606558% 0;}
.JEE_10_04_2019_P2_25_s {max-width:197px; max-height:168px; }
.JEE_10_04_2019_P2_25_s::after {content: '\00a0';display: inline-block; width:197px; height:168px; background-position: 92.50913520097443% 24.963609898107716%; background-size: 933.5025380710659% 917.8571428571429%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.JEE_10_04_2019_P2_25_s::after {max-width:197px; width:100%;height:0;padding: 0 0 85.27918781725889% 0;}
.JEE_10_04_2019_P2_6_q {max-width:118px; max-height:115px; }
.JEE_10_04_2019_P2_6_q::after {content: '\00a0';display: inline-block; width:118px; height:115px; background-position: 99.76757699012202% 19.551506657323056%; background-size: 1558.4745762711864% 1340.8695652173913%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.JEE_10_04_2019_P2_6_q::after {max-width:118px; width:100%;height:0;padding: 0 0 97.45762711864407% 0;}
.JEE_10_04_2019_P2_6_q_1 {max-width:103px; max-height:100px; }
.JEE_10_04_2019_P2_6_q_1::after {content: '\00a0';display: inline-block; width:103px; height:100px; background-position: 78.45622119815668% 99.58391123439667%; background-size: 1785.4368932038835% 1542%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.JEE_10_04_2019_P2_6_q_1::after {max-width:103px; width:100%;height:0;padding: 0 0 97.0873786407767% 0;}
.JEE_8_4_2019_P1_15_que {max-width:204px; max-height:88px; }
.JEE_8_4_2019_P1_15_que::after {content: '\00a0';display: inline-block; width:204px; height:88px; background-position: 86.78899082568807% 82.53094910591471%; background-size: 901.4705882352941% 1752.2727272727273%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.JEE_8_4_2019_P1_15_que::after {max-width:204px; width:100%;height:0;padding: 0 0 43.13725490196079% 0;}
.JEE_8_4_2019_P1_15_sol {max-width:108px; max-height:114px; }
.JEE_8_4_2019_P1_15_sol::after {content: '\00a0';display: inline-block; width:108px; height:114px; background-position: 97.4003466204506% 99.92997198879551%; background-size: 1702.7777777777778% 1352.6315789473683%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.JEE_8_4_2019_P1_15_sol::after {max-width:108px; width:100%;height:0;padding: 0 0 105.55555555555556% 0;}
.JEE_8_4_2019_P2_19_que {max-width:244px; max-height:175px; }
.JEE_8_4_2019_P2_19_que::after {content: '\00a0';display: inline-block; width:244px; height:175px; background-position: 79.87460815047022% 25.31089978054133%; background-size: 753.688524590164% 881.1428571428571%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.JEE_8_4_2019_P2_19_que::after {max-width:244px; width:100%;height:0;padding: 0 0 71.72131147540983% 0;}
.JEE_MAINS_2019_JAN12_S1_25 {max-width:239px; max-height:177px; }
.JEE_MAINS_2019_JAN12_S1_25::after {content: '\00a0';display: inline-block; width:239px; height:177px; background-position: 17.125% 98.97435897435898%; background-size: 769.4560669456067% 871.1864406779661%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.JEE_MAINS_2019_JAN12_S1_25::after {max-width:239px; width:100%;height:0;padding: 0 0 74.05857740585775% 0;}
.JEE_MAINS_2019_JAN9_S1_1 {max-width:127px; max-height:111px; }
.JEE_MAINS_2019_JAN9_S1_1::after {content: '\00a0';display: inline-block; width:127px; height:111px; background-position: 48.77336448598131% 65.61844863731656%; background-size: 1448.0314960629921% 1389.1891891891892%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.JEE_MAINS_2019_JAN9_S1_1::after {max-width:127px; width:100%;height:0;padding: 0 0 87.4015748031496% 0;}
.JEE_MAINS_2019_JAN9_S1_1sol {max-width:186px; max-height:144px; }
.JEE_MAINS_2019_JAN9_S1_1sol::after {content: '\00a0';display: inline-block; width:186px; height:144px; background-position: 99.87900786448881% 0.0715307582260372%; background-size: 988.7096774193549% 1070.8333333333333%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.JEE_MAINS_2019_JAN9_S1_1sol::after {max-width:186px; width:100%;height:0;padding: 0 0 77.41935483870968% 0;}
.JEE_MAINS_2019_JAN9_S1_24 {max-width:205px; max-height:101px; }
.JEE_MAINS_2019_JAN9_S1_24::after {content: '\00a0';display: inline-block; width:205px; height:101px; background-position: 98.47001223990208% 68.07772380291465%; background-size: 897.0731707317074% 1526.7326732673268%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.JEE_MAINS_2019_JAN9_S1_24::after {max-width:205px; width:100%;height:0;padding: 0 0 49.26829268292683% 0;}
.JEE_MAINS_2019_JAN9_S1_24sol {max-width:270px; max-height:66px; }
.JEE_MAINS_2019_JAN9_S1_24sol::after {content: '\00a0';display: inline-block; width:270px; height:66px; background-position: 83.04652644996813% 9.010840108401084%; background-size: 681.1111111111111% 2336.3636363636365%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.JEE_MAINS_2019_JAN9_S1_24sol::after {max-width:270px; width:100%;height:0;padding: 0 0 24.444444444444443% 0;}
.JEE_MAINS_2019_JAN9_S2_13 {max-width:311px; max-height:124px; }
.JEE_MAINS_2019_JAN9_S2_13::after {content: '\00a0';display: inline-block; width:311px; height:124px; background-position: 62.95811518324607% 24.541607898448518%; background-size: 591.3183279742765% 1243.5483870967741%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.JEE_MAINS_2019_JAN9_S2_13::after {max-width:311px; width:100%;height:0;padding: 0 0 39.87138263665595% 0;}
.JEE_Main_1_Sep_2021_Shift_2_20_Q {max-width:244px; max-height:236px; }
.JEE_Main_1_Sep_2021_Shift_2_20_Q::after {content: '\00a0';display: inline-block; width:244px; height:236px; background-position: 36.990595611285265% 44.946401225114855%; background-size: 753.688524590164% 653.3898305084746%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.JEE_Main_1_Sep_2021_Shift_2_20_Q::after {max-width:244px; width:100%;height:0;padding: 0 0 96.72131147540983% 0;}
.JEE_Main_1_Sep_2021_Shift_2_20_Q_1_S {max-width:198px; max-height:174px; }
.JEE_Main_1_Sep_2021_Shift_2_20_Q_1_S::after {content: '\00a0';display: inline-block; width:198px; height:174px; background-position: 61.852528945764774% 74.48830409356725%; background-size: 928.7878787878788% 886.2068965517242%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.JEE_Main_1_Sep_2021_Shift_2_20_Q_1_S::after {max-width:198px; width:100%;height:0;padding: 0 0 87.87878787878788% 0;}
.JEE_Main_26_Aug_2021_Shift_1_27_Q {max-width:163px; max-height:102px; }
.JEE_Main_26_Aug_2021_Shift_1_27_Q::after {content: '\00a0';display: inline-block; width:163px; height:102px; background-position: 96.89737470167064% 81.94444444444444%; background-size: 1128.2208588957055% 1511.764705882353%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.JEE_Main_26_Aug_2021_Shift_1_27_Q::after {max-width:163px; width:100%;height:0;padding: 0 0 62.576687116564415% 0;}
.JEE_Main_26_Aug_2021_Shift_1_27_Q_1_S {max-width:194px; max-height:107px; }
.JEE_Main_26_Aug_2021_Shift_1_27_Q_1_S::after {content: '\00a0';display: inline-block; width:194px; height:107px; background-position: 86.26139817629179% 76.09756097560975%; background-size: 947.9381443298969% 1441.1214953271028%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.JEE_Main_26_Aug_2021_Shift_1_27_Q_1_S::after {max-width:194px; width:100%;height:0;padding: 0 0 55.154639175257735% 0;}
.JEE_Main_26_Aug_2021_Shift_1_27_Q_2_S {max-width:204px; max-height:143px; }
.JEE_Main_26_Aug_2021_Shift_1_27_Q_2_S::after {content: '\00a0';display: inline-block; width:204px; height:143px; background-position: 74.25076452599389% 77.1265189421015%; background-size: 901.4705882352941% 1078.3216783216783%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.JEE_Main_26_Aug_2021_Shift_1_27_Q_2_S::after {max-width:204px; width:100%;height:0;padding: 0 0 70.09803921568627% 0;}
.JEE_Main_26_Aug_2021_Shift_2_27_Q_1_S {max-width:250px; max-height:156px; }
.JEE_Main_26_Aug_2021_Shift_2_27_Q_1_S::after {content: '\00a0';display: inline-block; width:250px; height:156px; background-position: 17.74701069855255% 78.57142857142857%; background-size: 735.6% 988.4615384615385%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.JEE_Main_26_Aug_2021_Shift_2_27_Q_1_S::after {max-width:250px; width:100%;height:0;padding: 0 0 62.4% 0;}
.JEE_Main_27_Aug_2021_Shift_1_15_Q_1_S {max-width:98px; max-height:161px; }
.JEE_Main_27_Aug_2021_Shift_1_15_Q_1_S::after {content: '\00a0';display: inline-block; width:98px; height:161px; background-position: 72.54451464675473% 99.9275887038378%; background-size: 1876.530612244898% 957.7639751552795%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.JEE_Main_27_Aug_2021_Shift_1_15_Q_1_S::after {max-width:98px; width:100%;height:0;padding: 0 0 164.28571428571428% 0;}
.JEE_Main_27_Aug_2021_Shift_2_16_sol {max-width:197px; max-height:96px; }
.JEE_Main_27_Aug_2021_Shift_2_16_sol::after {content: '\00a0';display: inline-block; width:197px; height:96px; background-position: 98.29476248477467% 74.89626556016597%; background-size: 933.5025380710659% 1606.25%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.JEE_Main_27_Aug_2021_Shift_2_16_sol::after {max-width:197px; width:100%;height:0;padding: 0 0 48.73096446700507% 0;}
.JEE_Main_27_July_2021_evening_12_o_1 {max-width:146px; max-height:130px; }
.JEE_Main_27_July_2021_evening_12_o_1::after {content: '\00a0';display: inline-block; width:146px; height:130px; background-position: 46.48552864737153% 29.532577903682718%; background-size: 1259.5890410958905% 1186.1538461538462%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.JEE_Main_27_July_2021_evening_12_o_1::after {max-width:146px; width:100%;height:0;padding: 0 0 89.04109589041096% 0;}
.JEE_Main_27_July_2021_evening_12_o_2 {max-width:140px; max-height:131px; }
.JEE_Main_27_July_2021_evening_12_o_2::after {content: '\00a0';display: inline-block; width:140px; height:131px; background-position: 49.14655679811654% 38.83770375620128%; background-size: 1313.5714285714287% 1177.0992366412213%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.JEE_Main_27_July_2021_evening_12_o_2::after {max-width:140px; width:100%;height:0;padding: 0 0 93.57142857142857% 0;}
.JEE_Main_27_July_2021_evening_12_o_3 {max-width:148px; max-height:132px; }
.JEE_Main_27_July_2021_evening_12_o_3::after {content: '\00a0';display: inline-block; width:148px; height:132px; background-position: 99.94086339444117% 10.354609929078014%; background-size: 1242.5675675675675% 1168.1818181818182%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.JEE_Main_27_July_2021_evening_12_o_3::after {max-width:148px; width:100%;height:0;padding: 0 0 89.1891891891892% 0;}
.JEE_Main_27_July_2021_evening_12_o_4 {max-width:139px; max-height:137px; }
.JEE_Main_27_July_2021_evening_12_o_4::after {content: '\00a0';display: inline-block; width:139px; height:137px; background-position: 91.76470588235294% 91.74377224199289%; background-size: 1323.021582733813% 1125.5474452554745%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.JEE_Main_27_July_2021_evening_12_o_4::after {max-width:139px; width:100%;height:0;padding: 0 0 98.56115107913669% 0;}
.JEE_Main_27_July_2021_evening_12_q {max-width:227px; max-height:130px; }
.JEE_Main_27_July_2021_evening_12_q::after {content: '\00a0';display: inline-block; width:227px; height:130px; background-position: 62.96526054590571% 53.257790368271955%; background-size: 810.1321585903083% 1186.1538461538462%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.JEE_Main_27_July_2021_evening_12_q::after {max-width:227px; width:100%;height:0;padding: 0 0 57.268722466960355% 0;}
.JEE_Main_27_July_2021_evening_12_s {max-width:184px; max-height:142px; }
.JEE_Main_27_July_2021_evening_12_s::after {content: '\00a0';display: inline-block; width:184px; height:142px; background-position: 90.93655589123867% 14.285714285714286%; background-size: 999.4565217391304% 1085.9154929577464%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.JEE_Main_27_July_2021_evening_12_s::after {max-width:184px; width:100%;height:0;padding: 0 0 77.17391304347827% 0;}
.JEE_Main_31_Aug_2021_Shift_1_7_Q_1_S {max-width:131px; max-height:127px; }
.JEE_Main_31_Aug_2021_Shift_1_7_Q_1_S::after {content: '\00a0';display: inline-block; width:131px; height:127px; background-position: 48.887587822014055% 57.314487632508836%; background-size: 1403.8167938931297% 1214.1732283464567%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.JEE_Main_31_Aug_2021_Shift_1_7_Q_1_S::after {max-width:131px; width:100%;height:0;padding: 0 0 96.94656488549619% 0;}
.JEE_Main_31_Aug_2021_Shift_2_2_Q_1_S {max-width:162px; max-height:171px; }
.JEE_Main_31_Aug_2021_Shift_2_2_Q_1_S::after {content: '\00a0';display: inline-block; width:162px; height:171px; background-position: 98.33035181872391% 59.00802334062728%; background-size: 1135.1851851851852% 901.7543859649123%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.JEE_Main_31_Aug_2021_Shift_2_2_Q_1_S::after {max-width:162px; width:100%;height:0;padding: 0 0 105.55555555555556% 0;}
.JEE_Mains_02_Sep_2020_Shift_2_1_q {max-width:193px; max-height:158px; }
.JEE_Mains_02_Sep_2020_Shift_2_1_q::after {content: '\00a0';display: inline-block; width:193px; height:158px; background-position: 92.95261239368165% 36.994219653179194%; background-size: 952.8497409326425% 975.9493670886076%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.JEE_Mains_02_Sep_2020_Shift_2_1_q::after {max-width:193px; width:100%;height:0;padding: 0 0 81.86528497409327% 0;}
.JEE_Mains_02_Sep_2020_Shift_2_1_s {max-width:284px; max-height:202px; }
.JEE_Mains_02_Sep_2020_Shift_2_1_s::after {content: '\00a0';display: inline-block; width:284px; height:202px; background-position: 19.614147909967844% 43.80597014925373%; background-size: 647.5352112676056% 763.3663366336634%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.JEE_Mains_02_Sep_2020_Shift_2_1_s::after {max-width:284px; width:100%;height:0;padding: 0 0 71.12676056338029% 0;}
.JEE_Mains_02_Sep_2020_Shift_2_3_q {max-width:251px; max-height:179px; }
.JEE_Mains_02_Sep_2020_Shift_2_3_q::after {content: '\00a0';display: inline-block; width:251px; height:179px; background-position: 17.758186397984886% 66.69112252384446%; background-size: 732.6693227091633% 861.4525139664804%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.JEE_Mains_02_Sep_2020_Shift_2_3_q::after {max-width:251px; width:100%;height:0;padding: 0 0 71.31474103585657% 0;}
.JEE_Mains_03_Sep_2020_Shift_1_18_s {max-width:272px; max-height:180px; }
.JEE_Mains_03_Sep_2020_Shift_1_18_s::after {content: '\00a0';display: inline-block; width:272px; height:180px; background-position: 0.06381620931716656% 99.19236417033774%; background-size: 676.1029411764706% 856.6666666666666%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.JEE_Mains_03_Sep_2020_Shift_1_18_s::after {max-width:272px; width:100%;height:0;padding: 0 0 66.17647058823529% 0;}
.JEE_Mains_04_Sep_2020_Shift_1_9_q {max-width:125px; max-height:114px; }
.JEE_Mains_04_Sep_2020_Shift_1_9_q::after {content: '\00a0';display: inline-block; width:125px; height:114px; background-position: 91.0151691948658% 99.92997198879551%; background-size: 1471.2% 1352.6315789473683%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.JEE_Mains_04_Sep_2020_Shift_1_9_q::after {max-width:125px; width:100%;height:0;padding: 0 0 91.2% 0;}
.JEE_Mains_04_Sep_2020_Shift_2_14_s {max-width:202px; max-height:122px; }
.JEE_Mains_04_Sep_2020_Shift_2_14_s::after {content: '\00a0';display: inline-block; width:202px; height:122px; background-position: 91.63103237629811% 47.25352112676056%; background-size: 910.3960396039604% 1263.9344262295083%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.JEE_Mains_04_Sep_2020_Shift_2_14_s::after {max-width:202px; width:100%;height:0;padding: 0 0 60.396039603960396% 0;}
.JEE_Mains_05_Sep_2020_Shift_1_14_s {max-width:115px; max-height:110px; }
.JEE_Mains_05_Sep_2020_Shift_1_14_s::after {content: '\00a0';display: inline-block; width:115px; height:110px; background-position: 64.38515081206496% 99.93016759776536%; background-size: 1599.1304347826087% 1401.8181818181818%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.JEE_Mains_05_Sep_2020_Shift_1_14_s::after {max-width:115px; width:100%;height:0;padding: 0 0 95.65217391304348% 0;}
.Jan_8_2020_shift_1_4_s {max-width:245px; max-height:250px; }
.Jan_8_2020_shift_1_4_s::after {content: '\00a0';display: inline-block; width:245px; height:250px; background-position: 0.06273525721455459% 85.13931888544892%; background-size: 750.6122448979592% 616.8%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.Jan_8_2020_shift_1_4_s::after {max-width:245px; width:100%;height:0;padding: 0 0 102.04081632653062% 0;}
.Jan_8_Shift_2_11_q {max-width:152px; max-height:207px; }
.Jan_8_Shift_2_11_q::after {content: '\00a0';display: inline-block; width:152px; height:207px; background-position: 65.79727326615293% 91.61048689138576%; background-size: 1209.8684210526317% 744.927536231884%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.Jan_8_Shift_2_11_q::after {max-width:152px; width:100%;height:0;padding: 0 0 136.18421052631578% 0;}
.Jan_8_Shift_2_11_s {max-width:175px; max-height:208px; }
.Jan_8_Shift_2_11_s::after {content: '\00a0';display: inline-block; width:175px; height:208px; background-position: 56.12980769230769% 95.7271364317841%; background-size: 1050.857142857143% 741.3461538461538%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.Jan_8_Shift_2_11_s::after {max-width:175px; width:100%;height:0;padding: 0 0 118.85714285714286% 0;}
.Jan_9_Shift_1_16_s {max-width:145px; max-height:156px; }
.Jan_9_Shift_1_16_s::after {content: '\00a0';display: inline-block; width:145px; height:156px; background-position: 74.55726092089728% 88.23953823953823%; background-size: 1268.2758620689656% 988.4615384615385%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.Jan_9_Shift_1_16_s::after {max-width:145px; width:100%;height:0;padding: 0 0 107.58620689655173% 0;}
.Jan_9_Shift_1_6_q {max-width:248px; max-height:104px; }
.Jan_9_Shift_1_6_q::after {content: '\00a0';display: inline-block; width:248px; height:104px; background-position: 15.52482715273413% 86.6481223922114%; background-size: 741.5322580645161% 1482.6923076923076%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.Jan_9_Shift_1_6_q::after {max-width:248px; width:100%;height:0;padding: 0 0 41.935483870967744% 0;}
.Jan_9_Shift_2_2_q {max-width:131px; max-height:130px; }
.Jan_9_Shift_2_2_q::after {content: '\00a0';display: inline-block; width:131px; height:130px; background-position: 48.887587822014055% 48.1586402266289%; background-size: 1403.8167938931297% 1186.1538461538462%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.Jan_9_Shift_2_2_q::after {max-width:131px; width:100%;height:0;padding: 0 0 99.23664122137404% 0;}
.Jan_9_Shift_2_2_s {max-width:150px; max-height:146px; }
.Jan_9_Shift_2_2_s::after {content: '\00a0';display: inline-block; width:150px; height:146px; background-position: 83.42214328004737% 92.3352435530086%; background-size: 1226% 1056.164383561644%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.Jan_9_Shift_2_2_s::after {max-width:150px; width:100%;height:0;padding: 0 0 97.33333333333333% 0;}
.Jan_9_Shift_2_7_s {max-width:267px; max-height:117px; }
.Jan_9_Shift_2_7_s::after {content: '\00a0';display: inline-block; width:267px; height:117px; background-position: 80.27989821882952% 36.63157894736842%; background-size: 688.7640449438202% 1317.948717948718%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.Jan_9_Shift_2_7_s::after {max-width:267px; width:100%;height:0;padding: 0 0 43.82022471910113% 0;}
.Jee_12_04_19_P2_26_que {max-width:195px; max-height:214px; }
.Jee_12_04_19_P2_26_que::after {content: '\00a0';display: inline-block; width:195px; height:214px; background-position: 44.89051094890511% 96.15963855421687%; background-size: 943.0769230769231% 720.5607476635514%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.Jee_12_04_19_P2_26_que::after {max-width:195px; width:100%;height:0;padding: 0 0 109.74358974358974% 0;}
.Jee_12_04_19_P2_26_sol {max-width:135px; max-height:137px; }
.Jee_12_04_19_P2_26_sol::after {content: '\00a0';display: inline-block; width:135px; height:137px; background-position: 99.94131455399061% 47.75800711743772%; background-size: 1362.2222222222222% 1125.5474452554745%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.Jee_12_04_19_P2_26_sol::after {max-width:135px; width:100%;height:0;padding: 0 0 101.48148148148148% 0;}
.Jee_12_04_19_P2_4_que {max-width:189px; max-height:131px; }
.Jee_12_04_19_P2_4_que::after {content: '\00a0';display: inline-block; width:189px; height:131px; background-position: 88.42424242424242% 56.27214741318214%; background-size: 973.015873015873% 1177.0992366412213%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.Jee_12_04_19_P2_4_que::after {max-width:189px; width:100%;height:0;padding: 0 0 69.31216931216932% 0;}
.Jee_12_04_19_P2_4_sol {max-width:174px; max-height:243px; }
.Jee_12_04_19_P2_4_sol::after {content: '\00a0';display: inline-block; width:174px; height:243px; background-position: 47.267267267267265% 13.31793687451886%; background-size: 1056.896551724138% 634.5679012345679%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.Jee_12_04_19_P2_4_sol::after {max-width:174px; width:100%;height:0;padding: 0 0 139.6551724137931% 0;}
.Shift_1_6_sept_31 {max-width:223px; max-height:200px; }
.Shift_1_6_sept_31::after {content: '\00a0';display: inline-block; width:223px; height:200px; background-position: 31.806930693069308% 95.15648286140089%; background-size: 824.6636771300448% 771%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.Shift_1_6_sept_31::after {max-width:223px; width:100%;height:0;padding: 0 0 89.68609865470852% 0;}
.Shift_1_6_sept_36_q {max-width:363px; max-height:147px; }
.Shift_1_6_sept_36_q::after {content: '\00a0';display: inline-block; width:363px; height:147px; background-position: 63.61788617886179% 0.07168458781362007%; background-size: 506.6115702479339% 1048.9795918367347%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.Shift_1_6_sept_36_q::after {max-width:363px; width:100%;height:0;padding: 0 0 40.49586776859504% 0;}
.Shift_2_6_sept_18 {max-width:212px; max-height:157px; }
.Shift_2_6_sept_18::after {content: '\00a0';display: inline-block; width:212px; height:157px; background-position: 75.59926244622004% 66.49819494584838%; background-size: 867.4528301886793% 982.1656050955414%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.Shift_2_6_sept_18::after {max-width:212px; width:100%;height:0;padding: 0 0 74.05660377358491% 0;}
.Shift_2_6_sept_19 {max-width:442px; max-height:569px; }
.Shift_2_6_sept_19::after {content: '\00a0';display: inline-block; width:442px; height:569px; background-position: 0.07158196134574088% 0.10277492291880781%; background-size: 416.0633484162896% 271.0017574692443%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.Shift_2_6_sept_19::after {max-width:442px; width:100%;height:0;padding: 0 0 128.73303167420815% 0;}
.jee_mains_27_jun_2022_s2_43 {max-width:342px; max-height:260px; }
.jee_mains_27_jun_2022_s2_43::after {content: '\00a0';display: inline-block; width:342px; height:260px; background-position: 29.65931863727455% 13.494539781591264%; background-size: 537.719298245614% 593.0769230769231%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.jee_mains_27_jun_2022_s2_43::after {max-width:342px; width:100%;height:0;padding: 0 0 76.0233918128655% 0;}
.jee_mains_28_jun_2022_s1_40_a {max-width:239px; max-height:143px; }
.jee_mains_28_jun_2022_s1_40_a::after {content: '\00a0';display: inline-block; width:239px; height:143px; background-position: 78.75% 45.746962115797%; background-size: 769.4560669456067% 1078.3216783216783%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.jee_mains_28_jun_2022_s1_40_a::after {max-width:239px; width:100%;height:0;padding: 0 0 59.8326359832636% 0;}
.jee_mains_28_jun_2022_s1_40_b {max-width:244px; max-height:146px; }
.jee_mains_28_jun_2022_s1_40_b::after {content: '\00a0';display: inline-block; width:244px; height:146px; background-position: 63.63636363636363% 43.33810888252149%; background-size: 753.688524590164% 1056.164383561644%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.jee_mains_28_jun_2022_s1_40_b::after {max-width:244px; width:100%;height:0;padding: 0 0 59.83606557377049% 0;}
.jee_mains_28_jun_2022_s1_40_c {max-width:258px; max-height:164px; }
.jee_mains_28_jun_2022_s1_40_c::after {content: '\00a0';display: inline-block; width:258px; height:164px; background-position: 36.43263757115749% 59.796806966618284%; background-size: 712.7906976744187% 940.2439024390244%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.jee_mains_28_jun_2022_s1_40_c::after {max-width:258px; width:100%;height:0;padding: 0 0 63.565891472868216% 0;}
.jee_mains_28_jun_2022_s1_40_d {max-width:258px; max-height:162px; }
.jee_mains_28_jun_2022_s1_40_d::after {content: '\00a0';display: inline-block; width:258px; height:162px; background-position: 33.712839974699556% 80.72463768115942%; background-size: 712.7906976744187% 951.8518518518518%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.jee_mains_28_jun_2022_s1_40_d::after {max-width:258px; width:100%;height:0;padding: 0 0 62.7906976744186% 0;}
.jee_mains_30_jun_2022_s1_39_sol {max-width:280px; max-height:216px; }
.jee_mains_30_jun_2022_s1_39_sol::after {content: '\00a0';display: inline-block; width:280px; height:216px; background-position: 0.06414368184733804% 66.59125188536953%; background-size: 656.7857142857143% 713.8888888888889%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.jee_mains_30_jun_2022_s1_39_sol::after {max-width:280px; width:100%;height:0;padding: 0 0 77.14285714285714% 0;}
.jee_mn_26_jul_2022_s1_46_sol {max-width:303px; max-height:311px; }
.jee_mn_26_jul_2022_s1_46_sol::after {content: '\00a0';display: inline-block; width:303px; height:311px; background-position: 0.06510416666666667% 46.38505280259951%; background-size: 606.9306930693069% 495.81993569131834%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.jee_mn_26_jul_2022_s1_46_sol::after {max-width:303px; width:100%;height:0;padding: 0 0 102.64026402640265% 0;}
.m2014_2 {max-width:289px; max-height:198px; }
.m2014_2::after {content: '\00a0';display: inline-block; width:289px; height:198px; background-position: 62.064516129032256% 11.086309523809524%; background-size: 636.3321799307959% 778.7878787878788%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.m2014_2::after {max-width:289px; width:100%;height:0;padding: 0 0 68.5121107266436% 0;}
.m2015_76a {max-width:222px; max-height:162px; }
.m2015_76a::after {content: '\00a0';display: inline-block; width:222px; height:162px; background-position: 48.97959183673469% 80.72463768115942%; background-size: 828.3783783783783% 951.8518518518518%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.m2015_76a::after {max-width:222px; width:100%;height:0;padding: 0 0 72.97297297297297% 0;}
.m2015_76b {max-width:215px; max-height:136px; }
.m2015_76b::after {content: '\00a0';display: inline-block; width:215px; height:136px; background-position: 76.53940886699507% 55.76102418207682%; background-size: 855.3488372093024% 1133.8235294117646%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.m2015_76b::after {max-width:215px; width:100%;height:0;padding: 0 0 63.25581395348837% 0;}
.m2015_76c {max-width:165px; max-height:165px; }
.m2015_76c::after {content: '\00a0';display: inline-block; width:165px; height:165px; background-position: 86.20071684587813% 67.2476397966594%; background-size: 1114.5454545454545% 934.5454545454545%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.m2015_76c::after {max-width:165px; width:100%;height:0;padding: 0 0 100% 0;}
.m2015_76d {max-width:214px; max-height:135px; }
.m2015_76d::after {content: '\00a0';display: inline-block; width:214px; height:135px; background-position: 62.46153846153846% 62.75764036958067%; background-size: 859.3457943925233% 1142.2222222222222%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.m2015_76d::after {max-width:214px; width:100%;height:0;padding: 0 0 63.08411214953271% 0;}
.m2015_89 {max-width:117px; max-height:109px; }
.m2015_89::after {content: '\00a0';display: inline-block; width:117px; height:109px; background-position: 99.70963995354239% 27.564549895324493%; background-size: 1571.7948717948718% 1414.6788990825687%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.m2015_89::after {max-width:117px; width:100%;height:0;padding: 0 0 93.16239316239316% 0;}
.m2015_89sol {max-width:103px; max-height:125px; }
.m2015_89sol::after {content: '\00a0';display: inline-block; width:103px; height:125px; background-position: 99.30875576036867% 35.63867325335215%; background-size: 1785.4368932038835% 1233.6%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.m2015_89sol::after {max-width:103px; width:100%;height:0;padding: 0 0 121.35922330097087% 0;}
.m2016_apr9_15sol {max-width:252px; max-height:145px; }
.m2016_apr9_15sol::after {content: '\00a0';display: inline-block; width:252px; height:145px; background-position: 78.89098928796471% 14.316392269148174%; background-size: 729.7619047619048% 1063.448275862069%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.m2016_apr9_15sol::after {max-width:252px; width:100%;height:0;padding: 0 0 57.53968253968254% 0;}
.m2016_apr9_27sol {max-width:494px; max-height:171px; }
.m2016_apr9_27sol::after {content: '\00a0';display: inline-block; width:494px; height:171px; background-position: 33.01115241635688% 0.07293946024799416%; background-size: 372.26720647773277% 901.7543859649123%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.m2016_apr9_27sol::after {max-width:494px; width:100%;height:0;padding: 0 0 34.61538461538461% 0;}
.m2018_apr15_18 {max-width:269px; max-height:124px; }
.m2018_apr15_18::after {content: '\00a0';display: inline-block; width:269px; height:124px; background-position: 34.01273885350319% 69.74612129760226%; background-size: 683.6431226765799% 1243.5483870967741%; background-image: url(p_12_magneticeffectsofcurr1_0.png);padding: 0; }
div.m2018_apr15_18::after {max-width:269px; width:100%;height:0;padding: 0 0 46.09665427509294% 0;}

@keyframes JEE_MAINS_2019_JAN9_S1-frames {
    0% { background-position: 48.77336448598131% 65.61844863731656%;  }
    50% { background-position: 98.47001223990208% 68.07772380291465%;  }
}

.JEE_MAINS_2019_JAN9_S1-animation {
    max-width: 127px;
    max-height: 111px;
}
.JEE_MAINS_2019_JAN9_S1-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 127px;
    height: 111px;
    padding: 0;
    background-image: url(p_12_magneticeffectsofcurr1_0.png);
    background-size: 1448.0314960629921% 1389.1891891891892%; 
    animation-name: JEE_MAINS_2019_JAN9_S1-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEE_MAINS_2019_JAN9_S1-animation::after {
    max-width: 127px;
    width: 100%;
    height: 0;
    padding: 0 0 87.4015748031496% 0;
}

@keyframes JEE_Main_27_July_2021_evening_12_o-frames {
    0% { background-position: 46.48552864737153% 29.532577903682718%;  }
    25% { background-position: 49.14655679811654% 38.83770375620128%;  }
    50% { background-position: 99.94086339444117% 10.354609929078014%;  }
    75% { background-position: 91.76470588235294% 91.74377224199289%;  }
}

.JEE_Main_27_July_2021_evening_12_o-animation {
    max-width: 146px;
    max-height: 130px;
}
.JEE_Main_27_July_2021_evening_12_o-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 146px;
    height: 130px;
    padding: 0;
    background-image: url(p_12_magneticeffectsofcurr1_0.png);
    background-size: 1259.5890410958905% 1186.1538461538462%; 
    animation-name: JEE_Main_27_July_2021_evening_12_o-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEE_Main_27_July_2021_evening_12_o-animation::after {
    max-width: 146px;
    width: 100%;
    height: 0;
    padding: 0 0 89.04109589041096% 0;
}

@keyframes Shift_2_6_sept-frames {
    0% { background-position: 75.59926244622004% 66.49819494584838%;  }
    50% { background-position: 0.07158196134574088% 0.10277492291880781%;  }
}

.Shift_2_6_sept-animation {
    max-width: 212px;
    max-height: 157px;
}
.Shift_2_6_sept-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 212px;
    height: 157px;
    padding: 0;
    background-image: url(p_12_magneticeffectsofcurr1_0.png);
    background-size: 867.4528301886793% 982.1656050955414%; 
    animation-name: Shift_2_6_sept-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.Shift_2_6_sept-animation::after {
    max-width: 212px;
    width: 100%;
    height: 0;
    padding: 0 0 74.05660377358491% 0;
}

/* $TexturePacker:SmartUpdate:75f660fcc1c3a7fc4bbb7cc88f135408:3f9e64d08d08244dfa7402fa1901ba4a:5522089f5c6df3feec86c15e27b6ac12$ */
