/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.jee_mn_22_jan_2025_s2_q_50 {max-width:300px; max-height:314px; }
.jee_mn_22_jan_2025_s2_q_50::after {content: '\00a0';display: inline-block; width:300px; height:314px; background-position: 98.83720930232558% 45%; background-size: 329.3333333333333% 367.515923566879%; background-image: url(p_12_magneticeffectsofcurr3_0.png);padding: 0; }
div.jee_mn_22_jan_2025_s2_q_50::after {max-width:300px; width:100%;height:0;padding: 0 0 104.66666666666667% 0;}
.jee_mn_24_jan_2025_s1_sol_48 {max-width:250px; max-height:295px; }
.jee_mn_24_jan_2025_s1_sol_48::after {content: '\00a0';display: inline-block; width:250px; height:295px; background-position: 94.8509485094851% 99.0686845168801%; background-size: 395.2% 391.1864406779661%; background-image: url(p_12_magneticeffectsofcurr3_0.png);padding: 0; }
div.jee_mn_24_jan_2025_s1_sol_48::after {max-width:250px; width:100%;height:0;padding: 0 0 118% 0;}
.jee_mn_24_jan_2025_s2_q_36a {max-width:254px; max-height:156px; }
.jee_mn_24_jan_2025_s2_q_36a::after {content: '\00a0';display: inline-block; width:254px; height:156px; background-position: 60.6267029972752% 99.8997995991984%; background-size: 388.9763779527559% 739.7435897435897%; background-image: url(p_12_magneticeffectsofcurr3_0.png);padding: 0; }
div.jee_mn_24_jan_2025_s2_q_36a::after {max-width:254px; width:100%;height:0;padding: 0 0 61.41732283464567% 0;}
.jee_mn_24_jan_2025_s2_q_36b {max-width:255px; max-height:157px; }
.jee_mn_24_jan_2025_s2_q_36b::after {content: '\00a0';display: inline-block; width:255px; height:157px; background-position: 91.81446111869032% 69.5085255767302%; background-size: 387.45098039215685% 735.031847133758%; background-image: url(p_12_magneticeffectsofcurr3_0.png);padding: 0; }
div.jee_mn_24_jan_2025_s2_q_36b::after {max-width:255px; width:100%;height:0;padding: 0 0 61.568627450980394% 0;}
.jee_mn_24_jan_2025_s2_q_36c {max-width:259px; max-height:158px; }
.jee_mn_24_jan_2025_s2_q_36c::after {content: '\00a0';display: inline-block; width:259px; height:158px; background-position: 0.13717421124828533% 58.63453815261044%; background-size: 381.4671814671815% 730.379746835443%; background-image: url(p_12_magneticeffectsofcurr3_0.png);padding: 0; }
div.jee_mn_24_jan_2025_s2_q_36c::after {max-width:259px; width:100%;height:0;padding: 0 0 61.003861003861005% 0;}
.jee_mn_24_jan_2025_s2_q_36d {max-width:256px; max-height:155px; }
.jee_mn_24_jan_2025_s2_q_36d::after {content: '\00a0';display: inline-block; width:256px; height:155px; background-position: 0.1366120218579235% 74.37437437437437%; background-size: 385.9375% 744.516129032258%; background-image: url(p_12_magneticeffectsofcurr3_0.png);padding: 0; }
div.jee_mn_24_jan_2025_s2_q_36d::after {max-width:256px; width:100%;height:0;padding: 0 0 60.546875% 0;}
.jee_mn_24_jan_2025_s2_q_39 {max-width:266px; max-height:184px; }
.jee_mn_24_jan_2025_s2_q_39::after {content: '\00a0';display: inline-block; width:266px; height:184px; background-position: 41.82825484764543% 59.896907216494846%; background-size: 371.42857142857144% 627.1739130434783%; background-image: url(p_12_magneticeffectsofcurr3_0.png);padding: 0; }
div.jee_mn_24_jan_2025_s2_q_39::after {max-width:266px; width:100%;height:0;padding: 0 0 69.17293233082707% 0;}
.jee_mn_24_jan_2025_s2_sol_36 {max-width:317px; max-height:155px; }
.jee_mn_24_jan_2025_s2_sol_36::after {content: '\00a0';display: inline-block; width:317px; height:155px; background-position: 53.949329359165425% 25.725725725725727%; background-size: 311.67192429022083% 744.516129032258%; background-image: url(p_12_magneticeffectsofcurr3_0.png);padding: 0; }
div.jee_mn_24_jan_2025_s2_sol_36::after {max-width:317px; width:100%;height:0;padding: 0 0 48.89589905362776% 0;}
.jee_mn_28_jan_2025_s1_sol_28 {max-width:103px; max-height:154px; }
.jee_mn_28_jan_2025_s1_sol_28::after {content: '\00a0';display: inline-block; width:103px; height:154px; background-position: 64.29378531073446% 58.1%; background-size: 959.2233009708738% 749.3506493506494%; background-image: url(p_12_magneticeffectsofcurr3_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s1_sol_28::after {max-width:103px; width:100%;height:0;padding: 0 0 149.51456310679612% 0;}
.jee_mn_28_jan_2025_s2_q_36 {max-width:224px; max-height:145px; }
.jee_mn_28_jan_2025_s2_q_36::after {content: '\00a0';display: inline-block; width:224px; height:145px; background-position: 99.86910994764398% 0.09910802775024777%; background-size: 441.07142857142856% 795.8620689655172%; background-image: url(p_12_magneticeffectsofcurr3_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s2_q_36::after {max-width:224px; width:100%;height:0;padding: 0 0 64.73214285714286% 0;}
.jm_3_apr_2025_s1_q_46 {max-width:300px; max-height:167px; }
.jm_3_apr_2025_s1_q_46::after {content: '\00a0';display: inline-block; width:300px; height:167px; background-position: 43.895348837209305% 41.843971631205676%; background-size: 329.3333333333333% 691.0179640718563%; background-image: url(p_12_magneticeffectsofcurr3_0.png);padding: 0; }
div.jm_3_apr_2025_s1_q_46::after {max-width:300px; width:100%;height:0;padding: 0 0 55.666666666666664% 0;}
.jm_7_apr_2025_s1_q_30a {max-width:221px; max-height:230px; }
.jm_7_apr_2025_s1_q_30a::after {content: '\00a0';display: inline-block; width:221px; height:230px; background-position: 99.47848761408083% 15.909090909090908%; background-size: 447.05882352941177% 501.7391304347826%; background-image: url(p_12_magneticeffectsofcurr3_0.png);padding: 0; }
div.jm_7_apr_2025_s1_q_30a::after {max-width:221px; width:100%;height:0;padding: 0 0 104.07239819004525% 0;}
.jm_7_apr_2025_s1_q_30b {max-width:221px; max-height:230px; }
.jm_7_apr_2025_s1_q_30b::after {content: '\00a0';display: inline-block; width:221px; height:230px; background-position: 0.1303780964797914% 97.2943722943723%; background-size: 447.05882352941177% 501.7391304347826%; background-image: url(p_12_magneticeffectsofcurr3_0.png);padding: 0; }
div.jm_7_apr_2025_s1_q_30b::after {max-width:221px; width:100%;height:0;padding: 0 0 104.07239819004525% 0;}
.jm_7_apr_2025_s1_q_30c {max-width:221px; max-height:230px; }
.jm_7_apr_2025_s1_q_30c::after {content: '\00a0';display: inline-block; width:221px; height:230px; background-position: 29.07431551499348% 97.2943722943723%; background-size: 447.05882352941177% 501.7391304347826%; background-image: url(p_12_magneticeffectsofcurr3_0.png);padding: 0; }
div.jm_7_apr_2025_s1_q_30c::after {max-width:221px; width:100%;height:0;padding: 0 0 104.07239819004525% 0;}
.jm_7_apr_2025_s1_q_30d {max-width:221px; max-height:230px; }
.jm_7_apr_2025_s1_q_30d::after {content: '\00a0';display: inline-block; width:221px; height:230px; background-position: 58.01825293350717% 82.9004329004329%; background-size: 447.05882352941177% 501.7391304347826%; background-image: url(p_12_magneticeffectsofcurr3_0.png);padding: 0; }
div.jm_7_apr_2025_s1_q_30d::after {max-width:221px; width:100%;height:0;padding: 0 0 104.07239819004525% 0;}
.jm_7_apr_2025_s1_q_37 {max-width:400px; max-height:151px; }
.jm_7_apr_2025_s1_q_37::after {content: '\00a0';display: inline-block; width:400px; height:151px; background-position: 0.17006802721088435% 0.09970089730807577%; background-size: 247% 764.2384105960265%; background-image: url(p_12_magneticeffectsofcurr3_0.png);padding: 0; }
div.jm_7_apr_2025_s1_q_37::after {max-width:400px; width:100%;height:0;padding: 0 0 37.75% 0;}
.jm_7_apr_2025_s1_sol_30 {max-width:221px; max-height:230px; }
.jm_7_apr_2025_s1_sol_30::after {content: '\00a0';display: inline-block; width:221px; height:230px; background-position: 58.01825293350717% 82.9004329004329%; background-size: 447.05882352941177% 501.7391304347826%; background-image: url(p_12_magneticeffectsofcurr3_0.png);padding: 0; }
div.jm_7_apr_2025_s1_sol_30::after {max-width:221px; width:100%;height:0;padding: 0 0 104.07239819004525% 0;}
.jm_7_apr_2025_s1_sol_37 {max-width:360px; max-height:217px; }
.jm_7_apr_2025_s1_sol_37::after {content: '\00a0';display: inline-block; width:360px; height:217px; background-position: 0.1592356687898089% 16.328708644610458%; background-size: 274.44444444444446% 531.7972350230415%; background-image: url(p_12_magneticeffectsofcurr3_0.png);padding: 0; }
div.jm_7_apr_2025_s1_sol_37::after {max-width:360px; width:100%;height:0;padding: 0 0 60.27777777777778% 0;}
.jm_8_apr_2025_s1_q_30 {max-width:300px; max-height:212px; }
.jm_8_apr_2025_s1_q_30::after {content: '\00a0';display: inline-block; width:300px; height:212px; background-position: 0.14534883720930233% 39.38428874734607%; background-size: 329.3333333333333% 544.3396226415094%; background-image: url(p_12_magneticeffectsofcurr3_0.png);padding: 0; }
div.jm_8_apr_2025_s1_q_30::after {max-width:300px; width:100%;height:0;padding: 0 0 70.66666666666667% 0;}
.jm_8_apr_2025_s1_sol_30 {max-width:360px; max-height:255px; }
.jm_8_apr_2025_s1_sol_30::after {content: '\00a0';display: inline-block; width:360px; height:255px; background-position: 64.01273885350318% 0.11123470522803114%; background-size: 274.44444444444446% 452.54901960784315%; background-image: url(p_12_magneticeffectsofcurr3_0.png);padding: 0; }
div.jm_8_apr_2025_s1_sol_30::after {max-width:360px; width:100%;height:0;padding: 0 0 70.83333333333333% 0;}

@keyframes jm_7_apr_2025_s1_sol-frames {
    0% { background-position: 58.01825293350717% 82.9004329004329%;  }
    50% { background-position: 0.1592356687898089% 16.328708644610458%;  }
}

.jm_7_apr_2025_s1_sol-animation {
    max-width: 221px;
    max-height: 230px;
}
.jm_7_apr_2025_s1_sol-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 221px;
    height: 230px;
    padding: 0;
    background-image: url(p_12_magneticeffectsofcurr3_0.png);
    background-size: 447.05882352941177% 501.7391304347826%; 
    animation-name: jm_7_apr_2025_s1_sol-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.jm_7_apr_2025_s1_sol-animation::after {
    max-width: 221px;
    width: 100%;
    height: 0;
    padding: 0 0 104.07239819004525% 0;
}

/* $TexturePacker:SmartUpdate:41f5a544d3ac24655bd6cc33892bfccb:d06118812ae73c78aee3ee9763ff368e:4a6524c38ef3b72ab7507fea26ade4d6$ */
