/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.JEEMAINS_10APRIL_2023_S2_S_51 {max-width:373px; max-height:267px; }
.JEEMAINS_10APRIL_2023_S2_S_51::after {content: '\00a0';display: inline-block; width:373px; height:267px; background-position: 0.7194244604316546% 10.082872928176796%; background-size: 137.26541554959786% 371.16104868913857%; background-image: url(p_12_atoms3_0.png);padding: 0; }
div.JEEMAINS_10APRIL_2023_S2_S_51::after {max-width:373px; width:100%;height:0;padding: 0 0 71.58176943699732% 0;}
.JEEMAINS_11APRIL_2023_S1_S_34 {max-width:445px; max-height:71px; }
.JEEMAINS_11APRIL_2023_S1_S_34::after {content: '\00a0';display: inline-block; width:445px; height:71px; background-position: 1.492537313432836% 0.10869565217391304%; background-size: 115.0561797752809% 1395.774647887324%; background-image: url(p_12_atoms3_0.png);padding: 0; }
div.JEEMAINS_11APRIL_2023_S1_S_34::after {max-width:445px; width:100%;height:0;padding: 0 0 15.955056179775282% 0;}
.JEEMAINS_15APRIL_2023_S1_Q_53 {max-width:238px; max-height:157px; }
.JEEMAINS_15APRIL_2023_S1_Q_53::after {content: '\00a0';display: inline-block; width:238px; height:157px; background-position: 0.36496350364963503% 97.24220623501199%; background-size: 215.12605042016807% 631.2101910828026%; background-image: url(p_12_atoms3_0.png);padding: 0; }
div.JEEMAINS_15APRIL_2023_S1_Q_53::after {max-width:238px; width:100%;height:0;padding: 0 0 65.96638655462185% 0;}
.JEE_29_Jan_2024_Shift_1_51_s {max-width:283px; max-height:119px; }
.JEE_29_Jan_2024_Shift_1_51_s::after {content: '\00a0';display: inline-block; width:283px; height:119px; background-position: 0.4366812227074236% 56.19266055045872%; background-size: 180.91872791519435% 832.7731092436975%; background-image: url(p_12_atoms3_0.png);padding: 0; }
div.JEE_29_Jan_2024_Shift_1_51_s::after {max-width:283px; width:100%;height:0;padding: 0 0 42.04946996466431% 0;}
.JEE_MAIN_5APRIL_2024_S2_S_52 {max-width:163px; max-height:109px; }
.JEE_MAIN_5APRIL_2024_S2_S_52::after {content: '\00a0';display: inline-block; width:163px; height:109px; background-position: 68.76790830945559% 99.88662131519274%; background-size: 314.11042944785277% 909.1743119266055%; background-image: url(p_12_atoms3_0.png);padding: 0; }
div.JEE_MAIN_5APRIL_2024_S2_S_52::after {max-width:163px; width:100%;height:0;padding: 0 0 66.87116564417178% 0;}
.JEE_MAIN_6APRIL_2024_S1_S_33 {max-width:293px; max-height:148px; }
.JEE_MAIN_6APRIL_2024_S1_S_33::after {content: '\00a0';display: inline-block; width:293px; height:148px; background-position: 0.45662100456621% 40.450771055753265%; background-size: 174.74402730375428% 669.5945945945946%; background-image: url(p_12_atoms3_0.png);padding: 0; }
div.JEE_MAIN_6APRIL_2024_S1_S_33::after {max-width:293px; width:100%;height:0;padding: 0 0 50.51194539249147% 0;}
.jm_4_apr_2025_s2_q_38a {max-width:220px; max-height:172px; }
.jm_4_apr_2025_s2_q_38a::after {content: '\00a0';display: inline-block; width:220px; height:172px; background-position: 97.6027397260274% 64.59096459096459%; background-size: 232.72727272727272% 576.1627906976744%; background-image: url(p_12_atoms3_0.png);padding: 0; }
div.jm_4_apr_2025_s2_q_38a::after {max-width:220px; width:100%;height:0;padding: 0 0 78.18181818181819% 0;}
.jm_4_apr_2025_s2_q_38b {max-width:216px; max-height:187px; }
.jm_4_apr_2025_s2_q_38b::after {content: '\00a0';display: inline-block; width:216px; height:187px; background-position: 99.66216216216216% 42.41293532338308%; background-size: 237.03703703703704% 529.9465240641712%; background-image: url(p_12_atoms3_0.png);padding: 0; }
div.jm_4_apr_2025_s2_q_38b::after {max-width:216px; width:100%;height:0;padding: 0 0 86.57407407407408% 0;}
.jm_4_apr_2025_s2_q_38c {max-width:242px; max-height:178px; }
.jm_4_apr_2025_s2_q_38c::after {content: '\00a0';display: inline-block; width:242px; height:178px; background-position: 92.5925925925926% 86.34686346863468%; background-size: 211.5702479338843% 556.7415730337078%; background-image: url(p_12_atoms3_0.png);padding: 0; }
div.jm_4_apr_2025_s2_q_38c::after {max-width:242px; width:100%;height:0;padding: 0 0 73.55371900826447% 0;}
.jm_4_apr_2025_s2_q_38d {max-width:248px; max-height:200px; }
.jm_4_apr_2025_s2_q_38d::after {content: '\00a0';display: inline-block; width:248px; height:200px; background-position: 0.3787878787878788% 77.11757269279393%; background-size: 206.4516129032258% 495.5%; background-image: url(p_12_atoms3_0.png);padding: 0; }
div.jm_4_apr_2025_s2_q_38d::after {max-width:248px; width:100%;height:0;padding: 0 0 80.64516129032258% 0;}


/* $TexturePacker:SmartUpdate:5671f5101701b71df82a08b6a9806228:87b2a6b74fe6ebca62465d9f0ed42802:b25a4adcb68476d17f24e5801f828a90$ */
