/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.JEEMAINS_11APRIL_2023_S1_Q_35 {max-width:356px; max-height:190px; }
.JEEMAINS_11APRIL_2023_S1_Q_35::after {content: '\00a0';display: inline-block; width:356px; height:190px; background-position: 40.294323756131746% 73.35299901671583%; background-size: 500.8426966292135% 635.2631578947369%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.JEEMAINS_11APRIL_2023_S1_Q_35::after {max-width:356px; width:100%;height:0;padding: 0 0 53.37078651685393% 0;}
.JEEMAINS_11APRIL_2023_S1_S_35 {max-width:675px; max-height:262px; }
.JEEMAINS_11APRIL_2023_S1_S_35::after {content: '\00a0';display: inline-block; width:675px; height:262px; background-position: 0.09025270758122744% 0.10582010582010581%; background-size: 264.14814814814815% 460.68702290076334%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.JEEMAINS_11APRIL_2023_S1_S_35::after {max-width:675px; width:100%;height:0;padding: 0 0 38.81481481481482% 0;}
.JEEMAINS_11APRIL_2023_S2_S_51 {max-width:652px; max-height:222px; }
.JEEMAINS_11APRIL_2023_S2_S_51::after {content: '\00a0';display: inline-block; width:652px; height:222px; background-position: 0.08841732979664015% 26.80203045685279%; background-size: 273.46625766871165% 543.6936936936937%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.JEEMAINS_11APRIL_2023_S2_S_51::after {max-width:652px; width:100%;height:0;padding: 0 0 34.04907975460123% 0;}
.JEEMAINS_12APRIL_2023_S1_S_38 {max-width:262px; max-height:207px; }
.JEEMAINS_12APRIL_2023_S1_S_38::after {content: '\00a0';display: inline-block; width:262px; height:207px; background-position: 79.15844838921763% 47.1%; background-size: 680.5343511450382% 583.0917874396135%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.JEEMAINS_12APRIL_2023_S1_S_38::after {max-width:262px; width:100%;height:0;padding: 0 0 79.00763358778626% 0;}
.JEEMAINS_13APRIL_2023_S1_Q_57 {max-width:365px; max-height:217px; }
.JEEMAINS_13APRIL_2023_S1_Q_57::after {content: '\00a0';display: inline-block; width:365px; height:217px; background-position: 40.55007052186178% 53.333333333333336%; background-size: 488.4931506849315% 556.221198156682%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.JEEMAINS_13APRIL_2023_S1_Q_57::after {max-width:365px; width:100%;height:0;padding: 0 0 59.45205479452055% 0;}
.JEEMAINS_26JULY_S2_Q_87 {max-width:450px; max-height:165px; }
.JEEMAINS_26JULY_S2_Q_87::after {content: '\00a0';display: inline-block; width:450px; height:165px; background-position: 50.78769692423106% 0.09596928982725528%; background-size: 396.22222222222223% 731.5151515151515%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.JEEMAINS_26JULY_S2_Q_87::after {max-width:450px; width:100%;height:0;padding: 0 0 36.666666666666664% 0;}
.JEEMAINS_29JAN_S2_Q_17 {max-width:442px; max-height:163px; }
.JEEMAINS_29JAN_S2_Q_17::after {content: '\00a0';display: inline-block; width:442px; height:163px; background-position: 84.11633109619687% 0.09578544061302682%; background-size: 403.39366515837105% 740.4907975460122%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.JEEMAINS_29JAN_S2_Q_17::after {max-width:442px; width:100%;height:0;padding: 0 0 36.87782805429864% 0;}
.JEEMAINS_29JAN_S2_S_17 {max-width:252px; max-height:383px; }
.JEEMAINS_29JAN_S2_S_17::after {content: '\00a0';display: inline-block; width:252px; height:383px; background-position: 0.06531678641410843% 59.101941747572816%; background-size: 707.5396825396825% 315.1436031331593%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.JEEMAINS_29JAN_S2_S_17::after {max-width:252px; width:100%;height:0;padding: 0 0 151.984126984127% 0;}
.JEEMAINS_30JAN_S2_Q_10 {max-width:391px; max-height:207px; }
.JEEMAINS_30JAN_S2_Q_10::after {content: '\00a0';display: inline-block; width:391px; height:207px; background-position: 46.98275862068966% 32%; background-size: 456.01023017902816% 583.0917874396135%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.JEEMAINS_30JAN_S2_Q_10::after {max-width:391px; width:100%;height:0;padding: 0 0 52.94117647058823% 0;}
.JEEMAINS_6APRIL_2023_S2_S_41 {max-width:211px; max-height:197px; }
.JEEMAINS_6APRIL_2023_S2_S_41::after {content: '\00a0';display: inline-block; width:211px; height:197px; background-position: 99.93638676844783% 0.09900990099009901%; background-size: 845.0236966824644% 612.6903553299493%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.JEEMAINS_6APRIL_2023_S2_S_41::after {max-width:211px; width:100%;height:0;padding: 0 0 93.36492890995261% 0;}
.JEE_30_Jan_2024_Shift_1_50_s {max-width:167px; max-height:116px; }
.JEE_30_Jan_2024_Shift_1_50_s::after {content: '\00a0';display: inline-block; width:167px; height:116px; background-position: 93.75% 98.16681943171402%; background-size: 1067.6646706586826% 1040.5172413793102%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.JEE_30_Jan_2024_Shift_1_50_s::after {max-width:167px; width:100%;height:0;padding: 0 0 69.46107784431138% 0;}
.JEE_MAIN_4APRIL_2024_S2_Q_39_O_1 {max-width:160px; max-height:123px; }
.JEE_MAIN_4APRIL_2024_S2_Q_39_O_1::after {content: '\00a0';display: inline-block; width:160px; height:123px; background-position: 82.93284041897721% 89.76014760147602%; background-size: 1114.375% 981.30081300813%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.JEE_MAIN_4APRIL_2024_S2_Q_39_O_1::after {max-width:160px; width:100%;height:0;padding: 0 0 76.875% 0;}
.JEE_MAIN_4APRIL_2024_S2_Q_39_O_2 {max-width:183px; max-height:118px; }
.JEE_MAIN_4APRIL_2024_S2_Q_39_O_2::after {content: '\00a0';display: inline-block; width:183px; height:118px; background-position: 94.1875% 87.41965105601469%; background-size: 974.3169398907104% 1022.8813559322034%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.JEE_MAIN_4APRIL_2024_S2_Q_39_O_2::after {max-width:183px; width:100%;height:0;padding: 0 0 64.48087431693989% 0;}
.JEE_MAIN_4APRIL_2024_S2_Q_39_O_3 {max-width:168px; max-height:109px; }
.JEE_MAIN_4APRIL_2024_S2_Q_39_O_3::after {content: '\00a0';display: inline-block; width:168px; height:109px; background-position: 83.343653250774% 99.90892531876139%; background-size: 1061.3095238095239% 1107.3394495412845%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.JEE_MAIN_4APRIL_2024_S2_Q_39_O_3::after {max-width:168px; width:100%;height:0;padding: 0 0 64.88095238095238% 0;}
.JEE_MAIN_4APRIL_2024_S2_Q_39_O_4 {max-width:160px; max-height:124px; }
.JEE_MAIN_4APRIL_2024_S2_Q_39_O_4::after {content: '\00a0';display: inline-block; width:160px; height:124px; background-position: 54.83672211953173% 99.90766389658357%; background-size: 1114.375% 973.3870967741935%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.JEE_MAIN_4APRIL_2024_S2_Q_39_O_4::after {max-width:160px; width:100%;height:0;padding: 0 0 77.5% 0;}
.JEE_MAIN_5APRIL_2024_S1_Q_58 {max-width:279px; max-height:200px; }
.JEE_MAIN_5APRIL_2024_S1_Q_58::after {content: '\00a0';display: inline-block; width:279px; height:200px; background-position: 97.53989361702128% 40.01986097318768%; background-size: 639.068100358423% 603.5%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.JEE_MAIN_5APRIL_2024_S1_Q_58::after {max-width:279px; width:100%;height:0;padding: 0 0 71.68458781362007% 0;}
.JEE_MAIN_8APRIL_2024_S2_S_45 {max-width:245px; max-height:182px; }
.JEE_MAIN_8APRIL_2024_S2_S_45::after {content: '\00a0';display: inline-block; width:245px; height:182px; background-position: 95.7737321196359% 75.02439024390245%; background-size: 727.7551020408164% 663.1868131868132%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.JEE_MAIN_8APRIL_2024_S2_S_45::after {max-width:245px; width:100%;height:0;padding: 0 0 74.28571428571429% 0;}
.JEE_MAIN_9APRIL_2024_S1_S_48 {max-width:231px; max-height:150px; }
.JEE_MAIN_9APRIL_2024_S1_S_48::after {content: '\00a0';display: inline-block; width:231px; height:150px; background-position: 75.77319587628865% 77.76726584673605%; background-size: 771.8614718614718% 804.6666666666666%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.JEE_MAIN_9APRIL_2024_S1_S_48::after {max-width:231px; width:100%;height:0;padding: 0 0 64.93506493506493% 0;}
.JEE_MAIN_9APRIL_2024_S1_S_58 {max-width:205px; max-height:160px; }
.JEE_MAIN_9APRIL_2024_S1_S_58::after {content: '\00a0';display: inline-block; width:205px; height:160px; background-position: 72.24334600760456% 92.93218720152818%; background-size: 869.7560975609756% 754.375%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.JEE_MAIN_9APRIL_2024_S1_S_58::after {max-width:205px; width:100%;height:0;padding: 0 0 78.04878048780488% 0;}
.JEE_MAIN_9APRIL_2024_S1_S_58_1 {max-width:207px; max-height:158px; }
.JEE_MAIN_9APRIL_2024_S1_S_58_1::after {content: '\00a0';display: inline-block; width:207px; height:158px; background-position: 59.13705583756345% 87.98856053384175%; background-size: 861.3526570048309% 763.9240506329114%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.JEE_MAIN_9APRIL_2024_S1_S_58_1::after {max-width:207px; width:100%;height:0;padding: 0 0 76.32850241545894% 0;}
.JEE_MAIN_9APRIL_2024_S2_S_53 {max-width:303px; max-height:203px; }
.JEE_MAIN_9APRIL_2024_S2_S_53::after {content: '\00a0';display: inline-block; width:303px; height:203px; background-position: 97.9054054054054% 19.820717131474105%; background-size: 588.4488448844885% 594.5812807881773%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.JEE_MAIN_9APRIL_2024_S2_S_53::after {max-width:303px; width:100%;height:0;padding: 0 0 66.996699669967% 0;}
.jee_mains_24_jan_2023_s1_24 {max-width:268px; max-height:142px; }
.jee_mains_24_jan_2023_s1_24::after {content: '\00a0';display: inline-block; width:268px; height:142px; background-position: 79.47194719471948% 63.755868544600936%; background-size: 665.2985074626865% 850%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.jee_mains_24_jan_2023_s1_24::after {max-width:268px; width:100%;height:0;padding: 0 0 52.985074626865675% 0;}
.jee_mains_29_jun_2022_s1_40 {max-width:234px; max-height:185px; }
.jee_mains_29_jun_2022_s1_40::after {content: '\00a0';display: inline-block; width:234px; height:185px; background-position: 60.74887023886378% 72.11350293542074%; background-size: 761.965811965812% 652.4324324324324%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.jee_mains_29_jun_2022_s1_40::after {max-width:234px; width:100%;height:0;padding: 0 0 79.05982905982906% 0;}
.jee_mn_26_jul_2022_s2_57_sol {max-width:300px; max-height:164px; }
.jee_mn_26_jul_2022_s2_57_sol::after {content: '\00a0';display: inline-block; width:300px; height:164px; background-position: 99.32569116655428% 57.90987535953979%; background-size: 594.3333333333334% 735.9756097560976%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.jee_mn_26_jul_2022_s2_57_sol::after {max-width:300px; width:100%;height:0;padding: 0 0 54.666666666666664% 0;}
.jee_mn_27_jul_2022_s2_44_sol {max-width:427px; max-height:152px; }
.jee_mn_27_jul_2022_s2_44_sol::after {content: '\00a0';display: inline-block; width:427px; height:152px; background-position: 49.926253687315636% 15.829383886255924%; background-size: 417.56440281030444% 794.078947368421%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.jee_mn_27_jul_2022_s2_44_sol::after {max-width:427px; width:100%;height:0;padding: 0 0 35.59718969555035% 0;}
.jee_mn_27_jul_2022_s2_54_sol {max-width:237px; max-height:355px; }
.jee_mn_27_jul_2022_s2_54_sol::after {content: '\00a0';display: inline-block; width:237px; height:355px; background-position: 20.827943078913325% 91.78403755868544%; background-size: 752.3206751054852% 340%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.jee_mn_27_jul_2022_s2_54_sol::after {max-width:237px; width:100%;height:0;padding: 0 0 149.78902953586498% 0;}
.jee_mn_29_jul_2022_s1_60_sol {max-width:320px; max-height:294px; }
.jee_mn_29_jul_2022_s1_60_sol::after {content: '\00a0';display: inline-block; width:320px; height:294px; background-position: 17.361585782638414% 53.34063526834611%; background-size: 557.1875% 410.5442176870748%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.jee_mn_29_jul_2022_s1_60_sol::after {max-width:320px; width:100%;height:0;padding: 0 0 91.875% 0;}
.jee_mn_29_jul_2022_s1_60_sol_1 {max-width:320px; max-height:276px; }
.jee_mn_29_jul_2022_s1_60_sol_1::after {content: '\00a0';display: inline-block; width:320px; height:276px; background-position: 0.0683526999316473% 93.55531686358754%; background-size: 557.1875% 437.3188405797101%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.jee_mn_29_jul_2022_s1_60_sol_1::after {max-width:320px; width:100%;height:0;padding: 0 0 86.25% 0;}
.jee_mn_29_jul_2022_s2_44_sol {max-width:320px; max-height:185px; }
.jee_mn_29_jul_2022_s2_44_sol::after {content: '\00a0';display: inline-block; width:320px; height:185px; background-position: 75.52973342447027% 27.886497064579256%; background-size: 557.1875% 652.4324324324324%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.jee_mn_29_jul_2022_s2_44_sol::after {max-width:320px; width:100%;height:0;padding: 0 0 57.8125% 0;}
.jee_mn_30_jan_2024_s1_41 {max-width:320px; max-height:119px; }
.jee_mn_30_jan_2024_s1_41::after {content: '\00a0';display: inline-block; width:320px; height:119px; background-position: 77.10184552289816% 15.165441176470589%; background-size: 557.1875% 1014.2857142857143%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.jee_mn_30_jan_2024_s1_41::after {max-width:320px; width:100%;height:0;padding: 0 0 37.1875% 0;}
.jm_7_apr_2025_s1_q_49 {max-width:329px; max-height:261px; }
.jm_7_apr_2025_s1_q_49::after {content: '\00a0';display: inline-block; width:329px; height:261px; background-position: 38.514442916093536% 99.04862579281183%; background-size: 541.9452887537994% 462.4521072796935%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.jm_7_apr_2025_s1_q_49::after {max-width:329px; width:100%;height:0;padding: 0 0 79.33130699088146% 0;}
.jm_7_apr_2025_s1_sol_49 {max-width:262px; max-height:208px; }
.jm_7_apr_2025_s1_sol_49::after {content: '\00a0';display: inline-block; width:262px; height:208px; background-position: 61.867192636423404% 52.852852852852855%; background-size: 680.5343511450382% 580.2884615384615%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.jm_7_apr_2025_s1_sol_49::after {max-width:262px; width:100%;height:0;padding: 0 0 79.38931297709924% 0;}

@keyframes JEE_MAIN_4APRIL_2024_S2_Q_39_O-frames {
    0% { background-position: 82.93284041897721% 89.76014760147602%;  }
    25% { background-position: 94.1875% 87.41965105601469%;  }
    50% { background-position: 83.343653250774% 99.90892531876139%;  }
    75% { background-position: 54.83672211953173% 99.90766389658357%;  }
}

.JEE_MAIN_4APRIL_2024_S2_Q_39_O-animation {
    max-width: 160px;
    max-height: 123px;
}
.JEE_MAIN_4APRIL_2024_S2_Q_39_O-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 160px;
    height: 123px;
    padding: 0;
    background-image: url(p_12_alternaticcurrent2_0.png);
    background-size: 1114.375% 981.30081300813%; 
    animation-name: JEE_MAIN_4APRIL_2024_S2_Q_39_O-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEE_MAIN_4APRIL_2024_S2_Q_39_O-animation::after {
    max-width: 160px;
    width: 100%;
    height: 0;
    padding: 0 0 76.875% 0;
}

@keyframes JEE_MAIN_9APRIL_2024_S1_S-frames {
    0% { background-position: 75.77319587628865% 77.76726584673605%;  }
    50% { background-position: 72.24334600760456% 92.93218720152818%;  }
}

.JEE_MAIN_9APRIL_2024_S1_S-animation {
    max-width: 231px;
    max-height: 150px;
}
.JEE_MAIN_9APRIL_2024_S1_S-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 231px;
    height: 150px;
    padding: 0;
    background-image: url(p_12_alternaticcurrent2_0.png);
    background-size: 771.8614718614718% 804.6666666666666%; 
    animation-name: JEE_MAIN_9APRIL_2024_S1_S-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEE_MAIN_9APRIL_2024_S1_S-animation::after {
    max-width: 231px;
    width: 100%;
    height: 0;
    padding: 0 0 64.93506493506493% 0;
}

/* $TexturePacker:SmartUpdate:6d52e653e483e9b0ed0ed072a9d24937:18b668f4bbff7c8948e7c147d959761e:9c4a2a52969685696f073d68c5c96a05$ */
