/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.JEEMAINS_11APRIL_2023_S1_Q_35 {max-width:356px; max-height:190px; }
.JEEMAINS_11APRIL_2023_S1_Q_35::after {content: '\00a0';display: inline-block; width:356px; height:190px; background-position: 77.20739219712526% 15.804597701149426%; background-size: 510.39325842696627% 649.4736842105264%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.JEEMAINS_11APRIL_2023_S1_Q_35::after {max-width:356px; width:100%;height:0;padding: 0 0 53.37078651685393% 0;}
.JEEMAINS_11APRIL_2023_S1_S_35 {max-width:675px; max-height:262px; }
.JEEMAINS_11APRIL_2023_S1_S_35::after {content: '\00a0';display: inline-block; width:675px; height:262px; background-position: 0.08756567425569177% 0.102880658436214%; background-size: 269.18518518518516% 470.99236641221376%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.JEEMAINS_11APRIL_2023_S1_S_35::after {max-width:675px; width:100%;height:0;padding: 0 0 38.81481481481482% 0;}
.JEEMAINS_11APRIL_2023_S2_S_51 {max-width:652px; max-height:222px; }
.JEEMAINS_11APRIL_2023_S2_S_51::after {content: '\00a0';display: inline-block; width:652px; height:222px; background-position: 0.08583690987124463% 26.08695652173913%; background-size: 278.680981595092% 555.8558558558559%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.JEEMAINS_11APRIL_2023_S2_S_51::after {max-width:652px; width:100%;height:0;padding: 0 0 34.04907975460123% 0;}
.JEEMAINS_12APRIL_2023_S1_S_38 {max-width:262px; max-height:207px; }
.JEEMAINS_12APRIL_2023_S1_S_38::after {content: '\00a0';display: inline-block; width:262px; height:207px; background-position: 96.65594855305466% 51.996105160662125%; background-size: 693.5114503816794% 596.135265700483%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.JEEMAINS_12APRIL_2023_S1_S_38::after {max-width:262px; width:100%;height:0;padding: 0 0 79.00763358778626% 0;}
.JEEMAINS_13APRIL_2023_S1_Q_57 {max-width:365px; max-height:217px; }
.JEEMAINS_13APRIL_2023_S1_Q_57::after {content: '\00a0';display: inline-block; width:365px; height:217px; background-position: 39.60055096418733% 99.9016715830875%; background-size: 497.8082191780822% 568.6635944700461%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.JEEMAINS_13APRIL_2023_S1_Q_57::after {max-width:365px; width:100%;height:0;padding: 0 0 59.45205479452055% 0;}
.JEEMAINS_26JULY_S2_Q_87 {max-width:450px; max-height:165px; }
.JEEMAINS_26JULY_S2_Q_87::after {content: '\00a0';display: inline-block; width:450px; height:165px; background-position: 49.52450621799561% 0.09354536950420954%; background-size: 403.77777777777777% 747.8787878787879%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.JEEMAINS_26JULY_S2_Q_87::after {max-width:450px; width:100%;height:0;padding: 0 0 36.666666666666664% 0;}
.JEEMAINS_29JAN_S2_Q_17 {max-width:442px; max-height:163px; }
.JEEMAINS_29JAN_S2_Q_17::after {content: '\00a0';display: inline-block; width:442px; height:163px; background-position: 82.03636363636363% 0.09337068160597572%; background-size: 411.08597285067873% 757.0552147239264%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.JEEMAINS_29JAN_S2_Q_17::after {max-width:442px; width:100%;height:0;padding: 0 0 36.87782805429864% 0;}
.JEEMAINS_29JAN_S2_S_17 {max-width:252px; max-height:383px; }
.JEEMAINS_29JAN_S2_S_17::after {content: '\00a0';display: inline-block; width:252px; height:383px; background-position: 0.06389776357827476% 57.226792009400704%; background-size: 721.031746031746% 322.19321148825065%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.JEEMAINS_29JAN_S2_S_17::after {max-width:252px; width:100%;height:0;padding: 0 0 151.984126984127% 0;}
.JEEMAINS_30JAN_S2_Q_10 {max-width:391px; max-height:207px; }
.JEEMAINS_30JAN_S2_Q_10::after {content: '\00a0';display: inline-block; width:391px; height:207px; background-position: 45.862552594670404% 31.1587147030185%; background-size: 464.70588235294116% 596.135265700483%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.JEEMAINS_30JAN_S2_Q_10::after {max-width:391px; width:100%;height:0;padding: 0 0 52.94117647058823% 0;}
.JEEMAINS_6APRIL_2023_S2_S_41 {max-width:211px; max-height:197px; }
.JEEMAINS_6APRIL_2023_S2_S_41::after {content: '\00a0';display: inline-block; width:211px; height:197px; background-position: 76.33872976338729% 83.89585342333655%; background-size: 861.1374407582938% 626.3959390862944%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.JEEMAINS_6APRIL_2023_S2_S_41::after {max-width:211px; width:100%;height:0;padding: 0 0 93.36492890995261% 0;}
.JEE_30_Jan_2024_Shift_1_50_s {max-width:167px; max-height:116px; }
.JEE_30_Jan_2024_Shift_1_50_s::after {content: '\00a0';display: inline-block; width:167px; height:116px; background-position: 84.18181818181819% 67.17352415026834%; background-size: 1088.0239520958085% 1063.7931034482758%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.JEE_30_Jan_2024_Shift_1_50_s::after {max-width:167px; width:100%;height:0;padding: 0 0 69.46107784431138% 0;}
.JEE_MAIN_4APRIL_2024_S2_Q_39_O_1 {max-width:160px; max-height:123px; }
.JEE_MAIN_4APRIL_2024_S2_Q_39_O_1::after {content: '\00a0';display: inline-block; width:160px; height:123px; background-position: 99.2154496077248% 92.34923492349235%; background-size: 1135.625% 1003.2520325203252%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.JEE_MAIN_4APRIL_2024_S2_Q_39_O_1::after {max-width:160px; width:100%;height:0;padding: 0 0 76.875% 0;}
.JEE_MAIN_4APRIL_2024_S2_Q_39_O_2 {max-width:183px; max-height:118px; }
.JEE_MAIN_4APRIL_2024_S2_Q_39_O_2::after {content: '\00a0';display: inline-block; width:183px; height:118px; background-position: 73.7454100367197% 67.29390681003584%; background-size: 992.896174863388% 1045.7627118644068%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.JEE_MAIN_4APRIL_2024_S2_Q_39_O_2::after {max-width:183px; width:100%;height:0;padding: 0 0 64.48087431693989% 0;}
.JEE_MAIN_4APRIL_2024_S2_Q_39_O_3 {max-width:168px; max-height:109px; }
.JEE_MAIN_4APRIL_2024_S2_Q_39_O_3::after {content: '\00a0';display: inline-block; width:168px; height:109px; background-position: 87.20436628259552% 94.4%; background-size: 1081.547619047619% 1132.1100917431193%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.JEE_MAIN_4APRIL_2024_S2_Q_39_O_3::after {max-width:168px; width:100%;height:0;padding: 0 0 64.88095238095238% 0;}
.JEE_MAIN_4APRIL_2024_S2_Q_39_O_4 {max-width:160px; max-height:124px; }
.JEE_MAIN_4APRIL_2024_S2_Q_39_O_4::after {content: '\00a0';display: inline-block; width:160px; height:124px; background-position: 99.2154496077248% 81.17117117117117%; background-size: 1135.625% 995.1612903225806%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.JEE_MAIN_4APRIL_2024_S2_Q_39_O_4::after {max-width:160px; width:100%;height:0;padding: 0 0 77.5% 0;}
.JEE_MAIN_5APRIL_2024_S1_Q_58 {max-width:279px; max-height:200px; }
.JEE_MAIN_5APRIL_2024_S1_Q_58::after {content: '\00a0';display: inline-block; width:279px; height:200px; background-position: 96.55396618985695% 17.79497098646035%; background-size: 651.2544802867384% 617%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.JEE_MAIN_5APRIL_2024_S1_Q_58::after {max-width:279px; width:100%;height:0;padding: 0 0 71.68458781362007% 0;}
.JEE_MAIN_8APRIL_2024_S2_S_45 {max-width:245px; max-height:182px; }
.JEE_MAIN_8APRIL_2024_S2_S_45::after {content: '\00a0';display: inline-block; width:245px; height:182px; background-position: 99.93638676844783% 0.09505703422053231%; background-size: 741.6326530612245% 678.021978021978%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.JEE_MAIN_8APRIL_2024_S2_S_45::after {max-width:245px; width:100%;height:0;padding: 0 0 74.28571428571429% 0;}
.JEE_MAIN_9APRIL_2024_S1_S_48 {max-width:231px; max-height:150px; }
.JEE_MAIN_9APRIL_2024_S1_S_48::after {content: '\00a0';display: inline-block; width:231px; height:150px; background-position: 74.14880201765448% 98.5239852398524%; background-size: 786.5800865800866% 822.6666666666666%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.JEE_MAIN_9APRIL_2024_S1_S_48::after {max-width:231px; width:100%;height:0;padding: 0 0 64.93506493506493% 0;}
.JEE_MAIN_9APRIL_2024_S1_S_58 {max-width:205px; max-height:160px; }
.JEE_MAIN_9APRIL_2024_S1_S_58::after {content: '\00a0';display: inline-block; width:205px; height:160px; background-position: 89.20595533498759% 83.89199255121042%; background-size: 886.3414634146342% 771.25%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.JEE_MAIN_9APRIL_2024_S1_S_58::after {max-width:205px; width:100%;height:0;padding: 0 0 78.04878048780488% 0;}
.JEE_MAIN_9APRIL_2024_S1_S_58_1 {max-width:207px; max-height:158px; }
.JEE_MAIN_9APRIL_2024_S1_S_58_1::after {content: '\00a0';display: inline-block; width:207px; height:158px; background-position: 96.7080745341615% 68.95910780669145%; background-size: 877.7777777777778% 781.0126582278481%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.JEE_MAIN_9APRIL_2024_S1_S_58_1::after {max-width:207px; width:100%;height:0;padding: 0 0 76.32850241545894% 0;}
.JEE_MAIN_9APRIL_2024_S2_S_53 {max-width:303px; max-height:203px; }
.JEE_MAIN_9APRIL_2024_S2_S_53::after {content: '\00a0';display: inline-block; width:303px; height:203px; background-position: 61.822985468956404% 52.570320077594566%; background-size: 599.6699669966997% 607.8817733990148%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.JEE_MAIN_9APRIL_2024_S2_S_53::after {max-width:303px; width:100%;height:0;padding: 0 0 66.996699669967% 0;}
.je_mn_23_jan_2026_s1_q_50 {max-width:300px; max-height:148px; }
.je_mn_23_jan_2026_s1_q_50::after {content: '\00a0';display: inline-block; width:300px; height:148px; background-position: 90.11206328279499% 35.451197053407%; background-size: 605.6666666666666% 833.7837837837837%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.je_mn_23_jan_2026_s1_q_50::after {max-width:300px; width:100%;height:0;padding: 0 0 49.333333333333336% 0;}
.je_mn_24_jan_2026_s1_q_37 {max-width:360px; max-height:225px; }
.je_mn_24_jan_2026_s1_q_37::after {content: '\00a0';display: inline-block; width:360px; height:225px; background-position: 39.4646533973919% 52.32903865213082%; background-size: 504.72222222222223% 548.4444444444445%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.je_mn_24_jan_2026_s1_q_37::after {max-width:360px; width:100%;height:0;padding: 0 0 62.5% 0;}
.jee_mains_24_jan_2023_s1_24 {max-width:268px; max-height:142px; }
.jee_mains_24_jan_2023_s1_24::after {content: '\00a0';display: inline-block; width:268px; height:142px; background-position: 60.42608134280181% 68.31501831501832%; background-size: 677.9850746268656% 869.0140845070423%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.jee_mains_24_jan_2023_s1_24::after {max-width:268px; width:100%;height:0;padding: 0 0 52.985074626865675% 0;}
.jee_mains_29_jun_2022_s1_40 {max-width:234px; max-height:185px; }
.jee_mains_29_jun_2022_s1_40::after {content: '\00a0';display: inline-block; width:234px; height:185px; background-position: 59.44409349336703% 96.18684461391801%; background-size: 776.4957264957264% 667.027027027027%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.jee_mains_29_jun_2022_s1_40::after {max-width:234px; width:100%;height:0;padding: 0 0 79.05982905982906% 0;}
.jee_mn_26_jul_2022_s2_57_sol {max-width:300px; max-height:164px; }
.jee_mn_26_jul_2022_s2_57_sol::after {content: '\00a0';display: inline-block; width:300px; height:164px; background-position: 15.754779169413316% 98.97196261682242%; background-size: 605.6666666666666% 752.439024390244%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.jee_mn_26_jul_2022_s2_57_sol::after {max-width:300px; width:100%;height:0;padding: 0 0 54.666666666666664% 0;}
.jee_mn_27_jul_2022_s2_44_sol {max-width:427px; max-height:152px; }
.jee_mn_27_jul_2022_s2_44_sol::after {content: '\00a0';display: inline-block; width:427px; height:152px; background-position: 48.70503597122302% 15.434380776340111%; background-size: 425.5269320843091% 811.8421052631579%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.jee_mn_27_jul_2022_s2_44_sol::after {max-width:427px; width:100%;height:0;padding: 0 0 35.59718969555035% 0;}
.jee_mn_27_jul_2022_s2_54_sol {max-width:237px; max-height:355px; }
.jee_mn_27_jul_2022_s2_54_sol::after {content: '\00a0';display: inline-block; width:237px; height:355px; background-position: 0.06329113924050633% 99.08987485779295%; background-size: 766.6666666666666% 347.6056338028169%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.jee_mn_27_jul_2022_s2_54_sol::after {max-width:237px; width:100%;height:0;padding: 0 0 149.78902953586498% 0;}
.jee_mn_29_jul_2022_s1_60_sol {max-width:320px; max-height:294px; }
.jee_mn_29_jul_2022_s1_60_sol::after {content: '\00a0';display: inline-block; width:320px; height:294px; background-position: 16.967267869071478% 51.808510638297875%; background-size: 567.8125% 419.7278911564626%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.jee_mn_29_jul_2022_s1_60_sol::after {max-width:320px; width:100%;height:0;padding: 0 0 91.875% 0;}
.jee_mn_29_jul_2022_s1_60_sol_1 {max-width:320px; max-height:276px; }
.jee_mn_29_jul_2022_s1_60_sol_1::after {content: '\00a0';display: inline-block; width:320px; height:276px; background-position: 16.967267869071478% 81.62839248434238%; background-size: 567.8125% 447.1014492753623%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.jee_mn_29_jul_2022_s1_60_sol_1::after {max-width:320px; width:100%;height:0;padding: 0 0 86.25% 0;}
.jee_mn_29_jul_2022_s2_44_sol {max-width:320px; max-height:185px; }
.jee_mn_29_jul_2022_s2_44_sol::after {content: '\00a0';display: inline-block; width:320px; height:185px; background-position: 69.87307949231797% 33.93708293612965%; background-size: 567.8125% 667.027027027027%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.jee_mn_29_jul_2022_s2_44_sol::after {max-width:320px; width:100%;height:0;padding: 0 0 57.8125% 0;}
.jee_mn_30_jan_2024_s1_41 {max-width:320px; max-height:119px; }
.jee_mn_30_jan_2024_s1_41::after {content: '\00a0';display: inline-block; width:320px; height:119px; background-position: 60.45424181696727% 79.73094170403587%; background-size: 567.8125% 1036.9747899159663%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.jee_mn_30_jan_2024_s1_41::after {max-width:320px; width:100%;height:0;padding: 0 0 37.1875% 0;}
.jm_7_apr_2025_s1_q_49 {max-width:329px; max-height:261px; }
.jm_7_apr_2025_s1_q_49::after {content: '\00a0';display: inline-block; width:329px; height:261px; background-position: 38.64247311827957% 77.4922918807811%; background-size: 552.2796352583587% 472.79693486590037%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.jm_7_apr_2025_s1_q_49::after {max-width:329px; width:100%;height:0;padding: 0 0 79.33130699088146% 0;}
.jm_7_apr_2025_s1_sol_49 {max-width:262px; max-height:208px; }
.jm_7_apr_2025_s1_sol_49::after {content: '\00a0';display: inline-block; width:262px; height:208px; background-position: 79.7427652733119% 52.826510721247566%; background-size: 693.5114503816794% 593.2692307692307%; background-image: url(p_12_alternaticcurrent2_0.png);padding: 0; }
div.jm_7_apr_2025_s1_sol_49::after {max-width:262px; width:100%;height:0;padding: 0 0 79.38931297709924% 0;}

@keyframes JEE_MAIN_4APRIL_2024_S2_Q_39_O-frames {
    0% { background-position: 99.2154496077248% 92.34923492349235%;  }
    25% { background-position: 73.7454100367197% 67.29390681003584%;  }
    50% { background-position: 87.20436628259552% 94.4%;  }
    75% { background-position: 99.2154496077248% 81.17117117117117%;  }
}

.JEE_MAIN_4APRIL_2024_S2_Q_39_O-animation {
    max-width: 160px;
    max-height: 123px;
}
.JEE_MAIN_4APRIL_2024_S2_Q_39_O-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 160px;
    height: 123px;
    padding: 0;
    background-image: url(p_12_alternaticcurrent2_0.png);
    background-size: 1135.625% 1003.2520325203252%; 
    animation-name: JEE_MAIN_4APRIL_2024_S2_Q_39_O-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEE_MAIN_4APRIL_2024_S2_Q_39_O-animation::after {
    max-width: 160px;
    width: 100%;
    height: 0;
    padding: 0 0 76.875% 0;
}

@keyframes JEE_MAIN_9APRIL_2024_S1_S-frames {
    0% { background-position: 74.14880201765448% 98.5239852398524%;  }
    50% { background-position: 89.20595533498759% 83.89199255121042%;  }
}

.JEE_MAIN_9APRIL_2024_S1_S-animation {
    max-width: 231px;
    max-height: 150px;
}
.JEE_MAIN_9APRIL_2024_S1_S-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 231px;
    height: 150px;
    padding: 0;
    background-image: url(p_12_alternaticcurrent2_0.png);
    background-size: 786.5800865800866% 822.6666666666666%; 
    animation-name: JEE_MAIN_9APRIL_2024_S1_S-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEE_MAIN_9APRIL_2024_S1_S-animation::after {
    max-width: 231px;
    width: 100%;
    height: 0;
    padding: 0 0 64.93506493506493% 0;
}

/* $TexturePacker:SmartUpdate:e18c4b3f3cd0aa3aee6deaef347ec655:938ec114e906b0dd9a3b806b13f3c766:9c4a2a52969685696f073d68c5c96a05$ */
