/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.JEEMAINS_24JAN_2023_S1_S_14 {max-width:212px; max-height:197px; }
.JEEMAINS_24JAN_2023_S1_S_14::after {content: '\00a0';display: inline-block; width:212px; height:197px; background-position: 82.3906083244397% 82.68506900878293%; background-size: 541.9811320754717% 504.56852791878174%; background-image: url(p_12_waveoptics1_0.png);padding: 0; }
div.JEEMAINS_24JAN_2023_S1_S_14::after {max-width:212px; width:100%;height:0;padding: 0 0 92.9245283018868% 0;}
.JEEMAINS_29JAN_S1_Q_30 {max-width:501px; max-height:143px; }
.JEEMAINS_29JAN_S1_Q_30::after {content: '\00a0';display: inline-block; width:501px; height:143px; background-position: 69.9074074074074% 0.11750881316098707%; background-size: 229.34131736526948% 695.1048951048951%; background-image: url(p_12_waveoptics1_0.png);padding: 0; }
div.JEEMAINS_29JAN_S1_Q_30::after {max-width:501px; width:100%;height:0;padding: 0 0 28.542914171656687% 0;}
.JEEMAINS_29JAN_S1_Q_8 {max-width:282px; max-height:175px; }
.JEEMAINS_29JAN_S1_Q_8::after {content: '\00a0';display: inline-block; width:282px; height:175px; background-position: 92.04152249134948% 17.704517704517706%; background-size: 407.4468085106383% 568%; background-image: url(p_12_waveoptics1_0.png);padding: 0; }
div.JEEMAINS_29JAN_S1_Q_8::after {max-width:282px; width:100%;height:0;padding: 0 0 62.05673758865248% 0;}
.JEEMAINS_30JAN_S1_Q_23 {max-width:277px; max-height:216px; }
.JEEMAINS_30JAN_S1_Q_23::after {content: '\00a0';display: inline-block; width:277px; height:216px; background-position: 48.39449541284404% 39.717223650385606%; background-size: 414.8014440433213% 460.18518518518516%; background-image: url(p_12_waveoptics1_0.png);padding: 0; }
div.JEEMAINS_30JAN_S1_Q_23::after {max-width:277px; width:100%;height:0;padding: 0 0 77.9783393501805% 0;}
.JEEMAINS_30JAN_S1_S_23 {max-width:420px; max-height:273px; }
.JEEMAINS_30JAN_S1_S_23::after {content: '\00a0';display: inline-block; width:420px; height:273px; background-position: 0.13717421124828533% 34.11927877947296%; background-size: 273.57142857142856% 364.1025641025641%; background-image: url(p_12_waveoptics1_0.png);padding: 0; }
div.JEEMAINS_30JAN_S1_S_23::after {max-width:420px; width:100%;height:0;padding: 0 0 65% 0;}
.JEE_MAINS_2019_JAN10_S2_15 {max-width:451px; max-height:244px; }
.JEE_MAINS_2019_JAN10_S2_15::after {content: '\00a0';display: inline-block; width:451px; height:244px; background-position: 0.14326647564469913% 0.13333333333333333%; background-size: 254.76718403547673% 407.37704918032784%; background-image: url(p_12_waveoptics1_0.png);padding: 0; }
div.JEE_MAINS_2019_JAN10_S2_15::after {max-width:451px; width:100%;height:0;padding: 0 0 54.1019955654102% 0;}
.JEE_MAINS_2019_JAN11_S2_7sol {max-width:163px; max-height:310px; }
.JEE_MAINS_2019_JAN11_S2_7sol::after {content: '\00a0';display: inline-block; width:163px; height:310px; background-position: 99.89858012170386% 86.84210526315789%; background-size: 704.9079754601227% 320.64516129032256%; background-image: url(p_12_waveoptics1_0.png);padding: 0; }
div.JEE_MAINS_2019_JAN11_S2_7sol::after {max-width:163px; width:100%;height:0;padding: 0 0 190.1840490797546% 0;}
.JEE_MAINS_2019_JAN9_S1_23sol {max-width:344px; max-height:163px; }
.JEE_MAINS_2019_JAN9_S1_23sol::after {content: '\00a0';display: inline-block; width:344px; height:163px; background-position: 56.27329192546584% 17.448856799037305%; background-size: 334.01162790697674% 609.8159509202454%; background-image: url(p_12_waveoptics1_0.png);padding: 0; }
div.JEE_MAINS_2019_JAN9_S1_23sol::after {max-width:344px; width:100%;height:0;padding: 0 0 47.383720930232556% 0;}
.JEE_MAINS_2019_JAN9_S2_2sol {max-width:268px; max-height:217px; }
.JEE_MAINS_2019_JAN9_S2_2sol::after {content: '\00a0';display: inline-block; width:268px; height:217px; background-position: 79.45516458569807% 41.31274131274131%; background-size: 428.7313432835821% 458.06451612903226%; background-image: url(p_12_waveoptics1_0.png);padding: 0; }
div.JEE_MAINS_2019_JAN9_S2_2sol::after {max-width:268px; width:100%;height:0;padding: 0 0 80.97014925373135% 0;}
.JEE_Main_26_Aug_2021_Shift_2_22_Q_1_S {max-width:297px; max-height:152px; }
.JEE_Main_26_Aug_2021_Shift_2_22_Q_1_S::after {content: '\00a0';display: inline-block; width:297px; height:152px; background-position: 40.375586854460096% 95.13064133016627%; background-size: 386.8686868686869% 653.9473684210526%; background-image: url(p_12_waveoptics1_0.png);padding: 0; }
div.JEE_Main_26_Aug_2021_Shift_2_22_Q_1_S::after {max-width:297px; width:100%;height:0;padding: 0 0 51.178451178451176% 0;}
.JEE_Main_26_Aug_2021_Shift_2_22_Q_2_S {max-width:307px; max-height:150px; }
.JEE_Main_26_Aug_2021_Shift_2_22_Q_2_S::after {content: '\00a0';display: inline-block; width:307px; height:150px; background-position: 30.16627078384798% 62.322274881516584%; background-size: 374.2671009771987% 662.6666666666666%; background-image: url(p_12_waveoptics1_0.png);padding: 0; }
div.JEE_Main_26_Aug_2021_Shift_2_22_Q_2_S::after {max-width:307px; width:100%;height:0;padding: 0 0 48.85993485342019% 0;}
.JEE_Mains_02_Sep_2020_Shift_1_8_s {max-width:170px; max-height:272px; }
.JEE_Mains_02_Sep_2020_Shift_1_8_s::after {content: '\00a0';display: inline-block; width:170px; height:272px; background-position: 98.97854954034729% 44.45983379501385%; background-size: 675.8823529411765% 365.44117647058823%; background-image: url(p_12_waveoptics1_0.png);padding: 0; }
div.JEE_Mains_02_Sep_2020_Shift_1_8_s::after {max-width:170px; width:100%;height:0;padding: 0 0 160% 0;}
.JEE_Mains_05_Sep_2020_Shift_2_7_q {max-width:169px; max-height:134px; }
.JEE_Mains_05_Sep_2020_Shift_2_7_q::after {content: '\00a0';display: inline-block; width:169px; height:134px; background-position: 97.44897959183673% 0.11627906976744186%; background-size: 679.8816568047338% 741.7910447761194%; background-image: url(p_12_waveoptics1_0.png);padding: 0; }
div.JEE_Mains_05_Sep_2020_Shift_2_7_q::after {max-width:169px; width:100%;height:0;padding: 0 0 79.28994082840237% 0;}
.JEE_Mains_05_Sep_2020_Shift_2_7_s {max-width:196px; max-height:137px; }
.JEE_Mains_05_Sep_2020_Shift_2_7_s::after {content: '\00a0';display: inline-block; width:196px; height:137px; background-position: 60.335781741867784% 76.89614935822637%; background-size: 586.2244897959183% 725.5474452554745%; background-image: url(p_12_waveoptics1_0.png);padding: 0; }
div.JEE_Mains_05_Sep_2020_Shift_2_7_s::after {max-width:196px; width:100%;height:0;padding: 0 0 69.89795918367346% 0;}
.Jan_2020_shift_1_15_S {max-width:204px; max-height:92px; }
.Jan_2020_shift_1_15_S::after {content: '\00a0';display: inline-block; width:204px; height:92px; background-position: 67.93650793650794% 95.01108647450111%; background-size: 563.2352941176471% 1080.4347826086957%; background-image: url(p_12_waveoptics1_0.png);padding: 0; }
div.Jan_2020_shift_1_15_S::after {max-width:204px; width:100%;height:0;padding: 0 0 45.09803921568628% 0;}
.Shift_1_6_sept_34 {max-width:342px; max-height:184px; }
.Shift_1_6_sept_34::after {content: '\00a0';display: inline-block; width:342px; height:184px; background-position: 0.12391573729863693% 99.87654320987654%; background-size: 335.96491228070175% 540.2173913043479%; background-image: url(p_12_waveoptics1_0.png);padding: 0; }
div.Shift_1_6_sept_34::after {max-width:342px; width:100%;height:0;padding: 0 0 53.801169590643276% 0;}
.Shift_1_6_sept_34_s {max-width:334px; max-height:119px; }
.Shift_1_6_sept_34_s::after {content: '\00a0';display: inline-block; width:334px; height:119px; background-position: 68.95705521472392% 61.6%; background-size: 344.01197604790417% 835.2941176470588%; background-image: url(p_12_waveoptics1_0.png);padding: 0; }
div.Shift_1_6_sept_34_s::after {max-width:334px; width:100%;height:0;padding: 0 0 35.62874251497006% 0;}
.jee_mn_15_apr_2018_s2__q_7 {max-width:252px; max-height:288px; }
.jee_mn_15_apr_2018_s2__q_7::after {content: '\00a0';display: inline-block; width:252px; height:288px; background-position: 0.11148272017837235% 73.65439093484419%; background-size: 455.95238095238096% 345.1388888888889%; background-image: url(p_12_waveoptics1_0.png);padding: 0; }
div.jee_mn_15_apr_2018_s2__q_7::after {max-width:252px; width:100%;height:0;padding: 0 0 114.28571428571429% 0;}
.jee_mn_29_jul_2022_s1_39_sol {max-width:320px; max-height:123px; }
.jee_mn_29_jul_2022_s1_39_sol::after {content: '\00a0';display: inline-block; width:320px; height:123px; background-position: 30.639324487334136% 77.72675086107922%; background-size: 359.0625% 808.130081300813%; background-image: url(p_12_waveoptics1_0.png);padding: 0; }
div.jee_mn_29_jul_2022_s1_39_sol::after {max-width:320px; width:100%;height:0;padding: 0 0 38.4375% 0;}
.m2013_68 {max-width:160px; max-height:79px; }
.m2013_68::after {content: '\00a0';display: inline-block; width:160px; height:79px; background-position: 85.64206268958544% 98.90710382513662%; background-size: 718.125% 1258.2278481012659%; background-image: url(p_12_waveoptics1_0.png);padding: 0; }
div.m2013_68::after {max-width:160px; width:100%;height:0;padding: 0 0 49.375% 0;}

@keyframes JEEMAINS_29JAN_S1_Q-frames {
    0% { background-position: 92.04152249134948% 17.704517704517706%;  }
    50% { background-position: 69.9074074074074% 0.11750881316098707%;  }
}

.JEEMAINS_29JAN_S1_Q-animation {
    max-width: 282px;
    max-height: 175px;
}
.JEEMAINS_29JAN_S1_Q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 282px;
    height: 175px;
    padding: 0;
    background-image: url(p_12_waveoptics1_0.png);
    background-size: 407.4468085106383% 568%; 
    animation-name: JEEMAINS_29JAN_S1_Q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEEMAINS_29JAN_S1_Q-animation::after {
    max-width: 282px;
    width: 100%;
    height: 0;
    padding: 0 0 62.05673758865248% 0;
}

/* $TexturePacker:SmartUpdate:d191a3b4b0e374e74289daf4d91bad2a:8ad50a2bf979bfe444fbf8ff551f7d18:ce93b38f39cf2b640f1149e44a4cc5f7$ */
