/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.JEEMAINS_15APRIL_2023_S1_S_31 {max-width:412px; max-height:262px; }
.JEEMAINS_15APRIL_2023_S1_S_31::after {content: '\00a0';display: inline-block; width:412px; height:262px; background-position: 33.52165725047081% 9.090909090909092%; background-size: 228.88349514563106% 104.19847328244275%; background-image: url(p_12_electromagneticwaves2_0.png);padding: 0; }
div.JEEMAINS_15APRIL_2023_S1_S_31::after {max-width:412px; width:100%;height:0;padding: 0 0 63.592233009708735% 0;}
.JEEMAINS_30JAN_S1_S_26 {max-width:351px; max-height:271px; }
.JEEMAINS_30JAN_S1_S_26::after {content: '\00a0';display: inline-block; width:351px; height:271px; background-position: 99.83108108108108% 50%; background-size: 268.66096866096865% 100.7380073800738%; background-image: url(p_12_electromagneticwaves2_0.png);padding: 0; }
div.JEEMAINS_30JAN_S1_S_26::after {max-width:351px; width:100%;height:0;padding: 0 0 77.20797720797721% 0;}
.jee_mn_29_jan_2025_s2_sol_36 {max-width:176px; max-height:169px; }
.jee_mn_29_jan_2025_s2_sol_36::after {content: '\00a0';display: inline-block; width:176px; height:169px; background-position: 0.1303780964797914% 0.9615384615384616%; background-size: 535.7954545454545% 161.53846153846155%; background-image: url(p_12_electromagneticwaves2_0.png);padding: 0; }
div.jee_mn_29_jan_2025_s2_sol_36::after {max-width:176px; width:100%;height:0;padding: 0 0 96.02272727272727% 0;}


/* $TexturePacker:SmartUpdate:62030ebe93ce3797c8130f720b8606b5:6c063f29b795a8ce9366b33d17d08cc5:b3fdf946f2a705d6f041479351563058$ */
