/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.JEEMAINS_10APRIL_2023_S1_Q_45 {max-width:227px; max-height:170px; }
.JEEMAINS_10APRIL_2023_S1_Q_45::after {content: '\00a0';display: inline-block; width:227px; height:170px; background-position: 42.76836158192091% 57.878787878787875%; background-size: 879.7356828193832% 682.3529411764706%; background-image: url(p_12_currentelectricity3_1.png);padding: 0; }
div.JEEMAINS_10APRIL_2023_S1_Q_45::after {max-width:227px; width:100%;height:0;padding: 0 0 74.8898678414097% 0;}
.JEEMAINS_10APRIL_2023_S1_S_45 {max-width:286px; max-height:211px; }
.JEEMAINS_10APRIL_2023_S1_S_45::after {content: '\00a0';display: inline-block; width:286px; height:211px; background-position: 0.058445353594389245% 24.446786090621707%; background-size: 698.2517482517483% 549.7630331753554%; background-image: url(p_12_currentelectricity3_1.png);padding: 0; }
div.JEEMAINS_10APRIL_2023_S1_S_45::after {max-width:286px; width:100%;height:0;padding: 0 0 73.77622377622377% 0;}
.JEEMAINS_10APRIL_2023_S2_S_53 {max-width:310px; max-height:227px; }
.JEEMAINS_10APRIL_2023_S2_S_53::after {content: '\00a0';display: inline-block; width:310px; height:227px; background-position: 18.239355581127732% 85.22789676002196%; background-size: 660.6451612903226% 902.2026431718061%; background-image: url(p_12_currentelectricity3_0.png);padding: 0; }
div.JEEMAINS_10APRIL_2023_S2_S_53::after {max-width:310px; width:100%;height:0;padding: 0 0 73.2258064516129% 0;}
.JEEMAINS_11APRIL_2023_S1_Q_59 {max-width:231px; max-height:201px; }
.JEEMAINS_11APRIL_2023_S1_Q_59::after {content: '\00a0';display: inline-block; width:231px; height:201px; background-position: 50.687947165657675% 87.87222523010287%; background-size: 886.5800865800866% 1018.905472636816%; background-image: url(p_12_currentelectricity3_0.png);padding: 0; }
div.JEEMAINS_11APRIL_2023_S1_Q_59::after {max-width:231px; width:100%;height:0;padding: 0 0 87.01298701298701% 0;}
.JEEMAINS_11APRIL_2023_S1_S_39 {max-width:192px; max-height:202px; }
.JEEMAINS_11APRIL_2023_S1_S_39::after {content: '\00a0';display: inline-block; width:192px; height:202px; background-position: 14.736842105263158% 0.10438413361169102%; background-size: 1040.1041666666667% 574.2574257425742%; background-image: url(p_12_currentelectricity3_1.png);padding: 0; }
div.JEEMAINS_11APRIL_2023_S1_S_39::after {max-width:192px; width:100%;height:0;padding: 0 0 105.20833333333333% 0;}
.JEEMAINS_11APRIL_2023_S1_S_59 {max-width:425px; max-height:255px; }
.JEEMAINS_11APRIL_2023_S1_S_59::after {content: '\00a0';display: inline-block; width:425px; height:255px; background-position: 24.152803450400494% 18.349135527049636%; background-size: 481.88235294117646% 803.1372549019608%; background-image: url(p_12_currentelectricity3_0.png);padding: 0; }
div.JEEMAINS_11APRIL_2023_S1_S_59::after {max-width:425px; width:100%;height:0;padding: 0 0 60% 0;}
.JEEMAINS_11APRIL_2023_S2_Q_44 {max-width:302px; max-height:256px; }
.JEEMAINS_11APRIL_2023_S2_Q_44::after {content: '\00a0';display: inline-block; width:302px; height:256px; background-position: 19.415807560137456% 58.59375%; background-size: 678.1456953642385% 800%; background-image: url(p_12_currentelectricity3_0.png);padding: 0; }
div.JEEMAINS_11APRIL_2023_S2_Q_44::after {max-width:302px; width:100%;height:0;padding: 0 0 84.76821192052981% 0;}
.JEEMAINS_11APRIL_2023_S2_S_44 {max-width:441px; max-height:342px; }
.JEEMAINS_11APRIL_2023_S2_S_44::after {content: '\00a0';display: inline-block; width:441px; height:342px; background-position: 82.32731798382079% 0.05861664712778429%; background-size: 464.39909297052156% 598.8304093567251%; background-image: url(p_12_currentelectricity3_0.png);padding: 0; }
div.JEEMAINS_11APRIL_2023_S2_S_44::after {max-width:441px; width:100%;height:0;padding: 0 0 77.55102040816327% 0;}
.JEEMAINS_11APRIL_2023_S2_S_59 {max-width:332px; max-height:225px; }
.JEEMAINS_11APRIL_2023_S2_S_59::after {content: '\00a0';display: inline-block; width:332px; height:225px; background-position: 0.05827505827505827% 64.3993417443774%; background-size: 616.8674698795181% 910.2222222222222%; background-image: url(p_12_currentelectricity3_0.png);padding: 0; }
div.JEEMAINS_11APRIL_2023_S2_S_59::after {max-width:332px; width:100%;height:0;padding: 0 0 67.7710843373494% 0;}
.JEEMAINS_13APRIL_2023_S1_Q_31 {max-width:911px; max-height:327px; }
.JEEMAINS_13APRIL_2023_S1_Q_31::after {content: '\00a0';display: inline-block; width:911px; height:327px; background-position: 0.08795074758135445% 0.05810575246949448%; background-size: 224.807903402854% 626.2996941896024%; background-image: url(p_12_currentelectricity3_0.png);padding: 0; }
div.JEEMAINS_13APRIL_2023_S1_Q_31::after {max-width:911px; width:100%;height:0;padding: 0 0 35.89462129527991% 0;}
.JEEMAINS_13APRIL_2023_S1_S_51 {max-width:287px; max-height:173px; }
.JEEMAINS_13APRIL_2023_S1_S_51::after {content: '\00a0';display: inline-block; width:287px; height:173px; background-position: 39.239766081871345% 40.42553191489362%; background-size: 695.8188153310105% 670.5202312138729%; background-image: url(p_12_currentelectricity3_1.png);padding: 0; }
div.JEEMAINS_13APRIL_2023_S1_S_51::after {max-width:287px; width:100%;height:0;padding: 0 0 60.278745644599304% 0;}
.JEEMAINS_13APRIL_2023_S1_S_58 {max-width:425px; max-height:135px; }
.JEEMAINS_13APRIL_2023_S1_S_58::after {content: '\00a0';display: inline-block; width:425px; height:135px; background-position: 76.33587786259542% 14.829268292682928%; background-size: 469.88235294117646% 859.2592592592592%; background-image: url(p_12_currentelectricity3_1.png);padding: 0; }
div.JEEMAINS_13APRIL_2023_S1_S_58::after {max-width:425px; width:100%;height:0;padding: 0 0 31.764705882352942% 0;}
.JEEMAINS_15APRIL_2023_S1_Q_41 {max-width:233px; max-height:171px; }
.JEEMAINS_15APRIL_2023_S1_Q_41::after {content: '\00a0';display: inline-block; width:233px; height:171px; background-position: 47.95918367346939% 19.716885743174924%; background-size: 857.0815450643777% 678.3625730994152%; background-image: url(p_12_currentelectricity3_1.png);padding: 0; }
div.JEEMAINS_15APRIL_2023_S1_Q_41::after {max-width:233px; width:100%;height:0;padding: 0 0 73.39055793991416% 0;}
.JEEMAINS_15APRIL_2023_S1_Q_58 {max-width:165px; max-height:236px; }
.JEEMAINS_15APRIL_2023_S1_Q_58::after {content: '\00a0';display: inline-block; width:165px; height:236px; background-position: 99.52203929899098% 87.63796909492274%; background-size: 1241.2121212121212% 867.7966101694915%; background-image: url(p_12_currentelectricity3_0.png);padding: 0; }
div.JEEMAINS_15APRIL_2023_S1_Q_58::after {max-width:165px; width:100%;height:0;padding: 0 0 143.03030303030303% 0;}
.JEEMAINS_15APRIL_2023_S1_S_58 {max-width:392px; max-height:237px; }
.JEEMAINS_15APRIL_2023_S1_S_58::after {content: '\00a0';display: inline-block; width:392px; height:237px; background-position: 51.08695652173913% 37.76918829376035%; background-size: 522.4489795918367% 864.1350210970464%; background-image: url(p_12_currentelectricity3_0.png);padding: 0; }
div.JEEMAINS_15APRIL_2023_S1_S_58::after {max-width:392px; width:100%;height:0;padding: 0 0 60.45918367346939% 0;}
.JEEMAINS_1FEB_2023_S1_Q_14 {max-width:357px; max-height:125px; }
.JEEMAINS_1FEB_2023_S1_Q_14::after {content: '\00a0';display: inline-block; width:357px; height:125px; background-position: 99.9390243902439% 0.0966183574879227%; background-size: 559.3837535014005% 928%; background-image: url(p_12_currentelectricity3_1.png);padding: 0; }
div.JEEMAINS_1FEB_2023_S1_Q_14::after {max-width:357px; width:100%;height:0;padding: 0 0 35.0140056022409% 0;}
.JEEMAINS_1FEB_2023_S1_S_14 {max-width:192px; max-height:171px; }
.JEEMAINS_1FEB_2023_S1_S_14::after {content: '\00a0';display: inline-block; width:192px; height:171px; background-position: 55.78947368421053% 0.10111223458038422%; background-size: 1040.1041666666667% 678.3625730994152%; background-image: url(p_12_currentelectricity3_1.png);padding: 0; }
div.JEEMAINS_1FEB_2023_S1_S_14::after {max-width:192px; width:100%;height:0;padding: 0 0 89.0625% 0;}
.JEEMAINS_1FEB_2023_S2_Q_27 {max-width:277px; max-height:193px; }
.JEEMAINS_1FEB_2023_S2_Q_27::after {content: '\00a0';display: inline-block; width:277px; height:193px; background-position: 42.383720930232556% 0.10341261633919338%; background-size: 720.9386281588447% 601.0362694300518%; background-image: url(p_12_currentelectricity3_1.png);padding: 0; }
div.JEEMAINS_1FEB_2023_S2_Q_27::after {max-width:277px; width:100%;height:0;padding: 0 0 69.67509025270758% 0;}
.JEEMAINS_1FEB_2023_S2_S_27 {max-width:315px; max-height:232px; }
.JEEMAINS_1FEB_2023_S2_S_27::after {content: '\00a0';display: inline-block; width:315px; height:232px; background-position: 0.05770340450086555% 77.09251101321586%; background-size: 650.1587301587301% 882.7586206896551%; background-image: url(p_12_currentelectricity3_0.png);padding: 0; }
div.JEEMAINS_1FEB_2023_S2_S_27::after {max-width:315px; width:100%;height:0;padding: 0 0 73.65079365079364% 0;}
.JEEMAINS_1FEB_2023_S2_S_9 {max-width:185px; max-height:191px; }
.JEEMAINS_1FEB_2023_S2_S_9::after {content: '\00a0';display: inline-block; width:185px; height:191px; background-position: 0.05518763796909492% 86.9969040247678%; background-size: 1079.4594594594594% 607.3298429319372%; background-image: url(p_12_currentelectricity3_1.png);padding: 0; }
div.JEEMAINS_1FEB_2023_S2_S_9::after {max-width:185px; width:100%;height:0;padding: 0 0 103.24324324324324% 0;}
.JEEMAINS_25JAN_S2_S_18 {max-width:332px; max-height:76px; }
.JEEMAINS_25JAN_S2_S_18::after {content: '\00a0';display: inline-block; width:332px; height:76px; background-position: 98.43843843843844% 64.02214022140221%; background-size: 601.5060240963855% 1526.3157894736842%; background-image: url(p_12_currentelectricity3_1.png);padding: 0; }
div.JEEMAINS_25JAN_S2_S_18::after {max-width:332px; width:100%;height:0;padding: 0 0 22.89156626506024% 0;}
.JEEMAINS_25JAN_S2_S_18_1 {max-width:407px; max-height:68px; }
.JEEMAINS_25JAN_S2_S_18_1::after {content: '\00a0';display: inline-block; width:407px; height:68px; background-position: 34.97867154174284% 99.6969696969697%; background-size: 503.1941031941032% 3011.764705882353%; background-image: url(p_12_currentelectricity3_0.png);padding: 0; }
div.JEEMAINS_25JAN_S2_S_18_1::after {max-width:407px; width:100%;height:0;padding: 0 0 16.707616707616708% 0;}
.JEEMAINS_30JAN_S1_Q_24 {max-width:277px; max-height:287px; }
.JEEMAINS_30JAN_S1_Q_24::after {content: '\00a0';display: inline-block; width:277px; height:287px; background-position: 99.66120835686053% 0.05678591709256105%; background-size: 739.3501805054152% 713.5888501742161%; background-image: url(p_12_currentelectricity3_0.png);padding: 0; }
div.JEEMAINS_30JAN_S1_Q_24::after {max-width:277px; width:100%;height:0;padding: 0 0 103.61010830324909% 0;}
.JEEMAINS_30JAN_S1_S_24 {max-width:347px; max-height:401px; }
.JEEMAINS_30JAN_S1_S_24::after {content: '\00a0';display: inline-block; width:347px; height:401px; background-position: 95.70840681951793% 32.96903460837887%; background-size: 590.2017291066282% 510.72319201995015%; background-image: url(p_12_currentelectricity3_0.png);padding: 0; }
div.JEEMAINS_30JAN_S1_S_24::after {max-width:347px; width:100%;height:0;padding: 0 0 115.56195965417868% 0;}
.JEEMAINS_30JAN_S2_Q_22 {max-width:257px; max-height:253px; }
.JEEMAINS_30JAN_S2_Q_22::after {content: '\00a0';display: inline-block; width:257px; height:253px; background-position: 98.54829704075935% 16.100278551532032%; background-size: 796.8871595330739% 809.4861660079051%; background-image: url(p_12_currentelectricity3_0.png);padding: 0; }
div.JEEMAINS_30JAN_S2_Q_22::after {max-width:257px; width:100%;height:0;padding: 0 0 98.44357976653697% 0;}
.JEEMAINS_30JAN_S2_Q_3 {max-width:302px; max-height:187px; }
.JEEMAINS_30JAN_S2_Q_3::after {content: '\00a0';display: inline-block; width:302px; height:187px; background-position: 11.03244837758112% 86.63926002055499%; background-size: 661.2582781456954% 620.3208556149733%; background-image: url(p_12_currentelectricity3_1.png);padding: 0; }
div.JEEMAINS_30JAN_S2_Q_3::after {max-width:302px; width:100%;height:0;padding: 0 0 61.920529801324506% 0;}
.JEEMAINS_30JAN_S2_S_3 {max-width:238px; max-height:175px; }
.JEEMAINS_30JAN_S2_S_3::after {content: '\00a0';display: inline-block; width:238px; height:175px; background-position: 29.448550312677657% 58.47715736040609%; background-size: 839.0756302521008% 662.8571428571429%; background-image: url(p_12_currentelectricity3_1.png);padding: 0; }
div.JEEMAINS_30JAN_S2_S_3::after {max-width:238px; width:100%;height:0;padding: 0 0 73.52941176470588% 0;}
.JEEMAINS_31JAN_S1_S_30 {max-width:442px; max-height:182px; }
.JEEMAINS_31JAN_S1_S_30::after {content: '\00a0';display: inline-block; width:442px; height:182px; background-position: 97.82067247820673% 62.80814576634512%; background-size: 463.34841628959276% 1125.2747252747254%; background-image: url(p_12_currentelectricity3_0.png);padding: 0; }
div.JEEMAINS_31JAN_S1_S_30::after {max-width:442px; width:100%;height:0;padding: 0 0 41.1764705882353% 0;}
.JEEMAINS_6APRIL_2023_S2_Q_37_O_1 {max-width:327px; max-height:192px; }
.JEEMAINS_6APRIL_2023_S2_Q_37_O_1::after {content: '\00a0';display: inline-block; width:327px; height:192px; background-position: 89.83149331783846% 83.9978448275862%; background-size: 626.2996941896024% 1066.6666666666667%; background-image: url(p_12_currentelectricity3_0.png);padding: 0; }
div.JEEMAINS_6APRIL_2023_S2_Q_37_O_1::after {max-width:327px; width:100%;height:0;padding: 0 0 58.71559633027523% 0;}
.JEEMAINS_6APRIL_2023_S2_Q_37_O_2 {max-width:332px; max-height:190px; }
.JEEMAINS_6APRIL_2023_S2_Q_37_O_2::after {content: '\00a0';display: inline-block; width:332px; height:190px; background-position: 33.44988344988345% 95.96340150699677%; background-size: 616.8674698795181% 1077.8947368421052%; background-image: url(p_12_currentelectricity3_0.png);padding: 0; }
div.JEEMAINS_6APRIL_2023_S2_Q_37_O_2::after {max-width:332px; width:100%;height:0;padding: 0 0 57.2289156626506% 0;}
.JEEMAINS_6APRIL_2023_S2_Q_37_O_3 {max-width:391px; max-height:227px; }
.JEEMAINS_6APRIL_2023_S2_Q_37_O_3::after {content: '\00a0';display: inline-block; width:391px; height:227px; background-position: 22.751961375980688% 45.14003294892916%; background-size: 523.7851662404092% 902.2026431718061%; background-image: url(p_12_currentelectricity3_0.png);padding: 0; }
div.JEEMAINS_6APRIL_2023_S2_Q_37_O_3::after {max-width:391px; width:100%;height:0;padding: 0 0 58.05626598465473% 0;}
.JEEMAINS_6APRIL_2023_S2_Q_37_O_4 {max-width:382px; max-height:223px; }
.JEEMAINS_6APRIL_2023_S2_Q_37_O_4::after {content: '\00a0';display: inline-block; width:382px; height:223px; background-position: 71.30852340936374% 58.68493150684932%; background-size: 536.1256544502618% 918.3856502242153%; background-image: url(p_12_currentelectricity3_0.png);padding: 0; }
div.JEEMAINS_6APRIL_2023_S2_Q_37_O_4::after {max-width:382px; width:100%;height:0;padding: 0 0 58.37696335078534% 0;}
.JEEMAINS_6APRIL_2023_S2_Q_43 {max-width:363px; max-height:162px; }
.JEEMAINS_6APRIL_2023_S2_Q_43::after {content: '\00a0';display: inline-block; width:363px; height:162px; background-position: 50.12239902080783% 99.29859719438878%; background-size: 550.1377410468319% 716.0493827160494%; background-image: url(p_12_currentelectricity3_1.png);padding: 0; }
div.JEEMAINS_6APRIL_2023_S2_Q_43::after {max-width:363px; width:100%;height:0;padding: 0 0 44.62809917355372% 0;}
.JEEMAINS_6APRIL_2023_S2_Q_59 {max-width:232px; max-height:157px; }
.JEEMAINS_6APRIL_2023_S2_Q_59::after {content: '\00a0';display: inline-block; width:232px; height:157px; background-position: 79.66005665722379% 98.00598205383848%; background-size: 860.7758620689655% 738.8535031847134%; background-image: url(p_12_currentelectricity3_1.png);padding: 0; }
div.JEEMAINS_6APRIL_2023_S2_Q_59::after {max-width:232px; width:100%;height:0;padding: 0 0 67.67241379310344% 0;}
.JEEMAINS_6APRIL_2023_S2_S_59 {max-width:333px; max-height:203px; }
.JEEMAINS_6APRIL_2023_S2_S_59::after {content: '\00a0';display: inline-block; width:333px; height:203px; background-position: 90.96209912536443% 73.44173441734418%; background-size: 615.015015015015% 1008.8669950738916%; background-image: url(p_12_currentelectricity3_0.png);padding: 0; }
div.JEEMAINS_6APRIL_2023_S2_S_59::after {max-width:333px; width:100%;height:0;padding: 0 0 60.96096096096096% 0;}
.JEEMAINS_8APRIL_2023_S2_Q_48 {max-width:461px; max-height:77px; }
.JEEMAINS_8APRIL_2023_S2_Q_48::after {content: '\00a0';display: inline-block; width:461px; height:77px; background-position: 62.825520833333336% 68.69806094182826%; background-size: 433.1887201735358% 1506.4935064935064%; background-image: url(p_12_currentelectricity3_1.png);padding: 0; }
div.JEEMAINS_8APRIL_2023_S2_Q_48::after {max-width:461px; width:100%;height:0;padding: 0 0 16.702819956616054% 0;}
.JEE_1_Feb_2024_Shift_1_40_s {max-width:225px; max-height:62px; }
.JEE_1_Feb_2024_Shift_1_40_s::after {content: '\00a0';display: inline-block; width:225px; height:62px; background-position: 78.27756445419638% 88.21752265861028%; background-size: 910.2222222222222% 3303.2258064516127%; background-image: url(p_12_currentelectricity3_0.png);padding: 0; }
div.JEE_1_Feb_2024_Shift_1_40_s::after {max-width:225px; width:100%;height:0;padding: 0 0 27.555555555555557% 0;}
.JEE_1_Feb_2024_Shift_2_31_s {max-width:201px; max-height:94px; }
.JEE_1_Feb_2024_Shift_2_31_s::after {content: '\00a0';display: inline-block; width:201px; height:94px; background-position: 79.4543429844098% 0.09380863039399624%; background-size: 993.5323383084577% 1234.0425531914893%; background-image: url(p_12_currentelectricity3_1.png);padding: 0; }
div.JEE_1_Feb_2024_Shift_2_31_s::after {max-width:201px; width:100%;height:0;padding: 0 0 46.766169154228855% 0;}
.JEE_1_Feb_2024_Shift_2_46_s {max-width:164px; max-height:105px; }
.JEE_1_Feb_2024_Shift_2_46_s::after {content: '\00a0';display: inline-block; width:164px; height:105px; background-position: 77.14129841789416% 27.298578199052134%; background-size: 1217.6829268292684% 1104.7619047619048%; background-image: url(p_12_currentelectricity3_1.png);padding: 0; }
div.JEE_1_Feb_2024_Shift_2_46_s::after {max-width:164px; width:100%;height:0;padding: 0 0 64.02439024390245% 0;}
.JEE_29_Jan_2024_Shift_1_42_s {max-width:172px; max-height:86px; }
.JEE_29_Jan_2024_Shift_1_42_s::after {content: '\00a0';display: inline-block; width:172px; height:86px; background-position: 78.1917808219178% 66.20111731843575%; background-size: 1161.046511627907% 1348.8372093023256%; background-image: url(p_12_currentelectricity3_1.png);padding: 0; }
div.JEE_29_Jan_2024_Shift_1_42_s::after {max-width:172px; width:100%;height:0;padding: 0 0 50% 0;}
.JEE_29_Jan_2024_Shift_1_44_s {max-width:207px; max-height:83px; }
.JEE_29_Jan_2024_Shift_1_44_s::after {content: '\00a0';display: inline-block; width:207px; height:83px; background-position: 42.29050279329609% 69.08077994428969%; background-size: 964.7342995169082% 1397.5903614457832%; background-image: url(p_12_currentelectricity3_1.png);padding: 0; }
div.JEE_29_Jan_2024_Shift_1_44_s::after {max-width:207px; width:100%;height:0;padding: 0 0 40.09661835748792% 0;}
.JEE_29_Jan_2024_Shift_1_44_s_1 {max-width:263px; max-height:128px; }
.JEE_29_Jan_2024_Shift_1_44_s_1::after {content: '\00a0';display: inline-block; width:263px; height:128px; background-position: 15.282583621683967% 99.90310077519379%; background-size: 759.3155893536122% 906.25%; background-image: url(p_12_currentelectricity3_1.png);padding: 0; }
div.JEE_29_Jan_2024_Shift_1_44_s_1::after {max-width:263px; width:100%;height:0;padding: 0 0 48.669201520912544% 0;}
.JEE_29_Jan_2024_Shift_2_46_s {max-width:384px; max-height:197px; }
.JEE_29_Jan_2024_Shift_2_46_s::after {content: '\00a0';display: inline-block; width:384px; height:197px; background-position: 38.58173076923077% 60.886007563479204%; background-size: 533.3333333333334% 1039.5939086294416%; background-image: url(p_12_currentelectricity3_0.png);padding: 0; }
div.JEE_29_Jan_2024_Shift_2_46_s::after {max-width:384px; width:100%;height:0;padding: 0 0 51.302083333333336% 0;}
.JEE_29_Jan_2024_Shift_2_58_s {max-width:375px; max-height:175px; }
.JEE_29_Jan_2024_Shift_2_58_s::after {content: '\00a0';display: inline-block; width:375px; height:175px; background-position: 69.93424985056784% 78.8574479444741%; background-size: 546.1333333333333% 1170.2857142857142%; background-image: url(p_12_currentelectricity3_0.png);padding: 0; }
div.JEE_29_Jan_2024_Shift_2_58_s::after {max-width:375px; width:100%;height:0;padding: 0 0 46.666666666666664% 0;}
.JEE_30_Jan_2024_Shift_1_52_s {max-width:263px; max-height:124px; }
.JEE_30_Jan_2024_Shift_1_52_s::after {content: '\00a0';display: inline-block; width:263px; height:124px; background-position: 0.05767012687427912% 99.9034749034749%; background-size: 759.3155893536122% 935.483870967742%; background-image: url(p_12_currentelectricity3_1.png);padding: 0; }
div.JEE_30_Jan_2024_Shift_1_52_s::after {max-width:263px; width:100%;height:0;padding: 0 0 47.148288973384034% 0;}
.JEE_30_Jan_2024_Shift_2_60_s {max-width:292px; max-height:213px; }
.JEE_30_Jan_2024_Shift_2_60_s::after {content: '\00a0';display: inline-block; width:292px; height:213px; background-position: 35.7630979498861% 85.50408719346049%; background-size: 701.3698630136986% 961.5023474178404%; background-image: url(p_12_currentelectricity3_0.png);padding: 0; }
div.JEE_30_Jan_2024_Shift_2_60_s::after {max-width:292px; width:100%;height:0;padding: 0 0 72.94520547945206% 0;}
.JEE_31_Jan_2024_Shift_1_53_s {max-width:333px; max-height:117px; }
.JEE_31_Jan_2024_Shift_1_53_s::after {content: '\00a0';display: inline-block; width:333px; height:117px; background-position: 64.90384615384616% 27.612655800575265%; background-size: 599.6996996996997% 991.4529914529915%; background-image: url(p_12_currentelectricity3_1.png);padding: 0; }
div.JEE_31_Jan_2024_Shift_1_53_s::after {max-width:333px; width:100%;height:0;padding: 0 0 35.13513513513514% 0;}
.JEE_31_Jan_2024_Shift_1_53_s_1 {max-width:375px; max-height:276px; }
.JEE_31_Jan_2024_Shift_1_53_s_1::after {content: '\00a0';display: inline-block; width:375px; height:276px; background-position: 0.05977286312014345% 37.246049661399546%; background-size: 546.1333333333333% 742.0289855072464%; background-image: url(p_12_currentelectricity3_0.png);padding: 0; }
div.JEE_31_Jan_2024_Shift_1_53_s_1::after {max-width:375px; width:100%;height:0;padding: 0 0 73.6% 0;}
.JEE_31_Jan_2024_Shift_2_39_s {max-width:219px; max-height:157px; }
.JEE_31_Jan_2024_Shift_2_39_s::after {content: '\00a0';display: inline-block; width:219px; height:157px; background-position: 53.93700787401575% 41.1764705882353%; background-size: 911.8721461187215% 738.8535031847134%; background-image: url(p_12_currentelectricity3_1.png);padding: 0; }
div.JEE_31_Jan_2024_Shift_2_39_s::after {max-width:219px; width:100%;height:0;padding: 0 0 71.68949771689498% 0;}
.JEE_MAIN_4APRIL_2024_S1_Q_55 {max-width:167px; max-height:196px; }
.JEE_MAIN_4APRIL_2024_S1_Q_55::after {content: '\00a0';display: inline-block; width:167px; height:196px; background-position: 14.371584699453551% 46.058091286307054%; background-size: 1195.8083832335328% 591.8367346938776%; background-image: url(p_12_currentelectricity3_1.png);padding: 0; }
div.JEE_MAIN_4APRIL_2024_S1_Q_55::after {max-width:167px; width:100%;height:0;padding: 0 0 117.36526946107784% 0;}
.JEE_MAIN_4APRIL_2024_S1_S_55 {max-width:167px; max-height:205px; }
.JEE_MAIN_4APRIL_2024_S1_S_55::after {content: '\00a0';display: inline-block; width:167px; height:205px; background-position: 52.20627325890484% 99.023331524688%; background-size: 1226.3473053892214% 999.0243902439024%; background-image: url(p_12_currentelectricity3_0.png);padding: 0; }
div.JEE_MAIN_4APRIL_2024_S1_S_55::after {max-width:167px; width:100%;height:0;padding: 0 0 122.75449101796407% 0;}
.JEE_MAIN_5APRIL_2024_S1_Q_49 {max-width:340px; max-height:152px; }
.JEE_MAIN_5APRIL_2024_S1_Q_49::after {content: '\00a0';display: inline-block; width:340px; height:152px; background-position: 98.91369945684973% 25.793650793650794%; background-size: 587.3529411764706% 763.1578947368421%; background-image: url(p_12_currentelectricity3_1.png);padding: 0; }
div.JEE_MAIN_5APRIL_2024_S1_Q_49::after {max-width:340px; width:100%;height:0;padding: 0 0 44.705882352941174% 0;}
.JEE_MAIN_5APRIL_2024_S1_S_59 {max-width:337px; max-height:236px; }
.JEE_MAIN_5APRIL_2024_S1_S_59::after {content: '\00a0';display: inline-block; width:337px; height:236px; background-position: 0.058445353594389245% 51.71081677704194%; background-size: 607.7151335311572% 867.7966101694915%; background-image: url(p_12_currentelectricity3_0.png);padding: 0; }
div.JEE_MAIN_5APRIL_2024_S1_S_59::after {max-width:337px; width:100%;height:0;padding: 0 0 70.02967359050444% 0;}
.JEE_MAIN_5APRIL_2024_S2_Q_50 {max-width:239px; max-height:176px; }
.JEE_MAIN_5APRIL_2024_S2_Q_50::after {content: '\00a0';display: inline-block; width:239px; height:176px; background-position: 24.516496018202503% 40.548780487804876%; background-size: 835.5648535564853% 659.0909090909091%; background-image: url(p_12_currentelectricity3_1.png);padding: 0; }
div.JEE_MAIN_5APRIL_2024_S2_Q_50::after {max-width:239px; width:100%;height:0;padding: 0 0 73.64016736401673% 0;}
.JEE_MAIN_5APRIL_2024_S2_S_50 {max-width:243px; max-height:186px; }
.JEE_MAIN_5APRIL_2024_S2_S_50::after {content: '\00a0';display: inline-block; width:243px; height:186px; background-position: 15.621436716077538% 65.81108829568788%; background-size: 821.8106995884774% 623.6559139784946%; background-image: url(p_12_currentelectricity3_1.png);padding: 0; }
div.JEE_MAIN_5APRIL_2024_S2_S_50::after {max-width:243px; width:100%;height:0;padding: 0 0 76.54320987654322% 0;}
.JEE_MAIN_6APRIL_2024_S1_Q_39 {max-width:229px; max-height:244px; }
.JEE_MAIN_6APRIL_2024_S1_Q_39::after {content: '\00a0';display: inline-block; width:229px; height:244px; background-position: 51.67674546454096% 76.38580931263859%; background-size: 894.3231441048035% 839.344262295082%; background-image: url(p_12_currentelectricity3_0.png);padding: 0; }
div.JEE_MAIN_6APRIL_2024_S1_Q_39::after {max-width:229px; width:100%;height:0;padding: 0 0 106.55021834061135% 0;}
.JEE_MAIN_6APRIL_2024_S1_S_39 {max-width:418px; max-height:204px; }
.JEE_MAIN_6APRIL_2024_S1_S_39::after {content: '\00a0';display: inline-block; width:418px; height:204px; background-position: 47.17791411042945% 50%; background-size: 489.95215311004785% 1003.9215686274509%; background-image: url(p_12_currentelectricity3_0.png);padding: 0; }
div.JEE_MAIN_6APRIL_2024_S1_S_39::after {max-width:418px; width:100%;height:0;padding: 0 0 48.803827751196174% 0;}
.JEE_MAIN_6APRIL_2024_S2_Q_56 {max-width:226px; max-height:150px; }
.JEE_MAIN_6APRIL_2024_S2_Q_56::after {content: '\00a0';display: inline-block; width:226px; height:150px; background-position: 67.75832862789385% 0.09900990099009901%; background-size: 883.6283185840708% 773.3333333333334%; background-image: url(p_12_currentelectricity3_1.png);padding: 0; }
div.JEE_MAIN_6APRIL_2024_S2_Q_56::after {max-width:226px; width:100%;height:0;padding: 0 0 66.3716814159292% 0;}
.JEE_MAIN_6APRIL_2024_S2_S_56 {max-width:222px; max-height:161px; }
.JEE_MAIN_6APRIL_2024_S2_S_56::after {content: '\00a0';display: inline-block; width:222px; height:161px; background-position: 66.64788732394366% 99.1991991991992%; background-size: 899.5495495495495% 720.4968944099379%; background-image: url(p_12_currentelectricity3_1.png);padding: 0; }
div.JEE_MAIN_6APRIL_2024_S2_S_56::after {max-width:222px; width:100%;height:0;padding: 0 0 72.52252252252252% 0;}
.JEE_MAIN_8APRIL_2024_S1_Q_36 {max-width:268px; max-height:113px; }
.JEE_MAIN_8APRIL_2024_S1_Q_36::after {content: '\00a0';display: inline-block; width:268px; height:113px; background-position: 94.79467900520532% 99.42693409742121%; background-size: 745.1492537313433% 1026.5486725663716%; background-image: url(p_12_currentelectricity3_1.png);padding: 0; }
div.JEE_MAIN_8APRIL_2024_S1_Q_36::after {max-width:268px; width:100%;height:0;padding: 0 0 42.16417910447761% 0;}
.JEE_MAIN_8APRIL_2024_S1_S_36 {max-width:273px; max-height:223px; }
.JEE_MAIN_8APRIL_2024_S1_S_36::after {content: '\00a0';display: inline-block; width:273px; height:223px; background-position: 64.95774647887323% 90.57534246575342%; background-size: 750.1831501831501% 918.3856502242153%; background-image: url(p_12_currentelectricity3_0.png);padding: 0; }
div.JEE_MAIN_8APRIL_2024_S1_S_36::after {max-width:273px; width:100%;height:0;padding: 0 0 81.68498168498168% 0;}
.JEE_MAIN_8APRIL_2024_S2_Q_54 {max-width:289px; max-height:141px; }
.JEE_MAIN_8APRIL_2024_S2_Q_54::after {content: '\00a0';display: inline-block; width:289px; height:141px; background-position: 30.971896955503514% 99.41118743866535%; background-size: 691.0034602076124% 822.6950354609929%; background-image: url(p_12_currentelectricity3_1.png);padding: 0; }
div.JEE_MAIN_8APRIL_2024_S2_Q_54::after {max-width:289px; width:100%;height:0;padding: 0 0 48.78892733564014% 0;}
.JEE_MAIN_8APRIL_2024_S2_S_54 {max-width:301px; max-height:184px; }
.JEE_MAIN_8APRIL_2024_S2_S_54::after {content: '\00a0';display: inline-block; width:301px; height:184px; background-position: 28.891509433962263% 84.8360655737705%; background-size: 663.4551495016611% 630.4347826086956%; background-image: url(p_12_currentelectricity3_1.png);padding: 0; }
div.JEE_MAIN_8APRIL_2024_S2_S_54::after {max-width:301px; width:100%;height:0;padding: 0 0 61.12956810631229% 0;}
.JEE_MAIN_9APRIL_2024_S1_Q_49 {max-width:271px; max-height:227px; }
.JEE_MAIN_9APRIL_2024_S1_Q_49::after {content: '\00a0';display: inline-block; width:271px; height:227px; background-position: 16.99493528418683% 97.74848984074684%; background-size: 755.719557195572% 902.2026431718061%; background-image: url(p_12_currentelectricity3_0.png);padding: 0; }
div.JEE_MAIN_9APRIL_2024_S1_Q_49::after {max-width:271px; width:100%;height:0;padding: 0 0 83.76383763837639% 0;}
.JEE_MAIN_9APRIL_2024_S1_Q_60 {max-width:261px; max-height:199px; }
.JEE_MAIN_9APRIL_2024_S1_Q_60::after {content: '\00a0';display: inline-block; width:261px; height:199px; background-position: 0.0576036866359447% 46.20187304890739%; background-size: 765.1340996168583% 582.9145728643216%; background-image: url(p_12_currentelectricity3_1.png);padding: 0; }
div.JEE_MAIN_9APRIL_2024_S1_Q_60::after {max-width:261px; width:100%;height:0;padding: 0 0 76.24521072796935% 0;}
.JEE_MAIN_9APRIL_2024_S1_S_49 {max-width:304px; max-height:472px; }
.JEE_MAIN_9APRIL_2024_S1_S_49::after {content: '\00a0';display: inline-block; width:304px; height:472px; background-position: 75.86009174311927% 21.82741116751269%; background-size: 673.6842105263158% 433.89830508474574%; background-image: url(p_12_currentelectricity3_0.png);padding: 0; }
div.JEE_MAIN_9APRIL_2024_S1_S_49::after {max-width:304px; width:100%;height:0;padding: 0 0 155.26315789473685% 0;}
.JEE_MAIN_9APRIL_2024_S1_S_60 {max-width:272px; max-height:198px; }
.JEE_MAIN_9APRIL_2024_S1_S_60::after {content: '\00a0';display: inline-block; width:272px; height:198px; background-position: 0.057971014492753624% 66.94386694386695%; background-size: 734.1911764705883% 585.8585858585859%; background-image: url(p_12_currentelectricity3_1.png);padding: 0; }
div.JEE_MAIN_9APRIL_2024_S1_S_60::after {max-width:272px; width:100%;height:0;padding: 0 0 72.79411764705883% 0;}
.JEE_MAIN_9APRIL_2024_S2_Q_42 {max-width:380px; max-height:181px; }
.JEE_MAIN_9APRIL_2024_S2_Q_42::after {content: '\00a0';display: inline-block; width:380px; height:181px; background-position: 70.68345323741008% 69.3626138189609%; background-size: 538.9473684210526% 1131.4917127071824%; background-image: url(p_12_currentelectricity3_0.png);padding: 0; }
div.JEE_MAIN_9APRIL_2024_S2_Q_42::after {max-width:380px; width:100%;height:0;padding: 0 0 47.63157894736842% 0;}
.JEE_MAIN_9APRIL_2024_S2_Q_56 {max-width:264px; max-height:230px; }
.JEE_MAIN_9APRIL_2024_S2_Q_56::after {content: '\00a0';display: inline-block; width:264px; height:230px; background-position: 0.05770340450086555% 0.10752688172043011%; background-size: 756.439393939394% 504.3478260869565%; background-image: url(p_12_currentelectricity3_1.png);padding: 0; }
div.JEE_MAIN_9APRIL_2024_S2_Q_56::after {max-width:264px; width:100%;height:0;padding: 0 0 87.12121212121212% 0;}
.JEE_MAIN_9APRIL_2024_S2_Q_56_1 {max-width:304px; max-height:244px; }
.JEE_MAIN_9APRIL_2024_S2_Q_56_1::after {content: '\00a0';display: inline-block; width:304px; height:244px; background-position: 19.15137614678899% 72.45011086474501%; background-size: 673.6842105263158% 839.344262295082%; background-image: url(p_12_currentelectricity3_0.png);padding: 0; }
div.JEE_MAIN_9APRIL_2024_S2_Q_56_1::after {max-width:304px; width:100%;height:0;padding: 0 0 80.26315789473684% 0;}
.JEE_MAIN_9APRIL_2024_S2_S_42 {max-width:409px; max-height:682px; }
.JEE_MAIN_9APRIL_2024_S2_S_42::after {content: '\00a0';display: inline-block; width:409px; height:682px; background-position: 55.70469798657718% 0.07320644216691069%; background-size: 500.7334963325183% 300.2932551319648%; background-image: url(p_12_currentelectricity3_0.png);padding: 0; }
div.JEE_MAIN_9APRIL_2024_S2_S_42::after {max-width:409px; width:100%;height:0;padding: 0 0 166.7481662591687% 0;}
.jee_mn_1_feb_2024_s1_34 {max-width:402px; max-height:226px; }
.jee_mn_1_feb_2024_s1_34::after {content: '\00a0';display: inline-block; width:402px; height:226px; background-position: 96.71931956257595% 51.86608122941822%; background-size: 509.452736318408% 906.1946902654868%; background-image: url(p_12_currentelectricity3_0.png);padding: 0; }
div.jee_mn_1_feb_2024_s1_34::after {max-width:402px; width:100%;height:0;padding: 0 0 56.21890547263681% 0;}
.jee_mn_22_jan_2025_s1_q_37a {max-width:151px; max-height:122px; }
.jee_mn_22_jan_2025_s1_q_37a::after {content: '\00a0';display: inline-block; width:151px; height:122px; background-position: 54.13811280969953% 65.16095534787124%; background-size: 1356.291390728477% 1678.688524590164%; background-image: url(p_12_currentelectricity3_0.png);padding: 0; }
div.jee_mn_22_jan_2025_s1_q_37a::after {max-width:151px; width:100%;height:0;padding: 0 0 80.79470198675497% 0;}
.jee_mn_22_jan_2025_s1_q_37b {max-width:150px; max-height:115px; }
.jee_mn_22_jan_2025_s1_q_37b::after {content: '\00a0';display: inline-block; width:150px; height:115px; background-position: 99.78925184404636% 76.15106052767719%; background-size: 1365.3333333333333% 1780.8695652173913%; background-image: url(p_12_currentelectricity3_0.png);padding: 0; }
div.jee_mn_22_jan_2025_s1_q_37b::after {max-width:150px; width:100%;height:0;padding: 0 0 76.66666666666667% 0;}
.jee_mn_22_jan_2025_s1_q_37c {max-width:153px; max-height:116px; }
.jee_mn_22_jan_2025_s1_q_37c::after {content: '\00a0';display: inline-block; width:153px; height:116px; background-position: 99.94722955145119% 70.13457556935818%; background-size: 1338.562091503268% 1765.5172413793102%; background-image: url(p_12_currentelectricity3_0.png);padding: 0; }
div.jee_mn_22_jan_2025_s1_q_37c::after {max-width:153px; width:100%;height:0;padding: 0 0 75.81699346405229% 0;}
.jee_mn_22_jan_2025_s1_q_37d {max-width:152px; max-height:127px; }
.jee_mn_22_jan_2025_s1_q_37d::after {content: '\00a0';display: inline-block; width:152px; height:127px; background-position: 54.166666666666664% 58.66736074960958%; background-size: 1347.3684210526317% 1612.5984251968505%; background-image: url(p_12_currentelectricity3_0.png);padding: 0; }
div.jee_mn_22_jan_2025_s1_q_37d::after {max-width:152px; width:100%;height:0;padding: 0 0 83.55263157894737% 0;}
.jee_mn_22_jan_2025_s1_q_45 {max-width:269px; max-height:194px; }
.jee_mn_22_jan_2025_s1_q_45::after {content: '\00a0';display: inline-block; width:269px; height:194px; background-position: 26.5625% 0.10351966873706005%; background-size: 742.3791821561339% 597.9381443298969%; background-image: url(p_12_currentelectricity3_1.png);padding: 0; }
div.jee_mn_22_jan_2025_s1_q_45::after {max-width:269px; width:100%;height:0;padding: 0 0 72.11895910780669% 0;}
.jee_mn_22_jan_2025_s2_q_48 {max-width:400px; max-height:162px; }
.jee_mn_22_jan_2025_s2_q_48::after {content: '\00a0';display: inline-block; width:400px; height:162px; background-position: 49.592986850344396% 82.96593186372745%; background-size: 499.25% 716.0493827160494%; background-image: url(p_12_currentelectricity3_1.png);padding: 0; }
div.jee_mn_22_jan_2025_s2_q_48::after {max-width:400px; width:100%;height:0;padding: 0 0 40.5% 0;}
.jee_mn_27_jan_2024_s2_39 {max-width:338px; max-height:156px; }
.jee_mn_27_jan_2024_s2_39::after {content: '\00a0';display: inline-block; width:338px; height:156px; background-position: 59.37311633514165% 56.87250996015936%; background-size: 590.8284023668639% 743.5897435897435%; background-image: url(p_12_currentelectricity3_1.png);padding: 0; }
div.jee_mn_27_jan_2024_s2_39::after {max-width:338px; width:100%;height:0;padding: 0 0 46.15384615384615% 0;}
.jee_mn_28_jan_2025_s1_q_43 {max-width:557px; max-height:194px; }
.jee_mn_28_jan_2025_s1_q_43::after {content: '\00a0';display: inline-block; width:557px; height:194px; background-position: 20% 21.11801242236025%; background-size: 358.5278276481149% 597.9381443298969%; background-image: url(p_12_currentelectricity3_1.png);padding: 0; }
div.jee_mn_28_jan_2025_s1_q_43::after {max-width:557px; width:100%;height:0;padding: 0 0 34.829443447037704% 0;}
.jee_mn_28_jan_2025_s2_q_45 {max-width:319px; max-height:160px; }
.jee_mn_28_jan_2025_s2_q_45::after {content: '\00a0';display: inline-block; width:319px; height:160px; background-position: 71.09654350417163% 82.2%; background-size: 626.0188087774295% 725%; background-image: url(p_12_currentelectricity3_1.png);padding: 0; }
div.jee_mn_28_jan_2025_s2_q_45::after {max-width:319px; width:100%;height:0;padding: 0 0 50.156739811912225% 0;}
.jee_mn_28_jan_2025_s2_q_45a {max-width:257px; max-height:141px; }
.jee_mn_28_jan_2025_s2_q_45a::after {content: '\00a0';display: inline-block; width:257px; height:141px; background-position: 85.05747126436782% 40.52993130520118%; background-size: 777.0428015564203% 822.6950354609929%; background-image: url(p_12_currentelectricity3_1.png);padding: 0; }
div.jee_mn_28_jan_2025_s2_q_45a::after {max-width:257px; width:100%;height:0;padding: 0 0 54.86381322957198% 0;}
.jee_mn_28_jan_2025_s2_q_45c {max-width:264px; max-height:141px; }
.jee_mn_28_jan_2025_s2_q_45c::after {content: '\00a0';display: inline-block; width:264px; height:141px; background-position: 76.399307559146% 55.83905789990187%; background-size: 756.439393939394% 822.6950354609929%; background-image: url(p_12_currentelectricity3_1.png);padding: 0; }
div.jee_mn_28_jan_2025_s2_q_45c::after {max-width:264px; width:100%;height:0;padding: 0 0 53.40909090909091% 0;}
.jee_mn_28_jan_2025_s2_q_45d {max-width:281px; max-height:138px; }
.jee_mn_28_jan_2025_s2_q_45d::after {content: '\00a0';display: inline-block; width:281px; height:138px; background-position: 92.5990675990676% 54.30528375733855%; background-size: 710.6761565836299% 840.5797101449275%; background-image: url(p_12_currentelectricity3_1.png);padding: 0; }
div.jee_mn_28_jan_2025_s2_q_45d::after {max-width:281px; width:100%;height:0;padding: 0 0 49.11032028469751% 0;}
.jee_mn_28_jan_2025_s2_q_50 {max-width:263px; max-height:170px; }
.jee_mn_28_jan_2025_s2_q_50::after {content: '\00a0';display: inline-block; width:263px; height:170px; background-position: 64.42577030812325% 99.94675186368477%; background-size: 778.7072243346007% 1204.7058823529412%; background-image: url(p_12_currentelectricity3_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s2_q_50::after {max-width:263px; width:100%;height:0;padding: 0 0 64.63878326996198% 0;}
.jee_mn_29_jan_2024_s2_46 {max-width:453px; max-height:236px; }
.jee_mn_29_jan_2024_s2_46::after {content: '\00a0';display: inline-block; width:453px; height:236px; background-position: 24.57680250783699% 32.28476821192053%; background-size: 452.0971302428256% 867.7966101694915%; background-image: url(p_12_currentelectricity3_0.png);padding: 0; }
div.jee_mn_29_jan_2024_s2_46::after {max-width:453px; width:100%;height:0;padding: 0 0 52.09713024282561% 0;}
.jee_mn_29_jan_2024_s2_58 {max-width:352px; max-height:253px; }
.jee_mn_29_jan_2024_s2_58::after {content: '\00a0';display: inline-block; width:352px; height:253px; background-position: 73.05424528301887% 45.51532033426184%; background-size: 581.8181818181819% 809.4861660079051%; background-image: url(p_12_currentelectricity3_0.png);padding: 0; }
div.jee_mn_29_jan_2024_s2_58::after {max-width:352px; width:100%;height:0;padding: 0 0 71.875% 0;}
.jee_mn_30_jan_2024_s1_33 {max-width:342px; max-height:132px; }
.jee_mn_30_jan_2024_s1_33::after {content: '\00a0';display: inline-block; width:342px; height:132px; background-position: 99.03323262839879% 12.354085603112841%; background-size: 583.9181286549708% 878.7878787878788%; background-image: url(p_12_currentelectricity3_1.png);padding: 0; }
div.jee_mn_30_jan_2024_s1_33::after {max-width:342px; width:100%;height:0;padding: 0 0 38.59649122807018% 0;}
.jee_mn_30_jan_2024_s1_52 {max-width:242px; max-height:132px; }
.jee_mn_30_jan_2024_s1_52::after {content: '\00a0';display: inline-block; width:242px; height:132px; background-position: 99.03133903133903% 40.175097276264594%; background-size: 825.2066115702479% 878.7878787878788%; background-image: url(p_12_currentelectricity3_1.png);padding: 0; }
div.jee_mn_30_jan_2024_s1_52::after {max-width:242px; width:100%;height:0;padding: 0 0 54.54545454545455% 0;}
.jee_mn_31_jan_2024_s1_53 {max-width:557px; max-height:195px; }
.jee_mn_31_jan_2024_s1_53::after {content: '\00a0';display: inline-block; width:557px; height:195px; background-position: 95.70757880617036% 98.48893685914733%; background-size: 367.68402154398564% 1050.2564102564102%; background-image: url(p_12_currentelectricity3_0.png);padding: 0; }
div.jee_mn_31_jan_2024_s1_53::after {max-width:557px; width:100%;height:0;padding: 0 0 35.00897666068223% 0;}
.jee_mn_31_jan_2024_s2_51 {max-width:390px; max-height:330px; }
.jee_mn_31_jan_2024_s2_51::after {content: '\00a0';display: inline-block; width:390px; height:330px; background-position: 0.06031363088057901% 19.150174621653086%; background-size: 525.1282051282051% 620.6060606060606%; background-image: url(p_12_currentelectricity3_0.png);padding: 0; }
div.jee_mn_31_jan_2024_s2_51::after {max-width:390px; width:100%;height:0;padding: 0 0 84.61538461538461% 0;}
.jm_3_apr_2025_s1_q_47 {max-width:300px; max-height:198px; }
.jm_3_apr_2025_s1_q_47::after {content: '\00a0';display: inline-block; width:300px; height:198px; background-position: 0.057208237986270026% 99.67567567567568%; background-size: 682.6666666666666% 1034.3434343434344%; background-image: url(p_12_currentelectricity3_0.png);padding: 0; }
div.jm_3_apr_2025_s1_q_47::after {max-width:300px; width:100%;height:0;padding: 0 0 66% 0;}
.jm_3_apr_2025_s1_sol_45 {max-width:300px; max-height:210px; }
.jm_3_apr_2025_s1_sol_45::after {content: '\00a0';display: inline-block; width:300px; height:210px; background-position: 0.057208237986270026% 88.84657236126225%; background-size: 682.6666666666666% 975.2380952380952%; background-image: url(p_12_currentelectricity3_0.png);padding: 0; }
div.jm_3_apr_2025_s1_sol_45::after {max-width:300px; width:100%;height:0;padding: 0 0 70% 0;}
.jm_4_apr_2025_s2_q_43a {max-width:300px; max-height:127px; }
.jm_4_apr_2025_s2_q_43a::after {content: '\00a0';display: inline-block; width:300px; height:127px; background-position: 89.15733647613436% 77.25072604065828%; background-size: 665.6666666666666% 913.3858267716536%; background-image: url(p_12_currentelectricity3_1.png);padding: 0; }
div.jm_4_apr_2025_s2_q_43a::after {max-width:300px; width:100%;height:0;padding: 0 0 42.333333333333336% 0;}
.jm_4_apr_2025_s2_q_43b {max-width:300px; max-height:155px; }
.jm_4_apr_2025_s2_q_43b::after {content: '\00a0';display: inline-block; width:300px; height:155px; background-position: 69.47554507955215% 41.09452736318408%; background-size: 665.6666666666666% 748.3870967741935%; background-image: url(p_12_currentelectricity3_1.png);padding: 0; }
div.jm_4_apr_2025_s2_q_43b::after {max-width:300px; width:100%;height:0;padding: 0 0 51.666666666666664% 0;}
.jm_4_apr_2025_s2_q_43c {max-width:300px; max-height:114px; }
.jm_4_apr_2025_s2_q_43c::after {content: '\00a0';display: inline-block; width:300px; height:114px; background-position: 96.58220388921626% 88.52772466539197%; background-size: 665.6666666666666% 1017.5438596491229%; background-image: url(p_12_currentelectricity3_1.png);padding: 0; }
div.jm_4_apr_2025_s2_q_43c::after {max-width:300px; width:100%;height:0;padding: 0 0 38% 0;}
.jm_4_apr_2025_s2_q_43d {max-width:300px; max-height:243px; }
.jm_4_apr_2025_s2_q_43d::after {content: '\00a0';display: inline-block; width:300px; height:243px; background-position: 36.556064073226544% 73.40720221606648%; background-size: 682.6666666666666% 842.798353909465%; background-image: url(p_12_currentelectricity3_0.png);padding: 0; }
div.jm_4_apr_2025_s2_q_43d::after {max-width:300px; width:100%;height:0;padding: 0 0 81% 0;}

@keyframes JEEMAINS_11APRIL_2023_S1_S-frames {
    0% { background-position: 14.331896551724139% 0.05417118093174431%;  }
    50% { background-position: 24.152803450400494% 18.349135527049636%;  }
}

.JEEMAINS_11APRIL_2023_S1_S-animation {
    max-width: 192px;
    max-height: 202px;
}
.JEEMAINS_11APRIL_2023_S1_S-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 192px;
    height: 202px;
    padding: 0;
    background-image: url(p_12_currentelectricity3_0.png);
    background-size: 1066.6666666666667% 1013.8613861386139%; 
    animation-name: JEEMAINS_11APRIL_2023_S1_S-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEEMAINS_11APRIL_2023_S1_S-animation::after {
    max-width: 192px;
    width: 100%;
    height: 0;
    padding: 0 0 105.20833333333333% 0;
}

@keyframes JEEMAINS_11APRIL_2023_S2_S-frames {
    0% { background-position: 82.32731798382079% 0.05861664712778429%;  }
    50% { background-position: 0.05827505827505827% 64.3993417443774%;  }
}

.JEEMAINS_11APRIL_2023_S2_S-animation {
    max-width: 441px;
    max-height: 342px;
}
.JEEMAINS_11APRIL_2023_S2_S-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 441px;
    height: 342px;
    padding: 0;
    background-image: url(p_12_currentelectricity3_0.png);
    background-size: 464.39909297052156% 598.8304093567251%; 
    animation-name: JEEMAINS_11APRIL_2023_S2_S-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEEMAINS_11APRIL_2023_S2_S-animation::after {
    max-width: 441px;
    width: 100%;
    height: 0;
    padding: 0 0 77.55102040816327% 0;
}

@keyframes JEEMAINS_13APRIL_2023_S1_S-frames {
    0% { background-position: 38.10335036910846% 21.28%;  }
    50% { background-position: 73.93715341959334% 7.945635128071093%;  }
}

.JEEMAINS_13APRIL_2023_S1_S-animation {
    max-width: 287px;
    max-height: 173px;
}
.JEEMAINS_13APRIL_2023_S1_S-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 287px;
    height: 173px;
    padding: 0;
    background-image: url(p_12_currentelectricity3_0.png);
    background-size: 713.5888501742161% 1183.8150289017342%; 
    animation-name: JEEMAINS_13APRIL_2023_S1_S-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEEMAINS_13APRIL_2023_S1_S-animation::after {
    max-width: 287px;
    width: 100%;
    height: 0;
    padding: 0 0 60.278745644599304% 0;
}

@keyframes JEEMAINS_15APRIL_2023_S1_Q-frames {
    0% { background-position: 46.611570247933884% 10.388918486947256%;  }
    50% { background-position: 99.52203929899098% 87.63796909492274%;  }
}

.JEEMAINS_15APRIL_2023_S1_Q-animation {
    max-width: 233px;
    max-height: 171px;
}
.JEEMAINS_15APRIL_2023_S1_Q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 233px;
    height: 171px;
    padding: 0;
    background-image: url(p_12_currentelectricity3_0.png);
    background-size: 878.9699570815451% 1197.6608187134502%; 
    animation-name: JEEMAINS_15APRIL_2023_S1_Q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEEMAINS_15APRIL_2023_S1_Q-animation::after {
    max-width: 233px;
    width: 100%;
    height: 0;
    padding: 0 0 73.39055793991416% 0;
}

@keyframes JEEMAINS_1FEB_2023_S2_S-frames {
    0% { background-position: 0.05367686527106817% 45.39579967689822%;  }
    50% { background-position: 0.05770340450086555% 77.09251101321586%;  }
}

.JEEMAINS_1FEB_2023_S2_S-animation {
    max-width: 185px;
    max-height: 191px;
}
.JEEMAINS_1FEB_2023_S2_S-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 185px;
    height: 191px;
    padding: 0;
    background-image: url(p_12_currentelectricity3_0.png);
    background-size: 1107.027027027027% 1072.2513089005236%; 
    animation-name: JEEMAINS_1FEB_2023_S2_S-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEEMAINS_1FEB_2023_S2_S-animation::after {
    max-width: 185px;
    width: 100%;
    height: 0;
    padding: 0 0 103.24324324324324% 0;
}

@keyframes JEEMAINS_30JAN_S2_Q-frames {
    0% { background-position: 10.710194730813287% 45.29822675980655%;  }
    50% { background-position: 98.54829704075935% 16.100278551532032%;  }
}

.JEEMAINS_30JAN_S2_Q-animation {
    max-width: 302px;
    max-height: 187px;
}
.JEEMAINS_30JAN_S2_Q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 302px;
    height: 187px;
    padding: 0;
    background-image: url(p_12_currentelectricity3_0.png);
    background-size: 678.1456953642385% 1095.1871657754011%; 
    animation-name: JEEMAINS_30JAN_S2_Q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEEMAINS_30JAN_S2_Q-animation::after {
    max-width: 302px;
    width: 100%;
    height: 0;
    padding: 0 0 61.920529801324506% 0;
}

@keyframes JEEMAINS_6APRIL_2023_S2_Q-frames {
    0% { background-position: 48.6053412462908% 52.54506892895016%;  }
    50% { background-position: 77.42290748898678% 51.983077736647274%;  }
}

.JEEMAINS_6APRIL_2023_S2_Q-animation {
    max-width: 363px;
    max-height: 162px;
}
.JEEMAINS_6APRIL_2023_S2_Q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 363px;
    height: 162px;
    padding: 0;
    background-image: url(p_12_currentelectricity3_0.png);
    background-size: 564.1873278236915% 1264.1975308641975%; 
    animation-name: JEEMAINS_6APRIL_2023_S2_Q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEEMAINS_6APRIL_2023_S2_Q-animation::after {
    max-width: 363px;
    width: 100%;
    height: 0;
    padding: 0 0 44.62809917355372% 0;
}

@keyframes JEEMAINS_6APRIL_2023_S2_Q_37_O-frames {
    0% { background-position: 89.83149331783846% 83.9978448275862%;  }
    25% { background-position: 33.44988344988345% 95.96340150699677%;  }
    50% { background-position: 22.751961375980688% 45.14003294892916%;  }
    75% { background-position: 71.30852340936374% 58.68493150684932%;  }
}

.JEEMAINS_6APRIL_2023_S2_Q_37_O-animation {
    max-width: 327px;
    max-height: 192px;
}
.JEEMAINS_6APRIL_2023_S2_Q_37_O-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 327px;
    height: 192px;
    padding: 0;
    background-image: url(p_12_currentelectricity3_0.png);
    background-size: 626.2996941896024% 1066.6666666666667%; 
    animation-name: JEEMAINS_6APRIL_2023_S2_Q_37_O-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEEMAINS_6APRIL_2023_S2_Q_37_O-animation::after {
    max-width: 327px;
    width: 100%;
    height: 0;
    padding: 0 0 58.71559633027523% 0;
}

@keyframes JEE_MAIN_9APRIL_2024_S1_Q-frames {
    0% { background-position: 16.99493528418683% 97.74848984074684%;  }
    50% { background-position: 0.05595970900951315% 24.012979989183343%;  }
}

.JEE_MAIN_9APRIL_2024_S1_Q-animation {
    max-width: 271px;
    max-height: 227px;
}
.JEE_MAIN_9APRIL_2024_S1_Q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 271px;
    height: 227px;
    padding: 0;
    background-image: url(p_12_currentelectricity3_0.png);
    background-size: 755.719557195572% 902.2026431718061%; 
    animation-name: JEE_MAIN_9APRIL_2024_S1_Q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEE_MAIN_9APRIL_2024_S1_Q-animation::after {
    max-width: 271px;
    width: 100%;
    height: 0;
    padding: 0 0 83.76383763837639% 0;
}

@keyframes JEE_MAIN_9APRIL_2024_S1_S-frames {
    0% { background-position: 75.86009174311927% 21.82741116751269%;  }
    50% { background-position: 0.05630630630630631% 34.810810810810814%;  }
}

.JEE_MAIN_9APRIL_2024_S1_S-animation {
    max-width: 304px;
    max-height: 472px;
}
.JEE_MAIN_9APRIL_2024_S1_S-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 304px;
    height: 472px;
    padding: 0;
    background-image: url(p_12_currentelectricity3_0.png);
    background-size: 673.6842105263158% 433.89830508474574%; 
    animation-name: JEE_MAIN_9APRIL_2024_S1_S-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEE_MAIN_9APRIL_2024_S1_S-animation::after {
    max-width: 304px;
    width: 100%;
    height: 0;
    padding: 0 0 155.26315789473685% 0;
}

@keyframes JEE_MAIN_9APRIL_2024_S2_Q-frames {
    0% { background-position: 70.68345323741008% 69.3626138189609%;  }
    50% { background-position: 0.05605381165919283% 0.05500550055005501%;  }
}

.JEE_MAIN_9APRIL_2024_S2_Q-animation {
    max-width: 380px;
    max-height: 181px;
}
.JEE_MAIN_9APRIL_2024_S2_Q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 380px;
    height: 181px;
    padding: 0;
    background-image: url(p_12_currentelectricity3_0.png);
    background-size: 538.9473684210526% 1131.4917127071824%; 
    animation-name: JEE_MAIN_9APRIL_2024_S2_Q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEE_MAIN_9APRIL_2024_S2_Q-animation::after {
    max-width: 380px;
    width: 100%;
    height: 0;
    padding: 0 0 47.63157894736842% 0;
}

@keyframes jee_mn_28_jan_2025_s2_q-frames {
    0% { background-position: 68.99942163100057% 43.53813559322034%;  }
    50% { background-position: 64.42577030812325% 99.94675186368477%;  }
}

.jee_mn_28_jan_2025_s2_q-animation {
    max-width: 319px;
    max-height: 160px;
}
.jee_mn_28_jan_2025_s2_q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 319px;
    height: 160px;
    padding: 0;
    background-image: url(p_12_currentelectricity3_0.png);
    background-size: 642.0062695924765% 1280%; 
    animation-name: jee_mn_28_jan_2025_s2_q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.jee_mn_28_jan_2025_s2_q-animation::after {
    max-width: 319px;
    width: 100%;
    height: 0;
    padding: 0 0 50.156739811912225% 0;
}

@keyframes jee_mn_29_jan_2024_s2-frames {
    0% { background-position: 24.57680250783699% 32.28476821192053%;  }
    50% { background-position: 73.05424528301887% 45.51532033426184%;  }
}

.jee_mn_29_jan_2024_s2-animation {
    max-width: 453px;
    max-height: 236px;
}
.jee_mn_29_jan_2024_s2-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 453px;
    height: 236px;
    padding: 0;
    background-image: url(p_12_currentelectricity3_0.png);
    background-size: 452.0971302428256% 867.7966101694915%; 
    animation-name: jee_mn_29_jan_2024_s2-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.jee_mn_29_jan_2024_s2-animation::after {
    max-width: 453px;
    width: 100%;
    height: 0;
    padding: 0 0 52.09713024282561% 0;
}

@keyframes jee_mn_30_jan_2024_s1-frames {
    0% { background-position: 96.07268464243845% 6.62839248434238%;  }
    50% { background-position: 96.23477297895903% 21.555323590814197%;  }
}

.jee_mn_30_jan_2024_s1-animation {
    max-width: 342px;
    max-height: 132px;
}
.jee_mn_30_jan_2024_s1-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 342px;
    height: 132px;
    padding: 0;
    background-image: url(p_12_currentelectricity3_0.png);
    background-size: 598.8304093567251% 1551.5151515151515%; 
    animation-name: jee_mn_30_jan_2024_s1-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.jee_mn_30_jan_2024_s1-animation::after {
    max-width: 342px;
    width: 100%;
    height: 0;
    padding: 0 0 38.59649122807018% 0;
}

/* $TexturePacker:SmartUpdate:0893b68881b557c315c68ba0348b7ca6:fbb13d94c1c11cc47e7e4724df501d6a:fcd1ba740f9093b1364832d0d523d259$ */
