/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.JEEMAINS_10APRIL_2023_S2_Q_49 {max-width:302px; max-height:247px; }
.JEEMAINS_10APRIL_2023_S2_Q_49::after {content: '\00a0';display: inline-block; width:302px; height:247px; background-position: 65.06717850287907% 0.3952569169960474%; background-size: 445.0331125827815% 202.42914979757086%; background-image: url(p_12_dualnature2_0.png);padding: 0; }
div.JEEMAINS_10APRIL_2023_S2_Q_49::after {max-width:302px; width:100%;height:0;padding: 0 0 81.78807947019868% 0;}
.JEEMAINS_10APRIL_2023_S2_S_49 {max-width:287px; max-height:278px; }
.JEEMAINS_10APRIL_2023_S2_S_49::after {content: '\00a0';display: inline-block; width:287px; height:278px; background-position: 36.89687795648061% 0.45045045045045046%; background-size: 468.2926829268293% 179.85611510791367%; background-image: url(p_12_dualnature2_0.png);padding: 0; }
div.JEEMAINS_10APRIL_2023_S2_S_49::after {max-width:287px; width:100%;height:0;padding: 0 0 96.86411149825784% 0;}
.JEEMAINS_11APRIL_2023_S1_S_54 {max-width:307px; max-height:136px; }
.JEEMAINS_11APRIL_2023_S1_S_54::after {content: '\00a0';display: inline-block; width:307px; height:136px; background-position: 0.09643201542912247% 74.17582417582418%; background-size: 437.785016286645% 367.6470588235294%; background-image: url(p_12_dualnature2_0.png);padding: 0; }
div.JEEMAINS_11APRIL_2023_S1_S_54::after {max-width:307px; width:100%;height:0;padding: 0 0 44.299674267100976% 0;}
.JEE_MAIN_4APRIL_2024_S1_Q_40_O_1 {max-width:217px; max-height:187px; }
.JEE_MAIN_4APRIL_2024_S1_Q_40_O_1::after {content: '\00a0';display: inline-block; width:217px; height:187px; background-position: 27.417923691215616% 89.45686900958466%; background-size: 619.3548387096774% 267.379679144385%; background-image: url(p_12_dualnature2_0.png);padding: 0; }
div.JEE_MAIN_4APRIL_2024_S1_Q_40_O_1::after {max-width:217px; width:100%;height:0;padding: 0 0 86.17511520737327% 0;}
.JEE_MAIN_4APRIL_2024_S1_Q_40_O_2 {max-width:214px; max-height:177px; }
.JEE_MAIN_4APRIL_2024_S1_Q_40_O_2::after {content: '\00a0';display: inline-block; width:214px; height:177px; background-position: 65.48672566371681% 77.08978328173374%; background-size: 628.0373831775701% 282.4858757062147%; background-image: url(p_12_dualnature2_0.png);padding: 0; }
div.JEE_MAIN_4APRIL_2024_S1_Q_40_O_2::after {max-width:214px; width:100%;height:0;padding: 0 0 82.71028037383178% 0;}
.JEE_MAIN_4APRIL_2024_S1_Q_40_O_3 {max-width:221px; max-height:181px; }
.JEE_MAIN_4APRIL_2024_S1_Q_40_O_3::after {content: '\00a0';display: inline-block; width:221px; height:181px; background-position: 87.3552983081033% 58.62068965517241%; background-size: 608.1447963800905% 276.24309392265195%; background-image: url(p_12_dualnature2_0.png);padding: 0; }
div.JEE_MAIN_4APRIL_2024_S1_Q_40_O_3::after {max-width:221px; width:100%;height:0;padding: 0 0 81.90045248868778% 0;}
.JEE_MAIN_4APRIL_2024_S1_Q_40_O_4 {max-width:212px; max-height:183px; }
.JEE_MAIN_4APRIL_2024_S1_Q_40_O_4::after {content: '\00a0';display: inline-block; width:212px; height:183px; background-position: 46.5547703180212% 88.32807570977918%; background-size: 633.9622641509434% 273.224043715847%; background-image: url(p_12_dualnature2_0.png);padding: 0; }
div.JEE_MAIN_4APRIL_2024_S1_Q_40_O_4::after {max-width:212px; width:100%;height:0;padding: 0 0 86.32075471698113% 0;}
.JEE_MAIN_5APRIL_2024_S1_Q_35 {max-width:231px; max-height:185px; }
.JEE_MAIN_5APRIL_2024_S1_Q_35::after {content: '\00a0';display: inline-block; width:231px; height:185px; background-position: 88.14016172506739% 0.31746031746031744%; background-size: 581.8181818181819% 270.27027027027026%; background-image: url(p_12_dualnature2_0.png);padding: 0; }
div.JEE_MAIN_5APRIL_2024_S1_Q_35::after {max-width:231px; width:100%;height:0;padding: 0 0 80.08658008658008% 0;}
.jee_mn_29_jan_2025_s1_q_34a {max-width:134px; max-height:129px; }
.jee_mn_29_jan_2025_s1_q_34a::after {content: '\00a0';display: inline-block; width:134px; height:129px; background-position: 78.92561983471074% 99.46091644204851%; background-size: 1002.9850746268656% 387.5968992248062%; background-image: url(p_12_dualnature2_0.png);padding: 0; }
div.jee_mn_29_jan_2025_s1_q_34a::after {max-width:134px; width:100%;height:0;padding: 0 0 96.26865671641791% 0;}
.jee_mn_29_jan_2025_s1_q_34b {max-width:139px; max-height:136px; }
.jee_mn_29_jan_2025_s1_q_34b::after {content: '\00a0';display: inline-block; width:139px; height:136px; background-position: 99.83402489626556% 89.28571428571429%; background-size: 966.9064748201439% 367.6470588235294%; background-image: url(p_12_dualnature2_0.png);padding: 0; }
div.jee_mn_29_jan_2025_s1_q_34b::after {max-width:139px; width:100%;height:0;padding: 0 0 97.84172661870504% 0;}
.jee_mn_29_jan_2025_s1_q_34c {max-width:130px; max-height:130px; }
.jee_mn_29_jan_2025_s1_q_34c::after {content: '\00a0';display: inline-block; width:130px; height:130px; background-position: 99.9176276771005% 0.2702702702702703%; background-size: 1033.8461538461538% 384.61538461538464%; background-image: url(p_12_dualnature2_0.png);padding: 0; }
div.jee_mn_29_jan_2025_s1_q_34c::after {max-width:130px; width:100%;height:0;padding: 0 0 100% 0;}
.jee_mn_29_jan_2025_s1_q_34d {max-width:137px; max-height:137px; }
.jee_mn_29_jan_2025_s1_q_34d::after {content: '\00a0';display: inline-block; width:137px; height:137px; background-position: 99.66859983429991% 51.515151515151516%; background-size: 981.021897810219% 364.963503649635%; background-image: url(p_12_dualnature2_0.png);padding: 0; }
div.jee_mn_29_jan_2025_s1_q_34d::after {max-width:137px; width:100%;height:0;padding: 0 0 100% 0;}
.jee_mn_30_jan_2024_s2_33 {max-width:388px; max-height:268px; }
.jee_mn_30_jan_2024_s2_33::after {content: '\00a0';display: inline-block; width:388px; height:268px; background-position: 0.10460251046025104% 0.43103448275862066%; background-size: 346.3917525773196% 186.56716417910448%; background-image: url(p_12_dualnature2_0.png);padding: 0; }
div.jee_mn_30_jan_2024_s2_33::after {max-width:388px; width:100%;height:0;padding: 0 0 69.0721649484536% 0;}
.jm_2_apr_2025_s1_sol_39 {max-width:223px; max-height:92px; }
.jm_2_apr_2025_s1_sol_39::after {content: '\00a0';display: inline-block; width:223px; height:92px; background-position: 0.08920606601248884% 99.75490196078431%; background-size: 602.6905829596412% 543.4782608695652%; background-image: url(p_12_dualnature2_0.png);padding: 0; }
div.jm_2_apr_2025_s1_sol_39::after {max-width:223px; width:100%;height:0;padding: 0 0 41.25560538116592% 0;}

@keyframes JEE_MAIN_4APRIL_2024_S1_Q_40_O-frames {
    0% { background-position: 27.417923691215616% 89.45686900958466%;  }
    25% { background-position: 65.48672566371681% 77.08978328173374%;  }
    50% { background-position: 87.3552983081033% 58.62068965517241%;  }
    75% { background-position: 46.5547703180212% 88.32807570977918%;  }
}

.JEE_MAIN_4APRIL_2024_S1_Q_40_O-animation {
    max-width: 217px;
    max-height: 187px;
}
.JEE_MAIN_4APRIL_2024_S1_Q_40_O-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 217px;
    height: 187px;
    padding: 0;
    background-image: url(p_12_dualnature2_0.png);
    background-size: 619.3548387096774% 267.379679144385%; 
    animation-name: JEE_MAIN_4APRIL_2024_S1_Q_40_O-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEE_MAIN_4APRIL_2024_S1_Q_40_O-animation::after {
    max-width: 217px;
    width: 100%;
    height: 0;
    padding: 0 0 86.17511520737327% 0;
}

/* $TexturePacker:SmartUpdate:e7abe8ffbd877424e5625245b35f238c:e6e290f4831bd95a1323e7e1c0f642e2:1c65593140bed4e85dfd295e31c301a0$ */
