/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.AIEEE_2003_Phy_53sol {max-width:281px; max-height:192px; }
.AIEEE_2003_Phy_53sol::after {content: '\00a0';display: inline-block; width:281px; height:192px; background-position: 40.94827586206897% 71.12462006079028%; background-size: 347.6868327402135% 785.4166666666666%; background-image: url(p_12_magnetismmatter_0.png);padding: 0; }
div.AIEEE_2003_Phy_53sol::after {max-width:281px; width:100%;height:0;padding: 0 0 68.32740213523131% 0;}
.JEEMAINS_10APRIL_2023_S2_S_50 {max-width:382px; max-height:283px; }
.JEEMAINS_10APRIL_2023_S2_S_50::after {content: '\00a0';display: inline-block; width:382px; height:283px; background-position: 63.36134453781513% 0.08163265306122448%; background-size: 255.7591623036649% 532.8621908127209%; background-image: url(p_12_magnetismmatter_0.png);padding: 0; }
div.JEEMAINS_10APRIL_2023_S2_S_50::after {max-width:382px; width:100%;height:0;padding: 0 0 74.08376963350786% 0;}
.JEEM_16_Mar_S1_8sol {max-width:297px; max-height:173px; }
.JEEM_16_Mar_S1_8sol::after {content: '\00a0';display: inline-block; width:297px; height:173px; background-position: 83.38235294117646% 69.88764044943821%; background-size: 328.956228956229% 871.6763005780347%; background-image: url(p_12_magnetismmatter_0.png);padding: 0; }
div.JEEM_16_Mar_S1_8sol::after {max-width:297px; width:100%;height:0;padding: 0 0 58.24915824915825% 0;}
.JEE_12_04_19_P1_22_que {max-width:156px; max-height:116px; }
.JEE_12_04_19_P1_22_que::after {content: '\00a0';display: inline-block; width:156px; height:116px; background-position: 66.50426309378807% 89.51149425287356%; background-size: 626.2820512820513% 1300%; background-image: url(p_12_magnetismmatter_0.png);padding: 0; }
div.JEE_12_04_19_P1_22_que::after {max-width:156px; width:100%;height:0;padding: 0 0 74.35897435897436% 0;}
.JEE_8_4_2019_P2_7_que {max-width:251px; max-height:83px; }
.JEE_8_4_2019_P2_7_que::after {content: '\00a0';display: inline-block; width:251px; height:83px; background-position: 39.256198347107436% 79.2280701754386%; background-size: 389.2430278884462% 1816.867469879518%; background-image: url(p_12_magnetismmatter_0.png);padding: 0; }
div.JEE_8_4_2019_P2_7_que::after {max-width:251px; width:100%;height:0;padding: 0 0 33.06772908366534% 0;}
.JEE_8_4_2019_P2_7_sol {max-width:266px; max-height:138px; }
.JEE_8_4_2019_P2_7_sol::after {content: '\00a0';display: inline-block; width:266px; height:138px; background-position: 79.74683544303798% 80.8029197080292%; background-size: 367.29323308270676% 1092.7536231884058%; background-image: url(p_12_magnetismmatter_0.png);padding: 0; }
div.JEE_8_4_2019_P2_7_sol::after {max-width:266px; width:100%;height:0;padding: 0 0 51.8796992481203% 0;}
.JEE_MAINS_2019_JAN10_S2_8sol {max-width:362px; max-height:162px; }
.JEE_MAINS_2019_JAN10_S2_8sol::after {content: '\00a0';display: inline-block; width:362px; height:162px; background-position: 93.82113821138212% 57.20653789004458%; background-size: 269.88950276243094% 930.8641975308642%; background-image: url(p_12_magnetismmatter_0.png);padding: 0; }
div.JEE_MAINS_2019_JAN10_S2_8sol::after {max-width:362px; width:100%;height:0;padding: 0 0 44.751381215469614% 0;}
.JEE_MAIN_6APRIL_2024_S2_Q_47_1 {max-width:111px; max-height:105px; }
.JEE_MAIN_6APRIL_2024_S2_Q_47_1::after {content: '\00a0';display: inline-block; width:111px; height:105px; background-position: 99.88452655889145% 66.50035637918745%; background-size: 880.1801801801802% 1436.1904761904761%; background-image: url(p_12_magnetismmatter_0.png);padding: 0; }
div.JEE_MAIN_6APRIL_2024_S2_Q_47_1::after {max-width:111px; width:100%;height:0;padding: 0 0 94.5945945945946% 0;}
.JEE_MAIN_6APRIL_2024_S2_Q_47_2 {max-width:110px; max-height:103px; }
.JEE_MAIN_6APRIL_2024_S2_Q_47_2::after {content: '\00a0';display: inline-block; width:110px; height:103px; background-position: 99.76931949250289% 73.95017793594306%; background-size: 888.1818181818181% 1464.0776699029127%; background-image: url(p_12_magnetismmatter_0.png);padding: 0; }
div.JEE_MAIN_6APRIL_2024_S2_Q_47_2::after {max-width:110px; width:100%;height:0;padding: 0 0 93.63636363636364% 0;}
.JEE_MAIN_6APRIL_2024_S2_Q_47_3 {max-width:107px; max-height:98px; }
.JEE_MAIN_6APRIL_2024_S2_Q_47_3::after {content: '\00a0';display: inline-block; width:107px; height:98px; background-position: 95.86206896551724% 81.06382978723404%; background-size: 913.0841121495328% 1538.7755102040817%; background-image: url(p_12_magnetismmatter_0.png);padding: 0; }
div.JEE_MAIN_6APRIL_2024_S2_Q_47_3::after {max-width:107px; width:100%;height:0;padding: 0 0 91.58878504672897% 0;}
.JEE_MAIN_6APRIL_2024_S2_Q_47_4 {max-width:110px; max-height:100px; }
.JEE_MAIN_6APRIL_2024_S2_Q_47_4::after {content: '\00a0';display: inline-block; width:110px; height:100px; background-position: 35.06343713956171% 99.78693181818181%; background-size: 888.1818181818181% 1508%; background-image: url(p_12_magnetismmatter_0.png);padding: 0; }
div.JEE_MAIN_6APRIL_2024_S2_Q_47_4::after {max-width:110px; width:100%;height:0;padding: 0 0 90.9090909090909% 0;}
.JEE_MAIN_6APRIL_2024_S2_S_47_1 {max-width:108px; max-height:107px; }
.JEE_MAIN_6APRIL_2024_S2_S_47_1::after {content: '\00a0';display: inline-block; width:108px; height:107px; background-position: 96.20253164556962% 88.6509635974304%; background-size: 904.6296296296297% 1409.3457943925234%; background-image: url(p_12_magnetismmatter_0.png);padding: 0; }
div.JEE_MAIN_6APRIL_2024_S2_S_47_1::after {max-width:108px; width:100%;height:0;padding: 0 0 99.07407407407408% 0;}
.JEE_MAIN_6APRIL_2024_S2_S_47_2 {max-width:115px; max-height:104px; }
.JEE_MAIN_6APRIL_2024_S2_S_47_2::after {content: '\00a0';display: inline-block; width:115px; height:104px; background-position: 94.19953596287704% 97.57834757834758%; background-size: 849.5652173913044% 1450%; background-image: url(p_12_magnetismmatter_0.png);padding: 0; }
div.JEE_MAIN_6APRIL_2024_S2_S_47_2::after {max-width:115px; width:100%;height:0;padding: 0 0 90.43478260869566% 0;}
.JEE_MAIN_6APRIL_2024_S2_S_47_3 {max-width:120px; max-height:105px; }
.JEE_MAIN_6APRIL_2024_S2_S_47_3::after {content: '\00a0';display: inline-block; width:120px; height:105px; background-position: 80.63010501750291% 97.64789736279401%; background-size: 814.1666666666666% 1436.1904761904761%; background-image: url(p_12_magnetismmatter_0.png);padding: 0; }
div.JEE_MAIN_6APRIL_2024_S2_S_47_3::after {max-width:120px; width:100%;height:0;padding: 0 0 87.5% 0;}
.JEE_MAIN_6APRIL_2024_S2_S_47_4 {max-width:106px; max-height:101px; }
.JEE_MAIN_6APRIL_2024_S2_S_47_4::after {content: '\00a0';display: inline-block; width:106px; height:101px; background-position: 47.64638346727899% 99.85785358919688%; background-size: 921.6981132075472% 1493.069306930693%; background-image: url(p_12_magnetismmatter_0.png);padding: 0; }
div.JEE_MAIN_6APRIL_2024_S2_S_47_4::after {max-width:106px; width:100%;height:0;padding: 0 0 95.28301886792453% 0;}
.JEE_MAIN_8APRIL_2024_S2_S_51 {max-width:175px; max-height:182px; }
.JEE_MAIN_8APRIL_2024_S2_S_51::after {content: '\00a0';display: inline-block; width:175px; height:182px; background-position: 89.52618453865337% 28.506787330316744%; background-size: 558.2857142857143% 828.5714285714286%; background-image: url(p_12_magnetismmatter_0.png);padding: 0; }
div.JEE_MAIN_8APRIL_2024_S2_S_51::after {max-width:175px; width:100%;height:0;padding: 0 0 104% 0;}
.JEE_Main_1_Sep_2021_Shift_2_11_Q {max-width:395px; max-height:268px; }
.JEE_Main_1_Sep_2021_Shift_2_11_Q::after {content: '\00a0';display: inline-block; width:395px; height:268px; background-position: 0.1718213058419244% 25.56451612903226%; background-size: 247.34177215189874% 562.6865671641791%; background-image: url(p_12_magnetismmatter_0.png);padding: 0; }
div.JEE_Main_1_Sep_2021_Shift_2_11_Q::after {max-width:395px; width:100%;height:0;padding: 0 0 67.84810126582279% 0;}
.JEE_Main_1_Sep_2021_Shift_2_11_Q_1_S {max-width:132px; max-height:123px; }
.JEE_Main_1_Sep_2021_Shift_2_11_Q_1_S::after {content: '\00a0';display: inline-block; width:132px; height:123px; background-position: 83.19526627218934% 89.96389891696751%; background-size: 740.1515151515151% 1226.0162601626016%; background-image: url(p_12_magnetismmatter_0.png);padding: 0; }
div.JEE_Main_1_Sep_2021_Shift_2_11_Q_1_S::after {max-width:132px; width:100%;height:0;padding: 0 0 93.18181818181819% 0;}
.JEE_Main_1_Sep_2021_Shift_2_11_Q_2_S {max-width:144px; max-height:114px; }
.JEE_Main_1_Sep_2021_Shift_2_11_Q_2_S::after {content: '\00a0';display: inline-block; width:144px; height:114px; background-position: 65.54621848739495% 97.77618364418939%; background-size: 678.4722222222222% 1322.8070175438597%; background-image: url(p_12_magnetismmatter_0.png);padding: 0; }
div.JEE_Main_1_Sep_2021_Shift_2_11_Q_2_S::after {max-width:144px; width:100%;height:0;padding: 0 0 79.16666666666667% 0;}
.JEE_Main_22_July_2021_eve_9_s {max-width:259px; max-height:383px; }
.JEE_Main_22_July_2021_eve_9_s::after {content: '\00a0';display: inline-block; width:259px; height:383px; background-position: 0.1392757660167131% 52.08888888888889%; background-size: 377.2200772200772% 393.73368146214096%; background-image: url(p_12_magnetismmatter_0.png);padding: 0; }
div.JEE_Main_22_July_2021_eve_9_s::after {max-width:259px; width:100%;height:0;padding: 0 0 147.87644787644788% 0;}
.JEE_Mains_03_Sep_2020_Shift_2_1_q {max-width:68px; max-height:66px; }
.JEE_Mains_03_Sep_2020_Shift_2_1_q::after {content: '\00a0';display: inline-block; width:68px; height:66px; background-position: 98.34983498349835% 26.21359223300971%; background-size: 1436.764705882353% 2284.848484848485%; background-image: url(p_12_magnetismmatter_0.png);padding: 0; }
div.JEE_Mains_03_Sep_2020_Shift_2_1_q::after {max-width:68px; width:100%;height:0;padding: 0 0 97.05882352941177% 0;}
.Jan_7_2020_shift_2_11_q {max-width:283px; max-height:295px; }
.Jan_7_2020_shift_2_11_q::after {content: '\00a0';display: inline-block; width:283px; height:295px; background-position: 0.1440922190201729% 79.96702390766694%; background-size: 345.22968197879857% 511.1864406779661%; background-image: url(p_12_magnetismmatter_0.png);padding: 0; }
div.Jan_7_2020_shift_2_11_q::after {max-width:283px; width:100%;height:0;padding: 0 0 104.24028268551237% 0;}
.Jan_7_2020_shift_2_11_s {max-width:315px; max-height:255px; }
.Jan_7_2020_shift_2_11_s::after {content: '\00a0';display: inline-block; width:315px; height:255px; background-position: 39.42598187311178% 46.767757382282525%; background-size: 310.1587301587302% 591.3725490196078%; background-image: url(p_12_magnetismmatter_0.png);padding: 0; }
div.Jan_7_2020_shift_2_11_s::after {max-width:315px; width:100%;height:0;padding: 0 0 80.95238095238095% 0;}
.jee_mains_26_jun_2022_s2_42 {max-width:300px; max-height:93px; }
.jee_mains_26_jun_2022_s2_42::after {content: '\00a0';display: inline-block; width:300px; height:93px; background-position: 38.55243722304284% 59.50530035335689%; background-size: 325.6666666666667% 1621.505376344086%; background-image: url(p_12_magnetismmatter_0.png);padding: 0; }
div.jee_mains_26_jun_2022_s2_42::after {max-width:300px; width:100%;height:0;padding: 0 0 31% 0;}
.jee_mn_28_jan_2025_s2_q_44 {max-width:213px; max-height:197px; }
.jee_mn_28_jan_2025_s2_q_44::after {content: '\00a0';display: inline-block; width:213px; height:197px; background-position: 99.47643979057591% 13.729977116704806%; background-size: 458.6854460093897% 765.4822335025381%; background-image: url(p_12_magnetismmatter_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s2_q_44::after {max-width:213px; width:100%;height:0;padding: 0 0 92.48826291079813% 0;}
.jee_mn_28_jan_2025_s2_sol_44 {max-width:216px; max-height:178px; }
.jee_mn_28_jan_2025_s2_sol_44::after {content: '\00a0';display: inline-block; width:216px; height:178px; background-position: 99.86859395532194% 0.07518796992481203%; background-size: 452.31481481481484% 847.1910112359551%; background-image: url(p_12_magnetismmatter_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s2_sol_44::after {max-width:216px; width:100%;height:0;padding: 0 0 82.4074074074074% 0;}
.jee_mn_29_jul_2022_s1_48_sol {max-width:320px; max-height:280px; }
.jee_mn_29_jul_2022_s1_48_sol::after {content: '\00a0';display: inline-block; width:320px; height:280px; background-position: 60.4261796042618% 23.208469055374593%; background-size: 305.3125% 538.5714285714286%; background-image: url(p_12_magnetismmatter_0.png);padding: 0; }
div.jee_mn_29_jul_2022_s1_48_sol::after {max-width:320px; width:100%;height:0;padding: 0 0 87.5% 0;}
.m2016_76a {max-width:192px; max-height:203px; }
.m2016_76a::after {content: '\00a0';display: inline-block; width:192px; height:203px; background-position: 73.5031847133758% 43.371647509578544%; background-size: 508.8541666666667% 742.8571428571429%; background-image: url(p_12_magnetismmatter_0.png);padding: 0; }
div.m2016_76a::after {max-width:192px; width:100%;height:0;padding: 0 0 105.72916666666667% 0;}
.m2016_76b {max-width:182px; max-height:202px; }
.m2016_76b::after {content: '\00a0';display: inline-block; width:182px; height:202px; background-position: 96.85534591194968% 42.955589586523736%; background-size: 536.8131868131868% 746.5346534653465%; background-image: url(p_12_magnetismmatter_0.png);padding: 0; }
div.m2016_76b::after {max-width:182px; width:100%;height:0;padding: 0 0 110.98901098901099% 0;}
.m2016_apr10_16sol {max-width:241px; max-height:191px; }
.m2016_apr10_16sol::after {content: '\00a0';display: inline-block; width:241px; height:191px; background-position: 41.30434782608695% 92.10326499620349%; background-size: 405.3941908713693% 789.5287958115183%; background-image: url(p_12_magnetismmatter_0.png);padding: 0; }
div.m2016_apr10_16sol::after {max-width:241px; width:100%;height:0;padding: 0 0 79.25311203319502% 0;}
.m2016_apr10_16sola {max-width:375px; max-height:315px; }
.m2016_apr10_16sola::after {content: '\00a0';display: inline-block; width:375px; height:315px; background-position: 0.16611295681063123% 0.08382229673093043%; background-size: 260.53333333333336% 478.73015873015873%; background-image: url(p_12_magnetismmatter_0.png);padding: 0; }
div.m2016_apr10_16sola::after {max-width:375px; width:100%;height:0;padding: 0 0 84% 0;}
.m2018_apr15_19 {max-width:302px; max-height:241px; }
.m2018_apr15_19::after {content: '\00a0';display: inline-block; width:302px; height:241px; background-position: 0.14814814814814814% 99.92107340173638%; background-size: 323.50993377483445% 625.7261410788382%; background-image: url(p_12_magnetismmatter_0.png);padding: 0; }
div.m2018_apr15_19::after {max-width:302px; width:100%;height:0;padding: 0 0 79.80132450331126% 0;}

@keyframes JEE_MAIN_6APRIL_2024_S2_Q_47-frames {
    0% { background-position: 99.88452655889145% 66.50035637918745%;  }
    25% { background-position: 99.76931949250289% 73.95017793594306%;  }
    50% { background-position: 95.86206896551724% 81.06382978723404%;  }
    75% { background-position: 35.06343713956171% 99.78693181818181%;  }
}

.JEE_MAIN_6APRIL_2024_S2_Q_47-animation {
    max-width: 111px;
    max-height: 105px;
}
.JEE_MAIN_6APRIL_2024_S2_Q_47-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 111px;
    height: 105px;
    padding: 0;
    background-image: url(p_12_magnetismmatter_0.png);
    background-size: 880.1801801801802% 1436.1904761904761%; 
    animation-name: JEE_MAIN_6APRIL_2024_S2_Q_47-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEE_MAIN_6APRIL_2024_S2_Q_47-animation::after {
    max-width: 111px;
    width: 100%;
    height: 0;
    padding: 0 0 94.5945945945946% 0;
}

@keyframes JEE_MAIN_6APRIL_2024_S2_S_47-frames {
    0% { background-position: 96.20253164556962% 88.6509635974304%;  }
    25% { background-position: 94.19953596287704% 97.57834757834758%;  }
    50% { background-position: 80.63010501750291% 97.64789736279401%;  }
    75% { background-position: 47.64638346727899% 99.85785358919688%;  }
}

.JEE_MAIN_6APRIL_2024_S2_S_47-animation {
    max-width: 108px;
    max-height: 107px;
}
.JEE_MAIN_6APRIL_2024_S2_S_47-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 108px;
    height: 107px;
    padding: 0;
    background-image: url(p_12_magnetismmatter_0.png);
    background-size: 904.6296296296297% 1409.3457943925234%; 
    animation-name: JEE_MAIN_6APRIL_2024_S2_S_47-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEE_MAIN_6APRIL_2024_S2_S_47-animation::after {
    max-width: 108px;
    width: 100%;
    height: 0;
    padding: 0 0 99.07407407407408% 0;
}

/* $TexturePacker:SmartUpdate:737b194fae8b60073a2ed2bf283a11fd:2f3131703e7d64b6f47268b52a988d94:e03d602ed76b37689f8db9f1f07838c8$ */
