/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.JEEMAINS_10APRIL_2023_S2_S_51 {max-width:373px; max-height:267px; }
.JEEMAINS_10APRIL_2023_S2_S_51::after {content: '\00a0';display: inline-block; width:373px; height:267px; background-position: 0.1310615989515072% 0.4672897196261682%; background-size: 304.55764075067026% 180.1498127340824%; background-image: url(p_12_atoms3_0.png);padding: 0; }
div.JEEMAINS_10APRIL_2023_S2_S_51::after {max-width:373px; width:100%;height:0;padding: 0 0 71.58176943699732% 0;}
.JEEMAINS_11APRIL_2023_S1_S_34 {max-width:445px; max-height:71px; }
.JEEMAINS_11APRIL_2023_S1_S_34::after {content: '\00a0';display: inline-block; width:445px; height:71px; background-position: 54.26917510853835% 0.24390243902439024%; background-size: 255.2808988764045% 677.4647887323944%; background-image: url(p_12_atoms3_0.png);padding: 0; }
div.JEEMAINS_11APRIL_2023_S1_S_34::after {max-width:445px; width:100%;height:0;padding: 0 0 15.955056179775282% 0;}
.JEEMAINS_15APRIL_2023_S1_Q_53 {max-width:238px; max-height:157px; }
.JEEMAINS_15APRIL_2023_S1_Q_53::after {content: '\00a0';display: inline-block; width:238px; height:157px; background-position: 27.839643652561247% 99.69135802469135%; background-size: 477.3109243697479% 306.36942675159236%; background-image: url(p_12_atoms3_0.png);padding: 0; }
div.JEEMAINS_15APRIL_2023_S1_Q_53::after {max-width:238px; width:100%;height:0;padding: 0 0 65.96638655462185% 0;}
.JEE_29_Jan_2024_Shift_1_51_s {max-width:283px; max-height:119px; }
.JEE_29_Jan_2024_Shift_1_51_s::after {content: '\00a0';display: inline-block; width:283px; height:119px; background-position: 98.71043376318875% 41.43646408839779%; background-size: 401.41342756183747% 404.20168067226894%; background-image: url(p_12_atoms3_0.png);padding: 0; }
div.JEE_29_Jan_2024_Shift_1_51_s::after {max-width:283px; width:100%;height:0;padding: 0 0 42.04946996466431% 0;}
.JEE_MAIN_5APRIL_2024_S2_S_52 {max-width:163px; max-height:109px; }
.JEE_MAIN_5APRIL_2024_S2_S_52::after {content: '\00a0';display: inline-block; width:163px; height:109px; background-position: 50.25693730729702% 86.82795698924731%; background-size: 696.9325153374233% 441.2844036697248%; background-image: url(p_12_atoms3_0.png);padding: 0; }
div.JEE_MAIN_5APRIL_2024_S2_S_52::after {max-width:163px; width:100%;height:0;padding: 0 0 66.87116564417178% 0;}
.JEE_MAIN_6APRIL_2024_S1_S_33 {max-width:293px; max-height:148px; }
.JEE_MAIN_6APRIL_2024_S1_S_33::after {content: '\00a0';display: inline-block; width:293px; height:148px; background-position: 99.88137603795967% 0.3003003003003003%; background-size: 387.7133105802048% 325%; background-image: url(p_12_atoms3_0.png);padding: 0; }
div.JEE_MAIN_6APRIL_2024_S1_S_33::after {max-width:293px; width:100%;height:0;padding: 0 0 50.51194539249147% 0;}
.jee_mn_24_jan_2025_s1_sol_37 {max-width:249px; max-height:249px; }
.jee_mn_24_jan_2025_s1_sol_37::after {content: '\00a0';display: inline-block; width:249px; height:249px; background-position: 42.27733934611049% 31.46551724137931%; background-size: 456.22489959839356% 193.1726907630522%; background-image: url(p_12_atoms3_0.png);padding: 0; }
div.jee_mn_24_jan_2025_s1_sol_37::after {max-width:249px; width:100%;height:0;padding: 0 0 100% 0;}
.jm_4_apr_2025_s2_q_38a {max-width:220px; max-height:172px; }
.jm_4_apr_2025_s2_q_38a::after {content: '\00a0';display: inline-block; width:220px; height:172px; background-position: 97.81659388646288% 87.37864077669903%; background-size: 516.3636363636364% 279.6511627906977%; background-image: url(p_12_atoms3_0.png);padding: 0; }
div.jm_4_apr_2025_s2_q_38a::after {max-width:220px; width:100%;height:0;padding: 0 0 78.18181818181819% 0;}
.jm_4_apr_2025_s2_q_38b {max-width:216px; max-height:187px; }
.jm_4_apr_2025_s2_q_38b::after {content: '\00a0';display: inline-block; width:216px; height:187px; background-position: 67.93478260869566% 24.829931972789115%; background-size: 525.925925925926% 257.2192513368984%; background-image: url(p_12_atoms3_0.png);padding: 0; }
div.jm_4_apr_2025_s2_q_38b::after {max-width:216px; width:100%;height:0;padding: 0 0 86.57407407407408% 0;}
.jm_4_apr_2025_s2_q_38c {max-width:242px; max-height:178px; }
.jm_4_apr_2025_s2_q_38c::after {content: '\00a0';display: inline-block; width:242px; height:178px; background-position: 73.04250559284117% 89.10891089108911%; background-size: 469.42148760330576% 270.2247191011236%; background-image: url(p_12_atoms3_0.png);padding: 0; }
div.jm_4_apr_2025_s2_q_38c::after {max-width:242px; width:100%;height:0;padding: 0 0 73.55371900826447% 0;}
.jm_4_apr_2025_s2_q_38d {max-width:248px; max-height:200px; }
.jm_4_apr_2025_s2_q_38d::after {content: '\00a0';display: inline-block; width:248px; height:200px; background-position: 0.11261261261261261% 95.72953736654804%; background-size: 458.06451612903226% 240.5%; background-image: url(p_12_atoms3_0.png);padding: 0; }
div.jm_4_apr_2025_s2_q_38d::after {max-width:248px; width:100%;height:0;padding: 0 0 80.64516129032258% 0;}


/* $TexturePacker:SmartUpdate:531a0f54e2b88a5658b9c1394498a24e:8913569cd183675f62deb187892ccb67:b25a4adcb68476d17f24e5801f828a90$ */
