/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.AIEEE_2006_Phy_52a {max-width:176px; max-height:146px; }
.AIEEE_2006_Phy_52a::after {content: '\00a0';display: inline-block; width:176px; height:146px; background-position: 0.11834319526627218% 99.8798076923077%; background-size: 580.1136363636364% 669.8630136986301%; background-image: url(p_12_dualnature1_0.png);padding: 0; }
div.AIEEE_2006_Phy_52a::after {max-width:176px; width:100%;height:0;padding: 0 0 82.95454545454545% 0;}
.AIEEE_2006_Phy_52b {max-width:190px; max-height:187px; }
.AIEEE_2006_Phy_52b::after {content: '\00a0';display: inline-block; width:190px; height:187px; background-position: 30.445246690734056% 80.27812895069532%; background-size: 537.3684210526316% 522.9946524064171%; background-image: url(p_12_dualnature1_0.png);padding: 0; }
div.AIEEE_2006_Phy_52b::after {max-width:190px; width:100%;height:0;padding: 0 0 98.42105263157895% 0;}
.AIEEE_2006_Phy_52c {max-width:200px; max-height:178px; }
.AIEEE_2006_Phy_52c::after {content: '\00a0';display: inline-block; width:200px; height:178px; background-position: 99.87819732034104% 21.5%; background-size: 510.5% 549.438202247191%; background-image: url(p_12_dualnature1_0.png);padding: 0; }
div.AIEEE_2006_Phy_52c::after {max-width:200px; width:100%;height:0;padding: 0 0 89% 0;}
.AIEEE_2006_Phy_52d {max-width:181px; max-height:180px; }
.AIEEE_2006_Phy_52d::after {content: '\00a0';display: inline-block; width:181px; height:180px; background-position: 52.857142857142854% 78.82205513784461%; background-size: 564.0883977900553% 543.3333333333334%; background-image: url(p_12_dualnature1_0.png);padding: 0; }
div.AIEEE_2006_Phy_52d::after {max-width:181px; width:100%;height:0;padding: 0 0 99.4475138121547% 0;}
.AIEEE_2008_Phy_27 {max-width:337px; max-height:162px; }
.AIEEE_2008_Phy_27::after {content: '\00a0';display: inline-block; width:337px; height:162px; background-position: 70.6140350877193% 0.12254901960784313%; background-size: 302.9673590504451% 603.7037037037037%; background-image: url(p_12_dualnature1_0.png);padding: 0; }
div.AIEEE_2008_Phy_27::after {max-width:337px; width:100%;height:0;padding: 0 0 48.07121661721068% 0;}
.AIEEE_2008_Phy_27a {max-width:207px; max-height:166px; }
.AIEEE_2008_Phy_27a::after {content: '\00a0';display: inline-block; width:207px; height:166px; background-position: 73.09582309582309% 31.65024630541872%; background-size: 493.2367149758454% 589.156626506024%; background-image: url(p_12_dualnature1_0.png);padding: 0; }
div.AIEEE_2008_Phy_27a::after {max-width:207px; width:100%;height:0;padding: 0 0 80.19323671497584% 0;}
.AIEEE_2008_Phy_27b {max-width:199px; max-height:170px; }
.AIEEE_2008_Phy_27b::after {content: '\00a0';display: inline-block; width:199px; height:170px; background-position: 99.87834549878346% 0.12376237623762376%; background-size: 513.0653266331658% 575.2941176470588%; background-image: url(p_12_dualnature1_0.png);padding: 0; }
div.AIEEE_2008_Phy_27b::after {max-width:199px; width:100%;height:0;padding: 0 0 85.42713567839196% 0;}
.AIEEE_2008_Phy_27c {max-width:200px; max-height:144px; }
.AIEEE_2008_Phy_27c::after {content: '\00a0';display: inline-block; width:200px; height:144px; background-position: 97.80755176613886% 42.0863309352518%; background-size: 510.5% 679.1666666666666%; background-image: url(p_12_dualnature1_0.png);padding: 0; }
div.AIEEE_2008_Phy_27c::after {max-width:200px; width:100%;height:0;padding: 0 0 72% 0;}
.AIEEE_2008_Phy_27d {max-width:249px; max-height:172px; }
.AIEEE_2008_Phy_27d::after {content: '\00a0';display: inline-block; width:249px; height:172px; background-position: 44.689119170984455% 32.25806451612903%; background-size: 410.0401606425703% 568.6046511627907%; background-image: url(p_12_dualnature1_0.png);padding: 0; }
div.AIEEE_2008_Phy_27d::after {max-width:249px; width:100%;height:0;padding: 0 0 69.07630522088354% 0;}
.AIEEE_2008_Phy_32 {max-width:481px; max-height:258px; }
.AIEEE_2008_Phy_32::after {content: '\00a0';display: inline-block; width:481px; height:258px; background-position: 0.18518518518518517% 0.1388888888888889%; background-size: 212.26611226611226% 379.06976744186045%; background-image: url(p_12_dualnature1_0.png);padding: 0; }
div.AIEEE_2008_Phy_32::after {max-width:481px; width:100%;height:0;padding: 0 0 53.63825363825364% 0;}
.AIEEE_2008_Phy_32sol {max-width:243px; max-height:206px; }
.AIEEE_2008_Phy_32sol::after {content: '\00a0';display: inline-block; width:243px; height:206px; background-position: 0.12853470437017994% 55.95854922279793%; background-size: 420.16460905349794% 474.75728155339806%; background-image: url(p_12_dualnature1_0.png);padding: 0; }
div.AIEEE_2008_Phy_32sol::after {max-width:243px; width:100%;height:0;padding: 0 0 84.77366255144032% 0;}
.AIEEE_2008_Phy_33 {max-width:343px; max-height:171px; }
.AIEEE_2008_Phy_33::after {content: '\00a0';display: inline-block; width:343px; height:171px; background-position: 0.14749262536873156% 32.2180916976456%; background-size: 297.667638483965% 571.9298245614035%; background-image: url(p_12_dualnature1_0.png);padding: 0; }
div.AIEEE_2008_Phy_33::after {max-width:343px; width:100%;height:0;padding: 0 0 49.85422740524781% 0;}
.JEE_12_04_19_P1_6_que {max-width:251px; max-height:191px; }
.JEE_12_04_19_P1_6_que::after {content: '\00a0';display: inline-block; width:251px; height:191px; background-position: 0.12987012987012986% 81.19440914866583%; background-size: 406.77290836653384% 512.041884816754%; background-image: url(p_12_dualnature1_0.png);padding: 0; }
div.JEE_12_04_19_P1_6_que::after {max-width:251px; width:100%;height:0;padding: 0 0 76.09561752988049% 0;}
.JEE_8_4_2019_P1_2_que {max-width:97px; max-height:89px; }
.JEE_8_4_2019_P1_2_que::after {content: '\00a0';display: inline-block; width:97px; height:89px; background-position: 78.46320346320347% 93.25084364454443%; background-size: 1052.5773195876288% 1098.876404494382%; background-image: url(p_12_dualnature1_0.png);padding: 0; }
div.JEE_8_4_2019_P1_2_que::after {max-width:97px; width:100%;height:0;padding: 0 0 91.75257731958763% 0;}
.JEE_Mains_04_Sep_2020_Shift_1_12_s {max-width:346px; max-height:100px; }
.JEE_Mains_04_Sep_2020_Shift_1_12_s::after {content: '\00a0';display: inline-block; width:346px; height:100px; background-position: 36.2962962962963% 49.31662870159453%; background-size: 295.08670520231215% 978%; background-image: url(p_12_dualnature1_0.png);padding: 0; }
div.JEE_Mains_04_Sep_2020_Shift_1_12_s::after {max-width:346px; width:100%;height:0;padding: 0 0 28.90173410404624% 0;}
.JEE_Mains_04_Sep_2020_Shift_1_8_q {max-width:164px; max-height:129px; }
.JEE_Mains_04_Sep_2020_Shift_1_8_q::after {content: '\00a0';display: inline-block; width:164px; height:129px; background-position: 20.770128354725788% 97.87985865724382%; background-size: 622.560975609756% 758.1395348837209%; background-image: url(p_12_dualnature1_0.png);padding: 0; }
div.JEE_Mains_04_Sep_2020_Shift_1_8_q::after {max-width:164px; width:100%;height:0;padding: 0 0 78.65853658536585% 0;}
.JEE_Mains_04_Sep_2020_Shift_2_20_q {max-width:149px; max-height:105px; }
.JEE_Mains_04_Sep_2020_Shift_2_20_q::after {content: '\00a0';display: inline-block; width:149px; height:105px; background-position: 71.10091743119266% 59.221076746849945%; background-size: 685.2348993288591% 931.4285714285714%; background-image: url(p_12_dualnature1_0.png);padding: 0; }
div.JEE_Mains_04_Sep_2020_Shift_2_20_q::after {max-width:149px; width:100%;height:0;padding: 0 0 70.46979865771812% 0;}
.JEE_Mains_05_Sep_2020_Shift_1_23_s {max-width:189px; max-height:100px; }
.JEE_Mains_05_Sep_2020_Shift_1_23_s::after {content: '\00a0';display: inline-block; width:189px; height:100px; background-position: 29.447115384615383% 60.82004555808656%; background-size: 540.2116402116402% 978%; background-image: url(p_12_dualnature1_0.png);padding: 0; }
div.JEE_Mains_05_Sep_2020_Shift_1_23_s::after {max-width:189px; width:100%;height:0;padding: 0 0 52.91005291005291% 0;}
.j2017_24sol {max-width:336px; max-height:92px; }
.j2017_24sol::after {content: '\00a0';display: inline-block; width:336px; height:92px; background-position: 70.51094890510949% 18.510158013544018%; background-size: 303.8690476190476% 1063.0434782608695%; background-image: url(p_12_dualnature1_0.png);padding: 0; }
div.j2017_24sol::after {max-width:336px; width:100%;height:0;padding: 0 0 27.38095238095238% 0;}
.j2017_8a {max-width:183px; max-height:88px; }
.j2017_8a::after {content: '\00a0';display: inline-block; width:183px; height:88px; background-position: 96.89737470167064% 83.14606741573034%; background-size: 557.9234972677596% 1111.3636363636363%; background-image: url(p_12_dualnature1_0.png);padding: 0; }
div.j2017_8a::after {max-width:183px; width:100%;height:0;padding: 0 0 48.08743169398907% 0;}
.j2017_8b {max-width:181px; max-height:94px; }
.j2017_8b::after {content: '\00a0';display: inline-block; width:181px; height:94px; background-position: 96.66666666666667% 72.96380090497738%; background-size: 564.0883977900553% 1040.4255319148936%; background-image: url(p_12_dualnature1_0.png);padding: 0; }
div.j2017_8b::after {max-width:181px; width:100%;height:0;padding: 0 0 51.93370165745856% 0;}
.j2017_8c {max-width:183px; max-height:92px; }
.j2017_8c::after {content: '\00a0';display: inline-block; width:183px; height:92px; background-position: 71.00238663484487% 47.855530474040634%; background-size: 557.9234972677596% 1063.0434782608695%; background-image: url(p_12_dualnature1_0.png);padding: 0; }
div.j2017_8c::after {max-width:183px; width:100%;height:0;padding: 0 0 50.27322404371585% 0;}
.j2017_8d {max-width:184px; max-height:94px; }
.j2017_8d::after {content: '\00a0';display: inline-block; width:184px; height:94px; background-position: 51.971326164874554% 60.40723981900452%; background-size: 554.8913043478261% 1040.4255319148936%; background-image: url(p_12_dualnature1_0.png);padding: 0; }
div.j2017_8d::after {max-width:184px; width:100%;height:0;padding: 0 0 51.08695652173913% 0;}
.m2013_67a {max-width:192px; max-height:151px; }
.m2013_67a::after {content: '\00a0';display: inline-block; width:192px; height:151px; background-position: 41.3751507840772% 99.51632406287787%; background-size: 531.7708333333334% 647.682119205298%; background-image: url(p_12_dualnature1_0.png);padding: 0; }
div.m2013_67a::after {max-width:192px; width:100%;height:0;padding: 0 0 78.64583333333333% 0;}
.m2013_67b {max-width:191px; max-height:148px; }
.m2013_67b::after {content: '\00a0';display: inline-block; width:191px; height:148px; background-position: 97.83132530120481% 59.75903614457831%; background-size: 534.5549738219895% 660.8108108108108%; background-image: url(p_12_dualnature1_0.png);padding: 0; }
div.m2013_67b::after {max-width:191px; width:100%;height:0;padding: 0 0 77.4869109947644% 0;}
.m2013_67c {max-width:185px; max-height:149px; }
.m2013_67c::after {content: '\00a0';display: inline-block; width:185px; height:149px; background-position: 74.88038277511961% 75.15078407720145%; background-size: 551.8918918918919% 656.3758389261745%; background-image: url(p_12_dualnature1_0.png);padding: 0; }
div.m2013_67c::after {max-width:185px; width:100%;height:0;padding: 0 0 80.54054054054055% 0;}
.m2013_67d {max-width:188px; max-height:150px; }
.m2013_67d::after {content: '\00a0';display: inline-block; width:188px; height:150px; background-position: 64.34573829531813% 97.82608695652173%; background-size: 543.0851063829788% 652%; background-image: url(p_12_dualnature1_0.png);padding: 0; }
div.m2013_67d::after {max-width:188px; width:100%;height:0;padding: 0 0 79.7872340425532% 0;}

@keyframes AIEEE_2008_Phy-frames {
    0% { background-position: 70.6140350877193% 0.12254901960784313%;  }
    33.33333333333333% { background-position: 0.18518518518518517% 0.1388888888888889%;  }
    66.66666666666666% { background-position: 0.14749262536873156% 32.2180916976456%;  }
}

.AIEEE_2008_Phy-animation {
    max-width: 337px;
    max-height: 162px;
}
.AIEEE_2008_Phy-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 337px;
    height: 162px;
    padding: 0;
    background-image: url(p_12_dualnature1_0.png);
    background-size: 302.9673590504451% 603.7037037037037%; 
    animation-name: AIEEE_2008_Phy-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.AIEEE_2008_Phy-animation::after {
    max-width: 337px;
    width: 100%;
    height: 0;
    padding: 0 0 48.07121661721068% 0;
}

/* $TexturePacker:SmartUpdate:f1ed3a0517e2c2f4e0e0b504374fa2b8:2b5e31f8b6ac7f396f11a8c55543ddb5:9b334e06c2ad181f226a937d59f0201b$ */
