/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.je_mn_21_jan_2026_s2_q_43 {max-width:300px; max-height:150px; }
.je_mn_21_jan_2026_s2_q_43::after {content: '\00a0';display: inline-block; width:300px; height:150px; background-position: 92.72727272727273% 26.541554959785522%; background-size: 338.3333333333333% 1094.6666666666667%; background-image: url(p_12_rayoptics3_0.png);padding: 0; }
div.je_mn_21_jan_2026_s2_q_43::after {max-width:300px; width:100%;height:0;padding: 0 0 50% 0;}
.je_mn_28_jan_2026_s2_q_38 {max-width:300px; max-height:343px; }
.je_mn_28_jan_2026_s2_q_38::after {content: '\00a0';display: inline-block; width:300px; height:343px; background-position: 0.13986013986013987% 0.07698229407236336%; background-size: 338.3333333333333% 478.71720116618076%; background-image: url(p_12_rayoptics3_0.png);padding: 0; }
div.je_mn_28_jan_2026_s2_q_38::after {max-width:300px; width:100%;height:0;padding: 0 0 114.33333333333333% 0;}
.jee_mn_22_jan_2025_s1_q_41 {max-width:305px; max-height:204px; }
.jee_mn_22_jan_2025_s1_q_41::after {content: '\00a0';display: inline-block; width:305px; height:204px; background-position: 42.53521126760563% 40.333796940194716%; background-size: 332.78688524590166% 804.9019607843137%; background-image: url(p_12_rayoptics3_0.png);padding: 0; }
div.jee_mn_22_jan_2025_s1_q_41::after {max-width:305px; width:100%;height:0;padding: 0 0 66.88524590163935% 0;}
.jee_mn_22_jan_2025_s1_sol_39 {max-width:200px; max-height:191px; }
.jee_mn_22_jan_2025_s1_sol_39::after {content: '\00a0';display: inline-block; width:200px; height:191px; background-position: 96.80981595092024% 55.68573397656788%; background-size: 507.5% 859.6858638743455%; background-image: url(p_12_rayoptics3_0.png);padding: 0; }
div.jee_mn_22_jan_2025_s1_sol_39::after {max-width:200px; width:100%;height:0;padding: 0 0 95.5% 0;}
.jee_mn_22_jan_2025_s1_sol_41 {max-width:300px; max-height:303px; }
.jee_mn_22_jan_2025_s1_sol_41::after {content: '\00a0';display: inline-block; width:300px; height:303px; background-position: 0.13986013986013987% 25.765496639283047%; background-size: 338.3333333333333% 541.914191419142%; background-image: url(p_12_rayoptics3_0.png);padding: 0; }
div.jee_mn_22_jan_2025_s1_sol_41::after {max-width:300px; width:100%;height:0;padding: 0 0 101% 0;}
.jee_mn_24_jan_2025_s1_sol_27 {max-width:320px; max-height:187px; }
.jee_mn_24_jan_2025_s1_sol_27::after {content: '\00a0';display: inline-block; width:320px; height:187px; background-position: 0.14388489208633093% 99.3127147766323%; background-size: 317.1875% 878.0748663101605%; background-image: url(p_12_rayoptics3_0.png);padding: 0; }
div.jee_mn_24_jan_2025_s1_sol_27::after {max-width:320px; width:100%;height:0;padding: 0 0 58.4375% 0;}
.jee_mn_24_jan_2025_s1_sol_42 {max-width:250px; max-height:287px; }
.jee_mn_24_jan_2025_s1_sol_42::after {content: '\00a0';display: inline-block; width:250px; height:287px; background-position: 0.13071895424836602% 47.896678966789665%; background-size: 406% 572.1254355400697%; background-image: url(p_12_rayoptics3_0.png);padding: 0; }
div.jee_mn_24_jan_2025_s1_sol_42::after {max-width:250px; width:100%;height:0;padding: 0 0 114.8% 0;}
.jee_mn_24_jan_2025_s1_sol_42a {max-width:250px; max-height:258px; }
.jee_mn_24_jan_2025_s1_sol_42a::after {content: '\00a0';display: inline-block; width:250px; height:258px; background-position: 0.13071895424836602% 67.70231213872832%; background-size: 406% 636.4341085271318%; background-image: url(p_12_rayoptics3_0.png);padding: 0; }
div.jee_mn_24_jan_2025_s1_sol_42a::after {max-width:250px; width:100%;height:0;padding: 0 0 103.2% 0;}
.jee_mn_24_jan_2025_s2_sol_30 {max-width:198px; max-height:121px; }
.jee_mn_24_jan_2025_s2_sol_30::after {content: '\00a0';display: inline-block; width:198px; height:121px; background-position: 66.70746634026928% 72.91255752794214%; background-size: 512.6262626262626% 1357.0247933884298%; background-image: url(p_12_rayoptics3_0.png);padding: 0; }
div.jee_mn_24_jan_2025_s2_sol_30::after {max-width:198px; width:100%;height:0;padding: 0 0 61.111111111111114% 0;}
.jee_mn_28_jan_2025_s1_q_33 {max-width:432px; max-height:182px; }
.jee_mn_28_jan_2025_s1_q_33::after {content: '\00a0';display: inline-block; width:432px; height:182px; background-position: 51.80102915951973% 0.0684931506849315%; background-size: 234.9537037037037% 902.1978021978022%; background-image: url(p_12_rayoptics3_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s1_q_33::after {max-width:432px; width:100%;height:0;padding: 0 0 42.129629629629626% 0;}
.jee_mn_28_jan_2025_s1_sol_33 {max-width:246px; max-height:106px; }
.jee_mn_28_jan_2025_s1_sol_33::after {content: '\00a0';display: inline-block; width:246px; height:106px; background-position: 89.07672301690508% 90.4296875%; background-size: 412.6016260162602% 1549.0566037735848%; background-image: url(p_12_rayoptics3_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s1_sol_33::after {max-width:246px; width:100%;height:0;padding: 0 0 43.08943089430894% 0;}
.jee_mn_28_jan_2025_s2_sol_30 {max-width:185px; max-height:153px; }
.jee_mn_28_jan_2025_s2_sol_30::after {content: '\00a0';display: inline-block; width:185px; height:153px; background-position: 63.493975903614455% 82.67293485560779%; background-size: 548.6486486486486% 1073.202614379085%; background-image: url(p_12_rayoptics3_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s2_sol_30::after {max-width:185px; width:100%;height:0;padding: 0 0 82.70270270270271% 0;}
.jee_mn_28_jan_2025_s2_sol_37 {max-width:282px; max-height:133px; }
.jee_mn_28_jan_2025_s2_sol_37::after {content: '\00a0';display: inline-block; width:282px; height:133px; background-position: 82.94679399727148% 44.66534128561962%; background-size: 359.92907801418437% 1234.5864661654136%; background-image: url(p_12_rayoptics3_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s2_sol_37::after {max-width:282px; width:100%;height:0;padding: 0 0 47.163120567375884% 0;}
.jee_mn_29_jan_2025_s1_q_30a {max-width:130px; max-height:126px; }
.jee_mn_29_jan_2025_s1_q_30a::after {content: '\00a0';display: inline-block; width:130px; height:126px; background-position: 92.65536723163842% 98.68073878627969%; background-size: 780.7692307692307% 1303.1746031746031%; background-image: url(p_12_rayoptics3_0.png);padding: 0; }
div.jee_mn_29_jan_2025_s1_q_30a::after {max-width:130px; width:100%;height:0;padding: 0 0 96.92307692307692% 0;}
.jee_mn_29_jan_2025_s1_q_30b {max-width:133px; max-height:131px; }
.jee_mn_29_jan_2025_s1_q_30b::after {content: '\00a0';display: inline-block; width:133px; height:131px; background-position: 62.471655328798185% 91.66115155526141%; background-size: 763.1578947368421% 1253.4351145038167%; background-image: url(p_12_rayoptics3_0.png);padding: 0; }
div.jee_mn_29_jan_2025_s1_q_30b::after {max-width:133px; width:100%;height:0;padding: 0 0 98.49624060150376% 0;}
.jee_mn_29_jan_2025_s1_q_30c {max-width:133px; max-height:124px; }
.jee_mn_29_jan_2025_s1_q_30c::after {content: '\00a0';display: inline-block; width:133px; height:124px; background-position: 62.471655328798185% 99.93412384716733%; background-size: 763.1578947368421% 1324.1935483870968%; background-image: url(p_12_rayoptics3_0.png);padding: 0; }
div.jee_mn_29_jan_2025_s1_q_30c::after {max-width:133px; width:100%;height:0;padding: 0 0 93.23308270676692% 0;}
.jee_mn_29_jan_2025_s1_q_30d {max-width:134px; max-height:126px; }
.jee_mn_29_jan_2025_s1_q_30d::after {content: '\00a0';display: inline-block; width:134px; height:126px; background-position: 77.75255391600454% 98.68073878627969%; background-size: 757.4626865671642% 1303.1746031746031%; background-image: url(p_12_rayoptics3_0.png);padding: 0; }
div.jee_mn_29_jan_2025_s1_q_30d::after {max-width:134px; width:100%;height:0;padding: 0 0 94.02985074626865% 0;}
.jee_mn_29_jan_2025_s1_q_46 {max-width:228px; max-height:191px; }
.jee_mn_29_jan_2025_s1_q_46::after {content: '\00a0';display: inline-block; width:228px; height:191px; background-position: 40.9148665819568% 99.1040661612681%; background-size: 445.17543859649123% 859.6858638743455%; background-image: url(p_12_rayoptics3_0.png);padding: 0; }
div.jee_mn_29_jan_2025_s1_q_46::after {max-width:228px; width:100%;height:0;padding: 0 0 83.7719298245614% 0;}
.jee_mn_29_jan_2025_s1_sol_46 {max-width:294px; max-height:211px; }
.jee_mn_29_jan_2025_s1_sol_46::after {content: '\00a0';display: inline-block; width:294px; height:211px; background-position: 91.95561719833564% 12.858141160027952%; background-size: 345.23809523809524% 778.1990521327015%; background-image: url(p_12_rayoptics3_0.png);padding: 0; }
div.jee_mn_29_jan_2025_s1_sol_46::after {max-width:294px; width:100%;height:0;padding: 0 0 71.7687074829932% 0;}
.jee_mn_29_jan_2025_s2_q_31 {max-width:295px; max-height:221px; }
.jee_mn_29_jan_2025_s2_q_31::after {content: '\00a0';display: inline-block; width:295px; height:221px; background-position: 35% 55.24278676988037%; background-size: 344.06779661016947% 742.9864253393665%; background-image: url(p_12_rayoptics3_0.png);padding: 0; }
div.jee_mn_29_jan_2025_s2_q_31::after {max-width:295px; width:100%;height:0;padding: 0 0 74.91525423728814% 0;}
.jee_mn_29_jan_2025_s2_q_43 {max-width:270px; max-height:127px; }
.jee_mn_29_jan_2025_s2_q_43::after {content: '\00a0';display: inline-block; width:270px; height:127px; background-position: 99.86577181208054% 73.92739273927393%; background-size: 375.9259259259259% 1292.9133858267717%; background-image: url(p_12_rayoptics3_0.png);padding: 0; }
div.jee_mn_29_jan_2025_s2_q_43::after {max-width:270px; width:100%;height:0;padding: 0 0 47.03703703703704% 0;}
.jee_mn_29_jan_2025_s2_sol_31 {max-width:260px; max-height:119px; }
.jee_mn_29_jan_2025_s2_sol_31::after {content: '\00a0';display: inline-block; width:260px; height:119px; background-position: 99.20529801324503% 65.65988181221273%; background-size: 390.38461538461536% 1379.8319327731092%; background-image: url(p_12_rayoptics3_0.png);padding: 0; }
div.jee_mn_29_jan_2025_s2_sol_31::after {max-width:260px; width:100%;height:0;padding: 0 0 45.76923076923077% 0;}
.jm_2_apr_2025_s1_q_35 {max-width:240px; max-height:185px; }
.jm_2_apr_2025_s1_q_35::after {content: '\00a0';display: inline-block; width:240px; height:185px; background-position: 70.70967741935483% 55.45641729581332%; background-size: 422.9166666666667% 887.5675675675676%; background-image: url(p_12_rayoptics3_0.png);padding: 0; }
div.jm_2_apr_2025_s1_q_35::after {max-width:240px; width:100%;height:0;padding: 0 0 77.08333333333333% 0;}
.jm_2_apr_2025_s1_q_45 {max-width:284px; max-height:126px; }
.jm_2_apr_2025_s1_q_45::after {content: '\00a0';display: inline-block; width:284px; height:126px; background-position: 90.69767441860465% 36.08179419525066%; background-size: 357.3943661971831% 1303.1746031746031%; background-image: url(p_12_rayoptics3_0.png);padding: 0; }
div.jm_2_apr_2025_s1_q_45::after {max-width:284px; width:100%;height:0;padding: 0 0 44.36619718309859% 0;}
.jm_2_apr_2025_s1_sol_35 {max-width:254px; max-height:140px; }
.jm_2_apr_2025_s1_sol_35::after {content: '\00a0';display: inline-block; width:254px; height:140px; background-position: 93.69250985545335% 83.08921438082557%; background-size: 399.6062992125984% 1172.857142857143%; background-image: url(p_12_rayoptics3_0.png);padding: 0; }
div.jm_2_apr_2025_s1_sol_35::after {max-width:254px; width:100%;height:0;padding: 0 0 55.118110236220474% 0;}
.jm_2_apr_2025_s2_sol_49 {max-width:287px; max-height:248px; }
.jm_2_apr_2025_s2_sol_49::after {content: '\00a0';display: inline-block; width:287px; height:248px; background-position: 0.13736263736263737% 85.79626972740316%; background-size: 353.6585365853659% 662.0967741935484%; background-image: url(p_12_rayoptics3_0.png);padding: 0; }
div.jm_2_apr_2025_s2_sol_49::after {max-width:287px; width:100%;height:0;padding: 0 0 86.41114982578397% 0;}
.jm_3_apr_2025_s1_sol_24 {max-width:279px; max-height:181px; }
.jm_3_apr_2025_s1_sol_24::after {content: '\00a0';display: inline-block; width:279px; height:181px; background-position: 99.86413043478261% 0.06844626967830253%; background-size: 363.79928315412184% 907.182320441989%; background-image: url(p_12_rayoptics3_0.png);padding: 0; }
div.jm_3_apr_2025_s1_sol_24::after {max-width:279px; width:100%;height:0;padding: 0 0 64.87455197132617% 0;}
.jm_3_apr_2025_s2_sol_49 {max-width:200px; max-height:114px; }
.jm_3_apr_2025_s2_sol_49::after {content: '\00a0';display: inline-block; width:200px; height:114px; background-position: 67.23926380368098% 65.05235602094241%; background-size: 507.5% 1440.3508771929824%; background-image: url(p_12_rayoptics3_0.png);padding: 0; }
div.jm_3_apr_2025_s2_sol_49::after {max-width:200px; width:100%;height:0;padding: 0 0 57% 0;}
.jm_7_apr_2025_s1_sol_33 {max-width:360px; max-height:181px; }
.jm_7_apr_2025_s1_sol_33::after {content: '\00a0';display: inline-block; width:360px; height:181px; background-position: 46.10687022900763% 27.241615331964407%; background-size: 281.94444444444446% 907.182320441989%; background-image: url(p_12_rayoptics3_0.png);padding: 0; }
div.jm_7_apr_2025_s1_sol_33::after {max-width:360px; width:100%;height:0;padding: 0 0 50.27777777777778% 0;}
.jm_7_apr_2025_s1_sol_47 {max-width:237px; max-height:244px; }
.jm_7_apr_2025_s1_sol_47::after {content: '\00a0';display: inline-block; width:237px; height:244px; background-position: 37.146529562982% 85.33619456366237%; background-size: 428.2700421940928% 672.9508196721312%; background-image: url(p_12_rayoptics3_0.png);padding: 0; }
div.jm_7_apr_2025_s1_sol_47::after {max-width:237px; width:100%;height:0;padding: 0 0 102.9535864978903% 0;}
.jm_7_apr_2025_s2_q_31 {max-width:292px; max-height:185px; }
.jm_7_apr_2025_s2_q_31::after {content: '\00a0';display: inline-block; width:292px; height:185px; background-position: 34.85477178423236% 69.11461908030199%; background-size: 347.6027397260274% 887.5675675675676%; background-image: url(p_12_rayoptics3_0.png);padding: 0; }
div.jm_7_apr_2025_s2_q_31::after {max-width:292px; width:100%;height:0;padding: 0 0 63.35616438356164% 0;}
.jm_8_apr_2025_s1_sol_45 {max-width:360px; max-height:213px; }
.jm_8_apr_2025_s1_sol_45::after {content: '\00a0';display: inline-block; width:360px; height:213px; background-position: 46.10687022900763% 12.876137158852345%; background-size: 281.94444444444446% 770.8920187793427%; background-image: url(p_12_rayoptics3_0.png);padding: 0; }
div.jm_8_apr_2025_s1_sol_45::after {max-width:360px; width:100%;height:0;padding: 0 0 59.166666666666664% 0;}

@keyframes jee_mn_22_jan_2025_s1_sol-frames {
    0% { background-position: 96.80981595092024% 55.68573397656788%;  }
    50% { background-position: 0.13986013986013987% 25.765496639283047%;  }
}

.jee_mn_22_jan_2025_s1_sol-animation {
    max-width: 200px;
    max-height: 191px;
}
.jee_mn_22_jan_2025_s1_sol-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 200px;
    height: 191px;
    padding: 0;
    background-image: url(p_12_rayoptics3_0.png);
    background-size: 507.5% 859.6858638743455%; 
    animation-name: jee_mn_22_jan_2025_s1_sol-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.jee_mn_22_jan_2025_s1_sol-animation::after {
    max-width: 200px;
    width: 100%;
    height: 0;
    padding: 0 0 95.5% 0;
}

@keyframes jee_mn_24_jan_2025_s1_sol-frames {
    0% { background-position: 0.14388489208633093% 99.3127147766323%;  }
    50% { background-position: 0.13071895424836602% 47.896678966789665%;  }
}

.jee_mn_24_jan_2025_s1_sol-animation {
    max-width: 320px;
    max-height: 187px;
}
.jee_mn_24_jan_2025_s1_sol-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 320px;
    height: 187px;
    padding: 0;
    background-image: url(p_12_rayoptics3_0.png);
    background-size: 317.1875% 878.0748663101605%; 
    animation-name: jee_mn_24_jan_2025_s1_sol-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.jee_mn_24_jan_2025_s1_sol-animation::after {
    max-width: 320px;
    width: 100%;
    height: 0;
    padding: 0 0 58.4375% 0;
}

@keyframes jee_mn_28_jan_2025_s2_sol-frames {
    0% { background-position: 63.493975903614455% 82.67293485560779%;  }
    50% { background-position: 82.94679399727148% 44.66534128561962%;  }
}

.jee_mn_28_jan_2025_s2_sol-animation {
    max-width: 185px;
    max-height: 153px;
}
.jee_mn_28_jan_2025_s2_sol-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 185px;
    height: 153px;
    padding: 0;
    background-image: url(p_12_rayoptics3_0.png);
    background-size: 548.6486486486486% 1073.202614379085%; 
    animation-name: jee_mn_28_jan_2025_s2_sol-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.jee_mn_28_jan_2025_s2_sol-animation::after {
    max-width: 185px;
    width: 100%;
    height: 0;
    padding: 0 0 82.70270270270271% 0;
}

@keyframes jee_mn_29_jan_2025_s2_q-frames {
    0% { background-position: 35% 55.24278676988037%;  }
    50% { background-position: 99.86577181208054% 73.92739273927393%;  }
}

.jee_mn_29_jan_2025_s2_q-animation {
    max-width: 295px;
    max-height: 221px;
}
.jee_mn_29_jan_2025_s2_q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 295px;
    height: 221px;
    padding: 0;
    background-image: url(p_12_rayoptics3_0.png);
    background-size: 344.06779661016947% 742.9864253393665%; 
    animation-name: jee_mn_29_jan_2025_s2_q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.jee_mn_29_jan_2025_s2_q-animation::after {
    max-width: 295px;
    width: 100%;
    height: 0;
    padding: 0 0 74.91525423728814% 0;
}

@keyframes jm_2_apr_2025_s1_q-frames {
    0% { background-position: 70.70967741935483% 55.45641729581332%;  }
    50% { background-position: 90.69767441860465% 36.08179419525066%;  }
}

.jm_2_apr_2025_s1_q-animation {
    max-width: 240px;
    max-height: 185px;
}
.jm_2_apr_2025_s1_q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 240px;
    height: 185px;
    padding: 0;
    background-image: url(p_12_rayoptics3_0.png);
    background-size: 422.9166666666667% 887.5675675675676%; 
    animation-name: jm_2_apr_2025_s1_q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.jm_2_apr_2025_s1_q-animation::after {
    max-width: 240px;
    width: 100%;
    height: 0;
    padding: 0 0 77.08333333333333% 0;
}

@keyframes jm_7_apr_2025_s1_sol-frames {
    0% { background-position: 46.10687022900763% 27.241615331964407%;  }
    50% { background-position: 37.146529562982% 85.33619456366237%;  }
}

.jm_7_apr_2025_s1_sol-animation {
    max-width: 360px;
    max-height: 181px;
}
.jm_7_apr_2025_s1_sol-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 360px;
    height: 181px;
    padding: 0;
    background-image: url(p_12_rayoptics3_0.png);
    background-size: 281.94444444444446% 907.182320441989%; 
    animation-name: jm_7_apr_2025_s1_sol-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.jm_7_apr_2025_s1_sol-animation::after {
    max-width: 360px;
    width: 100%;
    height: 0;
    padding: 0 0 50.27777777777778% 0;
}

/* $TexturePacker:SmartUpdate:1bf0b0f0bc37e145061ffb5bb45b4a7c:658b3bfa7c0fa13d1eabb07421b3e083:be1ea212ebf01dcb5be16e616c54e886$ */
