/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.gd_con_20_feb_2024_s1_12 {max-width:18px; max-height:34px; }
.gd_con_20_feb_2024_s1_12::after {content: '\00a0';display: inline-block; width:18px; height:34px; background-position: 96.22844827586206% 0.45662100456621%; background-size: 5255.555555555556% 744.1176470588235%; background-image: url(gdcon20feb2024s1_0.png);padding: 0; }
div.gd_con_20_feb_2024_s1_12::after {max-width:18px; width:100%;height:0;padding: 0 0 188.88888888888889% 0;}
.gd_con_20_feb_2024_s1_12_1 {max-width:82px; max-height:81px; }
.gd_con_20_feb_2024_s1_12_1::after {content: '\00a0';display: inline-block; width:82px; height:81px; background-position: 93.75% 48.83720930232558%; background-size: 1153.658536585366% 312.34567901234567%; background-image: url(gdcon20feb2024s1_0.png);padding: 0; }
div.gd_con_20_feb_2024_s1_12_1::after {max-width:82px; width:100%;height:0;padding: 0 0 98.78048780487805% 0;}
.gd_con_20_feb_2024_s1_12_2 {max-width:82px; max-height:82px; }
.gd_con_20_feb_2024_s1_12_2::after {content: '\00a0';display: inline-block; width:82px; height:82px; background-position: 74.53703703703704% 0.5847953216374269%; background-size: 1153.658536585366% 308.5365853658537%; background-image: url(gdcon20feb2024s1_0.png);padding: 0; }
div.gd_con_20_feb_2024_s1_12_2::after {max-width:82px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_20_feb_2024_s1_12_3 {max-width:82px; max-height:82px; }
.gd_con_20_feb_2024_s1_12_3::after {content: '\00a0';display: inline-block; width:82px; height:82px; background-position: 84.14351851851852% 0.5847953216374269%; background-size: 1153.658536585366% 308.5365853658537%; background-image: url(gdcon20feb2024s1_0.png);padding: 0; }
div.gd_con_20_feb_2024_s1_12_3::after {max-width:82px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_20_feb_2024_s1_12_4 {max-width:82px; max-height:81px; }
.gd_con_20_feb_2024_s1_12_4::after {content: '\00a0';display: inline-block; width:82px; height:81px; background-position: 63.31018518518518% 96.51162790697674%; background-size: 1153.658536585366% 312.34567901234567%; background-image: url(gdcon20feb2024s1_0.png);padding: 0; }
div.gd_con_20_feb_2024_s1_12_4::after {max-width:82px; width:100%;height:0;padding: 0 0 98.78048780487805% 0;}
.gd_con_20_feb_2024_s1_15 {max-width:311px; max-height:85px; }
.gd_con_20_feb_2024_s1_15::after {content: '\00a0';display: inline-block; width:311px; height:85px; background-position: 0.15748031496062992% 98.80952380952381%; background-size: 304.18006430868166% 297.6470588235294%; background-image: url(gdcon20feb2024s1_0.png);padding: 0; }
div.gd_con_20_feb_2024_s1_15::after {max-width:311px; width:100%;height:0;padding: 0 0 27.331189710610932% 0;}
.gd_con_20_feb_2024_s1_18 {max-width:446px; max-height:82px; }
.gd_con_20_feb_2024_s1_18::after {content: '\00a0';display: inline-block; width:446px; height:82px; background-position: 0.2% 48.538011695906434%; background-size: 212.10762331838566% 308.5365853658537%; background-image: url(gdcon20feb2024s1_0.png);padding: 0; }
div.gd_con_20_feb_2024_s1_18::after {max-width:446px; width:100%;height:0;padding: 0 0 18.385650224215247% 0;}
.gd_con_20_feb_2024_s1_18_1 {max-width:82px; max-height:82px; }
.gd_con_20_feb_2024_s1_18_1::after {content: '\00a0';display: inline-block; width:82px; height:82px; background-position: 93.75% 0.5847953216374269%; background-size: 1153.658536585366% 308.5365853658537%; background-image: url(gdcon20feb2024s1_0.png);padding: 0; }
div.gd_con_20_feb_2024_s1_18_1::after {max-width:82px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_20_feb_2024_s1_18_2 {max-width:82px; max-height:81px; }
.gd_con_20_feb_2024_s1_18_2::after {content: '\00a0';display: inline-block; width:82px; height:81px; background-position: 72.91666666666667% 96.51162790697674%; background-size: 1153.658536585366% 312.34567901234567%; background-image: url(gdcon20feb2024s1_0.png);padding: 0; }
div.gd_con_20_feb_2024_s1_18_2::after {max-width:82px; width:100%;height:0;padding: 0 0 98.78048780487805% 0;}
.gd_con_20_feb_2024_s1_18_3 {max-width:82px; max-height:82px; }
.gd_con_20_feb_2024_s1_18_3::after {content: '\00a0';display: inline-block; width:82px; height:82px; background-position: 53.7037037037037% 85.38011695906432%; background-size: 1153.658536585366% 308.5365853658537%; background-image: url(gdcon20feb2024s1_0.png);padding: 0; }
div.gd_con_20_feb_2024_s1_18_3::after {max-width:82px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_20_feb_2024_s1_18_4 {max-width:81px; max-height:82px; }
.gd_con_20_feb_2024_s1_18_4::after {content: '\00a0';display: inline-block; width:81px; height:82px; background-position: 82.42774566473989% 97.07602339181287%; background-size: 1167.9012345679012% 308.5365853658537%; background-image: url(gdcon20feb2024s1_0.png);padding: 0; }
div.gd_con_20_feb_2024_s1_18_4::after {max-width:81px; width:100%;height:0;padding: 0 0 101.23456790123457% 0;}
.gd_con_20_feb_2024_s1_19 {max-width:110px; max-height:144px; }
.gd_con_20_feb_2024_s1_19::after {content: '\00a0';display: inline-block; width:110px; height:144px; background-position: 53.82775119617225% 0.9174311926605505%; background-size: 860% 175.69444444444446%; background-image: url(gdcon20feb2024s1_0.png);padding: 0; }
div.gd_con_20_feb_2024_s1_19::after {max-width:110px; width:100%;height:0;padding: 0 0 130.9090909090909% 0;}
.gd_con_20_feb_2024_s1_19_1 {max-width:74px; max-height:86px; }
.gd_con_20_feb_2024_s1_19_1::after {content: '\00a0';display: inline-block; width:74px; height:86px; background-position: 44.61009174311926% 99.40119760479043%; background-size: 1278.3783783783783% 294.1860465116279%; background-image: url(gdcon20feb2024s1_0.png);padding: 0; }
div.gd_con_20_feb_2024_s1_19_1::after {max-width:74px; width:100%;height:0;padding: 0 0 116.21621621621621% 0;}
.gd_con_20_feb_2024_s1_19_2 {max-width:74px; max-height:85px; }
.gd_con_20_feb_2024_s1_19_2::after {content: '\00a0';display: inline-block; width:74px; height:85px; background-position: 99.88532110091744% 98.80952380952381%; background-size: 1278.3783783783783% 297.6470588235294%; background-image: url(gdcon20feb2024s1_0.png);padding: 0; }
div.gd_con_20_feb_2024_s1_19_2::after {max-width:74px; width:100%;height:0;padding: 0 0 114.86486486486487% 0;}
.gd_con_20_feb_2024_s1_19_3 {max-width:75px; max-height:86px; }
.gd_con_20_feb_2024_s1_19_3::after {content: '\00a0';display: inline-block; width:75px; height:86px; background-position: 35.93570608495982% 99.40119760479043%; background-size: 1261.3333333333333% 294.1860465116279%; background-image: url(gdcon20feb2024s1_0.png);padding: 0; }
div.gd_con_20_feb_2024_s1_19_3::after {max-width:75px; width:100%;height:0;padding: 0 0 114.66666666666667% 0;}
.gd_con_20_feb_2024_s1_19_4 {max-width:75px; max-height:85px; }
.gd_con_20_feb_2024_s1_19_4::after {content: '\00a0';display: inline-block; width:75px; height:85px; background-position: 91.27439724454649% 98.80952380952381%; background-size: 1261.3333333333333% 297.6470588235294%; background-image: url(gdcon20feb2024s1_0.png);padding: 0; }
div.gd_con_20_feb_2024_s1_19_4::after {max-width:75px; width:100%;height:0;padding: 0 0 113.33333333333333% 0;}
.gd_con_20_feb_2024_s1_4 {max-width:448px; max-height:81px; }
.gd_con_20_feb_2024_s1_4::after {content: '\00a0';display: inline-block; width:448px; height:81px; background-position: 0.20080321285140562% 0.5813953488372093%; background-size: 211.16071428571428% 312.34567901234567%; background-image: url(gdcon20feb2024s1_0.png);padding: 0; }
div.gd_con_20_feb_2024_s1_4::after {max-width:448px; width:100%;height:0;padding: 0 0 18.080357142857142% 0;}
.gd_con_20_feb_2024_s1_4_1 {max-width:82px; max-height:81px; }
.gd_con_20_feb_2024_s1_4_1::after {content: '\00a0';display: inline-block; width:82px; height:81px; background-position: 64.93055555555556% 48.83720930232558%; background-size: 1153.658536585366% 312.34567901234567%; background-image: url(gdcon20feb2024s1_0.png);padding: 0; }
div.gd_con_20_feb_2024_s1_4_1::after {max-width:82px; width:100%;height:0;padding: 0 0 98.78048780487805% 0;}
.gd_con_20_feb_2024_s1_4_2 {max-width:82px; max-height:82px; }
.gd_con_20_feb_2024_s1_4_2::after {content: '\00a0';display: inline-block; width:82px; height:82px; background-position: 64.93055555555556% 0.5847953216374269%; background-size: 1153.658536585366% 308.5365853658537%; background-image: url(gdcon20feb2024s1_0.png);padding: 0; }
div.gd_con_20_feb_2024_s1_4_2::after {max-width:82px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_20_feb_2024_s1_4_3 {max-width:82px; max-height:81px; }
.gd_con_20_feb_2024_s1_4_3::after {content: '\00a0';display: inline-block; width:82px; height:81px; background-position: 74.53703703703704% 48.83720930232558%; background-size: 1153.658536585366% 312.34567901234567%; background-image: url(gdcon20feb2024s1_0.png);padding: 0; }
div.gd_con_20_feb_2024_s1_4_3::after {max-width:82px; width:100%;height:0;padding: 0 0 98.78048780487805% 0;}
.gd_con_20_feb_2024_s1_4_4 {max-width:82px; max-height:81px; }
.gd_con_20_feb_2024_s1_4_4::after {content: '\00a0';display: inline-block; width:82px; height:81px; background-position: 84.14351851851852% 48.83720930232558%; background-size: 1153.658536585366% 312.34567901234567%; background-image: url(gdcon20feb2024s1_0.png);padding: 0; }
div.gd_con_20_feb_2024_s1_4_4::after {max-width:82px; width:100%;height:0;padding: 0 0 98.78048780487805% 0;}

@keyframes gd_con_20_feb_2024_s1-frames {
    0% { background-position: 0.20080321285140562% 0.5813953488372093%;  }
    20% { background-position: 96.22844827586206% 0.45662100456621%;  }
    40% { background-position: 0.15748031496062992% 98.80952380952381%;  }
    60% { background-position: 0.2% 48.538011695906434%;  }
    80% { background-position: 53.82775119617225% 0.9174311926605505%;  }
}

.gd_con_20_feb_2024_s1-animation {
    max-width: 448px;
    max-height: 81px;
}
.gd_con_20_feb_2024_s1-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 448px;
    height: 81px;
    padding: 0;
    background-image: url(gdcon20feb2024s1_0.png);
    background-size: 211.16071428571428% 312.34567901234567%; 
    animation-name: gd_con_20_feb_2024_s1-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_20_feb_2024_s1-animation::after {
    max-width: 448px;
    width: 100%;
    height: 0;
    padding: 0 0 18.080357142857142% 0;
}

@keyframes gd_con_20_feb_2024_s1_12-frames {
    0% { background-position: 93.75% 48.83720930232558%;  }
    25% { background-position: 74.53703703703704% 0.5847953216374269%;  }
    50% { background-position: 84.14351851851852% 0.5847953216374269%;  }
    75% { background-position: 63.31018518518518% 96.51162790697674%;  }
}

.gd_con_20_feb_2024_s1_12-animation {
    max-width: 82px;
    max-height: 81px;
}
.gd_con_20_feb_2024_s1_12-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 82px;
    height: 81px;
    padding: 0;
    background-image: url(gdcon20feb2024s1_0.png);
    background-size: 1153.658536585366% 312.34567901234567%; 
    animation-name: gd_con_20_feb_2024_s1_12-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_20_feb_2024_s1_12-animation::after {
    max-width: 82px;
    width: 100%;
    height: 0;
    padding: 0 0 98.78048780487805% 0;
}

@keyframes gd_con_20_feb_2024_s1_18-frames {
    0% { background-position: 93.75% 0.5847953216374269%;  }
    25% { background-position: 72.91666666666667% 96.51162790697674%;  }
    50% { background-position: 53.7037037037037% 85.38011695906432%;  }
    75% { background-position: 82.42774566473989% 97.07602339181287%;  }
}

.gd_con_20_feb_2024_s1_18-animation {
    max-width: 82px;
    max-height: 82px;
}
.gd_con_20_feb_2024_s1_18-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 82px;
    height: 82px;
    padding: 0;
    background-image: url(gdcon20feb2024s1_0.png);
    background-size: 1153.658536585366% 308.5365853658537%; 
    animation-name: gd_con_20_feb_2024_s1_18-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_20_feb_2024_s1_18-animation::after {
    max-width: 82px;
    width: 100%;
    height: 0;
    padding: 0 0 100% 0;
}

@keyframes gd_con_20_feb_2024_s1_19-frames {
    0% { background-position: 44.61009174311926% 99.40119760479043%;  }
    25% { background-position: 99.88532110091744% 98.80952380952381%;  }
    50% { background-position: 35.93570608495982% 99.40119760479043%;  }
    75% { background-position: 91.27439724454649% 98.80952380952381%;  }
}

.gd_con_20_feb_2024_s1_19-animation {
    max-width: 74px;
    max-height: 86px;
}
.gd_con_20_feb_2024_s1_19-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 74px;
    height: 86px;
    padding: 0;
    background-image: url(gdcon20feb2024s1_0.png);
    background-size: 1278.3783783783783% 294.1860465116279%; 
    animation-name: gd_con_20_feb_2024_s1_19-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_20_feb_2024_s1_19-animation::after {
    max-width: 74px;
    width: 100%;
    height: 0;
    padding: 0 0 116.21621621621621% 0;
}

@keyframes gd_con_20_feb_2024_s1_4-frames {
    0% { background-position: 64.93055555555556% 48.83720930232558%;  }
    25% { background-position: 64.93055555555556% 0.5847953216374269%;  }
    50% { background-position: 74.53703703703704% 48.83720930232558%;  }
    75% { background-position: 84.14351851851852% 48.83720930232558%;  }
}

.gd_con_20_feb_2024_s1_4-animation {
    max-width: 82px;
    max-height: 81px;
}
.gd_con_20_feb_2024_s1_4-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 82px;
    height: 81px;
    padding: 0;
    background-image: url(gdcon20feb2024s1_0.png);
    background-size: 1153.658536585366% 312.34567901234567%; 
    animation-name: gd_con_20_feb_2024_s1_4-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_20_feb_2024_s1_4-animation::after {
    max-width: 82px;
    width: 100%;
    height: 0;
    padding: 0 0 98.78048780487805% 0;
}

/* $TexturePacker:SmartUpdate:1dc5acadc43afcbdfc160a3d6b57f3dc:b7e57e5318d23c543156b46833de4ff3:f6e317f310bdd421d1c56ae0ed75dd4d$ */
