/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.gd_con_20_feb_2024_s1_12 {max-width:18px; max-height:34px; }
.gd_con_20_feb_2024_s1_12::after {content: '\00a0';display: inline-block; width:18px; height:34px; background-position: 92.20183486238533% 0.08718395815170009%; background-size: 2522.222222222222% 3473.529411764706%; background-image: url(gdcon20feb2024s1_0.png);padding: 0; }
div.gd_con_20_feb_2024_s1_12::after {max-width:18px; width:100%;height:0;padding: 0 0 188.88888888888889% 0;}
.gd_con_20_feb_2024_s1_12_1 {max-width:150px; max-height:148px; }
.gd_con_20_feb_2024_s1_12_1::after {content: '\00a0';display: inline-block; width:150px; height:148px; background-position: 50% 85.47918683446272%; background-size: 302.6666666666667% 797.972972972973%; background-image: url(gdcon20feb2024s1_0.png);padding: 0; }
div.gd_con_20_feb_2024_s1_12_1::after {max-width:150px; width:100%;height:0;padding: 0 0 98.66666666666667% 0;}
.gd_con_20_feb_2024_s1_12_2 {max-width:150px; max-height:150px; }
.gd_con_20_feb_2024_s1_12_2::after {content: '\00a0';display: inline-block; width:150px; height:150px; background-position: 0.32894736842105265% 58.87487875848691%; background-size: 302.6666666666667% 787.3333333333334%; background-image: url(gdcon20feb2024s1_0.png);padding: 0; }
div.gd_con_20_feb_2024_s1_12_2::after {max-width:150px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_20_feb_2024_s1_12_3 {max-width:150px; max-height:150px; }
.gd_con_20_feb_2024_s1_12_3::after {content: '\00a0';display: inline-block; width:150px; height:150px; background-position: 50% 56.5470417070805%; background-size: 302.6666666666667% 787.3333333333334%; background-image: url(gdcon20feb2024s1_0.png);padding: 0; }
div.gd_con_20_feb_2024_s1_12_3::after {max-width:150px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_20_feb_2024_s1_12_4 {max-width:150px; max-height:148px; }
.gd_con_20_feb_2024_s1_12_4::after {content: '\00a0';display: inline-block; width:150px; height:148px; background-position: 99.67105263157895% 85.47918683446272%; background-size: 302.6666666666667% 797.972972972973%; background-image: url(gdcon20feb2024s1_0.png);padding: 0; }
div.gd_con_20_feb_2024_s1_12_4::after {max-width:150px; width:100%;height:0;padding: 0 0 98.66666666666667% 0;}
.gd_con_20_feb_2024_s1_15 {max-width:400px; max-height:109px; }
.gd_con_20_feb_2024_s1_15::after {content: '\00a0';display: inline-block; width:400px; height:109px; background-position: 1.8518518518518519% 0.09328358208955224%; background-size: 113.5% 1083.48623853211%; background-image: url(gdcon20feb2024s1_0.png);padding: 0; }
div.gd_con_20_feb_2024_s1_15::after {max-width:400px; width:100%;height:0;padding: 0 0 27.25% 0;}
.gd_con_20_feb_2024_s1_18 {max-width:400px; max-height:74px; }
.gd_con_20_feb_2024_s1_18::after {content: '\00a0';display: inline-block; width:400px; height:74px; background-position: 1.8518518518518519% 10.02710027100271%; background-size: 113.5% 1595.945945945946%; background-image: url(gdcon20feb2024s1_0.png);padding: 0; }
div.gd_con_20_feb_2024_s1_18::after {max-width:400px; width:100%;height:0;padding: 0 0 18.5% 0;}
.gd_con_20_feb_2024_s1_18_1 {max-width:150px; max-height:150px; }
.gd_con_20_feb_2024_s1_18_1::after {content: '\00a0';display: inline-block; width:150px; height:150px; background-position: 99.67105263157895% 56.5470417070805%; background-size: 302.6666666666667% 787.3333333333334%; background-image: url(gdcon20feb2024s1_0.png);padding: 0; }
div.gd_con_20_feb_2024_s1_18_1::after {max-width:150px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_20_feb_2024_s1_18_2 {max-width:150px; max-height:148px; }
.gd_con_20_feb_2024_s1_18_2::after {content: '\00a0';display: inline-block; width:150px; height:148px; background-position: 50% 99.90319457889642%; background-size: 302.6666666666667% 797.972972972973%; background-image: url(gdcon20feb2024s1_0.png);padding: 0; }
div.gd_con_20_feb_2024_s1_18_2::after {max-width:150px; width:100%;height:0;padding: 0 0 98.66666666666667% 0;}
.gd_con_20_feb_2024_s1_18_3 {max-width:150px; max-height:150px; }
.gd_con_20_feb_2024_s1_18_3::after {content: '\00a0';display: inline-block; width:150px; height:150px; background-position: 0.32894736842105265% 73.52085354025218%; background-size: 302.6666666666667% 787.3333333333334%; background-image: url(gdcon20feb2024s1_0.png);padding: 0; }
div.gd_con_20_feb_2024_s1_18_3::after {max-width:150px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_20_feb_2024_s1_18_4 {max-width:150px; max-height:152px; }
.gd_con_20_feb_2024_s1_18_4::after {content: '\00a0';display: inline-block; width:150px; height:152px; background-position: 99.67105263157895% 41.78814382896016%; background-size: 302.6666666666667% 776.9736842105264%; background-image: url(gdcon20feb2024s1_0.png);padding: 0; }
div.gd_con_20_feb_2024_s1_18_4::after {max-width:150px; width:100%;height:0;padding: 0 0 101.33333333333333% 0;}
.gd_con_20_feb_2024_s1_19 {max-width:110px; max-height:144px; }
.gd_con_20_feb_2024_s1_19::after {content: '\00a0';display: inline-block; width:110px; height:144px; background-position: 88.0813953488372% 99.51783992285439%; background-size: 412.72727272727275% 820.1388888888889%; background-image: url(gdcon20feb2024s1_0.png);padding: 0; }
div.gd_con_20_feb_2024_s1_19::after {max-width:110px; width:100%;height:0;padding: 0 0 130.9090909090909% 0;}
.gd_con_20_feb_2024_s1_19_1 {max-width:150px; max-height:174px; }
.gd_con_20_feb_2024_s1_19_1::after {content: '\00a0';display: inline-block; width:150px; height:174px; background-position: 0.32894736842105265% 25.719960278053623%; background-size: 302.6666666666667% 678.735632183908%; background-image: url(gdcon20feb2024s1_0.png);padding: 0; }
div.gd_con_20_feb_2024_s1_19_1::after {max-width:150px; width:100%;height:0;padding: 0 0 116% 0;}
.gd_con_20_feb_2024_s1_19_2 {max-width:150px; max-height:172px; }
.gd_con_20_feb_2024_s1_19_2::after {content: '\00a0';display: inline-block; width:150px; height:172px; background-position: 0.32894736842105265% 43.012884043607535%; background-size: 302.6666666666667% 686.6279069767442%; background-image: url(gdcon20feb2024s1_0.png);padding: 0; }
div.gd_con_20_feb_2024_s1_19_2::after {max-width:150px; width:100%;height:0;padding: 0 0 114.66666666666667% 0;}
.gd_con_20_feb_2024_s1_19_3 {max-width:150px; max-height:172px; }
.gd_con_20_feb_2024_s1_19_3::after {content: '\00a0';display: inline-block; width:150px; height:172px; background-position: 50% 25.66897918731417%; background-size: 302.6666666666667% 686.6279069767442%; background-image: url(gdcon20feb2024s1_0.png);padding: 0; }
div.gd_con_20_feb_2024_s1_19_3::after {max-width:150px; width:100%;height:0;padding: 0 0 114.66666666666667% 0;}
.gd_con_20_feb_2024_s1_19_4 {max-width:150px; max-height:170px; }
.gd_con_20_feb_2024_s1_19_4::after {content: '\00a0';display: inline-block; width:150px; height:170px; background-position: 99.67105263157895% 25.618199802176065%; background-size: 302.6666666666667% 694.7058823529412%; background-image: url(gdcon20feb2024s1_0.png);padding: 0; }
div.gd_con_20_feb_2024_s1_19_4::after {max-width:150px; width:100%;height:0;padding: 0 0 113.33333333333333% 0;}
.gd_con_20_feb_2024_s1_4 {max-width:400px; max-height:72px; }
.gd_con_20_feb_2024_s1_4::after {content: '\00a0';display: inline-block; width:400px; height:72px; background-position: 1.8518518518518519% 16.771866546438233%; background-size: 113.5% 1640.2777777777778%; background-image: url(gdcon20feb2024s1_0.png);padding: 0; }
div.gd_con_20_feb_2024_s1_4::after {max-width:400px; width:100%;height:0;padding: 0 0 18% 0;}
.gd_con_20_feb_2024_s1_4_1 {max-width:150px; max-height:148px; }
.gd_con_20_feb_2024_s1_4_1::after {content: '\00a0';display: inline-block; width:150px; height:148px; background-position: 50% 71.05517909002904%; background-size: 302.6666666666667% 797.972972972973%; background-image: url(gdcon20feb2024s1_0.png);padding: 0; }
div.gd_con_20_feb_2024_s1_4_1::after {max-width:150px; width:100%;height:0;padding: 0 0 98.66666666666667% 0;}
.gd_con_20_feb_2024_s1_4_2 {max-width:150px; max-height:150px; }
.gd_con_20_feb_2024_s1_4_2::after {content: '\00a0';display: inline-block; width:150px; height:150px; background-position: 50% 41.90106692531523%; background-size: 302.6666666666667% 787.3333333333334%; background-image: url(gdcon20feb2024s1_0.png);padding: 0; }
div.gd_con_20_feb_2024_s1_4_2::after {max-width:150px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_20_feb_2024_s1_4_3 {max-width:150px; max-height:148px; }
.gd_con_20_feb_2024_s1_4_3::after {content: '\00a0';display: inline-block; width:150px; height:148px; background-position: 99.67105263157895% 71.05517909002904%; background-size: 302.6666666666667% 797.972972972973%; background-image: url(gdcon20feb2024s1_0.png);padding: 0; }
div.gd_con_20_feb_2024_s1_4_3::after {max-width:150px; width:100%;height:0;padding: 0 0 98.66666666666667% 0;}
.gd_con_20_feb_2024_s1_4_4 {max-width:150px; max-height:148px; }
.gd_con_20_feb_2024_s1_4_4::after {content: '\00a0';display: inline-block; width:150px; height:148px; background-position: 0.32894736842105265% 87.99612778315586%; background-size: 302.6666666666667% 797.972972972973%; background-image: url(gdcon20feb2024s1_0.png);padding: 0; }
div.gd_con_20_feb_2024_s1_4_4::after {max-width:150px; width:100%;height:0;padding: 0 0 98.66666666666667% 0;}

@keyframes gd_con_20_feb_2024_s1-frames {
    0% { background-position: 1.8518518518518519% 16.771866546438233%;  }
    20% { background-position: 92.20183486238533% 0.08718395815170009%;  }
    40% { background-position: 1.8518518518518519% 0.09328358208955224%;  }
    60% { background-position: 1.8518518518518519% 10.02710027100271%;  }
    80% { background-position: 88.0813953488372% 99.51783992285439%;  }
}

.gd_con_20_feb_2024_s1-animation {
    max-width: 400px;
    max-height: 72px;
}
.gd_con_20_feb_2024_s1-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 400px;
    height: 72px;
    padding: 0;
    background-image: url(gdcon20feb2024s1_0.png);
    background-size: 113.5% 1640.2777777777778%; 
    animation-name: gd_con_20_feb_2024_s1-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_20_feb_2024_s1-animation::after {
    max-width: 400px;
    width: 100%;
    height: 0;
    padding: 0 0 18% 0;
}

@keyframes gd_con_20_feb_2024_s1_12-frames {
    0% { background-position: 50% 85.47918683446272%;  }
    25% { background-position: 0.32894736842105265% 58.87487875848691%;  }
    50% { background-position: 50% 56.5470417070805%;  }
    75% { background-position: 99.67105263157895% 85.47918683446272%;  }
}

.gd_con_20_feb_2024_s1_12-animation {
    max-width: 150px;
    max-height: 148px;
}
.gd_con_20_feb_2024_s1_12-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 150px;
    height: 148px;
    padding: 0;
    background-image: url(gdcon20feb2024s1_0.png);
    background-size: 302.6666666666667% 797.972972972973%; 
    animation-name: gd_con_20_feb_2024_s1_12-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_20_feb_2024_s1_12-animation::after {
    max-width: 150px;
    width: 100%;
    height: 0;
    padding: 0 0 98.66666666666667% 0;
}

@keyframes gd_con_20_feb_2024_s1_18-frames {
    0% { background-position: 99.67105263157895% 56.5470417070805%;  }
    25% { background-position: 50% 99.90319457889642%;  }
    50% { background-position: 0.32894736842105265% 73.52085354025218%;  }
    75% { background-position: 99.67105263157895% 41.78814382896016%;  }
}

.gd_con_20_feb_2024_s1_18-animation {
    max-width: 150px;
    max-height: 150px;
}
.gd_con_20_feb_2024_s1_18-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 150px;
    height: 150px;
    padding: 0;
    background-image: url(gdcon20feb2024s1_0.png);
    background-size: 302.6666666666667% 787.3333333333334%; 
    animation-name: gd_con_20_feb_2024_s1_18-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_20_feb_2024_s1_18-animation::after {
    max-width: 150px;
    width: 100%;
    height: 0;
    padding: 0 0 100% 0;
}

@keyframes gd_con_20_feb_2024_s1_19-frames {
    0% { background-position: 0.32894736842105265% 25.719960278053623%;  }
    25% { background-position: 0.32894736842105265% 43.012884043607535%;  }
    50% { background-position: 50% 25.66897918731417%;  }
    75% { background-position: 99.67105263157895% 25.618199802176065%;  }
}

.gd_con_20_feb_2024_s1_19-animation {
    max-width: 150px;
    max-height: 174px;
}
.gd_con_20_feb_2024_s1_19-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 150px;
    height: 174px;
    padding: 0;
    background-image: url(gdcon20feb2024s1_0.png);
    background-size: 302.6666666666667% 678.735632183908%; 
    animation-name: gd_con_20_feb_2024_s1_19-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_20_feb_2024_s1_19-animation::after {
    max-width: 150px;
    width: 100%;
    height: 0;
    padding: 0 0 116% 0;
}

@keyframes gd_con_20_feb_2024_s1_4-frames {
    0% { background-position: 50% 71.05517909002904%;  }
    25% { background-position: 50% 41.90106692531523%;  }
    50% { background-position: 99.67105263157895% 71.05517909002904%;  }
    75% { background-position: 0.32894736842105265% 87.99612778315586%;  }
}

.gd_con_20_feb_2024_s1_4-animation {
    max-width: 150px;
    max-height: 148px;
}
.gd_con_20_feb_2024_s1_4-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 150px;
    height: 148px;
    padding: 0;
    background-image: url(gdcon20feb2024s1_0.png);
    background-size: 302.6666666666667% 797.972972972973%; 
    animation-name: gd_con_20_feb_2024_s1_4-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_20_feb_2024_s1_4-animation::after {
    max-width: 150px;
    width: 100%;
    height: 0;
    padding: 0 0 98.66666666666667% 0;
}

/* $TexturePacker:SmartUpdate:74518a9c0bc2b72fe36ecff3ac426599:cadc119537bde20cae7958b7c61312c0:f6e317f310bdd421d1c56ae0ed75dd4d$ */
