/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.gd_con_20_feb_2024_s3_14 {max-width:471px; max-height:81px; }
.gd_con_20_feb_2024_s3_14::after {content: '\00a0';display: inline-block; width:471px; height:81px; background-position: 0.186219739292365% 0.19157088122605365%; background-size: 214.01273885350318% 744.4444444444445%; background-image: url(gdcon20feb2024s3_0.png);padding: 0; }
div.gd_con_20_feb_2024_s3_14::after {max-width:471px; width:100%;height:0;padding: 0 0 17.197452229299362% 0;}
.gd_con_20_feb_2024_s3_14_1 {max-width:150px; max-height:152px; }
.gd_con_20_feb_2024_s3_14_1::after {content: '\00a0';display: inline-block; width:150px; height:152px; background-position: 0.11655011655011654% 85.80931263858093%; background-size: 672% 396.7105263157895%; background-image: url(gdcon20feb2024s3_0.png);padding: 0; }
div.gd_con_20_feb_2024_s3_14_1::after {max-width:150px; width:100%;height:0;padding: 0 0 101.33333333333333% 0;}
.gd_con_20_feb_2024_s3_14_2 {max-width:150px; max-height:152px; }
.gd_con_20_feb_2024_s3_14_2::after {content: '\00a0';display: inline-block; width:150px; height:152px; background-position: 17.715617715617714% 37.028824833702885%; background-size: 672% 396.7105263157895%; background-image: url(gdcon20feb2024s3_0.png);padding: 0; }
div.gd_con_20_feb_2024_s3_14_2::after {max-width:150px; width:100%;height:0;padding: 0 0 101.33333333333333% 0;}
.gd_con_20_feb_2024_s3_14_3 {max-width:150px; max-height:152px; }
.gd_con_20_feb_2024_s3_14_3::after {content: '\00a0';display: inline-block; width:150px; height:152px; background-position: 17.715617715617714% 70.95343680709534%; background-size: 672% 396.7105263157895%; background-image: url(gdcon20feb2024s3_0.png);padding: 0; }
div.gd_con_20_feb_2024_s3_14_3::after {max-width:150px; width:100%;height:0;padding: 0 0 101.33333333333333% 0;}
.gd_con_20_feb_2024_s3_14_4 {max-width:150px; max-height:152px; }
.gd_con_20_feb_2024_s3_14_4::after {content: '\00a0';display: inline-block; width:150px; height:152px; background-position: 35.31468531468531% 37.028824833702885%; background-size: 672% 396.7105263157895%; background-image: url(gdcon20feb2024s3_0.png);padding: 0; }
div.gd_con_20_feb_2024_s3_14_4::after {max-width:150px; width:100%;height:0;padding: 0 0 101.33333333333333% 0;}
.gd_con_20_feb_2024_s3_15 {max-width:150px; max-height:219px; }
.gd_con_20_feb_2024_s3_15::after {content: '\00a0';display: inline-block; width:150px; height:219px; background-position: 0.11655011655011654% 43.489583333333336%; background-size: 672% 275.3424657534247%; background-image: url(gdcon20feb2024s3_0.png);padding: 0; }
div.gd_con_20_feb_2024_s3_15::after {max-width:150px; width:100%;height:0;padding: 0 0 146% 0;}
.gd_con_20_feb_2024_s3_15_1 {max-width:150px; max-height:150px; }
.gd_con_20_feb_2024_s3_15_1::after {content: '\00a0';display: inline-block; width:150px; height:150px; background-position: 90.32634032634033% 0.22075055187637968%; background-size: 672% 402%; background-image: url(gdcon20feb2024s3_0.png);padding: 0; }
div.gd_con_20_feb_2024_s3_15_1::after {max-width:150px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_20_feb_2024_s3_15_2 {max-width:150px; max-height:148px; }
.gd_con_20_feb_2024_s3_15_2::after {content: '\00a0';display: inline-block; width:150px; height:148px; background-position: 88.1118881118881% 99.78021978021978%; background-size: 672% 407.43243243243245%; background-image: url(gdcon20feb2024s3_0.png);padding: 0; }
div.gd_con_20_feb_2024_s3_15_2::after {max-width:150px; width:100%;height:0;padding: 0 0 98.66666666666667% 0;}
.gd_con_20_feb_2024_s3_15_3 {max-width:150px; max-height:152px; }
.gd_con_20_feb_2024_s3_15_3::after {content: '\00a0';display: inline-block; width:150px; height:152px; background-position: 35.31468531468531% 70.95343680709534%; background-size: 672% 396.7105263157895%; background-image: url(gdcon20feb2024s3_0.png);padding: 0; }
div.gd_con_20_feb_2024_s3_15_3::after {max-width:150px; width:100%;height:0;padding: 0 0 101.33333333333333% 0;}
.gd_con_20_feb_2024_s3_15_4 {max-width:150px; max-height:150px; }
.gd_con_20_feb_2024_s3_15_4::after {content: '\00a0';display: inline-block; width:150px; height:150px; background-position: 52.913752913752916% 33.554083885209714%; background-size: 672% 402%; background-image: url(gdcon20feb2024s3_0.png);padding: 0; }
div.gd_con_20_feb_2024_s3_15_4::after {max-width:150px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_20_feb_2024_s3_2 {max-width:400px; max-height:83px; }
.gd_con_20_feb_2024_s3_2::after {content: '\00a0';display: inline-block; width:400px; height:83px; background-position: 0.16447368421052633% 15.961538461538462%; background-size: 252% 726.5060240963855%; background-image: url(gdcon20feb2024s3_0.png);padding: 0; }
div.gd_con_20_feb_2024_s3_2::after {max-width:400px; width:100%;height:0;padding: 0 0 20.75% 0;}
.gd_con_20_feb_2024_s3_20 {max-width:150px; max-height:150px; }
.gd_con_20_feb_2024_s3_20::after {content: '\00a0';display: inline-block; width:150px; height:150px; background-position: 52.913752913752916% 66.88741721854305%; background-size: 672% 402%; background-image: url(gdcon20feb2024s3_0.png);padding: 0; }
div.gd_con_20_feb_2024_s3_20::after {max-width:150px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_20_feb_2024_s3_20_1 {max-width:150px; max-height:150px; }
.gd_con_20_feb_2024_s3_20_1::after {content: '\00a0';display: inline-block; width:150px; height:150px; background-position: 70.51282051282051% 33.554083885209714%; background-size: 672% 402%; background-image: url(gdcon20feb2024s3_0.png);padding: 0; }
div.gd_con_20_feb_2024_s3_20_1::after {max-width:150px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_20_feb_2024_s3_20_2 {max-width:150px; max-height:150px; }
.gd_con_20_feb_2024_s3_20_2::after {content: '\00a0';display: inline-block; width:150px; height:150px; background-position: 70.51282051282051% 66.88741721854305%; background-size: 672% 402%; background-image: url(gdcon20feb2024s3_0.png);padding: 0; }
div.gd_con_20_feb_2024_s3_20_2::after {max-width:150px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_20_feb_2024_s3_20_3 {max-width:150px; max-height:150px; }
.gd_con_20_feb_2024_s3_20_3::after {content: '\00a0';display: inline-block; width:150px; height:150px; background-position: 88.1118881118881% 33.554083885209714%; background-size: 672% 402%; background-image: url(gdcon20feb2024s3_0.png);padding: 0; }
div.gd_con_20_feb_2024_s3_20_3::after {max-width:150px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_20_feb_2024_s3_20_4 {max-width:150px; max-height:150px; }
.gd_con_20_feb_2024_s3_20_4::after {content: '\00a0';display: inline-block; width:150px; height:150px; background-position: 88.1118881118881% 66.88741721854305%; background-size: 672% 402%; background-image: url(gdcon20feb2024s3_0.png);padding: 0; }
div.gd_con_20_feb_2024_s3_20_4::after {max-width:150px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_20_feb_2024_s3_2_1 {max-width:100px; max-height:99px; }
.gd_con_20_feb_2024_s3_2_1::after {content: '\00a0';display: inline-block; width:100px; height:99px; background-position: 99.8898678414097% 50.3968253968254%; background-size: 1008% 609.0909090909091%; background-image: url(gdcon20feb2024s3_0.png);padding: 0; }
div.gd_con_20_feb_2024_s3_2_1::after {max-width:100px; width:100%;height:0;padding: 0 0 99% 0;}
.gd_con_20_feb_2024_s3_2_2 {max-width:100px; max-height:99px; }
.gd_con_20_feb_2024_s3_2_2::after {content: '\00a0';display: inline-block; width:100px; height:99px; background-position: 99.8898678414097% 70.23809523809524%; background-size: 1008% 609.0909090909091%; background-image: url(gdcon20feb2024s3_0.png);padding: 0; }
div.gd_con_20_feb_2024_s3_2_2::after {max-width:100px; width:100%;height:0;padding: 0 0 99% 0;}
.gd_con_20_feb_2024_s3_2_3 {max-width:100px; max-height:99px; }
.gd_con_20_feb_2024_s3_2_3::after {content: '\00a0';display: inline-block; width:100px; height:99px; background-position: 99.8898678414097% 90.07936507936508%; background-size: 1008% 609.0909090909091%; background-image: url(gdcon20feb2024s3_0.png);padding: 0; }
div.gd_con_20_feb_2024_s3_2_3::after {max-width:100px; width:100%;height:0;padding: 0 0 99% 0;}
.gd_con_20_feb_2024_s3_2_4 {max-width:100px; max-height:101px; }
.gd_con_20_feb_2024_s3_2_4::after {content: '\00a0';display: inline-block; width:100px; height:101px; background-position: 99.8898678414097% 30.278884462151396%; background-size: 1008% 597.0297029702971%; background-image: url(gdcon20feb2024s3_0.png);padding: 0; }
div.gd_con_20_feb_2024_s3_2_4::after {max-width:100px; width:100%;height:0;padding: 0 0 101% 0;}
.gd_con_20_feb_2024_s3_4 {max-width:100px; max-height:43px; }
.gd_con_20_feb_2024_s3_4::after {content: '\00a0';display: inline-block; width:100px; height:43px; background-position: 99.8898678414097% 98.92857142857143%; background-size: 1008% 1402.3255813953488%; background-image: url(gdcon20feb2024s3_0.png);padding: 0; }
div.gd_con_20_feb_2024_s3_4::after {max-width:100px; width:100%;height:0;padding: 0 0 43% 0;}
.gd_con_20_feb_2024_s3_4_1 {max-width:150px; max-height:150px; }
.gd_con_20_feb_2024_s3_4_1::after {content: '\00a0';display: inline-block; width:150px; height:150px; background-position: 55.12820512820513% 0.22075055187637968%; background-size: 672% 402%; background-image: url(gdcon20feb2024s3_0.png);padding: 0; }
div.gd_con_20_feb_2024_s3_4_1::after {max-width:150px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_20_feb_2024_s3_4_2 {max-width:150px; max-height:148px; }
.gd_con_20_feb_2024_s3_4_2::after {content: '\00a0';display: inline-block; width:150px; height:148px; background-position: 52.913752913752916% 99.78021978021978%; background-size: 672% 407.43243243243245%; background-image: url(gdcon20feb2024s3_0.png);padding: 0; }
div.gd_con_20_feb_2024_s3_4_2::after {max-width:150px; width:100%;height:0;padding: 0 0 98.66666666666667% 0;}
.gd_con_20_feb_2024_s3_4_3 {max-width:150px; max-height:150px; }
.gd_con_20_feb_2024_s3_4_3::after {content: '\00a0';display: inline-block; width:150px; height:150px; background-position: 72.72727272727273% 0.22075055187637968%; background-size: 672% 402%; background-image: url(gdcon20feb2024s3_0.png);padding: 0; }
div.gd_con_20_feb_2024_s3_4_3::after {max-width:150px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_20_feb_2024_s3_4_4 {max-width:150px; max-height:148px; }
.gd_con_20_feb_2024_s3_4_4::after {content: '\00a0';display: inline-block; width:150px; height:148px; background-position: 70.51282051282051% 99.78021978021978%; background-size: 672% 407.43243243243245%; background-image: url(gdcon20feb2024s3_0.png);padding: 0; }
div.gd_con_20_feb_2024_s3_4_4::after {max-width:150px; width:100%;height:0;padding: 0 0 98.66666666666667% 0;}

@keyframes gd_con_20_feb_2024_s3-frames {
    0% { background-position: 0.16447368421052633% 15.961538461538462%;  }
    20% { background-position: 99.8898678414097% 98.92857142857143%;  }
    40% { background-position: 0.186219739292365% 0.19157088122605365%;  }
    60% { background-position: 0.11655011655011654% 43.489583333333336%;  }
    80% { background-position: 52.913752913752916% 66.88741721854305%;  }
}

.gd_con_20_feb_2024_s3-animation {
    max-width: 400px;
    max-height: 83px;
}
.gd_con_20_feb_2024_s3-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 400px;
    height: 83px;
    padding: 0;
    background-image: url(gdcon20feb2024s3_0.png);
    background-size: 252% 726.5060240963855%; 
    animation-name: gd_con_20_feb_2024_s3-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_20_feb_2024_s3-animation::after {
    max-width: 400px;
    width: 100%;
    height: 0;
    padding: 0 0 20.75% 0;
}

@keyframes gd_con_20_feb_2024_s3_14-frames {
    0% { background-position: 0.11655011655011654% 85.80931263858093%;  }
    25% { background-position: 17.715617715617714% 37.028824833702885%;  }
    50% { background-position: 17.715617715617714% 70.95343680709534%;  }
    75% { background-position: 35.31468531468531% 37.028824833702885%;  }
}

.gd_con_20_feb_2024_s3_14-animation {
    max-width: 150px;
    max-height: 152px;
}
.gd_con_20_feb_2024_s3_14-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 150px;
    height: 152px;
    padding: 0;
    background-image: url(gdcon20feb2024s3_0.png);
    background-size: 672% 396.7105263157895%; 
    animation-name: gd_con_20_feb_2024_s3_14-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_20_feb_2024_s3_14-animation::after {
    max-width: 150px;
    width: 100%;
    height: 0;
    padding: 0 0 101.33333333333333% 0;
}

@keyframes gd_con_20_feb_2024_s3_15-frames {
    0% { background-position: 90.32634032634033% 0.22075055187637968%;  }
    25% { background-position: 88.1118881118881% 99.78021978021978%;  }
    50% { background-position: 35.31468531468531% 70.95343680709534%;  }
    75% { background-position: 52.913752913752916% 33.554083885209714%;  }
}

.gd_con_20_feb_2024_s3_15-animation {
    max-width: 150px;
    max-height: 150px;
}
.gd_con_20_feb_2024_s3_15-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 150px;
    height: 150px;
    padding: 0;
    background-image: url(gdcon20feb2024s3_0.png);
    background-size: 672% 402%; 
    animation-name: gd_con_20_feb_2024_s3_15-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_20_feb_2024_s3_15-animation::after {
    max-width: 150px;
    width: 100%;
    height: 0;
    padding: 0 0 100% 0;
}

@keyframes gd_con_20_feb_2024_s3_2-frames {
    0% { background-position: 99.8898678414097% 50.3968253968254%;  }
    25% { background-position: 99.8898678414097% 70.23809523809524%;  }
    50% { background-position: 99.8898678414097% 90.07936507936508%;  }
    75% { background-position: 99.8898678414097% 30.278884462151396%;  }
}

.gd_con_20_feb_2024_s3_2-animation {
    max-width: 100px;
    max-height: 99px;
}
.gd_con_20_feb_2024_s3_2-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 100px;
    height: 99px;
    padding: 0;
    background-image: url(gdcon20feb2024s3_0.png);
    background-size: 1008% 609.0909090909091%; 
    animation-name: gd_con_20_feb_2024_s3_2-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_20_feb_2024_s3_2-animation::after {
    max-width: 100px;
    width: 100%;
    height: 0;
    padding: 0 0 99% 0;
}

@keyframes gd_con_20_feb_2024_s3_20-frames {
    0% { background-position: 70.51282051282051% 33.554083885209714%;  }
    25% { background-position: 70.51282051282051% 66.88741721854305%;  }
    50% { background-position: 88.1118881118881% 33.554083885209714%;  }
    75% { background-position: 88.1118881118881% 66.88741721854305%;  }
}

.gd_con_20_feb_2024_s3_20-animation {
    max-width: 150px;
    max-height: 150px;
}
.gd_con_20_feb_2024_s3_20-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 150px;
    height: 150px;
    padding: 0;
    background-image: url(gdcon20feb2024s3_0.png);
    background-size: 672% 402%; 
    animation-name: gd_con_20_feb_2024_s3_20-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_20_feb_2024_s3_20-animation::after {
    max-width: 150px;
    width: 100%;
    height: 0;
    padding: 0 0 100% 0;
}

@keyframes gd_con_20_feb_2024_s3_4-frames {
    0% { background-position: 55.12820512820513% 0.22075055187637968%;  }
    25% { background-position: 52.913752913752916% 99.78021978021978%;  }
    50% { background-position: 72.72727272727273% 0.22075055187637968%;  }
    75% { background-position: 70.51282051282051% 99.78021978021978%;  }
}

.gd_con_20_feb_2024_s3_4-animation {
    max-width: 150px;
    max-height: 150px;
}
.gd_con_20_feb_2024_s3_4-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 150px;
    height: 150px;
    padding: 0;
    background-image: url(gdcon20feb2024s3_0.png);
    background-size: 672% 402%; 
    animation-name: gd_con_20_feb_2024_s3_4-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_20_feb_2024_s3_4-animation::after {
    max-width: 150px;
    width: 100%;
    height: 0;
    padding: 0 0 100% 0;
}

/* $TexturePacker:SmartUpdate:5750bd6f16495d68922f8d2084ea7b87:cda87a18f6b11bf0c137965dff0c468e:7e5dbbb45eb10145ed495447ccb83a8e$ */
