/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.gd_con_20_feb_2024_s3_14 {max-width:471px; max-height:81px; }
.gd_con_20_feb_2024_s3_14::after {content: '\00a0';display: inline-block; width:471px; height:81px; background-position: 94.86166007905139% 50.29940119760479%; background-size: 207.43099787685776% 306.17283950617286%; background-image: url(gdcon20feb2024s3_0.png);padding: 0; }
div.gd_con_20_feb_2024_s3_14::after {max-width:471px; width:100%;height:0;padding: 0 0 17.197452229299362% 0;}
.gd_con_20_feb_2024_s3_14_1 {max-width:81px; max-height:82px; }
.gd_con_20_feb_2024_s3_14_1::after {content: '\00a0';display: inline-block; width:81px; height:82px; background-position: 52.79017857142857% 0.6024096385542169%; background-size: 1206.1728395061727% 302.4390243902439%; background-image: url(gdcon20feb2024s3_0.png);padding: 0; }
div.gd_con_20_feb_2024_s3_14_1::after {max-width:81px; width:100%;height:0;padding: 0 0 101.23456790123457% 0;}
.gd_con_20_feb_2024_s3_14_2 {max-width:81px; max-height:82px; }
.gd_con_20_feb_2024_s3_14_2::after {content: '\00a0';display: inline-block; width:81px; height:82px; background-position: 61.941964285714285% 0.6024096385542169%; background-size: 1206.1728395061727% 302.4390243902439%; background-image: url(gdcon20feb2024s3_0.png);padding: 0; }
div.gd_con_20_feb_2024_s3_14_2::after {max-width:81px; width:100%;height:0;padding: 0 0 101.23456790123457% 0;}
.gd_con_20_feb_2024_s3_14_3 {max-width:81px; max-height:82px; }
.gd_con_20_feb_2024_s3_14_3::after {content: '\00a0';display: inline-block; width:81px; height:82px; background-position: 71.09375% 0.6024096385542169%; background-size: 1206.1728395061727% 302.4390243902439%; background-image: url(gdcon20feb2024s3_0.png);padding: 0; }
div.gd_con_20_feb_2024_s3_14_3::after {max-width:81px; width:100%;height:0;padding: 0 0 101.23456790123457% 0;}
.gd_con_20_feb_2024_s3_14_4 {max-width:81px; max-height:82px; }
.gd_con_20_feb_2024_s3_14_4::after {content: '\00a0';display: inline-block; width:81px; height:82px; background-position: 80.24553571428571% 0.6024096385542169%; background-size: 1206.1728395061727% 302.4390243902439%; background-image: url(gdcon20feb2024s3_0.png);padding: 0; }
div.gd_con_20_feb_2024_s3_14_4::after {max-width:81px; width:100%;height:0;padding: 0 0 101.23456790123457% 0;}
.gd_con_20_feb_2024_s3_15 {max-width:100px; max-height:146px; }
.gd_con_20_feb_2024_s3_15::after {content: '\00a0';display: inline-block; width:100px; height:146px; background-position: 0.11402508551881414% 0.9803921568627451%; background-size: 977% 169.86301369863014%; background-image: url(gdcon20feb2024s3_0.png);padding: 0; }
div.gd_con_20_feb_2024_s3_15::after {max-width:100px; width:100%;height:0;padding: 0 0 146% 0;}
.gd_con_20_feb_2024_s3_15_1 {max-width:82px; max-height:82px; }
.gd_con_20_feb_2024_s3_15_1::after {content: '\00a0';display: inline-block; width:82px; height:82px; background-position: 34.30167597765363% 0.6024096385542169%; background-size: 1191.4634146341464% 302.4390243902439%; background-image: url(gdcon20feb2024s3_0.png);padding: 0; }
div.gd_con_20_feb_2024_s3_15_1::after {max-width:82px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_20_feb_2024_s3_15_2 {max-width:82px; max-height:81px; }
.gd_con_20_feb_2024_s3_15_2::after {content: '\00a0';display: inline-block; width:82px; height:81px; background-position: 90.72625698324022% 99.40119760479043%; background-size: 1191.4634146341464% 306.17283950617286%; background-image: url(gdcon20feb2024s3_0.png);padding: 0; }
div.gd_con_20_feb_2024_s3_15_2::after {max-width:82px; width:100%;height:0;padding: 0 0 98.78048780487805% 0;}
.gd_con_20_feb_2024_s3_15_3 {max-width:81px; max-height:82px; }
.gd_con_20_feb_2024_s3_15_3::after {content: '\00a0';display: inline-block; width:81px; height:82px; background-position: 89.39732142857143% 0.6024096385542169%; background-size: 1206.1728395061727% 302.4390243902439%; background-image: url(gdcon20feb2024s3_0.png);padding: 0; }
div.gd_con_20_feb_2024_s3_15_3::after {max-width:81px; width:100%;height:0;padding: 0 0 101.23456790123457% 0;}
.gd_con_20_feb_2024_s3_15_4 {max-width:82px; max-height:82px; }
.gd_con_20_feb_2024_s3_15_4::after {content: '\00a0';display: inline-block; width:82px; height:82px; background-position: 43.57541899441341% 0.6024096385542169%; background-size: 1191.4634146341464% 302.4390243902439%; background-image: url(gdcon20feb2024s3_0.png);padding: 0; }
div.gd_con_20_feb_2024_s3_15_4::after {max-width:82px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_20_feb_2024_s3_2 {max-width:396px; max-height:82px; }
.gd_con_20_feb_2024_s3_2::after {content: '\00a0';display: inline-block; width:396px; height:82px; background-position: 0.1721170395869191% 89.1566265060241%; background-size: 246.7171717171717% 302.4390243902439%; background-image: url(gdcon20feb2024s3_0.png);padding: 0; }
div.gd_con_20_feb_2024_s3_2::after {max-width:396px; width:100%;height:0;padding: 0 0 20.707070707070706% 0;}
.gd_con_20_feb_2024_s3_20 {max-width:121px; max-height:121px; }
.gd_con_20_feb_2024_s3_20::after {content: '\00a0';display: inline-block; width:121px; height:121px; background-position: 11.91588785046729% 0.7874015748031497%; background-size: 807.4380165289256% 204.95867768595042%; background-image: url(gdcon20feb2024s3_0.png);padding: 0; }
div.gd_con_20_feb_2024_s3_20::after {max-width:121px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_20_feb_2024_s3_20_1 {max-width:62px; max-height:62px; }
.gd_con_20_feb_2024_s3_20_1::after {content: '\00a0';display: inline-block; width:62px; height:62px; background-position: 24.48087431693989% 45.16129032258065%; background-size: 1575.8064516129032% 400%; background-image: url(gdcon20feb2024s3_0.png);padding: 0; }
div.gd_con_20_feb_2024_s3_20_1::after {max-width:62px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_20_feb_2024_s3_20_2 {max-width:62px; max-height:62px; }
.gd_con_20_feb_2024_s3_20_2::after {content: '\00a0';display: inline-block; width:62px; height:62px; background-position: 31.366120218579233% 45.16129032258065%; background-size: 1575.8064516129032% 400%; background-image: url(gdcon20feb2024s3_0.png);padding: 0; }
div.gd_con_20_feb_2024_s3_20_2::after {max-width:62px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_20_feb_2024_s3_20_3 {max-width:62px; max-height:62px; }
.gd_con_20_feb_2024_s3_20_3::after {content: '\00a0';display: inline-block; width:62px; height:62px; background-position: 38.25136612021858% 45.16129032258065%; background-size: 1575.8064516129032% 400%; background-image: url(gdcon20feb2024s3_0.png);padding: 0; }
div.gd_con_20_feb_2024_s3_20_3::after {max-width:62px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_20_feb_2024_s3_20_4 {max-width:62px; max-height:62px; }
.gd_con_20_feb_2024_s3_20_4::after {content: '\00a0';display: inline-block; width:62px; height:62px; background-position: 45.13661202185792% 45.16129032258065%; background-size: 1575.8064516129032% 400%; background-image: url(gdcon20feb2024s3_0.png);padding: 0; }
div.gd_con_20_feb_2024_s3_20_4::after {max-width:62px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_20_feb_2024_s3_2_1 {max-width:82px; max-height:81px; }
.gd_con_20_feb_2024_s3_2_1::after {content: '\00a0';display: inline-block; width:82px; height:81px; background-position: 98.65921787709497% 0.5988023952095808%; background-size: 1191.4634146341464% 306.17283950617286%; background-image: url(gdcon20feb2024s3_0.png);padding: 0; }
div.gd_con_20_feb_2024_s3_2_1::after {max-width:82px; width:100%;height:0;padding: 0 0 98.78048780487805% 0;}
.gd_con_20_feb_2024_s3_2_2 {max-width:82px; max-height:81px; }
.gd_con_20_feb_2024_s3_2_2::after {content: '\00a0';display: inline-block; width:82px; height:81px; background-position: 53.63128491620112% 99.40119760479043%; background-size: 1191.4634146341464% 306.17283950617286%; background-image: url(gdcon20feb2024s3_0.png);padding: 0; }
div.gd_con_20_feb_2024_s3_2_2::after {max-width:82px; width:100%;height:0;padding: 0 0 98.78048780487805% 0;}
.gd_con_20_feb_2024_s3_2_3 {max-width:82px; max-height:81px; }
.gd_con_20_feb_2024_s3_2_3::after {content: '\00a0';display: inline-block; width:82px; height:81px; background-position: 62.90502793296089% 99.40119760479043%; background-size: 1191.4634146341464% 306.17283950617286%; background-image: url(gdcon20feb2024s3_0.png);padding: 0; }
div.gd_con_20_feb_2024_s3_2_3::after {max-width:82px; width:100%;height:0;padding: 0 0 98.78048780487805% 0;}
.gd_con_20_feb_2024_s3_2_4 {max-width:81px; max-height:82px; }
.gd_con_20_feb_2024_s3_2_4::after {content: '\00a0';display: inline-block; width:81px; height:82px; background-position: 44.419642857142854% 88.55421686746988%; background-size: 1206.1728395061727% 302.4390243902439%; background-image: url(gdcon20feb2024s3_0.png);padding: 0; }
div.gd_con_20_feb_2024_s3_2_4::after {max-width:81px; width:100%;height:0;padding: 0 0 101.23456790123457% 0;}
.gd_con_20_feb_2024_s3_4 {max-width:54px; max-height:23px; }
.gd_con_20_feb_2024_s3_4::after {content: '\00a0';display: inline-block; width:54px; height:23px; background-position: 11.05092091007584% 54.666666666666664%; background-size: 1809.2592592592594% 1078.2608695652175%; background-image: url(gdcon20feb2024s3_0.png);padding: 0; }
div.gd_con_20_feb_2024_s3_4::after {max-width:54px; width:100%;height:0;padding: 0 0 42.592592592592595% 0;}
.gd_con_20_feb_2024_s3_4_1 {max-width:81px; max-height:81px; }
.gd_con_20_feb_2024_s3_4_1::after {content: '\00a0';display: inline-block; width:81px; height:81px; background-position: 99.88839285714286% 99.40119760479043%; background-size: 1206.1728395061727% 306.17283950617286%; background-image: url(gdcon20feb2024s3_0.png);padding: 0; }
div.gd_con_20_feb_2024_s3_4_1::after {max-width:81px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_20_feb_2024_s3_4_2 {max-width:82px; max-height:81px; }
.gd_con_20_feb_2024_s3_4_2::after {content: '\00a0';display: inline-block; width:82px; height:81px; background-position: 72.17877094972067% 99.40119760479043%; background-size: 1191.4634146341464% 306.17283950617286%; background-image: url(gdcon20feb2024s3_0.png);padding: 0; }
div.gd_con_20_feb_2024_s3_4_2::after {max-width:82px; width:100%;height:0;padding: 0 0 98.78048780487805% 0;}
.gd_con_20_feb_2024_s3_4_3 {max-width:82px; max-height:82px; }
.gd_con_20_feb_2024_s3_4_3::after {content: '\00a0';display: inline-block; width:82px; height:82px; background-position: 25.027932960893853% 0.6024096385542169%; background-size: 1191.4634146341464% 302.4390243902439%; background-image: url(gdcon20feb2024s3_0.png);padding: 0; }
div.gd_con_20_feb_2024_s3_4_3::after {max-width:82px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_20_feb_2024_s3_4_4 {max-width:82px; max-height:81px; }
.gd_con_20_feb_2024_s3_4_4::after {content: '\00a0';display: inline-block; width:82px; height:81px; background-position: 81.45251396648045% 99.40119760479043%; background-size: 1191.4634146341464% 306.17283950617286%; background-image: url(gdcon20feb2024s3_0.png);padding: 0; }
div.gd_con_20_feb_2024_s3_4_4::after {max-width:82px; width:100%;height:0;padding: 0 0 98.78048780487805% 0;}

@keyframes gd_con_20_feb_2024_s3-frames {
    0% { background-position: 0.1721170395869191% 89.1566265060241%;  }
    20% { background-position: 11.05092091007584% 54.666666666666664%;  }
    40% { background-position: 94.86166007905139% 50.29940119760479%;  }
    60% { background-position: 0.11402508551881414% 0.9803921568627451%;  }
    80% { background-position: 11.91588785046729% 0.7874015748031497%;  }
}

.gd_con_20_feb_2024_s3-animation {
    max-width: 396px;
    max-height: 82px;
}
.gd_con_20_feb_2024_s3-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 396px;
    height: 82px;
    padding: 0;
    background-image: url(gdcon20feb2024s3_0.png);
    background-size: 246.7171717171717% 302.4390243902439%; 
    animation-name: gd_con_20_feb_2024_s3-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_20_feb_2024_s3-animation::after {
    max-width: 396px;
    width: 100%;
    height: 0;
    padding: 0 0 20.707070707070706% 0;
}

@keyframes gd_con_20_feb_2024_s3_14-frames {
    0% { background-position: 52.79017857142857% 0.6024096385542169%;  }
    25% { background-position: 61.941964285714285% 0.6024096385542169%;  }
    50% { background-position: 71.09375% 0.6024096385542169%;  }
    75% { background-position: 80.24553571428571% 0.6024096385542169%;  }
}

.gd_con_20_feb_2024_s3_14-animation {
    max-width: 81px;
    max-height: 82px;
}
.gd_con_20_feb_2024_s3_14-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 81px;
    height: 82px;
    padding: 0;
    background-image: url(gdcon20feb2024s3_0.png);
    background-size: 1206.1728395061727% 302.4390243902439%; 
    animation-name: gd_con_20_feb_2024_s3_14-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_20_feb_2024_s3_14-animation::after {
    max-width: 81px;
    width: 100%;
    height: 0;
    padding: 0 0 101.23456790123457% 0;
}

@keyframes gd_con_20_feb_2024_s3_15-frames {
    0% { background-position: 34.30167597765363% 0.6024096385542169%;  }
    25% { background-position: 90.72625698324022% 99.40119760479043%;  }
    50% { background-position: 89.39732142857143% 0.6024096385542169%;  }
    75% { background-position: 43.57541899441341% 0.6024096385542169%;  }
}

.gd_con_20_feb_2024_s3_15-animation {
    max-width: 82px;
    max-height: 82px;
}
.gd_con_20_feb_2024_s3_15-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 82px;
    height: 82px;
    padding: 0;
    background-image: url(gdcon20feb2024s3_0.png);
    background-size: 1191.4634146341464% 302.4390243902439%; 
    animation-name: gd_con_20_feb_2024_s3_15-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_20_feb_2024_s3_15-animation::after {
    max-width: 82px;
    width: 100%;
    height: 0;
    padding: 0 0 100% 0;
}

@keyframes gd_con_20_feb_2024_s3_2-frames {
    0% { background-position: 98.65921787709497% 0.5988023952095808%;  }
    25% { background-position: 53.63128491620112% 99.40119760479043%;  }
    50% { background-position: 62.90502793296089% 99.40119760479043%;  }
    75% { background-position: 44.419642857142854% 88.55421686746988%;  }
}

.gd_con_20_feb_2024_s3_2-animation {
    max-width: 82px;
    max-height: 81px;
}
.gd_con_20_feb_2024_s3_2-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 82px;
    height: 81px;
    padding: 0;
    background-image: url(gdcon20feb2024s3_0.png);
    background-size: 1191.4634146341464% 306.17283950617286%; 
    animation-name: gd_con_20_feb_2024_s3_2-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_20_feb_2024_s3_2-animation::after {
    max-width: 82px;
    width: 100%;
    height: 0;
    padding: 0 0 98.78048780487805% 0;
}

@keyframes gd_con_20_feb_2024_s3_20-frames {
    0% { background-position: 24.48087431693989% 45.16129032258065%;  }
    25% { background-position: 31.366120218579233% 45.16129032258065%;  }
    50% { background-position: 38.25136612021858% 45.16129032258065%;  }
    75% { background-position: 45.13661202185792% 45.16129032258065%;  }
}

.gd_con_20_feb_2024_s3_20-animation {
    max-width: 62px;
    max-height: 62px;
}
.gd_con_20_feb_2024_s3_20-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 62px;
    height: 62px;
    padding: 0;
    background-image: url(gdcon20feb2024s3_0.png);
    background-size: 1575.8064516129032% 400%; 
    animation-name: gd_con_20_feb_2024_s3_20-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_20_feb_2024_s3_20-animation::after {
    max-width: 62px;
    width: 100%;
    height: 0;
    padding: 0 0 100% 0;
}

@keyframes gd_con_20_feb_2024_s3_4-frames {
    0% { background-position: 99.88839285714286% 99.40119760479043%;  }
    25% { background-position: 72.17877094972067% 99.40119760479043%;  }
    50% { background-position: 25.027932960893853% 0.6024096385542169%;  }
    75% { background-position: 81.45251396648045% 99.40119760479043%;  }
}

.gd_con_20_feb_2024_s3_4-animation {
    max-width: 81px;
    max-height: 81px;
}
.gd_con_20_feb_2024_s3_4-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 81px;
    height: 81px;
    padding: 0;
    background-image: url(gdcon20feb2024s3_0.png);
    background-size: 1206.1728395061727% 306.17283950617286%; 
    animation-name: gd_con_20_feb_2024_s3_4-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_20_feb_2024_s3_4-animation::after {
    max-width: 81px;
    width: 100%;
    height: 0;
    padding: 0 0 100% 0;
}

/* $TexturePacker:SmartUpdate:51addc6ba6edbbcab34b2ce47e2010db:99393238e88fb6f307ed75bb63a3ecd1:7e5dbbb45eb10145ed495447ccb83a8e$ */
