/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.gd_con_5_feb_2025_s2_14 {max-width:116px; max-height:181px; }
.gd_con_5_feb_2025_s2_14::after {content: '\00a0';display: inline-block; width:116px; height:181px; background-position: 98.05959805959806% 99.68354430379746%; background-size: 1343.9655172413793% 274.585635359116%; background-image: url(gdcon5feb2025s2_0.png);padding: 0; }
div.gd_con_5_feb_2025_s2_14::after {max-width:116px; width:100%;height:0;padding: 0 0 156.0344827586207% 0;}
.gd_con_5_feb_2025_s2_14_1 {max-width:197px; max-height:192px; }
.gd_con_5_feb_2025_s2_14_1::after {content: '\00a0';display: inline-block; width:197px; height:192px; background-position: 34.72834067547724% 93.77049180327869%; background-size: 791.3705583756346% 258.8541666666667%; background-image: url(gdcon5feb2025s2_0.png);padding: 0; }
div.gd_con_5_feb_2025_s2_14_1::after {max-width:197px; width:100%;height:0;padding: 0 0 97.46192893401015% 0;}
.gd_con_5_feb_2025_s2_14_2 {max-width:200px; max-height:196px; }
.gd_con_5_feb_2025_s2_14_2::after {content: '\00a0';display: inline-block; width:200px; height:196px; background-position: 20.014716703458426% 95.01661129568106%; background-size: 779.5% 253.57142857142858%; background-image: url(gdcon5feb2025s2_0.png);padding: 0; }
div.gd_con_5_feb_2025_s2_14_2::after {max-width:200px; width:100%;height:0;padding: 0 0 98% 0;}
.gd_con_5_feb_2025_s2_14_3 {max-width:197px; max-height:191px; }
.gd_con_5_feb_2025_s2_14_3::after {content: '\00a0';display: inline-block; width:197px; height:191px; background-position: 65.93245227606461% 63.071895424836605%; background-size: 791.3705583756346% 260.20942408376965%; background-image: url(gdcon5feb2025s2_0.png);padding: 0; }
div.gd_con_5_feb_2025_s2_14_3::after {max-width:197px; width:100%;height:0;padding: 0 0 96.95431472081218% 0;}
.gd_con_5_feb_2025_s2_14_4 {max-width:198px; max-height:191px; }
.gd_con_5_feb_2025_s2_14_4::after {content: '\00a0';display: inline-block; width:198px; height:191px; background-position: 59.95591476855253% 0.32679738562091504%; background-size: 787.3737373737374% 260.20942408376965%; background-image: url(gdcon5feb2025s2_0.png);padding: 0; }
div.gd_con_5_feb_2025_s2_14_4::after {max-width:198px; width:100%;height:0;padding: 0 0 96.46464646464646% 0;}
.gd_con_5_feb_2025_s2_20 {max-width:500px; max-height:106px; }
.gd_con_5_feb_2025_s2_20::after {content: '\00a0';display: inline-block; width:500px; height:106px; background-position: 0.09442870632672333% 45.78005115089514%; background-size: 311.8% 468.8679245283019%; background-image: url(gdcon5feb2025s2_0.png);padding: 0; }
div.gd_con_5_feb_2025_s2_20::after {max-width:500px; width:100%;height:0;padding: 0 0 21.2% 0;}
.gd_con_5_feb_2025_s2_20_1 {max-width:157px; max-height:153px; }
.gd_con_5_feb_2025_s2_20_1::after {content: '\00a0';display: inline-block; width:157px; height:153px; background-position: 46.932952924393724% 36.33720930232558%; background-size: 992.9936305732484% 324.83660130718954%; background-image: url(gdcon5feb2025s2_0.png);padding: 0; }
div.gd_con_5_feb_2025_s2_20_1::after {max-width:157px; width:100%;height:0;padding: 0 0 97.45222929936305% 0;}
.gd_con_5_feb_2025_s2_20_2 {max-width:157px; max-height:152px; }
.gd_con_5_feb_2025_s2_20_2::after {content: '\00a0';display: inline-block; width:157px; height:152px; background-position: 89.65763195435093% 96.52173913043478%; background-size: 992.9936305732484% 326.9736842105263%; background-image: url(gdcon5feb2025s2_0.png);padding: 0; }
div.gd_con_5_feb_2025_s2_20_2::after {max-width:157px; width:100%;height:0;padding: 0 0 96.81528662420382% 0;}
.gd_con_5_feb_2025_s2_20_3 {max-width:155px; max-height:157px; }
.gd_con_5_feb_2025_s2_20_3::after {content: '\00a0';display: inline-block; width:155px; height:157px; background-position: 35.75498575498575% 36.76470588235294%; background-size: 1005.8064516129032% 316.56050955414014%; background-image: url(gdcon5feb2025s2_0.png);padding: 0; }
div.gd_con_5_feb_2025_s2_20_3::after {max-width:155px; width:100%;height:0;padding: 0 0 101.29032258064517% 0;}
.gd_con_5_feb_2025_s2_20_4 {max-width:151px; max-height:151px; }
.gd_con_5_feb_2025_s2_20_4::after {content: '\00a0';display: inline-block; width:151px; height:151px; background-position: 89.77272727272727% 47.10982658959538%; background-size: 1032.450331125828% 329.13907284768214%; background-image: url(gdcon5feb2025s2_0.png);padding: 0; }
div.gd_con_5_feb_2025_s2_20_4::after {max-width:151px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_5_feb_2025_s2_3 {max-width:400px; max-height:123px; }
.gd_con_5_feb_2025_s2_3::after {content: '\00a0';display: inline-block; width:400px; height:123px; background-position: 28.21397756686799% 0.26737967914438504%; background-size: 389.75% 404.0650406504065%; background-image: url(gdcon5feb2025s2_0.png);padding: 0; }
div.gd_con_5_feb_2025_s2_3::after {max-width:400px; width:100%;height:0;padding: 0 0 30.75% 0;}
.gd_con_5_feb_2025_s2_3_1 {max-width:167px; max-height:163px; }
.gd_con_5_feb_2025_s2_3_1::after {content: '\00a0';display: inline-block; width:167px; height:163px; background-position: 78.73563218390805% 50.59880239520958%; background-size: 933.5329341317365% 304.9079754601227%; background-image: url(gdcon5feb2025s2_0.png);padding: 0; }
div.gd_con_5_feb_2025_s2_3_1::after {max-width:167px; width:100%;height:0;padding: 0 0 97.60479041916167% 0;}
.gd_con_5_feb_2025_s2_3_2 {max-width:163px; max-height:161px; }
.gd_con_5_feb_2025_s2_3_2::after {content: '\00a0';display: inline-block; width:163px; height:161px; background-position: 85.02865329512893% 0.2976190476190476%; background-size: 956.4417177914111% 308.69565217391306%; background-image: url(gdcon5feb2025s2_0.png);padding: 0; }
div.gd_con_5_feb_2025_s2_3_2::after {max-width:163px; width:100%;height:0;padding: 0 0 98.77300613496932% 0;}
.gd_con_5_feb_2025_s2_3_3 {max-width:160px; max-height:162px; }
.gd_con_5_feb_2025_s2_3_3::after {content: '\00a0';display: inline-block; width:160px; height:162px; background-position: 78.34167262330236% 99.40298507462687%; background-size: 974.375% 306.7901234567901%; background-image: url(gdcon5feb2025s2_0.png);padding: 0; }
div.gd_con_5_feb_2025_s2_3_3::after {max-width:160px; width:100%;height:0;padding: 0 0 101.25% 0;}
.gd_con_5_feb_2025_s2_3_4 {max-width:171px; max-height:167px; }
.gd_con_5_feb_2025_s2_3_4::after {content: '\00a0';display: inline-block; width:171px; height:167px; background-position: 73.12680115273776% 0.30303030303030304%; background-size: 911.6959064327485% 297.6047904191617%; background-image: url(gdcon5feb2025s2_0.png);padding: 0; }
div.gd_con_5_feb_2025_s2_3_4::after {max-width:171px; width:100%;height:0;padding: 0 0 97.6608187134503% 0;}
.gd_con_5_feb_2025_s2_4 {max-width:325px; max-height:177px; }
.gd_con_5_feb_2025_s2_4::after {content: '\00a0';display: inline-block; width:325px; height:177px; background-position: 0.08103727714748785% 0.3125%; background-size: 479.6923076923077% 280.7909604519774%; background-image: url(gdcon5feb2025s2_0.png);padding: 0; }
div.gd_con_5_feb_2025_s2_4::after {max-width:325px; width:100%;height:0;padding: 0 0 54.46153846153846% 0;}
.gd_con_5_feb_2025_s2_6_1 {max-width:270px; max-height:151px; }
.gd_con_5_feb_2025_s2_6_1::after {content: '\00a0';display: inline-block; width:270px; height:151px; background-position: 0.07757951900698215% 82.65895953757226%; background-size: 577.4074074074074% 329.13907284768214%; background-image: url(gdcon5feb2025s2_0.png);padding: 0; }
div.gd_con_5_feb_2025_s2_6_1::after {max-width:270px; width:100%;height:0;padding: 0 0 55.925925925925924% 0;}
.gd_con_5_feb_2025_s2_6_2 {max-width:150px; max-height:143px; }
.gd_con_5_feb_2025_s2_6_2::after {content: '\00a0';display: inline-block; width:150px; height:143px; background-position: 95.88360539389637% 0.2824858757062147%; background-size: 1039.3333333333333% 347.5524475524476%; background-image: url(gdcon5feb2025s2_0.png);padding: 0; }
div.gd_con_5_feb_2025_s2_6_2::after {max-width:150px; width:100%;height:0;padding: 0 0 95.33333333333333% 0;}
.gd_con_5_feb_2025_s2_6_3 {max-width:142px; max-height:147px; }
.gd_con_5_feb_2025_s2_6_3::after {content: '\00a0';display: inline-block; width:142px; height:147px; background-position: 99.92942836979535% 41.42857142857143%; background-size: 1097.887323943662% 338.0952380952381%; background-image: url(gdcon5feb2025s2_0.png);padding: 0; }
div.gd_con_5_feb_2025_s2_6_3::after {max-width:142px; width:100%;height:0;padding: 0 0 103.52112676056338% 0;}
.gd_con_5_feb_2025_s2_6_4 {max-width:226px; max-height:213px; }
.gd_con_5_feb_2025_s2_6_4::after {content: '\00a0';display: inline-block; width:226px; height:213px; background-position: 50.337584396099025% 98.2394366197183%; background-size: 689.8230088495575% 233.33333333333334%; background-image: url(gdcon5feb2025s2_0.png);padding: 0; }
div.gd_con_5_feb_2025_s2_6_4::after {max-width:226px; width:100%;height:0;padding: 0 0 94.24778761061947% 0;}

@keyframes gd_con_5_feb_2025_s2-frames {
    0% { background-position: 28.21397756686799% 0.26737967914438504%;  }
    25% { background-position: 0.08103727714748785% 0.3125%;  }
    50% { background-position: 98.05959805959806% 99.68354430379746%;  }
    75% { background-position: 0.09442870632672333% 45.78005115089514%;  }
}

.gd_con_5_feb_2025_s2-animation {
    max-width: 400px;
    max-height: 123px;
}
.gd_con_5_feb_2025_s2-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 400px;
    height: 123px;
    padding: 0;
    background-image: url(gdcon5feb2025s2_0.png);
    background-size: 389.75% 404.0650406504065%; 
    animation-name: gd_con_5_feb_2025_s2-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_5_feb_2025_s2-animation::after {
    max-width: 400px;
    width: 100%;
    height: 0;
    padding: 0 0 30.75% 0;
}

@keyframes gd_con_5_feb_2025_s2_14-frames {
    0% { background-position: 34.72834067547724% 93.77049180327869%;  }
    25% { background-position: 20.014716703458426% 95.01661129568106%;  }
    50% { background-position: 65.93245227606461% 63.071895424836605%;  }
    75% { background-position: 59.95591476855253% 0.32679738562091504%;  }
}

.gd_con_5_feb_2025_s2_14-animation {
    max-width: 197px;
    max-height: 192px;
}
.gd_con_5_feb_2025_s2_14-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 197px;
    height: 192px;
    padding: 0;
    background-image: url(gdcon5feb2025s2_0.png);
    background-size: 791.3705583756346% 258.8541666666667%; 
    animation-name: gd_con_5_feb_2025_s2_14-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_5_feb_2025_s2_14-animation::after {
    max-width: 197px;
    width: 100%;
    height: 0;
    padding: 0 0 97.46192893401015% 0;
}

@keyframes gd_con_5_feb_2025_s2_20-frames {
    0% { background-position: 46.932952924393724% 36.33720930232558%;  }
    25% { background-position: 89.65763195435093% 96.52173913043478%;  }
    50% { background-position: 35.75498575498575% 36.76470588235294%;  }
    75% { background-position: 89.77272727272727% 47.10982658959538%;  }
}

.gd_con_5_feb_2025_s2_20-animation {
    max-width: 157px;
    max-height: 153px;
}
.gd_con_5_feb_2025_s2_20-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 157px;
    height: 153px;
    padding: 0;
    background-image: url(gdcon5feb2025s2_0.png);
    background-size: 992.9936305732484% 324.83660130718954%; 
    animation-name: gd_con_5_feb_2025_s2_20-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_5_feb_2025_s2_20-animation::after {
    max-width: 157px;
    width: 100%;
    height: 0;
    padding: 0 0 97.45222929936305% 0;
}

@keyframes gd_con_5_feb_2025_s2_3-frames {
    0% { background-position: 78.73563218390805% 50.59880239520958%;  }
    25% { background-position: 85.02865329512893% 0.2976190476190476%;  }
    50% { background-position: 78.34167262330236% 99.40298507462687%;  }
    75% { background-position: 73.12680115273776% 0.30303030303030304%;  }
}

.gd_con_5_feb_2025_s2_3-animation {
    max-width: 167px;
    max-height: 163px;
}
.gd_con_5_feb_2025_s2_3-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 167px;
    height: 163px;
    padding: 0;
    background-image: url(gdcon5feb2025s2_0.png);
    background-size: 933.5329341317365% 304.9079754601227%; 
    animation-name: gd_con_5_feb_2025_s2_3-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_5_feb_2025_s2_3-animation::after {
    max-width: 167px;
    width: 100%;
    height: 0;
    padding: 0 0 97.60479041916167% 0;
}

@keyframes gd_con_5_feb_2025_s2_6-frames {
    0% { background-position: 0.07757951900698215% 82.65895953757226%;  }
    25% { background-position: 95.88360539389637% 0.2824858757062147%;  }
    50% { background-position: 99.92942836979535% 41.42857142857143%;  }
    75% { background-position: 50.337584396099025% 98.2394366197183%;  }
}

.gd_con_5_feb_2025_s2_6-animation {
    max-width: 270px;
    max-height: 151px;
}
.gd_con_5_feb_2025_s2_6-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 270px;
    height: 151px;
    padding: 0;
    background-image: url(gdcon5feb2025s2_0.png);
    background-size: 577.4074074074074% 329.13907284768214%; 
    animation-name: gd_con_5_feb_2025_s2_6-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_5_feb_2025_s2_6-animation::after {
    max-width: 270px;
    width: 100%;
    height: 0;
    padding: 0 0 55.925925925925924% 0;
}

/* $TexturePacker:SmartUpdate:625ff9627d2fcd5eaed877e5364ecdd4:1be31837019b6224677efe30f97e526e:36485c703777f7365a1be0fd9ff4cb6c$ */
