/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.gd_con_21_feb_2024_s3_16 {max-width:300px; max-height:91px; }
.gd_con_21_feb_2024_s3_16::after {content: '\00a0';display: inline-block; width:300px; height:91px; background-position: 0.4854368932038835% 46.08540925266904%; background-size: 168.66666666666666% 717.5824175824176%; background-image: url(gdcon21feb2024s3_0.png);padding: 0; }
div.gd_con_21_feb_2024_s3_16::after {max-width:300px; width:100%;height:0;padding: 0 0 30.333333333333332% 0;}
.gd_con_21_feb_2024_s3_16_1 {max-width:100px; max-height:99px; }
.gd_con_21_feb_2024_s3_16_1::after {content: '\00a0';display: inline-block; width:100px; height:99px; background-position: 25.123152709359605% 99.81949458483754%; background-size: 506% 659.5959595959596%; background-image: url(gdcon21feb2024s3_0.png);padding: 0; }
div.gd_con_21_feb_2024_s3_16_1::after {max-width:100px; width:100%;height:0;padding: 0 0 99% 0;}
.gd_con_21_feb_2024_s3_16_2 {max-width:100px; max-height:99px; }
.gd_con_21_feb_2024_s3_16_2::after {content: '\00a0';display: inline-block; width:100px; height:99px; background-position: 99.75369458128078% 99.63898916967509%; background-size: 506% 659.5959595959596%; background-image: url(gdcon21feb2024s3_0.png);padding: 0; }
div.gd_con_21_feb_2024_s3_16_2::after {max-width:100px; width:100%;height:0;padding: 0 0 99% 0;}
.gd_con_21_feb_2024_s3_16_3 {max-width:100px; max-height:100px; }
.gd_con_21_feb_2024_s3_16_3::after {content: '\00a0';display: inline-block; width:100px; height:100px; background-position: 25.123152709359605% 81.73598553345388%; background-size: 506% 653%; background-image: url(gdcon21feb2024s3_0.png);padding: 0; }
div.gd_con_21_feb_2024_s3_16_3::after {max-width:100px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s3_16_4 {max-width:100px; max-height:100px; }
.gd_con_21_feb_2024_s3_16_4::after {content: '\00a0';display: inline-block; width:100px; height:100px; background-position: 50% 81.55515370705244%; background-size: 506% 653%; background-image: url(gdcon21feb2024s3_0.png);padding: 0; }
div.gd_con_21_feb_2024_s3_16_4::after {max-width:100px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s3_20 {max-width:475px; max-height:82px; }
.gd_con_21_feb_2024_s3_20::after {content: '\00a0';display: inline-block; width:475px; height:82px; background-position: 3.225806451612903% 0.17513134851138354%; background-size: 106.52631578947368% 796.3414634146342%; background-image: url(gdcon21feb2024s3_0.png);padding: 0; }
div.gd_con_21_feb_2024_s3_20::after {max-width:475px; width:100%;height:0;padding: 0 0 17.263157894736842% 0;}
.gd_con_21_feb_2024_s3_20_1 {max-width:100px; max-height:100px; }
.gd_con_21_feb_2024_s3_20_1::after {content: '\00a0';display: inline-block; width:100px; height:100px; background-position: 50% 99.81916817359856%; background-size: 506% 653%; background-image: url(gdcon21feb2024s3_0.png);padding: 0; }
div.gd_con_21_feb_2024_s3_20_1::after {max-width:100px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s3_20_2 {max-width:100px; max-height:100px; }
.gd_con_21_feb_2024_s3_20_2::after {content: '\00a0';display: inline-block; width:100px; height:100px; background-position: 74.8768472906404% 81.55515370705244%; background-size: 506% 653%; background-image: url(gdcon21feb2024s3_0.png);padding: 0; }
div.gd_con_21_feb_2024_s3_20_2::after {max-width:100px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s3_20_3 {max-width:100px; max-height:100px; }
.gd_con_21_feb_2024_s3_20_3::after {content: '\00a0';display: inline-block; width:100px; height:100px; background-position: 74.8768472906404% 99.81916817359856%; background-size: 506% 653%; background-image: url(gdcon21feb2024s3_0.png);padding: 0; }
div.gd_con_21_feb_2024_s3_20_3::after {max-width:100px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s3_20_4 {max-width:100px; max-height:100px; }
.gd_con_21_feb_2024_s3_20_4::after {content: '\00a0';display: inline-block; width:100px; height:100px; background-position: 99.75369458128078% 81.55515370705244%; background-size: 506% 653%; background-image: url(gdcon21feb2024s3_0.png);padding: 0; }
div.gd_con_21_feb_2024_s3_20_4::after {max-width:100px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s3_3 {max-width:300px; max-height:92px; }
.gd_con_21_feb_2024_s3_3::after {content: '\00a0';display: inline-block; width:300px; height:92px; background-position: 0.4854368932038835% 29.590017825311943%; background-size: 168.66666666666666% 709.7826086956521%; background-image: url(gdcon21feb2024s3_0.png);padding: 0; }
div.gd_con_21_feb_2024_s3_3::after {max-width:300px; width:100%;height:0;padding: 0 0 30.666666666666668% 0;}
.gd_con_21_feb_2024_s3_3_1 {max-width:100px; max-height:100px; }
.gd_con_21_feb_2024_s3_3_1::after {content: '\00a0';display: inline-block; width:100px; height:100px; background-position: 74.38423645320196% 45.02712477396022%; background-size: 506% 653%; background-image: url(gdcon21feb2024s3_0.png);padding: 0; }
div.gd_con_21_feb_2024_s3_3_1::after {max-width:100px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s3_3_2 {max-width:100px; max-height:100px; }
.gd_con_21_feb_2024_s3_3_2::after {content: '\00a0';display: inline-block; width:100px; height:100px; background-position: 99.26108374384236% 45.02712477396022%; background-size: 506% 653%; background-image: url(gdcon21feb2024s3_0.png);padding: 0; }
div.gd_con_21_feb_2024_s3_3_2::after {max-width:100px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s3_3_3 {max-width:100px; max-height:100px; }
.gd_con_21_feb_2024_s3_3_3::after {content: '\00a0';display: inline-block; width:100px; height:100px; background-position: 74.38423645320196% 63.29113924050633%; background-size: 506% 653%; background-image: url(gdcon21feb2024s3_0.png);padding: 0; }
div.gd_con_21_feb_2024_s3_3_3::after {max-width:100px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s3_3_4 {max-width:100px; max-height:100px; }
.gd_con_21_feb_2024_s3_3_4::after {content: '\00a0';display: inline-block; width:100px; height:100px; background-position: 99.26108374384236% 63.29113924050633%; background-size: 506% 653%; background-image: url(gdcon21feb2024s3_0.png);padding: 0; }
div.gd_con_21_feb_2024_s3_3_4::after {max-width:100px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s3_4 {max-width:432px; max-height:81px; }
.gd_con_21_feb_2024_s3_4::after {content: '\00a0';display: inline-block; width:432px; height:81px; background-position: 1.3513513513513513% 14.685314685314685%; background-size: 117.12962962962963% 806.1728395061729%; background-image: url(gdcon21feb2024s3_0.png);padding: 0; }
div.gd_con_21_feb_2024_s3_4::after {max-width:432px; width:100%;height:0;padding: 0 0 18.75% 0;}
.gd_con_21_feb_2024_s3_4_1 {max-width:100px; max-height:100px; }
.gd_con_21_feb_2024_s3_4_1::after {content: '\00a0';display: inline-block; width:100px; height:100px; background-position: 0.24630541871921183% 81.55515370705244%; background-size: 506% 653%; background-image: url(gdcon21feb2024s3_0.png);padding: 0; }
div.gd_con_21_feb_2024_s3_4_1::after {max-width:100px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s3_4_2 {max-width:100px; max-height:100px; }
.gd_con_21_feb_2024_s3_4_2::after {content: '\00a0';display: inline-block; width:100px; height:100px; background-position: 0.24630541871921183% 99.81916817359856%; background-size: 506% 653%; background-image: url(gdcon21feb2024s3_0.png);padding: 0; }
div.gd_con_21_feb_2024_s3_4_2::after {max-width:100px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s3_4_3 {max-width:100px; max-height:100px; }
.gd_con_21_feb_2024_s3_4_3::after {content: '\00a0';display: inline-block; width:100px; height:100px; background-position: 25.123152709359605% 63.47197106690778%; background-size: 506% 653%; background-image: url(gdcon21feb2024s3_0.png);padding: 0; }
div.gd_con_21_feb_2024_s3_4_3::after {max-width:100px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s3_4_4 {max-width:100px; max-height:99px; }
.gd_con_21_feb_2024_s3_4_4::after {content: '\00a0';display: inline-block; width:100px; height:99px; background-position: 0.24630541871921183% 63.35740072202166%; background-size: 506% 659.5959595959596%; background-image: url(gdcon21feb2024s3_0.png);padding: 0; }
div.gd_con_21_feb_2024_s3_4_4::after {max-width:100px; width:100%;height:0;padding: 0 0 99% 0;}
.gd_con_21_feb_2024_s3_8 {max-width:200px; max-height:82px; }
.gd_con_21_feb_2024_s3_8::after {content: '\00a0';display: inline-block; width:200px; height:82px; background-position: 98.69281045751634% 29.071803852889666%; background-size: 253% 796.3414634146342%; background-image: url(gdcon21feb2024s3_0.png);padding: 0; }
div.gd_con_21_feb_2024_s3_8::after {max-width:200px; width:100%;height:0;padding: 0 0 41% 0;}

@keyframes gd_con_21_feb_2024_s3-frames {
    0% { background-position: 0.4854368932038835% 29.590017825311943%;  }
    20% { background-position: 1.3513513513513513% 14.685314685314685%;  }
    40% { background-position: 98.69281045751634% 29.071803852889666%;  }
    60% { background-position: 0.4854368932038835% 46.08540925266904%;  }
    80% { background-position: 3.225806451612903% 0.17513134851138354%;  }
}

.gd_con_21_feb_2024_s3-animation {
    max-width: 300px;
    max-height: 92px;
}
.gd_con_21_feb_2024_s3-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 300px;
    height: 92px;
    padding: 0;
    background-image: url(gdcon21feb2024s3_0.png);
    background-size: 168.66666666666666% 709.7826086956521%; 
    animation-name: gd_con_21_feb_2024_s3-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_21_feb_2024_s3-animation::after {
    max-width: 300px;
    width: 100%;
    height: 0;
    padding: 0 0 30.666666666666668% 0;
}

@keyframes gd_con_21_feb_2024_s3_16-frames {
    0% { background-position: 25.123152709359605% 99.81949458483754%;  }
    25% { background-position: 99.75369458128078% 99.63898916967509%;  }
    50% { background-position: 25.123152709359605% 81.73598553345388%;  }
    75% { background-position: 50% 81.55515370705244%;  }
}

.gd_con_21_feb_2024_s3_16-animation {
    max-width: 100px;
    max-height: 99px;
}
.gd_con_21_feb_2024_s3_16-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 100px;
    height: 99px;
    padding: 0;
    background-image: url(gdcon21feb2024s3_0.png);
    background-size: 506% 659.5959595959596%; 
    animation-name: gd_con_21_feb_2024_s3_16-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_21_feb_2024_s3_16-animation::after {
    max-width: 100px;
    width: 100%;
    height: 0;
    padding: 0 0 99% 0;
}

@keyframes gd_con_21_feb_2024_s3_20-frames {
    0% { background-position: 50% 99.81916817359856%;  }
    25% { background-position: 74.8768472906404% 81.55515370705244%;  }
    50% { background-position: 74.8768472906404% 99.81916817359856%;  }
    75% { background-position: 99.75369458128078% 81.55515370705244%;  }
}

.gd_con_21_feb_2024_s3_20-animation {
    max-width: 100px;
    max-height: 100px;
}
.gd_con_21_feb_2024_s3_20-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 0;
    background-image: url(gdcon21feb2024s3_0.png);
    background-size: 506% 653%; 
    animation-name: gd_con_21_feb_2024_s3_20-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_21_feb_2024_s3_20-animation::after {
    max-width: 100px;
    width: 100%;
    height: 0;
    padding: 0 0 100% 0;
}

@keyframes gd_con_21_feb_2024_s3_3-frames {
    0% { background-position: 74.38423645320196% 45.02712477396022%;  }
    25% { background-position: 99.26108374384236% 45.02712477396022%;  }
    50% { background-position: 74.38423645320196% 63.29113924050633%;  }
    75% { background-position: 99.26108374384236% 63.29113924050633%;  }
}

.gd_con_21_feb_2024_s3_3-animation {
    max-width: 100px;
    max-height: 100px;
}
.gd_con_21_feb_2024_s3_3-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 0;
    background-image: url(gdcon21feb2024s3_0.png);
    background-size: 506% 653%; 
    animation-name: gd_con_21_feb_2024_s3_3-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_21_feb_2024_s3_3-animation::after {
    max-width: 100px;
    width: 100%;
    height: 0;
    padding: 0 0 100% 0;
}

@keyframes gd_con_21_feb_2024_s3_4-frames {
    0% { background-position: 0.24630541871921183% 81.55515370705244%;  }
    25% { background-position: 0.24630541871921183% 99.81916817359856%;  }
    50% { background-position: 25.123152709359605% 63.47197106690778%;  }
    75% { background-position: 0.24630541871921183% 63.35740072202166%;  }
}

.gd_con_21_feb_2024_s3_4-animation {
    max-width: 100px;
    max-height: 100px;
}
.gd_con_21_feb_2024_s3_4-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 0;
    background-image: url(gdcon21feb2024s3_0.png);
    background-size: 506% 653%; 
    animation-name: gd_con_21_feb_2024_s3_4-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_21_feb_2024_s3_4-animation::after {
    max-width: 100px;
    width: 100%;
    height: 0;
    padding: 0 0 100% 0;
}

/* $TexturePacker:SmartUpdate:e5ba20de42e9ea32e9015774178f4872:e0b9fad7a80dcb1a52a07953d727b3a3:549079205af5dcc52932a29b5c64ba61$ */
