/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.gd_con_4_feb_2025_s2_10 {max-width:150px; max-height:126px; }
.gd_con_4_feb_2025_s2_10::after {content: '\00a0';display: inline-block; width:150px; height:126px; background-position: 99.71751412429379% 17.45928338762215%; background-size: 336% 1318.2539682539682%; background-image: url(gdcon4feb2025s2_0.png);padding: 0; }
div.gd_con_4_feb_2025_s2_10::after {max-width:150px; width:100%;height:0;padding: 0 0 84% 0;}
.gd_con_4_feb_2025_s2_10_1 {max-width:150px; max-height:123px; }
.gd_con_4_feb_2025_s2_10_1::after {content: '\00a0';display: inline-block; width:150px; height:123px; background-position: 99.71751412429379% 25.682704811443433%; background-size: 336% 1350.4065040650407%; background-image: url(gdcon4feb2025s2_0.png);padding: 0; }
div.gd_con_4_feb_2025_s2_10_1::after {max-width:150px; width:100%;height:0;padding: 0 0 82% 0;}
.gd_con_4_feb_2025_s2_10_1_1 {max-width:150px; max-height:148px; }
.gd_con_4_feb_2025_s2_10_1_1::after {content: '\00a0';display: inline-block; width:150px; height:148px; background-position: 57.06214689265537% 10.24454725710509%; background-size: 336% 1122.2972972972973%; background-image: url(gdcon4feb2025s2_0.png);padding: 0; }
div.gd_con_4_feb_2025_s2_10_1_1::after {max-width:150px; width:100%;height:0;padding: 0 0 98.66666666666667% 0;}
.gd_con_4_feb_2025_s2_10_2 {max-width:150px; max-height:136px; }
.gd_con_4_feb_2025_s2_10_2::after {content: '\00a0';display: inline-block; width:150px; height:136px; background-position: 99.71751412429379% 0.06557377049180328%; background-size: 336% 1221.3235294117646%; background-image: url(gdcon4feb2025s2_0.png);padding: 0; }
div.gd_con_4_feb_2025_s2_10_2::after {max-width:150px; width:100%;height:0;padding: 0 0 90.66666666666667% 0;}
.gd_con_4_feb_2025_s2_10_2_1 {max-width:150px; max-height:148px; }
.gd_con_4_feb_2025_s2_10_2_1::after {content: '\00a0';display: inline-block; width:150px; height:148px; background-position: 57.06214689265537% 20.092531394580305%; background-size: 336% 1122.2972972972973%; background-image: url(gdcon4feb2025s2_0.png);padding: 0; }
div.gd_con_4_feb_2025_s2_10_2_1::after {max-width:150px; width:100%;height:0;padding: 0 0 98.66666666666667% 0;}
.gd_con_4_feb_2025_s2_10_3 {max-width:150px; max-height:129px; }
.gd_con_4_feb_2025_s2_10_3::after {content: '\00a0';display: inline-block; width:150px; height:129px; background-position: 99.71751412429379% 9.007832898172325%; background-size: 336% 1287.5968992248063%; background-image: url(gdcon4feb2025s2_0.png);padding: 0; }
div.gd_con_4_feb_2025_s2_10_3::after {max-width:150px; width:100%;height:0;padding: 0 0 86% 0;}
.gd_con_4_feb_2025_s2_10_3_1 {max-width:150px; max-height:148px; }
.gd_con_4_feb_2025_s2_10_3_1::after {content: '\00a0';display: inline-block; width:150px; height:148px; background-position: 57.06214689265537% 29.940515532055517%; background-size: 336% 1122.2972972972973%; background-image: url(gdcon4feb2025s2_0.png);padding: 0; }
div.gd_con_4_feb_2025_s2_10_3_1::after {max-width:150px; width:100%;height:0;padding: 0 0 98.66666666666667% 0;}
.gd_con_4_feb_2025_s2_10_4 {max-width:150px; max-height:144px; }
.gd_con_4_feb_2025_s2_10_4::after {content: '\00a0';display: inline-block; width:150px; height:144px; background-position: 99.71751412429379% 63.282794990112066%; background-size: 336% 1153.4722222222222%; background-image: url(gdcon4feb2025s2_0.png);padding: 0; }
div.gd_con_4_feb_2025_s2_10_4::after {max-width:150px; width:100%;height:0;padding: 0 0 96% 0;}
.gd_con_4_feb_2025_s2_10_4_1 {max-width:150px; max-height:148px; }
.gd_con_4_feb_2025_s2_10_4_1::after {content: '\00a0';display: inline-block; width:150px; height:148px; background-position: 85.31073446327683% 47.05882352941177%; background-size: 336% 1122.2972972972973%; background-image: url(gdcon4feb2025s2_0.png);padding: 0; }
div.gd_con_4_feb_2025_s2_10_4_1::after {max-width:150px; width:100%;height:0;padding: 0 0 98.66666666666667% 0;}
.gd_con_4_feb_2025_s2_11_1 {max-width:300px; max-height:144px; }
.gd_con_4_feb_2025_s2_11_1::after {content: '\00a0';display: inline-block; width:300px; height:144px; background-position: 74.50980392156863% 73.76400791034938%; background-size: 168% 1153.4722222222222%; background-image: url(gdcon4feb2025s2_0.png);padding: 0; }
div.gd_con_4_feb_2025_s2_11_1::after {max-width:300px; width:100%;height:0;padding: 0 0 48% 0;}
.gd_con_4_feb_2025_s2_11_1_1 {max-width:300px; max-height:171px; }
.gd_con_4_feb_2025_s2_11_1_1::after {content: '\00a0';display: inline-block; width:300px; height:171px; background-position: 0.49019607843137253% 53.355704697986575%; background-size: 168% 971.3450292397661%; background-image: url(gdcon4feb2025s2_0.png);padding: 0; }
div.gd_con_4_feb_2025_s2_11_1_1::after {max-width:300px; width:100%;height:0;padding: 0 0 57% 0;}
.gd_con_4_feb_2025_s2_11_2 {max-width:200px; max-height:151px; }
.gd_con_4_feb_2025_s2_11_2::after {content: '\00a0';display: inline-block; width:200px; height:151px; background-position: 50% 64.03973509933775%; background-size: 252% 1100%; background-image: url(gdcon4feb2025s2_0.png);padding: 0; }
div.gd_con_4_feb_2025_s2_11_2::after {max-width:200px; width:100%;height:0;padding: 0 0 75.5% 0;}
.gd_con_4_feb_2025_s2_11_2_1 {max-width:200px; max-height:197px; }
.gd_con_4_feb_2025_s2_11_2_1::after {content: '\00a0';display: inline-block; width:200px; height:197px; background-position: 0.32894736842105265% 28.756830601092897%; background-size: 252% 843.1472081218274%; background-image: url(gdcon4feb2025s2_0.png);padding: 0; }
div.gd_con_4_feb_2025_s2_11_2_1::after {max-width:200px; width:100%;height:0;padding: 0 0 98.5% 0;}
.gd_con_4_feb_2025_s2_11_3 {max-width:200px; max-height:175px; }
.gd_con_4_feb_2025_s2_11_3::after {content: '\00a0';display: inline-block; width:200px; height:175px; background-position: 0.32894736842105265% 41.655450874831764%; background-size: 252% 949.1428571428571%; background-image: url(gdcon4feb2025s2_0.png);padding: 0; }
div.gd_con_4_feb_2025_s2_11_3::after {max-width:200px; width:100%;height:0;padding: 0 0 87.5% 0;}
.gd_con_4_feb_2025_s2_11_3_1 {max-width:200px; max-height:200px; }
.gd_con_4_feb_2025_s2_11_3_1::after {content: '\00a0';display: inline-block; width:200px; height:200px; background-position: 0.32894736842105265% 15.058179329226558%; background-size: 252% 830.5%; background-image: url(gdcon4feb2025s2_0.png);padding: 0; }
div.gd_con_4_feb_2025_s2_11_3_1::after {max-width:200px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_4_feb_2025_s2_11_4 {max-width:200px; max-height:145px; }
.gd_con_4_feb_2025_s2_11_4::after {content: '\00a0';display: inline-block; width:200px; height:145px; background-position: 99.34210526315789% 83.37730870712402%; background-size: 252% 1145.5172413793102%; background-image: url(gdcon4feb2025s2_0.png);padding: 0; }
div.gd_con_4_feb_2025_s2_11_4::after {max-width:200px; width:100%;height:0;padding: 0 0 72.5% 0;}
.gd_con_4_feb_2025_s2_11_4_1 {max-width:200px; max-height:218px; }
.gd_con_4_feb_2025_s2_11_4_1::after {content: '\00a0';display: inline-block; width:200px; height:218px; background-position: 0.32894736842105265% 0.0693000693000693%; background-size: 252% 761.9266055045872%; background-image: url(gdcon4feb2025s2_0.png);padding: 0; }
div.gd_con_4_feb_2025_s2_11_4_1::after {max-width:200px; width:100%;height:0;padding: 0 0 109% 0;}
.gd_con_4_feb_2025_s2_13 {max-width:300px; max-height:137px; }
.gd_con_4_feb_2025_s2_13::after {content: '\00a0';display: inline-block; width:300px; height:137px; background-position: 0.49019607843137253% 99.08136482939632%; background-size: 168% 1212.4087591240875%; background-image: url(gdcon4feb2025s2_0.png);padding: 0; }
div.gd_con_4_feb_2025_s2_13::after {max-width:300px; width:100%;height:0;padding: 0 0 45.666666666666664% 0;}
.gd_con_4_feb_2025_s2_13_1 {max-width:200px; max-height:98px; }
.gd_con_4_feb_2025_s2_13_1::after {content: '\00a0';display: inline-block; width:200px; height:98px; background-position: 99.34210526315789% 55.08637236084453%; background-size: 252% 1694.8979591836735%; background-image: url(gdcon4feb2025s2_0.png);padding: 0; }
div.gd_con_4_feb_2025_s2_13_1::after {max-width:200px; width:100%;height:0;padding: 0 0 49% 0;}
.gd_con_4_feb_2025_s2_3 {max-width:400px; max-height:85px; }
.gd_con_4_feb_2025_s2_3::after {content: '\00a0';display: inline-block; width:400px; height:85px; background-position: 0.9615384615384616% 90.35532994923858%; background-size: 126% 1954.1176470588234%; background-image: url(gdcon4feb2025s2_0.png);padding: 0; }
div.gd_con_4_feb_2025_s2_3::after {max-width:400px; width:100%;height:0;padding: 0 0 21.25% 0;}
.gd_con_4_feb_2025_s2_3_1 {max-width:150px; max-height:153px; }
.gd_con_4_feb_2025_s2_3_1::after {content: '\00a0';display: inline-block; width:150px; height:153px; background-position: 0.2824858757062147% 64.12466843501326%; background-size: 336% 1085.6209150326797%; background-image: url(gdcon4feb2025s2_0.png);padding: 0; }
div.gd_con_4_feb_2025_s2_3_1::after {max-width:150px; width:100%;height:0;padding: 0 0 102% 0;}
.gd_con_4_feb_2025_s2_3_2 {max-width:150px; max-height:153px; }
.gd_con_4_feb_2025_s2_3_2::after {content: '\00a0';display: inline-block; width:150px; height:153px; background-position: 0.2824858757062147% 74.3368700265252%; background-size: 336% 1085.6209150326797%; background-image: url(gdcon4feb2025s2_0.png);padding: 0; }
div.gd_con_4_feb_2025_s2_3_2::after {max-width:150px; width:100%;height:0;padding: 0 0 102% 0;}
.gd_con_4_feb_2025_s2_3_3 {max-width:150px; max-height:153px; }
.gd_con_4_feb_2025_s2_3_3::after {content: '\00a0';display: inline-block; width:150px; height:153px; background-position: 57.06214689265537% 0.06631299734748011%; background-size: 336% 1085.6209150326797%; background-image: url(gdcon4feb2025s2_0.png);padding: 0; }
div.gd_con_4_feb_2025_s2_3_3::after {max-width:150px; width:100%;height:0;padding: 0 0 102% 0;}
.gd_con_4_feb_2025_s2_3_4 {max-width:150px; max-height:150px; }
.gd_con_4_feb_2025_s2_3_4::after {content: '\00a0';display: inline-block; width:150px; height:150px; background-position: 85.31073446327683% 99.93381866313699%; background-size: 336% 1107.3333333333333%; background-image: url(gdcon4feb2025s2_0.png);padding: 0; }
div.gd_con_4_feb_2025_s2_3_4::after {max-width:150px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_4_feb_2025_s2_6 {max-width:300px; max-height:109px; }
.gd_con_4_feb_2025_s2_6::after {content: '\00a0';display: inline-block; width:300px; height:109px; background-position: 99.01960784313725% 38.78865979381443%; background-size: 168% 1523.8532110091744%; background-image: url(gdcon4feb2025s2_0.png);padding: 0; }
div.gd_con_4_feb_2025_s2_6::after {max-width:300px; width:100%;height:0;padding: 0 0 36.333333333333336% 0;}
.gd_con_4_feb_2025_s2_6_1 {max-width:300px; max-height:148px; }
.gd_con_4_feb_2025_s2_6_1::after {content: '\00a0';display: inline-block; width:300px; height:148px; background-position: 0.49019607843137253% 84.26966292134831%; background-size: 168% 1122.2972972972973%; background-image: url(gdcon4feb2025s2_0.png);padding: 0; }
div.gd_con_4_feb_2025_s2_6_1::after {max-width:300px; width:100%;height:0;padding: 0 0 49.333333333333336% 0;}

@keyframes gd_con_4_feb_2025_s2-frames {
    0% { background-position: 0.9615384615384616% 90.35532994923858%;  }
    25% { background-position: 99.01960784313725% 38.78865979381443%;  }
    50% { background-position: 99.71751412429379% 17.45928338762215%;  }
    75% { background-position: 0.49019607843137253% 99.08136482939632%;  }
}

.gd_con_4_feb_2025_s2-animation {
    max-width: 400px;
    max-height: 85px;
}
.gd_con_4_feb_2025_s2-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 400px;
    height: 85px;
    padding: 0;
    background-image: url(gdcon4feb2025s2_0.png);
    background-size: 126% 1954.1176470588234%; 
    animation-name: gd_con_4_feb_2025_s2-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_4_feb_2025_s2-animation::after {
    max-width: 400px;
    width: 100%;
    height: 0;
    padding: 0 0 21.25% 0;
}

@keyframes gd_con_4_feb_2025_s2_10-frames {
    0% { background-position: 99.71751412429379% 25.682704811443433%;  }
    25% { background-position: 99.71751412429379% 0.06557377049180328%;  }
    50% { background-position: 99.71751412429379% 9.007832898172325%;  }
    75% { background-position: 99.71751412429379% 63.282794990112066%;  }
}

.gd_con_4_feb_2025_s2_10-animation {
    max-width: 150px;
    max-height: 123px;
}
.gd_con_4_feb_2025_s2_10-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 150px;
    height: 123px;
    padding: 0;
    background-image: url(gdcon4feb2025s2_0.png);
    background-size: 336% 1350.4065040650407%; 
    animation-name: gd_con_4_feb_2025_s2_10-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_4_feb_2025_s2_10-animation::after {
    max-width: 150px;
    width: 100%;
    height: 0;
    padding: 0 0 82% 0;
}

@keyframes gd_con_4_feb_2025_s2_11-frames {
    0% { background-position: 74.50980392156863% 73.76400791034938%;  }
    25% { background-position: 50% 64.03973509933775%;  }
    50% { background-position: 0.32894736842105265% 41.655450874831764%;  }
    75% { background-position: 99.34210526315789% 83.37730870712402%;  }
}

.gd_con_4_feb_2025_s2_11-animation {
    max-width: 300px;
    max-height: 144px;
}
.gd_con_4_feb_2025_s2_11-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 300px;
    height: 144px;
    padding: 0;
    background-image: url(gdcon4feb2025s2_0.png);
    background-size: 168% 1153.4722222222222%; 
    animation-name: gd_con_4_feb_2025_s2_11-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_4_feb_2025_s2_11-animation::after {
    max-width: 300px;
    width: 100%;
    height: 0;
    padding: 0 0 48% 0;
}

@keyframes gd_con_4_feb_2025_s2_3-frames {
    0% { background-position: 0.2824858757062147% 64.12466843501326%;  }
    25% { background-position: 0.2824858757062147% 74.3368700265252%;  }
    50% { background-position: 57.06214689265537% 0.06631299734748011%;  }
    75% { background-position: 85.31073446327683% 99.93381866313699%;  }
}

.gd_con_4_feb_2025_s2_3-animation {
    max-width: 150px;
    max-height: 153px;
}
.gd_con_4_feb_2025_s2_3-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 150px;
    height: 153px;
    padding: 0;
    background-image: url(gdcon4feb2025s2_0.png);
    background-size: 336% 1085.6209150326797%; 
    animation-name: gd_con_4_feb_2025_s2_3-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_4_feb_2025_s2_3-animation::after {
    max-width: 150px;
    width: 100%;
    height: 0;
    padding: 0 0 102% 0;
}

/* $TexturePacker:SmartUpdate:ae894267f2dd9517af6d7e680aa68a12:60e474134476823ae2e9e46dd8f30a53:8edd3b91b8ba452150b68533c233eb3d$ */
