/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.gd_con_21_feb_2024_s2_12 {max-width:453px; max-height:82px; }
.gd_con_21_feb_2024_s2_12::after {content: '\00a0';display: inline-block; width:453px; height:82px; background-position: 94.0828402366864% 0.24630541871921183%; background-size: 211.9205298013245% 595.1219512195122%; background-image: url(gdcon21feb2024s2_0.png);padding: 0; }
div.gd_con_21_feb_2024_s2_12::after {max-width:453px; width:100%;height:0;padding: 0 0 18.101545253863133% 0;}
.gd_con_21_feb_2024_s2_12_1 {max-width:100px; max-height:100px; }
.gd_con_21_feb_2024_s2_12_1::after {content: '\00a0';display: inline-block; width:100px; height:100px; background-position: 17.674418604651162% 99.74226804123711%; background-size: 960% 488%; background-image: url(gdcon21feb2024s2_0.png);padding: 0; }
div.gd_con_21_feb_2024_s2_12_1::after {max-width:100px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s2_12_2 {max-width:100px; max-height:100px; }
.gd_con_21_feb_2024_s2_12_2::after {content: '\00a0';display: inline-block; width:100px; height:100px; background-position: 29.41860465116279% 99.74226804123711%; background-size: 960% 488%; background-image: url(gdcon21feb2024s2_0.png);padding: 0; }
div.gd_con_21_feb_2024_s2_12_2::after {max-width:100px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s2_12_3 {max-width:100px; max-height:100px; }
.gd_con_21_feb_2024_s2_12_3::after {content: '\00a0';display: inline-block; width:100px; height:100px; background-position: 41.16279069767442% 99.74226804123711%; background-size: 960% 488%; background-image: url(gdcon21feb2024s2_0.png);padding: 0; }
div.gd_con_21_feb_2024_s2_12_3::after {max-width:100px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s2_12_4 {max-width:100px; max-height:99px; }
.gd_con_21_feb_2024_s2_12_4::after {content: '\00a0';display: inline-block; width:100px; height:99px; background-position: 99.65116279069767% 47.55784061696658%; background-size: 960% 492.92929292929296%; background-image: url(gdcon21feb2024s2_0.png);padding: 0; }
div.gd_con_21_feb_2024_s2_12_4::after {max-width:100px; width:100%;height:0;padding: 0 0 99% 0;}
.gd_con_21_feb_2024_s2_15 {max-width:100px; max-height:94px; }
.gd_con_21_feb_2024_s2_15::after {content: '\00a0';display: inline-block; width:100px; height:94px; background-position: 87.90697674418605% 72.58883248730965%; background-size: 960% 519.1489361702128%; background-image: url(gdcon21feb2024s2_0.png);padding: 0; }
div.gd_con_21_feb_2024_s2_15::after {max-width:100px; width:100%;height:0;padding: 0 0 94% 0;}
.gd_con_21_feb_2024_s2_15_1 {max-width:100px; max-height:100px; }
.gd_con_21_feb_2024_s2_15_1::after {content: '\00a0';display: inline-block; width:100px; height:100px; background-position: 52.906976744186046% 99.48453608247422%; background-size: 960% 488%; background-image: url(gdcon21feb2024s2_0.png);padding: 0; }
div.gd_con_21_feb_2024_s2_15_1::after {max-width:100px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s2_15_2 {max-width:100px; max-height:100px; }
.gd_con_21_feb_2024_s2_15_2::after {content: '\00a0';display: inline-block; width:100px; height:100px; background-position: 64.65116279069767% 99.48453608247422%; background-size: 960% 488%; background-image: url(gdcon21feb2024s2_0.png);padding: 0; }
div.gd_con_21_feb_2024_s2_15_2::after {max-width:100px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s2_15_3 {max-width:100px; max-height:100px; }
.gd_con_21_feb_2024_s2_15_3::after {content: '\00a0';display: inline-block; width:100px; height:100px; background-position: 76.3953488372093% 98.96907216494846%; background-size: 960% 488%; background-image: url(gdcon21feb2024s2_0.png);padding: 0; }
div.gd_con_21_feb_2024_s2_15_3::after {max-width:100px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s2_15_4 {max-width:100px; max-height:100px; }
.gd_con_21_feb_2024_s2_15_4::after {content: '\00a0';display: inline-block; width:100px; height:100px; background-position: 87.90697674418605% 21.649484536082475%; background-size: 960% 488%; background-image: url(gdcon21feb2024s2_0.png);padding: 0; }
div.gd_con_21_feb_2024_s2_15_4::after {max-width:100px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s2_16 {max-width:475px; max-height:81px; }
.gd_con_21_feb_2024_s2_16::after {content: '\00a0';display: inline-block; width:475px; height:81px; background-position: 0.20618556701030927% 0.2457002457002457%; background-size: 202.10526315789474% 602.4691358024692%; background-image: url(gdcon21feb2024s2_0.png);padding: 0; }
div.gd_con_21_feb_2024_s2_16::after {max-width:475px; width:100%;height:0;padding: 0 0 17.05263157894737% 0;}
.gd_con_21_feb_2024_s2_16_1 {max-width:100px; max-height:100px; }
.gd_con_21_feb_2024_s2_16_1::after {content: '\00a0';display: inline-block; width:100px; height:100px; background-position: 87.90697674418605% 47.68041237113402%; background-size: 960% 488%; background-image: url(gdcon21feb2024s2_0.png);padding: 0; }
div.gd_con_21_feb_2024_s2_16_1::after {max-width:100px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s2_16_2 {max-width:100px; max-height:99px; }
.gd_con_21_feb_2024_s2_16_2::after {content: '\00a0';display: inline-block; width:100px; height:99px; background-position: 99.88372093023256% 73.26478149100257%; background-size: 960% 492.92929292929296%; background-image: url(gdcon21feb2024s2_0.png);padding: 0; }
div.gd_con_21_feb_2024_s2_16_2::after {max-width:100px; width:100%;height:0;padding: 0 0 99% 0;}
.gd_con_21_feb_2024_s2_16_3 {max-width:100px; max-height:100px; }
.gd_con_21_feb_2024_s2_16_3::after {content: '\00a0';display: inline-block; width:100px; height:100px; background-position: 88.13953488372093% 98.19587628865979%; background-size: 960% 488%; background-image: url(gdcon21feb2024s2_0.png);padding: 0; }
div.gd_con_21_feb_2024_s2_16_3::after {max-width:100px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s2_16_4 {max-width:100px; max-height:100px; }
.gd_con_21_feb_2024_s2_16_4::after {content: '\00a0';display: inline-block; width:100px; height:100px; background-position: 99.65116279069767% 21.649484536082475%; background-size: 960% 488%; background-image: url(gdcon21feb2024s2_0.png);padding: 0; }
div.gd_con_21_feb_2024_s2_16_4::after {max-width:100px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s2_2 {max-width:150px; max-height:218px; }
.gd_con_21_feb_2024_s2_2::after {content: '\00a0';display: inline-block; width:150px; height:218px; background-position: 0.12345679012345678% 30.74074074074074%; background-size: 640% 223.85321100917432%; background-image: url(gdcon21feb2024s2_0.png);padding: 0; }
div.gd_con_21_feb_2024_s2_2::after {max-width:150px; width:100%;height:0;padding: 0 0 145.33333333333334% 0;}
.gd_con_21_feb_2024_s2_2_1 {max-width:150px; max-height:150px; }
.gd_con_21_feb_2024_s2_2_1::after {content: '\00a0';display: inline-block; width:150px; height:150px; background-position: 0.12345679012345678% 89.3491124260355%; background-size: 640% 325.3333333333333%; background-image: url(gdcon21feb2024s2_0.png);padding: 0; }
div.gd_con_21_feb_2024_s2_2_1::after {max-width:150px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s2_2_2 {max-width:150px; max-height:150px; }
.gd_con_21_feb_2024_s2_2_2::after {content: '\00a0';display: inline-block; width:150px; height:150px; background-position: 18.765432098765434% 69.8224852071006%; background-size: 640% 325.3333333333333%; background-image: url(gdcon21feb2024s2_0.png);padding: 0; }
div.gd_con_21_feb_2024_s2_2_2::after {max-width:150px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s2_2_3 {max-width:150px; max-height:148px; }
.gd_con_21_feb_2024_s2_2_3::after {content: '\00a0';display: inline-block; width:150px; height:148px; background-position: 74.69135802469135% 69.11764705882354%; background-size: 640% 329.72972972972974%; background-image: url(gdcon21feb2024s2_0.png);padding: 0; }
div.gd_con_21_feb_2024_s2_2_3::after {max-width:150px; width:100%;height:0;padding: 0 0 98.66666666666667% 0;}
.gd_con_21_feb_2024_s2_2_4 {max-width:150px; max-height:152px; }
.gd_con_21_feb_2024_s2_2_4::after {content: '\00a0';display: inline-block; width:150px; height:152px; background-position: 18.765432098765434% 24.702380952380953%; background-size: 640% 321.05263157894734%; background-image: url(gdcon21feb2024s2_0.png);padding: 0; }
div.gd_con_21_feb_2024_s2_2_4::after {max-width:150px; width:100%;height:0;padding: 0 0 101.33333333333333% 0;}
.gd_con_21_feb_2024_s2_5 {max-width:150px; max-height:150px; }
.gd_con_21_feb_2024_s2_5::after {content: '\00a0';display: inline-block; width:150px; height:150px; background-position: 37.407407407407405% 69.8224852071006%; background-size: 640% 325.3333333333333%; background-image: url(gdcon21feb2024s2_0.png);padding: 0; }
div.gd_con_21_feb_2024_s2_5::after {max-width:150px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s2_5_1 {max-width:150px; max-height:150px; }
.gd_con_21_feb_2024_s2_5_1::after {content: '\00a0';display: inline-block; width:150px; height:150px; background-position: 56.04938271604938% 24.85207100591716%; background-size: 640% 325.3333333333333%; background-image: url(gdcon21feb2024s2_0.png);padding: 0; }
div.gd_con_21_feb_2024_s2_5_1::after {max-width:150px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s2_5_2 {max-width:150px; max-height:150px; }
.gd_con_21_feb_2024_s2_5_2::after {content: '\00a0';display: inline-block; width:150px; height:150px; background-position: 56.04938271604938% 69.5266272189349%; background-size: 640% 325.3333333333333%; background-image: url(gdcon21feb2024s2_0.png);padding: 0; }
div.gd_con_21_feb_2024_s2_5_2::after {max-width:150px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s2_5_3 {max-width:150px; max-height:150px; }
.gd_con_21_feb_2024_s2_5_3::after {content: '\00a0';display: inline-block; width:150px; height:150px; background-position: 74.69135802469135% 24.85207100591716%; background-size: 640% 325.3333333333333%; background-image: url(gdcon21feb2024s2_0.png);padding: 0; }
div.gd_con_21_feb_2024_s2_5_3::after {max-width:150px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s2_5_4 {max-width:150px; max-height:152px; }
.gd_con_21_feb_2024_s2_5_4::after {content: '\00a0';display: inline-block; width:150px; height:152px; background-position: 37.407407407407405% 24.702380952380953%; background-size: 640% 321.05263157894734%; background-image: url(gdcon21feb2024s2_0.png);padding: 0; }
div.gd_con_21_feb_2024_s2_5_4::after {max-width:150px; width:100%;height:0;padding: 0 0 101.33333333333333% 0;}

@keyframes gd_con_21_feb_2024_s2-frames {
    0% { background-position: 0.12345679012345678% 30.74074074074074%;  }
    20% { background-position: 37.407407407407405% 69.8224852071006%;  }
    40% { background-position: 94.0828402366864% 0.24630541871921183%;  }
    60% { background-position: 87.90697674418605% 72.58883248730965%;  }
    80% { background-position: 0.20618556701030927% 0.2457002457002457%;  }
}

.gd_con_21_feb_2024_s2-animation {
    max-width: 150px;
    max-height: 218px;
}
.gd_con_21_feb_2024_s2-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 150px;
    height: 218px;
    padding: 0;
    background-image: url(gdcon21feb2024s2_0.png);
    background-size: 640% 223.85321100917432%; 
    animation-name: gd_con_21_feb_2024_s2-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_21_feb_2024_s2-animation::after {
    max-width: 150px;
    width: 100%;
    height: 0;
    padding: 0 0 145.33333333333334% 0;
}

@keyframes gd_con_21_feb_2024_s2_12-frames {
    0% { background-position: 17.674418604651162% 99.74226804123711%;  }
    25% { background-position: 29.41860465116279% 99.74226804123711%;  }
    50% { background-position: 41.16279069767442% 99.74226804123711%;  }
    75% { background-position: 99.65116279069767% 47.55784061696658%;  }
}

.gd_con_21_feb_2024_s2_12-animation {
    max-width: 100px;
    max-height: 100px;
}
.gd_con_21_feb_2024_s2_12-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 0;
    background-image: url(gdcon21feb2024s2_0.png);
    background-size: 960% 488%; 
    animation-name: gd_con_21_feb_2024_s2_12-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_21_feb_2024_s2_12-animation::after {
    max-width: 100px;
    width: 100%;
    height: 0;
    padding: 0 0 100% 0;
}

@keyframes gd_con_21_feb_2024_s2_15-frames {
    0% { background-position: 52.906976744186046% 99.48453608247422%;  }
    25% { background-position: 64.65116279069767% 99.48453608247422%;  }
    50% { background-position: 76.3953488372093% 98.96907216494846%;  }
    75% { background-position: 87.90697674418605% 21.649484536082475%;  }
}

.gd_con_21_feb_2024_s2_15-animation {
    max-width: 100px;
    max-height: 100px;
}
.gd_con_21_feb_2024_s2_15-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 0;
    background-image: url(gdcon21feb2024s2_0.png);
    background-size: 960% 488%; 
    animation-name: gd_con_21_feb_2024_s2_15-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_21_feb_2024_s2_15-animation::after {
    max-width: 100px;
    width: 100%;
    height: 0;
    padding: 0 0 100% 0;
}

@keyframes gd_con_21_feb_2024_s2_16-frames {
    0% { background-position: 87.90697674418605% 47.68041237113402%;  }
    25% { background-position: 99.88372093023256% 73.26478149100257%;  }
    50% { background-position: 88.13953488372093% 98.19587628865979%;  }
    75% { background-position: 99.65116279069767% 21.649484536082475%;  }
}

.gd_con_21_feb_2024_s2_16-animation {
    max-width: 100px;
    max-height: 100px;
}
.gd_con_21_feb_2024_s2_16-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 0;
    background-image: url(gdcon21feb2024s2_0.png);
    background-size: 960% 488%; 
    animation-name: gd_con_21_feb_2024_s2_16-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_21_feb_2024_s2_16-animation::after {
    max-width: 100px;
    width: 100%;
    height: 0;
    padding: 0 0 100% 0;
}

@keyframes gd_con_21_feb_2024_s2_2-frames {
    0% { background-position: 0.12345679012345678% 89.3491124260355%;  }
    25% { background-position: 18.765432098765434% 69.8224852071006%;  }
    50% { background-position: 74.69135802469135% 69.11764705882354%;  }
    75% { background-position: 18.765432098765434% 24.702380952380953%;  }
}

.gd_con_21_feb_2024_s2_2-animation {
    max-width: 150px;
    max-height: 150px;
}
.gd_con_21_feb_2024_s2_2-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 150px;
    height: 150px;
    padding: 0;
    background-image: url(gdcon21feb2024s2_0.png);
    background-size: 640% 325.3333333333333%; 
    animation-name: gd_con_21_feb_2024_s2_2-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_21_feb_2024_s2_2-animation::after {
    max-width: 150px;
    width: 100%;
    height: 0;
    padding: 0 0 100% 0;
}

@keyframes gd_con_21_feb_2024_s2_5-frames {
    0% { background-position: 56.04938271604938% 24.85207100591716%;  }
    25% { background-position: 56.04938271604938% 69.5266272189349%;  }
    50% { background-position: 74.69135802469135% 24.85207100591716%;  }
    75% { background-position: 37.407407407407405% 24.702380952380953%;  }
}

.gd_con_21_feb_2024_s2_5-animation {
    max-width: 150px;
    max-height: 150px;
}
.gd_con_21_feb_2024_s2_5-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 150px;
    height: 150px;
    padding: 0;
    background-image: url(gdcon21feb2024s2_0.png);
    background-size: 640% 325.3333333333333%; 
    animation-name: gd_con_21_feb_2024_s2_5-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_21_feb_2024_s2_5-animation::after {
    max-width: 150px;
    width: 100%;
    height: 0;
    padding: 0 0 100% 0;
}

/* $TexturePacker:SmartUpdate:f61c3c0b2429126394426d2006dbd516:f2d5d4a902687a9a8bf3e051ad5b744f:6631535a56c5e2b420d228d860e42aef$ */
