/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.gd_con_5_feb_2025_s2_14 {max-width:116px; max-height:181px; }
.gd_con_5_feb_2025_s2_14::after {content: '\00a0';display: inline-block; width:116px; height:181px; background-position: 74.73053892215569% 73.20359281437126%; background-size: 819.8275862068965% 469.060773480663%; background-image: url(gdcon5feb2025s2_0.png);padding: 0; }
div.gd_con_5_feb_2025_s2_14::after {max-width:116px; width:100%;height:0;padding: 0 0 156.0344827586207% 0;}
.gd_con_5_feb_2025_s2_14_1 {max-width:197px; max-height:192px; }
.gd_con_5_feb_2025_s2_14_1::after {content: '\00a0';display: inline-block; width:197px; height:192px; background-position: 30.23872679045093% 74.42922374429224%; background-size: 482.74111675126903% 442.1875%; background-image: url(gdcon5feb2025s2_0.png);padding: 0; }
div.gd_con_5_feb_2025_s2_14_1::after {max-width:197px; width:100%;height:0;padding: 0 0 97.46192893401015% 0;}
.gd_con_5_feb_2025_s2_14_2 {max-width:200px; max-height:196px; }
.gd_con_5_feb_2025_s2_14_2::after {content: '\00a0';display: inline-block; width:200px; height:196px; background-position: 98.66844207723035% 72.12863705972435%; background-size: 475.5% 433.16326530612247%; background-image: url(gdcon5feb2025s2_0.png);padding: 0; }
div.gd_con_5_feb_2025_s2_14_2::after {max-width:200px; width:100%;height:0;padding: 0 0 98% 0;}
.gd_con_5_feb_2025_s2_14_3 {max-width:197px; max-height:191px; }
.gd_con_5_feb_2025_s2_14_3::after {content: '\00a0';display: inline-block; width:197px; height:191px; background-position: 56.49867374005305% 74.3161094224924%; background-size: 482.74111675126903% 444.5026178010471%; background-image: url(gdcon5feb2025s2_0.png);padding: 0; }
div.gd_con_5_feb_2025_s2_14_3::after {max-width:197px; width:100%;height:0;padding: 0 0 96.95431472081218% 0;}
.gd_con_5_feb_2025_s2_14_4 {max-width:198px; max-height:191px; }
.gd_con_5_feb_2025_s2_14_4::after {content: '\00a0';display: inline-block; width:198px; height:191px; background-position: 43.82470119521912% 45.13677811550152%; background-size: 480.3030303030303% 444.5026178010471%; background-image: url(gdcon5feb2025s2_0.png);padding: 0; }
div.gd_con_5_feb_2025_s2_14_4::after {max-width:198px; width:100%;height:0;padding: 0 0 96.46464646464646% 0;}
.gd_con_5_feb_2025_s2_20 {max-width:623px; max-height:132px; }
.gd_con_5_feb_2025_s2_20::after {content: '\00a0';display: inline-block; width:623px; height:132px; background-position: 0.3048780487804878% 0.1394700139470014%; background-size: 152.64847512038523% 643.1818181818181%; background-image: url(gdcon5feb2025s2_0.png);padding: 0; }
div.gd_con_5_feb_2025_s2_20::after {max-width:623px; width:100%;height:0;padding: 0 0 21.187800963081862% 0;}
.gd_con_5_feb_2025_s2_20_1 {max-width:157px; max-height:153px; }
.gd_con_5_feb_2025_s2_20_1::after {content: '\00a0';display: inline-block; width:157px; height:153px; background-position: 0.12594458438287154% 42.672413793103445%; background-size: 605.7324840764331% 554.9019607843137%; background-image: url(gdcon5feb2025s2_0.png);padding: 0; }
div.gd_con_5_feb_2025_s2_20_1::after {max-width:157px; width:100%;height:0;padding: 0 0 97.45222929936305% 0;}
.gd_con_5_feb_2025_s2_20_2 {max-width:157px; max-height:152px; }
.gd_con_5_feb_2025_s2_20_2::after {content: '\00a0';display: inline-block; width:157px; height:152px; background-position: 20.025188916876573% 42.61119081779053%; background-size: 605.7324840764331% 558.5526315789474%; background-image: url(gdcon5feb2025s2_0.png);padding: 0; }
div.gd_con_5_feb_2025_s2_20_2::after {max-width:157px; width:100%;height:0;padding: 0 0 96.81528662420382% 0;}
.gd_con_5_feb_2025_s2_20_3 {max-width:155px; max-height:157px; }
.gd_con_5_feb_2025_s2_20_3::after {content: '\00a0';display: inline-block; width:155px; height:157px; background-position: 66.4572864321608% 47.83236994219653%; background-size: 613.5483870967741% 540.7643312101911%; background-image: url(gdcon5feb2025s2_0.png);padding: 0; }
div.gd_con_5_feb_2025_s2_20_3::after {max-width:155px; width:100%;height:0;padding: 0 0 101.29032258064517% 0;}
.gd_con_5_feb_2025_s2_20_4 {max-width:151px; max-height:151px; }
.gd_con_5_feb_2025_s2_20_4::after {content: '\00a0';display: inline-block; width:151px; height:151px; background-position: 83.25% 96.13180515759312%; background-size: 629.8013245033112% 562.2516556291391%; background-image: url(gdcon5feb2025s2_0.png);padding: 0; }
div.gd_con_5_feb_2025_s2_20_4::after {max-width:151px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_5_feb_2025_s2_3 {max-width:527px; max-height:162px; }
.gd_con_5_feb_2025_s2_3::after {content: '\00a0';display: inline-block; width:527px; height:162px; background-position: 0.2358490566037736% 19.50509461426492%; background-size: 180.45540796963948% 524.074074074074%; background-image: url(gdcon5feb2025s2_0.png);padding: 0; }
div.gd_con_5_feb_2025_s2_3::after {max-width:527px; width:100%;height:0;padding: 0 0 30.740037950664135% 0;}
.gd_con_5_feb_2025_s2_3_1 {max-width:167px; max-height:163px; }
.gd_con_5_feb_2025_s2_3_1::after {content: '\00a0';display: inline-block; width:167px; height:163px; background-position: 0.12755102040816327% 99.85422740524781%; background-size: 569.4610778443114% 520.8588957055215%; background-image: url(gdcon5feb2025s2_0.png);padding: 0; }
div.gd_con_5_feb_2025_s2_3_1::after {max-width:167px; width:100%;height:0;padding: 0 0 97.60479041916167% 0;}
.gd_con_5_feb_2025_s2_3_2 {max-width:163px; max-height:161px; }
.gd_con_5_feb_2025_s2_3_2::after {content: '\00a0';display: inline-block; width:163px; height:161px; background-position: 41.878172588832484% 99.12790697674419%; background-size: 583.4355828220858% 527.3291925465838%; background-image: url(gdcon5feb2025s2_0.png);padding: 0; }
div.gd_con_5_feb_2025_s2_3_2::after {max-width:163px; width:100%;height:0;padding: 0 0 98.77300613496932% 0;}
.gd_con_5_feb_2025_s2_3_3 {max-width:160px; max-height:162px; }
.gd_con_5_feb_2025_s2_3_3::after {content: '\00a0';display: inline-block; width:160px; height:162px; background-position: 21.3653603034134% 99.70887918486171%; background-size: 594.375% 524.074074074074%; background-image: url(gdcon5feb2025s2_0.png);padding: 0; }
div.gd_con_5_feb_2025_s2_3_3::after {max-width:160px; width:100%;height:0;padding: 0 0 101.25% 0;}
.gd_con_5_feb_2025_s2_3_4 {max-width:171px; max-height:167px; }
.gd_con_5_feb_2025_s2_3_4::after {content: '\00a0';display: inline-block; width:171px; height:167px; background-position: 63.333333333333336% 99.8533724340176%; background-size: 556.140350877193% 508.3832335329341%; background-image: url(gdcon5feb2025s2_0.png);padding: 0; }
div.gd_con_5_feb_2025_s2_3_4::after {max-width:171px; width:100%;height:0;padding: 0 0 97.6608187134503% 0;}
.gd_con_5_feb_2025_s2_4 {max-width:325px; max-height:177px; }
.gd_con_5_feb_2025_s2_4::after {content: '\00a0';display: inline-block; width:325px; height:177px; background-position: 99.84025559105432% 0.1488095238095238%; background-size: 292.61538461538464% 479.66101694915255%; background-image: url(gdcon5feb2025s2_0.png);padding: 0; }
div.gd_con_5_feb_2025_s2_4::after {max-width:325px; width:100%;height:0;padding: 0 0 54.46153846153846% 0;}
.gd_con_5_feb_2025_s2_6_1 {max-width:270px; max-height:151px; }
.gd_con_5_feb_2025_s2_6_1::after {content: '\00a0';display: inline-block; width:270px; height:151px; background-position: 77.67988252569751% 25.644699140401148%; background-size: 352.22222222222223% 562.2516556291391%; background-image: url(gdcon5feb2025s2_0.png);padding: 0; }
div.gd_con_5_feb_2025_s2_6_1::after {max-width:270px; width:100%;height:0;padding: 0 0 55.925925925925924% 0;}
.gd_con_5_feb_2025_s2_6_2 {max-width:150px; max-height:143px; }
.gd_con_5_feb_2025_s2_6_2::after {content: '\00a0';display: inline-block; width:150px; height:143px; background-position: 99.87515605493134% 25.35410764872521%; background-size: 634% 593.7062937062936%; background-image: url(gdcon5feb2025s2_0.png);padding: 0; }
div.gd_con_5_feb_2025_s2_6_2::after {max-width:150px; width:100%;height:0;padding: 0 0 95.33333333333333% 0;}
.gd_con_5_feb_2025_s2_6_3 {max-width:142px; max-height:147px; }
.gd_con_5_feb_2025_s2_6_3::after {content: '\00a0';display: inline-block; width:142px; height:147px; background-position: 98.8875154511743% 46.01139601139601%; background-size: 669.7183098591549% 577.5510204081633%; background-image: url(gdcon5feb2025s2_0.png);padding: 0; }
div.gd_con_5_feb_2025_s2_6_3::after {max-width:142px; width:100%;height:0;padding: 0 0 103.52112676056338% 0;}
.gd_con_5_feb_2025_s2_6_4 {max-width:226px; max-height:213px; }
.gd_con_5_feb_2025_s2_6_4::after {content: '\00a0';display: inline-block; width:226px; height:213px; background-position: 0.13793103448275862% 74.05660377358491%; background-size: 420.79646017699116% 398.59154929577466%; background-image: url(gdcon5feb2025s2_0.png);padding: 0; }
div.gd_con_5_feb_2025_s2_6_4::after {max-width:226px; width:100%;height:0;padding: 0 0 94.24778761061947% 0;}

@keyframes gd_con_5_feb_2025_s2-frames {
    0% { background-position: 0.2358490566037736% 19.50509461426492%;  }
    25% { background-position: 99.84025559105432% 0.1488095238095238%;  }
    50% { background-position: 74.73053892215569% 73.20359281437126%;  }
    75% { background-position: 0.3048780487804878% 0.1394700139470014%;  }
}

.gd_con_5_feb_2025_s2-animation {
    max-width: 527px;
    max-height: 162px;
}
.gd_con_5_feb_2025_s2-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 527px;
    height: 162px;
    padding: 0;
    background-image: url(gdcon5feb2025s2_0.png);
    background-size: 180.45540796963948% 524.074074074074%; 
    animation-name: gd_con_5_feb_2025_s2-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_5_feb_2025_s2-animation::after {
    max-width: 527px;
    width: 100%;
    height: 0;
    padding: 0 0 30.740037950664135% 0;
}

@keyframes gd_con_5_feb_2025_s2_14-frames {
    0% { background-position: 30.23872679045093% 74.42922374429224%;  }
    25% { background-position: 98.66844207723035% 72.12863705972435%;  }
    50% { background-position: 56.49867374005305% 74.3161094224924%;  }
    75% { background-position: 43.82470119521912% 45.13677811550152%;  }
}

.gd_con_5_feb_2025_s2_14-animation {
    max-width: 197px;
    max-height: 192px;
}
.gd_con_5_feb_2025_s2_14-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 197px;
    height: 192px;
    padding: 0;
    background-image: url(gdcon5feb2025s2_0.png);
    background-size: 482.74111675126903% 442.1875%; 
    animation-name: gd_con_5_feb_2025_s2_14-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_5_feb_2025_s2_14-animation::after {
    max-width: 197px;
    width: 100%;
    height: 0;
    padding: 0 0 97.46192893401015% 0;
}

@keyframes gd_con_5_feb_2025_s2_20-frames {
    0% { background-position: 0.12594458438287154% 42.672413793103445%;  }
    25% { background-position: 20.025188916876573% 42.61119081779053%;  }
    50% { background-position: 66.4572864321608% 47.83236994219653%;  }
    75% { background-position: 83.25% 96.13180515759312%;  }
}

.gd_con_5_feb_2025_s2_20-animation {
    max-width: 157px;
    max-height: 153px;
}
.gd_con_5_feb_2025_s2_20-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 157px;
    height: 153px;
    padding: 0;
    background-image: url(gdcon5feb2025s2_0.png);
    background-size: 605.7324840764331% 554.9019607843137%; 
    animation-name: gd_con_5_feb_2025_s2_20-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_5_feb_2025_s2_20-animation::after {
    max-width: 157px;
    width: 100%;
    height: 0;
    padding: 0 0 97.45222929936305% 0;
}

@keyframes gd_con_5_feb_2025_s2_3-frames {
    0% { background-position: 0.12755102040816327% 99.85422740524781%;  }
    25% { background-position: 41.878172588832484% 99.12790697674419%;  }
    50% { background-position: 21.3653603034134% 99.70887918486171%;  }
    75% { background-position: 63.333333333333336% 99.8533724340176%;  }
}

.gd_con_5_feb_2025_s2_3-animation {
    max-width: 167px;
    max-height: 163px;
}
.gd_con_5_feb_2025_s2_3-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 167px;
    height: 163px;
    padding: 0;
    background-image: url(gdcon5feb2025s2_0.png);
    background-size: 569.4610778443114% 520.8588957055215%; 
    animation-name: gd_con_5_feb_2025_s2_3-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_5_feb_2025_s2_3-animation::after {
    max-width: 167px;
    width: 100%;
    height: 0;
    padding: 0 0 97.60479041916167% 0;
}

@keyframes gd_con_5_feb_2025_s2_6-frames {
    0% { background-position: 77.67988252569751% 25.644699140401148%;  }
    25% { background-position: 99.87515605493134% 25.35410764872521%;  }
    50% { background-position: 98.8875154511743% 46.01139601139601%;  }
    75% { background-position: 0.13793103448275862% 74.05660377358491%;  }
}

.gd_con_5_feb_2025_s2_6-animation {
    max-width: 270px;
    max-height: 151px;
}
.gd_con_5_feb_2025_s2_6-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 270px;
    height: 151px;
    padding: 0;
    background-image: url(gdcon5feb2025s2_0.png);
    background-size: 352.22222222222223% 562.2516556291391%; 
    animation-name: gd_con_5_feb_2025_s2_6-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_5_feb_2025_s2_6-animation::after {
    max-width: 270px;
    width: 100%;
    height: 0;
    padding: 0 0 55.925925925925924% 0;
}

/* $TexturePacker:SmartUpdate:a2fd1f49849939024de6f9338e17c1e4:ace93c748df280f72d577ac7e10ab3b9:36485c703777f7365a1be0fd9ff4cb6c$ */
