/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.gd_con_4_feb_2025_s1_10 {max-width:143px; max-height:198px; }
.gd_con_4_feb_2025_s1_10::after {content: '\00a0';display: inline-block; width:143px; height:198px; background-position: 78.23604060913705% 91.33574007220217%; background-size: 1202.097902097902% 239.8989898989899%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_10::after {max-width:143px; width:100%;height:0;padding: 0 0 138.46153846153845% 0;}
.gd_con_4_feb_2025_s1_10_1 {max-width:118px; max-height:119px; }
.gd_con_4_feb_2025_s1_10_1::after {content: '\00a0';display: inline-block; width:118px; height:119px; background-position: 87.88257339163023% 35.1123595505618%; background-size: 1456.7796610169491% 399.15966386554624%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_10_1::after {max-width:118px; width:100%;height:0;padding: 0 0 100.84745762711864% 0;}
.gd_con_4_feb_2025_s1_10_2 {max-width:118px; max-height:119px; }
.gd_con_4_feb_2025_s1_10_2::after {content: '\00a0';display: inline-block; width:118px; height:119px; background-position: 93.8163647720175% 68.82022471910112%; background-size: 1456.7796610169491% 399.15966386554624%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_10_2::after {max-width:118px; width:100%;height:0;padding: 0 0 100.84745762711864% 0;}
.gd_con_4_feb_2025_s1_10_3 {max-width:118px; max-height:118px; }
.gd_con_4_feb_2025_s1_10_3::after {content: '\00a0';display: inline-block; width:118px; height:118px; background-position: 95.315427857589% 33.89355742296919%; background-size: 1456.7796610169491% 402.54237288135596%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_10_3::after {max-width:118px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_4_feb_2025_s1_10_4 {max-width:118px; max-height:119px; }
.gd_con_4_feb_2025_s1_10_4::after {content: '\00a0';display: inline-block; width:118px; height:119px; background-position: 90.88069956277327% 0.2808988764044944%; background-size: 1456.7796610169491% 399.15966386554624%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_10_4::after {max-width:118px; width:100%;height:0;padding: 0 0 100.84745762711864% 0;}
.gd_con_4_feb_2025_s1_11 {max-width:592px; max-height:125px; }
.gd_con_4_feb_2025_s1_11::after {content: '\00a0';display: inline-block; width:592px; height:125px; background-position: 0.08873114463176575% 51.142857142857146%; background-size: 290.3716216216216% 380%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_11::after {max-width:592px; width:100%;height:0;padding: 0 0 21.114864864864863% 0;}
.gd_con_4_feb_2025_s1_11_1 {max-width:133px; max-height:122px; }
.gd_con_4_feb_2025_s1_11_1::after {content: '\00a0';display: inline-block; width:133px; height:122px; background-position: 64.50189155107188% 36.827195467422094%; background-size: 1292.4812030075188% 389.344262295082%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_11_1::after {max-width:133px; width:100%;height:0;padding: 0 0 91.72932330827068% 0;}
.gd_con_4_feb_2025_s1_11_1_1 {max-width:97px; max-height:98px; }
.gd_con_4_feb_2025_s1_11_1_1::after {content: '\00a0';display: inline-block; width:97px; height:98px; background-position: 97.10234278668311% 96.81697612732096%; background-size: 1772.1649484536083% 484.6938775510204%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_11_1_1::after {max-width:97px; width:100%;height:0;padding: 0 0 101.03092783505154% 0;}
.gd_con_4_feb_2025_s1_11_2 {max-width:123px; max-height:126px; }
.gd_con_4_feb_2025_s1_11_2::after {content: '\00a0';display: inline-block; width:123px; height:126px; background-position: 75.56390977443608% 0.28653295128939826%; background-size: 1397.560975609756% 376.984126984127%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_11_2::after {max-width:123px; width:100%;height:0;padding: 0 0 102.4390243902439% 0;}
.gd_con_4_feb_2025_s1_11_2_1 {max-width:97px; max-height:98px; }
.gd_con_4_feb_2025_s1_11_2_1::after {content: '\00a0';display: inline-block; width:97px; height:98px; background-position: 99.9383477188656% 63.6604774535809%; background-size: 1772.1649484536083% 484.6938775510204%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_11_2_1::after {max-width:97px; width:100%;height:0;padding: 0 0 101.03092783505154% 0;}
.gd_con_4_feb_2025_s1_11_3 {max-width:127px; max-height:126px; }
.gd_con_4_feb_2025_s1_11_3::after {content: '\00a0';display: inline-block; width:127px; height:126px; background-position: 67.71356783919597% 0.28653295128939826%; background-size: 1353.5433070866143% 376.984126984127%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_11_3::after {max-width:127px; width:100%;height:0;padding: 0 0 99.21259842519684% 0;}
.gd_con_4_feb_2025_s1_11_3_1 {max-width:98px; max-height:97px; }
.gd_con_4_feb_2025_s1_11_3_1::after {content: '\00a0';display: inline-block; width:98px; height:97px; background-position: 84.94756323257249% 99.73544973544973%; background-size: 1754.0816326530612% 489.69072164948454%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_11_3_1::after {max-width:98px; width:100%;height:0;padding: 0 0 98.9795918367347% 0;}
.gd_con_4_feb_2025_s1_11_4 {max-width:132px; max-height:128px; }
.gd_con_4_feb_2025_s1_11_4::after {content: '\00a0';display: inline-block; width:132px; height:128px; background-position: 59.54631379962193% 0.2881844380403458%; background-size: 1302.2727272727273% 371.09375%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_11_4::after {max-width:132px; width:100%;height:0;padding: 0 0 96.96969696969697% 0;}
.gd_con_4_feb_2025_s1_11_4_1 {max-width:98px; max-height:97px; }
.gd_con_4_feb_2025_s1_11_4_1::after {content: '\00a0';display: inline-block; width:98px; height:97px; background-position: 91.05490438001233% 99.73544973544973%; background-size: 1754.0816326530612% 489.69072164948454%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_11_4_1::after {max-width:98px; width:100%;height:0;padding: 0 0 98.9795918367347% 0;}
.gd_con_4_feb_2025_s1_15_1 {max-width:247px; max-height:118px; }
.gd_con_4_feb_2025_s1_15_1::after {content: '\00a0';display: inline-block; width:247px; height:118px; background-position: 21.671195652173914% 85.43417366946778%; background-size: 695.9514170040486% 402.54237288135596%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_15_1::after {max-width:247px; width:100%;height:0;padding: 0 0 47.77327935222672% 0;}
.gd_con_4_feb_2025_s1_15_2 {max-width:231px; max-height:112px; }
.gd_con_4_feb_2025_s1_15_2::after {content: '\00a0';display: inline-block; width:231px; height:112px; background-position: 39.91935483870968% 49.31129476584022%; background-size: 744.1558441558442% 424.10714285714283%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_15_2::after {max-width:231px; width:100%;height:0;padding: 0 0 48.484848484848484% 0;}
.gd_con_4_feb_2025_s1_15_3 {max-width:116px; max-height:116px; }
.gd_con_4_feb_2025_s1_15_3::after {content: '\00a0';display: inline-block; width:116px; height:116px; background-position: 98.19089207735496% 0.2785515320334262%; background-size: 1481.896551724138% 409.48275862068965%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_15_3::after {max-width:116px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_4_feb_2025_s1_15_4 {max-width:317px; max-height:115px; }
.gd_con_4_feb_2025_s1_15_4::after {content: '\00a0';display: inline-block; width:317px; height:115px; background-position: 0.07132667617689016% 84.72222222222223%; background-size: 542.2712933753943% 413.04347826086956%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_15_4::after {max-width:317px; width:100%;height:0;padding: 0 0 36.277602523659304% 0;}
.gd_con_4_feb_2025_s1_17 {max-width:323px; max-height:177px; }
.gd_con_4_feb_2025_s1_17::after {content: '\00a0';display: inline-block; width:323px; height:177px; background-position: 53.080229226361034% 97.98657718120805%; background-size: 532.1981424148606% 268.361581920904%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_17::after {max-width:323px; width:100%;height:0;padding: 0 0 54.79876160990712% 0;}
.gd_con_4_feb_2025_s1_17_1 {max-width:196px; max-height:103px; }
.gd_con_4_feb_2025_s1_17_1::after {content: '\00a0';display: inline-block; width:196px; height:103px; background-position: 54.23506237688772% 46.236559139784944%; background-size: 877.0408163265306% 461.1650485436893%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_17_1::after {max-width:196px; width:100%;height:0;padding: 0 0 52.55102040816327% 0;}
.gd_con_4_feb_2025_s1_5 {max-width:598px; max-height:177px; }
.gd_con_4_feb_2025_s1_5::after {content: '\00a0';display: inline-block; width:598px; height:177px; background-position: 0.08920606601248884% 0.33557046979865773%; background-size: 287.4581939799331% 268.361581920904%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_5::after {max-width:598px; width:100%;height:0;padding: 0 0 29.598662207357858% 0;}
.gd_con_4_feb_2025_s1_5_1 {max-width:173px; max-height:168px; }
.gd_con_4_feb_2025_s1_5_1::after {content: '\00a0';display: inline-block; width:173px; height:168px; background-position: 36.67529107373868% 99.3485342019544%; background-size: 993.6416184971098% 282.73809523809524%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_5_1::after {max-width:173px; width:100%;height:0;padding: 0 0 97.10982658959537% 0;}
.gd_con_4_feb_2025_s1_5_1_1 {max-width:124px; max-height:124px; }
.gd_con_4_feb_2025_s1_5_1_1::after {content: '\00a0';display: inline-block; width:124px; height:124px; background-position: 72.53918495297806% 36.46723646723647%; background-size: 1386.2903225806451% 383.06451612903226%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_5_1_1::after {max-width:124px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_4_feb_2025_s1_5_2 {max-width:168px; max-height:170px; }
.gd_con_4_feb_2025_s1_5_2::after {content: '\00a0';display: inline-block; width:168px; height:170px; background-position: 50.03223726627982% 0.32786885245901637%; background-size: 1023.2142857142857% 279.4117647058824%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_5_2::after {max-width:168px; width:100%;height:0;padding: 0 0 101.19047619047619% 0;}
.gd_con_4_feb_2025_s1_5_2_1 {max-width:124px; max-height:124px; }
.gd_con_4_feb_2025_s1_5_2_1::after {content: '\00a0';display: inline-block; width:124px; height:124px; background-position: 80.37617554858934% 36.46723646723647%; background-size: 1386.2903225806451% 383.06451612903226%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_5_2_1::after {max-width:124px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_4_feb_2025_s1_5_3 {max-width:167px; max-height:171px; }
.gd_con_4_feb_2025_s1_5_3::after {content: '\00a0';display: inline-block; width:167px; height:171px; background-position: 68.62113402061856% 83.22368421052632%; background-size: 1029.3413173652696% 277.77777777777777%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_5_3::after {max-width:167px; width:100%;height:0;padding: 0 0 102.39520958083833% 0;}
.gd_con_4_feb_2025_s1_5_3_1 {max-width:124px; max-height:123px; }
.gd_con_4_feb_2025_s1_5_3_1::after {content: '\00a0';display: inline-block; width:124px; height:123px; background-position: 83.38557993730407% 0.2840909090909091%; background-size: 1386.2903225806451% 386.1788617886179%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_5_3_1::after {max-width:124px; width:100%;height:0;padding: 0 0 99.19354838709677% 0;}
.gd_con_4_feb_2025_s1_5_4 {max-width:175px; max-height:171px; }
.gd_con_4_feb_2025_s1_5_4::after {content: '\00a0';display: inline-block; width:175px; height:171px; background-position: 38.86010362694301% 0.32894736842105265%; background-size: 982.2857142857143% 277.77777777777777%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_5_4::after {max-width:175px; width:100%;height:0;padding: 0 0 97.71428571428571% 0;}
.gd_con_4_feb_2025_s1_5_4_1 {max-width:124px; max-height:123px; }
.gd_con_4_feb_2025_s1_5_4_1::after {content: '\00a0';display: inline-block; width:124px; height:123px; background-position: 86.33228840125392% 71.875%; background-size: 1386.2903225806451% 386.1788617886179%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_5_4_1::after {max-width:124px; width:100%;height:0;padding: 0 0 99.19354838709677% 0;}

@keyframes gd_con_4_feb_2025_s1-frames {
    0% { background-position: 0.08920606601248884% 0.33557046979865773%;  }
    25% { background-position: 78.23604060913705% 91.33574007220217%;  }
    50% { background-position: 0.08873114463176575% 51.142857142857146%;  }
    75% { background-position: 53.080229226361034% 97.98657718120805%;  }
}

.gd_con_4_feb_2025_s1-animation {
    max-width: 598px;
    max-height: 177px;
}
.gd_con_4_feb_2025_s1-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 598px;
    height: 177px;
    padding: 0;
    background-image: url(gdcon4feb2025s1_0.png);
    background-size: 287.4581939799331% 268.361581920904%; 
    animation-name: gd_con_4_feb_2025_s1-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_4_feb_2025_s1-animation::after {
    max-width: 598px;
    width: 100%;
    height: 0;
    padding: 0 0 29.598662207357858% 0;
}

@keyframes gd_con_4_feb_2025_s1_10-frames {
    0% { background-position: 87.88257339163023% 35.1123595505618%;  }
    25% { background-position: 93.8163647720175% 68.82022471910112%;  }
    50% { background-position: 95.315427857589% 33.89355742296919%;  }
    75% { background-position: 90.88069956277327% 0.2808988764044944%;  }
}

.gd_con_4_feb_2025_s1_10-animation {
    max-width: 118px;
    max-height: 119px;
}
.gd_con_4_feb_2025_s1_10-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 118px;
    height: 119px;
    padding: 0;
    background-image: url(gdcon4feb2025s1_0.png);
    background-size: 1456.7796610169491% 399.15966386554624%; 
    animation-name: gd_con_4_feb_2025_s1_10-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_4_feb_2025_s1_10-animation::after {
    max-width: 118px;
    width: 100%;
    height: 0;
    padding: 0 0 100.84745762711864% 0;
}

@keyframes gd_con_4_feb_2025_s1_11-frames {
    0% { background-position: 64.50189155107188% 36.827195467422094%;  }
    25% { background-position: 75.56390977443608% 0.28653295128939826%;  }
    50% { background-position: 67.71356783919597% 0.28653295128939826%;  }
    75% { background-position: 59.54631379962193% 0.2881844380403458%;  }
}

.gd_con_4_feb_2025_s1_11-animation {
    max-width: 133px;
    max-height: 122px;
}
.gd_con_4_feb_2025_s1_11-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 133px;
    height: 122px;
    padding: 0;
    background-image: url(gdcon4feb2025s1_0.png);
    background-size: 1292.4812030075188% 389.344262295082%; 
    animation-name: gd_con_4_feb_2025_s1_11-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_4_feb_2025_s1_11-animation::after {
    max-width: 133px;
    width: 100%;
    height: 0;
    padding: 0 0 91.72932330827068% 0;
}

@keyframes gd_con_4_feb_2025_s1_15-frames {
    0% { background-position: 21.671195652173914% 85.43417366946778%;  }
    25% { background-position: 39.91935483870968% 49.31129476584022%;  }
    50% { background-position: 98.19089207735496% 0.2785515320334262%;  }
    75% { background-position: 0.07132667617689016% 84.72222222222223%;  }
}

.gd_con_4_feb_2025_s1_15-animation {
    max-width: 247px;
    max-height: 118px;
}
.gd_con_4_feb_2025_s1_15-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 247px;
    height: 118px;
    padding: 0;
    background-image: url(gdcon4feb2025s1_0.png);
    background-size: 695.9514170040486% 402.54237288135596%; 
    animation-name: gd_con_4_feb_2025_s1_15-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_4_feb_2025_s1_15-animation::after {
    max-width: 247px;
    width: 100%;
    height: 0;
    padding: 0 0 47.77327935222672% 0;
}

@keyframes gd_con_4_feb_2025_s1_5-frames {
    0% { background-position: 36.67529107373868% 99.3485342019544%;  }
    25% { background-position: 50.03223726627982% 0.32786885245901637%;  }
    50% { background-position: 68.62113402061856% 83.22368421052632%;  }
    75% { background-position: 38.86010362694301% 0.32894736842105265%;  }
}

.gd_con_4_feb_2025_s1_5-animation {
    max-width: 173px;
    max-height: 168px;
}
.gd_con_4_feb_2025_s1_5-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 173px;
    height: 168px;
    padding: 0;
    background-image: url(gdcon4feb2025s1_0.png);
    background-size: 993.6416184971098% 282.73809523809524%; 
    animation-name: gd_con_4_feb_2025_s1_5-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_4_feb_2025_s1_5-animation::after {
    max-width: 173px;
    width: 100%;
    height: 0;
    padding: 0 0 97.10982658959537% 0;
}

/* $TexturePacker:SmartUpdate:818e5c283205794d8ceb00a11c734f6f:b26b611a80cff519a5ccad91281564b8:3f7ebbdff93f2752b2eb05354451f678$ */
