/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.gd_con_6_feb_2025_s1_14_1 {max-width:278px; max-height:132px; }
.gd_con_6_feb_2025_s1_14_1::after {content: '\00a0';display: inline-block; width:278px; height:132px; background-position: 43.221574344023324% 50.67750677506775%; background-size: 593.5251798561151% 379.54545454545456%; background-image: url(gdcon6feb2025s1_0.png);padding: 0; }
div.gd_con_6_feb_2025_s1_14_1::after {max-width:278px; width:100%;height:0;padding: 0 0 47.48201438848921% 0;}
.gd_con_6_feb_2025_s1_14_2 {max-width:390px; max-height:133px; }
.gd_con_6_feb_2025_s1_14_2::after {content: '\00a0';display: inline-block; width:390px; height:133px; background-position: 32.93650793650794% 91.84782608695652%; background-size: 423.0769230769231% 376.69172932330827%; background-image: url(gdcon6feb2025s1_0.png);padding: 0; }
div.gd_con_6_feb_2025_s1_14_2::after {max-width:390px; width:100%;height:0;padding: 0 0 34.1025641025641% 0;}
.gd_con_6_feb_2025_s1_14_3 {max-width:222px; max-height:223px; }
.gd_con_6_feb_2025_s1_14_3::after {content: '\00a0';display: inline-block; width:222px; height:223px; background-position: 70.3781512605042% 92.80575539568345%; background-size: 743.2432432432432% 224.66367713004485%; background-image: url(gdcon6feb2025s1_0.png);padding: 0; }
div.gd_con_6_feb_2025_s1_14_3::after {max-width:222px; width:100%;height:0;padding: 0 0 100.45045045045045% 0;}
.gd_con_6_feb_2025_s1_14_4 {max-width:413px; max-height:136px; }
.gd_con_6_feb_2025_s1_14_4::after {content: '\00a0';display: inline-block; width:413px; height:136px; background-position: 0.08084074373484236% 92.6027397260274%; background-size: 399.51573849878935% 368.38235294117646%; background-image: url(gdcon6feb2025s1_0.png);padding: 0; }
div.gd_con_6_feb_2025_s1_14_4::after {max-width:413px; width:100%;height:0;padding: 0 0 32.92978208232446% 0;}
.gd_con_6_feb_2025_s1_17 {max-width:316px; max-height:185px; }
.gd_con_6_feb_2025_s1_17::after {content: '\00a0';display: inline-block; width:316px; height:185px; background-position: 32.758620689655174% 0.31645569620253167%; background-size: 522.1518987341772% 270.81081081081084%; background-image: url(gdcon6feb2025s1_0.png);padding: 0; }
div.gd_con_6_feb_2025_s1_17::after {max-width:316px; width:100%;height:0;padding: 0 0 58.54430379746835% 0;}
.gd_con_6_feb_2025_s1_20 {max-width:435px; max-height:212px; }
.gd_con_6_feb_2025_s1_20::after {content: '\00a0';display: inline-block; width:435px; height:212px; background-position: 0.0823045267489712% 0.3460207612456747%; background-size: 379.3103448275862% 236.32075471698113%; background-image: url(gdcon6feb2025s1_0.png);padding: 0; }
div.gd_con_6_feb_2025_s1_20::after {max-width:435px; width:100%;height:0;padding: 0 0 48.735632183908045% 0;}
.gd_con_6_feb_2025_s1_3 {max-width:198px; max-height:180px; }
.gd_con_6_feb_2025_s1_3::after {content: '\00a0';display: inline-block; width:198px; height:180px; background-position: 55.509641873278234% 99.68847352024922%; background-size: 833.3333333333334% 278.3333333333333%; background-image: url(gdcon6feb2025s1_0.png);padding: 0; }
div.gd_con_6_feb_2025_s1_3::after {max-width:198px; width:100%;height:0;padding: 0 0 90.9090909090909% 0;}
.gd_con_6_feb_2025_s1_3_1 {max-width:212px; max-height:211px; }
.gd_con_6_feb_2025_s1_3_1::after {content: '\00a0';display: inline-block; width:212px; height:211px; background-position: 78.72044506258693% 0.3448275862068966%; background-size: 778.3018867924528% 237.44075829383885%; background-image: url(gdcon6feb2025s1_0.png);padding: 0; }
div.gd_con_6_feb_2025_s1_3_1::after {max-width:212px; width:100%;height:0;padding: 0 0 99.52830188679245% 0;}
.gd_con_6_feb_2025_s1_3_2 {max-width:212px; max-height:206px; }
.gd_con_6_feb_2025_s1_3_2::after {content: '\00a0';display: inline-block; width:212px; height:206px; background-position: 85.39638386648123% 72.20338983050847%; background-size: 778.3018867924528% 243.20388349514562%; background-image: url(gdcon6feb2025s1_0.png);padding: 0; }
div.gd_con_6_feb_2025_s1_3_2::after {max-width:212px; width:100%;height:0;padding: 0 0 97.16981132075472% 0;}
.gd_con_6_feb_2025_s1_3_3 {max-width:208px; max-height:207px; }
.gd_con_6_feb_2025_s1_3_3::after {content: '\00a0';display: inline-block; width:208px; height:207px; background-position: 99.93065187239945% 71.42857142857143%; background-size: 793.2692307692307% 242.02898550724638%; background-image: url(gdcon6feb2025s1_0.png);padding: 0; }
div.gd_con_6_feb_2025_s1_3_3::after {max-width:208px; width:100%;height:0;padding: 0 0 99.51923076923077% 0;}
.gd_con_6_feb_2025_s1_3_4 {max-width:207px; max-height:208px; }
.gd_con_6_feb_2025_s1_3_4::after {content: '\00a0';display: inline-block; width:207px; height:208px; background-position: 93.20859320859321% 0.3412969283276451%; background-size: 797.1014492753624% 240.8653846153846%; background-image: url(gdcon6feb2025s1_0.png);padding: 0; }
div.gd_con_6_feb_2025_s1_3_4::after {max-width:207px; width:100%;height:0;padding: 0 0 100.48309178743962% 0;}
.gd_con_6_feb_2025_s1_4 {max-width:591px; max-height:123px; }
.gd_con_6_feb_2025_s1_4::after {content: '\00a0';display: inline-block; width:591px; height:123px; background-position: 0.09442870632672333% 56.613756613756614%; background-size: 279.18781725888323% 407.3170731707317%; background-image: url(gdcon6feb2025s1_0.png);padding: 0; }
div.gd_con_6_feb_2025_s1_4::after {max-width:591px; width:100%;height:0;padding: 0 0 20.81218274111675% 0;}
.gd_con_6_feb_2025_s1_4_1 {max-width:132px; max-height:128px; }
.gd_con_6_feb_2025_s1_4_1::after {content: '\00a0';display: inline-block; width:132px; height:128px; background-position: 49.670619235836625% 0.2680965147453083%; background-size: 1250% 391.40625%; background-image: url(gdcon6feb2025s1_0.png);padding: 0; }
div.gd_con_6_feb_2025_s1_4_1::after {max-width:132px; width:100%;height:0;padding: 0 0 96.96969696969697% 0;}
.gd_con_6_feb_2025_s1_4_2 {max-width:128px; max-height:128px; }
.gd_con_6_feb_2025_s1_4_2::after {content: '\00a0';display: inline-block; width:128px; height:128px; background-position: 65.90013140604468% 34.584450402144775%; background-size: 1289.0625% 391.40625%; background-image: url(gdcon6feb2025s1_0.png);padding: 0; }
div.gd_con_6_feb_2025_s1_4_2::after {max-width:128px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_6_feb_2025_s1_4_3 {max-width:130px; max-height:127px; }
.gd_con_6_feb_2025_s1_4_3::after {content: '\00a0';display: inline-block; width:130px; height:127px; background-position: 58.35526315789474% 0.26737967914438504%; background-size: 1269.2307692307693% 394.48818897637796%; background-image: url(gdcon6feb2025s1_0.png);padding: 0; }
div.gd_con_6_feb_2025_s1_4_3::after {max-width:130px; width:100%;height:0;padding: 0 0 97.6923076923077% 0;}
.gd_con_6_feb_2025_s1_4_4 {max-width:130px; max-height:128px; }
.gd_con_6_feb_2025_s1_4_4::after {content: '\00a0';display: inline-block; width:130px; height:128px; background-position: 57.36842105263158% 34.85254691689008%; background-size: 1269.2307692307693% 391.40625%; background-image: url(gdcon6feb2025s1_0.png);padding: 0; }
div.gd_con_6_feb_2025_s1_4_4::after {max-width:130px; width:100%;height:0;padding: 0 0 98.46153846153847% 0;}

@keyframes gd_con_6_feb_2025_s1-frames {
    0% { background-position: 55.509641873278234% 99.68847352024922%;  }
    25% { background-position: 0.09442870632672333% 56.613756613756614%;  }
    50% { background-position: 32.758620689655174% 0.31645569620253167%;  }
    75% { background-position: 0.0823045267489712% 0.3460207612456747%;  }
}

.gd_con_6_feb_2025_s1-animation {
    max-width: 198px;
    max-height: 180px;
}
.gd_con_6_feb_2025_s1-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 198px;
    height: 180px;
    padding: 0;
    background-image: url(gdcon6feb2025s1_0.png);
    background-size: 833.3333333333334% 278.3333333333333%; 
    animation-name: gd_con_6_feb_2025_s1-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_6_feb_2025_s1-animation::after {
    max-width: 198px;
    width: 100%;
    height: 0;
    padding: 0 0 90.9090909090909% 0;
}

@keyframes gd_con_6_feb_2025_s1_14-frames {
    0% { background-position: 43.221574344023324% 50.67750677506775%;  }
    25% { background-position: 32.93650793650794% 91.84782608695652%;  }
    50% { background-position: 70.3781512605042% 92.80575539568345%;  }
    75% { background-position: 0.08084074373484236% 92.6027397260274%;  }
}

.gd_con_6_feb_2025_s1_14-animation {
    max-width: 278px;
    max-height: 132px;
}
.gd_con_6_feb_2025_s1_14-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 278px;
    height: 132px;
    padding: 0;
    background-image: url(gdcon6feb2025s1_0.png);
    background-size: 593.5251798561151% 379.54545454545456%; 
    animation-name: gd_con_6_feb_2025_s1_14-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_6_feb_2025_s1_14-animation::after {
    max-width: 278px;
    width: 100%;
    height: 0;
    padding: 0 0 47.48201438848921% 0;
}

@keyframes gd_con_6_feb_2025_s1_3-frames {
    0% { background-position: 78.72044506258693% 0.3448275862068966%;  }
    25% { background-position: 85.39638386648123% 72.20338983050847%;  }
    50% { background-position: 99.93065187239945% 71.42857142857143%;  }
    75% { background-position: 93.20859320859321% 0.3412969283276451%;  }
}

.gd_con_6_feb_2025_s1_3-animation {
    max-width: 212px;
    max-height: 211px;
}
.gd_con_6_feb_2025_s1_3-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 212px;
    height: 211px;
    padding: 0;
    background-image: url(gdcon6feb2025s1_0.png);
    background-size: 778.3018867924528% 237.44075829383885%; 
    animation-name: gd_con_6_feb_2025_s1_3-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_6_feb_2025_s1_3-animation::after {
    max-width: 212px;
    width: 100%;
    height: 0;
    padding: 0 0 99.52830188679245% 0;
}

@keyframes gd_con_6_feb_2025_s1_4-frames {
    0% { background-position: 49.670619235836625% 0.2680965147453083%;  }
    25% { background-position: 65.90013140604468% 34.584450402144775%;  }
    50% { background-position: 58.35526315789474% 0.26737967914438504%;  }
    75% { background-position: 57.36842105263158% 34.85254691689008%;  }
}

.gd_con_6_feb_2025_s1_4-animation {
    max-width: 132px;
    max-height: 128px;
}
.gd_con_6_feb_2025_s1_4-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 132px;
    height: 128px;
    padding: 0;
    background-image: url(gdcon6feb2025s1_0.png);
    background-size: 1250% 391.40625%; 
    animation-name: gd_con_6_feb_2025_s1_4-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_6_feb_2025_s1_4-animation::after {
    max-width: 132px;
    width: 100%;
    height: 0;
    padding: 0 0 96.96969696969697% 0;
}

/* $TexturePacker:SmartUpdate:d1fe3a026e8fa0ab542c0849152e5e7f:8305d3b56269443f3f5d0858ee7d291a:805f3bb96c4fdd1bc37bff6d949e8d57$ */
