/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.gd_con_21_feb_2024_s3_16 {max-width:266px; max-height:81px; }
.gd_con_21_feb_2024_s3_16::after {content: '\00a0';display: inline-block; width:266px; height:81px; background-position: 99.86577181208054% 50%; background-size: 380.0751879699248% 307.4074074074074%; background-image: url(gdcon21feb2024s3_0.png);padding: 0; }
div.gd_con_21_feb_2024_s3_16::after {max-width:266px; width:100%;height:0;padding: 0 0 30.451127819548873% 0;}
.gd_con_21_feb_2024_s3_16_1 {max-width:82px; max-height:81px; }
.gd_con_21_feb_2024_s3_16_1::after {content: '\00a0';display: inline-block; width:82px; height:81px; background-position: 26.910656620021527% 99.4047619047619%; background-size: 1232.9268292682927% 307.4074074074074%; background-image: url(gdcon21feb2024s3_0.png);padding: 0; }
div.gd_con_21_feb_2024_s3_16_1::after {max-width:82px; width:100%;height:0;padding: 0 0 98.78048780487805% 0;}
.gd_con_21_feb_2024_s3_16_2 {max-width:82px; max-height:81px; }
.gd_con_21_feb_2024_s3_16_2::after {content: '\00a0';display: inline-block; width:82px; height:81px; background-position: 35.84499461786868% 99.4047619047619%; background-size: 1232.9268292682927% 307.4074074074074%; background-image: url(gdcon21feb2024s3_0.png);padding: 0; }
div.gd_con_21_feb_2024_s3_16_2::after {max-width:82px; width:100%;height:0;padding: 0 0 98.78048780487805% 0;}
.gd_con_21_feb_2024_s3_16_3 {max-width:81px; max-height:81px; }
.gd_con_21_feb_2024_s3_16_3::after {content: '\00a0';display: inline-block; width:81px; height:81px; background-position: 99.78494623655914% 98.80952380952381%; background-size: 1248.148148148148% 307.4074074074074%; background-image: url(gdcon21feb2024s3_0.png);padding: 0; }
div.gd_con_21_feb_2024_s3_16_3::after {max-width:81px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s3_16_4 {max-width:82px; max-height:82px; }
.gd_con_21_feb_2024_s3_16_4::after {content: '\00a0';display: inline-block; width:82px; height:82px; background-position: 46.39397201291712% 99.40119760479043%; background-size: 1232.9268292682927% 303.6585365853659%; background-image: url(gdcon21feb2024s3_0.png);padding: 0; }
div.gd_con_21_feb_2024_s3_16_4::after {max-width:82px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s3_20 {max-width:475px; max-height:82px; }
.gd_con_21_feb_2024_s3_20::after {content: '\00a0';display: inline-block; width:475px; height:82px; background-position: 0.1865671641791045% 0.5988023952095808%; background-size: 212.8421052631579% 303.6585365853659%; background-image: url(gdcon21feb2024s3_0.png);padding: 0; }
div.gd_con_21_feb_2024_s3_20::after {max-width:475px; width:100%;height:0;padding: 0 0 17.263157894736842% 0;}
.gd_con_21_feb_2024_s3_20_1 {max-width:82px; max-height:82px; }
.gd_con_21_feb_2024_s3_20_1::after {content: '\00a0';display: inline-block; width:82px; height:82px; background-position: 55.32831001076426% 99.40119760479043%; background-size: 1232.9268292682927% 303.6585365853659%; background-image: url(gdcon21feb2024s3_0.png);padding: 0; }
div.gd_con_21_feb_2024_s3_20_1::after {max-width:82px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s3_20_2 {max-width:82px; max-height:82px; }
.gd_con_21_feb_2024_s3_20_2::after {content: '\00a0';display: inline-block; width:82px; height:82px; background-position: 64.26264800861141% 99.40119760479043%; background-size: 1232.9268292682927% 303.6585365853659%; background-image: url(gdcon21feb2024s3_0.png);padding: 0; }
div.gd_con_21_feb_2024_s3_20_2::after {max-width:82px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s3_20_3 {max-width:82px; max-height:82px; }
.gd_con_21_feb_2024_s3_20_3::after {content: '\00a0';display: inline-block; width:82px; height:82px; background-position: 73.19698600645856% 99.40119760479043%; background-size: 1232.9268292682927% 303.6585365853659%; background-image: url(gdcon21feb2024s3_0.png);padding: 0; }
div.gd_con_21_feb_2024_s3_20_3::after {max-width:82px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s3_20_4 {max-width:82px; max-height:82px; }
.gd_con_21_feb_2024_s3_20_4::after {content: '\00a0';display: inline-block; width:82px; height:82px; background-position: 82.13132400430571% 99.40119760479043%; background-size: 1232.9268292682927% 303.6585365853659%; background-image: url(gdcon21feb2024s3_0.png);padding: 0; }
div.gd_con_21_feb_2024_s3_20_4::after {max-width:82px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s3_3 {max-width:266px; max-height:82px; }
.gd_con_21_feb_2024_s3_3::after {content: '\00a0';display: inline-block; width:266px; height:82px; background-position: 64.02684563758389% 49.70059880239521%; background-size: 380.0751879699248% 303.6585365853659%; background-image: url(gdcon21feb2024s3_0.png);padding: 0; }
div.gd_con_21_feb_2024_s3_3::after {max-width:266px; width:100%;height:0;padding: 0 0 30.827067669172934% 0;}
.gd_con_21_feb_2024_s3_3_1 {max-width:81px; max-height:81px; }
.gd_con_21_feb_2024_s3_3_1::after {content: '\00a0';display: inline-block; width:81px; height:81px; background-position: 90.96774193548387% 98.80952380952381%; background-size: 1248.148148148148% 307.4074074074074%; background-image: url(gdcon21feb2024s3_0.png);padding: 0; }
div.gd_con_21_feb_2024_s3_3_1::after {max-width:81px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s3_3_2 {max-width:82px; max-height:82px; }
.gd_con_21_feb_2024_s3_3_2::after {content: '\00a0';display: inline-block; width:82px; height:82px; background-position: 97.95479009687837% 0.5988023952095808%; background-size: 1232.9268292682927% 303.6585365853659%; background-image: url(gdcon21feb2024s3_0.png);padding: 0; }
div.gd_con_21_feb_2024_s3_3_2::after {max-width:82px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s3_3_3 {max-width:82px; max-height:82px; }
.gd_con_21_feb_2024_s3_3_3::after {content: '\00a0';display: inline-block; width:82px; height:82px; background-position: 19.590958019375673% 50.29940119760479%; background-size: 1232.9268292682927% 303.6585365853659%; background-image: url(gdcon21feb2024s3_0.png);padding: 0; }
div.gd_con_21_feb_2024_s3_3_3::after {max-width:82px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s3_3_4 {max-width:82px; max-height:82px; }
.gd_con_21_feb_2024_s3_3_4::after {content: '\00a0';display: inline-block; width:82px; height:82px; background-position: 0.10764262648008611% 95.20958083832335%; background-size: 1232.9268292682927% 303.6585365853659%; background-image: url(gdcon21feb2024s3_0.png);padding: 0; }
div.gd_con_21_feb_2024_s3_3_4::after {max-width:82px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s3_4 {max-width:432px; max-height:81px; }
.gd_con_21_feb_2024_s3_4::after {content: '\00a0';display: inline-block; width:432px; height:81px; background-position: 82.38341968911917% 0.5952380952380952%; background-size: 234.02777777777777% 307.4074074074074%; background-image: url(gdcon21feb2024s3_0.png);padding: 0; }
div.gd_con_21_feb_2024_s3_4::after {max-width:432px; width:100%;height:0;padding: 0 0 18.75% 0;}
.gd_con_21_feb_2024_s3_4_1 {max-width:82px; max-height:82px; }
.gd_con_21_feb_2024_s3_4_1::after {content: '\00a0';display: inline-block; width:82px; height:82px; background-position: 9.041980624327234% 95.20958083832335%; background-size: 1232.9268292682927% 303.6585365853659%; background-image: url(gdcon21feb2024s3_0.png);padding: 0; }
div.gd_con_21_feb_2024_s3_4_1::after {max-width:82px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s3_4_2 {max-width:82px; max-height:82px; }
.gd_con_21_feb_2024_s3_4_2::after {content: '\00a0';display: inline-block; width:82px; height:82px; background-position: 28.52529601722282% 50.29940119760479%; background-size: 1232.9268292682927% 303.6585365853659%; background-image: url(gdcon21feb2024s3_0.png);padding: 0; }
div.gd_con_21_feb_2024_s3_4_2::after {max-width:82px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s3_4_3 {max-width:82px; max-height:82px; }
.gd_con_21_feb_2024_s3_4_3::after {content: '\00a0';display: inline-block; width:82px; height:82px; background-position: 37.459634015069966% 50.29940119760479%; background-size: 1232.9268292682927% 303.6585365853659%; background-image: url(gdcon21feb2024s3_0.png);padding: 0; }
div.gd_con_21_feb_2024_s3_4_3::after {max-width:82px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s3_4_4 {max-width:82px; max-height:81px; }
.gd_con_21_feb_2024_s3_4_4::after {content: '\00a0';display: inline-block; width:82px; height:81px; background-position: 17.976318622174382% 99.4047619047619%; background-size: 1232.9268292682927% 307.4074074074074%; background-image: url(gdcon21feb2024s3_0.png);padding: 0; }
div.gd_con_21_feb_2024_s3_4_4::after {max-width:82px; width:100%;height:0;padding: 0 0 98.78048780487805% 0;}
.gd_con_21_feb_2024_s3_8 {max-width:180px; max-height:74px; }
.gd_con_21_feb_2024_s3_8::after {content: '\00a0';display: inline-block; width:180px; height:74px; background-position: 0.12033694344163658% 48%; background-size: 561.6666666666666% 336.4864864864865%; background-image: url(gdcon21feb2024s3_0.png);padding: 0; }
div.gd_con_21_feb_2024_s3_8::after {max-width:180px; width:100%;height:0;padding: 0 0 41.111111111111114% 0;}

@keyframes gd_con_21_feb_2024_s3-frames {
    0% { background-position: 64.02684563758389% 49.70059880239521%;  }
    20% { background-position: 82.38341968911917% 0.5952380952380952%;  }
    40% { background-position: 0.12033694344163658% 48%;  }
    60% { background-position: 99.86577181208054% 50%;  }
    80% { background-position: 0.1865671641791045% 0.5988023952095808%;  }
}

.gd_con_21_feb_2024_s3-animation {
    max-width: 266px;
    max-height: 82px;
}
.gd_con_21_feb_2024_s3-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 266px;
    height: 82px;
    padding: 0;
    background-image: url(gdcon21feb2024s3_0.png);
    background-size: 380.0751879699248% 303.6585365853659%; 
    animation-name: gd_con_21_feb_2024_s3-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_21_feb_2024_s3-animation::after {
    max-width: 266px;
    width: 100%;
    height: 0;
    padding: 0 0 30.827067669172934% 0;
}

@keyframes gd_con_21_feb_2024_s3_16-frames {
    0% { background-position: 26.910656620021527% 99.4047619047619%;  }
    25% { background-position: 35.84499461786868% 99.4047619047619%;  }
    50% { background-position: 99.78494623655914% 98.80952380952381%;  }
    75% { background-position: 46.39397201291712% 99.40119760479043%;  }
}

.gd_con_21_feb_2024_s3_16-animation {
    max-width: 82px;
    max-height: 81px;
}
.gd_con_21_feb_2024_s3_16-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 82px;
    height: 81px;
    padding: 0;
    background-image: url(gdcon21feb2024s3_0.png);
    background-size: 1232.9268292682927% 307.4074074074074%; 
    animation-name: gd_con_21_feb_2024_s3_16-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_21_feb_2024_s3_16-animation::after {
    max-width: 82px;
    width: 100%;
    height: 0;
    padding: 0 0 98.78048780487805% 0;
}

@keyframes gd_con_21_feb_2024_s3_20-frames {
    0% { background-position: 55.32831001076426% 99.40119760479043%;  }
    25% { background-position: 64.26264800861141% 99.40119760479043%;  }
    50% { background-position: 73.19698600645856% 99.40119760479043%;  }
    75% { background-position: 82.13132400430571% 99.40119760479043%;  }
}

.gd_con_21_feb_2024_s3_20-animation {
    max-width: 82px;
    max-height: 82px;
}
.gd_con_21_feb_2024_s3_20-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 82px;
    height: 82px;
    padding: 0;
    background-image: url(gdcon21feb2024s3_0.png);
    background-size: 1232.9268292682927% 303.6585365853659%; 
    animation-name: gd_con_21_feb_2024_s3_20-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_21_feb_2024_s3_20-animation::after {
    max-width: 82px;
    width: 100%;
    height: 0;
    padding: 0 0 100% 0;
}

@keyframes gd_con_21_feb_2024_s3_3-frames {
    0% { background-position: 90.96774193548387% 98.80952380952381%;  }
    25% { background-position: 97.95479009687837% 0.5988023952095808%;  }
    50% { background-position: 19.590958019375673% 50.29940119760479%;  }
    75% { background-position: 0.10764262648008611% 95.20958083832335%;  }
}

.gd_con_21_feb_2024_s3_3-animation {
    max-width: 81px;
    max-height: 81px;
}
.gd_con_21_feb_2024_s3_3-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 81px;
    height: 81px;
    padding: 0;
    background-image: url(gdcon21feb2024s3_0.png);
    background-size: 1248.148148148148% 307.4074074074074%; 
    animation-name: gd_con_21_feb_2024_s3_3-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_21_feb_2024_s3_3-animation::after {
    max-width: 81px;
    width: 100%;
    height: 0;
    padding: 0 0 100% 0;
}

@keyframes gd_con_21_feb_2024_s3_4-frames {
    0% { background-position: 9.041980624327234% 95.20958083832335%;  }
    25% { background-position: 28.52529601722282% 50.29940119760479%;  }
    50% { background-position: 37.459634015069966% 50.29940119760479%;  }
    75% { background-position: 17.976318622174382% 99.4047619047619%;  }
}

.gd_con_21_feb_2024_s3_4-animation {
    max-width: 82px;
    max-height: 82px;
}
.gd_con_21_feb_2024_s3_4-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 82px;
    height: 82px;
    padding: 0;
    background-image: url(gdcon21feb2024s3_0.png);
    background-size: 1232.9268292682927% 303.6585365853659%; 
    animation-name: gd_con_21_feb_2024_s3_4-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_21_feb_2024_s3_4-animation::after {
    max-width: 82px;
    width: 100%;
    height: 0;
    padding: 0 0 100% 0;
}

/* $TexturePacker:SmartUpdate:02fd2e1ba68a172e3bb94e92f10b52e1:f92246efdd1a2313a0947e6434839119:549079205af5dcc52932a29b5c64ba61$ */
