/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.gd_con_21_feb_2024_s1_10 {max-width:300px; max-height:92px; }
.gd_con_21_feb_2024_s1_10::after {content: '\00a0';display: inline-block; width:300px; height:92px; background-position: 0.4854368932038835% 56.7287784679089%; background-size: 168.66666666666666% 625%; background-image: url(gdcon21feb2024s1_0.png);padding: 0; }
div.gd_con_21_feb_2024_s1_10::after {max-width:300px; width:100%;height:0;padding: 0 0 30.666666666666668% 0;}
.gd_con_21_feb_2024_s1_10_1 {max-width:100px; max-height:100px; }
.gd_con_21_feb_2024_s1_10_1::after {content: '\00a0';display: inline-block; width:100px; height:100px; background-position: 49.75369458128079% 77.26315789473684%; background-size: 506% 575%; background-image: url(gdcon21feb2024s1_0.png);padding: 0; }
div.gd_con_21_feb_2024_s1_10_1::after {max-width:100px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s1_10_2 {max-width:100px; max-height:100px; }
.gd_con_21_feb_2024_s1_10_2::after {content: '\00a0';display: inline-block; width:100px; height:100px; background-position: 50% 98.52631578947368%; background-size: 506% 575%; background-image: url(gdcon21feb2024s1_0.png);padding: 0; }
div.gd_con_21_feb_2024_s1_10_2::after {max-width:100px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s1_10_3 {max-width:100px; max-height:100px; }
.gd_con_21_feb_2024_s1_10_3::after {content: '\00a0';display: inline-block; width:100px; height:100px; background-position: 99.26108374384236% 34.94736842105263%; background-size: 506% 575%; background-image: url(gdcon21feb2024s1_0.png);padding: 0; }
div.gd_con_21_feb_2024_s1_10_3::after {max-width:100px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s1_10_4 {max-width:100px; max-height:100px; }
.gd_con_21_feb_2024_s1_10_4::after {content: '\00a0';display: inline-block; width:100px; height:100px; background-position: 74.63054187192118% 56.421052631578945%; background-size: 506% 575%; background-image: url(gdcon21feb2024s1_0.png);padding: 0; }
div.gd_con_21_feb_2024_s1_10_4::after {max-width:100px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s1_11 {max-width:439px; max-height:81px; }
.gd_con_21_feb_2024_s1_11::after {content: '\00a0';display: inline-block; width:439px; height:81px; background-position: 1.492537313432836% 17.004048582995953%; background-size: 115.26195899772209% 709.8765432098766%; background-image: url(gdcon21feb2024s1_0.png);padding: 0; }
div.gd_con_21_feb_2024_s1_11::after {max-width:439px; width:100%;height:0;padding: 0 0 18.451025056947607% 0;}
.gd_con_21_feb_2024_s1_11_1 {max-width:100px; max-height:100px; }
.gd_con_21_feb_2024_s1_11_1::after {content: '\00a0';display: inline-block; width:100px; height:100px; background-position: 99.50738916256158% 56.21052631578947%; background-size: 506% 575%; background-image: url(gdcon21feb2024s1_0.png);padding: 0; }
div.gd_con_21_feb_2024_s1_11_1::after {max-width:100px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s1_11_2 {max-width:100px; max-height:99px; }
.gd_con_21_feb_2024_s1_11_2::after {content: '\00a0';display: inline-block; width:100px; height:99px; background-position: 0.24630541871921183% 99.78991596638656%; background-size: 506% 580.8080808080808%; background-image: url(gdcon21feb2024s1_0.png);padding: 0; }
div.gd_con_21_feb_2024_s1_11_2::after {max-width:100px; width:100%;height:0;padding: 0 0 99% 0;}
.gd_con_21_feb_2024_s1_11_3 {max-width:100px; max-height:99px; }
.gd_con_21_feb_2024_s1_11_3::after {content: '\00a0';display: inline-block; width:100px; height:99px; background-position: 25.123152709359605% 99.78991596638656%; background-size: 506% 580.8080808080808%; background-image: url(gdcon21feb2024s1_0.png);padding: 0; }
div.gd_con_21_feb_2024_s1_11_3::after {max-width:100px; width:100%;height:0;padding: 0 0 99% 0;}
.gd_con_21_feb_2024_s1_11_4 {max-width:100px; max-height:100px; }
.gd_con_21_feb_2024_s1_11_4::after {content: '\00a0';display: inline-block; width:100px; height:100px; background-position: 74.8768472906404% 77.6842105263158%; background-size: 506% 575%; background-image: url(gdcon21feb2024s1_0.png);padding: 0; }
div.gd_con_21_feb_2024_s1_11_4::after {max-width:100px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s1_15 {max-width:442px; max-height:82px; }
.gd_con_21_feb_2024_s1_15::after {content: '\00a0';display: inline-block; width:442px; height:82px; background-position: 1.5625% 0.2028397565922921%; background-size: 114.47963800904978% 701.219512195122%; background-image: url(gdcon21feb2024s1_0.png);padding: 0; }
div.gd_con_21_feb_2024_s1_15::after {max-width:442px; width:100%;height:0;padding: 0 0 18.552036199095024% 0;}
.gd_con_21_feb_2024_s1_15_1 {max-width:100px; max-height:101px; }
.gd_con_21_feb_2024_s1_15_1::after {content: '\00a0';display: inline-block; width:100px; height:101px; background-position: 74.38423645320196% 35.0210970464135%; background-size: 506% 569.3069306930693%; background-image: url(gdcon21feb2024s1_0.png);padding: 0; }
div.gd_con_21_feb_2024_s1_15_1::after {max-width:100px; width:100%;height:0;padding: 0 0 101% 0;}
.gd_con_21_feb_2024_s1_15_2 {max-width:100px; max-height:100px; }
.gd_con_21_feb_2024_s1_15_2::after {content: '\00a0';display: inline-block; width:100px; height:100px; background-position: 99.75369458128078% 77.47368421052632%; background-size: 506% 575%; background-image: url(gdcon21feb2024s1_0.png);padding: 0; }
div.gd_con_21_feb_2024_s1_15_2::after {max-width:100px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s1_15_3 {max-width:100px; max-height:100px; }
.gd_con_21_feb_2024_s1_15_3::after {content: '\00a0';display: inline-block; width:100px; height:100px; background-position: 99.75369458128078% 98.73684210526316%; background-size: 506% 575%; background-image: url(gdcon21feb2024s1_0.png);padding: 0; }
div.gd_con_21_feb_2024_s1_15_3::after {max-width:100px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s1_15_4 {max-width:100px; max-height:100px; }
.gd_con_21_feb_2024_s1_15_4::after {content: '\00a0';display: inline-block; width:100px; height:100px; background-position: 74.8768472906404% 98.94736842105263%; background-size: 506% 575%; background-image: url(gdcon21feb2024s1_0.png);padding: 0; }
div.gd_con_21_feb_2024_s1_15_4::after {max-width:100px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s1_19 {max-width:300px; max-height:107px; }
.gd_con_21_feb_2024_s1_19::after {content: '\00a0';display: inline-block; width:300px; height:107px; background-position: 0.4854368932038835% 35.47008547008547%; background-size: 168.66666666666666% 537.3831775700935%; background-image: url(gdcon21feb2024s1_0.png);padding: 0; }
div.gd_con_21_feb_2024_s1_19::after {max-width:300px; width:100%;height:0;padding: 0 0 35.666666666666664% 0;}
.gd_con_21_feb_2024_s1_9 {max-width:200px; max-height:107px; }
.gd_con_21_feb_2024_s1_9::after {content: '\00a0';display: inline-block; width:200px; height:107px; background-position: 0.32679738562091504% 78.41880341880342%; background-size: 253% 537.3831775700935%; background-image: url(gdcon21feb2024s1_0.png);padding: 0; }
div.gd_con_21_feb_2024_s1_9::after {max-width:200px; width:100%;height:0;padding: 0 0 53.5% 0;}

@keyframes gd_con_21_feb_2024_s1-frames {
    0% { background-position: 0.32679738562091504% 78.41880341880342%;  }
    20% { background-position: 0.4854368932038835% 56.7287784679089%;  }
    40% { background-position: 1.492537313432836% 17.004048582995953%;  }
    60% { background-position: 1.5625% 0.2028397565922921%;  }
    80% { background-position: 0.4854368932038835% 35.47008547008547%;  }
}

.gd_con_21_feb_2024_s1-animation {
    max-width: 200px;
    max-height: 107px;
}
.gd_con_21_feb_2024_s1-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 200px;
    height: 107px;
    padding: 0;
    background-image: url(gdcon21feb2024s1_0.png);
    background-size: 253% 537.3831775700935%; 
    animation-name: gd_con_21_feb_2024_s1-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_21_feb_2024_s1-animation::after {
    max-width: 200px;
    width: 100%;
    height: 0;
    padding: 0 0 53.5% 0;
}

@keyframes gd_con_21_feb_2024_s1_10-frames {
    0% { background-position: 49.75369458128079% 77.26315789473684%;  }
    25% { background-position: 50% 98.52631578947368%;  }
    50% { background-position: 99.26108374384236% 34.94736842105263%;  }
    75% { background-position: 74.63054187192118% 56.421052631578945%;  }
}

.gd_con_21_feb_2024_s1_10-animation {
    max-width: 100px;
    max-height: 100px;
}
.gd_con_21_feb_2024_s1_10-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 0;
    background-image: url(gdcon21feb2024s1_0.png);
    background-size: 506% 575%; 
    animation-name: gd_con_21_feb_2024_s1_10-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_21_feb_2024_s1_10-animation::after {
    max-width: 100px;
    width: 100%;
    height: 0;
    padding: 0 0 100% 0;
}

@keyframes gd_con_21_feb_2024_s1_11-frames {
    0% { background-position: 99.50738916256158% 56.21052631578947%;  }
    25% { background-position: 0.24630541871921183% 99.78991596638656%;  }
    50% { background-position: 25.123152709359605% 99.78991596638656%;  }
    75% { background-position: 74.8768472906404% 77.6842105263158%;  }
}

.gd_con_21_feb_2024_s1_11-animation {
    max-width: 100px;
    max-height: 100px;
}
.gd_con_21_feb_2024_s1_11-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 0;
    background-image: url(gdcon21feb2024s1_0.png);
    background-size: 506% 575%; 
    animation-name: gd_con_21_feb_2024_s1_11-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_21_feb_2024_s1_11-animation::after {
    max-width: 100px;
    width: 100%;
    height: 0;
    padding: 0 0 100% 0;
}

@keyframes gd_con_21_feb_2024_s1_15-frames {
    0% { background-position: 74.38423645320196% 35.0210970464135%;  }
    25% { background-position: 99.75369458128078% 77.47368421052632%;  }
    50% { background-position: 99.75369458128078% 98.73684210526316%;  }
    75% { background-position: 74.8768472906404% 98.94736842105263%;  }
}

.gd_con_21_feb_2024_s1_15-animation {
    max-width: 100px;
    max-height: 101px;
}
.gd_con_21_feb_2024_s1_15-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 100px;
    height: 101px;
    padding: 0;
    background-image: url(gdcon21feb2024s1_0.png);
    background-size: 506% 569.3069306930693%; 
    animation-name: gd_con_21_feb_2024_s1_15-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_21_feb_2024_s1_15-animation::after {
    max-width: 100px;
    width: 100%;
    height: 0;
    padding: 0 0 101% 0;
}

/* $TexturePacker:SmartUpdate:9a88f8426467bb3c312b674eea166518:1697447b908148312ca7f852d61fc729:696f21e83260262fcbed173384d52971$ */
