/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.gd_con_21_feb_2024_s1_10 {max-width:266px; max-height:82px; }
.gd_con_21_feb_2024_s1_10::after {content: '\00a0';display: inline-block; width:266px; height:82px; background-position: 0.5617977528089888% 39.523809523809526%; background-size: 166.91729323308272% 612.1951219512196%; background-image: url(gdcon21feb2024s1_0.png);padding: 0; }
div.gd_con_21_feb_2024_s1_10::after {max-width:266px; width:100%;height:0;padding: 0 0 30.827067669172934% 0;}
.gd_con_21_feb_2024_s1_10_1 {max-width:82px; max-height:82px; }
.gd_con_21_feb_2024_s1_10_1::after {content: '\00a0';display: inline-block; width:82px; height:82px; background-position: 0.27624309392265195% 80%; background-size: 541.4634146341464% 612.1951219512196%; background-image: url(gdcon21feb2024s1_0.png);padding: 0; }
div.gd_con_21_feb_2024_s1_10_1::after {max-width:82px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s1_10_2 {max-width:82px; max-height:82px; }
.gd_con_21_feb_2024_s1_10_2::after {content: '\00a0';display: inline-block; width:82px; height:82px; background-position: 0.27624309392265195% 99.76190476190476%; background-size: 541.4634146341464% 612.1951219512196%; background-image: url(gdcon21feb2024s1_0.png);padding: 0; }
div.gd_con_21_feb_2024_s1_10_2::after {max-width:82px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s1_10_3 {max-width:82px; max-height:82px; }
.gd_con_21_feb_2024_s1_10_3::after {content: '\00a0';display: inline-block; width:82px; height:82px; background-position: 23.204419889502763% 80%; background-size: 541.4634146341464% 612.1951219512196%; background-image: url(gdcon21feb2024s1_0.png);padding: 0; }
div.gd_con_21_feb_2024_s1_10_3::after {max-width:82px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s1_10_4 {max-width:82px; max-height:82px; }
.gd_con_21_feb_2024_s1_10_4::after {content: '\00a0';display: inline-block; width:82px; height:82px; background-position: 23.204419889502763% 99.76190476190476%; background-size: 541.4634146341464% 612.1951219512196%; background-image: url(gdcon21feb2024s1_0.png);padding: 0; }
div.gd_con_21_feb_2024_s1_10_4::after {max-width:82px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s1_11 {max-width:439px; max-height:81px; }
.gd_con_21_feb_2024_s1_11::after {content: '\00a0';display: inline-block; width:439px; height:81px; background-position: 20% 19.95249406175772%; background-size: 101.13895216400911% 619.7530864197531%; background-image: url(gdcon21feb2024s1_0.png);padding: 0; }
div.gd_con_21_feb_2024_s1_11::after {max-width:439px; width:100%;height:0;padding: 0 0 18.451025056947607% 0;}
.gd_con_21_feb_2024_s1_11_1 {max-width:82px; max-height:82px; }
.gd_con_21_feb_2024_s1_11_1::after {content: '\00a0';display: inline-block; width:82px; height:82px; background-position: 46.13259668508287% 80%; background-size: 541.4634146341464% 612.1951219512196%; background-image: url(gdcon21feb2024s1_0.png);padding: 0; }
div.gd_con_21_feb_2024_s1_11_1::after {max-width:82px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s1_11_2 {max-width:82px; max-height:81px; }
.gd_con_21_feb_2024_s1_11_2::after {content: '\00a0';display: inline-block; width:82px; height:81px; background-position: 91.71270718232044% 99.2874109263658%; background-size: 541.4634146341464% 619.7530864197531%; background-image: url(gdcon21feb2024s1_0.png);padding: 0; }
div.gd_con_21_feb_2024_s1_11_2::after {max-width:82px; width:100%;height:0;padding: 0 0 98.78048780487805% 0;}
.gd_con_21_feb_2024_s1_11_3 {max-width:82px; max-height:81px; }
.gd_con_21_feb_2024_s1_11_3::after {content: '\00a0';display: inline-block; width:82px; height:81px; background-position: 91.98895027624309% 79.57244655581948%; background-size: 541.4634146341464% 619.7530864197531%; background-image: url(gdcon21feb2024s1_0.png);padding: 0; }
div.gd_con_21_feb_2024_s1_11_3::after {max-width:82px; width:100%;height:0;padding: 0 0 98.78048780487805% 0;}
.gd_con_21_feb_2024_s1_11_4 {max-width:82px; max-height:82px; }
.gd_con_21_feb_2024_s1_11_4::after {content: '\00a0';display: inline-block; width:82px; height:82px; background-position: 46.13259668508287% 99.76190476190476%; background-size: 541.4634146341464% 612.1951219512196%; background-image: url(gdcon21feb2024s1_0.png);padding: 0; }
div.gd_con_21_feb_2024_s1_11_4::after {max-width:82px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s1_15 {max-width:442px; max-height:82px; }
.gd_con_21_feb_2024_s1_15::after {content: '\00a0';display: inline-block; width:442px; height:82px; background-position: 50% 0.23809523809523808%; background-size: 100.4524886877828% 612.1951219512196%; background-image: url(gdcon21feb2024s1_0.png);padding: 0; }
div.gd_con_21_feb_2024_s1_15::after {max-width:442px; width:100%;height:0;padding: 0 0 18.552036199095024% 0;}
.gd_con_21_feb_2024_s1_15_1 {max-width:81px; max-height:82px; }
.gd_con_21_feb_2024_s1_15_1::after {content: '\00a0';display: inline-block; width:81px; height:82px; background-position: 68.87052341597796% 99.52380952380952%; background-size: 548.1481481481482% 612.1951219512196%; background-image: url(gdcon21feb2024s1_0.png);padding: 0; }
div.gd_con_21_feb_2024_s1_15_1::after {max-width:81px; width:100%;height:0;padding: 0 0 101.23456790123457% 0;}
.gd_con_21_feb_2024_s1_15_2 {max-width:82px; max-height:82px; }
.gd_con_21_feb_2024_s1_15_2::after {content: '\00a0';display: inline-block; width:82px; height:82px; background-position: 67.40331491712708% 60%; background-size: 541.4634146341464% 612.1951219512196%; background-image: url(gdcon21feb2024s1_0.png);padding: 0; }
div.gd_con_21_feb_2024_s1_15_2::after {max-width:82px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s1_15_3 {max-width:82px; max-height:82px; }
.gd_con_21_feb_2024_s1_15_3::after {content: '\00a0';display: inline-block; width:82px; height:82px; background-position: 90.33149171270718% 60%; background-size: 541.4634146341464% 612.1951219512196%; background-image: url(gdcon21feb2024s1_0.png);padding: 0; }
div.gd_con_21_feb_2024_s1_15_3::after {max-width:82px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s1_15_4 {max-width:82px; max-height:82px; }
.gd_con_21_feb_2024_s1_15_4::after {content: '\00a0';display: inline-block; width:82px; height:82px; background-position: 69.06077348066299% 79.76190476190476%; background-size: 541.4634146341464% 612.1951219512196%; background-image: url(gdcon21feb2024s1_0.png);padding: 0; }
div.gd_con_21_feb_2024_s1_15_4::after {max-width:82px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s1_19 {max-width:242px; max-height:86px; }
.gd_con_21_feb_2024_s1_19::after {content: '\00a0';display: inline-block; width:242px; height:86px; background-position: 0.49504950495049505% 59.85576923076923%; background-size: 183.47107438016528% 583.7209302325581%; background-image: url(gdcon21feb2024s1_0.png);padding: 0; }
div.gd_con_21_feb_2024_s1_19::after {max-width:242px; width:100%;height:0;padding: 0 0 35.53719008264463% 0;}
.gd_con_21_feb_2024_s1_9 {max-width:159px; max-height:85px; }
.gd_con_21_feb_2024_s1_9::after {content: '\00a0';display: inline-block; width:159px; height:85px; background-position: 94.03508771929825% 39.80815347721823%; background-size: 279.24528301886795% 590.5882352941177%; background-image: url(gdcon21feb2024s1_0.png);padding: 0; }
div.gd_con_21_feb_2024_s1_9::after {max-width:159px; width:100%;height:0;padding: 0 0 53.459119496855344% 0;}

@keyframes gd_con_21_feb_2024_s1-frames {
    0% { background-position: 94.03508771929825% 39.80815347721823%;  }
    20% { background-position: 0.5617977528089888% 39.523809523809526%;  }
    40% { background-position: 20% 19.95249406175772%;  }
    60% { background-position: 50% 0.23809523809523808%;  }
    80% { background-position: 0.49504950495049505% 59.85576923076923%;  }
}

.gd_con_21_feb_2024_s1-animation {
    max-width: 159px;
    max-height: 85px;
}
.gd_con_21_feb_2024_s1-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 159px;
    height: 85px;
    padding: 0;
    background-image: url(gdcon21feb2024s1_0.png);
    background-size: 279.24528301886795% 590.5882352941177%; 
    animation-name: gd_con_21_feb_2024_s1-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_21_feb_2024_s1-animation::after {
    max-width: 159px;
    width: 100%;
    height: 0;
    padding: 0 0 53.459119496855344% 0;
}

@keyframes gd_con_21_feb_2024_s1_10-frames {
    0% { background-position: 0.27624309392265195% 80%;  }
    25% { background-position: 0.27624309392265195% 99.76190476190476%;  }
    50% { background-position: 23.204419889502763% 80%;  }
    75% { background-position: 23.204419889502763% 99.76190476190476%;  }
}

.gd_con_21_feb_2024_s1_10-animation {
    max-width: 82px;
    max-height: 82px;
}
.gd_con_21_feb_2024_s1_10-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 82px;
    height: 82px;
    padding: 0;
    background-image: url(gdcon21feb2024s1_0.png);
    background-size: 541.4634146341464% 612.1951219512196%; 
    animation-name: gd_con_21_feb_2024_s1_10-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_21_feb_2024_s1_10-animation::after {
    max-width: 82px;
    width: 100%;
    height: 0;
    padding: 0 0 100% 0;
}

@keyframes gd_con_21_feb_2024_s1_11-frames {
    0% { background-position: 46.13259668508287% 80%;  }
    25% { background-position: 91.71270718232044% 99.2874109263658%;  }
    50% { background-position: 91.98895027624309% 79.57244655581948%;  }
    75% { background-position: 46.13259668508287% 99.76190476190476%;  }
}

.gd_con_21_feb_2024_s1_11-animation {
    max-width: 82px;
    max-height: 82px;
}
.gd_con_21_feb_2024_s1_11-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 82px;
    height: 82px;
    padding: 0;
    background-image: url(gdcon21feb2024s1_0.png);
    background-size: 541.4634146341464% 612.1951219512196%; 
    animation-name: gd_con_21_feb_2024_s1_11-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_21_feb_2024_s1_11-animation::after {
    max-width: 82px;
    width: 100%;
    height: 0;
    padding: 0 0 100% 0;
}

@keyframes gd_con_21_feb_2024_s1_15-frames {
    0% { background-position: 68.87052341597796% 99.52380952380952%;  }
    25% { background-position: 67.40331491712708% 60%;  }
    50% { background-position: 90.33149171270718% 60%;  }
    75% { background-position: 69.06077348066299% 79.76190476190476%;  }
}

.gd_con_21_feb_2024_s1_15-animation {
    max-width: 81px;
    max-height: 82px;
}
.gd_con_21_feb_2024_s1_15-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 81px;
    height: 82px;
    padding: 0;
    background-image: url(gdcon21feb2024s1_0.png);
    background-size: 548.1481481481482% 612.1951219512196%; 
    animation-name: gd_con_21_feb_2024_s1_15-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_21_feb_2024_s1_15-animation::after {
    max-width: 81px;
    width: 100%;
    height: 0;
    padding: 0 0 101.23456790123457% 0;
}

/* $TexturePacker:SmartUpdate:8310e7a3c465961735fe139a12c0eb96:6dc56ffa37538aaa57df36401176d6a4:696f21e83260262fcbed173384d52971$ */
