/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.gd_con_20_feb_2024_s2_1 {max-width:396px; max-height:81px; }
.gd_con_20_feb_2024_s2_1::after {content: '\00a0';display: inline-block; width:396px; height:81px; background-position: 0.8849557522123894% 25.149700598802394%; background-size: 128.53535353535352% 512.3456790123457%; background-image: url(gdcon20feb2024s2_0.png);padding: 0; }
div.gd_con_20_feb_2024_s2_1::after {max-width:396px; width:100%;height:0;padding: 0 0 20.454545454545453% 0;}
.gd_con_20_feb_2024_s2_10 {max-width:38px; max-height:57px; }
.gd_con_20_feb_2024_s2_10::after {content: '\00a0';display: inline-block; width:38px; height:57px; background-position: 92.56900212314225% 0.27932960893854747%; background-size: 1339.4736842105262% 728.0701754385965%; background-image: url(gdcon20feb2024s2_0.png);padding: 0; }
div.gd_con_20_feb_2024_s2_10::after {max-width:38px; width:100%;height:0;padding: 0 0 150% 0;}
.gd_con_20_feb_2024_s2_10_1 {max-width:82px; max-height:82px; }
.gd_con_20_feb_2024_s2_10_1::after {content: '\00a0';display: inline-block; width:82px; height:82px; background-position: 58.5480093676815% 49.849849849849846%; background-size: 620.7317073170732% 506.0975609756098%; background-image: url(gdcon20feb2024s2_0.png);padding: 0; }
div.gd_con_20_feb_2024_s2_10_1::after {max-width:82px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_20_feb_2024_s2_10_2 {max-width:82px; max-height:82px; }
.gd_con_20_feb_2024_s2_10_2::after {content: '\00a0';display: inline-block; width:82px; height:82px; background-position: 77.98594847775176% 68.76876876876877%; background-size: 620.7317073170732% 506.0975609756098%; background-image: url(gdcon20feb2024s2_0.png);padding: 0; }
div.gd_con_20_feb_2024_s2_10_2::after {max-width:82px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_20_feb_2024_s2_10_3 {max-width:81px; max-height:81px; }
.gd_con_20_feb_2024_s2_10_3::after {content: '\00a0';display: inline-block; width:81px; height:81px; background-position: 19.39252336448598% 99.40119760479043%; background-size: 628.395061728395% 512.3456790123457%; background-image: url(gdcon20feb2024s2_0.png);padding: 0; }
div.gd_con_20_feb_2024_s2_10_3::after {max-width:81px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_20_feb_2024_s2_10_4 {max-width:82px; max-height:82px; }
.gd_con_20_feb_2024_s2_10_4::after {content: '\00a0';display: inline-block; width:82px; height:82px; background-position: 97.42388758782201% 68.76876876876877%; background-size: 620.7317073170732% 506.0975609756098%; background-image: url(gdcon20feb2024s2_0.png);padding: 0; }
div.gd_con_20_feb_2024_s2_10_4::after {max-width:82px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_20_feb_2024_s2_12 {max-width:110px; max-height:144px; }
.gd_con_20_feb_2024_s2_12::after {content: '\00a0';display: inline-block; width:110px; height:144px; background-position: 99.74937343358395% 30.99630996309963%; background-size: 462.72727272727275% 288.19444444444446%; background-image: url(gdcon20feb2024s2_0.png);padding: 0; }
div.gd_con_20_feb_2024_s2_12::after {max-width:110px; width:100%;height:0;padding: 0 0 130.9090909090909% 0;}
.gd_con_20_feb_2024_s2_17 {max-width:434px; max-height:82px; }
.gd_con_20_feb_2024_s2_17::after {content: '\00a0';display: inline-block; width:434px; height:82px; background-position: 1.3333333333333333% 0.3003003003003003%; background-size: 117.28110599078342% 506.0975609756098%; background-image: url(gdcon20feb2024s2_0.png);padding: 0; }
div.gd_con_20_feb_2024_s2_17::after {max-width:434px; width:100%;height:0;padding: 0 0 18.89400921658986% 0;}
.gd_con_20_feb_2024_s2_17_1 {max-width:82px; max-height:82px; }
.gd_con_20_feb_2024_s2_17_1::after {content: '\00a0';display: inline-block; width:82px; height:82px; background-position: 0.234192037470726% 74.77477477477477%; background-size: 620.7317073170732% 506.0975609756098%; background-image: url(gdcon20feb2024s2_0.png);padding: 0; }
div.gd_con_20_feb_2024_s2_17_1::after {max-width:82px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_20_feb_2024_s2_17_2 {max-width:81px; max-height:82px; }
.gd_con_20_feb_2024_s2_17_2::after {content: '\00a0';display: inline-block; width:81px; height:82px; background-position: 77.57009345794393% 93.69369369369369%; background-size: 628.395061728395% 506.0975609756098%; background-image: url(gdcon20feb2024s2_0.png);padding: 0; }
div.gd_con_20_feb_2024_s2_17_2::after {max-width:81px; width:100%;height:0;padding: 0 0 101.23456790123457% 0;}
.gd_con_20_feb_2024_s2_17_3 {max-width:82px; max-height:82px; }
.gd_con_20_feb_2024_s2_17_3::after {content: '\00a0';display: inline-block; width:82px; height:82px; background-position: 19.672131147540984% 74.77477477477477%; background-size: 620.7317073170732% 506.0975609756098%; background-image: url(gdcon20feb2024s2_0.png);padding: 0; }
div.gd_con_20_feb_2024_s2_17_3::after {max-width:82px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_20_feb_2024_s2_17_4 {max-width:81px; max-height:81px; }
.gd_con_20_feb_2024_s2_17_4::after {content: '\00a0';display: inline-block; width:81px; height:81px; background-position: 38.55140186915888% 99.40119760479043%; background-size: 628.395061728395% 512.3456790123457%; background-image: url(gdcon20feb2024s2_0.png);padding: 0; }
div.gd_con_20_feb_2024_s2_17_4::after {max-width:81px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_20_feb_2024_s2_1_1 {max-width:81px; max-height:82px; }
.gd_con_20_feb_2024_s2_1_1::after {content: '\00a0';display: inline-block; width:81px; height:82px; background-position: 58.41121495327103% 74.77477477477477%; background-size: 628.395061728395% 506.0975609756098%; background-image: url(gdcon20feb2024s2_0.png);padding: 0; }
div.gd_con_20_feb_2024_s2_1_1::after {max-width:81px; width:100%;height:0;padding: 0 0 101.23456790123457% 0;}
.gd_con_20_feb_2024_s2_1_2 {max-width:82px; max-height:82px; }
.gd_con_20_feb_2024_s2_1_2::after {content: '\00a0';display: inline-block; width:82px; height:82px; background-position: 0.234192037470726% 49.849849849849846%; background-size: 620.7317073170732% 506.0975609756098%; background-image: url(gdcon20feb2024s2_0.png);padding: 0; }
div.gd_con_20_feb_2024_s2_1_2::after {max-width:82px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_20_feb_2024_s2_1_3 {max-width:82px; max-height:82px; }
.gd_con_20_feb_2024_s2_1_3::after {content: '\00a0';display: inline-block; width:82px; height:82px; background-position: 19.672131147540984% 49.849849849849846%; background-size: 620.7317073170732% 506.0975609756098%; background-image: url(gdcon20feb2024s2_0.png);padding: 0; }
div.gd_con_20_feb_2024_s2_1_3::after {max-width:82px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_20_feb_2024_s2_1_4 {max-width:82px; max-height:82px; }
.gd_con_20_feb_2024_s2_1_4::after {content: '\00a0';display: inline-block; width:82px; height:82px; background-position: 39.11007025761124% 49.849849849849846%; background-size: 620.7317073170732% 506.0975609756098%; background-image: url(gdcon20feb2024s2_0.png);padding: 0; }
div.gd_con_20_feb_2024_s2_1_4::after {max-width:82px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_20_feb_2024_s2_20 {max-width:28px; max-height:20px; }
.gd_con_20_feb_2024_s2_20::after {content: '\00a0';display: inline-block; width:28px; height:20px; background-position: 98.75259875259876% 0.25316455696202533%; background-size: 1817.857142857143% 2075%; background-image: url(gdcon20feb2024s2_0.png);padding: 0; }
div.gd_con_20_feb_2024_s2_20::after {max-width:28px; width:100%;height:0;padding: 0 0 71.42857142857143% 0;}
.gd_con_20_feb_2024_s2_20_1 {max-width:81px; max-height:82px; }
.gd_con_20_feb_2024_s2_20_1::after {content: '\00a0';display: inline-block; width:81px; height:82px; background-position: 96.72897196261682% 93.69369369369369%; background-size: 628.395061728395% 506.0975609756098%; background-image: url(gdcon20feb2024s2_0.png);padding: 0; }
div.gd_con_20_feb_2024_s2_20_1::after {max-width:81px; width:100%;height:0;padding: 0 0 101.23456790123457% 0;}
.gd_con_20_feb_2024_s2_20_2 {max-width:82px; max-height:82px; }
.gd_con_20_feb_2024_s2_20_2::after {content: '\00a0';display: inline-block; width:82px; height:82px; background-position: 39.11007025761124% 74.77477477477477%; background-size: 620.7317073170732% 506.0975609756098%; background-image: url(gdcon20feb2024s2_0.png);padding: 0; }
div.gd_con_20_feb_2024_s2_20_2::after {max-width:82px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_20_feb_2024_s2_20_3 {max-width:81px; max-height:81px; }
.gd_con_20_feb_2024_s2_20_3::after {content: '\00a0';display: inline-block; width:81px; height:81px; background-position: 57.71028037383178% 99.40119760479043%; background-size: 628.395061728395% 512.3456790123457%; background-image: url(gdcon20feb2024s2_0.png);padding: 0; }
div.gd_con_20_feb_2024_s2_20_3::after {max-width:81px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_20_feb_2024_s2_20_4 {max-width:81px; max-height:82px; }
.gd_con_20_feb_2024_s2_20_4::after {content: '\00a0';display: inline-block; width:81px; height:82px; background-position: 0.2336448598130841% 99.69969969969969%; background-size: 628.395061728395% 506.0975609756098%; background-image: url(gdcon20feb2024s2_0.png);padding: 0; }
div.gd_con_20_feb_2024_s2_20_4::after {max-width:81px; width:100%;height:0;padding: 0 0 101.23456790123457% 0;}

@keyframes gd_con_20_feb_2024_s2-frames {
    0% { background-position: 0.8849557522123894% 25.149700598802394%;  }
    20% { background-position: 92.56900212314225% 0.27932960893854747%;  }
    40% { background-position: 99.74937343358395% 30.99630996309963%;  }
    60% { background-position: 1.3333333333333333% 0.3003003003003003%;  }
    80% { background-position: 98.75259875259876% 0.25316455696202533%;  }
}

.gd_con_20_feb_2024_s2-animation {
    max-width: 396px;
    max-height: 81px;
}
.gd_con_20_feb_2024_s2-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 396px;
    height: 81px;
    padding: 0;
    background-image: url(gdcon20feb2024s2_0.png);
    background-size: 128.53535353535352% 512.3456790123457%; 
    animation-name: gd_con_20_feb_2024_s2-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_20_feb_2024_s2-animation::after {
    max-width: 396px;
    width: 100%;
    height: 0;
    padding: 0 0 20.454545454545453% 0;
}

@keyframes gd_con_20_feb_2024_s2_1-frames {
    0% { background-position: 58.41121495327103% 74.77477477477477%;  }
    25% { background-position: 0.234192037470726% 49.849849849849846%;  }
    50% { background-position: 19.672131147540984% 49.849849849849846%;  }
    75% { background-position: 39.11007025761124% 49.849849849849846%;  }
}

.gd_con_20_feb_2024_s2_1-animation {
    max-width: 81px;
    max-height: 82px;
}
.gd_con_20_feb_2024_s2_1-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 81px;
    height: 82px;
    padding: 0;
    background-image: url(gdcon20feb2024s2_0.png);
    background-size: 628.395061728395% 506.0975609756098%; 
    animation-name: gd_con_20_feb_2024_s2_1-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_20_feb_2024_s2_1-animation::after {
    max-width: 81px;
    width: 100%;
    height: 0;
    padding: 0 0 101.23456790123457% 0;
}

@keyframes gd_con_20_feb_2024_s2_10-frames {
    0% { background-position: 58.5480093676815% 49.849849849849846%;  }
    25% { background-position: 77.98594847775176% 68.76876876876877%;  }
    50% { background-position: 19.39252336448598% 99.40119760479043%;  }
    75% { background-position: 97.42388758782201% 68.76876876876877%;  }
}

.gd_con_20_feb_2024_s2_10-animation {
    max-width: 82px;
    max-height: 82px;
}
.gd_con_20_feb_2024_s2_10-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 82px;
    height: 82px;
    padding: 0;
    background-image: url(gdcon20feb2024s2_0.png);
    background-size: 620.7317073170732% 506.0975609756098%; 
    animation-name: gd_con_20_feb_2024_s2_10-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_20_feb_2024_s2_10-animation::after {
    max-width: 82px;
    width: 100%;
    height: 0;
    padding: 0 0 100% 0;
}

@keyframes gd_con_20_feb_2024_s2_17-frames {
    0% { background-position: 0.234192037470726% 74.77477477477477%;  }
    25% { background-position: 77.57009345794393% 93.69369369369369%;  }
    50% { background-position: 19.672131147540984% 74.77477477477477%;  }
    75% { background-position: 38.55140186915888% 99.40119760479043%;  }
}

.gd_con_20_feb_2024_s2_17-animation {
    max-width: 82px;
    max-height: 82px;
}
.gd_con_20_feb_2024_s2_17-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 82px;
    height: 82px;
    padding: 0;
    background-image: url(gdcon20feb2024s2_0.png);
    background-size: 620.7317073170732% 506.0975609756098%; 
    animation-name: gd_con_20_feb_2024_s2_17-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_20_feb_2024_s2_17-animation::after {
    max-width: 82px;
    width: 100%;
    height: 0;
    padding: 0 0 100% 0;
}

@keyframes gd_con_20_feb_2024_s2_20-frames {
    0% { background-position: 96.72897196261682% 93.69369369369369%;  }
    25% { background-position: 39.11007025761124% 74.77477477477477%;  }
    50% { background-position: 57.71028037383178% 99.40119760479043%;  }
    75% { background-position: 0.2336448598130841% 99.69969969969969%;  }
}

.gd_con_20_feb_2024_s2_20-animation {
    max-width: 81px;
    max-height: 82px;
}
.gd_con_20_feb_2024_s2_20-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 81px;
    height: 82px;
    padding: 0;
    background-image: url(gdcon20feb2024s2_0.png);
    background-size: 628.395061728395% 506.0975609756098%; 
    animation-name: gd_con_20_feb_2024_s2_20-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_20_feb_2024_s2_20-animation::after {
    max-width: 81px;
    width: 100%;
    height: 0;
    padding: 0 0 101.23456790123457% 0;
}

/* $TexturePacker:SmartUpdate:add38d2c5d36a9798856d5f48a3f2f58:3c56e65e0a05f01465c33aca7922c9b4:6044f80b67a47817a79abefbb91d4a2a$ */
