/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.gd_con_5_feb_2025_s1_11 {max-width:360px; max-height:112px; }
.gd_con_5_feb_2025_s1_11::after {content: '\00a0';display: inline-block; width:360px; height:112px; background-position: 0.08045052292839903% 99.74619289340102%; background-size: 445.27777777777777% 451.7857142857143%; background-image: url(gdcon5feb2025s1_0.png);padding: 0; }
div.gd_con_5_feb_2025_s1_11::after {max-width:360px; width:100%;height:0;padding: 0 0 31.11111111111111% 0;}
.gd_con_5_feb_2025_s1_11_1 {max-width:156px; max-height:155px; }
.gd_con_5_feb_2025_s1_11_1::after {content: '\00a0';display: inline-block; width:156px; height:155px; background-position: 89.01174844505874% 43.58974358974359%; background-size: 1027.5641025641025% 326.4516129032258%; background-image: url(gdcon5feb2025s1_0.png);padding: 0; }
div.gd_con_5_feb_2025_s1_11_1::after {max-width:156px; width:100%;height:0;padding: 0 0 99.35897435897436% 0;}
.gd_con_5_feb_2025_s1_11_2 {max-width:157px; max-height:150px; }
.gd_con_5_feb_2025_s1_11_2::after {content: '\00a0';display: inline-block; width:157px; height:150px; background-position: 99.93084370677731% 42.97752808988764%; background-size: 1021.0191082802547% 337.3333333333333%; background-image: url(gdcon5feb2025s1_0.png);padding: 0; }
div.gd_con_5_feb_2025_s1_11_2::after {max-width:157px; width:100%;height:0;padding: 0 0 95.54140127388536% 0;}
.gd_con_5_feb_2025_s1_11_3 {max-width:161px; max-height:151px; }
.gd_con_5_feb_2025_s1_11_3::after {content: '\00a0';display: inline-block; width:161px; height:151px; background-position: 89.1123439667129% 0.28169014084507044%; background-size: 995.6521739130435% 335.0993377483444%; background-image: url(gdcon5feb2025s1_0.png);padding: 0; }
div.gd_con_5_feb_2025_s1_11_3::after {max-width:161px; width:100%;height:0;padding: 0 0 93.7888198757764% 0;}
.gd_con_5_feb_2025_s1_11_4 {max-width:156px; max-height:158px; }
.gd_con_5_feb_2025_s1_11_4::after {content: '\00a0';display: inline-block; width:156px; height:158px; background-position: 80.58051140290256% 89.94252873563218%; background-size: 1027.5641025641025% 320.253164556962%; background-image: url(gdcon5feb2025s1_0.png);padding: 0; }
div.gd_con_5_feb_2025_s1_11_4::after {max-width:156px; width:100%;height:0;padding: 0 0 101.28205128205128% 0;}
.gd_con_5_feb_2025_s1_12 {max-width:300px; max-height:124px; }
.gd_con_5_feb_2025_s1_12::after {content: '\00a0';display: inline-block; width:300px; height:124px; background-position: 62.77820414428243% 0.2617801047120419%; background-size: 534.3333333333334% 408.06451612903226%; background-image: url(gdcon5feb2025s1_0.png);padding: 0; }
div.gd_con_5_feb_2025_s1_12::after {max-width:300px; width:100%;height:0;padding: 0 0 41.333333333333336% 0;}
.gd_con_5_feb_2025_s1_14 {max-width:400px; max-height:85px; }
.gd_con_5_feb_2025_s1_14::after {content: '\00a0';display: inline-block; width:400px; height:85px; background-position: 63.591022443890274% 95.01187648456057%; background-size: 400.75% 595.2941176470588%; background-image: url(gdcon5feb2025s1_0.png);padding: 0; }
div.gd_con_5_feb_2025_s1_14::after {max-width:400px; width:100%;height:0;padding: 0 0 21.25% 0;}
.gd_con_5_feb_2025_s1_14_1 {max-width:165px; max-height:153px; }
.gd_con_5_feb_2025_s1_14_1::after {content: '\00a0';display: inline-block; width:165px; height:153px; background-position: 78.02503477051461% 45.04249291784703%; background-size: 971.5151515151515% 330.718954248366%; background-image: url(gdcon5feb2025s1_0.png);padding: 0; }
div.gd_con_5_feb_2025_s1_14_1::after {max-width:165px; width:100%;height:0;padding: 0 0 92.72727272727273% 0;}
.gd_con_5_feb_2025_s1_14_2 {max-width:150px; max-height:151px; }
.gd_con_5_feb_2025_s1_14_2::after {content: '\00a0';display: inline-block; width:150px; height:151px; background-position: 99.58706125258087% 0.28169014084507044%; background-size: 1068.6666666666667% 335.0993377483444%; background-image: url(gdcon5feb2025s1_0.png);padding: 0; }
div.gd_con_5_feb_2025_s1_14_2::after {max-width:150px; width:100%;height:0;padding: 0 0 100.66666666666667% 0;}
.gd_con_5_feb_2025_s1_14_3 {max-width:158px; max-height:153px; }
.gd_con_5_feb_2025_s1_14_3::after {content: '\00a0';display: inline-block; width:158px; height:153px; background-position: 91.55709342560553% 87.53541076487252%; background-size: 1014.5569620253165% 330.718954248366%; background-image: url(gdcon5feb2025s1_0.png);padding: 0; }
div.gd_con_5_feb_2025_s1_14_3::after {max-width:158px; width:100%;height:0;padding: 0 0 96.83544303797468% 0;}
.gd_con_5_feb_2025_s1_14_4 {max-width:162px; max-height:157px; }
.gd_con_5_feb_2025_s1_14_4::after {content: '\00a0';display: inline-block; width:162px; height:157px; background-position: 77.86259541984732% 0.28653295128939826%; background-size: 989.5061728395061% 322.2929936305732%; background-image: url(gdcon5feb2025s1_0.png);padding: 0; }
div.gd_con_5_feb_2025_s1_14_4::after {max-width:162px; width:100%;height:0;padding: 0 0 96.91358024691358% 0;}
.gd_con_5_feb_2025_s1_3_1 {max-width:360px; max-height:157px; }
.gd_con_5_feb_2025_s1_3_1::after {content: '\00a0';display: inline-block; width:360px; height:157px; background-position: 0.08045052292839903% 67.3352435530086%; background-size: 445.27777777777777% 322.2929936305732%; background-image: url(gdcon5feb2025s1_0.png);padding: 0; }
div.gd_con_5_feb_2025_s1_3_1::after {max-width:360px; width:100%;height:0;padding: 0 0 43.611111111111114% 0;}
.gd_con_5_feb_2025_s1_3_2 {max-width:252px; max-height:233px; }
.gd_con_5_feb_2025_s1_3_2::after {content: '\00a0';display: inline-block; width:252px; height:233px; background-position: 0.07401924500370097% 0.3663003663003663%; background-size: 636.1111111111111% 217.16738197424894%; background-image: url(gdcon5feb2025s1_0.png);padding: 0; }
div.gd_con_5_feb_2025_s1_3_2::after {max-width:252px; width:100%;height:0;padding: 0 0 92.46031746031746% 0;}
.gd_con_5_feb_2025_s1_3_3 {max-width:360px; max-height:104px; }
.gd_con_5_feb_2025_s1_3_3::after {content: '\00a0';display: inline-block; width:360px; height:104px; background-position: 20.434432823813356% 32.08955223880597%; background-size: 445.27777777777777% 486.53846153846155%; background-image: url(gdcon5feb2025s1_0.png);padding: 0; }
div.gd_con_5_feb_2025_s1_3_3::after {max-width:360px; width:100%;height:0;padding: 0 0 28.88888888888889% 0;}
.gd_con_5_feb_2025_s1_3_4 {max-width:360px; max-height:127px; }
.gd_con_5_feb_2025_s1_3_4::after {content: '\00a0';display: inline-block; width:360px; height:127px; background-position: 20.434432823813356% 0.2638522427440633%; background-size: 445.27777777777777% 398.4251968503937%; background-image: url(gdcon5feb2025s1_0.png);padding: 0; }
div.gd_con_5_feb_2025_s1_3_4::after {max-width:360px; width:100%;height:0;padding: 0 0 35.27777777777778% 0;}
.gd_con_5_feb_2025_s1_5 {max-width:150px; max-height:192px; }
.gd_con_5_feb_2025_s1_5::after {content: '\00a0';display: inline-block; width:150px; height:192px; background-position: 66.82725395732966% 40.12738853503185%; background-size: 1068.6666666666667% 263.5416666666667%; background-image: url(gdcon5feb2025s1_0.png);padding: 0; }
div.gd_con_5_feb_2025_s1_5::after {max-width:150px; width:100%;height:0;padding: 0 0 128% 0;}
.gd_con_5_feb_2025_s1_5_1 {max-width:202px; max-height:200px; }
.gd_con_5_feb_2025_s1_5_1::after {content: '\00a0';display: inline-block; width:202px; height:200px; background-position: 43.897216274089935% 0.32679738562091504%; background-size: 793.5643564356436% 253%; background-image: url(gdcon5feb2025s1_0.png);padding: 0; }
div.gd_con_5_feb_2025_s1_5_1::after {max-width:202px; width:100%;height:0;padding: 0 0 99.00990099009901% 0;}
.gd_con_5_feb_2025_s1_5_2 {max-width:201px; max-height:202px; }
.gd_con_5_feb_2025_s1_5_2::after {content: '\00a0';display: inline-block; width:201px; height:202px; background-position: 25.82025677603424% 76.97368421052632%; background-size: 797.5124378109452% 250.4950495049505%; background-image: url(gdcon5feb2025s1_0.png);padding: 0; }
div.gd_con_5_feb_2025_s1_5_2::after {max-width:201px; width:100%;height:0;padding: 0 0 100.49751243781094% 0;}
.gd_con_5_feb_2025_s1_5_3 {max-width:205px; max-height:197px; }
.gd_con_5_feb_2025_s1_5_3::after {content: '\00a0';display: inline-block; width:205px; height:197px; background-position: 54.72103004291846% 65.37216828478964%; background-size: 781.9512195121952% 256.8527918781726%; background-image: url(gdcon5feb2025s1_0.png);padding: 0; }
div.gd_con_5_feb_2025_s1_5_3::after {max-width:205px; width:100%;height:0;padding: 0 0 96.09756097560975% 0;}
.gd_con_5_feb_2025_s1_5_4 {max-width:200px; max-height:203px; }
.gd_con_5_feb_2025_s1_5_4::after {content: '\00a0';display: inline-block; width:200px; height:203px; background-position: 40.19957234497505% 77.22772277227723%; background-size: 801.5% 249.26108374384236%; background-image: url(gdcon5feb2025s1_0.png);padding: 0; }
div.gd_con_5_feb_2025_s1_5_4::after {max-width:200px; width:100%;height:0;padding: 0 0 101.5% 0;}

@keyframes gd_con_5_feb_2025_s1-frames {
    0% { background-position: 66.82725395732966% 40.12738853503185%;  }
    25% { background-position: 0.08045052292839903% 99.74619289340102%;  }
    50% { background-position: 62.77820414428243% 0.2617801047120419%;  }
    75% { background-position: 63.591022443890274% 95.01187648456057%;  }
}

.gd_con_5_feb_2025_s1-animation {
    max-width: 150px;
    max-height: 192px;
}
.gd_con_5_feb_2025_s1-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 150px;
    height: 192px;
    padding: 0;
    background-image: url(gdcon5feb2025s1_0.png);
    background-size: 1068.6666666666667% 263.5416666666667%; 
    animation-name: gd_con_5_feb_2025_s1-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_5_feb_2025_s1-animation::after {
    max-width: 150px;
    width: 100%;
    height: 0;
    padding: 0 0 128% 0;
}

@keyframes gd_con_5_feb_2025_s1_11-frames {
    0% { background-position: 89.01174844505874% 43.58974358974359%;  }
    25% { background-position: 99.93084370677731% 42.97752808988764%;  }
    50% { background-position: 89.1123439667129% 0.28169014084507044%;  }
    75% { background-position: 80.58051140290256% 89.94252873563218%;  }
}

.gd_con_5_feb_2025_s1_11-animation {
    max-width: 156px;
    max-height: 155px;
}
.gd_con_5_feb_2025_s1_11-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 156px;
    height: 155px;
    padding: 0;
    background-image: url(gdcon5feb2025s1_0.png);
    background-size: 1027.5641025641025% 326.4516129032258%; 
    animation-name: gd_con_5_feb_2025_s1_11-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_5_feb_2025_s1_11-animation::after {
    max-width: 156px;
    width: 100%;
    height: 0;
    padding: 0 0 99.35897435897436% 0;
}

@keyframes gd_con_5_feb_2025_s1_14-frames {
    0% { background-position: 78.02503477051461% 45.04249291784703%;  }
    25% { background-position: 99.58706125258087% 0.28169014084507044%;  }
    50% { background-position: 91.55709342560553% 87.53541076487252%;  }
    75% { background-position: 77.86259541984732% 0.28653295128939826%;  }
}

.gd_con_5_feb_2025_s1_14-animation {
    max-width: 165px;
    max-height: 153px;
}
.gd_con_5_feb_2025_s1_14-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 165px;
    height: 153px;
    padding: 0;
    background-image: url(gdcon5feb2025s1_0.png);
    background-size: 971.5151515151515% 330.718954248366%; 
    animation-name: gd_con_5_feb_2025_s1_14-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_5_feb_2025_s1_14-animation::after {
    max-width: 165px;
    width: 100%;
    height: 0;
    padding: 0 0 92.72727272727273% 0;
}

@keyframes gd_con_5_feb_2025_s1_3-frames {
    0% { background-position: 0.08045052292839903% 67.3352435530086%;  }
    25% { background-position: 0.07401924500370097% 0.3663003663003663%;  }
    50% { background-position: 20.434432823813356% 32.08955223880597%;  }
    75% { background-position: 20.434432823813356% 0.2638522427440633%;  }
}

.gd_con_5_feb_2025_s1_3-animation {
    max-width: 360px;
    max-height: 157px;
}
.gd_con_5_feb_2025_s1_3-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 360px;
    height: 157px;
    padding: 0;
    background-image: url(gdcon5feb2025s1_0.png);
    background-size: 445.27777777777777% 322.2929936305732%; 
    animation-name: gd_con_5_feb_2025_s1_3-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_5_feb_2025_s1_3-animation::after {
    max-width: 360px;
    width: 100%;
    height: 0;
    padding: 0 0 43.611111111111114% 0;
}

@keyframes gd_con_5_feb_2025_s1_5-frames {
    0% { background-position: 43.897216274089935% 0.32679738562091504%;  }
    25% { background-position: 25.82025677603424% 76.97368421052632%;  }
    50% { background-position: 54.72103004291846% 65.37216828478964%;  }
    75% { background-position: 40.19957234497505% 77.22772277227723%;  }
}

.gd_con_5_feb_2025_s1_5-animation {
    max-width: 202px;
    max-height: 200px;
}
.gd_con_5_feb_2025_s1_5-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 202px;
    height: 200px;
    padding: 0;
    background-image: url(gdcon5feb2025s1_0.png);
    background-size: 793.5643564356436% 253%; 
    animation-name: gd_con_5_feb_2025_s1_5-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_5_feb_2025_s1_5-animation::after {
    max-width: 202px;
    width: 100%;
    height: 0;
    padding: 0 0 99.00990099009901% 0;
}

/* $TexturePacker:SmartUpdate:7c09a506625d4a05fdd22ab84b2e9f82:4d3aa869c81d5f218e29d9d5105b3c28:85c2685f662471a84174ec5266e845c0$ */
