/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.gd_con_21_feb_2024_s2_12 {max-width:453px; max-height:82px; }
.gd_con_21_feb_2024_s2_12::after {content: '\00a0';display: inline-block; width:453px; height:82px; background-position: 0.16501650165016502% 49.70059880239521%; background-size: 233.7748344370861% 303.6585365853659%; background-image: url(gdcon21feb2024s2_0.png);padding: 0; }
div.gd_con_21_feb_2024_s2_12::after {max-width:453px; width:100%;height:0;padding: 0 0 18.101545253863133% 0;}
.gd_con_21_feb_2024_s2_12_1 {max-width:82px; max-height:82px; }
.gd_con_21_feb_2024_s2_12_1::after {content: '\00a0';display: inline-block; width:82px; height:82px; background-position: 17.09314227226203% 99.40119760479043%; background-size: 1291.4634146341464% 303.6585365853659%; background-image: url(gdcon21feb2024s2_0.png);padding: 0; }
div.gd_con_21_feb_2024_s2_12_1::after {max-width:82px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s2_12_2 {max-width:82px; max-height:82px; }
.gd_con_21_feb_2024_s2_12_2::after {content: '\00a0';display: inline-block; width:82px; height:82px; background-position: 25.588536335721596% 99.40119760479043%; background-size: 1291.4634146341464% 303.6585365853659%; background-image: url(gdcon21feb2024s2_0.png);padding: 0; }
div.gd_con_21_feb_2024_s2_12_2::after {max-width:82px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s2_12_3 {max-width:82px; max-height:82px; }
.gd_con_21_feb_2024_s2_12_3::after {content: '\00a0';display: inline-block; width:82px; height:82px; background-position: 34.08393039918116% 99.40119760479043%; background-size: 1291.4634146341464% 303.6585365853659%; background-image: url(gdcon21feb2024s2_0.png);padding: 0; }
div.gd_con_21_feb_2024_s2_12_3::after {max-width:82px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s2_12_4 {max-width:82px; max-height:81px; }
.gd_con_21_feb_2024_s2_12_4::after {content: '\00a0';display: inline-block; width:82px; height:81px; background-position: 80.24564994882293% 55.357142857142854%; background-size: 1291.4634146341464% 307.4074074074074%; background-image: url(gdcon21feb2024s2_0.png);padding: 0; }
div.gd_con_21_feb_2024_s2_12_4::after {max-width:82px; width:100%;height:0;padding: 0 0 98.78048780487805% 0;}
.gd_con_21_feb_2024_s2_15 {max-width:16px; max-height:15px; }
.gd_con_21_feb_2024_s2_15::after {content: '\00a0';display: inline-block; width:16px; height:15px; background-position: 43.624161073825505% 35.47008547008547%; background-size: 6618.75% 1660%; background-image: url(gdcon21feb2024s2_0.png);padding: 0; }
div.gd_con_21_feb_2024_s2_15::after {max-width:16px; width:100%;height:0;padding: 0 0 93.75% 0;}
.gd_con_21_feb_2024_s2_15_1 {max-width:91px; max-height:91px; }
.gd_con_21_feb_2024_s2_15_1::after {content: '\00a0';display: inline-block; width:91px; height:91px; background-position: 72.41735537190083% 0.6329113924050633%; background-size: 1163.7362637362637% 273.6263736263736%; background-image: url(gdcon21feb2024s2_0.png);padding: 0; }
div.gd_con_21_feb_2024_s2_15_1::after {max-width:91px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s2_15_2 {max-width:91px; max-height:91px; }
.gd_con_21_feb_2024_s2_15_2::after {content: '\00a0';display: inline-block; width:91px; height:91px; background-position: 81.92148760330579% 0.6329113924050633%; background-size: 1163.7362637362637% 273.6263736263736%; background-image: url(gdcon21feb2024s2_0.png);padding: 0; }
div.gd_con_21_feb_2024_s2_15_2::after {max-width:91px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s2_15_3 {max-width:91px; max-height:91px; }
.gd_con_21_feb_2024_s2_15_3::after {content: '\00a0';display: inline-block; width:91px; height:91px; background-position: 91.42561983471074% 0.6329113924050633%; background-size: 1163.7362637362637% 273.6263736263736%; background-image: url(gdcon21feb2024s2_0.png);padding: 0; }
div.gd_con_21_feb_2024_s2_15_3::after {max-width:91px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s2_15_4 {max-width:91px; max-height:91px; }
.gd_con_21_feb_2024_s2_15_4::after {content: '\00a0';display: inline-block; width:91px; height:91px; background-position: 60.12396694214876% 94.30379746835443%; background-size: 1163.7362637362637% 273.6263736263736%; background-image: url(gdcon21feb2024s2_0.png);padding: 0; }
div.gd_con_21_feb_2024_s2_15_4::after {max-width:91px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s2_16 {max-width:475px; max-height:81px; }
.gd_con_21_feb_2024_s2_16::after {content: '\00a0';display: inline-block; width:475px; height:81px; background-position: 0.17123287671232876% 0.5952380952380952%; background-size: 222.94736842105263% 307.4074074074074%; background-image: url(gdcon21feb2024s2_0.png);padding: 0; }
div.gd_con_21_feb_2024_s2_16::after {max-width:475px; width:100%;height:0;padding: 0 0 17.05263157894737% 0;}
.gd_con_21_feb_2024_s2_16_1 {max-width:82px; max-height:82px; }
.gd_con_21_feb_2024_s2_16_1::after {content: '\00a0';display: inline-block; width:82px; height:82px; background-position: 42.579324462640734% 99.40119760479043%; background-size: 1291.4634146341464% 303.6585365853659%; background-image: url(gdcon21feb2024s2_0.png);padding: 0; }
div.gd_con_21_feb_2024_s2_16_1::after {max-width:82px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s2_16_2 {max-width:82px; max-height:81px; }
.gd_con_21_feb_2024_s2_16_2::after {content: '\00a0';display: inline-block; width:82px; height:81px; background-position: 88.7410440122825% 55.357142857142854%; background-size: 1291.4634146341464% 307.4074074074074%; background-image: url(gdcon21feb2024s2_0.png);padding: 0; }
div.gd_con_21_feb_2024_s2_16_2::after {max-width:82px; width:100%;height:0;padding: 0 0 98.78048780487805% 0;}
.gd_con_21_feb_2024_s2_16_3 {max-width:82px; max-height:82px; }
.gd_con_21_feb_2024_s2_16_3::after {content: '\00a0';display: inline-block; width:82px; height:82px; background-position: 51.074718526100305% 99.40119760479043%; background-size: 1291.4634146341464% 303.6585365853659%; background-image: url(gdcon21feb2024s2_0.png);padding: 0; }
div.gd_con_21_feb_2024_s2_16_3::after {max-width:82px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s2_16_4 {max-width:81px; max-height:81px; }
.gd_con_21_feb_2024_s2_16_4::after {content: '\00a0';display: inline-block; width:81px; height:81px; background-position: 99.89775051124744% 50%; background-size: 1307.4074074074074% 307.4074074074074%; background-image: url(gdcon21feb2024s2_0.png);padding: 0; }
div.gd_con_21_feb_2024_s2_16_4::after {max-width:81px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s2_2 {max-width:101px; max-height:147px; }
.gd_con_21_feb_2024_s2_2::after {content: '\00a0';display: inline-block; width:101px; height:147px; background-position: 62.52609603340292% 0.9803921568627451%; background-size: 1048.5148514851485% 169.3877551020408%; background-image: url(gdcon21feb2024s2_0.png);padding: 0; }
div.gd_con_21_feb_2024_s2_2::after {max-width:101px; width:100%;height:0;padding: 0 0 145.54455445544554% 0;}
.gd_con_21_feb_2024_s2_2_1 {max-width:82px; max-height:82px; }
.gd_con_21_feb_2024_s2_2_1::after {content: '\00a0';display: inline-block; width:82px; height:82px; background-position: 0.1023541453428864% 99.40119760479043%; background-size: 1291.4634146341464% 303.6585365853659%; background-image: url(gdcon21feb2024s2_0.png);padding: 0; }
div.gd_con_21_feb_2024_s2_2_1::after {max-width:82px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s2_2_2 {max-width:82px; max-height:82px; }
.gd_con_21_feb_2024_s2_2_2::after {content: '\00a0';display: inline-block; width:82px; height:82px; background-position: 8.597748208802457% 99.40119760479043%; background-size: 1291.4634146341464% 303.6585365853659%; background-image: url(gdcon21feb2024s2_0.png);padding: 0; }
div.gd_con_21_feb_2024_s2_2_2::after {max-width:82px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s2_2_3 {max-width:82px; max-height:81px; }
.gd_con_21_feb_2024_s2_2_3::after {content: '\00a0';display: inline-block; width:82px; height:81px; background-position: 71.75025588536336% 55.357142857142854%; background-size: 1291.4634146341464% 307.4074074074074%; background-image: url(gdcon21feb2024s2_0.png);padding: 0; }
div.gd_con_21_feb_2024_s2_2_3::after {max-width:82px; width:100%;height:0;padding: 0 0 98.78048780487805% 0;}
.gd_con_21_feb_2024_s2_2_4 {max-width:81px; max-height:82px; }
.gd_con_21_feb_2024_s2_2_4::after {content: '\00a0';display: inline-block; width:81px; height:82px; background-position: 99.89775051124744% 0.5988023952095808%; background-size: 1307.4074074074074% 303.6585365853659%; background-image: url(gdcon21feb2024s2_0.png);padding: 0; }
div.gd_con_21_feb_2024_s2_2_4::after {max-width:81px; width:100%;height:0;padding: 0 0 101.23456790123457% 0;}
.gd_con_21_feb_2024_s2_5 {max-width:121px; max-height:121px; }
.gd_con_21_feb_2024_s2_5::after {content: '\00a0';display: inline-block; width:121px; height:121px; background-position: 50.852878464818765% 0.78125%; background-size: 875.2066115702479% 205.78512396694214%; background-image: url(gdcon21feb2024s2_0.png);padding: 0; }
div.gd_con_21_feb_2024_s2_5::after {max-width:121px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s2_5_1 {max-width:62px; max-height:62px; }
.gd_con_21_feb_2024_s2_5_1::after {content: '\00a0';display: inline-block; width:62px; height:62px; background-position: 67.60280842527582% 93.58288770053476%; background-size: 1708.0645161290322% 401.61290322580646%; background-image: url(gdcon21feb2024s2_0.png);padding: 0; }
div.gd_con_21_feb_2024_s2_5_1::after {max-width:62px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s2_5_2 {max-width:62px; max-height:62px; }
.gd_con_21_feb_2024_s2_5_2::after {content: '\00a0';display: inline-block; width:62px; height:62px; background-position: 73.92176529588767% 93.58288770053476%; background-size: 1708.0645161290322% 401.61290322580646%; background-image: url(gdcon21feb2024s2_0.png);padding: 0; }
div.gd_con_21_feb_2024_s2_5_2::after {max-width:62px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s2_5_3 {max-width:62px; max-height:62px; }
.gd_con_21_feb_2024_s2_5_3::after {content: '\00a0';display: inline-block; width:62px; height:62px; background-position: 80.2407221664995% 93.58288770053476%; background-size: 1708.0645161290322% 401.61290322580646%; background-image: url(gdcon21feb2024s2_0.png);padding: 0; }
div.gd_con_21_feb_2024_s2_5_3::after {max-width:62px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_21_feb_2024_s2_5_4 {max-width:61px; max-height:62px; }
.gd_con_21_feb_2024_s2_5_4::after {content: '\00a0';display: inline-block; width:61px; height:62px; background-position: 86.47294589178357% 93.58288770053476%; background-size: 1736.0655737704917% 401.61290322580646%; background-image: url(gdcon21feb2024s2_0.png);padding: 0; }
div.gd_con_21_feb_2024_s2_5_4::after {max-width:61px; width:100%;height:0;padding: 0 0 101.63934426229508% 0;}

@keyframes gd_con_21_feb_2024_s2-frames {
    0% { background-position: 62.52609603340292% 0.9803921568627451%;  }
    20% { background-position: 50.852878464818765% 0.78125%;  }
    40% { background-position: 0.16501650165016502% 49.70059880239521%;  }
    60% { background-position: 43.624161073825505% 35.47008547008547%;  }
    80% { background-position: 0.17123287671232876% 0.5952380952380952%;  }
}

.gd_con_21_feb_2024_s2-animation {
    max-width: 101px;
    max-height: 147px;
}
.gd_con_21_feb_2024_s2-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 101px;
    height: 147px;
    padding: 0;
    background-image: url(gdcon21feb2024s2_0.png);
    background-size: 1048.5148514851485% 169.3877551020408%; 
    animation-name: gd_con_21_feb_2024_s2-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_21_feb_2024_s2-animation::after {
    max-width: 101px;
    width: 100%;
    height: 0;
    padding: 0 0 145.54455445544554% 0;
}

@keyframes gd_con_21_feb_2024_s2_12-frames {
    0% { background-position: 17.09314227226203% 99.40119760479043%;  }
    25% { background-position: 25.588536335721596% 99.40119760479043%;  }
    50% { background-position: 34.08393039918116% 99.40119760479043%;  }
    75% { background-position: 80.24564994882293% 55.357142857142854%;  }
}

.gd_con_21_feb_2024_s2_12-animation {
    max-width: 82px;
    max-height: 82px;
}
.gd_con_21_feb_2024_s2_12-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 82px;
    height: 82px;
    padding: 0;
    background-image: url(gdcon21feb2024s2_0.png);
    background-size: 1291.4634146341464% 303.6585365853659%; 
    animation-name: gd_con_21_feb_2024_s2_12-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_21_feb_2024_s2_12-animation::after {
    max-width: 82px;
    width: 100%;
    height: 0;
    padding: 0 0 100% 0;
}

@keyframes gd_con_21_feb_2024_s2_15-frames {
    0% { background-position: 72.41735537190083% 0.6329113924050633%;  }
    25% { background-position: 81.92148760330579% 0.6329113924050633%;  }
    50% { background-position: 91.42561983471074% 0.6329113924050633%;  }
    75% { background-position: 60.12396694214876% 94.30379746835443%;  }
}

.gd_con_21_feb_2024_s2_15-animation {
    max-width: 91px;
    max-height: 91px;
}
.gd_con_21_feb_2024_s2_15-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 91px;
    height: 91px;
    padding: 0;
    background-image: url(gdcon21feb2024s2_0.png);
    background-size: 1163.7362637362637% 273.6263736263736%; 
    animation-name: gd_con_21_feb_2024_s2_15-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_21_feb_2024_s2_15-animation::after {
    max-width: 91px;
    width: 100%;
    height: 0;
    padding: 0 0 100% 0;
}

@keyframes gd_con_21_feb_2024_s2_16-frames {
    0% { background-position: 42.579324462640734% 99.40119760479043%;  }
    25% { background-position: 88.7410440122825% 55.357142857142854%;  }
    50% { background-position: 51.074718526100305% 99.40119760479043%;  }
    75% { background-position: 99.89775051124744% 50%;  }
}

.gd_con_21_feb_2024_s2_16-animation {
    max-width: 82px;
    max-height: 82px;
}
.gd_con_21_feb_2024_s2_16-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 82px;
    height: 82px;
    padding: 0;
    background-image: url(gdcon21feb2024s2_0.png);
    background-size: 1291.4634146341464% 303.6585365853659%; 
    animation-name: gd_con_21_feb_2024_s2_16-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_21_feb_2024_s2_16-animation::after {
    max-width: 82px;
    width: 100%;
    height: 0;
    padding: 0 0 100% 0;
}

@keyframes gd_con_21_feb_2024_s2_2-frames {
    0% { background-position: 0.1023541453428864% 99.40119760479043%;  }
    25% { background-position: 8.597748208802457% 99.40119760479043%;  }
    50% { background-position: 71.75025588536336% 55.357142857142854%;  }
    75% { background-position: 99.89775051124744% 0.5988023952095808%;  }
}

.gd_con_21_feb_2024_s2_2-animation {
    max-width: 82px;
    max-height: 82px;
}
.gd_con_21_feb_2024_s2_2-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 82px;
    height: 82px;
    padding: 0;
    background-image: url(gdcon21feb2024s2_0.png);
    background-size: 1291.4634146341464% 303.6585365853659%; 
    animation-name: gd_con_21_feb_2024_s2_2-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_21_feb_2024_s2_2-animation::after {
    max-width: 82px;
    width: 100%;
    height: 0;
    padding: 0 0 100% 0;
}

@keyframes gd_con_21_feb_2024_s2_5-frames {
    0% { background-position: 67.60280842527582% 93.58288770053476%;  }
    25% { background-position: 73.92176529588767% 93.58288770053476%;  }
    50% { background-position: 80.2407221664995% 93.58288770053476%;  }
    75% { background-position: 86.47294589178357% 93.58288770053476%;  }
}

.gd_con_21_feb_2024_s2_5-animation {
    max-width: 62px;
    max-height: 62px;
}
.gd_con_21_feb_2024_s2_5-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 62px;
    height: 62px;
    padding: 0;
    background-image: url(gdcon21feb2024s2_0.png);
    background-size: 1708.0645161290322% 401.61290322580646%; 
    animation-name: gd_con_21_feb_2024_s2_5-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_21_feb_2024_s2_5-animation::after {
    max-width: 62px;
    width: 100%;
    height: 0;
    padding: 0 0 100% 0;
}

/* $TexturePacker:SmartUpdate:d7b58d19178f3086811597839895ae2d:54d1636f74d8ec8848be560df78d3daf:6631535a56c5e2b420d228d860e42aef$ */
