/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.gd_con_20_feb_2024_s2_1 {max-width:400px; max-height:82px; }
.gd_con_20_feb_2024_s2_1::after {content: '\00a0';display: inline-block; width:400px; height:82px; background-position: 1.8518518518518519% 0.09433962264150944%; background-size: 113.5% 1392.6829268292684%; background-image: url(gdcon20feb2024s2_0.png);padding: 0; }
div.gd_con_20_feb_2024_s2_1::after {max-width:400px; width:100%;height:0;padding: 0 0 20.5% 0;}
.gd_con_20_feb_2024_s2_10 {max-width:150px; max-height:225px; }
.gd_con_20_feb_2024_s2_10::after {content: '\00a0';display: inline-block; width:150px; height:225px; background-position: 0.32894736842105265% 17.557251908396946%; background-size: 302.6666666666667% 507.55555555555554%; background-image: url(gdcon20feb2024s2_0.png);padding: 0; }
div.gd_con_20_feb_2024_s2_10::after {max-width:150px; width:100%;height:0;padding: 0 0 150% 0;}
.gd_con_20_feb_2024_s2_10_1 {max-width:150px; max-height:150px; }
.gd_con_20_feb_2024_s2_10_1::after {content: '\00a0';display: inline-block; width:150px; height:150px; background-position: 0.32894736842105265% 54.233870967741936%; background-size: 302.6666666666667% 761.3333333333334%; background-image: url(gdcon20feb2024s2_0.png);padding: 0; }
div.gd_con_20_feb_2024_s2_10_1::after {max-width:150px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_20_feb_2024_s2_10_2 {max-width:150px; max-height:150px; }
.gd_con_20_feb_2024_s2_10_2::after {content: '\00a0';display: inline-block; width:150px; height:150px; background-position: 50% 66.73387096774194%; background-size: 302.6666666666667% 761.3333333333334%; background-image: url(gdcon20feb2024s2_0.png);padding: 0; }
div.gd_con_20_feb_2024_s2_10_2::after {max-width:150px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_20_feb_2024_s2_10_3 {max-width:150px; max-height:150px; }
.gd_con_20_feb_2024_s2_10_3::after {content: '\00a0';display: inline-block; width:150px; height:150px; background-position: 99.67105263157895% 77.72177419354838%; background-size: 302.6666666666667% 761.3333333333334%; background-image: url(gdcon20feb2024s2_0.png);padding: 0; }
div.gd_con_20_feb_2024_s2_10_3::after {max-width:150px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_20_feb_2024_s2_10_4 {max-width:150px; max-height:150px; }
.gd_con_20_feb_2024_s2_10_4::after {content: '\00a0';display: inline-block; width:150px; height:150px; background-position: 0.32894736842105265% 69.45564516129032%; background-size: 302.6666666666667% 761.3333333333334%; background-image: url(gdcon20feb2024s2_0.png);padding: 0; }
div.gd_con_20_feb_2024_s2_10_4::after {max-width:150px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_20_feb_2024_s2_12 {max-width:150px; max-height:196px; }
.gd_con_20_feb_2024_s2_12::after {content: '\00a0';display: inline-block; width:150px; height:196px; background-position: 50% 17.019027484143763%; background-size: 302.6666666666667% 582.6530612244898%; background-image: url(gdcon20feb2024s2_0.png);padding: 0; }
div.gd_con_20_feb_2024_s2_12::after {max-width:150px; width:100%;height:0;padding: 0 0 130.66666666666666% 0;}
.gd_con_20_feb_2024_s2_17 {max-width:400px; max-height:76px; }
.gd_con_20_feb_2024_s2_17::after {content: '\00a0';display: inline-block; width:400px; height:76px; background-position: 1.8518518518518519% 7.879924953095685%; background-size: 113.5% 1502.6315789473683%; background-image: url(gdcon20feb2024s2_0.png);padding: 0; }
div.gd_con_20_feb_2024_s2_17::after {max-width:400px; width:100%;height:0;padding: 0 0 19% 0;}
.gd_con_20_feb_2024_s2_17_1 {max-width:150px; max-height:150px; }
.gd_con_20_feb_2024_s2_17_1::after {content: '\00a0';display: inline-block; width:150px; height:150px; background-position: 50% 81.95564516129032%; background-size: 302.6666666666667% 761.3333333333334%; background-image: url(gdcon20feb2024s2_0.png);padding: 0; }
div.gd_con_20_feb_2024_s2_17_1::after {max-width:150px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_20_feb_2024_s2_17_2 {max-width:150px; max-height:152px; }
.gd_con_20_feb_2024_s2_17_2::after {content: '\00a0';display: inline-block; width:150px; height:152px; background-position: 99.67105263157895% 31.717171717171716%; background-size: 302.6666666666667% 751.3157894736842%; background-image: url(gdcon20feb2024s2_0.png);padding: 0; }
div.gd_con_20_feb_2024_s2_17_2::after {max-width:150px; width:100%;height:0;padding: 0 0 101.33333333333333% 0;}
.gd_con_20_feb_2024_s2_17_3 {max-width:150px; max-height:150px; }
.gd_con_20_feb_2024_s2_17_3::after {content: '\00a0';display: inline-block; width:150px; height:150px; background-position: 99.67105263157895% 92.94354838709677%; background-size: 302.6666666666667% 761.3333333333334%; background-image: url(gdcon20feb2024s2_0.png);padding: 0; }
div.gd_con_20_feb_2024_s2_17_3::after {max-width:150px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_20_feb_2024_s2_17_4 {max-width:150px; max-height:150px; }
.gd_con_20_feb_2024_s2_17_4::after {content: '\00a0';display: inline-block; width:150px; height:150px; background-position: 0.32894736842105265% 84.6774193548387%; background-size: 302.6666666666667% 761.3333333333334%; background-image: url(gdcon20feb2024s2_0.png);padding: 0; }
div.gd_con_20_feb_2024_s2_17_4::after {max-width:150px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_20_feb_2024_s2_1_1 {max-width:150px; max-height:152px; }
.gd_con_20_feb_2024_s2_1_1::after {content: '\00a0';display: inline-block; width:150px; height:152px; background-position: 99.67105263157895% 16.262626262626263%; background-size: 302.6666666666667% 751.3157894736842%; background-image: url(gdcon20feb2024s2_0.png);padding: 0; }
div.gd_con_20_feb_2024_s2_1_1::after {max-width:150px; width:100%;height:0;padding: 0 0 101.33333333333333% 0;}
.gd_con_20_feb_2024_s2_1_2 {max-width:150px; max-height:150px; }
.gd_con_20_feb_2024_s2_1_2::after {content: '\00a0';display: inline-block; width:150px; height:150px; background-position: 0.32894736842105265% 39.01209677419355%; background-size: 302.6666666666667% 761.3333333333334%; background-image: url(gdcon20feb2024s2_0.png);padding: 0; }
div.gd_con_20_feb_2024_s2_1_2::after {max-width:150px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_20_feb_2024_s2_1_3 {max-width:150px; max-height:150px; }
.gd_con_20_feb_2024_s2_1_3::after {content: '\00a0';display: inline-block; width:150px; height:150px; background-position: 50% 51.51209677419355%; background-size: 302.6666666666667% 761.3333333333334%; background-image: url(gdcon20feb2024s2_0.png);padding: 0; }
div.gd_con_20_feb_2024_s2_1_3::after {max-width:150px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_20_feb_2024_s2_1_4 {max-width:150px; max-height:150px; }
.gd_con_20_feb_2024_s2_1_4::after {content: '\00a0';display: inline-block; width:150px; height:150px; background-position: 99.67105263157895% 62.5%; background-size: 302.6666666666667% 761.3333333333334%; background-image: url(gdcon20feb2024s2_0.png);padding: 0; }
div.gd_con_20_feb_2024_s2_1_4::after {max-width:150px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_20_feb_2024_s2_20 {max-width:28px; max-height:20px; }
.gd_con_20_feb_2024_s2_20::after {content: '\00a0';display: inline-block; width:28px; height:20px; background-position: 94.36619718309859% 0.08912655971479501%; background-size: 1621.4285714285713% 5710%; background-image: url(gdcon20feb2024s2_0.png);padding: 0; }
div.gd_con_20_feb_2024_s2_20::after {max-width:28px; width:100%;height:0;padding: 0 0 71.42857142857143% 0;}
.gd_con_20_feb_2024_s2_20_1 {max-width:150px; max-height:152px; }
.gd_con_20_feb_2024_s2_20_1::after {content: '\00a0';display: inline-block; width:150px; height:152px; background-position: 50% 36.16161616161616%; background-size: 302.6666666666667% 751.3157894736842%; background-image: url(gdcon20feb2024s2_0.png);padding: 0; }
div.gd_con_20_feb_2024_s2_20_1::after {max-width:150px; width:100%;height:0;padding: 0 0 101.33333333333333% 0;}
.gd_con_20_feb_2024_s2_20_2 {max-width:150px; max-height:150px; }
.gd_con_20_feb_2024_s2_20_2::after {content: '\00a0';display: inline-block; width:150px; height:150px; background-position: 50% 97.1774193548387%; background-size: 302.6666666666667% 761.3333333333334%; background-image: url(gdcon20feb2024s2_0.png);padding: 0; }
div.gd_con_20_feb_2024_s2_20_2::after {max-width:150px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_20_feb_2024_s2_20_3 {max-width:150px; max-height:150px; }
.gd_con_20_feb_2024_s2_20_3::after {content: '\00a0';display: inline-block; width:150px; height:150px; background-position: 0.32894736842105265% 99.8991935483871%; background-size: 302.6666666666667% 761.3333333333334%; background-image: url(gdcon20feb2024s2_0.png);padding: 0; }
div.gd_con_20_feb_2024_s2_20_3::after {max-width:150px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_20_feb_2024_s2_20_4 {max-width:150px; max-height:152px; }
.gd_con_20_feb_2024_s2_20_4::after {content: '\00a0';display: inline-block; width:150px; height:152px; background-position: 99.67105263157895% 47.17171717171717%; background-size: 302.6666666666667% 751.3157894736842%; background-image: url(gdcon20feb2024s2_0.png);padding: 0; }
div.gd_con_20_feb_2024_s2_20_4::after {max-width:150px; width:100%;height:0;padding: 0 0 101.33333333333333% 0;}

@keyframes gd_con_20_feb_2024_s2-frames {
    0% { background-position: 1.8518518518518519% 0.09433962264150944%;  }
    20% { background-position: 0.32894736842105265% 17.557251908396946%;  }
    40% { background-position: 50% 17.019027484143763%;  }
    60% { background-position: 1.8518518518518519% 7.879924953095685%;  }
    80% { background-position: 94.36619718309859% 0.08912655971479501%;  }
}

.gd_con_20_feb_2024_s2-animation {
    max-width: 400px;
    max-height: 82px;
}
.gd_con_20_feb_2024_s2-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 400px;
    height: 82px;
    padding: 0;
    background-image: url(gdcon20feb2024s2_0.png);
    background-size: 113.5% 1392.6829268292684%; 
    animation-name: gd_con_20_feb_2024_s2-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_20_feb_2024_s2-animation::after {
    max-width: 400px;
    width: 100%;
    height: 0;
    padding: 0 0 20.5% 0;
}

@keyframes gd_con_20_feb_2024_s2_1-frames {
    0% { background-position: 99.67105263157895% 16.262626262626263%;  }
    25% { background-position: 0.32894736842105265% 39.01209677419355%;  }
    50% { background-position: 50% 51.51209677419355%;  }
    75% { background-position: 99.67105263157895% 62.5%;  }
}

.gd_con_20_feb_2024_s2_1-animation {
    max-width: 150px;
    max-height: 152px;
}
.gd_con_20_feb_2024_s2_1-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 150px;
    height: 152px;
    padding: 0;
    background-image: url(gdcon20feb2024s2_0.png);
    background-size: 302.6666666666667% 751.3157894736842%; 
    animation-name: gd_con_20_feb_2024_s2_1-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_20_feb_2024_s2_1-animation::after {
    max-width: 150px;
    width: 100%;
    height: 0;
    padding: 0 0 101.33333333333333% 0;
}

@keyframes gd_con_20_feb_2024_s2_10-frames {
    0% { background-position: 0.32894736842105265% 54.233870967741936%;  }
    25% { background-position: 50% 66.73387096774194%;  }
    50% { background-position: 99.67105263157895% 77.72177419354838%;  }
    75% { background-position: 0.32894736842105265% 69.45564516129032%;  }
}

.gd_con_20_feb_2024_s2_10-animation {
    max-width: 150px;
    max-height: 150px;
}
.gd_con_20_feb_2024_s2_10-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 150px;
    height: 150px;
    padding: 0;
    background-image: url(gdcon20feb2024s2_0.png);
    background-size: 302.6666666666667% 761.3333333333334%; 
    animation-name: gd_con_20_feb_2024_s2_10-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_20_feb_2024_s2_10-animation::after {
    max-width: 150px;
    width: 100%;
    height: 0;
    padding: 0 0 100% 0;
}

@keyframes gd_con_20_feb_2024_s2_17-frames {
    0% { background-position: 50% 81.95564516129032%;  }
    25% { background-position: 99.67105263157895% 31.717171717171716%;  }
    50% { background-position: 99.67105263157895% 92.94354838709677%;  }
    75% { background-position: 0.32894736842105265% 84.6774193548387%;  }
}

.gd_con_20_feb_2024_s2_17-animation {
    max-width: 150px;
    max-height: 150px;
}
.gd_con_20_feb_2024_s2_17-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 150px;
    height: 150px;
    padding: 0;
    background-image: url(gdcon20feb2024s2_0.png);
    background-size: 302.6666666666667% 761.3333333333334%; 
    animation-name: gd_con_20_feb_2024_s2_17-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_20_feb_2024_s2_17-animation::after {
    max-width: 150px;
    width: 100%;
    height: 0;
    padding: 0 0 100% 0;
}

@keyframes gd_con_20_feb_2024_s2_20-frames {
    0% { background-position: 50% 36.16161616161616%;  }
    25% { background-position: 50% 97.1774193548387%;  }
    50% { background-position: 0.32894736842105265% 99.8991935483871%;  }
    75% { background-position: 99.67105263157895% 47.17171717171717%;  }
}

.gd_con_20_feb_2024_s2_20-animation {
    max-width: 150px;
    max-height: 152px;
}
.gd_con_20_feb_2024_s2_20-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 150px;
    height: 152px;
    padding: 0;
    background-image: url(gdcon20feb2024s2_0.png);
    background-size: 302.6666666666667% 751.3157894736842%; 
    animation-name: gd_con_20_feb_2024_s2_20-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_20_feb_2024_s2_20-animation::after {
    max-width: 150px;
    width: 100%;
    height: 0;
    padding: 0 0 101.33333333333333% 0;
}

/* $TexturePacker:SmartUpdate:c6b7d72c409c42271f892522ecde4dca:7b55618f4282cef835e4a267668196e2:6044f80b67a47817a79abefbb91d4a2a$ */
