/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.gd_con_6_feb_2025_s1_14_1 {max-width:278px; max-height:132px; }
.gd_con_6_feb_2025_s1_14_1::after {content: '\00a0';display: inline-block; width:278px; height:132px; background-position: 0.4444444444444444% 59.83754512635379%; background-size: 180.93525179856115% 939.3939393939394%; background-image: url(gdcon6feb2025s1_0.png);padding: 0; }
div.gd_con_6_feb_2025_s1_14_1::after {max-width:278px; width:100%;height:0;padding: 0 0 47.48201438848921% 0;}
.gd_con_6_feb_2025_s1_14_2 {max-width:390px; max-height:133px; }
.gd_con_6_feb_2025_s1_14_2::after {content: '\00a0';display: inline-block; width:390px; height:133px; background-position: 0.8849557522123894% 7.678410117434508%; background-size: 128.97435897435898% 932.3308270676691%; background-image: url(gdcon6feb2025s1_0.png);padding: 0; }
div.gd_con_6_feb_2025_s1_14_2::after {max-width:390px; width:100%;height:0;padding: 0 0 34.1025641025641% 0;}
.gd_con_6_feb_2025_s1_14_3 {max-width:222px; max-height:223px; }
.gd_con_6_feb_2025_s1_14_3::after {content: '\00a0';display: inline-block; width:222px; height:223px; background-position: 99.644128113879% 73.74631268436578%; background-size: 226.57657657657657% 556.0538116591928%; background-image: url(gdcon6feb2025s1_0.png);padding: 0; }
div.gd_con_6_feb_2025_s1_14_3::after {max-width:222px; width:100%;height:0;padding: 0 0 100.45045045045045% 0;}
.gd_con_6_feb_2025_s1_14_4 {max-width:360px; max-height:119px; }
.gd_con_6_feb_2025_s1_14_4::after {content: '\00a0';display: inline-block; width:360px; height:119px; background-position: 0.6993006993006993% 19.536128456735057%; background-size: 139.72222222222223% 1042.0168067226891%; background-image: url(gdcon6feb2025s1_0.png);padding: 0; }
div.gd_con_6_feb_2025_s1_14_4::after {max-width:360px; width:100%;height:0;padding: 0 0 33.05555555555556% 0;}
.gd_con_6_feb_2025_s1_17 {max-width:300px; max-height:176px; }
.gd_con_6_feb_2025_s1_17::after {content: '\00a0';display: inline-block; width:300px; height:176px; background-position: 0.49261083743842365% 31.860902255639097%; background-size: 167.66666666666666% 704.5454545454545%; background-image: url(gdcon6feb2025s1_0.png);padding: 0; }
div.gd_con_6_feb_2025_s1_17::after {max-width:300px; width:100%;height:0;padding: 0 0 58.666666666666664% 0;}
.gd_con_6_feb_2025_s1_20 {max-width:300px; max-height:146px; }
.gd_con_6_feb_2025_s1_20::after {content: '\00a0';display: inline-block; width:300px; height:146px; background-position: 0.49261083743842365% 47.16636197440585%; background-size: 167.66666666666666% 849.3150684931506%; background-image: url(gdcon6feb2025s1_0.png);padding: 0; }
div.gd_con_6_feb_2025_s1_20::after {max-width:300px; width:100%;height:0;padding: 0 0 48.666666666666664% 0;}
.gd_con_6_feb_2025_s1_3 {max-width:150px; max-height:136px; }
.gd_con_6_feb_2025_s1_3::after {content: '\00a0';display: inline-block; width:150px; height:136px; background-position: 57.22379603399433% 88.22463768115942%; background-size: 335.3333333333333% 911.7647058823529%; background-image: url(gdcon6feb2025s1_0.png);padding: 0; }
div.gd_con_6_feb_2025_s1_3::after {max-width:150px; width:100%;height:0;padding: 0 0 90.66666666666667% 0;}
.gd_con_6_feb_2025_s1_3_1 {max-width:200px; max-height:199px; }
.gd_con_6_feb_2025_s1_3_1::after {content: '\00a0';display: inline-block; width:200px; height:199px; background-position: 99.66996699669967% 52.833813640730064%; background-size: 251.5% 623.1155778894472%; background-image: url(gdcon6feb2025s1_0.png);padding: 0; }
div.gd_con_6_feb_2025_s1_3_1::after {max-width:200px; width:100%;height:0;padding: 0 0 99.5% 0;}
.gd_con_6_feb_2025_s1_3_2 {max-width:200px; max-height:194px; }
.gd_con_6_feb_2025_s1_3_2::after {content: '\00a0';display: inline-block; width:200px; height:194px; background-position: 0.33003300330033003% 95.21988527724666%; background-size: 251.5% 639.1752577319587%; background-image: url(gdcon6feb2025s1_0.png);padding: 0; }
div.gd_con_6_feb_2025_s1_3_2::after {max-width:200px; width:100%;height:0;padding: 0 0 97% 0;}
.gd_con_6_feb_2025_s1_3_3 {max-width:200px; max-height:199px; }
.gd_con_6_feb_2025_s1_3_3::after {content: '\00a0';display: inline-block; width:200px; height:199px; background-position: 0.33003300330033003% 76.46493756003842%; background-size: 251.5% 623.1155778894472%; background-image: url(gdcon6feb2025s1_0.png);padding: 0; }
div.gd_con_6_feb_2025_s1_3_3::after {max-width:200px; width:100%;height:0;padding: 0 0 99.5% 0;}
.gd_con_6_feb_2025_s1_3_4 {max-width:200px; max-height:201px; }
.gd_con_6_feb_2025_s1_3_4::after {content: '\00a0';display: inline-block; width:200px; height:201px; background-position: 99.66996699669967% 33.49374398460058%; background-size: 251.5% 616.9154228855722%; background-image: url(gdcon6feb2025s1_0.png);padding: 0; }
div.gd_con_6_feb_2025_s1_3_4::after {max-width:200px; width:100%;height:0;padding: 0 0 100.5% 0;}
.gd_con_6_feb_2025_s1_4 {max-width:400px; max-height:83px; }
.gd_con_6_feb_2025_s1_4::after {content: '\00a0';display: inline-block; width:400px; height:83px; background-position: 0.970873786407767% 0.08643042350907519%; background-size: 125.75% 1493.9759036144578%; background-image: url(gdcon6feb2025s1_0.png);padding: 0; }
div.gd_con_6_feb_2025_s1_4::after {max-width:400px; width:100%;height:0;padding: 0 0 20.75% 0;}
.gd_con_6_feb_2025_s1_4_1 {max-width:132px; max-height:128px; }
.gd_con_6_feb_2025_s1_4_1::after {content: '\00a0';display: inline-block; width:132px; height:128px; background-position: 97.57412398921834% 19.694244604316548%; background-size: 381.06060606060606% 968.75%; background-image: url(gdcon6feb2025s1_0.png);padding: 0; }
div.gd_con_6_feb_2025_s1_4_1::after {max-width:132px; width:100%;height:0;padding: 0 0 96.96969696969697% 0;}
.gd_con_6_feb_2025_s1_4_2 {max-width:128px; max-height:128px; }
.gd_con_6_feb_2025_s1_4_2::after {content: '\00a0';display: inline-block; width:128px; height:128px; background-position: 53.86666666666667% 99.91007194244604%; background-size: 392.96875% 968.75%; background-image: url(gdcon6feb2025s1_0.png);padding: 0; }
div.gd_con_6_feb_2025_s1_4_2::after {max-width:128px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_6_feb_2025_s1_4_3 {max-width:130px; max-height:127px; }
.gd_con_6_feb_2025_s1_4_3::after {content: '\00a0';display: inline-block; width:130px; height:127px; background-position: 94.63806970509384% 99.1015274034142%; background-size: 386.9230769230769% 976.3779527559055%; background-image: url(gdcon6feb2025s1_0.png);padding: 0; }
div.gd_con_6_feb_2025_s1_4_3::after {max-width:130px; width:100%;height:0;padding: 0 0 97.6923076923077% 0;}
.gd_con_6_feb_2025_s1_4_4 {max-width:130px; max-height:128px; }
.gd_con_6_feb_2025_s1_4_4::after {content: '\00a0';display: inline-block; width:130px; height:128px; background-position: 94.63806970509384% 87.58992805755396%; background-size: 386.9230769230769% 968.75%; background-image: url(gdcon6feb2025s1_0.png);padding: 0; }
div.gd_con_6_feb_2025_s1_4_4::after {max-width:130px; width:100%;height:0;padding: 0 0 98.46153846153847% 0;}

@keyframes gd_con_6_feb_2025_s1-frames {
    0% { background-position: 57.22379603399433% 88.22463768115942%;  }
    25% { background-position: 0.970873786407767% 0.08643042350907519%;  }
    50% { background-position: 0.49261083743842365% 31.860902255639097%;  }
    75% { background-position: 0.49261083743842365% 47.16636197440585%;  }
}

.gd_con_6_feb_2025_s1-animation {
    max-width: 150px;
    max-height: 136px;
}
.gd_con_6_feb_2025_s1-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 150px;
    height: 136px;
    padding: 0;
    background-image: url(gdcon6feb2025s1_0.png);
    background-size: 335.3333333333333% 911.7647058823529%; 
    animation-name: gd_con_6_feb_2025_s1-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_6_feb_2025_s1-animation::after {
    max-width: 150px;
    width: 100%;
    height: 0;
    padding: 0 0 90.66666666666667% 0;
}

@keyframes gd_con_6_feb_2025_s1_14-frames {
    0% { background-position: 0.4444444444444444% 59.83754512635379%;  }
    25% { background-position: 0.8849557522123894% 7.678410117434508%;  }
    50% { background-position: 99.644128113879% 73.74631268436578%;  }
    75% { background-position: 0.6993006993006993% 19.536128456735057%;  }
}

.gd_con_6_feb_2025_s1_14-animation {
    max-width: 278px;
    max-height: 132px;
}
.gd_con_6_feb_2025_s1_14-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 278px;
    height: 132px;
    padding: 0;
    background-image: url(gdcon6feb2025s1_0.png);
    background-size: 180.93525179856115% 939.3939393939394%; 
    animation-name: gd_con_6_feb_2025_s1_14-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_6_feb_2025_s1_14-animation::after {
    max-width: 278px;
    width: 100%;
    height: 0;
    padding: 0 0 47.48201438848921% 0;
}

@keyframes gd_con_6_feb_2025_s1_3-frames {
    0% { background-position: 99.66996699669967% 52.833813640730064%;  }
    25% { background-position: 0.33003300330033003% 95.21988527724666%;  }
    50% { background-position: 0.33003300330033003% 76.46493756003842%;  }
    75% { background-position: 99.66996699669967% 33.49374398460058%;  }
}

.gd_con_6_feb_2025_s1_3-animation {
    max-width: 200px;
    max-height: 199px;
}
.gd_con_6_feb_2025_s1_3-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 200px;
    height: 199px;
    padding: 0;
    background-image: url(gdcon6feb2025s1_0.png);
    background-size: 251.5% 623.1155778894472%; 
    animation-name: gd_con_6_feb_2025_s1_3-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_6_feb_2025_s1_3-animation::after {
    max-width: 200px;
    width: 100%;
    height: 0;
    padding: 0 0 99.5% 0;
}

@keyframes gd_con_6_feb_2025_s1_4-frames {
    0% { background-position: 97.57412398921834% 19.694244604316548%;  }
    25% { background-position: 53.86666666666667% 99.91007194244604%;  }
    50% { background-position: 94.63806970509384% 99.1015274034142%;  }
    75% { background-position: 94.63806970509384% 87.58992805755396%;  }
}

.gd_con_6_feb_2025_s1_4-animation {
    max-width: 132px;
    max-height: 128px;
}
.gd_con_6_feb_2025_s1_4-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 132px;
    height: 128px;
    padding: 0;
    background-image: url(gdcon6feb2025s1_0.png);
    background-size: 381.06060606060606% 968.75%; 
    animation-name: gd_con_6_feb_2025_s1_4-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_6_feb_2025_s1_4-animation::after {
    max-width: 132px;
    width: 100%;
    height: 0;
    padding: 0 0 96.96969696969697% 0;
}

/* $TexturePacker:SmartUpdate:82475d38100bf5c9c2f4558c41c8930a:25ffcb0f7dfae25f8c3d8520d8a31aeb:805f3bb96c4fdd1bc37bff6d949e8d57$ */
