/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.gd_con_4_feb_2025_s2_10 {max-width:338px; max-height:283px; }
.gd_con_4_feb_2025_s2_10::after {content: '\00a0';display: inline-block; width:338px; height:283px; background-position: 58.93648449039882% 30.02680965147453%; background-size: 300.29585798816566% 363.6042402826855%; background-image: url(gdcon4feb2025s2_0.png);padding: 0; }
div.gd_con_4_feb_2025_s2_10::after {max-width:338px; width:100%;height:0;padding: 0 0 83.72781065088758% 0;}
.gd_con_4_feb_2025_s2_10_1 {max-width:232px; max-height:191px; }
.gd_con_4_feb_2025_s2_10_1::after {content: '\00a0';display: inline-block; width:232px; height:191px; background-position: 94.25287356321839% 53.5799522673031%; background-size: 437.5% 538.7434554973822%; background-image: url(gdcon4feb2025s2_0.png);padding: 0; }
div.gd_con_4_feb_2025_s2_10_1::after {max-width:232px; width:100%;height:0;padding: 0 0 82.32758620689656% 0;}
.gd_con_4_feb_2025_s2_10_1_1 {max-width:66px; max-height:65px; }
.gd_con_4_feb_2025_s2_10_1_1::after {content: '\00a0';display: inline-block; width:66px; height:65px; background-position: 24.868282402528976% 97.40663900414938%; background-size: 1537.878787878788% 1583.076923076923%; background-image: url(gdcon4feb2025s2_0.png);padding: 0; }
div.gd_con_4_feb_2025_s2_10_1_1::after {max-width:66px; width:100%;height:0;padding: 0 0 98.48484848484848% 0;}
.gd_con_4_feb_2025_s2_10_2 {max-width:225px; max-height:204px; }
.gd_con_4_feb_2025_s2_10_2::after {content: '\00a0';display: inline-block; width:225px; height:204px; background-position: 85.69620253164557% 79.63636363636364%; background-size: 451.1111111111111% 504.4117647058824%; background-image: url(gdcon4feb2025s2_0.png);padding: 0; }
div.gd_con_4_feb_2025_s2_10_2::after {max-width:225px; width:100%;height:0;padding: 0 0 90.66666666666667% 0;}
.gd_con_4_feb_2025_s2_10_2_1 {max-width:66px; max-height:65px; }
.gd_con_4_feb_2025_s2_10_2_1::after {content: '\00a0';display: inline-block; width:66px; height:65px; background-position: 95.15279241306638% 76.65975103734439%; background-size: 1537.878787878788% 1583.076923076923%; background-image: url(gdcon4feb2025s2_0.png);padding: 0; }
div.gd_con_4_feb_2025_s2_10_2_1::after {max-width:66px; width:100%;height:0;padding: 0 0 98.48484848484848% 0;}
.gd_con_4_feb_2025_s2_10_3 {max-width:234px; max-height:201px; }
.gd_con_4_feb_2025_s2_10_3::after {content: '\00a0';display: inline-block; width:234px; height:201px; background-position: 0.12804097311139565% 99.8792270531401%; background-size: 433.7606837606838% 511.94029850746267%; background-image: url(gdcon4feb2025s2_0.png);padding: 0; }
div.gd_con_4_feb_2025_s2_10_3::after {max-width:234px; width:100%;height:0;padding: 0 0 85.8974358974359% 0;}
.gd_con_4_feb_2025_s2_10_3_1 {max-width:66px; max-height:65px; }
.gd_con_4_feb_2025_s2_10_3_1::after {content: '\00a0';display: inline-block; width:66px; height:65px; background-position: 98.840885142255% 89.31535269709543%; background-size: 1537.878787878788% 1583.076923076923%; background-image: url(gdcon4feb2025s2_0.png);padding: 0; }
div.gd_con_4_feb_2025_s2_10_3_1::after {max-width:66px; width:100%;height:0;padding: 0 0 98.48484848484848% 0;}
.gd_con_4_feb_2025_s2_10_4 {max-width:234px; max-height:224px; }
.gd_con_4_feb_2025_s2_10_4::after {content: '\00a0';display: inline-block; width:234px; height:224px; background-position: 94.49423815620999% 27.82608695652174%; background-size: 433.7606837606838% 459.375%; background-image: url(gdcon4feb2025s2_0.png);padding: 0; }
div.gd_con_4_feb_2025_s2_10_4::after {max-width:234px; width:100%;height:0;padding: 0 0 95.72649572649573% 0;}
.gd_con_4_feb_2025_s2_10_4_1 {max-width:66px; max-height:65px; }
.gd_con_4_feb_2025_s2_10_4_1::after {content: '\00a0';display: inline-block; width:66px; height:65px; background-position: 68.59852476290833% 95.22821576763485%; background-size: 1537.878787878788% 1583.076923076923%; background-image: url(gdcon4feb2025s2_0.png);padding: 0; }
div.gd_con_4_feb_2025_s2_10_4_1::after {max-width:66px; width:100%;height:0;padding: 0 0 98.48484848484848% 0;}
.gd_con_4_feb_2025_s2_11_1 {max-width:464px; max-height:222px; }
.gd_con_4_feb_2025_s2_11_1::after {content: '\00a0';display: inline-block; width:464px; height:222px; background-position: 99.81851179673322% 0.12391573729863693%; background-size: 218.75% 463.5135135135135%; background-image: url(gdcon4feb2025s2_0.png);padding: 0; }
div.gd_con_4_feb_2025_s2_11_1::after {max-width:464px; width:100%;height:0;padding: 0 0 47.8448275862069% 0;}
.gd_con_4_feb_2025_s2_11_1_1 {max-width:175px; max-height:100px; }
.gd_con_4_feb_2025_s2_11_1_1::after {content: '\00a0';display: inline-block; width:175px; height:100px; background-position: 40.357142857142854% 94.6178686759957%; background-size: 580% 1029%; background-image: url(gdcon4feb2025s2_0.png);padding: 0; }
div.gd_con_4_feb_2025_s2_11_1_1::after {max-width:175px; width:100%;height:0;padding: 0 0 57.142857142857146% 0;}
.gd_con_4_feb_2025_s2_11_2 {max-width:292px; max-height:221px; }
.gd_con_4_feb_2025_s2_11_2::after {content: '\00a0';display: inline-block; width:292px; height:221px; background-position: 53.11203319502075% 81.31188118811882%; background-size: 347.6027397260274% 465.6108597285068%; background-image: url(gdcon4feb2025s2_0.png);padding: 0; }
div.gd_con_4_feb_2025_s2_11_2::after {max-width:292px; width:100%;height:0;padding: 0 0 75.68493150684931% 0;}
.gd_con_4_feb_2025_s2_11_2_1 {max-width:63px; max-height:62px; }
.gd_con_4_feb_2025_s2_11_2_1::after {content: '\00a0';display: inline-block; width:63px; height:62px; background-position: 75.4201680672269% 94.93278179937953%; background-size: 1611.111111111111% 1659.6774193548388%; background-image: url(gdcon4feb2025s2_0.png);padding: 0; }
div.gd_con_4_feb_2025_s2_11_2_1::after {max-width:63px; width:100%;height:0;padding: 0 0 98.41269841269842% 0;}
.gd_con_4_feb_2025_s2_11_3 {max-width:397px; max-height:347px; }
.gd_con_4_feb_2025_s2_11_3::after {content: '\00a0';display: inline-block; width:397px; height:347px; background-position: 0.16181229773462782% 29.618768328445746%; background-size: 255.6675062972292% 296.54178674351584%; background-image: url(gdcon4feb2025s2_0.png);padding: 0; }
div.gd_con_4_feb_2025_s2_11_3::after {max-width:397px; width:100%;height:0;padding: 0 0 87.40554156171285% 0;}
.gd_con_4_feb_2025_s2_11_3_1 {max-width:97px; max-height:97px; }
.gd_con_4_feb_2025_s2_11_3_1::after {content: '\00a0';display: inline-block; width:97px; height:97px; background-position: 98.36601307189542% 68.77682403433477%; background-size: 1046.3917525773195% 1060.8247422680413%; background-image: url(gdcon4feb2025s2_0.png);padding: 0; }
div.gd_con_4_feb_2025_s2_11_3_1::after {max-width:97px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_4_feb_2025_s2_11_4 {max-width:382px; max-height:276px; }
.gd_con_4_feb_2025_s2_11_4::after {content: '\00a0';display: inline-block; width:382px; height:276px; background-position: 0.1579778830963665% 73.04116865869854%; background-size: 265.70680628272254% 372.82608695652175%; background-image: url(gdcon4feb2025s2_0.png);padding: 0; }
div.gd_con_4_feb_2025_s2_11_4::after {max-width:382px; width:100%;height:0;padding: 0 0 72.25130890052355% 0;}
.gd_con_4_feb_2025_s2_11_4_1 {max-width:102px; max-height:111px; }
.gd_con_4_feb_2025_s2_11_4_1::after {content: '\00a0';display: inline-block; width:102px; height:111px; background-position: 25.848849945235486% 90.0871459694989%; background-size: 995.0980392156863% 927.027027027027%; background-image: url(gdcon4feb2025s2_0.png);padding: 0; }
div.gd_con_4_feb_2025_s2_11_4_1::after {max-width:102px; width:100%;height:0;padding: 0 0 108.82352941176471% 0;}
.gd_con_4_feb_2025_s2_13 {max-width:324px; max-height:148px; }
.gd_con_4_feb_2025_s2_13::after {content: '\00a0';display: inline-block; width:324px; height:148px; background-position: 57.7424023154848% 57.66174801362089%; background-size: 313.2716049382716% 695.2702702702703%; background-image: url(gdcon4feb2025s2_0.png);padding: 0; }
div.gd_con_4_feb_2025_s2_13::after {max-width:324px; width:100%;height:0;padding: 0 0 45.67901234567901% 0;}
.gd_con_4_feb_2025_s2_13_1 {max-width:135px; max-height:66px; }
.gd_con_4_feb_2025_s2_13_1::after {content: '\00a0';display: inline-block; width:135px; height:66px; background-position: 58.52272727272727% 91.27725856697819%; background-size: 751.8518518518518% 1559.090909090909%; background-image: url(gdcon4feb2025s2_0.png);padding: 0; }
div.gd_con_4_feb_2025_s2_13_1::after {max-width:135px; width:100%;height:0;padding: 0 0 48.888888888888886% 0;}
.gd_con_4_feb_2025_s2_3 {max-width:260px; max-height:55px; }
.gd_con_4_feb_2025_s2_3::after {content: '\00a0';display: inline-block; width:260px; height:55px; background-position: 89.66887417218543% 88.50102669404518%; background-size: 390.38461538461536% 1870.909090909091%; background-image: url(gdcon4feb2025s2_0.png);padding: 0; }
div.gd_con_4_feb_2025_s2_3::after {max-width:260px; width:100%;height:0;padding: 0 0 21.153846153846153% 0;}
.gd_con_4_feb_2025_s2_3_1 {max-width:54px; max-height:55px; }
.gd_con_4_feb_2025_s2_3_1::after {content: '\00a0';display: inline-block; width:54px; height:55px; background-position: 93.96462018730489% 82.64887063655031%; background-size: 1879.6296296296296% 1870.909090909091%; background-image: url(gdcon4feb2025s2_0.png);padding: 0; }
div.gd_con_4_feb_2025_s2_3_1::after {max-width:54px; width:100%;height:0;padding: 0 0 101.85185185185185% 0;}
.gd_con_4_feb_2025_s2_3_2 {max-width:54px; max-height:55px; }
.gd_con_4_feb_2025_s2_3_2::after {content: '\00a0';display: inline-block; width:54px; height:55px; background-position: 99.68782518210197% 82.64887063655031%; background-size: 1879.6296296296296% 1870.909090909091%; background-image: url(gdcon4feb2025s2_0.png);padding: 0; }
div.gd_con_4_feb_2025_s2_3_2::after {max-width:54px; width:100%;height:0;padding: 0 0 101.85185185185185% 0;}
.gd_con_4_feb_2025_s2_3_3 {max-width:54px; max-height:55px; }
.gd_con_4_feb_2025_s2_3_3::after {content: '\00a0';display: inline-block; width:54px; height:55px; background-position: 81.3735691987513% 94.25051334702259%; background-size: 1879.6296296296296% 1870.909090909091%; background-image: url(gdcon4feb2025s2_0.png);padding: 0; }
div.gd_con_4_feb_2025_s2_3_3::after {max-width:54px; width:100%;height:0;padding: 0 0 101.85185185185185% 0;}
.gd_con_4_feb_2025_s2_3_4 {max-width:54px; max-height:54px; }
.gd_con_4_feb_2025_s2_3_4::after {content: '\00a0';display: inline-block; width:54px; height:54px; background-position: 81.3735691987513% 99.8974358974359%; background-size: 1879.6296296296296% 1905.5555555555557%; background-image: url(gdcon4feb2025s2_0.png);padding: 0; }
div.gd_con_4_feb_2025_s2_3_4::after {max-width:54px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_4_feb_2025_s2_6 {max-width:548px; max-height:200px; }
.gd_con_4_feb_2025_s2_6::after {content: '\00a0';display: inline-block; width:548px; height:200px; background-position: 0.21413276231263384% 0.12062726176115803%; background-size: 185.2189781021898% 514.5%; background-image: url(gdcon4feb2025s2_0.png);padding: 0; }
div.gd_con_4_feb_2025_s2_6::after {max-width:548px; width:100%;height:0;padding: 0 0 36.496350364963504% 0;}
.gd_con_4_feb_2025_s2_6_1 {max-width:134px; max-height:66px; }
.gd_con_4_feb_2025_s2_6_1::after {content: '\00a0';display: inline-block; width:134px; height:66px; background-position: 58.456299659477864% 98.23468328141226%; background-size: 757.4626865671642% 1559.090909090909%; background-image: url(gdcon4feb2025s2_0.png);padding: 0; }
div.gd_con_4_feb_2025_s2_6_1::after {max-width:134px; width:100%;height:0;padding: 0 0 49.25373134328358% 0;}

@keyframes gd_con_4_feb_2025_s2-frames {
    0% { background-position: 89.66887417218543% 88.50102669404518%;  }
    25% { background-position: 0.21413276231263384% 0.12062726176115803%;  }
    50% { background-position: 58.93648449039882% 30.02680965147453%;  }
    75% { background-position: 57.7424023154848% 57.66174801362089%;  }
}

.gd_con_4_feb_2025_s2-animation {
    max-width: 260px;
    max-height: 55px;
}
.gd_con_4_feb_2025_s2-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 260px;
    height: 55px;
    padding: 0;
    background-image: url(gdcon4feb2025s2_0.png);
    background-size: 390.38461538461536% 1870.909090909091%; 
    animation-name: gd_con_4_feb_2025_s2-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_4_feb_2025_s2-animation::after {
    max-width: 260px;
    width: 100%;
    height: 0;
    padding: 0 0 21.153846153846153% 0;
}

@keyframes gd_con_4_feb_2025_s2_10-frames {
    0% { background-position: 94.25287356321839% 53.5799522673031%;  }
    25% { background-position: 85.69620253164557% 79.63636363636364%;  }
    50% { background-position: 0.12804097311139565% 99.8792270531401%;  }
    75% { background-position: 94.49423815620999% 27.82608695652174%;  }
}

.gd_con_4_feb_2025_s2_10-animation {
    max-width: 232px;
    max-height: 191px;
}
.gd_con_4_feb_2025_s2_10-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 232px;
    height: 191px;
    padding: 0;
    background-image: url(gdcon4feb2025s2_0.png);
    background-size: 437.5% 538.7434554973822%; 
    animation-name: gd_con_4_feb_2025_s2_10-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_4_feb_2025_s2_10-animation::after {
    max-width: 232px;
    width: 100%;
    height: 0;
    padding: 0 0 82.32758620689656% 0;
}

@keyframes gd_con_4_feb_2025_s2_11-frames {
    0% { background-position: 99.81851179673322% 0.12391573729863693%;  }
    25% { background-position: 53.11203319502075% 81.31188118811882%;  }
    50% { background-position: 0.16181229773462782% 29.618768328445746%;  }
    75% { background-position: 0.1579778830963665% 73.04116865869854%;  }
}

.gd_con_4_feb_2025_s2_11-animation {
    max-width: 464px;
    max-height: 222px;
}
.gd_con_4_feb_2025_s2_11-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 464px;
    height: 222px;
    padding: 0;
    background-image: url(gdcon4feb2025s2_0.png);
    background-size: 218.75% 463.5135135135135%; 
    animation-name: gd_con_4_feb_2025_s2_11-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_4_feb_2025_s2_11-animation::after {
    max-width: 464px;
    width: 100%;
    height: 0;
    padding: 0 0 47.8448275862069% 0;
}

@keyframes gd_con_4_feb_2025_s2_3-frames {
    0% { background-position: 93.96462018730489% 82.64887063655031%;  }
    25% { background-position: 99.68782518210197% 82.64887063655031%;  }
    50% { background-position: 81.3735691987513% 94.25051334702259%;  }
    75% { background-position: 81.3735691987513% 99.8974358974359%;  }
}

.gd_con_4_feb_2025_s2_3-animation {
    max-width: 54px;
    max-height: 55px;
}
.gd_con_4_feb_2025_s2_3-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 54px;
    height: 55px;
    padding: 0;
    background-image: url(gdcon4feb2025s2_0.png);
    background-size: 1879.6296296296296% 1870.909090909091%; 
    animation-name: gd_con_4_feb_2025_s2_3-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_4_feb_2025_s2_3-animation::after {
    max-width: 54px;
    width: 100%;
    height: 0;
    padding: 0 0 101.85185185185185% 0;
}

/* $TexturePacker:SmartUpdate:482cd2457b035e0bb1911713e09b5416:e2fb9fb0d25171a6c541c1721868af2c:8edd3b91b8ba452150b68533c233eb3d$ */
