/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.gd_con_5_feb_2025_s1_11 {max-width:522px; max-height:162px; }
.gd_con_5_feb_2025_s1_11::after {content: '\00a0';display: inline-block; width:522px; height:162px; background-position: 0.21551724137931033% 56.16740088105727%; background-size: 188.88888888888889% 660.4938271604939%; background-image: url(gdcon5feb2025s1_0.png);padding: 0; }
div.gd_con_5_feb_2025_s1_11::after {max-width:522px; width:100%;height:0;padding: 0 0 31.03448275862069% 0;}
.gd_con_5_feb_2025_s1_11_1 {max-width:156px; max-height:155px; }
.gd_con_5_feb_2025_s1_11_1::after {content: '\00a0';display: inline-block; width:156px; height:155px; background-position: 0.12048192771084337% 99.89071038251366%; background-size: 632.0512820512821% 690.3225806451613%; background-image: url(gdcon5feb2025s1_0.png);padding: 0; }
div.gd_con_5_feb_2025_s1_11_1::after {max-width:156px; width:100%;height:0;padding: 0 0 99.35897435897436% 0;}
.gd_con_5_feb_2025_s1_11_2 {max-width:157px; max-height:150px; }
.gd_con_5_feb_2025_s1_11_2::after {content: '\00a0';display: inline-block; width:157px; height:150px; background-position: 96.01930036188179% 99.34782608695652%; background-size: 628.0254777070064% 713.3333333333334%; background-image: url(gdcon5feb2025s1_0.png);padding: 0; }
div.gd_con_5_feb_2025_s1_11_2::after {max-width:157px; width:100%;height:0;padding: 0 0 95.54140127388536% 0;}
.gd_con_5_feb_2025_s1_11_3 {max-width:161px; max-height:151px; }
.gd_con_5_feb_2025_s1_11_3::after {content: '\00a0';display: inline-block; width:161px; height:151px; background-position: 58.54545454545455% 99.45593035908597%; background-size: 612.4223602484471% 708.6092715231788%; background-image: url(gdcon5feb2025s1_0.png);padding: 0; }
div.gd_con_5_feb_2025_s1_11_3::after {max-width:161px; width:100%;height:0;padding: 0 0 93.7888198757764% 0;}
.gd_con_5_feb_2025_s1_11_4 {max-width:156px; max-height:158px; }
.gd_con_5_feb_2025_s1_11_4::after {content: '\00a0';display: inline-block; width:156px; height:158px; background-position: 24.337349397590362% 73.79385964912281%; background-size: 632.0512820512821% 677.2151898734177%; background-image: url(gdcon5feb2025s1_0.png);padding: 0; }
div.gd_con_5_feb_2025_s1_11_4::after {max-width:156px; width:100%;height:0;padding: 0 0 101.28205128205128% 0;}
.gd_con_5_feb_2025_s1_12 {max-width:523px; max-height:217px; }
.gd_con_5_feb_2025_s1_12::after {content: '\00a0';display: inline-block; width:523px; height:217px; background-position: 0.2159827213822894% 34.23212192262603%; background-size: 188.52772466539196% 493.08755760368666%; background-image: url(gdcon5feb2025s1_0.png);padding: 0; }
div.gd_con_5_feb_2025_s1_12::after {max-width:523px; width:100%;height:0;padding: 0 0 41.491395793499045% 0;}
.gd_con_5_feb_2025_s1_14 {max-width:623px; max-height:132px; }
.gd_con_5_feb_2025_s1_14::after {content: '\00a0';display: inline-block; width:623px; height:132px; background-position: 0.27548209366391185% 0.10660980810234541%; background-size: 158.2664526484751% 810.6060606060606%; background-image: url(gdcon5feb2025s1_0.png);padding: 0; }
div.gd_con_5_feb_2025_s1_14::after {max-width:623px; width:100%;height:0;padding: 0 0 21.187800963081862% 0;}
.gd_con_5_feb_2025_s1_14_1 {max-width:165px; max-height:153px; }
.gd_con_5_feb_2025_s1_14_1::after {content: '\00a0';display: inline-block; width:165px; height:153px; background-position: 19.244823386114494% 99.67284623773173%; background-size: 597.5757575757576% 699.3464052287582%; background-image: url(gdcon5feb2025s1_0.png);padding: 0; }
div.gd_con_5_feb_2025_s1_14_1::after {max-width:165px; width:100%;height:0;padding: 0 0 92.72727272727273% 0;}
.gd_con_5_feb_2025_s1_14_2 {max-width:150px; max-height:151px; }
.gd_con_5_feb_2025_s1_14_2::after {content: '\00a0';display: inline-block; width:150px; height:151px; background-position: 77.1531100478469% 99.45593035908597%; background-size: 657.3333333333334% 708.6092715231788%; background-image: url(gdcon5feb2025s1_0.png);padding: 0; }
div.gd_con_5_feb_2025_s1_14_2::after {max-width:150px; width:100%;height:0;padding: 0 0 100.66666666666667% 0;}
.gd_con_5_feb_2025_s1_14_3 {max-width:158px; max-height:153px; }
.gd_con_5_feb_2025_s1_14_3::after {content: '\00a0';display: inline-block; width:158px; height:153px; background-position: 39.130434782608695% 99.67284623773173%; background-size: 624.0506329113924% 699.3464052287582%; background-image: url(gdcon5feb2025s1_0.png);padding: 0; }
div.gd_con_5_feb_2025_s1_14_3::after {max-width:158px; width:100%;height:0;padding: 0 0 96.83544303797468% 0;}
.gd_con_5_feb_2025_s1_14_4 {max-width:162px; max-height:157px; }
.gd_con_5_feb_2025_s1_14_4::after {content: '\00a0';display: inline-block; width:162px; height:157px; background-position: 43.567961165048544% 73.71303395399781%; background-size: 608.641975308642% 681.5286624203821%; background-image: url(gdcon5feb2025s1_0.png);padding: 0; }
div.gd_con_5_feb_2025_s1_14_4::after {max-width:162px; width:100%;height:0;padding: 0 0 96.91358024691358% 0;}
.gd_con_5_feb_2025_s1_3_1 {max-width:360px; max-height:157px; }
.gd_con_5_feb_2025_s1_3_1::after {content: '\00a0';display: inline-block; width:360px; height:157px; background-position: 99.84025559105432% 0.10952902519167579%; background-size: 273.8888888888889% 681.5286624203821%; background-image: url(gdcon5feb2025s1_0.png);padding: 0; }
div.gd_con_5_feb_2025_s1_3_1::after {max-width:360px; width:100%;height:0;padding: 0 0 43.611111111111114% 0;}
.gd_con_5_feb_2025_s1_3_2 {max-width:252px; max-height:233px; }
.gd_con_5_feb_2025_s1_3_2::after {content: '\00a0';display: inline-block; width:252px; height:233px; background-position: 71.52588555858311% 37.27598566308244%; background-size: 391.26984126984127% 459.2274678111588%; background-image: url(gdcon5feb2025s1_0.png);padding: 0; }
div.gd_con_5_feb_2025_s1_3_2::after {max-width:252px; width:100%;height:0;padding: 0 0 92.46031746031746% 0;}
.gd_con_5_feb_2025_s1_3_3 {max-width:543px; max-height:157px; }
.gd_con_5_feb_2025_s1_3_3::after {content: '\00a0';display: inline-block; width:543px; height:157px; background-position: 0.22573363431151242% 14.676889375684556%; background-size: 181.58379373848987% 681.5286624203821%; background-image: url(gdcon5feb2025s1_0.png);padding: 0; }
div.gd_con_5_feb_2025_s1_3_3::after {max-width:543px; width:100%;height:0;padding: 0 0 28.913443830570902% 0;}
.gd_con_5_feb_2025_s1_3_4 {max-width:431px; max-height:152px; }
.gd_con_5_feb_2025_s1_3_4::after {content: '\00a0';display: inline-block; width:431px; height:152px; background-position: 98.1981981981982% 17.320261437908496%; background-size: 228.77030162412993% 703.9473684210526%; background-image: url(gdcon5feb2025s1_0.png);padding: 0; }
div.gd_con_5_feb_2025_s1_3_4::after {max-width:431px; width:100%;height:0;padding: 0 0 35.266821345707655% 0;}
.gd_con_5_feb_2025_s1_5 {max-width:213px; max-height:272px; }
.gd_con_5_feb_2025_s1_5::after {content: '\00a0';display: inline-block; width:213px; height:272px; background-position: 67.78783958602845% 68.42105263157895%; background-size: 462.9107981220657% 393.38235294117646%; background-image: url(gdcon5feb2025s1_0.png);padding: 0; }
div.gd_con_5_feb_2025_s1_5::after {max-width:213px; width:100%;height:0;padding: 0 0 127.69953051643192% 0;}
.gd_con_5_feb_2025_s1_5_1 {max-width:202px; max-height:200px; }
.gd_con_5_feb_2025_s1_5_1::after {content: '\00a0';display: inline-block; width:202px; height:200px; background-position: 99.23469387755102% 58.62068965517241%; background-size: 488.1188118811881% 535%; background-image: url(gdcon5feb2025s1_0.png);padding: 0; }
div.gd_con_5_feb_2025_s1_5_1::after {max-width:202px; width:100%;height:0;padding: 0 0 99.00990099009901% 0;}
.gd_con_5_feb_2025_s1_5_2 {max-width:201px; max-height:202px; }
.gd_con_5_feb_2025_s1_5_2::after {content: '\00a0';display: inline-block; width:201px; height:202px; background-position: 94.01273885350318% 81.91244239631337%; background-size: 490.547263681592% 529.7029702970297%; background-image: url(gdcon5feb2025s1_0.png);padding: 0; }
div.gd_con_5_feb_2025_s1_5_2::after {max-width:201px; width:100%;height:0;padding: 0 0 100.49751243781094% 0;}
.gd_con_5_feb_2025_s1_5_3 {max-width:205px; max-height:197px; }
.gd_con_5_feb_2025_s1_5_3::after {content: '\00a0';display: inline-block; width:205px; height:197px; background-position: 99.61587708066581% 35.738831615120276%; background-size: 480.9756097560976% 543.1472081218274%; background-image: url(gdcon5feb2025s1_0.png);padding: 0; }
div.gd_con_5_feb_2025_s1_5_3::after {max-width:205px; width:100%;height:0;padding: 0 0 96.09756097560975% 0;}
.gd_con_5_feb_2025_s1_5_4 {max-width:200px; max-height:203px; }
.gd_con_5_feb_2025_s1_5_4::after {content: '\00a0';display: inline-block; width:200px; height:203px; background-position: 0.1272264631043257% 77.6239907727797%; background-size: 493% 527.0935960591133%; background-image: url(gdcon5feb2025s1_0.png);padding: 0; }
div.gd_con_5_feb_2025_s1_5_4::after {max-width:200px; width:100%;height:0;padding: 0 0 101.5% 0;}

@keyframes gd_con_5_feb_2025_s1-frames {
    0% { background-position: 67.78783958602845% 68.42105263157895%;  }
    25% { background-position: 0.21551724137931033% 56.16740088105727%;  }
    50% { background-position: 0.2159827213822894% 34.23212192262603%;  }
    75% { background-position: 0.27548209366391185% 0.10660980810234541%;  }
}

.gd_con_5_feb_2025_s1-animation {
    max-width: 213px;
    max-height: 272px;
}
.gd_con_5_feb_2025_s1-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 213px;
    height: 272px;
    padding: 0;
    background-image: url(gdcon5feb2025s1_0.png);
    background-size: 462.9107981220657% 393.38235294117646%; 
    animation-name: gd_con_5_feb_2025_s1-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_5_feb_2025_s1-animation::after {
    max-width: 213px;
    width: 100%;
    height: 0;
    padding: 0 0 127.69953051643192% 0;
}

@keyframes gd_con_5_feb_2025_s1_11-frames {
    0% { background-position: 0.12048192771084337% 99.89071038251366%;  }
    25% { background-position: 96.01930036188179% 99.34782608695652%;  }
    50% { background-position: 58.54545454545455% 99.45593035908597%;  }
    75% { background-position: 24.337349397590362% 73.79385964912281%;  }
}

.gd_con_5_feb_2025_s1_11-animation {
    max-width: 156px;
    max-height: 155px;
}
.gd_con_5_feb_2025_s1_11-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 156px;
    height: 155px;
    padding: 0;
    background-image: url(gdcon5feb2025s1_0.png);
    background-size: 632.0512820512821% 690.3225806451613%; 
    animation-name: gd_con_5_feb_2025_s1_11-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_5_feb_2025_s1_11-animation::after {
    max-width: 156px;
    width: 100%;
    height: 0;
    padding: 0 0 99.35897435897436% 0;
}

@keyframes gd_con_5_feb_2025_s1_14-frames {
    0% { background-position: 19.244823386114494% 99.67284623773173%;  }
    25% { background-position: 77.1531100478469% 99.45593035908597%;  }
    50% { background-position: 39.130434782608695% 99.67284623773173%;  }
    75% { background-position: 43.567961165048544% 73.71303395399781%;  }
}

.gd_con_5_feb_2025_s1_14-animation {
    max-width: 165px;
    max-height: 153px;
}
.gd_con_5_feb_2025_s1_14-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 165px;
    height: 153px;
    padding: 0;
    background-image: url(gdcon5feb2025s1_0.png);
    background-size: 597.5757575757576% 699.3464052287582%; 
    animation-name: gd_con_5_feb_2025_s1_14-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_5_feb_2025_s1_14-animation::after {
    max-width: 165px;
    width: 100%;
    height: 0;
    padding: 0 0 92.72727272727273% 0;
}

@keyframes gd_con_5_feb_2025_s1_3-frames {
    0% { background-position: 99.84025559105432% 0.10952902519167579%;  }
    25% { background-position: 71.52588555858311% 37.27598566308244%;  }
    50% { background-position: 0.22573363431151242% 14.676889375684556%;  }
    75% { background-position: 98.1981981981982% 17.320261437908496%;  }
}

.gd_con_5_feb_2025_s1_3-animation {
    max-width: 360px;
    max-height: 157px;
}
.gd_con_5_feb_2025_s1_3-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 360px;
    height: 157px;
    padding: 0;
    background-image: url(gdcon5feb2025s1_0.png);
    background-size: 273.8888888888889% 681.5286624203821%; 
    animation-name: gd_con_5_feb_2025_s1_3-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_5_feb_2025_s1_3-animation::after {
    max-width: 360px;
    width: 100%;
    height: 0;
    padding: 0 0 43.611111111111114% 0;
}

@keyframes gd_con_5_feb_2025_s1_5-frames {
    0% { background-position: 99.23469387755102% 58.62068965517241%;  }
    25% { background-position: 94.01273885350318% 81.91244239631337%;  }
    50% { background-position: 99.61587708066581% 35.738831615120276%;  }
    75% { background-position: 0.1272264631043257% 77.6239907727797%;  }
}

.gd_con_5_feb_2025_s1_5-animation {
    max-width: 202px;
    max-height: 200px;
}
.gd_con_5_feb_2025_s1_5-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 202px;
    height: 200px;
    padding: 0;
    background-image: url(gdcon5feb2025s1_0.png);
    background-size: 488.1188118811881% 535%; 
    animation-name: gd_con_5_feb_2025_s1_5-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_5_feb_2025_s1_5-animation::after {
    max-width: 202px;
    width: 100%;
    height: 0;
    padding: 0 0 99.00990099009901% 0;
}

/* $TexturePacker:SmartUpdate:05a00bd3cb32cfcf03c330f44a1355fa:eefbde53ea4a3c3f0ea40317de14af45:85c2685f662471a84174ec5266e845c0$ */
