/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.gd_con_4_feb_2025_s1_10 {max-width:143px; max-height:198px; }
.gd_con_4_feb_2025_s1_10::after {content: '\00a0';display: inline-block; width:143px; height:198px; background-position: 98.95287958115183% 99.85855728429986%; background-size: 634.2657342657343% 457.07070707070704%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_10::after {max-width:143px; width:100%;height:0;padding: 0 0 138.46153846153845% 0;}
.gd_con_4_feb_2025_s1_10_1 {max-width:150px; max-height:151px; }
.gd_con_4_feb_2025_s1_10_1::after {content: '\00a0';display: inline-block; width:150px; height:151px; background-position: 59.97357992073976% 73.342175066313%; background-size: 604.6666666666666% 599.3377483443709%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_10_1::after {max-width:150px; width:100%;height:0;padding: 0 0 100.66666666666667% 0;}
.gd_con_4_feb_2025_s1_10_2 {max-width:150px; max-height:151px; }
.gd_con_4_feb_2025_s1_10_2::after {content: '\00a0';display: inline-block; width:150px; height:151px; background-position: 79.92073976221928% 73.342175066313%; background-size: 604.6666666666666% 599.3377483443709%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_10_2::after {max-width:150px; width:100%;height:0;padding: 0 0 100.66666666666667% 0;}
.gd_con_4_feb_2025_s1_10_3 {max-width:150px; max-height:150px; }
.gd_con_4_feb_2025_s1_10_3::after {content: '\00a0';display: inline-block; width:150px; height:150px; background-position: 20.079260237780712% 69.13907284768212%; background-size: 604.6666666666666% 603.3333333333334%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_10_3::after {max-width:150px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_4_feb_2025_s1_10_4 {max-width:150px; max-height:151px; }
.gd_con_4_feb_2025_s1_10_4::after {content: '\00a0';display: inline-block; width:150px; height:151px; background-position: 99.86789960369882% 73.47480106100795%; background-size: 604.6666666666666% 599.3377483443709%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_10_4::after {max-width:150px; width:100%;height:0;padding: 0 0 100.66666666666667% 0;}
.gd_con_4_feb_2025_s1_11 {max-width:400px; max-height:84px; }
.gd_con_4_feb_2025_s1_11::after {content: '\00a0';display: inline-block; width:400px; height:84px; background-position: 0.19723865877712032% 0.1218026796589525%; background-size: 226.75% 1077.3809523809523%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_11::after {max-width:400px; width:100%;height:0;padding: 0 0 21% 0;}
.gd_con_4_feb_2025_s1_11_1 {max-width:150px; max-height:138px; }
.gd_con_4_feb_2025_s1_11_1::after {content: '\00a0';display: inline-block; width:150px; height:138px; background-position: 26.68428005284016% 11.21251629726206%; background-size: 604.6666666666666% 655.7971014492754%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_11_1::after {max-width:150px; width:100%;height:0;padding: 0 0 92% 0;}
.gd_con_4_feb_2025_s1_11_1_1 {max-width:150px; max-height:152px; }
.gd_con_4_feb_2025_s1_11_1_1::after {content: '\00a0';display: inline-block; width:150px; height:152px; background-position: 20.079260237780712% 89.37583001328021%; background-size: 604.6666666666666% 595.3947368421053%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_11_1_1::after {max-width:150px; width:100%;height:0;padding: 0 0 101.33333333333333% 0;}
.gd_con_4_feb_2025_s1_11_2 {max-width:150px; max-height:154px; }
.gd_con_4_feb_2025_s1_11_2::after {content: '\00a0';display: inline-block; width:150px; height:154px; background-position: 79.92073976221928% 93.87483355525966%; background-size: 604.6666666666666% 587.6623376623377%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_11_2::after {max-width:150px; width:100%;height:0;padding: 0 0 102.66666666666667% 0;}
.gd_con_4_feb_2025_s1_11_2_1 {max-width:150px; max-height:152px; }
.gd_con_4_feb_2025_s1_11_2_1::after {content: '\00a0';display: inline-block; width:150px; height:152px; background-position: 40.02642007926024% 89.64143426294821%; background-size: 604.6666666666666% 595.3947368421053%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_11_2_1::after {max-width:150px; width:100%;height:0;padding: 0 0 101.33333333333333% 0;}
.gd_con_4_feb_2025_s1_11_3 {max-width:150px; max-height:149px; }
.gd_con_4_feb_2025_s1_11_3::after {content: '\00a0';display: inline-block; width:150px; height:149px; background-position: 79.92073976221928% 53.3068783068783%; background-size: 604.6666666666666% 607.3825503355705%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_11_3::after {max-width:150px; width:100%;height:0;padding: 0 0 99.33333333333333% 0;}
.gd_con_4_feb_2025_s1_11_3_1 {max-width:150px; max-height:148px; }
.gd_con_4_feb_2025_s1_11_3_1::after {content: '\00a0';display: inline-block; width:150px; height:148px; background-position: 0.13210039630118892% 45.442536327608984%; background-size: 604.6666666666666% 611.4864864864865%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_11_3_1::after {max-width:150px; width:100%;height:0;padding: 0 0 98.66666666666667% 0;}
.gd_con_4_feb_2025_s1_11_4 {max-width:150px; max-height:145px; }
.gd_con_4_feb_2025_s1_11_4::after {content: '\00a0';display: inline-block; width:150px; height:145px; background-position: 99.60369881109644% 14.605263157894736%; background-size: 604.6666666666666% 624.1379310344828%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_11_4::after {max-width:150px; width:100%;height:0;padding: 0 0 96.66666666666667% 0;}
.gd_con_4_feb_2025_s1_11_4_1 {max-width:150px; max-height:148px; }
.gd_con_4_feb_2025_s1_11_4_1::after {content: '\00a0';display: inline-block; width:150px; height:148px; background-position: 20.079260237780712% 49.27344782034346%; background-size: 604.6666666666666% 611.4864864864865%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_11_4_1::after {max-width:150px; width:100%;height:0;padding: 0 0 98.66666666666667% 0;}
.gd_con_4_feb_2025_s1_15_1 {max-width:300px; max-height:143px; }
.gd_con_4_feb_2025_s1_15_1::after {content: '\00a0';display: inline-block; width:300px; height:143px; background-position: 49.91762767710049% 30.183727034120736%; background-size: 302.3333333333333% 632.8671328671329%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_15_1::after {max-width:300px; width:100%;height:0;padding: 0 0 47.666666666666664% 0;}
.gd_con_4_feb_2025_s1_15_2 {max-width:300px; max-height:145px; }
.gd_con_4_feb_2025_s1_15_2::after {content: '\00a0';display: inline-block; width:300px; height:145px; background-position: 99.50576606260296% 33.81578947368421%; background-size: 302.3333333333333% 624.1379310344828%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_15_2::after {max-width:300px; width:100%;height:0;padding: 0 0 48.333333333333336% 0;}
.gd_con_4_feb_2025_s1_15_3 {max-width:150px; max-height:150px; }
.gd_con_4_feb_2025_s1_15_3::after {content: '\00a0';display: inline-block; width:150px; height:150px; background-position: 40.02642007926024% 69.40397350993378%; background-size: 604.6666666666666% 603.3333333333334%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_15_3::after {max-width:150px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_4_feb_2025_s1_15_4 {max-width:300px; max-height:109px; }
.gd_con_4_feb_2025_s1_15_4::after {content: '\00a0';display: inline-block; width:300px; height:109px; background-position: 99.34102141680395% 0.12562814070351758%; background-size: 302.3333333333333% 830.2752293577981%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_15_4::after {max-width:300px; width:100%;height:0;padding: 0 0 36.333333333333336% 0;}
.gd_con_4_feb_2025_s1_17 {max-width:200px; max-height:110px; }
.gd_con_4_feb_2025_s1_17::after {content: '\00a0';display: inline-block; width:200px; height:110px; background-position: 0.14144271570014144% 10.817610062893081%; background-size: 453.5% 822.7272727272727%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_17::after {max-width:200px; width:100%;height:0;padding: 0 0 55% 0;}
.gd_con_4_feb_2025_s1_17_1 {max-width:200px; max-height:105px; }
.gd_con_4_feb_2025_s1_17_1::after {content: '\00a0';display: inline-block; width:200px; height:105px; background-position: 56.85997171145686% 0.125%; background-size: 453.5% 861.9047619047619%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_17_1::after {max-width:200px; width:100%;height:0;padding: 0 0 52.5% 0;}
.gd_con_4_feb_2025_s1_5 {max-width:400px; max-height:118px; }
.gd_con_4_feb_2025_s1_5::after {content: '\00a0';display: inline-block; width:400px; height:118px; background-position: 69.62524654832347% 14.104193138500635%; background-size: 226.75% 766.9491525423729%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_5::after {max-width:400px; width:100%;height:0;padding: 0 0 29.5% 0;}
.gd_con_4_feb_2025_s1_5_1 {max-width:150px; max-height:146px; }
.gd_con_4_feb_2025_s1_5_1::after {content: '\00a0';display: inline-block; width:150px; height:146px; background-position: 0.13210039630118892% 25.95520421607378%; background-size: 604.6666666666666% 619.8630136986301%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_5_1::after {max-width:150px; width:100%;height:0;padding: 0 0 97.33333333333333% 0;}
.gd_con_4_feb_2025_s1_5_1_1 {max-width:150px; max-height:150px; }
.gd_con_4_feb_2025_s1_5_1_1::after {content: '\00a0';display: inline-block; width:150px; height:150px; background-position: 99.86789960369882% 53.37748344370861%; background-size: 604.6666666666666% 603.3333333333334%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_5_1_1::after {max-width:150px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_4_feb_2025_s1_5_2 {max-width:150px; max-height:152px; }
.gd_con_4_feb_2025_s1_5_2::after {content: '\00a0';display: inline-block; width:150px; height:152px; background-position: 0.13210039630118892% 85.52456839309428%; background-size: 604.6666666666666% 595.3947368421053%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_5_2::after {max-width:150px; width:100%;height:0;padding: 0 0 101.33333333333333% 0;}
.gd_con_4_feb_2025_s1_5_2_1 {max-width:150px; max-height:150px; }
.gd_con_4_feb_2025_s1_5_2_1::after {content: '\00a0';display: inline-block; width:150px; height:150px; background-position: 0.13210039630118892% 65.29801324503312%; background-size: 604.6666666666666% 603.3333333333334%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_5_2_1::after {max-width:150px; width:100%;height:0;padding: 0 0 100% 0;}
.gd_con_4_feb_2025_s1_5_3 {max-width:150px; max-height:154px; }
.gd_con_4_feb_2025_s1_5_3::after {content: '\00a0';display: inline-block; width:150px; height:154px; background-position: 59.97357992073976% 93.87483355525966%; background-size: 604.6666666666666% 587.6623376623377%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_5_3::after {max-width:150px; width:100%;height:0;padding: 0 0 102.66666666666667% 0;}
.gd_con_4_feb_2025_s1_5_3_1 {max-width:150px; max-height:149px; }
.gd_con_4_feb_2025_s1_5_3_1::after {content: '\00a0';display: inline-block; width:150px; height:149px; background-position: 40.02642007926024% 49.47089947089947%; background-size: 604.6666666666666% 607.3825503355705%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_5_3_1::after {max-width:150px; width:100%;height:0;padding: 0 0 99.33333333333333% 0;}
.gd_con_4_feb_2025_s1_5_4 {max-width:150px; max-height:147px; }
.gd_con_4_feb_2025_s1_5_4::after {content: '\00a0';display: inline-block; width:150px; height:147px; background-position: 20.079260237780712% 29.683377308707126%; background-size: 604.6666666666666% 615.6462585034013%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_5_4::after {max-width:150px; width:100%;height:0;padding: 0 0 98% 0;}
.gd_con_4_feb_2025_s1_5_4_1 {max-width:150px; max-height:149px; }
.gd_con_4_feb_2025_s1_5_4_1::after {content: '\00a0';display: inline-block; width:150px; height:149px; background-position: 59.97357992073976% 53.3068783068783%; background-size: 604.6666666666666% 607.3825503355705%; background-image: url(gdcon4feb2025s1_0.png);padding: 0; }
div.gd_con_4_feb_2025_s1_5_4_1::after {max-width:150px; width:100%;height:0;padding: 0 0 99.33333333333333% 0;}

@keyframes gd_con_4_feb_2025_s1-frames {
    0% { background-position: 69.62524654832347% 14.104193138500635%;  }
    25% { background-position: 98.95287958115183% 99.85855728429986%;  }
    50% { background-position: 0.19723865877712032% 0.1218026796589525%;  }
    75% { background-position: 0.14144271570014144% 10.817610062893081%;  }
}

.gd_con_4_feb_2025_s1-animation {
    max-width: 400px;
    max-height: 118px;
}
.gd_con_4_feb_2025_s1-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 400px;
    height: 118px;
    padding: 0;
    background-image: url(gdcon4feb2025s1_0.png);
    background-size: 226.75% 766.9491525423729%; 
    animation-name: gd_con_4_feb_2025_s1-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_4_feb_2025_s1-animation::after {
    max-width: 400px;
    width: 100%;
    height: 0;
    padding: 0 0 29.5% 0;
}

@keyframes gd_con_4_feb_2025_s1_10-frames {
    0% { background-position: 59.97357992073976% 73.342175066313%;  }
    25% { background-position: 79.92073976221928% 73.342175066313%;  }
    50% { background-position: 20.079260237780712% 69.13907284768212%;  }
    75% { background-position: 99.86789960369882% 73.47480106100795%;  }
}

.gd_con_4_feb_2025_s1_10-animation {
    max-width: 150px;
    max-height: 151px;
}
.gd_con_4_feb_2025_s1_10-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 150px;
    height: 151px;
    padding: 0;
    background-image: url(gdcon4feb2025s1_0.png);
    background-size: 604.6666666666666% 599.3377483443709%; 
    animation-name: gd_con_4_feb_2025_s1_10-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_4_feb_2025_s1_10-animation::after {
    max-width: 150px;
    width: 100%;
    height: 0;
    padding: 0 0 100.66666666666667% 0;
}

@keyframes gd_con_4_feb_2025_s1_11-frames {
    0% { background-position: 26.68428005284016% 11.21251629726206%;  }
    25% { background-position: 79.92073976221928% 93.87483355525966%;  }
    50% { background-position: 79.92073976221928% 53.3068783068783%;  }
    75% { background-position: 99.60369881109644% 14.605263157894736%;  }
}

.gd_con_4_feb_2025_s1_11-animation {
    max-width: 150px;
    max-height: 138px;
}
.gd_con_4_feb_2025_s1_11-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 150px;
    height: 138px;
    padding: 0;
    background-image: url(gdcon4feb2025s1_0.png);
    background-size: 604.6666666666666% 655.7971014492754%; 
    animation-name: gd_con_4_feb_2025_s1_11-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_4_feb_2025_s1_11-animation::after {
    max-width: 150px;
    width: 100%;
    height: 0;
    padding: 0 0 92% 0;
}

@keyframes gd_con_4_feb_2025_s1_15-frames {
    0% { background-position: 49.91762767710049% 30.183727034120736%;  }
    25% { background-position: 99.50576606260296% 33.81578947368421%;  }
    50% { background-position: 40.02642007926024% 69.40397350993378%;  }
    75% { background-position: 99.34102141680395% 0.12562814070351758%;  }
}

.gd_con_4_feb_2025_s1_15-animation {
    max-width: 300px;
    max-height: 143px;
}
.gd_con_4_feb_2025_s1_15-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 300px;
    height: 143px;
    padding: 0;
    background-image: url(gdcon4feb2025s1_0.png);
    background-size: 302.3333333333333% 632.8671328671329%; 
    animation-name: gd_con_4_feb_2025_s1_15-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_4_feb_2025_s1_15-animation::after {
    max-width: 300px;
    width: 100%;
    height: 0;
    padding: 0 0 47.666666666666664% 0;
}

@keyframes gd_con_4_feb_2025_s1_5-frames {
    0% { background-position: 0.13210039630118892% 25.95520421607378%;  }
    25% { background-position: 0.13210039630118892% 85.52456839309428%;  }
    50% { background-position: 59.97357992073976% 93.87483355525966%;  }
    75% { background-position: 20.079260237780712% 29.683377308707126%;  }
}

.gd_con_4_feb_2025_s1_5-animation {
    max-width: 150px;
    max-height: 146px;
}
.gd_con_4_feb_2025_s1_5-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 150px;
    height: 146px;
    padding: 0;
    background-image: url(gdcon4feb2025s1_0.png);
    background-size: 604.6666666666666% 619.8630136986301%; 
    animation-name: gd_con_4_feb_2025_s1_5-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gd_con_4_feb_2025_s1_5-animation::after {
    max-width: 150px;
    width: 100%;
    height: 0;
    padding: 0 0 97.33333333333333% 0;
}

/* $TexturePacker:SmartUpdate:a7536ebe2a56b3c2143f7cc007d3e50f:e566cacd9c48cc9334e95f7d285630c6:3f7ebbdff93f2752b2eb05354451f678$ */
