/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.ct2math07jan2024_sol_40 {max-width:174px; max-height:194px; }
.ct2math07jan2024_sol_40::after {content: '\00a0';display: inline-block; width:174px; height:194px; background-position: 0.1694915254237288% 69.6774193548387%; background-size: 439.08045977011494% 259.7938144329897%; background-image: url(ctet2_2024_0.png);padding: 0; }
div.ct2math07jan2024_sol_40::after {max-width:174px; width:100%;height:0;padding: 0 0 111.49425287356321% 0;}
.ct2math07jan2024_sol_50 {max-width:245px; max-height:214px; }
.ct2math07jan2024_sol_50::after {content: '\00a0';display: inline-block; width:245px; height:214px; background-position: 0.1926782273603083% 0.3448275862068966%; background-size: 311.83673469387753% 235.51401869158877%; background-image: url(ctet2_2024_0.png);padding: 0; }
div.ct2math07jan2024_sol_50::after {max-width:245px; width:100%;height:0;padding: 0 0 87.34693877551021% 0;}
.ct2math07jan2024_sol_52 {max-width:247px; max-height:189px; }
.ct2math07jan2024_sol_52::after {content: '\00a0';display: inline-block; width:247px; height:189px; background-position: 34.04255319148936% 68.57142857142857%; background-size: 309.31174089068827% 266.6666666666667%; background-image: url(ctet2_2024_0.png);padding: 0; }
div.ct2math07jan2024_sol_52::after {max-width:247px; width:100%;height:0;padding: 0 0 76.51821862348179% 0;}
.ct2math07jan2024_sol_54 {max-width:216px; max-height:169px; }
.ct2math07jan2024_sol_54::after {content: '\00a0';display: inline-block; width:216px; height:169px; background-position: 77.37226277372262% 55.52238805970149%; background-size: 353.7037037037037% 298.2248520710059%; background-image: url(ctet2_2024_0.png);padding: 0; }
div.ct2math07jan2024_sol_54::after {max-width:216px; width:100%;height:0;padding: 0 0 78.24074074074075% 0;}
.ct2math21jan2024_sol_36 {max-width:122px; max-height:147px; }
.ct2math21jan2024_sol_36::after {content: '\00a0';display: inline-block; width:122px; height:147px; background-position: 99.84423676012462% 45.378151260504204%; background-size: 626.2295081967213% 342.85714285714283%; background-image: url(ctet2_2024_0.png);padding: 0; }
div.ct2math21jan2024_sol_36::after {max-width:122px; width:100%;height:0;padding: 0 0 120.49180327868852% 0;}
.ct2math21jan2024_sol_36a {max-width:153px; max-height:184px; }
.ct2math21jan2024_sol_36a::after {content: '\00a0';display: inline-block; width:153px; height:184px; background-position: 40.42553191489362% 0.3125%; background-size: 499.34640522875816% 273.9130434782609%; background-image: url(ctet2_2024_0.png);padding: 0; }
div.ct2math21jan2024_sol_36a::after {max-width:153px; width:100%;height:0;padding: 0 0 120.26143790849673% 0;}
.ct2math21jan2024_sol_36b {max-width:152px; max-height:184px; }
.ct2math21jan2024_sol_36b::after {content: '\00a0';display: inline-block; width:152px; height:184px; background-position: 65.52287581699346% 0.3125%; background-size: 502.63157894736844% 273.9130434782609%; background-image: url(ctet2_2024_0.png);padding: 0; }
div.ct2math21jan2024_sol_36b::after {max-width:152px; width:100%;height:0;padding: 0 0 121.05263157894737% 0;}
.ct2math21jan2024_sol_42 {max-width:185px; max-height:160px; }
.ct2math21jan2024_sol_42::after {content: '\00a0';display: inline-block; width:185px; height:160px; background-position: 95.68221070811744% 0.29069767441860467%; background-size: 412.97297297297297% 315%; background-image: url(ctet2_2024_0.png);padding: 0; }
div.ct2math21jan2024_sol_42::after {max-width:185px; width:100%;height:0;padding: 0 0 86.48648648648648% 0;}
.ct2math21jan2024_sol_52 {max-width:270px; max-height:147px; }
.ct2math21jan2024_sol_52::after {content: '\00a0';display: inline-block; width:270px; height:147px; background-position: 85.82995951417004% 99.71988795518207%; background-size: 282.962962962963% 342.85714285714283%; background-image: url(ctet2_2024_0.png);padding: 0; }
div.ct2math21jan2024_sol_52::after {max-width:270px; width:100%;height:0;padding: 0 0 54.44444444444444% 0;}
.ctet_21_jan_2024_115 {max-width:280px; max-height:62px; }
.ctet_21_jan_2024_115::after {content: '\00a0';display: inline-block; width:280px; height:62px; background-position: 0.2066115702479339% 92.98642533936652%; background-size: 272.85714285714283% 812.9032258064516%; background-image: url(ctet2_2024_0.png);padding: 0; }
div.ctet_21_jan_2024_115::after {max-width:280px; width:100%;height:0;padding: 0 0 22.142857142857142% 0;}
.ctet_21_jan_2024_82 {max-width:64px; max-height:28px; }
.ctet_21_jan_2024_82::after {content: '\00a0';display: inline-block; width:64px; height:28px; background-position: 0.14285714285714285% 99.5798319327731%; background-size: 1193.75% 1800%; background-image: url(ctet2_2024_0.png);padding: 0; }
div.ctet_21_jan_2024_82::after {max-width:64px; width:100%;height:0;padding: 0 0 43.75% 0;}
.ctet_21_s_jan_2024_115 {max-width:280px; max-height:62px; }
.ctet_21_s_jan_2024_115::after {content: '\00a0';display: inline-block; width:280px; height:62px; background-position: 0.2066115702479339% 92.98642533936652%; background-size: 272.85714285714283% 812.9032258064516%; background-image: url(ctet2_2024_0.png);padding: 0; }
div.ctet_21_s_jan_2024_115::after {max-width:280px; width:100%;height:0;padding: 0 0 22.142857142857142% 0;}

@keyframes ct2math07jan2024_sol-frames {
    0% { background-position: 0.1694915254237288% 69.6774193548387%;  }
    25% { background-position: 0.1926782273603083% 0.3448275862068966%;  }
    50% { background-position: 34.04255319148936% 68.57142857142857%;  }
    75% { background-position: 77.37226277372262% 55.52238805970149%;  }
}

.ct2math07jan2024_sol-animation {
    max-width: 174px;
    max-height: 194px;
}
.ct2math07jan2024_sol-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 174px;
    height: 194px;
    padding: 0;
    background-image: url(ctet2_2024_0.png);
    background-size: 439.08045977011494% 259.7938144329897%; 
    animation-name: ct2math07jan2024_sol-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.ct2math07jan2024_sol-animation::after {
    max-width: 174px;
    width: 100%;
    height: 0;
    padding: 0 0 111.49425287356321% 0;
}

@keyframes ct2math21jan2024_sol-frames {
    0% { background-position: 99.84423676012462% 45.378151260504204%;  }
    33.33333333333333% { background-position: 95.68221070811744% 0.29069767441860467%;  }
    66.66666666666666% { background-position: 85.82995951417004% 99.71988795518207%;  }
}

.ct2math21jan2024_sol-animation {
    max-width: 122px;
    max-height: 147px;
}
.ct2math21jan2024_sol-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 122px;
    height: 147px;
    padding: 0;
    background-image: url(ctet2_2024_0.png);
    background-size: 626.2295081967213% 342.85714285714283%; 
    animation-name: ct2math21jan2024_sol-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.ct2math21jan2024_sol-animation::after {
    max-width: 122px;
    width: 100%;
    height: 0;
    padding: 0 0 120.49180327868852% 0;
}

@keyframes ctet_21_jan_2024-frames {
    0% { background-position: 0.14285714285714285% 99.5798319327731%;  }
    50% { background-position: 0.2066115702479339% 92.98642533936652%;  }
}

.ctet_21_jan_2024-animation {
    max-width: 64px;
    max-height: 28px;
}
.ctet_21_jan_2024-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 64px;
    height: 28px;
    padding: 0;
    background-image: url(ctet2_2024_0.png);
    background-size: 1193.75% 1800%; 
    animation-name: ctet_21_jan_2024-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.ctet_21_jan_2024-animation::after {
    max-width: 64px;
    width: 100%;
    height: 0;
    padding: 0 0 43.75% 0;
}

/* $TexturePacker:SmartUpdate:63dd9bf7141342e781cd51fb35df21ae:725ee43b5e157cddec00782e4a747d85:cabb3705ed83673aa2b3a03ec7f3043d$ */
