/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.cds_1_2025_sol_11 {max-width:487px; max-height:436px; }
.cds_1_2025_sol_11::after {content: '\00a0';display: inline-block; width:487px; height:436px; background-position: 99.93569131832797% 0.10822510822510822%; background-size: 419.3018480492813% 311.92660550458714%; background-image: url(upsc_cds_2025_0.png);padding: 0; }
div.cds_1_2025_sol_11::after {max-width:487px; width:100%;height:0;padding: 0 0 89.52772073921972% 0;}
.cds_1_2025_sol_14 {max-width:340px; max-height:326px; }
.cds_1_2025_sol_14::after {content: '\00a0';display: inline-block; width:340px; height:326px; background-position: 84.4888366627497% 85.49323017408123%; background-size: 600.5882352941177% 417.17791411042947%; background-image: url(upsc_cds_2025_0.png);padding: 0; }
div.cds_1_2025_sol_14::after {max-width:340px; width:100%;height:0;padding: 0 0 95.88235294117646% 0;}
.cds_1_2025_sol_15 {max-width:224px; max-height:217px; }
.cds_1_2025_sol_15::after {content: '\00a0';display: inline-block; width:224px; height:217px; background-position: 97.85478547854785% 77.34033245844269%; background-size: 911.6071428571429% 626.7281105990784%; background-image: url(upsc_cds_2025_0.png);padding: 0; }
div.cds_1_2025_sol_15::after {max-width:224px; width:100%;height:0;padding: 0 0 96.875% 0;}
.cds_1_2025_sol_18 {max-width:780px; max-height:445px; }
.cds_1_2025_sol_18::after {content: '\00a0';display: inline-block; width:780px; height:445px; background-position: 61.25198098256735% 0.1092896174863388%; background-size: 261.79487179487177% 305.6179775280899%; background-image: url(upsc_cds_2025_0.png);padding: 0; }
div.cds_1_2025_sol_18::after {max-width:780px; width:100%;height:0;padding: 0 0 57.05128205128205% 0;}
.cds_1_2025_sol_25 {max-width:499px; max-height:392px; }
.cds_1_2025_sol_25::after {content: '\00a0';display: inline-block; width:499px; height:392px; background-position: 0.06480881399870382% 98.4504132231405%; background-size: 409.2184368737475% 346.9387755102041%; background-image: url(upsc_cds_2025_0.png);padding: 0; }
div.cds_1_2025_sol_25::after {max-width:499px; width:100%;height:0;padding: 0 0 78.55711422845691% 0;}
.cds_1_2025_sol_53 {max-width:553px; max-height:436px; }
.cds_1_2025_sol_53::after {content: '\00a0';display: inline-block; width:553px; height:436px; background-position: 92.67965077233042% 48.37662337662338%; background-size: 369.25858951175405% 311.92660550458714%; background-image: url(upsc_cds_2025_0.png);padding: 0; }
div.cds_1_2025_sol_53::after {max-width:553px; width:100%;height:0;padding: 0 0 78.84267631103074% 0;}
.cds_1_2025_sol_55 {max-width:186px; max-height:122px; }
.cds_1_2025_sol_55::after {content: '\00a0';display: inline-block; width:186px; height:122px; background-position: 77.47844827586206% 97.81906300484653%; background-size: 1097.8494623655913% 1114.7540983606557%; background-image: url(upsc_cds_2025_0.png);padding: 0; }
div.cds_1_2025_sol_55::after {max-width:186px; width:100%;height:0;padding: 0 0 65.59139784946237% 0;}
.cds_1_2025_sol_59 {max-width:643px; max-height:467px; }
.cds_1_2025_sol_59::after {content: '\00a0';display: inline-block; width:643px; height:467px; background-position: 0.07147962830593281% 54.31131019036954%; background-size: 317.5738724727838% 291.220556745182%; background-image: url(upsc_cds_2025_0.png);padding: 0; }
div.cds_1_2025_sol_59::after {max-width:643px; width:100%;height:0;padding: 0 0 72.62830482115085% 0;}
.cds_1_2025_sol_62 {max-width:771px; max-height:483px; }
.cds_1_2025_sol_62::after {content: '\00a0';display: inline-block; width:771px; height:483px; background-position: 0.07867820613690008% 0.11402508551881414%; background-size: 264.8508430609598% 281.5734989648033%; background-image: url(upsc_cds_2025_0.png);padding: 0; }
div.cds_1_2025_sol_62::after {max-width:771px; width:100%;height:0;padding: 0 0 62.64591439688716% 0;}
.cds_1_2025_sol_65 {max-width:506px; max-height:473px; }
.cds_1_2025_sol_65::after {content: '\00a0';display: inline-block; width:506px; height:473px; background-position: 41.9921875% 99.88726042841037%; background-size: 403.55731225296444% 287.52642706131076%; background-image: url(upsc_cds_2025_0.png);padding: 0; }
div.cds_1_2025_sol_65::after {max-width:506px; width:100%;height:0;padding: 0 0 93.47826086956522% 0;}
.cds_1_2025_sol_69 {max-width:223px; max-height:206px; }
.cds_1_2025_sol_69::after {content: '\00a0';display: inline-block; width:223px; height:206px; background-position: 97.80098955470038% 95.49393414211438%; background-size: 915.6950672645739% 660.1941747572815%; background-image: url(upsc_cds_2025_0.png);padding: 0; }
div.cds_1_2025_sol_69::after {max-width:223px; width:100%;height:0;padding: 0 0 92.37668161434978% 0;}
.cds_1_2025_sol_70 {max-width:223px; max-height:206px; }
.cds_1_2025_sol_70::after {content: '\00a0';display: inline-block; width:223px; height:206px; background-position: 97.80098955470038% 95.49393414211438%; background-size: 915.6950672645739% 660.1941747572815%; background-image: url(upsc_cds_2025_0.png);padding: 0; }
div.cds_1_2025_sol_70::after {max-width:223px; width:100%;height:0;padding: 0 0 92.37668161434978% 0;}
.cds_1_2025_sol_73 {max-width:606px; max-height:438px; }
.cds_1_2025_sol_73::after {content: '\00a0';display: inline-block; width:606px; height:438px; background-position: 53.83008356545961% 48.48156182212581%; background-size: 336.963696369637% 310.50228310502285%; background-image: url(upsc_cds_2025_0.png);padding: 0; }
div.cds_1_2025_sol_73::after {max-width:606px; width:100%;height:0;padding: 0 0 72.27722772277228% 0;}
.upsc_cds_i_2025_math_96_para {max-width:285px; max-height:456px; }
.upsc_cds_i_2025_math_96_para::after {content: '\00a0';display: inline-block; width:285px; height:456px; background-position: 65.5663062037564% 98.00884955752213%; background-size: 716.4912280701755% 298.2456140350877%; background-image: url(upsc_cds_2025_0.png);padding: 0; }
div.upsc_cds_i_2025_math_96_para::after {max-width:285px; width:100%;height:0;padding: 0 0 160% 0;}

@keyframes cds_1_2025_sol-frames {
    0% { background-position: 99.93569131832797% 0.10822510822510822%;  }
    7.6923076923076925% { background-position: 84.4888366627497% 85.49323017408123%;  }
    15.384615384615385% { background-position: 97.85478547854785% 77.34033245844269%;  }
    23.076923076923077% { background-position: 61.25198098256735% 0.1092896174863388%;  }
    30.76923076923077% { background-position: 0.06480881399870382% 98.4504132231405%;  }
    38.46153846153847% { background-position: 92.67965077233042% 48.37662337662338%;  }
    46.15384615384615% { background-position: 77.47844827586206% 97.81906300484653%;  }
    53.84615384615385% { background-position: 0.07147962830593281% 54.31131019036954%;  }
    61.53846153846154% { background-position: 0.07867820613690008% 0.11402508551881414%;  }
    69.23076923076923% { background-position: 41.9921875% 99.88726042841037%;  }
    76.92307692307693% { background-position: 97.80098955470038% 95.49393414211438%;  }
    84.61538461538461% { background-position: 97.80098955470038% 95.49393414211438%;  }
    92.3076923076923% { background-position: 53.83008356545961% 48.48156182212581%;  }
}

.cds_1_2025_sol-animation {
    max-width: 487px;
    max-height: 436px;
}
.cds_1_2025_sol-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 487px;
    height: 436px;
    padding: 0;
    background-image: url(upsc_cds_2025_0.png);
    background-size: 419.3018480492813% 311.92660550458714%; 
    animation-name: cds_1_2025_sol-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.cds_1_2025_sol-animation::after {
    max-width: 487px;
    width: 100%;
    height: 0;
    padding: 0 0 89.52772073921972% 0;
}

/* $TexturePacker:SmartUpdate:22783310300739bcfad510701889c129:c72ef990f0551b285e199e32812b4773:c139a30817b6dd1bf7e88cfde96268b1$ */
