/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.NEET_2019_PC_Q2_74_s {max-width:152px; max-height:116px; }
.NEET_2019_PC_Q2_74_s::after {content: '\00a0';display: inline-block; width:152px; height:116px; background-position: 96.0907944514502% 97.50803858520901%; background-size: 621.7105263157895% 1172.4137931034484%; background-image: url(ph_xi_ch10_0.png);padding: 0; }
div.NEET_2019_PC_Q2_74_s::after {max-width:152px; width:100%;height:0;padding: 0 0 76.3157894736842% 0;}
.NEET_2019_PC_Q2_82_q {max-width:204px; max-height:191px; }
.NEET_2019_PC_Q2_82_q::after {content: '\00a0';display: inline-block; width:204px; height:191px; background-position: 96.22132253711202% 49.443969204448244%; background-size: 463.2352941176471% 712.041884816754%; background-image: url(ph_xi_ch10_0.png);padding: 0; }
div.NEET_2019_PC_Q2_82_q::after {max-width:204px; width:100%;height:0;padding: 0 0 93.62745098039215% 0;}
.NEET_2019_PC_Q2_82_s {max-width:189px; max-height:182px; }
.NEET_2019_PC_Q2_82_s::after {content: '\00a0';display: inline-block; width:189px; height:182px; background-position: 43.12169312169312% 98.13242784380306%; background-size: 500% 747.2527472527472%; background-image: url(ph_xi_ch10_0.png);padding: 0; }
div.NEET_2019_PC_Q2_82_s::after {max-width:189px; width:100%;height:0;padding: 0 0 96.29629629629629% 0;}
.Oscillations_14_s {max-width:378px; max-height:174px; }
.Oscillations_14_s::after {content: '\00a0';display: inline-block; width:378px; height:174px; background-position: 77.24867724867725% 0.08431703204047218%; background-size: 250% 781.6091954022988%; background-image: url(ph_xi_ch10_0.png);padding: 0; }
div.Oscillations_14_s::after {max-width:378px; width:100%;height:0;padding: 0 0 46.03174603174603% 0;}
.Oscillations_21_q {max-width:122px; max-height:177px; }
.Oscillations_21_q::after {content: '\00a0';display: inline-block; width:122px; height:177px; background-position: 99.27095990279466% 5.663567202028741%; background-size: 774.5901639344262% 768.361581920904%; background-image: url(ph_xi_ch10_0.png);padding: 0; }
div.Oscillations_21_q::after {max-width:122px; width:100%;height:0;padding: 0 0 145.08196721311475% 0;}
.Oscillations_21_s {max-width:370px; max-height:118px; }
.Oscillations_21_s::after {content: '\00a0';display: inline-block; width:370px; height:118px; background-position: 0.17391304347826086% 13.043478260869565%; background-size: 255.40540540540542% 1152.542372881356%; background-image: url(ph_xi_ch10_0.png);padding: 0; }
div.Oscillations_21_s::after {max-width:370px; width:100%;height:0;padding: 0 0 31.89189189189189% 0;}
.Oscillations_24_s {max-width:223px; max-height:105px; }
.Oscillations_24_s::after {content: '\00a0';display: inline-block; width:223px; height:105px; background-position: 98.75346260387812% 37.60956175298805%; background-size: 423.76681614349775% 1295.2380952380952%; background-image: url(ph_xi_ch10_0.png);padding: 0; }
div.Oscillations_24_s::after {max-width:223px; width:100%;height:0;padding: 0 0 47.08520179372197% 0;}
.Oscillations_28_s {max-width:183px; max-height:203px; }
.Oscillations_28_s::after {content: '\00a0';display: inline-block; width:183px; height:203px; background-position: 0.13123359580052493% 99.91356957649093%; background-size: 516.3934426229508% 669.9507389162561%; background-image: url(ph_xi_ch10_0.png);padding: 0; }
div.Oscillations_28_s::after {max-width:183px; width:100%;height:0;padding: 0 0 110.92896174863388% 0;}
.Oscillations_30_o_1 {max-width:122px; max-height:81px; }
.Oscillations_30_o_1::after {content: '\00a0';display: inline-block; width:122px; height:81px; background-position: 16.64641555285541% 78.34245504300235%; background-size: 774.5901639344262% 1679.0123456790122%; background-image: url(ph_xi_ch10_0.png);padding: 0; }
div.Oscillations_30_o_1::after {max-width:122px; width:100%;height:0;padding: 0 0 66.39344262295081% 0;}
.Oscillations_30_o_2 {max-width:103px; max-height:84px; }
.Oscillations_30_o_2::after {content: '\00a0';display: inline-block; width:103px; height:84px; background-position: 73.15914489311164% 27.899686520376175%; background-size: 917.4757281553398% 1619.047619047619%; background-image: url(ph_xi_ch10_0.png);padding: 0; }
div.Oscillations_30_o_2::after {max-width:103px; width:100%;height:0;padding: 0 0 81.55339805825243% 0;}
.Oscillations_30_o_3 {max-width:134px; max-height:70px; }
.Oscillations_30_o_3::after {content: '\00a0';display: inline-block; width:134px; height:70px; background-position: 74.10604192355117% 78.06201550387597%; background-size: 705.223880597015% 1942.857142857143%; background-image: url(ph_xi_ch10_0.png);padding: 0; }
div.Oscillations_30_o_3::after {max-width:134px; width:100%;height:0;padding: 0 0 52.23880597014925% 0;}
.Oscillations_30_o_4 {max-width:123px; max-height:65px; }
.Oscillations_30_o_4::after {content: '\00a0';display: inline-block; width:123px; height:65px; background-position: 99.39172749391727% 0.07722007722007722%; background-size: 768.2926829268292% 2092.3076923076924%; background-image: url(ph_xi_ch10_0.png);padding: 0; }
div.Oscillations_30_o_4::after {max-width:123px; width:100%;height:0;padding: 0 0 52.84552845528455% 0;}
.Oscillations_33_s {max-width:305px; max-height:85px; }
.Oscillations_33_s::after {content: '\00a0';display: inline-block; width:305px; height:85px; background-position: 48.4375% 27.92156862745098%; background-size: 309.8360655737705% 1600%; background-image: url(ph_xi_ch10_0.png);padding: 0; }
div.Oscillations_33_s::after {max-width:305px; width:100%;height:0;padding: 0 0 27.868852459016395% 0;}
.Oscillations_35_q {max-width:135px; max-height:149px; }
.Oscillations_35_q::after {content: '\00a0';display: inline-block; width:135px; height:149px; background-position: 0.12345679012345678% 82.74153592072668%; background-size: 700% 912.751677852349%; background-image: url(ph_xi_ch10_0.png);padding: 0; }
div.Oscillations_35_q::after {max-width:135px; width:100%;height:0;padding: 0 0 110.37037037037037% 0;}
.Oscillations_35_s {max-width:80px; max-height:172px; }
.Oscillations_35_s::after {content: '\00a0';display: inline-block; width:80px; height:172px; background-position: 60.115606936416185% 77.1885521885522%; background-size: 1181.25% 790.6976744186046%; background-image: url(ph_xi_ch10_0.png);padding: 0; }
div.Oscillations_35_s::after {max-width:80px; width:100%;height:0;padding: 0 0 215% 0;}
.Oscillations_35_s_1 {max-width:266px; max-height:151px; }
.Oscillations_35_s_1::after {content: '\00a0';display: inline-block; width:266px; height:151px; background-position: 0.14727540500736377% 70.30603804797353%; background-size: 355.2631578947368% 900.6622516556291%; background-image: url(ph_xi_ch10_0.png);padding: 0; }
div.Oscillations_35_s_1::after {max-width:266px; width:100%;height:0;padding: 0 0 56.766917293233085% 0;}
.Oscillations_38_s {max-width:140px; max-height:189px; }
.Oscillations_38_s::after {content: '\00a0';display: inline-block; width:140px; height:189px; background-position: 22.981366459627328% 98.71904355251921%; background-size: 675% 719.5767195767196%; background-image: url(ph_xi_ch10_0.png);padding: 0; }
div.Oscillations_38_s::after {max-width:140px; width:100%;height:0;padding: 0 0 135% 0;}
.Oscillations_45_q {max-width:269px; max-height:193px; }
.Oscillations_45_q::after {content: '\00a0';display: inline-block; width:269px; height:193px; background-position: 44.67455621301775% 61.95372750642674%; background-size: 351.30111524163567% 704.6632124352332%; background-image: url(ph_xi_ch10_0.png);padding: 0; }
div.Oscillations_45_q::after {max-width:269px; width:100%;height:0;padding: 0 0 71.74721189591078% 0;}
.Oscillations_47_q {max-width:181px; max-height:105px; }
.Oscillations_47_q::after {content: '\00a0';display: inline-block; width:181px; height:105px; background-position: 99.73821989528795% 80.2390438247012%; background-size: 522.0994475138122% 1295.2380952380952%; background-image: url(ph_xi_ch10_0.png);padding: 0; }
div.Oscillations_47_q::after {max-width:181px; width:100%;height:0;padding: 0 0 58.011049723756905% 0;}
.n2014_8a {max-width:300px; max-height:142px; }
.n2014_8a::after {content: '\00a0';display: inline-block; width:300px; height:142px; background-position: 48.06201550387597% 36.28899835796388%; background-size: 315% 957.7464788732394%; background-image: url(ph_xi_ch10_0.png);padding: 0; }
div.n2014_8a::after {max-width:300px; width:100%;height:0;padding: 0 0 47.333333333333336% 0;}
.n2014_8b {max-width:300px; max-height:137px; }
.n2014_8b::after {content: '\00a0';display: inline-block; width:300px; height:137px; background-position: 0.15503875968992248% 47.58789860997547%; background-size: 315% 992.7007299270073%; background-image: url(ph_xi_ch10_0.png);padding: 0; }
div.n2014_8b::after {max-width:300px; width:100%;height:0;padding: 0 0 45.666666666666664% 0;}
.n2014_8c {max-width:300px; max-height:129px; }
.n2014_8c::after {content: '\00a0';display: inline-block; width:300px; height:129px; background-position: 0.15503875968992248% 58.489033306255074%; background-size: 315% 1054.2635658914728%; background-image: url(ph_xi_ch10_0.png);padding: 0; }
div.n2014_8c::after {max-width:300px; width:100%;height:0;padding: 0 0 43% 0;}
.n2014_8d {max-width:300px; max-height:137px; }
.n2014_8d::after {content: '\00a0';display: inline-block; width:300px; height:137px; background-position: 46.82170542635659% 47.83319705641864%; background-size: 315% 992.7007299270073%; background-image: url(ph_xi_ch10_0.png);padding: 0; }
div.n2014_8d::after {max-width:300px; width:100%;height:0;padding: 0 0 45.666666666666664% 0;}
.n2014_8sol {max-width:180px; max-height:99px; }
.n2014_8sol::after {content: '\00a0';display: inline-block; width:180px; height:99px; background-position: 99.6078431372549% 88.26328310864393%; background-size: 525% 1373.7373737373737%; background-image: url(ph_xi_ch10_0.png);padding: 0; }
div.n2014_8sol::after {max-width:180px; width:100%;height:0;padding: 0 0 55% 0;}
.neet_2023_f1_phy_chem_50 {max-width:436px; max-height:160px; }
.neet_2023_f1_phy_chem_50::after {content: '\00a0';display: inline-block; width:436px; height:160px; background-position: 0.19646365422396855% 0.08333333333333333%; background-size: 216.74311926605503% 850%; background-image: url(ph_xi_ch10_0.png);padding: 0; }
div.neet_2023_f1_phy_chem_50::after {max-width:436px; width:100%;height:0;padding: 0 0 36.69724770642202% 0;}
.neet_2023_f1_phy_chem_50_sol {max-width:347px; max-height:179px; }
.neet_2023_f1_phy_chem_50_sol::after {content: '\00a0';display: inline-block; width:347px; height:179px; background-position: 62.207357859531776% 14.902624894157494%; background-size: 272.3342939481268% 759.7765363128492%; background-image: url(ph_xi_ch10_0.png);padding: 0; }
div.neet_2023_f1_phy_chem_50_sol::after {max-width:347px; width:100%;height:0;padding: 0 0 51.585014409221905% 0;}
.neet_re_ph_2022_11_a {max-width:243px; max-height:236px; }
.neet_re_ph_2022_11_a::after {content: '\00a0';display: inline-block; width:243px; height:236px; background-position: 99.71509971509971% 68.50533807829181%; background-size: 388.8888888888889% 576.271186440678%; background-image: url(ph_xi_ch10_0.png);padding: 0; }
div.neet_re_ph_2022_11_a::after {max-width:243px; width:100%;height:0;padding: 0 0 97.11934156378601% 0;}
.neet_re_ph_2022_11_b {max-width:251px; max-height:238px; }
.neet_re_ph_2022_11_b::after {content: '\00a0';display: inline-block; width:251px; height:238px; background-position: 38.61671469740634% 81.72905525846703%; background-size: 376.49402390438246% 571.4285714285714%; background-image: url(ph_xi_ch10_0.png);padding: 0; }
div.neet_re_ph_2022_11_b::after {max-width:251px; width:100%;height:0;padding: 0 0 94.8207171314741% 0;}
.neet_re_ph_2022_11_c {max-width:224px; max-height:226px; }
.neet_re_ph_2022_11_c::after {content: '\00a0';display: inline-block; width:224px; height:226px; background-position: 99.86130374479889% 21.604938271604937%; background-size: 421.875% 601.7699115044247%; background-image: url(ph_xi_ch10_0.png);padding: 0; }
div.neet_re_ph_2022_11_c::after {max-width:224px; width:100%;height:0;padding: 0 0 100.89285714285714% 0;}
.neet_re_ph_2022_11_d {max-width:241px; max-height:226px; }
.neet_re_ph_2022_11_d::after {content: '\00a0';display: inline-block; width:241px; height:226px; background-position: 73.86363636363636% 96.11992945326278%; background-size: 392.1161825726141% 601.7699115044247%; background-image: url(ph_xi_ch10_0.png);padding: 0; }
div.neet_re_ph_2022_11_d::after {max-width:241px; width:100%;height:0;padding: 0 0 93.7759336099585% 0;}
.neet_re_ph_2022_11_sol {max-width:308px; max-height:300px; }
.neet_re_ph_2022_11_sol::after {content: '\00a0';display: inline-block; width:308px; height:300px; background-position: 0.15698587127158556% 26.50943396226415%; background-size: 306.8181818181818% 453.3333333333333%; background-image: url(ph_xi_ch10_0.png);padding: 0; }
div.neet_re_ph_2022_11_sol::after {max-width:308px; width:100%;height:0;padding: 0 0 97.40259740259741% 0;}
.np10_6sola {max-width:96px; max-height:248px; }
.np10_6sola::after {content: '\00a0';display: inline-block; width:96px; height:248px; background-position: 71.02473498233215% 64.56834532374101%; background-size: 984.375% 548.3870967741935%; background-image: url(ph_xi_ch10_0.png);padding: 0; }
div.np10_6sola::after {max-width:96px; width:100%;height:0;padding: 0 0 258.3333333333333% 0;}
.np10_6solb {max-width:96px; max-height:276px; }
.np10_6solb::after {content: '\00a0';display: inline-block; width:96px; height:276px; background-position: 72.55594817432274% 40.68265682656826%; background-size: 984.375% 492.7536231884058%; background-image: url(ph_xi_ch10_0.png);padding: 0; }
div.np10_6solb::after {max-width:96px; width:100%;height:0;padding: 0 0 287.5% 0;}

@keyframes Oscillations_30_o-frames {
    0% { background-position: 16.64641555285541% 78.34245504300235%;  }
    25% { background-position: 73.15914489311164% 27.899686520376175%;  }
    50% { background-position: 74.10604192355117% 78.06201550387597%;  }
    75% { background-position: 99.39172749391727% 0.07722007722007722%;  }
}

.Oscillations_30_o-animation {
    max-width: 122px;
    max-height: 81px;
}
.Oscillations_30_o-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 122px;
    height: 81px;
    padding: 0;
    background-image: url(ph_xi_ch10_0.png);
    background-size: 774.5901639344262% 1679.0123456790122%; 
    animation-name: Oscillations_30_o-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.Oscillations_30_o-animation::after {
    max-width: 122px;
    width: 100%;
    height: 0;
    padding: 0 0 66.39344262295081% 0;
}

/* $TexturePacker:SmartUpdate:678febd1372541603adbd4dae8b56ac1:8b2ab05de28390ce45620b3a273fb602:bd6b237b06a93035e5e2c4079f1daf5d$ */
