/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.NEET_2021_Physics_and_Chemistry_48_q {max-width:323px; max-height:124px; }
.NEET_2021_Physics_and_Chemistry_48_q::after {content: '\00a0';display: inline-block; width:323px; height:124px; background-position: 80.94795539033457% 0.11627906976744186%; background-size: 433.1269349845201% 793.5483870967741%; background-image: url(ph_xi_ch6_0.png);padding: 0; }
div.NEET_2021_Physics_and_Chemistry_48_q::after {max-width:323px; width:100%;height:0;padding: 0 0 38.39009287925697% 0;}
.NEET_2022_PC_S_13 {max-width:242px; max-height:156px; }
.NEET_2022_PC_S_13::after {content: '\00a0';display: inline-block; width:242px; height:156px; background-position: 65.77355229040623% 33.57487922705314%; background-size: 578.099173553719% 630.7692307692307%; background-image: url(ph_xi_ch6_0.png);padding: 0; }
div.NEET_2022_PC_S_13::after {max-width:242px; width:100%;height:0;padding: 0 0 64.46280991735537% 0;}
.NEET_2022_PC_S_21 {max-width:132px; max-height:132px; }
.NEET_2022_PC_S_21::after {content: '\00a0';display: inline-block; width:132px; height:132px; background-position: 67.5611681136543% 51.056338028169016%; background-size: 1059.8484848484848% 745.4545454545455%; background-image: url(ph_xi_ch6_0.png);padding: 0; }
div.NEET_2022_PC_S_21::after {max-width:132px; width:100%;height:0;padding: 0 0 100% 0;}
.NEET_2022_PC_S_21_A {max-width:135px; max-height:167px; }
.NEET_2022_PC_S_21_A::after {content: '\00a0';display: inline-block; width:135px; height:167px; background-position: 79.43037974683544% 34.02692778457772%; background-size: 1036.2962962962963% 589.2215568862275%; background-image: url(ph_xi_ch6_0.png);padding: 0; }
div.NEET_2022_PC_S_21_A::after {max-width:135px; width:100%;height:0;padding: 0 0 123.70370370370371% 0;}
.NEET_2024_12_s {max-width:123px; max-height:118px; }
.NEET_2024_12_s::after {content: '\00a0';display: inline-block; width:123px; height:118px; background-position: 81.6614420062696% 94.57274826789839%; background-size: 1137.39837398374% 833.8983050847457%; background-image: url(ph_xi_ch6_0.png);padding: 0; }
div.NEET_2024_12_s::after {max-width:123px; width:100%;height:0;padding: 0 0 95.9349593495935% 0;}
.NEET_2024_35_q {max-width:246px; max-height:168px; }
.NEET_2024_35_q::after {content: '\00a0';display: inline-block; width:246px; height:168px; background-position: 44.57935819601041% 33.088235294117645%; background-size: 568.69918699187% 585.7142857142857%; background-image: url(ph_xi_ch6_0.png);padding: 0; }
div.NEET_2024_35_q::after {max-width:246px; width:100%;height:0;padding: 0 0 68.29268292682927% 0;}
.NEET_2024_35_s {max-width:257px; max-height:151px; }
.NEET_2024_35_s::after {content: '\00a0';display: inline-block; width:257px; height:151px; background-position: 71.54115586690017% 15.126050420168067%; background-size: 544.3579766536965% 651.6556291390729%; background-image: url(ph_xi_ch6_0.png);padding: 0; }
div.NEET_2024_35_s::after {max-width:257px; width:100%;height:0;padding: 0 0 58.75486381322957% 0;}
.NEET_2024_RE_ENG_16_q {max-width:82px; max-height:145px; }
.NEET_2024_RE_ENG_16_q::after {content: '\00a0';display: inline-block; width:82px; height:145px; background-position: 98.02581624905088% 31.108462455303933%; background-size: 1706.0975609756097% 678.6206896551724%; background-image: url(ph_xi_ch6_0.png);padding: 0; }
div.NEET_2024_RE_ENG_16_q::after {max-width:82px; width:100%;height:0;padding: 0 0 176.82926829268294% 0;}
.P12016_99sol {max-width:500px; max-height:155px; }
.P12016_99sol::after {content: '\00a0';display: inline-block; width:500px; height:155px; background-position: 0.11123470522803114% 0.12062726176115803%; background-size: 279.8% 634.8387096774194%; background-image: url(ph_xi_ch6_0.png);padding: 0; }
div.P12016_99sol::after {max-width:500px; width:100%;height:0;padding: 0 0 31% 0;}
.SPRM_49_s {max-width:227px; max-height:168px; }
.SPRM_49_s::after {content: '\00a0';display: inline-block; width:227px; height:168px; background-position: 25.7679180887372% 57.23039215686274%; background-size: 616.2995594713657% 585.7142857142857%; background-image: url(ph_xi_ch6_0.png);padding: 0; }
div.SPRM_49_s::after {max-width:227px; width:100%;height:0;padding: 0 0 74.00881057268722% 0;}
.SPRM_50_q {max-width:235px; max-height:152px; }
.SPRM_50_q::after {content: '\00a0';display: inline-block; width:235px; height:152px; background-position: 25.945017182130584% 76.4423076923077%; background-size: 595.3191489361702% 647.3684210526316%; background-image: url(ph_xi_ch6_0.png);padding: 0; }
div.SPRM_50_q::after {max-width:235px; width:100%;height:0;padding: 0 0 64.68085106382979% 0;}
.SPRM_50_s {max-width:159px; max-height:107px; }
.SPRM_50_s::after {content: '\00a0';display: inline-block; width:159px; height:107px; background-position: 71.93548387096774% 81.07183580387685%; background-size: 879.874213836478% 919.626168224299%; background-image: url(ph_xi_ch6_0.png);padding: 0; }
div.SPRM_50_s::after {max-width:159px; width:100%;height:0;padding: 0 0 67.29559748427673% 0;}
.SPRM_54_s {max-width:121px; max-height:103px; }
.SPRM_54_s::after {content: '\00a0';display: inline-block; width:121px; height:103px; background-position: 91.23630672926447% 94.66515323496027%; background-size: 1156.198347107438% 955.3398058252427%; background-image: url(ph_xi_ch6_0.png);padding: 0; }
div.SPRM_54_s::after {max-width:121px; width:100%;height:0;padding: 0 0 85.12396694214875% 0;}
.SPRM_55_s {max-width:184px; max-height:89px; }
.SPRM_55_s::after {content: '\00a0';display: inline-block; width:184px; height:89px; background-position: 42.79835390946502% 89.60893854748603%; background-size: 760.3260869565217% 1105.6179775280898%; background-image: url(ph_xi_ch6_0.png);padding: 0; }
div.SPRM_55_s::after {max-width:184px; width:100%;height:0;padding: 0 0 48.369565217391305% 0;}
.SPRM_57_q {max-width:189px; max-height:168px; }
.SPRM_57_q::after {content: '\00a0';display: inline-block; width:189px; height:168px; background-position: 44.46280991735537% 77.57352941176471%; background-size: 740.2116402116402% 585.7142857142857%; background-image: url(ph_xi_ch6_0.png);padding: 0; }
div.SPRM_57_q::after {max-width:189px; width:100%;height:0;padding: 0 0 88.88888888888889% 0;}
.SPRM_57_s {max-width:153px; max-height:129px; }
.SPRM_57_s::after {content: '\00a0';display: inline-block; width:153px; height:129px; background-position: 99.03691813804173% 66.78362573099415%; background-size: 914.3790849673203% 762.7906976744187%; background-image: url(ph_xi_ch6_0.png);padding: 0; }
div.SPRM_57_s::after {max-width:153px; width:100%;height:0;padding: 0 0 84.31372549019608% 0;}
.SPRM_62_s {max-width:202px; max-height:182px; }
.SPRM_62_s::after {content: '\00a0';display: inline-block; width:202px; height:182px; background-position: 25.981620718462825% 19.576059850374065%; background-size: 692.5742574257425% 540.6593406593406%; background-image: url(ph_xi_ch6_0.png);padding: 0; }
div.SPRM_62_s::after {max-width:202px; width:100%;height:0;padding: 0 0 90.0990099009901% 0;}
.SPRM_66_s {max-width:190px; max-height:126px; }
.SPRM_66_s::after {content: '\00a0';display: inline-block; width:190px; height:126px; background-position: 25.723738626964433% 39.62703962703963%; background-size: 736.3157894736842% 780.952380952381%; background-image: url(ph_xi_ch6_0.png);padding: 0; }
div.SPRM_66_s::after {max-width:190px; width:100%;height:0;padding: 0 0 66.3157894736842% 0;}
.SPRM_67_s {max-width:368px; max-height:106px; }
.SPRM_67_s::after {content: '\00a0';display: inline-block; width:368px; height:106px; background-position: 48.6905916585839% 0.11389521640091116%; background-size: 380.1630434782609% 928.3018867924528%; background-image: url(ph_xi_ch6_0.png);padding: 0; }
div.SPRM_67_s::after {max-width:368px; width:100%;height:0;padding: 0 0 28.804347826086957% 0;}
.SPRM_71_s {max-width:139px; max-height:121px; }
.SPRM_71_s::after {content: '\00a0';display: inline-block; width:139px; height:121px; background-position: 78.4920634920635% 51.68018539976825%; background-size: 1006.4748201438849% 813.2231404958678%; background-image: url(ph_xi_ch6_0.png);padding: 0; }
div.SPRM_71_s::after {max-width:139px; width:100%;height:0;padding: 0 0 87.05035971223022% 0;}
.SPRM_72_s {max-width:116px; max-height:116px; }
.SPRM_72_s::after {content: '\00a0';display: inline-block; width:116px; height:116px; background-position: 83.7879968823071% 14.516129032258064%; background-size: 1206.0344827586207% 848.2758620689655%; background-image: url(ph_xi_ch6_0.png);padding: 0; }
div.SPRM_72_s::after {max-width:116px; width:100%;height:0;padding: 0 0 100% 0;}
.SPRM_74_s {max-width:151px; max-height:142px; }
.SPRM_74_s::after {content: '\00a0';display: inline-block; width:151px; height:142px; background-position: 71.31410256410257% 97.26840855106889%; background-size: 926.4900662251656% 692.9577464788732%; background-image: url(ph_xi_ch6_0.png);padding: 0; }
div.SPRM_74_s::after {max-width:151px; width:100%;height:0;padding: 0 0 94.03973509933775% 0;}
.SPRM_75_s {max-width:132px; max-height:132px; }
.SPRM_75_s::after {content: '\00a0';display: inline-block; width:132px; height:132px; background-position: 95.34333070244672% 82.27699530516432%; background-size: 1059.8484848484848% 745.4545454545455%; background-image: url(ph_xi_ch6_0.png);padding: 0; }
div.SPRM_75_s::after {max-width:132px; width:100%;height:0;padding: 0 0 100% 0;}
.SPRM_80_q {max-width:161px; max-height:110px; }
.SPRM_80_q::after {content: '\00a0';display: inline-block; width:161px; height:110px; background-position: 58.80452342487884% 84.78260869565217%; background-size: 868.944099378882% 894.5454545454545%; background-image: url(ph_xi_ch6_0.png);padding: 0; }
div.SPRM_80_q::after {max-width:161px; width:100%;height:0;padding: 0 0 68.32298136645963% 0;}
.SPRM_83_q {max-width:265px; max-height:158px; }
.SPRM_83_q::after {content: '\00a0';display: inline-block; width:265px; height:158px; background-position: 0.08818342151675485% 99.87893462469734%; background-size: 527.9245283018868% 622.7848101265823%; background-image: url(ph_xi_ch6_0.png);padding: 0; }
div.SPRM_83_q::after {max-width:265px; width:100%;height:0;padding: 0 0 59.62264150943396% 0;}
.SPRM_87_q {max-width:203px; max-height:152px; }
.SPRM_87_q::after {content: '\00a0';display: inline-block; width:203px; height:152px; background-position: 99.91638795986623% 0.1201923076923077%; background-size: 689.1625615763547% 647.3684210526316%; background-image: url(ph_xi_ch6_0.png);padding: 0; }
div.SPRM_87_q::after {max-width:203px; width:100%;height:0;padding: 0 0 74.8768472906404% 0;}
.n2014_9sol {max-width:131px; max-height:92px; }
.n2014_9sol::after {content: '\00a0';display: inline-block; width:131px; height:92px; background-position: 21.05678233438486% 99.88789237668162%; background-size: 1067.9389312977098% 1069.5652173913043%; background-image: url(ph_xi_ch6_0.png);padding: 0; }
div.n2014_9sol::after {max-width:131px; width:100%;height:0;padding: 0 0 70.22900763358778% 0;}
.n2015_156 {max-width:300px; max-height:184px; }
.n2015_156::after {content: '\00a0';display: inline-block; width:300px; height:184px; background-position: 0.09099181073703366% 80%; background-size: 466.3333333333333% 534.7826086956521%; background-image: url(ph_xi_ch6_0.png);padding: 0; }
div.n2015_156::after {max-width:300px; width:100%;height:0;padding: 0 0 61.333333333333336% 0;}
.n2015_161sol {max-width:161px; max-height:131px; }
.n2015_161sol::after {content: '\00a0';display: inline-block; width:161px; height:131px; background-position: 56.94668820678514% 99.88276670574443%; background-size: 868.944099378882% 751.1450381679389%; background-image: url(ph_xi_ch6_0.png);padding: 0; }
div.n2015_161sol::after {max-width:161px; width:100%;height:0;padding: 0 0 81.36645962732919% 0;}
.n2015_175 {max-width:150px; max-height:204px; }
.n2015_175::after {content: '\00a0';display: inline-block; width:150px; height:204px; background-position: 91.27301841473178% 33.46153846153846%; background-size: 932.6666666666666% 482.3529411764706%; background-image: url(ph_xi_ch6_0.png);padding: 0; }
div.n2015_175::after {max-width:150px; width:100%;height:0;padding: 0 0 136% 0;}
.n2015_175sol {max-width:171px; max-height:193px; }
.n2015_175sol::after {content: '\00a0';display: inline-block; width:171px; height:193px; background-position: 43.159609120521175% 55.49936788874842%; background-size: 818.1286549707602% 509.8445595854922%; background-image: url(ph_xi_ch6_0.png);padding: 0; }
div.n2015_175sol::after {max-width:171px; width:100%;height:0;padding: 0 0 112.86549707602339% 0;}
.n2017_36sol {max-width:138px; max-height:68px; }
.n2017_36sol::after {content: '\00a0';display: inline-block; width:138px; height:68px; background-position: 40.52339413164155% 97.37991266375546%; background-size: 1013.768115942029% 1447.0588235294117%; background-image: url(ph_xi_ch6_0.png);padding: 0; }
div.n2017_36sol::after {max-width:138px; width:100%;height:0;padding: 0 0 49.27536231884058% 0;}
.n2018_44sol {max-width:309px; max-height:284px; }
.n2018_44sol::after {content: '\00a0';display: inline-block; width:309px; height:284px; background-position: 0.09174311926605505% 22.428571428571427%; background-size: 452.75080906148867% 346.4788732394366%; background-image: url(ph_xi_ch6_0.png);padding: 0; }
div.n2018_44sol::after {max-width:309px; width:100%;height:0;padding: 0 0 91.90938511326861% 0;}
.neet_2015_pc_10 {max-width:300px; max-height:197px; }
.neet_2015_pc_10::after {content: '\00a0';display: inline-block; width:300px; height:197px; background-position: 0.09099181073703366% 56.16264294790343%; background-size: 466.3333333333333% 499.492385786802%; background-image: url(ph_xi_ch6_0.png);padding: 0; }
div.neet_2015_pc_10::after {max-width:300px; width:100%;height:0;padding: 0 0 65.66666666666667% 0;}
.neet_od_2019_ph_69_sol {max-width:302px; max-height:161px; }
.neet_od_2019_ph_69_sol::after {content: '\00a0';display: inline-block; width:302px; height:161px; background-position: 46.855059252506834% 13.122721749696233%; background-size: 463.2450331125828% 611.1801242236024%; background-image: url(ph_xi_ch6_0.png);padding: 0; }
div.neet_od_2019_ph_69_sol::after {max-width:302px; width:100%;height:0;padding: 0 0 53.311258278145694% 0;}
.nt_ph_sys_of_part_25 {max-width:217px; max-height:101px; }
.nt_ph_sys_of_part_25::after {content: '\00a0';display: inline-block; width:217px; height:101px; background-position: 25.549915397631132% 89.35447338618347%; background-size: 644.7004608294931% 974.2574257425742%; background-image: url(ph_xi_ch6_0.png);padding: 0; }
div.nt_ph_sys_of_part_25::after {max-width:217px; width:100%;height:0;padding: 0 0 46.54377880184332% 0;}
.nt_ph_sys_of_part_26_sol {max-width:172px; max-height:122px; }
.nt_ph_sys_of_part_26_sol::after {content: '\00a0';display: inline-block; width:172px; height:122px; background-position: 86.47106764466177% 66.24129930394432%; background-size: 813.3720930232558% 806.5573770491803%; background-image: url(ph_xi_ch6_0.png);padding: 0; }
div.nt_ph_sys_of_part_26_sol::after {max-width:172px; width:100%;height:0;padding: 0 0 70.93023255813954% 0;}
.nt_ph_sys_of_part_28_sol {max-width:168px; max-height:142px; }
.nt_ph_sys_of_part_28_sol::after {content: '\00a0';display: inline-block; width:168px; height:142px; background-position: 72.46141348497157% 67.458432304038%; background-size: 832.7380952380952% 692.9577464788732%; background-image: url(ph_xi_ch6_0.png);padding: 0; }
div.nt_ph_sys_of_part_28_sol::after {max-width:168px; width:100%;height:0;padding: 0 0 84.52380952380952% 0;}
.nt_ph_sys_of_part_30 {max-width:163px; max-height:147px; }
.nt_ph_sys_of_part_30::after {content: '\00a0';display: inline-block; width:163px; height:147px; background-position: 58.89967637540453% 70.84826762246117%; background-size: 858.282208588957% 669.3877551020408%; background-image: url(ph_xi_ch6_0.png);padding: 0; }
div.nt_ph_sys_of_part_30::after {max-width:163px; width:100%;height:0;padding: 0 0 90.1840490797546% 0;}
.nt_ph_sys_of_part_32 {max-width:110px; max-height:102px; }
.nt_ph_sys_of_part_32::after {content: '\00a0';display: inline-block; width:110px; height:102px; background-position: 99.92242048099301% 94.5578231292517%; background-size: 1271.8181818181818% 964.7058823529412%; background-image: url(ph_xi_ch6_0.png);padding: 0; }
div.nt_ph_sys_of_part_32::after {max-width:110px; width:100%;height:0;padding: 0 0 92.72727272727273% 0;}
.nt_ph_sys_of_part_36 {max-width:111px; max-height:67px; }
.nt_ph_sys_of_part_36::after {content: '\00a0';display: inline-block; width:111px; height:67px; background-position: 30.97826086956522% 97.16466739367503%; background-size: 1260.3603603603603% 1468.6567164179105%; background-image: url(ph_xi_ch6_0.png);padding: 0; }
div.nt_ph_sys_of_part_36::after {max-width:111px; width:100%;height:0;padding: 0 0 60.36036036036036% 0;}
.nt_ph_sys_of_part_40_sol {max-width:153px; max-height:153px; }
.nt_ph_sys_of_part_40_sol::after {content: '\00a0';display: inline-block; width:153px; height:153px; background-position: 56.340288924558585% 52.82791817087846%; background-size: 914.3790849673203% 643.1372549019608%; background-image: url(ph_xi_ch6_0.png);padding: 0; }
div.nt_ph_sys_of_part_40_sol::after {max-width:153px; width:100%;height:0;padding: 0 0 100% 0;}
.nt_ph_sys_of_part_42_sol {max-width:92px; max-height:85px; }
.nt_ph_sys_of_part_42_sol::after {content: '\00a0';display: inline-block; width:92px; height:85px; background-position: 99.92348890589136% 45.272525027808676%; background-size: 1520.6521739130435% 1157.6470588235295%; background-image: url(ph_xi_ch6_0.png);padding: 0; }
div.nt_ph_sys_of_part_42_sol::after {max-width:92px; width:100%;height:0;padding: 0 0 92.3913043478261% 0;}
.nt_ph_sys_of_part_45_sol {max-width:146px; max-height:112px; }
.nt_ph_sys_of_part_45_sol::after {content: '\00a0';display: inline-block; width:146px; height:112px; background-position: 84.67677573822826% 79.58715596330275%; background-size: 958.2191780821918% 878.5714285714286%; background-image: url(ph_xi_ch6_0.png);padding: 0; }
div.nt_ph_sys_of_part_45_sol::after {max-width:146px; width:100%;height:0;padding: 0 0 76.71232876712328% 0;}
.nt_ph_sys_of_part_47_sol {max-width:177px; max-height:106px; }
.nt_ph_sys_of_part_47_sol::after {content: '\00a0';display: inline-block; width:177px; height:106px; background-position: 97.54500818330605% 17.53986332574032%; background-size: 790.3954802259886% 928.3018867924528%; background-image: url(ph_xi_ch6_0.png);padding: 0; }
div.nt_ph_sys_of_part_47_sol::after {max-width:177px; width:100%;height:0;padding: 0 0 59.887005649717516% 0;}
.p22016_154sol {max-width:176px; max-height:104px; }
.p22016_154sol::after {content: '\00a0';display: inline-block; width:176px; height:104px; background-position: 92.31398201144727% 52.95454545454545%; background-size: 794.8863636363636% 946.1538461538462%; background-image: url(ph_xi_ch6_0.png);padding: 0; }
div.p22016_154sol::after {max-width:176px; width:100%;height:0;padding: 0 0 59.09090909090909% 0;}

@keyframes NEET_2022_PC_S-frames {
    0% { background-position: 65.77355229040623% 33.57487922705314%;  }
    50% { background-position: 67.5611681136543% 51.056338028169016%;  }
}

.NEET_2022_PC_S-animation {
    max-width: 242px;
    max-height: 156px;
}
.NEET_2022_PC_S-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 242px;
    height: 156px;
    padding: 0;
    background-image: url(ph_xi_ch6_0.png);
    background-size: 578.099173553719% 630.7692307692307%; 
    animation-name: NEET_2022_PC_S-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.NEET_2022_PC_S-animation::after {
    max-width: 242px;
    width: 100%;
    height: 0;
    padding: 0 0 64.46280991735537% 0;
}

@keyframes n2015-frames {
    0% { background-position: 0.09099181073703366% 80%;  }
    50% { background-position: 91.27301841473178% 33.46153846153846%;  }
}

.n2015-animation {
    max-width: 300px;
    max-height: 184px;
}
.n2015-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 300px;
    height: 184px;
    padding: 0;
    background-image: url(ph_xi_ch6_0.png);
    background-size: 466.3333333333333% 534.7826086956521%; 
    animation-name: n2015-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.n2015-animation::after {
    max-width: 300px;
    width: 100%;
    height: 0;
    padding: 0 0 61.333333333333336% 0;
}

@keyframes nt_ph_sys_of_part-frames {
    0% { background-position: 25.549915397631132% 89.35447338618347%;  }
    25% { background-position: 58.89967637540453% 70.84826762246117%;  }
    50% { background-position: 99.92242048099301% 94.5578231292517%;  }
    75% { background-position: 30.97826086956522% 97.16466739367503%;  }
}

.nt_ph_sys_of_part-animation {
    max-width: 217px;
    max-height: 101px;
}
.nt_ph_sys_of_part-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 217px;
    height: 101px;
    padding: 0;
    background-image: url(ph_xi_ch6_0.png);
    background-size: 644.7004608294931% 974.2574257425742%; 
    animation-name: nt_ph_sys_of_part-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.nt_ph_sys_of_part-animation::after {
    max-width: 217px;
    width: 100%;
    height: 0;
    padding: 0 0 46.54377880184332% 0;
}

/* $TexturePacker:SmartUpdate:b4d3a12252a627ce0c734096757fecc4:6957be2e2aeb265c7e617d10f334e83d:8b95b02a043eae8bc004ed755941bd04$ */
