/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.NEET_2019_PC_Q2_48_q {max-width:125px; max-height:184px; }
.NEET_2019_PC_Q2_48_q::after {content: '\00a0';display: inline-block; width:125px; height:184px; background-position: 99.10667367314767% 47.22222222222222%; background-size: 1622.4% 647.8260869565217%; background-image: url(ph_xii_ch2_2_0.png);padding: 0; }
div.NEET_2019_PC_Q2_48_q::after {max-width:125px; width:100%;height:0;padding: 0 0 147.2% 0;}
.NEET_2019_PC_Q2_48_s {max-width:204px; max-height:161px; }
.NEET_2019_PC_Q2_48_s::after {content: '\00a0';display: inline-block; width:204px; height:161px; background-position: 51.64473684210526% 59.06886517943744%; background-size: 994.1176470588235% 740.3726708074535%; background-image: url(ph_xii_ch2_2_0.png);padding: 0; }
div.NEET_2019_PC_Q2_48_s::after {max-width:204px; width:100%;height:0;padding: 0 0 78.92156862745098% 0;}
.NEET_2019_PC_Q2_48_s_1 {max-width:194px; max-height:137px; }
.NEET_2019_PC_Q2_48_s_1::after {content: '\00a0';display: inline-block; width:194px; height:137px; background-position: 51.36314067611777% 73.08056872037915%; background-size: 1045.360824742268% 870.07299270073%; background-image: url(ph_xii_ch2_2_0.png);padding: 0; }
div.NEET_2019_PC_Q2_48_s_1::after {max-width:194px; width:100%;height:0;padding: 0 0 70.61855670103093% 0;}
.NEET_2019_PC_Q2_79_q {max-width:299px; max-height:424px; }
.NEET_2019_PC_Q2_79_q::after {content: '\00a0';display: inline-block; width:299px; height:424px; background-position: 0.0578368999421631% 0.13020833333333334%; background-size: 678.2608695652174% 281.1320754716981%; background-image: url(ph_xii_ch2_2_0.png);padding: 0; }
div.NEET_2019_PC_Q2_79_q::after {max-width:299px; width:100%;height:0;padding: 0 0 141.80602006688963% 0;}
.NEET_2020_17_PHY_CHEM_sol {max-width:291px; max-height:149px; }
.NEET_2020_17_PHY_CHEM_sol::after {content: '\00a0';display: inline-block; width:291px; height:149px; background-position: 36.90270581462291% 46.212847555129436%; background-size: 696.9072164948453% 800%; background-image: url(ph_xii_ch2_2_0.png);padding: 0; }
div.NEET_2020_17_PHY_CHEM_sol::after {max-width:291px; width:100%;height:0;padding: 0 0 51.202749140893474% 0;}
.NEET_2020_35a_PHY_CHEM {max-width:181px; max-height:163px; }
.NEET_2020_35a_PHY_CHEM::after {content: '\00a0';display: inline-block; width:181px; height:163px; background-position: 75.31131564699513% 90.37900874635568%; background-size: 1120.4419889502763% 731.2883435582822%; background-image: url(ph_xii_ch2_2_0.png);padding: 0; }
div.NEET_2020_35a_PHY_CHEM::after {max-width:181px; width:100%;height:0;padding: 0 0 90.05524861878453% 0;}
.NEET_2020_35b_PHY_CHEM {max-width:202px; max-height:161px; }
.NEET_2020_35b_PHY_CHEM::after {content: '\00a0';display: inline-block; width:202px; height:161px; background-position: 76.99890470974809% 59.35984481086324%; background-size: 1003.960396039604% 740.3726708074535%; background-image: url(ph_xii_ch2_2_0.png);padding: 0; }
div.NEET_2020_35b_PHY_CHEM::after {max-width:202px; width:100%;height:0;padding: 0 0 79.70297029702971% 0;}
.NEET_2020_35c_PHY_CHEM {max-width:193px; max-height:155px; }
.NEET_2020_35c_PHY_CHEM::after {content: '\00a0';display: inline-block; width:193px; height:155px; background-position: 51.171662125340596% 87.65670202507232%; background-size: 1050.7772020725388% 769.0322580645161%; background-image: url(ph_xii_ch2_2_0.png);padding: 0; }
div.NEET_2020_35c_PHY_CHEM::after {max-width:193px; width:100%;height:0;padding: 0 0 80.31088082901555% 0;}
.NEET_2020_35d_PHY_CHEM {max-width:187px; max-height:155px; }
.NEET_2020_35d_PHY_CHEM::after {content: '\00a0';display: inline-block; width:187px; height:155px; background-position: 76.37153720803911% 74.63837994214079%; background-size: 1084.4919786096257% 769.0322580645161%; background-image: url(ph_xii_ch2_2_0.png);padding: 0; }
div.NEET_2020_35d_PHY_CHEM::after {max-width:187px; width:100%;height:0;padding: 0 0 82.88770053475936% 0;}
.NEET_2020_7_PHY_CHEM {max-width:291px; max-height:95px; }
.NEET_2020_7_PHY_CHEM::after {content: '\00a0';display: inline-block; width:291px; height:95px; background-position: 64.4789867587795% 23.336371923427528%; background-size: 696.9072164948453% 1254.7368421052631%; background-image: url(ph_xii_ch2_2_0.png);padding: 0; }
div.NEET_2020_7_PHY_CHEM::after {max-width:291px; width:100%;height:0;padding: 0 0 32.64604810996563% 0;}
.NEET_2021_Physics_and_Chemistry_10_s {max-width:269px; max-height:140px; }
.NEET_2021_Physics_and_Chemistry_10_s::after {content: '\00a0';display: inline-block; width:269px; height:140px; background-position: 80.27288231949971% 24.619771863117872%; background-size: 753.903345724907% 851.4285714285714%; background-image: url(ph_xii_ch2_2_0.png);padding: 0; }
div.NEET_2021_Physics_and_Chemistry_10_s::after {max-width:269px; width:100%;height:0;padding: 0 0 52.04460966542751% 0;}
.NEET_2021_Physics_and_Chemistry_10_s_1 {max-width:355px; max-height:50px; }
.NEET_2021_Physics_and_Chemistry_10_s_1::after {content: '\00a0';display: inline-block; width:355px; height:50px; background-position: 16.855947399880453% 72.15411558669001%; background-size: 571.2676056338029% 2384%; background-image: url(ph_xii_ch2_2_0.png);padding: 0; }
div.NEET_2021_Physics_and_Chemistry_10_s_1::after {max-width:355px; width:100%;height:0;padding: 0 0 14.084507042253522% 0;}
.NEET_2021_Physics_and_Chemistry_42_q {max-width:253px; max-height:100px; }
.NEET_2021_Physics_and_Chemistry_42_q::after {content: '\00a0';display: inline-block; width:253px; height:100px; background-position: 63.83098591549296% 88.36996336996337%; background-size: 801.5810276679842% 1192%; background-image: url(ph_xii_ch2_2_0.png);padding: 0; }
div.NEET_2021_Physics_and_Chemistry_42_q::after {max-width:253px; width:100%;height:0;padding: 0 0 39.52569169960474% 0;}
.NEET_2021_Physics_and_Chemistry_42_s {max-width:241px; max-height:112px; }
.NEET_2021_Physics_and_Chemistry_42_s::after {content: '\00a0';display: inline-block; width:241px; height:112px; background-position: 52.21040850587577% 45.925925925925924%; background-size: 841.49377593361% 1064.2857142857142%; background-image: url(ph_xii_ch2_2_0.png);padding: 0; }
div.NEET_2021_Physics_and_Chemistry_42_s::after {max-width:241px; width:100%;height:0;padding: 0 0 46.47302904564315% 0;}
.NEET_2022_PC_Q_48 {max-width:172px; max-height:232px; }
.NEET_2022_PC_Q_48::after {content: '\00a0';display: inline-block; width:172px; height:232px; background-position: 99.94612068965517% 0.10416666666666667%; background-size: 1179.0697674418604% 513.7931034482758%; background-image: url(ph_xii_ch2_2_0.png);padding: 0; }
div.NEET_2022_PC_Q_48::after {max-width:172px; width:100%;height:0;padding: 0 0 134.88372093023256% 0;}
.NEET_2023_PHY_CHE_Q_11 {max-width:252px; max-height:157px; }
.NEET_2023_PHY_CHE_Q_11::after {content: '\00a0';display: inline-block; width:252px; height:157px; background-position: 89.75225225225225% 82.22222222222223%; background-size: 804.7619047619048% 759.2356687898089%; background-image: url(ph_xii_ch2_2_0.png);padding: 0; }
div.NEET_2023_PHY_CHE_Q_11::after {max-width:252px; width:100%;height:0;padding: 0 0 62.301587301587304% 0;}
.NEET_2023_PHY_CHE_S_11 {max-width:252px; max-height:161px; }
.NEET_2023_PHY_CHE_S_11::after {content: '\00a0';display: inline-block; width:252px; height:161px; background-position: 64.02027027027027% 77.88554801163919%; background-size: 804.7619047619048% 740.3726708074535%; background-image: url(ph_xii_ch2_2_0.png);padding: 0; }
div.NEET_2023_PHY_CHE_S_11::after {max-width:252px; width:100%;height:0;padding: 0 0 63.888888888888886% 0;}
.NEET_2024_42_o_1 {max-width:165px; max-height:117px; }
.NEET_2024_42_o_1::after {content: '\00a0';display: inline-block; width:165px; height:117px; background-position: 65.7541599570585% 99.16279069767442%; background-size: 1229.090909090909% 1018.8034188034188%; background-image: url(ph_xii_ch2_2_0.png);padding: 0; }
div.NEET_2024_42_o_1::after {max-width:165px; width:100%;height:0;padding: 0 0 70.9090909090909% 0;}
.NEET_2024_42_o_2 {max-width:162px; max-height:123px; }
.NEET_2024_42_o_2::after {content: '\00a0';display: inline-block; width:162px; height:123px; background-position: 56.91318327974277% 99.71936389148738%; background-size: 1251.851851851852% 969.1056910569106%; background-image: url(ph_xii_ch2_2_0.png);padding: 0; }
div.NEET_2024_42_o_2::after {max-width:162px; width:100%;height:0;padding: 0 0 75.92592592592592% 0;}
.NEET_2024_42_o_3 {max-width:172px; max-height:120px; }
.NEET_2024_42_o_3::after {content: '\00a0';display: inline-block; width:172px; height:120px; background-position: 63.30818965517241% 46.26865671641791%; background-size: 1179.0697674418604% 993.3333333333334%; background-image: url(ph_xii_ch2_2_0.png);padding: 0; }
div.NEET_2024_42_o_3::after {max-width:172px; width:100%;height:0;padding: 0 0 69.76744186046511% 0;}
.NEET_2024_42_o_4 {max-width:166px; max-height:126px; }
.NEET_2024_42_o_4::after {content: '\00a0';display: inline-block; width:166px; height:126px; background-position: 48.06659505907626% 99.906191369606%; background-size: 1221.686746987952% 946.031746031746%; background-image: url(ph_xii_ch2_2_0.png);padding: 0; }
div.NEET_2024_42_o_4::after {max-width:166px; width:100%;height:0;padding: 0 0 75.90361445783132% 0;}
.NEET_2024_4_q {max-width:280px; max-height:143px; }
.NEET_2024_4_q::after {content: '\00a0';display: inline-block; width:280px; height:143px; background-position: 61.04118993135011% 33.55576739752145%; background-size: 724.2857142857143% 833.5664335664336%; background-image: url(ph_xii_ch2_2_0.png);padding: 0; }
div.NEET_2024_4_q::after {max-width:280px; width:100%;height:0;padding: 0 0 51.07142857142857% 0;}
.NEET_2024_4_s {max-width:292px; max-height:144px; }
.NEET_2024_4_s::after {content: '\00a0';display: inline-block; width:292px; height:144px; background-position: 34.67741935483871% 97.90076335877863%; background-size: 694.5205479452055% 827.7777777777778%; background-image: url(ph_xii_ch2_2_0.png);padding: 0; }
div.NEET_2024_4_s::after {max-width:292px; width:100%;height:0;padding: 0 0 49.31506849315068% 0;}
.NEET_2024_6_s {max-width:209px; max-height:79px; }
.NEET_2024_6_s::after {content: '\00a0';display: inline-block; width:209px; height:79px; background-position: 0.05497526113249038% 99.82030548068283%; background-size: 970.334928229665% 1508.860759493671%; background-image: url(ph_xii_ch2_2_0.png);padding: 0; }
div.NEET_2024_6_s::after {max-width:209px; width:100%;height:0;padding: 0 0 37.79904306220096% 0;}
.NEET_2024_RE_ENG_21_s {max-width:164px; max-height:111px; }
.NEET_2024_RE_ENG_21_s::after {content: '\00a0';display: inline-block; width:164px; height:111px; background-position: 94.31330472103004% 93.33950046253469%; background-size: 1236.5853658536585% 1073.873873873874%; background-image: url(ph_xii_ch2_2_0.png);padding: 0; }
div.NEET_2024_RE_ENG_21_s::after {max-width:164px; width:100%;height:0;padding: 0 0 67.6829268292683% 0;}
.NEET_2024_RE_ENG_46_q {max-width:259px; max-height:170px; }
.NEET_2024_RE_ENG_46_q::after {content: '\00a0';display: inline-block; width:259px; height:170px; background-position: 90.95534200113059% 66.53620352250489%; background-size: 783.011583011583% 701.1764705882352%; background-image: url(ph_xii_ch2_2_0.png);padding: 0; }
div.NEET_2024_RE_ENG_46_q::after {max-width:259px; width:100%;height:0;padding: 0 0 65.63706563706563% 0;}
.NEET_2024_RE_ENG_46_s {max-width:258px; max-height:185px; }
.NEET_2024_RE_ENG_46_s::after {content: '\00a0';display: inline-block; width:258px; height:185px; background-position: 64.80225988700565% 61.27110228401192%; background-size: 786.046511627907% 644.3243243243244%; background-image: url(ph_xii_ch2_2_0.png);padding: 0; }
div.NEET_2024_RE_ENG_46_s::after {max-width:258px; width:100%;height:0;padding: 0 0 71.70542635658914% 0;}
.P22016_169 {max-width:400px; max-height:50px; }
.P22016_169::after {content: '\00a0';display: inline-block; width:400px; height:50px; background-position: 43.73464373464373% 23.117338003502628%; background-size: 507% 2384%; background-image: url(ph_xii_ch2_2_0.png);padding: 0; }
div.P22016_169::after {max-width:400px; width:100%;height:0;padding: 0 0 12.5% 0;}
.n2018_11a {max-width:104px; max-height:103px; }
.n2018_11a::after {content: '\00a0';display: inline-block; width:104px; height:103px; background-position: 98.02494802494803% 60.69788797061524%; background-size: 1950% 1157.2815533980583%; background-image: url(ph_xii_ch2_2_0.png);padding: 0; }
div.n2018_11a::after {max-width:104px; width:100%;height:0;padding: 0 0 99.03846153846153% 0;}
.n2018_11b {max-width:106px; max-height:106px; }
.n2018_11b::after {content: '\00a0';display: inline-block; width:106px; height:106px; background-position: 96.09781477627472% 78.3609576427256%; background-size: 1913.2075471698113% 1124.5283018867924%; background-image: url(ph_xii_ch2_2_0.png);padding: 0; }
div.n2018_11b::after {max-width:106px; width:100%;height:0;padding: 0 0 100% 0;}
.n2018_11c {max-width:102px; max-height:98px; }
.n2018_11c::after {content: '\00a0';display: inline-block; width:102px; height:98px; background-position: 99.84423676012462% 87.56855575868373%; background-size: 1988.235294117647% 1216.3265306122448%; background-image: url(ph_xii_ch2_2_0.png);padding: 0; }
div.n2018_11c::after {max-width:102px; width:100%;height:0;padding: 0 0 96.07843137254902% 0;}
.n2018_11d {max-width:102px; max-height:97px; }
.n2018_11d::after {content: '\00a0';display: inline-block; width:102px; height:97px; background-position: 72.22222222222223% 99.90867579908675%; background-size: 1988.235294117647% 1228.8659793814434%; background-image: url(ph_xii_ch2_2_0.png);padding: 0; }
div.n2018_11d::after {max-width:102px; width:100%;height:0;padding: 0 0 95.09803921568627% 0;}
.n2018_11sol {max-width:184px; max-height:148px; }
.n2018_11sol::after {content: '\00a0';display: inline-block; width:184px; height:148px; background-position: 85.30368763557483% 96.64750957854406%; background-size: 1102.1739130434783% 805.4054054054054%; background-image: url(ph_xii_ch2_2_0.png);padding: 0; }
div.n2018_11sol::after {max-width:184px; width:100%;height:0;padding: 0 0 80.43478260869566% 0;}
.neet_2023_f1_phy_chem_21 {max-width:338px; max-height:174px; }
.neet_2023_f1_phy_chem_21::after {content: '\00a0';display: inline-block; width:338px; height:174px; background-position: 14.85207100591716% 85.95284872298625%; background-size: 600% 685.0574712643678%; background-image: url(ph_xii_ch2_2_0.png);padding: 0; }
div.neet_2023_f1_phy_chem_21::after {max-width:338px; width:100%;height:0;padding: 0 0 51.4792899408284% 0;}
.neet_2025_pc_q_41 {max-width:268px; max-height:203px; }
.neet_2025_pc_q_41::after {content: '\00a0';display: inline-block; width:268px; height:203px; background-position: 91.875% 48.129423660262894%; background-size: 756.7164179104477% 587.192118226601%; background-image: url(ph_xii_ch2_2_0.png);padding: 0; }
div.neet_2025_pc_q_41::after {max-width:268px; width:100%;height:0;padding: 0 0 75.74626865671642% 0;}
.neet_2025_pc_q_6 {max-width:373px; max-height:254px; }
.neet_2025_pc_q_6::after {content: '\00a0';display: inline-block; width:373px; height:254px; background-position: 67.6737160120846% 0.10660980810234541%; background-size: 543.6997319034853% 469.29133858267716%; background-image: url(ph_xii_ch2_2_0.png);padding: 0; }
div.neet_2025_pc_q_6::after {max-width:373px; width:100%;height:0;padding: 0 0 68.09651474530831% 0;}
.neet_2025_pc_sol_41 {max-width:268px; max-height:211px; }
.neet_2025_pc_sol_41::after {content: '\00a0';display: inline-block; width:268px; height:211px; background-position: 76.5909090909091% 40.774719673802245%; background-size: 756.7164179104477% 564.9289099526067%; background-image: url(ph_xii_ch2_2_0.png);padding: 0; }
div.neet_2025_pc_sol_41::after {max-width:268px; width:100%;height:0;padding: 0 0 78.73134328358209% 0;}
.neet_2025_pc_sol_6a {max-width:410px; max-height:293px; }
.neet_2025_pc_sol_6a::after {content: '\00a0';display: inline-block; width:410px; height:293px; background-position: 18.603213844252164% 0.11123470522803114%; background-size: 494.6341463414634% 406.8259385665529%; background-image: url(ph_xii_ch2_2_0.png);padding: 0; }
div.neet_2025_pc_sol_6a::after {max-width:410px; width:100%;height:0;padding: 0 0 71.46341463414635% 0;}
.neet_2025_pc_sol_6b {max-width:358px; max-height:199px; }
.neet_2025_pc_sol_6b::after {content: '\00a0';display: inline-block; width:358px; height:199px; background-position: 16.88622754491018% 44.10876132930514%; background-size: 566.4804469273743% 598.9949748743719%; background-image: url(ph_xii_ch2_2_0.png);padding: 0; }
div.neet_2025_pc_sol_6b::after {max-width:358px; width:100%;height:0;padding: 0 0 55.58659217877095% 0;}
.neet_2026_p1_q_27 {max-width:360px; max-height:257px; }
.neet_2026_p1_q_27::after {content: '\00a0';display: inline-block; width:360px; height:257px; background-position: 89.56834532374101% 0.10695187165775401%; background-size: 563.3333333333334% 463.81322957198444%; background-image: url(ph_xii_ch2_2_0.png);padding: 0; }
div.neet_2026_p1_q_27::after {max-width:360px; width:100%;height:0;padding: 0 0 71.38888888888889% 0;}
.neet_2026_p1_q_37 {max-width:360px; max-height:185px; }
.neet_2026_p1_q_37::after {content: '\00a0';display: inline-block; width:360px; height:185px; background-position: 16.906474820143885% 63.35650446871897%; background-size: 563.3333333333334% 644.3243243243244%; background-image: url(ph_xii_ch2_2_0.png);padding: 0; }
div.neet_2026_p1_q_37::after {max-width:360px; width:100%;height:0;padding: 0 0 51.388888888888886% 0;}
.neet_2026_p1_sol_27 {max-width:280px; max-height:437px; }
.neet_2026_p1_sol_27::after {content: '\00a0';display: inline-block; width:280px; height:437px; background-position: 0.057208237986270026% 56.42384105960265%; background-size: 724.2857142857143% 272.76887871853546%; background-image: url(ph_xii_ch2_2_0.png);padding: 0; }
div.neet_2026_p1_sol_27::after {max-width:280px; width:100%;height:0;padding: 0 0 156.07142857142858% 0;}
.neet_2026_p1_sol_36 {max-width:360px; max-height:166px; }
.neet_2026_p1_sol_36::after {content: '\00a0';display: inline-block; width:360px; height:166px; background-position: 42.326139088729015% 30.70175438596491%; background-size: 563.3333333333334% 718.0722891566265%; background-image: url(ph_xii_ch2_2_0.png);padding: 0; }
div.neet_2026_p1_sol_36::after {max-width:360px; width:100%;height:0;padding: 0 0 46.111111111111114% 0;}
.neet_2026_p1_sol_6 {max-width:300px; max-height:180px; }
.neet_2026_p1_sol_6::after {content: '\00a0';display: inline-block; width:300px; height:180px; background-position: 36.9212962962963% 83.49802371541502%; background-size: 676% 662.2222222222222%; background-image: url(ph_xii_ch2_2_0.png);padding: 0; }
div.neet_2026_p1_sol_6::after {max-width:300px; width:100%;height:0;padding: 0 0 60% 0;}
.neet_od_2019_ph_75 {max-width:298px; max-height:212px; }
.neet_od_2019_ph_75::after {content: '\00a0';display: inline-block; width:298px; height:212px; background-position: 37.16763005780347% 64.48979591836735%; background-size: 680.5369127516778% 562.2641509433962%; background-image: url(ph_xii_ch2_2_0.png);padding: 0; }
div.neet_od_2019_ph_75::after {max-width:298px; width:100%;height:0;padding: 0 0 71.14093959731544% 0;}
.neet_re_ph_2022_15_sol {max-width:264px; max-height:216px; }
.neet_re_ph_2022_15_sol::after {content: '\00a0';display: inline-block; width:264px; height:216px; background-position: 95.3514739229025% 26.53688524590164%; background-size: 768.1818181818181% 551.8518518518518%; background-image: url(ph_xii_ch2_2_0.png);padding: 0; }
div.neet_re_ph_2022_15_sol::after {max-width:264px; width:100%;height:0;padding: 0 0 81.81818181818181% 0;}
.neet_re_ph_2022_24 {max-width:404px; max-height:142px; }
.neet_re_ph_2022_24::after {content: '\00a0';display: inline-block; width:404px; height:142px; background-position: 18.53448275862069% 28.095238095238095%; background-size: 501.980198019802% 839.4366197183099%; background-image: url(ph_xii_ch2_2_0.png);padding: 0; }
div.neet_re_ph_2022_24::after {max-width:404px; width:100%;height:0;padding: 0 0 35.148514851485146% 0;}
.neet_re_ph_2022_24_sol {max-width:407px; max-height:262px; }
.neet_re_ph_2022_24_sol::after {content: '\00a0';display: inline-block; width:407px; height:262px; background-position: 43.92350400987045% 0.10752688172043011%; background-size: 498.2800982800983% 454.9618320610687%; background-image: url(ph_xii_ch2_2_0.png);padding: 0; }
div.neet_re_ph_2022_24_sol::after {max-width:407px; width:100%;height:0;padding: 0 0 64.37346437346437% 0;}
.neet_re_ph_2022_50 {max-width:249px; max-height:246px; }
.neet_re_ph_2022_50::after {content: '\00a0';display: inline-block; width:249px; height:246px; background-position: 0.056211354693648116% 91.33192389006342%; background-size: 814.4578313253012% 484.5528455284553%; background-image: url(ph_xii_ch2_2_0.png);padding: 0; }
div.neet_re_ph_2022_50::after {max-width:249px; width:100%;height:0;padding: 0 0 98.79518072289157% 0;}
.p22016_169sol {max-width:350px; max-height:57px; }
.p22016_169sol::after {content: '\00a0';display: inline-block; width:350px; height:57px; background-position: 14.958283671036948% 92.51101321585904%; background-size: 579.4285714285714% 2091.2280701754385%; background-image: url(ph_xii_ch2_2_0.png);padding: 0; }
div.p22016_169sol::after {max-width:350px; width:100%;height:0;padding: 0 0 16.285714285714285% 0;}

@keyframes NEET_2024_42_o-frames {
    0% { background-position: 65.7541599570585% 99.16279069767442%;  }
    25% { background-position: 56.91318327974277% 99.71936389148738%;  }
    50% { background-position: 63.30818965517241% 46.26865671641791%;  }
    75% { background-position: 48.06659505907626% 99.906191369606%;  }
}

.NEET_2024_42_o-animation {
    max-width: 165px;
    max-height: 117px;
}
.NEET_2024_42_o-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 165px;
    height: 117px;
    padding: 0;
    background-image: url(ph_xii_ch2_2_0.png);
    background-size: 1229.090909090909% 1018.8034188034188%; 
    animation-name: NEET_2024_42_o-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.NEET_2024_42_o-animation::after {
    max-width: 165px;
    width: 100%;
    height: 0;
    padding: 0 0 70.9090909090909% 0;
}

@keyframes neet_2025_pc_q-frames {
    0% { background-position: 67.6737160120846% 0.10660980810234541%;  }
    50% { background-position: 91.875% 48.129423660262894%;  }
}

.neet_2025_pc_q-animation {
    max-width: 373px;
    max-height: 254px;
}
.neet_2025_pc_q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 373px;
    height: 254px;
    padding: 0;
    background-image: url(ph_xii_ch2_2_0.png);
    background-size: 543.6997319034853% 469.29133858267716%; 
    animation-name: neet_2025_pc_q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.neet_2025_pc_q-animation::after {
    max-width: 373px;
    width: 100%;
    height: 0;
    padding: 0 0 68.09651474530831% 0;
}

@keyframes neet_2026_p1_q-frames {
    0% { background-position: 89.56834532374101% 0.10695187165775401%;  }
    50% { background-position: 16.906474820143885% 63.35650446871897%;  }
}

.neet_2026_p1_q-animation {
    max-width: 360px;
    max-height: 257px;
}
.neet_2026_p1_q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 360px;
    height: 257px;
    padding: 0;
    background-image: url(ph_xii_ch2_2_0.png);
    background-size: 563.3333333333334% 463.81322957198444%; 
    animation-name: neet_2026_p1_q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.neet_2026_p1_q-animation::after {
    max-width: 360px;
    width: 100%;
    height: 0;
    padding: 0 0 71.38888888888889% 0;
}

@keyframes neet_2026_p1_sol-frames {
    0% { background-position: 36.9212962962963% 83.49802371541502%;  }
    33.33333333333333% { background-position: 0.057208237986270026% 56.42384105960265%;  }
    66.66666666666666% { background-position: 42.326139088729015% 30.70175438596491%;  }
}

.neet_2026_p1_sol-animation {
    max-width: 300px;
    max-height: 180px;
}
.neet_2026_p1_sol-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 300px;
    height: 180px;
    padding: 0;
    background-image: url(ph_xii_ch2_2_0.png);
    background-size: 676% 662.2222222222222%; 
    animation-name: neet_2026_p1_sol-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.neet_2026_p1_sol-animation::after {
    max-width: 300px;
    width: 100%;
    height: 0;
    padding: 0 0 60% 0;
}

@keyframes neet_re_ph_2022-frames {
    0% { background-position: 18.53448275862069% 28.095238095238095%;  }
    50% { background-position: 0.056211354693648116% 91.33192389006342%;  }
}

.neet_re_ph_2022-animation {
    max-width: 404px;
    max-height: 142px;
}
.neet_re_ph_2022-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 404px;
    height: 142px;
    padding: 0;
    background-image: url(ph_xii_ch2_2_0.png);
    background-size: 501.980198019802% 839.4366197183099%; 
    animation-name: neet_re_ph_2022-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.neet_re_ph_2022-animation::after {
    max-width: 404px;
    width: 100%;
    height: 0;
    padding: 0 0 35.148514851485146% 0;
}

/* $TexturePacker:SmartUpdate:ea4f95c4353ea96b030ed3a7e83d5a87:64df0372c65dd684603d817a8b390079:3b7120790892a17f850336d347065b8a$ */
