/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.ssc_steno_10_dec_2024_s2_11 {max-width:342px; max-height:144px; }
.ssc_steno_10_dec_2024_s2_11::after {content: '\00a0';display: inline-block; width:342px; height:144px; background-position: 0.0970873786407767% 92.85714285714286%; background-size: 401.16959064327483% 352.77777777777777%; background-image: url(ssc_steno_10_dec_2024_s2_0.png);padding: 0; }
div.ssc_steno_10_dec_2024_s2_11::after {max-width:342px; width:100%;height:0;padding: 0 0 42.10526315789474% 0;}
.ssc_steno_10_dec_2024_s2_12 {max-width:385px; max-height:83px; }
.ssc_steno_10_dec_2024_s2_12::after {content: '\00a0';display: inline-block; width:385px; height:83px; background-position: 58.5612968591692% 99.05882352941177%; background-size: 356.3636363636364% 612.0481927710844%; background-image: url(ssc_steno_10_dec_2024_s2_0.png);padding: 0; }
div.ssc_steno_10_dec_2024_s2_12::after {max-width:385px; width:100%;height:0;padding: 0 0 21.558441558441558% 0;}
.ssc_steno_10_dec_2024_s2_12_1 {max-width:89px; max-height:82px; }
.ssc_steno_10_dec_2024_s2_12_1::after {content: '\00a0';display: inline-block; width:89px; height:82px; background-position: 28.994544037412314% 19.014084507042252%; background-size: 1541.573033707865% 619.5121951219512%; background-image: url(ssc_steno_10_dec_2024_s2_0.png);padding: 0; }
div.ssc_steno_10_dec_2024_s2_12_1::after {max-width:89px; width:100%;height:0;padding: 0 0 92.13483146067416% 0;}
.ssc_steno_10_dec_2024_s2_12_2 {max-width:86px; max-height:78px; }
.ssc_steno_10_dec_2024_s2_12_2::after {content: '\00a0';display: inline-block; width:86px; height:78px; background-position: 81.18195956454122% 90%; background-size: 1595.3488372093022% 651.2820512820513%; background-image: url(ssc_steno_10_dec_2024_s2_0.png);padding: 0; }
div.ssc_steno_10_dec_2024_s2_12_2::after {max-width:86px; width:100%;height:0;padding: 0 0 90.69767441860465% 0;}
.ssc_steno_10_dec_2024_s2_12_3 {max-width:100px; max-height:82px; }
.ssc_steno_10_dec_2024_s2_12_3::after {content: '\00a0';display: inline-block; width:100px; height:82px; background-position: 72.09119496855345% 71.83098591549296%; background-size: 1372% 619.5121951219512%; background-image: url(ssc_steno_10_dec_2024_s2_0.png);padding: 0; }
div.ssc_steno_10_dec_2024_s2_12_3::after {max-width:100px; width:100%;height:0;padding: 0 0 82% 0;}
.ssc_steno_10_dec_2024_s2_12_4 {max-width:86px; max-height:84px; }
.ssc_steno_10_dec_2024_s2_12_4::after {content: '\00a0';display: inline-block; width:86px; height:84px; background-position: 28.926905132192847% 38.679245283018865%; background-size: 1595.3488372093022% 604.7619047619048%; background-image: url(ssc_steno_10_dec_2024_s2_0.png);padding: 0; }
div.ssc_steno_10_dec_2024_s2_12_4::after {max-width:86px; width:100%;height:0;padding: 0 0 97.67441860465117% 0;}
.ssc_steno_10_dec_2024_s2_15 {max-width:118px; max-height:114px; }
.ssc_steno_10_dec_2024_s2_15::after {content: '\00a0';display: inline-block; width:118px; height:114px; background-position: 37.63955342902711% 77.66497461928934%; background-size: 1162.7118644067796% 445.6140350877193%; background-image: url(ssc_steno_10_dec_2024_s2_0.png);padding: 0; }
div.ssc_steno_10_dec_2024_s2_15::after {max-width:118px; width:100%;height:0;padding: 0 0 96.61016949152543% 0;}
.ssc_steno_10_dec_2024_s2_15_1 {max-width:74px; max-height:61px; }
.ssc_steno_10_dec_2024_s2_15_1::after {content: '\00a0';display: inline-block; width:74px; height:61px; background-position: 87.13405238828967% 99.32885906040268%; background-size: 1854.054054054054% 832.7868852459017%; background-image: url(ssc_steno_10_dec_2024_s2_0.png);padding: 0; }
div.ssc_steno_10_dec_2024_s2_15_1::after {max-width:74px; width:100%;height:0;padding: 0 0 82.43243243243244% 0;}
.ssc_steno_10_dec_2024_s2_15_2 {max-width:69px; max-height:58px; }
.ssc_steno_10_dec_2024_s2_15_2::after {content: '\00a0';display: inline-block; width:69px; height:58px; background-position: 99.15579432079817% 96.44444444444444%; background-size: 1988.4057971014493% 875.8620689655172%; background-image: url(ssc_steno_10_dec_2024_s2_0.png);padding: 0; }
div.ssc_steno_10_dec_2024_s2_15_2::after {max-width:69px; width:100%;height:0;padding: 0 0 84.05797101449275% 0;}
.ssc_steno_10_dec_2024_s2_15_3 {max-width:63px; max-height:59px; }
.ssc_steno_10_dec_2024_s2_15_3::after {content: '\00a0';display: inline-block; width:63px; height:59px; background-position: 97.0970206264324% 83.29621380846325%; background-size: 2177.777777777778% 861.0169491525423%; background-image: url(ssc_steno_10_dec_2024_s2_0.png);padding: 0; }
div.ssc_steno_10_dec_2024_s2_15_3::after {max-width:63px; width:100%;height:0;padding: 0 0 93.65079365079364% 0;}
.ssc_steno_10_dec_2024_s2_15_4 {max-width:58px; max-height:57px; }
.ssc_steno_10_dec_2024_s2_15_4::after {content: '\00a0';display: inline-block; width:58px; height:57px; background-position: 99.61948249619482% 67.84922394678492%; background-size: 2365.5172413793102% 891.2280701754386%; background-image: url(ssc_steno_10_dec_2024_s2_0.png);padding: 0; }
div.ssc_steno_10_dec_2024_s2_15_4::after {max-width:58px; width:100%;height:0;padding: 0 0 98.27586206896552% 0;}
.ssc_steno_10_dec_2024_s2_22 {max-width:233px; max-height:51px; }
.ssc_steno_10_dec_2024_s2_22::after {content: '\00a0';display: inline-block; width:233px; height:51px; background-position: 30.201931518876208% 99.78118161925602%; background-size: 588.8412017167382% 996.0784313725491%; background-image: url(ssc_steno_10_dec_2024_s2_0.png);padding: 0; }
div.ssc_steno_10_dec_2024_s2_22::after {max-width:233px; width:100%;height:0;padding: 0 0 21.888412017167383% 0;}
.ssc_steno_10_dec_2024_s2_22_1 {max-width:79px; max-height:81px; }
.ssc_steno_10_dec_2024_s2_22_1::after {content: '\00a0';display: inline-block; width:79px; height:81px; background-position: 74.55529775715391% 91.10070257611241%; background-size: 1736.7088607594937% 627.1604938271605%; background-image: url(ssc_steno_10_dec_2024_s2_0.png);padding: 0; }
div.ssc_steno_10_dec_2024_s2_22_1::after {max-width:79px; width:100%;height:0;padding: 0 0 102.53164556962025% 0;}
.ssc_steno_10_dec_2024_s2_22_2 {max-width:82px; max-height:88px; }
.ssc_steno_10_dec_2024_s2_22_2::after {content: '\00a0';display: inline-block; width:82px; height:88px; background-position: 28.837209302325583% 59.285714285714285%; background-size: 1673.1707317073171% 577.2727272727273%; background-image: url(ssc_steno_10_dec_2024_s2_0.png);padding: 0; }
div.ssc_steno_10_dec_2024_s2_22_2::after {max-width:82px; width:100%;height:0;padding: 0 0 107.3170731707317% 0;}
.ssc_steno_10_dec_2024_s2_22_3 {max-width:77px; max-height:80px; }
.ssc_steno_10_dec_2024_s2_22_3::after {content: '\00a0';display: inline-block; width:77px; height:80px; background-position: 78.61003861003861% 71.49532710280374%; background-size: 1781.8181818181818% 635%; background-image: url(ssc_steno_10_dec_2024_s2_0.png);padding: 0; }
div.ssc_steno_10_dec_2024_s2_22_3::after {max-width:77px; width:100%;height:0;padding: 0 0 103.8961038961039% 0;}
.ssc_steno_10_dec_2024_s2_22_4 {max-width:94px; max-height:79px; }
.ssc_steno_10_dec_2024_s2_22_4::after {content: '\00a0';display: inline-block; width:94px; height:79px; background-position: 29.107981220657276% 0.2331002331002331%; background-size: 1459.5744680851064% 643.0379746835443%; background-image: url(ssc_steno_10_dec_2024_s2_0.png);padding: 0; }
div.ssc_steno_10_dec_2024_s2_22_4::after {max-width:94px; width:100%;height:0;padding: 0 0 84.04255319148936% 0;}
.ssc_steno_10_dec_2024_s2_36 {max-width:127px; max-height:117px; }
.ssc_steno_10_dec_2024_s2_36::after {content: '\00a0';display: inline-block; width:127px; height:117px; background-position: 27.630522088353413% 86.44501278772378%; background-size: 1080.3149606299212% 434.1880341880342%; background-image: url(ssc_steno_10_dec_2024_s2_0.png);padding: 0; }
div.ssc_steno_10_dec_2024_s2_36::after {max-width:127px; width:100%;height:0;padding: 0 0 92.1259842519685% 0;}
.ssc_steno_10_dec_2024_s2_36_1 {max-width:67px; max-height:65px; }
.ssc_steno_10_dec_2024_s2_36_1::after {content: '\00a0';display: inline-block; width:67px; height:65px; background-position: 92.183908045977% 84.42437923250564%; background-size: 2047.7611940298507% 781.5384615384615%; background-image: url(ssc_steno_10_dec_2024_s2_0.png);padding: 0; }
div.ssc_steno_10_dec_2024_s2_36_1::after {max-width:67px; width:100%;height:0;padding: 0 0 97.01492537313433% 0;}
.ssc_steno_10_dec_2024_s2_36_2 {max-width:71px; max-height:67px; }
.ssc_steno_10_dec_2024_s2_36_2::after {content: '\00a0';display: inline-block; width:71px; height:67px; background-position: 86.93312836279785% 85.26077097505669%; background-size: 1932.394366197183% 758.2089552238806%; background-image: url(ssc_steno_10_dec_2024_s2_0.png);padding: 0; }
div.ssc_steno_10_dec_2024_s2_36_2::after {max-width:71px; width:100%;height:0;padding: 0 0 94.36619718309859% 0;}
.ssc_steno_10_dec_2024_s2_36_3 {max-width:85px; max-height:64px; }
.ssc_steno_10_dec_2024_s2_36_3::after {content: '\00a0';display: inline-block; width:85px; height:64px; background-position: 93.7062937062937% 99.09909909909909%; background-size: 1614.1176470588234% 793.75%; background-image: url(ssc_steno_10_dec_2024_s2_0.png);padding: 0; }
div.ssc_steno_10_dec_2024_s2_36_3::after {max-width:85px; width:100%;height:0;padding: 0 0 75.29411764705883% 0;}
.ssc_steno_10_dec_2024_s2_36_4 {max-width:70px; max-height:69px; }
.ssc_steno_10_dec_2024_s2_36_4::after {content: '\00a0';display: inline-block; width:70px; height:69px; background-position: 84.17818740399386% 69.70387243735763%; background-size: 1960% 736.231884057971%; background-image: url(ssc_steno_10_dec_2024_s2_0.png);padding: 0; }
div.ssc_steno_10_dec_2024_s2_36_4::after {max-width:70px; width:100%;height:0;padding: 0 0 98.57142857142857% 0;}
.ssc_steno_10_dec_2024_s2_37 {max-width:141px; max-height:67px; }
.ssc_steno_10_dec_2024_s2_37::after {content: '\00a0';display: inline-block; width:141px; height:67px; background-position: 94.80097481722177% 69.38775510204081%; background-size: 973.049645390071% 758.2089552238806%; background-image: url(ssc_steno_10_dec_2024_s2_0.png);padding: 0; }
div.ssc_steno_10_dec_2024_s2_37::after {max-width:141px; width:100%;height:0;padding: 0 0 47.5177304964539% 0;}
.ssc_steno_10_dec_2024_s2_4 {max-width:325px; max-height:96px; }
.ssc_steno_10_dec_2024_s2_4::after {content: '\00a0';display: inline-block; width:325px; height:96px; background-position: 56.44699140401146% 74.27184466019418%; background-size: 422.15384615384613% 529.1666666666666%; background-image: url(ssc_steno_10_dec_2024_s2_0.png);padding: 0; }
div.ssc_steno_10_dec_2024_s2_4::after {max-width:325px; width:100%;height:0;padding: 0 0 29.53846153846154% 0;}
.ssc_steno_10_dec_2024_s2_48_1 {max-width:370px; max-height:336px; }
.ssc_steno_10_dec_2024_s2_48_1::after {content: '\00a0';display: inline-block; width:370px; height:336px; background-position: 0.0998003992015968% 0.5813953488372093%; background-size: 370.81081081081084% 151.1904761904762%; background-image: url(ssc_steno_10_dec_2024_s2_0.png);padding: 0; }
div.ssc_steno_10_dec_2024_s2_48_1::after {max-width:370px; width:100%;height:0;padding: 0 0 90.8108108108108% 0;}
.ssc_steno_10_dec_2024_s2_4_1 {max-width:899px; max-height:304px; }
.ssc_steno_10_dec_2024_s2_4_1::after {content: '\00a0';display: inline-block; width:899px; height:304px; background-position: 99.78858350951374% 0.49019607843137253%; background-size: 152.61401557285873% 167.10526315789474%; background-image: url(ssc_steno_10_dec_2024_s2_0.png);padding: 0; }
div.ssc_steno_10_dec_2024_s2_4_1::after {max-width:899px; width:100%;height:0;padding: 0 0 33.815350389321466% 0;}

@keyframes ssc_steno_10_dec_2024_s2-frames {
    0% { background-position: 56.44699140401146% 74.27184466019418%;  }
    14.285714285714285% { background-position: 0.0970873786407767% 92.85714285714286%;  }
    28.57142857142857% { background-position: 58.5612968591692% 99.05882352941177%;  }
    42.857142857142854% { background-position: 37.63955342902711% 77.66497461928934%;  }
    57.14285714285714% { background-position: 30.201931518876208% 99.78118161925602%;  }
    71.42857142857143% { background-position: 27.630522088353413% 86.44501278772378%;  }
    85.71428571428571% { background-position: 94.80097481722177% 69.38775510204081%;  }
}

.ssc_steno_10_dec_2024_s2-animation {
    max-width: 325px;
    max-height: 96px;
}
.ssc_steno_10_dec_2024_s2-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 325px;
    height: 96px;
    padding: 0;
    background-image: url(ssc_steno_10_dec_2024_s2_0.png);
    background-size: 422.15384615384613% 529.1666666666666%; 
    animation-name: ssc_steno_10_dec_2024_s2-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.ssc_steno_10_dec_2024_s2-animation::after {
    max-width: 325px;
    width: 100%;
    height: 0;
    padding: 0 0 29.53846153846154% 0;
}

@keyframes ssc_steno_10_dec_2024_s2_12-frames {
    0% { background-position: 28.994544037412314% 19.014084507042252%;  }
    25% { background-position: 81.18195956454122% 90%;  }
    50% { background-position: 72.09119496855345% 71.83098591549296%;  }
    75% { background-position: 28.926905132192847% 38.679245283018865%;  }
}

.ssc_steno_10_dec_2024_s2_12-animation {
    max-width: 89px;
    max-height: 82px;
}
.ssc_steno_10_dec_2024_s2_12-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 89px;
    height: 82px;
    padding: 0;
    background-image: url(ssc_steno_10_dec_2024_s2_0.png);
    background-size: 1541.573033707865% 619.5121951219512%; 
    animation-name: ssc_steno_10_dec_2024_s2_12-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.ssc_steno_10_dec_2024_s2_12-animation::after {
    max-width: 89px;
    width: 100%;
    height: 0;
    padding: 0 0 92.13483146067416% 0;
}

@keyframes ssc_steno_10_dec_2024_s2_15-frames {
    0% { background-position: 87.13405238828967% 99.32885906040268%;  }
    25% { background-position: 99.15579432079817% 96.44444444444444%;  }
    50% { background-position: 97.0970206264324% 83.29621380846325%;  }
    75% { background-position: 99.61948249619482% 67.84922394678492%;  }
}

.ssc_steno_10_dec_2024_s2_15-animation {
    max-width: 74px;
    max-height: 61px;
}
.ssc_steno_10_dec_2024_s2_15-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 74px;
    height: 61px;
    padding: 0;
    background-image: url(ssc_steno_10_dec_2024_s2_0.png);
    background-size: 1854.054054054054% 832.7868852459017%; 
    animation-name: ssc_steno_10_dec_2024_s2_15-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.ssc_steno_10_dec_2024_s2_15-animation::after {
    max-width: 74px;
    width: 100%;
    height: 0;
    padding: 0 0 82.43243243243244% 0;
}

@keyframes ssc_steno_10_dec_2024_s2_22-frames {
    0% { background-position: 74.55529775715391% 91.10070257611241%;  }
    25% { background-position: 28.837209302325583% 59.285714285714285%;  }
    50% { background-position: 78.61003861003861% 71.49532710280374%;  }
    75% { background-position: 29.107981220657276% 0.2331002331002331%;  }
}

.ssc_steno_10_dec_2024_s2_22-animation {
    max-width: 79px;
    max-height: 81px;
}
.ssc_steno_10_dec_2024_s2_22-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 79px;
    height: 81px;
    padding: 0;
    background-image: url(ssc_steno_10_dec_2024_s2_0.png);
    background-size: 1736.7088607594937% 627.1604938271605%; 
    animation-name: ssc_steno_10_dec_2024_s2_22-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.ssc_steno_10_dec_2024_s2_22-animation::after {
    max-width: 79px;
    width: 100%;
    height: 0;
    padding: 0 0 102.53164556962025% 0;
}

@keyframes ssc_steno_10_dec_2024_s2_36-frames {
    0% { background-position: 92.183908045977% 84.42437923250564%;  }
    25% { background-position: 86.93312836279785% 85.26077097505669%;  }
    50% { background-position: 93.7062937062937% 99.09909909909909%;  }
    75% { background-position: 84.17818740399386% 69.70387243735763%;  }
}

.ssc_steno_10_dec_2024_s2_36-animation {
    max-width: 67px;
    max-height: 65px;
}
.ssc_steno_10_dec_2024_s2_36-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 67px;
    height: 65px;
    padding: 0;
    background-image: url(ssc_steno_10_dec_2024_s2_0.png);
    background-size: 2047.7611940298507% 781.5384615384615%; 
    animation-name: ssc_steno_10_dec_2024_s2_36-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.ssc_steno_10_dec_2024_s2_36-animation::after {
    max-width: 67px;
    width: 100%;
    height: 0;
    padding: 0 0 97.01492537313433% 0;
}

/* $TexturePacker:SmartUpdate:34a6e7e53740e9cd801e2700bbfe4fd8:50279afe1ef3eba531c17f06a709806b:177900f6d07a1bb509450a1da727317f$ */
