/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.JEEMAINS_10APRIL_2023_S2_S_28 {max-width:288px; max-height:125px; }
.JEEMAINS_10APRIL_2023_S2_S_28::after {content: '\00a0';display: inline-block; width:288px; height:125px; background-position: 54.414414414414416% 0.45454545454545453%; background-size: 292.7083333333333% 276%; background-image: url(m_12_inversetrig_0.png);padding: 0; }
div.JEEMAINS_10APRIL_2023_S2_S_28::after {max-width:288px; width:100%;height:0;padding: 0 0 43.40277777777778% 0;}
.JEEMAIN_24FEB_SHIFT2_SOL_71 {max-width:226px; max-height:208px; }
.JEEMAIN_24FEB_SHIFT2_SOL_71::after {content: '\00a0';display: inline-block; width:226px; height:208px; background-position: 48.946515397082656% 92.7007299270073%; background-size: 373.0088495575221% 165.8653846153846%; background-image: url(m_12_inversetrig_0.png);padding: 0; }
div.JEEMAIN_24FEB_SHIFT2_SOL_71::after {max-width:226px; width:100%;height:0;padding: 0 0 92.03539823008849% 0;}
.JEEM_17_Mar_S1_72sol {max-width:251px; max-height:235px; }
.JEEM_17_Mar_S1_72sol::after {content: '\00a0';display: inline-block; width:251px; height:235px; background-position: 99.83108108108108% 0.9090909090909091%; background-size: 335.8565737051793% 146.80851063829786%; background-image: url(m_12_inversetrig_0.png);padding: 0; }
div.JEEM_17_Mar_S1_72sol::after {max-width:251px; width:100%;height:0;padding: 0 0 93.62549800796813% 0;}
.JEE_MAINS_2019_JAN9_S2_47sol_1 {max-width:276px; max-height:105px; }
.JEE_MAINS_2019_JAN9_S2_47sol_1::after {content: '\00a0';display: inline-block; width:276px; height:105px; background-position: 93.29805996472663% 98.75%; background-size: 305.4347826086956% 328.57142857142856%; background-image: url(m_12_inversetrig_0.png);padding: 0; }
div.JEE_MAINS_2019_JAN9_S2_47sol_1::after {max-width:276px; width:100%;height:0;padding: 0 0 38.04347826086956% 0;}
.JEE_MAINS_2019_JAN9_S2_47sol_2 {max-width:278px; max-height:105px; }
.JEE_MAINS_2019_JAN9_S2_47sol_2::after {content: '\00a0';display: inline-block; width:278px; height:105px; background-position: 0.17699115044247787% 99.58333333333333%; background-size: 303.23741007194246% 328.57142857142856%; background-image: url(m_12_inversetrig_0.png);padding: 0; }
div.JEE_MAINS_2019_JAN9_S2_47sol_2::after {max-width:278px; width:100%;height:0;padding: 0 0 37.76978417266187% 0;}
.jee_mains_24_jun_2022_s1_8_sol {max-width:300px; max-height:237px; }
.jee_mains_24_jun_2022_s1_8_sol::after {content: '\00a0';display: inline-block; width:300px; height:237px; background-position: 0.1841620626151013% 0.9259259259259259%; background-size: 281% 145.56962025316454%; background-image: url(m_12_inversetrig_0.png);padding: 0; }
div.jee_mains_24_jun_2022_s1_8_sol::after {max-width:300px; width:100%;height:0;padding: 0 0 79% 0;}

@keyframes JEE_MAINS_2019_JAN9_S2_47sol-frames {
    0% { background-position: 93.29805996472663% 98.75%;  }
    50% { background-position: 0.17699115044247787% 99.58333333333333%;  }
}

.JEE_MAINS_2019_JAN9_S2_47sol-animation {
    max-width: 276px;
    max-height: 105px;
}
.JEE_MAINS_2019_JAN9_S2_47sol-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 276px;
    height: 105px;
    padding: 0;
    background-image: url(m_12_inversetrig_0.png);
    background-size: 305.4347826086956% 328.57142857142856%; 
    animation-name: JEE_MAINS_2019_JAN9_S2_47sol-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEE_MAINS_2019_JAN9_S2_47sol-animation::after {
    max-width: 276px;
    width: 100%;
    height: 0;
    padding: 0 0 38.04347826086956% 0;
}

/* $TexturePacker:SmartUpdate:3a737febe4326f741d1c4029ccacbda2:c50e33ae6bc87ee3bfe745f6388251c5:03a98f2556914e0998def77adf8db828$ */
