/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.AIEEE_2003_Mat_44sol {max-width:274px; max-height:202px; }
.AIEEE_2003_Mat_44sol::after {content: '\00a0';display: inline-block; width:274px; height:202px; background-position: 88.84239888423988% 34.919524142757176%; background-size: 361.6788321167883% 807.4257425742575%; background-image: url(m_12_vectoralgebra_0.png);padding: 0; }
div.AIEEE_2003_Mat_44sol::after {max-width:274px; width:100%;height:0;padding: 0 0 73.72262773722628% 0;}
.AIEEE_2005_Mat_50sol {max-width:315px; max-height:205px; }
.AIEEE_2005_Mat_50sol::after {content: '\00a0';display: inline-block; width:315px; height:205px; background-position: 45.562130177514796% 21.1781206171108%; background-size: 314.6031746031746% 795.609756097561%; background-image: url(m_12_vectoralgebra_0.png);padding: 0; }
div.AIEEE_2005_Mat_50sol::after {max-width:315px; width:100%;height:0;padding: 0 0 65.07936507936508% 0;}
.AIEEE_2012_Mat_24sol {max-width:283px; max-height:189px; }
.AIEEE_2012_Mat_24sol::after {content: '\00a0';display: inline-block; width:283px; height:189px; background-position: 88.13559322033899% 21.428571428571427%; background-size: 350.1766784452297% 862.9629629629629%; background-image: url(m_12_vectoralgebra_0.png);padding: 0; }
div.AIEEE_2012_Mat_24sol::after {max-width:283px; width:100%;height:0;padding: 0 0 66.7844522968198% 0;}
.JEEMAINS_10APRIL_2023_S1_S_1 {max-width:260px; max-height:337px; }
.JEEMAINS_10APRIL_2023_S1_S_1::after {content: '\00a0';display: inline-block; width:260px; height:337px; background-position: 0.13679890560875513% 48.29984544049459%; background-size: 381.15384615384613% 483.97626112759644%; background-image: url(m_12_vectoralgebra_0.png);padding: 0; }
div.JEEMAINS_10APRIL_2023_S1_S_1::after {max-width:260px; width:100%;height:0;padding: 0 0 129.6153846153846% 0;}
.JEEMAINS_10APRIL_2023_S2_S_6 {max-width:328px; max-height:193px; }
.JEEMAINS_10APRIL_2023_S2_S_6::after {content: '\00a0';display: inline-block; width:328px; height:193px; background-position: 46.45550527903469% 35.32684283727399%; background-size: 302.1341463414634% 845.0777202072538%; background-image: url(m_12_vectoralgebra_0.png);padding: 0; }
div.JEEMAINS_10APRIL_2023_S2_S_6::after {max-width:328px; width:100%;height:0;padding: 0 0 58.84146341463415% 0;}
.JEEMAINS_13APRIL_2023_S2_S_5 {max-width:306px; max-height:327px; }
.JEEMAINS_13APRIL_2023_S2_S_5::after {content: '\00a0';display: inline-block; width:306px; height:327px; background-position: 0.145985401459854% 0.07668711656441718%; background-size: 323.8562091503268% 498.77675840978594%; background-image: url(m_12_vectoralgebra_0.png);padding: 0; }
div.JEEMAINS_13APRIL_2023_S2_S_5::after {max-width:306px; width:100%;height:0;padding: 0 0 106.86274509803921% 0;}
.JEEMAINS_15APRIL_2023_S1_S_8 {max-width:237px; max-height:220px; }
.JEEMAINS_15APRIL_2023_S1_S_8::after {content: '\00a0';display: inline-block; width:237px; height:220px; background-position: 39.257294429708224% 62.43798724309001%; background-size: 418.1434599156118% 741.3636363636364%; background-image: url(m_12_vectoralgebra_0.png);padding: 0; }
div.JEEMAINS_15APRIL_2023_S1_S_8::after {max-width:237px; width:100%;height:0;padding: 0 0 92.82700421940929% 0;}
.JEEMAINS_8APRIL_2023_S2_S_4 {max-width:237px; max-height:132px; }
.JEEMAINS_8APRIL_2023_S2_S_4::after {content: '\00a0';display: inline-block; width:237px; height:132px; background-position: 75.06631299734748% 86.19079386257505%; background-size: 418.1434599156118% 1235.6060606060605%; background-image: url(m_12_vectoralgebra_0.png);padding: 0; }
div.JEEMAINS_8APRIL_2023_S2_S_4::after {max-width:237px; width:100%;height:0;padding: 0 0 55.69620253164557% 0;}
.JEEM_16_Mar_S1_62sol {max-width:228px; max-height:197px; }
.JEEM_16_Mar_S1_62sol::after {content: '\00a0';display: inline-block; width:228px; height:197px; background-position: 74.18086500655308% 76.29009762900976%; background-size: 434.64912280701753% 827.9187817258884%; background-image: url(m_12_vectoralgebra_0.png);padding: 0; }
div.JEEM_16_Mar_S1_62sol::after {max-width:228px; width:100%;height:0;padding: 0 0 86.40350877192982% 0;}
.JEEM_16_Mar_S1_62sola {max-width:227px; max-height:192px; }
.JEEM_16_Mar_S1_62sola::after {content: '\00a0';display: inline-block; width:227px; height:192px; background-position: 70.68062827225131% 99.0271021542738%; background-size: 436.56387665198235% 849.4791666666666%; background-image: url(m_12_vectoralgebra_0.png);padding: 0; }
div.JEEM_16_Mar_S1_62sola::after {max-width:227px; width:100%;height:0;padding: 0 0 84.58149779735683% 0;}
.JEEM_18_Mar_S1_70sol {max-width:201px; max-height:163px; }
.JEEM_18_Mar_S1_70sol::after {content: '\00a0';display: inline-block; width:201px; height:163px; background-position: 98.35443037974683% 63.283378746594%; background-size: 493.0348258706468% 1000.6134969325153%; background-image: url(m_12_vectoralgebra_0.png);padding: 0; }
div.JEEM_18_Mar_S1_70sol::after {max-width:201px; width:100%;height:0;padding: 0 0 81.09452736318408% 0;}
.JEEM_18_Mar_S2_62sol {max-width:147px; max-height:138px; }
.JEEM_18_Mar_S2_62sol::after {content: '\00a0';display: inline-block; width:147px; height:138px; background-position: 95.260663507109% 91.4266577361018%; background-size: 674.1496598639455% 1181.8840579710145%; background-image: url(m_12_vectoralgebra_0.png);padding: 0; }
div.JEEM_18_Mar_S2_62sol::after {max-width:147px; width:100%;height:0;padding: 0 0 93.87755102040816% 0;}
.JEE_10_04_2019_P2_86_q {max-width:245px; max-height:107px; }
.JEE_10_04_2019_P2_86_q::after {content: '\00a0';display: inline-block; width:245px; height:107px; background-position: 39.67828418230563% 72.30971128608924%; background-size: 404.48979591836735% 1524.2990654205607%; background-image: url(m_12_vectoralgebra_0.png);padding: 0; }
div.JEE_10_04_2019_P2_86_q::after {max-width:245px; width:100%;height:0;padding: 0 0 43.673469387755105% 0;}
.JEE_27_Jan_2024_Shift_2_16_s {max-width:285px; max-height:212px; }
.JEE_27_Jan_2024_Shift_2_16_s::after {content: '\00a0';display: inline-block; width:285px; height:212px; background-position: 0.141643059490085% 83.08668076109936%; background-size: 347.719298245614% 769.3396226415094%; background-image: url(m_12_vectoralgebra_0.png);padding: 0; }
div.JEE_27_Jan_2024_Shift_2_16_s::after {max-width:285px; width:100%;height:0;padding: 0 0 74.3859649122807% 0;}
.JEE_27_Jan_2024_Shift_2_20_s {max-width:280px; max-height:207px; }
.JEE_27_Jan_2024_Shift_2_20_s::after {content: '\00a0';display: inline-block; width:280px; height:207px; background-position: 0.14064697609001406% 97.75280898876404%; background-size: 353.92857142857144% 787.9227053140097%; background-image: url(m_12_vectoralgebra_0.png);padding: 0; }
div.JEE_27_Jan_2024_Shift_2_20_s::after {max-width:280px; width:100%;height:0;padding: 0 0 73.92857142857143% 0;}
.JEE_29_Jan_2024_Shift_2_8_s {max-width:232px; max-height:185px; }
.JEE_29_Jan_2024_Shift_2_8_s::after {content: '\00a0';display: inline-block; width:232px; height:185px; background-position: 37.15415019762846% 99.93084370677731%; background-size: 427.1551724137931% 881.6216216216217%; background-image: url(m_12_vectoralgebra_0.png);padding: 0; }
div.JEE_29_Jan_2024_Shift_2_8_s::after {max-width:232px; width:100%;height:0;padding: 0 0 79.74137931034483% 0;}
.JEE_31_Jan_2024_Shift_1_14_s {max-width:278px; max-height:177px; }
.JEE_31_Jan_2024_Shift_1_14_s::after {content: '\00a0';display: inline-block; width:278px; height:177px; background-position: 40.252454417952315% 83.21870701513068%; background-size: 356.47482014388487% 921.4689265536723%; background-image: url(m_12_vectoralgebra_0.png);padding: 0; }
div.JEE_31_Jan_2024_Shift_1_14_s::after {max-width:278px; width:100%;height:0;padding: 0 0 63.669064748201436% 0;}
.JEE_MAIN_4APRIL_2024_S1_S_29 {max-width:294px; max-height:215px; }
.JEE_MAIN_4APRIL_2024_S1_S_29::after {content: '\00a0';display: inline-block; width:294px; height:215px; background-position: 0.14347202295552366% 68.00847457627118%; background-size: 337.0748299319728% 758.6046511627907%; background-image: url(m_12_vectoralgebra_0.png);padding: 0; }
div.JEE_MAIN_4APRIL_2024_S1_S_29::after {max-width:294px; width:100%;height:0;padding: 0 0 73.12925170068027% 0;}
.JEE_MAIN_9APRIL_2024_S1_S_10 {max-width:361px; max-height:258px; }
.JEE_MAIN_9APRIL_2024_S1_S_10::after {content: '\00a0';display: inline-block; width:361px; height:258px; background-position: 99.84126984126983% 0.07283321194464676%; background-size: 274.51523545706374% 632.1705426356589%; background-image: url(m_12_vectoralgebra_0.png);padding: 0; }
div.JEE_MAIN_9APRIL_2024_S1_S_10::after {max-width:361px; width:100%;height:0;padding: 0 0 71.46814404432133% 0;}
.JEE_MAIN_9APRIL_2024_S1_S_18 {max-width:242px; max-height:164px; }
.JEE_MAIN_9APRIL_2024_S1_S_18::after {content: '\00a0';display: inline-block; width:242px; height:164px; background-position: 71.29506008010681% 63.32651670074983%; background-size: 409.504132231405% 994.5121951219512%; background-image: url(m_12_vectoralgebra_0.png);padding: 0; }
div.JEE_MAIN_9APRIL_2024_S1_S_18::after {max-width:242px; width:100%;height:0;padding: 0 0 67.76859504132231% 0;}
.JEE_Main_20_July_2021_Eve_80_s {max-width:163px; max-height:133px; }
.JEE_Main_20_July_2021_Eve_80_s::after {content: '\00a0';display: inline-block; width:163px; height:133px; background-position: 97.10144927536231% 82.1762349799733%; background-size: 607.9754601226994% 1226.3157894736842%; background-image: url(m_12_vectoralgebra_0.png);padding: 0; }
div.JEE_Main_20_July_2021_Eve_80_s::after {max-width:163px; width:100%;height:0;padding: 0 0 81.59509202453988% 0;}
.JEE_Main_20_July_2021_Eve_84_s {max-width:309px; max-height:157px; }
.JEE_Main_20_July_2021_Eve_84_s::after {content: '\00a0';display: inline-block; width:309px; height:157px; background-position: 85.48387096774194% 47.62550881953867%; background-size: 320.7119741100324% 1038.8535031847134%; background-image: url(m_12_vectoralgebra_0.png);padding: 0; }
div.JEE_Main_20_July_2021_Eve_84_s::after {max-width:309px; width:100%;height:0;padding: 0 0 50.80906148867314% 0;}
.JEE_Main_26_Aug_2021_Shift_2_75_Q {max-width:306px; max-height:295px; }
.JEE_Main_26_Aug_2021_Shift_2_75_Q::after {content: '\00a0';display: inline-block; width:306px; height:295px; background-position: 0.145985401459854% 24.62574850299401%; background-size: 323.8562091503268% 552.8813559322034%; background-image: url(m_12_vectoralgebra_0.png);padding: 0; }
div.JEE_Main_26_Aug_2021_Shift_2_75_Q::after {max-width:306px; width:100%;height:0;padding: 0 0 96.40522875816994% 0;}
.JEE_Main_26_Aug_2021_Shift_2_75_Q_1_S {max-width:164px; max-height:137px; }
.JEE_Main_26_Aug_2021_Shift_2_75_Q_1_S::after {content: '\00a0';display: inline-block; width:164px; height:137px; background-position: 96.13059250302298% 73.15930388219545%; background-size: 604.2682926829268% 1190.5109489051094%; background-image: url(m_12_vectoralgebra_0.png);padding: 0; }
div.JEE_Main_26_Aug_2021_Shift_2_75_Q_1_S::after {max-width:164px; width:100%;height:0;padding: 0 0 83.53658536585365% 0;}
.JEE_Mains_02_Sep_2020_Shift_2_73_s {max-width:283px; max-height:68px; }
.JEE_Mains_02_Sep_2020_Shift_2_73_s::after {content: '\00a0';display: inline-block; width:283px; height:68px; background-position: 82.34463276836158% 55.02239283429303%; background-size: 350.1766784452297% 2398.529411764706%; background-image: url(m_12_vectoralgebra_0.png);padding: 0; }
div.JEE_Mains_02_Sep_2020_Shift_2_73_s::after {max-width:283px; width:100%;height:0;padding: 0 0 24.02826855123675% 0;}
.jee_mn_23_jan_2025_s1_sol_5 {max-width:320px; max-height:178px; }
.jee_mn_23_jan_2025_s1_sol_5::after {content: '\00a0';display: inline-block; width:320px; height:178px; background-position: 39.046199701937404% 48.313833448038544%; background-size: 309.6875% 916.2921348314607%; background-image: url(m_12_vectoralgebra_0.png);padding: 0; }
div.jee_mn_23_jan_2025_s1_sol_5::after {max-width:320px; width:100%;height:0;padding: 0 0 55.625% 0;}
.jee_mn_23_jan_2025_s2_sol_17 {max-width:252px; max-height:56px; }
.jee_mn_23_jan_2025_s2_sol_17::after {content: '\00a0';display: inline-block; width:252px; height:56px; background-position: 38.836265223274694% 88.12698412698413%; background-size: 393.25396825396825% 2912.5%; background-image: url(m_12_vectoralgebra_0.png);padding: 0; }
div.jee_mn_23_jan_2025_s2_sol_17::after {max-width:252px; width:100%;height:0;padding: 0 0 22.22222222222222% 0;}
.jee_mn_24_jan_2025_s2_sol_4 {max-width:360px; max-height:48px; }
.jee_mn_24_jan_2025_s2_sol_4::after {content: '\00a0';display: inline-block; width:360px; height:48px; background-position: 99.68304278922345% 16.424510423247%; background-size: 275.27777777777777% 3397.9166666666665%; background-image: url(m_12_vectoralgebra_0.png);padding: 0; }
div.jee_mn_24_jan_2025_s2_sol_4::after {max-width:360px; width:100%;height:0;padding: 0 0 13.333333333333334% 0;}
.jee_mn_25_jul_2022_s1_15_sol {max-width:320px; max-height:300px; }
.jee_mn_25_jul_2022_s1_15_sol::after {content: '\00a0';display: inline-block; width:320px; height:300px; background-position: 45.90163934426229% 0.07513148009015777%; background-size: 309.6875% 543.6666666666666%; background-image: url(m_12_vectoralgebra_0.png);padding: 0; }
div.jee_mn_25_jul_2022_s1_15_sol::after {max-width:320px; width:100%;height:0;padding: 0 0 93.75% 0;}

@keyframes JEE_MAIN_9APRIL_2024_S1_S-frames {
    0% { background-position: 99.84126984126983% 0.07283321194464676%;  }
    50% { background-position: 71.29506008010681% 63.32651670074983%;  }
}

.JEE_MAIN_9APRIL_2024_S1_S-animation {
    max-width: 361px;
    max-height: 258px;
}
.JEE_MAIN_9APRIL_2024_S1_S-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 361px;
    height: 258px;
    padding: 0;
    background-image: url(m_12_vectoralgebra_0.png);
    background-size: 274.51523545706374% 632.1705426356589%; 
    animation-name: JEE_MAIN_9APRIL_2024_S1_S-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEE_MAIN_9APRIL_2024_S1_S-animation::after {
    max-width: 361px;
    width: 100%;
    height: 0;
    padding: 0 0 71.46814404432133% 0;
}

/* $TexturePacker:SmartUpdate:39b6d7e23b30480371a8259e3150057b:9bd5588f1d745b18678cc2f042154727:886adc7372f9cc49b8c8f5b04de38d53$ */
