/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.JEE_MAIN_4APRIL_2024_S2_S_23 {max-width:318px; max-height:191px; }
.JEE_MAIN_4APRIL_2024_S2_S_23::after {content: '\00a0';display: inline-block; width:318px; height:191px; background-position: 50% 50%; background-size: 100.62893081761007% 101.04712041884817%; background-image: url(m_12_differentiation_0.png);padding: 0; }
div.JEE_MAIN_4APRIL_2024_S2_S_23::after {max-width:318px; width:100%;height:0;padding: 0 0 60.062893081761004% 0;}


/* $TexturePacker:SmartUpdate:69984615a6110d6e5c1107e8b6cbc592:21ceb07b30096ee48cd97b0339753f35:e4332d38fca9edd59697200dd5bbf9ac$ */
