/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.JEE_Main_20_July_2021_mor_66_s {max-width:251px; max-height:111px; }
.JEE_Main_20_July_2021_mor_66_s::after {content: '\00a0';display: inline-block; width:251px; height:111px; background-position: 0.45045045045045046% 97.5%; background-size: 188.44621513944224% 136.03603603603602%; background-image: url(m_12_matrices_0.png);padding: 0; }
div.JEE_Main_20_July_2021_mor_66_s::after {max-width:251px; width:100%;height:0;padding: 0 0 44.223107569721115% 0;}
.jm_8_apr_2025_s1_sol_20 {max-width:176px; max-height:135px; }
.jm_8_apr_2025_s1_sol_20::after {content: '\00a0';display: inline-block; width:176px; height:135px; background-position: 99.66329966329967% 6.25%; background-size: 268.75% 111.85185185185185%; background-image: url(m_12_matrices_0.png);padding: 0; }
div.jm_8_apr_2025_s1_sol_20::after {max-width:176px; width:100%;height:0;padding: 0 0 76.70454545454545% 0;}
.m2016_apr9_64sol {max-width:294px; max-height:37px; }
.m2016_apr9_64sol::after {content: '\00a0';display: inline-block; width:294px; height:37px; background-position: 0.5586592178770949% 0.8771929824561403%; background-size: 160.8843537414966% 408.1081081081081%; background-image: url(m_12_matrices_0.png);padding: 0; }
div.m2016_apr9_64sol::after {max-width:294px; width:100%;height:0;padding: 0 0 12.585034013605442% 0;}


/* $TexturePacker:SmartUpdate:10b84e1c243b7d208719b84f6914f620:5a17141924ae47ed39cebef056f2966f:cad845d71cf943f28abc426a5e847fd1$ */
