/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.JEEMAINS_10APRIL_2023_S2_S_23 {max-width:280px; max-height:277px; }
.JEEMAINS_10APRIL_2023_S2_S_23::after {content: '\00a0';display: inline-block; width:280px; height:277px; background-position: 87.61776581426649% 0.45871559633027525%; background-size: 365.35714285714283% 178.70036101083033%; background-image: url(m_12_diffequations_0.png);padding: 0; }
div.JEEMAINS_10APRIL_2023_S2_S_23::after {max-width:280px; width:100%;height:0;padding: 0 0 98.92857142857143% 0;}
.JEEM_16_Mar_S1_88sol {max-width:233px; max-height:152px; }
.JEEM_16_Mar_S1_88sol::after {content: '\00a0';display: inline-block; width:233px; height:152px; background-position: 99.87341772151899% 81.34110787172011%; background-size: 439.0557939914163% 325.6578947368421%; background-image: url(m_12_diffequations_0.png);padding: 0; }
div.JEEM_16_Mar_S1_88sol::after {max-width:233px; width:100%;height:0;padding: 0 0 65.23605150214593% 0;}
.JEEM_16_Mar_S2_79sol {max-width:287px; max-height:230px; }
.JEEM_16_Mar_S2_79sol::after {content: '\00a0';display: inline-block; width:287px; height:230px; background-position: 0.1358695652173913% 99.62264150943396%; background-size: 356.4459930313589% 215.2173913043478%; background-image: url(m_12_diffequations_0.png);padding: 0; }
div.JEEM_16_Mar_S2_79sol::after {max-width:287px; width:100%;height:0;padding: 0 0 80.13937282229965% 0;}
.JEE_30_Jan_2024_Shift_2_21_s {max-width:288px; max-height:273px; }
.JEE_30_Jan_2024_Shift_2_21_s::after {content: '\00a0';display: inline-block; width:288px; height:273px; background-position: 49.25170068027211% 0.45045045045045046%; background-size: 355.2083333333333% 181.3186813186813%; background-image: url(m_12_diffequations_0.png);padding: 0; }
div.JEE_30_Jan_2024_Shift_2_21_s::after {max-width:288px; width:100%;height:0;padding: 0 0 94.79166666666667% 0;}
.JEE_MAIN_5APRIL_2024_S2_S_22 {max-width:249px; max-height:209px; }
.JEE_MAIN_5APRIL_2024_S2_S_22::after {content: '\00a0';display: inline-block; width:249px; height:209px; background-position: 37.338501291989665% 96.15384615384616%; background-size: 410.8433734939759% 236.8421052631579%; background-image: url(m_12_diffequations_0.png);padding: 0; }
div.JEE_MAIN_5APRIL_2024_S2_S_22::after {max-width:249px; width:100%;height:0;padding: 0 0 83.93574297188755% 0;}
.JEE_Main_25_July_2021_Morning_69_s {max-width:249px; max-height:88px; }
.JEE_Main_25_July_2021_Morning_69_s::after {content: '\00a0';display: inline-block; width:249px; height:88px; background-position: 69.63824289405684% 68.55036855036855%; background-size: 410.8433734939759% 562.5%; background-image: url(m_12_diffequations_0.png);padding: 0; }
div.JEE_Main_25_July_2021_Morning_69_s::after {max-width:249px; width:100%;height:0;padding: 0 0 35.34136546184739% 0;}
.jee_mn_22_jan_2025_s1_sol_12 {max-width:360px; max-height:262px; }
.jee_mn_22_jan_2025_s1_sol_12::after {content: '\00a0';display: inline-block; width:360px; height:262px; background-position: 0.15082956259426847% 0.4291845493562232%; background-size: 284.1666666666667% 188.93129770992365%; background-image: url(m_12_diffequations_0.png);padding: 0; }
div.jee_mn_22_jan_2025_s1_sol_12::after {max-width:360px; width:100%;height:0;padding: 0 0 72.77777777777777% 0;}


/* $TexturePacker:SmartUpdate:edb3d6f7b38be8991a368f65fdf92fc7:780fcdcdcea9d7f6a6c1a25a613c9e5f:c11979f8a74c4767199bdfee77140d9e$ */
