/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.afcat_ii_24_aug_s182 {max-width:103px; max-height:176px; }
.afcat_ii_24_aug_s182::after {content: '\00a0';display: inline-block; width:103px; height:176px; background-position: 0.24813895781637718% 69.921875%; background-size: 491.2621359223301% 536.3636363636364%; background-image: url(afcat24_aug_2025_0.png);padding: 0; }
div.afcat_ii_24_aug_s182::after {max-width:103px; width:100%;height:0;padding: 0 0 170.873786407767% 0;}
.afcat_ii_24_aug_s182_1 {max-width:504px; max-height:149px; }
.afcat_ii_24_aug_s182_1::after {content: '\00a0';display: inline-block; width:504px; height:149px; background-position: 50% 0.12578616352201258%; background-size: 100.39682539682539% 633.5570469798657%; background-image: url(afcat24_aug_2025_0.png);padding: 0; }
div.afcat_ii_24_aug_s182_1::after {max-width:504px; width:100%;height:0;padding: 0 0 29.563492063492063% 0;}
.afcat_ii_24_aug_s186 {max-width:102px; max-height:102px; }
.afcat_ii_24_aug_s186::after {content: '\00a0';display: inline-block; width:102px; height:102px; background-position: 77.97029702970298% 79.45368171021377%; background-size: 496.078431372549% 925.4901960784314%; background-image: url(afcat24_aug_2025_0.png);padding: 0; }
div.afcat_ii_24_aug_s186::after {max-width:102px; width:100%;height:0;padding: 0 0 100% 0;}
.afcat_ii_24_aug_s186_1 {max-width:102px; max-height:102px; }
.afcat_ii_24_aug_s186_1::after {content: '\00a0';display: inline-block; width:102px; height:102px; background-position: 26.237623762376238% 89.78622327790974%; background-size: 496.078431372549% 925.4901960784314%; background-image: url(afcat24_aug_2025_0.png);padding: 0; }
div.afcat_ii_24_aug_s186_1::after {max-width:102px; width:100%;height:0;padding: 0 0 100% 0;}
.afcat_ii_24_aug_s186_2 {max-width:104px; max-height:103px; }
.afcat_ii_24_aug_s186_2::after {content: '\00a0';display: inline-block; width:104px; height:103px; background-position: 0.24875621890547264% 99.5243757431629%; background-size: 486.53846153846155% 916.504854368932%; background-image: url(afcat24_aug_2025_0.png);padding: 0; }
div.afcat_ii_24_aug_s186_2::after {max-width:104px; width:100%;height:0;padding: 0 0 99.03846153846153% 0;}
.afcat_ii_24_aug_s186_3 {max-width:117px; max-height:81px; }
.afcat_ii_24_aug_s186_3::after {content: '\00a0';display: inline-block; width:117px; height:81px; background-position: 26.99228791773779% 78.09965237543453%; background-size: 432.4786324786325% 1165.432098765432%; background-image: url(afcat24_aug_2025_0.png);padding: 0; }
div.afcat_ii_24_aug_s186_3::after {max-width:117px; width:100%;height:0;padding: 0 0 69.23076923076923% 0;}
.afcat_ii_24_aug_s186_4 {max-width:102px; max-height:102px; }
.afcat_ii_24_aug_s186_4::after {content: '\00a0';display: inline-block; width:102px; height:102px; background-position: 51.73267326732673% 90.02375296912113%; background-size: 496.078431372549% 925.4901960784314%; background-image: url(afcat24_aug_2025_0.png);padding: 0; }
div.afcat_ii_24_aug_s186_4::after {max-width:102px; width:100%;height:0;padding: 0 0 100% 0;}
.afcat_ii_24_aug_s195_1 {max-width:81px; max-height:81px; }
.afcat_ii_24_aug_s195_1::after {content: '\00a0';display: inline-block; width:81px; height:81px; background-position: 83.52941176470588% 99.07300115874855%; background-size: 624.6913580246913% 1165.432098765432%; background-image: url(afcat24_aug_2025_0.png);padding: 0; }
div.afcat_ii_24_aug_s195_1::after {max-width:81px; width:100%;height:0;padding: 0 0 100% 0;}
.afcat_ii_24_aug_s195_2 {max-width:82px; max-height:82px; }
.afcat_ii_24_aug_s195_2::after {content: '\00a0';display: inline-block; width:82px; height:82px; background-position: 67.21698113207547% 42.11136890951276%; background-size: 617.0731707317074% 1151.219512195122%; background-image: url(afcat24_aug_2025_0.png);padding: 0; }
div.afcat_ii_24_aug_s195_2::after {max-width:82px; width:100%;height:0;padding: 0 0 100% 0;}
.afcat_ii_24_aug_s195_3 {max-width:81px; max-height:81px; }
.afcat_ii_24_aug_s195_3::after {content: '\00a0';display: inline-block; width:81px; height:81px; background-position: 92.70588235294117% 89.45538818076477%; background-size: 624.6913580246913% 1165.432098765432%; background-image: url(afcat24_aug_2025_0.png);padding: 0; }
div.afcat_ii_24_aug_s195_3::after {max-width:81px; width:100%;height:0;padding: 0 0 100% 0;}
.afcat_ii_24_aug_s195_4 {max-width:81px; max-height:81px; }
.afcat_ii_24_aug_s195_4::after {content: '\00a0';display: inline-block; width:81px; height:81px; background-position: 98.3529411764706% 79.95365005793742%; background-size: 624.6913580246913% 1165.432098765432%; background-image: url(afcat24_aug_2025_0.png);padding: 0; }
div.afcat_ii_24_aug_s195_4::after {max-width:81px; width:100%;height:0;padding: 0 0 100% 0;}
.afcat_ii_24_aug_s196 {max-width:247px; max-height:82px; }
.afcat_ii_24_aug_s196::after {content: '\00a0';display: inline-block; width:247px; height:82px; background-position: 92.27799227799228% 17.51740139211137%; background-size: 204.8582995951417% 1151.219512195122%; background-image: url(afcat24_aug_2025_0.png);padding: 0; }
div.afcat_ii_24_aug_s196::after {max-width:247px; width:100%;height:0;padding: 0 0 33.19838056680162% 0;}
.afcat_ii_24_aug_s210 {max-width:363px; max-height:82px; }
.afcat_ii_24_aug_s210::after {content: '\00a0';display: inline-block; width:363px; height:82px; background-position: 0.6993006993006993% 52.66821345707657%; background-size: 139.3939393939394% 1151.219512195122%; background-image: url(afcat24_aug_2025_0.png);padding: 0; }
div.afcat_ii_24_aug_s210::after {max-width:363px; width:100%;height:0;padding: 0 0 22.58953168044077% 0;}
.afcat_ii_24_aug_s210_1 {max-width:81px; max-height:82px; }
.afcat_ii_24_aug_s210_1::after {content: '\00a0';display: inline-block; width:81px; height:82px; background-position: 73.41176470588235% 89.55916473317865%; background-size: 624.6913580246913% 1151.219512195122%; background-image: url(afcat24_aug_2025_0.png);padding: 0; }
div.afcat_ii_24_aug_s210_1::after {max-width:81px; width:100%;height:0;padding: 0 0 101.23456790123457% 0;}
.afcat_ii_24_aug_s210_2 {max-width:82px; max-height:82px; }
.afcat_ii_24_aug_s210_2::after {content: '\00a0';display: inline-block; width:82px; height:82px; background-position: 44.575471698113205% 99.88399071925754%; background-size: 617.0731707317074% 1151.219512195122%; background-image: url(afcat24_aug_2025_0.png);padding: 0; }
div.afcat_ii_24_aug_s210_2::after {max-width:82px; width:100%;height:0;padding: 0 0 100% 0;}
.afcat_ii_24_aug_s210_3 {max-width:82px; max-height:81px; }
.afcat_ii_24_aug_s210_3::after {content: '\00a0';display: inline-block; width:82px; height:81px; background-position: 25% 99.53650057937428%; background-size: 617.0731707317074% 1165.432098765432%; background-image: url(afcat24_aug_2025_0.png);padding: 0; }
div.afcat_ii_24_aug_s210_3::after {max-width:82px; width:100%;height:0;padding: 0 0 98.78048780487805% 0;}
.afcat_ii_24_aug_s210_4 {max-width:82px; max-height:82px; }
.afcat_ii_24_aug_s210_4::after {content: '\00a0';display: inline-block; width:82px; height:82px; background-position: 64.15094339622641% 99.88399071925754%; background-size: 617.0731707317074% 1151.219512195122%; background-image: url(afcat24_aug_2025_0.png);padding: 0; }
div.afcat_ii_24_aug_s210_4::after {max-width:82px; width:100%;height:0;padding: 0 0 100% 0;}
.afcat_ii_24_aug_s214 {max-width:108px; max-height:136px; }
.afcat_ii_24_aug_s214::after {content: '\00a0';display: inline-block; width:108px; height:136px; background-position: 26.381909547738694% 66.46039603960396%; background-size: 468.51851851851853% 694.1176470588235%; background-image: url(afcat24_aug_2025_0.png);padding: 0; }
div.afcat_ii_24_aug_s214::after {max-width:108px; width:100%;height:0;padding: 0 0 125.92592592592592% 0;}
.afcat_ii_24_aug_s214_1 {max-width:81px; max-height:131px; }
.afcat_ii_24_aug_s214_1::after {content: '\00a0';display: inline-block; width:81px; height:131px; background-position: 76.23529411764706% 66.05166051660517%; background-size: 624.6913580246913% 720.6106870229007%; background-image: url(afcat24_aug_2025_0.png);padding: 0; }
div.afcat_ii_24_aug_s214_1::after {max-width:81px; width:100%;height:0;padding: 0 0 161.7283950617284% 0;}
.afcat_ii_24_aug_s214_2 {max-width:93px; max-height:122px; }
.afcat_ii_24_aug_s214_2::after {content: '\00a0';display: inline-block; width:93px; height:122px; background-position: 0.24213075060532688% 86.86131386861314%; background-size: 544.0860215053764% 773.7704918032787%; background-image: url(afcat24_aug_2025_0.png);padding: 0; }
div.afcat_ii_24_aug_s214_2::after {max-width:93px; width:100%;height:0;padding: 0 0 131.18279569892474% 0;}
.afcat_ii_24_aug_s214_3 {max-width:93px; max-height:128px; }
.afcat_ii_24_aug_s214_3::after {content: '\00a0';display: inline-block; width:93px; height:128px; background-position: 57.869249394673126% 28.676470588235293%; background-size: 544.0860215053764% 737.5%; background-image: url(afcat24_aug_2025_0.png);padding: 0; }
div.afcat_ii_24_aug_s214_3::after {max-width:93px; width:100%;height:0;padding: 0 0 137.63440860215053% 0;}
.afcat_ii_24_aug_s214_4 {max-width:108px; max-height:121px; }
.afcat_ii_24_aug_s214_4::after {content: '\00a0';display: inline-block; width:108px; height:121px; background-position: 83.66834170854271% 28.432563791008505%; background-size: 468.51851851851853% 780.1652892561983%; background-image: url(afcat24_aug_2025_0.png);padding: 0; }
div.afcat_ii_24_aug_s214_4::after {max-width:108px; width:100%;height:0;padding: 0 0 112.03703703703704% 0;}
.afcat_ii_24_aug_s219 {max-width:283px; max-height:90px; }
.afcat_ii_24_aug_s219::after {content: '\00a0';display: inline-block; width:283px; height:90px; background-position: 0.4484304932735426% 42.50585480093677%; background-size: 178.79858657243815% 1048.888888888889%; background-image: url(afcat24_aug_2025_0.png);padding: 0; }
div.afcat_ii_24_aug_s219::after {max-width:283px; width:100%;height:0;padding: 0 0 31.802120141342755% 0;}
.afcat_ii_24_aug_s225 {max-width:73px; max-height:97px; }
.afcat_ii_24_aug_s225::after {content: '\00a0';display: inline-block; width:73px; height:97px; background-position: 96.53579676674364% 69.89374262101535%; background-size: 693.1506849315068% 973.1958762886597%; background-image: url(afcat24_aug_2025_0.png);padding: 0; }
div.afcat_ii_24_aug_s225::after {max-width:73px; width:100%;height:0;padding: 0 0 132.87671232876713% 0;}
.afcat_ii_24_aug_s225_1 {max-width:91px; max-height:114px; }
.afcat_ii_24_aug_s225_1::after {content: '\00a0';display: inline-block; width:91px; height:114px; background-position: 53.734939759036145% 77.46987951807229%; background-size: 556.0439560439561% 828.0701754385965%; background-image: url(afcat24_aug_2025_0.png);padding: 0; }
div.afcat_ii_24_aug_s225_1::after {max-width:91px; width:100%;height:0;padding: 0 0 125.27472527472527% 0;}
.afcat_ii_24_aug_s225_2 {max-width:73px; max-height:117px; }
.afcat_ii_24_aug_s225_2::after {content: '\00a0';display: inline-block; width:73px; height:117px; background-position: 84.98845265588915% 43.04715840386941%; background-size: 693.1506849315068% 806.8376068376068%; background-image: url(afcat24_aug_2025_0.png);padding: 0; }
div.afcat_ii_24_aug_s225_2::after {max-width:73px; width:100%;height:0;padding: 0 0 160.27397260273972% 0;}
.afcat_ii_24_aug_s225_3 {max-width:73px; max-height:117px; }
.afcat_ii_24_aug_s225_3::after {content: '\00a0';display: inline-block; width:73px; height:117px; background-position: 93.76443418013857% 57.31559854897219%; background-size: 693.1506849315068% 806.8376068376068%; background-image: url(afcat24_aug_2025_0.png);padding: 0; }
div.afcat_ii_24_aug_s225_3::after {max-width:73px; width:100%;height:0;padding: 0 0 160.27397260273972% 0;}
.afcat_ii_24_aug_s225_4 {max-width:109px; max-height:105px; }
.afcat_ii_24_aug_s225_4::after {content: '\00a0';display: inline-block; width:109px; height:105px; background-position: 53.904282115869016% 64.00476758045292%; background-size: 464.2201834862385% 899.047619047619%; background-image: url(afcat24_aug_2025_0.png);padding: 0; }
div.afcat_ii_24_aug_s225_4::after {max-width:109px; width:100%;height:0;padding: 0 0 96.3302752293578% 0;}
.afcat_ii_24_aug_s29 {max-width:237px; max-height:211px; }
.afcat_ii_24_aug_s29::after {content: '\00a0';display: inline-block; width:237px; height:211px; background-position: 0.37174721189591076% 20.600272851296044%; background-size: 213.50210970464136% 447.39336492890993%; background-image: url(afcat24_aug_2025_0.png);padding: 0; }
div.afcat_ii_24_aug_s29::after {max-width:237px; width:100%;height:0;padding: 0 0 89.0295358649789% 0;}

@keyframes afcat_ii_24_aug_s-frames {
    0% { background-position: 0.37174721189591076% 20.600272851296044%;  }
    12.5% { background-position: 0.24813895781637718% 69.921875%;  }
    25% { background-position: 77.97029702970298% 79.45368171021377%;  }
    37.5% { background-position: 92.27799227799228% 17.51740139211137%;  }
    50% { background-position: 0.6993006993006993% 52.66821345707657%;  }
    62.5% { background-position: 26.381909547738694% 66.46039603960396%;  }
    75% { background-position: 0.4484304932735426% 42.50585480093677%;  }
    87.5% { background-position: 96.53579676674364% 69.89374262101535%;  }
}

.afcat_ii_24_aug_s-animation {
    max-width: 237px;
    max-height: 211px;
}
.afcat_ii_24_aug_s-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 237px;
    height: 211px;
    padding: 0;
    background-image: url(afcat24_aug_2025_0.png);
    background-size: 213.50210970464136% 447.39336492890993%; 
    animation-name: afcat_ii_24_aug_s-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.afcat_ii_24_aug_s-animation::after {
    max-width: 237px;
    width: 100%;
    height: 0;
    padding: 0 0 89.0295358649789% 0;
}

@keyframes afcat_ii_24_aug_s186-frames {
    0% { background-position: 26.237623762376238% 89.78622327790974%;  }
    25% { background-position: 0.24875621890547264% 99.5243757431629%;  }
    50% { background-position: 26.99228791773779% 78.09965237543453%;  }
    75% { background-position: 51.73267326732673% 90.02375296912113%;  }
}

.afcat_ii_24_aug_s186-animation {
    max-width: 102px;
    max-height: 102px;
}
.afcat_ii_24_aug_s186-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 102px;
    height: 102px;
    padding: 0;
    background-image: url(afcat24_aug_2025_0.png);
    background-size: 496.078431372549% 925.4901960784314%; 
    animation-name: afcat_ii_24_aug_s186-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.afcat_ii_24_aug_s186-animation::after {
    max-width: 102px;
    width: 100%;
    height: 0;
    padding: 0 0 100% 0;
}

@keyframes afcat_ii_24_aug_s195-frames {
    0% { background-position: 83.52941176470588% 99.07300115874855%;  }
    25% { background-position: 67.21698113207547% 42.11136890951276%;  }
    50% { background-position: 92.70588235294117% 89.45538818076477%;  }
    75% { background-position: 98.3529411764706% 79.95365005793742%;  }
}

.afcat_ii_24_aug_s195-animation {
    max-width: 81px;
    max-height: 81px;
}
.afcat_ii_24_aug_s195-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 81px;
    height: 81px;
    padding: 0;
    background-image: url(afcat24_aug_2025_0.png);
    background-size: 624.6913580246913% 1165.432098765432%; 
    animation-name: afcat_ii_24_aug_s195-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.afcat_ii_24_aug_s195-animation::after {
    max-width: 81px;
    width: 100%;
    height: 0;
    padding: 0 0 100% 0;
}

@keyframes afcat_ii_24_aug_s210-frames {
    0% { background-position: 73.41176470588235% 89.55916473317865%;  }
    25% { background-position: 44.575471698113205% 99.88399071925754%;  }
    50% { background-position: 25% 99.53650057937428%;  }
    75% { background-position: 64.15094339622641% 99.88399071925754%;  }
}

.afcat_ii_24_aug_s210-animation {
    max-width: 81px;
    max-height: 82px;
}
.afcat_ii_24_aug_s210-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 81px;
    height: 82px;
    padding: 0;
    background-image: url(afcat24_aug_2025_0.png);
    background-size: 624.6913580246913% 1151.219512195122%; 
    animation-name: afcat_ii_24_aug_s210-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.afcat_ii_24_aug_s210-animation::after {
    max-width: 81px;
    width: 100%;
    height: 0;
    padding: 0 0 101.23456790123457% 0;
}

@keyframes afcat_ii_24_aug_s214-frames {
    0% { background-position: 76.23529411764706% 66.05166051660517%;  }
    25% { background-position: 0.24213075060532688% 86.86131386861314%;  }
    50% { background-position: 57.869249394673126% 28.676470588235293%;  }
    75% { background-position: 83.66834170854271% 28.432563791008505%;  }
}

.afcat_ii_24_aug_s214-animation {
    max-width: 81px;
    max-height: 131px;
}
.afcat_ii_24_aug_s214-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 81px;
    height: 131px;
    padding: 0;
    background-image: url(afcat24_aug_2025_0.png);
    background-size: 624.6913580246913% 720.6106870229007%; 
    animation-name: afcat_ii_24_aug_s214-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.afcat_ii_24_aug_s214-animation::after {
    max-width: 81px;
    width: 100%;
    height: 0;
    padding: 0 0 161.7283950617284% 0;
}

@keyframes afcat_ii_24_aug_s225-frames {
    0% { background-position: 53.734939759036145% 77.46987951807229%;  }
    25% { background-position: 84.98845265588915% 43.04715840386941%;  }
    50% { background-position: 93.76443418013857% 57.31559854897219%;  }
    75% { background-position: 53.904282115869016% 64.00476758045292%;  }
}

.afcat_ii_24_aug_s225-animation {
    max-width: 91px;
    max-height: 114px;
}
.afcat_ii_24_aug_s225-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 91px;
    height: 114px;
    padding: 0;
    background-image: url(afcat24_aug_2025_0.png);
    background-size: 556.0439560439561% 828.0701754385965%; 
    animation-name: afcat_ii_24_aug_s225-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.afcat_ii_24_aug_s225-animation::after {
    max-width: 91px;
    width: 100%;
    height: 0;
    padding: 0 0 125.27472527472527% 0;
}

/* $TexturePacker:SmartUpdate:ba77b87deeca327cc625393507110727:47f4516315b85792bc53a86330f6697c:dbe1d88b0d9e2ff586f4e9ada067359c$ */
