/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.afcat_ii_23_aug_s148 {max-width:125px; max-height:140px; }
.afcat_ii_23_aug_s148::after {content: '\00a0';display: inline-block; width:125px; height:140px; background-position: 53.13953488372093% 69.82421875%; background-size: 788% 831.4285714285714%; background-image: url(afcat23_aug_2025_0.png);padding: 0; }
div.afcat_ii_23_aug_s148::after {max-width:125px; width:100%;height:0;padding: 0 0 112% 0;}
.afcat_ii_23_aug_s148_1 {max-width:357px; max-height:150px; }
.afcat_ii_23_aug_s148_1::after {content: '\00a0';display: inline-block; width:357px; height:150px; background-position: 95.85987261146497% 14.003944773175542%; background-size: 275.91036414565826% 776%; background-image: url(afcat23_aug_2025_0.png);padding: 0; }
div.afcat_ii_23_aug_s148_1::after {max-width:357px; width:100%;height:0;padding: 0 0 42.016806722689076% 0;}
.afcat_ii_23_aug_s150 {max-width:455px; max-height:171px; }
.afcat_ii_23_aug_s150::after {content: '\00a0';display: inline-block; width:455px; height:171px; background-position: 0.18867924528301888% 70.39274924471299%; background-size: 216.4835164835165% 680.7017543859649%; background-image: url(afcat23_aug_2025_0.png);padding: 0; }
div.afcat_ii_23_aug_s150::after {max-width:455px; width:100%;height:0;padding: 0 0 37.582417582417584% 0;}
.afcat_ii_23_aug_s155 {max-width:126px; max-height:139px; }
.afcat_ii_23_aug_s155::after {content: '\00a0';display: inline-block; width:126px; height:139px; background-position: 87.19441210710129% 49.170731707317074%; background-size: 781.7460317460317% 837.410071942446%; background-image: url(afcat23_aug_2025_0.png);padding: 0; }
div.afcat_ii_23_aug_s155::after {max-width:126px; width:100%;height:0;padding: 0 0 110.31746031746032% 0;}
.afcat_ii_23_aug_s155_1 {max-width:100px; max-height:100px; }
.afcat_ii_23_aug_s155_1::after {content: '\00a0';display: inline-block; width:100px; height:100px; background-position: 94.23728813559322% 81.01503759398496%; background-size: 985% 1164%; background-image: url(afcat23_aug_2025_0.png);padding: 0; }
div.afcat_ii_23_aug_s155_1::after {max-width:100px; width:100%;height:0;padding: 0 0 100% 0;}
.afcat_ii_23_aug_s155_2 {max-width:100px; max-height:100px; }
.afcat_ii_23_aug_s155_2::after {content: '\00a0';display: inline-block; width:100px; height:100px; background-position: 71.07344632768361% 83.27067669172932%; background-size: 985% 1164%; background-image: url(afcat23_aug_2025_0.png);padding: 0; }
div.afcat_ii_23_aug_s155_2::after {max-width:100px; width:100%;height:0;padding: 0 0 100% 0;}
.afcat_ii_23_aug_s155_3 {max-width:100px; max-height:100px; }
.afcat_ii_23_aug_s155_3::after {content: '\00a0';display: inline-block; width:100px; height:100px; background-position: 82.48587570621469% 83.27067669172932%; background-size: 985% 1164%; background-image: url(afcat23_aug_2025_0.png);padding: 0; }
div.afcat_ii_23_aug_s155_3::after {max-width:100px; width:100%;height:0;padding: 0 0 100% 0;}
.afcat_ii_23_aug_s155_4 {max-width:100px; max-height:100px; }
.afcat_ii_23_aug_s155_4::after {content: '\00a0';display: inline-block; width:100px; height:100px; background-position: 93.89830508474576% 90.50751879699249%; background-size: 985% 1164%; background-image: url(afcat23_aug_2025_0.png);padding: 0; }
div.afcat_ii_23_aug_s155_4::after {max-width:100px; width:100%;height:0;padding: 0 0 100% 0;}
.afcat_ii_23_aug_s159 {max-width:600px; max-height:192px; }
.afcat_ii_23_aug_s159::after {content: '\00a0';display: inline-block; width:600px; height:192px; background-position: 0.2597402597402597% 21.090534979423868%; background-size: 164.16666666666666% 606.25%; background-image: url(afcat23_aug_2025_0.png);padding: 0; }
div.afcat_ii_23_aug_s159::after {max-width:600px; width:100%;height:0;padding: 0 0 32% 0;}
.afcat_ii_23_aug_s159_1 {max-width:124px; max-height:133px; }
.afcat_ii_23_aug_s159_1::after {content: '\00a0';display: inline-block; width:124px; height:133px; background-position: 82.34610917537746% 72.93889427740058%; background-size: 794.3548387096774% 875.187969924812%; background-image: url(afcat23_aug_2025_0.png);padding: 0; }
div.afcat_ii_23_aug_s159_1::after {max-width:124px; width:100%;height:0;padding: 0 0 107.25806451612904% 0;}
.afcat_ii_23_aug_s159_2 {max-width:126px; max-height:131px; }
.afcat_ii_23_aug_s159_2::after {content: '\00a0';display: inline-block; width:126px; height:131px; background-position: 72.0605355064028% 57.502420135527586%; background-size: 781.7460317460317% 888.5496183206106%; background-image: url(afcat23_aug_2025_0.png);padding: 0; }
div.afcat_ii_23_aug_s159_2::after {max-width:126px; width:100%;height:0;padding: 0 0 103.96825396825396% 0;}
.afcat_ii_23_aug_s159_3 {max-width:125px; max-height:132px; }
.afcat_ii_23_aug_s159_3::after {content: '\00a0';display: inline-block; width:125px; height:132px; background-position: 67.79069767441861% 70.34883720930233%; background-size: 788% 881.8181818181819%; background-image: url(afcat23_aug_2025_0.png);padding: 0; }
div.afcat_ii_23_aug_s159_3::after {max-width:125px; width:100%;height:0;padding: 0 0 105.6% 0;}
.afcat_ii_23_aug_s159_4 {max-width:127px; max-height:136px; }
.afcat_ii_23_aug_s159_4::after {content: '\00a0';display: inline-block; width:127px; height:136px; background-position: 87.2960372960373% 35.70038910505836%; background-size: 775.5905511811023% 855.8823529411765%; background-image: url(afcat23_aug_2025_0.png);padding: 0; }
div.afcat_ii_23_aug_s159_4::after {max-width:127px; width:100%;height:0;padding: 0 0 107.08661417322834% 0;}
.afcat_ii_23_aug_s161 {max-width:122px; max-height:111px; }
.afcat_ii_23_aug_s161::after {content: '\00a0';display: inline-block; width:122px; height:111px; background-position: 57.4739281575898% 57.26495726495727%; background-size: 807.3770491803278% 1048.6486486486488%; background-image: url(afcat23_aug_2025_0.png);padding: 0; }
div.afcat_ii_23_aug_s161::after {max-width:122px; width:100%;height:0;padding: 0 0 90.98360655737704% 0;}
.afcat_ii_23_aug_s161_1 {max-width:382px; max-height:140px; }
.afcat_ii_23_aug_s161_1::after {content: '\00a0';display: inline-block; width:382px; height:140px; background-position: 99.83416252072969% 0.09765625%; background-size: 257.85340314136124% 831.4285714285714%; background-image: url(afcat23_aug_2025_0.png);padding: 0; }
div.afcat_ii_23_aug_s161_1::after {max-width:382px; width:100%;height:0;padding: 0 0 36.64921465968586% 0;}
.afcat_ii_23_aug_s169 {max-width:208px; max-height:204px; }
.afcat_ii_23_aug_s169::after {content: '\00a0';display: inline-block; width:208px; height:204px; background-position: 51.737451737451735% 41.458333333333336%; background-size: 473.5576923076923% 570.5882352941177%; background-image: url(afcat23_aug_2025_0.png);padding: 0; }
div.afcat_ii_23_aug_s169::after {max-width:208px; width:100%;height:0;padding: 0 0 98.07692307692308% 0;}
.afcat_ii_23_aug_s1_47 {max-width:400px; max-height:300px; }
.afcat_ii_23_aug_s1_47::after {content: '\00a0';display: inline-block; width:400px; height:300px; background-position: 0.17094017094017094% 46.06481481481482%; background-size: 246.25% 388%; background-image: url(afcat23_aug_2025_0.png);padding: 0; }
div.afcat_ii_23_aug_s1_47::after {max-width:400px; width:100%;height:0;padding: 0 0 75% 0;}
.afcat_ii_23_aug_s249_1 {max-width:95px; max-height:93px; }
.afcat_ii_23_aug_s249_1::after {content: '\00a0';display: inline-block; width:95px; height:93px; background-position: 98.76404494382022% 99.34640522875817%; background-size: 1036.842105263158% 1251.6129032258063%; background-image: url(afcat23_aug_2025_0.png);padding: 0; }
div.afcat_ii_23_aug_s249_1::after {max-width:95px; width:100%;height:0;padding: 0 0 97.89473684210526% 0;}
.afcat_ii_23_aug_s249_2 {max-width:93px; max-height:95px; }
.afcat_ii_23_aug_s249_2::after {content: '\00a0';display: inline-block; width:93px; height:95px; background-position: 45.06726457399103% 56.407857811038355%; background-size: 1059.1397849462367% 1225.2631578947369%; background-image: url(afcat23_aug_2025_0.png);padding: 0; }
div.afcat_ii_23_aug_s249_2::after {max-width:93px; width:100%;height:0;padding: 0 0 102.15053763440861% 0;}
.afcat_ii_23_aug_s249_3 {max-width:137px; max-height:96px; }
.afcat_ii_23_aug_s249_3::after {content: '\00a0';display: inline-block; width:137px; height:96px; background-position: 72.05188679245283% 46.53558052434457%; background-size: 718.978102189781% 1212.5%; background-image: url(afcat23_aug_2025_0.png);padding: 0; }
div.afcat_ii_23_aug_s249_3::after {max-width:137px; width:100%;height:0;padding: 0 0 70.07299270072993% 0;}
.afcat_ii_23_aug_s249_4 {max-width:73px; max-height:37px; }
.afcat_ii_23_aug_s249_4::after {content: '\00a0';display: inline-block; width:73px; height:37px; background-position: 54.276315789473685% 98.84649511978705%; background-size: 1349.3150684931506% 3145.945945945946%; background-image: url(afcat23_aug_2025_0.png);padding: 0; }
div.afcat_ii_23_aug_s249_4::after {max-width:73px; width:100%;height:0;padding: 0 0 50.68493150684932% 0;}
.afcat_ii_23_aug_s253 {max-width:124px; max-height:107px; }
.afcat_ii_23_aug_s253::after {content: '\00a0';display: inline-block; width:124px; height:107px; background-position: 86.64343786295005% 60.9271523178808%; background-size: 794.3548387096774% 1087.8504672897195%; background-image: url(afcat23_aug_2025_0.png);padding: 0; }
div.afcat_ii_23_aug_s253::after {max-width:124px; width:100%;height:0;padding: 0 0 86.29032258064517% 0;}
.afcat_ii_23_aug_s253_1 {max-width:108px; max-height:108px; }
.afcat_ii_23_aug_s253_1::after {content: '\00a0';display: inline-block; width:108px; height:108px; background-position: 99.88597491448118% 47.72727272727273%; background-size: 912.0370370370371% 1077.7777777777778%; background-image: url(afcat23_aug_2025_0.png);padding: 0; }
div.afcat_ii_23_aug_s253_1::after {max-width:108px; width:100%;height:0;padding: 0 0 100% 0;}
.afcat_ii_23_aug_s253_2 {max-width:109px; max-height:109px; }
.afcat_ii_23_aug_s253_2::after {content: '\00a0';display: inline-block; width:109px; height:109px; background-position: 95.20547945205479% 71.27962085308057%; background-size: 903.6697247706422% 1067.8899082568807%; background-image: url(afcat23_aug_2025_0.png);padding: 0; }
div.afcat_ii_23_aug_s253_2::after {max-width:109px; width:100%;height:0;padding: 0 0 100% 0;}
.afcat_ii_23_aug_s253_3 {max-width:105px; max-height:105px; }
.afcat_ii_23_aug_s253_3::after {content: '\00a0';display: inline-block; width:105px; height:105px; background-position: 99.54545454545455% 57.8847969782814%; background-size: 938.0952380952381% 1108.5714285714287%; background-image: url(afcat23_aug_2025_0.png);padding: 0; }
div.afcat_ii_23_aug_s253_3::after {max-width:105px; width:100%;height:0;padding: 0 0 100% 0;}
.afcat_ii_23_aug_s253_4 {max-width:106px; max-height:106px; }
.afcat_ii_23_aug_s253_4::after {content: '\00a0';display: inline-block; width:106px; height:106px; background-position: 99.77246871444824% 34.688090737240074%; background-size: 929.2452830188679% 1098.1132075471698%; background-image: url(afcat23_aug_2025_0.png);padding: 0; }
div.afcat_ii_23_aug_s253_4::after {max-width:106px; width:100%;height:0;padding: 0 0 100% 0;}
.afcat_ii_23_aug_s255 {max-width:137px; max-height:129px; }
.afcat_ii_23_aug_s255::after {content: '\00a0';display: inline-block; width:137px; height:129px; background-position: 72.05188679245283% 35.45893719806763%; background-size: 718.978102189781% 902.3255813953489%; background-image: url(afcat23_aug_2025_0.png);padding: 0; }
div.afcat_ii_23_aug_s255::after {max-width:137px; width:100%;height:0;padding: 0 0 94.16058394160584% 0;}
.afcat_ii_23_aug_s255_1 {max-width:493px; max-height:136px; }
.afcat_ii_23_aug_s255_1::after {content: '\00a0';display: inline-block; width:493px; height:136px; background-position: 0.2032520325203252% 98.34630350194553%; background-size: 199.79716024340772% 855.8823529411765%; background-image: url(afcat23_aug_2025_0.png);padding: 0; }
div.afcat_ii_23_aug_s255_1::after {max-width:493px; width:100%;height:0;padding: 0 0 27.586206896551722% 0;}
.afcat_ii_23_aug_s257 {max-width:600px; max-height:203px; }
.afcat_ii_23_aug_s257::after {content: '\00a0';display: inline-block; width:600px; height:203px; background-position: 0.2597402597402597% 0.1040582726326743%; background-size: 164.16666666666666% 573.3990147783251%; background-image: url(afcat23_aug_2025_0.png);padding: 0; }
div.afcat_ii_23_aug_s257::after {max-width:600px; width:100%;height:0;padding: 0 0 33.833333333333336% 0;}
.afcat_ii_23_aug_s257_1 {max-width:97px; max-height:100px; }
.afcat_ii_23_aug_s257_1::after {content: '\00a0';display: inline-block; width:97px; height:100px; background-position: 77.13963963963964% 92.76315789473684%; background-size: 1015.4639175257732% 1164%; background-image: url(afcat23_aug_2025_0.png);padding: 0; }
div.afcat_ii_23_aug_s257_1::after {max-width:97px; width:100%;height:0;padding: 0 0 103.09278350515464% 0;}
.afcat_ii_23_aug_s257_2 {max-width:94px; max-height:101px; }
.afcat_ii_23_aug_s257_2::after {content: '\00a0';display: inline-block; width:94px; height:101px; background-position: 66.21773288439955% 93.79115710253998%; background-size: 1047.872340425532% 1152.4752475247524%; background-image: url(afcat23_aug_2025_0.png);padding: 0; }
div.afcat_ii_23_aug_s257_2::after {max-width:94px; width:100%;height:0;padding: 0 0 107.44680851063829% 0;}
.afcat_ii_23_aug_s257_3 {max-width:94px; max-height:102px; }
.afcat_ii_23_aug_s257_3::after {content: '\00a0';display: inline-block; width:94px; height:102px; background-position: 55.55555555555556% 95.19774011299435%; background-size: 1047.872340425532% 1141.1764705882354%; background-image: url(afcat23_aug_2025_0.png);padding: 0; }
div.afcat_ii_23_aug_s257_3::after {max-width:94px; width:100%;height:0;padding: 0 0 108.51063829787235% 0;}
.afcat_ii_23_aug_s257_4 {max-width:95px; max-height:99px; }
.afcat_ii_23_aug_s257_4::after {content: '\00a0';display: inline-block; width:95px; height:99px; background-position: 87.97752808988764% 99.90610328638498%; background-size: 1036.842105263158% 1175.7575757575758%; background-image: url(afcat23_aug_2025_0.png);padding: 0; }
div.afcat_ii_23_aug_s257_4::after {max-width:95px; width:100%;height:0;padding: 0 0 104.21052631578948% 0;}
.afcat_ii_23_aug_s260 {max-width:114px; max-height:137px; }
.afcat_ii_23_aug_s260::after {content: '\00a0';display: inline-block; width:114px; height:137px; background-position: 59.01262916188289% 83.64167478091528%; background-size: 864.0350877192982% 849.6350364963504%; background-image: url(afcat23_aug_2025_0.png);padding: 0; }
div.afcat_ii_23_aug_s260::after {max-width:114px; width:100%;height:0;padding: 0 0 120.17543859649123% 0;}
.afcat_ii_23_aug_s260_1 {max-width:512px; max-height:139px; }
.afcat_ii_23_aug_s260_1::after {content: '\00a0';display: inline-block; width:512px; height:139px; background-position: 0.21141649048625794% 84.97560975609755%; background-size: 192.3828125% 837.410071942446%; background-image: url(afcat23_aug_2025_0.png);padding: 0; }
div.afcat_ii_23_aug_s260_1::after {max-width:512px; width:100%;height:0;padding: 0 0 27.1484375% 0;}
.afcat_ii_23_aug_s265 {max-width:328px; max-height:73px; }
.afcat_ii_23_aug_s265::after {content: '\00a0';display: inline-block; width:328px; height:73px; background-position: 91.62861491628615% 26.85609532538955%; background-size: 300.3048780487805% 1594.5205479452054%; background-image: url(afcat23_aug_2025_0.png);padding: 0; }
div.afcat_ii_23_aug_s265::after {max-width:328px; width:100%;height:0;padding: 0 0 22.25609756097561% 0;}

@keyframes afcat_ii_23_aug_s-frames {
    0% { background-position: 53.13953488372093% 69.82421875%;  }
    9.090909090909092% { background-position: 0.18867924528301888% 70.39274924471299%;  }
    18.181818181818183% { background-position: 87.19441210710129% 49.170731707317074%;  }
    27.27272727272727% { background-position: 0.2597402597402597% 21.090534979423868%;  }
    36.36363636363637% { background-position: 57.4739281575898% 57.26495726495727%;  }
    45.45454545454545% { background-position: 51.737451737451735% 41.458333333333336%;  }
    54.54545454545454% { background-position: 86.64343786295005% 60.9271523178808%;  }
    63.63636363636363% { background-position: 72.05188679245283% 35.45893719806763%;  }
    72.72727272727273% { background-position: 0.2597402597402597% 0.1040582726326743%;  }
    81.81818181818183% { background-position: 59.01262916188289% 83.64167478091528%;  }
    90.9090909090909% { background-position: 91.62861491628615% 26.85609532538955%;  }
}

.afcat_ii_23_aug_s-animation {
    max-width: 125px;
    max-height: 140px;
}
.afcat_ii_23_aug_s-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 125px;
    height: 140px;
    padding: 0;
    background-image: url(afcat23_aug_2025_0.png);
    background-size: 788% 831.4285714285714%; 
    animation-name: afcat_ii_23_aug_s-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.afcat_ii_23_aug_s-animation::after {
    max-width: 125px;
    width: 100%;
    height: 0;
    padding: 0 0 112% 0;
}

@keyframes afcat_ii_23_aug_s155-frames {
    0% { background-position: 94.23728813559322% 81.01503759398496%;  }
    25% { background-position: 71.07344632768361% 83.27067669172932%;  }
    50% { background-position: 82.48587570621469% 83.27067669172932%;  }
    75% { background-position: 93.89830508474576% 90.50751879699249%;  }
}

.afcat_ii_23_aug_s155-animation {
    max-width: 100px;
    max-height: 100px;
}
.afcat_ii_23_aug_s155-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 0;
    background-image: url(afcat23_aug_2025_0.png);
    background-size: 985% 1164%; 
    animation-name: afcat_ii_23_aug_s155-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.afcat_ii_23_aug_s155-animation::after {
    max-width: 100px;
    width: 100%;
    height: 0;
    padding: 0 0 100% 0;
}

@keyframes afcat_ii_23_aug_s159-frames {
    0% { background-position: 82.34610917537746% 72.93889427740058%;  }
    25% { background-position: 72.0605355064028% 57.502420135527586%;  }
    50% { background-position: 67.79069767441861% 70.34883720930233%;  }
    75% { background-position: 87.2960372960373% 35.70038910505836%;  }
}

.afcat_ii_23_aug_s159-animation {
    max-width: 124px;
    max-height: 133px;
}
.afcat_ii_23_aug_s159-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 124px;
    height: 133px;
    padding: 0;
    background-image: url(afcat23_aug_2025_0.png);
    background-size: 794.3548387096774% 875.187969924812%; 
    animation-name: afcat_ii_23_aug_s159-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.afcat_ii_23_aug_s159-animation::after {
    max-width: 124px;
    width: 100%;
    height: 0;
    padding: 0 0 107.25806451612904% 0;
}

@keyframes afcat_ii_23_aug_s249-frames {
    0% { background-position: 98.76404494382022% 99.34640522875817%;  }
    25% { background-position: 45.06726457399103% 56.407857811038355%;  }
    50% { background-position: 72.05188679245283% 46.53558052434457%;  }
    75% { background-position: 54.276315789473685% 98.84649511978705%;  }
}

.afcat_ii_23_aug_s249-animation {
    max-width: 95px;
    max-height: 93px;
}
.afcat_ii_23_aug_s249-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 95px;
    height: 93px;
    padding: 0;
    background-image: url(afcat23_aug_2025_0.png);
    background-size: 1036.842105263158% 1251.6129032258063%; 
    animation-name: afcat_ii_23_aug_s249-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.afcat_ii_23_aug_s249-animation::after {
    max-width: 95px;
    width: 100%;
    height: 0;
    padding: 0 0 97.89473684210526% 0;
}

@keyframes afcat_ii_23_aug_s253-frames {
    0% { background-position: 99.88597491448118% 47.72727272727273%;  }
    25% { background-position: 95.20547945205479% 71.27962085308057%;  }
    50% { background-position: 99.54545454545455% 57.8847969782814%;  }
    75% { background-position: 99.77246871444824% 34.688090737240074%;  }
}

.afcat_ii_23_aug_s253-animation {
    max-width: 108px;
    max-height: 108px;
}
.afcat_ii_23_aug_s253-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 108px;
    height: 108px;
    padding: 0;
    background-image: url(afcat23_aug_2025_0.png);
    background-size: 912.0370370370371% 1077.7777777777778%; 
    animation-name: afcat_ii_23_aug_s253-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.afcat_ii_23_aug_s253-animation::after {
    max-width: 108px;
    width: 100%;
    height: 0;
    padding: 0 0 100% 0;
}

@keyframes afcat_ii_23_aug_s257-frames {
    0% { background-position: 77.13963963963964% 92.76315789473684%;  }
    25% { background-position: 66.21773288439955% 93.79115710253998%;  }
    50% { background-position: 55.55555555555556% 95.19774011299435%;  }
    75% { background-position: 87.97752808988764% 99.90610328638498%;  }
}

.afcat_ii_23_aug_s257-animation {
    max-width: 97px;
    max-height: 100px;
}
.afcat_ii_23_aug_s257-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 97px;
    height: 100px;
    padding: 0;
    background-image: url(afcat23_aug_2025_0.png);
    background-size: 1015.4639175257732% 1164%; 
    animation-name: afcat_ii_23_aug_s257-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.afcat_ii_23_aug_s257-animation::after {
    max-width: 97px;
    width: 100%;
    height: 0;
    padding: 0 0 103.09278350515464% 0;
}

/* $TexturePacker:SmartUpdate:dd632da31b804aafcf43a8ae72f838e0:49287e5b32840a22d0f61a91e5b6e9c1:dd79eef1b456514b68d3eb84da872e37$ */
