/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.JEEMAINS_10APRIL_2023_S2_S_31 {max-width:547px; max-height:302px; }
.JEEMAINS_10APRIL_2023_S2_S_31::after {content: '\00a0';display: inline-block; width:547px; height:302px; background-position: 0.2145922746781116% 0.09699321047526673%; background-size: 185.19195612431443% 441.3907284768212%; background-image: url(p_11_gravitation2_0.png);padding: 0; }
div.JEEMAINS_10APRIL_2023_S2_S_31::after {max-width:547px; width:100%;height:0;padding: 0 0 55.21023765996344% 0;}
.JEEMAINS_10APRIL_2023_S2_S_33 {max-width:382px; max-height:187px; }
.JEEMAINS_10APRIL_2023_S2_S_33::after {content: '\00a0';display: inline-block; width:382px; height:187px; background-position: 0.15847860538827258% 26.527050610820243%; background-size: 265.18324607329845% 712.8342245989305%; background-image: url(p_11_gravitation2_0.png);padding: 0; }
div.JEEMAINS_10APRIL_2023_S2_S_33::after {max-width:382px; width:100%;height:0;padding: 0 0 48.952879581151834% 0;}
.JEEMAINS_15APRIL_2023_S1_S_39 {max-width:242px; max-height:132px; }
.JEEMAINS_15APRIL_2023_S1_S_39::after {content: '\00a0';display: inline-block; width:242px; height:132px; background-position: 58.75486381322957% 79.26727726894255%; background-size: 418.59504132231405% 1009.8484848484849%; background-image: url(p_11_gravitation2_0.png);padding: 0; }
div.JEEMAINS_15APRIL_2023_S1_S_39::after {max-width:242px; width:100%;height:0;padding: 0 0 54.54545454545455% 0;}
.JEEMAINS_15APRIL_2023_S1_S_40 {max-width:137px; max-height:250px; }
.JEEMAINS_15APRIL_2023_S1_S_40::after {content: '\00a0';display: inline-block; width:137px; height:250px; background-position: 99.31506849315069% 0.09233610341643583%; background-size: 739.4160583941606% 533.2%; background-image: url(p_11_gravitation2_0.png);padding: 0; }
div.JEEMAINS_15APRIL_2023_S1_S_40::after {max-width:137px; width:100%;height:0;padding: 0 0 182.4817518248175% 0;}
.JEEMAINS_24JAN_2023_S2_S_8 {max-width:240px; max-height:162px; }
.JEEMAINS_24JAN_2023_S2_S_8::after {content: '\00a0';display: inline-block; width:240px; height:162px; background-position: 63.51875808538163% 67.37830913748932%; background-size: 422.0833333333333% 822.8395061728395%; background-image: url(p_11_gravitation2_0.png);padding: 0; }
div.JEEMAINS_24JAN_2023_S2_S_8::after {max-width:240px; width:100%;height:0;padding: 0 0 67.5% 0;}
.JEEMAINS_25JAN_S1_S_5 {max-width:188px; max-height:181px; }
.JEEMAINS_25JAN_S1_S_5::after {content: '\00a0';display: inline-block; width:188px; height:181px; background-position: 36.60606060606061% 52.951388888888886%; background-size: 538.8297872340426% 736.4640883977901%; background-image: url(p_11_gravitation2_0.png);padding: 0; }
div.JEEMAINS_25JAN_S1_S_5::after {max-width:188px; width:100%;height:0;padding: 0 0 96.27659574468085% 0;}
.JEEMAINS_29JAN_S1_S_12 {max-width:183px; max-height:142px; }
.JEEMAINS_29JAN_S1_S_12::after {content: '\00a0';display: inline-block; width:183px; height:142px; background-position: 36.3855421686747% 66.49874055415617%; background-size: 553.551912568306% 938.7323943661971%; background-image: url(p_11_gravitation2_0.png);padding: 0; }
div.JEEMAINS_29JAN_S1_S_12::after {max-width:183px; width:100%;height:0;padding: 0 0 77.59562841530055% 0;}
.JEEMAINS_8APRIL_2023_S2_S_32 {max-width:255px; max-height:262px; }
.JEEMAINS_8APRIL_2023_S2_S_32::after {content: '\00a0';display: inline-block; width:255px; height:262px; background-position: 71.2401055408971% 30.905695611577965%; background-size: 397.2549019607843% 508.77862595419845%; background-image: url(p_11_gravitation2_0.png);padding: 0; }
div.JEEMAINS_8APRIL_2023_S2_S_32::after {max-width:255px; width:100%;height:0;padding: 0 0 102.74509803921569% 0;}
.JEE_29_Jan_2024_Shift_1_47_s {max-width:102px; max-height:137px; }
.JEE_29_Jan_2024_Shift_1_47_s::after {content: '\00a0';display: inline-block; width:102px; height:137px; background-position: 95.49945115257958% 21.070234113712374%; background-size: 993.1372549019608% 972.992700729927%; background-image: url(p_11_gravitation2_0.png);padding: 0; }
div.JEE_29_Jan_2024_Shift_1_47_s::after {max-width:102px; width:100%;height:0;padding: 0 0 134.31372549019608% 0;}
.JEE_31_Jan_2024_Shift_1_37_s {max-width:170px; max-height:135px; }
.JEE_31_Jan_2024_Shift_1_37_s::after {content: '\00a0';display: inline-block; width:170px; height:135px; background-position: 33.45195729537367% 78.04674457429049%; background-size: 595.8823529411765% 987.4074074074074%; background-image: url(p_11_gravitation2_0.png);padding: 0; }
div.JEE_31_Jan_2024_Shift_1_37_s::after {max-width:170px; width:100%;height:0;padding: 0 0 79.41176470588235% 0;}
.JEE_MAIN_4APRIL_2024_S1_S_37 {max-width:216px; max-height:121px; }
.JEE_MAIN_4APRIL_2024_S1_S_37::after {content: '\00a0';display: inline-block; width:216px; height:121px; background-position: 0.12547051442910917% 94.8019801980198%; background-size: 468.98148148148147% 1101.6528925619834%; background-image: url(p_11_gravitation2_0.png);padding: 0; }
div.JEE_MAIN_4APRIL_2024_S1_S_37::after {max-width:216px; width:100%;height:0;padding: 0 0 56.01851851851852% 0;}
.JEE_MAIN_4APRIL_2024_S2_S_38 {max-width:188px; max-height:120px; }
.JEE_MAIN_4APRIL_2024_S2_S_38::after {content: '\00a0';display: inline-block; width:188px; height:120px; background-position: 73.0909090909091% 99.91755976916735%; background-size: 538.8297872340426% 1110.8333333333333%; background-image: url(p_11_gravitation2_0.png);padding: 0; }
div.JEE_MAIN_4APRIL_2024_S2_S_38::after {max-width:188px; width:100%;height:0;padding: 0 0 63.829787234042556% 0;}
.JEE_MAIN_9APRIL_2024_S2_S_41 {max-width:212px; max-height:194px; }
.JEE_MAIN_9APRIL_2024_S2_S_41::after {content: '\00a0';display: inline-block; width:212px; height:194px; background-position: 67.41573033707866% 52.15100965759438%; background-size: 477.8301886792453% 687.1134020618557%; background-image: url(p_11_gravitation2_0.png);padding: 0; }
div.JEE_MAIN_9APRIL_2024_S2_S_41::after {max-width:212px; width:100%;height:0;padding: 0 0 91.50943396226415% 0;}
.je_mn_22_jan_2026_s1_q_44 {max-width:300px; max-height:228px; }
.je_mn_22_jan_2026_s1_q_44::after {content: '\00a0';display: inline-block; width:300px; height:228px; background-position: 0.1402524544179523% 44.52488687782805%; background-size: 337.6666666666667% 584.6491228070175%; background-image: url(p_11_gravitation2_0.png);padding: 0; }
div.je_mn_22_jan_2026_s1_q_44::after {max-width:300px; width:100%;height:0;padding: 0 0 76% 0;}
.jee_mains_26_jun_2022_s1_66_a {max-width:280px; max-height:219px; }
.jee_mains_26_jun_2022_s1_66_a::after {content: '\00a0';display: inline-block; width:280px; height:219px; background-position: 0.1364256480218281% 83.3931777378815%; background-size: 361.7857142857143% 608.675799086758%; background-image: url(p_11_gravitation2_0.png);padding: 0; }
div.jee_mains_26_jun_2022_s1_66_a::after {max-width:280px; width:100%;height:0;padding: 0 0 78.21428571428571% 0;}
.jee_mains_26_jun_2022_s1_66_b {max-width:280px; max-height:218px; }
.jee_mains_26_jun_2022_s1_66_b::after {content: '\00a0';display: inline-block; width:280px; height:218px; background-position: 99.86357435197817% 71.30044843049328%; background-size: 361.7857142857143% 611.4678899082569%; background-image: url(p_11_gravitation2_0.png);padding: 0; }
div.jee_mains_26_jun_2022_s1_66_b::after {max-width:280px; width:100%;height:0;padding: 0 0 77.85714285714286% 0;}
.jee_mains_26_jun_2022_s1_66_c {max-width:280px; max-height:197px; }
.jee_mains_26_jun_2022_s1_66_c::after {content: '\00a0';display: inline-block; width:280px; height:197px; background-position: 94.95225102319236% 89.2605633802817%; background-size: 361.7857142857143% 676.6497461928934%; background-image: url(p_11_gravitation2_0.png);padding: 0; }
div.jee_mains_26_jun_2022_s1_66_c::after {max-width:280px; width:100%;height:0;padding: 0 0 70.35714285714286% 0;}
.jee_mains_26_jun_2022_s1_66_d {max-width:300px; max-height:207px; }
.jee_mains_26_jun_2022_s1_66_d::after {content: '\00a0';display: inline-block; width:300px; height:207px; background-position: 0.1402524544179523% 64.03197158081706%; background-size: 337.6666666666667% 643.9613526570048%; background-image: url(p_11_gravitation2_0.png);padding: 0; }
div.jee_mains_26_jun_2022_s1_66_d::after {max-width:300px; width:100%;height:0;padding: 0 0 69% 0;}
.jee_mains_27_jun_2022_s2_36 {max-width:215px; max-height:243px; }
.jee_mains_27_jun_2022_s2_36::after {content: '\00a0';display: inline-block; width:215px; height:243px; background-position: 99.74937343358395% 35.77981651376147%; background-size: 471.16279069767444% 548.559670781893%; background-image: url(p_11_gravitation2_0.png);padding: 0; }
div.jee_mains_27_jun_2022_s2_36::after {max-width:215px; width:100%;height:0;padding: 0 0 113.02325581395348% 0;}
.jee_mains_28_jun_2022_s2_36_sol {max-width:200px; max-height:40px; }
.jee_mains_28_jun_2022_s2_36_sol::after {content: '\00a0';display: inline-block; width:200px; height:40px; background-position: 0.12300123001230012% 98.2985305491106%; background-size: 506.5% 3332.5%; background-image: url(p_11_gravitation2_0.png);padding: 0; }
div.jee_mains_28_jun_2022_s2_36_sol::after {max-width:200px; width:100%;height:0;padding: 0 0 20% 0;}
.jee_mn_22_jan_2025_s1_q_42 {max-width:246px; max-height:160px; }
.jee_mn_22_jan_2025_s1_q_42::after {content: '\00a0';display: inline-block; width:246px; height:160px; background-position: 98.17470664928292% 54.049445865302644%; background-size: 411.7886178861789% 833.125%; background-image: url(p_11_gravitation2_0.png);padding: 0; }
div.jee_mn_22_jan_2025_s1_q_42::after {max-width:246px; width:100%;height:0;padding: 0 0 65.04065040650407% 0;}
.jee_mn_24_jan_2025_s1_sol_29 {max-width:320px; max-height:329px; }
.jee_mn_24_jan_2025_s1_sol_29::after {content: '\00a0';display: inline-block; width:320px; height:329px; background-position: 79.22077922077922% 0.099601593625498%; background-size: 316.5625% 405.1671732522796%; background-image: url(p_11_gravitation2_0.png);padding: 0; }
div.jee_mn_24_jan_2025_s1_sol_29::after {max-width:320px; width:100%;height:0;padding: 0 0 102.8125% 0;}
.jee_mn_25_jul_2022_s1_66_sol {max-width:320px; max-height:202px; }
.jee_mn_25_jul_2022_s1_66_sol::after {content: '\00a0';display: inline-block; width:320px; height:202px; background-position: 40.692640692640694% 95.93280282935456%; background-size: 316.5625% 659.9009900990098%; background-image: url(p_11_gravitation2_0.png);padding: 0; }
div.jee_mn_25_jul_2022_s1_66_sol::after {max-width:320px; width:100%;height:0;padding: 0 0 63.125% 0;}
.jee_mn_27_jul_2022_s1_36_sol {max-width:155px; max-height:305px; }
.jee_mn_27_jul_2022_s1_36_sol::after {content: '\00a0';display: inline-block; width:155px; height:305px; background-position: 44.75524475524475% 29.571984435797667%; background-size: 653.5483870967741% 437.04918032786884%; background-image: url(p_11_gravitation2_0.png);padding: 0; }
div.jee_mn_27_jul_2022_s1_36_sol::after {max-width:155px; width:100%;height:0;padding: 0 0 196.7741935483871% 0;}

@keyframes JEEMAINS_10APRIL_2023_S2_S-frames {
    0% { background-position: 0.2145922746781116% 0.09699321047526673%;  }
    50% { background-position: 0.15847860538827258% 26.527050610820243%;  }
}

.JEEMAINS_10APRIL_2023_S2_S-animation {
    max-width: 547px;
    max-height: 302px;
}
.JEEMAINS_10APRIL_2023_S2_S-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 547px;
    height: 302px;
    padding: 0;
    background-image: url(p_11_gravitation2_0.png);
    background-size: 185.19195612431443% 441.3907284768212%; 
    animation-name: JEEMAINS_10APRIL_2023_S2_S-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEEMAINS_10APRIL_2023_S2_S-animation::after {
    max-width: 547px;
    width: 100%;
    height: 0;
    padding: 0 0 55.21023765996344% 0;
}

@keyframes JEEMAINS_15APRIL_2023_S1_S-frames {
    0% { background-position: 58.75486381322957% 79.26727726894255%;  }
    50% { background-position: 99.31506849315069% 0.09233610341643583%;  }
}

.JEEMAINS_15APRIL_2023_S1_S-animation {
    max-width: 242px;
    max-height: 132px;
}
.JEEMAINS_15APRIL_2023_S1_S-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 242px;
    height: 132px;
    padding: 0;
    background-image: url(p_11_gravitation2_0.png);
    background-size: 418.59504132231405% 1009.8484848484849%; 
    animation-name: JEEMAINS_15APRIL_2023_S1_S-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEEMAINS_15APRIL_2023_S1_S-animation::after {
    max-width: 242px;
    width: 100%;
    height: 0;
    padding: 0 0 54.54545454545455% 0;
}

/* $TexturePacker:SmartUpdate:68b6ba3aa7e9544dde210d74814c9ef2:cdbbdc61218976cc0d7e18c1c2a4faee:79f7f17e3bba3189c1d203487047def0$ */
