/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.JEEMAINS_25JAN_S2_S_22 {max-width:345px; max-height:143px; }
.JEEMAINS_25JAN_S2_S_22::after {content: '\00a0';display: inline-block; width:345px; height:143px; background-position: 0.08210180623973727% 1.1111111111111112%; background-size: 453.04347826086956% 162.93706293706293%; background-image: url(p_11_waves2_0.png);padding: 0; }
div.JEEMAINS_25JAN_S2_S_22::after {max-width:345px; width:100%;height:0;padding: 0 0 41.44927536231884% 0;}
.JEE_27_Jan_2024_Shift_2_53_s {max-width:311px; max-height:101px; }
.JEE_27_Jan_2024_Shift_2_53_s::after {content: '\00a0';display: inline-block; width:311px; height:101px; background-position: 53.43450479233227% 0.7575757575757576%; background-size: 502.572347266881% 230.69306930693068%; background-image: url(p_11_waves2_0.png);padding: 0; }
div.JEE_27_Jan_2024_Shift_2_53_s::after {max-width:311px; width:100%;height:0;padding: 0 0 32.47588424437299% 0;}
.JEE_31_Jan_2024_Shift_1_45_s {max-width:321px; max-height:198px; }
.JEE_31_Jan_2024_Shift_1_45_s::after {content: '\00a0';display: inline-block; width:321px; height:198px; background-position: 27.938808373590984% 2.857142857142857%; background-size: 486.9158878504673% 117.67676767676768%; background-image: url(p_11_waves2_0.png);padding: 0; }
div.JEE_31_Jan_2024_Shift_1_45_s::after {max-width:321px; width:100%;height:0;padding: 0 0 61.6822429906542% 0;}
.JEE_MAIN_5APRIL_2024_S2_S_54 {max-width:249px; max-height:120px; }
.JEE_MAIN_5APRIL_2024_S2_S_54::after {content: '\00a0';display: inline-block; width:249px; height:120px; background-position: 50.91324200913242% 91.15044247787611%; background-size: 627.710843373494% 194.16666666666666%; background-image: url(p_11_waves2_0.png);padding: 0; }
div.JEE_MAIN_5APRIL_2024_S2_S_54::after {max-width:249px; width:100%;height:0;padding: 0 0 48.19277108433735% 0;}
.je_mn_22_jan_2026_s1_q_47 {max-width:300px; max-height:211px; }
.je_mn_22_jan_2026_s1_q_47::after {content: '\00a0';display: inline-block; width:300px; height:211px; background-position: 77.67220902612827% 4.545454545454546%; background-size: 521% 110.42654028436019%; background-image: url(p_11_waves2_0.png);padding: 0; }
div.je_mn_22_jan_2026_s1_q_47::after {max-width:300px; width:100%;height:0;padding: 0 0 70.33333333333333% 0;}
.jee_mn_25_jul_2022_s1_85_sol {max-width:320px; max-height:87px; }
.jee_mn_25_jul_2022_s1_85_sol::after {content: '\00a0';display: inline-block; width:320px; height:87px; background-position: 0.08045052292839903% 99.31506849315069%; background-size: 488.4375% 267.81609195402297%; background-image: url(p_11_waves2_0.png);padding: 0; }
div.jee_mn_25_jul_2022_s1_85_sol::after {max-width:320px; width:100%;height:0;padding: 0 0 27.1875% 0;}
.jee_mn_28_jul_2022_s2_57_sol {max-width:280px; max-height:199px; }
.jee_mn_28_jul_2022_s2_57_sol::after {content: '\00a0';display: inline-block; width:280px; height:199px; background-position: 99.92205767731879% 2.9411764705882355%; background-size: 558.2142857142857% 117.08542713567839%; background-image: url(p_11_waves2_0.png);padding: 0; }
div.jee_mn_28_jul_2022_s2_57_sol::after {max-width:280px; width:100%;height:0;padding: 0 0 71.07142857142857% 0;}


/* $TexturePacker:SmartUpdate:84f0892e83fd0b758fda60ffe554becb:beadec2c4eff7dfbcc8b50c3103e9068:1518f516fdb179c79c748c74bf664559$ */
