/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.AIEEE_2002_Phy_3sol {max-width:362px; max-height:219px; }
.AIEEE_2002_Phy_3sol::after {content: '\00a0';display: inline-block; width:362px; height:219px; background-position: 33.01767676767677% 38.729281767955804%; background-size: 537.5690607734807% 926.4840182648402%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.AIEEE_2002_Phy_3sol::after {max-width:362px; width:100%;height:0;padding: 0 0 60.49723756906077% 0;}
.AIEEE_2005_Phy_2sol {max-width:320px; max-height:111px; }
.AIEEE_2005_Phy_2sol::after {content: '\00a0';display: inline-block; width:320px; height:111px; background-position: 98.0319803198032% 0.05213764337851929%; background-size: 608.125% 1827.9279279279278%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.AIEEE_2005_Phy_2sol::after {max-width:320px; width:100%;height:0;padding: 0 0 34.6875% 0;}
.AIEEE_2005_Phy_6sol {max-width:98px; max-height:220px; }
.AIEEE_2005_Phy_6sol::after {content: '\00a0';display: inline-block; width:98px; height:220px; background-position: 94.31818181818181% 71.08899944720841%; background-size: 1985.7142857142858% 922.2727272727273%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.AIEEE_2005_Phy_6sol::after {max-width:98px; width:100%;height:0;padding: 0 0 224.48979591836735% 0;}
.AIEEE_2008_Phy_35a {max-width:232px; max-height:184px; }
.AIEEE_2008_Phy_35a::after {content: '\00a0';display: inline-block; width:232px; height:184px; background-position: 79.98833138856476% 73.87533875338754%; background-size: 838.7931034482758% 1102.7173913043478%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.AIEEE_2008_Phy_35a::after {max-width:232px; width:100%;height:0;padding: 0 0 79.3103448275862% 0;}
.AIEEE_2008_Phy_35b {max-width:245px; max-height:186px; }
.AIEEE_2008_Phy_35b::after {content: '\00a0';display: inline-block; width:245px; height:186px; background-position: 66.13756613756614% 73.95550732501357%; background-size: 794.2857142857143% 1090.8602150537633%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.AIEEE_2008_Phy_35b::after {max-width:245px; width:100%;height:0;padding: 0 0 75.91836734693878% 0;}
.AIEEE_2008_Phy_35c {max-width:251px; max-height:204px; }
.AIEEE_2008_Phy_35c::after {content: '\00a0';display: inline-block; width:251px; height:204px; background-position: 67.02064896755162% 84.93150684931507%; background-size: 775.2988047808765% 994.6078431372549%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.AIEEE_2008_Phy_35c::after {max-width:251px; width:100%;height:0;padding: 0 0 81.27490039840637% 0;}
.AIEEE_2008_Phy_35d {max-width:238px; max-height:179px; }
.AIEEE_2008_Phy_35d::after {content: '\00a0';display: inline-block; width:238px; height:179px; background-position: 71.25292740046838% 47.24324324324324%; background-size: 817.6470588235294% 1133.5195530726257%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.AIEEE_2008_Phy_35d::after {max-width:238px; width:100%;height:0;padding: 0 0 75.21008403361344% 0;}
.AIEEE_2008_Phy_35sol {max-width:266px; max-height:213px; }
.AIEEE_2008_Phy_35sol::after {content: '\00a0';display: inline-block; width:266px; height:213px; background-position: 18.75% 99.17400881057269%; background-size: 731.578947368421% 952.5821596244132%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.AIEEE_2008_Phy_35sol::after {max-width:266px; width:100%;height:0;padding: 0 0 80.07518796992481% 0;}
.AIEEE_2009_Phy_30a {max-width:304px; max-height:102px; }
.AIEEE_2009_Phy_30a::after {content: '\00a0';display: inline-block; width:304px; height:102px; background-position: 91.04750304506699% 57.29112610275039%; background-size: 640.1315789473684% 1989.2156862745098%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.AIEEE_2009_Phy_30a::after {max-width:304px; width:100%;height:0;padding: 0 0 33.55263157894737% 0;}
.AIEEE_2009_Phy_30b {max-width:310px; max-height:99px; }
.AIEEE_2009_Phy_30b::after {content: '\00a0';display: inline-block; width:310px; height:99px; background-position: 92.72616136919315% 40.15544041450777%; background-size: 627.741935483871% 2049.4949494949497%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.AIEEE_2009_Phy_30b::after {max-width:310px; width:100%;height:0;padding: 0 0 31.93548387096774% 0;}
.AIEEE_2009_Phy_30c {max-width:304px; max-height:108px; }
.AIEEE_2009_Phy_30c::after {content: '\00a0';display: inline-block; width:304px; height:108px; background-position: 88.67235079171742% 45.549193128578864%; background-size: 640.1315789473684% 1878.7037037037037%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.AIEEE_2009_Phy_30c::after {max-width:304px; width:100%;height:0;padding: 0 0 35.526315789473685% 0;}
.AIEEE_2009_Phy_30d {max-width:307px; max-height:106px; }
.AIEEE_2009_Phy_30d::after {content: '\00a0';display: inline-block; width:307px; height:106px; background-position: 73.76449054301403% 39.88559542381695%; background-size: 633.8762214983714% 1914.1509433962265%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.AIEEE_2009_Phy_30d::after {max-width:307px; width:100%;height:0;padding: 0 0 34.527687296416936% 0;}
.JEEMAINS_10APRIL_2023_S1_Q_43 {max-width:162px; max-height:142px; }
.JEEMAINS_10APRIL_2023_S1_Q_43::after {content: '\00a0';display: inline-block; width:162px; height:142px; background-position: 97.86995515695067% 30.259671436142025%; background-size: 1201.2345679012346% 1428.8732394366198%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.JEEMAINS_10APRIL_2023_S1_Q_43::after {max-width:162px; width:100%;height:0;padding: 0 0 87.65432098765432% 0;}
.JEEMAINS_10APRIL_2023_S2_S_44 {max-width:405px; max-height:122px; }
.JEEMAINS_10APRIL_2023_S2_S_44::after {content: '\00a0';display: inline-block; width:405px; height:122px; background-position: 61.71317326411421% 19.821709491347665%; background-size: 480.4938271604938% 1663.1147540983607%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.JEEMAINS_10APRIL_2023_S2_S_44::after {max-width:405px; width:100%;height:0;padding: 0 0 30.123456790123456% 0;}
.JEEMAINS_11APRIL_2023_S1_Q_43 {max-width:235px; max-height:184px; }
.JEEMAINS_11APRIL_2023_S1_Q_43::after {content: '\00a0';display: inline-block; width:235px; height:184px; background-position: 67.15371127995324% 95.1219512195122%; background-size: 828.0851063829788% 1102.7173913043478%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.JEEMAINS_11APRIL_2023_S1_Q_43::after {max-width:235px; width:100%;height:0;padding: 0 0 78.29787234042553% 0;}
.JEEMAINS_12APRIL_2023_S1_S_46 {max-width:247px; max-height:242px; }
.JEEMAINS_12APRIL_2023_S1_S_46::after {content: '\00a0';display: inline-block; width:247px; height:242px; background-position: 18.952324896998235% 74.53833240067152%; background-size: 787.8542510121457% 838.4297520661157%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.JEEMAINS_12APRIL_2023_S1_S_46::after {max-width:247px; width:100%;height:0;padding: 0 0 97.97570850202429% 0;}
.JEEMAINS_13APRIL_2023_S1_S_38 {max-width:498px; max-height:190px; }
.JEEMAINS_13APRIL_2023_S1_S_38::after {content: '\00a0';display: inline-block; width:498px; height:190px; background-position: 31.215469613259668% 14.845024469820554%; background-size: 390.76305220883535% 1067.8947368421052%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.JEEMAINS_13APRIL_2023_S1_S_38::after {max-width:498px; width:100%;height:0;padding: 0 0 38.15261044176707% 0;}
.JEEMAINS_1FEB_2023_S1_Q_2 {max-width:221px; max-height:51px; }
.JEEMAINS_1FEB_2023_S1_Q_2::after {content: '\00a0';display: inline-block; width:221px; height:51px; background-position: 93.5072463768116% 91.91102123356926%; background-size: 880.5429864253393% 3978.4313725490197%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.JEEMAINS_1FEB_2023_S1_Q_2::after {max-width:221px; width:100%;height:0;padding: 0 0 23.076923076923077% 0;}
.JEEMAINS_25JAN_S1_S_6 {max-width:383px; max-height:52px; }
.JEEMAINS_25JAN_S1_S_6::after {content: '\00a0';display: inline-block; width:383px; height:52px; background-position: 53.42290467050544% 99.39301972685888%; background-size: 508.0939947780679% 3901.923076923077%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.JEEMAINS_25JAN_S1_S_6::after {max-width:383px; width:100%;height:0;padding: 0 0 13.577023498694517% 0;}
.JEEMAINS_27JULY_S2_Q_62_O_1 {max-width:313px; max-height:232px; }
.JEEMAINS_27JULY_S2_Q_62_O_1::after {content: '\00a0';display: inline-block; width:313px; height:232px; background-position: 0.0612369871402327% 98.33055091819699%; background-size: 621.7252396166134% 874.5689655172414%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.JEEMAINS_27JULY_S2_Q_62_O_1::after {max-width:313px; width:100%;height:0;padding: 0 0 74.12140575079871% 0;}
.JEEMAINS_27JULY_S2_Q_62_O_2 {max-width:313px; max-height:228px; }
.JEEMAINS_27JULY_S2_Q_62_O_2::after {content: '\00a0';display: inline-block; width:313px; height:228px; background-position: 49.78567054500918% 60.74403109383676%; background-size: 621.7252396166134% 889.9122807017544%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.JEEMAINS_27JULY_S2_Q_62_O_2::after {max-width:313px; width:100%;height:0;padding: 0 0 72.84345047923323% 0;}
.JEEMAINS_27JULY_S2_Q_62_O_3 {max-width:302px; max-height:235px; }
.JEEMAINS_27JULY_S2_Q_62_O_3::after {content: '\00a0';display: inline-block; width:302px; height:235px; background-position: 34.67153284671533% 74.08026755852843%; background-size: 644.3708609271523% 863.4042553191489%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.JEEMAINS_27JULY_S2_Q_62_O_3::after {max-width:302px; width:100%;height:0;padding: 0 0 77.81456953642385% 0;}
.JEEMAINS_27JULY_S2_Q_62_O_4 {max-width:300px; max-height:209px; }
.JEEMAINS_27JULY_S2_Q_62_O_4::after {content: '\00a0';display: inline-block; width:300px; height:209px; background-position: 34.933171324422844% 85.98901098901099%; background-size: 648.6666666666666% 970.8133971291866%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.JEEMAINS_27JULY_S2_Q_62_O_4::after {max-width:300px; width:100%;height:0;padding: 0 0 69.66666666666667% 0;}
.JEEMAINS_30JAN_S1_Q_19 {max-width:450px; max-height:742px; }
.JEEMAINS_30JAN_S1_Q_19::after {content: '\00a0';display: inline-block; width:450px; height:742px; background-position: 0.06684491978609626% 0.0777000777000777%; background-size: 432.44444444444446% 273.45013477088946%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.JEEMAINS_30JAN_S1_Q_19::after {max-width:450px; width:100%;height:0;padding: 0 0 164.88888888888889% 0;}
.JEEMAINS_30JAN_S1_S_25 {max-width:242px; max-height:58px; }
.JEEMAINS_30JAN_S1_S_25::after {content: '\00a0';display: inline-block; width:242px; height:58px; background-position: 94.13145539906104% 76.56012176560122%; background-size: 804.1322314049587% 3498.2758620689656%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.JEEMAINS_30JAN_S1_S_25::after {max-width:242px; width:100%;height:0;padding: 0 0 23.96694214876033% 0;}
.JEEMAIN_24FEB_SHIFT1_Q_8 {max-width:313px; max-height:187px; }
.JEEMAIN_24FEB_SHIFT1_Q_8::after {content: '\00a0';display: inline-block; width:313px; height:187px; background-position: 51.13288426209431% 96.47122692725299%; background-size: 621.7252396166134% 1085.0267379679144%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.JEEMAIN_24FEB_SHIFT1_Q_8::after {max-width:313px; width:100%;height:0;padding: 0 0 59.7444089456869% 0;}
.JEEMAIN_24FEB_SHIFT1_Q_8_O_A {max-width:152px; max-height:107px; }
.JEEMAIN_24FEB_SHIFT1_Q_8_O_A::after {content: '\00a0';display: inline-block; width:152px; height:107px; background-position: 98.58233369683751% 60%; background-size: 1306.578947368421% 272.89719626168227%; background-image: url(p_11_motionline_1.png);padding: 0; }
div.JEEMAIN_24FEB_SHIFT1_Q_8_O_A::after {max-width:152px; width:100%;height:0;padding: 0 0 70.39473684210526% 0;}
.JEEMAIN_24FEB_SHIFT1_Q_8_O_B {max-width:152px; max-height:116px; }
.JEEMAIN_24FEB_SHIFT1_Q_8_O_B::after {content: '\00a0';display: inline-block; width:152px; height:116px; background-position: 85.38713195201746% 0.5681818181818182%; background-size: 1306.578947368421% 251.72413793103448%; background-image: url(p_11_motionline_1.png);padding: 0; }
div.JEEMAIN_24FEB_SHIFT1_Q_8_O_B::after {max-width:152px; width:100%;height:0;padding: 0 0 76.3157894736842% 0;}
.JEEMAIN_24FEB_SHIFT1_Q_8_O_C {max-width:165px; max-height:116px; }
.JEEMAIN_24FEB_SHIFT1_Q_8_O_C::after {content: '\00a0';display: inline-block; width:165px; height:116px; background-position: 19.055464030752333% 99.43181818181819%; background-size: 1203.6363636363637% 251.72413793103448%; background-image: url(p_11_motionline_1.png);padding: 0; }
div.JEEMAIN_24FEB_SHIFT1_Q_8_O_C::after {max-width:165px; width:100%;height:0;padding: 0 0 70.3030303030303% 0;}
.JEEMAIN_24FEB_SHIFT1_Q_8_O_D {max-width:153px; max-height:112px; }
.JEEMAIN_24FEB_SHIFT1_Q_8_O_D::after {content: '\00a0';display: inline-block; width:153px; height:112px; background-position: 90.23458810692853% 65.55555555555556%; background-size: 1298.0392156862745% 260.7142857142857%; background-image: url(p_11_motionline_1.png);padding: 0; }
div.JEEMAIN_24FEB_SHIFT1_Q_8_O_D::after {max-width:153px; width:100%;height:0;padding: 0 0 73.20261437908496% 0;}
.JEEMAIN_24FEB_SHIFT1_SOL_8 {max-width:252px; max-height:212px; }
.JEEMAIN_24FEB_SHIFT1_SOL_8::after {content: '\00a0';display: inline-block; width:252px; height:212px; background-position: 34.35655253837072% 97.6884975233902%; background-size: 772.2222222222222% 957.0754716981132%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.JEEMAIN_24FEB_SHIFT1_SOL_8::after {max-width:252px; width:100%;height:0;padding: 0 0 84.12698412698413% 0;}
.JEEMAIN_24FEB_SHIFT1_SOL_9 {max-width:216px; max-height:200px; }
.JEEMAIN_24FEB_SHIFT1_SOL_9::after {content: '\00a0';display: inline-block; width:216px; height:200px; background-position: 73.8728323699422% 57.6271186440678%; background-size: 900.925925925926% 1014.5%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.JEEMAIN_24FEB_SHIFT1_SOL_9::after {max-width:216px; width:100%;height:0;padding: 0 0 92.5925925925926% 0;}
.JEEMAIN_25FEB_SHIFT2_SOL_2 {max-width:322px; max-height:201px; }
.JEEMAIN_25FEB_SHIFT2_SOL_2::after {content: '\00a0';display: inline-block; width:322px; height:201px; background-position: 54.556650246305416% 39.05908096280088%; background-size: 604.3478260869565% 1009.4527363184079%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.JEEMAIN_25FEB_SHIFT2_SOL_2::after {max-width:322px; width:100%;height:0;padding: 0 0 62.422360248447205% 0;}
.JEEM_16_Mar_S1_14 {max-width:210px; max-height:176px; }
.JEEM_16_Mar_S1_14::after {content: '\00a0';display: inline-block; width:210px; height:176px; background-position: 79.95391705069125% 83.54020507285483%; background-size: 926.6666666666666% 1152.840909090909%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.JEEM_16_Mar_S1_14::after {max-width:210px; width:100%;height:0;padding: 0 0 83.80952380952381% 0;}
.JEEM_16_Mar_S1_14a {max-width:206px; max-height:167px; }
.JEEM_16_Mar_S1_14a::after {content: '\00a0';display: inline-block; width:206px; height:167px; background-position: 23.426966292134832% 0.8%; background-size: 964.0776699029126% 174.85029940119762%; background-image: url(p_11_motionline_1.png);padding: 0; }
div.JEEM_16_Mar_S1_14a::after {max-width:206px; width:100%;height:0;padding: 0 0 81.06796116504854% 0;}
.JEEM_16_Mar_S1_14b {max-width:213px; max-height:169px; }
.JEEM_16_Mar_S1_14b::after {content: '\00a0';display: inline-block; width:213px; height:169px; background-position: 79.9192152336988% 99.94623655913979%; background-size: 913.6150234741784% 1200.5917159763314%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.JEEM_16_Mar_S1_14b::after {max-width:213px; width:100%;height:0;padding: 0 0 79.34272300469483% 0;}
.JEEM_16_Mar_S1_14c {max-width:208px; max-height:173px; }
.JEEM_16_Mar_S1_14c::after {content: '\00a0';display: inline-block; width:208px; height:173px; background-position: 11.69853768278965% 0.8403361344537815%; background-size: 954.8076923076923% 168.78612716763007%; background-image: url(p_11_motionline_1.png);padding: 0; }
div.JEEM_16_Mar_S1_14c::after {max-width:208px; width:100%;height:0;padding: 0 0 83.17307692307692% 0;}
.JEEM_16_Mar_S1_14d {max-width:206px; max-height:175px; }
.JEEM_16_Mar_S1_14d::after {content: '\00a0';display: inline-block; width:206px; height:175px; background-position: 0.056179775280898875% 0.8547008547008547%; background-size: 964.0776699029126% 166.85714285714286%; background-image: url(p_11_motionline_1.png);padding: 0; }
div.JEEM_16_Mar_S1_14d::after {max-width:206px; width:100%;height:0;padding: 0 0 84.95145631067962% 0;}
.JEEM_17_Mar_S1_10sol {max-width:224px; max-height:133px; }
.JEEM_17_Mar_S1_10sol::after {content: '\00a0';display: inline-block; width:224px; height:133px; background-position: 80.60394889663182% 90.98101265822785%; background-size: 868.75% 1525.563909774436%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.JEEM_17_Mar_S1_10sol::after {max-width:224px; width:100%;height:0;padding: 0 0 59.375% 0;}
.JEEM_18_Mar_S1_14a {max-width:395px; max-height:145px; }
.JEEM_18_Mar_S1_14a::after {content: '\00a0';display: inline-block; width:395px; height:145px; background-position: 89.36170212765957% 13.004246284501061%; background-size: 492.65822784810126% 1399.3103448275863%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.JEEM_18_Mar_S1_14a::after {max-width:395px; width:100%;height:0;padding: 0 0 36.70886075949367% 0;}
.JEEM_18_Mar_S1_14b {max-width:402px; max-height:131px; }
.JEEM_18_Mar_S1_14b::after {content: '\00a0';display: inline-block; width:402px; height:131px; background-position: 92.35751295336787% 5.9536354056902%; background-size: 484.07960199004975% 1548.854961832061%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.JEEM_18_Mar_S1_14b::after {max-width:402px; width:100%;height:0;padding: 0 0 32.58706467661692% 0;}
.JEEM_18_Mar_S1_14c {max-width:460px; max-height:143px; }
.JEEM_18_Mar_S1_14c::after {content: '\00a0';display: inline-block; width:460px; height:143px; background-position: 64.93943472409153% 4.665959703075291%; background-size: 423.04347826086956% 1418.881118881119%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.JEEM_18_Mar_S1_14c::after {max-width:460px; width:100%;height:0;padding: 0 0 31.08695652173913% 0;}
.JEEM_18_Mar_S1_14d {max-width:420px; max-height:145px; }
.JEEM_18_Mar_S1_14d::after {content: '\00a0';display: inline-block; width:420px; height:145px; background-position: 63.23722149410223% 12.314225053078557%; background-size: 463.3333333333333% 1399.3103448275863%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.JEEM_18_Mar_S1_14d::after {max-width:420px; width:100%;height:0;padding: 0 0 34.523809523809526% 0;}
.JEEM_18_Mar_S1_14sol {max-width:155px; max-height:120px; }
.JEEM_18_Mar_S1_14sol::after {content: '\00a0';display: inline-block; width:155px; height:120px; background-position: 89.27973199329983% 97.95704557359875%; background-size: 1255.483870967742% 1690.8333333333333%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.JEEM_18_Mar_S1_14sol::after {max-width:155px; width:100%;height:0;padding: 0 0 77.41935483870968% 0;}
.JEEM_18_Mar_S1_14sola {max-width:161px; max-height:127px; }
.JEEM_18_Mar_S1_14sola::after {content: '\00a0';display: inline-block; width:161px; height:127px; background-position: 90.36414565826331% 88.85383806519454%; background-size: 1208.695652173913% 1597.6377952755906%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.JEEM_18_Mar_S1_14sola::after {max-width:161px; width:100%;height:0;padding: 0 0 78.88198757763975% 0;}
.JEEM_18_Mar_S1_14solb {max-width:172px; max-height:132px; }
.JEEM_18_Mar_S1_14solb::after {content: '\00a0';display: inline-block; width:172px; height:132px; background-position: 72.82249173098126% 91.25%; background-size: 1154.6511627906978% 221.21212121212122%; background-image: url(p_11_motionline_1.png);padding: 0; }
div.JEEM_18_Mar_S1_14solb::after {max-width:172px; width:100%;height:0;padding: 0 0 76.74418604651163% 0;}
.JEEM_18_Mar_S2_7a {max-width:159px; max-height:116px; }
.JEEM_18_Mar_S2_7a::after {content: '\00a0';display: inline-block; width:159px; height:116px; background-position: 81.77339901477832% 70.45454545454545%; background-size: 1249.0566037735848% 251.72413793103448%; background-image: url(p_11_motionline_1.png);padding: 0; }
div.JEEM_18_Mar_S2_7a::after {max-width:159px; width:100%;height:0;padding: 0 0 72.95597484276729% 0;}
.JEEM_18_Mar_S2_7b {max-width:171px; max-height:114px; }
.JEEM_18_Mar_S2_7b::after {content: '\00a0';display: inline-block; width:171px; height:114px; background-position: 0.05509641873278237% 99.43820224719101%; background-size: 1161.4035087719299% 256.140350877193%; background-image: url(p_11_motionline_1.png);padding: 0; }
div.JEEM_18_Mar_S2_7b::after {max-width:171px; width:100%;height:0;padding: 0 0 66.66666666666667% 0;}
.JEEM_18_Mar_S2_7c {max-width:181px; max-height:122px; }
.JEEM_18_Mar_S2_7c::after {content: '\00a0';display: inline-block; width:181px; height:122px; background-position: 76.67590027700831% 0.5882352941176471%; background-size: 1097.2375690607735% 239.34426229508196%; background-image: url(p_11_motionline_1.png);padding: 0; }
div.JEEM_18_Mar_S2_7c::after {max-width:181px; width:100%;height:0;padding: 0 0 67.40331491712708% 0;}
.JEEM_18_Mar_S2_7d {max-width:173px; max-height:112px; }
.JEEM_18_Mar_S2_7d::after {content: '\00a0';display: inline-block; width:173px; height:112px; background-position: 9.542195256480971% 98.33333333333333%; background-size: 1147.9768786127167% 260.7142857142857%; background-image: url(p_11_motionline_1.png);padding: 0; }
div.JEEM_18_Mar_S2_7d::after {max-width:173px; width:100%;height:0;padding: 0 0 64.73988439306359% 0;}
.JEEM_18_Mar_S2_7sol {max-width:138px; max-height:117px; }
.JEEM_18_Mar_S2_7sol::after {content: '\00a0';display: inline-block; width:138px; height:117px; background-position: 99.5575221238938% 57.21757322175732%; background-size: 1410.144927536232% 1734.1880341880342%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.JEEM_18_Mar_S2_7sol::after {max-width:138px; width:100%;height:0;padding: 0 0 84.78260869565217% 0;}
.JEE_1_Feb_2024_Shift_2_44_s {max-width:99px; max-height:83px; }
.JEE_1_Feb_2024_Shift_2_44_s::after {content: '\00a0';display: inline-block; width:99px; height:83px; background-position: 98.9713048186248% 36.69064748201439%; background-size: 1965.6565656565656% 2444.578313253012%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.JEE_1_Feb_2024_Shift_2_44_s::after {max-width:99px; width:100%;height:0;padding: 0 0 83.83838383838383% 0;}
.JEE_27_Jan_2024_Shift_2_54_s {max-width:138px; max-height:222px; }
.JEE_27_Jan_2024_Shift_2_54_s::after {content: '\00a0';display: inline-block; width:138px; height:222px; background-position: 88.71681415929204% 71.16768123962369%; background-size: 1410.144927536232% 913.9639639639639%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.JEE_27_Jan_2024_Shift_2_54_s::after {max-width:138px; width:100%;height:0;padding: 0 0 160.8695652173913% 0;}
.JEE_8_4_2019_P2_14_que {max-width:628px; max-height:86px; }
.JEE_8_4_2019_P2_14_que::after {content: '\00a0';display: inline-block; width:628px; height:86px; background-position: 73.21699544764795% 0.0514668039114771%; background-size: 309.87261146496814% 2359.3023255813955%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.JEE_8_4_2019_P2_14_que::after {max-width:628px; width:100%;height:0;padding: 0 0 13.694267515923567% 0;}
.JEE_MAINS_2019_JAN10_S2_4 {max-width:512px; max-height:271px; }
.JEE_MAINS_2019_JAN10_S2_4::after {content: '\00a0';display: inline-block; width:512px; height:271px; background-position: 31.520223152022314% 0.05688282138794084%; background-size: 380.078125% 748.7084870848709%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.JEE_MAINS_2019_JAN10_S2_4::after {max-width:512px; width:100%;height:0;padding: 0 0 52.9296875% 0;}
.JEE_MAINS_2019_JAN9_S2_26sol {max-width:382px; max-height:124px; }
.JEE_MAINS_2019_JAN9_S2_26sol::after {content: '\00a0';display: inline-block; width:382px; height:124px; background-position: 86.76470588235294% 20.5249343832021%; background-size: 509.4240837696335% 1636.2903225806451%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.JEE_MAINS_2019_JAN9_S2_26sol::after {max-width:382px; width:100%;height:0;padding: 0 0 32.460732984293195% 0;}
.JEE_MAIN_9APRIL_2024_S1_S_32 {max-width:276px; max-height:78px; }
.JEE_MAIN_9APRIL_2024_S1_S_32::after {content: '\00a0';display: inline-block; width:276px; height:78px; background-position: 89.52095808383234% 61.865709892362894%; background-size: 705.072463768116% 2601.2820512820513%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.JEE_MAIN_9APRIL_2024_S1_S_32::after {max-width:276px; width:100%;height:0;padding: 0 0 28.26086956521739% 0;}
.JEE_MAIN_9APRIL_2024_S2_S_37 {max-width:285px; max-height:78px; }
.JEE_MAIN_9APRIL_2024_S2_S_37::after {content: '\00a0';display: inline-block; width:285px; height:78px; background-position: 75.97832630945214% 35.263967196309586%; background-size: 682.8070175438596% 2601.2820512820513%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.JEE_MAIN_9APRIL_2024_S2_S_37::after {max-width:285px; width:100%;height:0;padding: 0 0 27.36842105263158% 0;}
.JEE_Main_25_July_2021_evening_9_s {max-width:163px; max-height:172px; }
.JEE_Main_25_July_2021_evening_9_s::after {content: '\00a0';display: inline-block; width:163px; height:172px; background-position: 99.94391475042065% 13.193322563274098%; background-size: 1193.8650306748466% 1179.6511627906978%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.JEE_Main_25_July_2021_evening_9_s::after {max-width:163px; width:100%;height:0;padding: 0 0 105.52147239263803% 0;}
.JEE_Main_26_Aug_2021_Shift_1_24_Q_1_S {max-width:164px; max-height:80px; }
.JEE_Main_26_Aug_2021_Shift_1_24_Q_1_S::after {content: '\00a0';display: inline-block; width:164px; height:80px; background-position: 68.40628507295175% 99.53822473063109%; background-size: 1186.5853658536585% 2536.25%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.JEE_Main_26_Aug_2021_Shift_1_24_Q_1_S::after {max-width:164px; width:100%;height:0;padding: 0 0 48.78048780487805% 0;}
.JEE_Main_27_Aug_2021_Shift_2_4_sol {max-width:306px; max-height:238px; }
.JEE_Main_27_Aug_2021_Shift_2_4_sol::after {content: '\00a0';display: inline-block; width:306px; height:238px; background-position: 30.853658536585368% 60.85985482970408%; background-size: 635.9477124183006% 852.5210084033613%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.JEE_Main_27_Aug_2021_Shift_2_4_sol::after {max-width:306px; width:100%;height:0;padding: 0 0 77.77777777777777% 0;}
.JEE_Main_31_Aug_2021_Shift_2_24_Q {max-width:259px; max-height:221px; }
.JEE_Main_31_Aug_2021_Shift_2_24_Q::after {content: '\00a0';display: inline-block; width:259px; height:221px; background-position: 51.92649673977475% 86.0066371681416%; background-size: 751.3513513513514% 918.0995475113123%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.JEE_Main_31_Aug_2021_Shift_2_24_Q::after {max-width:259px; width:100%;height:0;padding: 0 0 85.32818532818533% 0;}
.JEE_Main_31_Aug_2021_Shift_2_24_Q_1_S {max-width:199px; max-height:159px; }
.JEE_Main_31_Aug_2021_Shift_2_24_Q_1_S::after {content: '\00a0';display: inline-block; width:199px; height:159px; background-position: 34.91885842193621% 0.7518796992481203%; background-size: 997.9899497487437% 183.64779874213838%; background-image: url(p_11_motionline_1.png);padding: 0; }
div.JEE_Main_31_Aug_2021_Shift_2_24_Q_1_S::after {max-width:199px; width:100%;height:0;padding: 0 0 79.89949748743719% 0;}
.JEE_Mains_02_Sep_2020_Shift_1_19_s {max-width:292px; max-height:171px; }
.JEE_Mains_02_Sep_2020_Shift_1_19_s::after {content: '\00a0';display: inline-block; width:292px; height:171px; background-position: 76.29987908101572% 27.771797631862217%; background-size: 666.4383561643835% 1186.5497076023391%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.JEE_Mains_02_Sep_2020_Shift_1_19_s::after {max-width:292px; width:100%;height:0;padding: 0 0 58.56164383561644% 0;}
.JEE_Mains_04_Sep_2020_Shift_1_17_o_1 {max-width:144px; max-height:118px; }
.JEE_Mains_04_Sep_2020_Shift_1_17_o_1::after {content: '\00a0';display: inline-block; width:144px; height:118px; background-position: 97.39178690344062% 97.854526425955%; background-size: 1351.388888888889% 1719.4915254237287%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.JEE_Mains_04_Sep_2020_Shift_1_17_o_1::after {max-width:144px; width:100%;height:0;padding: 0 0 81.94444444444444% 0;}
.JEE_Mains_04_Sep_2020_Shift_1_17_o_2 {max-width:140px; max-height:118px; }
.JEE_Mains_04_Sep_2020_Shift_1_17_o_2::after {content: '\00a0';display: inline-block; width:140px; height:118px; background-position: 97.95127353266888% 51.02040816326531%; background-size: 1390% 1719.4915254237287%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.JEE_Mains_04_Sep_2020_Shift_1_17_o_2::after {max-width:140px; width:100%;height:0;padding: 0 0 84.28571428571429% 0;}
.JEE_Mains_04_Sep_2020_Shift_1_17_o_3 {max-width:130px; max-height:111px; }
.JEE_Mains_04_Sep_2020_Shift_1_17_o_3::after {content: '\00a0';display: inline-block; width:130px; height:111px; background-position: 99.22907488986785% 81.75182481751825%; background-size: 1496.923076923077% 1827.9279279279278%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.JEE_Mains_04_Sep_2020_Shift_1_17_o_3::after {max-width:130px; width:100%;height:0;padding: 0 0 85.38461538461539% 0;}
.JEE_Mains_04_Sep_2020_Shift_1_17_o_4 {max-width:133px; max-height:109px; }
.JEE_Mains_04_Sep_2020_Shift_1_17_o_4::after {content: '\00a0';display: inline-block; width:133px; height:109px; background-position: 92.76848354020507% 0.546448087431694%; background-size: 1493.233082706767% 267.88990825688074%; background-image: url(p_11_motionline_1.png);padding: 0; }
div.JEE_Mains_04_Sep_2020_Shift_1_17_o_4::after {max-width:133px; width:100%;height:0;padding: 0 0 81.95488721804512% 0;}
.JEE_Mains_04_Sep_2020_Shift_2_22_q {max-width:252px; max-height:225px; }
.JEE_Mains_04_Sep_2020_Shift_2_22_q::after {content: '\00a0';display: inline-block; width:252px; height:225px; background-position: 19.00826446280992% 87.3059866962306%; background-size: 772.2222222222222% 901.7777777777778%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.JEE_Mains_04_Sep_2020_Shift_2_22_q::after {max-width:252px; width:100%;height:0;padding: 0 0 89.28571428571429% 0;}
.JEE_Mains_04_Sep_2020_Shift_2_22_s {max-width:191px; max-height:149px; }
.JEE_Mains_04_Sep_2020_Shift_2_22_s::after {content: '\00a0';display: inline-block; width:191px; height:149px; background-position: 45.90529247910864% 0.6993006993006993%; background-size: 1039.7905759162304% 195.9731543624161%; background-image: url(p_11_motionline_1.png);padding: 0; }
div.JEE_Mains_04_Sep_2020_Shift_2_22_s::after {max-width:191px; width:100%;height:0;padding: 0 0 78.01047120418848% 0;}
.JEE_Mains_05_Sep_2020_Shift_1_3_s {max-width:190px; max-height:198px; }
.JEE_Mains_05_Sep_2020_Shift_1_3_s::after {content: '\00a0';display: inline-block; width:190px; height:198px; background-position: 88.55353075170842% 28.181321682140908%; background-size: 1024.2105263157894% 1024.7474747474748%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.JEE_Mains_05_Sep_2020_Shift_1_3_s::after {max-width:190px; width:100%;height:0;padding: 0 0 104.21052631578948% 0;}
.JEE_Mains_05_Sep_2020_Shift_2_17_q {max-width:366px; max-height:168px; }
.JEE_Mains_05_Sep_2020_Shift_2_17_q::after {content: '\00a0';display: inline-block; width:366px; height:168px; background-position: 33.10126582278481% 49.48952176249328%; background-size: 531.6939890710382% 1207.7380952380952%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.JEE_Mains_05_Sep_2020_Shift_2_17_q::after {max-width:366px; width:100%;height:0;padding: 0 0 45.90163934426229% 0;}
.JEE_Mains_05_Sep_2020_Shift_2_17_s {max-width:273px; max-height:119px; }
.JEE_Mains_05_Sep_2020_Shift_2_17_s::after {content: '\00a0';display: inline-block; width:273px; height:119px; background-position: 89.36043036461446% 51.518324607329845%; background-size: 712.8205128205128% 1705.0420168067226%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.JEE_Mains_05_Sep_2020_Shift_2_17_s::after {max-width:273px; width:100%;height:0;padding: 0 0 43.58974358974359% 0;}
.j2017_30a {max-width:92px; max-height:89px; }
.j2017_30a::after {content: '\00a0';display: inline-block; width:92px; height:89px; background-position: 99.62243797195254% 75.61855670103093%; background-size: 2115.217391304348% 2279.775280898876%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.j2017_30a::after {max-width:92px; width:100%;height:0;padding: 0 0 96.73913043478261% 0;}
.j2017_30b {max-width:97px; max-height:85px; }
.j2017_30b::after {content: '\00a0';display: inline-block; width:97px; height:85px; background-position: 99.24283396430504% 91.40946502057614%; background-size: 2006.1855670103093% 2387.0588235294117%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.j2017_30b::after {max-width:97px; width:100%;height:0;padding: 0 0 87.62886597938144% 0;}
.j2017_30c {max-width:96px; max-height:92px; }
.j2017_30c::after {content: '\00a0';display: inline-block; width:96px; height:92px; background-position: 99.56756756756756% 66.39132679401136%; background-size: 2027.0833333333333% 2205.4347826086955%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.j2017_30c::after {max-width:96px; width:100%;height:0;padding: 0 0 95.83333333333333% 0;}
.j2017_30d {max-width:96px; max-height:87px; }
.j2017_30d::after {content: '\00a0';display: inline-block; width:96px; height:87px; background-position: 99.56756756756756% 71.00926879505664%; background-size: 2027.0833333333333% 2332.183908045977%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.j2017_30d::after {max-width:96px; width:100%;height:0;padding: 0 0 90.625% 0;}
.j2017_30sol {max-width:161px; max-height:73px; }
.j2017_30sol::after {content: '\00a0';display: inline-block; width:161px; height:73px; background-position: 99.27170868347339% 61.96319018404908%; background-size: 1208.695652173913% 2779.4520547945203%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.j2017_30sol::after {max-width:161px; width:100%;height:0;padding: 0 0 45.3416149068323% 0;}
.j2017_30sola {max-width:103px; max-height:98px; }
.j2017_30sola::after {content: '\00a0';display: inline-block; width:103px; height:98px; background-position: 99.24036896364623% 5.85189021232522%; background-size: 1889.3203883495146% 2070.408163265306%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.j2017_30sola::after {max-width:103px; width:100%;height:0;padding: 0 0 95.14563106796116% 0;}
.jee_mains_26_jun_2022_s1_52_sol {max-width:200px; max-height:334px; }
.jee_mains_26_jun_2022_s1_52_sol::after {content: '\00a0';display: inline-block; width:200px; height:334px; background-position: 18.442153493699884% 43.89380530973451%; background-size: 973% 607.4850299401197%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.jee_mains_26_jun_2022_s1_52_sol::after {max-width:200px; width:100%;height:0;padding: 0 0 167% 0;}
.jee_mains_28_jun_2022_s2_60 {max-width:271px; max-height:59px; }
.jee_mains_28_jun_2022_s2_60::after {content: '\00a0';display: inline-block; width:271px; height:59px; background-position: 92.41791044776119% 36.29441624365482%; background-size: 718.0811808118082% 3438.9830508474574%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.jee_mains_28_jun_2022_s2_60::after {max-width:271px; width:100%;height:0;padding: 0 0 21.771217712177123% 0;}
.jee_mn_23_jan_2025_s1_q_33 {max-width:360px; max-height:212px; }
.jee_mn_23_jan_2025_s1_q_33::after {content: '\00a0';display: inline-block; width:360px; height:212px; background-position: 56.809583858764185% 27.572922399559715%; background-size: 540.5555555555555% 957.0754716981132%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.jee_mn_23_jan_2025_s1_q_33::after {max-width:360px; width:100%;height:0;padding: 0 0 58.888888888888886% 0;}
.jee_mn_24_jan_2023_s2_15 {max-width:448px; max-height:236px; }
.jee_mn_24_jan_2023_s2_15::after {content: '\00a0';display: inline-block; width:448px; height:236px; background-position: 30.173564753004005% 25.878416062465142%; background-size: 434.375% 859.7457627118644%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.jee_mn_24_jan_2023_s2_15::after {max-width:448px; width:100%;height:0;padding: 0 0 52.67857142857143% 0;}
.jee_mn_27_jul_2022_s1_35_sol {max-width:183px; max-height:252px; }
.jee_mn_27_jul_2022_s1_35_sol::after {content: '\00a0';display: inline-block; width:183px; height:252px; background-position: 18.264322178105502% 60.72031513787282%; background-size: 1063.3879781420765% 805.1587301587301%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.jee_mn_27_jul_2022_s1_35_sol::after {max-width:183px; width:100%;height:0;padding: 0 0 137.70491803278688% 0;}
.jee_mn_28_jan_2025_s2_q_39 {max-width:326px; max-height:177px; }
.jee_mn_28_jan_2025_s2_q_39::after {content: '\00a0';display: inline-block; width:326px; height:177px; background-position: 54.93827160493827% 49.46004319654428%; background-size: 596.9325153374233% 1146.3276836158193%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s2_q_39::after {max-width:326px; width:100%;height:0;padding: 0 0 54.29447852760736% 0;}
.jee_mn_29_jul_2022_s1_37_sol {max-width:320px; max-height:334px; }
.jee_mn_29_jul_2022_s1_37_sol::after {content: '\00a0';display: inline-block; width:320px; height:334px; background-position: 0.06150061500615006% 84.48377581120944%; background-size: 608.125% 607.4850299401197%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.jee_mn_29_jul_2022_s1_37_sol::after {max-width:320px; width:100%;height:0;padding: 0 0 104.375% 0;}
.jee_mn_29_jul_2022_s1_43_sol {max-width:320px; max-height:687px; }
.jee_mn_29_jul_2022_s1_43_sol::after {content: '\00a0';display: inline-block; width:320px; height:687px; background-position: 0.06150061500615006% 55.439642324888226%; background-size: 608.125% 295.3420669577875%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.jee_mn_29_jul_2022_s1_43_sol::after {max-width:320px; width:100%;height:0;padding: 0 0 214.6875% 0;}
.jee_mn_29_jul_2022_s2_32_sol {max-width:150px; max-height:268px; }
.jee_mn_29_jul_2022_s2_32_sol::after {content: '\00a0';display: inline-block; width:150px; height:268px; background-position: 62.75055679287305% 62.123793299261784%; background-size: 1297.3333333333333% 757.0895522388059%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.jee_mn_29_jul_2022_s2_32_sol::after {max-width:150px; width:100%;height:0;padding: 0 0 178.66666666666666% 0;}
.m2015_86a {max-width:202px; max-height:121px; }
.m2015_86a::after {content: '\00a0';display: inline-block; width:202px; height:121px; background-position: 91.68577981651376% 82.18029350104821%; background-size: 963.3663366336634% 1676.8595041322315%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.m2015_86a::after {max-width:202px; width:100%;height:0;padding: 0 0 59.9009900990099% 0;}
.m2015_86b {max-width:196px; max-height:122px; }
.m2015_86b::after {content: '\00a0';display: inline-block; width:196px; height:122px; background-position: 28.65921787709497% 99.41176470588235%; background-size: 1013.265306122449% 239.34426229508196%; background-image: url(p_11_motionline_1.png);padding: 0; }
div.m2015_86b::after {max-width:196px; width:100%;height:0;padding: 0 0 62.244897959183675% 0;}
.m2015_86c {max-width:211px; max-height:135px; }
.m2015_86c::after {content: '\00a0';display: inline-block; width:211px; height:135px; background-position: 62.478873239436616% 96.17834394904459%; background-size: 941.2322274881517% 216.2962962962963%; background-image: url(p_11_motionline_1.png);padding: 0; }
div.m2015_86c::after {max-width:211px; width:100%;height:0;padding: 0 0 63.981042654028435% 0;}
.m2015_86d {max-width:213px; max-height:130px; }
.m2015_86d::after {content: '\00a0';display: inline-block; width:213px; height:130px; background-position: 40.04512126339537% 99.38271604938272%; background-size: 932.3943661971831% 224.6153846153846%; background-image: url(p_11_motionline_1.png);padding: 0; }
div.m2015_86d::after {max-width:213px; width:100%;height:0;padding: 0 0 61.032863849765256% 0;}
.m2017_apr8_2a {max-width:184px; max-height:144px; }
.m2017_apr8_2a::after {content: '\00a0';display: inline-block; width:184px; height:144px; background-position: 66.53718091009989% 0.6756756756756757%; background-size: 1079.3478260869565% 202.77777777777777%; background-image: url(p_11_motionline_1.png);padding: 0; }
div.m2017_apr8_2a::after {max-width:184px; width:100%;height:0;padding: 0 0 78.26086956521739% 0;}
.m2017_apr8_2b {max-width:182px; max-height:149px; }
.m2017_apr8_2b::after {content: '\00a0';display: inline-block; width:182px; height:149px; background-position: 56.31929046563193% 0.6993006993006993%; background-size: 1091.2087912087911% 195.9731543624161%; background-image: url(p_11_motionline_1.png);padding: 0; }
div.m2017_apr8_2b::after {max-width:182px; width:100%;height:0;padding: 0 0 81.86813186813187% 0;}
.m2017_apr8_2c {max-width:180px; max-height:152px; }
.m2017_apr8_2c::after {content: '\00a0';display: inline-block; width:180px; height:152px; background-position: 98.86749716874291% 22.269579115610014%; background-size: 1081.111111111111% 1334.8684210526317%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.m2017_apr8_2c::after {max-width:180px; width:100%;height:0;padding: 0 0 84.44444444444444% 0;}
.m2017_apr8_2d {max-width:184px; max-height:140px; }
.m2017_apr8_2d::after {content: '\00a0';display: inline-block; width:184px; height:140px; background-position: 51.27635960044395% 99.34210526315789%; background-size: 1079.3478260869565% 208.57142857142858%; background-image: url(p_11_motionline_1.png);padding: 0; }
div.m2017_apr8_2d::after {max-width:184px; width:100%;height:0;padding: 0 0 76.08695652173913% 0;}
.m2018_apr15_2 {max-width:251px; max-height:231px; }
.m2018_apr15_2::after {content: '\00a0';display: inline-block; width:251px; height:231px; background-position: 51.50442477876106% 73.5817575083426%; background-size: 775.2988047808765% 878.3549783549784%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.m2018_apr15_2::after {max-width:251px; width:100%;height:0;padding: 0 0 92.03187250996017% 0;}
.m2018_ca_2a {max-width:156px; max-height:99px; }
.m2018_ca_2a::after {content: '\00a0';display: inline-block; width:156px; height:99px; background-position: 98.37988826815642% 45.33678756476684%; background-size: 1247.4358974358975% 2049.4949494949497%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.m2018_ca_2a::after {max-width:156px; width:100%;height:0;padding: 0 0 63.46153846153846% 0;}
.m2018_ca_2b {max-width:131px; max-height:96px; }
.m2018_ca_2b::after {content: '\00a0';display: inline-block; width:131px; height:96px; background-position: 99.28374655647383% 86.91153647180549%; background-size: 1485.496183206107% 2113.5416666666665%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.m2018_ca_2b::after {max-width:131px; width:100%;height:0;padding: 0 0 73.2824427480916% 0;}
.m2018_ca_2c {max-width:167px; max-height:107px; }
.m2018_ca_2c::after {content: '\00a0';display: inline-block; width:167px; height:107px; background-position: 71.83811129848229% 65.29656607700312%; background-size: 1165.2694610778442% 1896.2616822429907%; background-image: url(p_11_motionline_0.png);padding: 0; }
div.m2018_ca_2c::after {max-width:167px; width:100%;height:0;padding: 0 0 64.07185628742515% 0;}
.m2018_ca_2d {max-width:132px; max-height:104px; }
.m2018_ca_2d::after {content: '\00a0';display: inline-block; width:132px; height:104px; background-position: 99.94606256742179% 0.5319148936170213%; background-size: 1504.5454545454545% 280.7692307692308%; background-image: url(p_11_motionline_1.png);padding: 0; }
div.m2018_ca_2d::after {max-width:132px; width:100%;height:0;padding: 0 0 78.78787878787878% 0;}

@keyframes JEEMAINS_27JULY_S2_Q_62_O-frames {
    0% { background-position: 0.0612369871402327% 98.33055091819699%;  }
    25% { background-position: 49.78567054500918% 60.74403109383676%;  }
    50% { background-position: 34.67153284671533% 74.08026755852843%;  }
    75% { background-position: 34.933171324422844% 85.98901098901099%;  }
}

.JEEMAINS_27JULY_S2_Q_62_O-animation {
    max-width: 313px;
    max-height: 232px;
}
.JEEMAINS_27JULY_S2_Q_62_O-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 313px;
    height: 232px;
    padding: 0;
    background-image: url(p_11_motionline_0.png);
    background-size: 621.7252396166134% 874.5689655172414%; 
    animation-name: JEEMAINS_27JULY_S2_Q_62_O-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEEMAINS_27JULY_S2_Q_62_O-animation::after {
    max-width: 313px;
    width: 100%;
    height: 0;
    padding: 0 0 74.12140575079871% 0;
}

@keyframes JEEMAIN_24FEB_SHIFT1_SOL-frames {
    0% { background-position: 34.35655253837072% 97.6884975233902%;  }
    50% { background-position: 73.8728323699422% 57.6271186440678%;  }
}

.JEEMAIN_24FEB_SHIFT1_SOL-animation {
    max-width: 252px;
    max-height: 212px;
}
.JEEMAIN_24FEB_SHIFT1_SOL-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 252px;
    height: 212px;
    padding: 0;
    background-image: url(p_11_motionline_0.png);
    background-size: 772.2222222222222% 957.0754716981132%; 
    animation-name: JEEMAIN_24FEB_SHIFT1_SOL-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEEMAIN_24FEB_SHIFT1_SOL-animation::after {
    max-width: 252px;
    width: 100%;
    height: 0;
    padding: 0 0 84.12698412698413% 0;
}

@keyframes JEE_Mains_04_Sep_2020_Shift_1_17_o-frames {
    0% { background-position: 97.39178690344062% 97.854526425955%;  }
    25% { background-position: 97.95127353266888% 51.02040816326531%;  }
    50% { background-position: 99.22907488986785% 81.75182481751825%;  }
    75% { background-position: 94.81522338665197% 0.052083333333333336%;  }
}

.JEE_Mains_04_Sep_2020_Shift_1_17_o-animation {
    max-width: 144px;
    max-height: 118px;
}
.JEE_Mains_04_Sep_2020_Shift_1_17_o-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 144px;
    height: 118px;
    padding: 0;
    background-image: url(p_11_motionline_0.png);
    background-size: 1351.388888888889% 1719.4915254237287%; 
    animation-name: JEE_Mains_04_Sep_2020_Shift_1_17_o-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEE_Mains_04_Sep_2020_Shift_1_17_o-animation::after {
    max-width: 144px;
    width: 100%;
    height: 0;
    padding: 0 0 81.94444444444444% 0;
}

/* $TexturePacker:SmartUpdate:adff41be8d7f21f14048ba43b19afd7e:7ff12ae2b1adbf5d1db852faef8840e2:92b5a8ab62ffad1615d1f4974da5b437$ */
