/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.ts_si_md3_152_1 {max-width:81px; max-height:81px; }
.ts_si_md3_152_1::after {content: '\00a0';display: inline-block; width:81px; height:81px; background-position: 50.402144772117964% 91.2621359223301%;background-size: 1481.4814814814815% 608.641975308642%;background-image: url(ts_si_md3.png);padding: 0; }
div.ts_si_md3_152_1::after {max-width:81px; width:100%;height:0;padding: 0 0 100% 0;}
.ts_si_md3_152_2 {max-width:82px; max-height:82px; }
.ts_si_md3_152_2::after {content: '\00a0';display: inline-block; width:82px; height:82px; background-position: 95.97495527728086% 86.13138686131387%;background-size: 1463.4146341463415% 601.219512195122%;background-image: url(ts_si_md3.png);padding: 0; }
div.ts_si_md3_152_2::after {max-width:82px; width:100%;height:0;padding: 0 0 100% 0;}
.ts_si_md3_152_3 {max-width:81px; max-height:81px; }
.ts_si_md3_152_3::after {content: '\00a0';display: inline-block; width:81px; height:81px; background-position: 0.08936550491510277% 98.54368932038835%;background-size: 1481.4814814814815% 608.641975308642%;background-image: url(ts_si_md3.png);padding: 0; }
div.ts_si_md3_152_3::after {max-width:81px; width:100%;height:0;padding: 0 0 100% 0;}
.ts_si_md3_152_4 {max-width:82px; max-height:82px; }
.ts_si_md3_152_4::after {content: '\00a0';display: inline-block; width:82px; height:82px; background-position: 43.02325581395349% 91.48418491484185%;background-size: 1463.4146341463415% 601.219512195122%;background-image: url(ts_si_md3.png);padding: 0; }
div.ts_si_md3_152_4::after {max-width:82px; width:100%;height:0;padding: 0 0 100% 0;}
.ts_si_md3_171 {max-width:101px; max-height:101px; }
.ts_si_md3_171::after {content: '\00a0';display: inline-block; width:101px; height:101px; background-position: 58.962693357597814% 63.52040816326531%;background-size: 1188.118811881188% 488.1188118811881%;background-image: url(ts_si_md3.png);padding: 0; }
div.ts_si_md3_171::after {max-width:101px; width:100%;height:0;padding: 0 0 100% 0;}
.ts_si_md3_171_1 {max-width:81px; max-height:81px; }
.ts_si_md3_171_1::after {content: '\00a0';display: inline-block; width:81px; height:81px; background-position: 7.41733690795353% 98.54368932038835%;background-size: 1481.4814814814815% 608.641975308642%;background-image: url(ts_si_md3.png);padding: 0; }
div.ts_si_md3_171_1::after {max-width:81px; width:100%;height:0;padding: 0 0 100% 0;}
.ts_si_md3_171_2 {max-width:81px; max-height:81px; }
.ts_si_md3_171_2::after {content: '\00a0';display: inline-block; width:81px; height:81px; background-position: 14.745308310991957% 98.54368932038835%;background-size: 1481.4814814814815% 608.641975308642%;background-image: url(ts_si_md3.png);padding: 0; }
div.ts_si_md3_171_2::after {max-width:81px; width:100%;height:0;padding: 0 0 100% 0;}
.ts_si_md3_171_3 {max-width:81px; max-height:81px; }
.ts_si_md3_171_3::after {content: '\00a0';display: inline-block; width:81px; height:81px; background-position: 22.073279714030384% 98.54368932038835%;background-size: 1481.4814814814815% 608.641975308642%;background-image: url(ts_si_md3.png);padding: 0; }
div.ts_si_md3_171_3::after {max-width:81px; width:100%;height:0;padding: 0 0 100% 0;}
.ts_si_md3_171_4 {max-width:81px; max-height:81px; }
.ts_si_md3_171_4::after {content: '\00a0';display: inline-block; width:81px; height:81px; background-position: 29.40125111706881% 98.54368932038835%;background-size: 1481.4814814814815% 608.641975308642%;background-image: url(ts_si_md3.png);padding: 0; }
div.ts_si_md3_171_4::after {max-width:81px; width:100%;height:0;padding: 0 0 100% 0;}
.ts_si_md3_172 {max-width:424px; max-height:138px; }
.ts_si_md3_172::after {content: '\00a0';display: inline-block; width:424px; height:138px; background-position: 83.50515463917526% 99.71830985915493%;background-size: 283.0188679245283% 357.2463768115942%;background-image: url(ts_si_md3.png);padding: 0; }
div.ts_si_md3_172::after {max-width:424px; width:100%;height:0;padding: 0 0 32.54716981132076% 0;}
.ts_si_md3_174 {max-width:362px; max-height:106px; }
.ts_si_md3_174::after {content: '\00a0';display: inline-block; width:362px; height:106px; background-position: 93.19809069212411% 63.82428940568475%;background-size: 331.49171270718233% 465.0943396226415%;background-image: url(ts_si_md3.png);padding: 0; }
div.ts_si_md3_174::after {max-width:362px; width:100%;height:0;padding: 0 0 29.281767955801104% 0;}
.ts_si_md3_175 {max-width:779px; max-height:247px; }
.ts_si_md3_175::after {content: '\00a0';display: inline-block; width:779px; height:247px; background-position: 0.2375296912114014% 0.4065040650406504%;background-size: 154.0436456996149% 199.59514170040487%;background-image: url(ts_si_md3.png);padding: 0; }
div.ts_si_md3_175::after {max-width:779px; width:100%;height:0;padding: 0 0 31.70731707317073% 0;}
.ts_si_md3_176 {max-width:479px; max-height:156px; }
.ts_si_md3_176::after {content: '\00a0';display: inline-block; width:479px; height:156px; background-position: 0.13869625520110956% 73.88724035608308%;background-size: 250.52192066805844% 316.02564102564105%;background-image: url(ts_si_md3.png);padding: 0; }
div.ts_si_md3_176::after {max-width:479px; width:100%;height:0;padding: 0 0 32.5678496868476% 0;}
.ts_si_md3_177 {max-width:353px; max-height:109px; }
.ts_si_md3_177::after {content: '\00a0';display: inline-block; width:353px; height:109px; background-position: 92.20779220779221% 35.677083333333336%;background-size: 339.94334277620396% 452.29357798165137%;background-image: url(ts_si_md3.png);padding: 0; }
div.ts_si_md3_177::after {max-width:353px; width:100%;height:0;padding: 0 0 30.878186968838527% 0;}
.ts_si_md3_193 {max-width:135px; max-height:135px; }
.ts_si_md3_193::after {content: '\00a0';display: inline-block; width:135px; height:135px; background-position: 99.90610328638498% 0.27932960893854747%;background-size: 888.8888888888889% 365.18518518518516%;background-image: url(ts_si_md3.png);padding: 0; }
div.ts_si_md3_193::after {max-width:135px; width:100%;height:0;padding: 0 0 100% 0;}
.ts_si_md3_196 {max-width:166px; max-height:126px; }
.ts_si_md3_196::after {content: '\00a0';display: inline-block; width:166px; height:126px; background-position: 46.518375241779495% 67.84741144414168%;background-size: 722.8915662650602% 391.26984126984127%;background-image: url(ts_si_md3.png);padding: 0; }
div.ts_si_md3_196::after {max-width:166px; width:100%;height:0;padding: 0 0 75.90361445783132% 0;}
.ts_si_md3_200_para {max-width:282px; max-height:135px; }
.ts_si_md3_200_para::after {content: '\00a0';display: inline-block; width:282px; height:135px; background-position: 85.07625272331154% 0.27932960893854747%;background-size: 425.531914893617% 365.18518518518516%;background-image: url(ts_si_md3.png);padding: 0; }
div.ts_si_md3_200_para::after {max-width:282px; width:100%;height:0;padding: 0 0 47.87234042553192% 0;}

/* $TexturePacker:SmartUpdate:5cb12c549df8951b2c6171e3824f4feb:1a2a492165e0df195be932ca701e72f5:91471892b00d942f6160400c33058658$ */
