/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.ts_si_md5_100_para {max-width:356px; max-height:211px; }
.ts_si_md5_100_para::after {content: '\00a0';display: inline-block; width:356px; height:211px; background-position: 0.704225352112676% 0.25773195876288657%;background-size: 139.8876404494382% 283.8862559241706%;background-image: url(ts_si_md5.png);padding: 0; }
div.ts_si_md5_100_para::after {max-width:356px; width:100%;height:0;padding: 0 0 59.26966292134831% 0;}
.ts_si_md5_66 {max-width:139px; max-height:139px; }
.ts_si_md5_66::after {content: '\00a0';display: inline-block; width:139px; height:139px; background-position: 99.72144846796657% 0.21739130434782608%;background-size: 358.27338129496405% 430.9352517985611%;background-image: url(ts_si_md5.png);padding: 0; }
div.ts_si_md5_66::after {max-width:139px; width:100%;height:0;padding: 0 0 100% 0;}
.ts_si_md5_69 {max-width:221px; max-height:100px; }
.ts_si_md5_69::after {content: '\00a0';display: inline-block; width:221px; height:100px; background-position: 0.36101083032490977% 63.52705410821643%;background-size: 225.3393665158371% 599%;background-image: url(ts_si_md5.png);padding: 0; }
div.ts_si_md5_69::after {max-width:221px; width:100%;height:0;padding: 0 0 45.248868778280546% 0;}
.ts_si_md5_74_1 {max-width:81px; max-height:81px; }
.ts_si_md5_74_1::after {content: '\00a0';display: inline-block; width:81px; height:81px; background-position: 96.88249400479616% 38.61003861003861%;background-size: 614.8148148148148% 739.5061728395061%;background-image: url(ts_si_md5.png);padding: 0; }
div.ts_si_md5_74_1::after {max-width:81px; width:100%;height:0;padding: 0 0 100% 0;}
.ts_si_md5_74_2 {max-width:81px; max-height:81px; }
.ts_si_md5_74_2::after {content: '\00a0';display: inline-block; width:81px; height:81px; background-position: 96.88249400479616% 54.44015444015444%;background-size: 614.8148148148148% 739.5061728395061%;background-image: url(ts_si_md5.png);padding: 0; }
div.ts_si_md5_74_2::after {max-width:81px; width:100%;height:0;padding: 0 0 100% 0;}
.ts_si_md5_74_3 {max-width:82px; max-height:82px; }
.ts_si_md5_74_3::after {content: '\00a0';display: inline-block; width:82px; height:82px; background-position: 31.73076923076923% 97.678916827853%;background-size: 607.3170731707318% 730.4878048780488%;background-image: url(ts_si_md5.png);padding: 0; }
div.ts_si_md5_74_3::after {max-width:82px; width:100%;height:0;padding: 0 0 100% 0;}
.ts_si_md5_74_4 {max-width:81px; max-height:81px; }
.ts_si_md5_74_4::after {content: '\00a0';display: inline-block; width:81px; height:81px; background-position: 93.5251798561151% 70.27027027027027%;background-size: 614.8148148148148% 739.5061728395061%;background-image: url(ts_si_md5.png);padding: 0; }
div.ts_si_md5_74_4::after {max-width:81px; width:100%;height:0;padding: 0 0 100% 0;}
.ts_si_md5_75 {max-width:81px; max-height:81px; }
.ts_si_md5_75::after {content: '\00a0';display: inline-block; width:81px; height:81px; background-position: 93.5251798561151% 86.1003861003861%;background-size: 614.8148148148148% 739.5061728395061%;background-image: url(ts_si_md5.png);padding: 0; }
div.ts_si_md5_75::after {max-width:81px; width:100%;height:0;padding: 0 0 100% 0;}
.ts_si_md5_76 {max-width:121px; max-height:121px; }
.ts_si_md5_76::after {content: '\00a0';display: inline-block; width:121px; height:121px; background-position: 74.80106100795756% 44.56066945606695%;background-size: 411.5702479338843% 495.0413223140496%;background-image: url(ts_si_md5.png);padding: 0; }
div.ts_si_md5_76::after {max-width:121px; width:100%;height:0;padding: 0 0 100% 0;}
.ts_si_md5_76_1 {max-width:62px; max-height:62px; }
.ts_si_md5_76_1::after {content: '\00a0';display: inline-block; width:62px; height:62px; background-position: 49.31192660550459% 99.81378026070763%;background-size: 803.2258064516129% 966.1290322580645%;background-image: url(ts_si_md5.png);padding: 0; }
div.ts_si_md5_76_1::after {max-width:62px; width:100%;height:0;padding: 0 0 100% 0;}
.ts_si_md5_76_2 {max-width:62px; max-height:62px; }
.ts_si_md5_76_2::after {content: '\00a0';display: inline-block; width:62px; height:62px; background-position: 63.76146788990825% 99.81378026070763%;background-size: 803.2258064516129% 966.1290322580645%;background-image: url(ts_si_md5.png);padding: 0; }
div.ts_si_md5_76_2::after {max-width:62px; width:100%;height:0;padding: 0 0 100% 0;}
.ts_si_md5_76_3 {max-width:62px; max-height:62px; }
.ts_si_md5_76_3::after {content: '\00a0';display: inline-block; width:62px; height:62px; background-position: 78.21100917431193% 99.81378026070763%;background-size: 803.2258064516129% 966.1290322580645%;background-image: url(ts_si_md5.png);padding: 0; }
div.ts_si_md5_76_3::after {max-width:62px; width:100%;height:0;padding: 0 0 100% 0;}
.ts_si_md5_76_4 {max-width:62px; max-height:62px; }
.ts_si_md5_76_4::after {content: '\00a0';display: inline-block; width:62px; height:62px; background-position: 92.66055045871559% 98.32402234636872%;background-size: 803.2258064516129% 966.1290322580645%;background-image: url(ts_si_md5.png);padding: 0; }
div.ts_si_md5_76_4::after {max-width:62px; width:100%;height:0;padding: 0 0 100% 0;}
.ts_si_md5_85 {max-width:280px; max-height:103px; }
.ts_si_md5_85::after {content: '\00a0';display: inline-block; width:280px; height:103px; background-position: 0.45871559633027525% 42.943548387096776%;background-size: 177.85714285714286% 581.5533980582525%;background-image: url(ts_si_md5.png);padding: 0; }
div.ts_si_md5_85::after {max-width:280px; width:100%;height:0;padding: 0 0 36.785714285714285% 0;}
.ts_si_md5_91 {max-width:157px; max-height:136px; }
.ts_si_md5_91::after {content: '\00a0';display: inline-block; width:157px; height:136px; background-position: 68.03519061583577% 72.35421166306695%;background-size: 317.19745222929936% 440.44117647058823%;background-image: url(ts_si_md5.png);padding: 0; }
div.ts_si_md5_91::after {max-width:157px; width:100%;height:0;padding: 0 0 86.62420382165605% 0;}
.ts_si_md5_92 {max-width:130px; max-height:92px; }
.ts_si_md5_92::after {content: '\00a0';display: inline-block; width:130px; height:92px; background-position: 0.2717391304347826% 99.60552268244577%;background-size: 383.0769230769231% 651.0869565217391%;background-image: url(ts_si_md5.png);padding: 0; }
div.ts_si_md5_92::after {max-width:130px; width:100%;height:0;padding: 0 0 70.76923076923077% 0;}
.ts_si_md5_92_1 {max-width:148px; max-height:32px; }
.ts_si_md5_92_1::after {content: '\00a0';display: inline-block; width:148px; height:32px; background-position: 66.28571428571429% 83.24514991181658%;background-size: 336.4864864864865% 1871.875%;background-image: url(ts_si_md5.png);padding: 0; }
div.ts_si_md5_92_1::after {max-width:148px; width:100%;height:0;padding: 0 0 21.62162162162162% 0;}
.ts_si_md5_92_2 {max-width:137px; max-height:27px; }
.ts_si_md5_92_2::after {content: '\00a0';display: inline-block; width:137px; height:27px; background-position: 99.16897506925208% 30.06993006993007%;background-size: 363.5036496350365% 2218.5185185185187%;background-image: url(ts_si_md5.png);padding: 0; }
div.ts_si_md5_92_2::after {max-width:137px; width:100%;height:0;padding: 0 0 19.708029197080293% 0;}
.ts_si_md5_92_3 {max-width:139px; max-height:30px; }
.ts_si_md5_92_3::after {content: '\00a0';display: inline-block; width:139px; height:30px; background-position: 99.72144846796657% 24.780316344463973%;background-size: 358.27338129496405% 1996.6666666666667%;background-image: url(ts_si_md5.png);padding: 0; }
div.ts_si_md5_92_3::after {max-width:139px; width:100%;height:0;padding: 0 0 21.58273381294964% 0;}
.ts_si_md5_92_4 {max-width:141px; max-height:30px; }
.ts_si_md5_92_4::after {content: '\00a0';display: inline-block; width:141px; height:30px; background-position: 60.22408963585434% 88.75219683655536%;background-size: 353.1914893617021% 1996.6666666666667%;background-image: url(ts_si_md5.png);padding: 0; }
div.ts_si_md5_92_4::after {max-width:141px; width:100%;height:0;padding: 0 0 21.27659574468085% 0;}
.ts_si_md5_95 {max-width:230px; max-height:86px; }
.ts_si_md5_95::after {content: '\00a0';display: inline-block; width:230px; height:86px; background-position: 0.373134328358209% 81.48148148148148%;background-size: 216.52173913043478% 696.5116279069767%;background-image: url(ts_si_md5.png);padding: 0; }
div.ts_si_md5_95::after {max-width:230px; width:100%;height:0;padding: 0 0 37.391304347826086% 0;}

/* $TexturePacker:SmartUpdate:b88e297448dc42c42eb5de7b657bbf6b:15d7fe305d73e4dfea9f5b5a5b7a635e:fc92ab24c0f8393d59b3a45fe2e9c810$ */
