/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.JEEMAINS_10APRIL_2023_S2_S_51 {max-width:373px; max-height:267px; }
.JEEMAINS_10APRIL_2023_S2_S_51::after {content: '\00a0';display: inline-block; width:373px; height:267px; background-position: 0.1579778830963665% 0.5076142131979695%;background-size: 269.70509383378015% 173.78277153558054%;background-image: url(ph_xii_atoms3.png);padding: 0; }
div.JEEMAINS_10APRIL_2023_S2_S_51::after {max-width:373px; width:100%;height:0;padding: 0 0 71.58176943699732% 0;}
.JEEMAINS_11APRIL_2023_S1_S_34 {max-width:445px; max-height:71px; }
.JEEMAINS_11APRIL_2023_S1_S_34::after {content: '\00a0';display: inline-block; width:445px; height:71px; background-position: 75.22281639928698% 99.74554707379134%;background-size: 226.06741573033707% 653.5211267605633%;background-image: url(ph_xii_atoms3.png);padding: 0; }
div.JEEMAINS_11APRIL_2023_S1_S_34::after {max-width:445px; width:100%;height:0;padding: 0 0 15.955056179775282% 0;}
.JEEMAINS_11APRIL_2023_S1_S_54 {max-width:307px; max-height:136px; }
.JEEMAINS_11APRIL_2023_S1_S_54::after {content: '\00a0';display: inline-block; width:307px; height:136px; background-position: 99.85693848354792% 59.146341463414636%;background-size: 327.6872964169381% 341.1764705882353%;background-image: url(ph_xii_atoms3.png);padding: 0; }
div.JEEMAINS_11APRIL_2023_S1_S_54::after {max-width:307px; width:100%;height:0;padding: 0 0 44.299674267100976% 0;}
.JEEMAINS_15APRIL_2023_S1_Q_53 {max-width:238px; max-height:157px; }
.JEEMAINS_15APRIL_2023_S1_Q_53::after {content: '\00a0';display: inline-block; width:238px; height:157px; background-position: 54.947916666666664% 76.2214983713355%;background-size: 422.6890756302521% 295.54140127388536%;background-image: url(ph_xii_atoms3.png);padding: 0; }
div.JEEMAINS_15APRIL_2023_S1_Q_53::after {max-width:238px; width:100%;height:0;padding: 0 0 65.96638655462185% 0;}
.JEEMAINS_25JAN_S2_Q_10 {max-width:322px; max-height:232px; }
.JEEMAINS_25JAN_S2_Q_10::after {content: '\00a0';display: inline-block; width:322px; height:232px; background-position: 54.824561403508774% 0.43103448275862066%;background-size: 312.4223602484472% 200%;background-image: url(ph_xii_atoms3.png);padding: 0; }
div.JEEMAINS_25JAN_S2_Q_10::after {max-width:322px; width:100%;height:0;padding: 0 0 72.04968944099379% 0;}
.JEEMAINS_31JAN_S1_Q_29 {max-width:420px; max-height:182px; }
.JEEMAINS_31JAN_S1_Q_29::after {content: '\00a0';display: inline-block; width:420px; height:182px; background-position: 0.17064846416382254% 95.39007092198581%;background-size: 239.52380952380952% 254.94505494505495%;background-image: url(ph_xii_atoms3.png);padding: 0; }
div.JEEMAINS_31JAN_S1_Q_29::after {max-width:420px; width:100%;height:0;padding: 0 0 43.333333333333336% 0;}
.JEEMAINS_6APRIL_2023_S1_Q_42 {max-width:257px; max-height:192px; }
.JEEMAINS_6APRIL_2023_S1_Q_42::after {content: '\00a0';display: inline-block; width:257px; height:192px; background-position: 93.1909212283044% 0.36764705882352944%;background-size: 391.4396887159533% 241.66666666666666%;background-image: url(ph_xii_atoms3.png);padding: 0; }
div.JEEMAINS_6APRIL_2023_S1_Q_42::after {max-width:257px; width:100%;height:0;padding: 0 0 74.70817120622569% 0;}

/* $TexturePacker:SmartUpdate:da74c6da27e9dd09fa6cdb5ca471449f:3fdf2e22018a741cb95ac4042c3eedcb:4fe2924f4b4d18dcabd62fb4ccb4750a$ */
