/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.Atoms_and_Nuclei_1_o_1 {max-width:236px; max-height:215px; }
.Atoms_and_Nuclei_1_o_1::after {content: '\00a0';display: inline-block; width:236px; height:215px; background-position: 0.1447178002894356% 99.59349593495935%;background-size: 392.79661016949154% 214.41860465116278%;background-image: url(ph_xii_atoms2.png);padding: 0; }
div.Atoms_and_Nuclei_1_o_1::after {max-width:236px; width:100%;height:0;padding: 0 0 91.10169491525424% 0;}
.Atoms_and_Nuclei_1_o_2 {max-width:212px; max-height:215px; }
.Atoms_and_Nuclei_1_o_2::after {content: '\00a0';display: inline-block; width:212px; height:215px; background-position: 33.28671328671329% 99.59349593495935%;background-size: 437.2641509433962% 214.41860465116278%;background-image: url(ph_xii_atoms2.png);padding: 0; }
div.Atoms_and_Nuclei_1_o_2::after {max-width:212px; width:100%;height:0;padding: 0 0 101.41509433962264% 0;}
.Atoms_and_Nuclei_1_o_3 {max-width:218px; max-height:214px; }
.Atoms_and_Nuclei_1_o_3::after {content: '\00a0';display: inline-block; width:218px; height:214px; background-position: 93.79407616361073% 78.5425101214575%;background-size: 425.22935779816515% 215.42056074766356%;background-image: url(ph_xii_atoms2.png);padding: 0; }
div.Atoms_and_Nuclei_1_o_3::after {max-width:218px; width:100%;height:0;padding: 0 0 98.1651376146789% 0;}
.Atoms_and_Nuclei_1_o_4 {max-width:213px; max-height:219px; }
.Atoms_and_Nuclei_1_o_4::after {content: '\00a0';display: inline-block; width:213px; height:219px; background-position: 63.16526610644258% 80.16528925619835%;background-size: 435.2112676056338% 210.50228310502283%;background-image: url(ph_xii_atoms2.png);padding: 0; }
div.Atoms_and_Nuclei_1_o_4::after {max-width:213px; width:100%;height:0;padding: 0 0 102.8169014084507% 0;}
.Atoms_and_Nuclei_5_s {max-width:558px; max-height:192px; }
.Atoms_and_Nuclei_5_s::after {content: '\00a0';display: inline-block; width:558px; height:192px; background-position: 99.7289972899729% 0.37174721189591076%;background-size: 166.1290322580645% 240.10416666666666%;background-image: url(ph_xii_atoms2.png);padding: 0; }
div.Atoms_and_Nuclei_5_s::after {max-width:558px; width:100%;height:0;padding: 0 0 34.40860215053763% 0;}
.Atoms_and_Nuclei_81_q {max-width:366px; max-height:243px; }
.Atoms_and_Nuclei_81_q::after {content: '\00a0';display: inline-block; width:366px; height:243px; background-position: 0.17825311942959002% 0.45871559633027525%;background-size: 253.27868852459017% 189.7119341563786%;background-image: url(ph_xii_atoms2.png);padding: 0; }
div.Atoms_and_Nuclei_81_q::after {max-width:366px; width:100%;height:0;padding: 0 0 66.39344262295081% 0;}

/* $TexturePacker:SmartUpdate:d8ed5b3e7a54e6403a19d92a62ff167c:0071258f3f3a9136c86f6eaba1449e84:e11e5e725293178be72b46e272749034$ */
