/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.gujcet_2024_c_q_14 {max-width:608px; max-height:206px; }
.gujcet_2024_c_q_14::after {content: '\00a0';display: inline-block; width:608px; height:206px; background-position: 0.25125628140703515% 0.07874015748031496%; background-size: 165.46052631578948% 716.504854368932%; background-image: url(g2024_0.png);padding: 0; }
div.gujcet_2024_c_q_14::after {max-width:608px; width:100%;height:0;padding: 0 0 33.88157894736842% 0;}
.gujcet_2024_c_q_14a {max-width:417px; max-height:211px; }
.gujcet_2024_c_q_14a::after {content: '\00a0';display: inline-block; width:417px; height:211px; background-position: 0.1697792869269949% 59.44664031620553%; background-size: 241.24700239808155% 699.526066350711%; background-image: url(g2024_0.png);padding: 0; }
div.gujcet_2024_c_q_14a::after {max-width:417px; width:100%;height:0;padding: 0 0 50.59952038369305% 0;}
.gujcet_2024_c_q_14b {max-width:397px; max-height:227px; }
.gujcet_2024_c_q_14b::after {content: '\00a0';display: inline-block; width:397px; height:227px; background-position: 0.16420361247947454% 41.95356285028022%; background-size: 253.40050377833754% 650.2202643171806%; background-image: url(g2024_0.png);padding: 0; }
div.gujcet_2024_c_q_14b::after {max-width:397px; width:100%;height:0;padding: 0 0 57.178841309823675% 0;}
.gujcet_2024_c_q_14c {max-width:377px; max-height:187px; }
.gujcet_2024_c_q_14c::after {content: '\00a0';display: inline-block; width:377px; height:187px; background-position: 96.97933227344993% 0.07757951900698215%; background-size: 266.84350132625997% 789.3048128342245%; background-image: url(g2024_0.png);padding: 0; }
div.gujcet_2024_c_q_14c::after {max-width:377px; width:100%;height:0;padding: 0 0 49.60212201591512% 0;}
.gujcet_2024_c_q_14d {max-width:429px; max-height:193px; }
.gujcet_2024_c_q_14d::after {content: '\00a0';display: inline-block; width:429px; height:193px; background-position: 0.1733102253032929% 75.13639906469213%; background-size: 234.4988344988345% 764.7668393782384%; background-image: url(g2024_0.png);padding: 0; }
div.gujcet_2024_c_q_14d::after {max-width:429px; width:100%;height:0;padding: 0 0 44.98834498834499% 0;}
.gujcet_2024_c_q_16 {max-width:237px; max-height:110px; }
.gujcet_2024_c_q_16::after {content: '\00a0';display: inline-block; width:237px; height:110px; background-position: 82.05461638491548% 71.59590043923865%; background-size: 424.47257383966246% 1341.8181818181818%; background-image: url(g2024_0.png);padding: 0; }
div.gujcet_2024_c_q_16::after {max-width:237px; width:100%;height:0;padding: 0 0 46.413502109704645% 0;}
.gujcet_2024_c_q_16a {max-width:231px; max-height:103px; }
.gujcet_2024_c_q_16a::after {content: '\00a0';display: inline-block; width:231px; height:103px; background-position: 87.09677419354838% 92.42534595775673%; background-size: 435.4978354978355% 1433.009708737864%; background-image: url(g2024_0.png);padding: 0; }
div.gujcet_2024_c_q_16a::after {max-width:231px; width:100%;height:0;padding: 0 0 44.58874458874459% 0;}
.gujcet_2024_c_q_16b {max-width:249px; max-height:102px; }
.gujcet_2024_c_q_16b::after {content: '\00a0';display: inline-block; width:249px; height:102px; background-position: 89.16776750330251% 99.92721979621543%; background-size: 404.0160642570281% 1447.0588235294117%; background-image: url(g2024_0.png);padding: 0; }
div.gujcet_2024_c_q_16b::after {max-width:249px; width:100%;height:0;padding: 0 0 40.963855421686745% 0;}
.gujcet_2024_c_q_16c {max-width:253px; max-height:103px; }
.gujcet_2024_c_q_16c::after {content: '\00a0';display: inline-block; width:253px; height:103px; background-position: 55.644090305444884% 60.01456664238893%; background-size: 397.6284584980237% 1433.009708737864%; background-image: url(g2024_0.png);padding: 0; }
div.gujcet_2024_c_q_16c::after {max-width:253px; width:100%;height:0;padding: 0 0 40.71146245059288% 0;}
.gujcet_2024_c_q_16d {max-width:270px; max-height:94px; }
.gujcet_2024_c_q_16d::after {content: '\00a0';display: inline-block; width:270px; height:94px; background-position: 82.8804347826087% 13.675832127351665%; background-size: 372.5925925925926% 1570.212765957447%; background-image: url(g2024_0.png);padding: 0; }
div.gujcet_2024_c_q_16d::after {max-width:270px; width:100%;height:0;padding: 0 0 34.81481481481482% 0;}
.gujcet_2024_c_q_17a {max-width:168px; max-height:153px; }
.gujcet_2024_c_q_17a::after {content: '\00a0';display: inline-block; width:168px; height:153px; background-position: 80.31026252983294% 62.28269085411942%; background-size: 598.8095238095239% 964.7058823529412%; background-image: url(g2024_0.png);padding: 0; }
div.gujcet_2024_c_q_17a::after {max-width:168px; width:100%;height:0;padding: 0 0 91.07142857142857% 0;}
.gujcet_2024_c_q_17b {max-width:185px; max-height:207px; }
.gujcet_2024_c_q_17b::after {content: '\00a0';display: inline-block; width:185px; height:207px; background-position: 99.87819732034104% 48.384554767533494%; background-size: 543.7837837837837% 713.0434782608696%; background-image: url(g2024_0.png);padding: 0; }
div.gujcet_2024_c_q_17b::after {max-width:185px; width:100%;height:0;padding: 0 0 111.89189189189189% 0;}
.gujcet_2024_c_q_17c {max-width:197px; max-height:231px; }
.gujcet_2024_c_q_17c::after {content: '\00a0';display: inline-block; width:197px; height:231px; background-position: 49.69097651421508% 16.70682730923695%; background-size: 510.65989847715736% 638.961038961039%; background-image: url(g2024_0.png);padding: 0; }
div.gujcet_2024_c_q_17c::after {max-width:197px; width:100%;height:0;padding: 0 0 117.25888324873097% 0;}
.gujcet_2024_c_q_18 {max-width:500px; max-height:172px; }
.gujcet_2024_c_q_18::after {content: '\00a0';display: inline-block; width:500px; height:172px; background-position: 0.1976284584980237% 88.8036809815951%; background-size: 201.2% 858.1395348837209%; background-image: url(g2024_0.png);padding: 0; }
div.gujcet_2024_c_q_18::after {max-width:500px; width:100%;height:0;padding: 0 0 34.4% 0;}
.gujcet_2024_c_q_20 {max-width:500px; max-height:115px; }
.gujcet_2024_c_q_20::after {content: '\00a0';display: inline-block; width:500px; height:115px; background-position: 0.1976284584980237% 97.79573842762674%; background-size: 201.2% 1283.4782608695652%; background-image: url(g2024_0.png);padding: 0; }
div.gujcet_2024_c_q_20::after {max-width:500px; width:100%;height:0;padding: 0 0 23% 0;}
.gujcet_2024_c_q_20a {max-width:400px; max-height:134px; }
.gujcet_2024_c_q_20a::after {content: '\00a0';display: inline-block; width:400px; height:134px; background-position: 99.00990099009901% 21.162444113263785%; background-size: 251.5% 1101.4925373134329%; background-image: url(g2024_0.png);padding: 0; }
div.gujcet_2024_c_q_20a::after {max-width:400px; width:100%;height:0;padding: 0 0 33.5% 0;}
.gujcet_2024_c_q_20b {max-width:400px; max-height:118px; }
.gujcet_2024_c_q_20b::after {content: '\00a0';display: inline-block; width:400px; height:118px; background-position: 99.00990099009901% 30.85419734904271%; background-size: 251.5% 1250.8474576271187%; background-image: url(g2024_0.png);padding: 0; }
div.gujcet_2024_c_q_20b::after {max-width:400px; width:100%;height:0;padding: 0 0 29.5% 0;}
.gujcet_2024_c_q_20c {max-width:400px; max-height:100px; }
.gujcet_2024_c_q_20c::after {content: '\00a0';display: inline-block; width:400px; height:100px; background-position: 69.14191419141915% 52.54360465116279%; background-size: 251.5% 1476%; background-image: url(g2024_0.png);padding: 0; }
div.gujcet_2024_c_q_20c::after {max-width:400px; width:100%;height:0;padding: 0 0 25% 0;}
.gujcet_2024_c_q_20d {max-width:400px; max-height:108px; }
.gujcet_2024_c_q_20d::after {content: '\00a0';display: inline-block; width:400px; height:108px; background-position: 65.84158415841584% 44.88304093567251%; background-size: 251.5% 1366.6666666666667%; background-image: url(g2024_0.png);padding: 0; }
div.gujcet_2024_c_q_20d::after {max-width:400px; width:100%;height:0;padding: 0 0 27% 0;}
.gujcet_2024_c_q_22 {max-width:500px; max-height:75px; }
.gujcet_2024_c_q_22::after {content: '\00a0';display: inline-block; width:500px; height:75px; background-position: 99.2094861660079% 38.401142041399%; background-size: 201.2% 1968%; background-image: url(g2024_0.png);padding: 0; }
div.gujcet_2024_c_q_22::after {max-width:500px; width:100%;height:0;padding: 0 0 15% 0;}
.gujcet_2024_c_q_22a {max-width:150px; max-height:98px; }
.gujcet_2024_c_q_22a::after {content: '\00a0';display: inline-block; width:150px; height:98px; background-position: 98.3644859813084% 59.65166908563135%; background-size: 670.6666666666666% 1506.1224489795918%; background-image: url(g2024_0.png);padding: 0; }
div.gujcet_2024_c_q_22a::after {max-width:150px; width:100%;height:0;padding: 0 0 65.33333333333333% 0;}
.gujcet_2024_c_q_22b {max-width:150px; max-height:68px; }
.gujcet_2024_c_q_22b::after {content: '\00a0';display: inline-block; width:150px; height:68px; background-position: 99.88317757009345% 82.8125%; background-size: 670.6666666666666% 2170.5882352941176%; background-image: url(g2024_0.png);padding: 0; }
div.gujcet_2024_c_q_22b::after {max-width:150px; width:100%;height:0;padding: 0 0 45.333333333333336% 0;}
.gujcet_2024_c_q_22c {max-width:150px; max-height:76px; }
.gujcet_2024_c_q_22c::after {content: '\00a0';display: inline-block; width:150px; height:76px; background-position: 99.88317757009345% 77.78571428571429%; background-size: 670.6666666666666% 1942.1052631578948%; background-image: url(g2024_0.png);padding: 0; }
div.gujcet_2024_c_q_22c::after {max-width:150px; width:100%;height:0;padding: 0 0 50.666666666666664% 0;}
.gujcet_2024_c_q_22d {max-width:150px; max-height:95px; }
.gujcet_2024_c_q_22d::after {content: '\00a0';display: inline-block; width:150px; height:95px; background-position: 46.96261682242991% 31.860970311368572%; background-size: 670.6666666666666% 1553.6842105263158%; background-image: url(g2024_0.png);padding: 0; }
div.gujcet_2024_c_q_22d::after {max-width:150px; width:100%;height:0;padding: 0 0 63.333333333333336% 0;}
.gujcet_2024_c_q_40a {max-width:184px; max-height:179px; }
.gujcet_2024_c_q_40a::after {content: '\00a0';display: inline-block; width:184px; height:179px; background-position: 81.50851581508516% 83.96299151888975%; background-size: 546.7391304347826% 824.5810055865921%; background-image: url(g2024_0.png);padding: 0; }
div.gujcet_2024_c_q_40a::after {max-width:184px; width:100%;height:0;padding: 0 0 97.28260869565217% 0;}
.gujcet_2024_c_q_40b {max-width:172px; max-height:176px; }
.gujcet_2024_c_q_40b::after {content: '\00a0';display: inline-block; width:172px; height:176px; background-position: 60.19184652278177% 99.6923076923077%; background-size: 584.8837209302326% 838.6363636363636%; background-image: url(g2024_0.png);padding: 0; }
div.gujcet_2024_c_q_40b::after {max-width:172px; width:100%;height:0;padding: 0 0 102.32558139534883% 0;}
.gujcet_2024_c_q_40c {max-width:167px; max-height:188px; }
.gujcet_2024_c_q_40c::after {content: '\00a0';display: inline-block; width:167px; height:188px; background-position: 59.833134684147794% 85.9472049689441%; background-size: 602.3952095808384% 785.1063829787234%; background-image: url(g2024_0.png);padding: 0; }
div.gujcet_2024_c_q_40c::after {max-width:167px; width:100%;height:0;padding: 0 0 112.57485029940119% 0;}
.gujcet_2024_c_q_40d {max-width:199px; max-height:178px; }
.gujcet_2024_c_q_40d::after {content: '\00a0';display: inline-block; width:199px; height:178px; background-position: 53.407682775712516% 71.49460708782743%; background-size: 505.52763819095475% 829.2134831460675%; background-image: url(g2024_0.png);padding: 0; }
div.gujcet_2024_c_q_40d::after {max-width:199px; width:100%;height:0;padding: 0 0 89.44723618090453% 0;}
.gujcet_2024_p_q_36 {max-width:400px; max-height:315px; }
.gujcet_2024_p_q_36::after {content: '\00a0';display: inline-block; width:400px; height:315px; background-position: 0.16501650165016502% 17.915590008613265%; background-size: 251.5% 468.57142857142856%; background-image: url(g2024_0.png);padding: 0; }
div.gujcet_2024_p_q_36::after {max-width:400px; width:100%;height:0;padding: 0 0 78.75% 0;}

@keyframes gujcet_2024_c_q-frames {
    0% { background-position: 0.25125628140703515% 0.07874015748031496%;  }
    20% { background-position: 82.05461638491548% 71.59590043923865%;  }
    40% { background-position: 0.1976284584980237% 88.8036809815951%;  }
    60% { background-position: 0.1976284584980237% 97.79573842762674%;  }
    80% { background-position: 99.2094861660079% 38.401142041399%;  }
}

.gujcet_2024_c_q-animation {
    max-width: 608px;
    max-height: 206px;
}
.gujcet_2024_c_q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 608px;
    height: 206px;
    padding: 0;
    background-image: url(g2024_0.png);
    background-size: 165.46052631578948% 716.504854368932%; 
    animation-name: gujcet_2024_c_q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.gujcet_2024_c_q-animation::after {
    max-width: 608px;
    width: 100%;
    height: 0;
    padding: 0 0 33.88157894736842% 0;
}

/* $TexturePacker:SmartUpdate:e180cea280926b93a7d5065134b1b328:7e4975720119a42a3f6c4a7328469043:bb42ba269bf4cd86be924b03c9af2607$ */
