/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.eam_17may2024s1_107 {max-width:231px; max-height:197px; }
.eam_17may2024s1_107::after {content: '\00a0';display: inline-block; width:231px; height:197px; background-position: 37.432432432432435% 47.71863117870723%; background-size: 420.34632034632034% 367.005076142132%; background-image: url(ap_ep_17_may_2024_s1_0.png);padding: 0; }
div.eam_17may2024s1_107::after {max-width:231px; width:100%;height:0;padding: 0 0 85.28138528138528% 0;}
.eam_17may2024s1_108 {max-width:159px; max-height:169px; }
.eam_17may2024s1_108::after {content: '\00a0';display: inline-block; width:159px; height:169px; background-position: 42.610837438423644% 81.04693140794224%; background-size: 610.6918238993711% 427.81065088757396%; background-image: url(ap_ep_17_may_2024_s1_0.png);padding: 0; }
div.eam_17may2024s1_108::after {max-width:159px; width:100%;height:0;padding: 0 0 106.28930817610063% 0;}
.eam_17may2024s1_109 {max-width:157px; max-height:192px; }
.eam_17may2024s1_109::after {content: '\00a0';display: inline-block; width:157px; height:192px; background-position: 0.12285012285012285% 99.81167608286252%; background-size: 618.4713375796179% 376.5625%; background-image: url(ap_ep_17_may_2024_s1_0.png);padding: 0; }
div.eam_17may2024s1_109::after {max-width:157px; width:100%;height:0;padding: 0 0 122.29299363057325% 0;}
.eam_17may2024s1_110 {max-width:338px; max-height:191px; }
.eam_17may2024s1_110::after {content: '\00a0';display: inline-block; width:338px; height:191px; background-position: 89.0995260663507% 0.18796992481203006%; background-size: 287.27810650887574% 378.5340314136126%; background-image: url(ap_ep_17_may_2024_s1_0.png);padding: 0; }
div.eam_17may2024s1_110::after {max-width:338px; width:100%;height:0;padding: 0 0 56.50887573964497% 0;}
.eam_17may2024s1_138 {max-width:275px; max-height:278px; }
.eam_17may2024s1_138::after {content: '\00a0';display: inline-block; width:275px; height:278px; background-position: 0.14367816091954022% 56.40449438202247%; background-size: 353.09090909090907% 260.0719424460432%; background-image: url(ap_ep_17_may_2024_s1_0.png);padding: 0; }
div.eam_17may2024s1_138::after {max-width:275px; width:100%;height:0;padding: 0 0 101.0909090909091% 0;}
.eam_17may2024s1_15 {max-width:186px; max-height:182px; }
.eam_17may2024s1_15::after {content: '\00a0';display: inline-block; width:186px; height:182px; background-position: 20.254777070063696% 97.96672828096118%; background-size: 522.0430107526881% 397.25274725274727%; background-image: url(ap_ep_17_may_2024_s1_0.png);padding: 0; }
div.eam_17may2024s1_15::after {max-width:186px; width:100%;height:0;padding: 0 0 97.84946236559139% 0;}
.eam_17may2024s1_152 {max-width:562px; max-height:249px; }
.eam_17may2024s1_152::after {content: '\00a0';display: inline-block; width:562px; height:249px; background-position: 0.24449877750611246% 0.2109704641350211%; background-size: 172.77580071174378% 290.3614457831325%; background-image: url(ap_ep_17_may_2024_s1_0.png);padding: 0; }
div.eam_17may2024s1_152::after {max-width:562px; width:100%;height:0;padding: 0 0 44.306049822064054% 0;}
.eam_17may2024s1_153 {max-width:92px; max-height:85px; }
.eam_17may2024s1_153::after {content: '\00a0';display: inline-block; width:92px; height:85px; background-position: 86.9169510807736% 90.59561128526646%; background-size: 1055.4347826086957% 850.5882352941177%; background-image: url(ap_ep_17_may_2024_s1_0.png);padding: 0; }
div.eam_17may2024s1_153::after {max-width:92px; width:100%;height:0;padding: 0 0 92.3913043478261% 0;}
.eam_17may2024s1_155 {max-width:432px; max-height:81px; }
.eam_17may2024s1_155::after {content: '\00a0';display: inline-block; width:432px; height:81px; background-position: 94.43413729128015% 41.43302180685358%; background-size: 224.7685185185185% 892.5925925925926%; background-image: url(ap_ep_17_may_2024_s1_0.png);padding: 0; }
div.eam_17may2024s1_155::after {max-width:432px; width:100%;height:0;padding: 0 0 18.75% 0;}
.eam_17may2024s1_156 {max-width:257px; max-height:92px; }
.eam_17may2024s1_156::after {content: '\00a0';display: inline-block; width:257px; height:92px; background-position: 70.86834733893558% 91.60063391442155%; background-size: 377.82101167315176% 785.8695652173913%; background-image: url(ap_ep_17_may_2024_s1_0.png);padding: 0; }
div.eam_17may2024s1_156::after {max-width:257px; width:100%;height:0;padding: 0 0 35.797665369649806% 0;}
.eam_17may2024s1_158 {max-width:351px; max-height:113px; }
.eam_17may2024s1_158::after {content: '\00a0';display: inline-block; width:351px; height:113px; background-position: 82.09677419354838% 57.049180327868854%; background-size: 276.6381766381766% 639.8230088495575%; background-image: url(ap_ep_17_may_2024_s1_0.png);padding: 0; }
div.eam_17may2024s1_158::after {max-width:351px; width:100%;height:0;padding: 0 0 32.193732193732195% 0;}
.eam_17may2024s1_158_a {max-width:106px; max-height:89px; }
.eam_17may2024s1_158_a::after {content: '\00a0';display: inline-block; width:106px; height:89px; background-position: 93.52601156069365% 72.87066246056783%; background-size: 916.0377358490566% 812.3595505617977%; background-image: url(ap_ep_17_may_2024_s1_0.png);padding: 0; }
div.eam_17may2024s1_158_a::after {max-width:106px; width:100%;height:0;padding: 0 0 83.9622641509434% 0;}
.eam_17may2024s1_158_b {max-width:67px; max-height:111px; }
.eam_17may2024s1_158_b::after {content: '\00a0';display: inline-block; width:67px; height:111px; background-position: 99.88938053097345% 0.16339869281045752%; background-size: 1449.2537313432836% 651.3513513513514%; background-image: url(ap_ep_17_may_2024_s1_0.png);padding: 0; }
div.eam_17may2024s1_158_b::after {max-width:67px; width:100%;height:0;padding: 0 0 165.67164179104478% 0;}
.eam_17may2024s1_158_c {max-width:159px; max-height:82px; }
.eam_17may2024s1_158_c::after {content: '\00a0';display: inline-block; width:159px; height:82px; background-position: 42.610837438423644% 96.56786271450858%; background-size: 610.6918238993711% 881.7073170731708%; background-image: url(ap_ep_17_may_2024_s1_0.png);padding: 0; }
div.eam_17may2024s1_158_c::after {max-width:159px; width:100%;height:0;padding: 0 0 51.57232704402516% 0;}
.eam_17may2024s1_158_d {max-width:79px; max-height:104px; }
.eam_17may2024s1_158_d::after {content: '\00a0';display: inline-block; width:79px; height:104px; background-position: 96.52466367713005% 56.219709208400644%; background-size: 1229.113924050633% 695.1923076923077%; background-image: url(ap_ep_17_may_2024_s1_0.png);padding: 0; }
div.eam_17may2024s1_158_d::after {max-width:79px; width:100%;height:0;padding: 0 0 131.64556962025316% 0;}
.eam_17may2024s1_159 {max-width:362px; max-height:72px; }
.eam_17may2024s1_159::after {content: '\00a0';display: inline-block; width:362px; height:72px; background-position: 92.61083743842364% 29.646697388632873%; background-size: 268.23204419889504% 1004.1666666666666%; background-image: url(ap_ep_17_may_2024_s1_0.png);padding: 0; }
div.eam_17may2024s1_159::after {max-width:362px; width:100%;height:0;padding: 0 0 19.88950276243094% 0;}
.eam_17may2024s1_92 {max-width:302px; max-height:115px; }
.eam_17may2024s1_92::after {content: '\00a0';display: inline-block; width:302px; height:115px; background-position: 75.63527653213752% 75.98684210526316%; background-size: 321.52317880794703% 628.695652173913%; background-image: url(ap_ep_17_may_2024_s1_0.png);padding: 0; }
div.eam_17may2024s1_92::after {max-width:302px; width:100%;height:0;padding: 0 0 38.079470198675494% 0;}

@keyframes eam_17may2024s1-frames {
    0% { background-position: 20.254777070063696% 97.96672828096118%;  }
    7.6923076923076925% { background-position: 75.63527653213752% 75.98684210526316%;  }
    15.384615384615385% { background-position: 37.432432432432435% 47.71863117870723%;  }
    23.076923076923077% { background-position: 42.610837438423644% 81.04693140794224%;  }
    30.76923076923077% { background-position: 0.12285012285012285% 99.81167608286252%;  }
    38.46153846153847% { background-position: 89.0995260663507% 0.18796992481203006%;  }
    46.15384615384615% { background-position: 0.14367816091954022% 56.40449438202247%;  }
    53.84615384615385% { background-position: 0.24449877750611246% 0.2109704641350211%;  }
    61.53846153846154% { background-position: 86.9169510807736% 90.59561128526646%;  }
    69.23076923076923% { background-position: 94.43413729128015% 41.43302180685358%;  }
    76.92307692307693% { background-position: 70.86834733893558% 91.60063391442155%;  }
    84.61538461538461% { background-position: 82.09677419354838% 57.049180327868854%;  }
    92.3076923076923% { background-position: 92.61083743842364% 29.646697388632873%;  }
}

.eam_17may2024s1-animation {
    max-width: 186px;
    max-height: 182px;
}
.eam_17may2024s1-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 186px;
    height: 182px;
    padding: 0;
    background-image: url(ap_ep_17_may_2024_s1_0.png);
    background-size: 522.0430107526881% 397.25274725274727%; 
    animation-name: eam_17may2024s1-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.eam_17may2024s1-animation::after {
    max-width: 186px;
    width: 100%;
    height: 0;
    padding: 0 0 97.84946236559139% 0;
}

/* $TexturePacker:SmartUpdate:e4dc69c50cfdf798214a843a568bacb5:17172939b5b07be77015819cbcd90244:c2e6547c2ad276b19d4d716fe2ff7b0f$ */
