/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.eam_20may2025s2_105 {max-width:193px; max-height:191px; }
.eam_20may2025s2_105::after {content: '\00a0';display: inline-block; width:193px; height:191px; background-position: 94.26751592356688% 79.81947130883302%; background-size: 262.6943005181347% 912.041884816754%; background-image: url(ap_ep_20_may_2025_s2_0.png);padding: 0; }
div.eam_20may2025s2_105::after {max-width:193px; width:100%;height:0;padding: 0 0 98.96373056994818% 0;}
.eam_20may2025s2_107 {max-width:442px; max-height:191px; }
.eam_20may2025s2_107::after {content: '\00a0';display: inline-block; width:442px; height:191px; background-position: 1.5384615384615385% 0.06447453255963895%; background-size: 114.70588235294117% 912.041884816754%; background-image: url(ap_ep_20_may_2025_s2_0.png);padding: 0; }
div.eam_20may2025s2_107::after {max-width:442px; width:100%;height:0;padding: 0 0 43.21266968325792% 0;}
.eam_20may2025s2_118 {max-width:195px; max-height:223px; }
.eam_20may2025s2_118::after {content: '\00a0';display: inline-block; width:195px; height:223px; background-position: 99.67948717948718% 52.33706385780118%; background-size: 260% 781.1659192825113%; background-image: url(ap_ep_20_may_2025_s2_0.png);padding: 0; }
div.eam_20may2025s2_118::after {max-width:195px; width:100%;height:0;padding: 0 0 114.35897435897436% 0;}
.eam_20may2025s2_119 {max-width:260px; max-height:209px; }
.eam_20may2025s2_119::after {content: '\00a0';display: inline-block; width:260px; height:209px; background-position: 0.4048582995951417% 94.78147423352902%; background-size: 195% 833.4928229665072%; background-image: url(ap_ep_20_may_2025_s2_0.png);padding: 0; }
div.eam_20may2025s2_119::after {max-width:260px; width:100%;height:0;padding: 0 0 80.38461538461539% 0;}
.eam_20may2025s2_139 {max-width:345px; max-height:145px; }
.eam_20may2025s2_139::after {content: '\00a0';display: inline-block; width:345px; height:145px; background-position: 0.6172839506172839% 39.07326236693801%; background-size: 146.95652173913044% 1201.3793103448277%; background-image: url(ap_ep_20_may_2025_s2_0.png);padding: 0; }
div.eam_20may2025s2_139::after {max-width:345px; width:100%;height:0;padding: 0 0 42.028985507246375% 0;}
.eam_20may2025s2_139_a {max-width:179px; max-height:81px; }
.eam_20may2025s2_139_a::after {content: '\00a0';display: inline-block; width:179px; height:81px; background-position: 82.3170731707317% 86.09271523178808%; background-size: 283.24022346368713% 2150.617283950617%; background-image: url(ap_ep_20_may_2025_s2_0.png);padding: 0; }
div.eam_20may2025s2_139_a::after {max-width:179px; width:100%;height:0;padding: 0 0 45.25139664804469% 0;}
.eam_20may2025s2_139_b {max-width:287px; max-height:71px; }
.eam_20may2025s2_139_b::after {content: '\00a0';display: inline-block; width:287px; height:71px; background-position: 0.45454545454545453% 74.98503889886295%; background-size: 176.65505226480838% 2453.521126760563%; background-image: url(ap_ep_20_may_2025_s2_0.png);padding: 0; }
div.eam_20may2025s2_139_b::after {max-width:287px; width:100%;height:0;padding: 0 0 24.738675958188153% 0;}
.eam_20may2025s2_142 {max-width:268px; max-height:127px; }
.eam_20may2025s2_142::after {content: '\00a0';display: inline-block; width:268px; height:127px; background-position: 0.41841004184100417% 82.04334365325077%; background-size: 189.17910447761193% 1371.6535433070867%; background-image: url(ap_ep_20_may_2025_s2_0.png);padding: 0; }
div.eam_20may2025s2_142::after {max-width:268px; width:100%;height:0;padding: 0 0 47.38805970149254% 0;}
.eam_20may2025s2_155 {max-width:309px; max-height:232px; }
.eam_20may2025s2_155::after {content: '\00a0';display: inline-block; width:309px; height:232px; background-position: 0.5050505050505051% 50.99337748344371%; background-size: 164.07766990291262% 750.8620689655172%; background-image: url(ap_ep_20_may_2025_s2_0.png);padding: 0; }
div.eam_20may2025s2_155::after {max-width:309px; width:100%;height:0;padding: 0 0 75.08090614886731% 0;}
.eam_20may2025s2_157 {max-width:405px; max-height:87px; }
.eam_20may2025s2_157::after {content: '\00a0';display: inline-block; width:405px; height:87px; background-position: 0.9803921568627451% 11.661631419939576%; background-size: 125.18518518518519% 2002.2988505747126%; background-image: url(ap_ep_20_may_2025_s2_0.png);padding: 0; }
div.eam_20may2025s2_157::after {max-width:405px; width:100%;height:0;padding: 0 0 21.48148148148148% 0;}
.eam_20may2025s2_157_a {max-width:140px; max-height:84px; }
.eam_20may2025s2_157_a::after {content: '\00a0';display: inline-block; width:140px; height:84px; background-position: 94.55040871934605% 42.822677925211096%; background-size: 362.14285714285717% 2073.809523809524%; background-image: url(ap_ep_20_may_2025_s2_0.png);padding: 0; }
div.eam_20may2025s2_157_a::after {max-width:140px; width:100%;height:0;padding: 0 0 60% 0;}
.eam_20may2025s2_157_b {max-width:168px; max-height:88px; }
.eam_20may2025s2_157_b::after {content: '\00a0';display: inline-block; width:168px; height:88px; background-position: 77.28613569321534% 91.41475211608223%; background-size: 301.7857142857143% 1979.5454545454545%; background-image: url(ap_ep_20_may_2025_s2_0.png);padding: 0; }
div.eam_20may2025s2_157_b::after {max-width:168px; width:100%;height:0;padding: 0 0 52.38095238095238% 0;}
.eam_20may2025s2_157_c {max-width:151px; max-height:85px; }
.eam_20may2025s2_157_c::after {content: '\00a0';display: inline-block; width:151px; height:85px; background-position: 97.47191011235955% 37.65841882920942%; background-size: 335.7615894039735% 2049.4117647058824%; background-image: url(ap_ep_20_may_2025_s2_0.png);padding: 0; }
div.eam_20may2025s2_157_c::after {max-width:151px; width:100%;height:0;padding: 0 0 56.29139072847682% 0;}
.eam_20may2025s2_157_d {max-width:139px; max-height:100px; }
.eam_20may2025s2_157_d::after {content: '\00a0';display: inline-block; width:139px; height:100px; background-position: 71.19565217391305% 97.50304506699148%; background-size: 364.7482014388489% 1742%; background-image: url(ap_ep_20_may_2025_s2_0.png);padding: 0; }
div.eam_20may2025s2_157_d::after {max-width:139px; width:100%;height:0;padding: 0 0 71.94244604316546% 0;}
.eam_20may2025s2_158 {max-width:384px; max-height:84px; }
.eam_20may2025s2_158::after {content: '\00a0';display: inline-block; width:384px; height:84px; background-position: 0.8130081300813008% 16.9481302774427%; background-size: 132.03125% 2073.809523809524%; background-image: url(ap_ep_20_may_2025_s2_0.png);padding: 0; }
div.eam_20may2025s2_158::after {max-width:384px; width:100%;height:0;padding: 0 0 21.875% 0;}
.eam_20may2025s2_158_a {max-width:109px; max-height:74px; }
.eam_20may2025s2_158_a::after {content: '\00a0';display: inline-block; width:109px; height:74px; background-position: 94.47236180904522% 27.158273381294965%; background-size: 465.13761467889907% 2354.054054054054%; background-image: url(ap_ep_20_may_2025_s2_0.png);padding: 0; }
div.eam_20may2025s2_158_a::after {max-width:109px; width:100%;height:0;padding: 0 0 67.88990825688073% 0;}
.eam_20may2025s2_158_b {max-width:136px; max-height:78px; }
.eam_20may2025s2_158_b::after {content: '\00a0';display: inline-block; width:136px; height:78px; background-position: 0.2695417789757412% 99.93990384615384%; background-size: 372.79411764705884% 2233.3333333333335%; background-image: url(ap_ep_20_may_2025_s2_0.png);padding: 0; }
div.eam_20may2025s2_158_b::after {max-width:136px; width:100%;height:0;padding: 0 0 57.35294117647059% 0;}
.eam_20may2025s2_158_c {max-width:114px; max-height:84px; }
.eam_20may2025s2_158_c::after {content: '\00a0';display: inline-block; width:114px; height:84px; background-position: 98.21882951653944% 16.9481302774427%; background-size: 444.7368421052632% 2073.809523809524%; background-image: url(ap_ep_20_may_2025_s2_0.png);padding: 0; }
div.eam_20may2025s2_158_c::after {max-width:114px; width:100%;height:0;padding: 0 0 73.6842105263158% 0;}
.eam_20may2025s2_158_d {max-width:127px; max-height:86px; }
.eam_20may2025s2_158_d::after {content: '\00a0';display: inline-block; width:127px; height:86px; background-position: 98.94736842105263% 22.10144927536232%; background-size: 399.21259842519686% 2025.5813953488373%; background-image: url(ap_ep_20_may_2025_s2_0.png);padding: 0; }
div.eam_20may2025s2_158_d::after {max-width:127px; width:100%;height:0;padding: 0 0 67.71653543307086% 0;}
.eam_20may2025s2_82 {max-width:207px; max-height:218px; }
.eam_20may2025s2_82::after {content: '\00a0';display: inline-block; width:207px; height:218px; background-position: 98.66666666666667% 66.86351706036746%; background-size: 244.92753623188406% 799.0825688073395%; background-image: url(ap_ep_20_may_2025_s2_0.png);padding: 0; }
div.eam_20may2025s2_82::after {max-width:207px; width:100%;height:0;padding: 0 0 105.31400966183575% 0;}
.eam_20may2025s2_95 {max-width:374px; max-height:257px; }
.eam_20may2025s2_95::after {content: '\00a0';display: inline-block; width:374px; height:257px; background-position: 0.7518796992481203% 24.646464646464647%; background-size: 135.5614973262032% 677.8210116731517%; background-image: url(ap_ep_20_may_2025_s2_0.png);padding: 0; }
div.eam_20may2025s2_95::after {max-width:374px; width:100%;height:0;padding: 0 0 68.71657754010695% 0;}
.eam_20may2025s2_98 {max-width:294px; max-height:249px; }
.eam_20may2025s2_98::after {content: '\00a0';display: inline-block; width:294px; height:249px; background-position: 0.4694835680751174% 67.18017414601474%; background-size: 172.44897959183675% 699.5983935742972%; background-image: url(ap_ep_20_may_2025_s2_0.png);padding: 0; }
div.eam_20may2025s2_98::after {max-width:294px; width:100%;height:0;padding: 0 0 84.6938775510204% 0;}

@keyframes eam_20may2025s2-frames {
    0% { background-position: 98.66666666666667% 66.86351706036746%;  }
    8.333333333333332% { background-position: 0.7518796992481203% 24.646464646464647%;  }
    16.666666666666664% { background-position: 0.4694835680751174% 67.18017414601474%;  }
    25% { background-position: 94.26751592356688% 79.81947130883302%;  }
    33.33333333333333% { background-position: 1.5384615384615385% 0.06447453255963895%;  }
    41.66666666666667% { background-position: 99.67948717948718% 52.33706385780118%;  }
    50% { background-position: 0.4048582995951417% 94.78147423352902%;  }
    58.333333333333336% { background-position: 0.6172839506172839% 39.07326236693801%;  }
    66.66666666666666% { background-position: 0.41841004184100417% 82.04334365325077%;  }
    75% { background-position: 0.5050505050505051% 50.99337748344371%;  }
    83.33333333333334% { background-position: 0.9803921568627451% 11.661631419939576%;  }
    91.66666666666666% { background-position: 0.8130081300813008% 16.9481302774427%;  }
}

.eam_20may2025s2-animation {
    max-width: 207px;
    max-height: 218px;
}
.eam_20may2025s2-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 207px;
    height: 218px;
    padding: 0;
    background-image: url(ap_ep_20_may_2025_s2_0.png);
    background-size: 244.92753623188406% 799.0825688073395%; 
    animation-name: eam_20may2025s2-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.eam_20may2025s2-animation::after {
    max-width: 207px;
    width: 100%;
    height: 0;
    padding: 0 0 105.31400966183575% 0;
}

/* $TexturePacker:SmartUpdate:f861f917fa18c8bcd28b3e716ee39b5c:603e18bb910a80ed5088e707751010b8:e051dfc925dc0dbd007a60991efb0c75$ */
