/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.eam_19may2025s1_102 {max-width:339px; max-height:129px; }
.eam_19may2025s1_102::after {content: '\00a0';display: inline-block; width:339px; height:129px; background-position: 0.6097560975609756% 27.653061224489797%; background-size: 148.37758112094394% 859.6899224806201%; background-image: url(ap_ep_19_may_2025_s1_0.png);padding: 0; }
div.eam_19may2025s1_102::after {max-width:339px; width:100%;height:0;padding: 0 0 38.05309734513274% 0;}
.eam_19may2025s1_118 {max-width:189px; max-height:171px; }
.eam_19may2025s1_118::after {content: '\00a0';display: inline-block; width:189px; height:171px; background-position: 0.3184713375796178% 78.57142857142857%; background-size: 266.1375661375661% 648.5380116959064%; background-image: url(ap_ep_19_may_2025_s1_0.png);padding: 0; }
div.eam_19may2025s1_118::after {max-width:189px; width:100%;height:0;padding: 0 0 90.47619047619048% 0;}
.eam_19may2025s1_119_a {max-width:304px; max-height:89px; }
.eam_19may2025s1_119_a::after {content: '\00a0';display: inline-block; width:304px; height:89px; background-position: 0.5025125628140703% 49.80392156862745%; background-size: 165.46052631578948% 1246.0674157303372%; background-image: url(ap_ep_19_may_2025_s1_0.png);padding: 0; }
div.eam_19may2025s1_119_a::after {max-width:304px; width:100%;height:0;padding: 0 0 29.276315789473685% 0;}
.eam_19may2025s1_119_b {max-width:266px; max-height:76px; }
.eam_19may2025s1_119_b::after {content: '\00a0';display: inline-block; width:266px; height:76px; background-position: 0.4219409282700422% 98.3543078412391%; background-size: 189.09774436090225% 1459.2105263157894%; background-image: url(ap_ep_19_may_2025_s1_0.png);padding: 0; }
div.eam_19may2025s1_119_b::after {max-width:266px; width:100%;height:0;padding: 0 0 28.571428571428573% 0;}
.eam_19may2025s1_119_c {max-width:370px; max-height:148px; }
.eam_19may2025s1_119_c::after {content: '\00a0';display: inline-block; width:370px; height:148px; background-position: 0.7518796992481203% 12.695109261186264%; background-size: 135.94594594594594% 749.3243243243244%; background-image: url(ap_ep_19_may_2025_s1_0.png);padding: 0; }
div.eam_19may2025s1_119_c::after {max-width:370px; width:100%;height:0;padding: 0 0 40% 0;}
.eam_19may2025s1_119_d {max-width:359px; max-height:106px; }
.eam_19may2025s1_119_d::after {content: '\00a0';display: inline-block; width:359px; height:106px; background-position: 0.6944444444444444% 39.980059820538386%; background-size: 140.11142061281336% 1046.2264150943397%; background-image: url(ap_ep_19_may_2025_s1_0.png);padding: 0; }
div.eam_19may2025s1_119_d::after {max-width:359px; width:100%;height:0;padding: 0 0 29.526462395543174% 0;}
.eam_19may2025s1_151_a {max-width:129px; max-height:68px; }
.eam_19may2025s1_151_a::after {content: '\00a0';display: inline-block; width:129px; height:68px; background-position: 96.524064171123% 42.07492795389049%; background-size: 389.92248062015506% 1630.8823529411766%; background-image: url(ap_ep_19_may_2025_s1_0.png);padding: 0; }
div.eam_19may2025s1_151_a::after {max-width:129px; width:100%;height:0;padding: 0 0 52.713178294573645% 0;}
.eam_19may2025s1_151_b {max-width:128px; max-height:74px; }
.eam_19may2025s1_151_b::after {content: '\00a0';display: inline-block; width:128px; height:74px; background-position: 99.2% 11.78743961352657%; background-size: 392.96875% 1498.6486486486488%; background-image: url(ap_ep_19_may_2025_s1_0.png);padding: 0; }
div.eam_19may2025s1_151_b::after {max-width:128px; width:100%;height:0;padding: 0 0 57.8125% 0;}
.eam_19may2025s1_151_c {max-width:129px; max-height:73px; }
.eam_19may2025s1_151_c::after {content: '\00a0';display: inline-block; width:129px; height:73px; background-position: 99.46524064171123% 19.015444015444015%; background-size: 389.92248062015506% 1519.1780821917807%; background-image: url(ap_ep_19_may_2025_s1_0.png);padding: 0; }
div.eam_19may2025s1_151_c::after {max-width:129px; width:100%;height:0;padding: 0 0 56.58914728682171% 0;}
.eam_19may2025s1_151_d {max-width:132px; max-height:80px; }
.eam_19may2025s1_151_d::after {content: '\00a0';display: inline-block; width:132px; height:80px; background-position: 97.30458221024259% 34.69387755102041%; background-size: 381.06060606060606% 1386.25%; background-image: url(ap_ep_19_may_2025_s1_0.png);padding: 0; }
div.eam_19may2025s1_151_d::after {max-width:132px; width:100%;height:0;padding: 0 0 60.60606060606061% 0;}
.eam_19may2025s1_155 {max-width:245px; max-height:138px; }
.eam_19may2025s1_155::after {content: '\00a0';display: inline-block; width:245px; height:138px; background-position: 0.3875968992248062% 61.585993820803296%; background-size: 205.30612244897958% 803.6231884057971%; background-image: url(ap_ep_19_may_2025_s1_0.png);padding: 0; }
div.eam_19may2025s1_155::after {max-width:245px; width:100%;height:0;padding: 0 0 56.326530612244895% 0;}
.eam_19may2025s1_155_a {max-width:191px; max-height:70px; }
.eam_19may2025s1_155_a::after {content: '\00a0';display: inline-block; width:191px; height:70px; background-position: 98.07692307692308% 56.111645813282%; background-size: 263.35078534031413% 1584.2857142857142%; background-image: url(ap_ep_19_may_2025_s1_0.png);padding: 0; }
div.eam_19may2025s1_155_a::after {max-width:191px; width:100%;height:0;padding: 0 0 36.64921465968586% 0;}
.eam_19may2025s1_155_b {max-width:198px; max-height:83px; }
.eam_19may2025s1_155_b::after {content: '\00a0';display: inline-block; width:198px; height:83px; background-position: 87.8688524590164% 92.5925925925926%; background-size: 254.04040404040404% 1336.144578313253%; background-image: url(ap_ep_19_may_2025_s1_0.png);padding: 0; }
div.eam_19may2025s1_155_b::after {max-width:198px; width:100%;height:0;padding: 0 0 41.91919191919192% 0;}
.eam_19may2025s1_155_c {max-width:196px; max-height:74px; }
.eam_19may2025s1_155_c::after {content: '\00a0';display: inline-block; width:196px; height:74px; background-position: 99.6742671009772% 49.08212560386473%; background-size: 256.6326530612245% 1498.6486486486488%; background-image: url(ap_ep_19_may_2025_s1_0.png);padding: 0; }
div.eam_19may2025s1_155_c::after {max-width:196px; width:100%;height:0;padding: 0 0 37.755102040816325% 0;}
.eam_19may2025s1_155_d {max-width:161px; max-height:85px; }
.eam_19may2025s1_155_d::after {content: '\00a0';display: inline-block; width:161px; height:85px; background-position: 99.70760233918129% 26.46484375%; background-size: 312.4223602484472% 1304.7058823529412%; background-image: url(ap_ep_19_may_2025_s1_0.png);padding: 0; }
div.eam_19may2025s1_155_d::after {max-width:161px; width:100%;height:0;padding: 0 0 52.79503105590062% 0;}
.eam_19may2025s1_156 {max-width:426px; max-height:120px; }
.eam_19may2025s1_156::after {content: '\00a0';display: inline-block; width:426px; height:120px; background-position: 1.2987012987012987% 0.10111223458038422%; background-size: 118.07511737089202% 924.1666666666666%; background-image: url(ap_ep_19_may_2025_s1_0.png);padding: 0; }
div.eam_19may2025s1_156::after {max-width:426px; width:100%;height:0;padding: 0 0 28.169014084507044% 0;}
.eam_19may2025s1_156_a {max-width:224px; max-height:102px; }
.eam_19may2025s1_156_a::after {content: '\00a0';display: inline-block; width:224px; height:102px; background-position: 68.45878136200717% 74.57795431976167%; background-size: 224.55357142857142% 1087.2549019607843%; background-image: url(ap_ep_19_may_2025_s1_0.png);padding: 0; }
div.eam_19may2025s1_156_a::after {max-width:224px; width:100%;height:0;padding: 0 0 45.535714285714285% 0;}
.eam_19may2025s1_156_b {max-width:215px; max-height:106px; }
.eam_19may2025s1_156_b::after {content: '\00a0';display: inline-block; width:215px; height:106px; background-position: 0.3472222222222222% 90.62811565304088%; background-size: 233.95348837209303% 1046.2264150943397%; background-image: url(ap_ep_19_may_2025_s1_0.png);padding: 0; }
div.eam_19may2025s1_156_b::after {max-width:215px; width:100%;height:0;padding: 0 0 49.30232558139535% 0;}
.eam_19may2025s1_156_c {max-width:231px; max-height:95px; }
.eam_19may2025s1_156_c::after {content: '\00a0';display: inline-block; width:231px; height:95px; background-position: 79.77941176470588% 84.22090729783038%; background-size: 217.74891774891776% 1167.3684210526317%; background-image: url(ap_ep_19_may_2025_s1_0.png);padding: 0; }
div.eam_19may2025s1_156_c::after {max-width:231px; width:100%;height:0;padding: 0 0 41.125541125541126% 0;}
.eam_19may2025s1_156_d {max-width:243px; max-height:96px; }
.eam_19may2025s1_156_d::after {content: '\00a0';display: inline-block; width:243px; height:96px; background-position: 95% 64.56071076011845%; background-size: 206.99588477366254% 1155.2083333333333%; background-image: url(ap_ep_19_may_2025_s1_0.png);padding: 0; }
div.eam_19may2025s1_156_d::after {max-width:243px; width:100%;height:0;padding: 0 0 39.50617283950617% 0;}
.eam_19may2025s1_90 {max-width:151px; max-height:74px; }
.eam_19may2025s1_90::after {content: '\00a0';display: inline-block; width:151px; height:74px; background-position: 76.13636363636364% 99.90338164251207%; background-size: 333.112582781457% 1498.6486486486488%; background-image: url(ap_ep_19_may_2025_s1_0.png);padding: 0; }
div.eam_19may2025s1_90::after {max-width:151px; width:100%;height:0;padding: 0 0 49.00662251655629% 0;}

@keyframes eam_19may2025s1-frames {
    0% { background-position: 76.13636363636364% 99.90338164251207%;  }
    20% { background-position: 0.6097560975609756% 27.653061224489797%;  }
    40% { background-position: 0.3184713375796178% 78.57142857142857%;  }
    60% { background-position: 0.3875968992248062% 61.585993820803296%;  }
    80% { background-position: 1.2987012987012987% 0.10111223458038422%;  }
}

.eam_19may2025s1-animation {
    max-width: 151px;
    max-height: 74px;
}
.eam_19may2025s1-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 151px;
    height: 74px;
    padding: 0;
    background-image: url(ap_ep_19_may_2025_s1_0.png);
    background-size: 333.112582781457% 1498.6486486486488%; 
    animation-name: eam_19may2025s1-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.eam_19may2025s1-animation::after {
    max-width: 151px;
    width: 100%;
    height: 0;
    padding: 0 0 49.00662251655629% 0;
}

/* $TexturePacker:SmartUpdate:ec3bdeaf0697fd1ca5a6aa409939b5cb:f5ae570665541e28c86cf5151dec423a:231a4f2d4fc5dffc77edbf9f77551c3f$ */
