/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.eam_19may2025s2_108 {max-width:185px; max-height:183px; }
.eam_19may2025s2_108::after {content: '\00a0';display: inline-block; width:185px; height:183px; background-position: 0.37037037037037035% 67.52475247524752%; background-size: 245.94594594594594% 375.95628415300547%; background-image: url(ap_ep_19_may_2025_s2_0.png);padding: 0; }
div.eam_19may2025s2_108::after {max-width:185px; width:100%;height:0;padding: 0 0 98.91891891891892% 0;}
.eam_19may2025s2_119 {max-width:312px; max-height:111px; }
.eam_19may2025s2_119::after {content: '\00a0';display: inline-block; width:312px; height:111px; background-position: 0.6993006993006993% 26.51646447140381%; background-size: 145.83333333333334% 619.8198198198198%; background-image: url(ap_ep_19_may_2025_s2_0.png);padding: 0; }
div.eam_19may2025s2_119::after {max-width:312px; width:100%;height:0;padding: 0 0 35.57692307692308% 0;}
.eam_19may2025s2_138_a {max-width:108px; max-height:84px; }
.eam_19may2025s2_138_a::after {content: '\00a0';display: inline-block; width:108px; height:84px; background-position: 53.89048991354467% 73.17880794701986%; background-size: 421.2962962962963% 819.047619047619%; background-image: url(ap_ep_19_may_2025_s2_0.png);padding: 0; }
div.eam_19may2025s2_138_a::after {max-width:108px; width:100%;height:0;padding: 0 0 77.77777777777777% 0;}
.eam_19may2025s2_138_b {max-width:120px; max-height:87px; }
.eam_19may2025s2_138_b::after {content: '\00a0';display: inline-block; width:120px; height:87px; background-position: 57.3134328358209% 44.09317803660566%; background-size: 379.1666666666667% 790.8045977011494%; background-image: url(ap_ep_19_may_2025_s2_0.png);padding: 0; }
div.eam_19may2025s2_138_b::after {max-width:120px; width:100%;height:0;padding: 0 0 72.5% 0;}
.eam_19may2025s2_138_c {max-width:113px; max-height:88px; }
.eam_19may2025s2_138_c::after {content: '\00a0';display: inline-block; width:113px; height:88px; background-position: 54.67836257309941% 58.833333333333336%; background-size: 402.65486725663715% 781.8181818181819%; background-image: url(ap_ep_19_may_2025_s2_0.png);padding: 0; }
div.eam_19may2025s2_138_c::after {max-width:113px; width:100%;height:0;padding: 0 0 77.87610619469027% 0;}
.eam_19may2025s2_138_d {max-width:114px; max-height:86px; }
.eam_19may2025s2_138_d::after {content: '\00a0';display: inline-block; width:114px; height:86px; background-position: 91.78885630498533% 44.51827242524917%; background-size: 399.12280701754383% 800%; background-image: url(ap_ep_19_may_2025_s2_0.png);padding: 0; }
div.eam_19may2025s2_138_d::after {max-width:114px; width:100%;height:0;padding: 0 0 75.43859649122807% 0;}
.eam_19may2025s2_155 {max-width:353px; max-height:52px; }
.eam_19may2025s2_155::after {content: '\00a0';display: inline-block; width:353px; height:52px; background-position: 0.9803921568627451% 15.723270440251572%; background-size: 128.89518413597733% 1323.076923076923%; background-image: url(ap_ep_19_may_2025_s2_0.png);padding: 0; }
div.eam_19may2025s2_155::after {max-width:353px; width:100%;height:0;padding: 0 0 14.73087818696884% 0;}
.eam_19may2025s2_157_a {max-width:103px; max-height:142px; }
.eam_19may2025s2_157_a::after {content: '\00a0';display: inline-block; width:103px; height:142px; background-position: 0.2840909090909091% 96.15384615384616%; background-size: 441.747572815534% 484.50704225352115%; background-image: url(ap_ep_19_may_2025_s2_0.png);padding: 0; }
div.eam_19may2025s2_157_a::after {max-width:103px; width:100%;height:0;padding: 0 0 137.8640776699029% 0;}
.eam_19may2025s2_157_b {max-width:140px; max-height:114px; }
.eam_19may2025s2_157_b::after {content: '\00a0';display: inline-block; width:140px; height:114px; background-position: 99.68253968253968% 26.65505226480836%; background-size: 325% 603.5087719298245%; background-image: url(ap_ep_19_may_2025_s2_0.png);padding: 0; }
div.eam_19may2025s2_157_b::after {max-width:140px; width:100%;height:0;padding: 0 0 81.42857142857143% 0;}
.eam_19may2025s2_157_c {max-width:146px; max-height:111px; }
.eam_19may2025s2_157_c::after {content: '\00a0';display: inline-block; width:146px; height:111px; background-position: 88.3495145631068% 94.45407279029463%; background-size: 311.64383561643837% 619.8198198198198%; background-image: url(ap_ep_19_may_2025_s2_0.png);padding: 0; }
div.eam_19may2025s2_157_c::after {max-width:146px; width:100%;height:0;padding: 0 0 76.02739726027397% 0;}
.eam_19may2025s2_157_d {max-width:151px; max-height:117px; }
.eam_19may2025s2_157_d::after {content: '\00a0';display: inline-block; width:151px; height:117px; background-position: 99.01315789473684% 62.171628721541154%; background-size: 301.3245033112583% 588.034188034188%; background-image: url(ap_ep_19_may_2025_s2_0.png);padding: 0; }
div.eam_19may2025s2_157_d::after {max-width:151px; width:100%;height:0;padding: 0 0 77.48344370860927% 0;}
.eam_19may2025s2_160_a {max-width:147px; max-height:79px; }
.eam_19may2025s2_160_a::after {content: '\00a0';display: inline-block; width:147px; height:79px; background-position: 34.09090909090909% 99.83579638752053%; background-size: 309.5238095238095% 870.8860759493671%; background-image: url(ap_ep_19_may_2025_s2_0.png);padding: 0; }
div.eam_19may2025s2_160_a::after {max-width:147px; width:100%;height:0;padding: 0 0 53.74149659863946% 0;}
.eam_19may2025s2_160_b {max-width:167px; max-height:80px; }
.eam_19may2025s2_160_b::after {content: '\00a0';display: inline-block; width:167px; height:80px; background-position: 36.458333333333336% 86.67763157894737%; background-size: 272.45508982035926% 860%; background-image: url(ap_ep_19_may_2025_s2_0.png);padding: 0; }
div.eam_19may2025s2_160_b::after {max-width:167px; width:100%;height:0;padding: 0 0 47.90419161676647% 0;}
.eam_19may2025s2_160_c {max-width:190px; max-height:75px; }
.eam_19may2025s2_160_c::after {content: '\00a0';display: inline-block; width:190px; height:75px; background-position: 0.37735849056603776% 43.2300163132137%; background-size: 239.47368421052633% 917.3333333333334%; background-image: url(ap_ep_19_may_2025_s2_0.png);padding: 0; }
div.eam_19may2025s2_160_c::after {max-width:190px; width:100%;height:0;padding: 0 0 39.473684210526315% 0;}
.eam_19may2025s2_160_d {max-width:148px; max-height:71px; }
.eam_19may2025s2_160_d::after {content: '\00a0';display: inline-block; width:148px; height:71px; background-position: 96.41693811074919% 76.6612641815235%; background-size: 307.43243243243245% 969.0140845070423%; background-image: url(ap_ep_19_may_2025_s2_0.png);padding: 0; }
div.eam_19may2025s2_160_d::after {max-width:148px; width:100%;height:0;padding: 0 0 47.972972972972975% 0;}
.eam_19may2025s2_85 {max-width:409px; max-height:98px; }
.eam_19may2025s2_85::after {content: '\00a0';display: inline-block; width:409px; height:98px; background-position: 2.1739130434782608% 0.1694915254237288%; background-size: 111.24694376528117% 702.0408163265306%; background-image: url(ap_ep_19_may_2025_s2_0.png);padding: 0; }
div.eam_19may2025s2_85::after {max-width:409px; width:100%;height:0;padding: 0 0 23.96088019559902% 0;}

@keyframes eam_19may2025s2-frames {
    0% { background-position: 2.1739130434782608% 0.1694915254237288%;  }
    25% { background-position: 0.37037037037037035% 67.52475247524752%;  }
    50% { background-position: 0.6993006993006993% 26.51646447140381%;  }
    75% { background-position: 0.9803921568627451% 15.723270440251572%;  }
}

.eam_19may2025s2-animation {
    max-width: 409px;
    max-height: 98px;
}
.eam_19may2025s2-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 409px;
    height: 98px;
    padding: 0;
    background-image: url(ap_ep_19_may_2025_s2_0.png);
    background-size: 111.24694376528117% 702.0408163265306%; 
    animation-name: eam_19may2025s2-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.eam_19may2025s2-animation::after {
    max-width: 409px;
    width: 100%;
    height: 0;
    padding: 0 0 23.96088019559902% 0;
}

/* $TexturePacker:SmartUpdate:aadb2816e34bee90c92e9c50be106eb2:b383eae86624f07a13aed9acdc69249e:e419c03e249f96145f27f9f11fb665bd$ */
