/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.eam_16may2024s1_107 {max-width:227px; max-height:246px; }
.eam_16may2024s1_107::after {content: '\00a0';display: inline-block; width:227px; height:246px; background-position: 0.14534883720930233% 83.10249307479225%; background-size: 403.0837004405286% 393.4959349593496%; background-image: url(ap_ep_16_may_2024_s1_0.png);padding: 0; }
div.eam_16may2024s1_107::after {max-width:227px; width:100%;height:0;padding: 0 0 108.37004405286343% 0;}
.eam_16may2024s1_110 {max-width:238px; max-height:173px; }
.eam_16may2024s1_110::after {content: '\00a0';display: inline-block; width:238px; height:173px; background-position: 33.82570162481536% 75.47169811320755%; background-size: 384.453781512605% 559.5375722543353%; background-image: url(ap_ep_16_may_2024_s1_0.png);padding: 0; }
div.eam_16may2024s1_110::after {max-width:238px; width:100%;height:0;padding: 0 0 72.6890756302521% 0;}
.eam_16may2024s1_113 {max-width:275px; max-height:120px; }
.eam_16may2024s1_113::after {content: '\00a0';display: inline-block; width:275px; height:120px; background-position: 0.15625% 99.88207547169812%; background-size: 332.72727272727275% 806.6666666666666%; background-image: url(ap_ep_16_may_2024_s1_0.png);padding: 0; }
div.eam_16may2024s1_113::after {max-width:275px; width:100%;height:0;padding: 0 0 43.63636363636363% 0;}
.eam_16may2024s1_119 {max-width:249px; max-height:155px; }
.eam_16may2024s1_119::after {content: '\00a0';display: inline-block; width:249px; height:155px; background-position: 70.27027027027027% 68.14268142681426%; background-size: 367.4698795180723% 624.516129032258%; background-image: url(ap_ep_16_may_2024_s1_0.png);padding: 0; }
div.eam_16may2024s1_119::after {max-width:249px; width:100%;height:0;padding: 0 0 62.24899598393574% 0;}
.eam_16may2024s1_139 {max-width:248px; max-height:66px; }
.eam_16may2024s1_139::after {content: '\00a0';display: inline-block; width:248px; height:66px; background-position: 34.3328335832084% 85.80931263858093%; background-size: 368.9516129032258% 1466.6666666666667%; background-image: url(ap_ep_16_may_2024_s1_0.png);padding: 0; }
div.eam_16may2024s1_139::after {max-width:248px; width:100%;height:0;padding: 0 0 26.612903225806452% 0;}
.eam_16may2024s1_153_a {max-width:123px; max-height:249px; }
.eam_16may2024s1_153_a::after {content: '\00a0';display: inline-block; width:123px; height:249px; background-position: 90.65656565656566% 85.1182197496523%; background-size: 743.9024390243902% 388.7550200803213%; background-image: url(ap_ep_16_may_2024_s1_0.png);padding: 0; }
div.eam_16may2024s1_153_a::after {max-width:123px; width:100%;height:0;padding: 0 0 202.4390243902439% 0;}
.eam_16may2024s1_153_b {max-width:153px; max-height:280px; }
.eam_16may2024s1_153_b::after {content: '\00a0';display: inline-block; width:153px; height:280px; background-position: 36.61417322834646% 41.133720930232556%; background-size: 598.0392156862745% 345.7142857142857%; background-image: url(ap_ep_16_may_2024_s1_0.png);padding: 0; }
div.eam_16may2024s1_153_b::after {max-width:153px; width:100%;height:0;padding: 0 0 183.00653594771242% 0;}
.eam_16may2024s1_153_c {max-width:148px; max-height:271px; }
.eam_16may2024s1_153_c::after {content: '\00a0';display: inline-block; width:148px; height:271px; background-position: 56.45371577574967% 39.74175035868006%; background-size: 618.2432432432432% 357.1955719557196%; background-image: url(ap_ep_16_may_2024_s1_0.png);padding: 0; }
div.eam_16may2024s1_153_c::after {max-width:148px; width:100%;height:0;padding: 0 0 183.1081081081081% 0;}
.eam_16may2024s1_153_d {max-width:139px; max-height:257px; }
.eam_16may2024s1_153_d::after {content: '\00a0';display: inline-block; width:139px; height:257px; background-position: 93.04123711340206% 49.78902953586498%; background-size: 658.273381294964% 376.6536964980545%; background-image: url(ap_ep_16_may_2024_s1_0.png);padding: 0; }
div.eam_16may2024s1_153_d::after {max-width:139px; width:100%;height:0;padding: 0 0 184.89208633093526% 0;}
.eam_16may2024s1_156 {max-width:364px; max-height:128px; }
.eam_16may2024s1_156::after {content: '\00a0';display: inline-block; width:364px; height:128px; background-position: 62.976406533575314% 10%; background-size: 251.37362637362637% 756.25%; background-image: url(ap_ep_16_may_2024_s1_0.png);padding: 0; }
div.eam_16may2024s1_156::after {max-width:364px; width:100%;height:0;padding: 0 0 35.16483516483517% 0;}
.eam_16may2024s1_156_a {max-width:102px; max-height:96px; }
.eam_16may2024s1_156_a::after {content: '\00a0';display: inline-block; width:102px; height:96px; background-position: 74.16974169741698% 99.31192660550458%; background-size: 897.0588235294117% 1008.3333333333334%; background-image: url(ap_ep_16_may_2024_s1_0.png);padding: 0; }
div.eam_16may2024s1_156_a::after {max-width:102px; width:100%;height:0;padding: 0 0 94.11764705882354% 0;}
.eam_16may2024s1_156_b {max-width:186px; max-height:136px; }
.eam_16may2024s1_156_b::after {content: '\00a0';display: inline-block; width:186px; height:136px; background-position: 97.66803840877915% 10.096153846153847%; background-size: 491.93548387096774% 711.7647058823529%; background-image: url(ap_ep_16_may_2024_s1_0.png);padding: 0; }
div.eam_16may2024s1_156_b::after {max-width:186px; width:100%;height:0;padding: 0 0 73.11827956989248% 0;}
.eam_16may2024s1_156_c {max-width:216px; max-height:106px; }
.eam_16may2024s1_156_c::after {content: '\00a0';display: inline-block; width:216px; height:106px; background-position: 39.62804005722461% 97.56380510440836%; background-size: 423.6111111111111% 913.2075471698113%; background-image: url(ap_ep_16_may_2024_s1_0.png);padding: 0; }
div.eam_16may2024s1_156_c::after {max-width:216px; width:100%;height:0;padding: 0 0 49.074074074074076% 0;}
.eam_16may2024s1_156_d {max-width:192px; max-height:132px; }
.eam_16may2024s1_156_d::after {content: '\00a0';display: inline-block; width:192px; height:132px; background-position: 99.86168741355463% 26.435406698564595%; background-size: 476.5625% 733.3333333333334%; background-image: url(ap_ep_16_may_2024_s1_0.png);padding: 0; }
div.eam_16may2024s1_156_d::after {max-width:192px; width:100%;height:0;padding: 0 0 68.75% 0;}
.eam_16may2024s1_159 {max-width:469px; max-height:82px; }
.eam_16may2024s1_159::after {content: '\00a0';display: inline-block; width:469px; height:82px; background-position: 77.80269058295964% 0.11286681715575621%; background-size: 195.09594882729212% 1180.4878048780488%; background-image: url(ap_ep_16_may_2024_s1_0.png);padding: 0; }
div.eam_16may2024s1_159::after {max-width:469px; width:100%;height:0;padding: 0 0 17.48400852878465% 0;}
.eam_16may2024s1_159_a {max-width:70px; max-height:95px; }
.eam_16may2024s1_159_a::after {content: '\00a0';display: inline-block; width:70px; height:95px; background-position: 99.64497041420118% 70.10309278350516%; background-size: 1307.142857142857% 1018.9473684210526%; background-image: url(ap_ep_16_may_2024_s1_0.png);padding: 0; }
div.eam_16may2024s1_159_a::after {max-width:70px; width:100%;height:0;padding: 0 0 135.71428571428572% 0;}
.eam_16may2024s1_159_b {max-width:112px; max-height:105px; }
.eam_16may2024s1_159_b::after {content: '\00a0';display: inline-block; width:112px; height:105px; background-position: 87.92029887920299% 99.88412514484357%; background-size: 816.9642857142857% 921.9047619047619%; background-image: url(ap_ep_16_may_2024_s1_0.png);padding: 0; }
div.eam_16may2024s1_159_b::after {max-width:112px; width:100%;height:0;padding: 0 0 93.75% 0;}
.eam_16may2024s1_159_c {max-width:86px; max-height:100px; }
.eam_16may2024s1_159_c::after {content: '\00a0';display: inline-block; width:86px; height:100px; background-position: 98.79372738238843% 99.30875576036867%; background-size: 1063.953488372093% 968%; background-image: url(ap_ep_16_may_2024_s1_0.png);padding: 0; }
div.eam_16may2024s1_159_c::after {max-width:86px; width:100%;height:0;padding: 0 0 116.27906976744185% 0;}
.eam_16may2024s1_159_d {max-width:108px; max-height:98px; }
.eam_16may2024s1_159_d::after {content: '\00a0';display: inline-block; width:108px; height:98px; background-position: 61.21437422552664% 99.54022988505747%; background-size: 847.2222222222222% 987.7551020408164%; background-image: url(ap_ep_16_may_2024_s1_0.png);padding: 0; }
div.eam_16may2024s1_159_d::after {max-width:108px; width:100%;height:0;padding: 0 0 90.74074074074075% 0;}
.eam_16may2024s1_25 {max-width:345px; max-height:281px; }
.eam_16may2024s1_25::after {content: '\00a0';display: inline-block; width:345px; height:281px; background-position: 0.17543859649122806% 0.14556040756914118%; background-size: 265.2173913043478% 344.48398576512454%; background-image: url(ap_ep_16_may_2024_s1_0.png);padding: 0; }
div.eam_16may2024s1_25::after {max-width:345px; width:100%;height:0;padding: 0 0 81.44927536231884% 0;}
.eam_16may2024s1_32 {max-width:303px; max-height:63px; }
.eam_16may2024s1_32::after {content: '\00a0';display: inline-block; width:303px; height:63px; background-position: 56.69934640522876% 23.535911602209946%; background-size: 301.980198019802% 1536.5079365079366%; background-image: url(ap_ep_16_may_2024_s1_0.png);padding: 0; }
div.eam_16may2024s1_32::after {max-width:303px; width:100%;height:0;padding: 0 0 20.792079207920793% 0;}
.eam_16may2024s1_33 {max-width:277px; max-height:316px; }
.eam_16may2024s1_33::after {content: '\00a0';display: inline-block; width:277px; height:316px; background-position: 0.15673981191222572% 43.40490797546012%; background-size: 330.3249097472924% 306.32911392405066%; background-image: url(ap_ep_16_may_2024_s1_0.png);padding: 0; }
div.eam_16may2024s1_33::after {max-width:277px; width:100%;height:0;padding: 0 0 114.07942238267148% 0;}
.eam_16may2024s1_8 {max-width:139px; max-height:276px; }
.eam_16may2024s1_8::after {content: '\00a0';display: inline-block; width:139px; height:276px; background-position: 75% 40.028901734104046%; background-size: 658.273381294964% 350.72463768115944%; background-image: url(ap_ep_16_may_2024_s1_0.png);padding: 0; }
div.eam_16may2024s1_8::after {max-width:139px; width:100%;height:0;padding: 0 0 198.5611510791367% 0;}
.eam_16may2024s1_86 {max-width:206px; max-height:155px; }
.eam_16may2024s1_86::after {content: '\00a0';display: inline-block; width:206px; height:155px; background-position: 69.6755994358251% 87.33087330873309%; background-size: 444.1747572815534% 624.516129032258%; background-image: url(ap_ep_16_may_2024_s1_0.png);padding: 0; }
div.eam_16may2024s1_86::after {max-width:206px; width:100%;height:0;padding: 0 0 75.24271844660194% 0;}

@keyframes eam_16may2024s1-frames {
    0% { background-position: 75% 40.028901734104046%;  }
    8.333333333333332% { background-position: 0.17543859649122806% 0.14556040756914118%;  }
    16.666666666666664% { background-position: 56.69934640522876% 23.535911602209946%;  }
    25% { background-position: 0.15673981191222572% 43.40490797546012%;  }
    33.33333333333333% { background-position: 69.6755994358251% 87.33087330873309%;  }
    41.66666666666667% { background-position: 0.14534883720930233% 83.10249307479225%;  }
    50% { background-position: 33.82570162481536% 75.47169811320755%;  }
    58.333333333333336% { background-position: 0.15625% 99.88207547169812%;  }
    66.66666666666666% { background-position: 70.27027027027027% 68.14268142681426%;  }
    75% { background-position: 34.3328335832084% 85.80931263858093%;  }
    83.33333333333334% { background-position: 62.976406533575314% 10%;  }
    91.66666666666666% { background-position: 77.80269058295964% 0.11286681715575621%;  }
}

.eam_16may2024s1-animation {
    max-width: 139px;
    max-height: 276px;
}
.eam_16may2024s1-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 139px;
    height: 276px;
    padding: 0;
    background-image: url(ap_ep_16_may_2024_s1_0.png);
    background-size: 658.273381294964% 350.72463768115944%; 
    animation-name: eam_16may2024s1-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.eam_16may2024s1-animation::after {
    max-width: 139px;
    width: 100%;
    height: 0;
    padding: 0 0 198.5611510791367% 0;
}

/* $TexturePacker:SmartUpdate:825d0edbd86ffcc4bc763e342133e2a3:9c32bcb42aeed2c1f27b8f0e64d90f74:0a74065d9865e0bdf8f5747aca5f64c2$ */
