/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.eam_17may2024s2_104 {max-width:200px; max-height:118px; }
.eam_17may2024s2_104::after {content: '\00a0';display: inline-block; width:200px; height:118px; background-position: 77.61006289308176% 48.83720930232558%; background-size: 497.5% 865.2542372881356%; background-image: url(ap_ep_17_may_2024_s2_0.png);padding: 0; }
div.eam_17may2024s2_104::after {max-width:200px; width:100%;height:0;padding: 0 0 59% 0;}
.eam_17may2024s2_107 {max-width:239px; max-height:219px; }
.eam_17may2024s2_107::after {content: '\00a0';display: inline-block; width:239px; height:219px; background-position: 27.24867724867725% 96.50872817955113%; background-size: 416.31799163179915% 466.21004566210047%; background-image: url(ap_ep_17_may_2024_s2_0.png);padding: 0; }
div.eam_17may2024s2_107::after {max-width:239px; width:100%;height:0;padding: 0 0 91.63179916317992% 0;}
.eam_17may2024s2_108 {max-width:263px; max-height:139px; }
.eam_17may2024s2_108::after {content: '\00a0';display: inline-block; width:263px; height:139px; background-position: 99.72677595628416% 76.87074829931973%; background-size: 378.32699619771864% 734.5323741007194%; background-image: url(ap_ep_17_may_2024_s2_0.png);padding: 0; }
div.eam_17may2024s2_108::after {max-width:263px; width:100%;height:0;padding: 0 0 52.851711026615966% 0;}
.eam_17may2024s2_119 {max-width:295px; max-height:178px; }
.eam_17may2024s2_119::after {content: '\00a0';display: inline-block; width:295px; height:178px; background-position: 43.142857142857146% 65.83629893238434%; background-size: 337.2881355932203% 573.5955056179776%; background-image: url(ap_ep_17_may_2024_s2_0.png);padding: 0; }
div.eam_17may2024s2_119::after {max-width:295px; width:100%;height:0;padding: 0 0 60.33898305084746% 0;}
.eam_17may2024s2_151_a {max-width:156px; max-height:79px; }
.eam_17may2024s2_151_a::after {content: '\00a0';display: inline-block; width:156px; height:79px; background-position: 97.49702026221692% 51.48619957537155%; background-size: 637.8205128205128% 1292.4050632911392%; background-image: url(ap_ep_17_may_2024_s2_0.png);padding: 0; }
div.eam_17may2024s2_151_a::after {max-width:156px; width:100%;height:0;padding: 0 0 50.64102564102564% 0;}
.eam_17may2024s2_151_b {max-width:290px; max-height:166px; }
.eam_17may2024s2_151_b::after {content: '\00a0';display: inline-block; width:290px; height:166px; background-position: 0.14184397163120568% 70.99415204678363%; background-size: 343.1034482758621% 615.0602409638554%; background-image: url(ap_ep_17_may_2024_s2_0.png);padding: 0; }
div.eam_17may2024s2_151_b::after {max-width:290px; width:100%;height:0;padding: 0 0 57.241379310344826% 0;}
.eam_17may2024s2_151_c {max-width:300px; max-height:82px; }
.eam_17may2024s2_151_c::after {content: '\00a0';display: inline-block; width:300px; height:82px; background-position: 0.14388489208633093% 55.80404685835996%; background-size: 331.6666666666667% 1245.121951219512%; background-image: url(ap_ep_17_may_2024_s2_0.png);padding: 0; }
div.eam_17may2024s2_151_c::after {max-width:300px; width:100%;height:0;padding: 0 0 27.333333333333332% 0;}
.eam_17may2024s2_151_d {max-width:312px; max-height:110px; }
.eam_17may2024s2_151_d::after {content: '\00a0';display: inline-block; width:312px; height:110px; background-position: 0.14641288433382138% 45.334796926454445%; background-size: 318.9102564102564% 928.1818181818181%; background-image: url(ap_ep_17_may_2024_s2_0.png);padding: 0; }
div.eam_17may2024s2_151_d::after {max-width:312px; width:100%;height:0;padding: 0 0 35.256410256410255% 0;}
.eam_17may2024s2_152 {max-width:408px; max-height:320px; }
.eam_17may2024s2_152::after {content: '\00a0';display: inline-block; width:408px; height:320px; background-position: 0.17035775127768313% 0.14265335235378032%; background-size: 243.87254901960785% 319.0625%; background-image: url(ap_ep_17_may_2024_s2_0.png);padding: 0; }
div.eam_17may2024s2_152::after {max-width:408px; width:100%;height:0;padding: 0 0 78.43137254901961% 0;}
.eam_17may2024s2_153 {max-width:407px; max-height:344px; }
.eam_17may2024s2_153::after {content: '\00a0';display: inline-block; width:407px; height:344px; background-position: 69.72789115646259% 0.14771048744460857%; background-size: 244.47174447174447% 296.80232558139534%; background-image: url(ap_ep_17_may_2024_s2_0.png);padding: 0; }
div.eam_17may2024s2_153::after {max-width:407px; width:100%;height:0;padding: 0 0 84.52088452088452% 0;}
.eam_17may2024s2_156 {max-width:283px; max-height:156px; }
.eam_17may2024s2_156::after {content: '\00a0';display: inline-block; width:283px; height:156px; background-position: 62.640449438202246% 84.85549132947978%; background-size: 351.59010600706716% 654.4871794871794%; background-image: url(ap_ep_17_may_2024_s2_0.png);padding: 0; }
div.eam_17may2024s2_156::after {max-width:283px; width:100%;height:0;padding: 0 0 55.12367491166078% 0;}
.eam_17may2024s2_159 {max-width:381px; max-height:90px; }
.eam_17may2024s2_159::after {content: '\00a0';display: inline-block; width:381px; height:90px; background-position: 0.16286644951140064% 34.58646616541353%; background-size: 261.15485564304464% 1134.4444444444443%; background-image: url(ap_ep_17_may_2024_s2_0.png);padding: 0; }
div.eam_17may2024s2_159::after {max-width:381px; width:100%;height:0;padding: 0 0 23.62204724409449% 0;}
.eam_17may2024s2_159_a {max-width:197px; max-height:117px; }
.eam_17may2024s2_159_a::after {content: '\00a0';display: inline-block; width:197px; height:117px; background-position: 74.93734335839599% 61.94690265486726%; background-size: 505.0761421319797% 872.6495726495726%; background-image: url(ap_ep_17_may_2024_s2_0.png);padding: 0; }
div.eam_17may2024s2_159_a::after {max-width:197px; width:100%;height:0;padding: 0 0 59.390862944162436% 0;}
.eam_17may2024s2_159_b {max-width:255px; max-height:129px; }
.eam_17may2024s2_159_b::after {content: '\00a0';display: inline-block; width:255px; height:129px; background-position: 60.270270270270274% 99.88789237668162%; background-size: 390.19607843137254% 791.4728682170543%; background-image: url(ap_ep_17_may_2024_s2_0.png);padding: 0; }
div.eam_17may2024s2_159_b::after {max-width:255px; width:100%;height:0;padding: 0 0 50.588235294117645% 0;}
.eam_17may2024s2_159_c {max-width:302px; max-height:113px; }
.eam_17may2024s2_159_c::after {content: '\00a0';display: inline-block; width:302px; height:113px; background-position: 45.31024531024531% 48.56828193832599%; background-size: 329.4701986754967% 903.5398230088496%; background-image: url(ap_ep_17_may_2024_s2_0.png);padding: 0; }
div.eam_17may2024s2_159_c::after {max-width:302px; width:100%;height:0;padding: 0 0 37.41721854304636% 0;}
.eam_17may2024s2_159_d {max-width:254px; max-height:116px; }
.eam_17may2024s2_159_d::after {content: '\00a0';display: inline-block; width:254px; height:116px; background-position: 94.73684210526316% 98.45303867403315%; background-size: 391.73228346456693% 880.1724137931035%; background-image: url(ap_ep_17_may_2024_s2_0.png);padding: 0; }
div.eam_17may2024s2_159_d::after {max-width:254px; width:100%;height:0;padding: 0 0 45.669291338582674% 0;}
.eam_17may2024s2_160 {max-width:367px; max-height:94px; }
.eam_17may2024s2_160::after {content: '\00a0';display: inline-block; width:367px; height:94px; background-position: 60.98726114649681% 37.32470334412082%; background-size: 271.1171662125341% 1086.1702127659576%; background-image: url(ap_ep_17_may_2024_s2_0.png);padding: 0; }
div.eam_17may2024s2_160::after {max-width:367px; width:100%;height:0;padding: 0 0 25.61307901907357% 0;}
.eam_17may2024s2_19 {max-width:176px; max-height:96px; }
.eam_17may2024s2_19::after {content: '\00a0';display: inline-block; width:176px; height:96px; background-position: 99.87789987789988% 0.10810810810810811%; background-size: 565.3409090909091% 1063.5416666666667%; background-image: url(ap_ep_17_may_2024_s2_0.png);padding: 0; }
div.eam_17may2024s2_19::after {max-width:176px; width:100%;height:0;padding: 0 0 54.54545454545455% 0;}
.eam_17may2024s2_34 {max-width:204px; max-height:242px; }
.eam_17may2024s2_34::after {content: '\00a0';display: inline-block; width:204px; height:242px; background-position: 0.1264222503160556% 99.3581514762516%; background-size: 487.7450980392157% 421.900826446281%; background-image: url(ap_ep_17_may_2024_s2_0.png);padding: 0; }
div.eam_17may2024s2_34::after {max-width:204px; width:100%;height:0;padding: 0 0 118.62745098039215% 0;}
.eam_17may2024s2_86 {max-width:168px; max-height:183px; }
.eam_17may2024s2_86::after {content: '\00a0';display: inline-block; width:168px; height:183px; background-position: 98.9117291414752% 35.91885441527446%; background-size: 592.2619047619048% 557.9234972677596%; background-image: url(ap_ep_17_may_2024_s2_0.png);padding: 0; }
div.eam_17may2024s2_86::after {max-width:168px; width:100%;height:0;padding: 0 0 108.92857142857143% 0;}
.eam_17may2024s2_98 {max-width:171px; max-height:202px; }
.eam_17may2024s2_98::after {content: '\00a0';display: inline-block; width:171px; height:202px; background-position: 99.27184466019418% 11.965811965811966%; background-size: 581.8713450292398% 505.44554455445547%; background-image: url(ap_ep_17_may_2024_s2_0.png);padding: 0; }
div.eam_17may2024s2_98::after {max-width:171px; width:100%;height:0;padding: 0 0 118.12865497076024% 0;}

@keyframes eam_17may2024s2-frames {
    0% { background-position: 99.87789987789988% 0.10810810810810811%;  }
    7.6923076923076925% { background-position: 0.1264222503160556% 99.3581514762516%;  }
    15.384615384615385% { background-position: 98.9117291414752% 35.91885441527446%;  }
    23.076923076923077% { background-position: 99.27184466019418% 11.965811965811966%;  }
    30.76923076923077% { background-position: 77.61006289308176% 48.83720930232558%;  }
    38.46153846153847% { background-position: 27.24867724867725% 96.50872817955113%;  }
    46.15384615384615% { background-position: 99.72677595628416% 76.87074829931973%;  }
    53.84615384615385% { background-position: 43.142857142857146% 65.83629893238434%;  }
    61.53846153846154% { background-position: 0.17035775127768313% 0.14265335235378032%;  }
    69.23076923076923% { background-position: 69.72789115646259% 0.14771048744460857%;  }
    76.92307692307693% { background-position: 62.640449438202246% 84.85549132947978%;  }
    84.61538461538461% { background-position: 0.16286644951140064% 34.58646616541353%;  }
    92.3076923076923% { background-position: 60.98726114649681% 37.32470334412082%;  }
}

.eam_17may2024s2-animation {
    max-width: 176px;
    max-height: 96px;
}
.eam_17may2024s2-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 176px;
    height: 96px;
    padding: 0;
    background-image: url(ap_ep_17_may_2024_s2_0.png);
    background-size: 565.3409090909091% 1063.5416666666667%; 
    animation-name: eam_17may2024s2-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.eam_17may2024s2-animation::after {
    max-width: 176px;
    width: 100%;
    height: 0;
    padding: 0 0 54.54545454545455% 0;
}

/* $TexturePacker:SmartUpdate:289f37688814b76b81f00127c137e530:8982253b66141c1b8c8bd35c90c0b7c3:b84680c02d2fe63b599e203dfe3df454$ */
