/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.eam_20may2025s1_102 {max-width:280px; max-height:128px; }
.eam_20may2025s1_102::after {content: '\00a0';display: inline-block; width:280px; height:128px; background-position: 65.69767441860465% 44.04432132963989%; background-size: 345.7142857142857% 382.03125%; background-image: url(ap_ep_20_may_2025_s1_0.png);padding: 0; }
div.eam_20may2025s1_102::after {max-width:280px; width:100%;height:0;padding: 0 0 45.714285714285715% 0;}
.eam_20may2025s1_107 {max-width:194px; max-height:266px; }
.eam_20may2025s1_107::after {content: '\00a0';display: inline-block; width:194px; height:266px; background-position: 33.20413436692507% 74.43946188340807%; background-size: 498.96907216494844% 183.8345864661654%; background-image: url(ap_ep_20_may_2025_s1_0.png);padding: 0; }
div.eam_20may2025s1_107::after {max-width:194px; width:100%;height:0;padding: 0 0 137.11340206185568% 0;}
.eam_20may2025s1_108 {max-width:255px; max-height:214px; }
.eam_20may2025s1_108::after {content: '\00a0';display: inline-block; width:255px; height:214px; background-position: 0.1402524544179523% 60.36363636363637%; background-size: 379.6078431372549% 228.50467289719626%; background-image: url(ap_ep_20_may_2025_s1_0.png);padding: 0; }
div.eam_20may2025s1_108::after {max-width:255px; width:100%;height:0;padding: 0 0 83.92156862745098% 0;}
.eam_20may2025s1_119 {max-width:397px; max-height:164px; }
.eam_20may2025s1_119::after {content: '\00a0';display: inline-block; width:397px; height:164px; background-position: 0.17513134851138354% 0.3076923076923077%; background-size: 243.8287153652393% 298.1707317073171%; background-image: url(ap_ep_20_may_2025_s1_0.png);padding: 0; }
div.eam_20may2025s1_119::after {max-width:397px; width:100%;height:0;padding: 0 0 41.30982367758186% 0;}
.eam_20may2025s1_151_a {max-width:253px; max-height:78px; }
.eam_20may2025s1_151_a::after {content: '\00a0';display: inline-block; width:253px; height:78px; background-position: 0.13986013986013987% 92.7007299270073%; background-size: 382.60869565217394% 626.9230769230769%; background-image: url(ap_ep_20_may_2025_s1_0.png);padding: 0; }
div.eam_20may2025s1_151_a::after {max-width:253px; width:100%;height:0;padding: 0 0 30.8300395256917% 0;}
.eam_20may2025s1_151_b {max-width:308px; max-height:68px; }
.eam_20may2025s1_151_b::after {content: '\00a0';display: inline-block; width:308px; height:68px; background-position: 60.45454545454545% 21.377672209026127%; background-size: 314.2857142857143% 719.1176470588235%; background-image: url(ap_ep_20_may_2025_s1_0.png);padding: 0; }
div.eam_20may2025s1_151_b::after {max-width:308px; width:100%;height:0;padding: 0 0 22.07792207792208% 0;}
.eam_20may2025s1_151_c {max-width:169px; max-height:44px; }
.eam_20may2025s1_151_c::after {content: '\00a0';display: inline-block; width:169px; height:44px; background-position: 56.57071339173967% 87.41573033707866%; background-size: 572.7810650887574% 1111.3636363636363%; background-image: url(ap_ep_20_may_2025_s1_0.png);padding: 0; }
div.eam_20may2025s1_151_c::after {max-width:169px; width:100%;height:0;padding: 0 0 26.035502958579883% 0;}
.eam_20may2025s1_151_d {max-width:76px; max-height:47px; }
.eam_20may2025s1_151_d::after {content: '\00a0';display: inline-block; width:76px; height:47px; background-position: 58.74439461883408% 98.19004524886878%; background-size: 1273.6842105263158% 1040.4255319148936%; background-image: url(ap_ep_20_may_2025_s1_0.png);padding: 0; }
div.eam_20may2025s1_151_d::after {max-width:76px; width:100%;height:0;padding: 0 0 61.8421052631579% 0;}
.eam_20may2025s1_156 {max-width:144px; max-height:122px; }
.eam_20may2025s1_156::after {content: '\00a0';display: inline-block; width:144px; height:122px; background-position: 99.87864077669903% 76.83923705722071%; background-size: 672.2222222222222% 400.8196721311475%; background-image: url(ap_ep_20_may_2025_s1_0.png);padding: 0; }
div.eam_20may2025s1_156::after {max-width:144px; width:100%;height:0;padding: 0 0 84.72222222222223% 0;}
.eam_20may2025s1_157 {max-width:350px; max-height:88px; }
.eam_20may2025s1_157::after {content: '\00a0';display: inline-block; width:350px; height:88px; background-position: 64.5631067961165% 0.24937655860349128%; background-size: 276.57142857142856% 555.6818181818181%; background-image: url(ap_ep_20_may_2025_s1_0.png);padding: 0; }
div.eam_20may2025s1_157::after {max-width:350px; width:100%;height:0;padding: 0 0 25.142857142857142% 0;}
.eam_20may2025s1_157_a {max-width:208px; max-height:100px; }
.eam_20may2025s1_157_a::after {content: '\00a0';display: inline-block; width:208px; height:100px; background-position: 59.473684210526315% 74.03598971722366%; background-size: 465.38461538461536% 489%; background-image: url(ap_ep_20_may_2025_s1_0.png);padding: 0; }
div.eam_20may2025s1_157_a::after {max-width:208px; width:100%;height:0;padding: 0 0 48.07692307692308% 0;}
.eam_20may2025s1_157_b {max-width:200px; max-height:104px; }
.eam_20may2025s1_157_b::after {content: '\00a0';display: inline-block; width:200px; height:104px; background-position: 97.65625% 0.2597402597402597%; background-size: 484% 470.1923076923077%; background-image: url(ap_ep_20_may_2025_s1_0.png);padding: 0; }
div.eam_20may2025s1_157_b::after {max-width:200px; width:100%;height:0;padding: 0 0 52% 0;}
.eam_20may2025s1_157_c {max-width:178px; max-height:124px; }
.eam_20may2025s1_157_c::after {content: '\00a0';display: inline-block; width:178px; height:124px; background-position: 92.78481012658227% 29.041095890410958%; background-size: 543.8202247191011% 394.35483870967744%; background-image: url(ap_ep_20_may_2025_s1_0.png);padding: 0; }
div.eam_20may2025s1_157_c::after {max-width:178px; width:100%;height:0;padding: 0 0 69.66292134831461% 0;}
.eam_20may2025s1_157_d {max-width:161px; max-height:128px; }
.eam_20may2025s1_157_d::after {content: '\00a0';display: inline-block; width:161px; height:128px; background-position: 81.90830235439901% 79.77839335180056%; background-size: 601.2422360248447% 382.03125%; background-image: url(ap_ep_20_may_2025_s1_0.png);padding: 0; }
div.eam_20may2025s1_157_d::after {max-width:161px; width:100%;height:0;padding: 0 0 79.5031055900621% 0;}
.eam_20may2025s1_158_a {max-width:129px; max-height:54px; }
.eam_20may2025s1_158_a::after {content: '\00a0';display: inline-block; width:129px; height:54px; background-position: 46.96066746126341% 99.77011494252874%; background-size: 750.3875968992248% 905.5555555555555%; background-image: url(ap_ep_20_may_2025_s1_0.png);padding: 0; }
div.eam_20may2025s1_158_a::after {max-width:129px; width:100%;height:0;padding: 0 0 41.86046511627907% 0;}
.eam_20may2025s1_158_b {max-width:169px; max-height:50px; }
.eam_20may2025s1_158_b::after {content: '\00a0';display: inline-block; width:169px; height:50px; background-position: 91.73967459324155% 52.619589977220954%; background-size: 572.7810650887574% 978%; background-image: url(ap_ep_20_may_2025_s1_0.png);padding: 0; }
div.eam_20may2025s1_158_b::after {max-width:169px; width:100%;height:0;padding: 0 0 29.585798816568047% 0;}
.eam_20may2025s1_158_c {max-width:95px; max-height:67px; }
.eam_20may2025s1_158_c::after {content: '\00a0';display: inline-block; width:95px; height:67px; background-position: 71.24856815578465% 98.81516587677726%; background-size: 1018.9473684210526% 729.8507462686567%; background-image: url(ap_ep_20_may_2025_s1_0.png);padding: 0; }
div.eam_20may2025s1_158_c::after {max-width:95px; width:100%;height:0;padding: 0 0 70.52631578947368% 0;}
.eam_20may2025s1_158_d {max-width:138px; max-height:55px; }
.eam_20may2025s1_158_d::after {content: '\00a0';display: inline-block; width:138px; height:55px; background-position: 30.72289156626506% 99.76958525345623%; background-size: 701.4492753623189% 889.0909090909091%; background-image: url(ap_ep_20_may_2025_s1_0.png);padding: 0; }
div.eam_20may2025s1_158_d::after {max-width:138px; width:100%;height:0;padding: 0 0 39.85507246376812% 0;}
.eam_20may2025s1_160_c {max-width:95px; max-height:67px; }
.eam_20may2025s1_160_c::after {content: '\00a0';display: inline-block; width:95px; height:67px; background-position: 82.24513172966782% 98.81516587677726%; background-size: 1018.9473684210526% 729.8507462686567%; background-image: url(ap_ep_20_may_2025_s1_0.png);padding: 0; }
div.eam_20may2025s1_160_c::after {max-width:95px; width:100%;height:0;padding: 0 0 70.52631578947368% 0;}
.eam_20may2025s1_160_d {max-width:129px; max-height:71px; }
.eam_20may2025s1_160_d::after {content: '\00a0';display: inline-block; width:129px; height:71px; background-position: 98.09296781883194% 96.88995215311004%; background-size: 750.3875968992248% 688.7323943661971%; background-image: url(ap_ep_20_may_2025_s1_0.png);padding: 0; }
div.eam_20may2025s1_160_d::after {max-width:129px; width:100%;height:0;padding: 0 0 55.03875968992248% 0;}

@keyframes eam_20may2025s1-frames {
    0% { background-position: 65.69767441860465% 44.04432132963989%;  }
    16.666666666666664% { background-position: 33.20413436692507% 74.43946188340807%;  }
    33.33333333333333% { background-position: 0.1402524544179523% 60.36363636363637%;  }
    50% { background-position: 0.17513134851138354% 0.3076923076923077%;  }
    66.66666666666666% { background-position: 99.87864077669903% 76.83923705722071%;  }
    83.33333333333334% { background-position: 64.5631067961165% 0.24937655860349128%;  }
}

.eam_20may2025s1-animation {
    max-width: 280px;
    max-height: 128px;
}
.eam_20may2025s1-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 280px;
    height: 128px;
    padding: 0;
    background-image: url(ap_ep_20_may_2025_s1_0.png);
    background-size: 345.7142857142857% 382.03125%; 
    animation-name: eam_20may2025s1-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.eam_20may2025s1-animation::after {
    max-width: 280px;
    width: 100%;
    height: 0;
    padding: 0 0 45.714285714285715% 0;
}

/* $TexturePacker:SmartUpdate:6ad679ec611aed79e30547e0fd6cbc25:91bc7e2a24a72089ddbb14d97f6fe45e:c5288b2b9981a693a3754858e88b31d3$ */
