/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.eam_16may2024s2_102 {max-width:243px; max-height:167px; }
.eam_16may2024s2_102::after {content: '\00a0';display: inline-block; width:243px; height:167px; background-position: 0.13550135501355012% 89.69849246231156%; background-size: 403.7037037037037% 576.6467065868263%; background-image: url(ap_ep_16_may_2024_s2_0.png);padding: 0; }
div.eam_16may2024s2_102::after {max-width:243px; width:100%;height:0;padding: 0 0 68.72427983539094% 0;}
.eam_16may2024s2_106 {max-width:91px; max-height:128px; }
.eam_16may2024s2_106::after {content: '\00a0';display: inline-block; width:91px; height:128px; background-position: 27.528089887640448% 85.50898203592814%; background-size: 1078.021978021978% 752.34375%; background-image: url(ap_ep_16_may_2024_s2_0.png);padding: 0; }
div.eam_16may2024s2_106::after {max-width:91px; width:100%;height:0;padding: 0 0 140.65934065934067% 0;}
.eam_16may2024s2_108 {max-width:269px; max-height:176px; }
.eam_16may2024s2_108::after {content: '\00a0';display: inline-block; width:269px; height:176px; background-position: 94.38202247191012% 50.825921219822106%; background-size: 364.6840148698885% 547.1590909090909%; background-image: url(ap_ep_16_may_2024_s2_0.png);padding: 0; }
div.eam_16may2024s2_108::after {max-width:269px; width:100%;height:0;padding: 0 0 65.4275092936803% 0;}
.eam_16may2024s2_119 {max-width:252px; max-height:193px; }
.eam_16may2024s2_119::after {content: '\00a0';display: inline-block; width:252px; height:193px; background-position: 57.47599451303155% 51.94805194805195%; background-size: 389.2857142857143% 498.9637305699482%; background-image: url(ap_ep_16_may_2024_s2_0.png);padding: 0; }
div.eam_16may2024s2_119::after {max-width:252px; width:100%;height:0;padding: 0 0 76.58730158730158% 0;}
.eam_16may2024s2_127 {max-width:280px; max-height:229px; }
.eam_16may2024s2_127::after {content: '\00a0';display: inline-block; width:280px; height:229px; background-position: 0.14265335235378032% 0.1362397820163488%; background-size: 350.35714285714283% 420.5240174672489%; background-image: url(ap_ep_16_may_2024_s2_0.png);padding: 0; }
div.eam_16may2024s2_127::after {max-width:280px; width:100%;height:0;padding: 0 0 81.78571428571429% 0;}
.eam_16may2024s2_139_a {max-width:76px; max-height:88px; }
.eam_16may2024s2_139_a::after {content: '\00a0';display: inline-block; width:76px; height:88px; background-position: 27.07182320441989% 96.34285714285714%; background-size: 1290.7894736842106% 1094.3181818181818%; background-image: url(ap_ep_16_may_2024_s2_0.png);padding: 0; }
div.eam_16may2024s2_139_a::after {max-width:76px; width:100%;height:0;padding: 0 0 115.78947368421052% 0;}
.eam_16may2024s2_139_b {max-width:144px; max-height:93px; }
.eam_16may2024s2_139_b::after {content: '\00a0';display: inline-block; width:144px; height:93px; background-position: 56.98924731182796% 98.85057471264368%; background-size: 681.25% 1035.483870967742%; background-image: url(ap_ep_16_may_2024_s2_0.png);padding: 0; }
div.eam_16may2024s2_139_b::after {max-width:144px; width:100%;height:0;padding: 0 0 64.58333333333333% 0;}
.eam_16may2024s2_139_c {max-width:154px; max-height:90px; }
.eam_16may2024s2_139_c::after {content: '\00a0';display: inline-block; width:154px; height:90px; background-position: 38.93591293833132% 98.51088201603666%; background-size: 637.012987012987% 1070%; background-image: url(ap_ep_16_may_2024_s2_0.png);padding: 0; }
div.eam_16may2024s2_139_c::after {max-width:154px; width:100%;height:0;padding: 0 0 58.44155844155844% 0;}
.eam_16may2024s2_139_d {max-width:151px; max-height:100px; }
.eam_16may2024s2_139_d::after {content: '\00a0';display: inline-block; width:151px; height:100px; background-position: 96.98795180722891% 97.56662804171495%; background-size: 649.6688741721854% 963%; background-image: url(ap_ep_16_may_2024_s2_0.png);padding: 0; }
div.eam_16may2024s2_139_d::after {max-width:151px; width:100%;height:0;padding: 0 0 66.2251655629139% 0;}
.eam_16may2024s2_152 {max-width:363px; max-height:180px; }
.eam_16may2024s2_152::after {content: '\00a0';display: inline-block; width:363px; height:180px; background-position: 0.16181229773462782% 68.07151979565772%; background-size: 270.24793388429754% 535%; background-image: url(ap_ep_16_may_2024_s2_0.png);padding: 0; }
div.eam_16may2024s2_152::after {max-width:363px; width:100%;height:0;padding: 0 0 49.586776859504134% 0;}
.eam_16may2024s2_155_a {max-width:175px; max-height:80px; }
.eam_16may2024s2_155_a::after {content: '\00a0';display: inline-block; width:175px; height:80px; background-position: 0.12406947890818859% 99.88674971687429%; background-size: 560.5714285714286% 1203.75%; background-image: url(ap_ep_16_may_2024_s2_0.png);padding: 0; }
div.eam_16may2024s2_155_a::after {max-width:175px; width:100%;height:0;padding: 0 0 45.714285714285715% 0;}
.eam_16may2024s2_155_b {max-width:288px; max-height:90px; }
.eam_16may2024s2_155_b::after {content: '\00a0';display: inline-block; width:288px; height:90px; background-position: 48.62914862914863% 82.13058419243987%; background-size: 340.625% 1070%; background-image: url(ap_ep_16_may_2024_s2_0.png);padding: 0; }
div.eam_16may2024s2_155_b::after {max-width:288px; width:100%;height:0;padding: 0 0 31.25% 0;}
.eam_16may2024s2_155_c {max-width:248px; max-height:53px; }
.eam_16may2024s2_155_c::after {content: '\00a0';display: inline-block; width:248px; height:53px; background-position: 99.86357435197817% 14.945054945054945%; background-size: 395.56451612903226% 1816.9811320754718%; background-image: url(ap_ep_16_may_2024_s2_0.png);padding: 0; }
div.eam_16may2024s2_155_c::after {max-width:248px; width:100%;height:0;padding: 0 0 21.370967741935484% 0;}
.eam_16may2024s2_155_d {max-width:309px; max-height:51px; }
.eam_16may2024s2_155_d::after {content: '\00a0';display: inline-block; width:309px; height:51px; background-position: 50.148809523809526% 88.59649122807018%; background-size: 317.4757281553398% 1888.235294117647%; background-image: url(ap_ep_16_may_2024_s2_0.png);padding: 0; }
div.eam_16may2024s2_155_d::after {max-width:309px; width:100%;height:0;padding: 0 0 16.50485436893204% 0;}
.eam_16may2024s2_156 {max-width:485px; max-height:134px; }
.eam_16may2024s2_156::after {content: '\00a0';display: inline-block; width:485px; height:134px; background-position: 56.854838709677416% 0.12062726176115803%; background-size: 202.2680412371134% 718.6567164179105%; background-image: url(ap_ep_16_may_2024_s2_0.png);padding: 0; }
div.eam_16may2024s2_156::after {max-width:485px; width:100%;height:0;padding: 0 0 27.628865979381445% 0;}
.eam_16may2024s2_156_a {max-width:264px; max-height:125px; }
.eam_16may2024s2_156_a::after {content: '\00a0';display: inline-block; width:264px; height:125px; background-position: 95.11854951185495% 85.44152744630071%; background-size: 371.59090909090907% 770.4%; background-image: url(ap_ep_16_may_2024_s2_0.png);padding: 0; }
div.eam_16may2024s2_156_a::after {max-width:264px; width:100%;height:0;padding: 0 0 47.34848484848485% 0;}
.eam_16may2024s2_156_b {max-width:277px; max-height:138px; }
.eam_16may2024s2_156_b::after {content: '\00a0';display: inline-block; width:277px; height:138px; background-position: 96.875% 69.93939393939394%; background-size: 354.15162454873644% 697.8260869565217%; background-image: url(ap_ep_16_may_2024_s2_0.png);padding: 0; }
div.eam_16may2024s2_156_b::after {max-width:277px; width:100%;height:0;padding: 0 0 49.81949458483754% 0;}
.eam_16may2024s2_156_c {max-width:334px; max-height:119px; }
.eam_16may2024s2_156_c::after {content: '\00a0';display: inline-block; width:334px; height:119px; background-position: 60.43276661514683% 33.175355450236964%; background-size: 293.7125748502994% 809.2436974789916%; background-image: url(ap_ep_16_may_2024_s2_0.png);padding: 0; }
div.eam_16may2024s2_156_c::after {max-width:334px; width:100%;height:0;padding: 0 0 35.62874251497006% 0;}
.eam_16may2024s2_156_d {max-width:316px; max-height:122px; }
.eam_16may2024s2_156_d::after {content: '\00a0';display: inline-block; width:316px; height:122px; background-position: 54.88721804511278% 70.63020214030915%; background-size: 310.44303797468353% 789.344262295082%; background-image: url(ap_ep_16_may_2024_s2_0.png);padding: 0; }
div.eam_16may2024s2_156_d::after {max-width:316px; width:100%;height:0;padding: 0 0 38.607594936708864% 0;}
.eam_16may2024s2_157 {max-width:364px; max-height:85px; }
.eam_16may2024s2_157::after {content: '\00a0';display: inline-block; width:364px; height:85px; background-position: 63.3711507293355% 22.095671981776764%; background-size: 269.5054945054945% 1132.9411764705883%; background-image: url(ap_ep_16_may_2024_s2_0.png);padding: 0; }
div.eam_16may2024s2_157::after {max-width:364px; width:100%;height:0;padding: 0 0 23.35164835164835% 0;}
.eam_16may2024s2_158 {max-width:389px; max-height:168px; }
.eam_16may2024s2_158::after {content: '\00a0';display: inline-block; width:389px; height:168px; background-position: 0.16891891891891891% 29.056603773584907%; background-size: 252.18508997429305% 573.2142857142857%; background-image: url(ap_ep_16_may_2024_s2_0.png);padding: 0; }
div.eam_16may2024s2_158::after {max-width:389px; width:100%;height:0;padding: 0 0 43.18766066838046% 0;}
.eam_16may2024s2_159 {max-width:417px; max-height:132px; }
.eam_16may2024s2_159::after {content: '\00a0';display: inline-block; width:417px; height:132px; background-position: 0.1773049645390071% 48.13477737665463%; background-size: 235.25179856115108% 729.5454545454545%; background-image: url(ap_ep_16_may_2024_s2_0.png);padding: 0; }
div.eam_16may2024s2_159::after {max-width:417px; width:100%;height:0;padding: 0 0 31.654676258992804% 0;}
.eam_16may2024s2_159_a {max-width:219px; max-height:45px; }
.eam_16may2024s2_159_a::after {content: '\00a0';display: inline-block; width:219px; height:45px; background-position: 95.2755905511811% 36.81917211328976%; background-size: 447.94520547945206% 2140%; background-image: url(ap_ep_16_may_2024_s2_0.png);padding: 0; }
div.eam_16may2024s2_159_a::after {max-width:219px; width:100%;height:0;padding: 0 0 20.54794520547945% 0;}
.eam_16may2024s2_159_b {max-width:157px; max-height:85px; }
.eam_16may2024s2_159_b::after {content: '\00a0';display: inline-block; width:157px; height:85px; background-position: 78.51941747572816% 95.8997722095672%; background-size: 624.8407643312102% 1132.9411764705883%; background-image: url(ap_ep_16_may_2024_s2_0.png);padding: 0; }
div.eam_16may2024s2_159_b::after {max-width:157px; width:100%;height:0;padding: 0 0 54.140127388535035% 0;}
.eam_16may2024s2_159_c {max-width:182px; max-height:88px; }
.eam_16may2024s2_159_c::after {content: '\00a0';display: inline-block; width:182px; height:88px; background-position: 96.12015018773467% 0.11428571428571428%; background-size: 539.010989010989% 1094.3181818181818%; background-image: url(ap_ep_16_may_2024_s2_0.png);padding: 0; }
div.eam_16may2024s2_159_c::after {max-width:182px; width:100%;height:0;padding: 0 0 48.35164835164835% 0;}
.eam_16may2024s2_159_d {max-width:449px; max-height:57px; }
.eam_16may2024s2_159_d::after {content: '\00a0';display: inline-block; width:449px; height:57px; background-position: 53.00751879699248% 15.01103752759382%; background-size: 218.48552338530067% 1689.4736842105262%; background-image: url(ap_ep_16_may_2024_s2_0.png);padding: 0; }
div.eam_16may2024s2_159_d::after {max-width:449px; width:100%;height:0;padding: 0 0 12.694877505567929% 0;}
.eam_16may2024s2_86 {max-width:201px; max-height:147px; }
.eam_16may2024s2_86::after {content: '\00a0';display: inline-block; width:201px; height:147px; background-position: 96.92307692307692% 23.284313725490197%; background-size: 488.05970149253733% 655.1020408163265%; background-image: url(ap_ep_16_may_2024_s2_0.png);padding: 0; }
div.eam_16may2024s2_86::after {max-width:201px; width:100%;height:0;padding: 0 0 73.13432835820896% 0;}

@keyframes eam_16may2024s2-frames {
    0% { background-position: 96.92307692307692% 23.284313725490197%;  }
    9.090909090909092% { background-position: 0.13550135501355012% 89.69849246231156%;  }
    18.181818181818183% { background-position: 27.528089887640448% 85.50898203592814%;  }
    27.27272727272727% { background-position: 94.38202247191012% 50.825921219822106%;  }
    36.36363636363637% { background-position: 57.47599451303155% 51.94805194805195%;  }
    45.45454545454545% { background-position: 0.14265335235378032% 0.1362397820163488%;  }
    54.54545454545454% { background-position: 0.16181229773462782% 68.07151979565772%;  }
    63.63636363636363% { background-position: 56.854838709677416% 0.12062726176115803%;  }
    72.72727272727273% { background-position: 63.3711507293355% 22.095671981776764%;  }
    81.81818181818183% { background-position: 0.16891891891891891% 29.056603773584907%;  }
    90.9090909090909% { background-position: 0.1773049645390071% 48.13477737665463%;  }
}

.eam_16may2024s2-animation {
    max-width: 201px;
    max-height: 147px;
}
.eam_16may2024s2-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 201px;
    height: 147px;
    padding: 0;
    background-image: url(ap_ep_16_may_2024_s2_0.png);
    background-size: 488.05970149253733% 655.1020408163265%; 
    animation-name: eam_16may2024s2-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.eam_16may2024s2-animation::after {
    max-width: 201px;
    width: 100%;
    height: 0;
    padding: 0 0 73.13432835820896% 0;
}

/* $TexturePacker:SmartUpdate:d1ac592cc332de689bb0fed612e5440b:03c79bf1888ddc2a0986798154cebe96:d661de24be8da5060b5b0c3f8ed0e95a$ */
