/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.AP_EAPCET_19_May_2024_S2_160 {max-width:269px; max-height:131px; }
.AP_EAPCET_19_May_2024_S2_160::after {content: '\00a0';display: inline-block; width:269px; height:131px; background-position: 98.50136239782016% 65.55386949924127%; background-size: 372.86245353159853% 1106.1068702290077%; background-image: url(ap_che_xii_ch12_0.png);padding: 0; }
div.AP_EAPCET_19_May_2024_S2_160::after {max-width:269px; width:100%;height:0;padding: 0 0 48.698884758364315% 0;}
.AP_EAPCET_20_May_2024_S2_160 {max-width:341px; max-height:87px; }
.AP_EAPCET_20_May_2024_S2_160::after {content: '\00a0';display: inline-block; width:341px; height:87px; background-position: 0.1510574018126888% 67.91483113069016%; background-size: 294.1348973607038% 1665.5172413793102%; background-image: url(ap_che_xii_ch12_0.png);padding: 0; }
div.AP_EAPCET_20_May_2024_S2_160::after {max-width:341px; width:100%;height:0;padding: 0 0 25.513196480938415% 0;}
.AP_EAPCET_20_May_2024_S2_160_a {max-width:266px; max-height:98px; }
.AP_EAPCET_20_May_2024_S2_160_a::after {content: '\00a0';display: inline-block; width:266px; height:98px; background-position: 42.33378561736771% 99.9259807549963%; background-size: 377.0676691729323% 1478.5714285714287%; background-image: url(ap_che_xii_ch12_0.png);padding: 0; }
div.AP_EAPCET_20_May_2024_S2_160_a::after {max-width:266px; width:100%;height:0;padding: 0 0 36.8421052631579% 0;}
.AP_EAPCET_20_May_2024_S2_160_b {max-width:299px; max-height:88px; }
.AP_EAPCET_20_May_2024_S2_160_b::after {content: '\00a0';display: inline-block; width:299px; height:88px; background-position: 0.14204545454545456% 91.9911829537105%; background-size: 335.4515050167224% 1646.590909090909%; background-image: url(ap_che_xii_ch12_0.png);padding: 0; }
div.AP_EAPCET_20_May_2024_S2_160_b::after {max-width:299px; width:100%;height:0;padding: 0 0 29.431438127090303% 0;}
.AP_EAPCET_20_May_2024_S2_160_c {max-width:331px; max-height:90px; }
.AP_EAPCET_20_May_2024_S2_160_c::after {content: '\00a0';display: inline-block; width:331px; height:90px; background-position: 49.55357142857143% 78.6607799852833%; background-size: 303.02114803625375% 1610%; background-image: url(ap_che_xii_ch12_0.png);padding: 0; }
div.AP_EAPCET_20_May_2024_S2_160_c::after {max-width:331px; width:100%;height:0;padding: 0 0 27.190332326283986% 0;}
.AP_EAPCET_20_May_2024_S2_160_d {max-width:291px; max-height:88px; }
.AP_EAPCET_20_May_2024_S2_160_d::after {content: '\00a0';display: inline-block; width:291px; height:88px; background-position: 90.30898876404494% 88.09698750918443%; background-size: 344.6735395189003% 1646.590909090909%; background-image: url(ap_che_xii_ch12_0.png);padding: 0; }
div.AP_EAPCET_20_May_2024_S2_160_d::after {max-width:291px; width:100%;height:0;padding: 0 0 30.240549828178693% 0;}
.AP_EAPCET_22_May_2024_S1_159 {max-width:342px; max-height:77px; }
.AP_EAPCET_22_May_2024_S1_159::after {content: '\00a0';display: inline-block; width:342px; height:77px; background-position: 57.488653555219365% 61.880466472303205%; background-size: 293.27485380116957% 1881.8181818181818%; background-image: url(ap_che_xii_ch12_0.png);padding: 0; }
div.AP_EAPCET_22_May_2024_S1_159::after {max-width:342px; width:100%;height:0;padding: 0 0 22.514619883040936% 0;}
.AP_EAPCET_22_May_2024_S1_159_a {max-width:72px; max-height:63px; }
.AP_EAPCET_22_May_2024_S1_159_a::after {content: '\00a0';display: inline-block; width:72px; height:63px; background-position: 96.99248120300751% 24.53102453102453%; background-size: 1393.0555555555557% 2300%; background-image: url(ap_che_xii_ch12_0.png);padding: 0; }
div.AP_EAPCET_22_May_2024_S1_159_a::after {max-width:72px; width:100%;height:0;padding: 0 0 87.5% 0;}
.AP_EAPCET_22_May_2024_S1_159_b {max-width:99px; max-height:57px; }
.AP_EAPCET_22_May_2024_S1_159_b::after {content: '\00a0';display: inline-block; width:99px; height:57px; background-position: 99.88938053097345% 20.25862068965517%; background-size: 1013.1313131313132% 2542.1052631578946%; background-image: url(ap_che_xii_ch12_0.png);padding: 0; }
div.AP_EAPCET_22_May_2024_S1_159_b::after {max-width:99px; width:100%;height:0;padding: 0 0 57.57575757575758% 0;}
.AP_EAPCET_22_May_2024_S1_159_c {max-width:66px; max-height:85px; }
.AP_EAPCET_22_May_2024_S1_159_c::after {content: '\00a0';display: inline-block; width:66px; height:85px; background-position: 96.37139807897546% 29.618768328445746%; background-size: 1519.6969696969697% 1704.7058823529412%; background-image: url(ap_che_xii_ch12_0.png);padding: 0; }
div.AP_EAPCET_22_May_2024_S1_159_c::after {max-width:66px; width:100%;height:0;padding: 0 0 128.78787878787878% 0;}
.AP_EAPCET_22_May_2024_S1_159_d {max-width:103px; max-height:89px; }
.AP_EAPCET_22_May_2024_S1_159_d::after {content: '\00a0';display: inline-block; width:103px; height:89px; background-position: 58.55555555555556% 92.6470588235294%; background-size: 973.7864077669902% 1628.0898876404494%; background-image: url(ap_che_xii_ch12_0.png);padding: 0; }
div.AP_EAPCET_22_May_2024_S1_159_d::after {max-width:103px; width:100%;height:0;padding: 0 0 86.40776699029126% 0;}
.AP_EAPCET_22_May_2024_S1_160 {max-width:397px; max-height:142px; }
.AP_EAPCET_22_May_2024_S1_160::after {content: '\00a0';display: inline-block; width:397px; height:142px; background-position: 0.16501650165016502% 48.81407804131599%; background-size: 252.6448362720403% 1020.4225352112676%; background-image: url(ap_che_xii_ch12_0.png);padding: 0; }
div.AP_EAPCET_22_May_2024_S1_160::after {max-width:397px; width:100%;height:0;padding: 0 0 35.768261964735515% 0;}
.AP_EAPCET_22_May_2024_S1_160_a {max-width:155px; max-height:106px; }
.AP_EAPCET_22_May_2024_S1_160_a::after {content: '\00a0';display: inline-block; width:155px; height:106px; background-position: 18.39622641509434% 99.85107967237528%; background-size: 647.0967741935484% 1366.9811320754718%; background-image: url(ap_che_xii_ch12_0.png);padding: 0; }
div.AP_EAPCET_22_May_2024_S1_160_a::after {max-width:155px; width:100%;height:0;padding: 0 0 68.38709677419355% 0;}
.AP_EAPCET_22_May_2024_S1_160_b {max-width:154px; max-height:107px; }
.AP_EAPCET_22_May_2024_S1_160_b::after {content: '\00a0';display: inline-block; width:154px; height:107px; background-position: 0.11778563015312132% 99.92548435171386%; background-size: 651.2987012987013% 1354.2056074766356%; background-image: url(ap_che_xii_ch12_0.png);padding: 0; }
div.AP_EAPCET_22_May_2024_S1_160_b::after {max-width:154px; width:100%;height:0;padding: 0 0 69.48051948051948% 0;}
.AP_EAPCET_22_May_2024_S1_160_c {max-width:141px; max-height:86px; }
.AP_EAPCET_22_May_2024_S1_160_c::after {content: '\00a0';display: inline-block; width:141px; height:86px; background-position: 67.16937354988399% 99.04622157006602%; background-size: 711.3475177304964% 1684.8837209302326%; background-image: url(ap_che_xii_ch12_0.png);padding: 0; }
div.AP_EAPCET_22_May_2024_S1_160_c::after {max-width:141px; width:100%;height:0;padding: 0 0 60.99290780141844% 0;}
.AP_EAPCET_22_May_2024_S1_160_d {max-width:167px; max-height:102px; }
.AP_EAPCET_22_May_2024_S1_160_d::after {content: '\00a0';display: inline-block; width:167px; height:102px; background-position: 94.49760765550239% 56.495916852264294%; background-size: 600.5988023952095% 1420.5882352941176%; background-image: url(ap_che_xii_ch12_0.png);padding: 0; }
div.AP_EAPCET_22_May_2024_S1_160_d::after {max-width:167px; width:100%;height:0;padding: 0 0 61.07784431137725% 0;}
.AP_EAPCET_23_May_2024_S1_160_a {max-width:188px; max-height:75px; }
.AP_EAPCET_23_May_2024_S1_160_a::after {content: '\00a0';display: inline-block; width:188px; height:75px; background-position: 98.52760736196319% 45.0509461426492%; background-size: 533.5106382978723% 1932%; background-image: url(ap_che_xii_ch12_0.png);padding: 0; }
div.AP_EAPCET_23_May_2024_S1_160_a::after {max-width:188px; width:100%;height:0;padding: 0 0 39.8936170212766% 0;}
.AP_EAPCET_23_May_2024_S1_160_b {max-width:188px; max-height:65px; }
.AP_EAPCET_23_May_2024_S1_160_b::after {content: '\00a0';display: inline-block; width:188px; height:65px; background-position: 98.52760736196319% 50.216763005780344%; background-size: 533.5106382978723% 2229.230769230769%; background-image: url(ap_che_xii_ch12_0.png);padding: 0; }
div.AP_EAPCET_23_May_2024_S1_160_b::after {max-width:188px; width:100%;height:0;padding: 0 0 34.57446808510638% 0;}
.AP_EAPCET_23_May_2024_S1_160_c {max-width:267px; max-height:82px; }
.AP_EAPCET_23_May_2024_S1_160_c::after {content: '\00a0';display: inline-block; width:267px; height:82px; background-position: 97.96195652173913% 94.22092172640819%; background-size: 375.6554307116105% 1767.0731707317073%; background-image: url(ap_che_xii_ch12_0.png);padding: 0; }
div.AP_EAPCET_23_May_2024_S1_160_c::after {max-width:267px; width:100%;height:0;padding: 0 0 30.711610486891384% 0;}
.AP_EAPCET_23_May_2024_S1_160_d {max-width:225px; max-height:73px; }
.AP_EAPCET_23_May_2024_S1_160_d::after {content: '\00a0';display: inline-block; width:225px; height:73px; background-position: 38.688946015424165% 91.56976744186046%; background-size: 445.77777777777777% 1984.9315068493152%; background-image: url(ap_che_xii_ch12_0.png);padding: 0; }
div.AP_EAPCET_23_May_2024_S1_160_d::after {max-width:225px; width:100%;height:0;padding: 0 0 32.44444444444444% 0;}
.eap_21_may_2025_s1_q_160 {max-width:400px; max-height:80px; }
.eap_21_may_2025_s1_q_160::after {content: '\00a0';display: inline-block; width:400px; height:80px; background-position: 66.66666666666667% 45.2154857560263%; background-size: 250.75% 1811.25%; background-image: url(ap_che_xii_ch12_0.png);padding: 0; }
div.eap_21_may_2025_s1_q_160::after {max-width:400px; width:100%;height:0;padding: 0 0 20% 0;}
.eap_21_may_2025_s1_q_160a {max-width:320px; max-height:102px; }
.eap_21_may_2025_s1_q_160a::after {content: '\00a0';display: inline-block; width:320px; height:102px; background-position: 99.85358711566617% 73.94209354120267%; background-size: 313.4375% 1420.5882352941176%; background-image: url(ap_che_xii_ch12_0.png);padding: 0; }
div.eap_21_may_2025_s1_q_160a::after {max-width:320px; width:100%;height:0;padding: 0 0 31.875% 0;}
.eap_21_may_2025_s1_q_160b {max-width:320px; max-height:99px; }
.eap_21_may_2025_s1_q_160b::after {content: '\00a0';display: inline-block; width:320px; height:99px; background-position: 97.36456808199121% 81.4074074074074%; background-size: 313.4375% 1463.6363636363637%; background-image: url(ap_che_xii_ch12_0.png);padding: 0; }
div.eap_21_may_2025_s1_q_160b::after {max-width:320px; width:100%;height:0;padding: 0 0 30.9375% 0;}
.eap_21_may_2025_s1_q_160c {max-width:320px; max-height:99px; }
.eap_21_may_2025_s1_q_160c::after {content: '\00a0';display: inline-block; width:320px; height:99px; background-position: 47.14494875549048% 85.92592592592592%; background-size: 313.4375% 1463.6363636363637%; background-image: url(ap_che_xii_ch12_0.png);padding: 0; }
div.eap_21_may_2025_s1_q_160c::after {max-width:320px; width:100%;height:0;padding: 0 0 30.9375% 0;}
.eap_21_may_2025_s1_q_160d {max-width:320px; max-height:100px; }
.eap_21_may_2025_s1_q_160d::after {content: '\00a0';display: inline-block; width:320px; height:100px; background-position: 0.14641288433382138% 85.32246108228317%; background-size: 313.4375% 1449%; background-image: url(ap_che_xii_ch12_0.png);padding: 0; }
div.eap_21_may_2025_s1_q_160d::after {max-width:320px; width:100%;height:0;padding: 0 0 31.25% 0;}
.eap_21_may_2025_s1_sol_160 {max-width:500px; max-height:321px; }
.eap_21_may_2025_s1_sol_160::after {content: '\00a0';display: inline-block; width:500px; height:321px; background-position: 0.1988071570576541% 13.652482269503546%; background-size: 200.6% 451.4018691588785%; background-image: url(ap_che_xii_ch12_0.png);padding: 0; }
div.eap_21_may_2025_s1_sol_160::after {max-width:500px; width:100%;height:0;padding: 0 0 64.2% 0;}
.eap_21_may_2025_s2_sol_156 {max-width:400px; max-height:161px; }
.eap_21_may_2025_s2_sol_156::after {content: '\00a0';display: inline-block; width:400px; height:161px; background-position: 0.16583747927031509% 36.95652173913044%; background-size: 250.75% 900%; background-image: url(ap_che_xii_ch12_0.png);padding: 0; }
div.eap_21_may_2025_s2_sol_156::after {max-width:400px; width:100%;height:0;padding: 0 0 40.25% 0;}
.eap_22_may_2025_s2_q_155 {max-width:631px; max-height:152px; }
.eap_22_may_2025_s2_q_155::after {content: '\00a0';display: inline-block; width:631px; height:152px; background-position: 0.26881720430107525% 0.07710100231303008%; background-size: 158.9540412044374% 953.2894736842105%; background-image: url(ap_che_xii_ch12_0.png);padding: 0; }
div.eap_22_may_2025_s2_q_155::after {max-width:631px; width:100%;height:0;padding: 0 0 24.088748019017434% 0;}
.eap_22_may_2025_s2_q_160a {max-width:331px; max-height:137px; }
.eap_22_may_2025_s2_q_160a::after {content: '\00a0';display: inline-block; width:331px; height:137px; background-position: 0.1488095238095238% 77.21036585365853%; background-size: 303.02114803625375% 1057.6642335766423%; background-image: url(ap_che_xii_ch12_0.png);padding: 0; }
div.eap_22_may_2025_s2_q_160a::after {max-width:331px; width:100%;height:0;padding: 0 0 41.389728096676734% 0;}
.eap_22_may_2025_s2_q_160b {max-width:338px; max-height:141px; }
.eap_22_may_2025_s2_q_160b::after {content: '\00a0';display: inline-block; width:338px; height:141px; background-position: 51.578947368421055% 70.87155963302752%; background-size: 296.7455621301775% 1027.659574468085%; background-image: url(ap_che_xii_ch12_0.png);padding: 0; }
div.eap_22_may_2025_s2_q_160b::after {max-width:338px; width:100%;height:0;padding: 0 0 41.71597633136095% 0;}
.eap_22_may_2025_s2_q_160c {max-width:390px; max-height:148px; }
.eap_22_may_2025_s2_q_160c::after {content: '\00a0';display: inline-block; width:390px; height:148px; background-position: 65.08972267536704% 53.80476556495004%; background-size: 257.1794871794872% 979.0540540540541%; background-image: url(ap_che_xii_ch12_0.png);padding: 0; }
div.eap_22_may_2025_s2_q_160c::after {max-width:390px; width:100%;height:0;padding: 0 0 37.94871794871795% 0;}
.eap_22_may_2025_s2_q_160d {max-width:378px; max-height:143px; }
.eap_22_may_2025_s2_q_160d::after {content: '\00a0';display: inline-block; width:378px; height:143px; background-position: 0.16% 59.80091883614089%; background-size: 265.34391534391534% 1013.2867132867133%; background-image: url(ap_che_xii_ch12_0.png);padding: 0; }
div.eap_22_may_2025_s2_q_160d::after {max-width:378px; width:100%;height:0;padding: 0 0 37.83068783068783% 0;}
.eap_22_may_2025_s2_sol_155 {max-width:500px; max-height:123px; }
.eap_22_may_2025_s2_sol_155::after {content: '\00a0';display: inline-block; width:500px; height:123px; background-position: 99.80119284294234% 11.91553544494721%; background-size: 200.6% 1178.0487804878048%; background-image: url(ap_che_xii_ch12_0.png);padding: 0; }
div.eap_22_may_2025_s2_sol_155::after {max-width:500px; width:100%;height:0;padding: 0 0 24.6% 0;}
.eap_22_may_2025_s2_sol_160 {max-width:400px; max-height:336px; }
.eap_22_may_2025_s2_sol_160::after {content: '\00a0';display: inline-block; width:400px; height:336px; background-position: 83.25041459369818% 25.336927223719677%; background-size: 250.75% 431.25%; background-image: url(ap_che_xii_ch12_0.png);padding: 0; }
div.eap_22_may_2025_s2_sol_160::after {max-width:400px; width:100%;height:0;padding: 0 0 84% 0;}
.eap_23_may_2025_s1_sol_155 {max-width:360px; max-height:156px; }
.eap_23_may_2025_s1_sol_155::after {content: '\00a0';display: inline-block; width:360px; height:156px; background-position: 98.4447900466563% 0.07733952049497293%; background-size: 278.6111111111111% 928.8461538461538%; background-image: url(ap_che_xii_ch12_0.png);padding: 0; }
div.eap_23_may_2025_s1_sol_155::after {max-width:360px; width:100%;height:0;padding: 0 0 43.333333333333336% 0;}

@keyframes AP_EAPCET_22_May_2024_S1-frames {
    0% { background-position: 57.488653555219365% 61.880466472303205%;  }
    50% { background-position: 0.16501650165016502% 48.81407804131599%;  }
}

.AP_EAPCET_22_May_2024_S1-animation {
    max-width: 342px;
    max-height: 77px;
}
.AP_EAPCET_22_May_2024_S1-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 342px;
    height: 77px;
    padding: 0;
    background-image: url(ap_che_xii_ch12_0.png);
    background-size: 293.27485380116957% 1881.8181818181818%; 
    animation-name: AP_EAPCET_22_May_2024_S1-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.AP_EAPCET_22_May_2024_S1-animation::after {
    max-width: 342px;
    width: 100%;
    height: 0;
    padding: 0 0 22.514619883040936% 0;
}

@keyframes eap_22_may_2025_s2_sol-frames {
    0% { background-position: 99.80119284294234% 11.91553544494721%;  }
    50% { background-position: 83.25041459369818% 25.336927223719677%;  }
}

.eap_22_may_2025_s2_sol-animation {
    max-width: 500px;
    max-height: 123px;
}
.eap_22_may_2025_s2_sol-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 500px;
    height: 123px;
    padding: 0;
    background-image: url(ap_che_xii_ch12_0.png);
    background-size: 200.6% 1178.0487804878048%; 
    animation-name: eap_22_may_2025_s2_sol-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.eap_22_may_2025_s2_sol-animation::after {
    max-width: 500px;
    width: 100%;
    height: 0;
    padding: 0 0 24.6% 0;
}

/* $TexturePacker:SmartUpdate:2a0e6e28f0e413a98e54c0d85b89160f:387d18e3de6495520de209f354c35ed6:a9af2e61614f8e8bd2c6155981d68e09$ */
