/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.AP_EAPCET_18_May_2024_S1_159 {max-width:559px; max-height:119px; }
.AP_EAPCET_18_May_2024_S1_159::after {content: '\00a0';display: inline-block; width:559px; height:119px; background-position: 0.2247191011235955% 12.307692307692308%; background-size: 179.60644007155636% 1520.1680672268908%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.AP_EAPCET_18_May_2024_S1_159::after {max-width:559px; width:100%;height:0;padding: 0 0 21.288014311270125% 0;}
.AP_EAPCET_20_May_2024_S2_139 {max-width:531px; max-height:79px; }
.AP_EAPCET_20_May_2024_S2_139::after {content: '\00a0';display: inline-block; width:531px; height:79px; background-position: 0.21141649048625794% 30.578034682080926%; background-size: 189.07721280602635% 2289.8734177215188%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.AP_EAPCET_20_May_2024_S2_139::after {max-width:531px; width:100%;height:0;padding: 0 0 14.87758945386064% 0;}
.AP_EAPCET_20_May_2024_S2_139_c {max-width:171px; max-height:136px; }
.AP_EAPCET_20_May_2024_S2_139_c::after {content: '\00a0';display: inline-block; width:171px; height:136px; background-position: 72.3889555822329% 99.94022713687986%; background-size: 587.1345029239766% 1330.1470588235295%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.AP_EAPCET_20_May_2024_S2_139_c::after {max-width:171px; width:100%;height:0;padding: 0 0 79.53216374269006% 0;}
.AP_EAPCET_20_May_2024_S2_139_d {max-width:169px; max-height:130px; }
.AP_EAPCET_20_May_2024_S2_139_d::after {content: '\00a0';display: inline-block; width:169px; height:130px; background-position: 92.81437125748504% 99.5830851697439%; background-size: 594.0828402366864% 1391.5384615384614%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.AP_EAPCET_20_May_2024_S2_139_d::after {max-width:169px; width:100%;height:0;padding: 0 0 76.92307692307692% 0;}
.AP_EAPCET_20_May_2024_S2_158_a {max-width:271px; max-height:118px; }
.AP_EAPCET_20_May_2024_S2_158_a::after {content: '\00a0';display: inline-block; width:271px; height:118px; background-position: 98.77216916780355% 85.09757539917209%; background-size: 370.479704797048% 1533.050847457627%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.AP_EAPCET_20_May_2024_S2_158_a::after {max-width:271px; width:100%;height:0;padding: 0 0 43.542435424354245% 0;}
.AP_EAPCET_20_May_2024_S2_158_b {max-width:275px; max-height:102px; }
.AP_EAPCET_20_May_2024_S2_158_b::after {content: '\00a0';display: inline-block; width:275px; height:102px; background-position: 99.31412894375858% 78.26596367896894%; background-size: 365.09090909090907% 1773.5294117647059%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.AP_EAPCET_20_May_2024_S2_158_b::after {max-width:275px; width:100%;height:0;padding: 0 0 37.09090909090909% 0;}
.AP_EAPCET_20_May_2024_S2_158_c {max-width:347px; max-height:112px; }
.AP_EAPCET_20_May_2024_S2_158_c::after {content: '\00a0';display: inline-block; width:347px; height:112px; background-position: 0.15220700152207% 83.44136711844432%; background-size: 289.3371757925072% 1615.1785714285713%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.AP_EAPCET_20_May_2024_S2_158_c::after {max-width:347px; width:100%;height:0;padding: 0 0 32.27665706051873% 0;}
.AP_EAPCET_20_May_2024_S2_158_d {max-width:304px; max-height:113px; }
.AP_EAPCET_20_May_2024_S2_158_d::after {content: '\00a0';display: inline-block; width:304px; height:113px; background-position: 93.71428571428571% 91.86320754716981%; background-size: 330.2631578947368% 1600.8849557522124%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.AP_EAPCET_20_May_2024_S2_158_d::after {max-width:304px; width:100%;height:0;padding: 0 0 37.171052631578945% 0;}
.AP_EAPCET_21_May_2024_S1_159 {max-width:448px; max-height:62px; }
.AP_EAPCET_21_May_2024_S1_159::after {content: '\00a0';display: inline-block; width:448px; height:62px; background-position: 95.86330935251799% 32.856325128792214%; background-size: 224.10714285714286% 2917.7419354838707%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.AP_EAPCET_21_May_2024_S1_159::after {max-width:448px; width:100%;height:0;padding: 0 0 13.839285714285714% 0;}
.AP_EAPCET_21_May_2024_S1_159_a {max-width:361px; max-height:112px; }
.AP_EAPCET_21_May_2024_S1_159_a::after {content: '\00a0';display: inline-block; width:361px; height:112px; background-position: 0.15552099533437014% 76.78255745433117%; background-size: 278.1163434903047% 1615.1785714285713%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.AP_EAPCET_21_May_2024_S1_159_a::after {max-width:361px; width:100%;height:0;padding: 0 0 31.024930747922436% 0;}
.AP_EAPCET_21_May_2024_S1_159_b {max-width:384px; max-height:109px; }
.AP_EAPCET_21_May_2024_S1_159_b::after {content: '\00a0';display: inline-block; width:384px; height:109px; background-position: 80.80645161290323% 71.76470588235294%; background-size: 261.4583333333333% 1659.633027522936%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.AP_EAPCET_21_May_2024_S1_159_b::after {max-width:384px; width:100%;height:0;padding: 0 0 28.385416666666668% 0;}
.AP_EAPCET_21_May_2024_S1_159_c {max-width:334px; max-height:94px; }
.AP_EAPCET_21_May_2024_S1_159_c::after {content: '\00a0';display: inline-block; width:334px; height:94px; background-position: 52.08955223880597% 85.07288629737609%; background-size: 300.5988023952096% 1924.468085106383%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.AP_EAPCET_21_May_2024_S1_159_c::after {max-width:334px; width:100%;height:0;padding: 0 0 28.143712574850298% 0;}
.AP_EAPCET_21_May_2024_S1_159_d {max-width:329px; max-height:99px; }
.AP_EAPCET_21_May_2024_S1_159_d::after {content: '\00a0';display: inline-block; width:329px; height:99px; background-position: 0.14814814814814814% 89.41520467836257%; background-size: 305.1671732522796% 1827.2727272727273%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.AP_EAPCET_21_May_2024_S1_159_d::after {max-width:329px; width:100%;height:0;padding: 0 0 30.091185410334347% 0;}
.AP_EAPCET_21_May_2024_S2_159 {max-width:431px; max-height:114px; }
.AP_EAPCET_21_May_2024_S2_159::after {content: '\00a0';display: inline-block; width:431px; height:114px; background-position: 89.70331588132635% 37.581120943952804%; background-size: 232.94663573085847% 1586.842105263158%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.AP_EAPCET_21_May_2024_S2_159::after {max-width:431px; width:100%;height:0;padding: 0 0 26.45011600928074% 0;}
.eap_21_may_2025_s1_q_159 {max-width:400px; max-height:354px; }
.eap_21_may_2025_s1_q_159::after {content: '\00a0';display: inline-block; width:400px; height:354px; background-position: 96.52317880794702% 0.06872852233676977%; background-size: 251% 511.0169491525424%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.eap_21_may_2025_s1_q_159::after {max-width:400px; width:100%;height:0;padding: 0 0 88.5% 0;}
.eap_21_may_2025_s1_sol_159 {max-width:500px; max-height:260px; }
.eap_21_may_2025_s1_sol_159::after {content: '\00a0';display: inline-block; width:500px; height:260px; background-position: 0.1984126984126984% 52.937378954163975%; background-size: 200.8% 695.7692307692307%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.eap_21_may_2025_s1_sol_159::after {max-width:500px; width:100%;height:0;padding: 0 0 52% 0;}
.eap_21_may_2025_s2_q_157a {max-width:300px; max-height:179px; }
.eap_21_may_2025_s2_q_157a::after {content: '\00a0';display: inline-block; width:300px; height:179px; background-position: 0.14204545454545456% 99.93865030674847%; background-size: 334.6666666666667% 1010.6145251396648%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.eap_21_may_2025_s2_q_157a::after {max-width:300px; width:100%;height:0;padding: 0 0 59.666666666666664% 0;}
.eap_21_may_2025_s2_q_157b {max-width:300px; max-height:147px; }
.eap_21_may_2025_s2_q_157b::after {content: '\00a0';display: inline-block; width:300px; height:147px; background-position: 42.89772727272727% 98.014440433213%; background-size: 334.6666666666667% 1230.6122448979593%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.eap_21_may_2025_s2_q_157b::after {max-width:300px; width:100%;height:0;padding: 0 0 49% 0;}
.eap_22_may_2025_s2_q_157 {max-width:581px; max-height:206px; }
.eap_22_may_2025_s2_q_157::after {content: '\00a0';display: inline-block; width:581px; height:206px; background-position: 0.2364066193853428% 0.06238303181534623%; background-size: 172.8055077452668% 878.1553398058253%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.eap_22_may_2025_s2_q_157::after {max-width:581px; width:100%;height:0;padding: 0 0 35.45611015490534% 0;}
.eap_22_may_2025_s2_q_157a {max-width:556px; max-height:200px; }
.eap_22_may_2025_s2_q_157a::after {content: '\00a0';display: inline-block; width:556px; height:200px; background-position: 0.22321428571428573% 20.38533250466128%; background-size: 180.57553956834533% 904.5%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.eap_22_may_2025_s2_q_157a::after {max-width:556px; width:100%;height:0;padding: 0 0 35.97122302158273% 0;}
.eap_22_may_2025_s2_q_157b {max-width:512px; max-height:210px; }
.eap_22_may_2025_s2_q_157b::after {content: '\00a0';display: inline-block; width:512px; height:210px; background-position: 0.2032520325203252% 38.08630393996248%; background-size: 196.09375% 861.4285714285714%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.eap_22_may_2025_s2_q_157b::after {max-width:512px; width:100%;height:0;padding: 0 0 41.015625% 0;}
.eap_22_may_2025_s2_q_157c {max-width:440px; max-height:217px; }
.eap_22_may_2025_s2_q_157c::after {content: '\00a0';display: inline-block; width:440px; height:217px; background-position: 98.93617021276596% 22.36180904522613%; background-size: 228.1818181818182% 833.6405529953917%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.eap_22_may_2025_s2_q_157c::after {max-width:440px; width:100%;height:0;padding: 0 0 49.31818181818182% 0;}
.eap_22_may_2025_s2_q_157d {max-width:499px; max-height:221px; }
.eap_22_may_2025_s2_q_157d::after {content: '\00a0';display: inline-block; width:499px; height:221px; background-position: 0.19801980198019803% 68.07304785894206%; background-size: 201.20240480961922% 818.552036199095%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.eap_22_may_2025_s2_q_157d::after {max-width:499px; width:100%;height:0;padding: 0 0 44.28857715430862% 0;}
.eap_22_may_2025_s2_sol_139 {max-width:500px; max-height:140px; }
.eap_22_may_2025_s2_sol_139::after {content: '\00a0';display: inline-block; width:500px; height:140px; background-position: 99.60317460317461% 64.6494907130018%; background-size: 200.8% 1292.142857142857%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.eap_22_may_2025_s2_sol_139::after {max-width:500px; width:100%;height:0;padding: 0 0 28% 0;}
.eap_22_may_2025_s2_sol_157 {max-width:500px; max-height:175px; }
.eap_22_may_2025_s2_sol_157::after {content: '\00a0';display: inline-block; width:500px; height:175px; background-position: 99.60317460317461% 55.26315789473684%; background-size: 200.8% 1033.7142857142858%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.eap_22_may_2025_s2_sol_157::after {max-width:500px; width:100%;height:0;padding: 0 0 35% 0;}
.eap_23_may_2025_s2156_a {max-width:112px; max-height:61px; }
.eap_23_may_2025_s2156_a::after {content: '\00a0';display: inline-block; width:112px; height:61px; background-position: 99.32735426008969% 72.88329519450801%; background-size: 896.4285714285714% 2965.5737704918033%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.eap_23_may_2025_s2156_a::after {max-width:112px; width:100%;height:0;padding: 0 0 54.464285714285715% 0;}
.eap_23_may_2025_s2156_b {max-width:169px; max-height:50px; }
.eap_23_may_2025_s2156_b::after {content: '\00a0';display: inline-block; width:169px; height:50px; background-position: 58.203592814371255% 88.5730528709494%; background-size: 594.0828402366864% 3618%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.eap_23_may_2025_s2156_b::after {max-width:169px; width:100%;height:0;padding: 0 0 29.585798816568047% 0;}
.eap_23_may_2025_s2156_c {max-width:154px; max-height:51px; }
.eap_23_may_2025_s2156_c::after {content: '\00a0';display: inline-block; width:154px; height:51px; background-position: 38.94117647058823% 88.62343572241183%; background-size: 651.9480519480519% 3547.0588235294117%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.eap_23_may_2025_s2156_c::after {max-width:154px; width:100%;height:0;padding: 0 0 33.116883116883116% 0;}
.eap_23_may_2025_s2156_d {max-width:117px; max-height:53px; }
.eap_23_may_2025_s2156_d::after {content: '\00a0';display: inline-block; width:117px; height:53px; background-position: 99.88726042841037% 69.4760820045558%; background-size: 858.1196581196581% 3413.2075471698113%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.eap_23_may_2025_s2156_d::after {max-width:117px; width:100%;height:0;padding: 0 0 45.2991452991453% 0;}
.eap_23_may_2025_s2_sol_156 {max-width:360px; max-height:128px; }
.eap_23_may_2025_s2_sol_156::after {content: '\00a0';display: inline-block; width:360px; height:128px; background-position: 56.36645962732919% 79.11957168352171%; background-size: 278.8888888888889% 1413.28125%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.eap_23_may_2025_s2_sol_156::after {max-width:360px; width:100%;height:0;padding: 0 0 35.55555555555556% 0;}
.eap_23_may_2025_s2_sol_157 {max-width:400px; max-height:150px; }
.eap_23_may_2025_s2_sol_157::after {content: '\00a0';display: inline-block; width:400px; height:150px; background-position: 85.09933774834437% 45.32851115129596%; background-size: 251% 1206%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.eap_23_may_2025_s2_sol_157::after {max-width:400px; width:100%;height:0;padding: 0 0 37.5% 0;}

@keyframes eap_22_may_2025_s2_sol-frames {
    0% { background-position: 99.60317460317461% 64.6494907130018%;  }
    50% { background-position: 99.60317460317461% 55.26315789473684%;  }
}

.eap_22_may_2025_s2_sol-animation {
    max-width: 500px;
    max-height: 140px;
}
.eap_22_may_2025_s2_sol-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 500px;
    height: 140px;
    padding: 0;
    background-image: url(ap_che_xii_ch11_0.png);
    background-size: 200.8% 1292.142857142857%; 
    animation-name: eap_22_may_2025_s2_sol-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.eap_22_may_2025_s2_sol-animation::after {
    max-width: 500px;
    width: 100%;
    height: 0;
    padding: 0 0 28% 0;
}

@keyframes eap_23_may_2025_s2_sol-frames {
    0% { background-position: 56.36645962732919% 79.11957168352171%;  }
    50% { background-position: 85.09933774834437% 45.32851115129596%;  }
}

.eap_23_may_2025_s2_sol-animation {
    max-width: 360px;
    max-height: 128px;
}
.eap_23_may_2025_s2_sol-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 360px;
    height: 128px;
    padding: 0;
    background-image: url(ap_che_xii_ch11_0.png);
    background-size: 278.8888888888889% 1413.28125%; 
    animation-name: eap_23_may_2025_s2_sol-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.eap_23_may_2025_s2_sol-animation::after {
    max-width: 360px;
    width: 100%;
    height: 0;
    padding: 0 0 35.55555555555556% 0;
}

/* $TexturePacker:SmartUpdate:ca33cd8dd5532eff0c9f20994bc8d503:2b7e4b3787835ba81636666268c64f79:dd1c4fb8f76931709c632fb9b3a061b8$ */
