/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.AP_EAPCET_19_May_2024_S2_154 {max-width:291px; max-height:112px; }
.AP_EAPCET_19_May_2024_S2_154::after {content: '\00a0';display: inline-block; width:291px; height:112px; background-position: 99.88801791713325% 0.7874015748031497%; background-size: 406.87285223367695% 213.39285714285714%; background-image: url(ap_che_xii_ch15_0.png);padding: 0; }
div.AP_EAPCET_19_May_2024_S2_154::after {max-width:291px; width:100%;height:0;padding: 0 0 38.487972508591064% 0;}
.AP_EAPCET_21_May_2024_S2_154_a {max-width:168px; max-height:134px; }
.AP_EAPCET_21_May_2024_S2_154_a::after {content: '\00a0';display: inline-block; width:168px; height:134px; background-position: 71.16141732283465% 0.9523809523809523%; background-size: 704.7619047619048% 178.3582089552239%; background-image: url(ap_che_xii_ch15_0.png);padding: 0; }
div.AP_EAPCET_21_May_2024_S2_154_a::after {max-width:168px; width:100%;height:0;padding: 0 0 79.76190476190476% 0;}
.AP_EAPCET_21_May_2024_S2_154_b {max-width:144px; max-height:84px; }
.AP_EAPCET_21_May_2024_S2_154_b::after {content: '\00a0';display: inline-block; width:144px; height:84px; background-position: 34.80769230769231% 99.35483870967742%; background-size: 822.2222222222222% 284.5238095238095%; background-image: url(ap_che_xii_ch15_0.png);padding: 0; }
div.AP_EAPCET_21_May_2024_S2_154_b::after {max-width:144px; width:100%;height:0;padding: 0 0 58.333333333333336% 0;}
.eap_21_may_2025_s1_sol_154 {max-width:360px; max-height:152px; }
.eap_21_may_2025_s1_sol_154::after {content: '\00a0';display: inline-block; width:360px; height:152px; background-position: 43.932038834951456% 1.1494252873563218%; background-size: 328.8888888888889% 157.23684210526315%; background-image: url(ap_che_xii_ch15_0.png);padding: 0; }
div.eap_21_may_2025_s1_sol_154::after {max-width:360px; width:100%;height:0;padding: 0 0 42.22222222222222% 0;}
.eap_22_may_2025_s1_sol_154 {max-width:360px; max-height:237px; }
.eap_22_may_2025_s1_sol_154::after {content: '\00a0';display: inline-block; width:360px; height:237px; background-position: 0.12135922330097088% 50%; background-size: 328.8888888888889% 100.84388185654008%; background-image: url(ap_che_xii_ch15_0.png);padding: 0; }
div.eap_22_may_2025_s1_sol_154::after {max-width:360px; width:100%;height:0;padding: 0 0 65.83333333333333% 0;}
.eap_22_may_2025_s2_q_154 {max-width:528px; max-height:75px; }
.eap_22_may_2025_s2_q_154::after {content: '\00a0';display: inline-block; width:528px; height:75px; background-position: 77.28658536585365% 93.90243902439025%; background-size: 224.24242424242425% 318.6666666666667%; background-image: url(ap_che_xii_ch15_0.png);padding: 0; }
div.eap_22_may_2025_s2_q_154::after {max-width:528px; width:100%;height:0;padding: 0 0 14.204545454545455% 0;}


/* $TexturePacker:SmartUpdate:c0de5f79cabf299f12106c3a8f385629:6b76beffa5ffd5ae249147b2286353f0:e19adcc53725eda97e3fe4534f99507b$ */
