/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.AP_EAPCET_18_May_2024_S1_152_a {max-width:118px; max-height:83px; }
.AP_EAPCET_18_May_2024_S1_152_a::after {content: '\00a0';display: inline-block; width:118px; height:83px; background-position: 99.72451790633609% 0.22624434389140272%; background-size: 407.6271186440678% 632.5301204819277%; background-image: url(ap_che_xii_ch13_0.png);padding: 0; }
div.AP_EAPCET_18_May_2024_S1_152_a::after {max-width:118px; width:100%;height:0;padding: 0 0 70.33898305084746% 0;}
.AP_EAPCET_18_May_2024_S1_152_b {max-width:129px; max-height:81px; }
.AP_EAPCET_18_May_2024_S1_152_b::after {content: '\00a0';display: inline-block; width:129px; height:81px; background-position: 71.5909090909091% 68.24324324324324%; background-size: 372.86821705426354% 648.1481481481482%; background-image: url(ap_che_xii_ch13_0.png);padding: 0; }
div.AP_EAPCET_18_May_2024_S1_152_b::after {max-width:129px; width:100%;height:0;padding: 0 0 62.7906976744186% 0;}
.AP_EAPCET_18_May_2024_S1_152_c {max-width:139px; max-height:80px; }
.AP_EAPCET_18_May_2024_S1_152_c::after {content: '\00a0';display: inline-block; width:139px; height:80px; background-position: 73.6842105263158% 49.8876404494382%; background-size: 346.0431654676259% 656.25%; background-image: url(ap_che_xii_ch13_0.png);padding: 0; }
div.AP_EAPCET_18_May_2024_S1_152_c::after {max-width:139px; width:100%;height:0;padding: 0 0 57.55395683453237% 0;}
.AP_EAPCET_18_May_2024_S1_152_d {max-width:127px; max-height:81px; }
.AP_EAPCET_18_May_2024_S1_152_d::after {content: '\00a0';display: inline-block; width:127px; height:81px; background-position: 71.1864406779661% 86.71171171171171%; background-size: 378.74015748031496% 648.1481481481482%; background-image: url(ap_che_xii_ch13_0.png);padding: 0; }
div.AP_EAPCET_18_May_2024_S1_152_d::after {max-width:127px; width:100%;height:0;padding: 0 0 63.77952755905512% 0;}
.eap_21_may_2025_s2_q_153 {max-width:250px; max-height:302px; }
.eap_21_may_2025_s2_q_153::after {content: '\00a0';display: inline-block; width:250px; height:302px; background-position: 0.4329004329004329% 99.55156950672645%; background-size: 192.4% 173.841059602649%; background-image: url(ap_che_xii_ch13_0.png);padding: 0; }
div.eap_21_may_2025_s2_q_153::after {max-width:250px; width:100%;height:0;padding: 0 0 120.8% 0;}
.eap_22_may_2025_s1_sol_153 {max-width:360px; max-height:220px; }
.eap_22_may_2025_s1_sol_153::after {content: '\00a0';display: inline-block; width:360px; height:220px; background-position: 0.8264462809917356% 0.32786885245901637%; background-size: 133.61111111111111% 238.63636363636363%; background-image: url(ap_che_xii_ch13_0.png);padding: 0; }
div.eap_22_may_2025_s1_sol_153::after {max-width:360px; width:100%;height:0;padding: 0 0 61.111111111111114% 0;}


/* $TexturePacker:SmartUpdate:3d5b8dad60e76410982d86c61f783865:123bb45b300b6d7eada7db2d1441822e:ee65bf557ca146dcd3f4e3679d3cc243$ */
