/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.AP_EAPCET_18_May_2024_S1_159 {max-width:559px; max-height:119px; }
.AP_EAPCET_18_May_2024_S1_159::after {content: '\00a0';display: inline-block; width:559px; height:119px; background-position: 0.21978021978021978% 12.88723667905824%; background-size: 181.3953488372093% 1456.3025210084033%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.AP_EAPCET_18_May_2024_S1_159::after {max-width:559px; width:100%;height:0;padding: 0 0 21.288014311270125% 0;}
.AP_EAPCET_20_May_2024_S2_139 {max-width:531px; max-height:79px; }
.AP_EAPCET_20_May_2024_S2_139::after {content: '\00a0';display: inline-block; width:531px; height:79px; background-position: 0.2070393374741201% 31.983071342200727%; background-size: 190.96045197740114% 2193.6708860759495%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.AP_EAPCET_20_May_2024_S2_139::after {max-width:531px; width:100%;height:0;padding: 0 0 14.87758945386064% 0;}
.AP_EAPCET_20_May_2024_S2_139_c {max-width:171px; max-height:136px; }
.AP_EAPCET_20_May_2024_S2_139_c::after {content: '\00a0';display: inline-block; width:171px; height:136px; background-position: 97.0344009489917% 73.6380713838447%; background-size: 592.9824561403509% 1274.264705882353%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.AP_EAPCET_20_May_2024_S2_139_c::after {max-width:171px; width:100%;height:0;padding: 0 0 79.53216374269006% 0;}
.AP_EAPCET_20_May_2024_S2_139_d {max-width:169px; max-height:130px; }
.AP_EAPCET_20_May_2024_S2_139_d::after {content: '\00a0';display: inline-block; width:169px; height:130px; background-position: 45.798816568047336% 99.93761696818466%; background-size: 600% 1333.076923076923%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.AP_EAPCET_20_May_2024_S2_139_d::after {max-width:169px; width:100%;height:0;padding: 0 0 76.92307692307692% 0;}
.AP_EAPCET_20_May_2024_S2_158_a {max-width:271px; max-height:118px; }
.AP_EAPCET_20_May_2024_S2_158_a::after {content: '\00a0';display: inline-block; width:271px; height:118px; background-position: 0.13458950201884254% 93.9938080495356%; background-size: 374.16974169741695% 1468.6440677966102%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.AP_EAPCET_20_May_2024_S2_158_a::after {max-width:271px; width:100%;height:0;padding: 0 0 43.542435424354245% 0;}
.AP_EAPCET_20_May_2024_S2_158_b {max-width:275px; max-height:102px; }
.AP_EAPCET_20_May_2024_S2_158_b::after {content: '\00a0';display: inline-block; width:275px; height:102px; background-position: 52.368064952638704% 91.90680564071123%; background-size: 368.72727272727275% 1699.0196078431372%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.AP_EAPCET_20_May_2024_S2_158_b::after {max-width:275px; width:100%;height:0;padding: 0 0 37.09090909090909% 0;}
.AP_EAPCET_20_May_2024_S2_158_c {max-width:347px; max-height:112px; }
.AP_EAPCET_20_May_2024_S2_158_c::after {content: '\00a0';display: inline-block; width:347px; height:112px; background-position: 54.42278860569715% 79.33374460209747%; background-size: 292.2190201729107% 1547.3214285714287%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.AP_EAPCET_20_May_2024_S2_158_c::after {max-width:347px; width:100%;height:0;padding: 0 0 32.27665706051873% 0;}
.AP_EAPCET_20_May_2024_S2_158_d {max-width:304px; max-height:113px; }
.AP_EAPCET_20_May_2024_S2_158_d::after {content: '\00a0';display: inline-block; width:304px; height:113px; background-position: 0.14084507042253522% 86.66666666666667%; background-size: 333.55263157894734% 1533.6283185840707%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.AP_EAPCET_20_May_2024_S2_158_d::after {max-width:304px; width:100%;height:0;padding: 0 0 37.171052631578945% 0;}
.AP_EAPCET_21_May_2024_S1_159 {max-width:448px; max-height:62px; }
.AP_EAPCET_21_May_2024_S1_159::after {content: '\00a0';display: inline-block; width:448px; height:62px; background-position: 98.58657243816255% 21.30460801915021%; background-size: 226.33928571428572% 2795.1612903225805%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.AP_EAPCET_21_May_2024_S1_159::after {max-width:448px; width:100%;height:0;padding: 0 0 13.839285714285714% 0;}
.AP_EAPCET_21_May_2024_S1_159_a {max-width:361px; max-height:112px; }
.AP_EAPCET_21_May_2024_S1_159_a::after {content: '\00a0';display: inline-block; width:361px; height:112px; background-position: 0.15313935681470137% 73.78161628624306%; background-size: 280.88642659279776% 1547.3214285714287%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.AP_EAPCET_21_May_2024_S1_159_a::after {max-width:361px; width:100%;height:0;padding: 0 0 31.024930747922436% 0;}
.AP_EAPCET_21_May_2024_S1_159_b {max-width:384px; max-height:109px; }
.AP_EAPCET_21_May_2024_S1_159_b::after {content: '\00a0';display: inline-block; width:384px; height:109px; background-position: 68.73015873015873% 72.41379310344827%; background-size: 264.0625% 1589.908256880734%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.AP_EAPCET_21_May_2024_S1_159_b::after {max-width:384px; width:100%;height:0;padding: 0 0 28.385416666666668% 0;}
.AP_EAPCET_21_May_2024_S1_159_c {max-width:334px; max-height:94px; }
.AP_EAPCET_21_May_2024_S1_159_c::after {content: '\00a0';display: inline-block; width:334px; height:94px; background-position: 0.14705882352941177% 79.86577181208054%; background-size: 303.5928143712575% 1843.6170212765958%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.AP_EAPCET_21_May_2024_S1_159_c::after {max-width:334px; width:100%;height:0;padding: 0 0 28.143712574850298% 0;}
.AP_EAPCET_21_May_2024_S1_159_d {max-width:329px; max-height:99px; }
.AP_EAPCET_21_May_2024_S1_159_d::after {content: '\00a0';display: inline-block; width:329px; height:99px; background-position: 49.051094890510946% 85.61811505507956%; background-size: 308.20668693009117% 1750.5050505050506%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.AP_EAPCET_21_May_2024_S1_159_d::after {max-width:329px; width:100%;height:0;padding: 0 0 30.091185410334347% 0;}
.AP_EAPCET_21_May_2024_S2_159 {max-width:431px; max-height:114px; }
.AP_EAPCET_21_May_2024_S2_159::after {content: '\00a0';display: inline-block; width:431px; height:114px; background-position: 0.17152658662092624% 66.76961087090797%; background-size: 235.26682134570765% 1520.1754385964912%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.AP_EAPCET_21_May_2024_S2_159::after {max-width:431px; width:100%;height:0;padding: 0 0 26.45011600928074% 0;}
.eap_21_may_2025_s1_q_159 {max-width:400px; max-height:354px; }
.eap_21_may_2025_s1_q_159::after {content: '\00a0';display: inline-block; width:400px; height:354px; background-position: 94.95114006514657% 0.0725163161711385%; background-size: 253.5% 489.54802259887003%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.eap_21_may_2025_s1_q_159::after {max-width:400px; width:100%;height:0;padding: 0 0 88.5% 0;}
.eap_21_may_2025_s1_sol_159 {max-width:500px; max-height:260px; }
.eap_21_may_2025_s1_sol_159::after {content: '\00a0';display: inline-block; width:500px; height:260px; background-position: 0.19455252918287938% 55.66870332654447%; background-size: 202.8% 666.5384615384615%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.eap_21_may_2025_s1_sol_159::after {max-width:500px; width:100%;height:0;padding: 0 0 52% 0;}
.eap_21_may_2025_s2_q_157a {max-width:300px; max-height:179px; }
.eap_21_may_2025_s2_q_157a::after {content: '\00a0';display: inline-block; width:300px; height:179px; background-position: 99.5798319327731% 84.49163449163449%; background-size: 338% 968.1564245810056%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.eap_21_may_2025_s2_q_157a::after {max-width:300px; width:100%;height:0;padding: 0 0 59.666666666666664% 0;}
.eap_21_may_2025_s2_q_157b {max-width:300px; max-height:147px; }
.eap_21_may_2025_s2_q_157b::after {content: '\00a0';display: inline-block; width:300px; height:147px; background-position: 93.27731092436974% 94.13619167717529%; background-size: 338% 1178.9115646258504%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.eap_21_may_2025_s2_q_157b::after {max-width:300px; width:100%;height:0;padding: 0 0 49% 0;}
.eap_22_may_2025_s2_q_157 {max-width:581px; max-height:206px; }
.eap_22_may_2025_s2_q_157::after {content: '\00a0';display: inline-block; width:581px; height:206px; background-position: 0.23094688221709006% 0.06548788474132286%; background-size: 174.52667814113596% 841.2621359223301%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.eap_22_may_2025_s2_q_157::after {max-width:581px; width:100%;height:0;padding: 0 0 35.45611015490534% 0;}
.eap_22_may_2025_s2_q_157a {max-width:556px; max-height:200px; }
.eap_22_may_2025_s2_q_157a::after {content: '\00a0';display: inline-block; width:556px; height:200px; background-position: 0.2183406113537118% 21.395955642530986%; background-size: 182.37410071942446% 866.5%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.eap_22_may_2025_s2_q_157a::after {max-width:556px; width:100%;height:0;padding: 0 0 35.97122302158273% 0;}
.eap_22_may_2025_s2_q_157b {max-width:512px; max-height:210px; }
.eap_22_may_2025_s2_q_157b::after {content: '\00a0';display: inline-block; width:512px; height:210px; background-position: 0.199203187250996% 39.986868023637555%; background-size: 198.046875% 825.2380952380952%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.eap_22_may_2025_s2_q_157b::after {max-width:512px; width:100%;height:0;padding: 0 0 41.015625% 0;}
.eap_22_may_2025_s2_q_157c {max-width:440px; max-height:217px; }
.eap_22_may_2025_s2_q_157c::after {content: '\00a0';display: inline-block; width:440px; height:217px; background-position: 97.21254355400697% 27.638522427440634%; background-size: 230.45454545454547% 798.6175115207374%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.eap_22_may_2025_s2_q_157c::after {max-width:440px; width:100%;height:0;padding: 0 0 49.31818181818182% 0;}
.eap_22_may_2025_s2_q_157d {max-width:499px; max-height:221px; }
.eap_22_may_2025_s2_q_157d::after {content: '\00a0';display: inline-block; width:499px; height:221px; background-position: 99.80582524271844% 42.129629629629626%; background-size: 203.2064128256513% 784.1628959276018%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.eap_22_may_2025_s2_q_157d::after {max-width:499px; width:100%;height:0;padding: 0 0 44.28857715430862% 0;}
.eap_22_may_2025_s2_sol_139 {max-width:500px; max-height:140px; }
.eap_22_may_2025_s2_sol_139::after {content: '\00a0';display: inline-block; width:500px; height:140px; background-position: 97.66536964980544% 64.97175141242938%; background-size: 202.8% 1237.857142857143%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.eap_22_may_2025_s2_sol_139::after {max-width:500px; width:100%;height:0;padding: 0 0 28% 0;}
.eap_22_may_2025_s2_sol_157 {max-width:500px; max-height:175px; }
.eap_22_may_2025_s2_sol_157::after {content: '\00a0';display: inline-block; width:500px; height:175px; background-position: 97.66536964980544% 55.13478818998716%; background-size: 202.8% 990.2857142857143%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.eap_22_may_2025_s2_sol_157::after {max-width:500px; width:100%;height:0;padding: 0 0 35% 0;}
.eap_23_may_2025_s2156_a {max-width:112px; max-height:61px; }
.eap_23_may_2025_s2156_a::after {content: '\00a0';display: inline-block; width:112px; height:61px; background-position: 0.11086474501108648% 98.14593301435407%; background-size: 905.3571428571429% 2840.9836065573772%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.eap_23_may_2025_s2156_a::after {max-width:112px; width:100%;height:0;padding: 0 0 54.464285714285715% 0;}
.eap_23_may_2025_s2156_b {max-width:169px; max-height:50px; }
.eap_23_may_2025_s2156_b::after {content: '\00a0';display: inline-block; width:169px; height:50px; background-position: 65.9171597633136% 97.50445632798574%; background-size: 600% 3466%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.eap_23_may_2025_s2156_b::after {max-width:169px; width:100%;height:0;padding: 0 0 29.585798816568047% 0;}
.eap_23_may_2025_s2156_c {max-width:154px; max-height:51px; }
.eap_23_may_2025_s2156_c::after {content: '\00a0';display: inline-block; width:154px; height:51px; background-position: 26.976744186046513% 97.56242568370988%; background-size: 658.4415584415584% 3398.0392156862745%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.eap_23_may_2025_s2156_c::after {max-width:154px; width:100%;height:0;padding: 0 0 33.116883116883116% 0;}
.eap_23_may_2025_s2156_d {max-width:117px; max-height:53px; }
.eap_23_may_2025_s2156_d::after {content: '\00a0';display: inline-block; width:117px; height:53px; background-position: 12.709030100334449% 97.67857142857143%; background-size: 866.6666666666666% 3269.811320754717%; background-image: url(ap_che_xii_ch11_0.png);padding: 0; }
div.eap_23_may_2025_s2156_d::after {max-width:117px; width:100%;height:0;padding: 0 0 45.2991452991453% 0;}

@keyframes eap_22_may_2025_s2_sol-frames {
    0% { background-position: 97.66536964980544% 64.97175141242938%;  }
    50% { background-position: 97.66536964980544% 55.13478818998716%;  }
}

.eap_22_may_2025_s2_sol-animation {
    max-width: 500px;
    max-height: 140px;
}
.eap_22_may_2025_s2_sol-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 500px;
    height: 140px;
    padding: 0;
    background-image: url(ap_che_xii_ch11_0.png);
    background-size: 202.8% 1237.857142857143%; 
    animation-name: eap_22_may_2025_s2_sol-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.eap_22_may_2025_s2_sol-animation::after {
    max-width: 500px;
    width: 100%;
    height: 0;
    padding: 0 0 28% 0;
}

/* $TexturePacker:SmartUpdate:3d2e15af7c8a6924d5e0fd1eb02013e5:f720dde89e30aa815fbe7f350d89907e:dd1c4fb8f76931709c632fb9b3a061b8$ */
