/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.AP_EAPCET_19_May_2024_S2_127 {max-width:172px; max-height:248px; }
.AP_EAPCET_19_May_2024_S2_127::after {content: '\00a0';display: inline-block; width:172px; height:248px; background-position: 99.94068801897983% 1.1764705882352942%; background-size: 1080.2325581395348% 134.2741935483871%; background-image: url(ap_che_xi_ch5_0.png);padding: 0; }
div.AP_EAPCET_19_May_2024_S2_127::after {max-width:172px; width:100%;height:0;padding: 0 0 144.1860465116279% 0;}
.AP_EAPCET_21_May_2024_S1_126 {max-width:145px; max-height:163px; }
.AP_EAPCET_21_May_2024_S1_126::after {content: '\00a0';display: inline-block; width:145px; height:163px; background-position: 87.33216579100993% 99.41176470588235%; background-size: 1281.3793103448277% 204.29447852760737%; background-image: url(ap_che_xi_ch5_0.png);padding: 0; }
div.AP_EAPCET_21_May_2024_S1_126::after {max-width:145px; width:100%;height:0;padding: 0 0 112.41379310344827% 0;}
.AP_EAPCET_21_May_2024_S2_126 {max-width:188px; max-height:167px; }
.AP_EAPCET_21_May_2024_S2_126::after {content: '\00a0';display: inline-block; width:188px; height:167px; background-position: 89.58083832335329% 0.6024096385542169%; background-size: 988.2978723404256% 199.4011976047904%; background-image: url(ap_che_xi_ch5_0.png);padding: 0; }
div.AP_EAPCET_21_May_2024_S2_126::after {max-width:188px; width:100%;height:0;padding: 0 0 88.82978723404256% 0;}
.AP_EAPCET_21_May_2024_S2_127 {max-width:290px; max-height:230px; }
.AP_EAPCET_21_May_2024_S2_127::after {content: '\00a0';display: inline-block; width:290px; height:230px; background-position: 76.84948979591837% 0.970873786407767%; background-size: 640.6896551724138% 144.7826086956522%; background-image: url(ap_che_xi_ch5_0.png);padding: 0; }
div.AP_EAPCET_21_May_2024_S2_127::after {max-width:290px; width:100%;height:0;padding: 0 0 79.3103448275862% 0;}
.eap_21_may_2025_s2_q_126a {max-width:300px; max-height:300px; }
.eap_21_may_2025_s2_q_126a::after {content: '\00a0';display: inline-block; width:300px; height:300px; background-position: 38.70346598202824% 3.0303030303030303%; background-size: 619.3333333333334% 111%; background-image: url(ap_che_xi_ch5_0.png);padding: 0; }
div.eap_21_may_2025_s2_q_126a::after {max-width:300px; width:100%;height:0;padding: 0 0 100% 0;}
.eap_21_may_2025_s2_q_126b {max-width:300px; max-height:294px; }
.eap_21_may_2025_s2_q_126b::after {content: '\00a0';display: inline-block; width:300px; height:294px; background-position: 58.02310654685494% 2.5641025641025643%; background-size: 619.3333333333334% 113.26530612244898%; background-image: url(ap_che_xi_ch5_0.png);padding: 0; }
div.eap_21_may_2025_s2_q_126b::after {max-width:300px; width:100%;height:0;padding: 0 0 98% 0;}
.eap_21_may_2025_s2_q_126c {max-width:300px; max-height:306px; }
.eap_21_may_2025_s2_q_126c::after {content: '\00a0';display: inline-block; width:300px; height:306px; background-position: 19.38382541720154% 3.7037037037037037%; background-size: 619.3333333333334% 108.82352941176471%; background-image: url(ap_che_xi_ch5_0.png);padding: 0; }
div.eap_21_may_2025_s2_q_126c::after {max-width:300px; width:100%;height:0;padding: 0 0 102% 0;}
.eap_21_may_2025_s2_q_126d {max-width:300px; max-height:326px; }
.eap_21_may_2025_s2_q_126d::after {content: '\00a0';display: inline-block; width:300px; height:326px; background-position: 0.06418485237483953% 14.285714285714286%; background-size: 619.3333333333334% 102.14723926380368%; background-image: url(ap_che_xi_ch5_0.png);padding: 0; }
div.eap_21_may_2025_s2_q_126d::after {max-width:300px; width:100%;height:0;padding: 0 0 108.66666666666667% 0;}

@keyframes AP_EAPCET_21_May_2024_S2-frames {
    0% { background-position: 89.58083832335329% 0.6024096385542169%;  }
    50% { background-position: 76.84948979591837% 0.970873786407767%;  }
}

.AP_EAPCET_21_May_2024_S2-animation {
    max-width: 188px;
    max-height: 167px;
}
.AP_EAPCET_21_May_2024_S2-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 188px;
    height: 167px;
    padding: 0;
    background-image: url(ap_che_xi_ch5_0.png);
    background-size: 988.2978723404256% 199.4011976047904%; 
    animation-name: AP_EAPCET_21_May_2024_S2-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.AP_EAPCET_21_May_2024_S2-animation::after {
    max-width: 188px;
    width: 100%;
    height: 0;
    padding: 0 0 88.82978723404256% 0;
}

/* $TexturePacker:SmartUpdate:e79f82534441ac50f42fd95ba0d7a1a7:ae80fecdef34d693cbc2d5fa44882c1e:d699e8f1e0a47871547a0a64d5fa9f8b$ */
