/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.ap_eap_18_may_2024_s1_sol_77 {max-width:300px; max-height:286px; }
.ap_eap_18_may_2024_s1_sol_77::after {content: '\00a0';display: inline-block; width:300px; height:286px; background-position: 0.16556291390728478% 0.4854368932038835%; background-size: 301.3333333333333% 172.02797202797203%; background-image: url(ap_mat_xii_ch8_0.png);padding: 0; }
div.ap_eap_18_may_2024_s1_sol_77::after {max-width:300px; width:100%;height:0;padding: 0 0 95.33333333333333% 0;}
.eap_21_may_2025_s2_sol_77 {max-width:300px; max-height:259px; }
.eap_21_may_2025_s2_sol_77::after {content: '\00a0';display: inline-block; width:300px; height:259px; background-position: 99.83443708609272% 0.4291845493562232%; background-size: 301.3333333333333% 189.96138996138995%; background-image: url(ap_mat_xii_ch8_0.png);padding: 0; }
div.eap_21_may_2025_s2_sol_77::after {max-width:300px; width:100%;height:0;padding: 0 0 86.33333333333333% 0;}
.eap_22_may_2025_s1_sol_76 {max-width:300px; max-height:270px; }
.eap_22_may_2025_s1_sol_76::after {content: '\00a0';display: inline-block; width:300px; height:270px; background-position: 50% 0.45045045045045046%; background-size: 301.3333333333333% 182.22222222222223%; background-image: url(ap_mat_xii_ch8_0.png);padding: 0; }
div.eap_22_may_2025_s1_sol_76::after {max-width:300px; width:100%;height:0;padding: 0 0 90% 0;}
.eap_23_may_2025_s1_sol_75 {max-width:300px; max-height:230px; }
.eap_23_may_2025_s1_sol_75::after {content: '\00a0';display: inline-block; width:300px; height:230px; background-position: 99.83443708609272% 99.61832061068702%; background-size: 301.3333333333333% 213.91304347826087%; background-image: url(ap_mat_xii_ch8_0.png);padding: 0; }
div.eap_23_may_2025_s1_sol_75::after {max-width:300px; width:100%;height:0;padding: 0 0 76.66666666666667% 0;}


/* $TexturePacker:SmartUpdate:cc59c505dfcda3a13ee30a66250d5510:dea4d77d23327cfaa81f9e982971684a:c9e8b22e9661a4c4e2f024e917c89db7$ */
