/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.eap_22_may_2025_s1_sol_31 {max-width:300px; max-height:308px; }
.eap_22_may_2025_s1_sol_31::after {content: '\00a0';display: inline-block; width:300px; height:308px; background-position: 0.49261083743842365% 0.5263157894736842%; background-size: 167.66666666666666% 161.6883116883117%; background-image: url(ap_mat_xii_ch13_0.png);padding: 0; }
div.eap_22_may_2025_s1_sol_31::after {max-width:300px; width:100%;height:0;padding: 0 0 102.66666666666667% 0;}
.eap_22_may_2025_s2_sol_32 {max-width:200px; max-height:287px; }
.eap_22_may_2025_s2_sol_32::after {content: '\00a0';display: inline-block; width:200px; height:287px; background-position: 99.66996699669967% 0.47393364928909953%; background-size: 251.5% 173.5191637630662%; background-image: url(ap_mat_xii_ch13_0.png);padding: 0; }
div.eap_22_may_2025_s2_sol_32::after {max-width:200px; width:100%;height:0;padding: 0 0 143.5% 0;}
.eap_23_may_2025_s1_sol_56 {max-width:300px; max-height:187px; }
.eap_23_may_2025_s1_sol_56::after {content: '\00a0';display: inline-block; width:300px; height:187px; background-position: 0.49261083743842365% 99.67845659163987%; background-size: 167.66666666666666% 266.3101604278075%; background-image: url(ap_mat_xii_ch13_0.png);padding: 0; }
div.eap_23_may_2025_s1_sol_56::after {max-width:300px; width:100%;height:0;padding: 0 0 62.333333333333336% 0;}


/* $TexturePacker:SmartUpdate:21a5de95415766681d047458629fa574:edaf7bac81989a2f5753d32b948d5c9f:18cebf522381a22a6ece71b3265de392$ */
