/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.eap_22_may_2025_s1_sol_41 {max-width:300px; max-height:292px; }
.eap_22_may_2025_s1_sol_41::after {content: '\00a0';display: inline-block; width:300px; height:292px; background-position: 0.10362694300518134% 0.5%; background-size: 421.6666666666667% 168.4931506849315%; background-image: url(ap_mat_xi_ch7_0.png);padding: 0; }
div.eap_22_may_2025_s1_sol_41::after {max-width:300px; width:100%;height:0;padding: 0 0 97.33333333333333% 0;}
.eap_22_may_2025_s1_sol_44 {max-width:300px; max-height:289px; }
.eap_22_may_2025_s1_sol_44::after {content: '\00a0';display: inline-block; width:300px; height:289px; background-position: 31.295336787564768% 0.49261083743842365%; background-size: 421.6666666666667% 170.24221453287197%; background-image: url(ap_mat_xi_ch7_0.png);padding: 0; }
div.eap_22_may_2025_s1_sol_44::after {max-width:300px; width:100%;height:0;padding: 0 0 96.33333333333333% 0;}
.eap_23_may_2025_s1_sol_41 {max-width:300px; max-height:217px; }
.eap_23_may_2025_s1_sol_41::after {content: '\00a0';display: inline-block; width:300px; height:217px; background-position: 62.487046632124354% 99.63636363636364%; background-size: 421.6666666666667% 226.72811059907835%; background-image: url(ap_mat_xi_ch7_0.png);padding: 0; }
div.eap_23_may_2025_s1_sol_41::after {max-width:300px; width:100%;height:0;padding: 0 0 72.33333333333333% 0;}
.eap_23_may_2025_s1_sol_44 {max-width:300px; max-height:217px; }
.eap_23_may_2025_s1_sol_44::after {content: '\00a0';display: inline-block; width:300px; height:217px; background-position: 93.67875647668394% 87.27272727272727%; background-size: 421.6666666666667% 226.72811059907835%; background-image: url(ap_mat_xi_ch7_0.png);padding: 0; }
div.eap_23_may_2025_s1_sol_44::after {max-width:300px; width:100%;height:0;padding: 0 0 72.33333333333333% 0;}
.eap_23_may_2025_s1_sol_45 {max-width:300px; max-height:272px; }
.eap_23_may_2025_s1_sol_45::after {content: '\00a0';display: inline-block; width:300px; height:272px; background-position: 62.487046632124354% 0.45454545454545453%; background-size: 421.6666666666667% 180.88235294117646%; background-image: url(ap_mat_xi_ch7_0.png);padding: 0; }
div.eap_23_may_2025_s1_sol_45::after {max-width:300px; width:100%;height:0;padding: 0 0 90.66666666666667% 0;}
.eap_23_may_2025_s1_sol_46 {max-width:400px; max-height:197px; }
.eap_23_may_2025_s1_sol_46::after {content: '\00a0';display: inline-block; width:400px; height:197px; background-position: 0.11560693641618497% 99.66101694915254%; background-size: 316.25% 249.746192893401%; background-image: url(ap_mat_xi_ch7_0.png);padding: 0; }
div.eap_23_may_2025_s1_sol_46::after {max-width:400px; width:100%;height:0;padding: 0 0 49.25% 0;}
.eap_23_may_2025_s2_sol_41 {max-width:360px; max-height:238px; }
.eap_23_may_2025_s2_sol_41::after {content: '\00a0';display: inline-block; width:360px; height:238px; background-position: 99.88950276243094% 0.3937007874015748%; background-size: 351.3888888888889% 206.72268907563026%; background-image: url(ap_mat_xi_ch7_0.png);padding: 0; }
div.eap_23_may_2025_s2_sol_41::after {max-width:360px; width:100%;height:0;padding: 0 0 66.11111111111111% 0;}

@keyframes eap_22_may_2025_s1_sol-frames {
    0% { background-position: 0.10362694300518134% 0.5%;  }
    50% { background-position: 31.295336787564768% 0.49261083743842365%;  }
}

.eap_22_may_2025_s1_sol-animation {
    max-width: 300px;
    max-height: 292px;
}
.eap_22_may_2025_s1_sol-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 300px;
    height: 292px;
    padding: 0;
    background-image: url(ap_mat_xi_ch7_0.png);
    background-size: 421.6666666666667% 168.4931506849315%; 
    animation-name: eap_22_may_2025_s1_sol-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.eap_22_may_2025_s1_sol-animation::after {
    max-width: 300px;
    width: 100%;
    height: 0;
    padding: 0 0 97.33333333333333% 0;
}

@keyframes eap_23_may_2025_s1_sol-frames {
    0% { background-position: 62.487046632124354% 99.63636363636364%;  }
    25% { background-position: 93.67875647668394% 87.27272727272727%;  }
    50% { background-position: 62.487046632124354% 0.45454545454545453%;  }
    75% { background-position: 0.11560693641618497% 99.66101694915254%;  }
}

.eap_23_may_2025_s1_sol-animation {
    max-width: 300px;
    max-height: 217px;
}
.eap_23_may_2025_s1_sol-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 300px;
    height: 217px;
    padding: 0;
    background-image: url(ap_mat_xi_ch7_0.png);
    background-size: 421.6666666666667% 226.72811059907835%; 
    animation-name: eap_23_may_2025_s1_sol-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.eap_23_may_2025_s1_sol-animation::after {
    max-width: 300px;
    width: 100%;
    height: 0;
    padding: 0 0 72.33333333333333% 0;
}

/* $TexturePacker:SmartUpdate:a257361bbfcecc04f595c8dfa42b56c4:7e7da65c48bb45a1c1e160eda2843022:86b4a370f8685f1a0b862d8879e2bf11$ */
