/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.eap_21_may_2025_s1_sol_49 {max-width:300px; max-height:256px; }
.eap_21_may_2025_s1_sol_49::after {content: '\00a0';display: inline-block; width:300px; height:256px; background-position: 0.15060240963855423% 0.591715976331361%; background-size: 321.3333333333333% 166.015625%; background-image: url(ap_mat_xi_ch8_0.png);padding: 0; }
div.eap_21_may_2025_s1_sol_49::after {max-width:300px; width:100%;height:0;padding: 0 0 85.33333333333333% 0;}
.eap_21_may_2025_s2_sol_48 {max-width:300px; max-height:188px; }
.eap_21_may_2025_s2_sol_48::after {content: '\00a0';display: inline-block; width:300px; height:188px; background-position: 54.51807228915663% 83.54430379746836%; background-size: 321.3333333333333% 226.06382978723406%; background-image: url(ap_mat_xi_ch8_0.png);padding: 0; }
div.eap_21_may_2025_s2_sol_48::after {max-width:300px; width:100%;height:0;padding: 0 0 62.666666666666664% 0;}
.eap_21_may_2025_s2_sol_50 {max-width:300px; max-height:196px; }
.eap_21_may_2025_s2_sol_50::after {content: '\00a0';display: inline-block; width:300px; height:196px; background-position: 45.48192771084337% 0.4366812227074236%; background-size: 321.3333333333333% 216.83673469387756%; background-image: url(ap_mat_xi_ch8_0.png);padding: 0; }
div.eap_21_may_2025_s2_sol_50::after {max-width:300px; width:100%;height:0;padding: 0 0 65.33333333333333% 0;}
.eap_22_may_2025_s1_sol_49 {max-width:250px; max-height:183px; }
.eap_22_may_2025_s1_sol_49::after {content: '\00a0';display: inline-block; width:250px; height:183px; background-position: 92.85714285714286% 80.16528925619835%; background-size: 385.6% 232.24043715846994%; background-image: url(ap_mat_xi_ch8_0.png);padding: 0; }
div.eap_22_may_2025_s1_sol_49::after {max-width:250px; width:100%;height:0;padding: 0 0 73.2% 0;}
.eap_23_may_2025_s1_sol_47 {max-width:360px; max-height:192px; }
.eap_23_may_2025_s1_sol_47::after {content: '\00a0';display: inline-block; width:360px; height:192px; background-position: 99.83443708609272% 0.4291845493562232%; background-size: 267.77777777777777% 221.35416666666666%; background-image: url(ap_mat_xi_ch8_0.png);padding: 0; }
div.eap_23_may_2025_s1_sol_47::after {max-width:360px; width:100%;height:0;padding: 0 0 53.333333333333336% 0;}
.eap_23_may_2025_s1_sol_49 {max-width:360px; max-height:166px; }
.eap_23_may_2025_s1_sol_49::after {content: '\00a0';display: inline-block; width:360px; height:166px; background-position: 0.16556291390728478% 99.61389961389962%; background-size: 267.77777777777777% 256.0240963855422%; background-image: url(ap_mat_xi_ch8_0.png);padding: 0; }
div.eap_23_may_2025_s1_sol_49::after {max-width:360px; width:100%;height:0;padding: 0 0 46.111111111111114% 0;}

@keyframes eap_21_may_2025_s2_sol-frames {
    0% { background-position: 54.51807228915663% 83.54430379746836%;  }
    50% { background-position: 45.48192771084337% 0.4366812227074236%;  }
}

.eap_21_may_2025_s2_sol-animation {
    max-width: 300px;
    max-height: 188px;
}
.eap_21_may_2025_s2_sol-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 300px;
    height: 188px;
    padding: 0;
    background-image: url(ap_mat_xi_ch8_0.png);
    background-size: 321.3333333333333% 226.06382978723406%; 
    animation-name: eap_21_may_2025_s2_sol-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.eap_21_may_2025_s2_sol-animation::after {
    max-width: 300px;
    width: 100%;
    height: 0;
    padding: 0 0 62.666666666666664% 0;
}

@keyframes eap_23_may_2025_s1_sol-frames {
    0% { background-position: 99.83443708609272% 0.4291845493562232%;  }
    50% { background-position: 0.16556291390728478% 99.61389961389962%;  }
}

.eap_23_may_2025_s1_sol-animation {
    max-width: 360px;
    max-height: 192px;
}
.eap_23_may_2025_s1_sol-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 360px;
    height: 192px;
    padding: 0;
    background-image: url(ap_mat_xi_ch8_0.png);
    background-size: 267.77777777777777% 221.35416666666666%; 
    animation-name: eap_23_may_2025_s1_sol-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.eap_23_may_2025_s1_sol-animation::after {
    max-width: 360px;
    width: 100%;
    height: 0;
    padding: 0 0 53.333333333333336% 0;
}

/* $TexturePacker:SmartUpdate:a06569cf4c4c70efb24e1da75c9366a4:3173e6f6c60dc73003fae4e5db9f5542:bd27e1dea40b74b96a1c3e8398292575$ */
