/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.ap_eap_18_may_2024_s1_sol_77 {max-width:300px; max-height:286px; }
.ap_eap_18_may_2024_s1_sol_77::after {content: '\00a0';display: inline-block; width:300px; height:286px; background-position: 99.92101105845181% 50%; background-size: 522% 100.6993006993007%; background-image: url(ap_mat_xii_ch8_0.png);padding: 0; }
div.ap_eap_18_may_2024_s1_sol_77::after {max-width:300px; width:100%;height:0;padding: 0 0 95.33333333333333% 0;}
.eap_21_may_2025_s2_sol_77 {max-width:300px; max-height:259px; }
.eap_21_may_2025_s2_sol_77::after {content: '\00a0';display: inline-block; width:300px; height:259px; background-position: 23.85466034755134% 3.4482758620689653%; background-size: 522% 111.1969111969112%; background-image: url(ap_mat_xii_ch8_0.png);padding: 0; }
div.eap_21_may_2025_s2_sol_77::after {max-width:300px; width:100%;height:0;padding: 0 0 86.33333333333333% 0;}
.eap_22_may_2025_s1_sol_76 {max-width:300px; max-height:270px; }
.eap_22_may_2025_s1_sol_76::after {content: '\00a0';display: inline-block; width:300px; height:270px; background-position: 76.14533965244865% 5.555555555555555%; background-size: 522% 106.66666666666667%; background-image: url(ap_mat_xii_ch8_0.png);padding: 0; }
div.eap_22_may_2025_s1_sol_76::after {max-width:300px; width:100%;height:0;padding: 0 0 90% 0;}
.eap_23_may_2025_s1_sol_75 {max-width:300px; max-height:230px; }
.eap_23_may_2025_s1_sol_75::after {content: '\00a0';display: inline-block; width:300px; height:230px; background-position: 0.07898894154818326% 1.7241379310344827%; background-size: 522% 125.21739130434783%; background-image: url(ap_mat_xii_ch8_0.png);padding: 0; }
div.eap_23_may_2025_s1_sol_75::after {max-width:300px; width:100%;height:0;padding: 0 0 76.66666666666667% 0;}
.eap_23_may_2025_s2_sol_77 {max-width:360px; max-height:260px; }
.eap_23_may_2025_s2_sol_77::after {content: '\00a0';display: inline-block; width:360px; height:260px; background-position: 50% 3.5714285714285716%; background-size: 435% 110.76923076923077%; background-image: url(ap_mat_xii_ch8_0.png);padding: 0; }
div.eap_23_may_2025_s2_sol_77::after {max-width:360px; width:100%;height:0;padding: 0 0 72.22222222222223% 0;}


/* $TexturePacker:SmartUpdate:80231a603e8d1d3d48b0bf07f9e75eb5:907af89850ab3d08787a316bad3636e5:c9e8b22e9661a4c4e2f024e917c89db7$ */
