/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.eap_22_may_2025_s2_sol_11 {max-width:300px; max-height:58px; }
.eap_22_may_2025_s2_sol_11::after {content: '\00a0';display: inline-block; width:300px; height:58px; background-position: 50% 50%; background-size: 100.66666666666667% 103.44827586206897%; background-image: url(ap_mat_xi_ch4_0.png);padding: 0; }
div.eap_22_may_2025_s2_sol_11::after {max-width:300px; width:100%;height:0;padding: 0 0 19.333333333333332% 0;}


/* $TexturePacker:SmartUpdate:1bce447a6eef6ff3a53976059799973e:3017e241794712d8dbb7fc779f73d70e:4dc36a2acfa97f611285c12eea6c4c0b$ */
