/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.AP_EAPCET_22_May_2024_S2_89 {max-width:186px; max-height:165px; }
.AP_EAPCET_22_May_2024_S2_89::after {content: '\00a0';display: inline-block; width:186px; height:165px; background-position: 99.72451790633609% 55.84795321637427%; background-size: 295.16129032258067% 307.27272727272725%; background-image: url(ap_phy_xi_ch7_0.png);padding: 0; }
div.AP_EAPCET_22_May_2024_S2_89::after {max-width:186px; width:100%;height:0;padding: 0 0 88.70967741935483% 0;}
.eap_22_may_2025_s2_q_89 {max-width:350px; max-height:116px; }
.eap_22_may_2025_s2_q_89::after {content: '\00a0';display: inline-block; width:350px; height:116px; background-position: 0.5025125628140703% 99.74424552429667%; background-size: 156.85714285714286% 437.0689655172414%; background-image: url(ap_phy_xi_ch7_0.png);padding: 0; }
div.eap_22_may_2025_s2_q_89::after {max-width:350px; width:100%;height:0;padding: 0 0 33.142857142857146% 0;}
.eap_22_may_2025_s2_sol_89 {max-width:360px; max-height:121px; }
.eap_22_may_2025_s2_sol_89::after {content: '\00a0';display: inline-block; width:360px; height:121px; background-position: 0.5291005291005291% 69.43005181347151%; background-size: 152.5% 419.0082644628099%; background-image: url(ap_phy_xi_ch7_0.png);padding: 0; }
div.eap_22_may_2025_s2_sol_89::after {max-width:360px; width:100%;height:0;padding: 0 0 33.611111111111114% 0;}
.eap_23_may_2025_s289 {max-width:220px; max-height:189px; }
.eap_23_may_2025_s289::after {content: '\00a0';display: inline-block; width:220px; height:189px; background-position: 91.79331306990882% 0.31446540880503143%; background-size: 249.54545454545453% 268.25396825396825%; background-image: url(ap_phy_xi_ch7_0.png);padding: 0; }
div.eap_23_may_2025_s289::after {max-width:220px; width:100%;height:0;padding: 0 0 85.9090909090909% 0;}
.eap_23_may_2025_s2_sol_89 {max-width:300px; max-height:266px; }
.eap_23_may_2025_s2_sol_89::after {content: '\00a0';display: inline-block; width:300px; height:266px; background-position: 0.40160642570281124% 0.4149377593360996%; background-size: 183% 190.6015037593985%; background-image: url(ap_phy_xi_ch7_0.png);padding: 0; }
div.eap_23_may_2025_s2_sol_89::after {max-width:300px; width:100%;height:0;padding: 0 0 88.66666666666667% 0;}


/* $TexturePacker:SmartUpdate:7baa015011ccbbb4cb3f20e0986ed728:85cb46079b36590c784b6287faf5a337:b4114c496e1219ec05c825296d76e61e$ */
