/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.AP_EAPCET_21_May_2024_S2_83 {max-width:248px; max-height:194px; }
.AP_EAPCET_21_May_2024_S2_83::after {content: '\00a0';display: inline-block; width:248px; height:194px; background-position: 1.8518518518518519% 99.17355371900827%; background-size: 121.7741935483871% 162.37113402061857%; background-image: url(ap_phy_xi_ch2_0.png);padding: 0; }
div.AP_EAPCET_21_May_2024_S2_83::after {max-width:248px; width:100%;height:0;padding: 0 0 78.2258064516129% 0;}
.eap_21_may_2025_s1_sol_82 {max-width:300px; max-height:60px; }
.eap_21_may_2025_s1_sol_82::after {content: '\00a0';display: inline-block; width:300px; height:60px; background-position: 50% 0.39215686274509803%; background-size: 100.66666666666667% 525%; background-image: url(ap_phy_xi_ch2_0.png);padding: 0; }
div.eap_21_may_2025_s1_sol_82::after {max-width:300px; width:100%;height:0;padding: 0 0 20% 0;}
.eap_23_may_2025_s2_sol_84 {max-width:300px; max-height:57px; }
.eap_23_may_2025_s2_sol_84::after {content: '\00a0';display: inline-block; width:300px; height:57px; background-position: 50% 24.031007751937985%; background-size: 100.66666666666667% 552.6315789473684%; background-image: url(ap_phy_xi_ch2_0.png);padding: 0; }
div.eap_23_may_2025_s2_sol_84::after {max-width:300px; width:100%;height:0;padding: 0 0 19% 0;}


/* $TexturePacker:SmartUpdate:9869f4fb06ade132234e8b4c2b550455:2ac9a085310f4b5c1016716b6894be8e:ef917a199d1c745c95e7823944fc88cb$ */
