/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.AP_EAPCET_21_May_2024_S2_83 {max-width:248px; max-height:194px; }
.AP_EAPCET_21_May_2024_S2_83::after {content: '\00a0';display: inline-block; width:248px; height:194px; background-position: 1.8518518518518519% 98.41269841269842%; background-size: 121.7741935483871% 132.4742268041237%; background-image: url(ap_phy_xi_ch2_0.png);padding: 0; }
div.AP_EAPCET_21_May_2024_S2_83::after {max-width:248px; width:100%;height:0;padding: 0 0 78.2258064516129% 0;}
.eap_21_may_2025_s1_sol_82 {max-width:300px; max-height:60px; }
.eap_21_may_2025_s1_sol_82::after {content: '\00a0';display: inline-block; width:300px; height:60px; background-position: 50% 0.5076142131979695%; background-size: 100.66666666666667% 428.3333333333333%; background-image: url(ap_phy_xi_ch2_0.png);padding: 0; }
div.eap_21_may_2025_s1_sol_82::after {max-width:300px; width:100%;height:0;padding: 0 0 20% 0;}


/* $TexturePacker:SmartUpdate:3df420330c6a9f360f40706336be87ae:96fef04062f6212667a15bd1790661d8:ef917a199d1c745c95e7823944fc88cb$ */
