/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.AP_EAPCET_20_May_2024_S1_85 {max-width:123px; max-height:311px; }
.AP_EAPCET_20_May_2024_S1_85::after {content: '\00a0';display: inline-block; width:123px; height:311px; background-position: 0.8333333333333334% 98.63013698630137%; background-size: 197.5609756097561% 123.47266881028939%; background-image: url(ap_phy_xi_ch6_0.png);padding: 0; }
div.AP_EAPCET_20_May_2024_S1_85::after {max-width:123px; width:100%;height:0;padding: 0 0 252.84552845528455% 0;}
.eap_23_may_2025_s1_q_88 {max-width:241px; max-height:70px; }
.eap_23_may_2025_s1_q_88::after {content: '\00a0';display: inline-block; width:241px; height:70px; background-position: 50% 0.3184713375796178%; background-size: 100.8298755186722% 548.5714285714286%; background-image: url(ap_phy_xi_ch6_0.png);padding: 0; }
div.eap_23_may_2025_s1_q_88::after {max-width:241px; width:100%;height:0;padding: 0 0 29.04564315352697% 0;}


/* $TexturePacker:SmartUpdate:b866106d163f4c3ae99e21d1250f552b:e5222f71190afe646fba5997d4d396be:99b41c93742fc25d81f393652873d9e1$ */
