/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.AP_EAPCET_19_May_2024_S2_107 {max-width:372px; max-height:174px; }
.AP_EAPCET_19_May_2024_S2_107::after {content: '\00a0';display: inline-block; width:372px; height:174px; background-position: 0.1088139281828074% 99.66777408637874%; background-size: 347.0430107526882% 272.98850574712645%; background-image: url(ap_phy_xii_ch3_0.png);padding: 0; }
div.AP_EAPCET_19_May_2024_S2_107::after {max-width:372px; width:100%;height:0;padding: 0 0 46.774193548387096% 0;}
.AP_EAPCET_19_May_2024_S2_119 {max-width:267px; max-height:298px; }
.AP_EAPCET_19_May_2024_S2_119::after {content: '\00a0';display: inline-block; width:267px; height:298px; background-position: 0.09765625% 0.5649717514124294%; background-size: 483.52059925093636% 159.39597315436242%; background-image: url(ap_phy_xii_ch3_0.png);padding: 0; }
div.AP_EAPCET_19_May_2024_S2_119::after {max-width:267px; width:100%;height:0;padding: 0 0 111.61048689138576% 0;}
.AP_EAPCET_20_May_2024_S1_108 {max-width:182px; max-height:221px; }
.AP_EAPCET_20_May_2024_S1_108::after {content: '\00a0';display: inline-block; width:182px; height:221px; background-position: 33.72407574391344% 98.4251968503937%; background-size: 709.3406593406594% 214.93212669683257%; background-image: url(ap_phy_xii_ch3_0.png);padding: 0; }
div.AP_EAPCET_20_May_2024_S1_108::after {max-width:182px; width:100%;height:0;padding: 0 0 121.42857142857143% 0;}
.AP_EAPCET_20_May_2024_S2_108 {max-width:266px; max-height:193px; }
.AP_EAPCET_20_May_2024_S2_108::after {content: '\00a0';display: inline-block; width:266px; height:193px; background-position: 83.70731707317073% 71.27659574468085%; background-size: 485.3383458646617% 246.1139896373057%; background-image: url(ap_phy_xii_ch3_0.png);padding: 0; }
div.AP_EAPCET_20_May_2024_S2_108::after {max-width:266px; width:100%;height:0;padding: 0 0 72.55639097744361% 0;}
.AP_EAPCET_21_May_2024_S1_107 {max-width:165px; max-height:181px; }
.AP_EAPCET_21_May_2024_S1_107::after {content: '\00a0';display: inline-block; width:165px; height:181px; background-position: 99.91119005328596% 40.816326530612244%; background-size: 782.4242424242424% 262.43093922651934%; background-image: url(ap_phy_xii_ch3_0.png);padding: 0; }
div.AP_EAPCET_21_May_2024_S1_107::after {max-width:165px; width:100%;height:0;padding: 0 0 109.6969696969697% 0;}
.AP_EAPCET_22_May_2024_S1_107 {max-width:204px; max-height:118px; }
.AP_EAPCET_22_May_2024_S1_107::after {content: '\00a0';display: inline-block; width:204px; height:118px; background-position: 98.62005519779208% 0.2801120448179272%; background-size: 632.843137254902% 402.54237288135596%; background-image: url(ap_phy_xii_ch3_0.png);padding: 0; }
div.AP_EAPCET_22_May_2024_S1_107::after {max-width:204px; width:100%;height:0;padding: 0 0 57.84313725490196% 0;}
.AP_EAPCET_22_May_2024_S2_113 {max-width:299px; max-height:214px; }
.AP_EAPCET_22_May_2024_S2_113::after {content: '\00a0';display: inline-block; width:299px; height:214px; background-position: 47.37903225806452% 0.3831417624521073%; background-size: 431.7725752508361% 221.9626168224299%; background-image: url(ap_phy_xii_ch3_0.png);padding: 0; }
div.AP_EAPCET_22_May_2024_S2_113::after {max-width:299px; width:100%;height:0;padding: 0 0 71.57190635451505% 0;}
.eap_21_may_2025_s2_sol_107 {max-width:300px; max-height:208px; }
.eap_21_may_2025_s2_sol_107::after {content: '\00a0';display: inline-block; width:300px; height:208px; background-position: 56.2058526740666% 80.89887640449439%; background-size: 430.3333333333333% 228.3653846153846%; background-image: url(ap_phy_xii_ch3_0.png);padding: 0; }
div.eap_21_may_2025_s2_sol_107::after {max-width:300px; width:100%;height:0;padding: 0 0 69.33333333333333% 0;}
.eap_23_may_2025_s1_sol_107 {max-width:200px; max-height:248px; }
.eap_23_may_2025_s1_sol_107::after {content: '\00a0';display: inline-block; width:200px; height:248px; background-position: 24.65627864344638% 0.44052863436123346%; background-size: 645.5% 191.53225806451613%; background-image: url(ap_phy_xii_ch3_0.png);padding: 0; }
div.eap_23_may_2025_s1_sol_107::after {max-width:200px; width:100%;height:0;padding: 0 0 124% 0;}
.eap_23_may_2025_s2107 {max-width:301px; max-height:199px; }
.eap_23_may_2025_s2107::after {content: '\00a0';display: inline-block; width:301px; height:199px; background-position: 77.77777777777777% 0.36231884057971014%; background-size: 428.90365448504986% 238.69346733668343%; background-image: url(ap_phy_xii_ch3_0.png);padding: 0; }
div.eap_23_may_2025_s2107::after {max-width:301px; width:100%;height:0;padding: 0 0 66.11295681063123% 0;}

@keyframes AP_EAPCET_19_May_2024_S2-frames {
    0% { background-position: 0.1088139281828074% 99.66777408637874%;  }
    50% { background-position: 0.09765625% 0.5649717514124294%;  }
}

.AP_EAPCET_19_May_2024_S2-animation {
    max-width: 372px;
    max-height: 174px;
}
.AP_EAPCET_19_May_2024_S2-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 372px;
    height: 174px;
    padding: 0;
    background-image: url(ap_phy_xii_ch3_0.png);
    background-size: 347.0430107526882% 272.98850574712645%; 
    animation-name: AP_EAPCET_19_May_2024_S2-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.AP_EAPCET_19_May_2024_S2-animation::after {
    max-width: 372px;
    width: 100%;
    height: 0;
    padding: 0 0 46.774193548387096% 0;
}

/* $TexturePacker:SmartUpdate:4d974939be91de4a83e021549179330b:7bb22fc28d20920b32904e32cfeb16ea:1c29e3935c0ab32e044f3700b64aeda3$ */
