/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.eap_22_may_2025_s1_sol_93 {max-width:250px; max-height:132px; }
.eap_22_may_2025_s1_sol_93::after {content: '\00a0';display: inline-block; width:250px; height:132px; background-position: 50% 50%; background-size: 100.8% 101.51515151515152%; background-image: url(ap_phy_xi_ch9_0.png);padding: 0; }
div.eap_22_may_2025_s1_sol_93::after {max-width:250px; width:100%;height:0;padding: 0 0 52.8% 0;}


/* $TexturePacker:SmartUpdate:75b5cf7605bdf655fb46fbb32e4342da:6404d907068f7d04c504f4292f3d8d28:1b54ae989921d040bb7e2fc5d8dcc9e2$ */
