/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.AP_EAPCET_21_May_2024_S1_99 {max-width:249px; max-height:268px; }
.AP_EAPCET_21_May_2024_S1_99::after {content: '\00a0';display: inline-block; width:249px; height:268px; background-position: 58.31533477321814% 99.75186104218362%; background-size: 285.9437751004016% 250.37313432835822%; background-image: url(ap_phy_xi_ch12_0.png);padding: 0; }
div.AP_EAPCET_21_May_2024_S1_99::after {max-width:249px; width:100%;height:0;padding: 0 0 107.63052208835342% 0;}
.AP_EAPCET_22_May_2024_S1_99 {max-width:191px; max-height:198px; }
.AP_EAPCET_22_May_2024_S1_99::after {content: '\00a0';display: inline-block; width:191px; height:198px; background-position: 99.8080614203455% 84.98942917547569%; background-size: 372.77486910994764% 338.8888888888889%; background-image: url(ap_phy_xi_ch12_0.png);padding: 0; }
div.AP_EAPCET_22_May_2024_S1_99::after {max-width:191px; width:100%;height:0;padding: 0 0 103.66492146596859% 0;}
.eap_21_may_2025_s1_q_99 {max-width:268px; max-height:349px; }
.eap_21_may_2025_s1_q_99::after {content: '\00a0';display: inline-block; width:268px; height:349px; background-position: 0.22522522522522523% 86.33540372670808%; background-size: 265.67164179104475% 192.26361031518624%; background-image: url(ap_phy_xi_ch12_0.png);padding: 0; }
div.eap_21_may_2025_s1_q_99::after {max-width:268px; width:100%;height:0;padding: 0 0 130.22388059701493% 0;}
.eap_22_may_2025_s2_sol_98 {max-width:300px; max-height:400px; }
.eap_22_may_2025_s2_sol_98::after {content: '\00a0';display: inline-block; width:300px; height:400px; background-position: 95.87378640776699% 0.36900369003690037%; background-size: 237.33333333333334% 167.75%; background-image: url(ap_phy_xi_ch12_0.png);padding: 0; }
div.eap_22_may_2025_s2_sol_98::after {max-width:300px; width:100%;height:0;padding: 0 0 133.33333333333334% 0;}
.eap_23_may_2025_s1_q_99 {max-width:393px; max-height:276px; }
.eap_23_may_2025_s1_q_99::after {content: '\00a0';display: inline-block; width:393px; height:276px; background-position: 0.31347962382445144% 0.25316455696202533%; background-size: 181.1704834605598% 243.1159420289855%; background-image: url(ap_phy_xi_ch12_0.png);padding: 0; }
div.eap_23_may_2025_s1_q_99::after {max-width:393px; width:100%;height:0;padding: 0 0 70.22900763358778% 0;}


/* $TexturePacker:SmartUpdate:d86758527b321a269cca0a33d4f86ca0:c988f9ae2c75171af3bc30095fd535bf:89b504cca27cb928cb1918f4ba135dc9$ */
