/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.AP_EAPCET_18_May_2024_S1_105 {max-width:235px; max-height:239px; }
.AP_EAPCET_18_May_2024_S1_105::after {content: '\00a0';display: inline-block; width:235px; height:239px; background-position: 0.3831417624521073% 99.55156950672645%; background-size: 211.06382978723406% 193.30543933054392%; background-image: url(ap_phy_xii_ch2_0.png);padding: 0; }
div.AP_EAPCET_18_May_2024_S1_105::after {max-width:235px; width:100%;height:0;padding: 0 0 101.70212765957447% 0;}
.AP_EAPCET_19_May_2024_S2_106 {max-width:225px; max-height:110px; }
.AP_EAPCET_19_May_2024_S2_106::after {content: '\00a0';display: inline-block; width:225px; height:110px; background-position: 96.30996309963099% 47.15909090909091%; background-size: 220.44444444444446% 420%; background-image: url(ap_phy_xii_ch2_0.png);padding: 0; }
div.AP_EAPCET_19_May_2024_S2_106::after {max-width:225px; width:100%;height:0;padding: 0 0 48.888888888888886% 0;}
.AP_EAPCET_20_May_2024_S1_106 {max-width:259px; max-height:68px; }
.AP_EAPCET_20_May_2024_S1_106::after {content: '\00a0';display: inline-block; width:259px; height:68px; background-position: 0.4219409282700422% 38.83248730964467%; background-size: 191.5057915057915% 679.4117647058823%; background-image: url(ap_phy_xii_ch2_0.png);padding: 0; }
div.AP_EAPCET_20_May_2024_S1_106::after {max-width:259px; width:100%;height:0;padding: 0 0 26.254826254826256% 0;}
.AP_EAPCET_21_May_2024_S1_113 {max-width:327px; max-height:151px; }
.AP_EAPCET_21_May_2024_S1_113::after {content: '\00a0';display: inline-block; width:327px; height:151px; background-position: 0.591715976331361% 0.3215434083601286%; background-size: 151.68195718654434% 305.96026490066225%; background-image: url(ap_phy_xii_ch2_0.png);padding: 0; }
div.AP_EAPCET_21_May_2024_S1_113::after {max-width:327px; width:100%;height:0;padding: 0 0 46.17737003058104% 0;}
.AP_EAPCET_22_May_2024_S1_106 {max-width:166px; max-height:164px; }
.AP_EAPCET_22_May_2024_S1_106::after {content: '\00a0';display: inline-block; width:166px; height:164px; background-position: 99.6969696969697% 0.33557046979865773%; background-size: 298.7951807228916% 281.7073170731707%; background-image: url(ap_phy_xii_ch2_0.png);padding: 0; }
div.AP_EAPCET_22_May_2024_S1_106::after {max-width:166px; width:100%;height:0;padding: 0 0 98.79518072289157% 0;}
.eap_24_may_2025_s1107 {max-width:197px; max-height:165px; }
.eap_24_may_2025_s1107::after {content: '\00a0';display: inline-block; width:197px; height:165px; background-position: 79.26421404682274% 93.26599326599326%; background-size: 251.7766497461929% 280%; background-image: url(ap_phy_xii_ch2_0.png);padding: 0; }
div.eap_24_may_2025_s1107::after {max-width:197px; width:100%;height:0;padding: 0 0 83.75634517766497% 0;}


/* $TexturePacker:SmartUpdate:6f243fcdc7245563b20336768c42bc74:813d9083960c6ccfb82e8819b0e48b1f:8b00e0db201cf0fcc1a84bcff709950d$ */
