/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.AP_EAPCET_19_May_2024_S2_105 {max-width:252px; max-height:149px; }
.AP_EAPCET_19_May_2024_S2_105::after {content: '\00a0';display: inline-block; width:252px; height:149px; background-position: 1.7857142857142858% 79.39189189189189%; background-size: 122.22222222222223% 497.3154362416107%; background-image: url(ap_phy_xii_ch1_0.png);padding: 0; }
div.AP_EAPCET_19_May_2024_S2_105::after {max-width:252px; width:100%;height:0;padding: 0 0 59.12698412698413% 0;}
.eap_21_may_2025_s1_q_105 {max-width:211px; max-height:120px; }
.eap_21_may_2025_s1_q_105::after {content: '\00a0';display: inline-block; width:211px; height:120px; background-position: 1.0309278350515463% 99.8389694041868%; background-size: 145.97156398104266% 617.5%; background-image: url(ap_phy_xii_ch1_0.png);padding: 0; }
div.eap_21_may_2025_s1_q_105::after {max-width:211px; width:100%;height:0;padding: 0 0 56.872037914691944% 0;}
.eap_22_may_2025_s2_q_105 {max-width:260px; max-height:148px; }
.eap_22_may_2025_s2_q_105::after {content: '\00a0';display: inline-block; width:260px; height:148px; background-position: 2.0833333333333335% 54.13153456998314%; background-size: 118.46153846153847% 500.6756756756757%; background-image: url(ap_phy_xii_ch1_0.png);padding: 0; }
div.eap_22_may_2025_s2_q_105::after {max-width:260px; width:100%;height:0;padding: 0 0 56.92307692307692% 0;}
.eap_22_may_2025_s2_q_106 {max-width:306px; max-height:189px; }
.eap_22_may_2025_s2_q_106::after {content: '\00a0';display: inline-block; width:306px; height:189px; background-position: 50% 0.18115942028985507%; background-size: 100.65359477124183% 392.06349206349205%; background-image: url(ap_phy_xii_ch1_0.png);padding: 0; }
div.eap_22_may_2025_s2_q_106::after {max-width:306px; width:100%;height:0;padding: 0 0 61.76470588235294% 0;}
.eap_22_may_2025_s2_sol_106 {max-width:300px; max-height:129px; }
.eap_22_may_2025_s2_sol_106::after {content: '\00a0';display: inline-block; width:300px; height:129px; background-position: 12.5% 31.209150326797385%; background-size: 102.66666666666667% 574.4186046511628%; background-image: url(ap_phy_xii_ch1_0.png);padding: 0; }
div.eap_22_may_2025_s2_sol_106::after {max-width:300px; width:100%;height:0;padding: 0 0 43% 0;}

@keyframes eap_22_may_2025_s2_q-frames {
    0% { background-position: 2.0833333333333335% 54.13153456998314%;  }
    50% { background-position: 50% 0.18115942028985507%;  }
}

.eap_22_may_2025_s2_q-animation {
    max-width: 260px;
    max-height: 148px;
}
.eap_22_may_2025_s2_q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 260px;
    height: 148px;
    padding: 0;
    background-image: url(ap_phy_xii_ch1_0.png);
    background-size: 118.46153846153847% 500.6756756756757%; 
    animation-name: eap_22_may_2025_s2_q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.eap_22_may_2025_s2_q-animation::after {
    max-width: 260px;
    width: 100%;
    height: 0;
    padding: 0 0 56.92307692307692% 0;
}

/* $TexturePacker:SmartUpdate:6a8296f2a104a8098039c332b86a470d:e60447e60ccabb5e1a3f45cfedd64120:ecb59f6e2a8d54bbbb27bc8103c5b294$ */
