/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.jee_mn_28_jan_2025_s1_q_33 {max-width:300px; max-height:126px; }
.jee_mn_28_jan_2025_s1_q_33::after {content: '\00a0';display: inline-block; width:300px; height:126px; background-position: 37.95077275329135% 81.79347826086956%; background-size: 682.3333333333334% 976.1904761904761%; background-image: url(jee_mn_28_jan_2025_s1_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s1_q_33::after {max-width:300px; width:100%;height:0;padding: 0 0 42% 0;}
.jee_mn_28_jan_2025_s1_q_34 {max-width:300px; max-height:199px; }
.jee_mn_28_jan_2025_s1_q_34::after {content: '\00a0';display: inline-block; width:300px; height:199px; background-position: 86.31940469376073% 0.09699321047526673%; background-size: 682.3333333333334% 618.0904522613065%; background-image: url(jee_mn_28_jan_2025_s1_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s1_q_34::after {max-width:300px; width:100%;height:0;padding: 0 0 66.33333333333333% 0;}
.jee_mn_28_jan_2025_s1_q_35 {max-width:400px; max-height:175px; }
.jee_mn_28_jan_2025_s1_q_35::after {content: '\00a0';display: inline-block; width:400px; height:175px; background-position: 79.35640558591378% 46.540284360189574%; background-size: 511.75% 702.8571428571429%; background-image: url(jee_mn_28_jan_2025_s1_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s1_q_35::after {max-width:400px; width:100%;height:0;padding: 0 0 43.75% 0;}
.jee_mn_28_jan_2025_s1_q_38 {max-width:360px; max-height:100px; }
.jee_mn_28_jan_2025_s1_q_38::after {content: '\00a0';display: inline-block; width:360px; height:100px; background-position: 74.98518079430943% 68.84955752212389%; background-size: 568.6111111111111% 1230%; background-image: url(jee_mn_28_jan_2025_s1_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s1_q_38::after {max-width:360px; width:100%;height:0;padding: 0 0 27.77777777777778% 0;}
.jee_mn_28_jan_2025_s1_q_38a {max-width:284px; max-height:51px; }
.jee_mn_28_jan_2025_s1_q_38a::after {content: '\00a0';display: inline-block; width:284px; height:51px; background-position: 40.61259217243335% 51.14503816793893%; background-size: 720.7746478873239% 2411.764705882353%; background-image: url(jee_mn_28_jan_2025_s1_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s1_q_38a::after {max-width:284px; width:100%;height:0;padding: 0 0 17.95774647887324% 0;}
.jee_mn_28_jan_2025_s1_q_38b {max-width:301px; max-height:48px; }
.jee_mn_28_jan_2025_s1_q_38b::after {content: '\00a0';display: inline-block; width:301px; height:48px; background-position: 57.33104238258878% 50.84602368866328%; background-size: 680.0664451827242% 2562.5%; background-image: url(jee_mn_28_jan_2025_s1_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s1_q_38b::after {max-width:301px; width:100%;height:0;padding: 0 0 15.946843853820598% 0;}
.jee_mn_28_jan_2025_s1_q_38c {max-width:304px; max-height:48px; }
.jee_mn_28_jan_2025_s1_q_38c::after {content: '\00a0';display: inline-block; width:304px; height:48px; background-position: 55.47905909351692% 46.7005076142132%; background-size: 673.3552631578947% 2562.5%; background-image: url(jee_mn_28_jan_2025_s1_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s1_q_38c::after {max-width:304px; width:100%;height:0;padding: 0 0 15.789473684210526% 0;}
.jee_mn_28_jan_2025_s1_q_38d {max-width:350px; max-height:51px; }
.jee_mn_28_jan_2025_s1_q_38d::after {content: '\00a0';display: inline-block; width:350px; height:51px; background-position: 21.50854449027696% 51.14503816793893%; background-size: 584.8571428571429% 2411.764705882353%; background-image: url(jee_mn_28_jan_2025_s1_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s1_q_38d::after {max-width:350px; width:100%;height:0;padding: 0 0 14.571428571428571% 0;}
.jee_mn_28_jan_2025_s1_q_39 {max-width:300px; max-height:332px; }
.jee_mn_28_jan_2025_s1_q_39::after {content: '\00a0';display: inline-block; width:300px; height:332px; background-position: 0.057240984544934176% 0.111358574610245%; background-size: 682.3333333333334% 370.48192771084337%; background-image: url(jee_mn_28_jan_2025_s1_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s1_q_39::after {max-width:300px; width:100%;height:0;padding: 0 0 110.66666666666667% 0;}
.jee_mn_28_jan_2025_s1_q_41 {max-width:300px; max-height:293px; }
.jee_mn_28_jan_2025_s1_q_41::after {content: '\00a0';display: inline-block; width:300px; height:293px; background-position: 0.057240984544934176% 71.07790821771611%; background-size: 682.3333333333334% 419.7952218430034%; background-image: url(jee_mn_28_jan_2025_s1_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s1_q_41::after {max-width:300px; width:100%;height:0;padding: 0 0 97.66666666666667% 0;}
.jee_mn_28_jan_2025_s1_q_43 {max-width:360px; max-height:125px; }
.jee_mn_28_jan_2025_s1_q_43::after {content: '\00a0';display: inline-block; width:360px; height:125px; background-position: 53.58624777711915% 69.41176470588235%; background-size: 568.6111111111111% 984%; background-image: url(jee_mn_28_jan_2025_s1_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s1_q_43::after {max-width:360px; width:100%;height:0;padding: 0 0 34.72222222222222% 0;}
.jee_mn_28_jan_2025_s1_q_45a {max-width:300px; max-height:281px; }
.jee_mn_28_jan_2025_s1_q_45a::after {content: '\00a0';display: inline-block; width:300px; height:281px; background-position: 17.28677733257012% 70.17913593256058%; background-size: 682.3333333333334% 437.7224199288256%; background-image: url(jee_mn_28_jan_2025_s1_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s1_q_45a::after {max-width:300px; width:100%;height:0;padding: 0 0 93.66666666666667% 0;}
.jee_mn_28_jan_2025_s1_q_45b {max-width:300px; max-height:281px; }
.jee_mn_28_jan_2025_s1_q_45b::after {content: '\00a0';display: inline-block; width:300px; height:281px; background-position: 20.721236405266172% 99.89462592202318%; background-size: 682.3333333333334% 437.7224199288256%; background-image: url(jee_mn_28_jan_2025_s1_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s1_q_45b::after {max-width:300px; width:100%;height:0;padding: 0 0 93.66666666666667% 0;}
.jee_mn_28_jan_2025_s1_q_45c {max-width:300px; max-height:281px; }
.jee_mn_28_jan_2025_s1_q_45c::after {content: '\00a0';display: inline-block; width:300px; height:281px; background-position: 20.892959358900974% 33.825079030558484%; background-size: 682.3333333333334% 437.7224199288256%; background-image: url(jee_mn_28_jan_2025_s1_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s1_q_45c::after {max-width:300px; width:100%;height:0;padding: 0 0 93.66666666666667% 0;}
.jee_mn_28_jan_2025_s1_q_45d {max-width:300px; max-height:281px; }
.jee_mn_28_jan_2025_s1_q_45d::after {content: '\00a0';display: inline-block; width:300px; height:281px; background-position: 38.12249570692616% 33.825079030558484%; background-size: 682.3333333333334% 437.7224199288256%; background-image: url(jee_mn_28_jan_2025_s1_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s1_q_45d::after {max-width:300px; width:100%;height:0;padding: 0 0 93.66666666666667% 0;}
.jee_mn_28_jan_2025_s1_q_53 {max-width:300px; max-height:247px; }
.jee_mn_28_jan_2025_s1_q_53::after {content: '\00a0';display: inline-block; width:300px; height:247px; background-position: 34.5163136805953% 66.63275686673448%; background-size: 682.3333333333334% 497.9757085020243%; background-image: url(jee_mn_28_jan_2025_s1_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s1_q_53::after {max-width:300px; width:100%;height:0;padding: 0 0 82.33333333333333% 0;}
.jee_mn_28_jan_2025_s1_q_53a {max-width:188px; max-height:127px; }
.jee_mn_28_jan_2025_s1_q_53a::after {content: '\00a0';display: inline-block; width:188px; height:127px; background-position: 84.18504572350726% 24.932003626473254%; background-size: 1088.8297872340424% 968.503937007874%; background-image: url(jee_mn_28_jan_2025_s1_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s1_q_53a::after {max-width:188px; width:100%;height:0;padding: 0 0 67.55319148936171% 0;}
.jee_mn_28_jan_2025_s1_q_53b {max-width:138px; max-height:156px; }
.jee_mn_28_jan_2025_s1_q_53b::after {content: '\00a0';display: inline-block; width:138px; height:156px; background-position: 50.81194342587742% 83.14711359404097%; background-size: 1483.3333333333333% 788.4615384615385%; background-image: url(jee_mn_28_jan_2025_s1_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s1_q_53b::after {max-width:138px; width:100%;height:0;padding: 0 0 113.04347826086956% 0;}
.jee_mn_28_jan_2025_s1_q_53c {max-width:200px; max-height:148px; }
.jee_mn_28_jan_2025_s1_q_53c::after {content: '\00a0';display: inline-block; width:200px; height:148px; background-position: 97.94260963724959% 15.526802218114602%; background-size: 1023.5% 831.081081081081%; background-image: url(jee_mn_28_jan_2025_s1_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s1_q_53c::after {max-width:200px; width:100%;height:0;padding: 0 0 74% 0;}
.jee_mn_28_jan_2025_s1_q_53d {max-width:104px; max-height:165px; }
.jee_mn_28_jan_2025_s1_q_53d::after {content: '\00a0';display: inline-block; width:104px; height:165px; background-position: 49.922799794132786% 98.87323943661971%; background-size: 1968.2692307692307% 745.4545454545455%; background-image: url(jee_mn_28_jan_2025_s1_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s1_q_53d::after {max-width:104px; width:100%;height:0;padding: 0 0 158.65384615384616% 0;}
.jee_mn_28_jan_2025_s1_q_55 {max-width:500px; max-height:319px; }
.jee_mn_28_jan_2025_s1_q_55::after {content: '\00a0';display: inline-block; width:500px; height:319px; background-position: 19.521654815772465% 0.10976948408342481%; background-size: 409.4% 385.57993730407526%; background-image: url(jee_mn_28_jan_2025_s1_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s1_q_55::after {max-width:500px; width:100%;height:0;padding: 0 0 63.8% 0;}
.jee_mn_28_jan_2025_s1_q_61 {max-width:400px; max-height:111px; }
.jee_mn_28_jan_2025_s1_q_61::after {content: '\00a0';display: inline-block; width:400px; height:111px; background-position: 54.88767455980571% 58.53440571939232%; background-size: 511.75% 1108.1081081081081%; background-image: url(jee_mn_28_jan_2025_s1_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s1_q_61::after {max-width:400px; width:100%;height:0;padding: 0 0 27.75% 0;}
.jee_mn_28_jan_2025_s1_q_65a {max-width:200px; max-height:77px; }
.jee_mn_28_jan_2025_s1_q_65a::after {content: '\00a0';display: inline-block; width:200px; height:77px; background-position: 43.47590687601516% 21.075455333911535%; background-size: 1023.5% 1597.4025974025974%; background-image: url(jee_mn_28_jan_2025_s1_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s1_q_65a::after {max-width:200px; width:100%;height:0;padding: 0 0 38.5% 0;}
.jee_mn_28_jan_2025_s1_q_65b {max-width:200px; max-height:73px; }
.jee_mn_28_jan_2025_s1_q_65b::after {content: '\00a0';display: inline-block; width:200px; height:73px; background-position: 84.73199783432594% 17.372515125324114%; background-size: 1023.5% 1684.9315068493152%; background-image: url(jee_mn_28_jan_2025_s1_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s1_q_65b::after {max-width:200px; width:100%;height:0;padding: 0 0 36.5% 0;}
.jee_mn_28_jan_2025_s1_q_65c {max-width:200px; max-height:77px; }
.jee_mn_28_jan_2025_s1_q_65c::after {content: '\00a0';display: inline-block; width:200px; height:77px; background-position: 54.35841905793178% 21.075455333911535%; background-size: 1023.5% 1597.4025974025974%; background-image: url(jee_mn_28_jan_2025_s1_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s1_q_65c::after {max-width:200px; width:100%;height:0;padding: 0 0 38.5% 0;}
.jee_mn_28_jan_2025_s1_q_71 {max-width:400px; max-height:110px; }
.jee_mn_28_jan_2025_s1_q_71::after {content: '\00a0';display: inline-block; width:400px; height:110px; background-position: 79.23497267759562% 59.55357142857143%; background-size: 511.75% 1118.1818181818182%; background-image: url(jee_mn_28_jan_2025_s1_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s1_q_71::after {max-width:400px; width:100%;height:0;padding: 0 0 27.5% 0;}
.jee_mn_28_jan_2025_s1_q_75 {max-width:360px; max-height:256px; }
.jee_mn_28_jan_2025_s1_q_75::after {content: '\00a0';display: inline-block; width:360px; height:256px; background-position: 0.05927682276229994% 98.56262833675565%; background-size: 568.6111111111111% 480.46875%; background-image: url(jee_mn_28_jan_2025_s1_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s1_q_75::after {max-width:360px; width:100%;height:0;padding: 0 0 71.11111111111111% 0;}
.jee_mn_28_jan_2025_s1_sol_11 {max-width:205px; max-height:166px; }
.jee_mn_28_jan_2025_s1_sol_11::after {content: '\00a0';display: inline-block; width:205px; height:166px; background-position: 98.2084690553746% 0.09398496240601503%; background-size: 998.5365853658536% 740.9638554216867%; background-image: url(jee_mn_28_jan_2025_s1_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s1_sol_11::after {max-width:205px; width:100%;height:0;padding: 0 0 80.97560975609755% 0;}
.jee_mn_28_jan_2025_s1_sol_13 {max-width:339px; max-height:230px; }
.jee_mn_28_jan_2025_s1_sol_13::after {content: '\00a0';display: inline-block; width:339px; height:230px; background-position: 56.61592505854801% 32.1%; background-size: 603.834808259587% 534.7826086956521%; background-image: url(jee_mn_28_jan_2025_s1_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s1_sol_13::after {max-width:339px; width:100%;height:0;padding: 0 0 67.84660766961652% 0;}
.jee_mn_28_jan_2025_s1_sol_17 {max-width:247px; max-height:241px; }
.jee_mn_28_jan_2025_s1_sol_17::after {content: '\00a0';display: inline-block; width:247px; height:241px; background-position: 44.611111111111114% 0.10111223458038422%; background-size: 828.744939271255% 510.37344398340247%; background-image: url(jee_mn_28_jan_2025_s1_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s1_sol_17::after {max-width:247px; width:100%;height:0;padding: 0 0 97.57085020242916% 0;}
.jee_mn_28_jan_2025_s1_sol_2 {max-width:236px; max-height:220px; }
.jee_mn_28_jan_2025_s1_sol_2::after {content: '\00a0';display: inline-block; width:236px; height:220px; background-position: 58.034235229155165% 0.09900990099009901%; background-size: 867.3728813559322% 559.0909090909091%; background-image: url(jee_mn_28_jan_2025_s1_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s1_sol_2::after {max-width:236px; width:100%;height:0;padding: 0 0 93.22033898305085% 0;}
.jee_mn_28_jan_2025_s1_sol_24 {max-width:219px; max-height:206px; }
.jee_mn_28_jan_2025_s1_sol_24::after {content: '\00a0';display: inline-block; width:219px; height:206px; background-position: 70.45951859956236% 0.09765625%; background-size: 934.703196347032% 597.0873786407767%; background-image: url(jee_mn_28_jan_2025_s1_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s1_sol_24::after {max-width:219px; width:100%;height:0;padding: 0 0 94.06392694063926% 0;}
.jee_mn_28_jan_2025_s1_sol_28 {max-width:103px; max-height:154px; }
.jee_mn_28_jan_2025_s1_sol_28::after {content: '\00a0';display: inline-block; width:103px; height:154px; background-position: 70.5246913580247% 97.86245353159852%; background-size: 1987.378640776699% 798.7012987012987%; background-image: url(jee_mn_28_jan_2025_s1_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s1_sol_28::after {max-width:103px; width:100%;height:0;padding: 0 0 149.51456310679612% 0;}
.jee_mn_28_jan_2025_s1_sol_29 {max-width:311px; max-height:144px; }
.jee_mn_28_jan_2025_s1_sol_29::after {content: '\00a0';display: inline-block; width:311px; height:144px; background-position: 84.96543778801843% 96.96132596685082%; background-size: 658.1993569131832% 854.1666666666666%; background-image: url(jee_mn_28_jan_2025_s1_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s1_sol_29::after {max-width:311px; width:100%;height:0;padding: 0 0 46.30225080385852% 0;}
.jee_mn_28_jan_2025_s1_sol_29a {max-width:333px; max-height:166px; }
.jee_mn_28_jan_2025_s1_sol_29a::after {content: '\00a0';display: inline-block; width:333px; height:166px; background-position: 99.64994165694283% 48.402255639097746%; background-size: 614.7147147147147% 740.9638554216867%; background-image: url(jee_mn_28_jan_2025_s1_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s1_sol_29a::after {max-width:333px; width:100%;height:0;padding: 0 0 49.849849849849846% 0;}
.jee_mn_28_jan_2025_s1_sol_33 {max-width:246px; max-height:106px; }
.jee_mn_28_jan_2025_s1_sol_33::after {content: '\00a0';display: inline-block; width:246px; height:106px; background-position: 99.22265408106607% 91.63701067615658%; background-size: 832.1138211382114% 1160.377358490566%; background-image: url(jee_mn_28_jan_2025_s1_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s1_sol_33::after {max-width:246px; width:100%;height:0;padding: 0 0 43.08943089430894% 0;}
.jee_mn_28_jan_2025_s1_sol_41 {max-width:267px; max-height:197px; }
.jee_mn_28_jan_2025_s1_sol_41::after {content: '\00a0';display: inline-block; width:267px; height:197px; background-position: 98.53932584269663% 30.68731848983543%; background-size: 766.6666666666666% 624.3654822335026%; background-image: url(jee_mn_28_jan_2025_s1_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s1_sol_41::after {max-width:267px; width:100%;height:0;padding: 0 0 73.78277153558052% 0;}
.jee_mn_28_jan_2025_s1_sol_43 {max-width:295px; max-height:154px; }
.jee_mn_28_jan_2025_s1_sol_43::after {content: '\00a0';display: inline-block; width:295px; height:154px; background-position: 61.358447488584474% 98.23420074349443%; background-size: 693.8983050847457% 798.7012987012987%; background-image: url(jee_mn_28_jan_2025_s1_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s1_sol_43::after {max-width:295px; width:100%;height:0;padding: 0 0 52.20338983050848% 0;}
.jee_mn_28_jan_2025_s1_sol_5 {max-width:248px; max-height:185px; }
.jee_mn_28_jan_2025_s1_sol_5::after {content: '\00a0';display: inline-block; width:248px; height:185px; background-position: 72.6514730405781% 29.1866028708134%; background-size: 825.4032258064516% 664.8648648648649%; background-image: url(jee_mn_28_jan_2025_s1_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s1_sol_5::after {max-width:248px; width:100%;height:0;padding: 0 0 74.59677419354838% 0;}
.jee_mn_28_jan_2025_s1_sol_53 {max-width:363px; max-height:331px; }
.jee_mn_28_jan_2025_s1_sol_53::after {content: '\00a0';display: inline-block; width:363px; height:331px; background-position: 0.05938242280285035% 37.152391546162406%; background-size: 563.9118457300275% 371.6012084592145%; background-image: url(jee_mn_28_jan_2025_s1_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s1_sol_53::after {max-width:363px; width:100%;height:0;padding: 0 0 91.18457300275482% 0;}
.jee_mn_28_jan_2025_s1_sol_57 {max-width:344px; max-height:173px; }
.jee_mn_28_jan_2025_s1_sol_57::after {content: '\00a0';display: inline-block; width:344px; height:173px; background-position: 74.28068115091015% 83.15988647114474%; background-size: 595.0581395348837% 710.9826589595376%; background-image: url(jee_mn_28_jan_2025_s1_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s1_sol_57::after {max-width:344px; width:100%;height:0;padding: 0 0 50.2906976744186% 0;}
.jee_mn_28_jan_2025_s1_sol_61 {max-width:359px; max-height:82px; }
.jee_mn_28_jan_2025_s1_sol_61::after {content: '\00a0';display: inline-block; width:359px; height:82px; background-position: 71.38625592417061% 19.337979094076655%; background-size: 570.1949860724234% 1500%; background-image: url(jee_mn_28_jan_2025_s1_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s1_sol_61::after {max-width:359px; width:100%;height:0;padding: 0 0 22.841225626740947% 0;}
.jee_mn_28_jan_2025_s1_sol_65 {max-width:357px; max-height:162px; }
.jee_mn_28_jan_2025_s1_sol_65::after {content: '\00a0';display: inline-block; width:357px; height:162px; background-position: 96.21301775147928% 81.17977528089888%; background-size: 573.389355742297% 759.2592592592592%; background-image: url(jee_mn_28_jan_2025_s1_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s1_sol_65::after {max-width:357px; width:100%;height:0;padding: 0 0 45.378151260504204% 0;}
.jee_mn_28_jan_2025_s1_sol_7 {max-width:306px; max-height:195px; }
.jee_mn_28_jan_2025_s1_sol_7::after {content: '\00a0';display: inline-block; width:306px; height:195px; background-position: 38.081562320505455% 99.51690821256038%; background-size: 668.9542483660131% 630.7692307692307%; background-image: url(jee_mn_28_jan_2025_s1_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s1_sol_7::after {max-width:306px; width:100%;height:0;padding: 0 0 63.72549019607843% 0;}
.jee_mn_28_jan_2025_s1_sol_71 {max-width:150px; max-height:163px; }
.jee_mn_28_jan_2025_s1_sol_71::after {content: '\00a0';display: inline-block; width:150px; height:163px; background-position: 58.4607274644175% 83.69259606373008%; background-size: 1364.6666666666667% 754.601226993865%; background-image: url(jee_mn_28_jan_2025_s1_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s1_sol_71::after {max-width:150px; width:100%;height:0;padding: 0 0 108.66666666666667% 0;}
.jee_mn_28_jan_2025_s1_sol_9 {max-width:340px; max-height:184px; }
.jee_mn_28_jan_2025_s1_sol_9::after {content: '\00a0';display: inline-block; width:340px; height:184px; background-position: 99.94141769185705% 65.20076481835564%; background-size: 602.0588235294117% 668.4782608695652%; background-image: url(jee_mn_28_jan_2025_s1_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s1_sol_9::after {max-width:340px; width:100%;height:0;padding: 0 0 54.11764705882353% 0;}

@keyframes jee_mn_28_jan_2025_s1_q-frames {
    0% { background-position: 37.95077275329135% 81.79347826086956%;  }
    8.333333333333332% { background-position: 86.31940469376073% 0.09699321047526673%;  }
    16.666666666666664% { background-position: 79.35640558591378% 46.540284360189574%;  }
    25% { background-position: 74.98518079430943% 68.84955752212389%;  }
    33.33333333333333% { background-position: 0.057240984544934176% 0.111358574610245%;  }
    41.66666666666667% { background-position: 0.057240984544934176% 71.07790821771611%;  }
    50% { background-position: 53.58624777711915% 69.41176470588235%;  }
    58.333333333333336% { background-position: 34.5163136805953% 66.63275686673448%;  }
    66.66666666666666% { background-position: 19.521654815772465% 0.10976948408342481%;  }
    75% { background-position: 54.88767455980571% 58.53440571939232%;  }
    83.33333333333334% { background-position: 79.23497267759562% 59.55357142857143%;  }
    91.66666666666666% { background-position: 0.05927682276229994% 98.56262833675565%;  }
}

.jee_mn_28_jan_2025_s1_q-animation {
    max-width: 300px;
    max-height: 126px;
}
.jee_mn_28_jan_2025_s1_q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 300px;
    height: 126px;
    padding: 0;
    background-image: url(jee_mn_28_jan_2025_s1_0.png);
    background-size: 682.3333333333334% 976.1904761904761%; 
    animation-name: jee_mn_28_jan_2025_s1_q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.jee_mn_28_jan_2025_s1_q-animation::after {
    max-width: 300px;
    width: 100%;
    height: 0;
    padding: 0 0 42% 0;
}

@keyframes jee_mn_28_jan_2025_s1_sol-frames {
    0% { background-position: 58.034235229155165% 0.09900990099009901%;  }
    5.555555555555555% { background-position: 72.6514730405781% 29.1866028708134%;  }
    11.11111111111111% { background-position: 38.081562320505455% 99.51690821256038%;  }
    16.666666666666664% { background-position: 99.94141769185705% 65.20076481835564%;  }
    22.22222222222222% { background-position: 98.2084690553746% 0.09398496240601503%;  }
    27.77777777777778% { background-position: 56.61592505854801% 32.1%;  }
    33.33333333333333% { background-position: 44.611111111111114% 0.10111223458038422%;  }
    38.88888888888889% { background-position: 70.45951859956236% 0.09765625%;  }
    44.44444444444444% { background-position: 70.5246913580247% 97.86245353159852%;  }
    50% { background-position: 84.96543778801843% 96.96132596685082%;  }
    55.55555555555556% { background-position: 99.22265408106607% 91.63701067615658%;  }
    61.111111111111114% { background-position: 98.53932584269663% 30.68731848983543%;  }
    66.66666666666666% { background-position: 61.358447488584474% 98.23420074349443%;  }
    72.22222222222221% { background-position: 0.05938242280285035% 37.152391546162406%;  }
    77.77777777777779% { background-position: 74.28068115091015% 83.15988647114474%;  }
    83.33333333333334% { background-position: 71.38625592417061% 19.337979094076655%;  }
    88.88888888888889% { background-position: 96.21301775147928% 81.17977528089888%;  }
    94.44444444444444% { background-position: 58.4607274644175% 83.69259606373008%;  }
}

.jee_mn_28_jan_2025_s1_sol-animation {
    max-width: 236px;
    max-height: 220px;
}
.jee_mn_28_jan_2025_s1_sol-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 236px;
    height: 220px;
    padding: 0;
    background-image: url(jee_mn_28_jan_2025_s1_0.png);
    background-size: 867.3728813559322% 559.0909090909091%; 
    animation-name: jee_mn_28_jan_2025_s1_sol-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.jee_mn_28_jan_2025_s1_sol-animation::after {
    max-width: 236px;
    width: 100%;
    height: 0;
    padding: 0 0 93.22033898305085% 0;
}

/* $TexturePacker:SmartUpdate:823cdc7ea18373ff5450015d3e8ba011:20a4db52887a9446645c61c622453233:2779ed6bdf8eff109f5492facae64cc8$ */
