/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.cusat_2022_s1_74 {max-width:120px; max-height:130px; }
.cusat_2022_s1_74::after {content: '\00a0';display: inline-block; width:120px; height:130px; background-position: 58.108108108108105% 0.9009009009009009%;background-size: 1518.3333333333333% 185.3846153846154%;background-image: url(cusat_2022s1.png);padding: 0; }
div.cusat_2022_s1_74::after {max-width:120px; width:100%;height:0;padding: 0 0 108.33333333333333% 0;}
.cusat_2022_s1_76 {max-width:354px; max-height:151px; }
.cusat_2022_s1_76::after {content: '\00a0';display: inline-block; width:354px; height:151px; background-position: 0.0681198910081744% 1.1111111111111112%;background-size: 514.6892655367232% 159.60264900662253%;background-image: url(cusat_2022s1.png);padding: 0; }
div.cusat_2022_s1_76::after {max-width:354px; width:100%;height:0;padding: 0 0 42.655367231638415% 0;}
.cusat_2022_s1_77 {max-width:287px; max-height:95px; }
.cusat_2022_s1_77::after {content: '\00a0';display: inline-block; width:287px; height:95px; background-position: 99.93485342019544% 83.56164383561644%;background-size: 634.8432055749129% 253.68421052631578%;background-image: url(cusat_2022s1.png);padding: 0; }
div.cusat_2022_s1_77::after {max-width:287px; width:100%;height:0;padding: 0 0 33.10104529616725% 0;}
.cusat_2022_s1_81 {max-width:632px; max-height:144px; }
.cusat_2022_s1_81::after {content: '\00a0';display: inline-block; width:632px; height:144px; background-position: 29.915966386554622% 1.0309278350515463%;background-size: 288.2911392405063% 167.36111111111111%;background-image: url(cusat_2022s1.png);padding: 0; }
div.cusat_2022_s1_81::after {max-width:632px; width:100%;height:0;padding: 0 0 22.78481012658228% 0;}
.cusat_2022_s1_82 {max-width:389px; max-height:87px; }
.cusat_2022_s1_82::after {content: '\00a0';display: inline-block; width:389px; height:87px; background-position: 0.06978367062107467% 99.35064935064935%;background-size: 468.38046272493574% 277.01149425287355%;background-image: url(cusat_2022s1.png);padding: 0; }
div.cusat_2022_s1_82::after {max-width:389px; width:100%;height:0;padding: 0 0 22.36503856041131% 0;}
.cusat_2022_s1_83 {max-width:613px; max-height:120px; }
.cusat_2022_s1_83::after {content: '\00a0';display: inline-block; width:613px; height:120px; background-position: 91.81141439205955% 0.8264462809917356%;background-size: 297.2267536704731% 200.83333333333334%;background-image: url(cusat_2022s1.png);padding: 0; }
div.cusat_2022_s1_83::after {max-width:613px; width:100%;height:0;padding: 0 0 19.575856443719413% 0;}
.cusat_2022_s1_87 {max-width:475px; max-height:99px; }
.cusat_2022_s1_87::after {content: '\00a0';display: inline-block; width:475px; height:99px; background-position: 78.5449146250928% 92.95774647887323%;background-size: 383.57894736842104% 243.43434343434345%;background-image: url(cusat_2022s1.png);padding: 0; }
div.cusat_2022_s1_87::after {max-width:475px; width:100%;height:0;padding: 0 0 20.842105263157894% 0;}
.cusat_2022_s1_94_a {max-width:142px; max-height:91px; }
.cusat_2022_s1_94_a::after {content: '\00a0';display: inline-block; width:142px; height:91px; background-position: 23.273809523809526% 97.33333333333333%;background-size: 1283.0985915492959% 264.83516483516485%;background-image: url(cusat_2022s1.png);padding: 0; }
div.cusat_2022_s1_94_a::after {max-width:142px; width:100%;height:0;padding: 0 0 64.08450704225352% 0;}
.cusat_2022_s1_94_b {max-width:169px; max-height:90px; }
.cusat_2022_s1_94_b::after {content: '\00a0';display: inline-block; width:169px; height:90px; background-position: 32.3049001814882% 96.6887417218543%;background-size: 1078.1065088757396% 267.77777777777777%;background-image: url(cusat_2022s1.png);padding: 0; }
div.cusat_2022_s1_94_b::after {max-width:169px; width:100%;height:0;padding: 0 0 53.25443786982248% 0;}
.cusat_2022_s1_94_c {max-width:140px; max-height:82px; }
.cusat_2022_s1_94_c::after {content: '\00a0';display: inline-block; width:140px; height:82px; background-position: 54.51843043995244% 91.82389937106919%;background-size: 1301.4285714285713% 293.9024390243902%;background-image: url(cusat_2022s1.png);padding: 0; }
div.cusat_2022_s1_94_c::after {max-width:140px; width:100%;height:0;padding: 0 0 58.57142857142857% 0;}
.cusat_2022_s1_94_d {max-width:212px; max-height:89px; }
.cusat_2022_s1_94_d::after {content: '\00a0';display: inline-block; width:212px; height:89px; background-position: 43.72670807453416% 96.05263157894737%;background-size: 859.433962264151% 270.7865168539326%;background-image: url(cusat_2022s1.png);padding: 0; }
div.cusat_2022_s1_94_d::after {max-width:212px; width:100%;height:0;padding: 0 0 41.9811320754717% 0;}

/* $TexturePacker:SmartUpdate:4db93b92b8617db18d18a6cb94c608df:d1f62a79dabbde39ff3b3dc0691989af:89f23978375adebc02702eb886551030$ */
