/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.class12_maths_3D_Geo_1_1 {max-width:270px; max-height:217px; }
.class12_maths_3D_Geo_1_1::after {content: '\00a0';display: inline-block; width:270px; height:217px; background-position: 0.4219409282700422% 54.86486486486486%;background-size: 187.77777777777777% 270.5069124423963%;background-image: url(mt_note_ch29.jpg);padding: 0; }
div.class12_maths_3D_Geo_1_1::after {max-width:270px; width:100%;height:0;padding: 0 0 80.37037037037037% 0;}
.class12_maths_3D_Geo_2_1 {max-width:344px; max-height:201px; }
.class12_maths_3D_Geo_2_1::after {content: '\00a0';display: inline-block; width:344px; height:201px; background-position: 0.6134969325153374% 0.25906735751295334%;background-size: 147.38372093023256% 292.03980099502485%;background-image: url(mt_note_ch29.jpg);padding: 0; }
div.class12_maths_3D_Geo_2_1::after {max-width:344px; width:100%;height:0;padding: 0 0 58.43023255813954% 0;}
.class12_maths_3D_Geo_3_1 {max-width:110px; max-height:110px; }
.class12_maths_3D_Geo_3_1::after {content: '\00a0';display: inline-block; width:110px; height:110px; background-position: 99.74811083123426% 97.48427672955975%;background-size: 460.90909090909093% 533.6363636363636%;background-image: url(mt_note_ch29.jpg);padding: 0; }
div.class12_maths_3D_Geo_3_1::after {max-width:110px; width:100%;height:0;padding: 0 0 100% 0;}
.class12_maths_3D_Geo_4_1 {max-width:194px; max-height:165px; }
.class12_maths_3D_Geo_4_1::after {content: '\00a0';display: inline-block; width:194px; height:165px; background-position: 0.3194888178913738% 99.76303317535545%;background-size: 261.340206185567% 355.75757575757575%;background-image: url(mt_note_ch29.jpg);padding: 0; }
div.class12_maths_3D_Geo_4_1::after {max-width:194px; width:100%;height:0;padding: 0 0 85.05154639175258% 0;}
.class12_maths_3D_Geo_5_1 {max-width:216px; max-height:164px; }
.class12_maths_3D_Geo_5_1::after {content: '\00a0';display: inline-block; width:216px; height:164px; background-position: 93.47079037800687% 70.92198581560284%;background-size: 234.72222222222223% 357.9268292682927%;background-image: url(mt_note_ch29.jpg);padding: 0; }
div.class12_maths_3D_Geo_5_1::after {max-width:216px; width:100%;height:0;padding: 0 0 75.92592592592592% 0;}
.class12_maths_3D_Geo_6_1 {max-width:199px; max-height:112px; }
.class12_maths_3D_Geo_6_1::after {content: '\00a0';display: inline-block; width:199px; height:112px; background-position: 63.63636363636363% 97.89473684210526%;background-size: 254.77386934673368% 524.1071428571429%;background-image: url(mt_note_ch29.jpg);padding: 0; }
div.class12_maths_3D_Geo_6_1::after {max-width:199px; width:100%;height:0;padding: 0 0 56.28140703517588% 0;}
.class12_maths_3D_Geo_6_2 {max-width:130px; max-height:145px; }
.class12_maths_3D_Geo_6_2::after {content: '\00a0';display: inline-block; width:130px; height:145px; background-position: 91.77718832891247% 34.841628959276015%;background-size: 390% 404.82758620689657%;background-image: url(mt_note_ch29.jpg);padding: 0; }
div.class12_maths_3D_Geo_6_2::after {max-width:130px; width:100%;height:0;padding: 0 0 111.53846153846153% 0;}
.class12_maths_3D_Geo_6_3 {max-width:158px; max-height:152px; }
.class12_maths_3D_Geo_6_3::after {content: '\00a0';display: inline-block; width:158px; height:152px; background-position: 99.14040114613181% 0.22988505747126436%;background-size: 320.88607594936707% 386.1842105263158%;background-image: url(mt_note_ch29.jpg);padding: 0; }
div.class12_maths_3D_Geo_6_3::after {max-width:158px; width:100%;height:0;padding: 0 0 96.20253164556962% 0;}

/* $TexturePacker:SmartUpdate:1993874b9e1683391f364defb58f1e85:ea9f68b9b895a8d7ffdec16fb3b3473d:e1b049e3a3b61153a13d19e9296e5c86$ */
