/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.AIEEE_2004_Che_72 {max-width:225px; max-height:134px; }
.AIEEE_2004_Che_72::after {content: '\00a0';display: inline-block; width:225px; height:134px; background-position: 98.12734082397004% 95.45454545454545%; background-size: 218.66666666666666% 805.9701492537314%; background-image: url(c_12_solidstate_0.png);padding: 0; }
div.AIEEE_2004_Che_72::after {max-width:225px; width:100%;height:0;padding: 0 0 59.55555555555556% 0;}
.JEEMAINS_1FEB_2023_S1_Q_31 {max-width:265px; max-height:642px; }
.JEEMAINS_1FEB_2023_S1_Q_31::after {content: '\00a0';display: inline-block; width:265px; height:642px; background-position: 0.44052863436123346% 41.55251141552512%; background-size: 185.66037735849056% 168.22429906542055%; background-image: url(c_12_solidstate_0.png);padding: 0; }
div.JEEMAINS_1FEB_2023_S1_Q_31::after {max-width:265px; width:100%;height:0;padding: 0 0 242.26415094339623% 0;}
.JEE_8_4_2019_P2_55_que {max-width:317px; max-height:180px; }
.JEE_8_4_2019_P2_55_que::after {content: '\00a0';display: inline-block; width:317px; height:180px; background-position: 0.5714285714285714% 0.1111111111111111%; background-size: 155.20504731861197% 600%; background-image: url(c_12_solidstate_0.png);padding: 0; }
div.JEE_8_4_2019_P2_55_que::after {max-width:317px; width:100%;height:0;padding: 0 0 56.782334384858046% 0;}
.JEE_MAINS_2019_JAN11_S2_70sol {max-width:260px; max-height:254px; }
.JEE_MAINS_2019_JAN11_S2_70sol::after {content: '\00a0';display: inline-block; width:260px; height:254px; background-position: 0.43103448275862066% 99.87893462469734%; background-size: 189.23076923076923% 425.1968503937008%; background-image: url(c_12_solidstate_0.png);padding: 0; }
div.JEE_MAINS_2019_JAN11_S2_70sol::after {max-width:260px; width:100%;height:0;padding: 0 0 97.6923076923077% 0;}
.JEE_Mains_05_Sep_2020_Shift_2_29_s {max-width:164px; max-height:169px; }
.JEE_Mains_05_Sep_2020_Shift_2_29_s::after {content: '\00a0';display: inline-block; width:164px; height:169px; background-position: 97.2560975609756% 0.10976948408342481%; background-size: 300% 639.0532544378698%; background-image: url(c_12_solidstate_0.png);padding: 0; }
div.JEE_Mains_05_Sep_2020_Shift_2_29_s::after {max-width:164px; width:100%;height:0;padding: 0 0 103.04878048780488% 0;}
.m2014_65 {max-width:199px; max-height:296px; }
.m2014_65::after {content: '\00a0';display: inline-block; width:199px; height:296px; background-position: 91.12627986348123% 27.806122448979593%; background-size: 247.23618090452263% 364.86486486486484%; background-image: url(c_12_solidstate_0.png);padding: 0; }
div.m2014_65::after {max-width:199px; width:100%;height:0;padding: 0 0 148.74371859296483% 0;}
.m2018_apr15_32a {max-width:229px; max-height:40px; }
.m2018_apr15_32a::after {content: '\00a0';display: inline-block; width:229px; height:40px; background-position: 99.61977186311788% 79.32692307692308%; background-size: 214.8471615720524% 2700%; background-image: url(c_12_solidstate_0.png);padding: 0; }
div.m2018_apr15_32a::after {max-width:229px; width:100%;height:0;padding: 0 0 17.467248908296945% 0;}
.m2018_apr15_32b {max-width:217px; max-height:36px; }
.m2018_apr15_32b::after {content: '\00a0';display: inline-block; width:217px; height:36px; background-position: 95.27272727272727% 99.42528735632185%; background-size: 226.72811059907835% 3000%; background-image: url(c_12_solidstate_0.png);padding: 0; }
div.m2018_apr15_32b::after {max-width:217px; width:100%;height:0;padding: 0 0 16.589861751152075% 0;}
.m2018_apr15_32c {max-width:227px; max-height:36px; }
.m2018_apr15_32c::after {content: '\00a0';display: inline-block; width:227px; height:36px; background-position: 98.86792452830188% 82.95019157088123%; background-size: 216.74008810572687% 3000%; background-image: url(c_12_solidstate_0.png);padding: 0; }
div.m2018_apr15_32c::after {max-width:227px; width:100%;height:0;padding: 0 0 15.859030837004406% 0;}
.m2018_apr15_32d {max-width:223px; max-height:35px; }
.m2018_apr15_32d::after {content: '\00a0';display: inline-block; width:223px; height:35px; background-position: 99.25650557620818% 17.416267942583733%; background-size: 220.62780269058297% 3085.714285714286%; background-image: url(c_12_solidstate_0.png);padding: 0; }
div.m2018_apr15_32d::after {max-width:223px; width:100%;height:0;padding: 0 0 15.695067264573991% 0;}


/* $TexturePacker:SmartUpdate:c8ed10f98bf44c32b396d3fb2954b602:31594ccb38656f4dff40cd0a15284225:52666d3b1585ccdf701ca1ccfee89651$ */
