/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.jee_mn_23_jan_2025_s2_q_52 {max-width:359px; max-height:358px; }
.jee_mn_23_jan_2025_s2_q_52::after {content: '\00a0';display: inline-block; width:359px; height:358px; background-position: 0.27472527472527475% 0.35842293906810035%; background-size: 201.39275766016712% 177.93296089385476%; background-image: url(c_12_dandfblockelements3_0.png);padding: 0; }
div.jee_mn_23_jan_2025_s2_q_52::after {max-width:359px; width:100%;height:0;padding: 0 0 99.72144846796657% 0;}
.jee_mn_23_jan_2025_s2_sol_52a {max-width:354px; max-height:161px; }
.jee_mn_23_jan_2025_s2_sol_52a::after {content: '\00a0';display: inline-block; width:354px; height:161px; background-position: 97.8319783197832% 0.21008403361344538%; background-size: 204.23728813559322% 395.6521739130435%; background-image: url(c_12_dandfblockelements3_0.png);padding: 0; }
div.jee_mn_23_jan_2025_s2_sol_52a::after {max-width:354px; width:100%;height:0;padding: 0 0 45.48022598870057% 0;}
.jee_mn_23_jan_2025_s2_sol_52b {max-width:320px; max-height:303px; }
.jee_mn_23_jan_2025_s2_sol_52b::after {content: '\00a0';display: inline-block; width:320px; height:303px; background-position: 99.75186104218362% 99.7005988023952%; background-size: 225.9375% 210.23102310231022%; background-image: url(c_12_dandfblockelements3_0.png);padding: 0; }
div.jee_mn_23_jan_2025_s2_sol_52b::after {max-width:320px; width:100%;height:0;padding: 0 0 94.6875% 0;}
.jm_3_apr_2025_s1_sol_75 {max-width:200px; max-height:115px; }
.jm_3_apr_2025_s1_sol_75::after {content: '\00a0';display: inline-block; width:200px; height:115px; background-position: 69.02485659655832% 41.57088122605364%; background-size: 361.5% 553.9130434782609%; background-image: url(c_12_dandfblockelements3_0.png);padding: 0; }
div.jm_3_apr_2025_s1_sol_75::after {max-width:200px; width:100%;height:0;padding: 0 0 57.5% 0;}
.jm_3_apr_2025_s2_sol_74 {max-width:254px; max-height:53px; }
.jm_3_apr_2025_s2_sol_74::after {content: '\00a0';display: inline-block; width:254px; height:53px; background-position: 76.97228144989339% 27.910958904109588%; background-size: 284.6456692913386% 1201.8867924528302%; background-image: url(c_12_dandfblockelements3_0.png);padding: 0; }
div.jm_3_apr_2025_s2_sol_74::after {max-width:254px; width:100%;height:0;padding: 0 0 20.866141732283463% 0;}
.jm_8_apr_2025_s1_sol_58 {max-width:400px; max-height:205px; }
.jm_8_apr_2025_s1_sol_58::after {content: '\00a0';display: inline-block; width:400px; height:205px; background-position: 0.30959752321981426% 83.33333333333333%; background-size: 180.75% 310.7317073170732%; background-image: url(c_12_dandfblockelements3_0.png);padding: 0; }
div.jm_8_apr_2025_s1_sol_58::after {max-width:400px; width:100%;height:0;padding: 0 0 51.25% 0;}


/* $TexturePacker:SmartUpdate:bb7960b5dac2a2dea6e36f93b527b26a:eb9cf578c0e9d1876dbf30dfb4a6862b:72c0bfa787d1d2db42803691bb02aa3f$ */
