/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.JEEMAINS_11APRIL_2023_S1_S_66 {max-width:592px; max-height:212px; }
.JEEMAINS_11APRIL_2023_S1_S_66::after {content: '\00a0';display: inline-block; width:592px; height:212px; background-position: 61.68582375478927% 0.36900369003690037%; background-size: 188.17567567567568% 227.83018867924528%; background-image: url(c_12_saltanalysis_0.png);padding: 0; }
div.JEEMAINS_11APRIL_2023_S1_S_66::after {max-width:592px; width:100%;height:0;padding: 0 0 35.810810810810814% 0;}
.JEEMAIN_25FEB_SHIFT2_SOL_50 {max-width:407px; max-height:258px; }
.JEEMAIN_25FEB_SHIFT2_SOL_50::after {content: '\00a0';display: inline-block; width:407px; height:258px; background-position: 45.54455445544554% 95.11111111111111%; background-size: 273.7100737100737% 187.2093023255814%; background-image: url(c_12_saltanalysis_0.png);padding: 0; }
div.JEEMAIN_25FEB_SHIFT2_SOL_50::after {max-width:407px; width:100%;height:0;padding: 0 0 63.39066339066339% 0;}
.Jan_2020_shift_1_26_s {max-width:320px; max-height:436px; }
.Jan_2020_shift_1_26_s::after {content: '\00a0';display: inline-block; width:320px; height:436px; background-position: 0.12594458438287154% 2.127659574468085%; background-size: 348.125% 110.77981651376147%; background-image: url(c_12_saltanalysis_0.png);padding: 0; }
div.Jan_2020_shift_1_26_s::after {max-width:320px; width:100%;height:0;padding: 0 0 136.25% 0;}
.jee_mn_23_jan_2025_s2_q_60 {max-width:347px; max-height:58px; }
.jee_mn_23_jan_2025_s2_q_60::after {content: '\00a0';display: inline-block; width:347px; height:58px; background-position: 95.17601043024771% 87.52941176470588%; background-size: 321.0374639769452% 832.7586206896551%; background-image: url(c_12_saltanalysis_0.png);padding: 0; }
div.jee_mn_23_jan_2025_s2_q_60::after {max-width:347px; width:100%;height:0;padding: 0 0 16.714697406340058% 0;}
.jee_mn_23_jan_2025_s2_sol_60 {max-width:191px; max-height:75px; }
.jee_mn_23_jan_2025_s2_sol_60::after {content: '\00a0';display: inline-block; width:191px; height:75px; background-position: 99.13326110509209% 29.901960784313726%; background-size: 583.2460732984293% 644%; background-image: url(c_12_saltanalysis_0.png);padding: 0; }
div.jee_mn_23_jan_2025_s2_sol_60::after {max-width:191px; width:100%;height:0;padding: 0 0 39.26701570680628% 0;}
.jm_7_apr_2025_s1_q_67a {max-width:138px; max-height:147px; }
.jm_7_apr_2025_s1_q_67a::after {content: '\00a0';display: inline-block; width:138px; height:147px; background-position: 74.79508196721312% 63.69047619047619%; background-size: 807.2463768115942% 328.57142857142856%; background-image: url(c_12_saltanalysis_0.png);padding: 0; }
div.jm_7_apr_2025_s1_q_67a::after {max-width:138px; width:100%;height:0;padding: 0 0 106.52173913043478% 0;}
.jm_7_apr_2025_s1_q_67b {max-width:184px; max-height:173px; }
.jm_7_apr_2025_s1_q_67b::after {content: '\00a0';display: inline-block; width:184px; height:173px; background-position: 98.38709677419355% 63.87096774193548%; background-size: 605.4347826086956% 279.19075144508673%; background-image: url(c_12_saltanalysis_0.png);padding: 0; }
div.jm_7_apr_2025_s1_q_67b::after {max-width:184px; width:100%;height:0;padding: 0 0 94.02173913043478% 0;}
.jm_7_apr_2025_s1_q_67c {max-width:135px; max-height:51px; }
.jm_7_apr_2025_s1_q_67c::after {content: '\00a0';display: inline-block; width:135px; height:51px; background-position: 74.5658835546476% 99.76851851851852%; background-size: 825.1851851851852% 947.0588235294117%; background-image: url(c_12_saltanalysis_0.png);padding: 0; }
div.jm_7_apr_2025_s1_q_67c::after {max-width:135px; width:100%;height:0;padding: 0 0 37.77777777777778% 0;}
.jm_7_apr_2025_s1_q_67d {max-width:198px; max-height:120px; }
.jm_7_apr_2025_s1_q_67d::after {content: '\00a0';display: inline-block; width:198px; height:120px; background-position: 99.89082969432314% 0.27548209366391185%; background-size: 562.6262626262626% 402.5%; background-image: url(c_12_saltanalysis_0.png);padding: 0; }
div.jm_7_apr_2025_s1_q_67d::after {max-width:198px; width:100%;height:0;padding: 0 0 60.60606060606061% 0;}


/* $TexturePacker:SmartUpdate:9b980047784a5e608f69f75c28255cff:34120cab1281985580b47ff485d6e224:b01ac54911db6ebf7e6b2a13ac81885d$ */
