/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.JEEMAINS_24JAN_2023_S1_S_49 {max-width:265px; max-height:178px; }
.JEEMAINS_24JAN_2023_S1_S_49::after {content: '\00a0';display: inline-block; width:265px; height:178px; background-position: 34.83870967741935% 38.443935926773456%; background-size: 333.9622641509434% 345.5056179775281%; background-image: url(c_12_solutions1_0.png);padding: 0; }
div.JEEMAINS_24JAN_2023_S1_S_49::after {max-width:265px; width:100%;height:0;padding: 0 0 67.16981132075472% 0;}
.JEEMAINS_25JAN_S1_Q_53 {max-width:287px; max-height:205px; }
.JEEMAINS_25JAN_S1_Q_53::after {content: '\00a0';display: inline-block; width:287px; height:205px; background-position: 0.16722408026755853% 84.63414634146342%; background-size: 308.3623693379791% 300%; background-image: url(c_12_solutions1_0.png);padding: 0; }
div.JEEMAINS_25JAN_S1_Q_53::after {max-width:287px; width:100%;height:0;padding: 0 0 71.42857142857143% 0;}
.JEEMAINS_25JAN_S1_S_53 {max-width:272px; max-height:193px; }
.JEEMAINS_25JAN_S1_S_53::after {content: '\00a0';display: inline-block; width:272px; height:193px; background-position: 78.62969004893964% 40.28436018957346%; background-size: 325.36764705882354% 318.65284974093265%; background-image: url(c_12_solutions1_0.png);padding: 0; }
div.JEEMAINS_25JAN_S1_S_53::after {max-width:272px; width:100%;height:0;padding: 0 0 70.95588235294117% 0;}
.JEE_8_4_2019_P2_54_opt_1 {max-width:212px; max-height:166px; }
.JEE_8_4_2019_P2_54_opt_1::after {content: '\00a0';display: inline-block; width:212px; height:166px; background-position: 68.94502228826151% 0.22271714922049%; background-size: 417.45283018867923% 370.48192771084337%; background-image: url(c_12_solutions1_0.png);padding: 0; }
div.JEE_8_4_2019_P2_54_opt_1::after {max-width:212px; width:100%;height:0;padding: 0 0 78.30188679245283% 0;}
.JEE_8_4_2019_P2_54_opt_2 {max-width:206px; max-height:165px; }
.JEE_8_4_2019_P2_54_opt_2::after {content: '\00a0';display: inline-block; width:206px; height:165px; background-position: 37.84977908689249% 0.2222222222222222%; background-size: 429.6116504854369% 372.72727272727275%; background-image: url(c_12_solutions1_0.png);padding: 0; }
div.JEE_8_4_2019_P2_54_opt_2::after {max-width:206px; width:100%;height:0;padding: 0 0 80.09708737864078% 0;}
.JEE_8_4_2019_P2_54_opt_3 {max-width:214px; max-height:170px; }
.JEE_8_4_2019_P2_54_opt_3::after {content: '\00a0';display: inline-block; width:214px; height:170px; background-position: 0.14903129657228018% 33.03370786516854%; background-size: 413.5514018691589% 361.7647058823529%; background-image: url(c_12_solutions1_0.png);padding: 0; }
div.JEE_8_4_2019_P2_54_opt_3::after {max-width:214px; width:100%;height:0;padding: 0 0 79.4392523364486% 0;}
.JEE_8_4_2019_P2_54_opt_4 {max-width:207px; max-height:168px; }
.JEE_8_4_2019_P2_54_opt_4::after {content: '\00a0';display: inline-block; width:207px; height:168px; background-position: 99.85250737463127% 0.22371364653243847%; background-size: 427.536231884058% 366.07142857142856%; background-image: url(c_12_solutions1_0.png);padding: 0; }
div.JEE_8_4_2019_P2_54_opt_4::after {max-width:207px; width:100%;height:0;padding: 0 0 81.15942028985508% 0;}
.Jan_8_2020_shift_1_38_q {max-width:255px; max-height:145px; }
.Jan_8_2020_shift_1_38_q::after {content: '\00a0';display: inline-block; width:255px; height:145px; background-position: 0.15873015873015872% 0.2127659574468085%; background-size: 347.05882352941177% 424.13793103448273%; background-image: url(c_12_solutions1_0.png);padding: 0; }
div.Jan_8_2020_shift_1_38_q::after {max-width:255px; width:100%;height:0;padding: 0 0 56.86274509803921% 0;}
.Jan_9_Shift_2_46_s {max-width:274px; max-height:250px; }
.Jan_9_Shift_2_46_s::after {content: '\00a0';display: inline-block; width:274px; height:250px; background-position: 97.54500818330605% 99.72602739726027%; background-size: 322.992700729927% 246%; background-image: url(c_12_solutions1_0.png);padding: 0; }
div.Jan_9_Shift_2_46_s::after {max-width:274px; width:100%;height:0;padding: 0 0 91.24087591240875% 0;}
.jee_mains_30_jun_2022_s1_63 {max-width:306px; max-height:238px; }
.jee_mains_30_jun_2022_s1_63::after {content: '\00a0';display: inline-block; width:306px; height:238px; background-position: 49.913644214162346% 96.55172413793103%; background-size: 289.2156862745098% 258.4033613445378%; background-image: url(c_12_solutions1_0.png);padding: 0; }
div.jee_mains_30_jun_2022_s1_63::after {max-width:306px; width:100%;height:0;padding: 0 0 77.77777777777777% 0;}

@keyframes JEE_8_4_2019_P2_54_opt-frames {
    0% { background-position: 68.94502228826151% 0.22271714922049%;  }
    25% { background-position: 37.84977908689249% 0.2222222222222222%;  }
    50% { background-position: 0.14903129657228018% 33.03370786516854%;  }
    75% { background-position: 99.85250737463127% 0.22371364653243847%;  }
}

.JEE_8_4_2019_P2_54_opt-animation {
    max-width: 212px;
    max-height: 166px;
}
.JEE_8_4_2019_P2_54_opt-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 212px;
    height: 166px;
    padding: 0;
    background-image: url(c_12_solutions1_0.png);
    background-size: 417.45283018867923% 370.48192771084337%; 
    animation-name: JEE_8_4_2019_P2_54_opt-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEE_8_4_2019_P2_54_opt-animation::after {
    max-width: 212px;
    width: 100%;
    height: 0;
    padding: 0 0 78.30188679245283% 0;
}

/* $TexturePacker:SmartUpdate:88d46464c4c94568e1bf8d9e5c2d5d17:225cdae8e6857f6d1bdeadf18d7c2fe4:26df729bb6f2aaa043c9ba28094e49d9$ */
