/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.AIEEE_2005_Che_69 {max-width:229px; max-height:171px; }
.AIEEE_2005_Che_69::after {content: '\00a0';display: inline-block; width:229px; height:171px; background-position: 81.73575129533678% 99.22822491730982%; background-size: 437.117903930131% 630.4093567251462%; background-image: url(c_12_chemicalkinetics1_0.png);padding: 0; }
div.AIEEE_2005_Che_69::after {max-width:229px; width:100%;height:0;padding: 0 0 74.67248908296943% 0;}
.JEEMAIN_24FEB_SHIFT1_SOL_58 {max-width:397px; max-height:95px; }
.JEEMAIN_24FEB_SHIFT1_SOL_58::after {content: '\00a0';display: inline-block; width:397px; height:95px; background-position: 47.847682119205295% 44.96439471007121%; background-size: 252.1410579345088% 1134.7368421052631%; background-image: url(c_12_chemicalkinetics1_0.png);padding: 0; }
div.JEEMAIN_24FEB_SHIFT1_SOL_58::after {max-width:397px; width:100%;height:0;padding: 0 0 23.929471032745592% 0;}
.JEEMAIN_25FEB_SHIFT1_Q_56 {max-width:257px; max-height:197px; }
.JEEMAIN_25FEB_SHIFT1_Q_56::after {content: '\00a0';display: inline-block; width:257px; height:197px; background-position: 0.13440860215053763% 85.1305334846765%; background-size: 389.4941634241245% 547.2081218274112%; background-image: url(c_12_chemicalkinetics1_0.png);padding: 0; }
div.JEEMAIN_25FEB_SHIFT1_Q_56::after {max-width:257px; width:100%;height:0;padding: 0 0 76.65369649805447% 0;}
.JEE_10_04_2019_P1_41_o_1 {max-width:104px; max-height:103px; }
.JEE_10_04_2019_P1_41_o_1::after {content: '\00a0';display: inline-block; width:104px; height:103px; background-position: 94.09141583054627% 55.48717948717949%; background-size: 962.5% 1046.6019417475727%; background-image: url(c_12_chemicalkinetics1_0.png);padding: 0; }
div.JEE_10_04_2019_P1_41_o_1::after {max-width:104px; width:100%;height:0;padding: 0 0 99.03846153846153% 0;}
.JEE_10_04_2019_P1_41_o_2 {max-width:113px; max-height:99px; }
.JEE_10_04_2019_P1_41_o_2::after {content: '\00a0';display: inline-block; width:113px; height:99px; background-position: 95.72072072072072% 76.20020429009193%; background-size: 885.8407079646017% 1088.888888888889%; background-image: url(c_12_chemicalkinetics1_0.png);padding: 0; }
div.JEE_10_04_2019_P1_41_o_2::after {max-width:113px; width:100%;height:0;padding: 0 0 87.61061946902655% 0;}
.JEE_10_04_2019_P1_41_o_3 {max-width:120px; max-height:100px; }
.JEE_10_04_2019_P1_41_o_3::after {content: '\00a0';display: inline-block; width:120px; height:100px; background-position: 96.48127128263337% 65.95092024539878%; background-size: 834.1666666666666% 1078%; background-image: url(c_12_chemicalkinetics1_0.png);padding: 0; }
div.JEE_10_04_2019_P1_41_o_3::after {max-width:120px; width:100%;height:0;padding: 0 0 83.33333333333333% 0;}
.JEE_10_04_2019_P1_41_o_4 {max-width:93px; max-height:95px; }
.JEE_10_04_2019_P1_41_o_4::after {content: '\00a0';display: inline-block; width:93px; height:95px; background-position: 94.8237885462555% 86.06307222787386%; background-size: 1076.3440860215053% 1134.7368421052631%; background-image: url(c_12_chemicalkinetics1_0.png);padding: 0; }
div.JEE_10_04_2019_P1_41_o_4::after {max-width:93px; width:100%;height:0;padding: 0 0 102.15053763440861% 0;}
.JEE_9_04_2019_P2_47_que {max-width:332px; max-height:179px; }
.JEE_9_04_2019_P2_47_que::after {content: '\00a0';display: inline-block; width:332px; height:179px; background-position: 99.40209267563527% 0.11123470522803114%; background-size: 301.50602409638554% 602.2346368715084%; background-image: url(c_12_chemicalkinetics1_0.png);padding: 0; }
div.JEE_9_04_2019_P2_47_que::after {max-width:332px; width:100%;height:0;padding: 0 0 53.91566265060241% 0;}
.JEE_9_04_2019_P2_47_s {max-width:256px; max-height:193px; }
.JEE_9_04_2019_P2_47_s::after {content: '\00a0';display: inline-block; width:256px; height:193px; background-position: 92.21476510067114% 39.2090395480226%; background-size: 391.015625% 558.5492227979274%; background-image: url(c_12_chemicalkinetics1_0.png);padding: 0; }
div.JEE_9_04_2019_P2_47_s::after {max-width:256px; width:100%;height:0;padding: 0 0 75.390625% 0;}
.JEE_9_4_2019_P1_43_SOL {max-width:371px; max-height:150px; }
.JEE_9_4_2019_P1_43_SOL::after {content: '\00a0';display: inline-block; width:371px; height:150px; background-position: 41.111111111111114% 92.88793103448276%; background-size: 269.811320754717% 718.6666666666666%; background-image: url(c_12_chemicalkinetics1_0.png);padding: 0; }
div.JEE_9_4_2019_P1_43_SOL::after {max-width:371px; width:100%;height:0;padding: 0 0 40.43126684636118% 0;}
.JEE_9_4_2019_P1_43_que {max-width:363px; max-height:186px; }
.JEE_9_4_2019_P1_43_que::after {content: '\00a0';display: inline-block; width:363px; height:186px; background-position: 45.29780564263323% 28.58744394618834%; background-size: 275.75757575757575% 579.5698924731183%; background-image: url(c_12_chemicalkinetics1_0.png);padding: 0; }
div.JEE_9_4_2019_P1_43_que::after {max-width:363px; width:100%;height:0;padding: 0 0 51.239669421487605% 0;}
.JEE_MAINS_2019_JAN10_S1_74 {max-width:335px; max-height:165px; }
.JEE_MAINS_2019_JAN10_S1_74::after {content: '\00a0';display: inline-block; width:335px; height:165px; background-position: 99.84984984984985% 19.82475355969332%; background-size: 298.8059701492537% 653.3333333333334%; background-image: url(c_12_chemicalkinetics1_0.png);padding: 0; }
div.JEE_MAINS_2019_JAN10_S1_74::after {max-width:335px; width:100%;height:0;padding: 0 0 49.25373134328358% 0;}
.JEE_MAINS_2019_JAN12_S2_82 {max-width:357px; max-height:163px; }
.JEE_MAINS_2019_JAN12_S2_82::after {content: '\00a0';display: inline-block; width:357px; height:163px; background-position: 40.21739130434783% 76.28415300546447%; background-size: 280.3921568627451% 661.3496932515337%; background-image: url(c_12_chemicalkinetics1_0.png);padding: 0; }
div.JEE_MAINS_2019_JAN12_S2_82::after {max-width:357px; width:100%;height:0;padding: 0 0 45.65826330532213% 0;}
.JEE_Main_25_July_2021_Morning_40_q {max-width:364px; max-height:159px; }
.JEE_Main_25_July_2021_Morning_40_q::after {content: '\00a0';display: inline-block; width:364px; height:159px; background-position: 36.734693877551024% 58.54189336235038%; background-size: 275% 677.9874213836478%; background-image: url(c_12_chemicalkinetics1_0.png);padding: 0; }
div.JEE_Main_25_July_2021_Morning_40_q::after {max-width:364px; width:100%;height:0;padding: 0 0 43.68131868131868% 0;}
.JEE_Main_25_July_2021_Morning_40_q_1 {max-width:375px; max-height:253px; }
.JEE_Main_25_July_2021_Morning_40_q_1::after {content: '\00a0';display: inline-block; width:375px; height:253px; background-position: 46.16613418530351% 0.12121212121212122%; background-size: 266.93333333333334% 426.0869565217391%; background-image: url(c_12_chemicalkinetics1_0.png);padding: 0; }
div.JEE_Main_25_July_2021_Morning_40_q_1::after {max-width:375px; width:100%;height:0;padding: 0 0 67.46666666666667% 0;}
.JEE_Main_25_July_2021_Morning_40_s {max-width:287px; max-height:508px; }
.JEE_Main_25_July_2021_Morning_40_s::after {content: '\00a0';display: inline-block; width:287px; height:508px; background-position: 0.1400560224089636% 0.17543859649122806%; background-size: 348.780487804878% 212.20472440944883%; background-image: url(c_12_chemicalkinetics1_0.png);padding: 0; }
div.JEE_Main_25_July_2021_Morning_40_s::after {max-width:287px; width:100%;height:0;padding: 0 0 177.0034843205575% 0;}
.JEE_Main_25_July_2021_Morning_40_s_1 {max-width:182px; max-height:129px; }
.JEE_Main_25_July_2021_Morning_40_s_1::after {content: '\00a0';display: inline-block; width:182px; height:129px; background-position: 0.1221001221001221% 99.89462592202318%; background-size: 550% 835.6589147286821%; background-image: url(c_12_chemicalkinetics1_0.png);padding: 0; }
div.JEE_Main_25_July_2021_Morning_40_s_1::after {max-width:182px; width:100%;height:0;padding: 0 0 70.87912087912088% 0;}
.JEE_Mains_05_Sep_2020_Shift_2_26_q {max-width:232px; max-height:239px; }
.JEE_Mains_05_Sep_2020_Shift_2_26_q::after {content: '\00a0';display: inline-block; width:232px; height:239px; background-position: 0.13003901170351106% 60.786650774731825%; background-size: 431.4655172413793% 451.0460251046025%; background-image: url(c_12_chemicalkinetics1_0.png);padding: 0; }
div.JEE_Mains_05_Sep_2020_Shift_2_26_q::after {max-width:232px; width:100%;height:0;padding: 0 0 103.01724137931035% 0;}
.Jan_8_Shift_2_28_q {max-width:218px; max-height:172px; }
.Jan_8_Shift_2_28_q::after {content: '\00a0';display: inline-block; width:218px; height:172px; background-position: 80.5874840357599% 80.24282560706402%; background-size: 459.1743119266055% 626.7441860465116%; background-image: url(c_12_chemicalkinetics1_0.png);padding: 0; }
div.Jan_8_Shift_2_28_q::after {max-width:218px; width:100%;height:0;padding: 0 0 78.89908256880734% 0;}
.Shift_1_6_sept_19 {max-width:226px; max-height:185px; }
.Shift_1_6_sept_19::after {content: '\00a0';display: inline-block; width:226px; height:185px; background-position: 79.61290322580645% 60.58230683090706%; background-size: 442.92035398230087% 582.7027027027027%; background-image: url(c_12_chemicalkinetics1_0.png);padding: 0; }
div.Shift_1_6_sept_19::after {max-width:226px; width:100%;height:0;padding: 0 0 81.85840707964601% 0;}

@keyframes JEE_10_04_2019_P1_41_o-frames {
    0% { background-position: 94.09141583054627% 55.48717948717949%;  }
    25% { background-position: 95.72072072072072% 76.20020429009193%;  }
    50% { background-position: 96.48127128263337% 65.95092024539878%;  }
    75% { background-position: 94.8237885462555% 86.06307222787386%;  }
}

.JEE_10_04_2019_P1_41_o-animation {
    max-width: 104px;
    max-height: 103px;
}
.JEE_10_04_2019_P1_41_o-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 104px;
    height: 103px;
    padding: 0;
    background-image: url(c_12_chemicalkinetics1_0.png);
    background-size: 962.5% 1046.6019417475727%; 
    animation-name: JEE_10_04_2019_P1_41_o-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEE_10_04_2019_P1_41_o-animation::after {
    max-width: 104px;
    width: 100%;
    height: 0;
    padding: 0 0 99.03846153846153% 0;
}

/* $TexturePacker:SmartUpdate:11136f2a8ca8dfc7f9923e4cf9ac730c:1c8d740ae1dd47099a5c85f38d698d32:81f2b08b87e66b1a461c51ee33f3fae2$ */
