/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.JEEMAINS_11APRIL_2023_S1_Q_62_O_1 {max-width:212px; max-height:192px; }
.JEEMAINS_11APRIL_2023_S1_Q_62_O_1::after {content: '\00a0';display: inline-block; width:212px; height:192px; background-position: 32.754342431761785% 57.1513353115727%; background-size: 480.188679245283% 977.6041666666666%; background-image: url(c_12_biomolecules2_1.png);padding: 0; }
div.JEEMAINS_11APRIL_2023_S1_Q_62_O_1::after {max-width:212px; width:100%;height:0;padding: 0 0 90.56603773584905% 0;}
.JEEMAINS_11APRIL_2023_S1_Q_62_O_2 {max-width:226px; max-height:172px; }
.JEEMAINS_11APRIL_2023_S1_Q_62_O_2::after {content: '\00a0';display: inline-block; width:226px; height:172px; background-position: 35.984848484848484% 32.49266862170088%; background-size: 450.4424778761062% 1091.2790697674418%; background-image: url(c_12_biomolecules2_1.png);padding: 0; }
div.JEEMAINS_11APRIL_2023_S1_Q_62_O_2::after {max-width:226px; width:100%;height:0;padding: 0 0 76.10619469026548% 0;}
.JEEMAINS_11APRIL_2023_S1_Q_62_O_3 {max-width:221px; max-height:176px; }
.JEEMAINS_11APRIL_2023_S1_Q_62_O_3::after {content: '\00a0';display: inline-block; width:221px; height:176px; background-position: 99.12170639899624% 33.274544385655496%; background-size: 460.6334841628959% 1066.4772727272727%; background-image: url(c_12_biomolecules2_1.png);padding: 0; }
div.JEEMAINS_11APRIL_2023_S1_Q_62_O_3::after {max-width:221px; width:100%;height:0;padding: 0 0 79.63800904977376% 0;}
.JEEMAINS_11APRIL_2023_S1_Q_62_O_4 {max-width:220px; max-height:185px; }
.JEEMAINS_11APRIL_2023_S1_Q_62_O_4::after {content: '\00a0';display: inline-block; width:220px; height:185px; background-position: 98.99749373433583% 43.91252955082742%; background-size: 462.72727272727275% 1014.5945945945946%; background-image: url(c_12_biomolecules2_1.png);padding: 0; }
div.JEEMAINS_11APRIL_2023_S1_Q_62_O_4::after {max-width:220px; width:100%;height:0;padding: 0 0 84.0909090909091% 0;}
.JEEMAINS_11APRIL_2023_S1_S_62 {max-width:472px; max-height:405px; }
.JEEMAINS_11APRIL_2023_S1_S_62::after {content: '\00a0';display: inline-block; width:472px; height:405px; background-position: 82.03174603174604% 21.789409616555083%; background-size: 433.6864406779661% 505.679012345679%; background-image: url(c_12_biomolecules2_0.png);padding: 0; }
div.JEEMAINS_11APRIL_2023_S1_S_62::after {max-width:472px; width:100%;height:0;padding: 0 0 85.80508474576271% 0;}
.JEEMAINS_11APRIL_2023_S1_S_62_1 {max-width:510px; max-height:153px; }
.JEEMAINS_11APRIL_2023_S1_S_62_1::after {content: '\00a0';display: inline-block; width:510px; height:153px; background-position: 0.1968503937007874% 23.201856148491878%; background-size: 199.6078431372549% 1226.797385620915%; background-image: url(c_12_biomolecules2_1.png);padding: 0; }
div.JEEMAINS_11APRIL_2023_S1_S_62_1::after {max-width:510px; width:100%;height:0;padding: 0 0 30% 0;}
.JEEMAINS_12APRIL_2023_S1_S_85 {max-width:795px; max-height:316px; }
.JEEMAINS_12APRIL_2023_S1_S_85::after {content: '\00a0';display: inline-block; width:795px; height:316px; background-position: 41.77316293929712% 0.057736720554272515%; background-size: 257.4842767295597% 648.1012658227849%; background-image: url(c_12_biomolecules2_0.png);padding: 0; }
div.JEEMAINS_12APRIL_2023_S1_S_85::after {max-width:795px; width:100%;height:0;padding: 0 0 39.74842767295598% 0;}
.JEEMAINS_13APRIL_2023_S1_S_71 {max-width:521px; max-height:615px; }
.JEEMAINS_13APRIL_2023_S1_S_71::after {content: '\00a0';display: inline-block; width:521px; height:615px; background-position: 0.0655307994757536% 0.06978367062107467%; background-size: 392.8982725527831% 333.0081300813008%; background-image: url(c_12_biomolecules2_0.png);padding: 0; }
div.JEEMAINS_13APRIL_2023_S1_S_71::after {max-width:521px; width:100%;height:0;padding: 0 0 118.04222648752399% 0;}
.JEEMAINS_13APRIL_2023_S2_S_75 {max-width:407px; max-height:677px; }
.JEEMAINS_13APRIL_2023_S2_S_75::after {content: '\00a0';display: inline-block; width:407px; height:677px; background-position: 0.06097560975609756% 45.0036469730124%; background-size: 502.94840294840293% 302.51107828655836%; background-image: url(c_12_biomolecules2_0.png);padding: 0; }
div.JEEMAINS_13APRIL_2023_S2_S_75::after {max-width:407px; width:100%;height:0;padding: 0 0 166.33906633906633% 0;}
.JEEMAINS_15APRIL_2023_S1_S_74 {max-width:422px; max-height:132px; }
.JEEMAINS_15APRIL_2023_S1_S_74::after {content: '\00a0';display: inline-block; width:422px; height:132px; background-position: 65.47692307692307% 79.43632567849687%; background-size: 485.07109004739334% 1551.5151515151515%; background-image: url(c_12_biomolecules2_0.png);padding: 0; }
div.JEEMAINS_15APRIL_2023_S1_S_74::after {max-width:422px; width:100%;height:0;padding: 0 0 31.27962085308057% 0;}
.JEEMAINS_1FEB_2023_S1_Q_32 {max-width:112px; max-height:197px; }
.JEEMAINS_1FEB_2023_S1_Q_32::after {content: '\00a0';display: inline-block; width:112px; height:197px; background-position: 98.86304909560724% 62.39870340356564%; background-size: 1827.6785714285713% 1039.5939086294416%; background-image: url(c_12_biomolecules2_0.png);padding: 0; }
div.JEEMAINS_1FEB_2023_S1_Q_32::after {max-width:112px; width:100%;height:0;padding: 0 0 175.89285714285714% 0;}
.JEEMAINS_1FEB_2023_S1_Q_32_O_1 {max-width:200px; max-height:156px; }
.JEEMAINS_1FEB_2023_S1_Q_32_O_1::after {content: '\00a0';display: inline-block; width:200px; height:156px; background-position: 99.14425427872861% 71.99302730970366%; background-size: 509% 1203.2051282051282%; background-image: url(c_12_biomolecules2_1.png);padding: 0; }
div.JEEMAINS_1FEB_2023_S1_Q_32_O_1::after {max-width:200px; width:100%;height:0;padding: 0 0 78% 0;}
.JEEMAINS_1FEB_2023_S1_Q_32_O_2 {max-width:193px; max-height:155px; }
.JEEMAINS_1FEB_2023_S1_Q_32_O_2::after {content: '\00a0';display: inline-block; width:193px; height:155px; background-position: 98.3030303030303% 81.06852497096399%; background-size: 527.4611398963731% 1210.967741935484%; background-image: url(c_12_biomolecules2_1.png);padding: 0; }
div.JEEMAINS_1FEB_2023_S1_Q_32_O_2::after {max-width:193px; width:100%;height:0;padding: 0 0 80.31088082901555% 0;}
.JEEMAINS_1FEB_2023_S1_Q_32_O_3 {max-width:202px; max-height:152px; }
.JEEMAINS_1FEB_2023_S1_Q_32_O_3::after {content: '\00a0';display: inline-block; width:202px; height:152px; background-position: 95.6639566395664% 32.17299578059072%; background-size: 1013.3663366336634% 1347.3684210526317%; background-image: url(c_12_biomolecules2_0.png);padding: 0; }
div.JEEMAINS_1FEB_2023_S1_Q_32_O_3::after {max-width:202px; width:100%;height:0;padding: 0 0 75.24752475247524% 0;}
.JEEMAINS_1FEB_2023_S1_Q_32_O_4 {max-width:212px; max-height:157px; }
.JEEMAINS_1FEB_2023_S1_Q_32_O_4::after {content: '\00a0';display: inline-block; width:212px; height:157px; background-position: 59.18114143920595% 58.19767441860465%; background-size: 480.188679245283% 1195.5414012738854%; background-image: url(c_12_biomolecules2_1.png);padding: 0; }
div.JEEMAINS_1FEB_2023_S1_Q_32_O_4::after {max-width:212px; width:100%;height:0;padding: 0 0 74.05660377358491% 0;}
.JEEMAINS_1FEB_2023_S2_Q_33_O_1 {max-width:176px; max-height:126px; }
.JEEMAINS_1FEB_2023_S2_Q_33_O_1::after {content: '\00a0';display: inline-block; width:176px; height:126px; background-position: 38.836104513064136% 91.94745859508852%; background-size: 578.4090909090909% 1489.6825396825398%; background-image: url(c_12_biomolecules2_1.png);padding: 0; }
div.JEEMAINS_1FEB_2023_S2_Q_33_O_1::after {max-width:176px; width:100%;height:0;padding: 0 0 71.5909090909091% 0;}
.JEEMAINS_1FEB_2023_S2_Q_33_O_2 {max-width:167px; max-height:107px; }
.JEEMAINS_1FEB_2023_S2_Q_33_O_2::after {content: '\00a0';display: inline-block; width:167px; height:107px; background-position: 99.05992949471211% 98.75706214689265%; background-size: 609.5808383233533% 1754.2056074766356%; background-image: url(c_12_biomolecules2_1.png);padding: 0; }
div.JEEMAINS_1FEB_2023_S2_Q_33_O_2::after {max-width:167px; width:100%;height:0;padding: 0 0 64.07185628742515% 0;}
.JEEMAINS_1FEB_2023_S2_Q_33_O_3 {max-width:177px; max-height:107px; }
.JEEMAINS_1FEB_2023_S2_Q_33_O_3::after {content: '\00a0';display: inline-block; width:177px; height:107px; background-position: 81.45065398335315% 87.68361581920904%; background-size: 575.1412429378531% 1754.2056074766356%; background-image: url(c_12_biomolecules2_1.png);padding: 0; }
div.JEEMAINS_1FEB_2023_S2_Q_33_O_3::after {max-width:177px; width:100%;height:0;padding: 0 0 60.451977401129945% 0;}
.JEEMAINS_1FEB_2023_S2_Q_33_O_4 {max-width:170px; max-height:115px; }
.JEEMAINS_1FEB_2023_S2_Q_33_O_4::after {content: '\00a0';display: inline-block; width:170px; height:115px; background-position: 62.5% 98.5244040862656%; background-size: 598.8235294117648% 1632.1739130434783%; background-image: url(c_12_biomolecules2_1.png);padding: 0; }
div.JEEMAINS_1FEB_2023_S2_Q_33_O_4::after {max-width:170px; width:100%;height:0;padding: 0 0 67.6470588235294% 0;}
.JEEMAINS_1FEB_2023_S2_Q_58 {max-width:270px; max-height:193px; }
.JEEMAINS_1FEB_2023_S2_Q_58::after {content: '\00a0';display: inline-block; width:270px; height:193px; background-position: 88.46370287000563% 41.18598382749326%; background-size: 758.1481481481482% 1061.139896373057%; background-image: url(c_12_biomolecules2_0.png);padding: 0; }
div.JEEMAINS_1FEB_2023_S2_Q_58::after {max-width:270px; width:100%;height:0;padding: 0 0 71.48148148148148% 0;}
.JEEMAINS_1FEB_2023_S2_S_33 {max-width:237px; max-height:132px; }
.JEEMAINS_1FEB_2023_S2_S_33::after {content: '\00a0';display: inline-block; width:237px; height:132px; background-position: 99.8719590268886% 53.2378223495702%; background-size: 429.53586497890296% 1421.969696969697%; background-image: url(c_12_biomolecules2_1.png);padding: 0; }
div.JEEMAINS_1FEB_2023_S2_S_33::after {max-width:237px; width:100%;height:0;padding: 0 0 55.69620253164557% 0;}
.JEEMAINS_1FEB_2023_S2_S_58 {max-width:255px; max-height:196px; }
.JEEMAINS_1FEB_2023_S2_S_58::after {content: '\00a0';display: inline-block; width:255px; height:196px; background-position: 0.1310615989515072% 65.08030933967876%; background-size: 399.2156862745098% 957.6530612244898%; background-image: url(c_12_biomolecules2_1.png);padding: 0; }
div.JEEMAINS_1FEB_2023_S2_S_58::after {max-width:255px; width:100%;height:0;padding: 0 0 76.86274509803921% 0;}
.JEEMAINS_25JAN_S1_Q_39 {max-width:283px; max-height:602px; }
.JEEMAINS_25JAN_S1_Q_39::after {content: '\00a0';display: inline-block; width:283px; height:602px; background-position: 0.05668934240362812% 89.55739972337483%; background-size: 723.321554770318% 340.19933554817277%; background-image: url(c_12_biomolecules2_0.png);padding: 0; }
div.JEEMAINS_25JAN_S1_Q_39::after {max-width:283px; width:100%;height:0;padding: 0 0 212.7208480565371% 0;}
.JEEMAINS_25JAN_S1_S_39_1 {max-width:318px; max-height:240px; }
.JEEMAINS_25JAN_S1_S_39_1::after {content: '\00a0';display: inline-block; width:318px; height:240px; background-position: 92.07634470792365% 52.98672566371681%; background-size: 643.7106918238994% 853.3333333333334%; background-image: url(c_12_biomolecules2_0.png);padding: 0; }
div.JEEMAINS_25JAN_S1_S_39_1::after {max-width:318px; width:100%;height:0;padding: 0 0 75.47169811320755% 0;}
.JEEMAINS_25JAN_S1_S_39_2 {max-width:317px; max-height:222px; }
.JEEMAINS_25JAN_S1_S_39_2::after {content: '\00a0';display: inline-block; width:317px; height:222px; background-position: 82.54335260115607% 92.16867469879519%; background-size: 645.7413249211356% 922.5225225225225%; background-image: url(c_12_biomolecules2_0.png);padding: 0; }
div.JEEMAINS_25JAN_S1_S_39_2::after {max-width:317px; width:100%;height:0;padding: 0 0 70.03154574132492% 0;}
.JEEMAINS_25JAN_S1_S_39_3 {max-width:320px; max-height:192px; }
.JEEMAINS_25JAN_S1_S_39_3::after {content: '\00a0';display: inline-block; width:320px; height:192px; background-position: 92.18297625940939% 64.60129310344827%; background-size: 639.6875% 1066.6666666666667%; background-image: url(c_12_biomolecules2_0.png);padding: 0; }
div.JEEMAINS_25JAN_S1_S_39_3::after {max-width:320px; width:100%;height:0;padding: 0 0 60% 0;}
.JEEMAINS_25JAN_S1_S_39_4 {max-width:311px; max-height:180px; }
.JEEMAINS_25JAN_S1_S_39_4::after {content: '\00a0';display: inline-block; width:311px; height:180px; background-position: 89.3917963224894% 4.655274012964054%; background-size: 327.33118971061094% 1042.7777777777778%; background-image: url(c_12_biomolecules2_1.png);padding: 0; }
div.JEEMAINS_25JAN_S1_S_39_4::after {max-width:311px; width:100%;height:0;padding: 0 0 57.87781350482315% 0;}
.JEEMAINS_26JULY_S2_Q_19_O_1 {max-width:150px; max-height:246px; }
.JEEMAINS_26JULY_S2_Q_19_O_1::after {content: '\00a0';display: inline-block; width:150px; height:246px; background-position: 0.1152073732718894% 91.35499693439607%; background-size: 678.6666666666666% 763.0081300813008%; background-image: url(c_12_biomolecules2_1.png);padding: 0; }
div.JEEMAINS_26JULY_S2_Q_19_O_1::after {max-width:150px; width:100%;height:0;padding: 0 0 164% 0;}
.JEEMAINS_26JULY_S2_Q_19_O_2 {max-width:200px; max-height:176px; }
.JEEMAINS_26JULY_S2_Q_19_O_2::after {content: '\00a0';display: inline-block; width:200px; height:176px; background-position: 84.3520782396088% 62.43386243386244%; background-size: 509% 1066.4772727272727%; background-image: url(c_12_biomolecules2_1.png);padding: 0; }
div.JEEMAINS_26JULY_S2_Q_19_O_2::after {max-width:200px; width:100%;height:0;padding: 0 0 88% 0;}
.JEEMAINS_26JULY_S2_Q_19_O_3 {max-width:320px; max-height:125px; }
.JEEMAINS_26JULY_S2_Q_19_O_3::after {content: '\00a0';display: inline-block; width:320px; height:125px; background-position: 82.68674001158078% 99.11596463858554%; background-size: 639.6875% 1638.4%; background-image: url(c_12_biomolecules2_0.png);padding: 0; }
div.JEEMAINS_26JULY_S2_Q_19_O_3::after {max-width:320px; width:100%;height:0;padding: 0 0 39.0625% 0;}
.JEEMAINS_26JULY_S2_Q_19_O_4 {max-width:180px; max-height:217px; }
.JEEMAINS_26JULY_S2_Q_19_O_4::after {content: '\00a0';display: inline-block; width:180px; height:217px; background-position: 93.51901446170326% 91.91698525395958%; background-size: 1137.2222222222222% 943.778801843318%; background-image: url(c_12_biomolecules2_0.png);padding: 0; }
div.JEEMAINS_26JULY_S2_Q_19_O_4::after {max-width:180px; width:100%;height:0;padding: 0 0 120.55555555555556% 0;}
.JEEMAINS_28JULY_S1_Q_19 {max-width:360px; max-height:222px; }
.JEEMAINS_28JULY_S1_Q_19::after {content: '\00a0';display: inline-block; width:360px; height:222px; background-position: 89.6858328393598% 76.23220153340635%; background-size: 568.6111111111111% 922.5225225225225%; background-image: url(c_12_biomolecules2_0.png);padding: 0; }
div.JEEMAINS_28JULY_S1_Q_19::after {max-width:360px; width:100%;height:0;padding: 0 0 61.666666666666664% 0;}
.JEEMAINS_28JULY_S2_Q_18 {max-width:216px; max-height:335px; }
.JEEMAINS_28JULY_S2_Q_18::after {content: '\00a0';display: inline-block; width:216px; height:335px; background-position: 98.14309120699072% 0.05837711617046118%; background-size: 947.6851851851852% 611.3432835820895%; background-image: url(c_12_biomolecules2_0.png);padding: 0; }
div.JEEMAINS_28JULY_S2_Q_18::after {max-width:216px; width:100%;height:0;padding: 0 0 155.09259259259258% 0;}
.JEEMAINS_28JULY_S2_Q_18_O_1 {max-width:277px; max-height:177px; }
.JEEMAINS_28JULY_S2_Q_18_O_1::after {content: '\00a0';display: inline-block; width:277px; height:177px; background-position: 69.09581646423752% 33.294117647058826%; background-size: 367.5090252707581% 1060.4519774011299%; background-image: url(c_12_biomolecules2_1.png);padding: 0; }
div.JEEMAINS_28JULY_S2_Q_18_O_1::after {max-width:277px; width:100%;height:0;padding: 0 0 63.898916967509024% 0;}
.JEEMAINS_28JULY_S2_Q_18_O_2 {max-width:277px; max-height:177px; }
.JEEMAINS_28JULY_S2_Q_18_O_2::after {content: '\00a0';display: inline-block; width:277px; height:177px; background-position: 0.1349527665317139% 43.35294117647059%; background-size: 367.5090252707581% 1060.4519774011299%; background-image: url(c_12_biomolecules2_1.png);padding: 0; }
div.JEEMAINS_28JULY_S2_Q_18_O_2::after {max-width:277px; width:100%;height:0;padding: 0 0 63.898916967509024% 0;}
.JEEMAINS_28JULY_S2_Q_18_O_3 {max-width:283px; max-height:182px; }
.JEEMAINS_28JULY_S2_Q_18_O_3::after {content: '\00a0';display: inline-block; width:283px; height:182px; background-position: 0.1360544217687075% 32.684365781710916%; background-size: 359.7173144876325% 1031.3186813186812%; background-image: url(c_12_biomolecules2_1.png);padding: 0; }
div.JEEMAINS_28JULY_S2_Q_18_O_3::after {max-width:283px; width:100%;height:0;padding: 0 0 64.31095406360424% 0;}
.JEEMAINS_28JULY_S2_Q_18_O_4 {max-width:262px; max-height:178px; }
.JEEMAINS_28JULY_S2_Q_18_O_4::after {content: '\00a0';display: inline-block; width:262px; height:178px; background-position: 0.13227513227513227% 53.855208946439085%; background-size: 388.5496183206107% 1054.4943820224719%; background-image: url(c_12_biomolecules2_1.png);padding: 0; }
div.JEEMAINS_28JULY_S2_Q_18_O_4::after {max-width:262px; width:100%;height:0;padding: 0 0 67.93893129770993% 0;}
.JEEMAINS_29JAN_S1_S_49 {max-width:337px; max-height:77px; }
.JEEMAINS_29JAN_S1_S_49::after {content: '\00a0';display: inline-block; width:337px; height:77px; background-position: 92.80469897209986% 0.05555555555555555%; background-size: 302.07715133531156% 2437.6623376623374%; background-image: url(c_12_biomolecules2_1.png);padding: 0; }
div.JEEMAINS_29JAN_S1_S_49::after {max-width:337px; width:100%;height:0;padding: 0 0 22.8486646884273% 0;}
.JEEMAINS_29JAN_S2_Q_46 {max-width:413px; max-height:282px; }
.JEEMAINS_29JAN_S2_Q_46::after {content: '\00a0';display: inline-block; width:413px; height:282px; background-position: 37.51529987760098% 86.9762174405436%; background-size: 495.6416464891041% 726.2411347517731%; background-image: url(c_12_biomolecules2_0.png);padding: 0; }
div.JEEMAINS_29JAN_S2_Q_46::after {max-width:413px; width:100%;height:0;padding: 0 0 68.28087167070218% 0;}
.JEEMAINS_29JAN_S2_S_46 {max-width:477px; max-height:356px; }
.JEEMAINS_29JAN_S2_S_46::after {content: '\00a0';display: inline-block; width:477px; height:356px; background-position: 84.01273885350318% 0.0591016548463357%; background-size: 429.14046121593293% 575.2808988764045%; background-image: url(c_12_biomolecules2_0.png);padding: 0; }
div.JEEMAINS_29JAN_S2_S_46::after {max-width:477px; width:100%;height:0;padding: 0 0 74.63312368972747% 0;}
.JEE_1_Feb_2024_Shift_1_61_s {max-width:369px; max-height:67px; }
.JEE_1_Feb_2024_Shift_1_61_s::after {content: '\00a0';display: inline-block; width:369px; height:67px; background-position: 88.61740166865316% 81.52448258455325%; background-size: 554.7425474254743% 3056.716417910448%; background-image: url(c_12_biomolecules2_0.png);padding: 0; }
div.JEE_1_Feb_2024_Shift_1_61_s::after {max-width:369px; width:100%;height:0;padding: 0 0 18.15718157181572% 0;}
.JEE_27_Jan_2024_Shift_1_61_s {max-width:223px; max-height:235px; }
.JEE_27_Jan_2024_Shift_1_61_s::after {content: '\00a0';display: inline-block; width:223px; height:235px; background-position: 35.84905660377358% 44.27527405602923%; background-size: 456.50224215246635% 798.7234042553191%; background-image: url(c_12_biomolecules2_1.png);padding: 0; }
div.JEE_27_Jan_2024_Shift_1_61_s::after {max-width:223px; width:100%;height:0;padding: 0 0 105.38116591928251% 0;}
.JEE_29_Jan_2024_Shift_1_87_s {max-width:188px; max-height:97px; }
.JEE_29_Jan_2024_Shift_1_87_s::after {content: '\00a0';display: inline-block; width:188px; height:97px; background-position: 8.714362560516406% 99.94874423372629%; background-size: 1088.8297872340424% 2111.340206185567%; background-image: url(c_12_biomolecules2_0.png);padding: 0; }
div.JEE_29_Jan_2024_Shift_1_87_s::after {max-width:188px; width:100%;height:0;padding: 0 0 51.59574468085106% 0;}
.JEE_MAIN_4APRIL_2024_S1_Q_74_O_1 {max-width:142px; max-height:191px; }
.JEE_MAIN_4APRIL_2024_S1_Q_74_O_1::after {content: '\00a0';display: inline-block; width:142px; height:191px; background-position: 96.74540682414698% 41.08777598276791%; background-size: 1441.5492957746478% 1072.2513089005236%; background-image: url(c_12_biomolecules2_0.png);padding: 0; }
div.JEE_MAIN_4APRIL_2024_S1_Q_74_O_1::after {max-width:142px; width:100%;height:0;padding: 0 0 134.50704225352112% 0;}
.JEE_MAIN_4APRIL_2024_S1_Q_74_O_2 {max-width:141px; max-height:195px; }
.JEE_MAIN_4APRIL_2024_S1_Q_74_O_2::after {content: '\00a0';display: inline-block; width:141px; height:195px; background-position: 98.4036488027366% 92.27110582639715%; background-size: 721.9858156028369% 962.5641025641025%; background-image: url(c_12_biomolecules2_1.png);padding: 0; }
div.JEE_MAIN_4APRIL_2024_S1_Q_74_O_2::after {max-width:141px; width:100%;height:0;padding: 0 0 138.29787234042553% 0;}
.JEE_MAIN_4APRIL_2024_S1_Q_74_O_3 {max-width:141px; max-height:188px; }
.JEE_MAIN_4APRIL_2024_S1_Q_74_O_3::after {content: '\00a0';display: inline-block; width:141px; height:188px; background-position: 79.93158494868871% 98.28300769686204%; background-size: 721.9858156028369% 998.4042553191489%; background-image: url(c_12_biomolecules2_1.png);padding: 0; }
div.JEE_MAIN_4APRIL_2024_S1_Q_74_O_3::after {max-width:141px; width:100%;height:0;padding: 0 0 133.33333333333334% 0;}
.JEE_MAIN_4APRIL_2024_S1_Q_74_O_4 {max-width:135px; max-height:199px; }
.JEE_MAIN_4APRIL_2024_S1_Q_74_O_4::after {content: '\00a0';display: inline-block; width:135px; height:199px; background-position: 99.94769874476988% 51.64954029204976%; background-size: 1516.2962962962963% 1029.145728643216%; background-image: url(c_12_biomolecules2_0.png);padding: 0; }
div.JEE_MAIN_4APRIL_2024_S1_Q_74_O_4::after {max-width:135px; width:100%;height:0;padding: 0 0 147.40740740740742% 0;}
.JEE_MAIN_4APRIL_2024_S1_S_74 {max-width:180px; max-height:196px; }
.JEE_MAIN_4APRIL_2024_S1_S_74::after {content: '\00a0';display: inline-block; width:180px; height:196px; background-position: 60.143198090692124% 91.55264723378941%; background-size: 565.5555555555555% 957.6530612244898%; background-image: url(c_12_biomolecules2_1.png);padding: 0; }
div.JEE_MAIN_4APRIL_2024_S1_S_74::after {max-width:180px; width:100%;height:0;padding: 0 0 108.88888888888889% 0;}
.JEE_MAIN_6APRIL_2024_S1_Q_65_O_1 {max-width:181px; max-height:131px; }
.JEE_MAIN_6APRIL_2024_S1_Q_65_O_1::after {content: '\00a0';display: inline-block; width:181px; height:131px; background-position: 93.72990353697749% 99.16536254564424%; background-size: 1130.9392265193371% 1563.3587786259543%; background-image: url(c_12_biomolecules2_0.png);padding: 0; }
div.JEE_MAIN_6APRIL_2024_S1_Q_65_O_1::after {max-width:181px; width:100%;height:0;padding: 0 0 72.37569060773481% 0;}
.JEE_MAIN_6APRIL_2024_S1_Q_65_O_2 {max-width:178px; max-height:138px; }
.JEE_MAIN_6APRIL_2024_S1_Q_65_O_2::after {content: '\00a0';display: inline-block; width:178px; height:138px; background-position: 17.976190476190474% 99.88499137435308%; background-size: 571.9101123595506% 1360.144927536232%; background-image: url(c_12_biomolecules2_1.png);padding: 0; }
div.JEE_MAIN_6APRIL_2024_S1_Q_65_O_2::after {max-width:178px; width:100%;height:0;padding: 0 0 77.52808988764045% 0;}
.JEE_MAIN_6APRIL_2024_S1_Q_65_O_3 {max-width:270px; max-height:136px; }
.JEE_MAIN_6APRIL_2024_S1_Q_65_O_3::after {content: '\00a0';display: inline-block; width:270px; height:136px; background-position: 68.04812834224599% 49.62665134979897%; background-size: 377.037037037037% 1380.1470588235295%; background-image: url(c_12_biomolecules2_1.png);padding: 0; }
div.JEE_MAIN_6APRIL_2024_S1_Q_65_O_3::after {max-width:270px; width:100%;height:0;padding: 0 0 50.370370370370374% 0;}
.JEE_MAIN_6APRIL_2024_S1_Q_65_O_4 {max-width:160px; max-height:149px; }
.JEE_MAIN_6APRIL_2024_S1_Q_65_O_4::after {content: '\00a0';display: inline-block; width:160px; height:149px; background-position: 0.052994170641229466% 99.94734070563455%; background-size: 1279.375% 1374.496644295302%; background-image: url(c_12_biomolecules2_0.png);padding: 0; }
div.JEE_MAIN_6APRIL_2024_S1_Q_65_O_4::after {max-width:160px; width:100%;height:0;padding: 0 0 93.125% 0;}
.JEE_MAIN_6APRIL_2024_S1_S_65 {max-width:327px; max-height:460px; }
.JEE_MAIN_6APRIL_2024_S1_S_65::after {content: '\00a0';display: inline-block; width:327px; height:460px; background-position: 16.569767441860463% 81.54911838790932%; background-size: 625.9938837920489% 445.2173913043478%; background-image: url(c_12_biomolecules2_0.png);padding: 0; }
div.JEE_MAIN_6APRIL_2024_S1_S_65::after {max-width:327px; width:100%;height:0;padding: 0 0 140.67278287461772% 0;}
.JEE_MAIN_8APRIL_2024_S1_Q_71 {max-width:149px; max-height:139px; }
.JEE_MAIN_8APRIL_2024_S1_Q_71::after {content: '\00a0';display: inline-block; width:149px; height:139px; background-position: 0.11507479861910241% 99.94246260069045%; background-size: 683.2214765100671% 1350.3597122302158%; background-image: url(c_12_biomolecules2_1.png);padding: 0; }
div.JEE_MAIN_8APRIL_2024_S1_Q_71::after {max-width:149px; width:100%;height:0;padding: 0 0 93.28859060402685% 0;}
.JEE_MAIN_8APRIL_2024_S1_S_71 {max-width:420px; max-height:169px; }
.JEE_MAIN_8APRIL_2024_S1_S_71::after {content: '\00a0';display: inline-block; width:420px; height:169px; background-position: 37.24646588813768% 96.80681213411388%; background-size: 487.3809523809524% 1211.8343195266273%; background-image: url(c_12_biomolecules2_0.png);padding: 0; }
div.JEE_MAIN_8APRIL_2024_S1_S_71::after {max-width:420px; width:100%;height:0;padding: 0 0 40.23809523809524% 0;}
.JEE_MAIN_8APRIL_2024_S1_S_71_1 {max-width:448px; max-height:142px; }
.JEE_MAIN_8APRIL_2024_S1_S_71_1::after {content: '\00a0';display: inline-block; width:448px; height:142px; background-position: 66.541588492808% 72.3504721930745%; background-size: 456.91964285714283% 1442.2535211267605%; background-image: url(c_12_biomolecules2_0.png);padding: 0; }
div.JEE_MAIN_8APRIL_2024_S1_S_71_1::after {max-width:448px; width:100%;height:0;padding: 0 0 31.696428571428573% 0;}
.JEE_MAIN_8APRIL_2024_S2_S_84 {max-width:271px; max-height:119px; }
.JEE_MAIN_8APRIL_2024_S2_S_84::after {content: '\00a0';display: inline-block; width:271px; height:119px; background-position: 68.13922356091031% 42.32081911262799%; background-size: 375.6457564575646% 1577.310924369748%; background-image: url(c_12_biomolecules2_1.png);padding: 0; }
div.JEE_MAIN_8APRIL_2024_S2_S_84::after {max-width:271px; width:100%;height:0;padding: 0 0 43.91143911439114% 0;}
.je_mn_28_jan_2026_s1_q_59 {max-width:500px; max-height:95px; }
.je_mn_28_jan_2026_s1_q_59::after {content: '\00a0';display: inline-block; width:500px; height:95px; background-position: 98.84169884169884% 26.374859708193043%; background-size: 203.6% 1975.7894736842106%; background-image: url(c_12_biomolecules2_1.png);padding: 0; }
div.je_mn_28_jan_2026_s1_q_59::after {max-width:500px; width:100%;height:0;padding: 0 0 19% 0;}
.je_mn_28_jan_2026_s2_q_57a {max-width:400px; max-height:193px; }
.je_mn_28_jan_2026_s2_q_57a::after {content: '\00a0';display: inline-block; width:400px; height:193px; background-position: 71.0989678202793% 41.18598382749326%; background-size: 511.75% 1061.139896373057%; background-image: url(c_12_biomolecules2_0.png);padding: 0; }
div.je_mn_28_jan_2026_s2_q_57a::after {max-width:400px; width:100%;height:0;padding: 0 0 48.25% 0;}
.je_mn_28_jan_2026_s2_q_57b {max-width:400px; max-height:210px; }
.je_mn_28_jan_2026_s2_q_57b::after {content: '\00a0';display: inline-block; width:400px; height:210px; background-position: 72.31329690346084% 52.12187159956474%; background-size: 511.75% 975.2380952380952%; background-image: url(c_12_biomolecules2_0.png);padding: 0; }
div.je_mn_28_jan_2026_s2_q_57b::after {max-width:400px; width:100%;height:0;padding: 0 0 52.5% 0;}
.je_mn_28_jan_2026_s2_q_57c {max-width:400px; max-height:209px; }
.je_mn_28_jan_2026_s2_q_57c::after {content: '\00a0';display: inline-block; width:400px; height:209px; background-position: 72.31329690346084% 63.56715606307776%; background-size: 511.75% 979.9043062200957%; background-image: url(c_12_biomolecules2_0.png);padding: 0; }
div.je_mn_28_jan_2026_s2_q_57c::after {max-width:400px; width:100%;height:0;padding: 0 0 52.25% 0;}
.je_mn_28_jan_2026_s2_q_57d {max-width:400px; max-height:210px; }
.je_mn_28_jan_2026_s2_q_57d::after {content: '\00a0';display: inline-block; width:400px; height:210px; background-position: 62.35579842137219% 90.04352557127312%; background-size: 511.75% 975.2380952380952%; background-image: url(c_12_biomolecules2_0.png);padding: 0; }
div.je_mn_28_jan_2026_s2_q_57d::after {max-width:400px; width:100%;height:0;padding: 0 0 52.5% 0;}
.jee_mains_24_jan_2023_s1_59 {max-width:158px; max-height:231px; }
.jee_mains_24_jan_2023_s1_59::after {content: '\00a0';display: inline-block; width:158px; height:231px; background-position: 99.20592906299629% 76.60979636763896%; background-size: 1295.5696202531647% 886.5800865800866%; background-image: url(c_12_biomolecules2_0.png);padding: 0; }
div.jee_mains_24_jan_2023_s1_59::after {max-width:158px; width:100%;height:0;padding: 0 0 146.20253164556962% 0;}
.jee_mains_28_jun_2022_s2_79_sol {max-width:450px; max-height:275px; }
.jee_mains_28_jun_2022_s2_79_sol::after {content: '\00a0';display: inline-block; width:450px; height:275px; background-position: 38.38447088290545% 71.06598984771574%; background-size: 454.8888888888889% 744.7272727272727%; background-image: url(c_12_biomolecules2_0.png);padding: 0; }
div.jee_mains_28_jun_2022_s2_79_sol::after {max-width:450px; width:100%;height:0;padding: 0 0 61.111111111111114% 0;}
.jee_mains_29_jun_2022_s1_90_sol {max-width:300px; max-height:163px; }
.jee_mains_29_jun_2022_s1_90_sol::after {content: '\00a0';display: inline-block; width:300px; height:163px; background-position: 86.0724233983287% 15.169194865810969%; background-size: 339.3333333333333% 1151.5337423312883%; background-image: url(c_12_biomolecules2_1.png);padding: 0; }
div.jee_mains_29_jun_2022_s1_90_sol::after {max-width:300px; width:100%;height:0;padding: 0 0 54.333333333333336% 0;}
.jee_mn_22_jan_2025_s2_q_67 {max-width:400px; max-height:176px; }
.jee_mn_22_jan_2025_s2_q_67::after {content: '\00a0';display: inline-block; width:400px; height:176px; background-position: 62.35579842137219% 99.67948717948718%; background-size: 511.75% 1163.6363636363637%; background-image: url(c_12_biomolecules2_0.png);padding: 0; }
div.jee_mn_22_jan_2025_s2_q_67::after {max-width:400px; width:100%;height:0;padding: 0 0 44% 0;}
.jee_mn_24_jan_2025_s1_sol_54 {max-width:199px; max-height:131px; }
.jee_mn_24_jan_2025_s1_sol_54::after {content: '\00a0';display: inline-block; width:199px; height:131px; background-position: 40.29304029304029% 99.48453608247422%; background-size: 511.5577889447236% 1432.824427480916%; background-image: url(c_12_biomolecules2_1.png);padding: 0; }
div.jee_mn_24_jan_2025_s1_sol_54::after {max-width:199px; width:100%;height:0;padding: 0 0 65.82914572864321% 0;}
.jee_mn_24_jan_2025_s2_q_68a {max-width:89px; max-height:113px; }
.jee_mn_24_jan_2025_s2_q_68a::after {content: '\00a0';display: inline-block; width:89px; height:113px; background-position: 54.341164453524% 65.11627906976744%; background-size: 2300% 1812.3893805309735%; background-image: url(c_12_biomolecules2_0.png);padding: 0; }
div.jee_mn_24_jan_2025_s2_q_68a::after {max-width:89px; width:100%;height:0;padding: 0 0 126.96629213483146% 0;}
.jee_mn_24_jan_2025_s2_q_68b {max-width:112px; max-height:107px; }
.jee_mn_24_jan_2025_s2_q_68b::after {content: '\00a0';display: inline-block; width:112px; height:107px; background-position: 98.34437086092716% 60%; background-size: 908.9285714285714% 1754.2056074766356%; background-image: url(c_12_biomolecules2_1.png);padding: 0; }
div.jee_mn_24_jan_2025_s2_q_68b::after {max-width:112px; width:100%;height:0;padding: 0 0 95.53571428571429% 0;}
.jee_mn_24_jan_2025_s2_q_68c {max-width:94px; max-height:107px; }
.jee_mn_24_jan_2025_s2_q_68c::after {content: '\00a0';display: inline-block; width:94px; height:107px; background-position: 99.45887445887446% 14.689265536723164%; background-size: 1082.9787234042553% 1754.2056074766356%; background-image: url(c_12_biomolecules2_1.png);padding: 0; }
div.jee_mn_24_jan_2025_s2_q_68c::after {max-width:94px; width:100%;height:0;padding: 0 0 113.82978723404256% 0;}
.jee_mn_24_jan_2025_s2_q_68d {max-width:94px; max-height:101px; }
.jee_mn_24_jan_2025_s2_q_68d::after {content: '\00a0';display: inline-block; width:94px; height:101px; background-position: 99.45887445887446% 20.72072072072072%; background-size: 1082.9787234042553% 1858.4158415841584%; background-image: url(c_12_biomolecules2_1.png);padding: 0; }
div.jee_mn_24_jan_2025_s2_q_68d::after {max-width:94px; width:100%;height:0;padding: 0 0 107.44680851063829% 0;}
.jee_mn_24_jan_2025_s2_sol_68a {max-width:200px; max-height:198px; }
.jee_mn_24_jan_2025_s2_sol_68a::after {content: '\00a0';display: inline-block; width:200px; height:198px; background-position: 0.12224938875305623% 76.89100655151876%; background-size: 509% 947.979797979798%; background-image: url(c_12_biomolecules2_1.png);padding: 0; }
div.jee_mn_24_jan_2025_s2_sol_68a::after {max-width:200px; width:100%;height:0;padding: 0 0 99% 0;}
.jee_mn_24_jan_2025_s2_sol_68b {max-width:200px; max-height:251px; }
.jee_mn_24_jan_2025_s2_sol_68b::after {content: '\00a0';display: inline-block; width:200px; height:251px; background-position: 95.56036816459122% 19.922092376182526%; background-size: 1023.5% 815.9362549800796%; background-image: url(c_12_biomolecules2_0.png);padding: 0; }
div.jee_mn_24_jan_2025_s2_sol_68b::after {max-width:200px; width:100%;height:0;padding: 0 0 125.5% 0;}
.jee_mn_24_jan_2025_s2_sol_68c {max-width:200px; max-height:169px; }
.jee_mn_24_jan_2025_s2_sol_68c::after {content: '\00a0';display: inline-block; width:200px; height:169px; background-position: 55.99022004889976% 67.85714285714286%; background-size: 509% 1110.6508875739646%; background-image: url(c_12_biomolecules2_1.png);padding: 0; }
div.jee_mn_24_jan_2025_s2_sol_68c::after {max-width:200px; width:100%;height:0;padding: 0 0 84.5% 0;}
.jee_mn_24_jan_2025_s2_sol_68d {max-width:200px; max-height:238px; }
.jee_mn_24_jan_2025_s2_sol_68d::after {content: '\00a0';display: inline-block; width:200px; height:238px; background-position: 31.418092909535453% 70.53081147040879%; background-size: 509% 788.655462184874%; background-image: url(c_12_biomolecules2_1.png);padding: 0; }
div.jee_mn_24_jan_2025_s2_sol_68d::after {max-width:200px; width:100%;height:0;padding: 0 0 119% 0;}
.jee_mn_26_jul_2022_s2_79_sol {max-width:320px; max-height:193px; }
.jee_mn_26_jul_2022_s2_79_sol::after {content: '\00a0';display: inline-block; width:320px; height:193px; background-position: 16.502605674580195% 94.66307277628033%; background-size: 639.6875% 1061.139896373057%; background-image: url(c_12_biomolecules2_0.png);padding: 0; }
div.jee_mn_26_jul_2022_s2_79_sol::after {max-width:320px; width:100%;height:0;padding: 0 0 60.3125% 0;}
.jee_mn_27_jul_2022_s1_77_sol {max-width:360px; max-height:351px; }
.jee_mn_27_jul_2022_s1_77_sol::after {content: '\00a0';display: inline-block; width:360px; height:351px; background-position: 48.01422643746295% 36.00471420153212%; background-size: 568.6111111111111% 583.4757834757835%; background-image: url(c_12_biomolecules2_0.png);padding: 0; }
div.jee_mn_27_jul_2022_s1_77_sol::after {max-width:360px; width:100%;height:0;padding: 0 0 97.5% 0;}
.jee_mn_27_jul_2022_s2_77_sol {max-width:400px; max-height:403px; }
.jee_mn_27_jul_2022_s2_77_sol::after {content: '\00a0';display: inline-block; width:400px; height:403px; background-position: 24.833029751062536% 37.50759878419453%; background-size: 511.75% 508.18858560794047%; background-image: url(c_12_biomolecules2_0.png);padding: 0; }
div.jee_mn_27_jul_2022_s2_77_sol::after {max-width:400px; width:100%;height:0;padding: 0 0 100.75% 0;}
.jee_mn_28_jul_2022_s1_79_sol {max-width:400px; max-height:234px; }
.jee_mn_28_jul_2022_s1_79_sol::after {content: '\00a0';display: inline-block; width:400px; height:234px; background-position: 24.833029751062536% 56.284454244762955%; background-size: 511.75% 875.2136752136752%; background-image: url(c_12_biomolecules2_0.png);padding: 0; }
div.jee_mn_28_jul_2022_s1_79_sol::after {max-width:400px; width:100%;height:0;padding: 0 0 58.5% 0;}
.jee_mn_28_jul_2022_s2_78_sol {max-width:380px; max-height:296px; }
.jee_mn_28_jul_2022_s2_78_sol::after {content: '\00a0';display: inline-block; width:380px; height:296px; background-position: 48.59028194361128% 54.965753424657535%; background-size: 538.6842105263158% 691.8918918918919%; background-image: url(c_12_biomolecules2_0.png);padding: 0; }
div.jee_mn_28_jul_2022_s2_78_sol::after {max-width:380px; width:100%;height:0;padding: 0 0 77.89473684210526% 0;}
.jm_3_apr_2025_s1_q_59a {max-width:175px; max-height:214px; }
.jm_3_apr_2025_s1_q_59a::after {content: '\00a0';display: inline-block; width:175px; height:214px; background-position: 38.79003558718861% 83.88454600120265%; background-size: 581.7142857142857% 877.1028037383178%; background-image: url(c_12_biomolecules2_1.png);padding: 0; }
div.jm_3_apr_2025_s1_q_59a::after {max-width:175px; width:100%;height:0;padding: 0 0 122.28571428571429% 0;}
.jm_3_apr_2025_s1_q_59b {max-width:155px; max-height:209px; }
.jm_3_apr_2025_s1_q_59b::after {content: '\00a0';display: inline-block; width:155px; height:209px; background-position: 58.28505214368482% 79.67625899280576%; background-size: 656.7741935483871% 898.0861244019138%; background-image: url(c_12_biomolecules2_1.png);padding: 0; }
div.jm_3_apr_2025_s1_q_59b::after {max-width:155px; width:100%;height:0;padding: 0 0 134.83870967741936% 0;}
.jm_3_apr_2025_s1_q_59c {max-width:151px; max-height:208px; }
.jm_3_apr_2025_s1_q_59c::after {content: '\00a0';display: inline-block; width:151px; height:208px; background-position: 76.00922722029989% 74.23606950269622%; background-size: 674.1721854304636% 902.4038461538462%; background-image: url(c_12_biomolecules2_1.png);padding: 0; }
div.jm_3_apr_2025_s1_q_59c::after {max-width:151px; width:100%;height:0;padding: 0 0 137.74834437086093% 0;}
.jm_3_apr_2025_s1_q_59d {max-width:174px; max-height:226px; }
.jm_3_apr_2025_s1_q_59d::after {content: '\00a0';display: inline-block; width:174px; height:226px; background-position: 18.009478672985782% 90.24833434282253%; background-size: 585.0574712643678% 830.5309734513274%; background-image: url(c_12_biomolecules2_1.png);padding: 0; }
div.jm_3_apr_2025_s1_q_59d::after {max-width:174px; width:100%;height:0;padding: 0 0 129.88505747126436% 0;}
.jm_3_apr_2025_s1_sol_59 {max-width:155px; max-height:209px; }
.jm_3_apr_2025_s1_sol_59::after {content: '\00a0';display: inline-block; width:155px; height:209px; background-position: 58.28505214368482% 79.67625899280576%; background-size: 656.7741935483871% 898.0861244019138%; background-image: url(c_12_biomolecules2_1.png);padding: 0; }
div.jm_3_apr_2025_s1_sol_59::after {max-width:155px; width:100%;height:0;padding: 0 0 134.83870967741936% 0;}
.jm_4_apr_2025_s1_q_60a {max-width:613px; max-height:97px; }
.jm_4_apr_2025_s1_q_60a::after {content: '\00a0';display: inline-block; width:613px; height:97px; background-position: 0.24691358024691357% 16.96629213483146%; background-size: 166.06851549755302% 1935.0515463917525%; background-image: url(c_12_biomolecules2_1.png);padding: 0; }
div.jm_4_apr_2025_s1_q_60a::after {max-width:613px; width:100%;height:0;padding: 0 0 15.823817292006526% 0;}
.jm_4_apr_2025_s1_q_60b {max-width:630px; max-height:98px; }
.jm_4_apr_2025_s1_q_60b::after {content: '\00a0';display: inline-block; width:630px; height:98px; background-position: 0.25773195876288657% 0.056211354693648116%; background-size: 161.5873015873016% 1915.3061224489795%; background-image: url(c_12_biomolecules2_1.png);padding: 0; }
div.jm_4_apr_2025_s1_q_60b::after {max-width:630px; width:100%;height:0;padding: 0 0 15.555555555555555% 0;}
.jm_4_apr_2025_s1_q_60c {max-width:616px; max-height:101px; }
.jm_4_apr_2025_s1_q_60c::after {content: '\00a0';display: inline-block; width:616px; height:101px; background-position: 0.24875621890547264% 11.26126126126126%; background-size: 165.25974025974025% 1858.4158415841584%; background-image: url(c_12_biomolecules2_1.png);padding: 0; }
div.jm_4_apr_2025_s1_q_60c::after {max-width:616px; width:100%;height:0;padding: 0 0 16.396103896103895% 0;}
.jm_4_apr_2025_s1_q_60d {max-width:623px; max-height:99px; }
.jm_4_apr_2025_s1_q_60d::after {content: '\00a0';display: inline-block; width:623px; height:99px; background-position: 0.25316455696202533% 5.62429696287964%; background-size: 163.40288924558587% 1895.959595959596%; background-image: url(c_12_biomolecules2_1.png);padding: 0; }
div.jm_4_apr_2025_s1_q_60d::after {max-width:623px; width:100%;height:0;padding: 0 0 15.890850722311397% 0;}
.jm_4_apr_2025_s1_sol_60a {max-width:500px; max-height:292px; }
.jm_4_apr_2025_s1_sol_60a::after {content: '\00a0';display: inline-block; width:500px; height:292px; background-position: 33.80736910148675% 18.109339407744876%; background-size: 409.4% 701.3698630136986%; background-image: url(c_12_biomolecules2_0.png);padding: 0; }
div.jm_4_apr_2025_s1_sol_60a::after {max-width:500px; width:100%;height:0;padding: 0 0 58.4% 0;}
.jm_4_apr_2025_s2_q_61 {max-width:267px; max-height:262px; }
.jm_4_apr_2025_s2_q_61::after {content: '\00a0';display: inline-block; width:267px; height:262px; background-position: 57.52808988764045% 17.80515117581187%; background-size: 766.6666666666666% 781.6793893129772%; background-image: url(c_12_biomolecules2_0.png);padding: 0; }
div.jm_4_apr_2025_s2_q_61::after {max-width:267px; width:100%;height:0;padding: 0 0 98.12734082397004% 0;}

@keyframes JEEMAINS_11APRIL_2023_S1_Q_62_O-frames {
    0% { background-position: 14.38692098092643% 51.88577586206897%;  }
    25% { background-position: 15.650741350906095% 29.53091684434968%;  }
    50% { background-position: 43.26396495071194% 30.235042735042736%;  }
    75% { background-position: 43.240284619594966% 39.88191089640365%;  }
}

.JEEMAINS_11APRIL_2023_S1_Q_62_O-animation {
    max-width: 212px;
    max-height: 192px;
}
.JEEMAINS_11APRIL_2023_S1_Q_62_O-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 212px;
    height: 192px;
    padding: 0;
    background-image: url(c_12_biomolecules2_0.png);
    background-size: 965.566037735849% 1066.6666666666667%; 
    animation-name: JEEMAINS_11APRIL_2023_S1_Q_62_O-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEEMAINS_11APRIL_2023_S1_Q_62_O-animation::after {
    max-width: 212px;
    width: 100%;
    height: 0;
    padding: 0 0 90.56603773584905% 0;
}

@keyframes JEEMAINS_1FEB_2023_S1_Q_32_O-frames {
    0% { background-position: 43.90904168922577% 65.48625792811839%;  }
    25% { background-position: 43.743257820927724% 73.74537770734284%;  }
    50% { background-position: 95.6639566395664% 32.17299578059072%;  }
    75% { background-position: 25.994550408719345% 52.93495505023797%;  }
}

.JEEMAINS_1FEB_2023_S1_Q_32_O-animation {
    max-width: 200px;
    max-height: 156px;
}
.JEEMAINS_1FEB_2023_S1_Q_32_O-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 200px;
    height: 156px;
    padding: 0;
    background-image: url(c_12_biomolecules2_0.png);
    background-size: 1023.5% 1312.820512820513%; 
    animation-name: JEEMAINS_1FEB_2023_S1_Q_32_O-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEEMAINS_1FEB_2023_S1_Q_32_O-animation::after {
    max-width: 200px;
    width: 100%;
    height: 0;
    padding: 0 0 78% 0;
}

@keyframes JEEMAINS_1FEB_2023_S2_Q_33_O-frames {
    0% { background-position: 17.477284874398716% 83.7669094693028%;  }
    25% { background-position: 44.840425531914896% 90.05667181865019%;  }
    50% { background-position: 36.63101604278075% 79.95878413189078%;  }
    75% { background-position: 28.23654768247203% 89.80858768753234%;  }
}

.JEEMAINS_1FEB_2023_S2_Q_33_O-animation {
    max-width: 176px;
    max-height: 126px;
}
.JEEMAINS_1FEB_2023_S2_Q_33_O-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 176px;
    height: 126px;
    padding: 0;
    background-image: url(c_12_biomolecules2_0.png);
    background-size: 1163.0681818181818% 1625.3968253968253%; 
    animation-name: JEEMAINS_1FEB_2023_S2_Q_33_O-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEEMAINS_1FEB_2023_S2_Q_33_O-animation::after {
    max-width: 176px;
    width: 100%;
    height: 0;
    padding: 0 0 71.5909090909091% 0;
}

@keyframes JEEMAINS_1FEB_2023_S2_S-frames {
    0% { background-position: 43.0939226519337% 48.48643006263048%;  }
    50% { background-position: 0.05580357142857143% 59.07127429805615%;  }
}

.JEEMAINS_1FEB_2023_S2_S-animation {
    max-width: 237px;
    max-height: 132px;
}
.JEEMAINS_1FEB_2023_S2_S-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 237px;
    height: 132px;
    padding: 0;
    background-image: url(c_12_biomolecules2_0.png);
    background-size: 863.7130801687764% 1551.5151515151515%; 
    animation-name: JEEMAINS_1FEB_2023_S2_S-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEEMAINS_1FEB_2023_S2_S-animation::after {
    max-width: 237px;
    width: 100%;
    height: 0;
    padding: 0 0 55.69620253164557% 0;
}

@keyframes JEEMAINS_25JAN_S1_S_39-frames {
    0% { background-position: 92.07634470792365% 52.98672566371681%;  }
    25% { background-position: 82.54335260115607% 92.16867469879519%;  }
    50% { background-position: 92.18297625940939% 64.60129310344827%;  }
    75% { background-position: 36.40552995391705% 4.229122055674519%;  }
}

.JEEMAINS_25JAN_S1_S_39-animation {
    max-width: 318px;
    max-height: 240px;
}
.JEEMAINS_25JAN_S1_S_39-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 318px;
    height: 240px;
    padding: 0;
    background-image: url(c_12_biomolecules2_0.png);
    background-size: 643.7106918238994% 853.3333333333334%; 
    animation-name: JEEMAINS_25JAN_S1_S_39-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEEMAINS_25JAN_S1_S_39-animation::after {
    max-width: 318px;
    width: 100%;
    height: 0;
    padding: 0 0 75.47169811320755% 0;
}

@keyframes JEEMAINS_26JULY_S2_Q_19_O-frames {
    0% { background-position: 0.05271481286241434% 82.68590455049944%;  }
    25% { background-position: 37.35787763941527% 56.73076923076923%;  }
    50% { background-position: 82.68674001158078% 99.11596463858554%;  }
    75% { background-position: 93.51901446170326% 91.91698525395958%;  }
}

.JEEMAINS_26JULY_S2_Q_19_O-animation {
    max-width: 150px;
    max-height: 246px;
}
.JEEMAINS_26JULY_S2_Q_19_O-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 150px;
    height: 246px;
    padding: 0;
    background-image: url(c_12_biomolecules2_0.png);
    background-size: 1364.6666666666667% 832.520325203252%; 
    animation-name: JEEMAINS_26JULY_S2_Q_19_O-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEEMAINS_26JULY_S2_Q_19_O-animation::after {
    max-width: 150px;
    width: 100%;
    height: 0;
    padding: 0 0 164% 0;
}

@keyframes JEEMAINS_28JULY_S2_Q_18_O-frames {
    0% { background-position: 28.926553672316384% 30.251202565473008%;  }
    25% { background-position: 0.05649717514124294% 39.390700160342064%;  }
    50% { background-position: 0.05668934240362812% 29.689174705251876%;  }
    75% { background-position: 0.056022408963585436% 48.93048128342246%;  }
}

.JEEMAINS_28JULY_S2_Q_18_O-animation {
    max-width: 277px;
    max-height: 177px;
}
.JEEMAINS_28JULY_S2_Q_18_O-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 277px;
    height: 177px;
    padding: 0;
    background-image: url(c_12_biomolecules2_0.png);
    background-size: 738.9891696750902% 1157.0621468926554%; 
    animation-name: JEEMAINS_28JULY_S2_Q_18_O-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEEMAINS_28JULY_S2_Q_18_O-animation::after {
    max-width: 277px;
    width: 100%;
    height: 0;
    padding: 0 0 63.898916967509024% 0;
}

@keyframes JEE_MAIN_4APRIL_2024_S1_Q_74_O-frames {
    0% { background-position: 96.74540682414698% 41.08777598276791%;  }
    25% { background-position: 45.27806925498426% 83.75607123583379%;  }
    50% { background-position: 36.77859391395593% 89.24731182795699%;  }
    75% { background-position: 99.94769874476988% 51.64954029204976%;  }
}

.JEE_MAIN_4APRIL_2024_S1_Q_74_O-animation {
    max-width: 142px;
    max-height: 191px;
}
.JEE_MAIN_4APRIL_2024_S1_Q_74_O-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 142px;
    height: 191px;
    padding: 0;
    background-image: url(c_12_biomolecules2_0.png);
    background-size: 1441.5492957746478% 1072.2513089005236%; 
    animation-name: JEE_MAIN_4APRIL_2024_S1_Q_74_O-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEE_MAIN_4APRIL_2024_S1_Q_74_O-animation::after {
    max-width: 142px;
    width: 100%;
    height: 0;
    padding: 0 0 134.50704225352112% 0;
}

@keyframes JEE_MAIN_6APRIL_2024_S1_Q_65_O-frames {
    0% { background-position: 93.72990353697749% 99.16536254564424%;  }
    25% { background-position: 8.079186730872124% 90.94240837696336%;  }
    50% { background-position: 28.643781654473834% 45.18828451882845%;  }
    75% { background-position: 0.052994170641229466% 99.94734070563455%;  }
}

.JEE_MAIN_6APRIL_2024_S1_Q_65_O-animation {
    max-width: 181px;
    max-height: 131px;
}
.JEE_MAIN_6APRIL_2024_S1_Q_65_O-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 181px;
    height: 131px;
    padding: 0;
    background-image: url(c_12_biomolecules2_0.png);
    background-size: 1130.9392265193371% 1563.3587786259543%; 
    animation-name: JEE_MAIN_6APRIL_2024_S1_Q_65_O-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEE_MAIN_6APRIL_2024_S1_Q_65_O-animation::after {
    max-width: 181px;
    width: 100%;
    height: 0;
    padding: 0 0 72.37569060773481% 0;
}

/* $TexturePacker:SmartUpdate:0986d57a592f347c72492538fa3431c6:6659945f950c7a60c80da3ee23f32aa6:52db64550cc4c62e4abcc2e7a47cd3ea$ */
