/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.JEEMAIN_25FEB_SHIFT1_SOL_37 {max-width:252px; max-height:115px; }
.JEEMAIN_25FEB_SHIFT1_SOL_37::after {content: '\00a0';display: inline-block; width:252px; height:115px; background-position: 45.07628294036061% 51.0989010989011%;background-size: 386.1111111111111% 416.5217391304348%;background-image: url(ch_xi_ch11.png);padding: 0; }
div.JEEMAIN_25FEB_SHIFT1_SOL_37::after {max-width:252px; width:100%;height:0;padding: 0 0 45.63492063492063% 0;}
.JEEM_16_Mar_S2_40sol {max-width:323px; max-height:271px; }
.JEEM_16_Mar_S2_40sol::after {content: '\00a0';display: inline-block; width:323px; height:271px; background-position: 0.15384615384615385% 0.4807692307692308%;background-size: 301.23839009287923% 176.75276752767527%;background-image: url(ch_xi_ch11.png);padding: 0; }
div.JEEM_16_Mar_S2_40sol::after {max-width:323px; width:100%;height:0;padding: 0 0 83.90092879256966% 0;}
.P_BLOCK_ELEMENTS_Q_20_O_D {max-width:164px; max-height:88px; }
.P_BLOCK_ELEMENTS_Q_20_O_D::after {content: '\00a0';display: inline-block; width:164px; height:88px; background-position: 68.35599505562423% 89.00255754475704%;background-size: 593.2926829268292% 544.3181818181819%;background-image: url(ch_xi_ch11.png);padding: 0; }
div.P_BLOCK_ELEMENTS_Q_20_O_D::after {max-width:164px; width:100%;height:0;padding: 0 0 53.65853658536585% 0;}
.P_BLOCK_ELEMENTS_SOL_16 {max-width:208px; max-height:132px; }
.P_BLOCK_ELEMENTS_SOL_16::after {content: '\00a0';display: inline-block; width:208px; height:132px; background-position: 80.13071895424837% 36.31123919308357%;background-size: 467.78846153846155% 362.8787878787879%;background-image: url(ch_xi_ch11.png);padding: 0; }
div.P_BLOCK_ELEMENTS_SOL_16::after {max-width:208px; width:100%;height:0;padding: 0 0 63.46153846153846% 0;}
.P_BLOCK_ELEMENTS_SOL_21 {max-width:334px; max-height:124px; }
.P_BLOCK_ELEMENTS_SOL_21::after {content: '\00a0';display: inline-block; width:334px; height:124px; background-position: 95.93114241001565% 0.28169014084507044%;background-size: 291.31736526946105% 386.2903225806452%;background-image: url(ch_xi_ch11.png);padding: 0; }
div.P_BLOCK_ELEMENTS_SOL_21::after {max-width:334px; width:100%;height:0;padding: 0 0 37.125748502994014% 0;}
.P_BLOCK_ELEMENTS_SOL_29 {max-width:287px; max-height:184px; }
.P_BLOCK_ELEMENTS_SOL_29::after {content: '\00a0';display: inline-block; width:287px; height:184px; background-position: 47.37609329446064% 0.3389830508474576%;background-size: 339.0243902439024% 260.32608695652175%;background-image: url(ch_xi_ch11.png);padding: 0; }
div.P_BLOCK_ELEMENTS_SOL_29::after {max-width:287px; width:100%;height:0;padding: 0 0 64.11149825783973% 0;}
.P_BLOCK_ELEMENTS_SOL_38 {max-width:182px; max-height:154px; }
.P_BLOCK_ELEMENTS_SOL_38::after {content: '\00a0';display: inline-block; width:182px; height:154px; background-position: 98.60935524652339% 79.6923076923077%;background-size: 534.6153846153846% 311.038961038961%;background-image: url(ch_xi_ch11.png);padding: 0; }
div.P_BLOCK_ELEMENTS_SOL_38::after {max-width:182px; width:100%;height:0;padding: 0 0 84.61538461538461% 0;}
.P_BLOCK_ELEMENTS_SOL_41 {max-width:150px; max-height:120px; }
.P_BLOCK_ELEMENTS_SOL_41::after {content: '\00a0';display: inline-block; width:150px; height:120px; background-position: 99.87849331713244% 35.0974930362117%;background-size: 648.6666666666666% 399.1666666666667%;background-image: url(ch_xi_ch11.png);padding: 0; }
div.P_BLOCK_ELEMENTS_SOL_41::after {max-width:150px; width:100%;height:0;padding: 0 0 80% 0;}
.P_BLOCK_ELEMENTS_SOL_8 {max-width:201px; max-height:88px; }
.P_BLOCK_ELEMENTS_SOL_8::after {content: '\00a0';display: inline-block; width:201px; height:88px; background-position: 74.87046632124353% 66.24040920716112%;background-size: 484.07960199004975% 544.3181818181819%;background-image: url(ch_xi_ch11.png);padding: 0; }
div.P_BLOCK_ELEMENTS_SOL_8::after {max-width:201px; width:100%;height:0;padding: 0 0 43.78109452736319% 0;}
.jee_mains_25_jun_2022_s2_70_sol {max-width:300px; max-height:200px; }
.jee_mains_25_jun_2022_s2_70_sol::after {content: '\00a0';display: inline-block; width:300px; height:200px; background-position: 0.1485884101040119% 97.84946236559139%;background-size: 324.3333333333333% 239.5%;background-image: url(ch_xi_ch11.png);padding: 0; }
div.jee_mains_25_jun_2022_s2_70_sol::after {max-width:300px; width:100%;height:0;padding: 0 0 66.66666666666667% 0;}
.jee_mn_25_jul_2022_s1_70_sol {max-width:250px; max-height:176px; }
.jee_mn_25_jul_2022_s1_70_sol::after {content: '\00a0';display: inline-block; width:250px; height:176px; background-position: 41.77040110650069% 99.66996699669967%;background-size: 389.2% 272.15909090909093%;background-image: url(ch_xi_ch11.png);padding: 0; }
div.jee_mn_25_jul_2022_s1_70_sol::after {max-width:250px; width:100%;height:0;padding: 0 0 70.4% 0;}

/* $TexturePacker:SmartUpdate:64b91eefcd868cd01414d8a02dbee6bf:abf6bd83b5514226097770ff7e681dc1:b910ca5b9ed04df52446c158da1bc3bf$ */
