/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.ELECTROCHEMISTRY_Q_51 {max-width:303px; max-height:230px; }
.ELECTROCHEMISTRY_Q_51::after {content: '\00a0';display: inline-block; width:303px; height:230px; background-position: 0.4830917874396135% 34.03954802259887%;background-size: 168.31683168316832% 407.82608695652175%;background-image: url(electrochemistry.png);padding: 0; }
div.ELECTROCHEMISTRY_Q_51::after {max-width:303px; width:100%;height:0;padding: 0 0 75.9075907590759% 0;}
.ELECTROCHEMISTRY_Q_6_O_A {max-width:190px; max-height:195px; }
.ELECTROCHEMISTRY_Q_6_O_A::after {content: '\00a0';display: inline-block; width:190px; height:195px; background-position: 94.0625% 73.0820995962315%;background-size: 268.42105263157896% 481.02564102564105%;background-image: url(electrochemistry.png);padding: 0; }
div.ELECTROCHEMISTRY_Q_6_O_A::after {max-width:190px; width:100%;height:0;padding: 0 0 102.63157894736842% 0;}
.ELECTROCHEMISTRY_Q_6_O_B {max-width:191px; max-height:195px; }
.ELECTROCHEMISTRY_Q_6_O_B::after {content: '\00a0';display: inline-block; width:191px; height:195px; background-position: 95.61128526645768% 46.70255720053836%;background-size: 267.0157068062827% 481.02564102564105%;background-image: url(electrochemistry.png);padding: 0; }
div.ELECTROCHEMISTRY_Q_6_O_B::after {max-width:191px; width:100%;height:0;padding: 0 0 102.09424083769633% 0;}
.ELECTROCHEMISTRY_Q_6_O_C {max-width:175px; max-height:172px; }
.ELECTROCHEMISTRY_Q_6_O_C::after {content: '\00a0';display: inline-block; width:175px; height:172px; background-position: 99.70149253731343% 0.13054830287206268%;background-size: 291.42857142857144% 545.3488372093024%;background-image: url(electrochemistry.png);padding: 0; }
div.ELECTROCHEMISTRY_Q_6_O_C::after {max-width:175px; width:100%;height:0;padding: 0 0 98.28571428571429% 0;}
.ELECTROCHEMISTRY_Q_6_O_D {max-width:175px; max-height:172px; }
.ELECTROCHEMISTRY_Q_6_O_D::after {content: '\00a0';display: inline-block; width:175px; height:172px; background-position: 99.70149253731343% 22.715404699738905%;background-size: 291.42857142857144% 545.3488372093024%;background-image: url(electrochemistry.png);padding: 0; }
div.ELECTROCHEMISTRY_Q_6_O_D::after {max-width:175px; width:100%;height:0;padding: 0 0 98.28571428571429% 0;}
.ELECTROCHEMISTRY_Q_A {max-width:277px; max-height:177px; }
.ELECTROCHEMISTRY_Q_A::after {content: '\00a0';display: inline-block; width:277px; height:177px; background-position: 0.4291845493562232% 83.5742444152431%;background-size: 184.11552346570397% 529.9435028248588%;background-image: url(electrochemistry.png);padding: 0; }
div.ELECTROCHEMISTRY_Q_A::after {max-width:277px; width:100%;height:0;padding: 0 0 63.898916967509024% 0;}
.ELECTROCHEMISTRY_SOL_1 {max-width:299px; max-height:163px; }
.ELECTROCHEMISTRY_SOL_1::after {content: '\00a0';display: inline-block; width:299px; height:163px; background-position: 0.47393364928909953% 60.903225806451616%;background-size: 170.5685618729097% 575.4601226993865%;background-image: url(electrochemistry.png);padding: 0; }
div.ELECTROCHEMISTRY_SOL_1::after {max-width:299px; width:100%;height:0;padding: 0 0 54.51505016722408% 0;}
.ELECTROCHEMISTRY_SOL_26 {max-width:332px; max-height:239px; }
.ELECTROCHEMISTRY_SOL_26::after {content: '\00a0';display: inline-block; width:332px; height:239px; background-position: 0.5617977528089888% 0.1430615164520744%;background-size: 153.6144578313253% 392.4686192468619%;background-image: url(electrochemistry.png);padding: 0; }
div.ELECTROCHEMISTRY_SOL_26::after {max-width:332px; width:100%;height:0;padding: 0 0 71.98795180722891% 0;}
.ELECTROCHEMISTRY_SOL_59 {max-width:273px; max-height:123px; }
.ELECTROCHEMISTRY_SOL_59::after {content: '\00a0';display: inline-block; width:273px; height:123px; background-position: 0.4219409282700422% 99.87730061349693%;background-size: 186.8131868131868% 762.6016260162602%;background-image: url(electrochemistry.png);padding: 0; }
div.ELECTROCHEMISTRY_SOL_59::after {max-width:273px; width:100%;height:0;padding: 0 0 45.05494505494506% 0;}

/* $TexturePacker:SmartUpdate:43ae1b5863d56faaec567e363995928f:ee494b2765d7d00258a3909bfa96b0ac:4b25152c264a71eced843c4a7904624c$ */
