/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.JEEM_17_Mar_S1_49sol {max-width:157px; max-height:199px; }
.JEEM_17_Mar_S1_49sol::after {content: '\00a0';display: inline-block; width:157px; height:199px; background-position: 74.06962785114045% 99.61389961389962%;background-size: 630.5732484076433% 230.15075376884423%;background-image: url(organic_chemistry1.png);padding: 0; }
div.JEEM_17_Mar_S1_49sol::after {max-width:157px; width:100%;height:0;padding: 0 0 126.7515923566879% 0;}
.JEEM_17_Mar_S2_42a {max-width:103px; max-height:117px; }
.JEEM_17_Mar_S2_42a::after {content: '\00a0';display: inline-block; width:103px; height:117px; background-position: 99.43630214205186% 40.76246334310851%;background-size: 961.1650485436893% 391.45299145299145%;background-image: url(organic_chemistry1.png);padding: 0; }
div.JEEM_17_Mar_S2_42a::after {max-width:103px; width:100%;height:0;padding: 0 0 113.59223300970874% 0;}
.JEEM_17_Mar_S2_42b {max-width:125px; max-height:117px; }
.JEEM_17_Mar_S2_42b::after {content: '\00a0';display: inline-block; width:125px; height:117px; background-position: 89.59537572254335% 75.65982404692082%;background-size: 792% 391.45299145299145%;background-image: url(organic_chemistry1.png);padding: 0; }
div.JEEM_17_Mar_S2_42b::after {max-width:125px; width:100%;height:0;padding: 0 0 93.6% 0;}
.JEEM_17_Mar_S2_42c {max-width:88px; max-height:76px; }
.JEEM_17_Mar_S2_42c::after {content: '\00a0';display: inline-block; width:88px; height:76px; background-position: 85.92017738359202% 98.42931937172774%;background-size: 1125% 602.6315789473684%;background-image: url(organic_chemistry1.png);padding: 0; }
div.JEEM_17_Mar_S2_42c::after {max-width:88px; width:100%;height:0;padding: 0 0 86.36363636363636% 0;}
.JEEM_17_Mar_S2_42d {max-width:88px; max-height:117px; }
.JEEM_17_Mar_S2_42d::after {content: '\00a0';display: inline-block; width:88px; height:117px; background-position: 99.88913525498891% 75.366568914956%;background-size: 1125% 391.45299145299145%;background-image: url(organic_chemistry1.png);padding: 0; }
div.JEEM_17_Mar_S2_42d::after {max-width:88px; width:100%;height:0;padding: 0 0 132.95454545454547% 0;}
.JEEM_18_Mar_S1_34sol {max-width:269px; max-height:152px; }
.JEEM_18_Mar_S1_34sol::after {content: '\00a0';display: inline-block; width:269px; height:152px; background-position: 48.12760055478502% 74.83660130718954%;background-size: 368.02973977695166% 301.3157894736842%;background-image: url(organic_chemistry1.png);padding: 0; }
div.JEEM_18_Mar_S1_34sol::after {max-width:269px; width:100%;height:0;padding: 0 0 56.50557620817844% 0;}
.JEEM_18_Mar_S1_34sola {max-width:345px; max-height:223px; }
.JEEM_18_Mar_S1_34sola::after {content: '\00a0';display: inline-block; width:345px; height:223px; background-position: 0.15503875968992248% 94.8936170212766%;background-size: 286.95652173913044% 205.38116591928252%;background-image: url(organic_chemistry1.png);padding: 0; }
div.JEEM_18_Mar_S1_34sola::after {max-width:345px; width:100%;height:0;padding: 0 0 64.6376811594203% 0;}
.JEEM_18_Mar_S1_56sol {max-width:376px; max-height:221px; }
.JEEM_18_Mar_S1_56sol::after {content: '\00a0';display: inline-block; width:376px; height:221px; background-position: 0.16286644951140064% 0.4219409282700422%;background-size: 263.29787234042556% 207.2398190045249%;background-image: url(organic_chemistry1.png);padding: 0; }
div.JEEM_18_Mar_S1_56sol::after {max-width:376px; width:100%;height:0;padding: 0 0 58.776595744680854% 0;}
.JEEM_18_Mar_S2_60 {max-width:342px; max-height:137px; }
.JEEM_18_Mar_S2_60::after {content: '\00a0';display: inline-block; width:342px; height:137px; background-position: 98.61111111111111% 0.3115264797507788%;background-size: 289.4736842105263% 334.3065693430657%;background-image: url(organic_chemistry1.png);padding: 0; }
div.JEEM_18_Mar_S2_60::after {max-width:342px; width:100%;height:0;padding: 0 0 40.058479532163744% 0;}
.JEE_Main_20_July_2021_mor_50_q {max-width:242px; max-height:118px; }
.JEE_Main_20_July_2021_mor_50_q::after {content: '\00a0';display: inline-block; width:242px; height:118px; background-position: 85.42780748663101% 40.88235294117647%;background-size: 409.09090909090907% 388.135593220339%;background-image: url(organic_chemistry1.png);padding: 0; }
div.JEE_Main_20_July_2021_mor_50_q::after {max-width:242px; width:100%;height:0;padding: 0 0 48.760330578512395% 0;}
.JEE_Main_20_July_2021_mor_50_s {max-width:260px; max-height:227px; }
.JEE_Main_20_July_2021_mor_50_s::after {content: '\00a0';display: inline-block; width:260px; height:227px; background-position: 51.78082191780822% 0.4329004329004329%;background-size: 380.7692307692308% 201.76211453744494%;background-image: url(organic_chemistry1.png);padding: 0; }
div.JEE_Main_20_July_2021_mor_50_s::after {max-width:260px; width:100%;height:0;padding: 0 0 87.3076923076923% 0;}

/* $TexturePacker:SmartUpdate:2e2c8d566de567fc96fa085c3833ec26:c9db845cb5109dd6d281871f7cff59d1:9b38144c03962eb17dae7cd715a8d917$ */
