/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.ntpc_4_jan_2021_s2_27 {max-width:293px; max-height:91px; }
.ntpc_4_jan_2021_s2_27::after {content: '\00a0';display: inline-block; width:293px; height:91px; background-position: 0.5988023952095808% 99.88674971687429%; background-size: 156.9965870307167% 1070.3296703296703%; background-image: url(4_jan_2021_s2_0.png);padding: 0; }
div.ntpc_4_jan_2021_s2_27::after {max-width:293px; width:100%;height:0;padding: 0 0 31.0580204778157% 0;}
.ntpc_4_jan_2021_s2_60 {max-width:254px; max-height:254px; }
.ntpc_4_jan_2021_s2_60::after {content: '\00a0';display: inline-block; width:254px; height:254px; background-position: 0.4854368932038835% 75.69444444444444%; background-size: 181.10236220472441% 383.46456692913387%; background-image: url(4_jan_2021_s2_0.png);padding: 0; }
div.ntpc_4_jan_2021_s2_60::after {max-width:254px; width:100%;height:0;padding: 0 0 100% 0;}
.ntpc_4_jan_2021_s2_85 {max-width:458px; max-height:276px; }
.ntpc_4_jan_2021_s2_85::after {content: '\00a0';display: inline-block; width:458px; height:276px; background-position: 50% 0.14326647564469913%; background-size: 100.43668122270742% 352.8985507246377%; background-image: url(4_jan_2021_s2_0.png);padding: 0; }
div.ntpc_4_jan_2021_s2_85::after {max-width:458px; width:100%;height:0;padding: 0 0 60.262008733624455% 0;}
.ntpc_4_jan_2021_s2_89 {max-width:153px; max-height:80px; }
.ntpc_4_jan_2021_s2_89::after {content: '\00a0';display: inline-block; width:153px; height:80px; background-position: 83.38762214983713% 72.93064876957494%; background-size: 300.65359477124184% 1217.5%; background-image: url(4_jan_2021_s2_0.png);padding: 0; }
div.ntpc_4_jan_2021_s2_89::after {max-width:153px; width:100%;height:0;padding: 0 0 52.287581699346404% 0;}
.ntpc_4_jan_2021_s2_90 {max-width:343px; max-height:81px; }
.ntpc_4_jan_2021_s2_90::after {content: '\00a0';display: inline-block; width:343px; height:81px; background-position: 0.8547008547008547% 89.58566629339306%; background-size: 134.11078717201167% 1202.469135802469%; background-image: url(4_jan_2021_s2_0.png);padding: 0; }
div.ntpc_4_jan_2021_s2_90::after {max-width:343px; width:100%;height:0;padding: 0 0 23.61516034985423% 0;}
.ntpc_4_jan_2021_s2_90_1 {max-width:81px; max-height:81px; }
.ntpc_4_jan_2021_s2_90_1::after {content: '\00a0';display: inline-block; width:81px; height:81px; background-position: 90.23746701846966% 31.131019036954086%; background-size: 567.9012345679013% 1202.469135802469%; background-image: url(4_jan_2021_s2_0.png);padding: 0; }
div.ntpc_4_jan_2021_s2_90_1::after {max-width:81px; width:100%;height:0;padding: 0 0 100% 0;}
.ntpc_4_jan_2021_s2_90_2 {max-width:81px; max-height:81px; }
.ntpc_4_jan_2021_s2_90_2::after {content: '\00a0';display: inline-block; width:81px; height:81px; background-position: 90.23746701846966% 40.31354983202687%; background-size: 567.9012345679013% 1202.469135802469%; background-image: url(4_jan_2021_s2_0.png);padding: 0; }
div.ntpc_4_jan_2021_s2_90_2::after {max-width:81px; width:100%;height:0;padding: 0 0 100% 0;}
.ntpc_4_jan_2021_s2_90_3 {max-width:81px; max-height:81px; }
.ntpc_4_jan_2021_s2_90_3::after {content: '\00a0';display: inline-block; width:81px; height:81px; background-position: 90.23746701846966% 49.496080627099666%; background-size: 567.9012345679013% 1202.469135802469%; background-image: url(4_jan_2021_s2_0.png);padding: 0; }
div.ntpc_4_jan_2021_s2_90_3::after {max-width:81px; width:100%;height:0;padding: 0 0 100% 0;}
.ntpc_4_jan_2021_s2_90_4 {max-width:81px; max-height:81px; }
.ntpc_4_jan_2021_s2_90_4::after {content: '\00a0';display: inline-block; width:81px; height:81px; background-position: 95.77836411609499% 58.67861142217245%; background-size: 567.9012345679013% 1202.469135802469%; background-image: url(4_jan_2021_s2_0.png);padding: 0; }
div.ntpc_4_jan_2021_s2_90_4::after {max-width:81px; width:100%;height:0;padding: 0 0 100% 0;}
.ntpc_4_jan_2021_s2_93 {max-width:340px; max-height:266px; }
.ntpc_4_jan_2021_s2_93::after {content: '\00a0';display: inline-block; width:340px; height:266px; background-position: 0.8333333333333334% 39.26553672316384%; background-size: 135.2941176470588% 366.16541353383457%; background-image: url(4_jan_2021_s2_0.png);padding: 0; }
div.ntpc_4_jan_2021_s2_93::after {max-width:340px; width:100%;height:0;padding: 0 0 78.23529411764706% 0;}
.ntpc_4_jan_2021_s2_99 {max-width:106px; max-height:106px; }
.ntpc_4_jan_2021_s2_99::after {content: '\00a0';display: inline-block; width:106px; height:106px; background-position: 72.31638418079096% 62.78801843317972%; background-size: 433.9622641509434% 918.8679245283018%; background-image: url(4_jan_2021_s2_0.png);padding: 0; }
div.ntpc_4_jan_2021_s2_99::after {max-width:106px; width:100%;height:0;padding: 0 0 100% 0;}

@keyframes ntpc_4_jan_2021_s2-frames {
    0% { background-position: 0.5988023952095808% 99.88674971687429%;  }
    14.285714285714285% { background-position: 0.4854368932038835% 75.69444444444444%;  }
    28.57142857142857% { background-position: 50% 0.14326647564469913%;  }
    42.857142857142854% { background-position: 83.38762214983713% 72.93064876957494%;  }
    57.14285714285714% { background-position: 0.8547008547008547% 89.58566629339306%;  }
    71.42857142857143% { background-position: 0.8333333333333334% 39.26553672316384%;  }
    85.71428571428571% { background-position: 72.31638418079096% 62.78801843317972%;  }
}

.ntpc_4_jan_2021_s2-animation {
    max-width: 293px;
    max-height: 91px;
}
.ntpc_4_jan_2021_s2-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 293px;
    height: 91px;
    padding: 0;
    background-image: url(4_jan_2021_s2_0.png);
    background-size: 156.9965870307167% 1070.3296703296703%; 
    animation-name: ntpc_4_jan_2021_s2-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.ntpc_4_jan_2021_s2-animation::after {
    max-width: 293px;
    width: 100%;
    height: 0;
    padding: 0 0 31.0580204778157% 0;
}

@keyframes ntpc_4_jan_2021_s2_90-frames {
    0% { background-position: 90.23746701846966% 31.131019036954086%;  }
    25% { background-position: 90.23746701846966% 40.31354983202687%;  }
    50% { background-position: 90.23746701846966% 49.496080627099666%;  }
    75% { background-position: 95.77836411609499% 58.67861142217245%;  }
}

.ntpc_4_jan_2021_s2_90-animation {
    max-width: 81px;
    max-height: 81px;
}
.ntpc_4_jan_2021_s2_90-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 81px;
    height: 81px;
    padding: 0;
    background-image: url(4_jan_2021_s2_0.png);
    background-size: 567.9012345679013% 1202.469135802469%; 
    animation-name: ntpc_4_jan_2021_s2_90-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.ntpc_4_jan_2021_s2_90-animation::after {
    max-width: 81px;
    width: 100%;
    height: 0;
    padding: 0 0 100% 0;
}

/* $TexturePacker:SmartUpdate:17d1d2d71963ed8c35afb05f7b135e08:4910d34a954f03d3734ccdddd2f82ea6:2301bd0d5bc7010fd7e990ef02f4891a$ */
