/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.MA_AI_Fun_900_T1_1 {max-width:764px; max-height:201px; }
.MA_AI_Fun_900_T1_1::after {content: '\00a0';display: inline-block; width:764px; height:201px; background-position: 0.10152284263959391% 74.206672091131%;background-size: 228.92670157068062% 711.4427860696518%;background-image: url(ai900_test1.png);padding: 0; }
div.MA_AI_Fun_900_T1_1::after {max-width:764px; width:100%;height:0;padding: 0 0 26.308900523560208% 0;}
.MA_AI_Fun_900_T1_2 {max-width:1000px; max-height:258px; }
.MA_AI_Fun_900_T1_2::after {content: '\00a0';display: inline-block; width:1000px; height:258px; background-position: 0.13351134846461948% 28.754266211604097%;background-size: 174.9% 554.2635658914729%;background-image: url(ai900_test1.png);padding: 0; }
div.MA_AI_Fun_900_T1_2::after {max-width:1000px; width:100%;height:0;padding: 0 0 25.8% 0;}
.MA_AI_Fun_900_T1_21 {max-width:567px; max-height:381px; }
.MA_AI_Fun_900_T1_21::after {content: '\00a0';display: inline-block; width:567px; height:381px; background-position: 84.77157360406092% 31.45853193517636%;background-size: 308.46560846560845% 375.3280839895013%;background-image: url(ai900_test1.png);padding: 0; }
div.MA_AI_Fun_900_T1_21::after {max-width:567px; width:100%;height:0;padding: 0 0 67.19576719576719% 0;}
.MA_AI_Fun_900_T1_28 {max-width:801px; max-height:335px; }
.MA_AI_Fun_900_T1_28::after {content: '\00a0';display: inline-block; width:801px; height:335px; background-position: 0.10548523206751055% 0.091324200913242%;background-size: 218.35205992509364% 426.86567164179104%;background-image: url(ai900_test1.png);padding: 0; }
div.MA_AI_Fun_900_T1_28::after {max-width:801px; width:100%;height:0;padding: 0 0 41.822721598002495% 0;}
.MA_AI_Fun_900_T1_3 {max-width:858px; max-height:328px; }
.MA_AI_Fun_900_T1_3::after {content: '\00a0';display: inline-block; width:858px; height:328px; background-position: 90.12345679012346% 0.09074410163339383%;background-size: 203.84615384615384% 435.9756097560976%;background-image: url(ai900_test1.png);padding: 0; }
div.MA_AI_Fun_900_T1_3::after {max-width:858px; width:100%;height:0;padding: 0 0 38.22843822843823% 0;}
.MA_AI_Fun_900_T1_32 {max-width:274px; max-height:238px; }
.MA_AI_Fun_900_T1_32::after {content: '\00a0';display: inline-block; width:274px; height:238px; background-position: 99.9322033898305% 98.90939597315436%;background-size: 638.3211678832117% 600.8403361344538%;background-image: url(ai900_test1.png);padding: 0; }
div.MA_AI_Fun_900_T1_32::after {max-width:274px; width:100%;height:0;padding: 0 0 86.86131386861314% 0;}
.MA_AI_Fun_900_T1_4 {max-width:653px; max-height:174px; }
.MA_AI_Fun_900_T1_4::after {content: '\00a0';display: inline-block; width:653px; height:174px; background-position: 0.09124087591240876% 88.69426751592357%;background-size: 267.8407350689127% 821.8390804597701%;background-image: url(ai900_test1.png);padding: 0; }
div.MA_AI_Fun_900_T1_4::after {max-width:653px; width:100%;height:0;padding: 0 0 26.64624808575804% 0;}
.MA_AI_Fun_900_T1_41 {max-width:721px; max-height:251px; }
.MA_AI_Fun_900_T1_41::after {content: '\00a0';display: inline-block; width:721px; height:251px; background-position: 77.33463035019456% 60.390161153519934%;background-size: 242.57975034674064% 569.7211155378486%;background-image: url(ai900_test1.png);padding: 0; }
div.MA_AI_Fun_900_T1_41::after {max-width:721px; width:100%;height:0;padding: 0 0 34.8127600554785% 0;}
.MA_AI_Fun_900_T1_45 {max-width:976px; max-height:214px; }
.MA_AI_Fun_900_T1_45::after {content: '\00a0';display: inline-block; width:976px; height:214px; background-position: 99.09443725743856% 79.27631578947368%;background-size: 179.20081967213116% 668.2242990654206%;background-image: url(ai900_test1.png);padding: 0; }
div.MA_AI_Fun_900_T1_45::after {max-width:976px; width:100%;height:0;padding: 0 0 21.92622950819672% 0;}
.MA_AI_Fun_900_T1_51 {max-width:531px; max-height:140px; }
.MA_AI_Fun_900_T1_51::after {content: '\00a0';display: inline-block; width:531px; height:140px; background-position: 0.08210180623973727% 99.92248062015504%;background-size: 329.3785310734463% 1021.4285714285714%;background-image: url(ai900_test1.png);padding: 0; }
div.MA_AI_Fun_900_T1_51::after {max-width:531px; width:100%;height:0;padding: 0 0 26.365348399246706% 0;}
.MA_AI_Fun_900_T1_52 {max-width:818px; max-height:171px; }
.MA_AI_Fun_900_T1_52::after {content: '\00a0';display: inline-block; width:818px; height:171px; background-position: 70.35445757250268% 93.64575059571088%;background-size: 213.81418092909536% 836.2573099415205%;background-image: url(ai900_test1.png);padding: 0; }
div.MA_AI_Fun_900_T1_52::after {max-width:818px; width:100%;height:0;padding: 0 0 20.904645476772615% 0;}
.MA_AI_Fun_900_T1_53 {max-width:793px; max-height:315px; }
.MA_AI_Fun_900_T1_53::after {content: '\00a0';display: inline-block; width:793px; height:315px; background-position: 0.10460251046025104% 53.45291479820628%;background-size: 220.5548549810845% 453.968253968254%;background-image: url(ai900_test1.png);padding: 0; }
div.MA_AI_Fun_900_T1_53::after {max-width:793px; width:100%;height:0;padding: 0 0 39.722572509457756% 0;}

/* $TexturePacker:SmartUpdate:831aac0bc59e2eee0d0f51ccb710d627:eff9270c8c7359805890395138550265:d68352f0b14291417b5673bd1bd9c6b4$ */
