/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.mp_pc_con_1_sep_2023_s2_39 {max-width:188px; max-height:130px; }
.mp_pc_con_1_sep_2023_s2_39::after {content: '\00a0';display: inline-block; width:188px; height:130px; background-position: 1.492537313432836% 22.67818574514039%; background-size: 135.63829787234042% 1168.4615384615386%; background-image: url(mp_pc_con_1_sep_2023_s2_0.png);padding: 0; }
div.mp_pc_con_1_sep_2023_s2_39::after {max-width:188px; width:100%;height:0;padding: 0 0 69.14893617021276% 0;}
.mp_pc_con_1_sep_2023_s2_40_1 {max-width:68px; max-height:58px; }
.mp_pc_con_1_sep_2023_s2_40_1::after {content: '\00a0';display: inline-block; width:68px; height:58px; background-position: 99.46524064171123% 42.16290212183436%; background-size: 375% 2618.9655172413795%; background-image: url(mp_pc_con_1_sep_2023_s2_0.png);padding: 0; }
div.mp_pc_con_1_sep_2023_s2_40_1::after {max-width:68px; width:100%;height:0;padding: 0 0 85.29411764705883% 0;}
.mp_pc_con_1_sep_2023_s2_40_2 {max-width:96px; max-height:52px; }
.mp_pc_con_1_sep_2023_s2_40_2::after {content: '\00a0';display: inline-block; width:96px; height:52px; background-position: 97.48427672955975% 66.5303340149966%; background-size: 265.625% 2921.153846153846%; background-image: url(mp_pc_con_1_sep_2023_s2_0.png);padding: 0; }
div.mp_pc_con_1_sep_2023_s2_40_2::after {max-width:96px; width:100%;height:0;padding: 0 0 54.166666666666664% 0;}
.mp_pc_con_1_sep_2023_s2_40_3 {max-width:104px; max-height:60px; }
.mp_pc_con_1_sep_2023_s2_40_3::after {content: '\00a0';display: inline-block; width:104px; height:60px; background-position: 85.43046357615894% 70.52775873886223%; background-size: 245.19230769230768% 2531.6666666666665%; background-image: url(mp_pc_con_1_sep_2023_s2_0.png);padding: 0; }
div.mp_pc_con_1_sep_2023_s2_40_3::after {max-width:104px; width:100%;height:0;padding: 0 0 57.69230769230769% 0;}
.mp_pc_con_1_sep_2023_s2_40_4 {max-width:66px; max-height:59px; }
.mp_pc_con_1_sep_2023_s2_40_4::after {content: '\00a0';display: inline-block; width:66px; height:59px; background-position: 95.23809523809524% 54.657534246575345%; background-size: 386.3636363636364% 2574.576271186441%; background-image: url(mp_pc_con_1_sep_2023_s2_0.png);padding: 0; }
div.mp_pc_con_1_sep_2023_s2_40_4::after {max-width:66px; width:100%;height:0;padding: 0 0 89.39393939393939% 0;}
.mp_pc_con_1_sep_2023_s2_41 {max-width:217px; max-height:76px; }
.mp_pc_con_1_sep_2023_s2_41::after {content: '\00a0';display: inline-block; width:217px; height:76px; background-position: 2.6315789473684212% 91.12959112959113%; background-size: 117.51152073732719% 1998.6842105263158%; background-image: url(mp_pc_con_1_sep_2023_s2_0.png);padding: 0; }
div.mp_pc_con_1_sep_2023_s2_41::after {max-width:217px; width:100%;height:0;padding: 0 0 35.02304147465438% 0;}
.mp_pc_con_1_sep_2023_s2_41_1 {max-width:58px; max-height:61px; }
.mp_pc_con_1_sep_2023_s2_41_1::after {content: '\00a0';display: inline-block; width:58px; height:61px; background-position: 96.44670050761421% 34.15637860082305%; background-size: 439.6551724137931% 2490.1639344262294%; background-image: url(mp_pc_con_1_sep_2023_s2_0.png);padding: 0; }
div.mp_pc_con_1_sep_2023_s2_41_1::after {max-width:58px; width:100%;height:0;padding: 0 0 105.17241379310344% 0;}
.mp_pc_con_1_sep_2023_s2_41_2 {max-width:63px; max-height:64px; }
.mp_pc_con_1_sep_2023_s2_41_2::after {content: '\00a0';display: inline-block; width:63px; height:64px; background-position: 98.95833333333333% 21.649484536082475%; background-size: 404.76190476190476% 2373.4375%; background-image: url(mp_pc_con_1_sep_2023_s2_0.png);padding: 0; }
div.mp_pc_con_1_sep_2023_s2_41_2::after {max-width:63px; width:100%;height:0;padding: 0 0 101.58730158730158% 0;}
.mp_pc_con_1_sep_2023_s2_41_3 {max-width:81px; max-height:61px; }
.mp_pc_con_1_sep_2023_s2_41_3::after {content: '\00a0';display: inline-block; width:81px; height:61px; background-position: 0.5747126436781609% 60.83676268861454%; background-size: 314.81481481481484% 2490.1639344262294%; background-image: url(mp_pc_con_1_sep_2023_s2_0.png);padding: 0; }
div.mp_pc_con_1_sep_2023_s2_41_3::after {max-width:81px; width:100%;height:0;padding: 0 0 75.30864197530865% 0;}
.mp_pc_con_1_sep_2023_s2_41_4 {max-width:63px; max-height:53px; }
.mp_pc_con_1_sep_2023_s2_41_4::after {content: '\00a0';display: inline-block; width:63px; height:53px; background-position: 0.5208333333333334% 68.28103683492496%; background-size: 404.76190476190476% 2866.0377358490564%; background-image: url(mp_pc_con_1_sep_2023_s2_0.png);padding: 0; }
div.mp_pc_con_1_sep_2023_s2_41_4::after {max-width:63px; width:100%;height:0;padding: 0 0 84.12698412698413% 0;}
.mp_pc_con_1_sep_2023_s2_42 {max-width:229px; max-height:157px; }
.mp_pc_con_1_sep_2023_s2_42::after {content: '\00a0';display: inline-block; width:229px; height:157px; background-position: 3.8461538461538463% 0.07342143906020558%; background-size: 111.353711790393% 967.515923566879%; background-image: url(mp_pc_con_1_sep_2023_s2_0.png);padding: 0; }
div.mp_pc_con_1_sep_2023_s2_42::after {max-width:229px; width:100%;height:0;padding: 0 0 68.5589519650655% 0;}
.mp_pc_con_1_sep_2023_s2_43 {max-width:231px; max-height:62px; }
.mp_pc_con_1_sep_2023_s2_43::after {content: '\00a0';display: inline-block; width:231px; height:62px; background-position: 4.166666666666667% 99.93136582017844%; background-size: 110.3896103896104% 2450%; background-image: url(mp_pc_con_1_sep_2023_s2_0.png);padding: 0; }
div.mp_pc_con_1_sep_2023_s2_43::after {max-width:231px; width:100%;height:0;padding: 0 0 26.83982683982684% 0;}
.mp_pc_con_1_sep_2023_s2_43_1 {max-width:57px; max-height:57px; }
.mp_pc_con_1_sep_2023_s2_43_1::after {content: '\00a0';display: inline-block; width:57px; height:57px; background-position: 0.5050505050505051% 72.16142270861833%; background-size: 447.36842105263156% 2664.9122807017543%; background-image: url(mp_pc_con_1_sep_2023_s2_0.png);padding: 0; }
div.mp_pc_con_1_sep_2023_s2_43_1::after {max-width:57px; width:100%;height:0;padding: 0 0 100% 0;}
.mp_pc_con_1_sep_2023_s2_43_2 {max-width:70px; max-height:65px; }
.mp_pc_con_1_sep_2023_s2_43_2::after {content: '\00a0';display: inline-block; width:70px; height:65px; background-position: 60.54054054054054% 44.22283356258597%; background-size: 364.2857142857143% 2336.923076923077%; background-image: url(mp_pc_con_1_sep_2023_s2_0.png);padding: 0; }
div.mp_pc_con_1_sep_2023_s2_43_2::after {max-width:70px; width:100%;height:0;padding: 0 0 92.85714285714286% 0;}
.mp_pc_con_1_sep_2023_s2_43_3 {max-width:66px; max-height:63px; }
.mp_pc_con_1_sep_2023_s2_43_3::after {content: '\00a0';display: inline-block; width:66px; height:63px; background-position: 64.55026455026454% 35.09615384615385%; background-size: 386.3636363636364% 2411.1111111111113%; background-image: url(mp_pc_con_1_sep_2023_s2_0.png);padding: 0; }
div.mp_pc_con_1_sep_2023_s2_43_3::after {max-width:66px; width:100%;height:0;padding: 0 0 95.45454545454545% 0;}
.mp_pc_con_1_sep_2023_s2_43_4 {max-width:73px; max-height:67px; }
.mp_pc_con_1_sep_2023_s2_43_4::after {content: '\00a0';display: inline-block; width:73px; height:67px; background-position: 61.53846153846154% 39.60055096418733%; background-size: 349.3150684931507% 2267.1641791044776%; background-image: url(mp_pc_con_1_sep_2023_s2_0.png);padding: 0; }
div.mp_pc_con_1_sep_2023_s2_43_4::after {max-width:73px; width:100%;height:0;padding: 0 0 91.78082191780823% 0;}
.mp_pc_con_1_sep_2023_s2_44 {max-width:245px; max-height:63px; }
.mp_pc_con_1_sep_2023_s2_44::after {content: '\00a0';display: inline-block; width:245px; height:63px; background-position: 10% 95.6043956043956%; background-size: 104.08163265306122% 2411.1111111111113%; background-image: url(mp_pc_con_1_sep_2023_s2_0.png);padding: 0; }
div.mp_pc_con_1_sep_2023_s2_44::after {max-width:245px; width:100%;height:0;padding: 0 0 25.714285714285715% 0;}
.mp_pc_con_1_sep_2023_s2_44_1 {max-width:51px; max-height:50px; }
.mp_pc_con_1_sep_2023_s2_44_1::after {content: '\00a0';display: inline-block; width:51px; height:50px; background-position: 26.96078431372549% 78.62491490810075%; background-size: 500% 3038%; background-image: url(mp_pc_con_1_sep_2023_s2_0.png);padding: 0; }
div.mp_pc_con_1_sep_2023_s2_44_1::after {max-width:51px; width:100%;height:0;padding: 0 0 98.03921568627452% 0;}
.mp_pc_con_1_sep_2023_s2_44_2 {max-width:63px; max-height:50px; }
.mp_pc_con_1_sep_2023_s2_44_2::after {content: '\00a0';display: inline-block; width:63px; height:50px; background-position: 94.79166666666667% 74.2001361470388%; background-size: 404.76190476190476% 3038%; background-image: url(mp_pc_con_1_sep_2023_s2_0.png);padding: 0; }
div.mp_pc_con_1_sep_2023_s2_44_2::after {max-width:63px; width:100%;height:0;padding: 0 0 79.36507936507937% 0;}
.mp_pc_con_1_sep_2023_s2_44_3 {max-width:84px; max-height:80px; }
.mp_pc_con_1_sep_2023_s2_44_3::after {content: '\00a0';display: inline-block; width:84px; height:80px; background-position: 55.55555555555556% 49.27032661570535%; background-size: 303.57142857142856% 1898.75%; background-image: url(mp_pc_con_1_sep_2023_s2_0.png);padding: 0; }
div.mp_pc_con_1_sep_2023_s2_44_3::after {max-width:84px; width:100%;height:0;padding: 0 0 95.23809523809524% 0;}
.mp_pc_con_1_sep_2023_s2_44_4 {max-width:59px; max-height:54px; }
.mp_pc_con_1_sep_2023_s2_44_4::after {content: '\00a0';display: inline-block; width:59px; height:54px; background-position: 62.244897959183675% 74.40273037542661%; background-size: 432.20338983050846% 2812.962962962963%; background-image: url(mp_pc_con_1_sep_2023_s2_0.png);padding: 0; }
div.mp_pc_con_1_sep_2023_s2_44_4::after {max-width:59px; width:100%;height:0;padding: 0 0 91.52542372881356% 0;}
.mp_pc_con_1_sep_2023_s2_45 {max-width:143px; max-height:51px; }
.mp_pc_con_1_sep_2023_s2_45::after {content: '\00a0';display: inline-block; width:143px; height:51px; background-position: 95.53571428571429% 81.19891008174388%; background-size: 178.32167832167832% 2978.4313725490197%; background-image: url(mp_pc_con_1_sep_2023_s2_0.png);padding: 0; }
div.mp_pc_con_1_sep_2023_s2_45::after {max-width:143px; width:100%;height:0;padding: 0 0 35.66433566433567% 0;}
.mp_pc_con_1_sep_2023_s2_45_1 {max-width:56px; max-height:59px; }
.mp_pc_con_1_sep_2023_s2_45_1::after {content: '\00a0';display: inline-block; width:56px; height:59px; background-position: 32.663316582914575% 71.5068493150685%; background-size: 455.35714285714283% 2574.576271186441%; background-image: url(mp_pc_con_1_sep_2023_s2_0.png);padding: 0; }
div.mp_pc_con_1_sep_2023_s2_45_1::after {max-width:56px; width:100%;height:0;padding: 0 0 105.35714285714286% 0;}
.mp_pc_con_1_sep_2023_s2_45_2 {max-width:53px; max-height:55px; }
.mp_pc_con_1_sep_2023_s2_45_2::after {content: '\00a0';display: inline-block; width:53px; height:55px; background-position: 0.49504950495049505% 76.02459016393442%; background-size: 481.1320754716981% 2761.818181818182%; background-image: url(mp_pc_con_1_sep_2023_s2_0.png);padding: 0; }
div.mp_pc_con_1_sep_2023_s2_45_2::after {max-width:53px; width:100%;height:0;padding: 0 0 103.77358490566037% 0;}
.mp_pc_con_1_sep_2023_s2_45_3 {max-width:58px; max-height:58px; }
.mp_pc_con_1_sep_2023_s2_45_3::after {content: '\00a0';display: inline-block; width:58px; height:58px; background-position: 35.53299492385787% 67.41957563312799%; background-size: 439.6551724137931% 2618.9655172413795%; background-image: url(mp_pc_con_1_sep_2023_s2_0.png);padding: 0; }
div.mp_pc_con_1_sep_2023_s2_45_3::after {max-width:58px; width:100%;height:0;padding: 0 0 100% 0;}
.mp_pc_con_1_sep_2023_s2_45_4 {max-width:62px; max-height:55px; }
.mp_pc_con_1_sep_2023_s2_45_4::after {content: '\00a0';display: inline-block; width:62px; height:55px; background-position: 97.92746113989638% 38.25136612021858%; background-size: 411.2903225806452% 2761.818181818182%; background-image: url(mp_pc_con_1_sep_2023_s2_0.png);padding: 0; }
div.mp_pc_con_1_sep_2023_s2_45_4::after {max-width:62px; width:100%;height:0;padding: 0 0 88.70967741935483% 0;}
.mp_pc_con_1_sep_2023_s2_46 {max-width:110px; max-height:91px; }
.mp_pc_con_1_sep_2023_s2_46::after {content: '\00a0';display: inline-block; width:110px; height:91px; background-position: 0.6896551724137931% 38.865546218487395%; background-size: 231.8181818181818% 1669.2307692307693%; background-image: url(mp_pc_con_1_sep_2023_s2_0.png);padding: 0; }
div.mp_pc_con_1_sep_2023_s2_46::after {max-width:110px; width:100%;height:0;padding: 0 0 82.72727272727273% 0;}
.mp_pc_con_1_sep_2023_s2_46_1 {max-width:60px; max-height:50px; }
.mp_pc_con_1_sep_2023_s2_46_1::after {content: '\00a0';display: inline-block; width:60px; height:50px; background-position: 30.256410256410255% 75.15316541865215%; background-size: 425% 3038%; background-image: url(mp_pc_con_1_sep_2023_s2_0.png);padding: 0; }
div.mp_pc_con_1_sep_2023_s2_46_1::after {max-width:60px; width:100%;height:0;padding: 0 0 83.33333333333333% 0;}
.mp_pc_con_1_sep_2023_s2_46_2 {max-width:68px; max-height:51px; }
.mp_pc_con_1_sep_2023_s2_46_2::after {content: '\00a0';display: inline-block; width:68px; height:51px; background-position: 0.5347593582887701% 64.64577656675749%; background-size: 375% 2978.4313725490197%; background-image: url(mp_pc_con_1_sep_2023_s2_0.png);padding: 0; }
div.mp_pc_con_1_sep_2023_s2_46_2::after {max-width:68px; width:100%;height:0;padding: 0 0 75% 0;}
.mp_pc_con_1_sep_2023_s2_46_3 {max-width:71px; max-height:50px; }
.mp_pc_con_1_sep_2023_s2_46_3::after {content: '\00a0';display: inline-block; width:71px; height:50px; background-position: 45.108695652173914% 63.580667120490126%; background-size: 359.15492957746477% 3038%; background-image: url(mp_pc_con_1_sep_2023_s2_0.png);padding: 0; }
div.mp_pc_con_1_sep_2023_s2_46_3::after {max-width:71px; width:100%;height:0;padding: 0 0 70.4225352112676% 0;}
.mp_pc_con_1_sep_2023_s2_46_4 {max-width:67px; max-height:54px; }
.mp_pc_con_1_sep_2023_s2_46_4::after {content: '\00a0';display: inline-block; width:67px; height:54px; background-position: 95.74468085106383% 58.56655290102389%; background-size: 380.5970149253731% 2812.962962962963%; background-image: url(mp_pc_con_1_sep_2023_s2_0.png);padding: 0; }
div.mp_pc_con_1_sep_2023_s2_46_4::after {max-width:67px; width:100%;height:0;padding: 0 0 80.59701492537313% 0;}
.mp_pc_con_1_sep_2023_s2_47 {max-width:120px; max-height:108px; }
.mp_pc_con_1_sep_2023_s2_47::after {content: '\00a0';display: inline-block; width:120px; height:108px; background-position: 0.7407407407407407% 31.60878809355067%; background-size: 212.5% 1406.4814814814815%; background-image: url(mp_pc_con_1_sep_2023_s2_0.png);padding: 0; }
div.mp_pc_con_1_sep_2023_s2_47::after {max-width:120px; width:100%;height:0;padding: 0 0 90% 0;}
.mp_pc_con_1_sep_2023_s2_47_1 {max-width:64px; max-height:58px; }
.mp_pc_con_1_sep_2023_s2_47_1::after {content: '\00a0';display: inline-block; width:64px; height:58px; background-position: 99.47643979057591% 26.00958247775496%; background-size: 398.4375% 2618.9655172413795%; background-image: url(mp_pc_con_1_sep_2023_s2_0.png);padding: 0; }
div.mp_pc_con_1_sep_2023_s2_47_1::after {max-width:64px; width:100%;height:0;padding: 0 0 90.625% 0;}
.mp_pc_con_1_sep_2023_s2_47_2 {max-width:69px; max-height:60px; }
.mp_pc_con_1_sep_2023_s2_47_2::after {content: '\00a0';display: inline-block; width:69px; height:60px; background-position: 98.38709677419355% 46.26456477039068%; background-size: 369.5652173913044% 2531.6666666666665%; background-image: url(mp_pc_con_1_sep_2023_s2_0.png);padding: 0; }
div.mp_pc_con_1_sep_2023_s2_47_2::after {max-width:69px; width:100%;height:0;padding: 0 0 86.95652173913044% 0;}
.mp_pc_con_1_sep_2023_s2_47_3 {max-width:74px; max-height:61px; }
.mp_pc_con_1_sep_2023_s2_47_3::after {content: '\00a0';display: inline-block; width:74px; height:61px; background-position: 99.4475138121547% 50.480109739369%; background-size: 344.5945945945946% 2490.1639344262294%; background-image: url(mp_pc_con_1_sep_2023_s2_0.png);padding: 0; }
div.mp_pc_con_1_sep_2023_s2_47_3::after {max-width:74px; width:100%;height:0;padding: 0 0 82.43243243243244% 0;}
.mp_pc_con_1_sep_2023_s2_47_4 {max-width:67px; max-height:64px; }
.mp_pc_con_1_sep_2023_s2_47_4::after {content: '\00a0';display: inline-block; width:67px; height:64px; background-position: 64.8936170212766% 30.652920962199314%; background-size: 380.5970149253731% 2373.4375%; background-image: url(mp_pc_con_1_sep_2023_s2_0.png);padding: 0; }
div.mp_pc_con_1_sep_2023_s2_47_4::after {max-width:67px; width:100%;height:0;padding: 0 0 95.5223880597015% 0;}
.mp_pc_con_1_sep_2023_s2_48 {max-width:221px; max-height:155px; }
.mp_pc_con_1_sep_2023_s2_48::after {content: '\00a0';display: inline-block; width:221px; height:155px; background-position: 2.9411764705882355% 11.656891495601172%; background-size: 115.38461538461539% 980%; background-image: url(mp_pc_con_1_sep_2023_s2_0.png);padding: 0; }
div.mp_pc_con_1_sep_2023_s2_48::after {max-width:221px; width:100%;height:0;padding: 0 0 70.13574660633485% 0;}
.mp_pc_con_1_sep_2023_s2_48_1 {max-width:61px; max-height:58px; }
.mp_pc_con_1_sep_2023_s2_48_1::after {content: '\00a0';display: inline-block; width:61px; height:58px; background-position: 97.9381443298969% 30.04791238877481%; background-size: 418.0327868852459% 2618.9655172413795%; background-image: url(mp_pc_con_1_sep_2023_s2_0.png);padding: 0; }
div.mp_pc_con_1_sep_2023_s2_48_1::after {max-width:61px; width:100%;height:0;padding: 0 0 95.08196721311475% 0;}
.mp_pc_con_1_sep_2023_s2_48_2 {max-width:77px; max-height:62px; }
.mp_pc_con_1_sep_2023_s2_48_2::after {content: '\00a0';display: inline-block; width:77px; height:62px; background-position: 98.87640449438203% 62.663006177076184%; background-size: 331.16883116883116% 2450%; background-image: url(mp_pc_con_1_sep_2023_s2_0.png);padding: 0; }
div.mp_pc_con_1_sep_2023_s2_48_2::after {max-width:77px; width:100%;height:0;padding: 0 0 80.51948051948052% 0;}
.mp_pc_con_1_sep_2023_s2_48_3 {max-width:58px; max-height:46px; }
.mp_pc_con_1_sep_2023_s2_48_3::after {content: '\00a0';display: inline-block; width:58px; height:46px; background-position: 60.91370558375635% 77.73251866938222%; background-size: 439.6551724137931% 3302.1739130434785%; background-image: url(mp_pc_con_1_sep_2023_s2_0.png);padding: 0; }
div.mp_pc_con_1_sep_2023_s2_48_3::after {max-width:58px; width:100%;height:0;padding: 0 0 79.3103448275862% 0;}
.mp_pc_con_1_sep_2023_s2_48_4 {max-width:59px; max-height:50px; }
.mp_pc_con_1_sep_2023_s2_48_4::after {content: '\00a0';display: inline-block; width:59px; height:50px; background-position: 92.85714285714286% 77.6718856364874%; background-size: 432.20338983050846% 3038%; background-image: url(mp_pc_con_1_sep_2023_s2_0.png);padding: 0; }
div.mp_pc_con_1_sep_2023_s2_48_4::after {max-width:59px; width:100%;height:0;padding: 0 0 84.7457627118644% 0;}
.mp_pc_con_1_sep_2023_s2_50 {max-width:93px; max-height:92px; }
.mp_pc_con_1_sep_2023_s2_50::after {content: '\00a0';display: inline-block; width:93px; height:92px; background-position: 0.6172839506172839% 45.33987386124737%; background-size: 274.19354838709677% 1651.0869565217392%; background-image: url(mp_pc_con_1_sep_2023_s2_0.png);padding: 0; }
div.mp_pc_con_1_sep_2023_s2_50::after {max-width:93px; width:100%;height:0;padding: 0 0 98.9247311827957% 0;}
.mp_pc_con_1_sep_2023_s2_51_1 {max-width:89px; max-height:74px; }
.mp_pc_con_1_sep_2023_s2_51_1::after {content: '\00a0';display: inline-block; width:89px; height:74px; background-position: 54.21686746987952% 54.67128027681661%; background-size: 286.5168539325843% 2052.7027027027025%; background-image: url(mp_pc_con_1_sep_2023_s2_0.png);padding: 0; }
div.mp_pc_con_1_sep_2023_s2_51_1::after {max-width:89px; width:100%;height:0;padding: 0 0 83.14606741573034% 0;}
.mp_pc_con_1_sep_2023_s2_51_2 {max-width:82px; max-height:64px; }
.mp_pc_con_1_sep_2023_s2_51_2::after {content: '\00a0';display: inline-block; width:82px; height:64px; background-position: 0.5780346820809249% 56.49484536082474%; background-size: 310.9756097560976% 2373.4375%; background-image: url(mp_pc_con_1_sep_2023_s2_0.png);padding: 0; }
div.mp_pc_con_1_sep_2023_s2_51_2::after {max-width:82px; width:100%;height:0;padding: 0 0 78.04878048780488% 0;}
.mp_pc_con_1_sep_2023_s2_51_3 {max-width:91px; max-height:68px; }
.mp_pc_con_1_sep_2023_s2_51_3::after {content: '\00a0';display: inline-block; width:91px; height:68px; background-position: 51.21951219512195% 59.61405926946933%; background-size: 280.2197802197802% 2233.823529411765%; background-image: url(mp_pc_con_1_sep_2023_s2_0.png);padding: 0; }
div.mp_pc_con_1_sep_2023_s2_51_3::after {max-width:91px; width:100%;height:0;padding: 0 0 74.72527472527473% 0;}
.mp_pc_con_1_sep_2023_s2_51_4 {max-width:88px; max-height:81px; }
.mp_pc_con_1_sep_2023_s2_51_4::after {content: '\00a0';display: inline-block; width:88px; height:81px; background-position: 0.5988023952095808% 51.46036161335188%; background-size: 289.77272727272725% 1875.3086419753085%; background-image: url(mp_pc_con_1_sep_2023_s2_0.png);padding: 0; }
div.mp_pc_con_1_sep_2023_s2_51_4::after {max-width:88px; width:100%;height:0;padding: 0 0 92.04545454545455% 0;}
.mp_pc_con_1_sep_2023_s2_72 {max-width:237px; max-height:70px; }
.mp_pc_con_1_sep_2023_s2_72::after {content: '\00a0';display: inline-block; width:237px; height:70px; background-position: 5.555555555555555% 85.85231193926846%; background-size: 107.59493670886076% 2170%; background-image: url(mp_pc_con_1_sep_2023_s2_0.png);padding: 0; }
div.mp_pc_con_1_sep_2023_s2_72::after {max-width:237px; width:100%;height:0;padding: 0 0 29.535864978902953% 0;}

@keyframes mp_pc_con_1_sep_2023_s2-frames {
    0% { background-position: 1.492537313432836% 22.67818574514039%;  }
    9.090909090909092% { background-position: 2.6315789473684212% 91.12959112959113%;  }
    18.181818181818183% { background-position: 3.8461538461538463% 0.07342143906020558%;  }
    27.27272727272727% { background-position: 4.166666666666667% 99.93136582017844%;  }
    36.36363636363637% { background-position: 10% 95.6043956043956%;  }
    45.45454545454545% { background-position: 95.53571428571429% 81.19891008174388%;  }
    54.54545454545454% { background-position: 0.6896551724137931% 38.865546218487395%;  }
    63.63636363636363% { background-position: 0.7407407407407407% 31.60878809355067%;  }
    72.72727272727273% { background-position: 2.9411764705882355% 11.656891495601172%;  }
    81.81818181818183% { background-position: 0.6172839506172839% 45.33987386124737%;  }
    90.9090909090909% { background-position: 5.555555555555555% 85.85231193926846%;  }
}

.mp_pc_con_1_sep_2023_s2-animation {
    max-width: 188px;
    max-height: 130px;
}
.mp_pc_con_1_sep_2023_s2-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 188px;
    height: 130px;
    padding: 0;
    background-image: url(mp_pc_con_1_sep_2023_s2_0.png);
    background-size: 135.63829787234042% 1168.4615384615386%; 
    animation-name: mp_pc_con_1_sep_2023_s2-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.mp_pc_con_1_sep_2023_s2-animation::after {
    max-width: 188px;
    width: 100%;
    height: 0;
    padding: 0 0 69.14893617021276% 0;
}

@keyframes mp_pc_con_1_sep_2023_s2_40-frames {
    0% { background-position: 99.46524064171123% 42.16290212183436%;  }
    25% { background-position: 97.48427672955975% 66.5303340149966%;  }
    50% { background-position: 85.43046357615894% 70.52775873886223%;  }
    75% { background-position: 95.23809523809524% 54.657534246575345%;  }
}

.mp_pc_con_1_sep_2023_s2_40-animation {
    max-width: 68px;
    max-height: 58px;
}
.mp_pc_con_1_sep_2023_s2_40-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 68px;
    height: 58px;
    padding: 0;
    background-image: url(mp_pc_con_1_sep_2023_s2_0.png);
    background-size: 375% 2618.9655172413795%; 
    animation-name: mp_pc_con_1_sep_2023_s2_40-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.mp_pc_con_1_sep_2023_s2_40-animation::after {
    max-width: 68px;
    width: 100%;
    height: 0;
    padding: 0 0 85.29411764705883% 0;
}

@keyframes mp_pc_con_1_sep_2023_s2_41-frames {
    0% { background-position: 96.44670050761421% 34.15637860082305%;  }
    25% { background-position: 98.95833333333333% 21.649484536082475%;  }
    50% { background-position: 0.5747126436781609% 60.83676268861454%;  }
    75% { background-position: 0.5208333333333334% 68.28103683492496%;  }
}

.mp_pc_con_1_sep_2023_s2_41-animation {
    max-width: 58px;
    max-height: 61px;
}
.mp_pc_con_1_sep_2023_s2_41-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 58px;
    height: 61px;
    padding: 0;
    background-image: url(mp_pc_con_1_sep_2023_s2_0.png);
    background-size: 439.6551724137931% 2490.1639344262294%; 
    animation-name: mp_pc_con_1_sep_2023_s2_41-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.mp_pc_con_1_sep_2023_s2_41-animation::after {
    max-width: 58px;
    width: 100%;
    height: 0;
    padding: 0 0 105.17241379310344% 0;
}

@keyframes mp_pc_con_1_sep_2023_s2_43-frames {
    0% { background-position: 0.5050505050505051% 72.16142270861833%;  }
    25% { background-position: 60.54054054054054% 44.22283356258597%;  }
    50% { background-position: 64.55026455026454% 35.09615384615385%;  }
    75% { background-position: 61.53846153846154% 39.60055096418733%;  }
}

.mp_pc_con_1_sep_2023_s2_43-animation {
    max-width: 57px;
    max-height: 57px;
}
.mp_pc_con_1_sep_2023_s2_43-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 57px;
    height: 57px;
    padding: 0;
    background-image: url(mp_pc_con_1_sep_2023_s2_0.png);
    background-size: 447.36842105263156% 2664.9122807017543%; 
    animation-name: mp_pc_con_1_sep_2023_s2_43-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.mp_pc_con_1_sep_2023_s2_43-animation::after {
    max-width: 57px;
    width: 100%;
    height: 0;
    padding: 0 0 100% 0;
}

@keyframes mp_pc_con_1_sep_2023_s2_44-frames {
    0% { background-position: 26.96078431372549% 78.62491490810075%;  }
    25% { background-position: 94.79166666666667% 74.2001361470388%;  }
    50% { background-position: 55.55555555555556% 49.27032661570535%;  }
    75% { background-position: 62.244897959183675% 74.40273037542661%;  }
}

.mp_pc_con_1_sep_2023_s2_44-animation {
    max-width: 51px;
    max-height: 50px;
}
.mp_pc_con_1_sep_2023_s2_44-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 51px;
    height: 50px;
    padding: 0;
    background-image: url(mp_pc_con_1_sep_2023_s2_0.png);
    background-size: 500% 3038%; 
    animation-name: mp_pc_con_1_sep_2023_s2_44-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.mp_pc_con_1_sep_2023_s2_44-animation::after {
    max-width: 51px;
    width: 100%;
    height: 0;
    padding: 0 0 98.03921568627452% 0;
}

@keyframes mp_pc_con_1_sep_2023_s2_45-frames {
    0% { background-position: 32.663316582914575% 71.5068493150685%;  }
    25% { background-position: 0.49504950495049505% 76.02459016393442%;  }
    50% { background-position: 35.53299492385787% 67.41957563312799%;  }
    75% { background-position: 97.92746113989638% 38.25136612021858%;  }
}

.mp_pc_con_1_sep_2023_s2_45-animation {
    max-width: 56px;
    max-height: 59px;
}
.mp_pc_con_1_sep_2023_s2_45-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 56px;
    height: 59px;
    padding: 0;
    background-image: url(mp_pc_con_1_sep_2023_s2_0.png);
    background-size: 455.35714285714283% 2574.576271186441%; 
    animation-name: mp_pc_con_1_sep_2023_s2_45-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.mp_pc_con_1_sep_2023_s2_45-animation::after {
    max-width: 56px;
    width: 100%;
    height: 0;
    padding: 0 0 105.35714285714286% 0;
}

@keyframes mp_pc_con_1_sep_2023_s2_46-frames {
    0% { background-position: 30.256410256410255% 75.15316541865215%;  }
    25% { background-position: 0.5347593582887701% 64.64577656675749%;  }
    50% { background-position: 45.108695652173914% 63.580667120490126%;  }
    75% { background-position: 95.74468085106383% 58.56655290102389%;  }
}

.mp_pc_con_1_sep_2023_s2_46-animation {
    max-width: 60px;
    max-height: 50px;
}
.mp_pc_con_1_sep_2023_s2_46-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 60px;
    height: 50px;
    padding: 0;
    background-image: url(mp_pc_con_1_sep_2023_s2_0.png);
    background-size: 425% 3038%; 
    animation-name: mp_pc_con_1_sep_2023_s2_46-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.mp_pc_con_1_sep_2023_s2_46-animation::after {
    max-width: 60px;
    width: 100%;
    height: 0;
    padding: 0 0 83.33333333333333% 0;
}

@keyframes mp_pc_con_1_sep_2023_s2_47-frames {
    0% { background-position: 99.47643979057591% 26.00958247775496%;  }
    25% { background-position: 98.38709677419355% 46.26456477039068%;  }
    50% { background-position: 99.4475138121547% 50.480109739369%;  }
    75% { background-position: 64.8936170212766% 30.652920962199314%;  }
}

.mp_pc_con_1_sep_2023_s2_47-animation {
    max-width: 64px;
    max-height: 58px;
}
.mp_pc_con_1_sep_2023_s2_47-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 64px;
    height: 58px;
    padding: 0;
    background-image: url(mp_pc_con_1_sep_2023_s2_0.png);
    background-size: 398.4375% 2618.9655172413795%; 
    animation-name: mp_pc_con_1_sep_2023_s2_47-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.mp_pc_con_1_sep_2023_s2_47-animation::after {
    max-width: 64px;
    width: 100%;
    height: 0;
    padding: 0 0 90.625% 0;
}

@keyframes mp_pc_con_1_sep_2023_s2_48-frames {
    0% { background-position: 97.9381443298969% 30.04791238877481%;  }
    25% { background-position: 98.87640449438203% 62.663006177076184%;  }
    50% { background-position: 60.91370558375635% 77.73251866938222%;  }
    75% { background-position: 92.85714285714286% 77.6718856364874%;  }
}

.mp_pc_con_1_sep_2023_s2_48-animation {
    max-width: 61px;
    max-height: 58px;
}
.mp_pc_con_1_sep_2023_s2_48-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 61px;
    height: 58px;
    padding: 0;
    background-image: url(mp_pc_con_1_sep_2023_s2_0.png);
    background-size: 418.0327868852459% 2618.9655172413795%; 
    animation-name: mp_pc_con_1_sep_2023_s2_48-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.mp_pc_con_1_sep_2023_s2_48-animation::after {
    max-width: 61px;
    width: 100%;
    height: 0;
    padding: 0 0 95.08196721311475% 0;
}

@keyframes mp_pc_con_1_sep_2023_s2_51-frames {
    0% { background-position: 54.21686746987952% 54.67128027681661%;  }
    25% { background-position: 0.5780346820809249% 56.49484536082474%;  }
    50% { background-position: 51.21951219512195% 59.61405926946933%;  }
    75% { background-position: 0.5988023952095808% 51.46036161335188%;  }
}

.mp_pc_con_1_sep_2023_s2_51-animation {
    max-width: 89px;
    max-height: 74px;
}
.mp_pc_con_1_sep_2023_s2_51-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 89px;
    height: 74px;
    padding: 0;
    background-image: url(mp_pc_con_1_sep_2023_s2_0.png);
    background-size: 286.5168539325843% 2052.7027027027025%; 
    animation-name: mp_pc_con_1_sep_2023_s2_51-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.mp_pc_con_1_sep_2023_s2_51-animation::after {
    max-width: 89px;
    width: 100%;
    height: 0;
    padding: 0 0 83.14606741573034% 0;
}

/* $TexturePacker:SmartUpdate:aa455cbca99e4a5c8ace5e164cf0160e:7f5d029e9f38f1aa72bacef65dded28a:b6b3b75294aa12aee92a1eab3f8bd1c2$ */
