/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.JEE_CONICSECTIONS_SOL_1 {max-width:164px; max-height:139px; }
.JEE_CONICSECTIONS_SOL_1::after {content: '\00a0';display: inline-block; width:164px; height:139px; background-position: 22.56902761104442% 94.28969359331477%;background-size: 607.9268292682926% 616.5467625899281%;background-image: url(mh_xi_conicsect3.png);padding: 0; }
div.JEE_CONICSECTIONS_SOL_1::after {max-width:164px; width:100%;height:0;padding: 0 0 84.7560975609756% 0;}
.JEE_CONICSECTIONS_SOL_100 {max-width:294px; max-height:294px; }
.JEE_CONICSECTIONS_SOL_100::after {content: '\00a0';display: inline-block; width:294px; height:294px; background-position: 45.37695590327169% 61.101243339254%;background-size: 339.1156462585034% 291.4965986394558%;background-image: url(mh_xi_conicsect3.png);padding: 0; }
div.JEE_CONICSECTIONS_SOL_100::after {max-width:294px; width:100%;height:0;padding: 0 0 100% 0;}
.JEE_CONICSECTIONS_SOL_4 {max-width:382px; max-height:247px; }
.JEE_CONICSECTIONS_SOL_4::after {content: '\00a0';display: inline-block; width:382px; height:247px; background-position: 99.83739837398375% 0.16393442622950818%;background-size: 260.9947643979058% 346.96356275303646%;background-image: url(mh_xi_conicsect3.png);padding: 0; }
div.JEE_CONICSECTIONS_SOL_4::after {max-width:382px; width:100%;height:0;padding: 0 0 64.65968586387434% 0;}
.JEE_CONICSECTIONS_SOL_6 {max-width:186px; max-height:150px; }
.JEE_CONICSECTIONS_SOL_6::after {content: '\00a0';display: inline-block; width:186px; height:150px; background-position: 0.12330456226880394% 95.75671852899576%;background-size: 536.0215053763441% 571.3333333333334%;background-image: url(mh_xi_conicsect3.png);padding: 0; }
div.JEE_CONICSECTIONS_SOL_6::after {max-width:186px; width:100%;height:0;padding: 0 0 80.64516129032258% 0;}
.JEE_CONICSECTIONS_SOL_95 {max-width:243px; max-height:217px; }
.JEE_CONICSECTIONS_SOL_95::after {content: '\00a0';display: inline-block; width:243px; height:217px; background-position: 46.816976127320956% 99.84375%;background-size: 410.2880658436214% 394.93087557603684%;background-image: url(mh_xi_conicsect3.png);padding: 0; }
div.JEE_CONICSECTIONS_SOL_95::after {max-width:243px; width:100%;height:0;padding: 0 0 89.30041152263375% 0;}
.JEE_CONICSECTIONS_SOL_96 {max-width:370px; max-height:285px; }
.JEE_CONICSECTIONS_SOL_96::after {content: '\00a0';display: inline-block; width:370px; height:285px; background-position: 97.92663476874003% 43.53146853146853%;background-size: 269.4594594594595% 300.70175438596493%;background-image: url(mh_xi_conicsect3.png);padding: 0; }
div.JEE_CONICSECTIONS_SOL_96::after {max-width:370px; width:100%;height:0;padding: 0 0 77.02702702702703% 0;}
.JEE_CONICSECTIONS_SOL_97 {max-width:287px; max-height:264px; }
.JEE_CONICSECTIONS_SOL_97::after {content: '\00a0';display: inline-block; width:287px; height:264px; background-position: 86.47887323943662% 90.21922428330522%;background-size: 347.3867595818815% 324.6212121212121%;background-image: url(mh_xi_conicsect3.png);padding: 0; }
div.JEE_CONICSECTIONS_SOL_97::after {max-width:287px; width:100%;height:0;padding: 0 0 91.98606271777004% 0;}
.JEE_CONICSECTIONS_SOL_98 {max-width:200px; max-height:239px; }
.JEE_CONICSECTIONS_SOL_98::after {content: '\00a0';display: inline-block; width:200px; height:239px; background-position: 48.180677540777914% 0.16181229773462782%;background-size: 498.5% 358.5774058577406%;background-image: url(mh_xi_conicsect3.png);padding: 0; }
div.JEE_CONICSECTIONS_SOL_98::after {max-width:200px; width:100%;height:0;padding: 0 0 119.5% 0;}
.jee_mt_st_24feb21s1q68_sol {max-width:382px; max-height:342px; }
.jee_mt_st_24feb21s1q68_sol::after {content: '\00a0';display: inline-block; width:382px; height:342px; background-position: 0.16260162601626016% 0.1941747572815534%;background-size: 260.9947643979058% 250.58479532163742%;background-image: url(mh_xi_conicsect3.png);padding: 0; }
div.jee_mt_st_24feb21s1q68_sol::after {max-width:382px; width:100%;height:0;padding: 0 0 89.52879581151832% 0;}
.jee_mt_st_24feb21s1q69_sol {max-width:317px; max-height:332px; }
.jee_mt_st_24feb21s1q69_sol::after {content: '\00a0';display: inline-block; width:317px; height:332px; background-position: 0.14705882352941177% 65.52380952380952%;background-size: 314.5110410094637% 258.13253012048193%;background-image: url(mh_xi_conicsect3.png);padding: 0; }
div.jee_mt_st_24feb21s1q69_sol::after {max-width:317px; width:100%;height:0;padding: 0 0 104.73186119873817% 0;}

/* $TexturePacker:SmartUpdate:2242f1fd2c18e623b09b429f7af09331:af1009df573dd0712f27fce77b5fbca1:40f9019b78c152509845e4c3bd42960c$ */
