/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.cuet_ug_bio_2023_p1_41_para {max-width:323px; max-height:231px; }
.cuet_ug_bio_2023_p1_41_para::after {content: '\00a0';display: inline-block; width:323px; height:231px; background-position: 15.373352855051245% 28.4375%; background-size: 311.45510835913313% 377.05627705627705%; background-image: url(cuet2023_0.png);padding: 0; }
div.cuet_ug_bio_2023_p1_41_para::after {max-width:323px; width:100%;height:0;padding: 0 0 71.51702786377709% 0;}
.cuet_ug_chem_2023_p1_12 {max-width:103px; max-height:500px; }
.cuet_ug_chem_2023_p1_12::after {content: '\00a0';display: inline-block; width:103px; height:500px; background-position: 0.11074197120708748% 0.2695417789757412%; background-size: 976.6990291262136% 174.2%; background-image: url(cuet2023_0.png);padding: 0; }
div.cuet_ug_chem_2023_p1_12::after {max-width:103px; width:100%;height:0;padding: 0 0 485.43689320388347% 0;}
.cuet_ug_chem_2023_p1_14 {max-width:241px; max-height:55px; }
.cuet_ug_chem_2023_p1_14::after {content: '\00a0';display: inline-block; width:241px; height:55px; background-position: 87.97385620915033% 87.13235294117646%; background-size: 417.4273858921162% 1583.6363636363637%; background-image: url(cuet2023_0.png);padding: 0; }
div.cuet_ug_chem_2023_p1_14::after {max-width:241px; width:100%;height:0;padding: 0 0 22.821576763485478% 0;}
.cuet_ug_chem_2023_p1_19 {max-width:54px; max-height:99px; }
.cuet_ug_chem_2023_p1_19::after {content: '\00a0';display: inline-block; width:54px; height:99px; background-position: 97.58403361344538% 0.12953367875647667%; background-size: 1862.962962962963% 879.7979797979798%; background-image: url(cuet2023_0.png);padding: 0; }
div.cuet_ug_chem_2023_p1_19::after {max-width:54px; width:100%;height:0;padding: 0 0 183.33333333333334% 0;}
.cuet_ug_chem_2023_p1_24 {max-width:400px; max-height:93px; }
.cuet_ug_chem_2023_p1_24::after {content: '\00a0';display: inline-block; width:400px; height:93px; background-position: 87.12871287128714% 0.12853470437017994%; background-size: 251.5% 936.5591397849462%; background-image: url(cuet2023_0.png);padding: 0; }
div.cuet_ug_chem_2023_p1_24::after {max-width:400px; width:100%;height:0;padding: 0 0 23.25% 0;}
.cuet_ug_chem_2023_p1_28 {max-width:323px; max-height:73px; }
.cuet_ug_chem_2023_p1_28::after {content: '\00a0';display: inline-block; width:323px; height:73px; background-position: 66.03221083455344% 69.54887218045113%; background-size: 311.45510835913313% 1193.150684931507%; background-image: url(cuet2023_0.png);padding: 0; }
div.cuet_ug_chem_2023_p1_28::after {max-width:323px; width:100%;height:0;padding: 0 0 22.60061919504644% 0;}
.cuet_ug_chem_2023_p1_3 {max-width:301px; max-height:100px; }
.cuet_ug_chem_2023_p1_3::after {content: '\00a0';display: inline-block; width:301px; height:100px; background-position: 63.97163120567376% 51.880674448767834%; background-size: 334.21926910299004% 871%; background-image: url(cuet2023_0.png);padding: 0; }
div.cuet_ug_chem_2023_p1_3::after {max-width:301px; width:100%;height:0;padding: 0 0 33.222591362126245% 0;}
.cuet_ug_chem_2023_p1_37 {max-width:343px; max-height:39px; }
.cuet_ug_chem_2023_p1_37::after {content: '\00a0';display: inline-block; width:343px; height:39px; background-position: 79.63800904977376% 17.78846153846154%; background-size: 293.29446064139944% 2233.3333333333335%; background-image: url(cuet2023_0.png);padding: 0; }
div.cuet_ug_chem_2023_p1_37::after {max-width:343px; width:100%;height:0;padding: 0 0 11.370262390670554% 0;}
.cuet_ug_chem_2023_p1_37_3 {max-width:111px; max-height:57px; }
.cuet_ug_chem_2023_p1_37_3::after {content: '\00a0';display: inline-block; width:111px; height:57px; background-position: 68.49162011173185% 94.22604422604422%; background-size: 906.3063063063063% 1528.0701754385964%; background-image: url(cuet2023_0.png);padding: 0; }
div.cuet_ug_chem_2023_p1_37_3::after {max-width:111px; width:100%;height:0;padding: 0 0 51.351351351351354% 0;}
.cuet_ug_chem_2023_p1_37_4 {max-width:101px; max-height:53px; }
.cuet_ug_chem_2023_p1_37_4::after {content: '\00a0';display: inline-block; width:101px; height:53px; background-position: 80.11049723756906% 93.76528117359413%; background-size: 996.039603960396% 1643.3962264150944%; background-image: url(cuet2023_0.png);padding: 0; }
div.cuet_ug_chem_2023_p1_37_4::after {max-width:101px; width:100%;height:0;padding: 0 0 52.475247524752476% 0;}
.cuet_ug_chem_2023_p1_3_1 {max-width:159px; max-height:81px; }
.cuet_ug_chem_2023_p1_3_1::after {content: '\00a0';display: inline-block; width:159px; height:81px; background-position: 88.90200708382527% 46.835443037974684%; background-size: 632.7044025157232% 1075.3086419753085%; background-image: url(cuet2023_0.png);padding: 0; }
div.cuet_ug_chem_2023_p1_3_1::after {max-width:159px; width:100%;height:0;padding: 0 0 50.943396226415096% 0;}
.cuet_ug_chem_2023_p1_3_2 {max-width:159px; max-height:81px; }
.cuet_ug_chem_2023_p1_3_2::after {content: '\00a0';display: inline-block; width:159px; height:81px; background-position: 90.20070838252657% 57.21518987341772%; background-size: 632.7044025157232% 1075.3086419753085%; background-image: url(cuet2023_0.png);padding: 0; }
div.cuet_ug_chem_2023_p1_3_2::after {max-width:159px; width:100%;height:0;padding: 0 0 50.943396226415096% 0;}
.cuet_ug_chem_2023_p1_3_3 {max-width:160px; max-height:81px; }
.cuet_ug_chem_2023_p1_3_3::after {content: '\00a0';display: inline-block; width:160px; height:81px; background-position: 78.1323877068558% 79.62025316455696%; background-size: 628.75% 1075.3086419753085%; background-image: url(cuet2023_0.png);padding: 0; }
div.cuet_ug_chem_2023_p1_3_3::after {max-width:160px; width:100%;height:0;padding: 0 0 50.625% 0;}
.cuet_ug_chem_2023_p1_3_4 {max-width:158px; max-height:80px; }
.cuet_ug_chem_2023_p1_3_4::after {content: '\00a0';display: inline-block; width:158px; height:80px; background-position: 91.39150943396227% 67.5094816687737%; background-size: 636.7088607594936% 1088.75%; background-image: url(cuet2023_0.png);padding: 0; }
div.cuet_ug_chem_2023_p1_3_4::after {max-width:158px; width:100%;height:0;padding: 0 0 50.63291139240506% 0;}
.cuet_ug_chem_2023_p1_40_1 {max-width:152px; max-height:86px; }
.cuet_ug_chem_2023_p1_40_1::after {content: '\00a0';display: inline-block; width:152px; height:86px; background-position: 34.894613583138174% 67.64331210191082%; background-size: 661.8421052631579% 1012.7906976744187%; background-image: url(cuet2023_0.png);padding: 0; }
div.cuet_ug_chem_2023_p1_40_1::after {max-width:152px; width:100%;height:0;padding: 0 0 56.578947368421055% 0;}
.cuet_ug_chem_2023_p1_40_3 {max-width:168px; max-height:75px; }
.cuet_ug_chem_2023_p1_40_3::after {content: '\00a0';display: inline-block; width:168px; height:75px; background-position: 98.09069212410502% 77.26130653266331%; background-size: 598.8095238095239% 1161.3333333333333%; background-image: url(cuet2023_0.png);padding: 0; }
div.cuet_ug_chem_2023_p1_40_3::after {max-width:168px; width:100%;height:0;padding: 0 0 44.642857142857146% 0;}
.cuet_ug_chem_2023_p1_8_1 {max-width:225px; max-height:49px; }
.cuet_ug_chem_2023_p1_8_1::after {content: '\00a0';display: inline-block; width:225px; height:49px; background-position: 42.89372599231754% 99.87834549878346%; background-size: 447.1111111111111% 1777.5510204081634%; background-image: url(cuet2023_0.png);padding: 0; }
div.cuet_ug_chem_2023_p1_8_1::after {max-width:225px; width:100%;height:0;padding: 0 0 21.77777777777778% 0;}
.cuet_ug_chem_2023_p1_8_2 {max-width:345px; max-height:116px; }
.cuet_ug_chem_2023_p1_8_2::after {content: '\00a0';display: inline-block; width:345px; height:116px; background-position: 15.885022692889562% 54.83443708609271%; background-size: 291.59420289855075% 750.8620689655172%; background-image: url(cuet2023_0.png);padding: 0; }
div.cuet_ug_chem_2023_p1_8_2::after {max-width:345px; width:100%;height:0;padding: 0 0 33.6231884057971% 0;}
.cuet_ug_chem_2023_p1_8_3 {max-width:333px; max-height:125px; }
.cuet_ug_chem_2023_p1_8_3::after {content: '\00a0';display: inline-block; width:333px; height:125px; background-position: 0.1485884101040119% 99.73190348525469%; background-size: 302.1021021021021% 696.8%; background-image: url(cuet2023_0.png);padding: 0; }
div.cuet_ug_chem_2023_p1_8_3::after {max-width:333px; width:100%;height:0;padding: 0 0 37.53753753753754% 0;}
.cuet_ug_chem_2023_p1_8_4 {max-width:266px; max-height:81px; }
.cuet_ug_chem_2023_p1_8_4::after {content: '\00a0';display: inline-block; width:266px; height:81px; background-position: 53.24324324324324% 79.62025316455696%; background-size: 378.1954887218045% 1075.3086419753085%; background-image: url(cuet2023_0.png);padding: 0; }
div.cuet_ug_chem_2023_p1_8_4::after {max-width:266px; width:100%;height:0;padding: 0 0 30.451127819548873% 0;}
.cuet_ug_chem_2023_p1_9 {max-width:277px; max-height:60px; }
.cuet_ug_chem_2023_p1_9::after {content: '\00a0';display: inline-block; width:277px; height:60px; background-position: 45.953360768175585% 93.711467324291%; background-size: 363.1768953068592% 1451.6666666666667%; background-image: url(cuet2023_0.png);padding: 0; }
div.cuet_ug_chem_2023_p1_9::after {max-width:277px; width:100%;height:0;padding: 0 0 21.660649819494584% 0;}
.cuet_ug_chem_2023_p1_9_1 {max-width:278px; max-height:48px; }
.cuet_ug_chem_2023_p1_9_1::after {content: '\00a0';display: inline-block; width:278px; height:48px; background-position: 54.120879120879124% 86.39125151883354%; background-size: 361.8705035971223% 1814.5833333333333%; background-image: url(cuet2023_0.png);padding: 0; }
div.cuet_ug_chem_2023_p1_9_1::after {max-width:278px; width:100%;height:0;padding: 0 0 17.26618705035971% 0;}
.cuet_ug_chem_2023_p1_9_2 {max-width:312px; max-height:53px; }
.cuet_ug_chem_2023_p1_9_2::after {content: '\00a0';display: inline-block; width:312px; height:53px; background-position: 64.98559077809799% 61.24694376528117%; background-size: 322.43589743589746% 1643.3962264150944%; background-image: url(cuet2023_0.png);padding: 0; }
div.cuet_ug_chem_2023_p1_9_2::after {max-width:312px; width:100%;height:0;padding: 0 0 16.987179487179485% 0;}
.cuet_ug_chem_2023_p1_9_3 {max-width:381px; max-height:52px; }
.cuet_ug_chem_2023_p1_9_3::after {content: '\00a0';display: inline-block; width:381px; height:52px; background-position: 84.48% 11.5995115995116%; background-size: 264.04199475065616% 1675%; background-image: url(cuet2023_0.png);padding: 0; }
div.cuet_ug_chem_2023_p1_9_3::after {max-width:381px; width:100%;height:0;padding: 0 0 13.648293963254593% 0;}
.cuet_ug_gs_2023_p1_27 {max-width:296px; max-height:212px; }
.cuet_ug_gs_2023_p1_27::after {content: '\00a0';display: inline-block; width:296px; height:212px; background-position: 0.14084507042253522% 80.57663125948406%; background-size: 339.86486486486484% 410.8490566037736%; background-image: url(cuet2023_0.png);padding: 0; }
div.cuet_ug_gs_2023_p1_27::after {max-width:296px; width:100%;height:0;padding: 0 0 71.62162162162163% 0;}
.cuet_ug_gs_2023_p1_35 {max-width:95px; max-height:118px; }
.cuet_ug_gs_2023_p1_35::after {content: '\00a0';display: inline-block; width:95px; height:118px; background-position: 32.711306256860595% 82.07171314741036%; background-size: 1058.9473684210527% 738.1355932203389%; background-image: url(cuet2023_0.png);padding: 0; }
div.cuet_ug_gs_2023_p1_35::after {max-width:95px; width:100%;height:0;padding: 0 0 124.21052631578948% 0;}
.cuet_ug_gs_2023_p1_35_1 {max-width:81px; max-height:81px; }
.cuet_ug_gs_2023_p1_35_1::after {content: '\00a0';display: inline-block; width:81px; height:81px; background-position: 99.89189189189189% 12.784810126582279%; background-size: 1241.9753086419753% 1075.3086419753085%; background-image: url(cuet2023_0.png);padding: 0; }
div.cuet_ug_gs_2023_p1_35_1::after {max-width:81px; width:100%;height:0;padding: 0 0 100% 0;}
.cuet_ug_gs_2023_p1_35_2 {max-width:81px; max-height:81px; }
.cuet_ug_gs_2023_p1_35_2::after {content: '\00a0';display: inline-block; width:81px; height:81px; background-position: 99.89189189189189% 23.164556962025316%; background-size: 1241.9753086419753% 1075.3086419753085%; background-image: url(cuet2023_0.png);padding: 0; }
div.cuet_ug_gs_2023_p1_35_2::after {max-width:81px; width:100%;height:0;padding: 0 0 100% 0;}
.cuet_ug_gs_2023_p1_35_3 {max-width:81px; max-height:81px; }
.cuet_ug_gs_2023_p1_35_3::after {content: '\00a0';display: inline-block; width:81px; height:81px; background-position: 99.89189189189189% 33.54430379746835%; background-size: 1241.9753086419753% 1075.3086419753085%; background-image: url(cuet2023_0.png);padding: 0; }
div.cuet_ug_gs_2023_p1_35_3::after {max-width:81px; width:100%;height:0;padding: 0 0 100% 0;}
.cuet_ug_gs_2023_p1_35_4 {max-width:81px; max-height:81px; }
.cuet_ug_gs_2023_p1_35_4::after {content: '\00a0';display: inline-block; width:81px; height:81px; background-position: 99.89189189189189% 43.924050632911396%; background-size: 1241.9753086419753% 1075.3086419753085%; background-image: url(cuet2023_0.png);padding: 0; }
div.cuet_ug_gs_2023_p1_35_4::after {max-width:81px; width:100%;height:0;padding: 0 0 100% 0;}
.cuet_ug_gs_2023_p1_40 {max-width:422px; max-height:180px; }
.cuet_ug_gs_2023_p1_40::after {content: '\00a0';display: inline-block; width:422px; height:180px; background-position: 17.97945205479452% 0.1447178002894356%; background-size: 238.38862559241707% 483.8888888888889%; background-image: url(cuet2023_0.png);padding: 0; }
div.cuet_ug_gs_2023_p1_40::after {max-width:422px; width:100%;height:0;padding: 0 0 42.654028436018955% 0;}
.cuet_ug_gs_2023_p1_47 {max-width:183px; max-height:181px; }
.cuet_ug_gs_2023_p1_47::after {content: '\00a0';display: inline-block; width:183px; height:181px; background-position: 86.63426488456865% 27.246376811594203%; background-size: 549.7267759562842% 481.21546961325964%; background-image: url(cuet2023_0.png);padding: 0; }
div.cuet_ug_gs_2023_p1_47::after {max-width:183px; width:100%;height:0;padding: 0 0 98.90710382513662% 0;}
.cuet_ug_gs_2023_p1_47_1 {max-width:81px; max-height:81px; }
.cuet_ug_gs_2023_p1_47_1::after {content: '\00a0';display: inline-block; width:81px; height:81px; background-position: 99.89189189189189% 54.30379746835443%; background-size: 1241.9753086419753% 1075.3086419753085%; background-image: url(cuet2023_0.png);padding: 0; }
div.cuet_ug_gs_2023_p1_47_1::after {max-width:81px; width:100%;height:0;padding: 0 0 100% 0;}
.cuet_ug_gs_2023_p1_47_2 {max-width:81px; max-height:81px; }
.cuet_ug_gs_2023_p1_47_2::after {content: '\00a0';display: inline-block; width:81px; height:81px; background-position: 98.91891891891892% 87.46835443037975%; background-size: 1241.9753086419753% 1075.3086419753085%; background-image: url(cuet2023_0.png);padding: 0; }
div.cuet_ug_gs_2023_p1_47_2::after {max-width:81px; width:100%;height:0;padding: 0 0 100% 0;}
.cuet_ug_gs_2023_p1_47_3 {max-width:81px; max-height:81px; }
.cuet_ug_gs_2023_p1_47_3::after {content: '\00a0';display: inline-block; width:81px; height:81px; background-position: 89.4054054054054% 97.0886075949367%; background-size: 1241.9753086419753% 1075.3086419753085%; background-image: url(cuet2023_0.png);padding: 0; }
div.cuet_ug_gs_2023_p1_47_3::after {max-width:81px; width:100%;height:0;padding: 0 0 100% 0;}
.cuet_ug_gs_2023_p1_47_4 {max-width:81px; max-height:81px; }
.cuet_ug_gs_2023_p1_47_4::after {content: '\00a0';display: inline-block; width:81px; height:81px; background-position: 98.27027027027027% 97.84810126582279%; background-size: 1241.9753086419753% 1075.3086419753085%; background-image: url(cuet2023_0.png);padding: 0; }
div.cuet_ug_gs_2023_p1_47_4::after {max-width:81px; width:100%;height:0;padding: 0 0 100% 0;}
.cuet_ug_gs_2023_p1_7 {max-width:283px; max-height:211px; }
.cuet_ug_gs_2023_p1_7::after {content: '\00a0';display: inline-block; width:283px; height:211px; background-position: 59.33609958506224% 28.484848484848484%; background-size: 355.47703180212017% 412.7962085308057%; background-image: url(cuet2023_0.png);padding: 0; }
div.cuet_ug_gs_2023_p1_7::after {max-width:283px; width:100%;height:0;padding: 0 0 74.5583038869258% 0;}

@keyframes cuet_ug_chem_2023_p1-frames {
    0% { background-position: 63.97163120567376% 51.880674448767834%;  }
    12.5% { background-position: 45.953360768175585% 93.711467324291%;  }
    25% { background-position: 0.11074197120708748% 0.2695417789757412%;  }
    37.5% { background-position: 87.97385620915033% 87.13235294117646%;  }
    50% { background-position: 97.58403361344538% 0.12953367875647667%;  }
    62.5% { background-position: 87.12871287128714% 0.12853470437017994%;  }
    75% { background-position: 66.03221083455344% 69.54887218045113%;  }
    87.5% { background-position: 79.63800904977376% 17.78846153846154%;  }
}

.cuet_ug_chem_2023_p1-animation {
    max-width: 301px;
    max-height: 100px;
}
.cuet_ug_chem_2023_p1-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 301px;
    height: 100px;
    padding: 0;
    background-image: url(cuet2023_0.png);
    background-size: 334.21926910299004% 871%; 
    animation-name: cuet_ug_chem_2023_p1-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.cuet_ug_chem_2023_p1-animation::after {
    max-width: 301px;
    width: 100%;
    height: 0;
    padding: 0 0 33.222591362126245% 0;
}

@keyframes cuet_ug_chem_2023_p1_3-frames {
    0% { background-position: 88.90200708382527% 46.835443037974684%;  }
    25% { background-position: 90.20070838252657% 57.21518987341772%;  }
    50% { background-position: 78.1323877068558% 79.62025316455696%;  }
    75% { background-position: 91.39150943396227% 67.5094816687737%;  }
}

.cuet_ug_chem_2023_p1_3-animation {
    max-width: 159px;
    max-height: 81px;
}
.cuet_ug_chem_2023_p1_3-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 159px;
    height: 81px;
    padding: 0;
    background-image: url(cuet2023_0.png);
    background-size: 632.7044025157232% 1075.3086419753085%; 
    animation-name: cuet_ug_chem_2023_p1_3-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.cuet_ug_chem_2023_p1_3-animation::after {
    max-width: 159px;
    width: 100%;
    height: 0;
    padding: 0 0 50.943396226415096% 0;
}

@keyframes cuet_ug_chem_2023_p1_37-frames {
    0% { background-position: 68.49162011173185% 94.22604422604422%;  }
    50% { background-position: 80.11049723756906% 93.76528117359413%;  }
}

.cuet_ug_chem_2023_p1_37-animation {
    max-width: 111px;
    max-height: 57px;
}
.cuet_ug_chem_2023_p1_37-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 111px;
    height: 57px;
    padding: 0;
    background-image: url(cuet2023_0.png);
    background-size: 906.3063063063063% 1528.0701754385964%; 
    animation-name: cuet_ug_chem_2023_p1_37-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.cuet_ug_chem_2023_p1_37-animation::after {
    max-width: 111px;
    width: 100%;
    height: 0;
    padding: 0 0 51.351351351351354% 0;
}

@keyframes cuet_ug_chem_2023_p1_40-frames {
    0% { background-position: 34.894613583138174% 67.64331210191082%;  }
    50% { background-position: 98.09069212410502% 77.26130653266331%;  }
}

.cuet_ug_chem_2023_p1_40-animation {
    max-width: 152px;
    max-height: 86px;
}
.cuet_ug_chem_2023_p1_40-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 152px;
    height: 86px;
    padding: 0;
    background-image: url(cuet2023_0.png);
    background-size: 661.8421052631579% 1012.7906976744187%; 
    animation-name: cuet_ug_chem_2023_p1_40-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.cuet_ug_chem_2023_p1_40-animation::after {
    max-width: 152px;
    width: 100%;
    height: 0;
    padding: 0 0 56.578947368421055% 0;
}

@keyframes cuet_ug_chem_2023_p1_8-frames {
    0% { background-position: 42.89372599231754% 99.87834549878346%;  }
    25% { background-position: 15.885022692889562% 54.83443708609271%;  }
    50% { background-position: 0.1485884101040119% 99.73190348525469%;  }
    75% { background-position: 53.24324324324324% 79.62025316455696%;  }
}

.cuet_ug_chem_2023_p1_8-animation {
    max-width: 225px;
    max-height: 49px;
}
.cuet_ug_chem_2023_p1_8-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 225px;
    height: 49px;
    padding: 0;
    background-image: url(cuet2023_0.png);
    background-size: 447.1111111111111% 1777.5510204081634%; 
    animation-name: cuet_ug_chem_2023_p1_8-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.cuet_ug_chem_2023_p1_8-animation::after {
    max-width: 225px;
    width: 100%;
    height: 0;
    padding: 0 0 21.77777777777778% 0;
}

@keyframes cuet_ug_chem_2023_p1_9-frames {
    0% { background-position: 54.120879120879124% 86.39125151883354%;  }
    33.33333333333333% { background-position: 64.98559077809799% 61.24694376528117%;  }
    66.66666666666666% { background-position: 84.48% 11.5995115995116%;  }
}

.cuet_ug_chem_2023_p1_9-animation {
    max-width: 278px;
    max-height: 48px;
}
.cuet_ug_chem_2023_p1_9-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 278px;
    height: 48px;
    padding: 0;
    background-image: url(cuet2023_0.png);
    background-size: 361.8705035971223% 1814.5833333333333%; 
    animation-name: cuet_ug_chem_2023_p1_9-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.cuet_ug_chem_2023_p1_9-animation::after {
    max-width: 278px;
    width: 100%;
    height: 0;
    padding: 0 0 17.26618705035971% 0;
}

@keyframes cuet_ug_gs_2023_p1-frames {
    0% { background-position: 59.33609958506224% 28.484848484848484%;  }
    20% { background-position: 0.14084507042253522% 80.57663125948406%;  }
    40% { background-position: 32.711306256860595% 82.07171314741036%;  }
    60% { background-position: 17.97945205479452% 0.1447178002894356%;  }
    80% { background-position: 86.63426488456865% 27.246376811594203%;  }
}

.cuet_ug_gs_2023_p1-animation {
    max-width: 283px;
    max-height: 211px;
}
.cuet_ug_gs_2023_p1-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 283px;
    height: 211px;
    padding: 0;
    background-image: url(cuet2023_0.png);
    background-size: 355.47703180212017% 412.7962085308057%; 
    animation-name: cuet_ug_gs_2023_p1-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.cuet_ug_gs_2023_p1-animation::after {
    max-width: 283px;
    width: 100%;
    height: 0;
    padding: 0 0 74.5583038869258% 0;
}

@keyframes cuet_ug_gs_2023_p1_35-frames {
    0% { background-position: 99.89189189189189% 12.784810126582279%;  }
    25% { background-position: 99.89189189189189% 23.164556962025316%;  }
    50% { background-position: 99.89189189189189% 33.54430379746835%;  }
    75% { background-position: 99.89189189189189% 43.924050632911396%;  }
}

.cuet_ug_gs_2023_p1_35-animation {
    max-width: 81px;
    max-height: 81px;
}
.cuet_ug_gs_2023_p1_35-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 81px;
    height: 81px;
    padding: 0;
    background-image: url(cuet2023_0.png);
    background-size: 1241.9753086419753% 1075.3086419753085%; 
    animation-name: cuet_ug_gs_2023_p1_35-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.cuet_ug_gs_2023_p1_35-animation::after {
    max-width: 81px;
    width: 100%;
    height: 0;
    padding: 0 0 100% 0;
}

@keyframes cuet_ug_gs_2023_p1_47-frames {
    0% { background-position: 99.89189189189189% 54.30379746835443%;  }
    25% { background-position: 98.91891891891892% 87.46835443037975%;  }
    50% { background-position: 89.4054054054054% 97.0886075949367%;  }
    75% { background-position: 98.27027027027027% 97.84810126582279%;  }
}

.cuet_ug_gs_2023_p1_47-animation {
    max-width: 81px;
    max-height: 81px;
}
.cuet_ug_gs_2023_p1_47-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 81px;
    height: 81px;
    padding: 0;
    background-image: url(cuet2023_0.png);
    background-size: 1241.9753086419753% 1075.3086419753085%; 
    animation-name: cuet_ug_gs_2023_p1_47-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.cuet_ug_gs_2023_p1_47-animation::after {
    max-width: 81px;
    width: 100%;
    height: 0;
    padding: 0 0 100% 0;
}

/* $TexturePacker:SmartUpdate:6cec93db22e32ba43ad1f94eeb237d75:d238d706403512f87eacb3c56e199f15:995d45f17d8d2c58273bf339edd801a1$ */
