/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.upscese_prelims_2024_q_51 {max-width:360px; max-height:189px; }
.upscese_prelims_2024_q_51::after {content: '\00a0';display: inline-block; width:360px; height:189px; background-position: 0.07215007215007214% 99.66887417218543%; background-size: 485% 259.7883597883598%; background-image: url(ese2024_0.png);padding: 0; }
div.upscese_prelims_2024_q_51::after {max-width:360px; width:100%;height:0;padding: 0 0 52.5% 0;}
.upscese_prelims_2024_q_52 {max-width:360px; max-height:109px; }
.upscese_prelims_2024_q_52::after {content: '\00a0';display: inline-block; width:360px; height:109px; background-position: 52.16450216450217% 99.73821989528795%; background-size: 485% 450.45871559633025%; background-image: url(ese2024_0.png);padding: 0; }
div.upscese_prelims_2024_q_52::after {max-width:360px; width:100%;height:0;padding: 0 0 30.27777777777778% 0;}
.upscese_prelims_2024_q_53 {max-width:360px; max-height:228px; }
.upscese_prelims_2024_q_53::after {content: '\00a0';display: inline-block; width:360px; height:228px; background-position: 26.118326118326117% 0.38022813688212925%; background-size: 485% 215.35087719298247%; background-image: url(ese2024_0.png);padding: 0; }
div.upscese_prelims_2024_q_53::after {max-width:360px; width:100%;height:0;padding: 0 0 63.333333333333336% 0;}
.upscese_prelims_2024_q_54 {max-width:360px; max-height:185px; }
.upscese_prelims_2024_q_54::after {content: '\00a0';display: inline-block; width:360px; height:185px; background-position: 52.16450216450217% 63.72549019607843%; background-size: 485% 265.4054054054054%; background-image: url(ese2024_0.png);padding: 0; }
div.upscese_prelims_2024_q_54::after {max-width:360px; width:100%;height:0;padding: 0 0 51.388888888888886% 0;}
.upscese_prelims_2024_q_56 {max-width:360px; max-height:155px; }
.upscese_prelims_2024_q_56::after {content: '\00a0';display: inline-block; width:360px; height:155px; background-position: 99.92784992784993% 0.2976190476190476%; background-size: 485% 316.7741935483871%; background-image: url(ese2024_0.png);padding: 0; }
div.upscese_prelims_2024_q_56::after {max-width:360px; width:100%;height:0;padding: 0 0 43.05555555555556% 0;}
.upscese_prelims_2024_q_59 {max-width:360px; max-height:113px; }
.upscese_prelims_2024_q_59::after {content: '\00a0';display: inline-block; width:360px; height:113px; background-position: 99.92784992784993% 41.53439153439153%; background-size: 485% 434.5132743362832%; background-image: url(ese2024_0.png);padding: 0; }
div.upscese_prelims_2024_q_59::after {max-width:360px; width:100%;height:0;padding: 0 0 31.38888888888889% 0;}
.upscese_prelims_2024_q_60 {max-width:360px; max-height:207px; }
.upscese_prelims_2024_q_60::after {content: '\00a0';display: inline-block; width:360px; height:207px; background-position: 26.118326118326117% 80.98591549295774%; background-size: 485% 237.19806763285024%; background-image: url(ese2024_0.png);padding: 0; }
div.upscese_prelims_2024_q_60::after {max-width:360px; width:100%;height:0;padding: 0 0 57.5% 0;}
.upscese_prelims_2024_q_62 {max-width:360px; max-height:299px; }
.upscese_prelims_2024_q_62::after {content: '\00a0';display: inline-block; width:360px; height:299px; background-position: 0.07215007215007214% 0.5208333333333334%; background-size: 485% 164.2140468227425%; background-image: url(ese2024_0.png);padding: 0; }
div.upscese_prelims_2024_q_62::after {max-width:360px; width:100%;height:0;padding: 0 0 83.05555555555556% 0;}
.upscese_prelims_2024_q_64 {max-width:400px; max-height:107px; }
.upscese_prelims_2024_q_64::after {content: '\00a0';display: inline-block; width:400px; height:107px; background-position: 80.53491827637444% 70.57291666666667%; background-size: 436.5% 458.8785046728972%; background-image: url(ese2024_0.png);padding: 0; }
div.upscese_prelims_2024_q_64::after {max-width:400px; width:100%;height:0;padding: 0 0 26.75% 0;}
.upscese_prelims_2024_q_65 {max-width:400px; max-height:89px; }
.upscese_prelims_2024_q_65::after {content: '\00a0';display: inline-block; width:400px; height:89px; background-position: 80.53491827637444% 94.27860696517413%; background-size: 436.5% 551.685393258427%; background-image: url(ese2024_0.png);padding: 0; }
div.upscese_prelims_2024_q_65::after {max-width:400px; width:100%;height:0;padding: 0 0 22.25% 0;}
.upscese_prelims_2024_q_66 {max-width:360px; max-height:193px; }
.upscese_prelims_2024_q_66::after {content: '\00a0';display: inline-block; width:360px; height:193px; background-position: 52.16450216450217% 0.33557046979865773%; background-size: 485% 254.40414507772022%; background-image: url(ese2024_0.png);padding: 0; }
div.upscese_prelims_2024_q_66::after {max-width:360px; width:100%;height:0;padding: 0 0 53.611111111111114% 0;}
.upscese_prelims_2024_q_69 {max-width:300px; max-height:244px; }
.upscese_prelims_2024_q_69::after {content: '\00a0';display: inline-block; width:300px; height:244px; background-position: 74.96542185338866% 0.4048582995951417%; background-size: 582% 201.2295081967213%; background-image: url(ese2024_0.png);padding: 0; }
div.upscese_prelims_2024_q_69::after {max-width:300px; width:100%;height:0;padding: 0 0 81.33333333333333% 0;}

@keyframes upscese_prelims_2024_q-frames {
    0% { background-position: 0.07215007215007214% 99.66887417218543%;  }
    8.333333333333332% { background-position: 52.16450216450217% 99.73821989528795%;  }
    16.666666666666664% { background-position: 26.118326118326117% 0.38022813688212925%;  }
    25% { background-position: 52.16450216450217% 63.72549019607843%;  }
    33.33333333333333% { background-position: 99.92784992784993% 0.2976190476190476%;  }
    41.66666666666667% { background-position: 99.92784992784993% 41.53439153439153%;  }
    50% { background-position: 26.118326118326117% 80.98591549295774%;  }
    58.333333333333336% { background-position: 0.07215007215007214% 0.5208333333333334%;  }
    66.66666666666666% { background-position: 80.53491827637444% 70.57291666666667%;  }
    75% { background-position: 80.53491827637444% 94.27860696517413%;  }
    83.33333333333334% { background-position: 52.16450216450217% 0.33557046979865773%;  }
    91.66666666666666% { background-position: 74.96542185338866% 0.4048582995951417%;  }
}

.upscese_prelims_2024_q-animation {
    max-width: 360px;
    max-height: 189px;
}
.upscese_prelims_2024_q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 360px;
    height: 189px;
    padding: 0;
    background-image: url(ese2024_0.png);
    background-size: 485% 259.7883597883598%; 
    animation-name: upscese_prelims_2024_q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.upscese_prelims_2024_q-animation::after {
    max-width: 360px;
    width: 100%;
    height: 0;
    padding: 0 0 52.5% 0;
}

/* $TexturePacker:SmartUpdate:225c8ec58e8d9c53fac175f6503725d6:13871b58dcf24a4b03e0661682e1e36c:d48923065c23b571f3ed1b04d4b2de86$ */
