/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.aai_atc_2018_s1_19_1 {max-width:71px; max-height:71px; }
.aai_atc_2018_s1_19_1::after {content: '\00a0';display: inline-block; width:71px; height:71px; background-position: 77.39837398373983% 24.26868905742145%; background-size: 1832.394366197183% 1400%; background-image: url(aaiatc2018_0.png);padding: 0; }
div.aai_atc_2018_s1_19_1::after {max-width:71px; width:100%;height:0;padding: 0 0 100% 0;}
.aai_atc_2018_s1_19_2 {max-width:70px; max-height:83px; }
.aai_atc_2018_s1_19_2::after {content: '\00a0';display: inline-block; width:70px; height:83px; background-position: 63.444354183590576% 41.822173435784855%; background-size: 1858.5714285714287% 1197.5903614457832%; background-image: url(aaiatc2018_0.png);padding: 0; }
div.aai_atc_2018_s1_19_2::after {max-width:70px; width:100%;height:0;padding: 0 0 118.57142857142857% 0;}
.aai_atc_2018_s1_19_3 {max-width:80px; max-height:69px; }
.aai_atc_2018_s1_19_3::after {content: '\00a0';display: inline-block; width:80px; height:69px; background-position: 83.86568386568386% 24.216216216216218%; background-size: 1626.25% 1440.5797101449275%; background-image: url(aaiatc2018_0.png);padding: 0; }
div.aai_atc_2018_s1_19_3::after {max-width:80px; width:100%;height:0;padding: 0 0 86.25% 0;}
.aai_atc_2018_s1_19_4 {max-width:70px; max-height:60px; }
.aai_atc_2018_s1_19_4::after {content: '\00a0';display: inline-block; width:70px; height:60px; background-position: 89.76441917140536% 23.98286937901499%; background-size: 1858.5714285714287% 1656.6666666666667%; background-image: url(aaiatc2018_0.png);padding: 0; }
div.aai_atc_2018_s1_19_4::after {max-width:70px; width:100%;height:0;padding: 0 0 85.71428571428571% 0;}
.aai_atc_2018_s1_20 {max-width:348px; max-height:222px; }
.aai_atc_2018_s1_20::after {content: '\00a0';display: inline-block; width:348px; height:222px; background-position: 99.89506820566632% 0.12953367875647667%; background-size: 373.85057471264366% 447.7477477477477%; background-image: url(aaiatc2018_0.png);padding: 0; }
div.aai_atc_2018_s1_20::after {max-width:348px; width:100%;height:0;padding: 0 0 63.793103448275865% 0;}
.aai_atc_2018_s1_30 {max-width:276px; max-height:296px; }
.aai_atc_2018_s1_30::after {content: '\00a0';display: inline-block; width:276px; height:296px; background-position: 65.85365853658537% 0.14326647564469913%; background-size: 471.3768115942029% 335.81081081081084%; background-image: url(aaiatc2018_0.png);padding: 0; }
div.aai_atc_2018_s1_30::after {max-width:276px; width:100%;height:0;padding: 0 0 107.2463768115942% 0;}
.aai_atc_2018_s1_30_1 {max-width:288px; max-height:298px; }
.aai_atc_2018_s1_30_1::after {content: '\00a0';display: inline-block; width:288px; height:298px; background-position: 38.104639684106616% 0.14367816091954022%; background-size: 451.7361111111111% 333.5570469798658%; background-image: url(aaiatc2018_0.png);padding: 0; }
div.aai_atc_2018_s1_30_1::after {max-width:288px; width:100%;height:0;padding: 0 0 103.47222222222223% 0;}
.aai_atc_2018_s1_35 {max-width:539px; max-height:318px; }
.aai_atc_2018_s1_35::after {content: '\00a0';display: inline-block; width:539px; height:318px; background-position: 0.13123359580052493% 99.85207100591715%; background-size: 241.37291280148423% 312.57861635220127%; background-image: url(aaiatc2018_0.png);padding: 0; }
div.aai_atc_2018_s1_35::after {max-width:539px; width:100%;height:0;padding: 0 0 58.998144712430424% 0;}
.aai_atc_2018_s1_36 {max-width:374px; max-height:331px; }
.aai_atc_2018_s1_36::after {content: '\00a0';display: inline-block; width:374px; height:331px; background-position: 0.10787486515641856% 51.73453996983409%; background-size: 347.86096256684493% 300.3021148036254%; background-image: url(aaiatc2018_0.png);padding: 0; }
div.aai_atc_2018_s1_36::after {max-width:374px; width:100%;height:0;padding: 0 0 88.50267379679144% 0;}
.aai_atc_2018_s1_36_1 {max-width:384px; max-height:341px; }
.aai_atc_2018_s1_36_1::after {content: '\00a0';display: inline-block; width:384px; height:341px; background-position: 0.10905125408942203% 0.15313935681470137%; background-size: 338.8020833333333% 291.49560117302053%; background-image: url(aaiatc2018_0.png);padding: 0; }
div.aai_atc_2018_s1_36_1::after {max-width:384px; width:100%;height:0;padding: 0 0 88.80208333333333% 0;}
.aai_atc_2018_s2_26 {max-width:360px; max-height:290px; }
.aai_atc_2018_s2_26::after {content: '\00a0';display: inline-block; width:360px; height:290px; background-position: 96.17428267800213% 89.63068181818181%; background-size: 361.3888888888889% 342.7586206896552%; background-image: url(aaiatc2018_0.png);padding: 0; }
div.aai_atc_2018_s2_26::after {max-width:360px; width:100%;height:0;padding: 0 0 80.55555555555556% 0;}
.aai_atc_2018_s2_26_1 {max-width:363px; max-height:290px; }
.aai_atc_2018_s2_26_1::after {content: '\00a0';display: inline-block; width:363px; height:290px; background-position: 57.67590618336887% 92.61363636363636%; background-size: 358.40220385674934% 342.7586206896552%; background-image: url(aaiatc2018_0.png);padding: 0; }
div.aai_atc_2018_s2_26_1::after {max-width:363px; width:100%;height:0;padding: 0 0 79.88980716253444% 0;}
.aai_atc_2018_s3_12 {max-width:380px; max-height:167px; }
.aai_atc_2018_s3_12::after {content: '\00a0';display: inline-block; width:380px; height:167px; background-position: 98.26275787187839% 36.033857315598546%; background-size: 342.36842105263156% 595.2095808383234%; background-image: url(aaiatc2018_0.png);padding: 0; }
div.aai_atc_2018_s3_12::after {max-width:380px; width:100%;height:0;padding: 0 0 43.94736842105263% 0;}
.aai_atc_2018_s3_13 {max-width:172px; max-height:81px; }
.aai_atc_2018_s3_13::after {content: '\00a0';display: inline-block; width:172px; height:81px; background-position: 84.94242692648362% 60.13143483023001%; background-size: 756.3953488372093% 1227.1604938271605%; background-image: url(aaiatc2018_0.png);padding: 0; }
div.aai_atc_2018_s3_13::after {max-width:172px; width:100%;height:0;padding: 0 0 47.093023255813954% 0;}
.aai_atc_2018_s3_22_1 {max-width:81px; max-height:81px; }
.aai_atc_2018_s3_22_1::after {content: '\00a0';display: inline-block; width:81px; height:81px; background-position: 92.1311475409836% 51.04052573932092%; background-size: 1606.1728395061727% 1227.1604938271605%; background-image: url(aaiatc2018_0.png);padding: 0; }
div.aai_atc_2018_s3_22_1::after {max-width:81px; width:100%;height:0;padding: 0 0 100% 0;}
.aai_atc_2018_s3_22_2 {max-width:81px; max-height:82px; }
.aai_atc_2018_s3_22_2::after {content: '\00a0';display: inline-block; width:81px; height:82px; background-position: 78.60655737704919% 51.09649122807018%; background-size: 1606.1728395061727% 1212.1951219512196%; background-image: url(aaiatc2018_0.png);padding: 0; }
div.aai_atc_2018_s3_22_2::after {max-width:81px; width:100%;height:0;padding: 0 0 101.23456790123457% 0;}
.aai_atc_2018_s3_22_3 {max-width:82px; max-height:81px; }
.aai_atc_2018_s3_22_3::after {content: '\00a0';display: inline-block; width:82px; height:81px; background-position: 85.39786710418376% 51.04052573932092%; background-size: 1586.5853658536585% 1227.1604938271605%; background-image: url(aaiatc2018_0.png);padding: 0; }
div.aai_atc_2018_s3_22_3::after {max-width:82px; width:100%;height:0;padding: 0 0 98.78048780487805% 0;}
.aai_atc_2018_s3_22_4 {max-width:82px; max-height:82px; }
.aai_atc_2018_s3_22_4::after {content: '\00a0';display: inline-block; width:82px; height:82px; background-position: 64.06890894175554% 32.675438596491226%; background-size: 1586.5853658536585% 1212.1951219512196%; background-image: url(aaiatc2018_0.png);padding: 0; }
div.aai_atc_2018_s3_22_4::after {max-width:82px; width:100%;height:0;padding: 0 0 100% 0;}
.aai_atc_2018_s3_25 {max-width:177px; max-height:164px; }
.aai_atc_2018_s3_25::after {content: '\00a0';display: inline-block; width:177px; height:164px; background-position: 69.48398576512456% 56.144578313253014%; background-size: 735.0282485875706% 606.0975609756098%; background-image: url(aaiatc2018_0.png);padding: 0; }
div.aai_atc_2018_s3_25::after {max-width:177px; width:100%;height:0;padding: 0 0 92.65536723163842% 0;}
.aai_atc_2018_s3_30 {max-width:404px; max-height:308px; }
.aai_atc_2018_s3_30::after {content: '\00a0';display: inline-block; width:404px; height:308px; background-position: 41.917502787068% 50%; background-size: 322.029702970297% 322.72727272727275%; background-image: url(aaiatc2018_0.png);padding: 0; }
div.aai_atc_2018_s3_30::after {max-width:404px; width:100%;height:0;padding: 0 0 76.23762376237623% 0;}
.aai_atc_2018_s3_38 {max-width:404px; max-height:308px; }
.aai_atc_2018_s3_38::after {content: '\00a0';display: inline-block; width:404px; height:308px; background-position: 41.917502787068% 50%; background-size: 322.029702970297% 322.72727272727275%; background-image: url(aaiatc2018_0.png);padding: 0; }
div.aai_atc_2018_s3_38::after {max-width:404px; width:100%;height:0;padding: 0 0 76.23762376237623% 0;}

@keyframes aai_atc_2018_s1-frames {
    0% { background-position: 99.89506820566632% 0.12953367875647667%;  }
    25% { background-position: 65.85365853658537% 0.14326647564469913%;  }
    50% { background-position: 0.13123359580052493% 99.85207100591715%;  }
    75% { background-position: 0.10787486515641856% 51.73453996983409%;  }
}

.aai_atc_2018_s1-animation {
    max-width: 348px;
    max-height: 222px;
}
.aai_atc_2018_s1-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 348px;
    height: 222px;
    padding: 0;
    background-image: url(aaiatc2018_0.png);
    background-size: 373.85057471264366% 447.7477477477477%; 
    animation-name: aai_atc_2018_s1-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.aai_atc_2018_s1-animation::after {
    max-width: 348px;
    width: 100%;
    height: 0;
    padding: 0 0 63.793103448275865% 0;
}

@keyframes aai_atc_2018_s1_19-frames {
    0% { background-position: 77.39837398373983% 24.26868905742145%;  }
    25% { background-position: 63.444354183590576% 41.822173435784855%;  }
    50% { background-position: 83.86568386568386% 24.216216216216218%;  }
    75% { background-position: 89.76441917140536% 23.98286937901499%;  }
}

.aai_atc_2018_s1_19-animation {
    max-width: 71px;
    max-height: 71px;
}
.aai_atc_2018_s1_19-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 71px;
    height: 71px;
    padding: 0;
    background-image: url(aaiatc2018_0.png);
    background-size: 1832.394366197183% 1400%; 
    animation-name: aai_atc_2018_s1_19-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.aai_atc_2018_s1_19-animation::after {
    max-width: 71px;
    width: 100%;
    height: 0;
    padding: 0 0 100% 0;
}

@keyframes aai_atc_2018_s3-frames {
    0% { background-position: 98.26275787187839% 36.033857315598546%;  }
    20% { background-position: 84.94242692648362% 60.13143483023001%;  }
    40% { background-position: 69.48398576512456% 56.144578313253014%;  }
    60% { background-position: 41.917502787068% 50%;  }
    80% { background-position: 41.917502787068% 50%;  }
}

.aai_atc_2018_s3-animation {
    max-width: 380px;
    max-height: 167px;
}
.aai_atc_2018_s3-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 380px;
    height: 167px;
    padding: 0;
    background-image: url(aaiatc2018_0.png);
    background-size: 342.36842105263156% 595.2095808383234%; 
    animation-name: aai_atc_2018_s3-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.aai_atc_2018_s3-animation::after {
    max-width: 380px;
    width: 100%;
    height: 0;
    padding: 0 0 43.94736842105263% 0;
}

@keyframes aai_atc_2018_s3_22-frames {
    0% { background-position: 92.1311475409836% 51.04052573932092%;  }
    25% { background-position: 78.60655737704919% 51.09649122807018%;  }
    50% { background-position: 85.39786710418376% 51.04052573932092%;  }
    75% { background-position: 64.06890894175554% 32.675438596491226%;  }
}

.aai_atc_2018_s3_22-animation {
    max-width: 81px;
    max-height: 81px;
}
.aai_atc_2018_s3_22-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 81px;
    height: 81px;
    padding: 0;
    background-image: url(aaiatc2018_0.png);
    background-size: 1606.1728395061727% 1227.1604938271605%; 
    animation-name: aai_atc_2018_s3_22-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.aai_atc_2018_s3_22-animation::after {
    max-width: 81px;
    width: 100%;
    height: 0;
    padding: 0 0 100% 0;
}

/* $TexturePacker:SmartUpdate:0ca876497dad5648c5511c02feb805bb:d73ae1614b996c93df02a8681bbfbfbb:8a15be5b6934bcae7fe3609fb1aea214$ */
