/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.aai_atc_feb_2023_s1_104_1 {max-width:226px; max-height:334px; }
.aai_atc_feb_2023_s1_104_1::after {content: '\00a0';display: inline-block; width:226px; height:334px; background-position: 91.30434782608695% 93.33333333333333%; background-size: 222.12389380530973% 567.065868263473%; background-image: url(aaiatc2023_0.png);padding: 0; }
div.aai_atc_feb_2023_s1_104_1::after {max-width:226px; width:100%;height:0;padding: 0 0 147.78761061946904% 0;}
.aai_atc_feb_2023_s1_104_2 {max-width:227px; max-height:307px; }
.aai_atc_feb_2023_s1_104_2::after {content: '\00a0';display: inline-block; width:227px; height:307px; background-position: 0.36363636363636365% 99.93698802772526%; background-size: 221.14537444933922% 616.9381107491856%; background-image: url(aaiatc2023_0.png);padding: 0; }
div.aai_atc_feb_2023_s1_104_2::after {max-width:227px; width:100%;height:0;padding: 0 0 135.24229074889868% 0;}
.aai_atc_feb_2023_s1_104_3 {max-width:215px; max-height:315px; }
.aai_atc_feb_2023_s1_104_3::after {content: '\00a0';display: inline-block; width:215px; height:315px; background-position: 98.25783972125436% 72.19759341355288%; background-size: 233.48837209302326% 601.2698412698413%; background-image: url(aaiatc2023_0.png);padding: 0; }
div.aai_atc_feb_2023_s1_104_3::after {max-width:215px; width:100%;height:0;padding: 0 0 146.51162790697674% 0;}
.aai_atc_feb_2023_s1_104_4 {max-width:214px; max-height:316px; }
.aai_atc_feb_2023_s1_104_4::after {content: '\00a0';display: inline-block; width:214px; height:316px; background-position: 99.65277777777777% 52.154626108998734%; background-size: 234.57943925233644% 599.367088607595%; background-image: url(aaiatc2023_0.png);padding: 0; }
div.aai_atc_feb_2023_s1_104_4::after {max-width:214px; width:100%;height:0;padding: 0 0 147.66355140186917% 0;}
.aai_atc_feb_2023_s1_107_1 {max-width:280px; max-height:248px; }
.aai_atc_feb_2023_s1_107_1::after {content: '\00a0';display: inline-block; width:280px; height:248px; background-position: 0.45045045045045046% 62.27217496962333%; background-size: 179.28571428571428% 763.7096774193549%; background-image: url(aaiatc2023_0.png);padding: 0; }
div.aai_atc_feb_2023_s1_107_1::after {max-width:280px; width:100%;height:0;padding: 0 0 88.57142857142857% 0;}
.aai_atc_feb_2023_s1_107_2 {max-width:310px; max-height:211px; }
.aai_atc_feb_2023_s1_107_2::after {content: '\00a0';display: inline-block; width:310px; height:211px; background-position: 0.5208333333333334% 21.984551396316103%; background-size: 161.93548387096774% 897.6303317535545%; background-image: url(aaiatc2023_0.png);padding: 0; }
div.aai_atc_feb_2023_s1_107_2::after {max-width:310px; width:100%;height:0;padding: 0 0 68.06451612903226% 0;}
.aai_atc_feb_2023_s1_107_3 {max-width:285px; max-height:227px; }
.aai_atc_feb_2023_s1_107_3::after {content: '\00a0';display: inline-block; width:285px; height:227px; background-position: 0.4608294930875576% 47.81043791241752%; background-size: 176.140350877193% 834.3612334801762%; background-image: url(aaiatc2023_0.png);padding: 0; }
div.aai_atc_feb_2023_s1_107_3::after {max-width:285px; width:100%;height:0;padding: 0 0 79.64912280701755% 0;}
.aai_atc_feb_2023_s1_107_4 {max-width:302px; max-height:214px; }
.aai_atc_feb_2023_s1_107_4::after {content: '\00a0';display: inline-block; width:302px; height:214px; background-position: 0.5% 34.642857142857146%; background-size: 166.2251655629139% 885.0467289719626%; background-image: url(aaiatc2023_0.png);padding: 0; }
div.aai_atc_feb_2023_s1_107_4::after {max-width:302px; width:100%;height:0;padding: 0 0 70.86092715231788% 0;}
.aai_atc_feb_2023_s1_63 {max-width:485px; max-height:368px; }
.aai_atc_feb_2023_s1_63::after {content: '\00a0';display: inline-block; width:485px; height:368px; background-position: 5.882352941176471% 0.0655307994757536%; background-size: 103.50515463917526% 514.6739130434783%; background-image: url(aaiatc2023_0.png);padding: 0; }
div.aai_atc_feb_2023_s1_63::after {max-width:485px; width:100%;height:0;padding: 0 0 75.87628865979381% 0;}
.aai_atc_feb_2023_s1_86 {max-width:148px; max-height:239px; }
.aai_atc_feb_2023_s1_86::after {content: '\00a0';display: inline-block; width:148px; height:239px; background-position: 85.87570621468926% 35.22658610271903%; background-size: 339.18918918918916% 792.468619246862%; background-image: url(aaiatc2023_0.png);padding: 0; }
div.aai_atc_feb_2023_s1_86::after {max-width:148px; width:100%;height:0;padding: 0 0 161.48648648648648% 0;}
.aai_atc_feb_2023_s1_86_1 {max-width:149px; max-height:66px; }
.aai_atc_feb_2023_s1_86_1::after {content: '\00a0';display: inline-block; width:149px; height:66px; background-position: 88.38526912181302% 28.227571115973742%; background-size: 336.9127516778523% 2869.6969696969695%; background-image: url(aaiatc2023_0.png);padding: 0; }
div.aai_atc_feb_2023_s1_86_1::after {max-width:149px; width:100%;height:0;padding: 0 0 44.29530201342282% 0;}
.aai_atc_feb_2023_s1_86_2 {max-width:149px; max-height:72px; }
.aai_atc_feb_2023_s1_86_2::after {content: '\00a0';display: inline-block; width:149px; height:72px; background-position: 88.38526912181302% 20.30735455543359%; background-size: 336.9127516778523% 2630.5555555555557%; background-image: url(aaiatc2023_0.png);padding: 0; }
div.aai_atc_feb_2023_s1_86_2::after {max-width:149px; width:100%;height:0;padding: 0 0 48.32214765100671% 0;}
.aai_atc_feb_2023_s1_86_3 {max-width:149px; max-height:72px; }
.aai_atc_feb_2023_s1_86_3::after {content: '\00a0';display: inline-block; width:149px; height:72px; background-position: 88.38526912181302% 24.313940724478595%; background-size: 336.9127516778523% 2630.5555555555557%; background-image: url(aaiatc2023_0.png);padding: 0; }
div.aai_atc_feb_2023_s1_86_3::after {max-width:149px; width:100%;height:0;padding: 0 0 48.32214765100671% 0;}
.aai_atc_feb_2023_s1_86_4 {max-width:148px; max-height:72px; }
.aai_atc_feb_2023_s1_86_4::after {content: '\00a0';display: inline-block; width:148px; height:72px; background-position: 64.68926553672317% 98.29857299670691%; background-size: 339.18918918918916% 2630.5555555555557%; background-image: url(aaiatc2023_0.png);padding: 0; }
div.aai_atc_feb_2023_s1_86_4::after {max-width:148px; width:100%;height:0;padding: 0 0 48.648648648648646% 0;}
.aai_atc_feb_2023_s1_88 {max-width:270px; max-height:129px; }
.aai_atc_feb_2023_s1_88::after {content: '\00a0';display: inline-block; width:270px; height:129px; background-position: 0.43103448275862066% 72.1813031161473%; background-size: 185.92592592592592% 1468.2170542635658%; background-image: url(aaiatc2023_0.png);padding: 0; }
div.aai_atc_feb_2023_s1_88::after {max-width:270px; width:100%;height:0;padding: 0 0 47.77777777777778% 0;}
.aai_atc_feb_2023_s1_97 {max-width:250px; max-height:181px; }
.aai_atc_feb_2023_s1_97::after {content: '\00a0';display: inline-block; width:250px; height:181px; background-position: 0.3968253968253968% 81.9614711033275%; background-size: 200.8% 1046.4088397790056%; background-image: url(aaiatc2023_0.png);padding: 0; }
div.aai_atc_feb_2023_s1_97::after {max-width:250px; width:100%;height:0;padding: 0 0 72.4% 0;}

@keyframes aai_atc_feb_2023_s1-frames {
    0% { background-position: 5.882352941176471% 0.0655307994757536%;  }
    25% { background-position: 85.87570621468926% 35.22658610271903%;  }
    50% { background-position: 0.43103448275862066% 72.1813031161473%;  }
    75% { background-position: 0.3968253968253968% 81.9614711033275%;  }
}

.aai_atc_feb_2023_s1-animation {
    max-width: 485px;
    max-height: 368px;
}
.aai_atc_feb_2023_s1-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 485px;
    height: 368px;
    padding: 0;
    background-image: url(aaiatc2023_0.png);
    background-size: 103.50515463917526% 514.6739130434783%; 
    animation-name: aai_atc_feb_2023_s1-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.aai_atc_feb_2023_s1-animation::after {
    max-width: 485px;
    width: 100%;
    height: 0;
    padding: 0 0 75.87628865979381% 0;
}

@keyframes aai_atc_feb_2023_s1_104-frames {
    0% { background-position: 91.30434782608695% 93.33333333333333%;  }
    25% { background-position: 0.36363636363636365% 99.93698802772526%;  }
    50% { background-position: 98.25783972125436% 72.19759341355288%;  }
    75% { background-position: 99.65277777777777% 52.154626108998734%;  }
}

.aai_atc_feb_2023_s1_104-animation {
    max-width: 226px;
    max-height: 334px;
}
.aai_atc_feb_2023_s1_104-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 226px;
    height: 334px;
    padding: 0;
    background-image: url(aaiatc2023_0.png);
    background-size: 222.12389380530973% 567.065868263473%; 
    animation-name: aai_atc_feb_2023_s1_104-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.aai_atc_feb_2023_s1_104-animation::after {
    max-width: 226px;
    width: 100%;
    height: 0;
    padding: 0 0 147.78761061946904% 0;
}

@keyframes aai_atc_feb_2023_s1_107-frames {
    0% { background-position: 0.45045045045045046% 62.27217496962333%;  }
    25% { background-position: 0.5208333333333334% 21.984551396316103%;  }
    50% { background-position: 0.4608294930875576% 47.81043791241752%;  }
    75% { background-position: 0.5% 34.642857142857146%;  }
}

.aai_atc_feb_2023_s1_107-animation {
    max-width: 280px;
    max-height: 248px;
}
.aai_atc_feb_2023_s1_107-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 280px;
    height: 248px;
    padding: 0;
    background-image: url(aaiatc2023_0.png);
    background-size: 179.28571428571428% 763.7096774193549%; 
    animation-name: aai_atc_feb_2023_s1_107-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.aai_atc_feb_2023_s1_107-animation::after {
    max-width: 280px;
    width: 100%;
    height: 0;
    padding: 0 0 88.57142857142857% 0;
}

@keyframes aai_atc_feb_2023_s1_86-frames {
    0% { background-position: 88.38526912181302% 28.227571115973742%;  }
    25% { background-position: 88.38526912181302% 20.30735455543359%;  }
    50% { background-position: 88.38526912181302% 24.313940724478595%;  }
    75% { background-position: 64.68926553672317% 98.29857299670691%;  }
}

.aai_atc_feb_2023_s1_86-animation {
    max-width: 149px;
    max-height: 66px;
}
.aai_atc_feb_2023_s1_86-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 149px;
    height: 66px;
    padding: 0;
    background-image: url(aaiatc2023_0.png);
    background-size: 336.9127516778523% 2869.6969696969695%; 
    animation-name: aai_atc_feb_2023_s1_86-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.aai_atc_feb_2023_s1_86-animation::after {
    max-width: 149px;
    width: 100%;
    height: 0;
    padding: 0 0 44.29530201342282% 0;
}

/* $TexturePacker:SmartUpdate:cc68a5485c0dccc6eb10f2bf74b8ca74:125369c15c83c3abc774f1d707bd335a:bfedb254afd1564d53ac2ef5c640828b$ */
