/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.JEEMAINS_6APRIL_2023_S1_S_4 {max-width:392px; max-height:152px; }
.JEEMAINS_6APRIL_2023_S1_S_4::after {content: '\00a0';display: inline-block; width:392px; height:152px; background-position: 2.2222222222222223% 99.81132075471699%; background-size: 111.4795918367347% 448.6842105263158%; background-image: url(m_11_sequences_0.png);padding: 0; }
div.JEEMAINS_6APRIL_2023_S1_S_4::after {max-width:392px; width:100%;height:0;padding: 0 0 38.775510204081634% 0;}
.JEEMAIN_25FEB_SHIFT1_SOL_84 {max-width:315px; max-height:156px; }
.JEEMAIN_25FEB_SHIFT1_SOL_84::after {content: '\00a0';display: inline-block; width:315px; height:156px; background-position: 0.819672131147541% 70.72243346007605%; background-size: 138.73015873015873% 437.1794871794872%; background-image: url(m_11_sequences_0.png);padding: 0; }
div.JEEMAIN_25FEB_SHIFT1_SOL_84::after {max-width:315px; width:100%;height:0;padding: 0 0 49.523809523809526% 0;}
.JEE_MAIN_6APRIL_2024_S2_S_1 {max-width:151px; max-height:143px; }
.JEE_MAIN_6APRIL_2024_S2_S_1::after {content: '\00a0';display: inline-block; width:151px; height:143px; background-position: 99.65034965034965% 0.18552875695732837%; background-size: 289.4039735099338% 476.9230769230769%; background-image: url(m_11_sequences_0.png);padding: 0; }
div.JEE_MAIN_6APRIL_2024_S2_S_1::after {max-width:151px; width:100%;height:0;padding: 0 0 94.70198675496688% 0;}
.JEE_MAIN_8APRIL_2024_S1_Q_25 {max-width:283px; max-height:205px; }
.JEE_MAIN_8APRIL_2024_S1_Q_25::after {content: '\00a0';display: inline-block; width:283px; height:205px; background-position: 0.6493506493506493% 0.20964360587002095%; background-size: 154.41696113074204% 332.6829268292683%; background-image: url(m_11_sequences_0.png);padding: 0; }
div.JEE_MAIN_8APRIL_2024_S1_Q_25::after {max-width:283px; width:100%;height:0;padding: 0 0 72.43816254416961% 0;}
.JEE_MAIN_8APRIL_2024_S2_Q_25 {max-width:398px; max-height:164px; }
.JEE_MAIN_8APRIL_2024_S2_Q_25::after {content: '\00a0';display: inline-block; width:398px; height:164px; background-position: 2.5641025641025643% 39.96138996138996%; background-size: 109.79899497487438% 415.8536585365854%; background-image: url(m_11_sequences_0.png);padding: 0; }
div.JEE_MAIN_8APRIL_2024_S2_Q_25::after {max-width:398px; width:100%;height:0;padding: 0 0 41.20603015075377% 0;}


/* $TexturePacker:SmartUpdate:9cbc72a49beb7d8872a85c040b21d88b:046f4dd4a3c4b8c859021fef552b9a35:b9bc4d06eb1d8746a458e539411a981d$ */
