/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.JEEMAINS_10APRIL_2023_S1_S_80 {max-width:621px; max-height:403px; }
.JEEMAINS_10APRIL_2023_S1_S_80::after {content: '\00a0';display: inline-block; width:621px; height:403px; background-position: 0.07032348804500703% 0.06082725060827251%; background-size: 328.9855072463768% 507.94044665012404%; background-image: url(ch_xii_ch10_0.png);padding: 0; }
div.JEEMAINS_10APRIL_2023_S1_S_80::after {max-width:621px; width:100%;height:0;padding: 0 0 64.89533011272141% 0;}
.JEEMAINS_10APRIL_2023_S2_Q_70_O_1 {max-width:357px; max-height:77px; }
.JEEMAINS_10APRIL_2023_S2_Q_70_O_1::after {content: '\00a0';display: inline-block; width:357px; height:77px; background-position: 98.89589905362776% 84.27777777777777%; background-size: 277.59103641456585% 2437.6623376623374%; background-image: url(ch_xii_ch10_1.png);padding: 0; }
div.JEEMAINS_10APRIL_2023_S2_Q_70_O_1::after {max-width:357px; width:100%;height:0;padding: 0 0 21.568627450980394% 0;}
.JEEMAINS_10APRIL_2023_S2_Q_70_O_2 {max-width:417px; max-height:77px; }
.JEEMAINS_10APRIL_2023_S2_Q_70_O_2::after {content: '\00a0';display: inline-block; width:417px; height:77px; background-position: 99.30313588850174% 27.555555555555557%; background-size: 237.64988009592327% 2437.6623376623374%; background-image: url(ch_xii_ch10_1.png);padding: 0; }
div.JEEMAINS_10APRIL_2023_S2_Q_70_O_2::after {max-width:417px; width:100%;height:0;padding: 0 0 18.465227817745802% 0;}
.JEEMAINS_10APRIL_2023_S2_Q_70_O_3 {max-width:360px; max-height:62px; }
.JEEMAINS_10APRIL_2023_S2_Q_70_O_3::after {content: '\00a0';display: inline-block; width:360px; height:62px; background-position: 99.36608557844691% 80.11019283746556%; background-size: 275.27777777777777% 3027.4193548387098%; background-image: url(ch_xii_ch10_1.png);padding: 0; }
div.JEEMAINS_10APRIL_2023_S2_Q_70_O_3::after {max-width:360px; width:100%;height:0;padding: 0 0 17.22222222222222% 0;}
.JEEMAINS_10APRIL_2023_S2_Q_70_O_4 {max-width:356px; max-height:72px; }
.JEEMAINS_10APRIL_2023_S2_Q_70_O_4::after {content: '\00a0';display: inline-block; width:356px; height:72px; background-position: 98.74015748031496% 88.36565096952909%; background-size: 278.3707865168539% 2606.9444444444443%; background-image: url(ch_xii_ch10_1.png);padding: 0; }
div.JEEMAINS_10APRIL_2023_S2_Q_70_O_4::after {max-width:356px; width:100%;height:0;padding: 0 0 20.224719101123597% 0;}
.JEEMAINS_10APRIL_2023_S2_S_70 {max-width:767px; max-height:172px; }
.JEEMAINS_10APRIL_2023_S2_S_70::after {content: '\00a0';display: inline-block; width:767px; height:172px; background-position: 0.44642857142857145% 0.05865102639296188%; background-size: 129.20469361147326% 1091.2790697674418%; background-image: url(ch_xii_ch10_1.png);padding: 0; }
div.JEEMAINS_10APRIL_2023_S2_S_70::after {max-width:767px; width:100%;height:0;padding: 0 0 22.42503259452412% 0;}
.JEEMAINS_11APRIL_2023_S2_S_68 {max-width:431px; max-height:130px; }
.JEEMAINS_11APRIL_2023_S2_S_68::after {content: '\00a0';display: inline-block; width:431px; height:130px; background-position: 93.39285714285714% 56.9547796222095%; background-size: 229.93039443155453% 1443.8461538461538%; background-image: url(ch_xii_ch10_1.png);padding: 0; }
div.JEEMAINS_11APRIL_2023_S2_S_68::after {max-width:431px; width:100%;height:0;padding: 0 0 30.162412993039442% 0;}
.JEEMAINS_15APRIL_2023_S1_S_80 {max-width:411px; max-height:540px; }
.JEEMAINS_15APRIL_2023_S1_S_80::after {content: '\00a0';display: inline-block; width:411px; height:540px; background-position: 38.174019607843135% 0.06635700066357%; background-size: 497.08029197080293% 379.0740740740741%; background-image: url(ch_xii_ch10_0.png);padding: 0; }
div.JEEMAINS_15APRIL_2023_S1_S_80::after {max-width:411px; width:100%;height:0;padding: 0 0 131.38686131386862% 0;}
.JEEMAINS_28JULY_S1_Q_16_1 {max-width:280px; max-height:163px; }
.JEEMAINS_28JULY_S1_Q_16_1::after {content: '\00a0';display: inline-block; width:280px; height:163px; background-position: 0.14064697609001406% 91.13185530921821%; background-size: 353.92857142857144% 1151.5337423312883%; background-image: url(ch_xii_ch10_1.png);padding: 0; }
div.JEEMAINS_28JULY_S1_Q_16_1::after {max-width:280px; width:100%;height:0;padding: 0 0 58.214285714285715% 0;}
.JEEMAINS_28JULY_S1_Q_16_2 {max-width:320px; max-height:133px; }
.JEEMAINS_28JULY_S1_Q_16_2::after {content: '\00a0';display: inline-block; width:320px; height:133px; background-position: 51.886244921648284% 99.89550679205851%; background-size: 638.4375% 1539.0977443609022%; background-image: url(ch_xii_ch10_0.png);padding: 0; }
div.JEEMAINS_28JULY_S1_Q_16_2::after {max-width:320px; width:100%;height:0;padding: 0 0 41.5625% 0;}
.JEEMAINS_28JULY_S1_Q_16_3 {max-width:250px; max-height:194px; }
.JEEMAINS_28JULY_S1_Q_16_3::after {content: '\00a0';display: inline-block; width:250px; height:194px; background-position: 99.72113775794757% 41.824069077172155%; background-size: 817.2% 1055.1546391752577%; background-image: url(ch_xii_ch10_0.png);padding: 0; }
div.JEEMAINS_28JULY_S1_Q_16_3::after {max-width:250px; width:100%;height:0;padding: 0 0 77.6% 0;}
.JEEMAINS_28JULY_S1_Q_16_4 {max-width:320px; max-height:144px; }
.JEEMAINS_28JULY_S1_Q_16_4::after {content: '\00a0';display: inline-block; width:320px; height:144px; background-position: 0.14903129657228018% 99.59607616849394%; background-size: 309.6875% 1303.4722222222222%; background-image: url(ch_xii_ch10_1.png);padding: 0; }
div.JEEMAINS_28JULY_S1_Q_16_4::after {max-width:320px; width:100%;height:0;padding: 0 0 45% 0;}
.JEEMAINS_30JAN_S1_S_40 {max-width:402px; max-height:155px; }
.JEEMAINS_30JAN_S1_S_40::after {content: '\00a0';display: inline-block; width:402px; height:155px; background-position: 99.830220713073% 10.511033681765388%; background-size: 246.5174129353234% 1210.967741935484%; background-image: url(ch_xii_ch10_1.png);padding: 0; }
div.JEEMAINS_30JAN_S1_S_40::after {max-width:402px; width:100%;height:0;padding: 0 0 38.55721393034826% 0;}
.JEEMAINS_6APRIL_2023_S1_64_sol {max-width:362px; max-height:152px; }
.JEEMAINS_6APRIL_2023_S1_64_sol::after {content: '\00a0';display: inline-block; width:362px; height:152px; background-position: 0.1589825119236884% 81.68115942028986%; background-size: 273.75690607734805% 1234.8684210526317%; background-image: url(ch_xii_ch10_1.png);padding: 0; }
div.JEEMAINS_6APRIL_2023_S1_64_sol::after {max-width:362px; width:100%;height:0;padding: 0 0 41.988950276243095% 0;}
.JEEMAIN_24FEB_SHIFT2_SOL_39 {max-width:453px; max-height:333px; }
.JEEMAIN_24FEB_SHIFT2_SOL_39::after {content: '\00a0';display: inline-block; width:453px; height:333px; background-position: 90.25157232704403% 0.058343057176196034%; background-size: 450.9933774834437% 614.7147147147147%; background-image: url(ch_xii_ch10_0.png);padding: 0; }
div.JEEMAIN_24FEB_SHIFT2_SOL_39::after {max-width:453px; width:100%;height:0;padding: 0 0 73.50993377483444% 0;}
.JEEMAIN_25FEB_SHIFT1_SOL_49 {max-width:482px; max-height:92px; }
.JEEMAIN_25FEB_SHIFT1_SOL_49::after {content: '\00a0';display: inline-block; width:482px; height:92px; background-position: 0.19646365422396855% 63.58543417366947%; background-size: 205.60165975103735% 2040.2173913043478%; background-image: url(ch_xii_ch10_1.png);padding: 0; }
div.JEEMAIN_25FEB_SHIFT1_SOL_49::after {max-width:482px; width:100%;height:0;padding: 0 0 19.08713692946058% 0;}
.JEEMAIN_26FEB_SHIFT1_Q_31_O_D {max-width:273px; max-height:197px; }
.JEEMAIN_26FEB_SHIFT1_Q_31_O_D::after {content: '\00a0';display: inline-block; width:273px; height:197px; background-position: 99.26553672316385% 74.05405405405405%; background-size: 748.3516483516484% 1039.0862944162436%; background-image: url(ch_xii_ch10_0.png);padding: 0; }
div.JEEMAIN_26FEB_SHIFT1_Q_31_O_D::after {max-width:273px; width:100%;height:0;padding: 0 0 72.16117216117216% 0;}
.JEEMAIN_26FEB_SHIFT1_SOL_31 {max-width:502px; max-height:220px; }
.JEEMAIN_26FEB_SHIFT1_SOL_31::after {content: '\00a0';display: inline-block; width:502px; height:220px; background-position: 79.88319273199221% 99.50738916256158%; background-size: 406.9721115537849% 930.4545454545455%; background-image: url(ch_xii_ch10_0.png);padding: 0; }
div.JEEMAIN_26FEB_SHIFT1_SOL_31::after {max-width:502px; width:100%;height:0;padding: 0 0 43.82470119521912% 0;}
.JEE_Main_1_Sep_2021_Shift_2_39_Q_1_S {max-width:297px; max-height:208px; }
.JEE_Main_1_Sep_2021_Shift_2_39_Q_1_S::after {content: '\00a0';display: inline-block; width:297px; height:208px; background-position: 57.21649484536083% 73.62697117998913%; background-size: 687.8787878787879% 984.1346153846154%; background-image: url(ch_xii_ch10_0.png);padding: 0; }
div.JEE_Main_1_Sep_2021_Shift_2_39_Q_1_S::after {max-width:297px; width:100%;height:0;padding: 0 0 70.03367003367003% 0;}
.JEE_Main_20_July_2021_Eve_43_s {max-width:316px; max-height:327px; }
.JEE_Main_20_July_2021_Eve_43_s::after {content: '\00a0';display: inline-block; width:316px; height:327px; background-position: 59.29357266936885% 43.895348837209305%; background-size: 646.5189873417721% 625.9938837920489%; background-image: url(ch_xii_ch10_0.png);padding: 0; }
div.JEE_Main_20_July_2021_Eve_43_s::after {max-width:316px; width:100%;height:0;padding: 0 0 103.48101265822785% 0;}
.JEE_Main_20_July_2021_mor_38_s {max-width:139px; max-height:84px; }
.JEE_Main_20_July_2021_mor_38_s::after {content: '\00a0';display: inline-block; width:139px; height:84px; background-position: 19.432773109243698% 75.0382068262863%; background-size: 1469.7841726618706% 2436.904761904762%; background-image: url(ch_xii_ch10_0.png);padding: 0; }
div.JEE_Main_20_July_2021_mor_38_s::after {max-width:139px; width:100%;height:0;padding: 0 0 60.431654676258994% 0;}
.JEE_Main_22_July_2021_eve_44_q {max-width:117px; max-height:59px; }
.JEE_Main_22_July_2021_eve_44_q::after {content: '\00a0';display: inline-block; width:117px; height:59px; background-position: 18.74350986500519% 90.79476861167002%; background-size: 1746.1538461538462% 3469.491525423729%; background-image: url(ch_xii_ch10_0.png);padding: 0; }
div.JEE_Main_22_July_2021_eve_44_q::after {max-width:117px; width:100%;height:0;padding: 0 0 50.427350427350426% 0;}
.JEE_Main_22_July_2021_eve_44_q_1 {max-width:134px; max-height:85px; }
.JEE_Main_22_July_2021_eve_44_q_1::after {content: '\00a0';display: inline-block; width:134px; height:85px; background-position: 19.381875327396543% 79.40876656472987%; background-size: 1524.6268656716418% 2408.235294117647%; background-image: url(ch_xii_ch10_0.png);padding: 0; }
div.JEE_Main_22_July_2021_eve_44_q_1::after {max-width:134px; width:100%;height:0;padding: 0 0 63.43283582089552% 0;}
.JEE_Main_22_July_2021_eve_44_q_2 {max-width:179px; max-height:91px; }
.JEE_Main_22_July_2021_eve_44_q_2::after {content: '\00a0';display: inline-block; width:179px; height:91px; background-position: 20.547210300429185% 61.40081799591002%; background-size: 1141.340782122905% 2249.4505494505493%; background-image: url(ch_xii_ch10_0.png);padding: 0; }
div.JEE_Main_22_July_2021_eve_44_q_2::after {max-width:179px; width:100%;height:0;padding: 0 0 50.83798882681564% 0;}
.JEE_Main_22_July_2021_eve_44_s {max-width:351px; max-height:338px; }
.JEE_Main_22_July_2021_eve_44_s::after {content: '\00a0';display: inline-block; width:351px; height:338px; background-position: 61.170212765957444% 24.341720304271504%; background-size: 582.0512820512821% 605.6213017751479%; background-image: url(ch_xii_ch10_0.png);padding: 0; }
div.JEE_Main_22_July_2021_eve_44_s::after {max-width:351px; width:100%;height:0;padding: 0 0 96.29629629629629% 0;}
.JEE_Main_25_July_2021_Morning_31_q {max-width:392px; max-height:158px; }
.JEE_Main_25_July_2021_Morning_31_q::after {content: '\00a0';display: inline-block; width:392px; height:158px; background-position: 98.1636060100167% 19.604421175101802%; background-size: 252.80612244897958% 1187.9746835443038%; background-image: url(ch_xii_ch10_1.png);padding: 0; }
div.JEE_Main_25_July_2021_Morning_31_q::after {max-width:392px; width:100%;height:0;padding: 0 0 40.30612244897959% 0;}
.JEE_Main_26_Aug_2021_Shift_1_37_Q_1_S {max-width:366px; max-height:381px; }
.JEE_Main_26_Aug_2021_Shift_1_37_Q_1_S::after {content: '\00a0';display: inline-block; width:366px; height:381px; background-position: 85.56946929039952% 20.108043217286916%; background-size: 558.1967213114754% 537.2703412073491%; background-image: url(ch_xii_ch10_0.png);padding: 0; }
div.JEE_Main_26_Aug_2021_Shift_1_37_Q_1_S::after {max-width:366px; width:100%;height:0;padding: 0 0 104.09836065573771% 0;}
.JEE_Main_31_Aug_2021_Shift_1_40_Q_1_S {max-width:123px; max-height:88px; }
.JEE_Main_31_Aug_2021_Shift_1_40_Q_1_S::after {content: '\00a0';display: inline-block; width:123px; height:88px; background-position: 99.42396313364056% 70.03912800447178%; background-size: 805.6910569105692% 2132.9545454545455%; background-image: url(ch_xii_ch10_1.png);padding: 0; }
div.JEE_Main_31_Aug_2021_Shift_1_40_Q_1_S::after {max-width:123px; width:100%;height:0;padding: 0 0 71.54471544715447% 0;}
.JEE_Main_31_Aug_2021_Shift_2_44_Q_1_S {max-width:385px; max-height:291px; }
.JEE_Main_31_Aug_2021_Shift_2_44_Q_1_S::after {content: '\00a0';display: inline-block; width:385px; height:291px; background-position: 0.06031363088057901% 48.29157175398633%; background-size: 530.6493506493506% 703.4364261168384%; background-image: url(ch_xii_ch10_0.png);padding: 0; }
div.JEE_Main_31_Aug_2021_Shift_2_44_Q_1_S::after {max-width:385px; width:100%;height:0;padding: 0 0 75.58441558441558% 0;}
.POLYMERS_Q_19 {max-width:286px; max-height:75px; }
.POLYMERS_Q_19::after {content: '\00a0';display: inline-block; width:286px; height:75px; background-position: 45.673758865248224% 94.61709211986681%; background-size: 346.5034965034965% 2502.6666666666665%; background-image: url(ch_xii_ch10_1.png);padding: 0; }
div.POLYMERS_Q_19::after {max-width:286px; width:100%;height:0;padding: 0 0 26.223776223776223% 0;}
.POLYMERS_Q_19_O_A {max-width:108px; max-height:162px; }
.POLYMERS_Q_19_O_A::after {content: '\00a0';display: inline-block; width:108px; height:162px; background-position: 97.62273901808786% 9.071618037135279%; background-size: 1891.6666666666667% 1263.5802469135801%; background-image: url(ch_xii_ch10_0.png);padding: 0; }
div.POLYMERS_Q_19_O_A::after {max-width:108px; width:100%;height:0;padding: 0 0 150% 0;}
.POLYMERS_Q_19_O_B {max-width:100px; max-height:170px; }
.POLYMERS_Q_19_O_B::after {content: '\00a0';display: inline-block; width:100px; height:170px; background-position: 97.22079258878024% 17.794352690463505%; background-size: 2043% 1204.1176470588234%; background-image: url(ch_xii_ch10_0.png);padding: 0; }
div.POLYMERS_Q_19_O_B::after {max-width:100px; width:100%;height:0;padding: 0 0 170% 0;}
.POLYMERS_Q_19_O_C {max-width:159px; max-height:144px; }
.POLYMERS_Q_19_O_C::after {content: '\00a0';display: inline-block; width:159px; height:144px; background-position: 22.39915074309979% 30.898581187598527%; background-size: 1284.9056603773586% 1421.5277777777778%; background-image: url(ch_xii_ch10_0.png);padding: 0; }
div.POLYMERS_Q_19_O_C::after {max-width:159px; width:100%;height:0;padding: 0 0 90.56603773584905% 0;}
.POLYMERS_Q_19_O_D {max-width:106px; max-height:169px; }
.POLYMERS_Q_19_O_D::after {content: '\00a0';display: inline-block; width:106px; height:169px; background-position: 97.52194114610222% 0.05324813631522897%; background-size: 1927.3584905660377% 1211.2426035502958%; background-image: url(ch_xii_ch10_0.png);padding: 0; }
div.POLYMERS_Q_19_O_D::after {max-width:106px; width:100%;height:0;padding: 0 0 159.43396226415095% 0;}
.POLYMERS_Q_23 {max-width:343px; max-height:60px; }
.POLYMERS_Q_23::after {content: '\00a0';display: inline-block; width:343px; height:60px; background-position: 96.75925925925925% 91.79966978536048%; background-size: 288.92128279883383% 3128.3333333333335%; background-image: url(ch_xii_ch10_1.png);padding: 0; }
div.POLYMERS_Q_23::after {max-width:343px; width:100%;height:0;padding: 0 0 17.49271137026239% 0;}
.POLYMERS_Q_23_O_A {max-width:137px; max-height:74px; }
.POLYMERS_Q_23_O_A::after {content: '\00a0';display: inline-block; width:137px; height:74px; background-position: 94.6135831381733% 99.83361064891847%; background-size: 723.3576642335767% 2536.4864864864867%; background-image: url(ch_xii_ch10_1.png);padding: 0; }
div.POLYMERS_Q_23_O_A::after {max-width:137px; width:100%;height:0;padding: 0 0 54.01459854014598% 0;}
.POLYMERS_Q_23_O_B {max-width:196px; max-height:76px; }
.POLYMERS_Q_23_O_B::after {content: '\00a0';display: inline-block; width:196px; height:76px; background-position: 76.85534591194968% 99.94447529150472%; background-size: 505.61224489795916% 2469.7368421052633%; background-image: url(ch_xii_ch10_1.png);padding: 0; }
div.POLYMERS_Q_23_O_B::after {max-width:196px; width:100%;height:0;padding: 0 0 38.775510204081634% 0;}
.POLYMERS_Q_23_O_C {max-width:139px; max-height:79px; }
.POLYMERS_Q_23_O_C::after {content: '\00a0';display: inline-block; width:139px; height:79px; background-position: 19.432773109243698% 83.53658536585365%; background-size: 1469.7841726618706% 2591.1392405063293%; background-image: url(ch_xii_ch10_0.png);padding: 0; }
div.POLYMERS_Q_23_O_C::after {max-width:139px; width:100%;height:0;padding: 0 0 56.83453237410072% 0;}
.POLYMERS_Q_23_O_D {max-width:150px; max-height:77px; }
.POLYMERS_Q_23_O_D::after {content: '\00a0';display: inline-block; width:150px; height:77px; background-position: 54.69678953626635% 98.94444444444444%; background-size: 660.6666666666666% 2437.6623376623374%; background-image: url(ch_xii_ch10_1.png);padding: 0; }
div.POLYMERS_Q_23_O_D::after {max-width:150px; width:100%;height:0;padding: 0 0 51.333333333333336% 0;}
.POLYMERS_Q_24_O_A {max-width:137px; max-height:80px; }
.POLYMERS_Q_24_O_A::after {content: '\00a0';display: inline-block; width:137px; height:80px; background-position: 37.704918032786885% 99.10962715637173%; background-size: 723.3576642335767% 2346.25%; background-image: url(ch_xii_ch10_1.png);padding: 0; }
div.POLYMERS_Q_24_O_A::after {max-width:137px; width:100%;height:0;padding: 0 0 58.394160583941606% 0;}
.POLYMERS_Q_24_O_B {max-width:144px; max-height:80px; }
.POLYMERS_Q_24_O_B::after {content: '\00a0';display: inline-block; width:144px; height:80px; background-position: 19.010005265929436% 87.64616166751398%; background-size: 1418.75% 2558.75%; background-image: url(ch_xii_ch10_0.png);padding: 0; }
div.POLYMERS_Q_24_O_B::after {max-width:144px; width:100%;height:0;padding: 0 0 55.55555555555556% 0;}
.POLYMERS_Q_24_O_C {max-width:226px; max-height:97px; }
.POLYMERS_Q_24_O_C::after {content: '\00a0';display: inline-block; width:226px; height:97px; background-position: 47.58169934640523% 81.68539325842697%; background-size: 438.49557522123894% 1935.0515463917525%; background-image: url(ch_xii_ch10_1.png);padding: 0; }
div.POLYMERS_Q_24_O_C::after {max-width:226px; width:100%;height:0;padding: 0 0 42.92035398230089% 0;}
.POLYMERS_Q_24_O_D {max-width:154px; max-height:85px; }
.POLYMERS_Q_24_O_D::after {content: '\00a0';display: inline-block; width:154px; height:85px; background-position: 20.27527792482795% 65.90214067278288%; background-size: 1326.6233766233765% 2408.235294117647%; background-image: url(ch_xii_ch10_0.png);padding: 0; }
div.POLYMERS_Q_24_O_D::after {max-width:154px; width:100%;height:0;padding: 0 0 55.1948051948052% 0;}
.POLYMERS_Q_25 {max-width:294px; max-height:79px; }
.POLYMERS_Q_25::after {content: '\00a0';display: inline-block; width:294px; height:79px; background-position: 99.14236706689537% 97.20528455284553%; background-size: 694.8979591836735% 2591.1392405063293%; background-image: url(ch_xii_ch10_0.png);padding: 0; }
div.POLYMERS_Q_25::after {max-width:294px; width:100%;height:0;padding: 0 0 26.87074829931973% 0;}
.POLYMERS_Q_25_O_A {max-width:179px; max-height:121px; }
.POLYMERS_Q_25_O_A::after {content: '\00a0';display: inline-block; width:179px; height:121px; background-position: 22.63948497854077% 43.97715472481828%; background-size: 1141.340782122905% 1691.7355371900826%; background-image: url(ch_xii_ch10_0.png);padding: 0; }
div.POLYMERS_Q_25_O_A::after {max-width:179px; width:100%;height:0;padding: 0 0 67.59776536312849% 0;}
.POLYMERS_Q_25_O_B {max-width:205px; max-height:93px; }
.POLYMERS_Q_25_O_B::after {content: '\00a0';display: inline-block; width:205px; height:93px; background-position: 97.83715012722647% 4.876681614349776%; background-size: 483.4146341463415% 2018.279569892473%; background-image: url(ch_xii_ch10_1.png);padding: 0; }
div.POLYMERS_Q_25_O_B::after {max-width:205px; width:100%;height:0;padding: 0 0 45.36585365853659% 0;}
.POLYMERS_Q_25_O_C {max-width:178px; max-height:113px; }
.POLYMERS_Q_25_O_C::after {content: '\00a0';display: inline-block; width:178px; height:113px; background-position: 20.750670241286862% 56.204756980351604%; background-size: 1147.752808988764% 1811.504424778761%; background-image: url(ch_xii_ch10_0.png);padding: 0; }
div.POLYMERS_Q_25_O_C::after {max-width:178px; width:100%;height:0;padding: 0 0 63.48314606741573% 0;}
.POLYMERS_Q_25_O_D {max-width:210px; max-height:85px; }
.POLYMERS_Q_25_O_D::after {content: '\00a0';display: inline-block; width:210px; height:85px; background-position: 98.46350832266326% 0.05580357142857143%; background-size: 471.9047619047619% 2208.235294117647%; background-image: url(ch_xii_ch10_1.png);padding: 0; }
div.POLYMERS_Q_25_O_D::after {max-width:210px; width:100%;height:0;padding: 0 0 40.476190476190474% 0;}
.POLYMERS_Q_26 {max-width:446px; max-height:101px; }
.POLYMERS_Q_26::after {content: '\00a0';display: inline-block; width:446px; height:101px; background-position: 97.61467889908256% 50.281531531531535%; background-size: 222.19730941704037% 1858.4158415841584%; background-image: url(ch_xii_ch10_1.png);padding: 0; }
div.POLYMERS_Q_26::after {max-width:446px; width:100%;height:0;padding: 0 0 22.6457399103139% 0;}
.POLYMERS_Q_26_O_A {max-width:192px; max-height:131px; }
.POLYMERS_Q_26_O_A::after {content: '\00a0';display: inline-block; width:192px; height:131px; background-position: 97.35278227984873% 33.55949895615866%; background-size: 1064.0625% 1562.5954198473282%; background-image: url(ch_xii_ch10_0.png);padding: 0; }
div.POLYMERS_Q_26_O_A::after {max-width:192px; width:100%;height:0;padding: 0 0 68.22916666666667% 0;}
.POLYMERS_Q_26_O_B {max-width:186px; max-height:137px; }
.POLYMERS_Q_26_O_B::after {content: '\00a0';display: inline-block; width:186px; height:137px; background-position: 97.03823371028541% 26.43979057591623%; background-size: 1098.3870967741937% 1494.1605839416059%; background-image: url(ch_xii_ch10_0.png);padding: 0; }
div.POLYMERS_Q_26_O_B::after {max-width:186px; width:100%;height:0;padding: 0 0 73.65591397849462% 0;}
.POLYMERS_Q_26_O_C {max-width:200px; max-height:113px; }
.POLYMERS_Q_26_O_C::after {content: '\00a0';display: inline-block; width:200px; height:113px; background-position: 22.89744981009224% 37.900723888314374%; background-size: 1021.5% 1811.504424778761%; background-image: url(ch_xii_ch10_0.png);padding: 0; }
div.POLYMERS_Q_26_O_C::after {max-width:200px; width:100%;height:0;padding: 0 0 56.5% 0;}
.POLYMERS_Q_26_O_D {max-width:201px; max-height:117px; }
.POLYMERS_Q_26_O_D::after {content: '\00a0';display: inline-block; width:201px; height:117px; background-position: 21.009771986970684% 50.20725388601036%; background-size: 1016.4179104477612% 1749.5726495726497%; background-image: url(ch_xii_ch10_0.png);padding: 0; }
div.POLYMERS_Q_26_O_D::after {max-width:201px; width:100%;height:0;padding: 0 0 58.208955223880594% 0;}
.POLYMERS_Q_3 {max-width:127px; max-height:93px; }
.POLYMERS_Q_3::after {content: '\00a0';display: inline-block; width:127px; height:93px; background-position: 19.989561586638832% 70.57318321392016%; background-size: 1608.6614173228347% 2201.0752688172042%; background-image: url(ch_xii_ch10_0.png);padding: 0; }
div.POLYMERS_Q_3::after {max-width:127px; width:100%;height:0;padding: 0 0 73.22834645669292% 0;}
.POLYMERS_Q_30_O_D {max-width:318px; max-height:70px; }
.POLYMERS_Q_30_O_D::after {content: '\00a0';display: inline-block; width:318px; height:70px; background-position: 90.78751857355127% 95.68345323741008%; background-size: 311.6352201257862% 2681.4285714285716%; background-image: url(ch_xii_ch10_1.png);padding: 0; }
div.POLYMERS_Q_30_O_D::after {max-width:318px; width:100%;height:0;padding: 0 0 22.0125786163522% 0;}
.POLYMERS_SOL_17 {max-width:381px; max-height:279px; }
.POLYMERS_SOL_17::after {content: '\00a0';display: inline-block; width:381px; height:279px; background-position: 0.06016847172081829% 64.47963800904978%; background-size: 536.2204724409448% 733.6917562724014%; background-image: url(ch_xii_ch10_0.png);padding: 0; }
div.POLYMERS_SOL_17::after {max-width:381px; width:100%;height:0;padding: 0 0 73.22834645669292% 0;}
.POLYMERS_SOL_19 {max-width:368px; max-height:243px; }
.POLYMERS_SOL_19::after {content: '\00a0';display: inline-block; width:368px; height:243px; background-position: 0.05970149253731343% 78.7139689578714%; background-size: 555.1630434782609% 842.3868312757202%; background-image: url(ch_xii_ch10_0.png);padding: 0; }
div.POLYMERS_SOL_19::after {max-width:368px; width:100%;height:0;padding: 0 0 66.03260869565217% 0;}
.POLYMERS_SOL_21 {max-width:474px; max-height:193px; }
.POLYMERS_SOL_21::after {content: '\00a0';display: inline-block; width:474px; height:193px; background-position: 80.75207138304653% 87.59439050701187%; background-size: 431.0126582278481% 1060.6217616580311%; background-image: url(ch_xii_ch10_0.png);padding: 0; }
div.POLYMERS_SOL_21::after {max-width:474px; width:100%;height:0;padding: 0 0 40.71729957805907% 0;}
.POLYMERS_SOL_23 {max-width:441px; max-height:137px; }
.POLYMERS_SOL_23::after {content: '\00a0';display: inline-block; width:441px; height:137px; background-position: 28.214731585518102% 99.94764397905759%; background-size: 463.265306122449% 1494.1605839416059%; background-image: url(ch_xii_ch10_0.png);padding: 0; }
div.POLYMERS_SOL_23::after {max-width:441px; width:100%;height:0;padding: 0 0 31.065759637188208% 0;}
.POLYMERS_SOL_25 {max-width:415px; max-height:311px; }
.POLYMERS_SOL_25::after {content: '\00a0';display: inline-block; width:415px; height:311px; background-position: 82.37100737100737% 61.175115207373274%; background-size: 492.28915662650604% 658.1993569131832%; background-image: url(ch_xii_ch10_0.png);padding: 0; }
div.POLYMERS_SOL_25::after {max-width:415px; width:100%;height:0;padding: 0 0 74.93975903614458% 0;}
.POLYMERS_SOL_26 {max-width:314px; max-height:270px; }
.POLYMERS_SOL_26::after {content: '\00a0';display: inline-block; width:314px; height:270px; background-position: 58.01041064198959% 60.945413618458076%; background-size: 650.6369426751593% 758.1481481481482%; background-image: url(ch_xii_ch10_0.png);padding: 0; }
div.POLYMERS_SOL_26::after {max-width:314px; width:100%;height:0;padding: 0 0 85.98726114649682% 0;}
.POLYMERS_SOL_27 {max-width:399px; max-height:414px; }
.POLYMERS_SOL_27::after {content: '\00a0';display: inline-block; width:399px; height:414px; background-position: 62.956204379562045% 0.0612369871402327%; background-size: 512.0300751879699% 494.44444444444446%; background-image: url(ch_xii_ch10_0.png);padding: 0; }
div.POLYMERS_SOL_27::after {max-width:399px; width:100%;height:0;padding: 0 0 103.7593984962406% 0;}
.POLYMERS_SOL_27_A {max-width:359px; max-height:214px; }
.POLYMERS_SOL_27_A::after {content: '\00a0';display: inline-block; width:359px; height:214px; background-position: 0.05938242280285035% 90.78014184397163%; background-size: 569.0807799442897% 956.5420560747664%; background-image: url(ch_xii_ch10_0.png);padding: 0; }
div.POLYMERS_SOL_27_A::after {max-width:359px; width:100%;height:0;padding: 0 0 59.610027855153206% 0;}
.POLYMERS_SOL_29 {max-width:403px; max-height:198px; }
.POLYMERS_SOL_29::after {content: '\00a0';display: inline-block; width:403px; height:198px; background-position: 96.42857142857143% 41.33412745681954%; background-size: 245.90570719602977% 947.979797979798%; background-image: url(ch_xii_ch10_1.png);padding: 0; }
div.POLYMERS_SOL_29::after {max-width:403px; width:100%;height:0;padding: 0 0 49.13151364764268% 0;}
.POLYMERS_SOL_3 {max-width:415px; max-height:119px; }
.POLYMERS_SOL_3::after {content: '\00a0';display: inline-block; width:415px; height:119px; background-position: 98.4375% 32.65073947667804%; background-size: 238.79518072289156% 1577.310924369748%; background-image: url(ch_xii_ch10_1.png);padding: 0; }
div.POLYMERS_SOL_3::after {max-width:415px; width:100%;height:0;padding: 0 0 28.674698795180724% 0;}
.POLYMERS_SOL_33 {max-width:470px; max-height:257px; }
.POLYMERS_SOL_33::after {content: '\00a0';display: inline-block; width:470px; height:257px; background-position: 32.48569612205976% 79.05027932960894%; background-size: 434.6808510638298% 796.4980544747082%; background-image: url(ch_xii_ch10_0.png);padding: 0; }
div.POLYMERS_SOL_33::after {max-width:470px; width:100%;height:0;padding: 0 0 54.680851063829785% 0;}
.POLYMERS_SOL_34 {max-width:399px; max-height:235px; }
.POLYMERS_SOL_34::after {content: '\00a0';display: inline-block; width:399px; height:235px; background-position: 31.021897810218977% 92.3289183222958%; background-size: 512.0300751879699% 871.063829787234%; background-image: url(ch_xii_ch10_0.png);padding: 0; }
div.POLYMERS_SOL_34::after {max-width:399px; width:100%;height:0;padding: 0 0 58.89724310776943% 0;}
.POLYMERS_SOL_36 {max-width:420px; max-height:442px; }
.POLYMERS_SOL_36::after {content: '\00a0';display: inline-block; width:420px; height:442px; background-position: 0.061614294516327786% 25.233644859813083%; background-size: 486.42857142857144% 463.1221719457014%; background-image: url(ch_xii_ch10_0.png);padding: 0; }
div.POLYMERS_SOL_36::after {max-width:420px; width:100%;height:0;padding: 0 0 105.23809523809524% 0;}
.POLYMERS_SOL_36_A {max-width:285px; max-height:219px; }
.POLYMERS_SOL_36_A::after {content: '\00a0';display: inline-block; width:285px; height:219px; background-position: 99.94311717861206% 62.91028446389497%; background-size: 716.8421052631579% 934.703196347032%; background-image: url(ch_xii_ch10_0.png);padding: 0; }
div.POLYMERS_SOL_36_A::after {max-width:285px; width:100%;height:0;padding: 0 0 76.84210526315789% 0;}
.POLYMERS_SOL_4 {max-width:425px; max-height:126px; }
.POLYMERS_SOL_4::after {content: '\00a0';display: inline-block; width:425px; height:126px; background-position: 92.40282685512368% 64.30611079383209%; background-size: 233.1764705882353% 1489.6825396825398%; background-image: url(ch_xii_ch10_1.png);padding: 0; }
div.POLYMERS_SOL_4::after {max-width:425px; width:100%;height:0;padding: 0 0 29.647058823529413% 0;}
.POLYMERS_SOL_5 {max-width:344px; max-height:142px; }
.POLYMERS_SOL_5::after {content: '\00a0';display: inline-block; width:344px; height:142px; background-position: 43.585780525502315% 90.02881844380403%; background-size: 288.0813953488372% 1321.8309859154929%; background-image: url(ch_xii_ch10_1.png);padding: 0; }
div.POLYMERS_SOL_5::after {max-width:344px; width:100%;height:0;padding: 0 0 41.27906976744186% 0;}
.POLYMERS_SOL_7 {max-width:432px; max-height:250px; }
.POLYMERS_SOL_7::after {content: '\00a0';display: inline-block; width:432px; height:250px; background-position: 35.1334574798262% 64.7746243739566%; background-size: 472.9166666666667% 818.8%; background-image: url(ch_xii_ch10_0.png);padding: 0; }
div.POLYMERS_SOL_7::after {max-width:432px; width:100%;height:0;padding: 0 0 57.870370370370374% 0;}
.jee_mains_24_jun_2022_s1_77_sol {max-width:450px; max-height:249px; }
.jee_mains_24_jun_2022_s1_77_sol::after {content: '\00a0';display: inline-block; width:450px; height:249px; background-position: 81.41870684243565% 76.4182424916574%; background-size: 454% 822.0883534136547%; background-image: url(ch_xii_ch10_0.png);padding: 0; }
div.jee_mains_24_jun_2022_s1_77_sol::after {max-width:450px; width:100%;height:0;padding: 0 0 55.333333333333336% 0;}
.jee_mains_25_jun_2022_s2_88_sol {max-width:200px; max-height:182px; }
.jee_mains_25_jun_2022_s2_88_sol::after {content: '\00a0';display: inline-block; width:200px; height:182px; background-position: 22.89744981009224% 21.715817694369974%; background-size: 1021.5% 1124.7252747252746%; background-image: url(ch_xii_ch10_0.png);padding: 0; }
div.jee_mains_25_jun_2022_s2_88_sol::after {max-width:200px; width:100%;height:0;padding: 0 0 91% 0;}
.jee_mains_29_jun_2022_s2_77_sol {max-width:320px; max-height:182px; }
.jee_mains_29_jun_2022_s2_77_sol::after {content: '\00a0';display: inline-block; width:320px; height:182px; background-position: 52.81485780615206% 92.70777479892762%; background-size: 638.4375% 1124.7252747252746%; background-image: url(ch_xii_ch10_0.png);padding: 0; }
div.jee_mains_29_jun_2022_s2_77_sol::after {max-width:320px; width:100%;height:0;padding: 0 0 56.875% 0;}
.jee_mn_25_jul_2022_s1_17_a {max-width:287px; max-height:180px; }
.jee_mn_25_jul_2022_s1_17_a::after {content: '\00a0';display: inline-block; width:287px; height:180px; background-position: 99.54441913439635% 83.9850026780932%; background-size: 711.8466898954704% 1137.2222222222222%; background-image: url(ch_xii_ch10_0.png);padding: 0; }
div.jee_mn_25_jul_2022_s1_17_a::after {max-width:287px; width:100%;height:0;padding: 0 0 62.717770034843205% 0;}
.jee_mn_25_jul_2022_s1_17_b {max-width:284px; max-height:165px; }
.jee_mn_25_jul_2022_s1_17_b::after {content: '\00a0';display: inline-block; width:284px; height:165px; background-position: 55.82717453098351% 83.0499468650372%; background-size: 719.3661971830986% 1240.6060606060605%; background-image: url(ch_xii_ch10_0.png);padding: 0; }
div.jee_mn_25_jul_2022_s1_17_b::after {max-width:284px; width:100%;height:0;padding: 0 0 58.098591549295776% 0;}
.jee_mn_25_jul_2022_s1_17_c {max-width:286px; max-height:163px; }
.jee_mn_25_jul_2022_s1_17_c::after {content: '\00a0';display: inline-block; width:286px; height:163px; background-position: 99.14627205463859% 92.8343949044586%; background-size: 714.3356643356643% 1255.8282208588957%; background-image: url(ch_xii_ch10_0.png);padding: 0; }
div.jee_mn_25_jul_2022_s1_17_c::after {max-width:286px; width:100%;height:0;padding: 0 0 56.99300699300699% 0;}
.jee_mn_25_jul_2022_s1_17_d {max-width:284px; max-height:165px; }
.jee_mn_25_jul_2022_s1_17_d::after {content: '\00a0';display: inline-block; width:284px; height:165px; background-position: 55.82717453098351% 83.0499468650372%; background-size: 719.3661971830986% 1240.6060606060605%; background-image: url(ch_xii_ch10_0.png);padding: 0; }
div.jee_mn_25_jul_2022_s1_17_d::after {max-width:284px; width:100%;height:0;padding: 0 0 58.098591549295776% 0;}
.jee_mn_25_jul_2022_s1_77_sol {max-width:250px; max-height:179px; }
.jee_mn_25_jul_2022_s1_77_sol::after {content: '\00a0';display: inline-block; width:250px; height:179px; background-position: 99.72113775794757% 51.92719486081371%; background-size: 817.2% 1143.5754189944134%; background-image: url(ch_xii_ch10_0.png);padding: 0; }
div.jee_mn_25_jul_2022_s1_77_sol::after {max-width:250px; width:100%;height:0;padding: 0 0 71.6% 0;}
.jee_mn_27_jul_2022_s1_75_sol {max-width:400px; max-height:339px; }
.jee_mn_27_jul_2022_s1_75_sol::after {content: '\00a0';display: inline-block; width:400px; height:339px; background-position: 37.918441874619596% 31.73302107728337%; background-size: 510.75% 603.834808259587%; background-image: url(ch_xii_ch10_0.png);padding: 0; }
div.jee_mn_27_jul_2022_s1_75_sol::after {max-width:400px; width:100%;height:0;padding: 0 0 84.75% 0;}
.jee_mn_27_jul_2022_s2_76_sol {max-width:400px; max-height:281px; }
.jee_mn_27_jul_2022_s2_76_sol::after {content: '\00a0';display: inline-block; width:400px; height:281px; background-position: 36.64029214850883% 49.943374858437146%; background-size: 510.75% 728.4697508896797%; background-image: url(ch_xii_ch10_0.png);padding: 0; }
div.jee_mn_27_jul_2022_s2_76_sol::after {max-width:400px; width:100%;height:0;padding: 0 0 70.25% 0;}
.jee_mn_27_jul_2022_s2_76_sol_1 {max-width:383px; max-height:200px; }
.jee_mn_27_jul_2022_s2_76_sol_1::after {content: '\00a0';display: inline-block; width:383px; height:200px; background-position: 78.78289473684211% 74.71675611210495%; background-size: 258.7467362924282% 938.5%; background-image: url(ch_xii_ch10_1.png);padding: 0; }
div.jee_mn_27_jul_2022_s2_76_sol_1::after {max-width:383px; width:100%;height:0;padding: 0 0 52.21932114882507% 0;}
.jee_mn_27_jul_2022_s2_76_sol_2 {max-width:521px; max-height:200px; }
.jee_mn_27_jul_2022_s2_76_sol_2::after {content: '\00a0';display: inline-block; width:521px; height:200px; background-position: 0.2127659574468085% 55.69469290399523%; background-size: 190.21113243761997% 938.5%; background-image: url(ch_xii_ch10_1.png);padding: 0; }
div.jee_mn_27_jul_2022_s2_76_sol_2::after {max-width:521px; width:100%;height:0;padding: 0 0 38.38771593090211% 0;}
.jee_mn_27_jul_2022_s2_76_sol_3 {max-width:530px; max-height:200px; }
.jee_mn_27_jul_2022_s2_76_sol_3::after {content: '\00a0';display: inline-block; width:530px; height:200px; background-position: 0.21691973969631237% 43.70900417412045%; background-size: 186.9811320754717% 938.5%; background-image: url(ch_xii_ch10_1.png);padding: 0; }
div.jee_mn_27_jul_2022_s2_76_sol_3::after {max-width:530px; width:100%;height:0;padding: 0 0 37.735849056603776% 0;}
.jee_mn_28_jul_2022_s1_76_sol {max-width:400px; max-height:344px; }
.jee_mn_28_jul_2022_s1_76_sol::after {content: '\00a0';display: inline-block; width:400px; height:344px; background-position: 84.41874619598296% 42.10217263652378%; background-size: 510.75% 595.0581395348837%; background-image: url(ch_xii_ch10_0.png);padding: 0; }
div.jee_mn_28_jul_2022_s1_76_sol::after {max-width:400px; width:100%;height:0;padding: 0 0 86% 0;}
.jee_mn_28_jul_2022_s2_77_sol {max-width:450px; max-height:165px; }
.jee_mn_28_jul_2022_s2_77_sol::after {content: '\00a0';display: inline-block; width:450px; height:165px; background-position: 0.06277463904582549% 99.84059511158343%; background-size: 454% 1240.6060606060605%; background-image: url(ch_xii_ch10_0.png);padding: 0; }
div.jee_mn_28_jul_2022_s2_77_sol::after {max-width:450px; width:100%;height:0;padding: 0 0 36.666666666666664% 0;}
.jee_mt_st_24feb21s1q60_sol_a {max-width:477px; max-height:180px; }
.jee_mt_st_24feb21s1q60_sol_a::after {content: '\00a0';display: inline-block; width:477px; height:180px; background-position: 0.19455252918287938% 72.3629935179729%; background-size: 207.75681341719078% 1042.7777777777778%; background-image: url(ch_xii_ch10_1.png);padding: 0; }
div.jee_mt_st_24feb21s1q60_sol_a::after {max-width:477px; width:100%;height:0;padding: 0 0 37.735849056603776% 0;}
.jee_mt_st_24feb21s1q60_sol_b {max-width:565px; max-height:182px; }
.jee_mt_st_24feb21s1q60_sol_b::after {content: '\00a0';display: inline-block; width:565px; height:182px; background-position: 0.2347417840375587% 32.448377581120944%; background-size: 175.39823008849558% 1031.3186813186812%; background-image: url(ch_xii_ch10_1.png);padding: 0; }
div.jee_mt_st_24feb21s1q60_sol_b::after {max-width:565px; width:100%;height:0;padding: 0 0 32.21238938053097% 0;}
.jee_mt_st_24feb21s1q60_sol_c {max-width:568px; max-height:193px; }
.jee_mt_st_24feb21s1q60_sol_c::after {content: '\00a0';display: inline-block; width:568px; height:193px; background-position: 0.2364066193853428% 21.140142517814727%; background-size: 174.4718309859155% 972.5388601036269%; background-image: url(ch_xii_ch10_1.png);padding: 0; }
div.jee_mt_st_24feb21s1q60_sol_c::after {max-width:568px; width:100%;height:0;padding: 0 0 33.978873239436616% 0;}
.jee_mt_st_24feb21s1q60_sol_d {max-width:586px; max-height:181px; }
.jee_mt_st_24feb21s1q60_sol_d::after {content: '\00a0';display: inline-block; width:586px; height:181px; background-position: 0.24691358024691357% 10.25943396226415%; background-size: 169.11262798634812% 1037.0165745856355%; background-image: url(ch_xii_ch10_1.png);padding: 0; }
div.jee_mt_st_24feb21s1q60_sol_d::after {max-width:586px; width:100%;height:0;padding: 0 0 30.887372013651877% 0;}

@keyframes JEEMAINS_10APRIL_2023_S2_Q_70_O-frames {
    0% { background-position: 37.188612099644125% 77.00507614213198%;  }
    25% { background-position: 35.055350553505534% 25.17766497461929%;  }
    50% { background-position: 37.254901960784316% 73.24937027707809%;  }
    75% { background-position: 37.166567871962066% 80.75949367088607%;  }
}

.JEEMAINS_10APRIL_2023_S2_Q_70_O-animation {
    max-width: 357px;
    max-height: 77px;
}
.JEEMAINS_10APRIL_2023_S2_Q_70_O-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 357px;
    height: 77px;
    padding: 0;
    background-image: url(ch_xii_ch10_0.png);
    background-size: 572.2689075630252% 2658.4415584415583%; 
    animation-name: JEEMAINS_10APRIL_2023_S2_Q_70_O-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEEMAINS_10APRIL_2023_S2_Q_70_O-animation::after {
    max-width: 357px;
    width: 100%;
    height: 0;
    padding: 0 0 21.568627450980394% 0;
}

@keyframes JEEMAINS_28JULY_S1_Q_16-frames {
    0% { background-position: 0.05672149744753262% 82.90870488322717%;  }
    25% { background-position: 51.886244921648284% 99.89550679205851%;  }
    50% { background-position: 99.72113775794757% 41.824069077172155%;  }
    75% { background-position: 0.05803830528148578% 90.6988964792433%;  }
}

.JEEMAINS_28JULY_S1_Q_16-animation {
    max-width: 280px;
    max-height: 163px;
}
.JEEMAINS_28JULY_S1_Q_16-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 280px;
    height: 163px;
    padding: 0;
    background-image: url(ch_xii_ch10_0.png);
    background-size: 729.6428571428571% 1255.8282208588957%; 
    animation-name: JEEMAINS_28JULY_S1_Q_16-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEEMAINS_28JULY_S1_Q_16-animation::after {
    max-width: 280px;
    width: 100%;
    height: 0;
    padding: 0 0 58.214285714285715% 0;
}

@keyframes JEE_Main_22_July_2021_eve_44_q-frames {
    0% { background-position: 19.381875327396543% 79.40876656472987%;  }
    50% { background-position: 20.547210300429185% 61.40081799591002%;  }
}

.JEE_Main_22_July_2021_eve_44_q-animation {
    max-width: 134px;
    max-height: 85px;
}
.JEE_Main_22_July_2021_eve_44_q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 134px;
    height: 85px;
    padding: 0;
    background-image: url(ch_xii_ch10_0.png);
    background-size: 1524.6268656716418% 2408.235294117647%; 
    animation-name: JEE_Main_22_July_2021_eve_44_q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEE_Main_22_July_2021_eve_44_q-animation::after {
    max-width: 134px;
    width: 100%;
    height: 0;
    padding: 0 0 63.43283582089552% 0;
}

@keyframes POLYMERS_Q-frames {
    0% { background-position: 19.989561586638832% 70.57318321392016%;  }
    20% { background-position: 18.326693227091635% 86.4604462474645%;  }
    40% { background-position: 36.88235294117647% 83.94564670357323%;  }
    60% { background-position: 99.14236706689537% 97.20528455284553%;  }
    80% { background-position: 33.312460864120226% 45.88900308324769%;  }
}

.POLYMERS_Q-animation {
    max-width: 127px;
    max-height: 93px;
}
.POLYMERS_Q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 127px;
    height: 93px;
    padding: 0;
    background-image: url(ch_xii_ch10_0.png);
    background-size: 1608.6614173228347% 2201.0752688172042%; 
    animation-name: POLYMERS_Q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.POLYMERS_Q-animation::after {
    max-width: 127px;
    width: 100%;
    height: 0;
    padding: 0 0 73.22834645669292% 0;
}

@keyframes POLYMERS_SOL-frames {
    0% { background-position: 34.828009828009826% 29.771784232365146%;  }
    6.666666666666667% { background-position: 32.3238566131026% 58.6153045288912%;  }
    13.333333333333334% { background-position: 16.597998822836963% 81.99475065616798%;  }
    20% { background-position: 35.1334574798262% 64.7746243739566%;  }
    26.666666666666668% { background-position: 0.06016847172081829% 64.47963800904978%;  }
    33.33333333333333% { background-position: 0.05970149253731343% 78.7139689578714%;  }
    40% { background-position: 80.75207138304653% 87.59439050701187%;  }
    46.666666666666664% { background-position: 28.214731585518102% 99.94764397905759%;  }
    53.333333333333336% { background-position: 82.37100737100737% 61.175115207373274%;  }
    60% { background-position: 58.01041064198959% 60.945413618458076%;  }
    66.66666666666666% { background-position: 62.956204379562045% 0.0612369871402327%;  }
    73.33333333333333% { background-position: 34.573170731707314% 37.533802055164955%;  }
    80% { background-position: 32.48569612205976% 79.05027932960894%;  }
    86.66666666666667% { background-position: 31.021897810218977% 92.3289183222958%;  }
    93.33333333333333% { background-position: 0.061614294516327786% 25.233644859813083%;  }
}

.POLYMERS_SOL-animation {
    max-width: 415px;
    max-height: 119px;
}
.POLYMERS_SOL-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 415px;
    height: 119px;
    padding: 0;
    background-image: url(ch_xii_ch10_0.png);
    background-size: 492.28915662650604% 1720.1680672268908%; 
    animation-name: POLYMERS_SOL-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.POLYMERS_SOL-animation::after {
    max-width: 415px;
    width: 100%;
    height: 0;
    padding: 0 0 28.674698795180724% 0;
}

@keyframes jee_mn_27_jul_2022_s2_76_sol-frames {
    0% { background-position: 28.85542168674699% 67.83974011911208%;  }
    33.33333333333333% { background-position: 0.0657030223390276% 50.56848944233893%;  }
    66.66666666666666% { background-position: 0.06609385327164574% 39.685977260422305%;  }
}

.jee_mn_27_jul_2022_s2_76_sol-animation {
    max-width: 383px;
    max-height: 200px;
}
.jee_mn_27_jul_2022_s2_76_sol-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 383px;
    height: 200px;
    padding: 0;
    background-image: url(ch_xii_ch10_0.png);
    background-size: 533.420365535248% 1023.5%; 
    animation-name: jee_mn_27_jul_2022_s2_76_sol-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.jee_mn_27_jul_2022_s2_76_sol-animation::after {
    max-width: 383px;
    width: 100%;
    height: 0;
    padding: 0 0 52.21932114882507% 0;
}

/* $TexturePacker:SmartUpdate:a20db6e39d234b067169149c94374189:68cc8f47322ceeb570f1a1ef96148aca:62acc7cce62810f20ca980792bf6e0b1$ */
