/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.je_mn_21_jan_2026_s1_q_59a {max-width:360px; max-height:330px; }
.je_mn_21_jan_2026_s1_q_59a::after {content: '\00a0';display: inline-block; width:360px; height:330px; background-position: 50% 68.57514638906962%; background-size: 100.55555555555556% 565.7575757575758%; background-image: url(c_11_themrodynamics3_0.png);padding: 0; }
div.je_mn_21_jan_2026_s1_q_59a::after {max-width:360px; width:100%;height:0;padding: 0 0 91.66666666666667% 0;}
.je_mn_21_jan_2026_s1_q_59b {max-width:360px; max-height:356px; }
.je_mn_21_jan_2026_s1_q_59b::after {content: '\00a0';display: inline-block; width:360px; height:356px; background-position: 50% 0.06618133686300463%; background-size: 100.55555555555556% 524.438202247191%; background-image: url(c_11_themrodynamics3_0.png);padding: 0; }
div.je_mn_21_jan_2026_s1_q_59b::after {max-width:360px; width:100%;height:0;padding: 0 0 98.88888888888889% 0;}
.je_mn_21_jan_2026_s1_q_59c {max-width:360px; max-height:344px; }
.je_mn_21_jan_2026_s1_q_59c::after {content: '\00a0';display: inline-block; width:360px; height:344px; background-position: 50% 46.552856204858834%; background-size: 100.55555555555556% 542.7325581395348%; background-image: url(c_11_themrodynamics3_0.png);padding: 0; }
div.je_mn_21_jan_2026_s1_q_59c::after {max-width:360px; width:100%;height:0;padding: 0 0 95.55555555555556% 0;}
.je_mn_21_jan_2026_s1_q_59d {max-width:360px; max-height:350px; }
.je_mn_21_jan_2026_s1_q_59d::after {content: '\00a0';display: inline-block; width:360px; height:350px; background-position: 50% 23.599208965062623%; background-size: 100.55555555555556% 533.4285714285714%; background-image: url(c_11_themrodynamics3_0.png);padding: 0; }
div.je_mn_21_jan_2026_s1_q_59d::after {max-width:360px; width:100%;height:0;padding: 0 0 97.22222222222223% 0;}
.je_mn_21_jan_2026_s1_q_60 {max-width:360px; max-height:222px; }
.je_mn_21_jan_2026_s1_q_60::after {content: '\00a0';display: inline-block; width:360px; height:222px; background-position: 50% 99.93920972644376%; background-size: 100.55555555555556% 840.990990990991%; background-image: url(c_11_themrodynamics3_0.png);padding: 0; }
div.je_mn_21_jan_2026_s1_q_60::after {max-width:360px; width:100%;height:0;padding: 0 0 61.666666666666664% 0;}
.jm_3_apr_2025_s2_q_77 {max-width:360px; max-height:258px; }
.jm_3_apr_2025_s2_q_77::after {content: '\00a0';display: inline-block; width:360px; height:258px; background-position: 50% 86.0783095090118%; background-size: 100.55555555555556% 723.6434108527131%; background-image: url(c_11_themrodynamics3_0.png);padding: 0; }
div.jm_3_apr_2025_s2_q_77::after {max-width:360px; width:100%;height:0;padding: 0 0 71.66666666666667% 0;}


/* $TexturePacker:SmartUpdate:098cd0bfd62fe5430f1d717a7dbb314b:38e99419e43f2d130a16a58452ef5c5d:7c89ac88b49a9a6e3c713b9013fba548$ */
