/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.JEE_MAIN_4APRIL_2024_S2_S_64 {max-width:136px; max-height:146px; }
.JEE_MAIN_4APRIL_2024_S2_S_64::after {content: '\00a0';display: inline-block; width:136px; height:146px; background-position: 54.51187335092348% 92.87330316742081%; background-size: 1493.3823529411766% 705.4794520547945%; background-image: url(c_11_chembonding3_0.png);padding: 0; }
div.JEE_MAIN_4APRIL_2024_S2_S_64::after {max-width:136px; width:100%;height:0;padding: 0 0 107.3529411764706% 0;}
.JEE_MAIN_4APRIL_2024_S2_S_80 {max-width:422px; max-height:159px; }
.JEE_MAIN_4APRIL_2024_S2_S_80::after {content: '\00a0';display: inline-block; width:422px; height:159px; background-position: 77.8744561839652% 42.25028702640643%; background-size: 481.2796208530806% 647.7987421383648%; background-image: url(c_11_chembonding3_0.png);padding: 0; }
div.JEE_MAIN_4APRIL_2024_S2_S_80::after {max-width:422px; width:100%;height:0;padding: 0 0 37.677725118483416% 0;}
.JEE_MAIN_5APRIL_2024_S1_S_68 {max-width:135px; max-height:89px; }
.JEE_MAIN_5APRIL_2024_S1_S_68::after {content: '\00a0';display: inline-block; width:135px; height:89px; background-position: 97.67932489451476% 65.14346439957492%; background-size: 1504.4444444444443% 1157.3033707865168%; background-image: url(c_11_chembonding3_0.png);padding: 0; }
div.JEE_MAIN_5APRIL_2024_S1_S_68::after {max-width:135px; width:100%;height:0;padding: 0 0 65.92592592592592% 0;}
.JEE_MAIN_5APRIL_2024_S1_S_89 {max-width:89px; max-height:95px; }
.JEE_MAIN_5APRIL_2024_S1_S_89::after {content: '\00a0';display: inline-block; width:89px; height:95px; background-position: 72.70854788877446% 89.19786096256685%; background-size: 2282.0224719101125% 1084.2105263157894%; background-image: url(c_11_chembonding3_0.png);padding: 0; }
div.JEE_MAIN_5APRIL_2024_S1_S_89::after {max-width:89px; width:100%;height:0;padding: 0 0 106.74157303370787% 0;}
.JEE_MAIN_5APRIL_2024_S2_S_61 {max-width:403px; max-height:366px; }
.JEE_MAIN_5APRIL_2024_S2_S_61::after {content: '\00a0';display: inline-block; width:403px; height:366px; background-position: 76.96560196560196% 0.15060240963855423%; background-size: 503.970223325062% 281.42076502732243%; background-image: url(c_11_chembonding3_0.png);padding: 0; }
div.JEE_MAIN_5APRIL_2024_S2_S_61::after {max-width:403px; width:100%;height:0;padding: 0 0 90.81885856079404% 0;}
.JEE_MAIN_5APRIL_2024_S2_S_65 {max-width:373px; max-height:322px; }
.JEE_MAIN_5APRIL_2024_S2_S_65::after {content: '\00a0';display: inline-block; width:373px; height:322px; background-position: 99.93968636911941% 0.14124293785310735%; background-size: 544.5040214477211% 319.87577639751555%; background-image: url(c_11_chembonding3_0.png);padding: 0; }
div.JEE_MAIN_5APRIL_2024_S2_S_65::after {max-width:373px; width:100%;height:0;padding: 0 0 86.32707774798928% 0;}
.JEE_MAIN_6APRIL_2024_S1_Q_84 {max-width:425px; max-height:80px; }
.JEE_MAIN_6APRIL_2024_S1_Q_84::after {content: '\00a0';display: inline-block; width:425px; height:80px; background-position: 0.062266500622665005% 96%; background-size: 477.88235294117646% 1287.5%; background-image: url(c_11_chembonding3_0.png);padding: 0; }
div.JEE_MAIN_6APRIL_2024_S1_Q_84::after {max-width:425px; width:100%;height:0;padding: 0 0 18.823529411764707% 0;}
.JEE_MAIN_6APRIL_2024_S1_S_62 {max-width:429px; max-height:310px; }
.JEE_MAIN_6APRIL_2024_S1_S_62::after {content: '\00a0';display: inline-block; width:429px; height:310px; background-position: 0.062421972534332085% 83.47222222222223%; background-size: 473.42657342657344% 332.258064516129%; background-image: url(c_11_chembonding3_0.png);padding: 0; }
div.JEE_MAIN_6APRIL_2024_S1_S_62::after {max-width:429px; width:100%;height:0;padding: 0 0 72.26107226107226% 0;}
.JEE_MAIN_6APRIL_2024_S1_S_69 {max-width:454px; max-height:518px; }
.JEE_MAIN_6APRIL_2024_S1_S_69::after {content: '\00a0';display: inline-block; width:454px; height:518px; background-position: 24.98414711477489% 0.1953125%; background-size: 447.3568281938326% 198.84169884169884%; background-image: url(c_11_chembonding3_0.png);padding: 0; }
div.JEE_MAIN_6APRIL_2024_S1_S_69::after {max-width:454px; width:100%;height:0;padding: 0 0 114.09691629955947% 0;}
.JEE_MAIN_6APRIL_2024_S1_S_84 {max-width:328px; max-height:114px; }
.JEE_MAIN_6APRIL_2024_S1_S_84::after {content: '\00a0';display: inline-block; width:328px; height:114px; background-position: 98.41456253669995% 54.366812227074234%; background-size: 619.2073170731708% 903.5087719298245%; background-image: url(c_11_chembonding3_0.png);padding: 0; }
div.JEE_MAIN_6APRIL_2024_S1_S_84::after {max-width:328px; width:100%;height:0;padding: 0 0 34.75609756097561% 0;}
.JEE_MAIN_6APRIL_2024_S2_Q_82 {max-width:425px; max-height:59px; }
.JEE_MAIN_6APRIL_2024_S2_Q_82::after {content: '\00a0';display: inline-block; width:425px; height:59px; background-position: 77.83312577833125% 54.37693099897013%; background-size: 477.88235294117646% 1745.7627118644068%; background-image: url(c_11_chembonding3_0.png);padding: 0; }
div.JEE_MAIN_6APRIL_2024_S2_Q_82::after {max-width:425px; width:100%;height:0;padding: 0 0 13.882352941176471% 0;}
.JEE_MAIN_6APRIL_2024_S2_S_82 {max-width:403px; max-height:451px; }
.JEE_MAIN_6APRIL_2024_S2_S_82::after {content: '\00a0';display: inline-block; width:403px; height:451px; background-position: 52.14987714987715% 0.17271157167530224%; background-size: 503.970223325062% 228.38137472283813%; background-image: url(c_11_chembonding3_0.png);padding: 0; }
div.JEE_MAIN_6APRIL_2024_S2_S_82::after {max-width:403px; width:100%;height:0;padding: 0 0 111.91066997518611% 0;}
.JEE_MAIN_8APRIL_2024_S1_S_67 {max-width:364px; max-height:308px; }
.JEE_MAIN_8APRIL_2024_S1_S_67::after {content: '\00a0';display: inline-block; width:364px; height:308px; background-position: 25.854829034193163% 72.02216066481995%; background-size: 557.967032967033% 334.4155844155844%; background-image: url(c_11_chembonding3_0.png);padding: 0; }
div.JEE_MAIN_8APRIL_2024_S1_S_67::after {max-width:364px; width:100%;height:0;padding: 0 0 84.61538461538461% 0;}
.JEE_MAIN_8APRIL_2024_S1_S_86 {max-width:392px; max-height:599px; }
.JEE_MAIN_8APRIL_2024_S1_S_86::after {content: '\00a0';display: inline-block; width:392px; height:599px; background-position: 0.06101281269066504% 0.23201856148491878%; background-size: 518.1122448979592% 171.95325542570953%; background-image: url(c_11_chembonding3_0.png);padding: 0; }
div.JEE_MAIN_8APRIL_2024_S1_S_86::after {max-width:392px; width:100%;height:0;padding: 0 0 152.80612244897958% 0;}
.JEE_MAIN_8APRIL_2024_S2_S_65 {max-width:218px; max-height:124px; }
.JEE_MAIN_8APRIL_2024_S2_S_65::after {content: '\00a0';display: inline-block; width:218px; height:124px; background-position: 98.95201323772753% 81.56732891832229%; background-size: 931.651376146789% 830.6451612903226%; background-image: url(c_11_chembonding3_0.png);padding: 0; }
div.JEE_MAIN_8APRIL_2024_S2_S_65::after {max-width:218px; width:100%;height:0;padding: 0 0 56.88073394495413% 0;}
.JEE_MAIN_9APRIL_2024_S2_S_64 {max-width:287px; max-height:253px; }
.JEE_MAIN_9APRIL_2024_S2_S_64::after {content: '\00a0';display: inline-block; width:287px; height:253px; background-position: 86.35321100917432% 95.10939510939511%; background-size: 707.6655052264808% 407.1146245059289%; background-image: url(c_11_chembonding3_0.png);padding: 0; }
div.JEE_MAIN_9APRIL_2024_S2_S_64::after {max-width:287px; width:100%;height:0;padding: 0 0 88.15331010452962% 0;}
.je_mn_21_jan_2026_s1_q_54a {max-width:300px; max-height:122px; }
.je_mn_21_jan_2026_s1_q_54a::after {content: '\00a0';display: inline-block; width:300px; height:122px; background-position: 72.21259387637204% 64.75770925110132%; background-size: 677% 844.2622950819672%; background-image: url(c_11_chembonding3_0.png);padding: 0; }
div.je_mn_21_jan_2026_s1_q_54a::after {max-width:300px; width:100%;height:0;padding: 0 0 40.666666666666664% 0;}
.je_mn_21_jan_2026_s1_q_54b {max-width:300px; max-height:125px; }
.je_mn_21_jan_2026_s1_q_54b::after {content: '\00a0';display: inline-block; width:300px; height:125px; background-position: 89.60138648180242% 67.73480662983425%; background-size: 677% 824%; background-image: url(c_11_chembonding3_0.png);padding: 0; }
div.je_mn_21_jan_2026_s1_q_54b::after {max-width:300px; width:100%;height:0;padding: 0 0 41.666666666666664% 0;}
.je_mn_21_jan_2026_s1_q_54c {max-width:300px; max-height:113px; }
.je_mn_21_jan_2026_s1_q_54c::after {content: '\00a0';display: inline-block; width:300px; height:113px; background-position: 24.89890236857308% 90.40348964013086%; background-size: 677% 911.5044247787611%; background-image: url(c_11_chembonding3_0.png);padding: 0; }
div.je_mn_21_jan_2026_s1_q_54c::after {max-width:300px; width:100%;height:0;padding: 0 0 37.666666666666664% 0;}
.je_mn_21_jan_2026_s1_q_54d {max-width:300px; max-height:122px; }
.je_mn_21_jan_2026_s1_q_54d::after {content: '\00a0';display: inline-block; width:300px; height:122px; background-position: 69.61294049682265% 78.30396475770925%; background-size: 677% 844.2622950819672%; background-image: url(c_11_chembonding3_0.png);padding: 0; }
div.je_mn_21_jan_2026_s1_q_54d::after {max-width:300px; width:100%;height:0;padding: 0 0 40.666666666666664% 0;}
.je_mn_22_jan_2026_s1_q_70 {max-width:300px; max-height:195px; }
.je_mn_22_jan_2026_s1_q_70::after {content: '\00a0';display: inline-block; width:300px; height:195px; background-position: 42.287694974003465% 99.88023952095809%; background-size: 677% 528.2051282051282%; background-image: url(c_11_chembonding3_0.png);padding: 0; }
div.je_mn_22_jan_2026_s1_q_70::after {max-width:300px; width:100%;height:0;padding: 0 0 65% 0;}
.jee_mn_24_jan_2025_s2_sol_58 {max-width:112px; max-height:66px; }
.jee_mn_24_jan_2025_s2_sol_58::after {content: '\00a0';display: inline-block; width:112px; height:66px; background-position: 93.48619072433559% 89.6265560165975%; background-size: 1813.392857142857% 1560.6060606060605%; background-image: url(c_11_chembonding3_0.png);padding: 0; }
div.jee_mn_24_jan_2025_s2_sol_58::after {max-width:112px; width:100%;height:0;padding: 0 0 58.92857142857143% 0;}
.jee_mn_28_jan_2025_s1_sol_57 {max-width:344px; max-height:173px; }
.jee_mn_28_jan_2025_s1_sol_57::after {content: '\00a0';display: inline-block; width:344px; height:173px; background-position: 99.3479549496147% 37.80630105017503%; background-size: 590.4069767441861% 595.3757225433526%; background-image: url(c_11_chembonding3_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s1_sol_57::after {max-width:344px; width:100%;height:0;padding: 0 0 50.2906976744186% 0;}
.jm_2_apr_2025_s1_q_68 {max-width:408px; max-height:201px; }
.jm_2_apr_2025_s1_q_68::after {content: '\00a0';display: inline-block; width:408px; height:201px; background-position: 49.04497843499692% 74.66827503015682%; background-size: 497.79411764705884% 512.4378109452737%; background-image: url(c_11_chembonding3_0.png);padding: 0; }
div.jm_2_apr_2025_s1_q_68::after {max-width:408px; width:100%;height:0;padding: 0 0 49.26470588235294% 0;}
.jm_2_apr_2025_s2_sol_52 {max-width:241px; max-height:183px; }
.jm_2_apr_2025_s2_sol_52::after {content: '\00a0';display: inline-block; width:241px; height:183px; background-position: 65.36312849162012% 98.46517119244392%; background-size: 842.7385892116182% 562.8415300546449%; background-image: url(c_11_chembonding3_0.png);padding: 0; }
div.jm_2_apr_2025_s2_sol_52::after {max-width:241px; width:100%;height:0;padding: 0 0 75.93360995850622% 0;}
.jm_4_apr_2025_s2_q_59 {max-width:400px; max-height:165px; }
.jm_4_apr_2025_s2_q_59::after {content: '\00a0';display: inline-block; width:400px; height:165px; background-position: 52.05395462906193% 52.369942196531795%; background-size: 507.75% 624.2424242424242%; background-image: url(c_11_chembonding3_0.png);padding: 0; }
div.jm_4_apr_2025_s2_q_59::after {max-width:400px; width:100%;height:0;padding: 0 0 41.25% 0;}

@keyframes JEE_MAIN_4APRIL_2024_S2_S-frames {
    0% { background-position: 54.51187335092348% 92.87330316742081%;  }
    50% { background-position: 77.8744561839652% 42.25028702640643%;  }
}

.JEE_MAIN_4APRIL_2024_S2_S-animation {
    max-width: 136px;
    max-height: 146px;
}
.JEE_MAIN_4APRIL_2024_S2_S-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 136px;
    height: 146px;
    padding: 0;
    background-image: url(c_11_chembonding3_0.png);
    background-size: 1493.3823529411766% 705.4794520547945%; 
    animation-name: JEE_MAIN_4APRIL_2024_S2_S-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEE_MAIN_4APRIL_2024_S2_S-animation::after {
    max-width: 136px;
    width: 100%;
    height: 0;
    padding: 0 0 107.3529411764706% 0;
}

@keyframes JEE_MAIN_5APRIL_2024_S1_S-frames {
    0% { background-position: 97.67932489451476% 65.14346439957492%;  }
    50% { background-position: 72.70854788877446% 89.19786096256685%;  }
}

.JEE_MAIN_5APRIL_2024_S1_S-animation {
    max-width: 135px;
    max-height: 89px;
}
.JEE_MAIN_5APRIL_2024_S1_S-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 135px;
    height: 89px;
    padding: 0;
    background-image: url(c_11_chembonding3_0.png);
    background-size: 1504.4444444444443% 1157.3033707865168%; 
    animation-name: JEE_MAIN_5APRIL_2024_S1_S-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEE_MAIN_5APRIL_2024_S1_S-animation::after {
    max-width: 135px;
    width: 100%;
    height: 0;
    padding: 0 0 65.92592592592592% 0;
}

@keyframes JEE_MAIN_5APRIL_2024_S2_S-frames {
    0% { background-position: 76.96560196560196% 0.15060240963855423%;  }
    50% { background-position: 99.93968636911941% 0.14124293785310735%;  }
}

.JEE_MAIN_5APRIL_2024_S2_S-animation {
    max-width: 403px;
    max-height: 366px;
}
.JEE_MAIN_5APRIL_2024_S2_S-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 403px;
    height: 366px;
    padding: 0;
    background-image: url(c_11_chembonding3_0.png);
    background-size: 503.970223325062% 281.42076502732243%; 
    animation-name: JEE_MAIN_5APRIL_2024_S2_S-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEE_MAIN_5APRIL_2024_S2_S-animation::after {
    max-width: 403px;
    width: 100%;
    height: 0;
    padding: 0 0 90.81885856079404% 0;
}

@keyframes JEE_MAIN_6APRIL_2024_S1_S-frames {
    0% { background-position: 0.062421972534332085% 83.47222222222223%;  }
    33.33333333333333% { background-position: 24.98414711477489% 0.1953125%;  }
    66.66666666666666% { background-position: 98.41456253669995% 54.366812227074234%;  }
}

.JEE_MAIN_6APRIL_2024_S1_S-animation {
    max-width: 429px;
    max-height: 310px;
}
.JEE_MAIN_6APRIL_2024_S1_S-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 429px;
    height: 310px;
    padding: 0;
    background-image: url(c_11_chembonding3_0.png);
    background-size: 473.42657342657344% 332.258064516129%; 
    animation-name: JEE_MAIN_6APRIL_2024_S1_S-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEE_MAIN_6APRIL_2024_S1_S-animation::after {
    max-width: 429px;
    width: 100%;
    height: 0;
    padding: 0 0 72.26107226107226% 0;
}

@keyframes JEE_MAIN_8APRIL_2024_S1_S-frames {
    0% { background-position: 25.854829034193163% 72.02216066481995%;  }
    50% { background-position: 0.06101281269066504% 0.23201856148491878%;  }
}

.JEE_MAIN_8APRIL_2024_S1_S-animation {
    max-width: 364px;
    max-height: 308px;
}
.JEE_MAIN_8APRIL_2024_S1_S-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 364px;
    height: 308px;
    padding: 0;
    background-image: url(c_11_chembonding3_0.png);
    background-size: 557.967032967033% 334.4155844155844%; 
    animation-name: JEE_MAIN_8APRIL_2024_S1_S-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEE_MAIN_8APRIL_2024_S1_S-animation::after {
    max-width: 364px;
    width: 100%;
    height: 0;
    padding: 0 0 84.61538461538461% 0;
}

/* $TexturePacker:SmartUpdate:7c579e657461df8a13f7603249dcef1f:5367525c85a93830c0200e497bdc280d:0373ed658c57e0dab8afc9ffd9c08bf0$ */
