/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.JEE_MAIN_4APRIL_2024_S2_S_64 {max-width:136px; max-height:146px; }
.JEE_MAIN_4APRIL_2024_S2_S_64::after {content: '\00a0';display: inline-block; width:136px; height:146px; background-position: 92.76094276094275% 15.254237288135593%; background-size: 1410.2941176470588% 665.7534246575342%; background-image: url(c_11_chembonding3_0.png);padding: 0; }
div.JEE_MAIN_4APRIL_2024_S2_S_64::after {max-width:136px; width:100%;height:0;padding: 0 0 107.3529411764706% 0;}
.JEE_MAIN_4APRIL_2024_S2_S_80 {max-width:422px; max-height:159px; }
.JEE_MAIN_4APRIL_2024_S2_S_80::after {content: '\00a0';display: inline-block; width:422px; height:159px; background-position: 95.98930481283422% 45.75645756457565%; background-size: 454.50236966824644% 611.3207547169811%; background-image: url(c_11_chembonding3_0.png);padding: 0; }
div.JEE_MAIN_4APRIL_2024_S2_S_80::after {max-width:422px; width:100%;height:0;padding: 0 0 37.677725118483416% 0;}
.JEE_MAIN_5APRIL_2024_S1_S_68 {max-width:135px; max-height:89px; }
.JEE_MAIN_5APRIL_2024_S1_S_68::after {content: '\00a0';display: inline-block; width:135px; height:89px; background-position: 68.64834548513741% 56.39864099660249%; background-size: 1420.7407407407406% 1092.1348314606741%; background-image: url(c_11_chembonding3_0.png);padding: 0; }
div.JEE_MAIN_5APRIL_2024_S1_S_68::after {max-width:135px; width:100%;height:0;padding: 0 0 65.92592592592592% 0;}
.JEE_MAIN_5APRIL_2024_S1_S_89 {max-width:89px; max-height:95px; }
.JEE_MAIN_5APRIL_2024_S1_S_89::after {content: '\00a0';display: inline-block; width:89px; height:95px; background-position: 97.86768726079825% 22.006841505131128%; background-size: 2155.0561797752807% 1023.1578947368421%; background-image: url(c_11_chembonding3_0.png);padding: 0; }
div.JEE_MAIN_5APRIL_2024_S1_S_89::after {max-width:89px; width:100%;height:0;padding: 0 0 106.74157303370787% 0;}
.JEE_MAIN_5APRIL_2024_S2_S_61 {max-width:403px; max-height:366px; }
.JEE_MAIN_5APRIL_2024_S2_S_61::after {content: '\00a0';display: inline-block; width:403px; height:366px; background-position: 0.066006600660066% 99.17491749174917%; background-size: 475.93052109181144% 265.57377049180326%; background-image: url(c_11_chembonding3_0.png);padding: 0; }
div.JEE_MAIN_5APRIL_2024_S2_S_61::after {max-width:403px; width:100%;height:0;padding: 0 0 90.81885856079404% 0;}
.JEE_MAIN_5APRIL_2024_S2_S_65 {max-width:373px; max-height:322px; }
.JEE_MAIN_5APRIL_2024_S2_S_65::after {content: '\00a0';display: inline-block; width:373px; height:322px; background-position: 54.95145631067961% 0.15384615384615385%; background-size: 514.2091152815013% 301.8633540372671%; background-image: url(c_11_chembonding3_0.png);padding: 0; }
div.JEE_MAIN_5APRIL_2024_S2_S_65::after {max-width:373px; width:100%;height:0;padding: 0 0 86.32707774798928% 0;}
.JEE_MAIN_6APRIL_2024_S1_Q_84 {max-width:425px; max-height:80px; }
.JEE_MAIN_6APRIL_2024_S1_Q_84::after {content: '\00a0';display: inline-block; width:425px; height:80px; background-position: 26.38981915606162% 58.29596412556054%; background-size: 451.29411764705884% 1215%; background-image: url(c_11_chembonding3_0.png);padding: 0; }
div.JEE_MAIN_6APRIL_2024_S1_Q_84::after {max-width:425px; width:100%;height:0;padding: 0 0 18.823529411764707% 0;}
.JEE_MAIN_6APRIL_2024_S1_S_62 {max-width:429px; max-height:310px; }
.JEE_MAIN_6APRIL_2024_S1_S_62::after {content: '\00a0';display: inline-block; width:429px; height:310px; background-position: 82.13566151779717% 0.1510574018126888%; background-size: 447.0862470862471% 313.5483870967742%; background-image: url(c_11_chembonding3_0.png);padding: 0; }
div.JEE_MAIN_6APRIL_2024_S1_S_62::after {max-width:429px; width:100%;height:0;padding: 0 0 72.26107226107226% 0;}
.JEE_MAIN_6APRIL_2024_S1_S_69 {max-width:454px; max-height:518px; }
.JEE_MAIN_6APRIL_2024_S1_S_69::after {content: '\00a0';display: inline-block; width:454px; height:518px; background-position: 26.91256830601093% 0.22026431718061673%; background-size: 422.4669603524229% 187.64478764478764%; background-image: url(c_11_chembonding3_0.png);padding: 0; }
div.JEE_MAIN_6APRIL_2024_S1_S_69::after {max-width:454px; width:100%;height:0;padding: 0 0 114.09691629955947% 0;}
.JEE_MAIN_6APRIL_2024_S1_S_84 {max-width:328px; max-height:114px; }
.JEE_MAIN_6APRIL_2024_S1_S_84::after {content: '\00a0';display: inline-block; width:328px; height:114px; background-position: 99.937106918239% 62.004662004662%; background-size: 584.7560975609756% 852.6315789473684%; background-image: url(c_11_chembonding3_0.png);padding: 0; }
div.JEE_MAIN_6APRIL_2024_S1_S_84::after {max-width:328px; width:100%;height:0;padding: 0 0 34.75609756097561% 0;}
.JEE_MAIN_6APRIL_2024_S2_Q_82 {max-width:425px; max-height:59px; }
.JEE_MAIN_6APRIL_2024_S2_Q_82::after {content: '\00a0';display: inline-block; width:425px; height:59px; background-position: 96.18218352310784% 34.17305585980285%; background-size: 451.29411764705884% 1647.457627118644%; background-image: url(c_11_chembonding3_0.png);padding: 0; }
div.JEE_MAIN_6APRIL_2024_S2_Q_82::after {max-width:425px; width:100%;height:0;padding: 0 0 13.882352941176471% 0;}
.JEE_MAIN_6APRIL_2024_S2_S_82 {max-width:403px; max-height:451px; }
.JEE_MAIN_6APRIL_2024_S2_S_82::after {content: '\00a0';display: inline-block; width:403px; height:451px; background-position: 54.12541254125413% 99.8080614203455%; background-size: 475.93052109181144% 215.52106430155212%; background-image: url(c_11_chembonding3_0.png);padding: 0; }
div.JEE_MAIN_6APRIL_2024_S2_S_82::after {max-width:403px; width:100%;height:0;padding: 0 0 111.91066997518611% 0;}
.JEE_MAIN_8APRIL_2024_S1_S_67 {max-width:364px; max-height:308px; }
.JEE_MAIN_8APRIL_2024_S1_S_67::after {content: '\00a0';display: inline-block; width:364px; height:308px; background-position: 78.76447876447877% 88.55421686746988%; background-size: 526.9230769230769% 315.5844155844156%; background-image: url(c_11_chembonding3_0.png);padding: 0; }
div.JEE_MAIN_8APRIL_2024_S1_S_67::after {max-width:364px; width:100%;height:0;padding: 0 0 84.61538461538461% 0;}
.JEE_MAIN_8APRIL_2024_S1_S_86 {max-width:392px; max-height:599px; }
.JEE_MAIN_8APRIL_2024_S1_S_86::after {content: '\00a0';display: inline-block; width:392px; height:599px; background-position: 0.0655307994757536% 0.2680965147453083%; background-size: 489.2857142857143% 162.2704507512521%; background-image: url(c_11_chembonding3_0.png);padding: 0; }
div.JEE_MAIN_8APRIL_2024_S1_S_86::after {max-width:392px; width:100%;height:0;padding: 0 0 152.80612244897958% 0;}
.JEE_MAIN_8APRIL_2024_S2_S_65 {max-width:218px; max-height:124px; }
.JEE_MAIN_8APRIL_2024_S2_S_65::after {content: '\00a0';display: inline-block; width:218px; height:124px; background-position: 97.23529411764706% 0.1179245283018868%; background-size: 879.816513761468% 783.8709677419355%; background-image: url(c_11_chembonding3_0.png);padding: 0; }
div.JEE_MAIN_8APRIL_2024_S2_S_65::after {max-width:218px; width:100%;height:0;padding: 0 0 56.88073394495413% 0;}
.JEE_MAIN_9APRIL_2024_S2_S_64 {max-width:287px; max-height:253px; }
.JEE_MAIN_9APRIL_2024_S2_S_64::after {content: '\00a0';display: inline-block; width:287px; height:253px; background-position: 97.42489270386267% 89.98609179415855%; background-size: 668.2926829268292% 384.1897233201581%; background-image: url(c_11_chembonding3_0.png);padding: 0; }
div.JEE_MAIN_9APRIL_2024_S2_S_64::after {max-width:287px; width:100%;height:0;padding: 0 0 88.15331010452962% 0;}
.jee_mn_24_jan_2025_s2_sol_58 {max-width:112px; max-height:66px; }
.jee_mn_24_jan_2025_s2_sol_58::after {content: '\00a0';display: inline-block; width:112px; height:66px; background-position: 99.1140642303433% 13.907284768211921%; background-size: 1712.5% 1472.7272727272727%; background-image: url(c_11_chembonding3_0.png);padding: 0; }
div.jee_mn_24_jan_2025_s2_sol_58::after {max-width:112px; width:100%;height:0;padding: 0 0 58.92857142857143% 0;}
.jee_mn_28_jan_2025_s1_sol_57 {max-width:344px; max-height:173px; }
.jee_mn_28_jan_2025_s1_sol_57::after {content: '\00a0';display: inline-block; width:344px; height:173px; background-position: 69.3138500635324% 40.550688360450565%; background-size: 557.5581395348837% 561.849710982659%; background-image: url(c_11_chembonding3_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s1_sol_57::after {max-width:344px; width:100%;height:0;padding: 0 0 50.2906976744186% 0;}
.jm_2_apr_2025_s1_q_68 {max-width:408px; max-height:201px; }
.jm_2_apr_2025_s1_q_68::after {content: '\00a0';display: inline-block; width:408px; height:201px; background-position: 26.821192052980134% 77.95071335927366%; background-size: 470.0980392156863% 483.5820895522388%; background-image: url(c_11_chembonding3_0.png);padding: 0; }
div.jm_2_apr_2025_s1_q_68::after {max-width:408px; width:100%;height:0;padding: 0 0 49.26470588235294% 0;}
.jm_2_apr_2025_s2_sol_52 {max-width:241px; max-height:183px; }
.jm_2_apr_2025_s2_sol_52::after {content: '\00a0';display: inline-block; width:241px; height:183px; background-position: 50.62611806797853% 41.06463878326996%; background-size: 795.850622406639% 531.1475409836065%; background-image: url(c_11_chembonding3_0.png);padding: 0; }
div.jm_2_apr_2025_s2_sol_52::after {max-width:241px; width:100%;height:0;padding: 0 0 75.93360995850622% 0;}
.jm_4_apr_2025_s2_q_59 {max-width:400px; max-height:165px; }
.jm_4_apr_2025_s2_q_59::after {content: '\00a0';display: inline-block; width:400px; height:165px; background-position: 26.679841897233203% 99.50433705080545%; background-size: 479.5% 589.0909090909091%; background-image: url(c_11_chembonding3_0.png);padding: 0; }
div.jm_4_apr_2025_s2_q_59::after {max-width:400px; width:100%;height:0;padding: 0 0 41.25% 0;}

@keyframes JEE_MAIN_4APRIL_2024_S2_S-frames {
    0% { background-position: 92.76094276094275% 15.254237288135593%;  }
    50% { background-position: 95.98930481283422% 45.75645756457565%;  }
}

.JEE_MAIN_4APRIL_2024_S2_S-animation {
    max-width: 136px;
    max-height: 146px;
}
.JEE_MAIN_4APRIL_2024_S2_S-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 136px;
    height: 146px;
    padding: 0;
    background-image: url(c_11_chembonding3_0.png);
    background-size: 1410.2941176470588% 665.7534246575342%; 
    animation-name: JEE_MAIN_4APRIL_2024_S2_S-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEE_MAIN_4APRIL_2024_S2_S-animation::after {
    max-width: 136px;
    width: 100%;
    height: 0;
    padding: 0 0 107.3529411764706% 0;
}

@keyframes JEE_MAIN_5APRIL_2024_S1_S-frames {
    0% { background-position: 68.64834548513741% 56.39864099660249%;  }
    50% { background-position: 97.86768726079825% 22.006841505131128%;  }
}

.JEE_MAIN_5APRIL_2024_S1_S-animation {
    max-width: 135px;
    max-height: 89px;
}
.JEE_MAIN_5APRIL_2024_S1_S-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 135px;
    height: 89px;
    padding: 0;
    background-image: url(c_11_chembonding3_0.png);
    background-size: 1420.7407407407406% 1092.1348314606741%; 
    animation-name: JEE_MAIN_5APRIL_2024_S1_S-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEE_MAIN_5APRIL_2024_S1_S-animation::after {
    max-width: 135px;
    width: 100%;
    height: 0;
    padding: 0 0 65.92592592592592% 0;
}

@keyframes JEE_MAIN_5APRIL_2024_S2_S-frames {
    0% { background-position: 0.066006600660066% 99.17491749174917%;  }
    50% { background-position: 54.95145631067961% 0.15384615384615385%;  }
}

.JEE_MAIN_5APRIL_2024_S2_S-animation {
    max-width: 403px;
    max-height: 366px;
}
.JEE_MAIN_5APRIL_2024_S2_S-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 403px;
    height: 366px;
    padding: 0;
    background-image: url(c_11_chembonding3_0.png);
    background-size: 475.93052109181144% 265.57377049180326%; 
    animation-name: JEE_MAIN_5APRIL_2024_S2_S-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEE_MAIN_5APRIL_2024_S2_S-animation::after {
    max-width: 403px;
    width: 100%;
    height: 0;
    padding: 0 0 90.81885856079404% 0;
}

@keyframes JEE_MAIN_6APRIL_2024_S1_S-frames {
    0% { background-position: 82.13566151779717% 0.1510574018126888%;  }
    33.33333333333333% { background-position: 26.91256830601093% 0.22026431718061673%;  }
    66.66666666666666% { background-position: 99.937106918239% 62.004662004662%;  }
}

.JEE_MAIN_6APRIL_2024_S1_S-animation {
    max-width: 429px;
    max-height: 310px;
}
.JEE_MAIN_6APRIL_2024_S1_S-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 429px;
    height: 310px;
    padding: 0;
    background-image: url(c_11_chembonding3_0.png);
    background-size: 447.0862470862471% 313.5483870967742%; 
    animation-name: JEE_MAIN_6APRIL_2024_S1_S-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEE_MAIN_6APRIL_2024_S1_S-animation::after {
    max-width: 429px;
    width: 100%;
    height: 0;
    padding: 0 0 72.26107226107226% 0;
}

@keyframes JEE_MAIN_8APRIL_2024_S1_S-frames {
    0% { background-position: 78.76447876447877% 88.55421686746988%;  }
    50% { background-position: 0.0655307994757536% 0.2680965147453083%;  }
}

.JEE_MAIN_8APRIL_2024_S1_S-animation {
    max-width: 364px;
    max-height: 308px;
}
.JEE_MAIN_8APRIL_2024_S1_S-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 364px;
    height: 308px;
    padding: 0;
    background-image: url(c_11_chembonding3_0.png);
    background-size: 526.9230769230769% 315.5844155844156%; 
    animation-name: JEE_MAIN_8APRIL_2024_S1_S-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEE_MAIN_8APRIL_2024_S1_S-animation::after {
    max-width: 364px;
    width: 100%;
    height: 0;
    padding: 0 0 84.61538461538461% 0;
}

/* $TexturePacker:SmartUpdate:3b4362e28186f3f771e7c44a9b48e0e0:f72d8700fb415b45a71c143ce82b1d15:0373ed658c57e0dab8afc9ffd9c08bf0$ */
