/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.JEEMAINS_13APRIL_2023_S2_Q_74 {max-width:266px; max-height:116px; }
.JEEMAINS_13APRIL_2023_S2_Q_74::after {content: '\00a0';display: inline-block; width:266px; height:116px; background-position: 94.34229137199434% 93.39953271028037%; background-size: 365.7894736842105% 1575.8620689655172%; background-image: url(c_11_themrodynamics2_0.png);padding: 0; }
div.JEEMAINS_13APRIL_2023_S2_Q_74::after {max-width:266px; width:100%;height:0;padding: 0 0 43.609022556390975% 0;}
.JEEMAINS_6APRIL_2023_S1_83 {max-width:234px; max-height:251px; }
.JEEMAINS_6APRIL_2023_S1_83::after {content: '\00a0';display: inline-block; width:234px; height:251px; background-position: 39.512855209742895% 86.68357641090678%; background-size: 415.8119658119658% 728.2868525896414%; background-image: url(c_11_themrodynamics2_0.png);padding: 0; }
div.JEEMAINS_6APRIL_2023_S1_83::after {max-width:234px; width:100%;height:0;padding: 0 0 107.26495726495726% 0;}
.JEE_MAIN_8APRIL_2024_S1_Q_82 {max-width:122px; max-height:184px; }
.JEE_MAIN_8APRIL_2024_S1_Q_82::after {content: '\00a0';display: inline-block; width:122px; height:184px; background-position: 98.58989424206815% 57.60340632603406%; background-size: 797.5409836065573% 993.4782608695652%; background-image: url(c_11_themrodynamics2_0.png);padding: 0; }
div.JEE_MAIN_8APRIL_2024_S1_Q_82::after {max-width:122px; width:100%;height:0;padding: 0 0 150.81967213114754% 0;}
.JEE_MAIN_9APRIL_2024_S1_Q_81 {max-width:408px; max-height:100px; }
.JEE_MAIN_9APRIL_2024_S1_Q_81::after {content: '\00a0';display: inline-block; width:408px; height:100px; background-position: 90.4424778761062% 33.969907407407405%; background-size: 238.48039215686273% 1828%; background-image: url(c_11_themrodynamics2_0.png);padding: 0; }
div.JEE_MAIN_9APRIL_2024_S1_Q_81::after {max-width:408px; width:100%;height:0;padding: 0 0 24.50980392156863% 0;}
.JEE_Main_26_Aug_2021_Shift_1_58_Q_1_S {max-width:280px; max-height:144px; }
.JEE_Main_26_Aug_2021_Shift_1_58_Q_1_S::after {content: '\00a0';display: inline-block; width:280px; height:144px; background-position: 44.300144300144304% 71.61520190023752%; background-size: 347.5% 1269.4444444444443%; background-image: url(c_11_themrodynamics2_0.png);padding: 0; }
div.JEE_Main_26_Aug_2021_Shift_1_58_Q_1_S::after {max-width:280px; width:100%;height:0;padding: 0 0 51.42857142857143% 0;}
.JEE_Main_27_Aug_2021_Shift_2_53_Q {max-width:246px; max-height:111px; }
.JEE_Main_27_Aug_2021_Shift_2_53_Q::after {content: '\00a0';display: inline-block; width:246px; height:111px; background-position: 91.74690508940853% 99.94175888177053%; background-size: 395.5284552845528% 1646.8468468468468%; background-image: url(c_11_themrodynamics2_0.png);padding: 0; }
div.JEE_Main_27_Aug_2021_Shift_2_53_Q::after {max-width:246px; width:100%;height:0;padding: 0 0 45.1219512195122% 0;}
.JEE_Main_27_Aug_2021_Shift_2_53_Q_1_S {max-width:265px; max-height:171px; }
.JEE_Main_27_Aug_2021_Shift_2_53_Q_1_S::after {content: '\00a0';display: inline-block; width:265px; height:171px; background-position: 0.14124293785310735% 98.61194930597465%; background-size: 367.1698113207547% 1069.0058479532163%; background-image: url(c_11_themrodynamics2_0.png);padding: 0; }
div.JEE_Main_27_Aug_2021_Shift_2_53_Q_1_S::after {max-width:265px; width:100%;height:0;padding: 0 0 64.52830188679245% 0;}
.jee_mains_30_jun_2022_s1_67_a {max-width:180px; max-height:138px; }
.jee_mains_30_jun_2022_s1_67_a::after {content: '\00a0';display: inline-block; width:180px; height:138px; background-position: 98.10844892812106% 71.36094674556213%; background-size: 540.5555555555555% 1324.6376811594203%; background-image: url(c_11_themrodynamics2_0.png);padding: 0; }
div.jee_mains_30_jun_2022_s1_67_a::after {max-width:180px; width:100%;height:0;padding: 0 0 76.66666666666667% 0;}
.jee_mains_30_jun_2022_s1_67_b {max-width:180px; max-height:144px; }
.jee_mains_30_jun_2022_s1_67_b::after {content: '\00a0';display: inline-block; width:180px; height:144px; background-position: 61.28625472887768% 96.14014251781472%; background-size: 540.5555555555555% 1269.4444444444443%; background-image: url(c_11_themrodynamics2_0.png);padding: 0; }
div.jee_mains_30_jun_2022_s1_67_b::after {max-width:180px; width:100%;height:0;padding: 0 0 80% 0;}
.jee_mains_30_jun_2022_s1_67_c {max-width:189px; max-height:141px; }
.jee_mains_30_jun_2022_s1_67_c::after {content: '\00a0';display: inline-block; width:189px; height:141px; background-position: 75% 71.48784825133373%; background-size: 514.8148148148148% 1296.4539007092199%; background-image: url(c_11_themrodynamics2_0.png);padding: 0; }
div.jee_mains_30_jun_2022_s1_67_c::after {max-width:189px; width:100%;height:0;padding: 0 0 74.60317460317461% 0;}
.jee_mains_30_jun_2022_s1_67_d {max-width:180px; max-height:138px; }
.jee_mains_30_jun_2022_s1_67_d::after {content: '\00a0';display: inline-block; width:180px; height:138px; background-position: 99.87389659520807% 79.58579881656804%; background-size: 540.5555555555555% 1324.6376811594203%; background-image: url(c_11_themrodynamics2_0.png);padding: 0; }
div.jee_mains_30_jun_2022_s1_67_d::after {max-width:180px; width:100%;height:0;padding: 0 0 76.66666666666667% 0;}
.jee_mains_30_jun_2022_s1_83 {max-width:264px; max-height:247px; }
.jee_mains_30_jun_2022_s1_83::after {content: '\00a0';display: inline-block; width:264px; height:247px; background-position: 74.33004231311706% 85.45224541429475%; background-size: 368.56060606060606% 740.080971659919%; background-image: url(c_11_themrodynamics2_0.png);padding: 0; }
div.jee_mains_30_jun_2022_s1_83::after {max-width:264px; width:100%;height:0;padding: 0 0 93.56060606060606% 0;}
.jee_mn_23_jan_2025_s2_sol_73 {max-width:218px; max-height:148px; }
.jee_mn_23_jan_2025_s2_sol_73::after {content: '\00a0';display: inline-block; width:218px; height:148px; background-position: 35.36423841059602% 97.26190476190476%; background-size: 446.3302752293578% 1235.1351351351352%; background-image: url(c_11_themrodynamics2_0.png);padding: 0; }
div.jee_mn_23_jan_2025_s2_sol_73::after {max-width:218px; width:100%;height:0;padding: 0 0 67.88990825688073% 0;}
.jee_mn_24_jan_2023_s2_58 {max-width:305px; max-height:278px; }
.jee_mn_24_jan_2023_s2_58::after {content: '\00a0';display: inline-block; width:305px; height:278px; background-position: 0.1497005988023952% 70.19354838709677%; background-size: 319.0163934426229% 657.5539568345324%; background-image: url(c_11_themrodynamics2_0.png);padding: 0; }
div.jee_mn_24_jan_2023_s2_58::after {max-width:305px; width:100%;height:0;padding: 0 0 91.14754098360656% 0;}
.jee_mn_24_jan_2023_s2_60 {max-width:418px; max-height:290px; }
.jee_mn_24_jan_2023_s2_60::after {content: '\00a0';display: inline-block; width:418px; height:290px; background-position: 93.15315315315316% 19.245773732119638%; background-size: 232.77511961722487% 630.3448275862069%; background-image: url(c_11_themrodynamics2_0.png);padding: 0; }
div.jee_mn_24_jan_2023_s2_60::after {max-width:418px; width:100%;height:0;padding: 0 0 69.377990430622% 0;}
.jee_mn_28_jan_2025_s2_q_52 {max-width:514px; max-height:174px; }
.jee_mn_28_jan_2025_s2_q_52::after {content: '\00a0';display: inline-block; width:514px; height:174px; background-position: 0.2178649237472767% 18.198307134220073%; background-size: 189.29961089494162% 1050.5747126436781%; background-image: url(c_11_themrodynamics2_0.png);padding: 0; }
div.jee_mn_28_jan_2025_s2_q_52::after {max-width:514px; width:100%;height:0;padding: 0 0 33.85214007782101% 0;}
.jee_mn_30_jan_2024_s1_83 {max-width:290px; max-height:266px; }
.jee_mn_30_jan_2024_s1_83::after {content: '\00a0';display: inline-block; width:290px; height:266px; background-position: 0.14641288433382138% 87.51600512163893%; background-size: 335.51724137931035% 687.218045112782%; background-image: url(c_11_themrodynamics2_0.png);padding: 0; }
div.jee_mn_30_jan_2024_s1_83::after {max-width:290px; width:100%;height:0;padding: 0 0 91.72413793103448% 0;}
.jm_2_apr_2025_s1_q_62 {max-width:402px; max-height:258px; }
.jm_2_apr_2025_s1_q_62::after {content: '\00a0';display: inline-block; width:402px; height:258px; background-position: 89.49211908931699% 43.82165605095541%; background-size: 242.03980099502488% 708.5271317829457%; background-image: url(c_11_themrodynamics2_0.png);padding: 0; }
div.jm_2_apr_2025_s1_q_62::after {max-width:402px; width:100%;height:0;padding: 0 0 64.17910447761194% 0;}
.jm_2_apr_2025_s2_q_65a {max-width:515px; max-height:299px; }
.jm_2_apr_2025_s2_q_65a::after {content: '\00a0';display: inline-block; width:515px; height:299px; background-position: 0.2183406113537118% 0.06540222367560497%; background-size: 188.93203883495147% 611.371237458194%; background-image: url(c_11_themrodynamics2_0.png);padding: 0; }
div.jm_2_apr_2025_s2_q_65a::after {max-width:515px; width:100%;height:0;padding: 0 0 58.05825242718446% 0;}
.jm_2_apr_2025_s2_q_65b {max-width:509px; max-height:303px; }
.jm_2_apr_2025_s2_q_65b::after {content: '\00a0';display: inline-block; width:509px; height:303px; background-position: 0.21551724137931033% 31.21311475409836%; background-size: 191.15913555992142% 603.3003300330033%; background-image: url(c_11_themrodynamics2_0.png);padding: 0; }
div.jm_2_apr_2025_s2_q_65b::after {max-width:509px; width:100%;height:0;padding: 0 0 59.52848722986248% 0;}
.jm_2_apr_2025_s2_q_65c {max-width:476px; max-height:307px; }
.jm_2_apr_2025_s2_q_65c::after {content: '\00a0';display: inline-block; width:476px; height:307px; background-position: 0.2012072434607646% 51.282051282051285%; background-size: 204.41176470588235% 595.4397394136807%; background-image: url(c_11_themrodynamics2_0.png);padding: 0; }
div.jm_2_apr_2025_s2_q_65c::after {max-width:476px; width:100%;height:0;padding: 0 0 64.49579831932773% 0;}
.jm_2_apr_2025_s2_q_65d {max-width:442px; max-height:294px; }
.jm_2_apr_2025_s2_q_65d::after {content: '\00a0';display: inline-block; width:442px; height:294px; background-position: 97.36346516007534% 0.0651890482398957%; background-size: 220.13574660633483% 621.7687074829932%; background-image: url(c_11_themrodynamics2_0.png);padding: 0; }
div.jm_2_apr_2025_s2_q_65d::after {max-width:442px; width:100%;height:0;padding: 0 0 66.5158371040724% 0;}
.jm_3_apr_2025_s2_q_77 {max-width:360px; max-height:258px; }
.jm_3_apr_2025_s2_q_77::after {content: '\00a0';display: inline-block; width:360px; height:258px; background-position: 77.97716150081565% 60.318471337579616%; background-size: 270.27777777777777% 708.5271317829457%; background-image: url(c_11_themrodynamics2_0.png);padding: 0; }
div.jm_3_apr_2025_s2_q_77::after {max-width:360px; width:100%;height:0;padding: 0 0 71.66666666666667% 0;}

@keyframes jee_mn_24_jan_2023_s2-frames {
    0% { background-position: 0.1497005988023952% 70.19354838709677%;  }
    50% { background-position: 93.15315315315316% 19.245773732119638%;  }
}

.jee_mn_24_jan_2023_s2-animation {
    max-width: 305px;
    max-height: 278px;
}
.jee_mn_24_jan_2023_s2-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 305px;
    height: 278px;
    padding: 0;
    background-image: url(c_11_themrodynamics2_0.png);
    background-size: 319.0163934426229% 657.5539568345324%; 
    animation-name: jee_mn_24_jan_2023_s2-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.jee_mn_24_jan_2023_s2-animation::after {
    max-width: 305px;
    width: 100%;
    height: 0;
    padding: 0 0 91.14754098360656% 0;
}

/* $TexturePacker:SmartUpdate:489078951a5703231eeae916676bae7f:853f4baf5edab5ead288bcf2db5f5502:691e64ccd5f1e02c6e7600932cebe2a2$ */
