/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.JEEMAINS_10APRIL_2023_S1_S_89 {max-width:446px; max-height:257px; }
.JEEMAINS_10APRIL_2023_S1_S_89::after {content: '\00a0';display: inline-block; width:446px; height:257px; background-position: 0.17699115044247787% 0.0697350069735007%; background-size: 226.68161434977577% 657.976653696498%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.JEEMAINS_10APRIL_2023_S1_S_89::after {max-width:446px; width:100%;height:0;padding: 0 0 57.62331838565022% 0;}
.JEEMAINS_10APRIL_2023_S2_Q_87 {max-width:382px; max-height:151px; }
.JEEMAINS_10APRIL_2023_S2_Q_87::after {content: '\00a0';display: inline-block; width:382px; height:151px; background-position: 71.2241653418124% 12.727272727272727%; background-size: 264.65968586387436% 1119.867549668874%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.JEEMAINS_10APRIL_2023_S2_Q_87::after {max-width:382px; width:100%;height:0;padding: 0 0 39.52879581151832% 0;}
.JEEMAINS_11APRIL_2023_S2_S_84 {max-width:251px; max-height:240px; }
.JEEMAINS_11APRIL_2023_S2_S_84::after {content: '\00a0';display: inline-block; width:251px; height:240px; background-position: 42.36842105263158% 85.87181254307374%; background-size: 402.78884462151393% 704.5833333333334%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.JEEMAINS_11APRIL_2023_S2_S_84::after {max-width:251px; width:100%;height:0;padding: 0 0 95.61752988047809% 0;}
.JEEMAINS_15APRIL_2023_S1_S_83 {max-width:582px; max-height:73px; }
.JEEMAINS_15APRIL_2023_S1_S_83::after {content: '\00a0';display: inline-block; width:582px; height:73px; background-position: 93.7062937062937% 27.441285537700864%; background-size: 173.71134020618555% 2316.4383561643835%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.JEEMAINS_15APRIL_2023_S1_S_83::after {max-width:582px; width:100%;height:0;padding: 0 0 12.542955326460481% 0;}
.JEEMAINS_8APRIL_2023_S2_Q_66_O_1 {max-width:175px; max-height:162px; }
.JEEMAINS_8APRIL_2023_S2_Q_66_O_1::after {content: '\00a0';display: inline-block; width:175px; height:162px; background-position: 99.40191387559808% 11.706998037933289%; background-size: 577.7142857142857% 1043.8271604938273%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.JEEMAINS_8APRIL_2023_S2_Q_66_O_1::after {max-width:175px; width:100%;height:0;padding: 0 0 92.57142857142857% 0;}
.JEEMAINS_8APRIL_2023_S2_Q_66_O_2 {max-width:212px; max-height:190px; }
.JEEMAINS_8APRIL_2023_S2_Q_66_O_2::after {content: '\00a0';display: inline-block; width:212px; height:190px; background-position: 71.33917396745933% 70.15323117921386%; background-size: 476.8867924528302% 890%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.JEEMAINS_8APRIL_2023_S2_Q_66_O_2::after {max-width:212px; width:100%;height:0;padding: 0 0 89.62264150943396% 0;}
.JEEMAINS_8APRIL_2023_S2_Q_66_O_3 {max-width:201px; max-height:177px; }
.JEEMAINS_8APRIL_2023_S2_Q_66_O_3::after {content: '\00a0';display: inline-block; width:201px; height:177px; background-position: 99.87654320987654% 0.06605019815059446%; background-size: 502.9850746268657% 955.367231638418%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.JEEMAINS_8APRIL_2023_S2_Q_66_O_3::after {max-width:201px; width:100%;height:0;padding: 0 0 88.05970149253731% 0;}
.JEEMAINS_8APRIL_2023_S2_Q_66_O_4 {max-width:182px; max-height:177px; }
.JEEMAINS_8APRIL_2023_S2_Q_66_O_4::after {content: '\00a0';display: inline-block; width:182px; height:177px; background-position: 98.19059107358262% 53.236459709379126%; background-size: 555.4945054945055% 955.367231638418%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.JEEMAINS_8APRIL_2023_S2_Q_66_O_4::after {max-width:182px; width:100%;height:0;padding: 0 0 97.25274725274726% 0;}
.JEE_1_Feb_2024_Shift_1_66_s {max-width:168px; max-height:157px; }
.JEE_1_Feb_2024_Shift_1_66_s::after {content: '\00a0';display: inline-block; width:168px; height:157px; background-position: 96.55990510083036% 72.03389830508475%; background-size: 601.7857142857143% 1077.0700636942674%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.JEE_1_Feb_2024_Shift_1_66_s::after {max-width:168px; width:100%;height:0;padding: 0 0 93.45238095238095% 0;}
.JEE_MAIN_4APRIL_2024_S2_S_81 {max-width:430px; max-height:95px; }
.JEE_MAIN_4APRIL_2024_S2_S_81::after {content: '\00a0';display: inline-block; width:430px; height:95px; background-position: 69.19104991394148% 21.804511278195488%; background-size: 235.11627906976744% 1780%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.JEE_MAIN_4APRIL_2024_S2_S_81::after {max-width:430px; width:100%;height:0;padding: 0 0 22.093023255813954% 0;}
.JEE_MAIN_8APRIL_2024_S1_Q_81 {max-width:195px; max-height:120px; }
.JEE_MAIN_8APRIL_2024_S1_Q_81::after {content: '\00a0';display: inline-block; width:195px; height:120px; background-position: 99.75490196078431% 62.63526416295353%; background-size: 518.4615384615385% 1409.1666666666667%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.JEE_MAIN_8APRIL_2024_S1_Q_81::after {max-width:195px; width:100%;height:0;padding: 0 0 61.53846153846154% 0;}
.je_mn_28_jan_2026_s1_q_64a {max-width:400px; max-height:245px; }
.je_mn_28_jan_2026_s1_q_64a::after {content: '\00a0';display: inline-block; width:400px; height:245px; background-position: 0.16366612111292964% 17.911479944674966%; background-size: 252.75% 690.204081632653%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.je_mn_28_jan_2026_s1_q_64a::after {max-width:400px; width:100%;height:0;padding: 0 0 61.25% 0;}
.je_mn_28_jan_2026_s1_q_64b {max-width:300px; max-height:225px; }
.je_mn_28_jan_2026_s1_q_64b::after {content: '\00a0';display: inline-block; width:300px; height:225px; background-position: 45.28832630098453% 35.33424283765348%; background-size: 337% 751.5555555555555%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.je_mn_28_jan_2026_s1_q_64b::after {max-width:300px; width:100%;height:0;padding: 0 0 75% 0;}
.je_mn_28_jan_2026_s2_q_74 {max-width:360px; max-height:194px; }
.je_mn_28_jan_2026_s2_q_74::after {content: '\00a0';display: inline-block; width:360px; height:194px; background-position: 68.81720430107526% 0.06680026720106881%; background-size: 280.8333333333333% 871.6494845360825%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.je_mn_28_jan_2026_s2_q_74::after {max-width:360px; width:100%;height:0;padding: 0 0 53.888888888888886% 0;}
.jee_mains_24_jan_2023_s1_37 {max-width:236px; max-height:209px; }
.jee_mains_24_jan_2023_s1_37::after {content: '\00a0';display: inline-block; width:236px; height:209px; background-position: 76.38709677419355% 99.93252361673414%; background-size: 428.3898305084746% 809.0909090909091%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.jee_mains_24_jan_2023_s1_37::after {max-width:236px; width:100%;height:0;padding: 0 0 88.55932203389831% 0;}
.jee_mains_29_jun_2022_s2_64_a {max-width:320px; max-height:279px; }
.jee_mains_29_jun_2022_s2_64_a::after {content: '\00a0';display: inline-block; width:320px; height:279px; background-position: 0.1447178002894356% 98.93767705382436%; background-size: 315.9375% 606.0931899641577%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.jee_mains_29_jun_2022_s2_64_a::after {max-width:320px; width:100%;height:0;padding: 0 0 87.1875% 0;}
.jee_mains_29_jun_2022_s2_64_b {max-width:320px; max-height:281px; }
.jee_mains_29_jun_2022_s2_64_b::after {content: '\00a0';display: inline-block; width:320px; height:281px; background-position: 0.1447178002894356% 79.07801418439716%; background-size: 315.9375% 601.7793594306049%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.jee_mains_29_jun_2022_s2_64_b::after {max-width:320px; width:100%;height:0;padding: 0 0 87.8125% 0;}
.jee_mains_29_jun_2022_s2_64_c {max-width:320px; max-height:318px; }
.jee_mains_29_jun_2022_s2_64_c::after {content: '\00a0';display: inline-block; width:320px; height:318px; background-position: 0.1447178002894356% 36.78077203204661%; background-size: 315.9375% 531.7610062893082%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.jee_mains_29_jun_2022_s2_64_c::after {max-width:320px; width:100%;height:0;padding: 0 0 99.375% 0;}
.jee_mains_29_jun_2022_s2_64_d {max-width:320px; max-height:290px; }
.jee_mains_29_jun_2022_s2_64_d::after {content: '\00a0';display: inline-block; width:320px; height:290px; background-position: 0.1447178002894356% 58.81513204853676%; background-size: 315.9375% 583.1034482758621%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.jee_mains_29_jun_2022_s2_64_d::after {max-width:320px; width:100%;height:0;padding: 0 0 90.625% 0;}
.jee_mn_1_feb_2024_s1_66_a {max-width:247px; max-height:247px; }
.jee_mn_1_feb_2024_s1_66_a::after {content: '\00a0';display: inline-block; width:247px; height:247px; background-position: 42.146596858638745% 69.11357340720221%; background-size: 409.31174089068827% 684.6153846153846%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.jee_mn_1_feb_2024_s1_66_a::after {max-width:247px; width:100%;height:0;padding: 0 0 100% 0;}
.jee_mn_1_feb_2024_s1_66_b {max-width:239px; max-height:236px; }
.jee_mn_1_feb_2024_s1_66_b::after {content: '\00a0';display: inline-block; width:239px; height:236px; background-position: 74.35233160621762% 85.49828178694158%; background-size: 423.01255230125525% 716.5254237288135%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.jee_mn_1_feb_2024_s1_66_b::after {max-width:239px; width:100%;height:0;padding: 0 0 98.74476987447699% 0;}
.jee_mn_1_feb_2024_s1_66_c {max-width:241px; max-height:246px; }
.jee_mn_1_feb_2024_s1_66_c::after {content: '\00a0';display: inline-block; width:241px; height:246px; background-position: 74.28571428571429% 55.778546712802765%; background-size: 419.50207468879665% 687.3983739837398%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.jee_mn_1_feb_2024_s1_66_c::after {max-width:241px; width:100%;height:0;padding: 0 0 102.0746887966805% 0;}
.jee_mn_1_feb_2024_s1_66_d {max-width:249px; max-height:253px; }
.jee_mn_1_feb_2024_s1_66_d::after {content: '\00a0';display: inline-block; width:249px; height:253px; background-position: 42.25721784776903% 51.738525730180804%; background-size: 406.0240963855422% 668.3794466403162%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.jee_mn_1_feb_2024_s1_66_d::after {max-width:249px; width:100%;height:0;padding: 0 0 101.60642570281125% 0;}
.jee_mn_23_jan_2025_s2_sol_66 {max-width:274px; max-height:127px; }
.jee_mn_23_jan_2025_s2_sol_66::after {content: '\00a0';display: inline-block; width:274px; height:127px; background-position: 84.53188602442334% 43.350383631713555%; background-size: 368.978102189781% 1331.4960629921259%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.jee_mn_23_jan_2025_s2_sol_66::after {max-width:274px; width:100%;height:0;padding: 0 0 46.35036496350365% 0;}
.jee_mn_29_jan_2025_s2_q_59a {max-width:105px; max-height:100px; }
.jee_mn_29_jan_2025_s2_q_59a::after {content: '\00a0';display: inline-block; width:105px; height:100px; background-position: 91.94260485651215% 21.495914519170334%; background-size: 962.8571428571429% 1691%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.jee_mn_29_jan_2025_s2_q_59a::after {max-width:105px; width:100%;height:0;padding: 0 0 95.23809523809524% 0;}
.jee_mn_29_jan_2025_s2_q_59b {max-width:99px; max-height:97px; }
.jee_mn_29_jan_2025_s2_q_59b::after {content: '\00a0';display: inline-block; width:99px; height:97px; background-position: 90.89912280701755% 92.47176913425345%; background-size: 1021.2121212121212% 1743.298969072165%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.jee_mn_29_jan_2025_s2_q_59b::after {max-width:99px; width:100%;height:0;padding: 0 0 97.97979797979798% 0;}
.jee_mn_29_jan_2025_s2_q_59c {max-width:109px; max-height:105px; }
.jee_mn_29_jan_2025_s2_q_59c::after {content: '\00a0';display: inline-block; width:109px; height:105px; background-position: 90.2439024390244% 79.63430012610341%; background-size: 927.5229357798165% 1610.4761904761904%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.jee_mn_29_jan_2025_s2_q_59c::after {max-width:109px; width:100%;height:0;padding: 0 0 96.3302752293578% 0;}
.jee_mn_29_jan_2025_s2_q_59d {max-width:109px; max-height:116px; }
.jee_mn_29_jan_2025_s2_q_59d::after {content: '\00a0';display: inline-block; width:109px; height:116px; background-position: 99.55654101995566% 43.04761904761905%; background-size: 927.5229357798165% 1457.7586206896551%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.jee_mn_29_jan_2025_s2_q_59d::after {max-width:109px; width:100%;height:0;padding: 0 0 106.42201834862385% 0;}
.jee_mn_29_jan_2025_s2_sol_59 {max-width:103px; max-height:104px; }
.jee_mn_29_jan_2025_s2_sol_59::after {content: '\00a0';display: inline-block; width:103px; height:104px; background-position: 89.64757709251101% 86.26339004410838%; background-size: 981.5533980582525% 1625.9615384615386%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.jee_mn_29_jan_2025_s2_sol_59::after {max-width:103px; width:100%;height:0;padding: 0 0 100.97087378640776% 0;}
.jm_2_apr_2025_s2_q_56 {max-width:269px; max-height:191px; }
.jm_2_apr_2025_s2_q_56::after {content: '\00a0';display: inline-block; width:269px; height:191px; background-position: 43.39622641509434% 99.13333333333334%; background-size: 375.8364312267658% 885.3403141361257%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.jm_2_apr_2025_s2_q_56::after {max-width:269px; width:100%;height:0;padding: 0 0 71.00371747211896% 0;}
.jm_8_apr_2025_s1_sol_51 {max-width:360px; max-height:159px; }
.jm_8_apr_2025_s1_sol_51::after {content: '\00a0';display: inline-block; width:360px; height:159px; background-position: 95.6989247311828% 33.81201044386423%; background-size: 280.8333333333333% 1063.5220125786163%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.jm_8_apr_2025_s1_sol_51::after {max-width:360px; width:100%;height:0;padding: 0 0 44.166666666666664% 0;}

@keyframes JEEMAINS_8APRIL_2023_S2_Q_66_O-frames {
    0% { background-position: 99.40191387559808% 11.706998037933289%;  }
    25% { background-position: 71.33917396745933% 70.15323117921386%;  }
    50% { background-position: 99.87654320987654% 0.06605019815059446%;  }
    75% { background-position: 98.19059107358262% 53.236459709379126%;  }
}

.JEEMAINS_8APRIL_2023_S2_Q_66_O-animation {
    max-width: 175px;
    max-height: 162px;
}
.JEEMAINS_8APRIL_2023_S2_Q_66_O-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 175px;
    height: 162px;
    padding: 0;
    background-image: url(c_11_satom2_0.png);
    background-size: 577.7142857142857% 1043.8271604938273%; 
    animation-name: JEEMAINS_8APRIL_2023_S2_Q_66_O-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEEMAINS_8APRIL_2023_S2_Q_66_O-animation::after {
    max-width: 175px;
    width: 100%;
    height: 0;
    padding: 0 0 92.57142857142857% 0;
}

/* $TexturePacker:SmartUpdate:a9d0e58b2d88f7a1281775442b8691e6:cf4974c9ca27f015c4c9fe42378b9ced:2644ca363076de17ad6cff901c4fdd17$ */
