/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.JEEMAINS_11APRIL_2023_S2_S_88 {max-width:307px; max-height:82px; }
.JEEMAINS_11APRIL_2023_S2_S_88::after {content: '\00a0';display: inline-block; width:307px; height:82px; background-position: 0.49019607843137253% 55.76923076923077%; background-size: 166.44951140065146% 1368.2926829268292%; background-image: url(c_11_chequilibrium_0.png);padding: 0; }
div.JEEMAINS_11APRIL_2023_S2_S_88::after {max-width:307px; width:100%;height:0;padding: 0 0 26.710097719869708% 0;}
.JEEMAIN_26FEB_SHIFT1_SOL_56 {max-width:310px; max-height:87px; }
.JEEMAIN_26FEB_SHIFT1_SOL_56::after {content: '\00a0';display: inline-block; width:310px; height:87px; background-position: 0.4975124378109453% 47.53623188405797%; background-size: 164.83870967741936% 1289.655172413793%; background-image: url(c_11_chequilibrium_0.png);padding: 0; }
div.JEEMAIN_26FEB_SHIFT1_SOL_56::after {max-width:310px; width:100%;height:0;padding: 0 0 28.06451612903226% 0;}
.JEE_Mains_04_Sep_2020_Shift_1_32_o_1 {max-width:185px; max-height:117px; }
.JEE_Mains_04_Sep_2020_Shift_1_32_o_1::after {content: '\00a0';display: inline-block; width:185px; height:117px; background-position: 98.77300613496932% 15.522388059701493%; background-size: 276.2162162162162% 958.974358974359%; background-image: url(c_11_chequilibrium_0.png);padding: 0; }
div.JEE_Mains_04_Sep_2020_Shift_1_32_o_1::after {max-width:185px; width:100%;height:0;padding: 0 0 63.24324324324324% 0;}
.JEE_Mains_04_Sep_2020_Shift_1_32_o_2 {max-width:194px; max-height:112px; }
.JEE_Mains_04_Sep_2020_Shift_1_32_o_2::after {content: '\00a0';display: inline-block; width:194px; height:112px; background-position: 98.42271293375394% 37.62376237623762%; background-size: 263.4020618556701% 1001.7857142857143%; background-image: url(c_11_chequilibrium_0.png);padding: 0; }
div.JEE_Mains_04_Sep_2020_Shift_1_32_o_2::after {max-width:194px; width:100%;height:0;padding: 0 0 57.7319587628866% 0;}
.JEE_Mains_04_Sep_2020_Shift_1_32_o_3 {max-width:201px; max-height:121px; }
.JEE_Mains_04_Sep_2020_Shift_1_32_o_3::after {content: '\00a0';display: inline-block; width:201px; height:121px; background-position: 99.6774193548387% 57.94205794205794%; background-size: 254.22885572139305% 927.2727272727273%; background-image: url(c_11_chequilibrium_0.png);padding: 0; }
div.JEE_Mains_04_Sep_2020_Shift_1_32_o_3::after {max-width:201px; width:100%;height:0;padding: 0 0 60.19900497512438% 0;}
.JEE_Mains_04_Sep_2020_Shift_1_32_o_4 {max-width:207px; max-height:117px; }
.JEE_Mains_04_Sep_2020_Shift_1_32_o_4::after {content: '\00a0';display: inline-block; width:207px; height:117px; background-position: 89.80263157894737% 69.85074626865672%; background-size: 246.8599033816425% 958.974358974359%; background-image: url(c_11_chequilibrium_0.png);padding: 0; }
div.JEE_Mains_04_Sep_2020_Shift_1_32_o_4::after {max-width:207px; width:100%;height:0;padding: 0 0 56.52173913043478% 0;}
.Jan_9_Shift_2_36_s {max-width:124px; max-height:105px; }
.Jan_9_Shift_2_36_s::after {content: '\00a0';display: inline-block; width:124px; height:105px; background-position: 83.20413436692506% 26.94198623402163%; background-size: 412.0967741935484% 1068.5714285714287%; background-image: url(c_11_chequilibrium_0.png);padding: 0; }
div.Jan_9_Shift_2_36_s::after {max-width:124px; width:100%;height:0;padding: 0 0 84.6774193548387% 0;}
.jee_mains_24_jun_2022_s2_83_sol {max-width:500px; max-height:154px; }
.jee_mains_24_jun_2022_s2_83_sol::after {content: '\00a0';display: inline-block; width:500px; height:154px; background-position: 9.090909090909092% 0.10330578512396695%; background-size: 102.2% 728.5714285714286%; background-image: url(c_11_chequilibrium_0.png);padding: 0; }
div.jee_mains_24_jun_2022_s2_83_sol::after {max-width:500px; width:100%;height:0;padding: 0 0 30.8% 0;}
.jee_mains_25_jun_2022_s1_86_sol {max-width:320px; max-height:150px; }
.jee_mains_25_jun_2022_s1_86_sol::after {content: '\00a0';display: inline-block; width:320px; height:150px; background-position: 0.5235602094240838% 16.049382716049383%; background-size: 159.6875% 748%; background-image: url(c_11_chequilibrium_0.png);padding: 0; }
div.jee_mains_25_jun_2022_s1_86_sol::after {max-width:320px; width:100%;height:0;padding: 0 0 46.875% 0;}
.jee_mn_24_jan_2025_s2_q_70a {max-width:252px; max-height:153px; }
.jee_mn_24_jan_2025_s2_q_70a::after {content: '\00a0';display: inline-block; width:252px; height:153px; background-position: 0.3861003861003861% 84.41692466460269%; background-size: 202.77777777777777% 733.3333333333334%; background-image: url(c_11_chequilibrium_0.png);padding: 0; }
div.jee_mn_24_jan_2025_s2_q_70a::after {max-width:252px; width:100%;height:0;padding: 0 0 60.714285714285715% 0;}
.jee_mn_24_jan_2025_s2_q_70b {max-width:250px; max-height:152px; }
.jee_mn_24_jan_2025_s2_q_70b::after {content: '\00a0';display: inline-block; width:250px; height:152px; background-position: 97.31800766283524% 99.79381443298969%; background-size: 204.4% 738.1578947368421%; background-image: url(c_11_chequilibrium_0.png);padding: 0; }
div.jee_mn_24_jan_2025_s2_q_70b::after {max-width:250px; width:100%;height:0;padding: 0 0 60.8% 0;}
.jee_mn_24_jan_2025_s2_q_70c {max-width:252px; max-height:147px; }
.jee_mn_24_jan_2025_s2_q_70c::after {content: '\00a0';display: inline-block; width:252px; height:147px; background-position: 98.06949806949807% 84.1025641025641%; background-size: 202.77777777777777% 763.265306122449%; background-image: url(c_11_chequilibrium_0.png);padding: 0; }
div.jee_mn_24_jan_2025_s2_q_70c::after {max-width:252px; width:100%;height:0;padding: 0 0 58.333333333333336% 0;}
.jee_mn_24_jan_2025_s2_q_70d {max-width:243px; max-height:149px; }
.jee_mn_24_jan_2025_s2_q_70d::after {content: '\00a0';display: inline-block; width:243px; height:149px; background-position: 0.373134328358209% 99.89722507708119%; background-size: 210.2880658436214% 753.0201342281879%; background-image: url(c_11_chequilibrium_0.png);padding: 0; }
div.jee_mn_24_jan_2025_s2_q_70d::after {max-width:243px; width:100%;height:0;padding: 0 0 61.31687242798354% 0;}
.jee_mn_24_jan_2025_s2_sol_70 {max-width:310px; max-height:184px; }
.jee_mn_24_jan_2025_s2_sol_70::after {content: '\00a0';display: inline-block; width:310px; height:184px; background-position: 0.4975124378109453% 32.72921108742004%; background-size: 164.83870967741936% 609.7826086956521%; background-image: url(c_11_chequilibrium_0.png);padding: 0; }
div.jee_mn_24_jan_2025_s2_sol_70::after {max-width:310px; width:100%;height:0;padding: 0 0 59.354838709677416% 0;}
.jm_2_apr_2025_s1_sol_73 {max-width:271px; max-height:154px; }
.jm_2_apr_2025_s1_sol_73::after {content: '\00a0';display: inline-block; width:271px; height:154px; background-position: 0.4166666666666667% 68.49173553719008%; background-size: 188.5608856088561% 728.5714285714286%; background-image: url(c_11_chequilibrium_0.png);padding: 0; }
div.jm_2_apr_2025_s1_sol_73::after {max-width:271px; width:100%;height:0;padding: 0 0 56.82656826568266% 0;}

@keyframes JEE_Mains_04_Sep_2020_Shift_1_32_o-frames {
    0% { background-position: 98.77300613496932% 15.522388059701493%;  }
    25% { background-position: 98.42271293375394% 37.62376237623762%;  }
    50% { background-position: 99.6774193548387% 57.94205794205794%;  }
    75% { background-position: 89.80263157894737% 69.85074626865672%;  }
}

.JEE_Mains_04_Sep_2020_Shift_1_32_o-animation {
    max-width: 185px;
    max-height: 117px;
}
.JEE_Mains_04_Sep_2020_Shift_1_32_o-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 185px;
    height: 117px;
    padding: 0;
    background-image: url(c_11_chequilibrium_0.png);
    background-size: 276.2162162162162% 958.974358974359%; 
    animation-name: JEE_Mains_04_Sep_2020_Shift_1_32_o-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEE_Mains_04_Sep_2020_Shift_1_32_o-animation::after {
    max-width: 185px;
    width: 100%;
    height: 0;
    padding: 0 0 63.24324324324324% 0;
}

/* $TexturePacker:SmartUpdate:424021f5bce3fdc347c84dd93b9b1274:d7c2b167f8b9de5a6fcabe1ebca397aa:6f300d6c03bb2032183f54aaf8b5a7a3$ */
