/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.JEEMAINS_27JULY_S1_Q_3_O_1 {max-width:200px; max-height:161px; }
.JEEMAINS_27JULY_S1_Q_3_O_1::after {content: '\00a0';display: inline-block; width:200px; height:161px; background-position: 98.71382636655949% 69.97055937193326%; background-size: 255.5% 732.9192546583851%; background-image: url(c_11_ionequilibrium_0.png);padding: 0; }
div.JEEMAINS_27JULY_S1_Q_3_O_1::after {max-width:200px; width:100%;height:0;padding: 0 0 80.5% 0;}
.JEEMAINS_27JULY_S1_Q_3_O_2 {max-width:200px; max-height:158px; }
.JEEMAINS_27JULY_S1_Q_3_O_2::after {content: '\00a0';display: inline-block; width:200px; height:158px; background-position: 0.3215434083601286% 99.90215264187867%; background-size: 255.5% 746.8354430379746%; background-image: url(c_11_ionequilibrium_0.png);padding: 0; }
div.JEEMAINS_27JULY_S1_Q_3_O_2::after {max-width:200px; width:100%;height:0;padding: 0 0 79% 0;}
.JEEMAINS_27JULY_S1_Q_3_O_3 {max-width:200px; max-height:156px; }
.JEEMAINS_27JULY_S1_Q_3_O_3::after {content: '\00a0';display: inline-block; width:200px; height:156px; background-position: 64.95176848874598% 99.70703125%; background-size: 255.5% 756.4102564102565%; background-image: url(c_11_ionequilibrium_0.png);padding: 0; }
div.JEEMAINS_27JULY_S1_Q_3_O_3::after {max-width:200px; width:100%;height:0;padding: 0 0 78% 0;}
.JEEMAINS_27JULY_S1_Q_3_O_4 {max-width:200px; max-height:164px; }
.JEEMAINS_27JULY_S1_Q_3_O_4::after {content: '\00a0';display: inline-block; width:200px; height:164px; background-position: 98.71382636655949% 53.93700787401575%; background-size: 255.5% 719.5121951219512%; background-image: url(c_11_ionequilibrium_0.png);padding: 0; }
div.JEEMAINS_27JULY_S1_Q_3_O_4::after {max-width:200px; width:100%;height:0;padding: 0 0 82% 0;}
.JEEMAINS_8APRIL_2023_S1_Q_84 {max-width:331px; max-height:272px; }
.JEEMAINS_8APRIL_2023_S1_Q_84::after {content: '\00a0';display: inline-block; width:331px; height:272px; background-position: 0.5555555555555556% 29.955947136563875%; background-size: 154.380664652568% 433.8235294117647%; background-image: url(c_11_ionequilibrium_0.png);padding: 0; }
div.JEEMAINS_8APRIL_2023_S1_Q_84::after {max-width:331px; width:100%;height:0;padding: 0 0 82.17522658610272% 0;}
.JEE_9_04_2019_P2_59_que {max-width:505px; max-height:270px; }
.JEE_9_04_2019_P2_59_que::after {content: '\00a0';display: inline-block; width:505px; height:270px; background-position: 16.666666666666668% 0.10989010989010989%; background-size: 101.18811881188118% 437.037037037037%; background-image: url(c_11_ionequilibrium_0.png);padding: 0; }
div.JEE_9_04_2019_P2_59_que::after {max-width:505px; width:100%;height:0;padding: 0 0 53.46534653465346% 0;}
.JEE_Mains_03_Sep_2020_Shift_2_30_o_1 {max-width:141px; max-height:126px; }
.JEE_Mains_03_Sep_2020_Shift_2_30_o_1::after {content: '\00a0';display: inline-block; width:141px; height:126px; background-position: 90% 39.94307400379507%; background-size: 362.4113475177305% 936.5079365079365%; background-image: url(c_11_ionequilibrium_0.png);padding: 0; }
div.JEE_Mains_03_Sep_2020_Shift_2_30_o_1::after {max-width:141px; width:100%;height:0;padding: 0 0 89.36170212765957% 0;}
.JEE_Mains_03_Sep_2020_Shift_2_30_o_2 {max-width:139px; max-height:127px; }
.JEE_Mains_03_Sep_2020_Shift_2_30_o_2::after {content: '\00a0';display: inline-block; width:139px; height:127px; background-position: 0.26881720430107525% 69.32573599240266%; background-size: 367.62589928057554% 929.1338582677165%; background-image: url(c_11_ionequilibrium_0.png);padding: 0; }
div.JEE_Mains_03_Sep_2020_Shift_2_30_o_2::after {max-width:139px; width:100%;height:0;padding: 0 0 91.36690647482014% 0;}
.JEE_Mains_03_Sep_2020_Shift_2_30_o_3 {max-width:136px; max-height:121px; }
.JEE_Mains_03_Sep_2020_Shift_2_30_o_3::after {content: '\00a0';display: inline-block; width:136px; height:121px; background-position: 37.6% 68.93295561850803%; background-size: 375.7352941176471% 975.2066115702479%; background-image: url(c_11_ionequilibrium_0.png);padding: 0; }
div.JEE_Mains_03_Sep_2020_Shift_2_30_o_3::after {max-width:136px; width:100%;height:0;padding: 0 0 88.97058823529412% 0;}
.JEE_Mains_03_Sep_2020_Shift_2_30_o_4 {max-width:126px; max-height:124px; }
.JEE_Mains_03_Sep_2020_Shift_2_30_o_4::after {content: '\00a0';display: inline-block; width:126px; height:124px; background-position: 95.84415584415585% 82.85984848484848%; background-size: 405.55555555555554% 951.6129032258065%; background-image: url(c_11_ionequilibrium_0.png);padding: 0; }
div.JEE_Mains_03_Sep_2020_Shift_2_30_o_4::after {max-width:126px; width:100%;height:0;padding: 0 0 98.41269841269842% 0;}
.Jan_8_2020_shift_1_31_s {max-width:305px; max-height:184px; }
.Jan_8_2020_shift_1_31_s::after {content: '\00a0';display: inline-block; width:305px; height:184px; background-position: 0.4854368932038835% 54.71887550200803%; background-size: 167.54098360655738% 641.304347826087%; background-image: url(c_11_ionequilibrium_0.png);padding: 0; }
div.Jan_8_2020_shift_1_31_s::after {max-width:305px; width:100%;height:0;padding: 0 0 60.32786885245902% 0;}
.Jan_8_2020_shift_1_33_s {max-width:177px; max-height:148px; }
.Jan_8_2020_shift_1_33_s::after {content: '\00a0';display: inline-block; width:177px; height:148px; background-position: 99.7005988023952% 26.356589147286822%; background-size: 288.7005649717514% 797.2972972972973%; background-image: url(c_11_ionequilibrium_0.png);padding: 0; }
div.Jan_8_2020_shift_1_33_s::after {max-width:177px; width:100%;height:0;padding: 0 0 83.61581920903954% 0;}
.m2018_ca_55sol {max-width:367px; max-height:145px; }
.m2018_ca_55sol::after {content: '\00a0';display: inline-block; width:367px; height:145px; background-position: 0.6944444444444444% 84.54106280193237%; background-size: 139.23705722070844% 813.7931034482758%; background-image: url(c_11_ionequilibrium_0.png);padding: 0; }
div.m2018_ca_55sol::after {max-width:367px; width:100%;height:0;padding: 0 0 39.509536784741144% 0;}

@keyframes JEEMAINS_27JULY_S1_Q_3_O-frames {
    0% { background-position: 98.71382636655949% 69.97055937193326%;  }
    25% { background-position: 0.3215434083601286% 99.90215264187867%;  }
    50% { background-position: 64.95176848874598% 99.70703125%;  }
    75% { background-position: 98.71382636655949% 53.93700787401575%;  }
}

.JEEMAINS_27JULY_S1_Q_3_O-animation {
    max-width: 200px;
    max-height: 161px;
}
.JEEMAINS_27JULY_S1_Q_3_O-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 200px;
    height: 161px;
    padding: 0;
    background-image: url(c_11_ionequilibrium_0.png);
    background-size: 255.5% 732.9192546583851%; 
    animation-name: JEEMAINS_27JULY_S1_Q_3_O-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEEMAINS_27JULY_S1_Q_3_O-animation::after {
    max-width: 200px;
    width: 100%;
    height: 0;
    padding: 0 0 80.5% 0;
}

@keyframes JEE_Mains_03_Sep_2020_Shift_2_30_o-frames {
    0% { background-position: 90% 39.94307400379507%;  }
    25% { background-position: 0.26881720430107525% 69.32573599240266%;  }
    50% { background-position: 37.6% 68.93295561850803%;  }
    75% { background-position: 95.84415584415585% 82.85984848484848%;  }
}

.JEE_Mains_03_Sep_2020_Shift_2_30_o-animation {
    max-width: 141px;
    max-height: 126px;
}
.JEE_Mains_03_Sep_2020_Shift_2_30_o-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 141px;
    height: 126px;
    padding: 0;
    background-image: url(c_11_ionequilibrium_0.png);
    background-size: 362.4113475177305% 936.5079365079365%; 
    animation-name: JEE_Mains_03_Sep_2020_Shift_2_30_o-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEE_Mains_03_Sep_2020_Shift_2_30_o-animation::after {
    max-width: 141px;
    width: 100%;
    height: 0;
    padding: 0 0 89.36170212765957% 0;
}

/* $TexturePacker:SmartUpdate:6e3151f047b2e44652bbc1af88c7f51c:7b85c7a43d5aadb06e84bab94a048a86:64bcc8bfac93aea4f7d3855dc862aca7$ */
