/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.JEEMAINS_11APRIL_2023_S1_S_64 {max-width:112px; max-height:107px; }
.JEEMAINS_11APRIL_2023_S1_S_64::after {content: '\00a0';display: inline-block; width:112px; height:107px; background-position: 86.83385579937304% 25.236593059936908%; background-size: 384.82142857142856% 692.5233644859813%; background-image: url(c_11_pblockelements3_0.png);padding: 0; }
div.JEEMAINS_11APRIL_2023_S1_S_64::after {max-width:112px; width:100%;height:0;padding: 0 0 95.53571428571429% 0;}
.JEEMAINS_13APRIL_2023_S1_S_78 {max-width:275px; max-height:285px; }
.JEEMAINS_13APRIL_2023_S1_S_78::after {content: '\00a0';display: inline-block; width:275px; height:285px; background-position: 0.6410256410256411% 0.21929824561403508%; background-size: 156.72727272727272% 260%; background-image: url(c_11_pblockelements3_0.png);padding: 0; }
div.JEEMAINS_13APRIL_2023_S1_S_78::after {max-width:275px; width:100%;height:0;padding: 0 0 103.63636363636364% 0;}
.JEEMAINS_13APRIL_2023_S2_S_73 {max-width:152px; max-height:158px; }
.JEEMAINS_13APRIL_2023_S2_S_73::after {content: '\00a0';display: inline-block; width:152px; height:158px; background-position: 99.2831541218638% 0.17152658662092624%; background-size: 283.55263157894734% 468.9873417721519%; background-image: url(c_11_pblockelements3_0.png);padding: 0; }
div.JEEMAINS_13APRIL_2023_S2_S_73::after {max-width:152px; width:100%;height:0;padding: 0 0 103.94736842105263% 0;}
.JEEMAINS_8APRIL_2023_S2_S_89 {max-width:276px; max-height:182px; }
.JEEMAINS_8APRIL_2023_S2_S_89::after {content: '\00a0';display: inline-block; width:276px; height:182px; background-position: 0.6451612903225806% 51.341681574239715%; background-size: 156.15942028985506% 407.14285714285717%; background-image: url(c_11_pblockelements3_0.png);padding: 0; }
div.JEEMAINS_8APRIL_2023_S2_S_89::after {max-width:276px; width:100%;height:0;padding: 0 0 65.94202898550725% 0;}
.JEE_31_Jan_2024_Shift_2_72_s {max-width:308px; max-height:70px; }
.JEE_31_Jan_2024_Shift_2_72_s::after {content: '\00a0';display: inline-block; width:308px; height:70px; background-position: 0.8130081300813008% 99.85096870342772%; background-size: 139.93506493506493% 1058.5714285714287%; background-image: url(c_11_pblockelements3_0.png);padding: 0; }
div.JEE_31_Jan_2024_Shift_2_72_s::after {max-width:308px; width:100%;height:0;padding: 0 0 22.727272727272727% 0;}
.JEE_MAIN_8APRIL_2024_S2_S_61 {max-width:429px; max-height:105px; }
.JEE_MAIN_8APRIL_2024_S2_S_61::after {content: '\00a0';display: inline-block; width:429px; height:105px; background-position: 50% 73.8993710691824%; background-size: 100.46620046620046% 705.7142857142857%; background-image: url(c_11_pblockelements3_0.png);padding: 0; }
div.JEE_MAIN_8APRIL_2024_S2_S_61::after {max-width:429px; width:100%;height:0;padding: 0 0 24.475524475524477% 0;}
.jee_mn_23_jan_2025_s2_sol_67 {max-width:349px; max-height:93px; }
.jee_mn_23_jan_2025_s2_sol_67::after {content: '\00a0';display: inline-block; width:349px; height:93px; background-position: 1.2195121951219512% 88.88888888888889%; background-size: 123.49570200573066% 796.7741935483871%; background-image: url(c_11_pblockelements3_0.png);padding: 0; }
div.jee_mn_23_jan_2025_s2_sol_67::after {max-width:349px; width:100%;height:0;padding: 0 0 26.64756446991404% 0;}


/* $TexturePacker:SmartUpdate:f6e333136d94ce7dbfbad0db75255a30:97af6a34a02268081e81150ac2216c10:16779243eaba24ced118d8b582da1969$ */
