/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.JEEMAIN_24FEB_SHIFT2_SOL_59 {max-width:402px; max-height:142px; }
.JEEMAIN_24FEB_SHIFT2_SOL_59::after {content: '\00a0';display: inline-block; width:402px; height:142px; background-position: 93.60675512665863% 0.9803921568627451%; background-size: 306.21890547263683% 171.83098591549296%; background-image: url(c_11_basics1_0.png);padding: 0; }
div.JEEMAIN_24FEB_SHIFT2_SOL_59::after {max-width:402px; width:100%;height:0;padding: 0 0 35.32338308457712% 0;}
.JEEM_17_Mar_S2_60 {max-width:397px; max-height:226px; }
.JEEM_17_Mar_S2_60::after {content: '\00a0';display: inline-block; width:397px; height:226px; background-position: 0.11990407673860912% 5.555555555555555%; background-size: 310.0755667506297% 107.96460176991151%; background-image: url(c_11_basics1_0.png);padding: 0; }
div.JEEM_17_Mar_S2_60::after {max-width:397px; width:100%;height:0;padding: 0 0 56.92695214105793% 0;}
.JEEM_17_Mar_S2_60sol {max-width:454px; max-height:99px; }
.JEEM_17_Mar_S2_60sol::after {content: '\00a0';display: inline-block; width:454px; height:99px; background-position: 99.87129987129987% 99.3103448275862%; background-size: 271.1453744493392% 246.46464646464648%; background-image: url(c_11_basics1_0.png);padding: 0; }
div.JEEM_17_Mar_S2_60sol::after {max-width:454px; width:100%;height:0;padding: 0 0 21.80616740088106% 0;}
.JEEM_18_Mar_S1_56sol {max-width:376px; max-height:221px; }
.JEEM_18_Mar_S1_56sol::after {content: '\00a0';display: inline-block; width:376px; height:221px; background-position: 46.666666666666664% 4.3478260869565215%; background-size: 327.3936170212766% 110.40723981900453%; background-image: url(c_11_basics1_0.png);padding: 0; }
div.JEEM_18_Mar_S1_56sol::after {max-width:376px; width:100%;height:0;padding: 0 0 58.776595744680854% 0;}


/* $TexturePacker:SmartUpdate:e6138b2a60729606d8b2fa3960678339:92b64e92f2889fc951172d573bec229e:f2716ace1e170a9b8cca2cc5424dd7d8$ */
