/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.AIEEE_2003_Che_6sol {max-width:561px; max-height:174px; }
.AIEEE_2003_Che_6sol::after {content: '\00a0';display: inline-block; width:561px; height:174px; background-position: 88.8208269525268% 0.13280212483399734%; background-size: 216.3992869875223% 532.7586206896551%; background-image: url(c_11_satom1_0.png);padding: 0; }
div.AIEEE_2003_Che_6sol::after {max-width:561px; width:100%;height:0;padding: 0 0 31.016042780748663% 0;}
.JEEMAIN_25FEB_SHIFT1_Q_31_O_A {max-width:320px; max-height:187px; }
.JEEMAIN_25FEB_SHIFT1_Q_31_O_A::after {content: '\00a0';display: inline-block; width:320px; height:187px; background-position: 0.11185682326621924% 54.189189189189186%; background-size: 379.375% 495.72192513368987%; background-image: url(c_11_satom1_0.png);padding: 0; }
div.JEEMAIN_25FEB_SHIFT1_Q_31_O_A::after {max-width:320px; width:100%;height:0;padding: 0 0 58.4375% 0;}
.JEEMAIN_25FEB_SHIFT1_Q_31_O_B {max-width:325px; max-height:197px; }
.JEEMAIN_25FEB_SHIFT1_Q_31_O_B::after {content: '\00a0';display: inline-block; width:325px; height:197px; background-position: 62.20472440944882% 51.23287671232877%; background-size: 373.53846153846155% 470.55837563451774%; background-image: url(c_11_satom1_0.png);padding: 0; }
div.JEEMAIN_25FEB_SHIFT1_Q_31_O_B::after {max-width:325px; width:100%;height:0;padding: 0 0 60.61538461538461% 0;}
.JEEMAIN_25FEB_SHIFT1_Q_31_O_C {max-width:325px; max-height:192px; }
.JEEMAIN_25FEB_SHIFT1_Q_31_O_C::after {content: '\00a0';display: inline-block; width:325px; height:192px; background-position: 98.87514060742407% 51.97278911564626%; background-size: 373.53846153846155% 482.8125%; background-image: url(c_11_satom1_0.png);padding: 0; }
div.JEEMAIN_25FEB_SHIFT1_Q_31_O_C::after {max-width:325px; width:100%;height:0;padding: 0 0 59.07692307692308% 0;}
.JEEMAIN_25FEB_SHIFT1_Q_31_O_D {max-width:337px; max-height:197px; }
.JEEMAIN_25FEB_SHIFT1_Q_31_O_D::after {content: '\00a0';display: inline-block; width:337px; height:197px; background-position: 65.45039908779931% 24.10958904109589%; background-size: 360.2373887240356% 470.55837563451774%; background-image: url(c_11_satom1_0.png);padding: 0; }
div.JEEMAIN_25FEB_SHIFT1_Q_31_O_D::after {max-width:337px; width:100%;height:0;padding: 0 0 58.45697329376855% 0;}
.JEEMAIN_25FEB_SHIFT1_SOL_31 {max-width:367px; max-height:211px; }
.JEEMAIN_25FEB_SHIFT1_SOL_31::after {content: '\00a0';display: inline-block; width:367px; height:211px; background-position: 0.1180637544273908% 26.39664804469274%; background-size: 330.7901907356948% 439.33649289099526%; background-image: url(c_11_satom1_0.png);padding: 0; }
div.JEEMAIN_25FEB_SHIFT1_SOL_31::after {max-width:367px; width:100%;height:0;padding: 0 0 57.49318801089918% 0;}
.JEE_10_04_2019_P1_52_q {max-width:172px; max-height:165px; }
.JEE_10_04_2019_P1_52_q::after {content: '\00a0';display: inline-block; width:172px; height:165px; background-position: 38.48368522072936% 17.191601049868765%; background-size: 705.8139534883721% 561.8181818181819%; background-image: url(c_11_satom1_0.png);padding: 0; }
div.JEE_10_04_2019_P1_52_q::after {max-width:172px; width:100%;height:0;padding: 0 0 95.93023255813954% 0;}
.JEE_12_04_19_P1_34_que {max-width:227px; max-height:227px; }
.JEE_12_04_19_P1_34_que::after {content: '\00a0';display: inline-block; width:227px; height:227px; background-position: 32.6241134751773% 62.57142857142857%; background-size: 534.8017621145375% 408.3700440528634%; background-image: url(c_11_satom1_0.png);padding: 0; }
div.JEE_12_04_19_P1_34_que::after {max-width:227px; width:100%;height:0;padding: 0 0 100% 0;}
.JEE_12_04_19_P1_34_sol {max-width:183px; max-height:140px; }
.JEE_12_04_19_P1_34_sol::after {content: '\00a0';display: inline-block; width:183px; height:140px; background-position: 35.79049466537342% 37.73824650571792%; background-size: 663.3879781420765% 662.1428571428571%; background-image: url(c_11_satom1_0.png);padding: 0; }
div.JEE_12_04_19_P1_34_sol::after {max-width:183px; width:100%;height:0;padding: 0 0 76.50273224043715% 0;}
.JEE_MAINS_2019_JAN10_S1_83a {max-width:315px; max-height:200px; }
.JEE_MAINS_2019_JAN10_S1_83a::after {content: '\00a0';display: inline-block; width:315px; height:200px; background-position: 0.11123470522803114% 81.01788170563961%; background-size: 385.3968253968254% 463.5%; background-image: url(c_11_satom1_0.png);padding: 0; }
div.JEE_MAINS_2019_JAN10_S1_83a::after {max-width:315px; width:100%;height:0;padding: 0 0 63.492063492063494% 0;}
.JEE_MAINS_2019_JAN10_S1_83b {max-width:298px; max-height:215px; }
.JEE_MAINS_2019_JAN10_S1_83b::after {content: '\00a0';display: inline-block; width:298px; height:215px; background-position: 62.88209606986899% 80.33707865168539%; background-size: 407.38255033557044% 431.16279069767444%; background-image: url(c_11_satom1_0.png);padding: 0; }
div.JEE_MAINS_2019_JAN10_S1_83b::after {max-width:298px; width:100%;height:0;padding: 0 0 72.14765100671141% 0;}
.JEE_MAINS_2019_JAN10_S1_83c {max-width:301px; max-height:205px; }
.JEE_MAINS_2019_JAN10_S1_83c::after {content: '\00a0';display: inline-block; width:301px; height:205px; background-position: 99.89047097480832% 24.37673130193906%; background-size: 403.3222591362126% 452.1951219512195%; background-image: url(c_11_satom1_0.png);padding: 0; }
div.JEE_MAINS_2019_JAN10_S1_83c::after {max-width:301px; width:100%;height:0;padding: 0 0 68.10631229235881% 0;}
.JEE_MAINS_2019_JAN10_S1_83d {max-width:283px; max-height:205px; }
.JEE_MAINS_2019_JAN10_S1_83d::after {content: '\00a0';display: inline-block; width:283px; height:205px; background-position: 93.98496240601504% 79.6398891966759%; background-size: 428.9752650176678% 452.1951219512195%; background-image: url(c_11_satom1_0.png);padding: 0; }
div.JEE_MAINS_2019_JAN10_S1_83d::after {max-width:283px; width:100%;height:0;padding: 0 0 72.43816254416961% 0;}
.JEE_Main_31_Aug_2021_Shift_1_59_Q_1_S {max-width:578px; max-height:129px; }
.JEE_Main_31_Aug_2021_Shift_1_59_Q_1_S::after {content: '\00a0';display: inline-block; width:578px; height:129px; background-position: 0.15723270440251572% 0.12531328320802004%; background-size: 210.03460207612457% 718.6046511627907%; background-image: url(c_11_satom1_0.png);padding: 0; }
div.JEE_Main_31_Aug_2021_Shift_1_59_Q_1_S::after {max-width:578px; width:100%;height:0;padding: 0 0 22.31833910034602% 0;}
.JEE_Mains_02_Sep_2020_Shift_1_27_o_1 {max-width:258px; max-height:110px; }
.JEE_Mains_02_Sep_2020_Shift_1_27_o_1::after {content: '\00a0';display: inline-block; width:258px; height:110px; background-position: 33.15899581589958% 81.51774785801713%; background-size: 470.5426356589147% 842.7272727272727%; background-image: url(c_11_satom1_0.png);padding: 0; }
div.JEE_Mains_02_Sep_2020_Shift_1_27_o_1::after {max-width:258px; width:100%;height:0;padding: 0 0 42.63565891472868% 0;}
.JEE_Mains_02_Sep_2020_Shift_1_27_o_2 {max-width:294px; max-height:136px; }
.JEE_Mains_02_Sep_2020_Shift_1_27_o_2::after {content: '\00a0';display: inline-block; width:294px; height:136px; background-position: 0.10869565217391304% 99.87357774968395%; background-size: 412.9251700680272% 681.6176470588235%; background-image: url(c_11_satom1_0.png);padding: 0; }
div.JEE_Mains_02_Sep_2020_Shift_1_27_o_2::after {max-width:294px; width:100%;height:0;padding: 0 0 46.25850340136054% 0;}
.JEE_Mains_02_Sep_2020_Shift_1_27_o_3 {max-width:211px; max-height:124px; }
.JEE_Mains_02_Sep_2020_Shift_1_27_o_3::after {content: '\00a0';display: inline-block; width:211px; height:124px; background-position: 83.34995014955135% 98.13200498132005%; background-size: 575.3554502369668% 747.5806451612904%; background-image: url(c_11_satom1_0.png);padding: 0; }
div.JEE_Mains_02_Sep_2020_Shift_1_27_o_3::after {max-width:211px; width:100%;height:0;padding: 0 0 58.76777251184834% 0;}
.JEE_Mains_02_Sep_2020_Shift_1_27_o_4 {max-width:285px; max-height:125px; }
.JEE_Mains_02_Sep_2020_Shift_1_27_o_4::after {content: '\00a0';display: inline-block; width:285px; height:125px; background-position: 59.20344456404736% 98.25436408977556%; background-size: 425.96491228070175% 741.6%; background-image: url(c_11_satom1_0.png);padding: 0; }
div.JEE_Mains_02_Sep_2020_Shift_1_27_o_4::after {max-width:285px; width:100%;height:0;padding: 0 0 43.85964912280702% 0;}
.JEE_Mains_02_Sep_2020_Shift_2_34_s {max-width:399px; max-height:57px; }
.JEE_Mains_02_Sep_2020_Shift_2_34_s::after {content: '\00a0';display: inline-block; width:399px; height:57px; background-position: 0.12269938650306748% 15.057471264367816%; background-size: 304.2606516290727% 1626.3157894736842%; background-image: url(c_11_satom1_0.png);padding: 0; }
div.JEE_Mains_02_Sep_2020_Shift_2_34_s::after {max-width:399px; width:100%;height:0;padding: 0 0 14.285714285714286% 0;}
.JEE_Mains_05_Sep_2020_Shift_2_32_s {max-width:253px; max-height:128px; }
.JEE_Mains_05_Sep_2020_Shift_2_32_s::after {content: '\00a0';display: inline-block; width:253px; height:128px; background-position: 30.801248699271593% 98.87359198998749%; background-size: 479.84189723320156% 724.21875%; background-image: url(c_11_satom1_0.png);padding: 0; }
div.JEE_Mains_05_Sep_2020_Shift_2_32_s::after {max-width:253px; width:100%;height:0;padding: 0 0 50.59288537549407% 0;}

@keyframes JEE_Mains_02_Sep_2020_Shift_1_27_o-frames {
    0% { background-position: 33.15899581589958% 81.51774785801713%;  }
    25% { background-position: 0.10869565217391304% 99.87357774968395%;  }
    50% { background-position: 83.34995014955135% 98.13200498132005%;  }
    75% { background-position: 59.20344456404736% 98.25436408977556%;  }
}

.JEE_Mains_02_Sep_2020_Shift_1_27_o-animation {
    max-width: 258px;
    max-height: 110px;
}
.JEE_Mains_02_Sep_2020_Shift_1_27_o-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 258px;
    height: 110px;
    padding: 0;
    background-image: url(c_11_satom1_0.png);
    background-size: 470.5426356589147% 842.7272727272727%; 
    animation-name: JEE_Mains_02_Sep_2020_Shift_1_27_o-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEE_Mains_02_Sep_2020_Shift_1_27_o-animation::after {
    max-width: 258px;
    width: 100%;
    height: 0;
    padding: 0 0 42.63565891472868% 0;
}

/* $TexturePacker:SmartUpdate:46478d6d2c279ba567d66bddf2b1c04d:e9aef3ef485ed374ef7a93fa8363aa94:797757162dc3ade4f79083f7726654e4$ */
