/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.JEEMAINS_10APRIL_2023_S1_S_89 {max-width:446px; max-height:257px; }
.JEEMAINS_10APRIL_2023_S1_S_89::after {content: '\00a0';display: inline-block; width:446px; height:257px; background-position: 0.176056338028169% 0.08223684210526316%; background-size: 227.3542600896861% 573.1517509727627%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.JEEMAINS_10APRIL_2023_S1_S_89::after {max-width:446px; width:100%;height:0;padding: 0 0 57.62331838565022% 0;}
.JEEMAINS_10APRIL_2023_S2_Q_87 {max-width:382px; max-height:151px; }
.JEEMAINS_10APRIL_2023_S2_Q_87::after {content: '\00a0';display: inline-block; width:382px; height:151px; background-position: 70.88607594936708% 0.07564296520423601%; background-size: 265.4450261780105% 975.4966887417219%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.JEEMAINS_10APRIL_2023_S2_Q_87::after {max-width:382px; width:100%;height:0;padding: 0 0 39.52879581151832% 0;}
.JEEMAINS_11APRIL_2023_S2_S_84 {max-width:251px; max-height:240px; }
.JEEMAINS_11APRIL_2023_S2_S_84::after {content: '\00a0';display: inline-block; width:251px; height:240px; background-position: 42.20183486238532% 79.88645579886456%; background-size: 403.9840637450199% 613.75%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.JEEMAINS_11APRIL_2023_S2_S_84::after {max-width:251px; width:100%;height:0;padding: 0 0 95.61752988047809% 0;}
.JEEMAINS_15APRIL_2023_S1_S_83 {max-width:582px; max-height:73px; }
.JEEMAINS_15APRIL_2023_S1_S_83::after {content: '\00a0';display: inline-block; width:582px; height:73px; background-position: 74.53703703703704% 22.357142857142858%; background-size: 174.22680412371133% 2017.8082191780823%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.JEEMAINS_15APRIL_2023_S1_S_83::after {max-width:582px; width:100%;height:0;padding: 0 0 12.542955326460481% 0;}
.JEEMAINS_8APRIL_2023_S2_Q_66_O_1 {max-width:175px; max-height:162px; }
.JEEMAINS_8APRIL_2023_S2_Q_66_O_1::after {content: '\00a0';display: inline-block; width:175px; height:162px; background-position: 96.7818831942789% 43.09687261632342%; background-size: 579.4285714285714% 909.2592592592592%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.JEEMAINS_8APRIL_2023_S2_Q_66_O_1::after {max-width:175px; width:100%;height:0;padding: 0 0 92.57142857142857% 0;}
.JEEMAINS_8APRIL_2023_S2_Q_66_O_2 {max-width:212px; max-height:190px; }
.JEEMAINS_8APRIL_2023_S2_Q_66_O_2::after {content: '\00a0';display: inline-block; width:212px; height:190px; background-position: 70.32418952618454% 97.42790335151987%; background-size: 478.3018867924528% 775.2631578947369%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.JEEMAINS_8APRIL_2023_S2_Q_66_O_2::after {max-width:212px; width:100%;height:0;padding: 0 0 89.62264150943396% 0;}
.JEEMAINS_8APRIL_2023_S2_Q_66_O_3 {max-width:201px; max-height:177px; }
.JEEMAINS_8APRIL_2023_S2_Q_66_O_3::after {content: '\00a0';display: inline-block; width:201px; height:177px; background-position: 99.8769987699877% 29.86111111111111%; background-size: 504.4776119402985% 832.2033898305085%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.JEEMAINS_8APRIL_2023_S2_Q_66_O_3::after {max-width:201px; width:100%;height:0;padding: 0 0 88.05970149253731% 0;}
.JEEMAINS_8APRIL_2023_S2_Q_66_O_4 {max-width:182px; max-height:177px; }
.JEEMAINS_8APRIL_2023_S2_Q_66_O_4::after {content: '\00a0';display: inline-block; width:182px; height:177px; background-position: 99.8798076923077% 0.07716049382716049%; background-size: 557.1428571428571% 832.2033898305085%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.JEEMAINS_8APRIL_2023_S2_Q_66_O_4::after {max-width:182px; width:100%;height:0;padding: 0 0 97.25274725274726% 0;}
.JEE_1_Feb_2024_Shift_1_66_s {max-width:168px; max-height:157px; }
.JEE_1_Feb_2024_Shift_1_66_s::after {content: '\00a0';display: inline-block; width:168px; height:157px; background-position: 95.62647754137116% 55.319148936170215%; background-size: 603.5714285714286% 938.2165605095541%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.JEE_1_Feb_2024_Shift_1_66_s::after {max-width:168px; width:100%;height:0;padding: 0 0 93.45238095238095% 0;}
.JEE_MAIN_4APRIL_2024_S2_S_81 {max-width:430px; max-height:95px; }
.JEE_MAIN_4APRIL_2024_S2_S_81::after {content: '\00a0';display: inline-block; width:430px; height:95px; background-position: 55.136986301369866% 28.084179970972425%; background-size: 235.8139534883721% 1550.5263157894738%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.JEE_MAIN_4APRIL_2024_S2_S_81::after {max-width:430px; width:100%;height:0;padding: 0 0 22.093023255813954% 0;}
.JEE_MAIN_8APRIL_2024_S1_Q_81 {max-width:195px; max-height:120px; }
.JEE_MAIN_8APRIL_2024_S1_Q_81::after {content: '\00a0';display: inline-block; width:195px; height:120px; background-position: 98.77899877899878% 13.229859571322987%; background-size: 520% 1227.5%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.JEE_MAIN_8APRIL_2024_S1_Q_81::after {max-width:195px; width:100%;height:0;padding: 0 0 61.53846153846154% 0;}
.jee_mains_24_jan_2023_s1_37 {max-width:236px; max-height:209px; }
.jee_mains_24_jan_2023_s1_37::after {content: '\00a0';display: inline-block; width:236px; height:209px; background-position: 73.52185089974293% 56.962025316455694%; background-size: 429.66101694915255% 704.7846889952153%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.jee_mains_24_jan_2023_s1_37::after {max-width:236px; width:100%;height:0;padding: 0 0 88.55932203389831% 0;}
.jee_mains_29_jun_2022_s2_64_a {max-width:320px; max-height:279px; }
.jee_mains_29_jun_2022_s2_64_a::after {content: '\00a0';display: inline-block; width:320px; height:279px; background-position: 0.1440922190201729% 96.39865996649917%; background-size: 316.875% 527.9569892473119%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.jee_mains_29_jun_2022_s2_64_a::after {max-width:320px; width:100%;height:0;padding: 0 0 87.1875% 0;}
.jee_mains_29_jun_2022_s2_64_b {max-width:320px; max-height:281px; }
.jee_mains_29_jun_2022_s2_64_b::after {content: '\00a0';display: inline-block; width:320px; height:281px; background-position: 0.1440922190201729% 72.90268456375838%; background-size: 316.875% 524.1992882562278%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.jee_mains_29_jun_2022_s2_64_b::after {max-width:320px; width:100%;height:0;padding: 0 0 87.8125% 0;}
.jee_mains_29_jun_2022_s2_64_c {max-width:320px; max-height:318px; }
.jee_mains_29_jun_2022_s2_64_c::after {content: '\00a0';display: inline-block; width:320px; height:318px; background-position: 0.1440922190201729% 22.424242424242426%; background-size: 316.875% 463.20754716981133%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.jee_mains_29_jun_2022_s2_64_c::after {max-width:320px; width:100%;height:0;padding: 0 0 99.375% 0;}
.jee_mains_29_jun_2022_s2_64_d {max-width:320px; max-height:290px; }
.jee_mains_29_jun_2022_s2_64_d::after {content: '\00a0';display: inline-block; width:320px; height:290px; background-position: 0.1440922190201729% 48.85883347421809%; background-size: 316.875% 507.9310344827586%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.jee_mains_29_jun_2022_s2_64_d::after {max-width:320px; width:100%;height:0;padding: 0 0 90.625% 0;}
.jee_mn_1_feb_2024_s1_66_a {max-width:247px; max-height:247px; }
.jee_mn_1_feb_2024_s1_66_a::after {content: '\00a0';display: inline-block; width:247px; height:247px; background-position: 41.98174706649283% 60.1141924959217%; background-size: 410.5263157894737% 596.3562753036438%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.jee_mn_1_feb_2024_s1_66_a::after {max-width:247px; width:100%;height:0;padding: 0 0 100% 0;}
.jee_mn_1_feb_2024_s1_66_b {max-width:239px; max-height:236px; }
.jee_mn_1_feb_2024_s1_66_b::after {content: '\00a0';display: inline-block; width:239px; height:236px; background-position: 73.80645161290323% 39.046079223928864%; background-size: 424.26778242677824% 624.1525423728814%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.jee_mn_1_feb_2024_s1_66_b::after {max-width:239px; width:100%;height:0;padding: 0 0 98.74476987447699% 0;}
.jee_mn_1_feb_2024_s1_66_c {max-width:241px; max-height:246px; }
.jee_mn_1_feb_2024_s1_66_c::after {content: '\00a0';display: inline-block; width:241px; height:246px; background-position: 41.65588615782665% 99.91850040749796%; background-size: 420.746887966805% 598.780487804878%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.jee_mn_1_feb_2024_s1_66_c::after {max-width:241px; width:100%;height:0;padding: 0 0 102.0746887966805% 0;}
.jee_mn_1_feb_2024_s1_66_d {max-width:249px; max-height:253px; }
.jee_mn_1_feb_2024_s1_66_d::after {content: '\00a0';display: inline-block; width:249px; height:253px; background-position: 42.091503267973856% 39.59016393442623%; background-size: 407.2289156626506% 582.2134387351779%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.jee_mn_1_feb_2024_s1_66_d::after {max-width:249px; width:100%;height:0;padding: 0 0 101.60642570281125% 0;}
.jee_mn_23_jan_2025_s2_sol_66 {max-width:274px; max-height:127px; }
.jee_mn_23_jan_2025_s2_sol_66::after {content: '\00a0';display: inline-block; width:274px; height:127px; background-position: 77.56756756756756% 83.35809806835067%; background-size: 370.0729927007299% 1159.8425196850394%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.jee_mn_23_jan_2025_s2_sol_66::after {max-width:274px; width:100%;height:0;padding: 0 0 46.35036496350365% 0;}
.jee_mn_29_jan_2025_s2_q_59a {max-width:105px; max-height:100px; }
.jee_mn_29_jan_2025_s2_q_59a::after {content: '\00a0';display: inline-block; width:105px; height:100px; background-position: 92.84928492849285% 72.17771303714494%; background-size: 965.7142857142857% 1473%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.jee_mn_29_jan_2025_s2_q_59a::after {max-width:105px; width:100%;height:0;padding: 0 0 95.23809523809524% 0;}
.jee_mn_29_jan_2025_s2_q_59b {max-width:99px; max-height:97px; }
.jee_mn_29_jan_2025_s2_q_59b::after {content: '\00a0';display: inline-block; width:99px; height:97px; background-position: 92.78688524590164% 79.36046511627907%; background-size: 1024.2424242424242% 1518.5567010309278%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.jee_mn_29_jan_2025_s2_q_59b::after {max-width:99px; width:100%;height:0;padding: 0 0 97.97979797979798% 0;}
.jee_mn_29_jan_2025_s2_q_59c {max-width:109px; max-height:105px; }
.jee_mn_29_jan_2025_s2_q_59c::after {content: '\00a0';display: inline-block; width:109px; height:105px; background-position: 85.85635359116021% 99.92690058479532%; background-size: 930.2752293577981% 1402.857142857143%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.jee_mn_29_jan_2025_s2_q_59c::after {max-width:109px; width:100%;height:0;padding: 0 0 96.3302752293578% 0;}
.jee_mn_29_jan_2025_s2_q_59d {max-width:109px; max-height:116px; }
.jee_mn_29_jan_2025_s2_q_59d::after {content: '\00a0';display: inline-block; width:109px; height:116px; background-position: 85.85635359116021% 92.11495946941784%; background-size: 930.2752293577981% 1269.8275862068965%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.jee_mn_29_jan_2025_s2_q_59d::after {max-width:109px; width:100%;height:0;padding: 0 0 106.42201834862385% 0;}
.jee_mn_29_jan_2025_s2_sol_59 {max-width:103px; max-height:104px; }
.jee_mn_29_jan_2025_s2_sol_59::after {content: '\00a0';display: inline-block; width:103px; height:104px; background-position: 92.64544456641053% 64.71877282688094%; background-size: 984.4660194174758% 1416.3461538461538%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.jee_mn_29_jan_2025_s2_sol_59::after {max-width:103px; width:100%;height:0;padding: 0 0 100.97087378640776% 0;}
.jm_2_apr_2025_s2_q_56 {max-width:269px; max-height:191px; }
.jm_2_apr_2025_s2_q_56::after {content: '\00a0';display: inline-block; width:269px; height:191px; background-position: 77.04697986577182% 72.54290171606864%; background-size: 376.9516728624535% 771.2041884816754%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.jm_2_apr_2025_s2_q_56::after {max-width:269px; width:100%;height:0;padding: 0 0 71.00371747211896% 0;}
.jm_8_apr_2025_s1_sol_51 {max-width:360px; max-height:159px; }
.jm_8_apr_2025_s1_sol_51::after {content: '\00a0';display: inline-block; width:360px; height:159px; background-position: 68.50152905198777% 11.643835616438356%; background-size: 281.6666666666667% 926.4150943396227%; background-image: url(c_11_satom2_0.png);padding: 0; }
div.jm_8_apr_2025_s1_sol_51::after {max-width:360px; width:100%;height:0;padding: 0 0 44.166666666666664% 0;}

@keyframes JEEMAINS_8APRIL_2023_S2_Q_66_O-frames {
    0% { background-position: 96.7818831942789% 43.09687261632342%;  }
    25% { background-position: 70.32418952618454% 97.42790335151987%;  }
    50% { background-position: 99.8769987699877% 29.86111111111111%;  }
    75% { background-position: 99.8798076923077% 0.07716049382716049%;  }
}

.JEEMAINS_8APRIL_2023_S2_Q_66_O-animation {
    max-width: 175px;
    max-height: 162px;
}
.JEEMAINS_8APRIL_2023_S2_Q_66_O-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 175px;
    height: 162px;
    padding: 0;
    background-image: url(c_11_satom2_0.png);
    background-size: 579.4285714285714% 909.2592592592592%; 
    animation-name: JEEMAINS_8APRIL_2023_S2_Q_66_O-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.JEEMAINS_8APRIL_2023_S2_Q_66_O-animation::after {
    max-width: 175px;
    width: 100%;
    height: 0;
    padding: 0 0 92.57142857142857% 0;
}

/* $TexturePacker:SmartUpdate:5824def6b51182b36e9a17e8029845d8:8cbdf265a2cc82a59dfdc9bf862e2d78:2644ca363076de17ad6cff901c4fdd17$ */
