/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.tg_eap_agr_phar_29_apr_2025_s2_118 {max-width:386px; max-height:170px; }
.tg_eap_agr_phar_29_apr_2025_s2_118::after {content: '\00a0';display: inline-block; width:386px; height:170px; background-position: 66.11295681063123% 52.69461077844311%; background-size: 255.95854922279793% 394.70588235294116%; background-image: url(ts_29_apr_2025_s2_0.png);padding: 0; }
div.tg_eap_agr_phar_29_apr_2025_s2_118::after {max-width:386px; width:100%;height:0;padding: 0 0 44.04145077720207% 0;}
.tg_eap_agr_phar_29_apr_2025_s2_119 {max-width:327px; max-height:163px; }
.tg_eap_agr_phar_29_apr_2025_s2_119::after {content: '\00a0';display: inline-block; width:327px; height:163px; background-position: 0.15128593040847202% 75%; background-size: 302.1406727828746% 411.65644171779144%; background-image: url(ts_29_apr_2025_s2_0.png);padding: 0; }
div.tg_eap_agr_phar_29_apr_2025_s2_119::after {max-width:327px; width:100%;height:0;padding: 0 0 49.84709480122324% 0;}
.tg_eap_agr_phar_29_apr_2025_s2_138_a {max-width:187px; max-height:65px; }
.tg_eap_agr_phar_29_apr_2025_s2_138_a::after {content: '\00a0';display: inline-block; width:187px; height:65px; background-position: 0.12484394506866417% 99.17491749174917%; background-size: 528.3422459893048% 1032.3076923076924%; background-image: url(ts_29_apr_2025_s2_0.png);padding: 0; }
div.tg_eap_agr_phar_29_apr_2025_s2_138_a::after {max-width:187px; width:100%;height:0;padding: 0 0 34.75935828877005% 0;}
.tg_eap_agr_phar_29_apr_2025_s2_138_b {max-width:268px; max-height:51px; }
.tg_eap_agr_phar_29_apr_2025_s2_138_b::after {content: '\00a0';display: inline-block; width:268px; height:51px; background-position: 45.69444444444444% 82.09677419354838%; background-size: 368.65671641791045% 1315.686274509804%; background-image: url(ts_29_apr_2025_s2_0.png);padding: 0; }
div.tg_eap_agr_phar_29_apr_2025_s2_138_b::after {max-width:268px; width:100%;height:0;padding: 0 0 19.029850746268657% 0;}
.tg_eap_agr_phar_29_apr_2025_s2_138_c {max-width:190px; max-height:73px; }
.tg_eap_agr_phar_29_apr_2025_s2_138_c::after {content: '\00a0';display: inline-block; width:190px; height:73px; background-position: 98.37092731829574% 60.702341137123746%; background-size: 520% 919.1780821917808%; background-image: url(ts_29_apr_2025_s2_0.png);padding: 0; }
div.tg_eap_agr_phar_29_apr_2025_s2_138_c::after {max-width:190px; width:100%;height:0;padding: 0 0 38.421052631578945% 0;}
.tg_eap_agr_phar_29_apr_2025_s2_138_d {max-width:199px; max-height:66px; }
.tg_eap_agr_phar_29_apr_2025_s2_138_d::after {content: '\00a0';display: inline-block; width:199px; height:66px; background-position: 98.35234474017744% 72.23140495867769%; background-size: 496.4824120603015% 1016.6666666666666%; background-image: url(ts_29_apr_2025_s2_0.png);padding: 0; }
div.tg_eap_agr_phar_29_apr_2025_s2_138_d::after {max-width:199px; width:100%;height:0;padding: 0 0 33.165829145728644% 0;}
.tg_eap_agr_phar_29_apr_2025_s2_156 {max-width:510px; max-height:211px; }
.tg_eap_agr_phar_29_apr_2025_s2_156::after {content: '\00a0';display: inline-block; width:510px; height:211px; background-position: 0.20920502092050208% 0.21739130434782608%; background-size: 193.72549019607843% 318.0094786729858%; background-image: url(ts_29_apr_2025_s2_0.png);padding: 0; }
div.tg_eap_agr_phar_29_apr_2025_s2_156::after {max-width:510px; width:100%;height:0;padding: 0 0 41.372549019607845% 0;}
.tg_eap_agr_phar_29_apr_2025_s2_157_a {max-width:117px; max-height:63px; }
.tg_eap_agr_phar_29_apr_2025_s2_157_a::after {content: '\00a0';display: inline-block; width:117px; height:63px; background-position: 98.85189437428244% 11.513157894736842%; background-size: 844.4444444444445% 1065.079365079365%; background-image: url(ts_29_apr_2025_s2_0.png);padding: 0; }
div.tg_eap_agr_phar_29_apr_2025_s2_157_a::after {max-width:117px; width:100%;height:0;padding: 0 0 53.84615384615385% 0;}
.tg_eap_agr_phar_29_apr_2025_s2_157_c {max-width:106px; max-height:57px; }
.tg_eap_agr_phar_29_apr_2025_s2_157_c::after {content: '\00a0';display: inline-block; width:106px; height:57px; background-position: 97.61904761904762% 21.824104234527688%; background-size: 932.0754716981132% 1177.1929824561403%; background-image: url(ts_29_apr_2025_s2_0.png);padding: 0; }
div.tg_eap_agr_phar_29_apr_2025_s2_157_c::after {max-width:106px; width:100%;height:0;padding: 0 0 53.77358490566038% 0;}
.tg_eap_agr_phar_29_apr_2025_s2_157_d {max-width:123px; max-height:68px; }
.tg_eap_agr_phar_29_apr_2025_s2_157_d::after {content: '\00a0';display: inline-block; width:123px; height:68px; background-position: 99.53757225433526% 0.16583747927031509%; background-size: 803.2520325203252% 986.7647058823529%; background-image: url(ts_29_apr_2025_s2_0.png);padding: 0; }
div.tg_eap_agr_phar_29_apr_2025_s2_157_d::after {max-width:123px; width:100%;height:0;padding: 0 0 55.28455284552845% 0;}
.tg_eap_agr_phar_29_apr_2025_s2_158 {max-width:446px; max-height:73px; }
.tg_eap_agr_phar_29_apr_2025_s2_158::after {content: '\00a0';display: inline-block; width:446px; height:73px; background-position: 60.701107011070114% 72.74247491638796%; background-size: 221.52466367713004% 919.1780821917808%; background-image: url(ts_29_apr_2025_s2_0.png);padding: 0; }
div.tg_eap_agr_phar_29_apr_2025_s2_158::after {max-width:446px; width:100%;height:0;padding: 0 0 16.367713004484305% 0;}
.tg_eap_agr_phar_29_apr_2025_s2_158_a {max-width:227px; max-height:47px; }
.tg_eap_agr_phar_29_apr_2025_s2_158_a::after {content: '\00a0';display: inline-block; width:227px; height:47px; background-position: 91.19579500657031% 99.83974358974359%; background-size: 435.24229074889865% 1427.659574468085%; background-image: url(ts_29_apr_2025_s2_0.png);padding: 0; }
div.tg_eap_agr_phar_29_apr_2025_s2_158_a::after {max-width:227px; width:100%;height:0;padding: 0 0 20.704845814977972% 0;}
.tg_eap_agr_phar_29_apr_2025_s2_158_b {max-width:222px; max-height:55px; }
.tg_eap_agr_phar_29_apr_2025_s2_158_b::after {content: '\00a0';display: inline-block; width:222px; height:55px; background-position: 0.13054830287206268% 88.47402597402598%; background-size: 445.0450450450451% 1220%; background-image: url(ts_29_apr_2025_s2_0.png);padding: 0; }
div.tg_eap_agr_phar_29_apr_2025_s2_158_b::after {max-width:222px; width:100%;height:0;padding: 0 0 24.774774774774773% 0;}
.tg_eap_agr_phar_29_apr_2025_s2_158_c {max-width:209px; max-height:57px; }
.tg_eap_agr_phar_29_apr_2025_s2_158_c::after {content: '\00a0';display: inline-block; width:209px; height:57px; background-position: 89.08857509627728% 92.01954397394137%; background-size: 472.72727272727275% 1177.1929824561403%; background-image: url(ts_29_apr_2025_s2_0.png);padding: 0; }
div.tg_eap_agr_phar_29_apr_2025_s2_158_c::after {max-width:209px; width:100%;height:0;padding: 0 0 27.272727272727273% 0;}
.tg_eap_agr_phar_29_apr_2025_s2_158_d {max-width:211px; max-height:60px; }
.tg_eap_agr_phar_29_apr_2025_s2_158_d::after {content: '\00a0';display: inline-block; width:211px; height:60px; background-position: 99.87129987129987% 82.48772504091653%; background-size: 468.2464454976303% 1118.3333333333333%; background-image: url(ts_29_apr_2025_s2_0.png);padding: 0; }
div.tg_eap_agr_phar_29_apr_2025_s2_158_d::after {max-width:211px; width:100%;height:0;padding: 0 0 28.436018957345972% 0;}
.tg_eap_agr_phar_29_apr_2025_s2_17 {max-width:194px; max-height:98px; }
.tg_eap_agr_phar_29_apr_2025_s2_17::after {content: '\00a0';display: inline-block; width:194px; height:98px; background-position: 98.86649874055415% 46.07329842931937%; background-size: 509.2783505154639% 684.6938775510204%; background-image: url(ts_29_apr_2025_s2_0.png);padding: 0; }
div.tg_eap_agr_phar_29_apr_2025_s2_17::after {max-width:194px; width:100%;height:0;padding: 0 0 50.51546391752577% 0;}
.tg_eap_agr_phar_29_apr_2025_s2_24 {max-width:469px; max-height:75px; }
.tg_eap_agr_phar_29_apr_2025_s2_24::after {content: '\00a0';display: inline-block; width:469px; height:75px; background-position: 43.15992292870906% 94.12751677852349%; background-size: 210.66098081023455% 894.6666666666666%; background-image: url(ts_29_apr_2025_s2_0.png);padding: 0; }
div.tg_eap_agr_phar_29_apr_2025_s2_24::after {max-width:469px; width:100%;height:0;padding: 0 0 15.991471215351812% 0;}
.tg_eap_agr_phar_29_apr_2025_s2_29 {max-width:396px; max-height:167px; }
.tg_eap_agr_phar_29_apr_2025_s2_29::after {content: '\00a0';display: inline-block; width:396px; height:167px; background-position: 0.16891891891891891% 42.26190476190476%; background-size: 249.4949494949495% 401.79640718562877%; background-image: url(ts_29_apr_2025_s2_0.png);padding: 0; }
div.tg_eap_agr_phar_29_apr_2025_s2_29::after {max-width:396px; width:100%;height:0;padding: 0 0 42.17171717171717% 0;}
.tg_eap_agr_phar_29_apr_2025_s2_36 {max-width:348px; max-height:262px; }
.tg_eap_agr_phar_29_apr_2025_s2_36::after {content: '\00a0';display: inline-block; width:348px; height:262px; background-position: 80% 0.24449877750611246%; background-size: 283.9080459770115% 256.10687022900765%; background-image: url(ts_29_apr_2025_s2_0.png);padding: 0; }
div.tg_eap_agr_phar_29_apr_2025_s2_36::after {max-width:348px; width:100%;height:0;padding: 0 0 75.28735632183908% 0;}

@keyframes tg_eap_agr_phar_29_apr_2025_s2-frames {
    0% { background-position: 98.86649874055415% 46.07329842931937%;  }
    12.5% { background-position: 43.15992292870906% 94.12751677852349%;  }
    25% { background-position: 0.16891891891891891% 42.26190476190476%;  }
    37.5% { background-position: 80% 0.24449877750611246%;  }
    50% { background-position: 66.11295681063123% 52.69461077844311%;  }
    62.5% { background-position: 0.15128593040847202% 75%;  }
    75% { background-position: 0.20920502092050208% 0.21739130434782608%;  }
    87.5% { background-position: 60.701107011070114% 72.74247491638796%;  }
}

.tg_eap_agr_phar_29_apr_2025_s2-animation {
    max-width: 194px;
    max-height: 98px;
}
.tg_eap_agr_phar_29_apr_2025_s2-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 194px;
    height: 98px;
    padding: 0;
    background-image: url(ts_29_apr_2025_s2_0.png);
    background-size: 509.2783505154639% 684.6938775510204%; 
    animation-name: tg_eap_agr_phar_29_apr_2025_s2-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.tg_eap_agr_phar_29_apr_2025_s2-animation::after {
    max-width: 194px;
    width: 100%;
    height: 0;
    padding: 0 0 50.51546391752577% 0;
}

/* $TexturePacker:SmartUpdate:f7d0d56bd04d05a73f6be6a113bbd9ec:392dd71c66db303dab6b5e09f5935ee1:ef4a18215fbc5044fe63e6a784735da8$ */
