/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.tg_eap_agr_phar_29_apr_2025_s1_137 {max-width:291px; max-height:87px; }
.tg_eap_agr_phar_29_apr_2025_s1_137::after {content: '\00a0';display: inline-block; width:291px; height:87px; background-position: 65.5076495132128% 55.235204855842184%; background-size: 347.0790378006873% 857.471264367816%; background-image: url(ts_29_apr_2025_s1_0.png);padding: 0; }
div.tg_eap_agr_phar_29_apr_2025_s1_137::after {max-width:291px; width:100%;height:0;padding: 0 0 29.896907216494846% 0;}
.tg_eap_agr_phar_29_apr_2025_s1_138_a {max-width:199px; max-height:48px; }
.tg_eap_agr_phar_29_apr_2025_s1_138_a::after {content: '\00a0';display: inline-block; width:199px; height:48px; background-position: 33.41553637484587% 47.85100286532951%; background-size: 507.53768844221105% 1554.1666666666667%; background-image: url(ts_29_apr_2025_s1_0.png);padding: 0; }
div.tg_eap_agr_phar_29_apr_2025_s1_138_a::after {max-width:199px; width:100%;height:0;padding: 0 0 24.12060301507538% 0;}
.tg_eap_agr_phar_29_apr_2025_s1_138_b {max-width:210px; max-height:56px; }
.tg_eap_agr_phar_29_apr_2025_s1_138_b::after {content: '\00a0';display: inline-block; width:210px; height:56px; background-position: 0.125% 50.57971014492754%; background-size: 480.95238095238096% 1332.142857142857%; background-image: url(ts_29_apr_2025_s1_0.png);padding: 0; }
div.tg_eap_agr_phar_29_apr_2025_s1_138_b::after {max-width:210px; width:100%;height:0;padding: 0 0 26.666666666666668% 0;}
.tg_eap_agr_phar_29_apr_2025_s1_138_c {max-width:147px; max-height:88px; }
.tg_eap_agr_phar_29_apr_2025_s1_138_c::after {content: '\00a0';display: inline-block; width:147px; height:88px; background-position: 96.87137891077636% 24.012158054711247%; background-size: 687.0748299319728% 847.7272727272727%; background-image: url(ts_29_apr_2025_s1_0.png);padding: 0; }
div.tg_eap_agr_phar_29_apr_2025_s1_138_c::after {max-width:147px; width:100%;height:0;padding: 0 0 59.863945578231295% 0;}
.tg_eap_agr_phar_29_apr_2025_s1_138_d {max-width:189px; max-height:45px; }
.tg_eap_agr_phar_29_apr_2025_s1_138_d::after {content: '\00a0';display: inline-block; width:189px; height:45px; background-position: 24.482338611449453% 62.339514978602%; background-size: 534.3915343915344% 1657.7777777777778%; background-image: url(ts_29_apr_2025_s1_0.png);padding: 0; }
div.tg_eap_agr_phar_29_apr_2025_s1_138_d::after {max-width:189px; width:100%;height:0;padding: 0 0 23.80952380952381% 0;}
.tg_eap_agr_phar_29_apr_2025_s1_139_a {max-width:385px; max-height:73px; }
.tg_eap_agr_phar_29_apr_2025_s1_139_a::after {content: '\00a0';display: inline-block; width:385px; height:73px; background-position: 0.16% 74.44279346210996%; background-size: 262.3376623376623% 1021.917808219178%; background-image: url(ts_29_apr_2025_s1_0.png);padding: 0; }
div.tg_eap_agr_phar_29_apr_2025_s1_139_a::after {max-width:385px; width:100%;height:0;padding: 0 0 18.961038961038962% 0;}
.tg_eap_agr_phar_29_apr_2025_s1_139_b {max-width:398px; max-height:63px; }
.tg_eap_agr_phar_29_apr_2025_s1_139_b::after {content: '\00a0';display: inline-block; width:398px; height:63px; background-position: 0.16339869281045752% 99.85358711566617%; background-size: 253.76884422110552% 1184.126984126984%; background-image: url(ts_29_apr_2025_s1_0.png);padding: 0; }
div.tg_eap_agr_phar_29_apr_2025_s1_139_b::after {max-width:398px; width:100%;height:0;padding: 0 0 15.829145728643216% 0;}
.tg_eap_agr_phar_29_apr_2025_s1_139_c {max-width:399px; max-height:73px; }
.tg_eap_agr_phar_29_apr_2025_s1_139_c::after {content: '\00a0';display: inline-block; width:399px; height:73px; background-position: 99.83633387888707% 98.81129271916791%; background-size: 253.1328320802005% 1021.917808219178%; background-image: url(ts_29_apr_2025_s1_0.png);padding: 0; }
div.tg_eap_agr_phar_29_apr_2025_s1_139_c::after {max-width:399px; width:100%;height:0;padding: 0 0 18.295739348370926% 0;}
.tg_eap_agr_phar_29_apr_2025_s1_139_d {max-width:393px; max-height:85px; }
.tg_eap_agr_phar_29_apr_2025_s1_139_d::after {content: '\00a0';display: inline-block; width:393px; height:85px; background-position: 98.86547811993518% 87.5945537065053%; background-size: 256.9974554707379% 877.6470588235294%; background-image: url(ts_29_apr_2025_s1_0.png);padding: 0; }
div.tg_eap_agr_phar_29_apr_2025_s1_139_d::after {max-width:393px; width:100%;height:0;padding: 0 0 21.62849872773537% 0;}
.tg_eap_agr_phar_29_apr_2025_s1_144 {max-width:170px; max-height:156px; }
.tg_eap_agr_phar_29_apr_2025_s1_144::after {content: '\00a0';display: inline-block; width:170px; height:156px; background-position: 99.52380952380952% 0.1694915254237288%; background-size: 594.1176470588235% 478.20512820512823%; background-image: url(ts_29_apr_2025_s1_0.png);padding: 0; }
div.tg_eap_agr_phar_29_apr_2025_s1_144::after {max-width:170px; width:100%;height:0;padding: 0 0 91.76470588235294% 0;}
.tg_eap_agr_phar_29_apr_2025_s1_145 {max-width:288px; max-height:184px; }
.tg_eap_agr_phar_29_apr_2025_s1_145::after {content: '\00a0';display: inline-block; width:288px; height:184px; background-position: 66.06648199445983% 31.85053380782918%; background-size: 350.69444444444446% 405.4347826086956%; background-image: url(ts_29_apr_2025_s1_0.png);padding: 0; }
div.tg_eap_agr_phar_29_apr_2025_s1_145::after {max-width:288px; width:100%;height:0;padding: 0 0 63.888888888888886% 0;}
.tg_eap_agr_phar_29_apr_2025_s1_152 {max-width:608px; max-height:102px; }
.tg_eap_agr_phar_29_apr_2025_s1_152::after {content: '\00a0';display: inline-block; width:608px; height:102px; background-position: 0.24875621890547264% 89.90683229813665%; background-size: 166.1184210526316% 731.3725490196078%; background-image: url(ts_29_apr_2025_s1_0.png);padding: 0; }
div.tg_eap_agr_phar_29_apr_2025_s1_152::after {max-width:608px; width:100%;height:0;padding: 0 0 16.776315789473685% 0;}
.tg_eap_agr_phar_29_apr_2025_s1_155_a {max-width:274px; max-height:53px; }
.tg_eap_agr_phar_29_apr_2025_s1_155_a::after {content: '\00a0';display: inline-block; width:274px; height:53px; background-position: 52.58152173913044% 75.75757575757575%; background-size: 368.6131386861314% 1407.5471698113208%; background-image: url(ts_29_apr_2025_s1_0.png);padding: 0; }
div.tg_eap_agr_phar_29_apr_2025_s1_155_a::after {max-width:274px; width:100%;height:0;padding: 0 0 19.343065693430656% 0;}
.tg_eap_agr_phar_29_apr_2025_s1_155_b {max-width:180px; max-height:47px; }
.tg_eap_agr_phar_29_apr_2025_s1_155_b::after {content: '\00a0';display: inline-block; width:180px; height:47px; background-position: 0.12048192771084337% 64.8068669527897%; background-size: 561.1111111111111% 1587.2340425531916%; background-image: url(ts_29_apr_2025_s1_0.png);padding: 0; }
div.tg_eap_agr_phar_29_apr_2025_s1_155_b::after {max-width:180px; width:100%;height:0;padding: 0 0 26.11111111111111% 0;}
.tg_eap_agr_phar_29_apr_2025_s1_155_c {max-width:277px; max-height:72px; }
.tg_eap_agr_phar_29_apr_2025_s1_155_c::after {content: '\00a0';display: inline-block; width:277px; height:72px; background-position: 53.34242837653479% 67.06231454005935%; background-size: 364.62093862815885% 1036.111111111111%; background-image: url(ts_29_apr_2025_s1_0.png);padding: 0; }
div.tg_eap_agr_phar_29_apr_2025_s1_155_c::after {max-width:277px; width:100%;height:0;padding: 0 0 25.9927797833935% 0;}
.tg_eap_agr_phar_29_apr_2025_s1_155_d {max-width:317px; max-height:57px; }
.tg_eap_agr_phar_29_apr_2025_s1_155_d::after {content: '\00a0';display: inline-block; width:317px; height:57px; background-position: 96.53679653679653% 68.06966618287373%; background-size: 318.61198738170344% 1308.7719298245613%; background-image: url(ts_29_apr_2025_s1_0.png);padding: 0; }
div.tg_eap_agr_phar_29_apr_2025_s1_155_d::after {max-width:317px; width:100%;height:0;padding: 0 0 17.981072555205046% 0;}
.tg_eap_agr_phar_29_apr_2025_s1_158 {max-width:269px; max-height:133px; }
.tg_eap_agr_phar_29_apr_2025_s1_158::after {content: '\00a0';display: inline-block; width:269px; height:133px; background-position: 0.1349527665317139% 35.07340946166395%; background-size: 375.4646840148699% 560.9022556390977%; background-image: url(ts_29_apr_2025_s1_0.png);padding: 0; }
div.tg_eap_agr_phar_29_apr_2025_s1_158::after {max-width:269px; width:100%;height:0;padding: 0 0 49.44237918215613% 0;}
.tg_eap_agr_phar_29_apr_2025_s1_160_a {max-width:191px; max-height:61px; }
.tg_eap_agr_phar_29_apr_2025_s1_160_a::after {content: '\00a0';display: inline-block; width:191px; height:61px; background-position: 33.08913308913309% 31.386861313868614%; background-size: 528.7958115183246% 1222.950819672131%; background-image: url(ts_29_apr_2025_s1_0.png);padding: 0; }
div.tg_eap_agr_phar_29_apr_2025_s1_160_a::after {max-width:191px; width:100%;height:0;padding: 0 0 31.93717277486911% 0;}
.tg_eap_agr_phar_29_apr_2025_s1_160_b {max-width:209px; max-height:53px; }
.tg_eap_agr_phar_29_apr_2025_s1_160_b::after {content: '\00a0';display: inline-block; width:209px; height:53px; background-position: 26.466916354556805% 55.266955266955264%; background-size: 483.2535885167464% 1407.5471698113208%; background-image: url(ts_29_apr_2025_s1_0.png);padding: 0; }
div.tg_eap_agr_phar_29_apr_2025_s1_160_b::after {max-width:209px; width:100%;height:0;padding: 0 0 25.358851674641148% 0;}
.tg_eap_agr_phar_29_apr_2025_s1_160_c {max-width:199px; max-height:46px; }
.tg_eap_agr_phar_29_apr_2025_s1_160_c::after {content: '\00a0';display: inline-block; width:199px; height:46px; background-position: 0.12330456226880394% 58%; background-size: 507.53768844221105% 1621.7391304347825%; background-image: url(ts_29_apr_2025_s1_0.png);padding: 0; }
div.tg_eap_agr_phar_29_apr_2025_s1_160_c::after {max-width:199px; width:100%;height:0;padding: 0 0 23.115577889447238% 0;}
.tg_eap_agr_phar_29_apr_2025_s1_160_d {max-width:185px; max-height:56px; }
.tg_eap_agr_phar_29_apr_2025_s1_160_d::after {content: '\00a0';display: inline-block; width:185px; height:56px; background-position: 32.84848484848485% 40.14492753623188%; background-size: 545.9459459459459% 1332.142857142857%; background-image: url(ts_29_apr_2025_s1_0.png);padding: 0; }
div.tg_eap_agr_phar_29_apr_2025_s1_160_d::after {max-width:185px; width:100%;height:0;padding: 0 0 30.27027027027027% 0;}
.tg_eap_agr_phar_29_apr_2025_s1_29 {max-width:475px; max-height:213px; }
.tg_eap_agr_phar_29_apr_2025_s1_29::after {content: '\00a0';display: inline-block; width:475px; height:213px; background-position: 0.18691588785046728% 0.18761726078799248%; background-size: 212.6315789473684% 350.23474178403757%; background-image: url(ts_29_apr_2025_s1_0.png);padding: 0; }
div.tg_eap_agr_phar_29_apr_2025_s1_29::after {max-width:475px; width:100%;height:0;padding: 0 0 44.8421052631579% 0;}
.tg_eap_agr_phar_29_apr_2025_s1_39 {max-width:229px; max-height:221px; }
.tg_eap_agr_phar_29_apr_2025_s1_39::after {content: '\00a0';display: inline-block; width:229px; height:221px; background-position: 98.07938540332907% 47.04761904761905%; background-size: 441.0480349344978% 337.5565610859729%; background-image: url(ts_29_apr_2025_s1_0.png);padding: 0; }
div.tg_eap_agr_phar_29_apr_2025_s1_39::after {max-width:229px; width:100%;height:0;padding: 0 0 96.5065502183406% 0;}
.tg_eap_agr_phar_29_apr_2025_s1_8 {max-width:358px; max-height:177px; }
.tg_eap_agr_phar_29_apr_2025_s1_8::after {content: '\00a0';display: inline-block; width:358px; height:177px; background-position: 73.15950920245399% 0.1757469244288225%; background-size: 282.122905027933% 421.4689265536723%; background-image: url(ts_29_apr_2025_s1_0.png);padding: 0; }
div.tg_eap_agr_phar_29_apr_2025_s1_8::after {max-width:358px; width:100%;height:0;padding: 0 0 49.44134078212291% 0;}

@keyframes tg_eap_agr_phar_29_apr_2025_s1-frames {
    0% { background-position: 73.15950920245399% 0.1757469244288225%;  }
    12.5% { background-position: 0.18691588785046728% 0.18761726078799248%;  }
    25% { background-position: 98.07938540332907% 47.04761904761905%;  }
    37.5% { background-position: 65.5076495132128% 55.235204855842184%;  }
    50% { background-position: 99.52380952380952% 0.1694915254237288%;  }
    62.5% { background-position: 66.06648199445983% 31.85053380782918%;  }
    75% { background-position: 0.24875621890547264% 89.90683229813665%;  }
    87.5% { background-position: 0.1349527665317139% 35.07340946166395%;  }
}

.tg_eap_agr_phar_29_apr_2025_s1-animation {
    max-width: 358px;
    max-height: 177px;
}
.tg_eap_agr_phar_29_apr_2025_s1-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 358px;
    height: 177px;
    padding: 0;
    background-image: url(ts_29_apr_2025_s1_0.png);
    background-size: 282.122905027933% 421.4689265536723%; 
    animation-name: tg_eap_agr_phar_29_apr_2025_s1-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.tg_eap_agr_phar_29_apr_2025_s1-animation::after {
    max-width: 358px;
    width: 100%;
    height: 0;
    padding: 0 0 49.44134078212291% 0;
}

/* $TexturePacker:SmartUpdate:b4c98d27234395ca7f0f1eb86e41d31d:887d82dec45791e4315c060bdb9dd3bf:ed7d8bcb432882ca7d44775afaca601a$ */
