/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.tg_eap_agr_phar_30_apr_2025_s1_138_a {max-width:269px; max-height:62px; }
.tg_eap_agr_phar_30_apr_2025_s1_138_a::after {content: '\00a0';display: inline-block; width:269px; height:62px; background-position: 61.267605633802816% 87.73946360153256%; background-size: 363.9405204460966% 1362.9032258064517%; background-image: url(ts_30_apr_2025_s1_0.png);padding: 0; }
div.tg_eap_agr_phar_30_apr_2025_s1_138_a::after {max-width:269px; width:100%;height:0;padding: 0 0 23.04832713754647% 0;}
.tg_eap_agr_phar_30_apr_2025_s1_138_b {max-width:266px; max-height:68px; }
.tg_eap_agr_phar_30_apr_2025_s1_138_b::after {content: '\00a0';display: inline-block; width:266px; height:68px; background-position: 99.85974754558205% 87.51608751608751%; background-size: 368.0451127819549% 1242.6470588235295%; background-image: url(ts_30_apr_2025_s1_0.png);padding: 0; }
div.tg_eap_agr_phar_30_apr_2025_s1_138_b::after {max-width:266px; width:100%;height:0;padding: 0 0 25.56390977443609% 0;}
.tg_eap_agr_phar_30_apr_2025_s1_138_c {max-width:206px; max-height:81px; }
.tg_eap_agr_phar_30_apr_2025_s1_138_c::after {content: '\00a0';display: inline-block; width:206px; height:81px; background-position: 0.129366106080207% 79.9738219895288%; background-size: 475.24271844660194% 1043.20987654321%; background-image: url(ts_30_apr_2025_s1_0.png);padding: 0; }
div.tg_eap_agr_phar_30_apr_2025_s1_138_c::after {max-width:206px; width:100%;height:0;padding: 0 0 39.320388349514566% 0;}
.tg_eap_agr_phar_30_apr_2025_s1_138_d {max-width:276px; max-height:46px; }
.tg_eap_agr_phar_30_apr_2025_s1_138_d::after {content: '\00a0';display: inline-block; width:276px; height:46px; background-position: 61.87766714082503% 80.10012515644556%; background-size: 354.71014492753625% 1836.9565217391305%; background-image: url(ts_30_apr_2025_s1_0.png);padding: 0; }
div.tg_eap_agr_phar_30_apr_2025_s1_138_d::after {max-width:276px; width:100%;height:0;padding: 0 0 16.666666666666668% 0;}
.tg_eap_agr_phar_30_apr_2025_s1_140 {max-width:505px; max-height:61px; }
.tg_eap_agr_phar_30_apr_2025_s1_140::after {content: '\00a0';display: inline-block; width:505px; height:61px; background-position: 0.2109704641350211% 17.857142857142858%; background-size: 193.86138613861385% 1385.2459016393443%; background-image: url(ts_30_apr_2025_s1_0.png);padding: 0; }
div.tg_eap_agr_phar_30_apr_2025_s1_140::after {max-width:505px; width:100%;height:0;padding: 0 0 12.07920792079208% 0;}
.tg_eap_agr_phar_30_apr_2025_s1_140_a {max-width:223px; max-height:69px; }
.tg_eap_agr_phar_30_apr_2025_s1_140_a::after {content: '\00a0';display: inline-block; width:223px; height:69px; background-position: 96.82539682539682% 68.04123711340206%; background-size: 439.0134529147982% 1224.6376811594203%; background-image: url(ts_30_apr_2025_s1_0.png);padding: 0; }
div.tg_eap_agr_phar_30_apr_2025_s1_140_a::after {max-width:223px; width:100%;height:0;padding: 0 0 30.94170403587444% 0;}
.tg_eap_agr_phar_30_apr_2025_s1_140_b {max-width:343px; max-height:86px; }
.tg_eap_agr_phar_30_apr_2025_s1_140_b::after {content: '\00a0';display: inline-block; width:343px; height:86px; background-position: 95.59748427672956% 10.276679841897232%; background-size: 285.4227405247813% 982.5581395348837%; background-image: url(ts_30_apr_2025_s1_0.png);padding: 0; }
div.tg_eap_agr_phar_30_apr_2025_s1_140_b::after {max-width:343px; width:100%;height:0;padding: 0 0 25.072886297376094% 0;}
.tg_eap_agr_phar_30_apr_2025_s1_140_c {max-width:341px; max-height:65px; }
.tg_eap_agr_phar_30_apr_2025_s1_140_c::after {content: '\00a0';display: inline-block; width:341px; height:65px; background-position: 74.76489028213166% 42.05128205128205%; background-size: 287.0967741935484% 1300%; background-image: url(ts_30_apr_2025_s1_0.png);padding: 0; }
div.tg_eap_agr_phar_30_apr_2025_s1_140_c::after {max-width:341px; width:100%;height:0;padding: 0 0 19.06158357771261% 0;}
.tg_eap_agr_phar_30_apr_2025_s1_140_d {max-width:314px; max-height:75px; }
.tg_eap_agr_phar_30_apr_2025_s1_140_d::after {content: '\00a0';display: inline-block; width:314px; height:75px; background-position: 0.15037593984962405% 69.48051948051948%; background-size: 311.78343949044586% 1126.6666666666667%; background-image: url(ts_30_apr_2025_s1_0.png);padding: 0; }
div.tg_eap_agr_phar_30_apr_2025_s1_140_d::after {max-width:314px; width:100%;height:0;padding: 0 0 23.88535031847134% 0;}
.tg_eap_agr_phar_30_apr_2025_s1_155_a {max-width:203px; max-height:81px; }
.tg_eap_agr_phar_30_apr_2025_s1_155_a::after {content: '\00a0';display: inline-block; width:203px; height:81px; background-position: 93.81443298969072% 78.27225130890052%; background-size: 482.26600985221677% 1043.20987654321%; background-image: url(ts_30_apr_2025_s1_0.png);padding: 0; }
div.tg_eap_agr_phar_30_apr_2025_s1_155_a::after {max-width:203px; width:100%;height:0;padding: 0 0 39.90147783251231% 0;}
.tg_eap_agr_phar_30_apr_2025_s1_155_b {max-width:260px; max-height:134px; }
.tg_eap_agr_phar_30_apr_2025_s1_155_b::after {content: '\00a0';display: inline-block; width:260px; height:134px; background-position: 0.13908205841446453% 99.85935302390999%; background-size: 376.53846153846155% 630.5970149253732%; background-image: url(ts_30_apr_2025_s1_0.png);padding: 0; }
div.tg_eap_agr_phar_30_apr_2025_s1_155_b::after {max-width:260px; width:100%;height:0;padding: 0 0 51.53846153846154% 0;}
.tg_eap_agr_phar_30_apr_2025_s1_155_c {max-width:263px; max-height:75px; }
.tg_eap_agr_phar_30_apr_2025_s1_155_c::after {content: '\00a0';display: inline-block; width:263px; height:75px; background-position: 53.072625698324025% 97.40259740259741%; background-size: 372.24334600760454% 1126.6666666666667%; background-image: url(ts_30_apr_2025_s1_0.png);padding: 0; }
div.tg_eap_agr_phar_30_apr_2025_s1_155_c::after {max-width:263px; width:100%;height:0;padding: 0 0 28.517110266159698% 0;}
.tg_eap_agr_phar_30_apr_2025_s1_155_d {max-width:282px; max-height:78px; }
.tg_eap_agr_phar_30_apr_2025_s1_155_d::after {content: '\00a0';display: inline-block; width:282px; height:78px; background-position: 64.41893830703013% 62.84224250325945%; background-size: 347.16312056737587% 1083.3333333333333%; background-image: url(ts_30_apr_2025_s1_0.png);padding: 0; }
div.tg_eap_agr_phar_30_apr_2025_s1_155_d::after {max-width:282px; width:100%;height:0;padding: 0 0 27.659574468085108% 0;}
.tg_eap_agr_phar_30_apr_2025_s1_158 {max-width:606px; max-height:138px; }
.tg_eap_agr_phar_30_apr_2025_s1_158::after {content: '\00a0';display: inline-block; width:606px; height:138px; background-position: 0.2680965147453083% 0.14144271570014144%; background-size: 161.55115511551156% 612.3188405797101%; background-image: url(ts_30_apr_2025_s1_0.png);padding: 0; }
div.tg_eap_agr_phar_30_apr_2025_s1_158::after {max-width:606px; width:100%;height:0;padding: 0 0 22.77227722772277% 0;}
.tg_eap_agr_phar_30_apr_2025_s1_160_a {max-width:278px; max-height:78px; }
.tg_eap_agr_phar_30_apr_2025_s1_160_a::after {content: '\00a0';display: inline-block; width:278px; height:78px; background-position: 64.05135520684736% 73.14211212516297%; background-size: 352.158273381295% 1083.3333333333333%; background-image: url(ts_30_apr_2025_s1_0.png);padding: 0; }
div.tg_eap_agr_phar_30_apr_2025_s1_160_a::after {max-width:278px; width:100%;height:0;padding: 0 0 28.057553956834532% 0;}
.tg_eap_agr_phar_30_apr_2025_s1_160_b {max-width:267px; max-height:69px; }
.tg_eap_agr_phar_30_apr_2025_s1_160_b::after {content: '\00a0';display: inline-block; width:267px; height:69px; background-position: 99.01685393258427% 96.52061855670104%; background-size: 366.6666666666667% 1224.6376811594203%; background-image: url(ts_30_apr_2025_s1_0.png);padding: 0; }
div.tg_eap_agr_phar_30_apr_2025_s1_160_b::after {max-width:267px; width:100%;height:0;padding: 0 0 25.84269662921348% 0;}
.tg_eap_agr_phar_30_apr_2025_s1_160_c {max-width:319px; max-height:87px; }
.tg_eap_agr_phar_30_apr_2025_s1_160_c::after {content: '\00a0';display: inline-block; width:319px; height:87px; background-position: 69.39393939393939% 51.97889182058047%; background-size: 306.8965517241379% 971.264367816092%; background-image: url(ts_30_apr_2025_s1_0.png);padding: 0; }
div.tg_eap_agr_phar_30_apr_2025_s1_160_c::after {max-width:319px; width:100%;height:0;padding: 0 0 27.272727272727273% 0;}
.tg_eap_agr_phar_30_apr_2025_s1_160_d {max-width:362px; max-height:76px; }
.tg_eap_agr_phar_30_apr_2025_s1_160_d::after {content: '\00a0';display: inline-block; width:362px; height:76px; background-position: 98.54132901134521% 0.13003901170351106%; background-size: 270.44198895027625% 1111.842105263158%; background-image: url(ts_30_apr_2025_s1_0.png);padding: 0; }
div.tg_eap_agr_phar_30_apr_2025_s1_160_d::after {max-width:362px; width:100%;height:0;padding: 0 0 20.994475138121548% 0;}
.tg_eap_agr_phar_30_apr_2025_s1_23_a {max-width:118px; max-height:107px; }
.tg_eap_agr_phar_30_apr_2025_s1_23_a::after {content: '\00a0';display: inline-block; width:118px; height:107px; background-position: 36.70150987224158% 81.57181571815718%; background-size: 829.6610169491526% 789.7196261682243%; background-image: url(ts_30_apr_2025_s1_0.png);padding: 0; }
div.tg_eap_agr_phar_30_apr_2025_s1_23_a::after {max-width:118px; width:100%;height:0;padding: 0 0 90.67796610169492% 0;}
.tg_eap_agr_phar_30_apr_2025_s1_23_b {max-width:121px; max-height:126px; }
.tg_eap_agr_phar_30_apr_2025_s1_23_b::after {content: '\00a0';display: inline-block; width:121px; height:126px; background-position: 38.11188811188811% 66.06397774687065%; background-size: 809.0909090909091% 670.6349206349206%; background-image: url(ts_30_apr_2025_s1_0.png);padding: 0; }
div.tg_eap_agr_phar_30_apr_2025_s1_23_b::after {max-width:121px; width:100%;height:0;padding: 0 0 104.13223140495867% 0;}
.tg_eap_agr_phar_30_apr_2025_s1_23_c {max-width:130px; max-height:113px; }
.tg_eap_agr_phar_30_apr_2025_s1_23_c::after {content: '\00a0';display: inline-block; width:130px; height:113px; background-position: 38.51590106007067% 49.31693989071038%; background-size: 753.0769230769231% 747.787610619469%; background-image: url(ts_30_apr_2025_s1_0.png);padding: 0; }
div.tg_eap_agr_phar_30_apr_2025_s1_23_c::after {max-width:130px; width:100%;height:0;padding: 0 0 86.92307692307692% 0;}
.tg_eap_agr_phar_30_apr_2025_s1_23_d {max-width:117px; max-height:107px; }
.tg_eap_agr_phar_30_apr_2025_s1_23_d::after {content: '\00a0';display: inline-block; width:117px; height:107px; background-position: 30.394431554524363% 96.2059620596206%; background-size: 836.7521367521367% 789.7196261682243%; background-image: url(ts_30_apr_2025_s1_0.png);padding: 0; }
div.tg_eap_agr_phar_30_apr_2025_s1_23_d::after {max-width:117px; width:100%;height:0;padding: 0 0 91.45299145299145% 0;}
.tg_eap_agr_phar_30_apr_2025_s1_28 {max-width:159px; max-height:199px; }
.tg_eap_agr_phar_30_apr_2025_s1_28::after {content: '\00a0';display: inline-block; width:159px; height:199px; background-position: 99.8780487804878% 50.77399380804953%; background-size: 615.7232704402516% 424.62311557788945%; background-image: url(ts_30_apr_2025_s1_0.png);padding: 0; }
div.tg_eap_agr_phar_30_apr_2025_s1_28::after {max-width:159px; width:100%;height:0;padding: 0 0 125.15723270440252% 0;}
.tg_eap_agr_phar_30_apr_2025_s1_35 {max-width:325px; max-height:173px; }
.tg_eap_agr_phar_30_apr_2025_s1_35::after {content: '\00a0';display: inline-block; width:325px; height:173px; background-position: 0.1529051987767584% 53.720238095238095%; background-size: 301.2307692307692% 488.4393063583815%; background-image: url(ts_30_apr_2025_s1_0.png);padding: 0; }
div.tg_eap_agr_phar_30_apr_2025_s1_35::after {max-width:325px; width:100%;height:0;padding: 0 0 53.23076923076923% 0;}
.tg_eap_agr_phar_30_apr_2025_s1_39 {max-width:433px; max-height:162px; }
.tg_eap_agr_phar_30_apr_2025_s1_39::after {content: '\00a0';display: inline-block; width:433px; height:162px; background-position: 92.85714285714286% 24.15812591508053%; background-size: 226.09699769053117% 521.604938271605%; background-image: url(ts_30_apr_2025_s1_0.png);padding: 0; }
div.tg_eap_agr_phar_30_apr_2025_s1_39::after {max-width:433px; width:100%;height:0;padding: 0 0 37.41339491916859% 0;}
.tg_eap_agr_phar_30_apr_2025_s1_93 {max-width:475px; max-height:158px; }
.tg_eap_agr_phar_30_apr_2025_s1_93::after {content: '\00a0';display: inline-block; width:475px; height:158px; background-position: 0.1984126984126984% 29.403202328966522%; background-size: 206.10526315789474% 534.8101265822785%; background-image: url(ts_30_apr_2025_s1_0.png);padding: 0; }
div.tg_eap_agr_phar_30_apr_2025_s1_93::after {max-width:475px; width:100%;height:0;padding: 0 0 33.26315789473684% 0;}

@keyframes tg_eap_agr_phar_30_apr_2025_s1-frames {
    0% { background-position: 99.8780487804878% 50.77399380804953%;  }
    16.666666666666664% { background-position: 0.1529051987767584% 53.720238095238095%;  }
    33.33333333333333% { background-position: 92.85714285714286% 24.15812591508053%;  }
    50% { background-position: 0.1984126984126984% 29.403202328966522%;  }
    66.66666666666666% { background-position: 0.2109704641350211% 17.857142857142858%;  }
    83.33333333333334% { background-position: 0.2680965147453083% 0.14144271570014144%;  }
}

.tg_eap_agr_phar_30_apr_2025_s1-animation {
    max-width: 159px;
    max-height: 199px;
}
.tg_eap_agr_phar_30_apr_2025_s1-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 159px;
    height: 199px;
    padding: 0;
    background-image: url(ts_30_apr_2025_s1_0.png);
    background-size: 615.7232704402516% 424.62311557788945%; 
    animation-name: tg_eap_agr_phar_30_apr_2025_s1-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.tg_eap_agr_phar_30_apr_2025_s1-animation::after {
    max-width: 159px;
    width: 100%;
    height: 0;
    padding: 0 0 125.15723270440252% 0;
}

/* $TexturePacker:SmartUpdate:1e15cbee29ed3a30b3a02bd9bd24f5dd:6f3d8438e2882cb3f00083c852ccce93:19d92882f4a0e23480b0acea40d0303e$ */
