/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.viteee_2024_111p {max-width:634px; max-height:574px; }
.viteee_2024_111p::after {content: '\00a0';display: inline-block; width:634px; height:574px; background-position: 0.07457121551081283% 41.65366614664587%; background-size: 311.51419558359623% 323.3449477351916%; background-image: url(viteee2024_0.png);padding: 0; }
div.viteee_2024_111p::after {max-width:634px; width:100%;height:0;padding: 0 0 90.53627760252365% 0;}
.viteee_2024_115 {max-width:1010px; max-height:532px; }
.viteee_2024_115::after {content: '\00a0';display: inline-block; width:1010px; height:532px; background-position: 0.10362694300518134% 0.0755287009063444%; background-size: 195.54455445544554% 348.8721804511278%; background-image: url(viteee2024_0.png);padding: 0; }
div.viteee_2024_115::after {max-width:1010px; width:100%;height:0;padding: 0 0 52.67326732673267% 0;}
.viteee_2024_19 {max-width:766px; max-height:284px; }
.viteee_2024_19::after {content: '\00a0';display: inline-block; width:766px; height:284px; background-position: 0.0827129859387924% 70.5470737913486%; background-size: 257.8328981723238% 653.5211267605633%; background-image: url(viteee2024_0.png);padding: 0; }
div.viteee_2024_19::after {max-width:766px; width:100%;height:0;padding: 0 0 37.0757180156658% 0;}
.viteee_2024_25 {max-width:626px; max-height:510px; }
.viteee_2024_25::after {content: '\00a0';display: inline-block; width:626px; height:510px; background-position: 75.01853224610822% 0.07429420505200594%; background-size: 315.4952076677316% 363.921568627451%; background-image: url(viteee2024_0.png);padding: 0; }
div.viteee_2024_25::after {max-width:626px; width:100%;height:0;padding: 0 0 81.46964856230032% 0;}
.viteee_2024_28_a {max-width:328px; max-height:302px; }
.viteee_2024_28_a::after {content: '\00a0';display: inline-block; width:328px; height:302px; background-position: 96.17486338797814% 79.47232947232948%; background-size: 602.1341463414634% 614.5695364238411%; background-image: url(viteee2024_0.png);padding: 0; }
div.viteee_2024_28_a::after {max-width:328px; width:100%;height:0;padding: 0 0 92.07317073170732% 0;}
.viteee_2024_28_b {max-width:334px; max-height:304px; }
.viteee_2024_28_b::after {content: '\00a0';display: inline-block; width:334px; height:304px; background-position: 70.38391224862889% 98.96907216494846%; background-size: 591.3173652694611% 610.5263157894736%; background-image: url(viteee2024_0.png);padding: 0; }
div.viteee_2024_28_b::after {max-width:334px; width:100%;height:0;padding: 0 0 91.01796407185628% 0;}
.viteee_2024_28_c {max-width:316px; max-height:300px; }
.viteee_2024_28_c::after {content: '\00a0';display: inline-block; width:316px; height:300px; background-position: 89.81314044605183% 98.84318766066838%; background-size: 625% 618.6666666666666%; background-image: url(viteee2024_0.png);padding: 0; }
div.viteee_2024_28_c::after {max-width:316px; width:100%;height:0;padding: 0 0 94.9367088607595% 0;}
.viteee_2024_28_d {max-width:366px; max-height:324px; }
.viteee_2024_28_d::after {content: '\00a0';display: inline-block; width:366px; height:324px; background-position: 75.63704164077066% 79.04699738903395%; background-size: 539.6174863387978% 572.8395061728395%; background-image: url(viteee2024_0.png);padding: 0; }
div.viteee_2024_28_d::after {max-width:366px; width:100%;height:0;padding: 0 0 88.52459016393442% 0;}
.viteee_2024_30 {max-width:734px; max-height:274px; }
.viteee_2024_30::after {content: '\00a0';display: inline-block; width:734px; height:274px; background-position: 0.08058017727639001% 88.11630847029078%; background-size: 269.0735694822888% 677.3722627737226%; background-image: url(viteee2024_0.png);padding: 0; }
div.viteee_2024_30::after {max-width:734px; width:100%;height:0;padding: 0 0 37.32970027247956% 0;}
.viteee_2024_34 {max-width:556px; max-height:296px; }
.viteee_2024_34::after {content: '\00a0';display: inline-block; width:556px; height:296px; background-position: 75.61663143058492% 32.82051282051282%; background-size: 355.2158273381295% 627.027027027027%; background-image: url(viteee2024_0.png);padding: 0; }
div.viteee_2024_34::after {max-width:556px; width:100%;height:0;padding: 0 0 53.23741007194245% 0;}
.viteee_2024_42 {max-width:292px; max-height:390px; }
.viteee_2024_42::after {content: '\00a0';display: inline-block; width:292px; height:390px; background-position: 97.38562091503267% 0.06821282401091405%; background-size: 676.3698630136986% 475.8974358974359%; background-image: url(viteee2024_0.png);padding: 0; }
div.viteee_2024_42::after {max-width:292px; width:100%;height:0;padding: 0 0 133.56164383561645% 0;}
.viteee_2024_43 {max-width:832px; max-height:232px; }
.viteee_2024_43::after {content: '\00a0';display: inline-block; width:832px; height:232px; background-position: 93.87576552930884% 49.81527093596059%; background-size: 237.37980769230768% 800%; background-image: url(viteee2024_0.png);padding: 0; }
div.viteee_2024_43::after {max-width:832px; width:100%;height:0;padding: 0 0 27.884615384615383% 0;}
.viteee_2024_54 {max-width:448px; max-height:288px; }
.viteee_2024_54::after {content: '\00a0';display: inline-block; width:448px; height:288px; background-position: 50.29469548133595% 77.23214285714286%; background-size: 440.8482142857143% 644.4444444444445%; background-image: url(viteee2024_0.png);padding: 0; }
div.viteee_2024_54::after {max-width:448px; width:100%;height:0;padding: 0 0 64.28571428571429% 0;}
.viteee_2024_63 {max-width:728px; max-height:186px; }
.viteee_2024_63::after {content: '\00a0';display: inline-block; width:728px; height:186px; background-position: 0.08019246190858059% 99.94011976047904%; background-size: 271.2912087912088% 997.8494623655914%; background-image: url(viteee2024_0.png);padding: 0; }
div.viteee_2024_63::after {max-width:728px; width:100%;height:0;padding: 0 0 25.54945054945055% 0;}
.viteee_2024_63_a {max-width:344px; max-height:174px; }
.viteee_2024_63_a::after {content: '\00a0';display: inline-block; width:344px; height:174px; background-position: 99.93868792152054% 34.54221165279429%; background-size: 574.1279069767442% 1066.6666666666667%; background-image: url(viteee2024_0.png);padding: 0; }
div.viteee_2024_63_a::after {max-width:344px; width:100%;height:0;padding: 0 0 50.58139534883721% 0;}
.viteee_2024_63_b {max-width:306px; max-height:188px; }
.viteee_2024_63_b::after {content: '\00a0';display: inline-block; width:306px; height:188px; background-position: 98.20251647693229% 23.501199040767386%; background-size: 645.4248366013072% 987.2340425531914%; background-image: url(viteee2024_0.png);padding: 0; }
div.viteee_2024_63_b::after {max-width:306px; width:100%;height:0;padding: 0 0 61.43790849673203% 0;}
.viteee_2024_63_c {max-width:312px; max-height:192px; }
.viteee_2024_63_c::after {content: '\00a0';display: inline-block; width:312px; height:192px; background-position: 98.67708959711365% 62.62019230769231%; background-size: 633.0128205128206% 966.6666666666666%; background-image: url(viteee2024_0.png);padding: 0; }
div.viteee_2024_63_c::after {max-width:312px; width:100%;height:0;padding: 0 0 61.53846153846154% 0;}
.viteee_2024_63_d {max-width:418px; max-height:230px; }
.viteee_2024_63_d::after {content: '\00a0';display: inline-block; width:418px; height:230px; background-position: 47.2703917790623% 92.25092250922509%; background-size: 472.488038277512% 806.9565217391304%; background-image: url(viteee2024_0.png);padding: 0; }
div.viteee_2024_63_d::after {max-width:418px; width:100%;height:0;padding: 0 0 55.02392344497608% 0;}
.viteee_2024_66 {max-width:872px; max-height:168px; }
.viteee_2024_66::after {content: '\00a0';display: inline-block; width:872px; height:168px; background-position: 69.62828649138713% 61.72985781990521%; background-size: 226.4908256880734% 1104.7619047619048%; background-image: url(viteee2024_0.png);padding: 0; }
div.viteee_2024_66::after {max-width:872px; width:100%;height:0;padding: 0 0 19.26605504587156% 0;}
.viteee_2024_8 {max-width:436px; max-height:436px; }
.viteee_2024_8::after {content: '\00a0';display: inline-block; width:436px; height:436px; background-position: 41.32553606237817% 37.605633802816904%; background-size: 452.9816513761468% 425.6880733944954%; background-image: url(viteee2024_0.png);padding: 0; }
div.viteee_2024_8::after {max-width:436px; width:100%;height:0;padding: 0 0 100% 0;}

@keyframes viteee_2024-frames {
    0% { background-position: 41.32553606237817% 37.605633802816904%;  }
    9.090909090909092% { background-position: 0.0827129859387924% 70.5470737913486%;  }
    18.181818181818183% { background-position: 75.01853224610822% 0.07429420505200594%;  }
    27.27272727272727% { background-position: 0.08058017727639001% 88.11630847029078%;  }
    36.36363636363637% { background-position: 75.61663143058492% 32.82051282051282%;  }
    45.45454545454545% { background-position: 97.38562091503267% 0.06821282401091405%;  }
    54.54545454545454% { background-position: 93.87576552930884% 49.81527093596059%;  }
    63.63636363636363% { background-position: 50.29469548133595% 77.23214285714286%;  }
    72.72727272727273% { background-position: 0.08019246190858059% 99.94011976047904%;  }
    81.81818181818183% { background-position: 69.62828649138713% 61.72985781990521%;  }
    90.9090909090909% { background-position: 0.10362694300518134% 0.0755287009063444%;  }
}

.viteee_2024-animation {
    max-width: 436px;
    max-height: 436px;
}
.viteee_2024-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 436px;
    height: 436px;
    padding: 0;
    background-image: url(viteee2024_0.png);
    background-size: 452.9816513761468% 425.6880733944954%; 
    animation-name: viteee_2024-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.viteee_2024-animation::after {
    max-width: 436px;
    width: 100%;
    height: 0;
    padding: 0 0 100% 0;
}

/* $TexturePacker:SmartUpdate:8ca7831cbacfddf6a01ddac310626c80:5243396a108e38aed4ff85b863636634:f298a6e637c0945c525c8ccfe454b84c$ */
