/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.nimcet_2024__q_104 {max-width:220px; max-height:193px; }
.nimcet_2024__q_104::after {content: '\00a0';display: inline-block; width:220px; height:193px; background-position: 99.91212653778558% 48.95104895104895%; background-size: 617.2727272727273% 248.1865284974093%; background-image: url(nimcet2025_0.png);padding: 0; }
div.nimcet_2024__q_104::after {max-width:220px; width:100%;height:0;padding: 0 0 87.72727272727273% 0;}
.nimcet_2024__q_82 {max-width:520px; max-height:138px; }
.nimcet_2024__q_82::after {content: '\00a0';display: inline-block; width:520px; height:138px; background-position: 95.1073985680191% 0.2932551319648094%; background-size: 261.15384615384613% 347.1014492753623%; background-image: url(nimcet2025_0.png);padding: 0; }
div.nimcet_2024__q_82::after {max-width:520px; width:100%;height:0;padding: 0 0 26.53846153846154% 0;}
.nimcet_2024__sol_16 {max-width:339px; max-height:313px; }
.nimcet_2024__sol_16::after {content: '\00a0';display: inline-block; width:339px; height:313px; background-position: 78.21393523061825% 84.33734939759036%; background-size: 400.5899705014749% 153.03514376996804%; background-image: url(nimcet2025_0.png);padding: 0; }
div.nimcet_2024__sol_16::after {max-width:339px; width:100%;height:0;padding: 0 0 92.33038348082596% 0;}
.nimcet_2024__sol_28 {max-width:253px; max-height:163px; }
.nimcet_2024__sol_28::after {content: '\00a0';display: inline-block; width:253px; height:163px; background-position: 35.83710407239819% 99.68354430379746%; background-size: 536.7588932806324% 293.86503067484665%; background-image: url(nimcet2025_0.png);padding: 0; }
div.nimcet_2024__sol_28::after {max-width:253px; width:100%;height:0;padding: 0 0 64.42687747035573% 0;}
.nimcet_2024__sol_42 {max-width:400px; max-height:313px; }
.nimcet_2024__sol_42::after {content: '\00a0';display: inline-block; width:400px; height:313px; background-position: 41.33611691022965% 0.6024096385542169%; background-size: 339.5% 153.03514376996804%; background-image: url(nimcet2025_0.png);padding: 0; }
div.nimcet_2024__sol_42::after {max-width:400px; width:100%;height:0;padding: 0 0 78.25% 0;}
.nimcet_2025__q_83 {max-width:394px; max-height:472px; }
.nimcet_2025__q_83::after {content: '\00a0';display: inline-block; width:394px; height:472px; background-position: 0.1037344398340249% 14.285714285714286%; background-size: 344.6700507614213% 101.48305084745763%; background-image: url(nimcet2025_0.png);padding: 0; }
div.nimcet_2025__q_83::after {max-width:394px; width:100%;height:0;padding: 0 0 119.79695431472081% 0;}

@keyframes nimcet_2024__q-frames {
    0% { background-position: 95.1073985680191% 0.2932551319648094%;  }
    50% { background-position: 99.91212653778558% 48.95104895104895%;  }
}

.nimcet_2024__q-animation {
    max-width: 520px;
    max-height: 138px;
}
.nimcet_2024__q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 520px;
    height: 138px;
    padding: 0;
    background-image: url(nimcet2025_0.png);
    background-size: 261.15384615384613% 347.1014492753623%; 
    animation-name: nimcet_2024__q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.nimcet_2024__q-animation::after {
    max-width: 520px;
    width: 100%;
    height: 0;
    padding: 0 0 26.53846153846154% 0;
}

@keyframes nimcet_2024__sol-frames {
    0% { background-position: 78.21393523061825% 84.33734939759036%;  }
    33.33333333333333% { background-position: 35.83710407239819% 99.68354430379746%;  }
    66.66666666666666% { background-position: 41.33611691022965% 0.6024096385542169%;  }
}

.nimcet_2024__sol-animation {
    max-width: 339px;
    max-height: 313px;
}
.nimcet_2024__sol-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 339px;
    height: 313px;
    padding: 0;
    background-image: url(nimcet2025_0.png);
    background-size: 400.5899705014749% 153.03514376996804%; 
    animation-name: nimcet_2024__sol-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.nimcet_2024__sol-animation::after {
    max-width: 339px;
    width: 100%;
    height: 0;
    padding: 0 0 92.33038348082596% 0;
}

/* $TexturePacker:SmartUpdate:7ab05de4f55d762643cd87e1fe7807b4:69f18873178681869daca0782bd19043:4f7c7403ab31a729d67af0a65fa3482b$ */
