/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.eap_23_may_2025_s1102 {max-width:179px; max-height:261px; }
.eap_23_may_2025_s1102::after {content: '\00a0';display: inline-block; width:179px; height:261px; background-position: 17.754262198706645% 87.21461187214612%; background-size: 1050.2793296089385% 435.632183908046%; background-image: url(eap23May2025s1_0.png);padding: 0; }
div.eap_23_may_2025_s1102::after {max-width:179px; width:100%;height:0;padding: 0 0 145.81005586592178% 0;}
.eap_23_may_2025_s1_q_119 {max-width:496px; max-height:104px; }
.eap_23_may_2025_s1_q_119::after {content: '\00a0';display: inline-block; width:496px; height:104px; background-position: 67.05202312138728% 0.0968054211035818%; background-size: 379.03225806451616% 1093.2692307692307%; background-image: url(eap23May2025s1_0.png);padding: 0; }
div.eap_23_may_2025_s1_q_119::after {max-width:496px; width:100%;height:0;padding: 0 0 20.967741935483872% 0;}
.eap_23_may_2025_s1_q_151a {max-width:171px; max-height:98px; }
.eap_23_may_2025_s1_q_151a::after {content: '\00a0';display: inline-block; width:171px; height:98px; background-position: 17.67115272088941% 98.7487969201155%; background-size: 1099.4152046783627% 1160.204081632653%; background-image: url(eap23May2025s1_0.png);padding: 0; }
div.eap_23_may_2025_s1_q_151a::after {max-width:171px; width:100%;height:0;padding: 0 0 57.30994152046784% 0;}
.eap_23_may_2025_s1_q_151b {max-width:327px; max-height:97px; }
.eap_23_may_2025_s1_q_151b::after {content: '\00a0';display: inline-block; width:327px; height:97px; background-position: 31.036703155183517% 93.26923076923077%; background-size: 574.9235474006116% 1172.1649484536083%; background-image: url(eap23May2025s1_0.png);padding: 0; }
div.eap_23_may_2025_s1_q_151b::after {max-width:327px; width:100%;height:0;padding: 0 0 29.66360856269113% 0;}
.eap_23_may_2025_s1_q_153 {max-width:514px; max-height:138px; }
.eap_23_may_2025_s1_q_153::after {content: '\00a0';display: inline-block; width:514px; height:138px; background-position: 29.428989751098097% 14.314314314314315%; background-size: 365.75875486381324% 823.9130434782609%; background-image: url(eap23May2025s1_0.png);padding: 0; }
div.eap_23_may_2025_s1_q_153::after {max-width:514px; width:100%;height:0;padding: 0 0 26.848249027237355% 0;}
.eap_23_may_2025_s1_q_153a {max-width:154px; max-height:132px; }
.eap_23_may_2025_s1_q_153a::after {content: '\00a0';display: inline-block; width:154px; height:132px; background-position: 99.47856315179607% 59.1044776119403%; background-size: 1220.7792207792209% 861.3636363636364%; background-image: url(eap23May2025s1_0.png);padding: 0; }
div.eap_23_may_2025_s1_q_153a::after {max-width:154px; width:100%;height:0;padding: 0 0 85.71428571428571% 0;}
.eap_23_may_2025_s1_q_153b {max-width:117px; max-height:214px; }
.eap_23_may_2025_s1_q_153b::after {content: '\00a0';display: inline-block; width:117px; height:214px; background-position: 43.27850255246739% 30.552546045503792%; background-size: 1606.837606837607% 531.3084112149533%; background-image: url(eap23May2025s1_0.png);padding: 0; }
div.eap_23_may_2025_s1_q_153b::after {max-width:117px; width:100%;height:0;padding: 0 0 182.9059829059829% 0;}
.eap_23_may_2025_s1_q_153c {max-width:230px; max-height:231px; }
.eap_23_may_2025_s1_q_153c::after {content: '\00a0';display: inline-block; width:230px; height:231px; background-position: 77.87878787878788% 62.47240618101545%; background-size: 817.3913043478261% 492.2077922077922%; background-image: url(eap23May2025s1_0.png);padding: 0; }
div.eap_23_may_2025_s1_q_153c::after {max-width:230px; width:100%;height:0;padding: 0 0 100.43478260869566% 0;}
.eap_23_may_2025_s1_q_153d {max-width:219px; max-height:219px; }
.eap_23_may_2025_s1_q_153d::after {content: '\00a0';display: inline-block; width:219px; height:219px; background-position: 42.32390126429861% 54.13943355119826%; background-size: 858.4474885844749% 519.1780821917808%; background-image: url(eap23May2025s1_0.png);padding: 0; }
div.eap_23_may_2025_s1_q_153d::after {max-width:219px; width:100%;height:0;padding: 0 0 100% 0;}
.eap_23_may_2025_s1_q_157 {max-width:525px; max-height:141px; }
.eap_23_may_2025_s1_q_157::after {content: '\00a0';display: inline-block; width:525px; height:141px; background-position: 29.66789667896679% 0.10040160642570281%; background-size: 358.0952380952381% 806.3829787234042%; background-image: url(eap23May2025s1_0.png);padding: 0; }
div.eap_23_may_2025_s1_q_157::after {max-width:525px; width:100%;height:0;padding: 0 0 26.857142857142858% 0;}
.eap_23_may_2025_s1_q_83 {max-width:281px; max-height:232px; }
.eap_23_may_2025_s1_q_83::after {content: '\00a0';display: inline-block; width:281px; height:232px; background-position: 99.43714821763602% 14.3646408839779%; background-size: 669.0391459074733% 490.08620689655174%; background-image: url(eap23May2025s1_0.png);padding: 0; }
div.eap_23_may_2025_s1_q_83::after {max-width:281px; width:100%;height:0;padding: 0 0 82.56227758007117% 0;}
.eap_23_may_2025_s1_q_86 {max-width:300px; max-height:239px; }
.eap_23_may_2025_s1_q_86::after {content: '\00a0';display: inline-block; width:300px; height:239px; background-position: 62.278481012658226% 75.16703786191536%; background-size: 626.6666666666666% 475.73221757322176%; background-image: url(eap23May2025s1_0.png);padding: 0; }
div.eap_23_may_2025_s1_q_86::after {max-width:300px; width:100%;height:0;padding: 0 0 79.66666666666667% 0;}
.eap_23_may_2025_s1_q_88 {max-width:241px; max-height:70px; }
.eap_23_may_2025_s1_q_88::after {content: '\00a0';display: inline-block; width:241px; height:70px; background-position: 78.40146430750458% 97.09465791940019%; background-size: 780.0829875518672% 1624.2857142857142%; background-image: url(eap23May2025s1_0.png);padding: 0; }
div.eap_23_may_2025_s1_q_88::after {max-width:241px; width:100%;height:0;padding: 0 0 29.04564315352697% 0;}
.eap_23_may_2025_s1_q_99 {max-width:393px; max-height:276px; }
.eap_23_may_2025_s1_q_99::after {content: '\00a0';display: inline-block; width:393px; height:276px; background-position: 0.06724949562878278% 33.56562137049942%; background-size: 478.37150127226465% 411.95652173913044%; background-image: url(eap23May2025s1_0.png);padding: 0; }
div.eap_23_may_2025_s1_q_99::after {max-width:393px; width:100%;height:0;padding: 0 0 70.22900763358778% 0;}
.eap_23_may_2025_s1_sol_102 {max-width:200px; max-height:246px; }
.eap_23_may_2025_s1_sol_102::after {content: '\00a0';display: inline-block; width:200px; height:246px; background-position: 94.4047619047619% 87.99102132435466%; background-size: 940% 462.1951219512195%; background-image: url(eap23May2025s1_0.png);padding: 0; }
div.eap_23_may_2025_s1_sol_102::after {max-width:200px; width:100%;height:0;padding: 0 0 123% 0;}
.eap_23_may_2025_s1_sol_107 {max-width:200px; max-height:248px; }
.eap_23_may_2025_s1_sol_107::after {content: '\00a0';display: inline-block; width:200px; height:248px; background-position: 46.607142857142854% 80.65241844769403%; background-size: 940% 458.46774193548384%; background-image: url(eap23May2025s1_0.png);padding: 0; }
div.eap_23_may_2025_s1_sol_107::after {max-width:200px; width:100%;height:0;padding: 0 0 124% 0;}
.eap_23_may_2025_s1_sol_119 {max-width:300px; max-height:99px; }
.eap_23_may_2025_s1_sol_119::after {content: '\00a0';display: inline-block; width:300px; height:99px; background-position: 0.06329113924050633% 99.90366088631984%; background-size: 626.6666666666666% 1148.4848484848485%; background-image: url(eap23May2025s1_0.png);padding: 0; }
div.eap_23_may_2025_s1_sol_119::after {max-width:300px; width:100%;height:0;padding: 0 0 33% 0;}
.eap_23_may_2025_s1_sol_153 {max-width:400px; max-height:128px; }
.eap_23_may_2025_s1_sol_153::after {content: '\00a0';display: inline-block; width:400px; height:128px; background-position: 96.28378378378379% 0.09910802775024777%; background-size: 470% 888.28125%; background-image: url(eap23May2025s1_0.png);padding: 0; }
div.eap_23_may_2025_s1_sol_153::after {max-width:400px; width:100%;height:0;padding: 0 0 32% 0;}
.eap_23_may_2025_s1_sol_155 {max-width:360px; max-height:156px; }
.eap_23_may_2025_s1_sol_155::after {content: '\00a0';display: inline-block; width:360px; height:156px; background-position: 61.05263157894737% 10.805300713557594%; background-size: 522.2222222222222% 728.8461538461538%; background-image: url(eap23May2025s1_0.png);padding: 0; }
div.eap_23_may_2025_s1_sol_155::after {max-width:360px; width:100%;height:0;padding: 0 0 43.333333333333336% 0;}
.eap_23_may_2025_s1_sol_157 {max-width:400px; max-height:287px; }
.eap_23_may_2025_s1_sol_157::after {content: '\00a0';display: inline-block; width:400px; height:287px; background-position: 0.06756756756756757% 0.11764705882352941%; background-size: 470% 396.1672473867596%; background-image: url(eap23May2025s1_0.png);padding: 0; }
div.eap_23_may_2025_s1_sol_157::after {max-width:400px; width:100%;height:0;padding: 0 0 71.75% 0;}
.eap_23_may_2025_s1_sol_29 {max-width:200px; max-height:189px; }
.eap_23_may_2025_s1_sol_29::after {content: '\00a0';display: inline-block; width:200px; height:189px; background-position: 90.23809523809524% 62.65822784810127%; background-size: 940% 601.5873015873016%; background-image: url(eap23May2025s1_0.png);padding: 0; }
div.eap_23_may_2025_s1_sol_29::after {max-width:200px; width:100%;height:0;padding: 0 0 94.5% 0;}
.eap_23_may_2025_s1_sol_32 {max-width:300px; max-height:237px; }
.eap_23_may_2025_s1_sol_32::after {content: '\00a0';display: inline-block; width:300px; height:237px; background-position: 81.32911392405063% 88.66666666666667%; background-size: 626.6666666666666% 479.746835443038%; background-image: url(eap23May2025s1_0.png);padding: 0; }
div.eap_23_may_2025_s1_sol_32::after {max-width:300px; width:100%;height:0;padding: 0 0 79% 0;}
.eap_23_may_2025_s1_sol_35 {max-width:300px; max-height:249px; }
.eap_23_may_2025_s1_sol_35::after {content: '\00a0';display: inline-block; width:300px; height:249px; background-position: 25.443037974683545% 53.490990990990994%; background-size: 626.6666666666666% 456.6265060240964%; background-image: url(eap23May2025s1_0.png);padding: 0; }
div.eap_23_may_2025_s1_sol_35::after {max-width:300px; width:100%;height:0;padding: 0 0 83% 0;}
.eap_23_may_2025_s1_sol_41 {max-width:300px; max-height:217px; }
.eap_23_may_2025_s1_sol_41::after {content: '\00a0';display: inline-block; width:300px; height:217px; background-position: 81.58227848101266% 14.130434782608695%; background-size: 626.6666666666666% 523.963133640553%; background-image: url(eap23May2025s1_0.png);padding: 0; }
div.eap_23_may_2025_s1_sol_41::after {max-width:300px; width:100%;height:0;padding: 0 0 72.33333333333333% 0;}
.eap_23_may_2025_s1_sol_44 {max-width:300px; max-height:217px; }
.eap_23_may_2025_s1_sol_44::after {content: '\00a0';display: inline-block; width:300px; height:217px; background-position: 80.88607594936708% 37.82608695652174%; background-size: 626.6666666666666% 523.963133640553%; background-image: url(eap23May2025s1_0.png);padding: 0; }
div.eap_23_may_2025_s1_sol_44::after {max-width:300px; width:100%;height:0;padding: 0 0 72.33333333333333% 0;}
.eap_23_may_2025_s1_sol_45 {max-width:300px; max-height:272px; }
.eap_23_may_2025_s1_sol_45::after {content: '\00a0';display: inline-block; width:300px; height:272px; background-position: 0.06329113924050633% 88.32369942196532%; background-size: 626.6666666666666% 418.0147058823529%; background-image: url(eap23May2025s1_0.png);padding: 0; }
div.eap_23_may_2025_s1_sol_45::after {max-width:300px; width:100%;height:0;padding: 0 0 90.66666666666667% 0;}
.eap_23_may_2025_s1_sol_46 {max-width:400px; max-height:197px; }
.eap_23_may_2025_s1_sol_46::after {content: '\00a0';display: inline-block; width:400px; height:197px; background-position: 0.06756756756756757% 60.212765957446805%; background-size: 470% 577.1573604060914%; background-image: url(eap23May2025s1_0.png);padding: 0; }
div.eap_23_may_2025_s1_sol_46::after {max-width:400px; width:100%;height:0;padding: 0 0 49.25% 0;}
.eap_23_may_2025_s1_sol_47 {max-width:360px; max-height:192px; }
.eap_23_may_2025_s1_sol_47::after {content: '\00a0';display: inline-block; width:360px; height:192px; background-position: 26.44736842105263% 29.841269841269842%; background-size: 522.2222222222222% 592.1875%; background-image: url(eap23May2025s1_0.png);padding: 0; }
div.eap_23_may_2025_s1_sol_47::after {max-width:360px; width:100%;height:0;padding: 0 0 53.333333333333336% 0;}
.eap_23_may_2025_s1_sol_49 {max-width:360px; max-height:166px; }
.eap_23_may_2025_s1_sol_49::after {content: '\00a0';display: inline-block; width:360px; height:166px; background-position: 60.328947368421055% 27.085478887744593%; background-size: 522.2222222222222% 684.9397590361446%; background-image: url(eap23May2025s1_0.png);padding: 0; }
div.eap_23_may_2025_s1_sol_49::after {max-width:360px; width:100%;height:0;padding: 0 0 46.111111111111114% 0;}
.eap_23_may_2025_s1_sol_56 {max-width:300px; max-height:187px; }
.eap_23_may_2025_s1_sol_56::after {content: '\00a0';display: inline-block; width:300px; height:187px; background-position: 62.278481012658226% 96.3157894736842%; background-size: 626.6666666666666% 608.0213903743315%; background-image: url(eap23May2025s1_0.png);padding: 0; }
div.eap_23_may_2025_s1_sol_56::after {max-width:300px; width:100%;height:0;padding: 0 0 62.333333333333336% 0;}
.eap_23_may_2025_s1_sol_62 {max-width:300px; max-height:244px; }
.eap_23_may_2025_s1_sol_62::after {content: '\00a0';display: inline-block; width:300px; height:244px; background-position: 30.50632911392405% 81.18701007838746%; background-size: 626.6666666666666% 465.9836065573771%; background-image: url(eap23May2025s1_0.png);padding: 0; }
div.eap_23_may_2025_s1_sol_62::after {max-width:300px; width:100%;height:0;padding: 0 0 81.33333333333333% 0;}
.eap_23_may_2025_s1_sol_75 {max-width:300px; max-height:230px; }
.eap_23_may_2025_s1_sol_75::after {content: '\00a0';display: inline-block; width:300px; height:230px; background-position: 99.9367088607595% 40.022050716648295%; background-size: 626.6666666666666% 494.3478260869565%; background-image: url(eap23May2025s1_0.png);padding: 0; }
div.eap_23_may_2025_s1_sol_75::after {max-width:300px; width:100%;height:0;padding: 0 0 76.66666666666667% 0;}
.eap_23_may_2025_s1_sol_86 {max-width:300px; max-height:244px; }
.eap_23_may_2025_s1_sol_86::after {content: '\00a0';display: inline-block; width:300px; height:244px; background-position: 58.41772151898734% 48.15229563269877%; background-size: 626.6666666666666% 465.9836065573771%; background-image: url(eap23May2025s1_0.png);padding: 0; }
div.eap_23_may_2025_s1_sol_86::after {max-width:300px; width:100%;height:0;padding: 0 0 81.33333333333333% 0;}

@keyframes eap_23_may_2025_s1_q-frames {
    0% { background-position: 99.43714821763602% 14.3646408839779%;  }
    14.285714285714285% { background-position: 62.278481012658226% 75.16703786191536%;  }
    28.57142857142857% { background-position: 78.40146430750458% 97.09465791940019%;  }
    42.857142857142854% { background-position: 0.06724949562878278% 33.56562137049942%;  }
    57.14285714285714% { background-position: 67.05202312138728% 0.0968054211035818%;  }
    71.42857142857143% { background-position: 29.428989751098097% 14.314314314314315%;  }
    85.71428571428571% { background-position: 29.66789667896679% 0.10040160642570281%;  }
}

.eap_23_may_2025_s1_q-animation {
    max-width: 281px;
    max-height: 232px;
}
.eap_23_may_2025_s1_q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 281px;
    height: 232px;
    padding: 0;
    background-image: url(eap23May2025s1_0.png);
    background-size: 669.0391459074733% 490.08620689655174%; 
    animation-name: eap_23_may_2025_s1_q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.eap_23_may_2025_s1_q-animation::after {
    max-width: 281px;
    width: 100%;
    height: 0;
    padding: 0 0 82.56227758007117% 0;
}

@keyframes eap_23_may_2025_s1_sol-frames {
    0% { background-position: 90.23809523809524% 62.65822784810127%;  }
    5.263157894736842% { background-position: 81.32911392405063% 88.66666666666667%;  }
    10.526315789473683% { background-position: 25.443037974683545% 53.490990990990994%;  }
    15.789473684210526% { background-position: 81.58227848101266% 14.130434782608695%;  }
    21.052631578947366% { background-position: 80.88607594936708% 37.82608695652174%;  }
    26.31578947368421% { background-position: 0.06329113924050633% 88.32369942196532%;  }
    31.57894736842105% { background-position: 0.06756756756756757% 60.212765957446805%;  }
    36.84210526315789% { background-position: 26.44736842105263% 29.841269841269842%;  }
    42.10526315789473% { background-position: 60.328947368421055% 27.085478887744593%;  }
    47.368421052631575% { background-position: 62.278481012658226% 96.3157894736842%;  }
    52.63157894736842% { background-position: 30.50632911392405% 81.18701007838746%;  }
    57.89473684210527% { background-position: 99.9367088607595% 40.022050716648295%;  }
    63.1578947368421% { background-position: 58.41772151898734% 48.15229563269877%;  }
    68.42105263157895% { background-position: 94.4047619047619% 87.99102132435466%;  }
    73.68421052631578% { background-position: 46.607142857142854% 80.65241844769403%;  }
    78.94736842105263% { background-position: 0.06329113924050633% 99.90366088631984%;  }
    84.21052631578947% { background-position: 96.28378378378379% 0.09910802775024777%;  }
    89.47368421052632% { background-position: 61.05263157894737% 10.805300713557594%;  }
    94.73684210526315% { background-position: 0.06756756756756757% 0.11764705882352941%;  }
}

.eap_23_may_2025_s1_sol-animation {
    max-width: 200px;
    max-height: 189px;
}
.eap_23_may_2025_s1_sol-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 200px;
    height: 189px;
    padding: 0;
    background-image: url(eap23May2025s1_0.png);
    background-size: 940% 601.5873015873016%; 
    animation-name: eap_23_may_2025_s1_sol-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.eap_23_may_2025_s1_sol-animation::after {
    max-width: 200px;
    width: 100%;
    height: 0;
    padding: 0 0 94.5% 0;
}

/* $TexturePacker:SmartUpdate:d1fc7d8a3e7c6587330908116d4b8d49:76e2d0294daf6455b8682290cc766511:dead33d142584f52c465bc22d7516158$ */
