/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.eap_22_may_2025_s1_q_151a {max-width:198px; max-height:148px; }
.eap_22_may_2025_s1_q_151a::after {content: '\00a0';display: inline-block; width:198px; height:148px; background-position: 0.1287001287001287% 85.48387096774194%; background-size: 492.42424242424244% 1147.2972972972973%; background-image: url(eap22May2025s1_0.png);padding: 0; }
div.eap_22_may_2025_s1_q_151a::after {max-width:198px; width:100%;height:0;padding: 0 0 74.74747474747475% 0;}
.eap_22_may_2025_s1_q_151b {max-width:197px; max-height:170px; }
.eap_22_may_2025_s1_q_151b::after {content: '\00a0';display: inline-block; width:197px; height:170px; background-position: 32.390745501285345% 77.02879581151832%; background-size: 494.9238578680203% 998.8235294117648%; background-image: url(eap22May2025s1_0.png);padding: 0; }
div.eap_22_may_2025_s1_q_151b::after {max-width:197px; width:100%;height:0;padding: 0 0 86.29441624365482% 0;}
.eap_22_may_2025_s1_q_151c {max-width:304px; max-height:212px; }
.eap_22_may_2025_s1_q_151c::after {content: '\00a0';display: inline-block; width:304px; height:212px; background-position: 37.5558867362146% 38.02153432032301%; background-size: 320.7236842105263% 800.9433962264151%; background-image: url(eap22May2025s1_0.png);padding: 0; }
div.eap_22_may_2025_s1_q_151c::after {max-width:304px; width:100%;height:0;padding: 0 0 69.73684210526316% 0;}
.eap_22_may_2025_s1_q_151d {max-width:210px; max-height:164px; }
.eap_22_may_2025_s1_q_151d::after {content: '\00a0';display: inline-block; width:210px; height:164px; background-position: 32.94117647058823% 65.97131681877444%; background-size: 464.2857142857143% 1035.3658536585365%; background-image: url(eap22May2025s1_0.png);padding: 0; }
div.eap_22_may_2025_s1_q_151d::after {max-width:210px; width:100%;height:0;padding: 0 0 78.0952380952381% 0;}
.eap_22_may_2025_s1_q_155a {max-width:174px; max-height:100px; }
.eap_22_may_2025_s1_q_155a::after {content: '\00a0';display: inline-block; width:174px; height:100px; background-position: 93.7578027465668% 90.17521902377972%; background-size: 560.3448275862069% 1698%; background-image: url(eap22May2025s1_0.png);padding: 0; }
div.eap_22_may_2025_s1_q_155a::after {max-width:174px; width:100%;height:0;padding: 0 0 57.47126436781609% 0;}
.eap_22_may_2025_s1_q_155b {max-width:268px; max-height:120px; }
.eap_22_may_2025_s1_q_155b::after {content: '\00a0';display: inline-block; width:268px; height:120px; background-position: 28.28854314002829% 85.42458808618504%; background-size: 363.8059701492537% 1415%; background-image: url(eap22May2025s1_0.png);padding: 0; }
div.eap_22_may_2025_s1_q_155b::after {max-width:268px; width:100%;height:0;padding: 0 0 44.776119402985074% 0;}
.eap_22_may_2025_s1_q_155c {max-width:206px; max-height:99px; }
.eap_22_may_2025_s1_q_155c::after {content: '\00a0';display: inline-block; width:206px; height:99px; background-position: 97.6592977893368% 83.86491557223265%; background-size: 473.3009708737864% 1715.1515151515152%; background-image: url(eap22May2025s1_0.png);padding: 0; }
div.eap_22_may_2025_s1_q_155c::after {max-width:206px; width:100%;height:0;padding: 0 0 48.05825242718446% 0;}
.eap_22_may_2025_s1_q_155d {max-width:281px; max-height:106px; }
.eap_22_may_2025_s1_q_155d::after {content: '\00a0';display: inline-block; width:281px; height:106px; background-position: 67.57925072046109% 84.23366834170854%; background-size: 346.97508896797154% 1601.8867924528302%; background-image: url(eap22May2025s1_0.png);padding: 0; }
div.eap_22_may_2025_s1_q_155d::after {max-width:281px; width:100%;height:0;padding: 0 0 37.72241992882562% 0;}
.eap_22_may_2025_s1_q_157b {max-width:471px; max-height:148px; }
.eap_22_may_2025_s1_q_157b::after {content: '\00a0';display: inline-block; width:471px; height:148px; background-position: 99.8015873015873% 58.96774193548387%; background-size: 207.0063694267516% 1147.2972972972973%; background-image: url(eap22May2025s1_0.png);padding: 0; }
div.eap_22_may_2025_s1_q_157b::after {max-width:471px; width:100%;height:0;padding: 0 0 31.422505307855626% 0;}
.eap_22_may_2025_s1_q_157c {max-width:508px; max-height:138px; }
.eap_22_may_2025_s1_q_157c::after {content: '\00a0';display: inline-block; width:508px; height:138px; background-position: 0.21413276231263384% 94.48717948717949%; background-size: 191.9291338582677% 1230.4347826086957%; background-image: url(eap22May2025s1_0.png);padding: 0; }
div.eap_22_may_2025_s1_q_157c::after {max-width:508px; width:100%;height:0;padding: 0 0 27.165354330708663% 0;}
.eap_22_may_2025_s1_q_157d {max-width:344px; max-height:145px; }
.eap_22_may_2025_s1_q_157d::after {content: '\00a0';display: inline-block; width:344px; height:145px; background-position: 80.82408874801902% 99.29169349645846%; background-size: 283.43023255813955% 1171.0344827586207%; background-image: url(eap22May2025s1_0.png);padding: 0; }
div.eap_22_may_2025_s1_q_157d::after {max-width:344px; width:100%;height:0;padding: 0 0 42.151162790697676% 0;}
.eap_22_may_2025_s1_sol_151 {max-width:400px; max-height:163px; }
.eap_22_may_2025_s1_sol_151::after {content: '\00a0';display: inline-block; width:400px; height:163px; background-position: 96.8695652173913% 48.85993485342019%; background-size: 243.75% 1041.717791411043%; background-image: url(eap22May2025s1_0.png);padding: 0; }
div.eap_22_may_2025_s1_sol_151::after {max-width:400px; width:100%;height:0;padding: 0 0 40.75% 0;}
.eap_22_may_2025_s1_sol_153 {max-width:360px; max-height:220px; }
.eap_22_may_2025_s1_sol_153::after {content: '\00a0';display: inline-block; width:360px; height:220px; background-position: 98.04878048780488% 35.791610284167795%; background-size: 270.8333333333333% 771.8181818181819%; background-image: url(eap22May2025s1_0.png);padding: 0; }
div.eap_22_may_2025_s1_sol_153::after {max-width:360px; width:100%;height:0;padding: 0 0 61.111111111111114% 0;}
.eap_22_may_2025_s1_sol_154 {max-width:360px; max-height:237px; }
.eap_22_may_2025_s1_sol_154::after {content: '\00a0';display: inline-block; width:360px; height:237px; background-position: 98.04878048780488% 19.917864476386036%; background-size: 270.8333333333333% 716.4556962025316%; background-image: url(eap22May2025s1_0.png);padding: 0; }
div.eap_22_may_2025_s1_sol_154::after {max-width:360px; width:100%;height:0;padding: 0 0 65.83333333333333% 0;}
.eap_22_may_2025_s1_sol_155 {max-width:500px; max-height:144px; }
.eap_22_may_2025_s1_sol_155::after {content: '\00a0';display: inline-block; width:500px; height:144px; background-position: 97.47368421052632% 68.4041184041184%; background-size: 195% 1179.1666666666667%; background-image: url(eap22May2025s1_0.png);padding: 0; }
div.eap_22_may_2025_s1_sol_155::after {max-width:500px; width:100%;height:0;padding: 0 0 28.8% 0;}
.eap_22_may_2025_s1_sol_157 {max-width:500px; max-height:132px; }
.eap_22_may_2025_s1_sol_157::after {content: '\00a0';display: inline-block; width:500px; height:132px; background-position: 94.73684210526316% 77.13920817369093%; background-size: 195% 1286.3636363636363%; background-image: url(eap22May2025s1_0.png);padding: 0; }
div.eap_22_may_2025_s1_sol_157::after {max-width:500px; width:100%;height:0;padding: 0 0 26.4% 0;}
.eap_22_may_2025_s1_sol_159 {max-width:500px; max-height:84px; }
.eap_22_may_2025_s1_sol_159::after {content: '\00a0';display: inline-block; width:500px; height:84px; background-position: 0.21052631578947367% 99.93804213135068%; background-size: 195% 2021.4285714285713%; background-image: url(eap22May2025s1_0.png);padding: 0; }
div.eap_22_may_2025_s1_sol_159::after {max-width:500px; width:100%;height:0;padding: 0 0 16.8% 0;}
.eap_22_may_2025_s1_sol_26 {max-width:300px; max-height:234px; }
.eap_22_may_2025_s1_sol_26::after {content: '\00a0';display: inline-block; width:300px; height:234px; background-position: 0.14814814814814814% 21.174863387978142%; background-size: 325% 725.6410256410256%; background-image: url(eap22May2025s1_0.png);padding: 0; }
div.eap_22_may_2025_s1_sol_26::after {max-width:300px; width:100%;height:0;padding: 0 0 78% 0;}
.eap_22_may_2025_s1_sol_31 {max-width:300px; max-height:308px; }
.eap_22_may_2025_s1_sol_31::after {content: '\00a0';display: inline-block; width:300px; height:308px; background-position: 0.14814814814814814% 0.07194244604316546%; background-size: 325% 551.2987012987013%; background-image: url(eap22May2025s1_0.png);padding: 0; }
div.eap_22_may_2025_s1_sol_31::after {max-width:300px; width:100%;height:0;padding: 0 0 102.66666666666667% 0;}
.eap_22_may_2025_s1_sol_41 {max-width:300px; max-height:292px; }
.eap_22_may_2025_s1_sol_41::after {content: '\00a0';display: inline-block; width:300px; height:292px; background-position: 44.74074074074074% 0.07112375533428165%; background-size: 325% 581.5068493150685%; background-image: url(eap22May2025s1_0.png);padding: 0; }
div.eap_22_may_2025_s1_sol_41::after {max-width:300px; width:100%;height:0;padding: 0 0 97.33333333333333% 0;}
.eap_22_may_2025_s1_sol_44 {max-width:300px; max-height:289px; }
.eap_22_may_2025_s1_sol_44::after {content: '\00a0';display: inline-block; width:300px; height:289px; background-position: 89.33333333333333% 0.07097232079488999%; background-size: 325% 587.5432525951558%; background-image: url(eap22May2025s1_0.png);padding: 0; }
div.eap_22_may_2025_s1_sol_44::after {max-width:300px; width:100%;height:0;padding: 0 0 96.33333333333333% 0;}
.eap_22_may_2025_s1_sol_49 {max-width:250px; max-height:183px; }
.eap_22_may_2025_s1_sol_49::after {content: '\00a0';display: inline-block; width:250px; height:183px; background-position: 0.13793103448275862% 66.53465346534654%; background-size: 390% 927.8688524590164%; background-image: url(eap22May2025s1_0.png);padding: 0; }
div.eap_22_may_2025_s1_sol_49::after {max-width:250px; width:100%;height:0;padding: 0 0 73.2% 0;}
.eap_22_may_2025_s1_sol_52 {max-width:250px; max-height:254px; }
.eap_22_may_2025_s1_sol_52::after {content: '\00a0';display: inline-block; width:250px; height:254px; background-position: 0.13793103448275862% 37.742382271468145%; background-size: 390% 668.503937007874%; background-image: url(eap22May2025s1_0.png);padding: 0; }
div.eap_22_may_2025_s1_sol_52::after {max-width:250px; width:100%;height:0;padding: 0 0 101.6% 0;}
.eap_22_may_2025_s1_sol_56 {max-width:250px; max-height:233px; }
.eap_22_may_2025_s1_sol_56::after {content: '\00a0';display: inline-block; width:250px; height:233px; background-position: 34.758620689655174% 53.10580204778157%; background-size: 390% 728.755364806867%; background-image: url(eap22May2025s1_0.png);padding: 0; }
div.eap_22_may_2025_s1_sol_56::after {max-width:250px; width:100%;height:0;padding: 0 0 93.2% 0;}
.eap_22_may_2025_s1_sol_57 {max-width:250px; max-height:207px; }
.eap_22_may_2025_s1_sol_57::after {content: '\00a0';display: inline-block; width:250px; height:207px; background-position: 0.13793103448275862% 53.65526492287056%; background-size: 390% 820.2898550724638%; background-image: url(eap22May2025s1_0.png);padding: 0; }
div.eap_22_may_2025_s1_sol_57::after {max-width:250px; width:100%;height:0;padding: 0 0 82.8% 0;}
.eap_22_may_2025_s1_sol_76 {max-width:300px; max-height:270px; }
.eap_22_may_2025_s1_sol_76::after {content: '\00a0';display: inline-block; width:300px; height:270px; background-position: 44.74074074074074% 20.58823529411765%; background-size: 325% 628.8888888888889%; background-image: url(eap22May2025s1_0.png);padding: 0; }
div.eap_22_may_2025_s1_sol_76::after {max-width:300px; width:100%;height:0;padding: 0 0 90% 0;}
.eap_22_may_2025_s1_sol_93 {max-width:250px; max-height:132px; }
.eap_22_may_2025_s1_sol_93::after {content: '\00a0';display: inline-block; width:250px; height:132px; background-position: 0.13793103448275862% 76.11749680715198%; background-size: 390% 1286.3636363636363%; background-image: url(eap22May2025s1_0.png);padding: 0; }
div.eap_22_may_2025_s1_sol_93::after {max-width:250px; width:100%;height:0;padding: 0 0 52.8% 0;}

@keyframes eap_22_may_2025_s1_sol-frames {
    0% { background-position: 0.14814814814814814% 21.174863387978142%;  }
    6.25% { background-position: 0.14814814814814814% 0.07194244604316546%;  }
    12.5% { background-position: 44.74074074074074% 0.07112375533428165%;  }
    18.75% { background-position: 89.33333333333333% 0.07097232079488999%;  }
    25% { background-position: 0.13793103448275862% 66.53465346534654%;  }
    31.25% { background-position: 0.13793103448275862% 37.742382271468145%;  }
    37.5% { background-position: 34.758620689655174% 53.10580204778157%;  }
    43.75% { background-position: 0.13793103448275862% 53.65526492287056%;  }
    50% { background-position: 44.74074074074074% 20.58823529411765%;  }
    56.25% { background-position: 0.13793103448275862% 76.11749680715198%;  }
    62.5% { background-position: 96.8695652173913% 48.85993485342019%;  }
    68.75% { background-position: 98.04878048780488% 35.791610284167795%;  }
    75% { background-position: 98.04878048780488% 19.917864476386036%;  }
    81.25% { background-position: 97.47368421052632% 68.4041184041184%;  }
    87.5% { background-position: 94.73684210526316% 77.13920817369093%;  }
    93.75% { background-position: 0.21052631578947367% 99.93804213135068%;  }
}

.eap_22_may_2025_s1_sol-animation {
    max-width: 300px;
    max-height: 234px;
}
.eap_22_may_2025_s1_sol-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 300px;
    height: 234px;
    padding: 0;
    background-image: url(eap22May2025s1_0.png);
    background-size: 325% 725.6410256410256%; 
    animation-name: eap_22_may_2025_s1_sol-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.eap_22_may_2025_s1_sol-animation::after {
    max-width: 300px;
    width: 100%;
    height: 0;
    padding: 0 0 78% 0;
}

/* $TexturePacker:SmartUpdate:efcdeee17c2b3c4cfe521a883e9385af:76902f8e68703f8a5ad9ea26e886e938:001eb3c8cff4178ee6056dce3467a103$ */
