/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.eap_21_may_2025_s1_q_105 {max-width:211px; max-height:120px; }
.eap_21_may_2025_s1_q_105::after {content: '\00a0';display: inline-block; width:211px; height:120px; background-position: 70.36820572764465% 20.548862115127175%; background-size: 910.9004739336493% 1345%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_q_105::after {max-width:211px; width:100%;height:0;padding: 0 0 56.872037914691944% 0;}
.eap_21_may_2025_s1_q_139 {max-width:300px; max-height:229px; }
.eap_21_may_2025_s1_q_139::after {content: '\00a0';display: inline-block; width:300px; height:229px; background-position: 55.67200986436498% 50.324909747292416%; background-size: 640.6666666666666% 704.8034934497816%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_q_139::after {max-width:300px; width:100%;height:0;padding: 0 0 76.33333333333333% 0;}
.eap_21_may_2025_s1_q_156 {max-width:311px; max-height:400px; }
.eap_21_may_2025_s1_q_156::after {content: '\00a0';display: inline-block; width:311px; height:400px; background-position: 0.06207324643078833% 0.08237232289950576%; background-size: 618.0064308681672% 403.5%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_q_156::after {max-width:311px; width:100%;height:0;padding: 0 0 128.61736334405145% 0;}
.eap_21_may_2025_s1_q_157 {max-width:525px; max-height:171px; }
.eap_21_may_2025_s1_q_157::after {content: '\00a0';display: inline-block; width:525px; height:171px; background-position: 64.63851109520401% 64.24116424116424%; background-size: 366.0952380952381% 943.859649122807%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_q_157::after {max-width:525px; width:100%;height:0;padding: 0 0 32.57142857142857% 0;}
.eap_21_may_2025_s1_q_158 {max-width:640px; max-height:184px; }
.eap_21_may_2025_s1_q_158::after {content: '\00a0';display: inline-block; width:640px; height:184px; background-position: 94.77379095163806% 0.06993006993006994%; background-size: 300.3125% 877.1739130434783%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_q_158::after {max-width:640px; width:100%;height:0;padding: 0 0 28.75% 0;}
.eap_21_may_2025_s1_q_159 {max-width:426px; max-height:377px; }
.eap_21_may_2025_s1_q_159::after {content: '\00a0';display: inline-block; width:426px; height:377px; background-position: 13.502673796791443% 32.49797898140663%; background-size: 451.1737089201878% 428.1167108753316%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_q_159::after {max-width:426px; width:100%;height:0;padding: 0 0 88.49765258215963% 0;}
.eap_21_may_2025_s1_q_160 {max-width:602px; max-height:120px; }
.eap_21_may_2025_s1_q_160::after {content: '\00a0';display: inline-block; width:602px; height:120px; background-position: 92.04545454545455% 12.449799196787149%; background-size: 319.2691029900332% 1345%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_q_160::after {max-width:602px; width:100%;height:0;padding: 0 0 19.93355481727575% 0;}
.eap_21_may_2025_s1_q_160a {max-width:466px; max-height:148px; }
.eap_21_may_2025_s1_q_160a::after {content: '\00a0';display: inline-block; width:466px; height:148px; background-position: 99.93131868131869% 45.70259208731242%; background-size: 412.44635193133047% 1090.5405405405406%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_q_160a::after {max-width:466px; width:100%;height:0;padding: 0 0 31.759656652360515% 0;}
.eap_21_may_2025_s1_q_160b {max-width:461px; max-height:143px; }
.eap_21_may_2025_s1_q_160b::after {content: '\00a0';display: inline-block; width:461px; height:143px; background-position: 99.58932238193019% 55.67641060503059%; background-size: 416.9197396963124% 1128.6713286713286%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_q_160b::after {max-width:461px; width:100%;height:0;padding: 0 0 31.019522776572668% 0;}
.eap_21_may_2025_s1_q_160c {max-width:461px; max-height:143px; }
.eap_21_may_2025_s1_q_160c::after {content: '\00a0';display: inline-block; width:461px; height:143px; background-position: 97.80971937029432% 65.46566961250849%; background-size: 416.9197396963124% 1128.6713286713286%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_q_160c::after {max-width:461px; width:100%;height:0;padding: 0 0 31.019522776572668% 0;}
.eap_21_may_2025_s1_q_160d {max-width:470px; max-height:147px; }
.eap_21_may_2025_s1_q_160d::after {content: '\00a0';display: inline-block; width:470px; height:147px; background-position: 98.4159779614325% 20.92706203135651%; background-size: 408.93617021276594% 1097.9591836734694%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_q_160d::after {max-width:470px; width:100%;height:0;padding: 0 0 31.27659574468085% 0;}
.eap_21_may_2025_s1_q_67 {max-width:250px; max-height:200px; }
.eap_21_may_2025_s1_q_67::after {content: '\00a0';display: inline-block; width:250px; height:200px; background-position: 98.80382775119617% 32.17821782178218%; background-size: 768.8% 807%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_q_67::after {max-width:250px; width:100%;height:0;padding: 0 0 80% 0;}
.eap_21_may_2025_s1_q_86 {max-width:270px; max-height:216px; }
.eap_21_may_2025_s1_q_86::after {content: '\00a0';display: inline-block; width:270px; height:216px; background-position: 68.40193704600485% 32.546494992846924%; background-size: 711.8518518518518% 747.2222222222222%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_q_86::after {max-width:270px; width:100%;height:0;padding: 0 0 80% 0;}
.eap_21_may_2025_s1_q_94 {max-width:296px; max-height:359px; }
.eap_21_may_2025_s1_q_94::after {content: '\00a0';display: inline-block; width:296px; height:359px; background-position: 0.06150061500615006% 94.18326693227091%; background-size: 649.3243243243244% 449.58217270194984%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_q_94::after {max-width:296px; width:100%;height:0;padding: 0 0 121.28378378378379% 0;}
.eap_21_may_2025_s1_q_99 {max-width:268px; max-height:349px; }
.eap_21_may_2025_s1_q_99::after {content: '\00a0';display: inline-block; width:268px; height:349px; background-position: 18.016928657799273% 93.43873517786561%; background-size: 717.1641791044776% 462.46418338108884%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_q_99::after {max-width:268px; width:100%;height:0;padding: 0 0 130.22388059701493% 0;}
.eap_21_may_2025_s1_sol_118 {max-width:300px; max-height:157px; }
.eap_21_may_2025_s1_sol_118::after {content: '\00a0';display: inline-block; width:300px; height:157px; background-position: 87.5462392108508% 75.9780370624571%; background-size: 640.6666666666666% 1028.0254777070063%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_sol_118::after {max-width:300px; width:100%;height:0;padding: 0 0 52.333333333333336% 0;}
.eap_21_may_2025_s1_sol_124 {max-width:200px; max-height:399px; }
.eap_21_may_2025_s1_sol_124::after {content: '\00a0';display: inline-block; width:200px; height:399px; background-position: 0.05807200929152149% 33.08641975308642%; background-size: 961% 404.5112781954887%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_sol_124::after {max-width:200px; width:100%;height:0;padding: 0 0 199.5% 0;}
.eap_21_may_2025_s1_sol_138 {max-width:360px; max-height:143px; }
.eap_21_may_2025_s1_sol_138::after {content: '\00a0';display: inline-block; width:360px; height:143px; background-position: 94.75032010243278% 96.39700883752549%; background-size: 533.8888888888889% 1128.6713286713286%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_sol_138::after {max-width:360px; width:100%;height:0;padding: 0 0 39.72222222222222% 0;}
.eap_21_may_2025_s1_sol_139 {max-width:360px; max-height:247px; }
.eap_21_may_2025_s1_sol_139::after {content: '\00a0';display: inline-block; width:360px; height:247px; background-position: 52.36875800256082% 99.41477688368691%; background-size: 533.8888888888889% 653.4412955465586%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_sol_139::after {max-width:360px; width:100%;height:0;padding: 0 0 68.61111111111111% 0;}
.eap_21_may_2025_s1_sol_154 {max-width:360px; max-height:152px; }
.eap_21_may_2025_s1_sol_154::after {content: '\00a0';display: inline-block; width:360px; height:152px; background-position: 94.75032010243278% 86.52530779753762%; background-size: 533.8888888888889% 1061.842105263158%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_sol_154::after {max-width:360px; width:100%;height:0;padding: 0 0 42.22222222222222% 0;}
.eap_21_may_2025_s1_sol_156 {max-width:400px; max-height:377px; }
.eap_21_may_2025_s1_sol_156::after {content: '\00a0';display: inline-block; width:400px; height:377px; background-position: 20.56504599211564% 0.08084074373484236%; background-size: 480.5% 428.1167108753316%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_sol_156::after {max-width:400px; width:100%;height:0;padding: 0 0 94.25% 0;}
.eap_21_may_2025_s1_sol_157 {max-width:400px; max-height:379px; }
.eap_21_may_2025_s1_sol_157::after {content: '\00a0';display: inline-block; width:400px; height:379px; background-position: 0.0657030223390276% 64.93927125506073%; background-size: 480.5% 425.8575197889182%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_sol_157::after {max-width:400px; width:100%;height:0;padding: 0 0 94.75% 0;}
.eap_21_may_2025_s1_sol_158 {max-width:500px; max-height:317px; }
.eap_21_may_2025_s1_sol_158::after {content: '\00a0';display: inline-block; width:500px; height:317px; background-position: 44.23347398030943% 29.221279876638395%; background-size: 384.4% 509.1482649842271%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_sol_158::after {max-width:500px; width:100%;height:0;padding: 0 0 63.4% 0;}
.eap_21_may_2025_s1_sol_159 {max-width:500px; max-height:260px; }
.eap_21_may_2025_s1_sol_159::after {content: '\00a0';display: inline-block; width:500px; height:260px; background-position: 50.21097046413502% 0.07385524372230429%; background-size: 384.4% 620.7692307692307%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_sol_159::after {max-width:500px; width:100%;height:0;padding: 0 0 52% 0;}
.eap_21_may_2025_s1_sol_160 {max-width:500px; max-height:321px; }
.eap_21_may_2025_s1_sol_160::after {content: '\00a0';display: inline-block; width:500px; height:321px; background-position: 28.270042194092827% 60.324825986078885%; background-size: 384.4% 502.803738317757%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_sol_160::after {max-width:500px; width:100%;height:0;padding: 0 0 64.2% 0;}
.eap_21_may_2025_s1_sol_26 {max-width:250px; max-height:214px; }
.eap_21_may_2025_s1_sol_26::after {content: '\00a0';display: inline-block; width:250px; height:214px; background-position: 72.00956937799043% 48%; background-size: 768.8% 754.2056074766355%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_sol_26::after {max-width:250px; width:100%;height:0;padding: 0 0 85.6% 0;}
.eap_21_may_2025_s1_sol_27 {max-width:250px; max-height:214px; }
.eap_21_may_2025_s1_sol_27::after {content: '\00a0';display: inline-block; width:250px; height:214px; background-position: 83.79186602870813% 32.5%; background-size: 768.8% 754.2056074766355%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_sol_27::after {max-width:250px; width:100%;height:0;padding: 0 0 85.6% 0;}
.eap_21_may_2025_s1_sol_30 {max-width:250px; max-height:254px; }
.eap_21_may_2025_s1_sol_30::after {content: '\00a0';display: inline-block; width:250px; height:254px; background-position: 33.911483253588514% 99.92647058823529%; background-size: 768.8% 635.4330708661417%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_sol_30::after {max-width:250px; width:100%;height:0;padding: 0 0 101.6% 0;}
.eap_21_may_2025_s1_sol_49 {max-width:300px; max-height:256px; }
.eap_21_may_2025_s1_sol_49::after {content: '\00a0';display: inline-block; width:300px; height:256px; background-position: 34.956843403205916% 81.14874815905743%; background-size: 640.6666666666666% 630.46875%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_sol_49::after {max-width:300px; width:100%;height:0;padding: 0 0 85.33333333333333% 0;}
.eap_21_may_2025_s1_sol_62 {max-width:250px; max-height:234px; }
.eap_21_may_2025_s1_sol_62::after {content: '\00a0';display: inline-block; width:250px; height:234px; background-position: 51.91387559808612% 79.85507246376811%; background-size: 768.8% 689.7435897435897%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_sol_62::after {max-width:250px; width:100%;height:0;padding: 0 0 93.6% 0;}
.eap_21_may_2025_s1_sol_65 {max-width:300px; max-height:211px; }
.eap_21_may_2025_s1_sol_65::after {content: '\00a0';display: inline-block; width:300px; height:211px; background-position: 72.68803945745992% 94.0128296507484%; background-size: 640.6666666666666% 764.9289099526067%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_sol_65::after {max-width:300px; width:100%;height:0;padding: 0 0 70.33333333333333% 0;}
.eap_21_may_2025_s1_sol_82 {max-width:300px; max-height:60px; }
.eap_21_may_2025_s1_sol_82::after {content: '\00a0';display: inline-block; width:300px; height:60px; background-position: 0.06165228113440197% 99.22779922779922%; background-size: 640.6666666666666% 2690%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_sol_82::after {max-width:300px; width:100%;height:0;padding: 0 0 20% 0;}
.eap_21_may_2025_s1_sol_94 {max-width:300px; max-height:219px; }
.eap_21_may_2025_s1_sol_94::after {content: '\00a0';display: inline-block; width:300px; height:219px; background-position: 68.9889025893958% 78.78136200716845%; background-size: 640.6666666666666% 736.986301369863%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_sol_94::after {max-width:300px; width:100%;height:0;padding: 0 0 73% 0;}

@keyframes eap_21_may_2025_s1_q-frames {
    0% { background-position: 98.80382775119617% 32.17821782178218%;  }
    9.090909090909092% { background-position: 68.40193704600485% 32.546494992846924%;  }
    18.181818181818183% { background-position: 0.06150061500615006% 94.18326693227091%;  }
    27.27272727272727% { background-position: 18.016928657799273% 93.43873517786561%;  }
    36.36363636363637% { background-position: 70.36820572764465% 20.548862115127175%;  }
    45.45454545454545% { background-position: 55.67200986436498% 50.324909747292416%;  }
    54.54545454545454% { background-position: 0.06207324643078833% 0.08237232289950576%;  }
    63.63636363636363% { background-position: 64.63851109520401% 64.24116424116424%;  }
    72.72727272727273% { background-position: 94.77379095163806% 0.06993006993006994%;  }
    81.81818181818183% { background-position: 13.502673796791443% 32.49797898140663%;  }
    90.9090909090909% { background-position: 92.04545454545455% 12.449799196787149%;  }
}

.eap_21_may_2025_s1_q-animation {
    max-width: 250px;
    max-height: 200px;
}
.eap_21_may_2025_s1_q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 250px;
    height: 200px;
    padding: 0;
    background-image: url(eap21May2025s1_0.png);
    background-size: 768.8% 807%; 
    animation-name: eap_21_may_2025_s1_q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.eap_21_may_2025_s1_q-animation::after {
    max-width: 250px;
    width: 100%;
    height: 0;
    padding: 0 0 80% 0;
}

@keyframes eap_21_may_2025_s1_sol-frames {
    0% { background-position: 72.00956937799043% 48%;  }
    5.555555555555555% { background-position: 83.79186602870813% 32.5%;  }
    11.11111111111111% { background-position: 33.911483253588514% 99.92647058823529%;  }
    16.666666666666664% { background-position: 34.956843403205916% 81.14874815905743%;  }
    22.22222222222222% { background-position: 51.91387559808612% 79.85507246376811%;  }
    27.77777777777778% { background-position: 72.68803945745992% 94.0128296507484%;  }
    33.33333333333333% { background-position: 0.06165228113440197% 99.22779922779922%;  }
    38.88888888888889% { background-position: 68.9889025893958% 78.78136200716845%;  }
    44.44444444444444% { background-position: 87.5462392108508% 75.9780370624571%;  }
    50% { background-position: 0.05807200929152149% 33.08641975308642%;  }
    55.55555555555556% { background-position: 94.75032010243278% 96.39700883752549%;  }
    61.111111111111114% { background-position: 52.36875800256082% 99.41477688368691%;  }
    66.66666666666666% { background-position: 94.75032010243278% 86.52530779753762%;  }
    72.22222222222221% { background-position: 20.56504599211564% 0.08084074373484236%;  }
    77.77777777777779% { background-position: 0.0657030223390276% 64.93927125506073%;  }
    83.33333333333334% { background-position: 44.23347398030943% 29.221279876638395%;  }
    88.88888888888889% { background-position: 50.21097046413502% 0.07385524372230429%;  }
    94.44444444444444% { background-position: 28.270042194092827% 60.324825986078885%;  }
}

.eap_21_may_2025_s1_sol-animation {
    max-width: 250px;
    max-height: 214px;
}
.eap_21_may_2025_s1_sol-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 250px;
    height: 214px;
    padding: 0;
    background-image: url(eap21May2025s1_0.png);
    background-size: 768.8% 754.2056074766355%; 
    animation-name: eap_21_may_2025_s1_sol-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.eap_21_may_2025_s1_sol-animation::after {
    max-width: 250px;
    width: 100%;
    height: 0;
    padding: 0 0 85.6% 0;
}

/* $TexturePacker:SmartUpdate:33983356ceb256b029d20ca52f7d56d7:204cc1320a079ec2489d87a2749cd9e4:2e147c60198bc0a16ab14aa81dd5860b$ */
