/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.eap_21_may_2025_s1_q_105 {max-width:211px; max-height:120px; }
.eap_21_may_2025_s1_q_105::after {content: '\00a0';display: inline-block; width:211px; height:120px; background-position: 93.27036599763872% 99.92395437262357%; background-size: 902.8436018957347% 1195.8333333333333%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_q_105::after {max-width:211px; width:100%;height:0;padding: 0 0 56.872037914691944% 0;}
.eap_21_may_2025_s1_q_139 {max-width:300px; max-height:229px; }
.eap_21_may_2025_s1_q_139::after {content: '\00a0';display: inline-block; width:300px; height:229px; background-position: 53.769470404984425% 32.58706467661692%; background-size: 635% 626.6375545851529%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_q_139::after {max-width:300px; width:100%;height:0;padding: 0 0 76.33333333333333% 0;}
.eap_21_may_2025_s1_q_156 {max-width:300px; max-height:386px; }
.eap_21_may_2025_s1_q_156::after {content: '\00a0';display: inline-block; width:300px; height:386px; background-position: 37.570093457943926% 59.96186844613918%; background-size: 635% 371.7616580310881%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_q_156::after {max-width:300px; width:100%;height:0;padding: 0 0 128.66666666666666% 0;}
.eap_21_may_2025_s1_q_157 {max-width:400px; max-height:130px; }
.eap_21_may_2025_s1_q_157::after {content: '\00a0';display: inline-block; width:400px; height:130px; background-position: 60% 20.07662835249042%; background-size: 476.25% 1103.8461538461538%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_q_157::after {max-width:400px; width:100%;height:0;padding: 0 0 32.5% 0;}
.eap_21_may_2025_s1_q_158 {max-width:500px; max-height:144px; }
.eap_21_may_2025_s1_q_158::after {content: '\00a0';display: inline-block; width:500px; height:144px; background-position: 99.9288256227758% 0.07745933384972889%; background-size: 381% 996.5277777777778%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_q_158::after {max-width:500px; width:100%;height:0;padding: 0 0 28.8% 0;}
.eap_21_may_2025_s1_q_159 {max-width:400px; max-height:354px; }
.eap_21_may_2025_s1_q_159::after {content: '\00a0';display: inline-block; width:400px; height:354px; background-position: 0.0664451827242525% 94.26456984273821%; background-size: 476.25% 405.3672316384181%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_q_159::after {max-width:400px; width:100%;height:0;padding: 0 0 88.5% 0;}
.eap_21_may_2025_s1_q_160 {max-width:400px; max-height:80px; }
.eap_21_may_2025_s1_q_160::after {content: '\00a0';display: inline-block; width:400px; height:80px; background-position: 93.2890365448505% 10.77490774907749%; background-size: 476.25% 1793.75%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_q_160::after {max-width:400px; width:100%;height:0;padding: 0 0 20% 0;}
.eap_21_may_2025_s1_q_160a {max-width:320px; max-height:102px; }
.eap_21_may_2025_s1_q_160a::after {content: '\00a0';display: inline-block; width:320px; height:102px; background-position: 57.034700315457414% 66.0165041260315%; background-size: 595.3125% 1406.862745098039%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_q_160a::after {max-width:320px; width:100%;height:0;padding: 0 0 31.875% 0;}
.eap_21_may_2025_s1_q_160b {max-width:320px; max-height:99px; }
.eap_21_may_2025_s1_q_160b::after {content: '\00a0';display: inline-block; width:320px; height:99px; background-position: 92.42902208201893% 43.637724550898206%; background-size: 595.3125% 1449.4949494949494%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_q_160b::after {max-width:320px; width:100%;height:0;padding: 0 0 30.9375% 0;}
.eap_21_may_2025_s1_q_160c {max-width:320px; max-height:99px; }
.eap_21_may_2025_s1_q_160c::after {content: '\00a0';display: inline-block; width:320px; height:99px; background-position: 96.27760252365931% 74.77544910179641%; background-size: 595.3125% 1449.4949494949494%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_q_160c::after {max-width:320px; width:100%;height:0;padding: 0 0 30.9375% 0;}
.eap_21_may_2025_s1_q_160d {max-width:320px; max-height:100px; }
.eap_21_may_2025_s1_q_160d::after {content: '\00a0';display: inline-block; width:320px; height:100px; background-position: 91.86119873817034% 51.161048689138575%; background-size: 595.3125% 1435%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_q_160d::after {max-width:320px; width:100%;height:0;padding: 0 0 31.25% 0;}
.eap_21_may_2025_s1_q_67 {max-width:250px; max-height:200px; }
.eap_21_may_2025_s1_q_67::after {content: '\00a0';display: inline-block; width:250px; height:200px; background-position: 80.30211480362537% 99.02834008097166%; background-size: 762% 717.5%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_q_67::after {max-width:250px; width:100%;height:0;padding: 0 0 80% 0;}
.eap_21_may_2025_s1_q_86 {max-width:270px; max-height:216px; }
.eap_21_may_2025_s1_q_86::after {content: '\00a0';display: inline-block; width:270px; height:216px; background-position: 74.5565749235474% 82.52666119770304%; background-size: 705.5555555555555% 664.3518518518518%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_q_86::after {max-width:270px; width:100%;height:0;padding: 0 0 80% 0;}
.eap_21_may_2025_s1_q_94 {max-width:296px; max-height:359px; }
.eap_21_may_2025_s1_q_94::after {content: '\00a0';display: inline-block; width:296px; height:359px; background-position: 41.702921068986946% 94.42379182156134%; background-size: 643.581081081081% 399.7214484679666%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_q_94::after {max-width:296px; width:100%;height:0;padding: 0 0 121.28378378378379% 0;}
.eap_21_may_2025_s1_q_99 {max-width:268px; max-height:349px; }
.eap_21_may_2025_s1_q_99::after {content: '\00a0';display: inline-block; width:268px; height:349px; background-position: 24.557116676847894% 95.85635359116021%; background-size: 710.820895522388% 411.17478510028656%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_q_99::after {max-width:268px; width:100%;height:0;padding: 0 0 130.22388059701493% 0;}
.eap_21_may_2025_s1_sol_118 {max-width:300px; max-height:157px; }
.eap_21_may_2025_s1_sol_118::after {content: '\00a0';display: inline-block; width:300px; height:157px; background-position: 76.32398753894081% 66.35367762128325%; background-size: 635% 914.0127388535032%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_sol_118::after {max-width:300px; width:100%;height:0;padding: 0 0 52.333333333333336% 0;}
.eap_21_may_2025_s1_sol_124 {max-width:200px; max-height:399px; }
.eap_21_may_2025_s1_sol_124::after {content: '\00a0';display: inline-block; width:200px; height:399px; background-position: 23.577712609970675% 61.87258687258687%; background-size: 952.5% 359.64912280701753%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_sol_124::after {max-width:200px; width:100%;height:0;padding: 0 0 199.5% 0;}
.eap_21_may_2025_s1_sol_138 {max-width:360px; max-height:143px; }
.eap_21_may_2025_s1_sol_138::after {content: '\00a0';display: inline-block; width:360px; height:143px; background-position: 90.87378640776699% 17.569659442724458%; background-size: 529.1666666666666% 1003.4965034965035%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_sol_138::after {max-width:360px; width:100%;height:0;padding: 0 0 39.72222222222222% 0;}
.eap_21_may_2025_s1_sol_139 {max-width:360px; max-height:247px; }
.eap_21_may_2025_s1_sol_139::after {content: '\00a0';display: inline-block; width:360px; height:247px; background-position: 32.49190938511327% 32.07070707070707%; background-size: 529.1666666666666% 580.9716599190283%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_sol_139::after {max-width:360px; width:100%;height:0;padding: 0 0 68.61111111111111% 0;}
.eap_21_may_2025_s1_sol_154 {max-width:360px; max-height:152px; }
.eap_21_may_2025_s1_sol_154::after {content: '\00a0';display: inline-block; width:360px; height:152px; background-position: 62.653721682847895% 96.49259547934528%; background-size: 529.1666666666666% 944.078947368421%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_sol_154::after {max-width:360px; width:100%;height:0;padding: 0 0 42.22222222222222% 0;}
.eap_21_may_2025_s1_sol_156 {max-width:400px; max-height:377px; }
.eap_21_may_2025_s1_sol_156::after {content: '\00a0';display: inline-block; width:400px; height:377px; background-position: 0.0664451827242525% 60.58601134215501%; background-size: 476.25% 380.6366047745358%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_sol_156::after {max-width:400px; width:100%;height:0;padding: 0 0 94.25% 0;}
.eap_21_may_2025_s1_sol_157 {max-width:400px; max-height:379px; }
.eap_21_may_2025_s1_sol_157::after {content: '\00a0';display: inline-block; width:400px; height:379px; background-position: 33.35548172757475% 0.0946969696969697%; background-size: 476.25% 378.62796833773086%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_sol_157::after {max-width:400px; width:100%;height:0;padding: 0 0 94.75% 0;}
.eap_21_may_2025_s1_sol_158 {max-width:500px; max-height:317px; }
.eap_21_may_2025_s1_sol_158::after {content: '\00a0';display: inline-block; width:500px; height:317px; background-position: 0.0711743772241993% 28.89087656529517%; background-size: 381% 452.6813880126183%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_sol_158::after {max-width:500px; width:100%;height:0;padding: 0 0 63.4% 0;}
.eap_21_may_2025_s1_sol_159 {max-width:500px; max-height:260px; }
.eap_21_may_2025_s1_sol_159::after {content: '\00a0';display: inline-block; width:500px; height:260px; background-position: 64.27046263345196% 0.0851063829787234%; background-size: 381% 551.9230769230769%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_sol_159::after {max-width:500px; width:100%;height:0;padding: 0 0 52% 0;}
.eap_21_may_2025_s1_sol_160 {max-width:500px; max-height:321px; }
.eap_21_may_2025_s1_sol_160::after {content: '\00a0';display: inline-block; width:500px; height:321px; background-position: 0.0711743772241993% 0.08976660682226212%; background-size: 381% 447.0404984423676%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_sol_160::after {max-width:500px; width:100%;height:0;padding: 0 0 64.2% 0;}
.eap_21_may_2025_s1_sol_26 {max-width:250px; max-height:214px; }
.eap_21_may_2025_s1_sol_26::after {content: '\00a0';display: inline-block; width:250px; height:214px; background-position: 92.20543806646526% 64.20966420966421%; background-size: 762% 670.5607476635514%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_sol_26::after {max-width:250px; width:100%;height:0;padding: 0 0 85.6% 0;}
.eap_21_may_2025_s1_sol_27 {max-width:250px; max-height:214px; }
.eap_21_may_2025_s1_sol_27::after {content: '\00a0';display: inline-block; width:250px; height:214px; background-position: 95.46827794561933% 90.00819000819001%; background-size: 762% 670.5607476635514%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_sol_27::after {max-width:250px; width:100%;height:0;padding: 0 0 85.6% 0;}
.eap_21_may_2025_s1_sol_30 {max-width:250px; max-height:254px; }
.eap_21_may_2025_s1_sol_30::after {content: '\00a0';display: inline-block; width:250px; height:254px; background-position: 58.48942598187311% 83.23454699407282%; background-size: 762% 564.9606299212599%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_sol_30::after {max-width:250px; width:100%;height:0;padding: 0 0 101.6% 0;}
.eap_21_may_2025_s1_sol_49 {max-width:300px; max-height:256px; }
.eap_21_may_2025_s1_sol_49::after {content: '\00a0';display: inline-block; width:300px; height:256px; background-position: 56.32398753894081% 52.84139100932994%; background-size: 635% 560.546875%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_sol_49::after {max-width:300px; width:100%;height:0;padding: 0 0 85.33333333333333% 0;}
.eap_21_may_2025_s1_sol_62 {max-width:250px; max-height:234px; }
.eap_21_may_2025_s1_sol_62::after {content: '\00a0';display: inline-block; width:250px; height:234px; background-position: 72.809667673716% 51.04079933388843%; background-size: 762% 613.2478632478633%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_sol_62::after {max-width:250px; width:100%;height:0;padding: 0 0 93.6% 0;}
.eap_21_may_2025_s1_sol_65 {max-width:300px; max-height:211px; }
.eap_21_may_2025_s1_sol_65::after {content: '\00a0';display: inline-block; width:300px; height:211px; background-position: 91.27725856697819% 30.31045751633987%; background-size: 635% 680.0947867298578%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_sol_65::after {max-width:300px; width:100%;height:0;padding: 0 0 70.33333333333333% 0;}
.eap_21_may_2025_s1_sol_82 {max-width:300px; max-height:60px; }
.eap_21_may_2025_s1_sol_82::after {content: '\00a0';display: inline-block; width:300px; height:60px; background-position: 0.06230529595015576% 99.92727272727272%; background-size: 635% 2391.6666666666665%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_sol_82::after {max-width:300px; width:100%;height:0;padding: 0 0 20% 0;}
.eap_21_may_2025_s1_sol_94 {max-width:300px; max-height:219px; }
.eap_21_may_2025_s1_sol_94::after {content: '\00a0';display: inline-block; width:300px; height:219px; background-position: 72.5233644859813% 32.31907894736842%; background-size: 635% 655.2511415525114%; background-image: url(eap21May2025s1_0.png);padding: 0; }
div.eap_21_may_2025_s1_sol_94::after {max-width:300px; width:100%;height:0;padding: 0 0 73% 0;}

@keyframes eap_21_may_2025_s1_q-frames {
    0% { background-position: 80.30211480362537% 99.02834008097166%;  }
    9.090909090909092% { background-position: 74.5565749235474% 82.52666119770304%;  }
    18.181818181818183% { background-position: 41.702921068986946% 94.42379182156134%;  }
    27.27272727272727% { background-position: 24.557116676847894% 95.85635359116021%;  }
    36.36363636363637% { background-position: 93.27036599763872% 99.92395437262357%;  }
    45.45454545454545% { background-position: 53.769470404984425% 32.58706467661692%;  }
    54.54545454545454% { background-position: 37.570093457943926% 59.96186844613918%;  }
    63.63636363636363% { background-position: 60% 20.07662835249042%;  }
    72.72727272727273% { background-position: 99.9288256227758% 0.07745933384972889%;  }
    81.81818181818183% { background-position: 0.0664451827242525% 94.26456984273821%;  }
    90.9090909090909% { background-position: 93.2890365448505% 10.77490774907749%;  }
}

.eap_21_may_2025_s1_q-animation {
    max-width: 250px;
    max-height: 200px;
}
.eap_21_may_2025_s1_q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 250px;
    height: 200px;
    padding: 0;
    background-image: url(eap21May2025s1_0.png);
    background-size: 762% 717.5%; 
    animation-name: eap_21_may_2025_s1_q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.eap_21_may_2025_s1_q-animation::after {
    max-width: 250px;
    width: 100%;
    height: 0;
    padding: 0 0 80% 0;
}

@keyframes eap_21_may_2025_s1_sol-frames {
    0% { background-position: 92.20543806646526% 64.20966420966421%;  }
    5.555555555555555% { background-position: 95.46827794561933% 90.00819000819001%;  }
    11.11111111111111% { background-position: 58.48942598187311% 83.23454699407282%;  }
    16.666666666666664% { background-position: 56.32398753894081% 52.84139100932994%;  }
    22.22222222222222% { background-position: 72.809667673716% 51.04079933388843%;  }
    27.77777777777778% { background-position: 91.27725856697819% 30.31045751633987%;  }
    33.33333333333333% { background-position: 0.06230529595015576% 99.92727272727272%;  }
    38.88888888888889% { background-position: 72.5233644859813% 32.31907894736842%;  }
    44.44444444444444% { background-position: 76.32398753894081% 66.35367762128325%;  }
    50% { background-position: 23.577712609970675% 61.87258687258687%;  }
    55.55555555555556% { background-position: 90.87378640776699% 17.569659442724458%;  }
    61.111111111111114% { background-position: 32.49190938511327% 32.07070707070707%;  }
    66.66666666666666% { background-position: 62.653721682847895% 96.49259547934528%;  }
    72.22222222222221% { background-position: 0.0664451827242525% 60.58601134215501%;  }
    77.77777777777779% { background-position: 33.35548172757475% 0.0946969696969697%;  }
    83.33333333333334% { background-position: 0.0711743772241993% 28.89087656529517%;  }
    88.88888888888889% { background-position: 64.27046263345196% 0.0851063829787234%;  }
    94.44444444444444% { background-position: 0.0711743772241993% 0.08976660682226212%;  }
}

.eap_21_may_2025_s1_sol-animation {
    max-width: 250px;
    max-height: 214px;
}
.eap_21_may_2025_s1_sol-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 250px;
    height: 214px;
    padding: 0;
    background-image: url(eap21May2025s1_0.png);
    background-size: 762% 670.5607476635514%; 
    animation-name: eap_21_may_2025_s1_sol-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.eap_21_may_2025_s1_sol-animation::after {
    max-width: 250px;
    width: 100%;
    height: 0;
    padding: 0 0 85.6% 0;
}

/* $TexturePacker:SmartUpdate:32b19b43677aba96c7137993b25c9cf2:4618a94392aa5182ea244e7c4ec3f30e:2e147c60198bc0a16ab14aa81dd5860b$ */
