/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.eap_22_may_2025_s2_q_105 {max-width:260px; max-height:148px; }
.eap_22_may_2025_s2_q_105::after {content: '\00a0';display: inline-block; width:260px; height:148px; background-position: 95.85666293393056% 83.82642998027613%; background-size: 786.9230769230769% 785.1351351351351%; background-image: url(eap22May2025s2_0.png);padding: 0; }
div.eap_22_may_2025_s2_q_105::after {max-width:260px; width:100%;height:0;padding: 0 0 56.92307692307692% 0;}
.eap_22_may_2025_s2_q_106 {max-width:306px; max-height:189px; }
.eap_22_may_2025_s2_q_106::after {content: '\00a0';display: inline-block; width:306px; height:189px; background-position: 58.275862068965516% 75.43679342240493%; background-size: 668.6274509803922% 614.8148148148148%; background-image: url(eap22May2025s2_0.png);padding: 0; }
div.eap_22_may_2025_s2_q_106::after {max-width:306px; width:100%;height:0;padding: 0 0 61.76470588235294% 0;}
.eap_22_may_2025_s2_q_118 {max-width:408px; max-height:251px; }
.eap_22_may_2025_s2_q_118::after {content: '\00a0';display: inline-block; width:408px; height:251px; background-position: 30.70818070818071% 0.10976948408342481%; background-size: 501.47058823529414% 462.9482071713147%; background-image: url(eap22May2025s2_0.png);padding: 0; }
div.eap_22_may_2025_s2_q_118::after {max-width:408px; width:100%;height:0;padding: 0 0 61.51960784313726% 0;}
.eap_22_may_2025_s2_q_151 {max-width:547px; max-height:151px; }
.eap_22_may_2025_s2_q_151::after {content: '\00a0';display: inline-block; width:547px; height:151px; background-position: 76.05070046697799% 91.3946587537092%; background-size: 374.04021937842776% 769.5364238410596%; background-image: url(eap22May2025s2_0.png);padding: 0; }
div.eap_22_may_2025_s2_q_151::after {max-width:547px; width:100%;height:0;padding: 0 0 27.60511882998172% 0;}
.eap_22_may_2025_s2_q_154 {max-width:528px; max-height:75px; }
.eap_22_may_2025_s2_q_154::after {content: '\00a0';display: inline-block; width:528px; height:75px; background-position: 75.09881422924902% 98.98804047838087%; background-size: 387.5% 1549.3333333333333%; background-image: url(eap22May2025s2_0.png);padding: 0; }
div.eap_22_may_2025_s2_q_154::after {max-width:528px; width:100%;height:0;padding: 0 0 14.204545454545455% 0;}
.eap_22_may_2025_s2_q_155 {max-width:631px; max-height:152px; }
.eap_22_may_2025_s2_q_155::after {content: '\00a0';display: inline-block; width:631px; height:152px; background-position: 64.45229681978799% 0.09900990099009901%; background-size: 324.2472266244057% 764.4736842105264%; background-image: url(eap22May2025s2_0.png);padding: 0; }
div.eap_22_may_2025_s2_q_155::after {max-width:631px; width:100%;height:0;padding: 0 0 24.088748019017434% 0;}
.eap_22_may_2025_s2_q_157 {max-width:581px; max-height:206px; }
.eap_22_may_2025_s2_q_157::after {content: '\00a0';display: inline-block; width:581px; height:206px; background-position: 38.08873720136519% 99.3723849372385%; background-size: 352.1514629948365% 564.0776699029126%; background-image: url(eap22May2025s2_0.png);padding: 0; }
div.eap_22_may_2025_s2_q_157::after {max-width:581px; width:100%;height:0;padding: 0 0 35.45611015490534% 0;}
.eap_22_may_2025_s2_q_157a {max-width:556px; max-height:200px; }
.eap_22_may_2025_s2_q_157a::after {content: '\00a0';display: inline-block; width:556px; height:200px; background-position: 0.06711409395973154% 99.8960498960499%; background-size: 367.9856115107914% 581%; background-image: url(eap22May2025s2_0.png);padding: 0; }
div.eap_22_may_2025_s2_q_157a::after {max-width:556px; width:100%;height:0;padding: 0 0 35.97122302158273% 0;}
.eap_22_may_2025_s2_q_157b {max-width:512px; max-height:210px; }
.eap_22_may_2025_s2_q_157b::after {content: '\00a0';display: inline-block; width:512px; height:210px; background-position: 32.65971316818774% 77.62605042016807%; background-size: 399.609375% 553.3333333333334%; background-image: url(eap22May2025s2_0.png);padding: 0; }
div.eap_22_may_2025_s2_q_157b::after {max-width:512px; width:100%;height:0;padding: 0 0 41.015625% 0;}
.eap_22_may_2025_s2_q_157c {max-width:440px; max-height:217px; }
.eap_22_may_2025_s2_q_157c::after {content: '\00a0';display: inline-block; width:440px; height:217px; background-position: 25.03113325031133% 42.22222222222222%; background-size: 465% 535.483870967742%; background-image: url(eap22May2025s2_0.png);padding: 0; }
div.eap_22_may_2025_s2_q_157c::after {max-width:440px; width:100%;height:0;padding: 0 0 49.31818181818182% 0;}
.eap_22_may_2025_s2_q_157d {max-width:499px; max-height:221px; }
.eap_22_may_2025_s2_q_157d::after {content: '\00a0';display: inline-block; width:499px; height:221px; background-position: 0.06464124111182935% 78.53347502656749%; background-size: 410.0200400801603% 525.7918552036199%; background-image: url(eap22May2025s2_0.png);padding: 0; }
div.eap_22_may_2025_s2_q_157d::after {max-width:499px; width:100%;height:0;padding: 0 0 44.28857715430862% 0;}
.eap_22_may_2025_s2_q_158a {max-width:207px; max-height:109px; }
.eap_22_may_2025_s2_q_158a::after {content: '\00a0';display: inline-block; width:207px; height:109px; background-position: 16.421968461120173% 27.44539411206078%; background-size: 988.4057971014493% 1066.0550458715597%; background-image: url(eap22May2025s2_0.png);padding: 0; }
div.eap_22_may_2025_s2_q_158a::after {max-width:207px; width:100%;height:0;padding: 0 0 52.65700483091788% 0;}
.eap_22_may_2025_s2_q_158b {max-width:248px; max-height:126px; }
.eap_22_may_2025_s2_q_158b::after {content: '\00a0';display: inline-block; width:248px; height:126px; background-position: 93.88209121245829% 96.42857142857143%; background-size: 825% 922.2222222222222%; background-image: url(eap22May2025s2_0.png);padding: 0; }
div.eap_22_may_2025_s2_q_158b::after {max-width:248px; width:100%;height:0;padding: 0 0 50.806451612903224% 0;}
.eap_22_may_2025_s2_q_158c {max-width:204px; max-height:123px; }
.eap_22_may_2025_s2_q_158c::after {content: '\00a0';display: inline-block; width:204px; height:123px; background-position: 72.69272529858848% 54.95668912415785%; background-size: 1002.9411764705883% 944.7154471544716%; background-image: url(eap22May2025s2_0.png);padding: 0; }
div.eap_22_may_2025_s2_q_158c::after {max-width:204px; width:100%;height:0;padding: 0 0 60.294117647058826% 0;}
.eap_22_may_2025_s2_q_158d {max-width:224px; max-height:146px; }
.eap_22_may_2025_s2_q_158d::after {content: '\00a0';display: inline-block; width:224px; height:146px; background-position: 61.14160263446762% 57.67716535433071%; background-size: 913.3928571428571% 795.8904109589041%; background-image: url(eap22May2025s2_0.png);padding: 0; }
div.eap_22_may_2025_s2_q_158d::after {max-width:224px; width:100%;height:0;padding: 0 0 65.17857142857143% 0;}
.eap_22_may_2025_s2_q_160a {max-width:331px; max-height:137px; }
.eap_22_may_2025_s2_q_160a::after {content: '\00a0';display: inline-block; width:331px; height:137px; background-position: 98.42565597667638% 57.170731707317074%; background-size: 618.1268882175226% 848.1751824817518%; background-image: url(eap22May2025s2_0.png);padding: 0; }
div.eap_22_may_2025_s2_q_160a::after {max-width:331px; width:100%;height:0;padding: 0 0 41.389728096676734% 0;}
.eap_22_may_2025_s2_q_160b {max-width:338px; max-height:141px; }
.eap_22_may_2025_s2_q_160b::after {content: '\00a0';display: inline-block; width:338px; height:141px; background-position: 52.049180327868854% 24.779627815866796%; background-size: 605.3254437869823% 824.113475177305%; background-image: url(eap22May2025s2_0.png);padding: 0; }
div.eap_22_may_2025_s2_q_160b::after {max-width:338px; width:100%;height:0;padding: 0 0 41.71597633136095% 0;}
.eap_22_may_2025_s2_q_160c {max-width:390px; max-height:148px; }
.eap_22_may_2025_s2_q_160c::after {content: '\00a0';display: inline-block; width:390px; height:148px; background-position: 79.77053140096618% 72.2879684418146%; background-size: 524.6153846153846% 785.1351351351351%; background-image: url(eap22May2025s2_0.png);padding: 0; }
div.eap_22_may_2025_s2_q_160c::after {max-width:390px; width:100%;height:0;padding: 0 0 37.94871794871795% 0;}
.eap_22_may_2025_s2_q_160d {max-width:378px; max-height:143px; }
.eap_22_may_2025_s2_q_160d::after {content: '\00a0';display: inline-block; width:378px; height:143px; background-position: 30.575539568345324% 24.828263002944063%; background-size: 541.2698412698413% 812.5874125874126%; background-image: url(eap22May2025s2_0.png);padding: 0; }
div.eap_22_may_2025_s2_q_160d::after {max-width:378px; width:100%;height:0;padding: 0 0 37.83068783068783% 0;}
.eap_22_may_2025_s2_q_89 {max-width:350px; max-height:116px; }
.eap_22_may_2025_s2_q_89::after {content: '\00a0';display: inline-block; width:350px; height:116px; background-position: 44.988207547169814% 58.98661567877629%; background-size: 584.5714285714286% 1001.7241379310345%; background-image: url(eap22May2025s2_0.png);padding: 0; }
div.eap_22_may_2025_s2_q_89::after {max-width:350px; width:100%;height:0;padding: 0 0 33.142857142857146% 0;}
.eap_22_may_2025_s2_sol_106 {max-width:300px; max-height:129px; }
.eap_22_may_2025_s2_sol_106::after {content: '\00a0';display: inline-block; width:300px; height:129px; background-position: 70.33218785796106% 14.908034849951598%; background-size: 682% 900.7751937984497%; background-image: url(eap22May2025s2_0.png);padding: 0; }
div.eap_22_may_2025_s2_sol_106::after {max-width:300px; width:100%;height:0;padding: 0 0 43% 0;}
.eap_22_may_2025_s2_sol_11 {max-width:300px; max-height:58px; }
.eap_22_may_2025_s2_sol_11::after {content: '\00a0';display: inline-block; width:300px; height:58px; background-position: 52.233676975945016% 13.94927536231884%; background-size: 682% 2003.448275862069%; background-image: url(eap22May2025s2_0.png);padding: 0; }
div.eap_22_may_2025_s2_sol_11::after {max-width:300px; width:100%;height:0;padding: 0 0 19.333333333333332% 0;}
.eap_22_may_2025_s2_sol_118 {max-width:300px; max-height:125px; }
.eap_22_may_2025_s2_sol_118::after {content: '\00a0';display: inline-block; width:300px; height:125px; background-position: 98.05269186712486% 69.81677917068467%; background-size: 682% 929.6%; background-image: url(eap22May2025s2_0.png);padding: 0; }
div.eap_22_may_2025_s2_sol_118::after {max-width:300px; width:100%;height:0;padding: 0 0 41.666666666666664% 0;}
.eap_22_may_2025_s2_sol_139 {max-width:500px; max-height:140px; }
.eap_22_may_2025_s2_sol_139::after {content: '\00a0';display: inline-block; width:500px; height:140px; background-position: 99.9353169469599% 15.557729941291585%; background-size: 409.2% 830%; background-image: url(eap22May2025s2_0.png);padding: 0; }
div.eap_22_may_2025_s2_sol_139::after {max-width:500px; width:100%;height:0;padding: 0 0 28% 0;}
.eap_22_may_2025_s2_sol_151 {max-width:500px; max-height:81px; }
.eap_22_may_2025_s2_sol_151::after {content: '\00a0';display: inline-block; width:500px; height:81px; background-position: 99.9353169469599% 39.222941720629045%; background-size: 409.2% 1434.567901234568%; background-image: url(eap22May2025s2_0.png);padding: 0; }
div.eap_22_may_2025_s2_sol_151::after {max-width:500px; width:100%;height:0;padding: 0 0 16.2% 0;}
.eap_22_may_2025_s2_sol_151_1 {max-width:500px; max-height:79px; }
.eap_22_may_2025_s2_sol_151_1::after {content: '\00a0';display: inline-block; width:500px; height:79px; background-position: 99.9353169469599% 46.72206832871653%; background-size: 409.2% 1470.886075949367%; background-image: url(eap22May2025s2_0.png);padding: 0; }
div.eap_22_may_2025_s2_sol_151_1::after {max-width:500px; width:100%;height:0;padding: 0 0 15.8% 0;}
.eap_22_may_2025_s2_sol_155 {max-width:500px; max-height:123px; }
.eap_22_may_2025_s2_sol_155::after {content: '\00a0';display: inline-block; width:500px; height:123px; background-position: 99.9353169469599% 28.873917228103945%; background-size: 409.2% 944.7154471544716%; background-image: url(eap22May2025s2_0.png);padding: 0; }
div.eap_22_may_2025_s2_sol_155::after {max-width:500px; width:100%;height:0;padding: 0 0 24.6% 0;}
.eap_22_may_2025_s2_sol_157 {max-width:500px; max-height:175px; }
.eap_22_may_2025_s2_sol_157::after {content: '\00a0';display: inline-block; width:500px; height:175px; background-position: 67.52910737386804% 40.020263424518745%; background-size: 409.2% 664%; background-image: url(eap22May2025s2_0.png);padding: 0; }
div.eap_22_may_2025_s2_sol_157::after {max-width:500px; width:100%;height:0;padding: 0 0 35% 0;}
.eap_22_may_2025_s2_sol_159 {max-width:500px; max-height:157px; }
.eap_22_may_2025_s2_sol_159::after {content: '\00a0';display: inline-block; width:500px; height:157px; background-position: 99.9353169469599% 0.09950248756218906%; background-size: 409.2% 740.1273885350319%; background-image: url(eap22May2025s2_0.png);padding: 0; }
div.eap_22_may_2025_s2_sol_159::after {max-width:500px; width:100%;height:0;padding: 0 0 31.4% 0;}
.eap_22_may_2025_s2_sol_160 {max-width:400px; max-height:336px; }
.eap_22_may_2025_s2_sol_160::after {content: '\00a0';display: inline-block; width:400px; height:336px; background-position: 0.060753341433778855% 48.6682808716707%; background-size: 511.5% 345.8333333333333%; background-image: url(eap22May2025s2_0.png);padding: 0; }
div.eap_22_may_2025_s2_sol_160::after {max-width:400px; width:100%;height:0;padding: 0 0 84% 0;}
.eap_22_may_2025_s2_sol_32 {max-width:200px; max-height:287px; }
.eap_22_may_2025_s2_sol_32::after {content: '\00a0';display: inline-block; width:200px; height:287px; background-position: 16.359696641386783% 0.11428571428571428%; background-size: 1023% 404.8780487804878%; background-image: url(eap22May2025s2_0.png);padding: 0; }
div.eap_22_may_2025_s2_sol_32::after {max-width:200px; width:100%;height:0;padding: 0 0 143.5% 0;}
.eap_22_may_2025_s2_sol_68 {max-width:200px; max-height:188px; }
.eap_22_may_2025_s2_sol_68::after {content: '\00a0';display: inline-block; width:200px; height:188px; background-position: 45.66630552546045% 40.75975359342916%; background-size: 1023% 618.0851063829788%; background-image: url(eap22May2025s2_0.png);padding: 0; }
div.eap_22_may_2025_s2_sol_68::after {max-width:200px; width:100%;height:0;padding: 0 0 94% 0;}
.eap_22_may_2025_s2_sol_89 {max-width:360px; max-height:121px; }
.eap_22_may_2025_s2_sol_89::after {content: '\00a0';display: inline-block; width:360px; height:121px; background-position: 23.843416370106763% 59.26993275696446%; background-size: 568.3333333333334% 960.3305785123966%; background-image: url(eap22May2025s2_0.png);padding: 0; }
div.eap_22_may_2025_s2_sol_89::after {max-width:360px; width:100%;height:0;padding: 0 0 33.611111111111114% 0;}
.eap_22_may_2025_s2_sol_98 {max-width:300px; max-height:400px; }
.eap_22_may_2025_s2_sol_98::after {content: '\00a0';display: inline-block; width:300px; height:400px; background-position: 0.0572737686139748% 0.13123359580052493%; background-size: 682% 290.5%; background-image: url(eap22May2025s2_0.png);padding: 0; }
div.eap_22_may_2025_s2_sol_98::after {max-width:300px; width:100%;height:0;padding: 0 0 133.33333333333334% 0;}

@keyframes eap_22_may_2025_s2_q-frames {
    0% { background-position: 44.988207547169814% 58.98661567877629%;  }
    12.5% { background-position: 95.85666293393056% 83.82642998027613%;  }
    25% { background-position: 58.275862068965516% 75.43679342240493%;  }
    37.5% { background-position: 30.70818070818071% 0.10976948408342481%;  }
    50% { background-position: 76.05070046697799% 91.3946587537092%;  }
    62.5% { background-position: 75.09881422924902% 98.98804047838087%;  }
    75% { background-position: 64.45229681978799% 0.09900990099009901%;  }
    87.5% { background-position: 38.08873720136519% 99.3723849372385%;  }
}

.eap_22_may_2025_s2_q-animation {
    max-width: 350px;
    max-height: 116px;
}
.eap_22_may_2025_s2_q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 350px;
    height: 116px;
    padding: 0;
    background-image: url(eap22May2025s2_0.png);
    background-size: 584.5714285714286% 1001.7241379310345%; 
    animation-name: eap_22_may_2025_s2_q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.eap_22_may_2025_s2_q-animation::after {
    max-width: 350px;
    width: 100%;
    height: 0;
    padding: 0 0 33.142857142857146% 0;
}

@keyframes eap_22_may_2025_s2_sol-frames {
    0% { background-position: 52.233676975945016% 13.94927536231884%;  }
    7.6923076923076925% { background-position: 16.359696641386783% 0.11428571428571428%;  }
    15.384615384615385% { background-position: 45.66630552546045% 40.75975359342916%;  }
    23.076923076923077% { background-position: 23.843416370106763% 59.26993275696446%;  }
    30.76923076923077% { background-position: 0.0572737686139748% 0.13123359580052493%;  }
    38.46153846153847% { background-position: 70.33218785796106% 14.908034849951598%;  }
    46.15384615384615% { background-position: 98.05269186712486% 69.81677917068467%;  }
    53.84615384615385% { background-position: 99.9353169469599% 15.557729941291585%;  }
    61.53846153846154% { background-position: 99.9353169469599% 39.222941720629045%;  }
    69.23076923076923% { background-position: 99.9353169469599% 28.873917228103945%;  }
    76.92307692307693% { background-position: 67.52910737386804% 40.020263424518745%;  }
    84.61538461538461% { background-position: 99.9353169469599% 0.09950248756218906%;  }
    92.3076923076923% { background-position: 0.060753341433778855% 48.6682808716707%;  }
}

.eap_22_may_2025_s2_sol-animation {
    max-width: 300px;
    max-height: 58px;
}
.eap_22_may_2025_s2_sol-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 300px;
    height: 58px;
    padding: 0;
    background-image: url(eap22May2025s2_0.png);
    background-size: 682% 2003.448275862069%; 
    animation-name: eap_22_may_2025_s2_sol-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.eap_22_may_2025_s2_sol-animation::after {
    max-width: 300px;
    width: 100%;
    height: 0;
    padding: 0 0 19.333333333333332% 0;
}

/* $TexturePacker:SmartUpdate:11676b955668efdd3d0a6535684571c5:bcb2b3c2c26681fc69aa761af7c127c2:bcfd4ff94f3fdbfbade91d9a43e20726$ */
