/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.eap_21_may_2025_s2_q_119 {max-width:320px; max-height:173px; }
.eap_21_may_2025_s2_q_119::after {content: '\00a0';display: inline-block; width:320px; height:173px; background-position: 67.50881316098707% 57.83783783783784%; background-size: 631.875% 634.6820809248555%; background-image: url(eap21May2025s2_0.png);padding: 0; }
div.eap_21_may_2025_s2_q_119::after {max-width:320px; width:100%;height:0;padding: 0 0 54.0625% 0;}
.eap_21_may_2025_s2_q_126a {max-width:300px; max-height:300px; }
.eap_21_may_2025_s2_q_126a::after {content: '\00a0';display: inline-block; width:300px; height:300px; background-position: 17.53774680603949% 79.07268170426065%; background-size: 674% 366%; background-image: url(eap21May2025s2_0.png);padding: 0; }
div.eap_21_may_2025_s2_q_126a::after {max-width:300px; width:100%;height:0;padding: 0 0 100% 0;}
.eap_21_may_2025_s2_q_126b {max-width:300px; max-height:294px; }
.eap_21_may_2025_s2_q_126b::after {content: '\00a0';display: inline-block; width:300px; height:294px; background-position: 17.53774680603949% 0.12437810945273632%; background-size: 674% 373.46938775510205%; background-image: url(eap21May2025s2_0.png);padding: 0; }
div.eap_21_may_2025_s2_q_126b::after {max-width:300px; width:100%;height:0;padding: 0 0 98% 0;}
.eap_21_may_2025_s2_q_126c {max-width:300px; max-height:306px; }
.eap_21_may_2025_s2_q_126c::after {content: '\00a0';display: inline-block; width:300px; height:306px; background-position: 0.05807200929152149% 80.55555555555556%; background-size: 674% 358.8235294117647%; background-image: url(eap21May2025s2_0.png);padding: 0; }
div.eap_21_may_2025_s2_q_126c::after {max-width:300px; width:100%;height:0;padding: 0 0 102% 0;}
.eap_21_may_2025_s2_q_126d {max-width:300px; max-height:326px; }
.eap_21_may_2025_s2_q_126d::after {content: '\00a0';display: inline-block; width:300px; height:326px; background-position: 0.05807200929152149% 0.12953367875647667%; background-size: 674% 336.80981595092027%; background-image: url(eap21May2025s2_0.png);padding: 0; }
div.eap_21_may_2025_s2_q_126d::after {max-width:300px; width:100%;height:0;padding: 0 0 108.66666666666667% 0;}
.eap_21_may_2025_s2_q_151a {max-width:250px; max-height:160px; }
.eap_21_may_2025_s2_q_151a::after {content: '\00a0';display: inline-block; width:250px; height:160px; background-position: 82.95711060948081% 56.07675906183369%; background-size: 808.8% 686.25%; background-image: url(eap21May2025s2_0.png);padding: 0; }
div.eap_21_may_2025_s2_q_151a::after {max-width:250px; width:100%;height:0;padding: 0 0 64% 0;}
.eap_21_may_2025_s2_q_153 {max-width:250px; max-height:302px; }
.eap_21_may_2025_s2_q_153::after {content: '\00a0';display: inline-block; width:250px; height:302px; background-position: 11.399548532731377% 41.20603015075377%; background-size: 808.8% 363.57615894039736%; background-image: url(eap21May2025s2_0.png);padding: 0; }
div.eap_21_may_2025_s2_q_153::after {max-width:250px; width:100%;height:0;padding: 0 0 120.8% 0;}
.eap_21_may_2025_s2_q_155 {max-width:400px; max-height:132px; }
.eap_21_may_2025_s2_q_155::after {content: '\00a0';display: inline-block; width:400px; height:132px; background-position: 99.63008631319359% 84.472049689441%; background-size: 505.5% 831.8181818181819%; background-image: url(eap21May2025s2_0.png);padding: 0; }
div.eap_21_may_2025_s2_q_155::after {max-width:400px; width:100%;height:0;padding: 0 0 33% 0;}
.eap_21_may_2025_s2_q_155a {max-width:360px; max-height:104px; }
.eap_21_may_2025_s2_q_155a::after {content: '\00a0';display: inline-block; width:360px; height:104px; background-position: 73.10469314079423% 98.39034205231388%; background-size: 561.6666666666666% 1055.7692307692307%; background-image: url(eap21May2025s2_0.png);padding: 0; }
div.eap_21_may_2025_s2_q_155a::after {max-width:360px; width:100%;height:0;padding: 0 0 28.88888888888889% 0;}
.eap_21_may_2025_s2_q_155b {max-width:360px; max-height:144px; }
.eap_21_may_2025_s2_q_155b::after {content: '\00a0';display: inline-block; width:360px; height:144px; background-position: 51.383874849578824% 81.02725366876311%; background-size: 561.6666666666666% 762.5%; background-image: url(eap21May2025s2_0.png);padding: 0; }
div.eap_21_may_2025_s2_q_155b::after {max-width:360px; width:100%;height:0;padding: 0 0 40% 0;}
.eap_21_may_2025_s2_q_155c {max-width:360px; max-height:126px; }
.eap_21_may_2025_s2_q_155c::after {content: '\00a0';display: inline-block; width:360px; height:126px; background-position: 99.69915764139591% 19.34156378600823%; background-size: 561.6666666666666% 871.4285714285714%; background-image: url(eap21May2025s2_0.png);padding: 0; }
div.eap_21_may_2025_s2_q_155c::after {max-width:360px; width:100%;height:0;padding: 0 0 35% 0;}
.eap_21_may_2025_s2_q_155d {max-width:360px; max-height:116px; }
.eap_21_may_2025_s2_q_155d::after {content: '\00a0';display: inline-block; width:360px; height:116px; background-position: 99.69915764139591% 32.07739307535642%; background-size: 561.6666666666666% 946.551724137931%; background-image: url(eap21May2025s2_0.png);padding: 0; }
div.eap_21_may_2025_s2_q_155d::after {max-width:360px; width:100%;height:0;padding: 0 0 32.22222222222222% 0;}
.eap_21_may_2025_s2_q_157a {max-width:300px; max-height:179px; }
.eap_21_may_2025_s2_q_157a::after {content: '\00a0';display: inline-block; width:300px; height:179px; background-position: 53.07781649245064% 99.89118607181719%; background-size: 674% 613.4078212290502%; background-image: url(eap21May2025s2_0.png);padding: 0; }
div.eap_21_may_2025_s2_q_157a::after {max-width:300px; width:100%;height:0;padding: 0 0 59.666666666666664% 0;}
.eap_21_may_2025_s2_q_157b {max-width:300px; max-height:147px; }
.eap_21_may_2025_s2_q_157b::after {content: '\00a0';display: inline-block; width:300px; height:147px; background-position: 14.634146341463415% 99.36908517350157%; background-size: 674% 746.9387755102041%; background-image: url(eap21May2025s2_0.png);padding: 0; }
div.eap_21_may_2025_s2_q_157b::after {max-width:300px; width:100%;height:0;padding: 0 0 49% 0;}
.eap_21_may_2025_s2_q_158a {max-width:300px; max-height:93px; }
.eap_21_may_2025_s2_q_158a::after {content: '\00a0';display: inline-block; width:300px; height:93px; background-position: 84.55284552845528% 42.985074626865675%; background-size: 674% 1180.6451612903227%; background-image: url(eap21May2025s2_0.png);padding: 0; }
div.eap_21_may_2025_s2_q_158a::after {max-width:300px; width:100%;height:0;padding: 0 0 31% 0;}
.eap_21_may_2025_s2_q_158b {max-width:300px; max-height:110px; }
.eap_21_may_2025_s2_q_158b::after {content: '\00a0';display: inline-block; width:300px; height:110px; background-position: 43.786295005807204% 44.635627530364374%; background-size: 674% 998.1818181818181%; background-image: url(eap21May2025s2_0.png);padding: 0; }
div.eap_21_may_2025_s2_q_158b::after {max-width:300px; width:100%;height:0;padding: 0 0 36.666666666666664% 0;}
.eap_21_may_2025_s2_q_158c {max-width:250px; max-height:167px; }
.eap_21_may_2025_s2_q_158c::after {content: '\00a0';display: inline-block; width:250px; height:167px; background-position: 99.15349887133183% 46.40171858216971%; background-size: 808.8% 657.4850299401197%; background-image: url(eap21May2025s2_0.png);padding: 0; }
div.eap_21_may_2025_s2_q_158c::after {max-width:250px; width:100%;height:0;padding: 0 0 66.8% 0;}
.eap_21_may_2025_s2_q_158d {max-width:250px; max-height:174px; }
.eap_21_may_2025_s2_q_158d::after {content: '\00a0';display: inline-block; width:250px; height:174px; background-position: 98.36343115124153% 0.10822510822510822%; background-size: 808.8% 631.0344827586207%; background-image: url(eap21May2025s2_0.png);padding: 0; }
div.eap_21_may_2025_s2_q_158d::after {max-width:250px; width:100%;height:0;padding: 0 0 69.6% 0;}
.eap_21_may_2025_s2_q_159a {max-width:250px; max-height:148px; }
.eap_21_may_2025_s2_q_159a::after {content: '\00a0';display: inline-block; width:250px; height:148px; background-position: 0.056433408577878104% 99.47368421052632%; background-size: 808.8% 741.8918918918919%; background-image: url(eap21May2025s2_0.png);padding: 0; }
div.eap_21_may_2025_s2_q_159a::after {max-width:250px; width:100%;height:0;padding: 0 0 59.2% 0;}
.eap_21_may_2025_s2_q_159b {max-width:314px; max-height:216px; }
.eap_21_may_2025_s2_q_159b::after {content: '\00a0';display: inline-block; width:314px; height:216px; background-position: 35.304449648711945% 63.038548752834465%; background-size: 643.9490445859873% 508.3333333333333%; background-image: url(eap21May2025s2_0.png);padding: 0; }
div.eap_21_may_2025_s2_q_159b::after {max-width:314px; width:100%;height:0;padding: 0 0 68.78980891719745% 0;}
.eap_21_may_2025_s2_q_159c {max-width:286px; max-height:200px; }
.eap_21_may_2025_s2_q_159c::after {content: '\00a0';display: inline-block; width:286px; height:200px; background-position: 52.07373271889401% 0.111358574610245%; background-size: 706.993006993007% 549%; background-image: url(eap21May2025s2_0.png);padding: 0; }
div.eap_21_may_2025_s2_q_159c::after {max-width:286px; width:100%;height:0;padding: 0 0 69.93006993006993% 0;}
.eap_21_may_2025_s2_q_159d {max-width:230px; max-height:202px; }
.eap_21_may_2025_s2_q_159d::after {content: '\00a0';display: inline-block; width:230px; height:202px; background-position: 51.22767857142857% 61.607142857142854%; background-size: 879.1304347826087% 543.5643564356436%; background-image: url(eap21May2025s2_0.png);padding: 0; }
div.eap_21_may_2025_s2_q_159d::after {max-width:230px; width:100%;height:0;padding: 0 0 87.82608695652173% 0;}
.eap_21_may_2025_s2_sol_107 {max-width:300px; max-height:208px; }
.eap_21_may_2025_s2_sol_107::after {content: '\00a0';display: inline-block; width:300px; height:208px; background-position: 43.786295005807204% 26.06741573033708%; background-size: 674% 527.8846153846154%; background-image: url(eap21May2025s2_0.png);padding: 0; }
div.eap_21_may_2025_s2_sol_107::after {max-width:300px; width:100%;height:0;padding: 0 0 69.33333333333333% 0;}
.eap_21_may_2025_s2_sol_119 {max-width:360px; max-height:163px; }
.eap_21_may_2025_s2_sol_119::after {content: '\00a0';display: inline-block; width:360px; height:163px; background-position: 33.273164861612514% 99.67914438502673%; background-size: 561.6666666666666% 673.6196319018405%; background-image: url(eap21May2025s2_0.png);padding: 0; }
div.eap_21_may_2025_s2_sol_119::after {max-width:360px; width:100%;height:0;padding: 0 0 45.27777777777778% 0;}
.eap_21_may_2025_s2_sol_135 {max-width:300px; max-height:186px; }
.eap_21_may_2025_s2_sol_135::after {content: '\00a0';display: inline-block; width:300px; height:186px; background-position: 78.74564459930313% 20.833333333333332%; background-size: 674% 590.3225806451613%; background-image: url(eap21May2025s2_0.png);padding: 0; }
div.eap_21_may_2025_s2_sol_135::after {max-width:300px; width:100%;height:0;padding: 0 0 62% 0;}
.eap_21_may_2025_s2_sol_151 {max-width:250px; max-height:128px; }
.eap_21_may_2025_s2_sol_151::after {content: '\00a0';display: inline-block; width:250px; height:128px; background-position: 82.95711060948081% 70.82474226804123%; background-size: 808.8% 857.8125%; background-image: url(eap21May2025s2_0.png);padding: 0; }
div.eap_21_may_2025_s2_sol_151::after {max-width:250px; width:100%;height:0;padding: 0 0 51.2% 0;}
.eap_21_may_2025_s2_sol_151a {max-width:400px; max-height:80px; }
.eap_21_may_2025_s2_sol_151a::after {content: '\00a0';display: inline-block; width:400px; height:80px; background-position: 99.63008631319359% 93.22200392927309%; background-size: 505.5% 1372.5%; background-image: url(eap21May2025s2_0.png);padding: 0; }
div.eap_21_may_2025_s2_sol_151a::after {max-width:400px; width:100%;height:0;padding: 0 0 20% 0;}
.eap_21_may_2025_s2_sol_155 {max-width:400px; max-height:135px; }
.eap_21_may_2025_s2_sol_155::after {content: '\00a0';display: inline-block; width:400px; height:135px; background-position: 65.04315659679408% 41.43302180685358%; background-size: 505.5% 813.3333333333334%; background-image: url(eap21May2025s2_0.png);padding: 0; }
div.eap_21_may_2025_s2_sol_155::after {max-width:400px; width:100%;height:0;padding: 0 0 33.75% 0;}
.eap_21_may_2025_s2_sol_156 {max-width:400px; max-height:161px; }
.eap_21_may_2025_s2_sol_156::after {content: '\00a0';display: inline-block; width:400px; height:161px; background-position: 74.9075215782984% 87.08644610458911%; background-size: 505.5% 681.9875776397515%; background-image: url(eap21May2025s2_0.png);padding: 0; }
div.eap_21_may_2025_s2_sol_156::after {max-width:400px; width:100%;height:0;padding: 0 0 40.25% 0;}
.eap_21_may_2025_s2_sol_158 {max-width:250px; max-height:146px; }
.eap_21_may_2025_s2_sol_158::after {content: '\00a0';display: inline-block; width:250px; height:146px; background-position: 34.0293453724605% 81.19747899159664%; background-size: 808.8% 752.054794520548%; background-image: url(eap21May2025s2_0.png);padding: 0; }
div.eap_21_may_2025_s2_sol_158::after {max-width:250px; width:100%;height:0;padding: 0 0 58.4% 0;}
.eap_21_may_2025_s2_sol_158a {max-width:250px; max-height:186px; }
.eap_21_may_2025_s2_sol_158a::after {content: '\00a0';display: inline-block; width:250px; height:186px; background-position: 84.19864559819413% 0.10964912280701754%; background-size: 808.8% 590.3225806451613%; background-image: url(eap21May2025s2_0.png);padding: 0; }
div.eap_21_may_2025_s2_sol_158a::after {max-width:250px; width:100%;height:0;padding: 0 0 74.4% 0;}
.eap_21_may_2025_s2_sol_48 {max-width:300px; max-height:188px; }
.eap_21_may_2025_s2_sol_48::after {content: '\00a0';display: inline-block; width:300px; height:188px; background-position: 69.1637630662021% 0.10989010989010989%; background-size: 674% 584.0425531914893%; background-image: url(eap21May2025s2_0.png);padding: 0; }
div.eap_21_may_2025_s2_sol_48::after {max-width:300px; width:100%;height:0;padding: 0 0 62.666666666666664% 0;}
.eap_21_may_2025_s2_sol_50 {max-width:300px; max-height:196px; }
.eap_21_may_2025_s2_sol_50::after {content: '\00a0';display: inline-block; width:300px; height:196px; background-position: 61.26596980255517% 22.394678492239468%; background-size: 674% 560.204081632653%; background-image: url(eap21May2025s2_0.png);padding: 0; }
div.eap_21_may_2025_s2_sol_50::after {max-width:300px; width:100%;height:0;padding: 0 0 65.33333333333333% 0;}
.eap_21_may_2025_s2_sol_77 {max-width:300px; max-height:259px; }
.eap_21_may_2025_s2_sol_77::after {content: '\00a0';display: inline-block; width:300px; height:259px; background-position: 26.306620209059233% 35.280095351609056%; background-size: 674% 423.9382239382239%; background-image: url(eap21May2025s2_0.png);padding: 0; }
div.eap_21_may_2025_s2_sol_77::after {max-width:300px; width:100%;height:0;padding: 0 0 86.33333333333333% 0;}
.eap_21_may_2025_s2_sol_82 {max-width:200px; max-height:309px; }
.eap_21_may_2025_s2_sol_82::after {content: '\00a0';display: inline-block; width:200px; height:309px; background-position: 0.054884742041712405% 41.57160963244613%; background-size: 1011% 355.3398058252427%; background-image: url(eap21May2025s2_0.png);padding: 0; }
div.eap_21_may_2025_s2_sol_82::after {max-width:200px; width:100%;height:0;padding: 0 0 154.5% 0;}
.eap_21_may_2025_s2_sol_84 {max-width:300px; max-height:230px; }
.eap_21_may_2025_s2_sol_84::after {content: '\00a0';display: inline-block; width:300px; height:230px; background-position: 35.01742160278746% 0.1152073732718894%; background-size: 674% 477.39130434782606%; background-image: url(eap21May2025s2_0.png);padding: 0; }
div.eap_21_may_2025_s2_sol_84::after {max-width:300px; width:100%;height:0;padding: 0 0 76.66666666666667% 0;}
.file-eap_21_may_2025_s2_sol_29 {max-width:300px; max-height:160px; }
.file-eap_21_may_2025_s2_sol_29::after {content: '\00a0';display: inline-block; width:300px; height:160px; background-position: 99.94192799070848% 63.96588486140725%; background-size: 674% 686.25%; background-image: url(eap21May2025s2_0.png);padding: 0; }
div.file-eap_21_may_2025_s2_sol_29::after {max-width:300px; width:100%;height:0;padding: 0 0 53.333333333333336% 0;}

@keyframes eap_21_may_2025_s2_q-frames {
    0% { background-position: 67.50881316098707% 57.83783783783784%;  }
    33.33333333333333% { background-position: 11.399548532731377% 41.20603015075377%;  }
    66.66666666666666% { background-position: 99.63008631319359% 84.472049689441%;  }
}

.eap_21_may_2025_s2_q-animation {
    max-width: 320px;
    max-height: 173px;
}
.eap_21_may_2025_s2_q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 320px;
    height: 173px;
    padding: 0;
    background-image: url(eap21May2025s2_0.png);
    background-size: 631.875% 634.6820809248555%; 
    animation-name: eap_21_may_2025_s2_q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.eap_21_may_2025_s2_q-animation::after {
    max-width: 320px;
    width: 100%;
    height: 0;
    padding: 0 0 54.0625% 0;
}

@keyframes eap_21_may_2025_s2_sol-frames {
    0% { background-position: 69.1637630662021% 0.10989010989010989%;  }
    8.333333333333332% { background-position: 61.26596980255517% 22.394678492239468%;  }
    16.666666666666664% { background-position: 26.306620209059233% 35.280095351609056%;  }
    25% { background-position: 0.054884742041712405% 41.57160963244613%;  }
    33.33333333333333% { background-position: 35.01742160278746% 0.1152073732718894%;  }
    41.66666666666667% { background-position: 43.786295005807204% 26.06741573033708%;  }
    50% { background-position: 33.273164861612514% 99.67914438502673%;  }
    58.333333333333336% { background-position: 78.74564459930313% 20.833333333333332%;  }
    66.66666666666666% { background-position: 82.95711060948081% 70.82474226804123%;  }
    75% { background-position: 65.04315659679408% 41.43302180685358%;  }
    83.33333333333334% { background-position: 74.9075215782984% 87.08644610458911%;  }
    91.66666666666666% { background-position: 34.0293453724605% 81.19747899159664%;  }
}

.eap_21_may_2025_s2_sol-animation {
    max-width: 300px;
    max-height: 188px;
}
.eap_21_may_2025_s2_sol-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 300px;
    height: 188px;
    padding: 0;
    background-image: url(eap21May2025s2_0.png);
    background-size: 674% 584.0425531914893%; 
    animation-name: eap_21_may_2025_s2_sol-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.eap_21_may_2025_s2_sol-animation::after {
    max-width: 300px;
    width: 100%;
    height: 0;
    padding: 0 0 62.666666666666664% 0;
}

/* $TexturePacker:SmartUpdate:0521975993e0c5f72a20a13c617988b1:fdeb195d37b0c924a95f1d9a9a54a09e:e852f7b5f9d79c7165f57b27dc78b3fb$ */
