/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.eap_23_may_2025_s1102 {max-width:179px; max-height:261px; }
.eap_23_may_2025_s1102::after {content: '\00a0';display: inline-block; width:179px; height:261px; background-position: 99.92700729927007% 96.08695652173913%; background-size: 865.3631284916202% 188.12260536398466%; background-image: url(eap23May2025s1_0.png);padding: 0; }
div.eap_23_may_2025_s1102::after {max-width:179px; width:100%;height:0;padding: 0 0 145.81005586592178% 0;}
.eap_23_may_2025_s1_q_119 {max-width:496px; max-height:104px; }
.eap_23_may_2025_s1_q_119::after {content: '\00a0';display: inline-block; width:496px; height:104px; background-position: 50.047483380816715% 98.19121447028424%; background-size: 312.2983870967742% 472.11538461538464%; background-image: url(eap23May2025s1_0.png);padding: 0; }
div.eap_23_may_2025_s1_q_119::after {max-width:496px; width:100%;height:0;padding: 0 0 20.967741935483872% 0;}
.eap_23_may_2025_s1_q_151a {max-width:171px; max-height:98px; }
.eap_23_may_2025_s1_q_151a::after {content: '\00a0';display: inline-block; width:171px; height:98px; background-position: 86.86502177068215% 59.287531806615775%; background-size: 905.8479532163743% 501.0204081632653%; background-image: url(eap23May2025s1_0.png);padding: 0; }
div.eap_23_may_2025_s1_q_151a::after {max-width:171px; width:100%;height:0;padding: 0 0 57.30994152046784% 0;}
.eap_23_may_2025_s1_q_151b {max-width:327px; max-height:97px; }
.eap_23_may_2025_s1_q_151b::after {content: '\00a0';display: inline-block; width:327px; height:97px; background-position: 83.79705400981997% 96.44670050761421%; background-size: 473.70030581039754% 506.1855670103093%; background-image: url(eap23May2025s1_0.png);padding: 0; }
div.eap_23_may_2025_s1_q_151b::after {max-width:327px; width:100%;height:0;padding: 0 0 29.66360856269113% 0;}
.eap_23_may_2025_s1_q_153 {max-width:514px; max-height:138px; }
.eap_23_may_2025_s1_q_153::after {content: '\00a0';display: inline-block; width:514px; height:138px; background-position: 50.91787439613527% 68.27195467422096%; background-size: 301.36186770428014% 355.7971014492754%; background-image: url(eap23May2025s1_0.png);padding: 0; }
div.eap_23_may_2025_s1_q_153::after {max-width:514px; width:100%;height:0;padding: 0 0 26.848249027237355% 0;}
.eap_23_may_2025_s1_q_153a {max-width:154px; max-height:132px; }
.eap_23_may_2025_s1_q_153a::after {content: '\00a0';display: inline-block; width:154px; height:132px; background-position: 74.69534050179212% 64.9025069637883%; background-size: 1005.8441558441558% 371.969696969697%; background-image: url(eap23May2025s1_0.png);padding: 0; }
div.eap_23_may_2025_s1_q_153a::after {max-width:154px; width:100%;height:0;padding: 0 0 85.71428571428571% 0;}
.eap_23_may_2025_s1_q_153b {max-width:117px; max-height:214px; }
.eap_23_may_2025_s1_q_153b::after {content: '\00a0';display: inline-block; width:117px; height:214px; background-position: 99.79050279329608% 0.36101083032490977%; background-size: 1323.931623931624% 229.4392523364486%; background-image: url(eap23May2025s1_0.png);padding: 0; }
div.eap_23_may_2025_s1_q_153b::after {max-width:117px; width:100%;height:0;padding: 0 0 182.9059829059829% 0;}
.eap_23_may_2025_s1_q_153c {max-width:230px; max-height:231px; }
.eap_23_may_2025_s1_q_153c::after {content: '\00a0';display: inline-block; width:230px; height:231px; background-position: 74.14708112206216% 0.38461538461538464%; background-size: 673.4782608695652% 212.55411255411255%; background-image: url(eap23May2025s1_0.png);padding: 0; }
div.eap_23_may_2025_s1_q_153c::after {max-width:230px; width:100%;height:0;padding: 0 0 100.43478260869566% 0;}
.eap_23_may_2025_s1_q_153d {max-width:219px; max-height:219px; }
.eap_23_may_2025_s1_q_153d::after {content: '\00a0';display: inline-block; width:219px; height:219px; background-position: 90.90225563909775% 0.36764705882352944%; background-size: 707.3059360730593% 224.20091324200914%; background-image: url(eap23May2025s1_0.png);padding: 0; }
div.eap_23_may_2025_s1_q_153d::after {max-width:219px; width:100%;height:0;padding: 0 0 100% 0;}
.eap_23_may_2025_s1_q_157 {max-width:525px; max-height:141px; }
.eap_23_may_2025_s1_q_157::after {content: '\00a0';display: inline-block; width:525px; height:141px; background-position: 0.09765625% 79.42857142857143%; background-size: 295.04761904761904% 348.2269503546099%; background-image: url(eap23May2025s1_0.png);padding: 0; }
div.eap_23_may_2025_s1_q_157::after {max-width:525px; width:100%;height:0;padding: 0 0 26.857142857142858% 0;}
.eap_23_may_2025_s1_q_83 {max-width:281px; max-height:232px; }
.eap_23_may_2025_s1_q_83::after {content: '\00a0';display: inline-block; width:281px; height:232px; background-position: 54.889589905362776% 0.3861003861003861%; background-size: 551.2455516014235% 211.63793103448276%; background-image: url(eap23May2025s1_0.png);padding: 0; }
div.eap_23_may_2025_s1_q_83::after {max-width:281px; width:100%;height:0;padding: 0 0 82.56227758007117% 0;}
.eap_23_may_2025_s1_q_86 {max-width:300px; max-height:239px; }
.eap_23_may_2025_s1_q_86::after {content: '\00a0';display: inline-block; width:300px; height:239px; background-position: 31.625300240192153% 0.3968253968253968%; background-size: 516.3333333333334% 205.43933054393307%; background-image: url(eap23May2025s1_0.png);padding: 0; }
div.eap_23_may_2025_s1_q_86::after {max-width:300px; width:100%;height:0;padding: 0 0 79.66666666666667% 0;}
.eap_23_may_2025_s1_q_88 {max-width:241px; max-height:70px; }
.eap_23_may_2025_s1_q_88::after {content: '\00a0';display: inline-block; width:241px; height:70px; background-position: 0.0764525993883792% 99.7624703087886%; background-size: 642.7385892116182% 701.4285714285714%; background-image: url(eap23May2025s1_0.png);padding: 0; }
div.eap_23_may_2025_s1_q_88::after {max-width:241px; width:100%;height:0;padding: 0 0 29.04564315352697% 0;}
.eap_23_may_2025_s1_q_99 {max-width:393px; max-height:276px; }
.eap_23_may_2025_s1_q_99::after {content: '\00a0';display: inline-block; width:393px; height:276px; background-position: 0.08650519031141868% 0.46511627906976744%; background-size: 394.147582697201% 177.8985507246377%; background-image: url(eap23May2025s1_0.png);padding: 0; }
div.eap_23_may_2025_s1_q_99::after {max-width:393px; width:100%;height:0;padding: 0 0 70.22900763358778% 0;}

@keyframes eap_23_may_2025_s1_q-frames {
    0% { background-position: 54.889589905362776% 0.3861003861003861%;  }
    14.285714285714285% { background-position: 31.625300240192153% 0.3968253968253968%;  }
    28.57142857142857% { background-position: 0.0764525993883792% 99.7624703087886%;  }
    42.857142857142854% { background-position: 0.08650519031141868% 0.46511627906976744%;  }
    57.14285714285714% { background-position: 50.047483380816715% 98.19121447028424%;  }
    71.42857142857143% { background-position: 50.91787439613527% 68.27195467422096%;  }
    85.71428571428571% { background-position: 0.09765625% 79.42857142857143%;  }
}

.eap_23_may_2025_s1_q-animation {
    max-width: 281px;
    max-height: 232px;
}
.eap_23_may_2025_s1_q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 281px;
    height: 232px;
    padding: 0;
    background-image: url(eap23May2025s1_0.png);
    background-size: 551.2455516014235% 211.63793103448276%; 
    animation-name: eap_23_may_2025_s1_q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.eap_23_may_2025_s1_q-animation::after {
    max-width: 281px;
    width: 100%;
    height: 0;
    padding: 0 0 82.56227758007117% 0;
}

/* $TexturePacker:SmartUpdate:fae778feed3da49c27346c5ff360eadd:5da89f1a9e255c8db22d2240bbf5ab46:dead33d142584f52c465bc22d7516158$ */
