/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.eap_23_may_2025_s2107 {max-width:301px; max-height:199px; }
.eap_23_may_2025_s2107::after {content: '\00a0';display: inline-block; width:301px; height:199px; background-position: 38.72663551401869% 84.78964401294499%; background-size: 668.7707641196014% 255.27638190954775%; background-image: url(eap23May2025s2_0.png);padding: 0; }
div.eap_23_may_2025_s2107::after {max-width:301px; width:100%;height:0;padding: 0 0 66.11295681063123% 0;}
.eap_23_may_2025_s2119 {max-width:332px; max-height:123px; }
.eap_23_may_2025_s2119::after {content: '\00a0';display: inline-block; width:332px; height:123px; background-position: 97.26353361094587% 96.36363636363636%; background-size: 606.3253012048193% 413.0081300813008%; background-image: url(eap23May2025s2_0.png);padding: 0; }
div.eap_23_may_2025_s2119::after {max-width:332px; width:100%;height:0;padding: 0 0 37.04819277108434% 0;}
.eap_23_may_2025_s2138 {max-width:95px; max-height:55px; }
.eap_23_may_2025_s2138::after {content: '\00a0';display: inline-block; width:95px; height:55px; background-position: 50.31282586027112% 98.01324503311258%; background-size: 2118.9473684210525% 923.6363636363636%; background-image: url(eap23May2025s2_0.png);padding: 0; }
div.eap_23_may_2025_s2138::after {max-width:95px; width:100%;height:0;padding: 0 0 57.89473684210526% 0;}
.eap_23_may_2025_s2155_a {max-width:56px; max-height:92px; }
.eap_23_may_2025_s2155_a::after {content: '\00a0';display: inline-block; width:56px; height:92px; background-position: 70.41389882473173% 36.53846153846154%; background-size: 3594.6428571428573% 552.1739130434783%; background-image: url(eap23May2025s2_0.png);padding: 0; }
div.eap_23_may_2025_s2155_a::after {max-width:56px; width:100%;height:0;padding: 0 0 164.28571428571428% 0;}
.eap_23_may_2025_s2155_b {max-width:103px; max-height:87px; }
.eap_23_may_2025_s2155_b::after {content: '\00a0';display: inline-block; width:103px; height:87px; background-position: 99.94764397905759% 0.2375296912114014%; background-size: 1954.368932038835% 583.9080459770115%; background-image: url(eap23May2025s2_0.png);padding: 0; }
div.eap_23_may_2025_s2155_b::after {max-width:103px; width:100%;height:0;padding: 0 0 84.46601941747574% 0;}
.eap_23_may_2025_s2155_c {max-width:95px; max-height:120px; }
.eap_23_may_2025_s2155_c::after {content: '\00a0';display: inline-block; width:95px; height:120px; background-position: 99.47862356621481% 46.90721649484536%; background-size: 2118.9473684210525% 423.3333333333333%; background-image: url(eap23May2025s2_0.png);padding: 0; }
div.eap_23_may_2025_s2155_c::after {max-width:95px; width:100%;height:0;padding: 0 0 126.3157894736842% 0;}
.eap_23_may_2025_s2155_d {max-width:142px; max-height:129px; }
.eap_23_may_2025_s2155_d::after {content: '\00a0';display: inline-block; width:142px; height:129px; background-position: 94.38802779262427% 0.2638522427440633%; background-size: 1417.605633802817% 393.7984496124031%; background-image: url(eap23May2025s2_0.png);padding: 0; }
div.eap_23_may_2025_s2155_d::after {max-width:142px; width:100%;height:0;padding: 0 0 90.84507042253522% 0;}
.eap_23_may_2025_s2156_a {max-width:112px; max-height:61px; }
.eap_23_may_2025_s2156_a::after {content: '\00a0';display: inline-block; width:112px; height:61px; background-position: 50.71015255128879% 42.95302013422819%; background-size: 1797.3214285714287% 832.7868852459017%; background-image: url(eap23May2025s2_0.png);padding: 0; }
div.eap_23_may_2025_s2156_a::after {max-width:112px; width:100%;height:0;padding: 0 0 54.464285714285715% 0;}
.eap_23_may_2025_s2156_b {max-width:169px; max-height:50px; }
.eap_23_may_2025_s2156_b::after {content: '\00a0';display: inline-block; width:169px; height:50px; background-position: 99.56616052060737% 28.602620087336245%; background-size: 1191.1242603550295% 1016%; background-image: url(eap23May2025s2_0.png);padding: 0; }
div.eap_23_may_2025_s2156_b::after {max-width:169px; width:100%;height:0;padding: 0 0 29.585798816568047% 0;}
.eap_23_may_2025_s2156_c {max-width:154px; max-height:51px; }
.eap_23_may_2025_s2156_c::after {content: '\00a0';display: inline-block; width:154px; height:51px; background-position: 63.42119419042496% 97.15536105032822%; background-size: 1307.142857142857% 996.0784313725491%; background-image: url(eap23May2025s2_0.png);padding: 0; }
div.eap_23_may_2025_s2156_c::after {max-width:154px; width:100%;height:0;padding: 0 0 33.116883116883116% 0;}
.eap_23_may_2025_s2156_d {max-width:117px; max-height:53px; }
.eap_23_may_2025_s2156_d::after {content: '\00a0';display: inline-block; width:117px; height:53px; background-position: 55.959915611814345% 97.58241758241758%; background-size: 1720.5128205128206% 958.4905660377359%; background-image: url(eap23May2025s2_0.png);padding: 0; }
div.eap_23_may_2025_s2156_d::after {max-width:117px; width:100%;height:0;padding: 0 0 45.2991452991453% 0;}
.eap_23_may_2025_s289 {max-width:220px; max-height:189px; }
.eap_23_may_2025_s289::after {content: '\00a0';display: inline-block; width:220px; height:189px; background-position: 53.820412716118234% 79.62382445141066%; background-size: 915% 268.78306878306876%; background-image: url(eap23May2025s2_0.png);padding: 0; }
div.eap_23_may_2025_s289::after {max-width:220px; width:100%;height:0;padding: 0 0 85.9090909090909% 0;}
.eap_23_may_2025_s2_sol_10 {max-width:300px; max-height:73px; }
.eap_23_may_2025_s2_sol_10::after {content: '\00a0';display: inline-block; width:300px; height:73px; background-position: 77.87507297139521% 91.95402298850574%; background-size: 671% 695.8904109589041%; background-image: url(eap23May2025s2_0.png);padding: 0; }
div.eap_23_may_2025_s2_sol_10::after {max-width:300px; width:100%;height:0;padding: 0 0 24.333333333333332% 0;}
.eap_23_may_2025_s2_sol_119 {max-width:360px; max-height:149px; }
.eap_23_may_2025_s2_sol_119::after {content: '\00a0';display: inline-block; width:360px; height:149px; background-position: 71.74833635813673% 69.63788300835654%; background-size: 559.1666666666666% 340.93959731543623%; background-image: url(eap23May2025s2_0.png);padding: 0; }
div.eap_23_may_2025_s2_sol_119::after {max-width:360px; width:100%;height:0;padding: 0 0 41.388888888888886% 0;}
.eap_23_may_2025_s2_sol_139 {max-width:400px; max-height:190px; }
.eap_23_may_2025_s2_sol_139::after {content: '\00a0';display: inline-block; width:400px; height:190px; background-position: 59.76441413515189% 0.31446540880503143%; background-size: 503.25% 267.36842105263156%; background-image: url(eap23May2025s2_0.png);padding: 0; }
div.eap_23_may_2025_s2_sol_139::after {max-width:400px; width:100%;height:0;padding: 0 0 47.5% 0;}
.eap_23_may_2025_s2_sol_151 {max-width:400px; max-height:89px; }
.eap_23_may_2025_s2_sol_151::after {content: '\00a0';display: inline-block; width:400px; height:89px; background-position: 88.96466212027278% 36.27684964200478%; background-size: 503.25% 570.7865168539325%; background-image: url(eap23May2025s2_0.png);padding: 0; }
div.eap_23_may_2025_s2_sol_151::after {max-width:400px; width:100%;height:0;padding: 0 0 22.25% 0;}
.eap_23_may_2025_s2_sol_155 {max-width:300px; max-height:264px; }
.eap_23_may_2025_s2_sol_155::after {content: '\00a0';display: inline-block; width:300px; height:264px; background-position: 17.629889083479277% 0.4098360655737705%; background-size: 671% 192.42424242424244%; background-image: url(eap23May2025s2_0.png);padding: 0; }
div.eap_23_may_2025_s2_sol_155::after {max-width:300px; width:100%;height:0;padding: 0 0 88% 0;}
.eap_23_may_2025_s2_sol_156 {max-width:360px; max-height:128px; }
.eap_23_may_2025_s2_sol_156::after {content: '\00a0';display: inline-block; width:360px; height:128px; background-position: 93.58741681790684% 63.68421052631579%; background-size: 559.1666666666666% 396.875%; background-image: url(eap23May2025s2_0.png);padding: 0; }
div.eap_23_may_2025_s2_sol_156::after {max-width:360px; width:100%;height:0;padding: 0 0 35.55555555555556% 0;}
.eap_23_may_2025_s2_sol_157 {max-width:400px; max-height:150px; }
.eap_23_may_2025_s2_sol_157::after {content: '\00a0';display: inline-block; width:400px; height:150px; background-position: 84.62492250464972% 0.27932960893854747%; background-size: 503.25% 338.6666666666667%; background-image: url(eap23May2025s2_0.png);padding: 0; }
div.eap_23_may_2025_s2_sol_157::after {max-width:400px; width:100%;height:0;padding: 0 0 37.5% 0;}
.eap_23_may_2025_s2_sol_41 {max-width:360px; max-height:238px; }
.eap_23_may_2025_s2_sol_41::after {content: '\00a0';display: inline-block; width:360px; height:238px; background-position: 0.060496067755595885% 99.25925925925925%; background-size: 559.1666666666666% 213.4453781512605%; background-image: url(eap23May2025s2_0.png);padding: 0; }
div.eap_23_may_2025_s2_sol_41::after {max-width:360px; width:100%;height:0;padding: 0 0 66.11111111111111% 0;}
.eap_23_may_2025_s2_sol_52 {max-width:300px; max-height:241px; }
.eap_23_may_2025_s2_sol_52::after {content: '\00a0';display: inline-block; width:300px; height:241px; background-position: 21.132516053706947% 99.62546816479401%; background-size: 671% 210.78838174273858%; background-image: url(eap23May2025s2_0.png);padding: 0; }
div.eap_23_may_2025_s2_sol_52::after {max-width:300px; width:100%;height:0;padding: 0 0 80.33333333333333% 0;}
.eap_23_may_2025_s2_sol_77 {max-width:360px; max-height:260px; }
.eap_23_may_2025_s2_sol_77::after {content: '\00a0';display: inline-block; width:360px; height:260px; background-position: 36.47912885662432% 0.4032258064516129%; background-size: 559.1666666666666% 195.3846153846154%; background-image: url(eap23May2025s2_0.png);padding: 0; }
div.eap_23_may_2025_s2_sol_77::after {max-width:360px; width:100%;height:0;padding: 0 0 72.22222222222223% 0;}
.eap_23_may_2025_s2_sol_84 {max-width:300px; max-height:57px; }
.eap_23_may_2025_s2_sol_84::after {content: '\00a0';display: inline-block; width:300px; height:57px; background-position: 62.87215411558669% 42.572062084257205%; background-size: 671% 891.2280701754386%; background-image: url(eap23May2025s2_0.png);padding: 0; }
div.eap_23_may_2025_s2_sol_84::after {max-width:300px; width:100%;height:0;padding: 0 0 19% 0;}
.eap_23_may_2025_s2_sol_89 {max-width:300px; max-height:266px; }
.eap_23_may_2025_s2_sol_89::after {content: '\00a0';display: inline-block; width:300px; height:266px; background-position: 0.05837711617046118% 0.4132231404958678%; background-size: 671% 190.97744360902254%; background-image: url(eap23May2025s2_0.png);padding: 0; }
div.eap_23_may_2025_s2_sol_89::after {max-width:300px; width:100%;height:0;padding: 0 0 88.66666666666667% 0;}

@keyframes eap_23_may_2025_s-frames {
    0% { background-position: 53.820412716118234% 79.62382445141066%;  }
    25% { background-position: 38.72663551401869% 84.78964401294499%;  }
    50% { background-position: 97.26353361094587% 96.36363636363636%;  }
    75% { background-position: 50.31282586027112% 98.01324503311258%;  }
}

.eap_23_may_2025_s-animation {
    max-width: 220px;
    max-height: 189px;
}
.eap_23_may_2025_s-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 220px;
    height: 189px;
    padding: 0;
    background-image: url(eap23May2025s2_0.png);
    background-size: 915% 268.78306878306876%; 
    animation-name: eap_23_may_2025_s-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.eap_23_may_2025_s-animation::after {
    max-width: 220px;
    width: 100%;
    height: 0;
    padding: 0 0 85.9090909090909% 0;
}

@keyframes eap_23_may_2025_s2_sol-frames {
    0% { background-position: 77.87507297139521% 91.95402298850574%;  }
    8.333333333333332% { background-position: 0.060496067755595885% 99.25925925925925%;  }
    16.666666666666664% { background-position: 21.132516053706947% 99.62546816479401%;  }
    25% { background-position: 36.47912885662432% 0.4032258064516129%;  }
    33.33333333333333% { background-position: 62.87215411558669% 42.572062084257205%;  }
    41.66666666666667% { background-position: 0.05837711617046118% 0.4132231404958678%;  }
    50% { background-position: 71.74833635813673% 69.63788300835654%;  }
    58.333333333333336% { background-position: 59.76441413515189% 0.31446540880503143%;  }
    66.66666666666666% { background-position: 88.96466212027278% 36.27684964200478%;  }
    75% { background-position: 17.629889083479277% 0.4098360655737705%;  }
    83.33333333333334% { background-position: 93.58741681790684% 63.68421052631579%;  }
    91.66666666666666% { background-position: 84.62492250464972% 0.27932960893854747%;  }
}

.eap_23_may_2025_s2_sol-animation {
    max-width: 300px;
    max-height: 73px;
}
.eap_23_may_2025_s2_sol-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 300px;
    height: 73px;
    padding: 0;
    background-image: url(eap23May2025s2_0.png);
    background-size: 671% 695.8904109589041%; 
    animation-name: eap_23_may_2025_s2_sol-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.eap_23_may_2025_s2_sol-animation::after {
    max-width: 300px;
    width: 100%;
    height: 0;
    padding: 0 0 24.333333333333332% 0;
}

/* $TexturePacker:SmartUpdate:94eeb405816c5e30ad697259efd6bcf3:d348a955efda9615ea7af74a9f0cb9db:29e8624cd5258d0f227f758822498847$ */
