/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/


.AP_PANCHAYATISECRETARY_MP1_49 {max-width:464px; max-height:131px; }
.AP_PANCHAYATISECRETARY_MP1_49::after {content: '\00a0';display: inline-block; width:464px; height:131px; background-position: 81.34831460674157% 84.2911877394636%;background-size: 195.9051724137931% 299.23664122137404%;background-image: url(ap_panchyat_md_set1.png);padding: 0; }
div.AP_PANCHAYATISECRETARY_MP1_49::after {max-width:464px; width:100%;height:0;padding: 0 0 28.232758620689655% 0;}
.AP_PANCHAYATISECRETARY_MP1_60 {max-width:179px; max-height:105px; }
.AP_PANCHAYATISECRETARY_MP1_60::after {content: '\00a0';display: inline-block; width:179px; height:105px; background-position: 80.13698630136986% 0.34843205574912894%;background-size: 507.8212290502793% 373.3333333333333%;background-image: url(ap_panchyat_md_set1.png);padding: 0; }
div.AP_PANCHAYATISECRETARY_MP1_60::after {max-width:179px; width:100%;height:0;padding: 0 0 58.659217877094974% 0;}
.AP_PANCHAYATISECRETARY_MP1_60_1 {max-width:155px; max-height:90px; }
.AP_PANCHAYATISECRETARY_MP1_60_1::after {content: '\00a0';display: inline-block; width:155px; height:90px; background-position: 77.58620689655173% 35.43046357615894%;background-size: 586.4516129032259% 435.55555555555554%;background-image: url(ap_panchyat_md_set1.png);padding: 0; }
div.AP_PANCHAYATISECRETARY_MP1_60_1::after {max-width:155px; width:100%;height:0;padding: 0 0 58.064516129032256% 0;}
.AP_PANCHAYATISECRETARY_MP1_60_2 {max-width:167px; max-height:79px; }
.AP_PANCHAYATISECRETARY_MP1_60_2::after {content: '\00a0';display: inline-block; width:167px; height:79px; background-position: 99.86522911051213% 34.185303514377%;background-size: 544.311377245509% 496.2025316455696%;background-image: url(ap_panchyat_md_set1.png);padding: 0; }
div.AP_PANCHAYATISECRETARY_MP1_60_2::after {max-width:167px; width:100%;height:0;padding: 0 0 47.30538922155689% 0;}
.AP_PANCHAYATISECRETARY_MP1_60_3 {max-width:131px; max-height:94px; }
.AP_PANCHAYATISECRETARY_MP1_60_3::after {content: '\00a0';display: inline-block; width:131px; height:94px; background-position: 98.32904884318766% 0.33557046979865773%;background-size: 693.8931297709923% 417.02127659574467%;background-image: url(ap_panchyat_md_set1.png);padding: 0; }
div.AP_PANCHAYATISECRETARY_MP1_60_3::after {max-width:131px; width:100%;height:0;padding: 0 0 71.7557251908397% 0;}
.AP_PANCHAYATISECRETARY_MP1_61 {max-width:169px; max-height:158px; }
.AP_PANCHAYATISECRETARY_MP1_61::after {content: '\00a0';display: inline-block; width:169px; height:158px; background-position: 25.945945945945947% 94.01709401709402%;background-size: 537.8698224852071% 248.1012658227848%;background-image: url(ap_panchyat_md_set1.png);padding: 0; }
div.AP_PANCHAYATISECRETARY_MP1_61::after {max-width:169px; width:100%;height:0;padding: 0 0 93.49112426035504% 0;}
.AP_PANCHAYATISECRETARY_MP1_62 {max-width:190px; max-height:160px; }
.AP_PANCHAYATISECRETARY_MP1_62::after {content: '\00a0';display: inline-block; width:190px; height:160px; background-position: 0.13908205841446453% 94.82758620689656%;background-size: 478.42105263157896% 245%;background-image: url(ap_panchyat_md_set1.png);padding: 0; }
div.AP_PANCHAYATISECRETARY_MP1_62::after {max-width:190px; width:100%;height:0;padding: 0 0 84.21052631578948% 0;}
.AP_PANCHAYATISECRETARY_MP3_57 {max-width:583px; max-height:218px; }
.AP_PANCHAYATISECRETARY_MP3_57::after {content: '\00a0';display: inline-block; width:583px; height:218px; background-position: 0.3067484662576687% 0.5747126436781609%;background-size: 155.91766723842196% 179.8165137614679%;background-image: url(ap_panchyat_md_set1.png);padding: 0; }
div.AP_PANCHAYATISECRETARY_MP3_57::after {max-width:583px; width:100%;height:0;padding: 0 0 37.39279588336192% 0;}
.AP_PANCHAYATISECRETARY_MP4_68 {max-width:276px; max-height:39px; }
.AP_PANCHAYATISECRETARY_MP4_68::after {content: '\00a0';display: inline-block; width:276px; height:39px; background-position: 57.187993680884674% 99.71671388101983%;background-size: 329.3478260869565% 1005.1282051282051%;background-image: url(ap_panchyat_md_set1.png);padding: 0; }
div.AP_PANCHAYATISECRETARY_MP4_68::after {max-width:276px; width:100%;height:0;padding: 0 0 14.130434782608695% 0;}

/* $TexturePacker:SmartUpdate:3f4caa02603fd62b53495889df0e034d:904e641e3e604a778bb04a139fa4108e:d689c6b42eeaec06a2a44ede97c1011b$ */
