/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.tg_eap_2_may_2025_s1_q_105 {max-width:250px; max-height:277px; }
.tg_eap_2_may_2025_s1_q_105::after {content: '\00a0';display: inline-block; width:250px; height:277px; background-position: 0.13262599469496023% 0.06596306068601583%; background-size: 401.6% 647.2924187725632%; background-image: url(ts_2_may_2025_s1_0.png);padding: 0; }
div.tg_eap_2_may_2025_s1_q_105::after {max-width:250px; width:100%;height:0;padding: 0 0 110.8% 0;}
.tg_eap_2_may_2025_s1_q_119 {max-width:300px; max-height:172px; }
.tg_eap_2_may_2025_s1_q_119::after {content: '\00a0';display: inline-block; width:300px; height:172px; background-position: 99.85795454545455% 89.2041949413942%; background-size: 334.6666666666667% 1042.4418604651162%; background-image: url(ts_2_may_2025_s1_0.png);padding: 0; }
div.tg_eap_2_may_2025_s1_q_119::after {max-width:300px; width:100%;height:0;padding: 0 0 57.333333333333336% 0;}
.tg_eap_2_may_2025_s1_q_137 {max-width:500px; max-height:69px; }
.tg_eap_2_may_2025_s1_q_137::after {content: '\00a0';display: inline-block; width:500px; height:69px; background-position: 99.8015873015873% 7.77262180974478%; background-size: 200.8% 2598.550724637681%; background-image: url(ts_2_may_2025_s1_0.png);padding: 0; }
div.tg_eap_2_may_2025_s1_q_137::after {max-width:500px; width:100%;height:0;padding: 0 0 13.8% 0;}
.tg_eap_2_may_2025_s1_q_138a {max-width:500px; max-height:69px; }
.tg_eap_2_may_2025_s1_q_138a::after {content: '\00a0';display: inline-block; width:500px; height:69px; background-position: 50% 27.610208816705338%; background-size: 200.8% 2598.550724637681%; background-image: url(ts_2_may_2025_s1_0.png);padding: 0; }
div.tg_eap_2_may_2025_s1_q_138a::after {max-width:500px; width:100%;height:0;padding: 0 0 13.8% 0;}
.tg_eap_2_may_2025_s1_q_138b {max-width:500px; max-height:91px; }
.tg_eap_2_may_2025_s1_q_138b::after {content: '\00a0';display: inline-block; width:500px; height:91px; background-position: 50% 22.561692126909517%; background-size: 200.8% 1970.3296703296703%; background-image: url(ts_2_may_2025_s1_0.png);padding: 0; }
div.tg_eap_2_may_2025_s1_q_138b::after {max-width:500px; width:100%;height:0;padding: 0 0 18.2% 0;}
.tg_eap_2_may_2025_s1_q_138c {max-width:500px; max-height:64px; }
.tg_eap_2_may_2025_s1_q_138c::after {content: '\00a0';display: inline-block; width:500px; height:64px; background-position: 50% 35.51185656448814%; background-size: 200.8% 2801.5625%; background-image: url(ts_2_may_2025_s1_0.png);padding: 0; }
div.tg_eap_2_may_2025_s1_q_138c::after {max-width:500px; width:100%;height:0;padding: 0 0 12.8% 0;}
.tg_eap_2_may_2025_s1_q_138d {max-width:500px; max-height:67px; }
.tg_eap_2_may_2025_s1_q_138d::after {content: '\00a0';display: inline-block; width:500px; height:67px; background-position: 50% 31.63383545770568%; background-size: 200.8% 2676.1194029850744%; background-image: url(ts_2_may_2025_s1_0.png);padding: 0; }
div.tg_eap_2_may_2025_s1_q_138d::after {max-width:500px; width:100%;height:0;padding: 0 0 13.4% 0;}
.tg_eap_2_may_2025_s1_q_139 {max-width:360px; max-height:133px; }
.tg_eap_2_may_2025_s1_q_139::after {content: '\00a0';display: inline-block; width:360px; height:133px; background-position: 77.95031055900621% 46.86746987951807%; background-size: 278.8888888888889% 1348.1203007518798%; background-image: url(ts_2_may_2025_s1_0.png);padding: 0; }
div.tg_eap_2_may_2025_s1_q_139::after {max-width:360px; width:100%;height:0;padding: 0 0 36.94444444444444% 0;}
.tg_eap_2_may_2025_s1_q_139a {max-width:400px; max-height:132px; }
.tg_eap_2_may_2025_s1_q_139a::after {content: '\00a0';display: inline-block; width:400px; height:132px; background-position: 83.27814569536424% 0.060204695966285374%; background-size: 251% 1358.3333333333333%; background-image: url(ts_2_may_2025_s1_0.png);padding: 0; }
div.tg_eap_2_may_2025_s1_q_139a::after {max-width:400px; width:100%;height:0;padding: 0 0 33% 0;}
.tg_eap_2_may_2025_s1_q_144a {max-width:250px; max-height:200px; }
.tg_eap_2_may_2025_s1_q_144a::after {content: '\00a0';display: inline-block; width:250px; height:200px; background-position: 99.86737400530504% 23.038292529817955%; background-size: 401.6% 896.5%; background-image: url(ts_2_may_2025_s1_0.png);padding: 0; }
div.tg_eap_2_may_2025_s1_q_144a::after {max-width:250px; width:100%;height:0;padding: 0 0 80% 0;}
.tg_eap_2_may_2025_s1_q_144b {max-width:250px; max-height:218px; }
.tg_eap_2_may_2025_s1_q_144b::after {content: '\00a0';display: inline-block; width:250px; height:218px; background-position: 33.42175066312998% 0.06349206349206349%; background-size: 401.6% 822.4770642201835%; background-image: url(ts_2_may_2025_s1_0.png);padding: 0; }
div.tg_eap_2_may_2025_s1_q_144b::after {max-width:250px; width:100%;height:0;padding: 0 0 87.2% 0;}
.tg_eap_2_may_2025_s1_q_144c {max-width:300px; max-height:209px; }
.tg_eap_2_may_2025_s1_q_144c::after {content: '\00a0';display: inline-block; width:300px; height:209px; background-position: 0.14204545454545456% 73.67424242424242%; background-size: 334.6666666666667% 857.8947368421053%; background-image: url(ts_2_may_2025_s1_0.png);padding: 0; }
div.tg_eap_2_may_2025_s1_q_144c::after {max-width:300px; width:100%;height:0;padding: 0 0 69.66666666666667% 0;}
.tg_eap_2_may_2025_s1_q_144d {max-width:300px; max-height:193px; }
.tg_eap_2_may_2025_s1_q_144d::after {content: '\00a0';display: inline-block; width:300px; height:193px; background-position: 0.14204545454545456% 86.0625%; background-size: 334.6666666666667% 929.0155440414508%; background-image: url(ts_2_may_2025_s1_0.png);padding: 0; }
div.tg_eap_2_may_2025_s1_q_144d::after {max-width:300px; width:100%;height:0;padding: 0 0 64.33333333333333% 0;}
.tg_eap_2_may_2025_s1_q_155a {max-width:300px; max-height:214px; }
.tg_eap_2_may_2025_s1_q_155a::after {content: '\00a0';display: inline-block; width:300px; height:214px; background-position: 57.10227272727273% 66.11779607346422%; background-size: 334.6666666666667% 837.8504672897196%; background-image: url(ts_2_may_2025_s1_0.png);padding: 0; }
div.tg_eap_2_may_2025_s1_q_155a::after {max-width:300px; width:100%;height:0;padding: 0 0 71.33333333333333% 0;}
.tg_eap_2_may_2025_s1_q_155b {max-width:300px; max-height:153px; }
.tg_eap_2_may_2025_s1_q_155b::after {content: '\00a0';display: inline-block; width:300px; height:153px; background-position: 42.89772727272727% 92.5%; background-size: 334.6666666666667% 1171.8954248366013%; background-image: url(ts_2_may_2025_s1_0.png);padding: 0; }
div.tg_eap_2_may_2025_s1_q_155b::after {max-width:300px; width:100%;height:0;padding: 0 0 51% 0;}
.tg_eap_2_may_2025_s1_q_155c {max-width:300px; max-height:151px; }
.tg_eap_2_may_2025_s1_q_155c::after {content: '\00a0';display: inline-block; width:300px; height:151px; background-position: 0.14204545454545456% 95.67600487210719%; background-size: 334.6666666666667% 1187.4172185430464%; background-image: url(ts_2_may_2025_s1_0.png);padding: 0; }
div.tg_eap_2_may_2025_s1_q_155c::after {max-width:300px; width:100%;height:0;padding: 0 0 50.333333333333336% 0;}
.tg_eap_2_may_2025_s1_q_155d {max-width:320px; max-height:132px; }
.tg_eap_2_may_2025_s1_q_155d::after {content: '\00a0';display: inline-block; width:320px; height:132px; background-position: 88.15789473684211% 75.79771222155328%; background-size: 313.75% 1358.3333333333333%; background-image: url(ts_2_may_2025_s1_0.png);padding: 0; }
div.tg_eap_2_may_2025_s1_q_155d::after {max-width:320px; width:100%;height:0;padding: 0 0 41.25% 0;}
.tg_eap_2_may_2025_s1_q_158 {max-width:500px; max-height:245px; }
.tg_eap_2_may_2025_s1_q_158::after {content: '\00a0';display: inline-block; width:500px; height:245px; background-position: 0.1984126984126984% 51.55038759689923%; background-size: 200.8% 731.8367346938776%; background-image: url(ts_2_may_2025_s1_0.png);padding: 0; }
div.tg_eap_2_may_2025_s1_q_158::after {max-width:500px; width:100%;height:0;padding: 0 0 49% 0;}
.tg_eap_2_may_2025_s1_q_160 {max-width:400px; max-height:55px; }
.tg_eap_2_may_2025_s1_q_160::after {content: '\00a0';display: inline-block; width:400px; height:55px; background-position: 50% 84.06214039125432%; background-size: 251% 3260%; background-image: url(ts_2_may_2025_s1_0.png);padding: 0; }
div.tg_eap_2_may_2025_s1_q_160::after {max-width:400px; width:100%;height:0;padding: 0 0 13.75% 0;}
.tg_eap_2_may_2025_s1_q_160a {max-width:400px; max-height:91px; }
.tg_eap_2_may_2025_s1_q_160a::after {content: '\00a0';display: inline-block; width:400px; height:91px; background-position: 83.11258278145695% 53.5840188014101%; background-size: 251% 1970.3296703296703%; background-image: url(ts_2_may_2025_s1_0.png);padding: 0; }
div.tg_eap_2_may_2025_s1_q_160a::after {max-width:400px; width:100%;height:0;padding: 0 0 22.75% 0;}
.tg_eap_2_may_2025_s1_sol_119 {max-width:320px; max-height:162px; }
.tg_eap_2_may_2025_s1_sol_119::after {content: '\00a0';display: inline-block; width:320px; height:162px; background-position: 95.46783625730994% 12.507664009809933%; background-size: 313.75% 1106.79012345679%; background-image: url(ts_2_may_2025_s1_0.png);padding: 0; }
div.tg_eap_2_may_2025_s1_sol_119::after {max-width:320px; width:100%;height:0;padding: 0 0 50.625% 0;}
.tg_eap_2_may_2025_s1_sol_125 {max-width:300px; max-height:121px; }
.tg_eap_2_may_2025_s1_sol_125::after {content: '\00a0';display: inline-block; width:300px; height:121px; background-position: 42.89772727272727% 99.9401913875598%; background-size: 334.6666666666667% 1481.8181818181818%; background-image: url(ts_2_may_2025_s1_0.png);padding: 0; }
div.tg_eap_2_may_2025_s1_sol_125::after {max-width:300px; width:100%;height:0;padding: 0 0 40.333333333333336% 0;}
.tg_eap_2_may_2025_s1_sol_129 {max-width:300px; max-height:121px; }
.tg_eap_2_may_2025_s1_sol_129::after {content: '\00a0';display: inline-block; width:300px; height:121px; background-position: 42.89772727272727% 99.9401913875598%; background-size: 334.6666666666667% 1481.8181818181818%; background-image: url(ts_2_may_2025_s1_0.png);padding: 0; }
div.tg_eap_2_may_2025_s1_sol_129::after {max-width:300px; width:100%;height:0;padding: 0 0 40.333333333333336% 0;}
.tg_eap_2_may_2025_s1_sol_130 {max-width:320px; max-height:95px; }
.tg_eap_2_may_2025_s1_sol_130::after {content: '\00a0';display: inline-block; width:320px; height:95px; background-position: 95.46783625730994% 39.98822143698469%; background-size: 313.75% 1887.3684210526317%; background-image: url(ts_2_may_2025_s1_0.png);padding: 0; }
div.tg_eap_2_may_2025_s1_sol_130::after {max-width:320px; width:100%;height:0;padding: 0 0 29.6875% 0;}
.tg_eap_2_may_2025_s1_sol_133 {max-width:300px; max-height:66px; }
.tg_eap_2_may_2025_s1_sol_133::after {content: '\00a0';display: inline-block; width:300px; height:66px; background-position: 0.14204545454545456% 99.76838448176028%; background-size: 334.6666666666667% 2716.6666666666665%; background-image: url(ts_2_may_2025_s1_0.png);padding: 0; }
div.tg_eap_2_may_2025_s1_sol_133::after {max-width:300px; width:100%;height:0;padding: 0 0 22% 0;}
.tg_eap_2_may_2025_s1_sol_137 {max-width:400px; max-height:53px; }
.tg_eap_2_may_2025_s1_sol_137::after {content: '\00a0';display: inline-block; width:400px; height:53px; background-position: 99.83443708609272% 80%; background-size: 251% 3383.0188679245284%; background-image: url(ts_2_may_2025_s1_0.png);padding: 0; }
div.tg_eap_2_may_2025_s1_sol_137::after {max-width:400px; width:100%;height:0;padding: 0 0 13.25% 0;}
.tg_eap_2_may_2025_s1_sol_147 {max-width:300px; max-height:122px; }
.tg_eap_2_may_2025_s1_sol_147::after {content: '\00a0';display: inline-block; width:300px; height:122px; background-position: 85.6534090909091% 96.88809096349492%; background-size: 334.6666666666667% 1469.672131147541%; background-image: url(ts_2_may_2025_s1_0.png);padding: 0; }
div.tg_eap_2_may_2025_s1_sol_147::after {max-width:300px; width:100%;height:0;padding: 0 0 40.666666666666664% 0;}
.tg_eap_2_may_2025_s1_sol_148 {max-width:250px; max-height:191px; }
.tg_eap_2_may_2025_s1_sol_148::after {content: '\00a0';display: inline-block; width:250px; height:191px; background-position: 93.23607427055703% 62.671660424469415%; background-size: 401.6% 938.7434554973822%; background-image: url(ts_2_may_2025_s1_0.png);padding: 0; }
div.tg_eap_2_may_2025_s1_sol_148::after {max-width:250px; width:100%;height:0;padding: 0 0 76.4% 0;}
.tg_eap_2_may_2025_s1_sol_155 {max-width:250px; max-height:93px; }
.tg_eap_2_may_2025_s1_sol_155::after {content: '\00a0';display: inline-block; width:250px; height:93px; background-position: 99.86737400530504% 33.411764705882355%; background-size: 401.6% 1927.9569892473119%; background-image: url(ts_2_may_2025_s1_0.png);padding: 0; }
div.tg_eap_2_may_2025_s1_sol_155::after {max-width:250px; width:100%;height:0;padding: 0 0 37.2% 0;}
.tg_eap_2_may_2025_s1_sol_156 {max-width:400px; max-height:163px; }
.tg_eap_2_may_2025_s1_sol_156::after {content: '\00a0';display: inline-block; width:400px; height:163px; background-position: 41.72185430463576% 13.496932515337424%; background-size: 251% 1100%; background-image: url(ts_2_may_2025_s1_0.png);padding: 0; }
div.tg_eap_2_may_2025_s1_sol_156::after {max-width:400px; width:100%;height:0;padding: 0 0 40.75% 0;}
.tg_eap_2_may_2025_s1_sol_157 {max-width:400px; max-height:98px; }
.tg_eap_2_may_2025_s1_sol_157::after {content: '\00a0';display: inline-block; width:400px; height:98px; background-position: 41.72185430463576% 40.05899705014749%; background-size: 251% 1829.591836734694%; background-image: url(ts_2_may_2025_s1_0.png);padding: 0; }
div.tg_eap_2_may_2025_s1_sol_157::after {max-width:400px; width:100%;height:0;padding: 0 0 24.5% 0;}
.tg_eap_2_may_2025_s1_sol_160 {max-width:400px; max-height:122px; }
.tg_eap_2_may_2025_s1_sol_160::after {content: '\00a0';display: inline-block; width:400px; height:122px; background-position: 0.16556291390728478% 62.47755834829444%; background-size: 251% 1469.672131147541%; background-image: url(ts_2_may_2025_s1_0.png);padding: 0; }
div.tg_eap_2_may_2025_s1_sol_160::after {max-width:400px; width:100%;height:0;padding: 0 0 30.5% 0;}
.tg_eap_2_may_2025_s1_sol_17 {max-width:250px; max-height:255px; }
.tg_eap_2_may_2025_s1_sol_17::after {content: '\00a0';display: inline-block; width:250px; height:255px; background-position: 0.13262599469496023% 35.24057217165149%; background-size: 401.6% 703.1372549019608%; background-image: url(ts_2_may_2025_s1_0.png);padding: 0; }
div.tg_eap_2_may_2025_s1_sol_17::after {max-width:250px; width:100%;height:0;padding: 0 0 102% 0;}
.tg_eap_2_may_2025_s1_sol_84 {max-width:250px; max-height:262px; }
.tg_eap_2_may_2025_s1_sol_84::after {content: '\00a0';display: inline-block; width:250px; height:262px; background-position: 0.13262599469496023% 18.22338340953625%; background-size: 401.6% 684.3511450381679%; background-image: url(ts_2_may_2025_s1_0.png);padding: 0; }
div.tg_eap_2_may_2025_s1_sol_84::after {max-width:250px; width:100%;height:0;padding: 0 0 104.8% 0;}
.tg_eap_2_may_2025_s1_sol_86 {max-width:300px; max-height:201px; }
.tg_eap_2_may_2025_s1_sol_86::after {content: '\00a0';display: inline-block; width:300px; height:201px; background-position: 42.89772727272727% 79.08291457286433%; background-size: 334.6666666666667% 892.0398009950248%; background-image: url(ts_2_may_2025_s1_0.png);padding: 0; }
div.tg_eap_2_may_2025_s1_sol_86::after {max-width:300px; width:100%;height:0;padding: 0 0 67% 0;}

@keyframes tg_eap_2_may_2025_s1_q-frames {
    0% { background-position: 0.13262599469496023% 0.06596306068601583%;  }
    16.666666666666664% { background-position: 99.85795454545455% 89.2041949413942%;  }
    33.33333333333333% { background-position: 99.8015873015873% 7.77262180974478%;  }
    50% { background-position: 77.95031055900621% 46.86746987951807%;  }
    66.66666666666666% { background-position: 0.1984126984126984% 51.55038759689923%;  }
    83.33333333333334% { background-position: 50% 84.06214039125432%;  }
}

.tg_eap_2_may_2025_s1_q-animation {
    max-width: 250px;
    max-height: 277px;
}
.tg_eap_2_may_2025_s1_q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 250px;
    height: 277px;
    padding: 0;
    background-image: url(ts_2_may_2025_s1_0.png);
    background-size: 401.6% 647.2924187725632%; 
    animation-name: tg_eap_2_may_2025_s1_q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.tg_eap_2_may_2025_s1_q-animation::after {
    max-width: 250px;
    width: 100%;
    height: 0;
    padding: 0 0 110.8% 0;
}

@keyframes tg_eap_2_may_2025_s1_sol-frames {
    0% { background-position: 0.13262599469496023% 35.24057217165149%;  }
    6.666666666666667% { background-position: 0.13262599469496023% 18.22338340953625%;  }
    13.333333333333334% { background-position: 42.89772727272727% 79.08291457286433%;  }
    20% { background-position: 95.46783625730994% 12.507664009809933%;  }
    26.666666666666668% { background-position: 42.89772727272727% 99.9401913875598%;  }
    33.33333333333333% { background-position: 42.89772727272727% 99.9401913875598%;  }
    40% { background-position: 95.46783625730994% 39.98822143698469%;  }
    46.666666666666664% { background-position: 0.14204545454545456% 99.76838448176028%;  }
    53.333333333333336% { background-position: 99.83443708609272% 80%;  }
    60% { background-position: 85.6534090909091% 96.88809096349492%;  }
    66.66666666666666% { background-position: 93.23607427055703% 62.671660424469415%;  }
    73.33333333333333% { background-position: 99.86737400530504% 33.411764705882355%;  }
    80% { background-position: 41.72185430463576% 13.496932515337424%;  }
    86.66666666666667% { background-position: 41.72185430463576% 40.05899705014749%;  }
    93.33333333333333% { background-position: 0.16556291390728478% 62.47755834829444%;  }
}

.tg_eap_2_may_2025_s1_sol-animation {
    max-width: 250px;
    max-height: 255px;
}
.tg_eap_2_may_2025_s1_sol-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 250px;
    height: 255px;
    padding: 0;
    background-image: url(ts_2_may_2025_s1_0.png);
    background-size: 401.6% 703.1372549019608%; 
    animation-name: tg_eap_2_may_2025_s1_sol-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.tg_eap_2_may_2025_s1_sol-animation::after {
    max-width: 250px;
    width: 100%;
    height: 0;
    padding: 0 0 102% 0;
}

/* $TexturePacker:SmartUpdate:c05627864a1a7224c10ea507b6429f83:68f225db1db5cfdb564d7063d2a87a2d:e2a79232c30a15855755dee321d57b55$ */
