/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.tg_eap_2_may_2025_s2_q_105 {max-width:250px; max-height:230px; }
.tg_eap_2_may_2025_s2_q_105::after {content: '\00a0';display: inline-block; width:250px; height:230px; background-position: 35.068649885583525% 35.43624161073826%; background-size: 799.2% 423.9130434782609%; background-image: url(ts_2_may_2025_s2_0.png);padding: 0; }
div.tg_eap_2_may_2025_s2_q_105::after {max-width:250px; width:100%;height:0;padding: 0 0 92% 0;}
.tg_eap_2_may_2025_s2_q_109 {max-width:250px; max-height:262px; }
.tg_eap_2_may_2025_s2_q_109::after {content: '\00a0';display: inline-block; width:250px; height:262px; background-position: 31.63615560640732% 0.1402524544179523%; background-size: 799.2% 372.1374045801527%; background-image: url(ts_2_may_2025_s2_0.png);padding: 0; }
div.tg_eap_2_may_2025_s2_q_109::after {max-width:250px; width:100%;height:0;padding: 0 0 104.8% 0;}
.tg_eap_2_may_2025_s2_q_123 {max-width:250px; max-height:160px; }
.tg_eap_2_may_2025_s2_q_123::after {content: '\00a0';display: inline-block; width:250px; height:160px; background-position: 64.35926773455378% 66.0122699386503%; background-size: 799.2% 609.375%; background-image: url(ts_2_may_2025_s2_0.png);padding: 0; }
div.tg_eap_2_may_2025_s2_q_123::after {max-width:250px; width:100%;height:0;padding: 0 0 64% 0;}
.tg_eap_2_may_2025_s2_q_127 {max-width:400px; max-height:184px; }
.tg_eap_2_may_2025_s2_q_127::after {content: '\00a0';display: inline-block; width:400px; height:184px; background-position: 41.48936170212766% 99.49431099873578%; background-size: 499.5% 529.8913043478261%; background-image: url(ts_2_may_2025_s2_0.png);padding: 0; }
div.tg_eap_2_may_2025_s2_q_127::after {max-width:400px; width:100%;height:0;padding: 0 0 46% 0;}
.tg_eap_2_may_2025_s2_q_152a {max-width:300px; max-height:159px; }
.tg_eap_2_may_2025_s2_q_152a::after {content: '\00a0';display: inline-block; width:300px; height:159px; background-position: 0.05889281507656066% 99.87745098039215%; background-size: 666% 613.2075471698113%; background-image: url(ts_2_may_2025_s2_0.png);padding: 0; }
div.tg_eap_2_may_2025_s2_q_152a::after {max-width:300px; width:100%;height:0;padding: 0 0 53% 0;}
.tg_eap_2_may_2025_s2_q_152b {max-width:300px; max-height:92px; }
.tg_eap_2_may_2025_s2_q_152b::after {content: '\00a0';display: inline-block; width:300px; height:92px; background-position: 74.49941107184924% 47.45186862967157%; background-size: 666% 1059.7826086956522%; background-image: url(ts_2_may_2025_s2_0.png);padding: 0; }
div.tg_eap_2_may_2025_s2_q_152b::after {max-width:300px; width:100%;height:0;padding: 0 0 30.666666666666668% 0;}
.tg_eap_2_may_2025_s2_q_152c {max-width:300px; max-height:204px; }
.tg_eap_2_may_2025_s2_q_152c::after {content: '\00a0';display: inline-block; width:300px; height:204px; background-position: 72.14369846878681% 27.756160830090792%; background-size: 666% 477.94117647058823%; background-image: url(ts_2_may_2025_s2_0.png);padding: 0; }
div.tg_eap_2_may_2025_s2_q_152c::after {max-width:300px; width:100%;height:0;padding: 0 0 68% 0;}
.tg_eap_2_may_2025_s2_q_152d {max-width:300px; max-height:134px; }
.tg_eap_2_may_2025_s2_q_152d::after {content: '\00a0';display: inline-block; width:300px; height:134px; background-position: 80.3886925795053% 99.40546967895362%; background-size: 666% 727.6119402985074%; background-image: url(ts_2_may_2025_s2_0.png);padding: 0; }
div.tg_eap_2_may_2025_s2_q_152d::after {max-width:300px; width:100%;height:0;padding: 0 0 44.666666666666664% 0;}
.tg_eap_2_may_2025_s2_q_156a {max-width:360px; max-height:267px; }
.tg_eap_2_may_2025_s2_q_156a::after {content: '\00a0';display: inline-block; width:360px; height:267px; background-position: 15.384615384615385% 38.27683615819209%; background-size: 555% 365.1685393258427%; background-image: url(ts_2_may_2025_s2_0.png);padding: 0; }
div.tg_eap_2_may_2025_s2_q_156a::after {max-width:360px; width:100%;height:0;padding: 0 0 74.16666666666667% 0;}
.tg_eap_2_may_2025_s2_q_156b {max-width:360px; max-height:127px; }
.tg_eap_2_may_2025_s2_q_156b::after {content: '\00a0';display: inline-block; width:360px; height:127px; background-position: 95.6043956043956% 54.4811320754717%; background-size: 555% 767.7165354330708%; background-image: url(ts_2_may_2025_s2_0.png);padding: 0; }
div.tg_eap_2_may_2025_s2_q_156b::after {max-width:360px; width:100%;height:0;padding: 0 0 35.27777777777778% 0;}
.tg_eap_2_may_2025_s2_q_156c {max-width:360px; max-height:177px; }
.tg_eap_2_may_2025_s2_q_156c::after {content: '\00a0';display: inline-block; width:360px; height:177px; background-position: 18.437118437118436% 99.74937343358395%; background-size: 555% 550.8474576271186%; background-image: url(ts_2_may_2025_s2_0.png);padding: 0; }
div.tg_eap_2_may_2025_s2_q_156c::after {max-width:360px; width:100%;height:0;padding: 0 0 49.166666666666664% 0;}
.tg_eap_2_may_2025_s2_q_156d {max-width:360px; max-height:212px; }
.tg_eap_2_may_2025_s2_q_156d::after {content: '\00a0';display: inline-block; width:360px; height:212px; background-position: 52.747252747252745% 28.440366972477065%; background-size: 555% 459.9056603773585%; background-image: url(ts_2_may_2025_s2_0.png);padding: 0; }
div.tg_eap_2_may_2025_s2_q_156d::after {max-width:360px; width:100%;height:0;padding: 0 0 58.888888888888886% 0;}
.tg_eap_2_may_2025_s2_q_158 {max-width:400px; max-height:107px; }
.tg_eap_2_may_2025_s2_q_158::after {content: '\00a0';display: inline-block; width:400px; height:107px; background-position: 54.06758448060075% 49.53917050691244%; background-size: 499.5% 911.2149532710281%; background-image: url(ts_2_may_2025_s2_0.png);padding: 0; }
div.tg_eap_2_may_2025_s2_q_158::after {max-width:400px; width:100%;height:0;padding: 0 0 26.75% 0;}
.tg_eap_2_may_2025_s2_q_158a {max-width:320px; max-height:167px; }
.tg_eap_2_may_2025_s2_q_158a::after {content: '\00a0';display: inline-block; width:320px; height:167px; background-position: 99.94040524433849% 0.12376237623762376%; background-size: 624.375% 583.8323353293413%; background-image: url(ts_2_may_2025_s2_0.png);padding: 0; }
div.tg_eap_2_may_2025_s2_q_158a::after {max-width:320px; width:100%;height:0;padding: 0 0 52.1875% 0;}
.tg_eap_2_may_2025_s2_q_158b {max-width:320px; max-height:247px; }
.tg_eap_2_may_2025_s2_q_158b::after {content: '\00a0';display: inline-block; width:320px; height:247px; background-position: 32.95589988081049% 74.03846153846153%; background-size: 624.375% 394.7368421052632%; background-image: url(ts_2_may_2025_s2_0.png);padding: 0; }
div.tg_eap_2_may_2025_s2_q_158b::after {max-width:320px; width:100%;height:0;padding: 0 0 77.1875% 0;}
.tg_eap_2_may_2025_s2_q_158c {max-width:320px; max-height:160px; }
.tg_eap_2_may_2025_s2_q_158c::after {content: '\00a0';display: inline-block; width:320px; height:160px; background-position: 99.94040524433849% 20.736196319018404%; background-size: 624.375% 609.375%; background-image: url(ts_2_may_2025_s2_0.png);padding: 0; }
div.tg_eap_2_may_2025_s2_q_158c::after {max-width:320px; width:100%;height:0;padding: 0 0 50% 0;}
.tg_eap_2_may_2025_s2_q_158d {max-width:320px; max-height:198px; }
.tg_eap_2_may_2025_s2_q_158d::after {content: '\00a0';display: inline-block; width:320px; height:198px; background-position: 80.81048867699643% 0.1287001287001287%; background-size: 624.375% 492.42424242424244%; background-image: url(ts_2_may_2025_s2_0.png);padding: 0; }
div.tg_eap_2_may_2025_s2_q_158d::after {max-width:320px; width:100%;height:0;padding: 0 0 61.875% 0;}
.tg_eap_2_may_2025_s2_q_159 {max-width:400px; max-height:131px; }
.tg_eap_2_may_2025_s2_q_159::after {content: '\00a0';display: inline-block; width:400px; height:131px; background-position: 97.99749687108886% 39.09952606635071%; background-size: 499.5% 744.2748091603054%; background-image: url(ts_2_may_2025_s2_0.png);padding: 0; }
div.tg_eap_2_may_2025_s2_q_159::after {max-width:400px; width:100%;height:0;padding: 0 0 32.75% 0;}
.tg_eap_2_may_2025_s2_q_159a {max-width:250px; max-height:407px; }
.tg_eap_2_may_2025_s2_q_159a::after {content: '\00a0';display: inline-block; width:250px; height:407px; background-position: 0.057208237986270026% 0.176056338028169%; background-size: 799.2% 239.55773955773955%; background-image: url(ts_2_may_2025_s2_0.png);padding: 0; }
div.tg_eap_2_may_2025_s2_q_159a::after {max-width:250px; width:100%;height:0;padding: 0 0 162.8% 0;}
.tg_eap_2_may_2025_s2_q_159b {max-width:250px; max-height:405px; }
.tg_eap_2_may_2025_s2_q_159b::after {content: '\00a0';display: inline-block; width:250px; height:405px; background-position: 0.057208237986270026% 71.75438596491227%; background-size: 799.2% 240.74074074074073%; background-image: url(ts_2_may_2025_s2_0.png);padding: 0; }
div.tg_eap_2_may_2025_s2_q_159b::after {max-width:250px; width:100%;height:0;padding: 0 0 162% 0;}
.tg_eap_2_may_2025_s2_q_159c {max-width:250px; max-height:212px; }
.tg_eap_2_may_2025_s2_q_159c::after {content: '\00a0';display: inline-block; width:250px; height:212px; background-position: 63.215102974828376% 0.1310615989515072%; background-size: 799.2% 459.9056603773585%; background-image: url(ts_2_may_2025_s2_0.png);padding: 0; }
div.tg_eap_2_may_2025_s2_q_159c::after {max-width:250px; width:100%;height:0;padding: 0 0 84.8% 0;}
.tg_eap_2_may_2025_s2_q_159d {max-width:250px; max-height:198px; }
.tg_eap_2_may_2025_s2_q_159d::after {content: '\00a0';display: inline-block; width:250px; height:198px; background-position: 50% 69.24066924066923%; background-size: 799.2% 492.42424242424244%; background-image: url(ts_2_may_2025_s2_0.png);padding: 0; }
div.tg_eap_2_may_2025_s2_q_159d::after {max-width:250px; width:100%;height:0;padding: 0 0 79.2% 0;}
.tg_eap_2_may_2025_s2_q_160a {max-width:300px; max-height:120px; }
.tg_eap_2_may_2025_s2_q_160a::after {content: '\00a0';display: inline-block; width:300px; height:120px; background-position: 98.11542991755006% 98.47953216374269%; background-size: 666% 812.5%; background-image: url(ts_2_may_2025_s2_0.png);padding: 0; }
div.tg_eap_2_may_2025_s2_q_160a::after {max-width:300px; width:100%;height:0;padding: 0 0 40% 0;}
.tg_eap_2_may_2025_s2_q_160b {max-width:300px; max-height:136px; }
.tg_eap_2_may_2025_s2_q_160b::after {content: '\00a0';display: inline-block; width:300px; height:136px; background-position: 80.3886925795053% 83.31346841477949%; background-size: 666% 716.9117647058823%; background-image: url(ts_2_may_2025_s2_0.png);padding: 0; }
div.tg_eap_2_may_2025_s2_q_160b::after {max-width:300px; width:100%;height:0;padding: 0 0 45.333333333333336% 0;}
.tg_eap_2_may_2025_s2_q_160c {max-width:300px; max-height:124px; }
.tg_eap_2_may_2025_s2_q_160c::after {content: '\00a0';display: inline-block; width:300px; height:124px; background-position: 98.11542991755006% 84.25381903642773%; background-size: 666% 786.2903225806451%; background-image: url(ts_2_may_2025_s2_0.png);padding: 0; }
div.tg_eap_2_may_2025_s2_q_160c::after {max-width:300px; width:100%;height:0;padding: 0 0 41.333333333333336% 0;}
.tg_eap_2_may_2025_s2_q_160d {max-width:300px; max-height:126px; }
.tg_eap_2_may_2025_s2_q_160d::after {content: '\00a0';display: inline-block; width:300px; height:126px; background-position: 98.11542991755006% 69.49352179034157%; background-size: 666% 773.8095238095239%; background-image: url(ts_2_may_2025_s2_0.png);padding: 0; }
div.tg_eap_2_may_2025_s2_q_160d::after {max-width:300px; width:100%;height:0;padding: 0 0 42% 0;}
.tg_eap_2_may_2025_s2_q_85 {max-width:300px; max-height:256px; }
.tg_eap_2_may_2025_s2_q_85::after {content: '\00a0';display: inline-block; width:300px; height:256px; background-position: 14.840989399293287% 74.96522948539638%; background-size: 666% 380.859375%; background-image: url(ts_2_may_2025_s2_0.png);padding: 0; }
div.tg_eap_2_may_2025_s2_q_85::after {max-width:300px; width:100%;height:0;padding: 0 0 85.33333333333333% 0;}
.tg_eap_2_may_2025_s2_sol_30 {max-width:300px; max-height:189px; }
.tg_eap_2_may_2025_s2_sol_30::after {content: '\00a0';display: inline-block; width:300px; height:189px; background-position: 62.66195524146054% 93.76590330788804%; background-size: 666% 515.8730158730159%; background-image: url(ts_2_may_2025_s2_0.png);padding: 0; }
div.tg_eap_2_may_2025_s2_sol_30::after {max-width:300px; width:100%;height:0;padding: 0 0 63% 0;}
.tg_eap_2_may_2025_s2_sol_41 {max-width:300px; max-height:215px; }
.tg_eap_2_may_2025_s2_sol_41::after {content: '\00a0';display: inline-block; width:300px; height:215px; background-position: 47.34982332155477% 0.13157894736842105%; background-size: 666% 453.48837209302326%; background-image: url(ts_2_may_2025_s2_0.png);padding: 0; }
div.tg_eap_2_may_2025_s2_sol_41::after {max-width:300px; width:100%;height:0;padding: 0 0 71.66666666666667% 0;}
.tg_eap_2_may_2025_s2_sol_44 {max-width:300px; max-height:269px; }
.tg_eap_2_may_2025_s2_sol_44::after {content: '\00a0';display: inline-block; width:300px; height:269px; background-position: 14.840989399293287% 0.141643059490085%; background-size: 666% 362.453531598513%; background-image: url(ts_2_may_2025_s2_0.png);padding: 0; }
div.tg_eap_2_may_2025_s2_sol_44::after {max-width:300px; width:100%;height:0;padding: 0 0 89.66666666666667% 0;}

@keyframes tg_eap_2_may_2025_s2_q-frames {
    0% { background-position: 14.840989399293287% 74.96522948539638%;  }
    14.285714285714285% { background-position: 35.068649885583525% 35.43624161073826%;  }
    28.57142857142857% { background-position: 31.63615560640732% 0.1402524544179523%;  }
    42.857142857142854% { background-position: 64.35926773455378% 66.0122699386503%;  }
    57.14285714285714% { background-position: 41.48936170212766% 99.49431099873578%;  }
    71.42857142857143% { background-position: 54.06758448060075% 49.53917050691244%;  }
    85.71428571428571% { background-position: 97.99749687108886% 39.09952606635071%;  }
}

.tg_eap_2_may_2025_s2_q-animation {
    max-width: 300px;
    max-height: 256px;
}
.tg_eap_2_may_2025_s2_q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 300px;
    height: 256px;
    padding: 0;
    background-image: url(ts_2_may_2025_s2_0.png);
    background-size: 666% 380.859375%; 
    animation-name: tg_eap_2_may_2025_s2_q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.tg_eap_2_may_2025_s2_q-animation::after {
    max-width: 300px;
    width: 100%;
    height: 0;
    padding: 0 0 85.33333333333333% 0;
}

@keyframes tg_eap_2_may_2025_s2_sol-frames {
    0% { background-position: 62.66195524146054% 93.76590330788804%;  }
    33.33333333333333% { background-position: 47.34982332155477% 0.13157894736842105%;  }
    66.66666666666666% { background-position: 14.840989399293287% 0.141643059490085%;  }
}

.tg_eap_2_may_2025_s2_sol-animation {
    max-width: 300px;
    max-height: 189px;
}
.tg_eap_2_may_2025_s2_sol-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 300px;
    height: 189px;
    padding: 0;
    background-image: url(ts_2_may_2025_s2_0.png);
    background-size: 666% 515.8730158730159%; 
    animation-name: tg_eap_2_may_2025_s2_sol-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.tg_eap_2_may_2025_s2_sol-animation::after {
    max-width: 300px;
    width: 100%;
    height: 0;
    padding: 0 0 63% 0;
}

/* $TexturePacker:SmartUpdate:97fa3750217efd1d753310daec8515b8:786121da4181d05c55e4486aee014001:8984918aa83d52021b472009be3a4737$ */
