/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.tg_eap_2_may_2025_s1_q_105 {max-width:250px; max-height:277px; }
.tg_eap_2_may_2025_s1_q_105::after {content: '\00a0';display: inline-block; width:250px; height:277px; background-position: 66.57824933687003% 18.410596026490065%; background-size: 401.6% 372.56317689530687%; background-image: url(ts_2_may_2025_s1_0.png);padding: 0; }
div.tg_eap_2_may_2025_s1_q_105::after {max-width:250px; width:100%;height:0;padding: 0 0 110.8% 0;}
.tg_eap_2_may_2025_s1_q_119 {max-width:300px; max-height:172px; }
.tg_eap_2_may_2025_s1_q_119::after {content: '\00a0';display: inline-block; width:300px; height:172px; background-position: 42.89772727272727% 77.67441860465117%; background-size: 334.6666666666667% 600%; background-image: url(ts_2_may_2025_s1_0.png);padding: 0; }
div.tg_eap_2_may_2025_s1_q_119::after {max-width:300px; width:100%;height:0;padding: 0 0 57.333333333333336% 0;}
.tg_eap_2_may_2025_s1_q_137 {max-width:500px; max-height:69px; }
.tg_eap_2_may_2025_s1_q_137::after {content: '\00a0';display: inline-block; width:500px; height:69px; background-position: 99.60317460317461% 0.10384215991692627%; background-size: 200.8% 1495.6521739130435%; background-image: url(ts_2_may_2025_s1_0.png);padding: 0; }
div.tg_eap_2_may_2025_s1_q_137::after {max-width:500px; width:100%;height:0;padding: 0 0 13.8% 0;}
.tg_eap_2_may_2025_s1_q_138a {max-width:500px; max-height:69px; }
.tg_eap_2_may_2025_s1_q_138a::after {content: '\00a0';display: inline-block; width:500px; height:69px; background-position: 0.1984126984126984% 35.202492211838006%; background-size: 200.8% 1495.6521739130435%; background-image: url(ts_2_may_2025_s1_0.png);padding: 0; }
div.tg_eap_2_may_2025_s1_q_138a::after {max-width:500px; width:100%;height:0;padding: 0 0 13.8% 0;}
.tg_eap_2_may_2025_s1_q_138b {max-width:500px; max-height:91px; }
.tg_eap_2_may_2025_s1_q_138b::after {content: '\00a0';display: inline-block; width:500px; height:91px; background-position: 0.1984126984126984% 26.248671625929862%; background-size: 200.8% 1134.065934065934%; background-image: url(ts_2_may_2025_s1_0.png);padding: 0; }
div.tg_eap_2_may_2025_s1_q_138b::after {max-width:500px; width:100%;height:0;padding: 0 0 18.2% 0;}
.tg_eap_2_may_2025_s1_q_138c {max-width:500px; max-height:64px; }
.tg_eap_2_may_2025_s1_q_138c::after {content: '\00a0';display: inline-block; width:500px; height:64px; background-position: 0.1984126984126984% 42.252066115702476%; background-size: 200.8% 1612.5%; background-image: url(ts_2_may_2025_s1_0.png);padding: 0; }
div.tg_eap_2_may_2025_s1_q_138c::after {max-width:500px; width:100%;height:0;padding: 0 0 12.8% 0;}
.tg_eap_2_may_2025_s1_q_138d {max-width:500px; max-height:67px; }
.tg_eap_2_may_2025_s1_q_138d::after {content: '\00a0';display: inline-block; width:500px; height:67px; background-position: 99.60317460317461% 7.357512953367876%; background-size: 200.8% 1540.2985074626865%; background-image: url(ts_2_may_2025_s1_0.png);padding: 0; }
div.tg_eap_2_may_2025_s1_q_138d::after {max-width:500px; width:100%;height:0;padding: 0 0 13.4% 0;}
.tg_eap_2_may_2025_s1_q_139 {max-width:360px; max-height:133px; }
.tg_eap_2_may_2025_s1_q_139::after {content: '\00a0';display: inline-block; width:360px; height:133px; background-position: 93.63354037267081% 78.64293659621802%; background-size: 278.8888888888889% 775.9398496240601%; background-image: url(ts_2_may_2025_s1_0.png);padding: 0; }
div.tg_eap_2_may_2025_s1_q_139::after {max-width:360px; width:100%;height:0;padding: 0 0 36.94444444444444% 0;}
.tg_eap_2_may_2025_s1_q_144a {max-width:250px; max-height:200px; }
.tg_eap_2_may_2025_s1_q_144a::after {content: '\00a0';display: inline-block; width:250px; height:200px; background-position: 99.86737400530504% 43.02884615384615%; background-size: 401.6% 516%; background-image: url(ts_2_may_2025_s1_0.png);padding: 0; }
div.tg_eap_2_may_2025_s1_q_144a::after {max-width:250px; width:100%;height:0;padding: 0 0 80% 0;}
.tg_eap_2_may_2025_s1_q_144b {max-width:250px; max-height:218px; }
.tg_eap_2_may_2025_s1_q_144b::after {content: '\00a0';display: inline-block; width:250px; height:218px; background-position: 99.86737400530504% 17.076167076167078%; background-size: 401.6% 473.39449541284404%; background-image: url(ts_2_may_2025_s1_0.png);padding: 0; }
div.tg_eap_2_may_2025_s1_q_144b::after {max-width:250px; width:100%;height:0;padding: 0 0 87.2% 0;}
.tg_eap_2_may_2025_s1_q_144c {max-width:300px; max-height:209px; }
.tg_eap_2_may_2025_s1_q_144c::after {content: '\00a0';display: inline-block; width:300px; height:209px; background-position: 0.14204545454545456% 83.71810449574727%; background-size: 334.6666666666667% 493.7799043062201%; background-image: url(ts_2_may_2025_s1_0.png);padding: 0; }
div.tg_eap_2_may_2025_s1_q_144c::after {max-width:300px; width:100%;height:0;padding: 0 0 69.66666666666667% 0;}
.tg_eap_2_may_2025_s1_q_144d {max-width:300px; max-height:193px; }
.tg_eap_2_may_2025_s1_q_144d::after {content: '\00a0';display: inline-block; width:300px; height:193px; background-position: 42.89772727272727% 56.4958283671037%; background-size: 334.6666666666667% 534.7150259067357%; background-image: url(ts_2_may_2025_s1_0.png);padding: 0; }
div.tg_eap_2_may_2025_s1_q_144d::after {max-width:300px; width:100%;height:0;padding: 0 0 64.33333333333333% 0;}
.tg_eap_2_may_2025_s1_q_155a {max-width:300px; max-height:214px; }
.tg_eap_2_may_2025_s1_q_155a::after {content: '\00a0';display: inline-block; width:300px; height:214px; background-position: 0.14204545454545456% 57.946210268948654%; background-size: 334.6666666666667% 482.2429906542056%; background-image: url(ts_2_may_2025_s1_0.png);padding: 0; }
div.tg_eap_2_may_2025_s1_q_155a::after {max-width:300px; width:100%;height:0;padding: 0 0 71.33333333333333% 0;}
.tg_eap_2_may_2025_s1_q_155b {max-width:300px; max-height:153px; }
.tg_eap_2_may_2025_s1_q_155b::after {content: '\00a0';display: inline-block; width:300px; height:153px; background-position: 45.73863636363637% 95.6769055745165%; background-size: 334.6666666666667% 674.5098039215686%; background-image: url(ts_2_may_2025_s1_0.png);padding: 0; }
div.tg_eap_2_may_2025_s1_q_155b::after {max-width:300px; width:100%;height:0;padding: 0 0 51% 0;}
.tg_eap_2_may_2025_s1_q_155c {max-width:300px; max-height:151px; }
.tg_eap_2_may_2025_s1_q_155c::after {content: '\00a0';display: inline-block; width:300px; height:151px; background-position: 88.49431818181819% 95.45970488081726%; background-size: 334.6666666666667% 683.4437086092715%; background-image: url(ts_2_may_2025_s1_0.png);padding: 0; }
div.tg_eap_2_may_2025_s1_q_155c::after {max-width:300px; width:100%;height:0;padding: 0 0 50.333333333333336% 0;}
.tg_eap_2_may_2025_s1_q_155d {max-width:320px; max-height:132px; }
.tg_eap_2_may_2025_s1_q_155d::after {content: '\00a0';display: inline-block; width:320px; height:132px; background-position: 0.14619883040935672% 99.88888888888889%; background-size: 313.75% 781.8181818181819%; background-image: url(ts_2_may_2025_s1_0.png);padding: 0; }
div.tg_eap_2_may_2025_s1_q_155d::after {max-width:320px; width:100%;height:0;padding: 0 0 41.25% 0;}
.tg_eap_2_may_2025_s1_q_158 {max-width:500px; max-height:245px; }
.tg_eap_2_may_2025_s1_q_158::after {content: '\00a0';display: inline-block; width:500px; height:245px; background-position: 0.1984126984126984% 0.12706480304955528%; background-size: 200.8% 421.2244897959184%; background-image: url(ts_2_may_2025_s1_0.png);padding: 0; }
div.tg_eap_2_may_2025_s1_q_158::after {max-width:500px; width:100%;height:0;padding: 0 0 49% 0;}
.tg_eap_2_may_2025_s1_q_160 {max-width:400px; max-height:55px; }
.tg_eap_2_may_2025_s1_q_160::after {content: '\00a0';display: inline-block; width:400px; height:55px; background-position: 99.83443708609272% 66.63254861821903%; background-size: 251% 1876.3636363636363%; background-image: url(ts_2_may_2025_s1_0.png);padding: 0; }
div.tg_eap_2_may_2025_s1_q_160::after {max-width:400px; width:100%;height:0;padding: 0 0 13.75% 0;}
.tg_eap_2_may_2025_s1_q_160a {max-width:400px; max-height:91px; }
.tg_eap_2_may_2025_s1_q_160a::after {content: '\00a0';display: inline-block; width:400px; height:91px; background-position: 99.83443708609272% 59.40488841657811%; background-size: 251% 1134.065934065934%; background-image: url(ts_2_may_2025_s1_0.png);padding: 0; }
div.tg_eap_2_may_2025_s1_q_160a::after {max-width:400px; width:100%;height:0;padding: 0 0 22.75% 0;}

@keyframes tg_eap_2_may_2025_s1_q-frames {
    0% { background-position: 66.57824933687003% 18.410596026490065%;  }
    16.666666666666664% { background-position: 42.89772727272727% 77.67441860465117%;  }
    33.33333333333333% { background-position: 99.60317460317461% 0.10384215991692627%;  }
    50% { background-position: 93.63354037267081% 78.64293659621802%;  }
    66.66666666666666% { background-position: 0.1984126984126984% 0.12706480304955528%;  }
    83.33333333333334% { background-position: 99.83443708609272% 66.63254861821903%;  }
}

.tg_eap_2_may_2025_s1_q-animation {
    max-width: 250px;
    max-height: 277px;
}
.tg_eap_2_may_2025_s1_q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 250px;
    height: 277px;
    padding: 0;
    background-image: url(ts_2_may_2025_s1_0.png);
    background-size: 401.6% 372.56317689530687%; 
    animation-name: tg_eap_2_may_2025_s1_q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.tg_eap_2_may_2025_s1_q-animation::after {
    max-width: 250px;
    width: 100%;
    height: 0;
    padding: 0 0 110.8% 0;
}

/* $TexturePacker:SmartUpdate:93b08f9c59ef5bb6e90eb17fc626c249:18856fcd9ef8d4546b414526f42d1d8b:e2a79232c30a15855755dee321d57b55$ */
