/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.TS_EAMCET_3_May_2025_S2_118 {max-width:383px; max-height:316px; }
.TS_EAMCET_3_May_2025_S2_118::after {content: '\00a0';display: inline-block; width:383px; height:316px; background-position: 0.061274509803921566% 0.14285714285714285%; background-size: 526.1096605744125% 321.5189873417722%; background-image: url(ts_3_may_2025_s2_0.png);padding: 0; }
div.TS_EAMCET_3_May_2025_S2_118::after {max-width:383px; width:100%;height:0;padding: 0 0 82.50652741514361% 0;}
.TS_EAMCET_3_May_2025_S2_138_a {max-width:79px; max-height:71px; }
.TS_EAMCET_3_May_2025_S2_138_a::after {content: '\00a0';display: inline-block; width:79px; height:71px; background-position: 75.72314049586777% 71.42857142857143%; background-size: 2550.6329113924053% 1430.9859154929577%; background-image: url(ts_3_may_2025_s2_0.png);padding: 0; }
div.TS_EAMCET_3_May_2025_S2_138_a::after {max-width:79px; width:100%;height:0;padding: 0 0 89.87341772151899% 0;}
.TS_EAMCET_3_May_2025_S2_138_b {max-width:67px; max-height:85px; }
.TS_EAMCET_3_May_2025_S2_138_b::after {content: '\00a0';display: inline-block; width:67px; height:85px; background-position: 99.94866529774127% 93.34049409237379%; background-size: 3007.4626865671644% 1195.2941176470588%; background-image: url(ts_3_may_2025_s2_0.png);padding: 0; }
div.TS_EAMCET_3_May_2025_S2_138_b::after {max-width:67px; width:100%;height:0;padding: 0 0 126.86567164179104% 0;}
.TS_EAMCET_3_May_2025_S2_138_c {max-width:71px; max-height:89px; }
.TS_EAMCET_3_May_2025_S2_138_c::after {content: '\00a0';display: inline-block; width:71px; height:89px; background-position: 96.45061728395062% 93.85113268608414%; background-size: 2838.0281690140846% 1141.573033707865%; background-image: url(ts_3_may_2025_s2_0.png);padding: 0; }
div.TS_EAMCET_3_May_2025_S2_138_c::after {max-width:71px; width:100%;height:0;padding: 0 0 125.35211267605634% 0;}
.TS_EAMCET_3_May_2025_S2_138_d {max-width:111px; max-height:75px; }
.TS_EAMCET_3_May_2025_S2_138_d::after {content: '\00a0';display: inline-block; width:111px; height:75px; background-position: 87.13235294117646% 95.11158342189161%; background-size: 1815.3153153153153% 1354.6666666666667%; background-image: url(ts_3_may_2025_s2_0.png);padding: 0; }
div.TS_EAMCET_3_May_2025_S2_138_d::after {max-width:111px; width:100%;height:0;padding: 0 0 67.56756756756756% 0;}
.TS_EAMCET_3_May_2025_S2_155 {max-width:379px; max-height:102px; }
.TS_EAMCET_3_May_2025_S2_155::after {content: '\00a0';display: inline-block; width:379px; height:102px; background-position: 72.55501222493888% 48.46827133479212%; background-size: 531.6622691292876% 996.0784313725491%; background-image: url(ts_3_may_2025_s2_0.png);padding: 0; }
div.TS_EAMCET_3_May_2025_S2_155::after {max-width:379px; width:100%;height:0;padding: 0 0 26.91292875989446% 0;}
.TS_EAMCET_3_May_2025_S2_155_a {max-width:92px; max-height:91px; }
.TS_EAMCET_3_May_2025_S2_155_a::after {content: '\00a0';display: inline-block; width:92px; height:91px; background-position: 81.43525741029642% 98.8108108108108%; background-size: 2190.217391304348% 1116.4835164835165%; background-image: url(ts_3_may_2025_s2_0.png);padding: 0; }
div.TS_EAMCET_3_May_2025_S2_155_a::after {max-width:92px; width:100%;height:0;padding: 0 0 98.91304347826087% 0;}
.TS_EAMCET_3_May_2025_S2_155_b {max-width:58px; max-height:120px; }
.TS_EAMCET_3_May_2025_S2_155_b::after {content: '\00a0';display: inline-block; width:58px; height:120px; background-position: 98.87583035258048% 83.48214285714286%; background-size: 3474.137931034483% 846.6666666666666%; background-image: url(ts_3_may_2025_s2_0.png);padding: 0; }
div.TS_EAMCET_3_May_2025_S2_155_b::after {max-width:58px; width:100%;height:0;padding: 0 0 206.89655172413794% 0;}
.TS_EAMCET_3_May_2025_S2_155_c {max-width:91px; max-height:121px; }
.TS_EAMCET_3_May_2025_S2_155_c::after {content: '\00a0';display: inline-block; width:91px; height:121px; background-position: 97.0893970893971% 69.94413407821229%; background-size: 2214.285714285714% 839.6694214876034%; background-image: url(ts_3_may_2025_s2_0.png);padding: 0; }
div.TS_EAMCET_3_May_2025_S2_155_c::after {max-width:91px; width:100%;height:0;padding: 0 0 132.96703296703296% 0;}
.TS_EAMCET_3_May_2025_S2_155_d {max-width:71px; max-height:125px; }
.TS_EAMCET_3_May_2025_S2_155_d::after {content: '\00a0';display: inline-block; width:71px; height:125px; background-position: 92.43827160493827% 84.51178451178451%; background-size: 2838.0281690140846% 812.8%; background-image: url(ts_3_may_2025_s2_0.png);padding: 0; }
div.TS_EAMCET_3_May_2025_S2_155_d::after {max-width:71px; width:100%;height:0;padding: 0 0 176.05633802816902% 0;}
.TS_EAMCET_3_May_2025_S2_156 {max-width:230px; max-height:60px; }
.TS_EAMCET_3_May_2025_S2_156::after {content: '\00a0';display: inline-block; width:230px; height:60px; background-position: 73.10924369747899% 90.27196652719665%; background-size: 876.0869565217391% 1693.3333333333333%; background-image: url(ts_3_may_2025_s2_0.png);padding: 0; }
div.TS_EAMCET_3_May_2025_S2_156::after {max-width:230px; width:100%;height:0;padding: 0 0 26.08695652173913% 0;}
.TS_EAMCET_3_May_2025_S2_156_a {max-width:129px; max-height:75px; }
.TS_EAMCET_3_May_2025_S2_156_a::after {content: '\00a0';display: inline-block; width:129px; height:75px; background-position: 88.3881230116649% 80.02125398512221%; background-size: 1562.015503875969% 1354.6666666666667%; background-image: url(ts_3_may_2025_s2_0.png);padding: 0; }
div.TS_EAMCET_3_May_2025_S2_156_a::after {max-width:129px; width:100%;height:0;padding: 0 0 58.13953488372093% 0;}
.TS_EAMCET_3_May_2025_S2_156_b {max-width:135px; max-height:80px; }
.TS_EAMCET_3_May_2025_S2_156_b::after {content: '\00a0';display: inline-block; width:135px; height:80px; background-position: 81.43617021276596% 80.44871794871794%; background-size: 1492.5925925925926% 1270%; background-image: url(ts_3_may_2025_s2_0.png);padding: 0; }
div.TS_EAMCET_3_May_2025_S2_156_b::after {max-width:135px; width:100%;height:0;padding: 0 0 59.25925925925926% 0;}
.TS_EAMCET_3_May_2025_S2_156_c {max-width:103px; max-height:77px; }
.TS_EAMCET_3_May_2025_S2_156_c::after {content: '\00a0';display: inline-block; width:103px; height:77px; background-position: 92.6255230125523% 95.31416400425985%; background-size: 1956.3106796116506% 1319.4805194805194%; background-image: url(ts_3_may_2025_s2_0.png);padding: 0; }
div.TS_EAMCET_3_May_2025_S2_156_c::after {max-width:103px; width:100%;height:0;padding: 0 0 74.75728155339806% 0;}
.TS_EAMCET_3_May_2025_S2_156_d {max-width:108px; max-height:79px; }
.TS_EAMCET_3_May_2025_S2_156_d::after {content: '\00a0';display: inline-block; width:108px; height:79px; background-position: 80.54535920293655% 89.00747065101388%; background-size: 1865.7407407407406% 1286.0759493670887%; background-image: url(ts_3_may_2025_s2_0.png);padding: 0; }
div.TS_EAMCET_3_May_2025_S2_156_d::after {max-width:108px; width:100%;height:0;padding: 0 0 73.14814814814815% 0;}
.TS_EAMCET_3_May_2025_S2_158_a {max-width:121px; max-height:65px; }
.TS_EAMCET_3_May_2025_S2_158_a::after {content: '\00a0';display: inline-block; width:121px; height:65px; background-position: 88.01478352692713% 87.1713985278654%; background-size: 1665.2892561983472% 1563.076923076923%; background-image: url(ts_3_may_2025_s2_0.png);padding: 0; }
div.TS_EAMCET_3_May_2025_S2_158_a::after {max-width:121px; width:100%;height:0;padding: 0 0 53.71900826446281% 0;}
.TS_EAMCET_3_May_2025_S2_158_b {max-width:164px; max-height:82px; }
.TS_EAMCET_3_May_2025_S2_158_b::after {content: '\00a0';display: inline-block; width:164px; height:82px; background-position: 70.50243111831442% 98.92933618843684%; background-size: 1228.658536585366% 1239.0243902439024%; background-image: url(ts_3_may_2025_s2_0.png);padding: 0; }
div.TS_EAMCET_3_May_2025_S2_158_b::after {max-width:164px; width:100%;height:0;padding: 0 0 50% 0;}
.TS_EAMCET_3_May_2025_S2_158_c {max-width:164px; max-height:87px; }
.TS_EAMCET_3_May_2025_S2_158_c::after {content: '\00a0';display: inline-block; width:164px; height:87px; background-position: 52.079956780118856% 65.01614639397201%; background-size: 1228.658536585366% 1167.816091954023%; background-image: url(ts_3_may_2025_s2_0.png);padding: 0; }
div.TS_EAMCET_3_May_2025_S2_158_c::after {max-width:164px; width:100%;height:0;padding: 0 0 53.048780487804876% 0;}
.TS_EAMCET_3_May_2025_S2_158_d {max-width:225px; max-height:106px; }
.TS_EAMCET_3_May_2025_S2_158_d::after {content: '\00a0';display: inline-block; width:225px; height:106px; background-position: 72.90502793296089% 83.07692307692308%; background-size: 895.5555555555555% 958.4905660377359%; background-image: url(ts_3_may_2025_s2_0.png);padding: 0; }
div.TS_EAMCET_3_May_2025_S2_158_d::after {max-width:225px; width:100%;height:0;padding: 0 0 47.111111111111114% 0;}
.TS_EAMCET_3_May_2025_S2_159_a {max-width:65px; max-height:121px; }
.TS_EAMCET_3_May_2025_S2_159_a::after {content: '\00a0';display: inline-block; width:65px; height:121px; background-position: 95.84615384615384% 83.57541899441341%; background-size: 3100% 839.6694214876034%; background-image: url(ts_3_may_2025_s2_0.png);padding: 0; }
div.TS_EAMCET_3_May_2025_S2_159_a::after {max-width:65px; width:100%;height:0;padding: 0 0 186.15384615384616% 0;}
.TS_EAMCET_3_May_2025_S2_159_b {max-width:95px; max-height:91px; }
.TS_EAMCET_3_May_2025_S2_159_b::after {content: '\00a0';display: inline-block; width:95px; height:91px; background-position: 76.5625% 99.89189189189189%; background-size: 2121.0526315789475% 1116.4835164835165%; background-image: url(ts_3_may_2025_s2_0.png);padding: 0; }
div.TS_EAMCET_3_May_2025_S2_159_b::after {max-width:95px; width:100%;height:0;padding: 0 0 95.78947368421052% 0;}
.TS_EAMCET_3_May_2025_S2_159_c {max-width:91px; max-height:128px; }
.TS_EAMCET_3_May_2025_S2_159_c::after {content: '\00a0';display: inline-block; width:91px; height:128px; background-position: 76.1954261954262% 61.486486486486484%; background-size: 2214.285714285714% 793.75%; background-image: url(ts_3_may_2025_s2_0.png);padding: 0; }
div.TS_EAMCET_3_May_2025_S2_159_c::after {max-width:91px; width:100%;height:0;padding: 0 0 140.65934065934067% 0;}
.TS_EAMCET_3_May_2025_S2_159_d {max-width:97px; max-height:136px; }
.TS_EAMCET_3_May_2025_S2_159_d::after {content: '\00a0';display: inline-block; width:97px; height:136px; background-position: 97.39311783107404% 55.56818181818182%; background-size: 2077.319587628866% 747.0588235294117%; background-image: url(ts_3_may_2025_s2_0.png);padding: 0; }
div.TS_EAMCET_3_May_2025_S2_159_d::after {max-width:97px; width:100%;height:0;padding: 0 0 140.20618556701032% 0;}
.tg_eap_3_may_2025_s2_sol_155a {max-width:400px; max-height:262px; }
.tg_eap_3_may_2025_s2_sol_155a::after {content: '\00a0';display: inline-block; width:400px; height:262px; background-position: 48.6687306501548% 0.13262599469496023%; background-size: 503.75% 387.78625954198475%; background-image: url(ts_3_may_2025_s2_0.png);padding: 0; }
div.tg_eap_3_may_2025_s2_sol_155a::after {max-width:400px; width:100%;height:0;padding: 0 0 65.5% 0;}
.tg_eap_3_may_2025_s2_sol_155b {max-width:400px; max-height:214px; }
.tg_eap_3_may_2025_s2_sol_155b::after {content: '\00a0';display: inline-block; width:400px; height:214px; background-position: 98.328173374613% 0.12468827930174564%; background-size: 503.75% 474.76635514018693%; background-image: url(ts_3_may_2025_s2_0.png);padding: 0; }
div.tg_eap_3_may_2025_s2_sol_155b::after {max-width:400px; width:100%;height:0;padding: 0 0 53.5% 0;}
.tg_eap_3_may_2025_s2_sol_156a {max-width:400px; max-height:203px; }
.tg_eap_3_may_2025_s2_sol_156a::after {content: '\00a0';display: inline-block; width:400px; height:203px; background-position: 73.49845201238391% 29.39729397293973%; background-size: 503.75% 500.4926108374384%; background-image: url(ts_3_may_2025_s2_0.png);padding: 0; }
div.tg_eap_3_may_2025_s2_sol_156a::after {max-width:400px; width:100%;height:0;padding: 0 0 50.75% 0;}
.tg_eap_3_may_2025_s2_sol_156b {max-width:400px; max-height:292px; }
.tg_eap_3_may_2025_s2_sol_156b::after {content: '\00a0';display: inline-block; width:400px; height:292px; background-position: 23.8390092879257% 0.13812154696132597%; background-size: 503.75% 347.94520547945206%; background-image: url(ts_3_may_2025_s2_0.png);padding: 0; }
div.tg_eap_3_may_2025_s2_sol_156b::after {max-width:400px; width:100%;height:0;padding: 0 0 73% 0;}
.tg_eap_3_may_2025_s2_sol_156c {max-width:400px; max-height:170px; }
.tg_eap_3_may_2025_s2_sol_156c::after {content: '\00a0';display: inline-block; width:400px; height:170px; background-position: 98.328173374613% 25.53191489361702%; background-size: 503.75% 597.6470588235294%; background-image: url(ts_3_may_2025_s2_0.png);padding: 0; }
div.tg_eap_3_may_2025_s2_sol_156c::after {max-width:400px; width:100%;height:0;padding: 0 0 42.5% 0;}
.tg_eap_3_may_2025_s2_sol_157 {max-width:400px; max-height:101px; }
.tg_eap_3_may_2025_s2_sol_157::after {content: '\00a0';display: inline-block; width:400px; height:101px; background-position: 98.328173374613% 42.295081967213115%; background-size: 503.75% 1005.940594059406%; background-image: url(ts_3_may_2025_s2_0.png);padding: 0; }
div.tg_eap_3_may_2025_s2_sol_157::after {max-width:400px; width:100%;height:0;padding: 0 0 25.25% 0;}
.tg_eap_3_may_2025_s2_sol_158a {max-width:400px; max-height:209px; }
.tg_eap_3_may_2025_s2_sol_158a::after {content: '\00a0';display: inline-block; width:400px; height:209px; background-position: 48.6687306501548% 32.71375464684015%; background-size: 503.75% 486.1244019138756%; background-image: url(ts_3_may_2025_s2_0.png);padding: 0; }
div.tg_eap_3_may_2025_s2_sol_158a::after {max-width:400px; width:100%;height:0;padding: 0 0 52.25% 0;}
.tg_eap_3_may_2025_s2_sol_158b {max-width:400px; max-height:237px; }
.tg_eap_3_may_2025_s2_sol_158b::after {content: '\00a0';display: inline-block; width:400px; height:237px; background-position: 73.49845201238391% 0.12836970474967907%; background-size: 503.75% 428.69198312236284%; background-image: url(ts_3_may_2025_s2_0.png);padding: 0; }
div.tg_eap_3_may_2025_s2_sol_158b::after {max-width:400px; width:100%;height:0;padding: 0 0 59.25% 0;}
.tg_eap_3_may_2025_s2_sol_159 {max-width:400px; max-height:181px; }
.tg_eap_3_may_2025_s2_sol_159::after {content: '\00a0';display: inline-block; width:400px; height:181px; background-position: 23.8390092879257% 35.209580838323355%; background-size: 503.75% 561.3259668508288%; background-image: url(ts_3_may_2025_s2_0.png);padding: 0; }
div.tg_eap_3_may_2025_s2_sol_159::after {max-width:400px; width:100%;height:0;padding: 0 0 45.25% 0;}
.tg_eap_3_may_2025_s2_sol_15a {max-width:300px; max-height:73px; }
.tg_eap_3_may_2025_s2_sol_15a::after {content: '\00a0';display: inline-block; width:300px; height:73px; background-position: 58.542274052478135% 99.36373276776246%; background-size: 671.6666666666666% 1391.7808219178082%; background-image: url(ts_3_may_2025_s2_0.png);padding: 0; }
div.tg_eap_3_may_2025_s2_sol_15a::after {max-width:300px; width:100%;height:0;padding: 0 0 24.333333333333332% 0;}
.tg_eap_3_may_2025_s2_sol_15b {max-width:200px; max-height:129px; }
.tg_eap_3_may_2025_s2_sol_15b::after {content: '\00a0';display: inline-block; width:200px; height:129px; background-position: 53.112947658402206% 53.43855693348365%; background-size: 1007.5% 787.5968992248062%; background-image: url(ts_3_may_2025_s2_0.png);padding: 0; }
div.tg_eap_3_may_2025_s2_sol_15b::after {max-width:200px; width:100%;height:0;padding: 0 0 64.5% 0;}
.tg_eap_3_may_2025_s2_sol_160 {max-width:400px; max-height:190px; }
.tg_eap_3_may_2025_s2_sol_160::after {content: '\00a0';display: inline-block; width:400px; height:190px; background-position: 0.06191950464396285% 99.75786924939467%; background-size: 503.75% 534.7368421052631%; background-image: url(ts_3_may_2025_s2_0.png);padding: 0; }
div.tg_eap_3_may_2025_s2_sol_160::after {max-width:400px; width:100%;height:0;padding: 0 0 47.5% 0;}
.tg_eap_3_may_2025_s2_sol_29 {max-width:360px; max-height:260px; }
.tg_eap_3_may_2025_s2_sol_29::after {content: '\00a0';display: inline-block; width:360px; height:260px; background-position: 0.06042296072507553% 42.06349206349206%; background-size: 559.7222222222222% 390.7692307692308%; background-image: url(ts_3_may_2025_s2_0.png);padding: 0; }
div.tg_eap_3_may_2025_s2_sol_29::after {max-width:360px; width:100%;height:0;padding: 0 0 72.22222222222223% 0;}
.tg_eap_3_may_2025_s2_sol_41 {max-width:300px; max-height:211px; }
.tg_eap_3_may_2025_s2_sol_41::after {content: '\00a0';display: inline-block; width:300px; height:211px; background-position: 23.440233236151602% 96.27329192546584%; background-size: 671.6666666666666% 481.5165876777251%; background-image: url(ts_3_may_2025_s2_0.png);padding: 0; }
div.tg_eap_3_may_2025_s2_sol_41::after {max-width:300px; width:100%;height:0;padding: 0 0 70.33333333333333% 0;}
.tg_eap_3_may_2025_s2_sol_47 {max-width:300px; max-height:246px; }
.tg_eap_3_may_2025_s2_sol_47::after {content: '\00a0';display: inline-block; width:300px; height:246px; background-position: 40.99125364431487% 99.0909090909091%; background-size: 671.6666666666666% 413.0081300813008%; background-image: url(ts_3_may_2025_s2_0.png);padding: 0; }
div.tg_eap_3_may_2025_s2_sol_47::after {max-width:300px; width:100%;height:0;padding: 0 0 82% 0;}
.tg_eap_3_may_2025_s2_sol_48 {max-width:360px; max-height:244px; }
.tg_eap_3_may_2025_s2_sol_48::after {content: '\00a0';display: inline-block; width:360px; height:244px; background-position: 0.06042296072507553% 75%; background-size: 559.7222222222222% 416.39344262295083%; background-image: url(ts_3_may_2025_s2_0.png);padding: 0; }
div.tg_eap_3_may_2025_s2_sol_48::after {max-width:360px; width:100%;height:0;padding: 0 0 67.77777777777777% 0;}
.tg_eap_3_may_2025_s2_sol_49 {max-width:300px; max-height:263px; }
.tg_eap_3_may_2025_s2_sol_49::after {content: '\00a0';display: inline-block; width:300px; height:263px; background-position: 91.37026239067055% 64.9402390438247%; background-size: 671.6666666666666% 386.31178707224336%; background-image: url(ts_3_may_2025_s2_0.png);padding: 0; }
div.tg_eap_3_may_2025_s2_sol_49::after {max-width:300px; width:100%;height:0;padding: 0 0 87.66666666666667% 0;}
.tg_eap_3_may_2025_s2_sol_55 {max-width:300px; max-height:180px; }
.tg_eap_3_may_2025_s2_sol_55::after {content: '\00a0';display: inline-block; width:300px; height:180px; background-position: 58.542274052478135% 90.43062200956938%; background-size: 671.6666666666666% 564.4444444444445%; background-image: url(ts_3_may_2025_s2_0.png);padding: 0; }
div.tg_eap_3_may_2025_s2_sol_55::after {max-width:300px; width:100%;height:0;padding: 0 0 60% 0;}
.tg_eap_3_may_2025_s2_sol_60 {max-width:300px; max-height:298px; }
.tg_eap_3_may_2025_s2_sol_60::after {content: '\00a0';display: inline-block; width:300px; height:298px; background-position: 21.107871720116616% 66.29526462395543%; background-size: 671.6666666666666% 340.93959731543623%; background-image: url(ts_3_may_2025_s2_0.png);padding: 0; }
div.tg_eap_3_may_2025_s2_sol_60::after {max-width:300px; width:100%;height:0;padding: 0 0 99.33333333333333% 0;}
.tg_eap_3_may_2025_s2_sol_68 {max-width:300px; max-height:209px; }
.tg_eap_3_may_2025_s2_sol_68::after {content: '\00a0';display: inline-block; width:300px; height:209px; background-position: 67.93002915451895% 67.65799256505576%; background-size: 671.6666666666666% 486.1244019138756%; background-image: url(ts_3_may_2025_s2_0.png);padding: 0; }
div.tg_eap_3_may_2025_s2_sol_68::after {max-width:300px; width:100%;height:0;padding: 0 0 69.66666666666667% 0;}
.tg_eap_3_may_2025_s2_sol_71 {max-width:300px; max-height:286px; }
.tg_eap_3_may_2025_s2_sol_71::after {content: '\00a0';display: inline-block; width:300px; height:286px; background-position: 38.65889212827988% 65.20547945205479%; background-size: 671.6666666666666% 355.24475524475525%; background-image: url(ts_3_may_2025_s2_0.png);padding: 0; }
div.tg_eap_3_may_2025_s2_sol_71::after {max-width:300px; width:100%;height:0;padding: 0 0 95.33333333333333% 0;}

@keyframes TS_EAMCET_3_May_2025_S2-frames {
    0% { background-position: 0.061274509803921566% 0.14285714285714285%;  }
    33.33333333333333% { background-position: 72.55501222493888% 48.46827133479212%;  }
    66.66666666666666% { background-position: 73.10924369747899% 90.27196652719665%;  }
}

.TS_EAMCET_3_May_2025_S2-animation {
    max-width: 383px;
    max-height: 316px;
}
.TS_EAMCET_3_May_2025_S2-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 383px;
    height: 316px;
    padding: 0;
    background-image: url(ts_3_may_2025_s2_0.png);
    background-size: 526.1096605744125% 321.5189873417722%; 
    animation-name: TS_EAMCET_3_May_2025_S2-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.TS_EAMCET_3_May_2025_S2-animation::after {
    max-width: 383px;
    width: 100%;
    height: 0;
    padding: 0 0 82.50652741514361% 0;
}

@keyframes tg_eap_3_may_2025_s2_sol-frames {
    0% { background-position: 0.06042296072507553% 42.06349206349206%;  }
    8.333333333333332% { background-position: 23.440233236151602% 96.27329192546584%;  }
    16.666666666666664% { background-position: 40.99125364431487% 99.0909090909091%;  }
    25% { background-position: 0.06042296072507553% 75%;  }
    33.33333333333333% { background-position: 91.37026239067055% 64.9402390438247%;  }
    41.66666666666667% { background-position: 58.542274052478135% 90.43062200956938%;  }
    50% { background-position: 21.107871720116616% 66.29526462395543%;  }
    58.333333333333336% { background-position: 67.93002915451895% 67.65799256505576%;  }
    66.66666666666666% { background-position: 38.65889212827988% 65.20547945205479%;  }
    75% { background-position: 98.328173374613% 42.295081967213115%;  }
    83.33333333333334% { background-position: 23.8390092879257% 35.209580838323355%;  }
    91.66666666666666% { background-position: 0.06191950464396285% 99.75786924939467%;  }
}

.tg_eap_3_may_2025_s2_sol-animation {
    max-width: 360px;
    max-height: 260px;
}
.tg_eap_3_may_2025_s2_sol-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 360px;
    height: 260px;
    padding: 0;
    background-image: url(ts_3_may_2025_s2_0.png);
    background-size: 559.7222222222222% 390.7692307692308%; 
    animation-name: tg_eap_3_may_2025_s2_sol-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.tg_eap_3_may_2025_s2_sol-animation::after {
    max-width: 360px;
    width: 100%;
    height: 0;
    padding: 0 0 72.22222222222223% 0;
}

/* $TexturePacker:SmartUpdate:1ba8063382bafa18e874210ec82ddab2:060ce75f9f5ccf3d790708dfad762479:03e8860399707fd1f7be0ebf9ac490d2$ */
