/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.tg_eap_4_may_2025_s2106 {max-width:264px; max-height:208px; }
.tg_eap_4_may_2025_s2106::after {content: '\00a0';display: inline-block; width:264px; height:208px; background-position: 0.13458950201884254% 0.22573363431151242%; background-size: 381.43939393939394% 312.9807692307692%; background-image: url(ts_4_may_2025_s2_0.png);padding: 0; }
div.tg_eap_4_may_2025_s2106::after {max-width:264px; width:100%;height:0;padding: 0 0 78.78787878787878% 0;}
.tg_eap_4_may_2025_s2108 {max-width:194px; max-height:170px; }
.tg_eap_4_may_2025_s2108::after {content: '\00a0';display: inline-block; width:194px; height:170px; background-position: 53.997539975399754% 55.3014553014553%; background-size: 519.0721649484536% 382.94117647058823%; background-image: url(ts_4_may_2025_s2_0.png);padding: 0; }
div.tg_eap_4_may_2025_s2108::after {max-width:194px; width:100%;height:0;padding: 0 0 87.62886597938144% 0;}
.tg_eap_4_may_2025_s2137 {max-width:437px; max-height:124px; }
.tg_eap_4_may_2025_s2137::after {content: '\00a0';display: inline-block; width:437px; height:124px; background-position: 0.17543859649122806% 39.84819734345351%; background-size: 230.43478260869566% 525%; background-image: url(ts_4_may_2025_s2_0.png);padding: 0; }
div.tg_eap_4_may_2025_s2137::after {max-width:437px; width:100%;height:0;padding: 0 0 28.37528604118993% 0;}
.tg_eap_4_may_2025_s2138_a {max-width:226px; max-height:55px; }
.tg_eap_4_may_2025_s2138_a::after {content: '\00a0';display: inline-block; width:226px; height:55px; background-position: 99.61587708066581% 99.83221476510067%; background-size: 445.57522123893807% 1183.6363636363637%; background-image: url(ts_4_may_2025_s2_0.png);padding: 0; }
div.tg_eap_4_may_2025_s2138_a::after {max-width:226px; width:100%;height:0;padding: 0 0 24.336283185840706% 0;}
.tg_eap_4_may_2025_s2138_b {max-width:196px; max-height:46px; }
.tg_eap_4_may_2025_s2138_b::after {content: '\00a0';display: inline-block; width:196px; height:46px; background-position: 0.12330456226880394% 89.0909090909091%; background-size: 513.7755102040817% 1415.2173913043478%; background-image: url(ts_4_may_2025_s2_0.png);padding: 0; }
div.tg_eap_4_may_2025_s2138_b::after {max-width:196px; width:100%;height:0;padding: 0 0 23.46938775510204% 0;}
.tg_eap_4_may_2025_s2138_c {max-width:234px; max-height:59px; }
.tg_eap_4_may_2025_s2138_c::after {content: '\00a0';display: inline-block; width:234px; height:59px; background-position: 82.01811125485123% 44.932432432432435%; background-size: 430.34188034188037% 1103.3898305084747%; background-image: url(ts_4_may_2025_s2_0.png);padding: 0; }
div.tg_eap_4_may_2025_s2138_c::after {max-width:234px; width:100%;height:0;padding: 0 0 25.213675213675213% 0;}
.tg_eap_4_may_2025_s2138_d {max-width:201px; max-height:74px; }
.tg_eap_4_may_2025_s2138_d::after {content: '\00a0';display: inline-block; width:201px; height:74px; background-position: 54.46650124069479% 75.736568457539%; background-size: 500.9950248756219% 879.7297297297297%; background-image: url(ts_4_may_2025_s2_0.png);padding: 0; }
div.tg_eap_4_may_2025_s2138_d::after {max-width:201px; width:100%;height:0;padding: 0 0 36.81592039800995% 0;}
.tg_eap_4_may_2025_s2139 {max-width:411px; max-height:56px; }
.tg_eap_4_may_2025_s2139::after {content: '\00a0';display: inline-block; width:411px; height:56px; background-position: 0.16778523489932887% 56.30252100840336%; background-size: 245.01216545012164% 1162.5%; background-image: url(ts_4_may_2025_s2_0.png);padding: 0; }
div.tg_eap_4_may_2025_s2139::after {max-width:411px; width:100%;height:0;padding: 0 0 13.62530413625304% 0;}
.tg_eap_4_may_2025_s2139_a {max-width:223px; max-height:78px; }
.tg_eap_4_may_2025_s2139_a::after {content: '\00a0';display: inline-block; width:223px; height:78px; background-position: 0.12755102040816327% 68.41186736474694%; background-size: 451.5695067264574% 834.6153846153846%; background-image: url(ts_4_may_2025_s2_0.png);padding: 0; }
div.tg_eap_4_may_2025_s2139_a::after {max-width:223px; width:100%;height:0;padding: 0 0 34.97757847533632% 0;}
.tg_eap_4_may_2025_s2139_b {max-width:213px; max-height:71px; }
.tg_eap_4_may_2025_s2139_b::after {content: '\00a0';display: inline-block; width:213px; height:71px; background-position: 28.337531486146094% 67.58620689655173%; background-size: 472.7699530516432% 916.9014084507043%; background-image: url(ts_4_may_2025_s2_0.png);padding: 0; }
div.tg_eap_4_may_2025_s2139_b::after {max-width:213px; width:100%;height:0;padding: 0 0 33.333333333333336% 0;}
.tg_eap_4_may_2025_s2139_c {max-width:201px; max-height:62px; }
.tg_eap_4_may_2025_s2139_c::after {content: '\00a0';display: inline-block; width:201px; height:62px; background-position: 78.66004962779157% 55.34804753820034%; background-size: 500.9950248756219% 1050%; background-image: url(ts_4_may_2025_s2_0.png);padding: 0; }
div.tg_eap_4_may_2025_s2139_c::after {max-width:201px; width:100%;height:0;padding: 0 0 30.845771144278608% 0;}
.tg_eap_4_may_2025_s2139_d {max-width:205px; max-height:64px; }
.tg_eap_4_may_2025_s2139_d::after {content: '\00a0';display: inline-block; width:205px; height:64px; background-position: 28.054862842892767% 79.04599659284497%; background-size: 491.219512195122% 1017.1875%; background-image: url(ts_4_may_2025_s2_0.png);padding: 0; }
div.tg_eap_4_may_2025_s2139_d::after {max-width:205px; width:100%;height:0;padding: 0 0 31.21951219512195% 0;}
.tg_eap_4_may_2025_s2140 {max-width:524px; max-height:84px; }
.tg_eap_4_may_2025_s2140::after {content: '\00a0';display: inline-block; width:524px; height:84px; background-position: 90.89026915113871% 31.922398589065256%; background-size: 192.17557251908397% 775%; background-image: url(ts_4_may_2025_s2_0.png);padding: 0; }
div.tg_eap_4_may_2025_s2140::after {max-width:524px; width:100%;height:0;padding: 0 0 16.03053435114504% 0;}
.tg_eap_4_may_2025_s2152 {max-width:579px; max-height:67px; }
.tg_eap_4_may_2025_s2152::after {content: '\00a0';display: inline-block; width:579px; height:67px; background-position: 46.26168224299065% 98.97260273972603%; background-size: 173.92055267702935% 971.6417910447761%; background-image: url(ts_4_may_2025_s2_0.png);padding: 0; }
div.tg_eap_4_may_2025_s2152::after {max-width:579px; width:100%;height:0;padding: 0 0 11.57167530224525% 0;}
.tg_eap_4_may_2025_s2154_a {max-width:166px; max-height:75px; }
.tg_eap_4_may_2025_s2154_a::after {content: '\00a0';display: inline-block; width:166px; height:75px; background-position: 99.88109393579073% 67.53472222222223%; background-size: 606.6265060240963% 868%; background-image: url(ts_4_may_2025_s2_0.png);padding: 0; }
div.tg_eap_4_may_2025_s2154_a::after {max-width:166px; width:100%;height:0;padding: 0 0 45.18072289156626% 0;}
.tg_eap_4_may_2025_s2154_b {max-width:239px; max-height:100px; }
.tg_eap_4_may_2025_s2154_b::after {content: '\00a0';display: inline-block; width:239px; height:100px; background-position: 68.09895833333333% 14.519056261343012%; background-size: 421.3389121338912% 651%; background-image: url(ts_4_may_2025_s2_0.png);padding: 0; }
div.tg_eap_4_may_2025_s2154_b::after {max-width:239px; width:100%;height:0;padding: 0 0 41.84100418410042% 0;}
.tg_eap_4_may_2025_s2154_c {max-width:169px; max-height:68px; }
.tg_eap_4_may_2025_s2154_c::after {content: '\00a0';display: inline-block; width:169px; height:68px; background-position: 98.32935560859188% 79.7598627787307%; background-size: 595.8579881656805% 957.3529411764706%; background-image: url(ts_4_may_2025_s2_0.png);padding: 0; }
div.tg_eap_4_may_2025_s2154_c::after {max-width:169px; width:100%;height:0;padding: 0 0 40.23668639053255% 0;}
.tg_eap_4_may_2025_s2154_d {max-width:235px; max-height:94px; }
.tg_eap_4_may_2025_s2154_d::after {content: '\00a0';display: inline-block; width:235px; height:94px; background-position: 98.83419689119171% 14.362657091561939%; background-size: 428.51063829787233% 692.5531914893617%; background-image: url(ts_4_may_2025_s2_0.png);padding: 0; }
div.tg_eap_4_may_2025_s2154_d::after {max-width:235px; width:100%;height:0;padding: 0 0 40% 0;}
.tg_eap_4_may_2025_s2155 {max-width:256px; max-height:179px; }
.tg_eap_4_may_2025_s2155::after {content: '\00a0';display: inline-block; width:256px; height:179px; background-position: 35.41944074567244% 0.211864406779661%; background-size: 393.359375% 363.68715083798884%; background-image: url(ts_4_may_2025_s2_0.png);padding: 0; }
div.tg_eap_4_may_2025_s2155::after {max-width:256px; width:100%;height:0;padding: 0 0 69.921875% 0;}
.tg_eap_4_may_2025_s2156_a {max-width:205px; max-height:45px; }
.tg_eap_4_may_2025_s2156_a::after {content: '\00a0';display: inline-block; width:205px; height:45px; background-position: 79.05236907730674% 64.1914191419142%; background-size: 491.219512195122% 1446.6666666666667%; background-image: url(ts_4_may_2025_s2_0.png);padding: 0; }
div.tg_eap_4_may_2025_s2156_a::after {max-width:205px; width:100%;height:0;padding: 0 0 21.951219512195124% 0;}
.tg_eap_4_may_2025_s2156_b {max-width:208px; max-height:48px; }
.tg_eap_4_may_2025_s2156_b::after {content: '\00a0';display: inline-block; width:208px; height:48px; background-position: 27.284105131414268% 87.72802653399668%; background-size: 484.13461538461536% 1356.25%; background-image: url(ts_4_may_2025_s2_0.png);padding: 0; }
div.tg_eap_4_may_2025_s2156_b::after {max-width:208px; width:100%;height:0;padding: 0 0 23.076923076923077% 0;}
.tg_eap_4_may_2025_s2156_c {max-width:199px; max-height:53px; }
.tg_eap_4_may_2025_s2156_c::after {content: '\00a0';display: inline-block; width:199px; height:53px; background-position: 53.34158415841584% 85.61872909698997%; background-size: 506.03015075376885% 1228.301886792453%; background-image: url(ts_4_may_2025_s2_0.png);padding: 0; }
div.tg_eap_4_may_2025_s2156_c::after {max-width:199px; width:100%;height:0;padding: 0 0 26.633165829145728% 0;}
.tg_eap_4_may_2025_s2156_d {max-width:216px; max-height:67px; }
.tg_eap_4_may_2025_s2156_d::after {content: '\00a0';display: inline-block; width:216px; height:67px; background-position: 0.1264222503160556% 80.65068493150685%; background-size: 466.2037037037037% 971.6417910447761%; background-image: url(ts_4_may_2025_s2_0.png);padding: 0; }
div.tg_eap_4_may_2025_s2156_d::after {max-width:216px; width:100%;height:0;padding: 0 0 31.01851851851852% 0;}
.tg_eap_4_may_2025_s2158_a {max-width:180px; max-height:61px; }
.tg_eap_4_may_2025_s2158_a::after {content: '\00a0';display: inline-block; width:180px; height:61px; background-position: 77.50906892382103% 84.91525423728814%; background-size: 559.4444444444445% 1067.2131147540983%; background-image: url(ts_4_may_2025_s2_0.png);padding: 0; }
div.tg_eap_4_may_2025_s2158_a::after {max-width:180px; width:100%;height:0;padding: 0 0 33.888888888888886% 0;}
.tg_eap_4_may_2025_s2158_b {max-width:163px; max-height:60px; }
.tg_eap_4_may_2025_s2158_b::after {content: '\00a0';display: inline-block; width:163px; height:60px; background-position: 97.39336492890995% 90.35532994923858%; background-size: 617.7914110429448% 1085%; background-image: url(ts_4_may_2025_s2_0.png);padding: 0; }
div.tg_eap_4_may_2025_s2158_b::after {max-width:163px; width:100%;height:0;padding: 0 0 36.809815950920246% 0;}
.tg_eap_4_may_2025_s2158_c {max-width:163px; max-height:62px; }
.tg_eap_4_may_2025_s2158_c::after {content: '\00a0';display: inline-block; width:163px; height:62px; background-position: 99.0521327014218% 55.34804753820034%; background-size: 617.7914110429448% 1050%; background-image: url(ts_4_may_2025_s2_0.png);padding: 0; }
div.tg_eap_4_may_2025_s2158_c::after {max-width:163px; width:100%;height:0;padding: 0 0 38.03680981595092% 0;}
.tg_eap_4_may_2025_s2158_d {max-width:182px; max-height:65px; }
.tg_eap_4_may_2025_s2158_d::after {content: '\00a0';display: inline-block; width:182px; height:65px; background-position: 77.6969696969697% 74.2320819112628%; background-size: 553.2967032967033% 1001.5384615384615%; background-image: url(ts_4_may_2025_s2_0.png);padding: 0; }
div.tg_eap_4_may_2025_s2158_d::after {max-width:182px; width:100%;height:0;padding: 0 0 35.714285714285715% 0;}
.tg_eap_4_may_2025_s2159 {max-width:448px; max-height:78px; }
.tg_eap_4_may_2025_s2159::after {content: '\00a0';display: inline-block; width:448px; height:78px; background-position: 93.55992844364937% 0.17452006980802792%; background-size: 224.77678571428572% 834.6153846153846%; background-image: url(ts_4_may_2025_s2_0.png);padding: 0; }
div.tg_eap_4_may_2025_s2159::after {max-width:448px; width:100%;height:0;padding: 0 0 17.410714285714285% 0;}

@keyframes tg_eap_4_may_2025_s-frames {
    0% { background-position: 0.13458950201884254% 0.22573363431151242%;  }
    12.5% { background-position: 53.997539975399754% 55.3014553014553%;  }
    25% { background-position: 0.17543859649122806% 39.84819734345351%;  }
    37.5% { background-position: 0.16778523489932887% 56.30252100840336%;  }
    50% { background-position: 90.89026915113871% 31.922398589065256%;  }
    62.5% { background-position: 46.26168224299065% 98.97260273972603%;  }
    75% { background-position: 35.41944074567244% 0.211864406779661%;  }
    87.5% { background-position: 93.55992844364937% 0.17452006980802792%;  }
}

.tg_eap_4_may_2025_s-animation {
    max-width: 264px;
    max-height: 208px;
}
.tg_eap_4_may_2025_s-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 264px;
    height: 208px;
    padding: 0;
    background-image: url(ts_4_may_2025_s2_0.png);
    background-size: 381.43939393939394% 312.9807692307692%; 
    animation-name: tg_eap_4_may_2025_s-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.tg_eap_4_may_2025_s-animation::after {
    max-width: 264px;
    width: 100%;
    height: 0;
    padding: 0 0 78.78787878787878% 0;
}

/* $TexturePacker:SmartUpdate:5f065eb34df2356b838f0d2426376c24:beaafba79c4ab807993fd15bdf5457a8:42ce0d6fd9b74931383461522c131af8$ */
